[2018-11-30 12:11] Knaackee commented on #1926
Clearing my local storage fixed the issue.

[2018-11-30 12:11] #1926 closed

[2018-11-30 15:15] gcolson commented on #1872
thanks a lot @erquhart, it works juste fine like that.
I still think there is an issue as it worked well with that config before. Maybe the last update changed that.
Furthermore, the [doc](https://www.netlifycms.org/docs/add-to-your-site/) is not really clear about where to store the files : it's written to store it in "/" for jekyll generator. That's what lead me to store it at the root and use f

[2018-11-30 16:02] tomrutgers commented on #1872
The root is where you store your `admin` folder. It's common practice for almost all static site gens to have folders for your data and posts though, but it's good to know root doesn't work 👍

[2018-11-30 16:02] #1872 closed

[2018-11-30 17:26] jclusso opened #1927 "Dragging relations inside list swap places"
**Describe the bug**
When you drag a relation field inside a list the data from the one being dragged will replace the data in the one that moves up into its place.

**To Reproduce**
1. Create some folder collection items
2. Create a file collection with a list of relations
3. Reorder an item

**Expected behavior**
The item moving up should not be replaced with the data from the item that was prev

[2018-12-01 08:01] leonardodino commented on #1896
I've exposed something like it here: https://github.com/netlify/netlify-cms/pull/1928/commits/974fc3d7db211564993f810d8dee457aed0587bb as part of #1928.

It requests a file by `collection`+`slug`, so I figure it would do a single request to the backend, or am I missing something?

I cannot say it's thoroughly tested though.

[2018-12-01 16:34] Yttrium-tYcLief commented on #1298
This feature request would 100% cover what I want to do with my website, where I want anyone to be able to sign up and then edit content and submit it for review, but not be able to publish it themselves, sort of like how pull/merge requests work by default on Github/Gitlab respectively.

Currently I'm not using any external CMS, but just pointing them at the Gitlab edit button, which automaticall

[2018-12-01 16:44] devMoxie commented on #1678
@tech4him1

I disagree that it isn't actually causing any problems. These messages adds 140+ lines to the Netlify deploy log file which does make it more difficult to debug. Not a serious problem, but still...

[2018-12-03 20:59] rdebeasi opened #1929 "Pull request creation and link in editor UI"
**Is your feature request related to a problem? Please describe.**
We use editorial workflow to allow contributors to add new content. We use pull requests to review content and either request changes or merge the content. With the current UI, this workflow is tricky for a few reasons:
- There's no link between the CMS and the pull request that it generates.
- Contributors save a draft, not realiz

[2018-12-03 21:40] rdebeasi commented on #1453
I'm not sure if this is changed in 2.0 or if our editorial workflow configuration is different, but when I try to edit a file that someone else has already begun editing, I get this error message:

Anyway, thank you for logging this issue!

[2018-12-03 22:01] erquhart commented on #1298
@Destroy666x note, security is a big part of why we _haven't_ done this. It's a superficial barrier, as anyone that has the necessary write access to use the CMS will also have write access to merge PR's in the underlying service. We want to avoid a false sense of security.

That said, I'm still in favor of doing it, just know that it doesn't improve security at all.

[2018-12-03 22:03] erquhart commented on #1678
This is a small symptom of the issue that #1858 is meant to solve. We're almost there.

[2018-12-04 11:37] Destroy666x commented on #1298
@erquhart  Hmmm, right now you can setup Netlify to use a GH account that pushes changes from CMS.  I'm not sure I understand how that provides repository merge permission to other GH accounts, assuming users have publishing disabled.

[2018-12-04 13:04] erquhart commented on #1298
Git Gateway is the exception, true.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-04 14:57] erquhart commented on #1929
First let me say how helpful it is to have this kind of feedback from teams using this in production - thank you for the details.

It's clear that you're using both the CMS and GitHub's pull request UI to moderate content. Can you provide a brief step-by-step of how a piece of content goes from first draft to published with your current setup?

[2018-12-04 15:10] erquhart commented on #1453
@rdebeasi I can't reproduce that, can you open a new issue with steps to reproduce?

[2018-12-04 16:07] rdebeasi commented on #1929
Sure! We actually have a step-by-step [contribution guide](https://openpracticelibrary.com/contribution-guide/) for contributors. The short version is:

1. The contributor logs into Netlify CMS with a GitHub account. (Many of our contributors are new to GitHub.)
2. The contributor adds a new practice in the "practices" collection. A PR is created behind the scenes when the practice is saved.
3. If

[2018-12-04 18:35] erquhart commented on #53
Just realizing this is an additional use case that simply uses the space created by a Notes pane, keeping it separate and subsequent makes sense.

[2018-12-04 19:49] erquhart commented on #1929
The reason we're abstracting over the underlying PR is that, ideally, content editors shouldn't need to know or care about the Git side of things. Lack of robustness makes this challenging, though, when dealing with more demanding use cases like yours, but in the end, what you really want is less GitHub for your editors, not more.

If I'm understanding correctly, optimal support for your use case

[2018-12-04 20:00] erquhart commented on #1340
I don't believe there's any work on the content side of this, no. Open for contribution 👍

[2018-12-04 22:00] rdebeasi commented on #1453
Sure, will do!

[2018-12-04 22:35] tomrutgers commented on #1340
Happy to provide feedback to ideas etc @ademuro

[2018-12-04 22:36] rdebeasi commented on #1929
Yeah, I think you summed it up nicely. (#1617 would also be useful.) It would be great if contributors didn't need to context-switch and could do everything in either GitHub _or_ Netlify CMS.

That said, there's a surprisingly large amount of functionality in issues and PRs that would have to be abstracted away in Netlify CMS. If I were implementing these features, I would be worried that I might

[2018-12-04 23:54] KarthikBhaskara opened #1933 "Incorrect branch name with GitHub backend"
**Describe the bug**
According to the [docs](https://www.netlifycms.org/docs/configuration-options/#publish-mode), if my backend is Github, the branch name created from the CMS should be of the form `cms/collectionName-slug`, however, when I push from the CMS, the branch name is of the form `cms/slug`. This creates issues when I am modifying multiple pages of the same name from different directori

[2018-12-05 00:54] NickStees commented on #675
This tripped me up even with the updated documentation, basically just use single quotes around complex regex patterns you get from [regexr.com](https://regexr.com)

[2018-12-05 04:12] ksherman opened #1934 "[Cloudinary] Image URL in Editor preview broken with output_filename_only option"
**Describe the bug**
When using the Cloudinary Media Library integration, I want to use the `output_filename_only` option to take advantage of URL transformations. However, this option seems to break the rendering of the preview images.

**To Reproduce**
Switch Cloudinary image assets to `output_filename_only` and observer the broken image links in the editor.

**Expected behavior**
We would expec

[2018-12-05 13:17] erquhart commented on #1933
Curious whether it was ever using the collection name. We may need to start writing with the collection name but reading for both.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-05 16:54] ademuro commented on #1340
@tomrutgers yes, please! that would be great. i'll start by spending time getting to know the CMS better and then write up a draft to share with you and @verythorough (if she's interested). would that work? i appreciate any feedback and i look forward to working on this :)

[2018-12-05 16:55] tomrutgers commented on #1340
Sure! If you have questions about the CMS join us on [Gitter](https://gitter.im/netlify/NetlifyCMS)

[2018-12-05 19:37] rdebeasi commented on #1929
Cool, that sounds great to me. That would be much nicer than having a link to the GitHub PR.

Would you like me to close this issue and/or file new ones? Is there a label that I could use to keep track of editorial workflow issues?

[2018-12-06 04:50] j-brenneman opened #1937 "Delete Option Set to False for File Type Collection"
## Description
I have set `delete: false` on a collection of type `files`. When I navigate to the admin interface, I am still seeing and able to delete that collection instance.

## Reproduction
1. Set `delete:false` for a file type collection in the `config.yml`
2. Naviagte to that collection type in the Admin UI
3. Click `Delete Published Entry`
4. Confirm Deletion
5. Publish / Save (Editorial W

[2018-12-06 06:37] pungggi commented on #1340
I am at your disposal for any translation in german and italian..

[2018-12-06 09:39] Destroy666x commented on #1298
Yeah, and for making that type of workflow secure the only thing that's missing is this.

I might try working on a solution this weekend.

[2018-12-06 12:02] zivc commented on #1339
Any movement on this? Can't upload new images from mobile which is frustrating.

[2018-12-06 13:09] barthc commented on #1937
@j-brenneman the `delete` option should be set at the top level. Something like this:
[code]
 should work.

[2018-12-06 13:54] tomrutgers commented on #1937
Correct. The `delete` property is part of the collection configuration. You can't currently set a `delete` property per file.

[2018-12-06 13:54] #1937 closed

[2018-12-06 14:06] erquhart commented on #2
@jholmes033169 agreed on making better use of roles for Git Gateway.

It also looks like the [branch protection](https://developer.github.com/v3/repos/branches/#get-branch-protection) and [teams](https://developer.github.com/v3/teams/#list-user-teams) GitHub API's could be used to allow real roles in the GitHub backend as well. I'm thinking if a project uses editorial workflow and protects the CMS

[2018-12-06 14:58] rdebeasi commented on #53
Related: https://github.com/netlify/netlify-cms/issues/1850

[2018-12-06 15:02] Destroy666x commented on #2
Great news! I hope that all types of actions including differentation of collections and later media (https://github.com/netlify/netlify-cms/issues/1046 - e.g. per folder permissions) will be covered.

[2018-12-06 15:14] rdebeasi commented on #1085
On this week's community call, @erquhart demoed the new external media library feature using a local CMS config - I think it was called something like "dev-test." Is there documentation on this feature somewhere? If the feature exists but is't documented, I'd be happy to put together some docs.

[2018-12-06 15:23] tomrutgers commented on #1085
[code]

There is no documentation for it currently, but I think it would definitely be good to have some!

[2018-12-06 15:24] LoicMahieu commented on #1744
I found a similar bug:

![kapture 2018-12-06 at 16 20 17](https://user-images.githubusercontent.com/900947/49593226-55bff980-f973-11e8-9295-9c5bd6cf965b.gif)

The problem here is that `react-waypoint` has already been mounted once, and this instance is reused across collections.
`react-waypoint` trigger the `onEnter`, when initially visible, only at `mount`.

[2018-12-06 15:48] barthc commented on #1937
@erquhart  any reason why the delete button is not hidden for editorial workflow when the `delete` config option is set to `false`.

[2018-12-06 15:54] clarkd commented on #513
We have a deep nested structure of documentation articles, e.g.

* v3
** Performance
*** Article 1
*** Article 2
** Security
*** Article 3
* v3
** Article 4

I've read the above thread, but it looks like getting this working in Netlify CMS might be tricky? The folders are added to all the time so it would need to be dynamic. Any thoughts?

[2018-12-06 18:56] mittalyashu commented on #513
@erquhart If no one is working on this issue right now, maybe remove the claimed label.

[2018-12-06 20:09] 0x80 opened #1939 "Select widget doesn't render options"
**Describe the bug**
When using the select widget, I have tried specifying the options as a list of strings and as a key/value object. I can see that the options are passed as props to the `SelectContainer` component and its `Control` child, however the rendered dropdown is empty. The number of options in the dropdown matches the configured number of options, but the elements are blank. Selecting

[2018-12-06 20:19] 0x80 opened #1940 "Select widget doesn't respect "required" config option"
**Describe the bug**

Setting `required: false` in the configuration options of a select widget seems to have no effect. You will still get and error saying the value is required.

**Applicable Versions:**

 - Netlify CMS version: 2.3.0
 - Browser version chrome 70

**CMS configuration**

[code]

**Additional context**

[2018-12-06 21:08] barthc commented on #1940
@0x80  try something like so:
[code]

[2018-12-06 21:30] barthc commented on #1939
@0x80  try something like so:
[code]

[2018-12-07 00:10] #1939 closed

[2018-12-07 00:11] tomrutgers commented on #1940
Does the issue persist after updating to the correct syntax as described here https://github.com/netlify/netlify-cms/issues/1939#issuecomment-445036530?

[2018-12-07 00:54] 0x80 commented on #1939
@barthc I am not very experienced with YAML but according to my editor (VSCode) that is not valid.

It allows me to do this:

[code]

but that doesn't work either.

Like I said I also tried an array of strings like so:

[code]

That didn't render the select widget either. That's matching the example in the docs...

[2018-12-07 00:59] tomrutgers commented on #1939
@barthc's example is definitely valid YAML. I don't know what VSCode plugin you use but you can validate your YAML config here: http://www.yamllint.com/

[2018-12-07 00:59] 0x80 commented on #1939
Ah never mind! It is the enclosing curly brackets that make it not valid. Weird, since that syntax is accepted for the other widgets and renders ok there 🤷‍♂️

[2018-12-07 01:03] 0x80 commented on #1939
Hmm, I'm still not seeing the options rendered though. Using the suggested syntax. I'm going to have a look at it with a fresh mind tomorrow.

[2018-12-07 05:58] KarthikBhaskara commented on #1933
@erquhart @barthc I took a shot at this and put up a PR to fix this while maintaining backwards compatibility to avoid the necessity of a breaking change :point_right: https://github.com/netlify/netlify-cms/pull/1944.

Let me know what your thoughts are!

[2018-12-07 09:39] 0x80 commented on #1939
@tomrutgers Thanks for your help. It works fine after all.

I was changing the settings locally and running spinning a local instance, but the login in the admin always takes me to the deployed version. I hadn't committed the changes and so my settings were not effective 🙈

[2018-12-07 09:45] #1940 closed

[2018-12-07 11:00] selaux opened #1945 "[Gitlab] Svgs in media library are displayed as broken image"
**Describe the bug**

When uploading an svg using the gitlab backend, the media library displays a broken image for the svg.

**To Reproduce**
1. Setup a project using the gitlab backend
1. Go to media library
1. Upload an svg
1. Clear indexed db and reload the page (not sure if that is necessary)

**Expected behavior**

Media library shows a preview of the svg.

**Applicable Versions:**

 - Netli

[2018-12-07 15:59] selaux commented on #990
Correct me if I'm wrong, but as far as I can see only the media library uses the API, the editor uses `getAsset()`, which does not have any API involvement. It also does not recognize when the image has in fact already been loaded when visiting the media library.

[2018-12-07 16:39] 0x80 opened #1948 "Feature Request: Minimal default styles for preview pane"
Currently the preview pane is completely un-styled, and you are expected to add your own.

I think for starters and minimal use-cases, it would be useful to include some defaults styling. For example setting the fonts, paddings and margins to that of the rest of the interface, and making images responsive.

Not everyone is interested in providing custom styling but the un-styled defaults are unusa

[2018-12-07 19:51] lukeburns commented on #946
Also experiencing disappearing media images. Status? Where is help needed?

[2018-12-09 22:45] sam-scott opened #1952 "New pages won"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: [e.g. GitHub, BitBucket]
 - OS: [e.g. Windows 7]
 - Browser version [e.g. chrome 22, safari 11]

 - Node.JS version:

**CMS configuration**

**Additional context**

[2018-12-09 22:45] #1952 closed

[2018-12-10 00:44] vitorbarbosa19 commented on #1816
Here is what worked for me:

1. Inside Github go to 'Settings'
2. Click your org name under 'Organization Settings'
3. Click 'Third-party access'
4. Finally, click the button 'Remove restrictions'
![remove-restrictions](https://user-images.githubusercontent.com/13921392/49705176-8d2be180-fbd1-11e8-81be-ee67d6ab5bb4.png)

[2018-12-10 20:03] ademuro commented on #1340
Besides Netlify Identity, I'm wondering what other identity services CMS users might use to access the CMS? For this documentation there is a section on how to access the CMS, but I am not sure how we want to address it since I believe there are a lot of different ways to access it?

[2018-12-11 05:40] darbio opened #1954 "Error: You may not call store.getState() while the reducer is executing."
**Describe the bug**
When I attempt to open `admin` I get the following message:

**To Reproduce**
Append `admin` to url.

**Expected behavior**
Admin interface to show

**Applicable Versions:**

 - Netlify CMS version: 2.3.0
 - Git provider: GitHub
 - OS: OSX
 - Browser version Chrome

**CMS configuration**

**Additional context**
Quick start from netlify hugo started

[2018-12-11 15:18] erquhart commented on #1929
This can be kept open as it covers a specific use case on top of the underlying requirements. Looks like you found all of the related issues, you can add #1669 as well for using PR labels to indicate workflow participation.

[2018-12-11 15:20] erquhart commented on #1339
It's open for contribution, no one has taken it on yet.

[2018-12-11 15:32] erquhart commented on #1744
Sounds like we need a PR that repositions the waypoint so that it's remounted when a new collection is selected.

[2018-12-11 15:43] erquhart commented on #1937
@barthc no, sounds like a bug.

[2018-12-11 15:45] erquhart commented on #513
@mittalyashu good point, done 👍

[2018-12-11 15:52] #1945 closed

[2018-12-11 15:57] erquhart commented on #990
@selaux that sounds about right, our primary concern was loading a billion images in the library. We should be pulling via API everywhere, agreed.

[2018-12-11 16:18] erquhart commented on #946
Guessing you both have private repos? The tokenized url expires in that case, we don't have a way around it yet. Covered in https://github.com/netlify/netlify-cms/issues/787.

[2018-12-11 16:23] #1775 closed

[2018-12-11 16:30] tomrutgers commented on #1954
I cloned your repo and hosted it on Netlify but I can't reproduce this error.

[2018-12-11 16:37] erquhart commented on #1948
Yeah that's fair, agreed. @misterr8472 you can reach out in [Gitter](https://gitter.im/netlify/netlifycms) if you need help with custom previews. They're React components, but the current documented approaches don't use JSX, something we need to address.

[2018-12-11 16:38] tomrutgers commented on #1340
Apart from custom solutions, in terms of ways to log in there are two:
- With a user name / password (Only available with Netlify Identity)
- With external auth
  1 Github
  2 GitLab
  3 Bitbucket
  _4 Google OAuth (available as external provider when using Netlify Identity)_

[2018-12-11 16:54] erquhart commented on #1340
You said that so much better lol, thank you

[2018-12-11 17:45] ademuro commented on #1340
Thanks, Shawn and Tom! I'll post my draft in this comment thread today.

[2018-12-12 00:33] davidkazuhiro opened #1956 "Links in Changelogs are broken"
**Describe the bug**
Links in the Changelog are broken.

**To Reproduce**

Go to  [packages/netlify-cms-core/CHANGELOG.md](https://github.com/netlify/netlify-cms/blob/a892ab16a1a0178e08fde17cfc7607527b6f2cfa/packages/netlify-cms-core/CHANGELOG.md)

[code]

Generates

**Expected behavior**
It should be

[code]

which generates

**Note**
Originally submitted PR to the CHANGELOG in #1942 without real

[2018-12-12 09:59] barthc commented on #1352
@erquhart  doesn't the `identifier_field` config option address this issue?

[2018-12-12 10:02] tomrutgers commented on #1352
@barthc yes it does.
@zebapy you can use `identifier_field: fieldname` to use another field than title.

[2018-12-12 10:02] #1352 closed

[2018-12-12 10:41] barthc commented on #1274
I don't think it's possible any more to create a post without an identifier field or with empty identifier field value, as this error
` Failed to persist entry: Error: Collection must have a field name that is a valid entry identifier, or must have 'identifier_field' set`
popups up.

[2018-12-12 11:01] barthc commented on #1117
@erquhart  ping!!!

[2018-12-12 11:03] barthc commented on #1297
@erquhart this issue already fixed in #1826

[2018-12-12 11:20] barthc commented on #1132
@tomrutgers issue still valid?

[2018-12-12 11:41] tomrutgers commented on #1132
Closing. Thanks @barthc!

[2018-12-12 11:41] #1132 closed

[2018-12-12 11:46] tomrutgers commented on #1274
Just tested this and you are correct @barthc. That error only shows up in the console, so there's not a hell of a lot of feedback as to what's happening but the post isn't published anymore.

[2018-12-12 11:46] #1274 closed

[2018-12-12 15:02] verythorough commented on #1340
Regarding #2, yoursite.com/admin/ is by far the most common route for logging in, but it's not guaranteed.

The degree of possible variability in the login process makes documenting it difficult. It's impossible to document every conceivable possibility, so I see two alternatives:

1. Tell the user to contact their "site administrator" for login instructions. This will likely be part of the proces

[2018-12-12 16:19] tomrutgers commented on #1340
To be honest, the users that need guides like these probably won't sign in using GitLab anyway. Netlify Identity + Git Gateway (username + password) is the most common practice if I have to take a guess.

[2018-12-12 19:57] jballe commented on #1668
Agree on this one, we would like to have a staging site with Netlify on GitLab pages while the final public site will be on its own domain.

My take so far is that I have replaced ``ImagePreview`` with my own implementation that changes the url. This works for preview but I would like to also change the url for the image selector control itself and for images in markdown. A general public absolute

[2018-12-12 20:22] jballe commented on #372
I like the idea of a preview button and I think we could get ok far by just specifying a preview url on the collection configuration. If we could have the branch name of the workflow as a replacement token I think we can configure it to match most deployment workflows.

[2018-12-12 23:04] talves commented on #1013
I think https://github.com/kentcdodds/react-testing-library might be worth a look.

I really liked how this looks: https://codesandbox.io/s/github/kentcdodds/react-testing-library-examples

[2018-12-12 23:32] tomrutgers commented on #1013
@talves react-testing-library is being used already ^^
([source](https://github.com/netlify/netlify-cms/pull/1936#issuecomment-446283699))

[2018-12-12 23:40] talves commented on #1013
ok, there we go! 😜

[2018-12-13 03:20] indysigner commented on #372
Yes please, it still is a feature that would make the CMS much more accessible to a wider audience, and to non-technical content editors in particular. Not every editor uses GIthub nor can it be expected, and going through Github still is only way of getting a deploy preview link. 🙏

[2018-12-13 13:44] misterr8472 commented on #1948
Thanks, appreciate it. Re-reading my comment I realise it sounds more harsh than I intended. Perhaps my lack of knowledge in React is contributing here also. I'm comfortable in HTML, CSS and JS and I find the Netlify CMS to be an amazing solution for static sites.
Perhaps what's needed is a really, really basic setup guide to just get two or three custom previews working with minimal complexity an

[2018-12-13 13:46] jballe commented on #1668
Maybe this will actually be solved by https://github.com/netlify/netlify-cms/issues/990

[2018-12-13 18:23] Quicksaver opened #1959 "App classes"
From v1 to v2, I noticed classnames in the app interface have been uglified, likely because of the move from an external sheet to in-js styles.

We add extra functionalities and tweaks to make the CMS better fit our use-cases, but these rely heavily on CSS selectors. So things like `document.querySelectorAll('.nc-collectionPage-sidebarLink')` will no longer work, because that class is now generate

[2018-12-13 19:36] lunaceee commented on #1013
This looks great! @Benaiah One lil note regarding Snapshot testing, we do try to avoid doing it in the app as it seems to be mostly implementation details.

[2018-12-13 20:11] erquhart commented on #1013
Agreed, `react-testing-library` can help us avoid that. A couple of updates:

I've had some success with docz as a simpler alternative to Storybook with a lot of powerful, batteries included functionality, such as their playground component for live editing components. Storybook would allow us to test stories, but conflating testing and docs in this manner can lead to really ungainly documentation

[2018-12-14 10:48] itaditya opened #1960 "Changing site name before accepting invite doesn't trigger new mail"
**Describe the bug**
When I change the site name, my deploy url is different but the mail for accepting the invite has the old url only.

**To Reproduce**

**Expected behavior**
Redirected to the admin page with the updated site url.

**Screenshots**
![image](https://user-images.githubusercontent.com/15871340/49998679-eb363b80-ffba-11e8-8d0b-9543d28cc375.png)

**Applicable Versions:**

 - Netlify

[2018-12-14 14:54] itaditya commented on #1960
@tomrutgers if you could transfer the issue with the new GitHub feature then it would be a great time saver.

[2018-12-14 16:51] tech4him1 commented on #1274
@tomrutgers Do we have another issue covering actual support of posts without titles, or should we reopen/expand this issue to include full support?

[2018-12-14 17:12] tomrutgers commented on #1960
I don’t have repo access to that one unfortunately

[2018-12-14 17:56] tomrutgers commented on #1274
@tech4him1 There was this one, https://github.com/netlify/netlify-cms/issues/1700 but it got closed by https://github.com/netlify/netlify-cms/pull/1543. We could reopen/expand but then again this issue hasn't been very active anyway.. Thoughts?

[2018-12-15 02:14] ciokan commented on #513
How about writing the slug directly to the frontmatter and creating the url's based on that. This gives us full control over the final url.

I just started importing a Wordpress blog which has the following structure: `year/month/day/slug/`. If I read this right, it is impossible to get this type of path type url with Netlify CMS. I tried with `{{year}}/{{month}}/{{day}}/{{slug}}/` but the slashes

[2018-12-15 10:26] joerneu opened #1962 "Rich Editor removes table column alignment"
**Describe the bug**

As soon as I edit anything in the Rich Editor any table column alignment is removed.

**To Reproduce**

Go to

[CMS Demo](https://cms-demo.netlify.com/)

Switch to Markdown and enter:

[code]

Switch to Rich Editor:

=> Preview is correct.

- Type anything, anywhere, even outside of the table

=> Preview changes and all table cells are left-aligned.

Switch to Markdown:

Tabl

[2018-12-16 10:55] sw-yx commented on #1776
inserting ok-mdx is an option https://github.com/jxnblk/ok-mdx

[2018-12-16 16:17] talves commented on #1776
@sw-yx is the only issue we have so far is to fix the preview (right pane)? or do you want full support from the editor also?

[2018-12-16 17:09] sw-yx commented on #1776
yup, preview is fine.basically a dev.to workflow would be seamless to add this. but also there’s probably config stuff we need to work out.

[2018-12-17 18:37] erquhart commented on #1956
Thanks @davidkazuhiro! We'll see if anyone is up for digging in.

[2018-12-17 18:38] erquhart commented on #1352
Good catch guys 👍

[2018-12-17 18:46] erquhart commented on #1117
@barthc sorry about that, yes!

[2018-12-17 18:46] #1117 closed

[2018-12-17 19:06] sondrele commented on #1744
@erquhart  I'm experiencing the same issue.

I tried [passing a child to the Waypoint component](https://github.com/brigade/react-waypoint#children), and this change triggered the collection to re-fetch entries like the first time it's opened.
Could we utilize this to show e.g. a loading indicator in the Waypoint component? I'm not sure whether that's considered a hack or not, but it seams to be a

[2018-12-17 19:27] #1297 closed, assigned to nobody

[2018-12-17 19:36] barthc commented on #1297
@erquhart thank you so much. I already accepted the invite :+1:

[2018-12-17 21:10] erquhart commented on #1948
Sounds great! Didn't think your comment was harsh at all, and agreed that React is probably the disconnect. Check out the [React tutorial](https://reactjs.org/tutorial/tutorial.html) to get a basic feel. Again, happy to help in [Gitter](https://gitter.im/netlify/netlifycms)!

[2018-12-17 21:11] erquhart commented on #1668
That will help with image handling in the CMS, but image path output will still be prepended with `public_folder`, which will still be absolute.

[2018-12-17 21:15] erquhart commented on #1959
Sorry to hear this @Quicksaver - really can't wait until we get to an extensible CMS UI, it's just a bunch of React components after all.

Responses:
1. The few kbs I guess. If we can ensure it doesn't increase bundle size much it'd be worth not uglifying the classes.
2. Sure, you could just build it yourself, but again, open to just doing it here.
3. Brings me to the real point, we can't promise

[2018-12-17 21:20] erquhart commented on #1962
This is a symptom of the CMS not technically supporting tables yet. General issue here: https://github.com/netlify/netlify-cms/issues/961

Leaving this open for now.

[2018-12-17 21:33] talves commented on #1776
I dug into it this weekend and rendering MDX during runtime for the preview is going to be a big ask.

[2018-12-17 21:33] erquhart commented on #1744
Not sure why it's completely refetching when you pass Waypoint a child, but we shouldn't need to do that. I'd expect to render a new Waypoint when we render a collection, whether the collection was previously navigated to or not. Superfluous fetching should be avoided at a higher level - and I don't see any in the gif above, it only shows fresh fetching (with the loading indicator) when a collecti

[2018-12-17 21:40] erquhart commented on #1776
I expect it will look like this:

- pluck out import/exports before parsing the file, and prepare references to the imported/exported components
- add serialization logic to Remark for recognizing MDX imported React components
- I think that's all

From there, the markdown-turned-html and React components can all be static rendered via `react-dom` and live updated with any changes. The question is

[2018-12-18 10:21] joerneu commented on #1962
Ok, I understand.

A table widget as described in [#961](https://github.com/netlify/netlify-cms/issues/961) would be the "perfect" solution.

If the current version of Netlifly CMS could preserve the text alignment of a table column, I could wait for the perfect solution. As it is, unfortunately, I cannot use it at all.

Currently, the Rich Editor handles tables nicely. They are displayed for edit

[2018-12-18 10:30] sondrele commented on #1744
when navigating back to a collection that was previously loaded.

Maybe I'm mistaken, but this is what I see in the gif above:
1. Reload page
2. Select the `Pages` collection
3. Go back to the `Translations` collection
4. Observe that all previously fetched translations are visible for ~0.5s before they get re-fetched (and then we encounter the bug reported in this issue).

[2018-12-18 19:10] lukeburns commented on #941
Experiencing this as well. What's the current status?

[2018-12-18 21:05] rdebeasi opened #1963 "Don't prepend a hyphen when a title starts with a double quote"
**Describe the bug**

When a title begins with a double quote character, a hyphen is added to the beginning of the resulting slug and filename. For example, `title: '"Quote" Wall'` produces a file called `-quote-wall.md` and a branch called `cms/-quote-wall`.

See https://github.com/openpracticelibrary/openpracticelibrary/pull/569/commits/752fae1d4346e492cdc68ca62a9699d98e656b48 for an example.

P

[2018-12-19 00:08] barthc commented on #1744
@LoicMahieu  we now have a PR to fix your related issue.

@erquhart I believe this issue is still related to unnecessary `loadEntries` calls,  which replaces the already loaded paginated id entries. Here is another gif that duplicates the issue.

![anim](https://user-images.githubusercontent.com/8580864/50189624-5ae35800-0326-11e9-930e-2a574fd87a55.gif)

Notice after hitting the editor screen and

[2018-12-19 15:01] papandreou commented on #1407
Managed to hack around this by creating a custom `uuid` widget:

[code]

[2018-12-19 18:32] erquhart commented on #1962
The issue is that our editor is mostly adherent to commonmark, whereas table alignment is a GFM (GitHub flavored markdown) thing. We don't currently have options for configuring that, but it's worth looking into.

[2018-12-19 20:30] erquhart commented on #1744
Merged both, will release soon.

[2018-12-19 20:31] erquhart commented on #1407
Makes sense - a dedicated id widget might be a good idea to include with the cms, too.

[2018-12-19 20:32] erquhart commented on #941
We're open to someone contributing toward this for sure - no movement as of yet.

[2018-12-20 13:11] Undistraction opened #1966 "Login Fails With Self-hosted Gitlab instance"
**Describe the bug**
Logging in to a self-hosted Gitlab instance results in an error popup with the message:

![caps](https://user-images.githubusercontent.com/161489/50286559-ac3f3480-0457-11e9-9896-da663fdaa15f.jpeg)

This is despite the configuration using Gitlab as the backend.

**To Reproduce**

1. Deploy application that uses Github self-hosted backend with the config below

2. Navigate to `

[2018-12-20 15:02] tomrutgers commented on #1966
Related to https://github.com/netlify/netlify-cms/issues/1824?

[2018-12-21 03:00] erquhart commented on #1407
Lol exactly, I still haven't thought of another one

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-21 11:20] Undistraction commented on #1966
@tomrutgers Sorry. This was due to a default behaviour of Gatsby's Netlify CMS plugin. It was overriding my config and forcing auth via Netlify.

[2018-12-21 11:20] #1966 closed

[2018-12-21 11:34] tomrutgers commented on #1966
Glad you figured it out 👍

[2018-12-21 13:09] erquhart commented on #1966
@Undistraction that definitely shouldn't be the case, the plugin doesn't make config changes - how did you address the issue?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-21 14:30] Undistraction commented on #1966
As an addendum, we also found that if a user didn't have 'Developer' level access to the repo, login failed with an empty (yellow) dialogue box.

[2018-12-21 17:28] kishaningithub opened #1967 "Securing cloudinary credentials"
To integrate cloudinary, the [official documentation here](https://www.netlifycms.org/docs/cloudinary/#connecting-cloudinary-to-netlify-cms) asks one to put in `api_key` and `cloud_name` inside `config.yml`.

Aren't these secure parameters? IMHO these 2 values should probably come into the application via environment variables and should never be checked in inside the `config.yml` file.

What are

[2018-12-22 11:53] ronv opened #1969 "Creating new post or page doesnt works"
**Describe the bug**
When I create new post or page I get error `TypeError: e.indexOf is not a function`

**To Reproduce**
1. Log into admin
2. Click on New post or page
3. See error `TypeError: e.indexOf is not a function`

**Expected behavior**
Create new post

**Screenshots**
https://imgur.com/U7jYo4t

**Applicable Versions:**
 - Netlify CMS version: netlify-cms 2.3.1
 - Git provider: GitHub
 -

[2018-12-22 13:02] tomrutgers commented on #1969
The problem lies here:
[code]
True is not a valid default value. From the docs:

Also: You have two lists that do not have `fields` or `field`  defined. It's not causing any errors, but do note these lists are not working. Your tags for instance should look something like this:

[code]

Let me know if this fixes your problem! I tested your config with the suggested changes and it seems to work.

[2018-12-22 13:19] Undistraction opened #1970 "Use Preview Versions Of Images For Media Library"
**Is your feature request related to a problem? Please describe.**
Currently the default media library uses the full sized uploaded images in its previews. We have a large number of large (2600px wide) images, and once there are more than 20 or so in the library, it becomes sluggish and unresponsive. So even though each image is only displayed at 276px wide, the image is actually the original - ne

[2018-12-22 14:48] ronv commented on #1969
@tomrutgers Thanks a lot for help! This fixed issue when creating new post/page shows error! But I didn't understood about tags, because like this everything works ok:
`- {label: "Tags", name: "tags", widget: "list", allow_add: true, required: true}`

Br, Ron

[2018-12-22 15:41] tomrutgers commented on #1969
I made a fork with both examples so you can see the difference: https://codepen.io/tomrutgers/pen/dwvxqm

Closing this since your error is resolved. If you have any questions or things you don't understand feel free to drop by on [Gitter](https://gitter.im/netlify/NetlifyCMS)

[2018-12-22 15:41] #1969 closed

[2018-12-22 22:05] auchau commented on #1181
+1

[2018-12-23 13:57] Undistraction commented on #1407
@erquhart Would it be worth thinking about this from a different perspective? Could you add a 'uid' field that supported interpolation in the same way that 'slug' does. They are very similar - both are used once on creation. If this was supported you could do:
[code]

[2018-12-23 19:17] erquhart commented on #1407
The issue there is consistency and avoiding privileged entities. Frontmatter values are currently always generated by a widget, how do you see your solution working within that context?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-24 09:41] Undistraction commented on #1407
I suppose it depends on how you look at the `uuid` field. It is a field that should never change after creation, so the idea that it needs a widget doesn't really make sense because it's very reason for being is that it should never be edited, and the creation of uuids is pretty standard, so I see no  problem with Netlify CMS handling the creation.

I can see your concerns about this field having

[2018-12-24 14:13] Undistraction commented on #1407
That sounds like a good solution to me.

I guess the other thing to consider is whether *all* items that are created should have a uuid field: is this something that should happen by default? This would definitely be a great help when the need for a relation emerges later on.

[2018-12-24 20:36] barthc commented on #1937
@erquhart nope, I still see the `Delete publish entry` button. Already have a PR in place to address the issue.

[2018-12-25 02:15] kishaningithub commented on #1934
One additional point here, is i can organize images into folders in cloudinary at which point the output filename should be `<folder name>/<file name>` instead of just `filename`

[2018-12-25 07:38] Maxim-Filimonov opened #1972 "Bringing back HMR?"
**Is your feature request related to a problem? Please describe.**
I would like to see component changes without refreshing the page. Even so web pack supports hot reloader for react with the help of react-hot-loader it seemed to be constantly getting removed.
I found 3 PR's of adding react hot loader, this is the [latest one](https://github.com/netlify/netlify-cms/pull/1583/files)

**Describe the

[2018-12-25 08:00] levibuzolic commented on #1967
`cloud_name` is definitely not considered secret and `api_key` is generally somewhat safe to be exposed, given your Cloudinary permissions are set up to disallow unsigned uploads.

Previously I've used Netlify functions + Netlify identity to generate authentication signatures for Cloudinary to allow uploads to my users without them requiring Cloudinary credentials.

[2018-12-26 05:19] asimqt opened #1973 "Any plans for Google AMP support?"
Are we planning to support google AMP pages? I will be a good feature addition. Like whenever we publish a new post, we could generate the AMP version also?

[2018-12-26 05:22] asimqt opened #1974 "How can I search for different post?"
How can we implement search functionality in the front end for users to search for different stories? Can we use GitHub (or other services) search feature and work on it for our needs?

[2018-12-26 07:32] Herohtar commented on #1973
I would think this would be the responsibility of whatever frontend you're using to generate your site. NetlifyCMS is just a content manager and isn't involved in how your site is presented.

[2018-12-26 07:35] Herohtar commented on #1974
A good question, but again, probably one you should be asking somewhere else, as frontend stuff isn't part of what NetlifyCMS is responsible for.

[2018-12-26 08:11] asimqt commented on #1973
You mean, the generator I'm using (like Hugo) should generate the AMP pages? Like the https://github.com/netlify-templates/one-click-hugo-cms&stack=cms  should create the AMP page?

[2018-12-26 08:12] asimqt commented on #1974
Is it entirely front end? We need some kind of API or pages for getting different results, right?

[2018-12-26 08:32] Herohtar commented on #1974
NetlifyCMS essentially just generates collections of text files in various formats (json, yaml, toml, etc) and it is up to you to implement something to work with it, whether that be displaying it, searching it, or something else. There might even already be something out there that does that.

[2018-12-26 14:48] erquhart commented on #1974
Folks typically use Algolia: https://www.algolia.com/

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-26 19:41] buz-zard commented on #1776
I'm building an MDX based CMS at work, tried a few things and as @erquhart mentioned one of the main issues for me was the imports.
I made a small [wrapper `mdx-scoped-runtime`](https://github.com/buz-zard/gatsby-mdx/tree/master/packages/mdx-scoped-runtime) around `@mdx-js/runtime` package that strips down the imports and layout export syntax using babel standalone. The gotcha is that you have to

[2018-12-27 04:45] #1963 closed

[2018-12-27 13:43] Undistraction opened #1975 "Implement Placeholders for Widget Defaults and add UUID Placeholder"
**Is your feature request related to a problem? Please describe.**
This is an issue to flesh out the discussion in #1407. It aims to describe how the discussed solution would be implemented. The goals are:

1. Generalise the use of placeholders so that they can be used in places other than in the `slug` field.
2. Add a uuid placeholder.
3. Enable the use of placeholders within widgets' `default` f

[2018-12-27 17:02] anderskitson commented on #1709
Same issue windows 10, firefox

[2018-12-27 20:26] 101hawn opened #1976 "Safari 11 fails with Github API"
**Describe the bug**
Github API fails on Safari. This is due to the fetch api failing to resend the authorization header after a redirect.

**To Reproduce**
Try to sign in with Github api on Safari with a private repository

**Expected behavior**
Sign in proceeds as usual

**Actual behavior**
Github API for /repo/:repo: returns a redirect which then returns a 404 due to Safari failing add `authori

[2018-12-27 23:38] 101hawn commented on #1976
#1977 Is my proposed solution as it is the simplest but prehaps something else like manually handling redirects {redirect: manual} would be less of a hack

[2018-12-27 23:38] 101hawn commented on #1976
https://medium.com/@mrjack/safari-the-fetch-api-and-30x-redirects-23c5610370ca

[2018-12-28 01:00] Undistraction opened #1978 "Support displayFormat in Date Widget"
**Is your feature request related to a problem? Please describe.**
Currently a date widget field allows the value to be formatted, however it doesn't offer a way to store a full date string and format only _how the date is displayed_ in the CMS. This means you are left with only two options:

1. Format the date so that it is useful to users of the CMS, but get left with a potentially useless date

[2018-12-28 10:15] Undistraction commented on #1322
Would be great to have validations for:
- Filesize
- Extension
- Width
- Height
- Aspect ratio (this would need to be a little bit fuzzy to deal with pixel-rounding).

[2018-12-29 09:14] jeremyprioux opened #1979 "accept_roles configuration seems to be defined at git-gateway level"
Hello,

### Observations
I am using two different branches with different `config.yml` configuration. Each branch have a specific `accept_roles` value.
All of theses branches are related to a netlify site, with one subdomain per branches.
My architecture is fully based on Netlify (deployment, Git-Gateway, Identity) + Github.

- When I setup a role on Git-Gateway level (Netlify site level configura

[2018-12-29 15:16] tech4him1 commented on #1709
See https://github.com/ianstormtaylor/slate/pull/2178.

[2018-12-29 17:13] xxyyzz2050 opened #1980 "FATAL Cannot read property 'r' of undefined"
FATAL  Cannot read property 'r' of undefined

  at ModuleContainer.NetlifyCmsModule (node_modules\nuxt-netlify-cms\dist\module.js:294:33)
  at Promise (node_modules\@nuxt\core\dist\core.js:172:30)
  at new Promise (<anonymous>)
  at ModuleContainer.addModule (node_modules\@nuxt\core\dist\core.js:170:12)
  at promise.then (node_modules\@nuxt\common\dist\common.js:1321:43)
  at process._tickCallback

[2018-12-29 17:14] xxyyzz2050 opened #1981 "Error: Cannot find module 'extract-text-webpack-plugin'"

[2018-12-30 18:10] arturogh commented on #1472
Really sorry...I still want to work on this but life got crazy. I'd like to help with design and front end possibly at some point.

[2018-12-31 13:02] GitToby commented on #1709
same issue with win10 firefox, also with the title edit section too

[2018-12-31 17:36] Undistraction opened #1982 "Relation Widget Displays Value Instead of DisplayValue on Selection"
**Describe the bug**
When both a `displayFields` and `valueFields` are supplied to a `relations` widget, the widget shows the correct values in the autosuggest, but as soon as a value is selected, displays  the `valueField` value.

**To Reproduce**
Configure a `tip` collection:
[code]

Configure a relation widget with the following:

[code]

When typing text into the widget, the `name` field of th

[2018-12-31 20:57] Undistraction commented on #1407
An additional consideration. Because of how a `hidden` widget [is treated](https://github.com/netlify/netlify-cms/blob/1fbe5b5957bde3f48000bbef31176637501afdf8/packages/netlify-cms-core/src/components/Editor/EditorControlPane/EditorControlPane.js#L55) it doesn't seem to be possible to use a widget to set a default value, but not show that value within the CMS. For any widget other than 'hidden', a

[2018-12-31 21:01] Undistraction commented on #1982
@papandreou Thanks. I misread that documentation, but this definitely _feels_ like a bug. It makes no sense to me that the value you have selected should be replaced by a completely unrelated value. Could be add another param to control the rendering of the selected value in the same way you can format the display of a date, but still save the raw date to the field?

[2018-12-31 23:19] sddaniels commented on #372
This little guy is pretty much a dealbreaker in my experience. I can't imagine handing this off to stakeholders without giving them any easy way to see what things are going to look like. Preview buttons get used all the time by content editors.

I'd be happy to help with this if I can get some guidance on what folks have decided is the best way to accomplish this.

[2018-12-31 23:29] Undistraction opened #1983 "Automatically Select Newly Uploaded Image In Media Library"
**Is your feature request related to a problem? Please describe.**
Currently when a new file is uploaded it is not selected.

**Describe the solution you'd like**
On most occasions, the newly uploaded file will be the one being added, so it should be selected automatically. Even if it isn't being added, selecting it will do no harm.

**Describe alternatives you've considered**
The only alternative

[2018-12-31 23:33] Undistraction opened #1984 "PDFs Have No Thumbnail Or Icon In Media Gallery"
**Describe the bug**
When a `.pdf` file is uploaded to the Media Gallery, it's preview card is blank. No thumbnail is generated for it.  Note that this remains true after a page refresh. Thumbnails are generated for images.

**To Reproduce**

**Expected behavior**
Either a Thumbnail, or a PDF icon is displayed on the file's preview card.

**Observations**
- This is a different issue to #1985 as no

[2019-01-01 00:23] Undistraction opened #1985 "Media Gallery Thumbnail For Image Missing Until Refresh (Gitlab Self-hosted Repo)"
**Describe the bug**
When a new image is uploaded to the Media Gallery, no image is displayed for it until the page is refreshed.

**To Reproduce**
1. Upload an image to the media gallery (`.png` or `.jpg`)

**Expected behavior**
An image appears as a preview for the image file.

**Observations**
- No error in console
- Element html doesn't contain an `<img>` element:
[code]
- If image is added it

[2019-01-01 15:12] wyhaines opened #1986 "Disappearing Page labels"
**Describe the bug**

Using version 2.3.2 of Netlify CMS, with a collection of Pages setup as a File collection, in either the list or the grid view, if one clicks into the edit page, and then, regardless of whether content is edited or not, goes back to the top level dashboard view, the label for the item that one clicked into will be blank. One has to reload the page to see the labels again.

**

[2019-01-02 21:42] claygiffin opened #1988 "Allow optional fields to default to an empty string"
**Is your feature request related to a problem? Please describe.**
Currently, when a new post is created with optional fields, and those fields are left blank, the outputted .md file will omit those fields instead of returning an empty/null value. This can cause a problem when using GraphQL, which will fail to build when an undefined value is returned. However, it would function just fine with an

[2019-01-02 21:45] talves commented on #1988
The big decision is to determine if we make this behavior the same for required: true | false

[2019-01-02 21:51] papandreou commented on #1988
Likely related to https://github.com/netlify/netlify-cms/issues/1449

If you edit the field with a default value of `''`, then click publish, I'm fairly sure it does come out as `''`?

[2019-01-02 21:54] talves commented on #1988
@papandreou related, but there is enough difference that I believe we should keep them separate.

[2019-01-02 21:59] tomrutgers commented on #1988
I'd prefer to make this functionality available only if a field has `required: false`. Imho ` required: true` should always prevent the post from being published

[2019-01-03 12:54] Undistraction opened #1989 "Allow Field Other Than 'title' To Be Used For Labelling Entries"
**Is your feature request related to a problem? Please describe.**
Currently entries (the list of Collection items) are labelled using that item's `title` field. However, this is often confusing. For example, a page might be the 'About' page, but have a title of 'There Are A Few Things You Should Know About Us'. Obviously everyone would still consider this to be the 'About' page and that would be

[2019-01-03 13:07] daveharrisonnet commented on #1513
DId this ever get resolved or do we have to use github over bitbucket?

[2019-01-03 15:14] papandreou opened #1990 "List widget: Ability to avoid empty entries"
(First off, I'm not sure if this is a duplicate of #467 or whether it will be addressed by the efforts to solve that. Feel free to just close it if that's the case -- would make me happy 😄)

**Is your feature request related to a problem? Please describe.**

When you have a `list` widget, it appears there's no way to validate that list entries aren't left blank. That means that if the user clicks

[2019-01-04 09:58] ashokballolli opened #1991 "bitbucket as backend- option not displaying in Netlify"
**Describe the bug**

Read that netlify supports the bitbucket to use as a backend for storing the content.
But that option is not enabled in netlify.

**To Reproduce**
Steps to reproduce the behavior.

Login to Netlify --> Go to the settings --> Click on Identity --> Go to Services section

**Expected behavior**
There should be an option to select the bitbucket repository

**Screenshots**
![image

[2019-01-04 11:01] #1991 closed

[2019-01-04 13:32] danlutz commented on #1934
Awesome work on the Cloudinary integration!

I think what is needed here, is that the CMS integrates the "cloudinary-react" package from npm, gets the cloudname from the config.yml, and then displays the React component like this:

[code]

I'll take a look and see if I can make a PR, but don't expect too much

[2019-01-04 14:01] danlutz commented on #1934
Also, if you want to inline an image inside the "body", it only passes the filename to the "src" attribute.

It tried digging through the source code, but unfortunatly I could not find the correct place to code this additional logic. Looking forward to someone that is more skilled than me 💻

[2019-01-04 17:41] talves commented on #1988
@barthc ran it against 2.3.2, but I swore it did not work the other day. Worked!

I was testing so many things. It was my first suggestion and I wonder if I just took his word that it was not working without testing my own case. 😜

[2019-01-04 17:45] talves commented on #1988
@claygiffin can you test the case again? Also, Remember that all the existing posts need to have it existing as the default.  This will not add it to an existing document if it is missing.

[2019-01-04 19:04] claygiffin commented on #1988
@talves I am running on 2.3.2, and it isn't working for me still.

However, I am also using it within the **list** module, which could possibly be part of the problem. It looks like it actually is working for me for fields outside the list module.

[2019-01-04 19:06] papandreou commented on #1988
Ah, then it might actually be https://github.com/netlify/netlify-cms/issues/467

[2019-01-04 19:33] webmasterkai commented on #445
Are we abstracting too much by calling it a `slug` instead of a `filename` or `id`? I think it is important the file name be thought of more as the resource identifier (`id`) for the item, not necessarily the `slug` value that will be used on a possible website. The primary focus of a CMS is about editing and managing _content_ more than it is about creating a specific website.

In the old days of

[2019-01-04 20:09] barthc commented on #1988
@claygiffin  It still works for me for fields inside list widget. Could you paste the content of your config file?

[2019-01-04 21:00] TatisLois commented on #1424
@erquhart/ @papandreou  is this issue still valid? It's open but it looks like a fix was merged for widgets. Just looking for an issue to help out with :)

[2019-01-04 21:16] papandreou commented on #1424
@TatisLois, I can still reproduce it with netlify-cms@2.3.2. Which fix is that?

[2019-01-04 21:22] claygiffin commented on #1988
@barthc @talves You know what, I just realized I was using double quotes instead of single quotes for the default field. Now it works, case closed! Thanks for your help.

[2019-01-04 21:22] tomrutgers commented on #1424
Same here! @papandreou https://github.com/netlify/netlify-cms/pull/1662

[2019-01-04 21:23] tomrutgers commented on #1988
That's weird. Double quotes should work just as well right?

[2019-01-04 21:23] #1988 closed

[2019-01-04 21:30] papandreou commented on #1424
#1662 was never merged, that's probably why it didn't have an effect :laughing:

[2019-01-05 00:45] wyhaines opened #1992 "Fields not editable with an html extension in a file collection"
**Describe the bug**

With a file collection, with an `html` extension, fields in the front matter aren't editable. Changing nothing other than the file extension, from `html` to `md`, makes everything work as expected.

**To Reproduce**

[code]

The `title` field will not appear when one tries to edit this content.

Change the file to have a `.md` ending, though, with corresponding changes in the

[2019-01-05 14:15] hunhejj commented on #1474
I have the same issue with GitHub backend.
[code]

I can access the content manager just normal when running on localhost, but not when accessing through github with baseurl (e.g. username.github.io/my_cms_project/admin).

I get the following message when clicking on "Login with GitHub":

[2019-01-05 14:44] hunhejj commented on #1890
@Mataniko , did you manage to solve this issue and use the GitHub backend?

[2019-01-06 22:40] barthc commented on #1424
@TatisLois If you are still up for this, I can guide you on how to implement a simple fix for this issue.

[2019-01-07 03:31] meinvolk opened #1994 "Cannot read property 'slice' of undefined"
When trying to create a Collection type that implements the List widget I get the error **Cannot read property 'slice' of undefined**.

This gets logged into the console.
Editor.js:224 Uncaught (in promise)
{type: "UNPUBLISHED_ENTRY_PERSIST_FAILURE", payload: {…}, optimist: {…}, error: TypeError: Cannot read property 'slice' of undefined at a (https://unpkg.com/netlify-cms@2.3.2/d…}
error: TypeErr

[2019-01-07 08:45] tomrutgers commented on #1994
I believe `name: "body"` is reserved for markdown content. Try changing the name of the list widget.

[2019-01-07 08:48] barthc commented on #1994
@meinvolk Here is the issue
[code]
Any widget named `body` is used as the content of the frontmatter and should return a simple string. So widget like `list` and `object` that returns nested values won't work. I suggest  you either rename the above widget or use a widget like `markdown`.

[2019-01-07 12:48] schalkventer commented on #386
I'm happy to give this a go via `config.json` and `config.js`, since I would love to be able to dynamically generate values and import NPM modules like https://www.npmjs.com/package/change-case into a `config.js`.

Just checking that this issue is still open, and no one is actively working on it?

[2019-01-07 14:54] schalkventer commented on #1164
@siddhant1 Are you still working on this?

I'm keen to get this issue fixed, so happy to lend a hand or take it over if you're no longer working on it. 😁

[2019-01-07 15:02] siddhant1 commented on #1164
So sorry for the delay ! I am a beginner and will appreciate a helping hand to resolve this ! Thanks :)

[2019-01-07 15:04] barthc commented on #1164
I think this PR #1931 has a fix for this issue.

[2019-01-07 16:20] G-T-P opened #1995 "Cannot import files from source, imports are not resolving in netlify-cms-core"
**Describe the bug**
In my build I have the CMS installed with NPM and I import it at run time.
It works fine if I use the code out of the `dist` folder but if the import comes from the `src` I get the following error:
`Dependencies not found`
`Lib/registry in ./node_modules/netlify-cms-core/src/index.js`

A quick check and I found out that the file index.js imports `Lib/registry` instead of `./li

[2019-01-07 17:44] meinvolk commented on #1994
Yes, sorry I am at work and have not been able to test this. I am fairly certain this is going to fix it though. Thanks guys!

[2019-01-07 17:46] #1994 closed

[2019-01-07 19:41] schalkventer commented on #1164
Great! Thanks @barthc

[2019-01-07 21:19] unyo commented on #793
Trying to figure out how pull in CSS styles via netlify-cms using @emotion/styled v10, came up with this solution. Apparently netlify-cms just overwrites the whole head with "cms.css", and the renderToString + ref method doesn't fully generate the styles for some reason.

(This is a terrible hack imo - I'd like to update netlify-cms to preserve the existing head contents instead somehow)

[code]

[2019-01-07 23:34] daneden opened #1996 "Different Opening/Closing Custom Delimiters Not Working"
**Describe the bug**
I’m trying out netlify-cms on my personal site on the following branch: https://github.com/daneden/daneden.me/tree/headless-cms

When trying to use an array with custom opening and closing delimiters for frontmatter, Netlify CMS complains with the following error: `'collections[0].frontmatter_delimiter' should be string`

**To Reproduce**
1. Use the [provided config.yml](https

[2019-01-08 17:03] G-T-P commented on #1995
Did not see that all the path were being changed in the babel config file.

[2019-01-08 17:03] #1995 closed

[2019-01-09 12:03] barthc commented on #591
@tomrutgers please confirm this issue is already fixed in #1303  before closing.

[2019-01-09 12:12] tomrutgers commented on #591
Correct. You can now use `displayFields: []`. It defaults to `valueField`

[2019-01-09 12:12] #591 closed

[2019-01-09 12:41] papandreou commented on #591
@tomrutgers, `displayFields` only has an effect on the autocompleter, though, not when a related entry has been selected. This means that a relation to a "id" like field will look user unfriendly most of the time:

![screen shot 2019-01-09 at 13 40 22](https://user-images.githubusercontent.com/373545/50900039-2558f880-1414-11e9-8b28-cc26946f7bf8.png)

... I think this is what the OP means.

Also d

[2019-01-09 13:31] tomrutgers commented on #591
This issue was opened when there wasn't a `displayFields` property available, so it is a bit different from #1982 I suppose. Since then a `displayFields` has been added but it has it issues for selection.  Would you like to keep both issues open @papandreou?

[2019-01-09 14:03] papandreou commented on #591
@tomrutgers, hmm, I think #1982 covers the remaining bits pretty well, so it's fine that this one is closed. Just wanted to clarify :+1:

[2019-01-09 15:15] pdkn commented on #1967
Is it possible to the config.yml to access Netlify build Environment Variables? i.e
[code]

(not working)

[2019-01-09 15:21] pdkn commented on #1967
To do this will need building the config.yml at deploy time from src to dis i.e https://github.com/netlify-templates/kaldi-hugo-cms-template/blob/master/src/cms/config.yml

[2019-01-09 16:11] papandreou opened #1998 "Ability to get the same behavior as the hidden widget in a custom widget"
**Is your feature request related to a problem? Please describe.**
I would like to create a version of [my uuid widget](https://github.com/netlify/netlify-cms/issues/1407#issuecomment-448625518) that does not render a control or a preview, similar to the `hidden` widget. I need to use it in various nested settings where having a visible widget crowds up the screen too much.

However, it appears th

[2019-01-09 17:46] tomrutgers commented on #1998
I think it would make a lot of sense to have a `visible: false` property as part of the widget configuration. And to have a uuid widget for that matter.

[2019-01-09 20:08] sddaniels commented on #372
Hi @erquhart sorry to bump and tag you, but my gut feeling turned out to be right and the lack of an easy preview link is a show stopper. I'd love to use the system internally, but we can't move forward without this. Is there a way that I can contribute this feature with a PR that will meet everyone's approval?

[2019-01-10 19:39] Undistraction commented on #1998
FWIW the approach I outline in #1975 would remove the need for a `uuid` widget completely, allowing the field to be set to be `hidden`, but I think decoupling the hiddenness from the type of widget makes a lot of sense.

[2019-01-10 22:01] kennedyrose opened #1999 "Cloudinary media library: can't log in"
Whenever setting the media library to cloudinary I'm met with this when trying to upload:

![screen shot 2019-01-10 at 3 59 12 pm](https://user-images.githubusercontent.com/1924910/50999780-c74e1300-14f0-11e9-97c5-dc00f98ea02c.png)

I've checked my cloud name and API key and they're both correct. It seems like unsigned uploads might need to be enabled in Cloudinary, but I can't do this without bei

[2019-01-11 02:38] mountainstorm opened #2000 "Post being update with public_folder; not media_folder"
My Jekyll is hosted on a sub url e.g. www.mysite.com/documents/

My netlify config looks like this:

media_folder: "assets/images"
public_folder: "documents/assets/images"

As far as I can tell, this is right.  In the repo images are found via assets/images/1.jpg, but on the website they are found via documents/assets/images/1.jpg

netlify's UI works as expected; the images show in the media brows

[2019-01-11 04:38] thebetternewt commented on #1984
Agreed! There should be icons for common filetypes, including CSVs in my case.

![image](https://user-images.githubusercontent.com/8032577/51013502-6e01d600-1528-11e9-9cc6-a453dcbb5686.png)

[2019-01-11 07:41] mountainstorm commented on #2000
to confirm; (the bullets should be '-'s).  As the image path includes 'documents' Jekyll is unable to find it

[2019-01-11 12:50] wyhaines commented on #1992
I am closing this. With the sites as they are currently, toggling them between .md and .html is causing no problem, so I can't recreate what initially thought that I observed.  Pilot error, I guess.  Thanks.

[2019-01-11 12:50] #1992 closed

[2019-01-11 18:09] matuzo opened #2001 "Cloudinary per field configuration doesn't work"
Hi!

**Describe the bug**
I'm using Cloudinary as my media library. I want to set `output_filename_only: false` for all fields globally and enable it on specific fields but it only works globally.

With the config below I always get the full url.

**Expected behavior**
I would expect to define a global value for how the output of files should look like and change it on specific fields. At least th

[2019-01-11 23:00] Nei-V commented on #513
Hello,
I'm trying to set up a blog using the "Gatsby Starter Blog" template (https://gatsby-starter-blog-demo.netlify.com/) and publish posts through the netlify cms. the problem is that the template creates a folder with the post's name and in it is an index.md file, while netlifycsm uses the config.yml in which a static folder is created. What would be needed in the config.yml is something like

[2019-01-13 07:55] missmatsuko commented on #961
From my understanding, this ticket is a feature request for a new table widget and #1503 is a feature request for table support in the existing MarkDown widget.

I'd like the table widget to have the ability to be completely user-configurable. So editable headers, columns, and rows. I'm thinking this could be the default behaviour if no fields are set in config.

I'll take a look to see if this is

[2019-01-13 12:40] erquhart commented on #961
Having looked at the original post here, the meaning of this issue has changed. It's about changing the UI for lists, not creating HTML tables, which would only make sense in markdown. #1962 is the issue I think most folks here are needing.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-13 20:45] Nei-V opened #2002 "Difference between localhost and production - maybe cache"
**Describe the bug**

What is the current behavior?
After deleting manually a blogpost file (provided with the template), I expect not to see that blogpost title and description in the main page. This works correctly online, but on local host I can still see these details. when pressing "keep reading" I get an error saying "There's not a page yet at ..." - which is expected because the file was de

[2019-01-13 21:11] Nei-V commented on #2002
Well, after 24 hours the issue resolved, maybe by itself. After 24 hours I posted 1 more article through the netlifyCMS and now the old one is gone, and everything looks ok both online and on the localhost., So, I'll close this issue for now.

[2019-01-13 21:11] #2002 closed

[2019-01-13 21:47] ediano opened #2003 "Error: The GitLab backend does not support the Editorial Workflow."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: [e.g. GitHub, BitBucket]
 - OS: [e.g. Windows 7]
 - Browser version [e.g. chrome 22, safari 11]

 - Node.JS version:

**CMS configuration**

**Additional context**

[2019-01-14 03:33] missmatsuko commented on #1962
Is this actually still an issue? I tried pasting in the Markdown and switching between Rich Text and Markdown and the colons were not removed from the Markdown code. The preview also renders the columns with alignment classes.

[2019-01-14 07:14] tomrutgers commented on #2003
The editorial workflow is not yet available for GitLab

Duplicate of #568

There’s a PR on the way: #1817

[2019-01-14 07:14] #2003 closed

[2019-01-14 11:20] joerneu commented on #1962
In the current version of the demo it is still an issue. The alignments of the columns are removed **after** you type something in the Rich Editor.

[2019-01-14 16:36] tech4him1 commented on #386
@schalkventer It's yours (sorry for the delay in getting back to you)!

[2019-01-14 17:13] devolasvegas opened #2004 "Page Template Works, but Preview Template Does Not"
**Describe the bug**

We have started using the Gatsby + Netlify CMS Starter to learn the Netlify CMS and build our new site.

The page template I set up for a folder collection works for generating pages on the front end, but when I attempt to wire it up with a CMS preview template, I get:

"TypeError: Cannot read property 'markdownRemark' of undefined"

It appears to be set up the way the blog t

[2019-01-15 07:30] selrond opened #2006 "Slug option containing multiple consequent dashes not working as expected"
**Describe the bug**

When using multiple dashes in slug template of folder collections like this:

[code]

newly created articles have one dash instead of three (as one would hope).

**To Reproduce**

Just use the slug template provided above

**Expected behavior**

I expect slug to be
`2019_01_15_08_20_12---sample-article.md`

but I'm getting

`2019_01_15_08_20_12-sample-article.md`

**Screensho

[2019-01-15 10:35] ArcaneTSGK commented on #467
Any idea on a timeframe on this one? Related: https://github.com/netlify/netlify-cms/pull/1873

[2019-01-15 11:19] zanona opened #2007 "number widget saving as string with valueType int"
**Describe the bug**

I have a field set to the number widget where it's taking an initially set integer value but saving it as a string.

**To Reproduce**

**config.yml**
[code]

**document.yml**
[code]

After changing the product price to `265`  through Netlify CMS, the updated document looks like:

[code]

**Expected behavior**

Save output as integer

**Applicable Versions:**

https://unpkg.co

[2019-01-15 12:48] G-T-P opened #2008 "Bitbucket backend, pagination not working."
**Describe the bug**
The number of item fetched from the bitbucket backend is capped and the pagination does not happen.

**To Reproduce**
Steps to reproduce the behavior.
1. Use the default configuration file.
2. Change backend to bitbucket and connect to a test repo containing (at minimum):
  * One folder called `_posts`
  * 11 Files in the `_posts`folder
3. Connect to Netlify-CMS and navigate t

[2019-01-16 10:13] jeremyprioux commented on #1979
Hello @futuregerald.

The site is not anymore live right now sorry, but i can be reproduced easily.

Is the issue with `accept_roles` is related to git-gateway or netlify-cms ?

[2019-01-16 18:22] sondrele opened #2009 "Poor performance while editing large files"
**Describe the bug**
I have a file with a bunch of messages, the model is essentially the same config as for the authors in the netlify-cms `dev-test`.

While editing a message, the performance is very poor and results in a very janky UI.
I'm assuming this is due to the `onChange` handler being called on every edit, which results in validation, and re-rendring of the entire component tree (please

[2019-01-16 21:33] devolasvegas commented on #2004
It turns out, the page template component needs to be imported into the preview template, not the page component itself.

[2019-01-16 21:33] #2004 closed

[2019-01-16 21:57] barthc commented on #1424
@TatisLois take a look at the [createEmptyDraftData](https://github.com/netlify/netlify-cms/blob/master/packages/netlify-cms-core/src/actions/entries.js#L378) function, just check for  `boolean` widgets that does not have any default value and assign a `false` value, that's it. Also add some comments to explain the assigment. You can DM me on gitter if you have any questions :+1:

[2019-01-16 22:48] vai0 opened #2012 "Can modules imported into cms.js for netlify-cms be resolved relative to one specified directory?"
It seems like imports and the imported module's dependencies in the cms.js module must be all be relative. Is there a workaround to allowing absolute imports, something similar along the lines of webpack config's [resolve](https://webpack.js.org/configuration/resolve/)?

The reason I ask is because I'm importing a React component, but that react component is coming from a project where all depende

[2019-01-17 00:37] vai0 commented on #2012
@talves Yes they exist in my Gatsby project under `src/components`

Yes I can do that, but that would only solve that one layer of imports. I'd get more errors from the modules that `BaseLayout` and `StandardLandingPage` depend on, since the imports in those components are written in the format of `components/...`.

My entire Gatsby project is written in the format of being able to import relative

[2019-01-17 00:42] talves commented on #2012
For a Gatsby project you would refer to [their docs][1] on how to expose the `webpack.config`.

[1]: https://www.gatsbyjs.org/docs/add-custom-webpack-config/#add-custom-webpack-config

[2019-01-17 00:43] erquhart commented on #1979
Will look into this.

[2019-01-17 00:43] vai0 commented on #2012
@talves Yes, but that only exposes Gatsby's `webpack.config`. Gatsby begins building/running netlify-cms outside and after its own build process.

[2019-01-17 01:03] talves commented on #2012
Yes, but if you look at the [`gatsby-plugin-netlify-cms`][1] project. specifically the [`gatsby-node.js`][2] code. You will see that it is using the Gatsby webconfig because it is itself extending it. So you would just extend the Gatsby webpack config to have the alias paths you need.

[1]: https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-netlify-cms
[2]: https://github.com/ga

[2019-01-17 02:56] vai0 commented on #2012
What doesn't make sense though is only in the cms.js module it isn't picking up webpack config changes in my Gatsby project's `gatsby-node.js`, which is used to resolve all the imports in the fashion they're written now in my entire project.

[code]

[2019-01-17 06:45] jeremyprioux commented on #1979
Thank you !

Le jeu. 17 janv. 2019 à 01:43, Shawn Erquhart <notifications@github.com> a
écrit :

[2019-01-17 16:37] renestalder commented on #789
Would love seeing this feature. I use the CMS mostly often in German environments. So currently there is a mix between the content models having German labels, but the CMS itself showing everything in English.

At least some kind of translation functionality would be nice. Doesn't need to be switchable by the CMS user for a MVP in my opinion.

[2019-01-17 17:10] renestalder commented on #1499
Tabindex shouldn't be used. It's counter accessible as you already mention. It's better to provide a hidden skip link to directly jump to the content.

Alternatively there is also the possibility of accesskeys as hidden table of contents to quickly jump to all sections. But that would probably be over-engineered for the case of a CMS UI.

[2019-01-17 17:17] renestalder commented on #490
I also would like to see contributions to this. I can also help if someone wants to approach this together. Also the proposal in this thread is already awesome. It could have some contrast improvements for accessibility reasons but overall, this is great work.

I'd say the functional design is very good so far with the current design of Netlify CMS. But what I think what has most potential for imp

[2019-01-17 17:40] tech4him1 opened #2015 "Reimplement all-contributors using bot"
**Is your feature request related to a problem? Please describe.**
https://github.com/all-contributors/all-contributors-bot/issues/5

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-01-17 18:04] barthc commented on #1927
@erquhart  dug a little deep about this issue and noticed a couple of things. First of all, this issue only happens on the initial load of editor page for an existing collection that has `relation` widget inside `list` widget.
So on page load, the relation widget makes this [query](https://github.com/netlify/netlify-cms/blob/master/packages/netlify-cms-widget-relation/src/RelationControl.js#L79) b

[2019-01-17 18:23] joostdecock commented on #789
I have a need/use case for this too. I have a multilingual site, and I'd like to see Netlify CMS not sticking out like a sore thumb because it's not translated.

I'm new to Netlify CMS but I had a look at the source and I was wondering what would be the best way to implement this.

The hardest part seems to have already been implemented. That is, extract strings from the code and keep them somewhe

[2019-01-17 21:37] Benaiah commented on #1973
This issue seems like it's been resolved, so I'm going to close it. If there's any further issue with editing Google AMP pages from Netlify CMS, please feel free to reopen this issue or open a new one.

[2019-01-17 21:37] #1973 closed

[2019-01-18 08:36] erquhart commented on #961
The original post was essentially requesting a table-like UI for the list widget. Every other comment here is about tables in markdown. The former is what this issue will focus on. Sound right?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-18 08:43] missmatsuko commented on #961
I feel like the original issue was taken over by a different issue when a new one should've been made for it. A WYSIWYG table can probably only contain text and not other widgets, e.g. a Relation. They serve different purposes.

[2019-01-18 10:32] jaybonthius commented on #1339
Would love to see this issue tackled. Personally, Netlify CMS wins on all fronts against Forestry.io except for mobile usability.

[2019-01-18 11:31] igufi commented on #1990
I came across the same issue when using list widget for setting post categories in Hugo. If a user writes anything to the category field and then deletes it, the post header will still contain the following:
[code]
This causes Hugo to create a post with an empty category tag, that can look something like this:

![image](https://user-images.githubusercontent.com/1605764/51384178-31d00600-1b24-11e9-

[2019-01-18 13:49] Undistraction opened #2016 "identifier_field doesn't use field value if field has a widget type of hidden"
**Describe the bug**
Using `identifier_field` for a collection fails to use the field value if that field has its `widget` type set to `hidden`.

**To Reproduce**
[code]

**Expected behavior**
The collection item's `name` field is used in the list of collection items.

**Actual behavior**
Netlify CMS falls back to using the item's `id` instead.

**Applicable Versions:**
[code]

**Additional contex

[2019-01-18 14:22] tomrutgers commented on #2016
The `identifier_field` should have an unique value to create a slug / filename. You can’t generate such a value with a hidden widget. The `name` field is being used but it’s empty so upon publishing the post fails

[2019-01-18 14:36] richblend opened #2017 "Allow empty fields to be removed from frontmatter on update"
**Is your feature request related to a problem? Please describe.**

When an optional field is left empty, it is not written to frontmatter at all when first published.
If an existing entry is updated, and a field that previously had a value is now empty, it is set as an empty string, instead of being removed completely.

I am seeing this behaviour on image fields. This is a problem for my build (u

[2019-01-18 14:56] Undistraction commented on #2016
I'm using this with `create: false`. The files already exist.

[2019-01-18 15:18] tomrutgers commented on #2016
Gotcha! Do you get the same result when you use `title` instead of `name`, so without an `identifier_field`?

[2019-01-18 17:11] zslabs opened #2019 "Entry Card Customization"
👋everyone! I'm using the Netlify CMS within Gatsby; and have run into an issue for our admins around "clarity" of content.

One of the collections on our site is a documentation area. Within that are sections (or categories) that each of these "Documentation Article" collections are mapped to. Within each; there are like-named articles, such as "Overview" or "Authentication" where within the conte

[2019-01-19 12:01] Undistraction commented on #2019
I've just hit the exact same problem. The solution is to allow interpolation in `identifier_field`. I've suggested a workable solution in #1975 which would also solve this problem.

[2019-01-20 01:38] gustawdaniel opened #2020 "Error 429: Too Many Requests from createSiteInTeam call"
I installed netlify by `npm install netlify-cli -g` and on first:

    netlify init

I have got:

[code]

I have only one repository that was built only one time.

[2019-01-20 19:51] tomrutgers commented on #2020
Please report this issue in the Netlify CLI repo: https://github.com/netlify/cli/issues/

[2019-01-20 19:51] #2020 closed

[2019-01-21 07:00] enersto opened #2023 "how do I use netlify cms when I deployed with netlify"
Very newbie question!
I have deployed my site with netlify storage on github,(my [repo](https://github.com/enersto/enersto.github.io) ), but I don't see any file in this file. And I don't know how to configurate as the doc said.
Or EVEN should I add the file to my public file which I draw to netlify to deploy?

[2019-01-21 07:16] lafiosca commented on #1134
I've been attempting to implement an S3-based custom backend, using the reference material from here, @talves, and @tech4him1, and continually digging through netlify-cms-core, netlify-cms-backend-github, and netlify-cms-backend-test. I'm still lacking a lot of clarity, and there seem to be inconsistencies and asymmetries with the existing methods and documentation. I would be interested in partic

[2019-01-21 15:26] talves commented on #2023
Your repository does not contain a Hugo site.

Steps to help:

- Before attempting to get NetlifyCMS working, first get your Hugo site up and running on Netlify.
- Once the Hugo site is working on Netlify, you will then get NetlifyCMS up and running using the example sites

Going to close. Please use the community site to get help for [Hugo][1] then for [NetlifyCMS][2].

If this is a company proje

[2019-01-21 15:26] #2023 closed

[2019-01-22 01:08] enersto commented on #2023
Thanks for the reply. My site is already running on Netlify: stoic-liskov-929121([my site](pauke.live)).
You mean I can use NetlifyCMS right now? Where can I find the gate to NetlifyCMS?

[2019-01-22 13:07] tomrutgers commented on #2023
Yes. You can start by following the steps outlined here: https://www.netlifycms.org/docs/add-to-your-site/

[2019-01-22 20:17] GRMiller opened #2024 "Pages added through admin ui are saved in content/ and static/ folder outside of site/"
**Describe the bug**

When I add a page or upload an image in the admin ui it creates a new directory for the content that is on the same level as site/ directory rather than updating the content inside /site/content/**.
My current structure is:
- project_name/
  - site/
    - content/
    - data/
    - layouts/
    - static/
    - config.toml
  - src/
    - js/
    - css/
    - index.js
  - netli

[2019-01-22 20:49] tomrutgers commented on #2024
Try updating your collections `folder` to `"site/content/pages"`

[2019-01-22 22:15] GRMiller commented on #2024
Yes! Thanks Tom! I'm an idiot. knew it was going to be something obvious!

[2019-01-22 22:15] #2024 closed

[2019-01-22 23:46] lmcorreia commented on #467
@erquhart I've been some time away from Netlify CMS but the handling of the nested fields seems to be roughly in the same state so I reckon I remember how it's being done. Mind if I pick this up or do you folks have any larger plans for restructuring the whole nested fields situation?

[2019-01-23 04:09] damassi commented on #1776
@buz-zard - the widget is working nicely 👌

[2019-01-23 06:09] buz-zard commented on #1776
@damassi the mdx widget only uses the [mdx-scoped-runtime](https://github.com/buz-zard/gatsby-mdx/tree/master/packages/mdx-scoped-runtime). The CMS and gatsby pages are like 2 separate apps, so it really doesn't even matter what you use for gatsby+mdx handling.

Check the scoped runtime [demo](https://github.com/buz-zard/gatsby-mdx/tree/master/demos/mdx-scoped-runtime-playground) - it's just a min

[2019-01-23 08:34] alexisreina commented on #1407
I just came across the same issue, and I agree width @Undistraction that It will better to approach it differently, as the uuid is an internal value that has no meaning for the cms user. As the project I'm working on does not include React, I create an uuid widget like @papandreou but with `createClass` and no external dependencies ment to be used in script tag. The uuid function is from the nanoi

[2019-01-23 10:08] Knaackee opened #2026 "Support for React Hooks"
My GatsbyJS site uses React Hooks (currently in alpha).
Netlify CMS does not support React Hooks at the moment. I am getting

Any ideas?

[2019-01-23 18:39] talves commented on #2026
Any way you can reproduce with a code example on a test repository?

Since Hooks are still in alpha, it may take a while for review. I'm currently waiting for release before I try to tackle integration, but your example would help also.

[2019-01-23 22:03] charlie-s commented on #1341
Anyone working on this? Would really like to see image preview in my collections.

[2019-01-23 22:53] tomrutgers commented on #1341
It's currently not claimed by anyone

[2019-01-23 23:08] ahoward commented on #1472
anyone interested should check out ro.   it manages data just like that.  we use it that way @ dojo4.  https://github.com/ahoward/ro -- https://dojo4.com/blog/static-is-the-new-black

[2019-01-23 23:33] BrandonDusseau commented on #1472
It's poor form to advertise your own projects on other people's repos. Please don't.

[2019-01-24 00:32] ahoward commented on #1472
@BrandonDusseau i am 100% sure that the netlify team and i are on the same page with respect to having spent 1000s of hours thinking about static sites.  we've been users of bitballoon - become netlify - since the beginning and promoting them every chance we get -  and i feel very calm saying that their team absolutely holds the spirit of intellectual conversation around software dear.   if i were

[2019-01-24 00:56] talves commented on #1472
Ok, I am going to pull the maintainer card here. The following is not directed at any one person:

Before a conversation gets out of hand, make sure to adhere to the [Code of Conduct](https://github.com/netlify/netlify-cms/blob/master/CODE_OF_CONDUCT.md)
Let's keep the conversation on track with the issue title (***"Store Assets Relative to Content"***) as best possible.

Thanks.

[2019-01-24 03:14] ahoward commented on #1472
imma follow up and say that relative assets are a super noble goal, it is *really* hard.  the main problem being that you have to pin a relationship ahead of time.  that is to say "there are images associated, or 'under', this author".   the nesting has obvious advantages as well - rendering in the native/default github ui is no small thing - it really, really, really make many things feel super n

[2019-01-24 03:21] ahoward commented on #1472
tl;dr; keep relationships intact, even in the sense of rendering natively on github, but do so not via nesting storage, but by accepting, and preferring, single, idempotent, urls for every asset ever chucked at the the cms (aka.  absolute links for all assets referenced in content/markdown).  my 2 cts.  and i'm out.

[2019-01-24 03:43] erquhart commented on #372
@sddaniels I'm about to put up a PR for this, but first a question: are you using editorial workflow, and do you mostly need preview links for unpublished entries? Changes to published entries are viewable on your production site, and I'm thinking we don't _need_ preview links for something that editors can just navigate to themselves. Can you confirm whether this aligns with your requirements?

[2019-01-24 04:38] erquhart commented on #372
Awesome, glad this fits the bill! Providing links for published pages isn't more difficult, just a little more work. Let's go ahead and get this released for unpublished entries and take it from there.

[2019-01-24 04:57] sddaniels commented on #372
Totally on board, sounds great! Thanks for putting up with my over-explanation :)

I found an existing issue that seems more directly related to what I was talking about in the second para, it's [ Issue 1337](https://github.com/netlify/netlify-cms/issues/1337) (ha!). It looks like that links back to this issue. Does that mean that the preview/link will include the path of the page, or is it just a

[2019-01-24 05:10] erquhart commented on #372
Ah, thanks for tracking down that issue - it will be much easier to solve once this PR is merged, might even tack it on. We'll see.

The PR I just raised does provide a method for linking to the current entry rather than just linking to the preview site root.

Regarding pitching in/adopting an OS project, we'd love to have you! My recommendation is to do what you were trying to do here before I ru

[2019-01-24 05:17] sddaniels commented on #372
No worries! I'm in for all of the above and I'm just starting implementation, hopefully will have it live by the end of next week.

[2019-01-24 05:30] erquhart commented on #1472
Thanks @ahoward - I know you've pushed hard for a number of things that still haven't come to fruition, glad to see you're still keeping an eye on the project. This feature is definitely high on the priority list, and I agree with the goal of things making sense right in GitHub as well. Thanks for the thoughtful points!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-24 07:55] damassi commented on #1948
The unstyled preview pane is a bit confusing -- its easy to think that something has been misconfigured.

[2019-01-24 10:01] TechStacker commented on #1576
Being able to name/edit the post slug independent of the post title, should be a feature, as this is a basic SEO practice that every SEO recommends.

For example, if you have a long title for a post:

*“A Clear Performance Comparison between Gatsby and WordPress”

Then you’d name the slug something _short_, like: `/gatsby-vs-wordpress-performance`

Edit-slug is a built-in feature in WordPress (the

[2019-01-24 12:49] erquhart commented on #467
@lmcorreia I've been intending a wholesale refactor that would help address this, but I'm not certain when that will happen. You're definitely welcome to take this on, and I'm happy to help if you run into any issues.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-24 14:48] lmcorreia commented on #467
@erquhart Cool, I'll take a fresh look at the HOC mechanics for this and try to suggest a new approach in a PR asap

[2019-01-24 16:51] talves commented on #1576
@TechStacker I handle this in Gatsby using NetlifyCMS by providing a Permalink editable text box and setup the page nodes prior by using this field. Another way I handle this is to take the title on new created pages and build the initial permalink for previews and drafts (more complicated, but works like a charm). The second option makes it less work, but SEO gets built based on other entries dur

[2019-01-24 17:22] barthc commented on #467
@erquhart this issue already have a PR.

[2019-01-24 18:12] lmcorreia commented on #467
@erquhart ^^ From the little I've dug into it, this seems to cover what can be done for the moment without getting too much into the foundations of the List and Object widgets so I'd take it as a closing point for this issue.

I'll still dig around a little more to see if I can come up with some contribution for the future refactoring but that's beyond the scope of the issue, I believe.

[2019-01-24 18:50] talves commented on #467
@lmcorreia Can you check out the PR and run tests and see if it solves the issue? That would be of great help. Would also help determine if there is any change needed that improves and work with @barthc  or to discuss.

[2019-01-24 20:00] Undistraction commented on #2019
Another example:

There are a collection of items with two fields: `startYear` and `endYear`. The entry-card needs to display the date range for the item, i.e: `${startYear}–${endYear}`. There is currently no way to achieve this as only a single field can be chosen and interpolation of fields is not supported in `identifier_field`.

[2019-01-24 20:34] barthc commented on #467
@lmcorreia  Yes, that is the PR, and as @talves  suggested any contributions to the PR  is welcomed. At the moment, I will be updating the PR to fix conflicts and test against the new types list widget.

[2019-01-24 21:02] zslabs commented on #2019
As @Undistraction mentioned above, even if I didn't have access to that subtext as I showed in my screen shots, but just interpolation -- that'd be a huge help!

[2019-01-24 22:28] stbly opened #2030 "[Discussion] option for default on all types for List Widget: Variable Types"
The List Widget: Variable Types beta feature is great but creates a bit of an issue in introducing dynamically selected content in Gatsby's static build environment. This is a problem when you're writing GraphQL queries for your templates, as your query needs to request any and all widgets used in the list, but there's no guarantee that the user will have selected them in the CMS.

One way this mi

[2019-01-25 11:41] idiazroncero opened #2031 "Improve misleading pop-up login"
Hello;

I always found the UI design of the attached login pop-up clearly misleading to the end-user:

<img width="389" alt="captura de pantalla 2019-01-25 a las 12 18 10" src="https://user-images.githubusercontent.com/3958741/51742979-972f7400-209b-11e9-9889-3e5449f51f19.png">

I have myself countless times clicked on the "log out" button by impulse. I think this is clearly a bad UI for the follo

[2019-01-25 16:13] grdpr opened #2032 ""API_ERROR: {"message":"404 File Not Found"}""
Hi, I'm using `netlify-cms` since a longtime with no major problems or bugs. But since today, I'm confronted with this message:
`"API_ERROR: {"message":"404 File Not Found"}"`
Only the last five posts are shown in the Content Manager.
I did also an update to the last versions but that didn't resolve the problem:
[code]
I'm using Gitlab.
In the console, I get these three errors:
`GET https://www.my

[2019-01-25 16:38] renestalder commented on #2031
I would say it would already be better to not style the login like a primary action, but rather like a simple link. Then still the "continue to administration" can be added styled as primary button.

[2019-01-25 18:07] PaulPCIO commented on #1754
Why did you close this? if you found a solution it would be nice if you shared it ?

[2019-01-25 23:13] ciokan commented on #1754
probably because it was unrelated to this project.

[2019-01-26 03:52] leonardodino commented on #2019
I'm having a go at it here: https://github.com/campus-online/cms/pull/9

I too was bothered with by this omission in `netlify-cms`, among others like no sorting and no way to customize view modes.

if interest is enough, and with help for better `docs` and `props`, we can port it upstream (to this repo). right now it's extremely bare-bones, both links and styling must be re-done from zero. there's

[2019-01-26 08:16] damassi commented on #1776
For those who are curious I have a full working starter example [here](https://github.com/damassi/gatsby-starter-typescript-rebass-netlifycms) , and here's the [`cms.js` file](https://github.com/damassi/gatsby-starter-typescript-rebass-netlifycms/blob/master/src/cms/cms.jsx).

[2019-01-26 09:42] grdpr commented on #2032
netlify-cms seems very sensible at the folder management. I just have created a "posts" folder in my "content" folder and it's working now. Never mix posts and pages markdown in the same folder even if it was working before (in 2018)!

[2019-01-26 09:42] #2032 closed

[2019-01-26 12:31] Undistraction commented on #1776
@damassi Thanks. This looks excellent. Do all the `gatsby-remak ...` plugins work with mdx content?

[2019-01-26 15:18] ssijak opened #2033 "How can I add Slate plugins"
**Is your feature request related to a problem? Please describe.**
Formatting features of the default markdown plugins are lacking. And instead of writing my own I would like to add existing plugins to the Slate editor.

**Describe the solution you'd like**
I would like to add existing Slate plugins like [https://www.npmjs.com/package/@slate-editor/alignment-plugin](https://www.npmjs.com/package/@

[2019-01-26 16:43] eur2 opened #2034 "scheduled posts / publish date"
Hi, I'm trying to schedule the publishing of a post in the near future with the default widget field "publish date" but it's not working. Anyone has found a solution to schedule a post in netlify-cms?

[2019-01-26 16:58] talves commented on #2034
The scheduling of a post would be controlled by the SSG you are using.  NetlifyCMS would only be updating the date with a field required in the content for the SSG to use to determine if the post is ready to publish.

[2019-01-26 17:11] talves commented on #2019
@leonardodino I think it would be awesome to have that as a PR to this issue. This might be a good beta version feature at the least.

[2019-01-26 18:02] damassi commented on #1776
HI @Undistraction - You can pass in remark plugins at the [gatsby-config.js level](https://github.com/damassi/gatsby-starter-typescript-rebass-netlifycms/blob/master/gatsby-config.js#L38) via `gatsby-mdx`.

[2019-01-26 19:20] Undistraction commented on #1776
@damassi Thanks. This is helpful.

[2019-01-26 22:57] asistapl commented on #793
@robertgonzales  Hey, now with emotion 10 we have to do something like this:

[code]

[2019-01-27 05:59] erquhart commented on #2034
I've been considering whether Zapier can do this. I could see the CMS "scheduling" posts by adding an identifier and date/time to a file in a metadata branch, together with a lambda/Netlify Function that publishes posts from the document if the date/time has passed, and activating that function via Zapier webhook hourly.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-27 06:04] erquhart commented on #2033
You have to consider not what Slate (and its plugins) can do, but what _markdown_ can do. Slate can do pretty much anything. Markdown can do next to nothing, text alignment being one of those things it can't do.

There's been discussion of doing alignment and other non-markdown things with HTML, but that's a tough approach to take in any sort of standard way.

<sub>Sent with <a href="http://githaw

[2019-01-27 13:12] calpa commented on #1498
Will this feature be included in the schedule?

[2019-01-27 18:32] IamManchanda opened #2035 "Provide Cloudfront/Cloudflare/Stackpath (S3/GCS) support for Media uploads!"
Besides https://www.netlifycms.org/docs/cloudinary/

It will be great if you support CDN (+ Object Storage) approaches like Cloudfront/Cloudflare/Stackpath

[2019-01-27 18:47] pandeybk commented on #1474
I am also seeing same problem with github, here is my configuration. (This is real production configuration). Site is hosted on s3 bucket and I am using aws cloudfront.

[code]

I am seeing following error when trying to browse https://company.goglides.com/admin

[code]
If i replaced site_domain with `site_domain: cms.netlify.com`, its says authorized but doing nothing.

<img width="1429" alt="scr

[2019-01-28 08:41] tomrutgers commented on #2033
FWIW you can track that discussion here: https://github.com/netlify/netlify-cms/issues/1503

[2019-01-28 09:02] danurbanowicz commented on #2031
I agree and would prefer the above solution. I find the Logged in modal pretty confusing and unnecessary. Unless there is a reason that it needs to be there, I would suggest removing it and redirecting the user directly to the dashboard on successful login.

Anyone who agrees that this should be looked at, please upvote @idiazroncero 's issue.

[2019-01-28 13:54] erquhart commented on #2031
The code for this is in an upstream library if anyone is up for proposing a change there: https://github.com/netlify/netlify-identity-widget/blob/2bd364004f48b34852264201c5e2748c7b8e6fe5/src/components/forms/logout.js

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-28 14:18] tomrutgers commented on #2031
Redirection feels like the most logical solution. If there is a technical need to display buttons I prefer `continue to administration` as a primary button and the log out text as a link

[2019-01-28 16:22] wiadev commented on #981
@mtully I can't see such an option to duplicate on my cms.

[2019-01-28 18:11] tomrutgers commented on #981
@wiadev the images above are conceptual designs, not live screenshots from the cms. This feature hasn't been implemented, that's why this feature request is stil open.

[2019-01-28 18:13] wiadev commented on #981
I see. looking forward to it then. thanks.

[2019-01-28 22:23] erquhart commented on #2030
Yeah, that's a tough one, GraphQL is pretty strict that way. I feel like a a solution should be provided in Gatsby rather than here - are there other, similar issues on their repo about strict GraphQL requirements?

[2019-01-29 17:15] JohnWelle commented on #2001
Having the same issue. Setting `output_file_name` to `true` globally doesn't help either.

[2019-01-29 18:20] tech4him1 commented on #2015
@erquhart @talves @verythorough Any reason to hold off on this?

[2019-01-29 18:32] tech4him1 commented on #1498
@calpa I don't think this issue is really well-defined enough to start working on or add to a schedule. If you could specify your use case and some details of how you think it should work and look, that might help us move forward.

[2019-01-29 18:46] erquhart commented on #2015
@tech4him1 I assumed the bot handled merge conflicts proactively (not sure why I made that assumption, it's nontrivial functionality). Adding contributors wasn't the part I was most concerned with automating - it was rebasing pull requests when they inevitably conflict with one another. I'd like to see that functionality before bringing this back personally.

There's discussion here: https://githu

[2019-01-29 18:48] tech4him1 commented on #2015
@erquhart Right, I agree with you on that. What if the bot just pushed, without creating a PR?

[2019-01-29 18:49] erquhart commented on #2015
Oh just saw your comment about directly committing, that might be an even better option!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-29 18:51] tech4him1 commented on #1474
@hunhejj If you are not hosting on Netlify, you will need to run your own authentication server to use GitHub authentication: https://www.netlifycms.org/docs/authentication-backends/#github-backend.

[2019-01-29 22:29] sheldonhull opened #2037 "Last_modified_at jekyll front matter"
This may already be achievable by the current system, likely is, but I can't find any documentation on how to do this properly.

I'm trying to set modified date as a read-only field and have the date automatically reflect the current date when editing a file. This would ensure the `last_modified_at` jekyll front matter property is updated automatically whenever I edit or publish.

In addition, I'm

[2019-01-30 01:56] erquhart commented on #1409
Came back to this with fresh eyes while considering #2037. We've talked about the concept of [events](https://github.com/netlify/netlify-cms/issues/1348) and also dynamic defaults as mentioned in the OP. We can combine these two concepts for widgets.

**Example**
[code]

Quick breakdown of what these keys would mean:

**update_on**: list of events to automatically update the value. A widget would

[2019-01-30 01:57] erquhart commented on #2037
It's not possible right now, unfortunately. Your issue inspired some thoughts on the widget API, though - please check my comment over there and reply back if you have any thoughts!

[2019-01-30 01:57] #2037 closed

[2019-01-30 10:01] SkypLabs opened #2039 "Dark theme"
A dark theme would be very welcome :smiley:

[2019-01-30 11:36] tomrutgers commented on #2039
Closing in favor of https://github.com/netlify/netlify-cms/issues/1727

[2019-01-30 11:36] #2039 closed

[2019-01-30 12:14] SkypLabs commented on #2039
Sorry I didn't see this issue when I had a look at the preexisting ones.

[2019-01-30 13:06] 80017 opened #2041 "Does not see all branch"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: [e.g. GitHub, BitBucket]
 - OS: [e.g. Windows 7]
 - Browser version [e.g. chrome 22, safari 11]

 - Node.JS version:

**CMS configuration**

**Additional context**

[2019-01-30 13:06] 80017 commented on #2041
aaaaa

[2019-01-30 13:07] 80017 commented on #2041
aaaaaaa

[2019-01-30 13:07] #2041 closed

[2019-01-30 13:08] mkozhukharenko commented on #2030
this is an issue for Gatsby...

[2019-01-30 13:55] mkozhukharenko commented on #2030
@stbly do you have any ideas how to handle this?

[2019-01-30 14:30] erquhart commented on #1972
HMR is in place and functional (including the PR you linked being merged):

https://github.com/tech4him1/netlify-cms/blob/master/packages/netlify-cms-core/babel.config.js#L8

https://github.com/netlify/netlify-cms/blob/master/packages/netlify-cms-core/src/components/App/App.js#L225

Any particular issues you're finding with it during local development?

[2019-01-30 14:48] #1974 closed

[2019-01-30 14:52] erquhart commented on #1975
@Undistraction what do you think about this as a potential solution: https://github.com/netlify/netlify-cms/issues/1409#issuecomment-458781037

[2019-01-30 14:53] erquhart commented on #1407
Relevant: https://github.com/netlify/netlify-cms/issues/1975#issuecomment-458972246

[2019-01-30 15:17] erquhart commented on #1976
I'm not able to reproduce this - any chance it's due to a browser extension or using an older version of Safari?

[2019-01-30 15:34] erquhart commented on #1978
For anyone else that comes across this, display formatting can be achieved via the `dateFormat` and `timeFormat` configuration properties for the date widget.

Docs here: https://www.netlifycms.org/docs/widgets/#datetime

[2019-01-30 16:24] #1980 closed

[2019-01-30 16:24] #1981 closed

[2019-01-30 17:04] erquhart opened #2042 "[WIP] Development Cycle"
# Netlify CMS Development Cycle - Jan 2019

Our product development cycle is inspired by the structure used at
[Basecamp](https://m.signalvnoise.com/how-we-structure-our-work-and-teams-at-basecamp/). We'll
likely adjust this document as we gain more experience with our new approach.

## Six week cycles
The primary cue we're taking from the folks at Basecamp is working in six week cycles, followed

[2019-01-30 17:04] DanielRuf opened #2043 "CI"
It seems there is no active CI setup. Is there a good reason that it is not enabled / used?

[2019-01-30 17:54] erquhart commented on #716
@schalkventer anything to add here?

[2019-01-30 18:24] stbly commented on #2030
I have found that as long as each widget type exists somewhere in your templates, the build will succeed. Of course, you can't know that the user will be using all of the selectable widgets at one time, so I've had to find a workaround.

To make sure each widget is represented at build time, I've piped into Gatsby's `onPreBootstrap` lifecycle hook to create a markdown file from a .yaml file (with

[2019-01-30 18:53] schalkventer commented on #716
Thanks for the link @erquhart

So when I'm hardcoding multilingual support currently with Gatsby I do the following. I have a single JSON file be the source of all the translations for a specific item:
[code]

I would the query a specific language version of that item as follows:
[code]

This will then return an array of all the blog entries in Afrikaans. Seems to work easy enough for now.

Howeve

[2019-01-30 18:57] schalkventer commented on #716
So my concern is mostly related to the UX experience in the dashboard (especially if clients need to add the translations themselves). I think @moeamaya's suggestion above in regards to Craft CMS seems pretty solid.

You could possibly define languages in the `config.yaml` file:
[code]

[2019-01-30 19:19] schalkventer commented on #716
Another approach might be to manually enable translation for specific fields and even have a primary/default language:

[code]

So the above might possibly give something like the following (which also solves the problem of `identifier_field` needing to be a root level field):

[code]

[2019-01-30 19:21] schalkventer commented on #716
However, also keep in mind that the above is very specific to my circumstances/tooling, so there might be another approach that might be more useful for the majority of users.

[2019-01-31 03:38] lmcorreia commented on #467
@barthc I've reviewed and tested your code and it all looks good. I've made a few suggestions but nothing extraordinary. They don't really change the logic in your code but I tested them anyway, same result - all good from what I've tested, validation (presence and pattern) still works in "normal" fields and now also works in fields in lists and objects/objects inside lists. 👍

cc/ @talves

[2019-01-31 04:39] IgorBelyayev opened #2046 "JSON Widget"
**Is your feature request related to a problem? Please describe.**
The ability to save collection files as JSON files exists. However, there is no way to add nested JSON objects, nor is is there a way to add `null` values to a file. For example, if you paste JSON into a text widget, the resulting collection file contains a value for that text widget key which is a stringified version of the pasted

[2019-01-31 12:32] mkozhukharenko commented on #2030
@stbly good solution, can you share your code?

[2019-01-31 16:36] erquhart commented on #1982
Yeah...I can't think of a reason why it should be this way. Definitely open to a PR for this.

[2019-01-31 16:36] erquhart commented on #1983
Agreed.

[2019-01-31 16:50] erquhart commented on #1285
@lukeburns comments on https://github.com/netlify/netlify-cms/pull/1294 provide the rationale - tl;dr: we could change it, just need to make sure nothing breaks in the process.

[2019-01-31 16:57] erquhart commented on #1989
We actually already have this via `identifier_field`, but we failed to document it where folks will actually find it. Details here: https://www.netlifycms.org/docs/collection-types/#folder-collections

Can you confirm this does what you need?

[2019-01-31 17:03] erquhart opened #2047 "Improve `identifier_field` documentation."
Add `identifier_field` collection property documentation to Configuration section of docs, and perhaps link to said docs from other related places in the documentation.

Related to #1989.

[2019-02-01 01:26] lmcorreia opened #2048 "Add range validation to Number widget"
**Is your feature request related to a problem? Please describe.**
This request stems from my observation of the docs for the `Number` default widget. Looking at the props for `NumberControl.js`, 2 things are apparent:

1. The `step` optional configuration parameter is not documented
2. The `min` and `max` optional configuration parameters are used as properties for the input field rendered (as is

[2019-02-01 04:04] Maxim-Filimonov commented on #1972
As it's merged we can close this one 👍

[2019-02-01 04:04] #1972 closed

[2019-02-01 06:33] jeremyprioux commented on #1979
Hello,

any news ?

Le jeu. 17 janv. 2019 à 07:45, Jeremy Prioux <jeremyprioux@gmail.com> a
écrit :

[2019-02-01 13:52] ChandlerMBing opened #2050 "error GraphQL Error Field [type Image] must not have a selection since type "String" has no subfields."
**Describe the bug**

After adding or changing the picture in a `Image` widget inside the cms, the local environment fails to build while production builds just fine
**To Reproduce**

1. /admin
2. Page with Image widget
3. Upload or change picture
4. Pull changes from repo
5. See error in local environment
6. Production builds just fine

**Expected behaviour**
local environment successfully builds

[2019-02-01 16:00] lmcorreia commented on #2017
I think it would be better if we could infer this from `require: false`, no? If the field is not required and is empty when persisting, get rid of it. From the top of my mind, no SSG would complain about it.

Although, there's some potential to break stuff for people relying on the existence of fields in frontmatter because in the templates they're evaluating against empty strings and not just fal

[2019-02-01 16:17] erquhart commented on #1027
@hfte awesome!!! We'll probably link to that elsewhere as well - thank you for writing it up!

[2019-02-01 16:32] erquhart commented on #1816
@meinvolk strange, the folder doesn't actually need to exist (or have files) for a folder collection to work, not sure why that happened.

[2019-02-01 16:36] erquhart commented on #1998
This is covered in https://github.com/netlify/netlify-cms/issues/1409.

[2019-02-01 16:38] erquhart commented on #1999
The Cloudinary media library doesn't support unsigned uploads, the user would have to be signed in to Cloudinary.

[2019-02-01 16:57] erquhart commented on #2000
`media_folder` is used by Netlify CMS to locate the file in your repo, `public_folder` is used for outputting a link to the live location of the file on your site; what you're describing is by design.

You're saying Jekyll is trying to find your images - are you sure? That isn't default behavior.

[2019-02-01 19:05] erquhart commented on #2012
Guessing `onCreateWebpackConfig` from your plugins is being run _before_ any use of it in `gatsby-node.js`, which makes sense, but isn't helpful for the unique setup that the Netlify CMS plugin has. I'd recommend asking the Gatsby community, or maybe even opening an issue over there. This is a generic issue of understanding how your own webpack configuration customizations can be pulled in by plug

[2019-02-01 19:21] verythorough commented on #2015
This would be so great!

I like the idea of committing directly to avoid PR merge conflicts.

[2019-02-01 21:44] erquhart commented on #1927
Finally hitting this one in my notifications queue (oldest first) - thanks for getting a fix up @barthc, hitting the PR queue next.

[2019-02-01 21:47] erquhart commented on #1890
Yep, Netlify's auth service isn't standalone. You can create a Netlify site and enter a domain hosted elsewhere as the site URL to get auth, though. The Netlify site URL and the URL you're authenticating from must be the same (unless you're on localhost).

[2019-02-01 21:47] #1890 closed

[2019-02-01 21:54] erquhart commented on #961
@missmatsuko we're already on the same page, see my [comment](https://github.com/netlify/netlify-cms/issues/961#issuecomment-453826379) above. This issue is for a table-like interface for lists, whereas #1962 is for tables in markdown.

[2019-02-01 22:00] erquhart commented on #441
Closing #1339 as a duplicate of this.

[2019-02-01 22:00] erquhart commented on #1339
Just realizing this is a duplicate of https://github.com/netlify/netlify-cms/issues/441 - please watch that one for movement on this matter.

[2019-02-01 22:00] #1339 closed

[2019-02-01 22:02] erquhart commented on #2016
@Undistraction still an issue?

[2019-02-01 22:03] erquhart commented on #1341
@charlie-s we'd love the contribution - comment here or in [Gitter](https://gitter.im/netlify/netlifycms) if you have any questions while checking this out.

[2019-02-01 22:13] erquhart commented on #1576
@TechStacker Netlify CMS isn't stopping you from doing that - just make an additional field to use for url creation, then configure your static site generator to use that. This looks different depending on the generator you use.

For example, let's say you have a Hugo site, a blog post frontmatter might look like this:

[code]

And your Hugo config would include something like:

[code]

[2019-02-01 22:23] erquhart commented on #2031
I think the pop up should stay, and be treated as informative, requiring no primary call to action. Just close it via X or clicking outside. "Log out" can be relegated to a small text link in one of the bottom corners.

[2019-02-01 23:22] jakebolam commented on #2015
We recognize there is a gap here. We're totally planning to address this and have netlify and many others benefit from this.

Some UX we've seen is users regularl tag the wrong user, typos/auto complete. This same problem affects mentioned contributions.

Before we proceed on either option we will get an RFC going. (I think it would be difficult to support both right now).

Some discussion has sta

[2019-02-02 00:18] erquhart commented on #1934
I'll be going through PR's soon, but I think the best way to handle this is probably by some cooperation between the media library and the image widget preview component. Still need to think through how that would work, but the logic for connecting the url value with the Cloudinary root url is simple, just a matter of where that should occur and whether it's possible without requiring configuratio

[2019-02-02 00:22] erquhart commented on #2039
@SkypLabs no problem! A dark theme would be very cool, agreed.

[2019-02-02 00:40] erquhart commented on #2017
Inferring from `require` makes a lot of sense. We can implement now with an opt-in flag and then make it default behavior in the next major release.

[2019-02-02 00:42] erquhart commented on #1990
@lmcorreia your comment on #2017 is also relevant here.

[2019-02-02 00:55] erquhart commented on #386
After considering this a bit more, I remembered that manual initialization is the only way to do this. Without manual initialization, the CMS auto bootstraps, so loading the config is always a race condition.

Have you tried JS config via manual init yet? Interested to hear if there are any downsides.

[2019-02-02 02:07] erquhart commented on #445
This 👆👆

@webmasterkai I was glad to see your comment as I recently came to the same conclusion: we should not be calling the filename "slug". It's confusing, and I'm betting most folks thumbing this issue up are thinking about the path to their live content and not the filename in the repo. @robsonsobral made a similar point a while back as well.

The more I consider this, the more I realize this

[2019-02-02 10:13] DanielRuf commented on #2043
I mean the `test` and `test-ci` scripts.

[2019-02-02 10:50] marcojakob commented on #445
@erquhart I think static site generators **do care a lot about filenames (and folder names)**.

The first choice is to use the filename for the output path. See for example in [Hugo's Content Organization](https://gohugo.io/content-management/organization/):

The `slug` in frontmatter is only meant to override this behavior _if needed_. Otherwise it's much better to use the folder and filename as

[2019-02-02 15:15] erquhart commented on #2043
![GitHawk Upload by erquhart](https://i.imgur.com/v8LBC3j.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-02 15:39] talves commented on #2043
@DanielRuf are you familiar with the Netlify CI/CD setup? We would be happy to take a look at a PR to see what you feel would improve upon what we have.

[2019-02-02 16:33] erquhart commented on #2043
Yeah that's weird, going to look into that

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-02 17:42] erquhart commented on #2043
The squash merge commits on master are being built and deployed by Netlify, too, so it's double weird.

[2019-02-02 18:19] DanielRuf commented on #2043
Here are two with CI status
https://github.com/netlify/netlify-cms/commits/master?after=ade03d09f108e0fe3e0483f9c5e47f9eb89e9f26+139

[2019-02-02 20:21] tech4him1 commented on #441
Updated Slate issue: https://github.com/ianstormtaylor/slate/issues/2062.

[2019-02-02 21:21] erquhart commented on #2043
More weirdness. Can't see anything that makes those stand out. I'll ask support about it on Monday.

[2019-02-02 21:53] #1927 closed

[2019-02-03 01:01] #1996 closed

[2019-02-03 12:01] hringleikur commented on #1934
I agree that the thumbnail at least should be possible with zero config. The main issue I see is the preview - either it would need to be left broken or we would have to make a design decision that the user might disagree with.

[2019-02-03 12:46] erquhart commented on #1934
Widget preview components provide a default preview for an individual field. We would make the image widget provide the image as expected by default. If someone _wants_ the actual field value, they can still access it in a custom preview template (or custom widget preview component), so everyone wins.

The challenge is doing this in a generic way so that the image widget makes no assumptions about

[2019-02-03 14:32] shoji-mochizuki opened #2055 "Clash when writing"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: [e.g. GitHub, BitBucket]
 - OS: [e.g. Windows 7]
 - Browser version [e.g. chrome 22, safari 11]

 - Node.JS version:

**CMS configuration**

**Additional context**

[2019-02-03 16:03] Undistraction commented on #2016
@erquhart Yep.

[2019-02-03 16:07] talves commented on #2055
Please include details and we can re-open. Thank you.

[2019-02-03 16:07] #2055 closed

[2019-02-03 16:08] Undistraction commented on #2007
Seeing the same thing here. This causes big problems with Gatsby as it cannot infer type if there are multiple types used for the same field. I had added numbers to the fields, then someone edited a file using the CMS and this resulted in the number being saved as string, causing Gatsby to ignore the field entirely and breaking our build.

If anyone needs a short-term solution to this, you will ne

[2019-02-03 16:19] Undistraction commented on #1989
@erquhart Thanks. Yes this is helpful. However it doesn't cover cases where you need a combination of fields to get a unique identifier, for example, imagine we have a 'User' collection with 'firstName' and 'lastName' fields. We need the identifier to be: `${firstName} ${lastName}`, however `identifier_field` only allows the use of a single field. This is another strong argument for supporting int

[2019-02-03 16:38] Undistraction commented on #475
Would be a big step forward just to allow for some control over the order items are displayed in. At the moment it's effectively arbitrary. Could `orderOn` and `orderDirection` fields be added to collections that would take a field and direction, and order based on the type of that field. That would at least allow entries to be ordered by date or title, or even by a manually added `index` field.

[2019-02-03 16:43] Undistraction opened #2056 "Allow Collections To Be Nested"
**Is your feature request related to a problem? Please describe.**
Currently all collections are displayed at the top level of the menu in the sidebar. This means that a collection like Pages is at the same level of hierachy as StaffMembers which might only be used on a single page.

**Describe the solution you'd like**
I'd like control over nesting of Collections, so a page-specific Collection or

[2019-02-03 17:08] rvetere commented on #1032
so what is the state of this nice work so far @owenhoskins? https://github.com/netlify/netlify-cms/compare/master...owenhoskins:media-library-1032

as far as i understand, only the "remove multiple" files is missing, but you got the multi-upload solved? could we separate these two features so we could maybe already benefit of the released multi-upload? :)

[2019-02-03 17:20] erquhart commented on #475
Agreed. There's a similar issue with more info, and the real challenge is outlined in a comment there: https://github.com/netlify/netlify-cms/issues/54#issuecomment-424154915

tl;dr: paginated endpoints are a challenge. But we could do it easily enough with GitHub.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-03 18:39] jakegore opened #2057 "Error when creating preview"
**Describe the bug**
I am trying to use a react component as a live preview with gatsby and the netlify-cms npm package. I think I have set it all up correctly, but in the preview window, it doesn't display the template and it says:
[code]

**To Reproduce**

Make a new gatsby project with my files and try to edit a 'page' collection in the netlify cms admin panel.

**Expected behavior**
It would p

[2019-02-03 19:36] Undistraction commented on #2007
I'm on holiday away from my machine, but my issue is the same as @zanona's. Root level of a collection but for me it was a yaml front matter field in a markdown file.

Before save:
[code]
After save:
[code]

[2019-02-03 22:11] joallard commented on #716
Hmm, I'm not sure if I understand `identifier_field` right, but indeed, there would need to be some kind of unique identifier that's not an object (uuid, serial int, string). Initially I thought that would be naturally the slug, but as the slug often follows the localized title, maybe not. (I'll update my example)

[2019-02-03 22:47] erquhart commented on #2016
Looks like this just never happened, `identifier_field` was introduced for slug purposes. That said, it makes sense that the identifier field would be used in the collection view, so if nothing else it feels like a bug.

#2016 should fix, mind giving it a whirl to confirm?

[2019-02-03 22:51] erquhart commented on #1989
The only place you need a unique identifier in the CMS is for slug (filename) creation, and the `slug` config field already supports field name interpolation.

[2019-02-03 22:57] erquhart commented on #2019
We should have some consensus on the resulting API before time is invested in a PR.

[2019-02-03 22:59] erquhart commented on #1982
#1936 resolves this, and is very close to merge ready. If you're up for reviewing that would help!

[2019-02-03 23:05] erquhart commented on #2056
This is about the sidebar UI and not about underlying file placement, correct?

[2019-02-03 23:16] erquhart commented on #716
@joallard do you know of any static site generators that handle localization this way? The examples I'm aware of expect a separate file for each translation for repeatable content like blog posts.

[2019-02-04 00:53] adeelibr opened #2059 "App Support to install NPM peerDependencies"
**Is your feature request related to a problem? Please describe.**

I have a repo that manages the src/ code of the library along with the documentation portal code as well. In my case I can't have some packages in my dependencies section of package.json.

So I need to put them in my peerDependencies section, but when I execute the `build` command, the peerDependencies don't get installed & my bui

[2019-02-04 05:01] sddaniels opened #2060 "Customize plugins in markdown widget toolbar dropdown"
**Is your feature request related to a problem? Please describe.**
The `markdown` widget allows you to customize the buttons on the toolbar in the editor, but it does not allow you to remove any plugins that appear in the dropdown such as "Image". For example, if a developer is saying that only bold and italics are appropriate, it's unlikely that an embedded image would be appropriate either.

**D

[2019-02-04 08:51] Undistraction commented on #2056
@erquhart That's correct. It feels like we should be able to group collections in the sidebar. This would have no effect on file location, only on the grouping of the collections in the sidebar. Even just a single level of grouping would be really helpful. So to make my above outline a little clearer:

[code]
The ideal would be able to group collections within other collection items, but I think t

[2019-02-04 08:56] Undistraction commented on #1989
@erquhart Yes I was talking about interpolation as providing a way to make an entry title unique when there isn't a single field that can do this. In my example, there might be multiple users with the same first or last names, but by combining the two, a unique title for the entry can be arrived at.

[2019-02-04 10:37] G-T-P commented on #2008
Yes I can confirm that it is not specific to the grid view.

[2019-02-04 15:59] growdigital commented on #1339
@erquhart it’s subtly different! Making interface responsive is on the road to making it mobile friendly, as not dealing with issues with Slate editor on Android. hth 🙂

[2019-02-04 16:25] betatim opened #2061 ""add to your site" link broken on docs page"
**Describe the bug**
Links to the "add to your site" tutorial on https://www.netlifycms.org/docs/intro points to https://www.netlifycms.org/add-to-your-site/ instead of https://www.netlifycms.org/docs/add-to-your-site/ when visited from the "Docs" entry in the navbar on https://www.netlifycms.org/. If I directly open the docs page (or refresh it) the links are correctly generated.

Same for https:

[2019-02-04 16:50] erquhart commented on #2059
Having a hard time understanding your use case. You're maintaining a fork of Netlify CMS?

[2019-02-04 16:53] erquhart commented on #2060
Man our docs _really_ need improved discoverability 😅

The [Editor Components API](https://www.netlifycms.org/docs/custom-widgets/#registereditorcomponent) does exactly this. Only components that you register will appear in the dropdown.

Unfortunately, the `Image` component can't be removed, the CMS currently depends on it, but that's definitely something we'd like to change.

[2019-02-04 17:08] adeelibr commented on #2059
Sorry bad choice of words, I had a React library that I was bundling with rollup, I had to set the `NODE_ENV` to `development` in my netlify build so that the dev dependencies would have installed.

The problem has been solved.

This might have not been the appropriate place to ask this question. :) Stalkoverflow was 😅

Reference to my question here https://stackoverflow.com/questions/54502468/con

[2019-02-04 17:08] #2059 closed

[2019-02-04 17:14] erquhart commented on #2056
Yep, got it. The challenge here is that file collection items, like "About" and "Contact" are listed in the main area of the Collections view when you click their parent collection ("Pages"). With the model you're suggesting, this would no longer be the case and the entire collection would be listed in the sidebar.

I don't think this is a bad idea necessarily, as file collections are generally li

[2019-02-04 17:23] erquhart commented on #1989
Do you agree that #2019 would cover it?

[2019-02-04 17:31] erquhart commented on #1339
I'd say this issue is more specific, while that issue covers both responsiveness and mobile-specific bugs. From the OP:

I think we can cover both in that issue since there's not any traction anyway, and break down to separate issues if someone commits to tackling a specific concern.

[2019-02-04 17:35] Undistraction commented on #1989
@erquhart I'm not sure a clear solution is proposed in #2019, but I guess it falls under the same needs - to have more control over customising what is displayed in an entry card. I see I've already mentioned the idea of interpolation in that thread, so I'll close this in favour of that.

[2019-02-04 17:35] #1989 closed

[2019-02-04 18:17] tomrutgers commented on #2061
I can not reproduce this. Can you test if clearing your cache helps?

[2019-02-04 18:21] erquhart commented on #2061
Not sure if this is Firefox specific or just coincidence, but if I hit the link to go to the docs intro page in Chrome, I end up at `/docs/intro/`, while Firefox goes to `/docs/intro` - note the lack of a trailing slash.

Many of our internal links are relative, eg. `../add-to-your-site` - from `/docs/intro/` that's `/docs/add-to-your-site`, but from `/docs/intro` it's `/add-to-your-site`.

We eit

[2019-02-04 18:22] erquhart commented on #2061
Lol aaaand of course there's a plugin: https://www.gatsbyjs.org/packages/gatsby-plugin-force-trailing-slashes/

[2019-02-04 19:48] jakegore commented on #2057
Nevermind, I'm pretty new to Netlify CMS and I make a silly mistake. In `src/cms/preview-templates/index.js`, I was using the `widgetFor` parameter wrongly. I referred to the docs and now I understand :)

[2019-02-04 19:48] #2057 closed

[2019-02-04 19:50] talves commented on #2057
Also entry.getIn(['data', 'heading']) ==> entry.getIn(['data', 'main', 'heading']) , right ?

[2019-02-04 20:04] erquhart commented on #2061
Didn't work.

I did find the actual actual issue though: we were explicitly setting the links for the top nav with no trailing slash, so if you navigate to a page using those links, the relative links on that page will be incorrect as described above. Happens in Chrome, too.

Also found a gem of a link that goes to the contributors guide in a very old version of the site, from which point all link

[2019-02-04 20:25] erquhart commented on #2008
Argh can't log in to bitbucket, will follow up once I work things out with their support team.

[2019-02-04 20:37] tomrutgers commented on #2008
If you need me to test just let me know @erquhart

[2019-02-04 21:31] FredrikSigvartsen opened #2063 "Relation with valueField: title looses relation on update"
**Describe the bug**

I'm using NetlifyCMS and GatsbyJS. I'm having a problem to make it easy for the customer to make relations through other pages with the relation-widget in Netlify CMS. The problem appears when the customer is updating the title field:
`- {label: "Product category", hint: "Search category name", name: "productCategory", widget: "relation", collection: "categories", searchField

[2019-02-05 14:42] Undistraction commented on #54
It seems to me that currently we have paginated entries, but at the expense of:

- ability to order entries
- ability to filter entries
- ability to search entriea

Implementation of the above three items is a pretty critical feature for any CMS if it is to scale at all. Given that it seems that it is unlikely that the above three features are going to be implemented across all backends due to dif

[2019-02-05 14:46] #2061 closed

[2019-02-05 16:12] erquhart commented on #2008
Tried with a collection of exactly 11 items, scrolling down loads the 11th item. Tried in grid and list, with Safari and Firefox, with different browser window sizes. Can't reproduce 😕

[2019-02-05 18:09] erquhart commented on #1877
@gil-- I think I misread this initially - you can use the list widget for this, defining fields just as you currently do with the object widget.

[2019-02-05 18:44] erquhart commented on #531
Forget the boolean thing I said before, we should apply the `field`/`fields` approach from the list widget to the collection config.

**`fields` vs. `field`**

Here's the list widget using `fields`:
[code]

Here's the same widget config using `field`:
[code]

[2019-02-05 19:10] erquhart opened #2064 "MDX Support Requirements"
This issue serves as a collaborative space for outlining requirements for MDX support in Netlify CMS.

Related to #1776.

## Motivation
Netlify CMS works alongside static site generators (SSG's), and static site generators cater heavily toward Markdown as a content format. MDX is a superset of Markdown that uses JSX components for dynamic content, an approach already made viable by JavaScript base

[2019-02-05 19:59] erquhart commented on #1339
Thanks Jake!

[2019-02-05 20:03] erquhart commented on #2060
Ah, I see what you mean - it'd be incredibly simple to do. Going to close this as a duplicate of #1788, but I'll add some labels over there to get better visibility for it.

[2019-02-05 20:03] #2060 closed

[2019-02-05 20:03] erquhart commented on #1788
If anyone is looking for a starting point, this is a _great_ first issue.

[2019-02-05 20:31] erquhart commented on #2063
There's the potential for this to get hacky, though. UUID is a straightforward use case, but if we add other placeholders, like field names, it will be odd when edits to those fields don't impact a hidden field that uses them in interpolation. And when you consider that case, it becomes clear that we're not really looking for defaults, but values that are set or updated based on the situation. Whi

[2019-02-05 20:33] sddaniels commented on #1788
Apologies for my dupe search not being extensive enough! I may pick this one up.

[2019-02-05 20:43] erquhart commented on #54
We didn't choose pagination - the Bitbucket and GitLab (and pretty much every normal API out there) returns paginated results. Some repos using Netlify CMS have thousands of entries in a single collection, so requiring that they all be loaded up front is a non-starter. As GitLab and Bitbucket support were the most requested features by a wide margin, we had to take the good with the bad.

Again, w

[2019-02-05 21:09] Undistraction commented on #54
I agree, and I appreciate that most apis will paginate results, that's why I'm suggesting making pagination something that can be opted out of. For many, probably the majority of cases, there is little or no need for pagination, and it would be fine to load everything up front. Just suggesting that by allowing a collection to opt out of pagination, it could at the same time opt-in to ordering entr

[2019-02-05 21:11] erquhart commented on #1788
No problem! Here's a good starting point - it's the line where we pass the `buttons` from the markdown field configuration to the toolbar to customize which buttons appear (bold, italic, etc). The `field` object is an Immutable Map of the current field configuration. `components` would probably be a good config key for this.

[2019-02-05 21:14] Benaiah commented on #54
Opting out of pagination by loading all posts up-front is possible - there’s existing code to do so for search in the GitLab and BitBucket backends. It could be an option for small sites, though the latency upfront can become large very quickly. The CMS would also have to load them every time it detects a change in the repo, meaning this cost would be incurred multiple times in a single CMS sessio

[2019-02-05 21:18] Undistraction commented on #2063
@erquhart I guess we are talking about several cases:

1. One-time events like UID creation.
2. Dynamically generated fields, like an entry-card title that is built dynamically from interpolating existing fields.
3. Fields build from interpolating the values of other fields.

I think the first two are good candidates, the third is, as you outline more problematic, because the result of the interpo

[2019-02-05 21:19] erquhart commented on #54
That's where [commit diffing](https://github.com/netlify/netlify-cms/issues/54#issuecomment-432471818) comes in.

[2019-02-05 21:21] Undistraction commented on #2063
@erquhart Here is the issue I think you're thinking of: https://github.com/netlify/netlify-cms/issues/1975

[2019-02-05 21:40] Undistraction commented on #2063
@FredrikSigvartsen The way I'm currently handling your problem is with a UUID widget that creates a field with a unique id for each collection item. The UUID will never change, so I use that as a stable connection for relations. The problem with this approach is that due to an existing bug, you cannot use another field to represent that relation to your users, so they will see each relation listed

[2019-02-05 21:45] Undistraction commented on #2050
@ChandlerMBing This is a Gatsby issue, not related to Netlify CMS

[2019-02-05 22:01] sddaniels commented on #1788
Thanks! I briefly looked through the button customization PR also, so hopefully I'm GTG.

[2019-02-05 22:41] #434 closed

[2019-02-05 22:54] erquhart commented on #2063
Note, the display value issue will be addressed in #1936, which should merge soon.

@Undistraction how are you handling the display of your UUID widget? Is it visible?

[2019-02-05 22:58] erquhart commented on #1449
I'd really love for that to be fixed on the Gatsby side, Netlify CMS isn't the only entry point where that pain is felt.

[2019-02-05 23:16] Undistraction commented on #2063
@erquhart Yes. It is visible. I couldn't find a way of preventing it from displaying. I'd post the source here but I don't have access to it at the moment.

[2019-02-05 23:19] erquhart commented on #2063
Got it. Just curious to know how you were handling it.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-06 03:53] adamwatters commented on #2006
First time contributor - hope I did ok!

[2019-02-06 08:50] FredrikSigvartsen commented on #2063
Thank you guys for good answers.

@Undistraction , since this uuid widget is not yet available, do you have an (code) example of your Custom UUID Widget?

[2019-02-06 09:02] Undistraction commented on #2063
@fredriksigvartsen on holiday with no access to my code, but take a look at the link in my above reply. I based it on the code outlined in that issue.

[2019-02-06 09:10] ChandlerMBing commented on #2050
Thanks for explaining the issue, I shall brace myself for the rabbithole then.

[2019-02-06 09:26] Undistraction commented on #2050
@ChandlerMBing My advice is to concentrate on getting a single image working. That error is occurring because the image file doesn't exist at the path, so it is left as a string instead of being transformed into an image node. While trying to get it working, make sure you keep clearing Gatsby's cache so that it re-evaluates any changes. I would advise you first make sure images are loading and dis

[2019-02-06 16:20] wyhaines commented on #1985
I had not noticed that they are missing until the next deploy because my infrastructure autodeploys. So I am just adding my me-too comment here -- I am living with this, and since my infra auto-deploys it typically takes less than 30 seconds for the images to be available on a refresh, but it's kind of an ugly "feature" for a non-technical-user to have to accept.

[2019-02-06 18:08] ChandlerMBing commented on #2050
@Undistraction  That's the thing, in production and in the cms it works just fine, it only breaks when I run gatsby develop.

[2019-02-06 18:51] araphiel commented on #263
Is anyone already working on this?

If not, I can contribute.

[2019-02-06 21:03] FredrikSigvartsen commented on #2063
Thanks, solved the issue with the hacky UUID.

This is the custom widget I used:
[code]

Looking forward to the fix regarding the displayValue.

[2019-02-06 21:08] Knaackee commented on #2026
Sorry for the late reply.
React just released version 16.8 today.
This version contains hooks.

[2019-02-06 21:17] erquhart commented on #2026
Yep, stable now. We'll take a PR to upgrade React packages to 16.8.

[2019-02-06 21:18] erquhart commented on #263
That'd be great - what do you have in mind?

[2019-02-07 10:20] mrfoster commented on #1737
I have been using the technique described here:
https://www.netlify.com/docs/netlify-toml-reference/#caveats

e.g. edit netlify.toml to something like this
[code]

[2019-02-07 15:27] talves commented on #2026
@erquhart do you see the PR being anything other than bumping the versions? I think we should make it a priority.

I will take it.

[2019-02-07 19:41] tonymwaruka opened #2066 "Modify field in config after creation"
**Describe the bug**

I originally created a list widget for images (repeatable). Everything worked as expected. I then realized that I needed to add an `alt` tag so I went back to the `list` widget and modified it. Here is what I had before:

[code]
I updated `Logos` to:

[code]
**Error**

`TypeError: e.get is not a function`

**Expected behavior**

After running local dev, the cms should have th

[2019-02-08 02:13] lmcorreia opened #2067 "Incorrect handling of empty number input"
**Describe the bug**
When saving an entry with a number field, with the `Number` widget, if the field is empty, the value saved on the frontmatter will be `myNumberField: .nan` - as previously reported in https://github.com/netlify/netlify-cms/issues/1450

**To Reproduce**
1. Add an entry on a collection with a `Number` field.
2. Write a value on the aforementioned field (so the field is tracked i

[2019-02-08 02:14] lmcorreia commented on #2067
I found this while working on https://github.com/netlify/netlify-cms/issues/2017. I'll be submitting a PR to fix this bug asap.

[2019-02-08 02:19] lmcorreia commented on #2017
@erquhart Besides this thing that I found reported on #2067, I also found that if input fields are left untouched (at least) when creating a new entry, these won't be featured in the global state and thus will not be part of the serialized data handed to the backend class for persistence. So, technically, if you create a collection with a non-required field, you can happily create entries for whic

[2019-02-08 02:20] erquhart commented on #2026
Yep just a bump of the react packages.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-08 13:32] schalkventer commented on #386
@erquhart, by manual init do you mean via `import { init } from 'netlify-cms';`? I'm using it in one project and have yet to run into any issues.

[2019-02-08 14:41] maxacarvalho opened #2069 ""Your GitLab user account does not have access to this repo" even though I'm repo owner"
**Describe the bug**
I have two websites based on VuePress and using Netlify CMS as backend.
One of these is working just fine.
The other one (https://help.kooomo.com) is giving me an error like `Your GitLab user account does not have access to this repo.` even though I'm the repo owner.

There's a difference on the workflow, for the first website, the one that's working, things happened like this

[2019-02-08 15:53] AdamSzakal commented on #1234
+1

[2019-02-08 16:25] maxacarvalho commented on #2069
I found out that the **problem** lies on the fact that the project will not have explicit members since the members are being inherit from the Group above.
I don't know if this is an issue on the Gitlab or Netlify CMS side.

[2019-02-08 17:27] #372 closed

[2019-02-08 17:35] erquhart commented on #2006
I mentioned this on @adamwatters' (awesome) PR, but I missed that this will be a breaking change, as folks' build systems will be configured to handle slugs in the current way. I happened to run into this issue in the deploy preview links PR (#2028), which introduces `preview_path`, a field that works exactly the same as `slug`. It was critical for static parts of `preview_path` to be completely u

[2019-02-08 17:42] erquhart commented on #1985
We used to hold onto the local file object and reuse that, but if you refreshed before your deploy completed, the image was gone, and the experience was even more confusing because it was working at first.

The route we've been using instead is to pull the image through the API, but it's a pain when the image is huge, so we need to augment with generating thumbnails and pushing those to the backen

[2019-02-08 17:45] erquhart commented on #1737
@robsonsobral https://github.com/netlify/netlify-cms/issues/1795#issuecomment-433070447

[2019-02-08 18:54] erquhart commented on #1795
@Brondahl revisiting this one.

I don't think this issue is broader than #1737, just different. The approach championed here is for devs doing local work on the CMS, whereas #1737 would work for non-technical editors creating content(who wouldn't be creating their own local `config.dev.yml`).

I'd like to hear from other CMS implementors who feel this would be valuable. @talves, @tech4him1, @barth

[2019-02-08 19:04] erquhart commented on #1737
@Undistraction this is a tough nut to crack. The big questions to me are:

- How do we make this work for any environment (not just Netlify)?
- How does it impact the editorial workflow (which creates branches and submits pull requests)?

Parsing an environment name from a url is a fair enough approach, and platforms like Netlify can handle this without configuration (eg. when using Git Gateway ba

[2019-02-08 19:09] erquhart commented on #2066
Not a bug, Netlify CMS doesn't know what a value used to be, only what it is now. You created a list of strings with the list widget, then attempted to read the list of strings into a list of object widgets, which expects individual objects. The CMS then tried to run `.get` on your strings, expecting them to be immutable maps, hence the error.

If you need to transition values this way, and you do

[2019-02-08 19:28] erquhart commented on #386
Yeah that's the one. So the way you do JavaScript config, in case you haven't tried it:

[code]

It's overwritten by `config.yml` if that file is present, but this behavior can be switched off starting with the next release: https://github.com/netlify/netlify-cms/pull/2053

The reason we can't pull in a `config.js` file the way we pull in `config.yml` is because yaml/toml/json are string formats t

[2019-02-08 19:31] talves commented on #1795
**Facts:**

- Backend `backend:` configurations are specific to the registered backend you are using
- Not all backends will have a `branch` value or context
- Any backend (core or custom) can have any configuration you want

**Assumptions:**

- Any configuration `config.yml` read into the CMS at the time of load or init should be final

**Solution(s):**

1. Override your config using manual init

[2019-02-08 19:31] erquhart commented on #2069
Sounds like a bug in our GitLab backend, would definitely welcome a PR to address. The related code is here:

https://github.com/netlify/netlify-cms/blob/a9f69f9ddc738db804ea3fd3e8b8b8a38aa6619f/packages/netlify-cms-backend-gitlab/src/API.js#L81-L91

[2019-02-08 19:32] barthc commented on #1541
@erquhart  I suggest will allow the `PreviewHOC` to update on changes to `fieldsmetadata` , until we refactor the widgets handling.

[2019-02-08 19:56] erquhart commented on #1541
I thought someone had a PR up that did that, but not seeing it right now. I definitely agree, we'd just need to guard against performance issues during implementation.

[2019-02-08 20:01] #2048 closed

[2019-02-08 20:07] jpray opened #2070 "Support for AWS CodeCommit"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I am wondering if it support for AWS CodeCommit has been considered.  Based on their [API docs](https://docs.aws.amazon.com/codecommit/latest/APIReference/Welcome.html), how hard might it be to add it?

**Describe alternatives you've considered**
None

**Additional context**
I love this proj

[2019-02-08 20:12] talves commented on #2070
This is a good question. It would definitely be feasible. How hard is relative to knowledge of the API and writing a custom backend for the CMS.

[2019-02-08 20:38] erquhart commented on #2070
I can hardly imagine a service that one could not create a backend for, the question is how robust that backend can be. CodeCommit doesn't really provide a Git API, so you can't work directly with blobs and trees, or even make commits (only directory via `PutFile`.

Almost certainly possible to do, just need to work through the caveats.

[2019-02-08 20:42] talves commented on #2070
What other commits would be missing?

[2019-02-08 21:07] erquhart opened #2071 "3.0 Checklist"
Collection of breaking changes that are waiting for 3.0 (please comment if you have others):

- Drop "cms.js" files in distribution
- Manual init without a global flag (maybe config based? or different package?)

[2019-02-08 21:39] erquhart commented on #2070
For example, we want to do multiple files per commit for batching content in the workflow, but we can't with this API, as we don't control commits. You create or update a single file at a time and their platform generates the commit.

[2019-02-08 22:48] hamandhoney opened #2074 "Error: Loading chunk 1 failed. (error: …/admin/dist/1.netlify-cms.js"
I’ve started getting this message after logging in.

Latest version.

Sorry!

There's been an error - please report it!

Error: Loading chunk 1 failed. (error: https://www.example.com/admin/dist/1.netlify-cms.js)

[2019-02-08 23:08] erquhart commented on #2074
Working on a fix right now.

[2019-02-08 23:21] jamezrin commented on #1669
In the Inferred approach, for tracking the status would it be a good idea to use labels specific to the CMS?

[2019-02-09 01:36] jpray commented on #2070
That makes sense.  CodeCommit is pretty lackluster overall, and the limited API is a bummer.  It's really cool that Netlify CMS can use such APIs right from the frontend.  Has there been discussion around having an optional backend app that that would work on a local version of the repo and then push those changes to cloud git instances?  A more complex setup, but maybe it would simplify the inter

[2019-02-09 01:49] BintLopez commented on #2074
Also experiencing this behavior

[2019-02-09 02:40] talves commented on #2070
@jpray I am in the works on something that uses that strategy. Eventually, I hope to release more info if I can get it off the ground.

[2019-02-09 03:15] ostrebler commented on #2074
Same here

[2019-02-09 04:14] erquhart commented on #2074
Fixed in [2.4.1](https://github.com/netlify/netlify-cms/compare/2.4.0...2.4.1).

[2019-02-09 04:14] #2074 closed

[2019-02-09 05:26] sanjogpandey commented on #2074
Sorry!
There's been an error - please report it!

Error: Loading chunk 1 failed. (error: http://localhost:1313/admin/dist/1.netlify-cms.js)

[2019-02-09 09:28] hamandhoney commented on #2074
Thanks for the quick fix

[2019-02-09 15:16] renestalder commented on #1795
Maybe, this helps someone. What I do is simply use a Netlify CMS config with placeholders, copying that file on every build to my admin folder and search/replace the variables. This allows me to automatically change the branch without the need to think about that. I always target the current branch I'm working on. I never work on the production branch that is deployed and where my customers edit t

[2019-02-09 15:25] jpray commented on #2070
I really like what you all have done with this CMS.  For now I'm using Github, but if the powers that be demand I bring things inside AWS, then perhaps I'll be able to spend time working on a CodeCommit integration.  Might be slower and generate an uglier git history, but it's good to hear that it should be possible.  Cheers!

[2019-02-09 16:03] lmcorreia opened #2075 "Standardized commits with commitizen support"
**Is your feature request related to a problem? Please describe.**
Coming from some time away from this project, it took me a bit to figure out everything I needed to do for my contributions to be ready for review without creating much hassle for the reviewers.

**Describe the solution you'd like**
Due to the problem briefed above, I think it would be beneficial to try to implement something like

[2019-02-09 16:25] Undistraction opened #2076 "Support Inlined Relations"
**Is your feature request related to a problem? Please describe.**
Currently we can use the relation widget to define a relationship to one or more other entries, but there is no way to edit that relation inline.

**Describe the solution you'd like**
I'd like a second kind of relation: one that can be edited inline. This would allow a relation to _appear_ to someone using the CMS to be a part of t

[2019-02-09 17:11] erquhart commented on #2076
Definitely agree, this is a long-standing request with complex requirements, but it's definitely on the roadmap.

Closing as a duplicate of https://github.com/netlify/netlify-cms/issues/192, please comment there if more details are needed.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-09 17:11] #2076 closed

[2019-02-09 17:33] talves commented on #1795
@renestalder this is exactly the way I would recommend someone think about their workflow.

The **best** option is the option that works for you. This is a very viable option and should be considered by those needing a solution if they want to change their `config.yml` based on branch

I have recommended something similar, but instead of the overrides, I just copied based on the context (branch) o

[2019-02-11 10:13] Shogoki commented on #1474
Hey guys, I am getting the same error message like @pandeybk.
I am running with the following backend settings:
[code]

I already have my own authentication server running (as is required and statet out by @tech4him1). If i server my site locally i can navigate to /admin and click on "Login with GitHub" and it´s logging me in. But when i deploy the whole site to GH pages I am getting the "No Auth

[2019-02-11 11:00] iprignano commented on #2008
I can reproduce the issue on Chrome. I don't think it's related to the Bitbucket API per se, but it has to do with how the infinite scrolling pagination is implemented.

For me, the easiest way to reproduce it is to have a window that is roughly as tall as the initial list of content fetched, which is 10 items. Infinite scrolling will work fine on the first page load. Then:

1. Click on a content

[2019-02-11 12:12] selrond commented on #2006
@erquhart well, that's unfortunate... I've settled on `___` (three underscores) but this definitely needs to get addressed or at least clearly documented - it's doing something unexpected with no obvious explanation

[2019-02-11 14:55] Shogoki commented on #1474
Okay, just forget about my last post. It was all my fault:
When using my own oauth server, I have to specify it in the config of course:
[code]

After adding this, it is working :-)
I´m just curious how it worked without that setting, when serving on localhost

[2019-02-11 17:00] schalkventer commented on #386
Yup. Unfortunately only realized this after my initial comment in this issue. However, I'm happy to attempt to add `.json` if that would resolve this issue?

[2019-02-11 17:42] erquhart commented on #2008
Thanks for digging into that @iprignano, it does seem to be a bug.

@barthc this behaves the same as the bug in #1744, any chance they're the same?

[2019-02-11 17:48] erquhart commented on #2006
Agreed, documenting would help until 3.0, would accept a PR if anyone is up for adding.

[2019-02-11 17:51] erquhart commented on #1474
When running Netlify CMS on localhost, a freebie auth server provided by Netlify (cms.netlify.com) is used by default:

https://github.com/netlify/netlify-cms/blob/bb84c793f59f9e8ef6ad141d86a3304fe215b349/packages/netlify-cms-lib-auth/src/netlify-auth.js#L84

[2019-02-11 18:00] #2067 closed

[2019-02-11 18:12] erquhart commented on #1450
I believe this is addressed in #2067, will release soon.

[2019-02-11 18:12] #1450 closed

[2019-02-11 18:26] danhalliday commented on #1999
Oh, you have to be signed in to these image services to use them? That makes these integrations pretty useless for my use case (client work), as I won't have much luck with many of them explaining they have to be logged into two services.

I don't recall reading that in the docs, perhaps it could be made clearer?

[2019-02-11 18:32] talves commented on #1999
@danhalliday A PR is always welcome to improve the documentation to make it clearer. Please let us know if you need help with where to find these documents in the project.

[2019-02-11 18:39] erquhart commented on #386
Resolving this issue should entail config support for all of the formats that Netlify CMS can parse, which is YAML, JSON, and TOML. Technically JSON is already supported, as YAML is a superset of JSON (so valid JSON is always valid YAML), but the CMS won't pick up a `config.json` file due to the extension. You can, however, work around this by [specifying the config path](https://www.netlifycms.or

[2019-02-11 18:42] kennedyrose commented on #1999
It looks like there's a way to pass an [authentication signature](https://cloudinary.com/documentation/media_library_widget#2_optional_generate_the_authentication_signature) to the widget to automatically login. Would it be possible to set this up with Netlify Identity somehow?

[2019-02-11 19:16] Undistraction commented on #2007
@barthc Not seeing this issue anymore with 2.4.1

[2019-02-11 19:40] talves commented on #386
Sorry, this is confusing. If you set it to manual init, the init config you pass is able to be read prior to the loading of the `config.yml`. Maybe I am misreading what you mean here.

[2019-02-11 20:01] erquhart commented on #1999
You could probably write a Netlify Function that checks Identity to ensure the user is logged in and has proper access, and then generates and sends back the auth signature. You would need to set the Cloudinary instance secret as an environment variable on the Netlify site.

Ideally the CMS would accept an API endpoint (URL to the Netlify Function) in the config, but being dependent on Netlify Ide

[2019-02-11 20:11] erquhart commented on #2007
That's awesome - @zanona can you confirm this is resolved for you in 2.4.1?

[2019-02-11 20:17] erquhart commented on #386
Context:

For example:

[code]

That ^^ would be ideal, but it can't work currently because Netlify CMS doesn't process _any_ configuration values until _all_ configuration has been registered, and then the final object is used to configure the CMS.

[2019-02-11 20:41] erquhart commented on #250
Perhaps the ability to provide a prompt for a specific event, like `publish`, would be a broad solution to this and maybe other issues we're not hearing about. It would be cool if I could create a React component that would show as a modal, and maybe my component would provide a checklist where the user has to check each box before being allowed to confirm and move forward with publishing. With ac

[2019-02-11 20:57] talves commented on #386
But that is where I am getting confused, because we do process the manual init prior to going after the `config.yml`. That is how I ignore the `config.yml` loading using the `load_config_file: false` flag.

We could just pass a `load_config_file_path` into the init and have that override the default file if it exists.

[2019-02-11 21:46] erquhart commented on #312
Closing as stale due to lack of activity and/or interest. Please comment if you feel this should be reopened.

[2019-02-11 21:46] #312 closed

[2019-02-11 21:50] erquhart commented on #504
This was mostly addressed in #1236. The remaining issue of header levels 3 - 6 is covered specifically in #1851.

[2019-02-11 21:50] #504 closed

[2019-02-11 22:13] barthc commented on #2008
@erquhart  I cannot reproduce the gif from my end. @iprignano what's your CMS version?

[2019-02-11 22:48] erquhart commented on #1025
Tangentially related to #192.

[`react-beautiful-dnd`](https://github.com/atlassian/react-beautiful-dnd) is a higher level library than our current one (`react-dnd`), and I've been wanting to migrate to it for some time. It includes drag and combine functionality - dropping an item onto another item to create a group - that would fit the bill perfectly: https://react-beautiful-dnd.netlify.com/?sel

[2019-02-12 01:38] sharonrk opened #2081 "Netlify CMS with bitbucket server"
**Is your feature request related to a problem? Please describe.**
Yes. I would like to use Netlify CMS with Bitbucket server. I first tried to set it up with OAuth but ran into issues there, mainly because I didn't want to use Netlify Auth. The other approach that would probably be even better for me is there would be able to be support to just use the bitbucket cookies which are supported out of

[2019-02-12 01:48] sharonrk opened #2082 "Allow user to set commit prefix"
**Is your feature request related to a problem? Please describe.**
Not really.

**Describe the solution you'd like**
Looking for the capability to enable the user to prefix the commit message with a custom string. I would be using this to tag commits back to our issue tracking system.

**Describe alternatives you've considered**
Can't think of one.

**Additional context**
This seems similar to ori

[2019-02-12 07:37] zanona commented on #2007
Hi, @erquhart. I'm afraid not, unfortunately :(

![image](https://user-images.githubusercontent.com/32017/52619034-da158800-2ea0-11e9-8c95-bce007e21c31.png)

**config.yml**
![image](https://user-images.githubusercontent.com/32017/52619115-2d87d600-2ea1-11e9-894a-9f3ddd9662ba.png)

[2019-02-12 08:16] Undistraction commented on #2007
@zanona You don't have a `valueType` set, so it will save as a sting. Add a `valueType` of `int`.

[2019-02-12 08:48] iprignano commented on #2008
@barthc I was on `2.1.3` – I didn't try to upgrade before reporting the issue because I didn't see anything related to it in the changelog. My bad! I've updated to `2.4.1` and the behaviour seems fixed now. Thank you and thanks @erquhart for the prompt response.

[2019-02-12 08:51] zanona commented on #2007
I'm afraid nothing changes, @Undistraction.
I have had it set before but disabled since it wasn't working.

![image](https://user-images.githubusercontent.com/32017/52622316-d5a19d00-2ea9-11e9-9f5d-23621972c6dd.png)
![image](https://user-images.githubusercontent.com/32017/52623071-a855ee80-2eab-11e9-9644-5922bc86184c.png)

[2019-02-13 08:04] Knaackee commented on #2026
Should it work now? I just updated the packages but still getting

`Hooks can only be called inside the body of a function component.`

Is there any release date ?

Thank you very much!

[2019-02-13 13:31] erquhart commented on #2026
It's working as of 2.4.1 - that error means you're calling Hooks from somewhere other than the body of a function component.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-13 14:37] erquhart commented on #1984
Closed in #2089.

[2019-02-13 15:00] erquhart commented on #1967
@mikhailbot I believe your concerns are predicated on the API secret being made available in the Netlify CMS `config.yml`. **This is not the case.** Only the cloud name and api key are. These details alone provide no access whatsoever to any aspect of a user's Cloudinary cloud or account.

[2019-02-13 15:08] erquhart commented on #1967
If you don't like storing these details in a plain yaml file, you can pass them direct to the CMS at runtime via [manual initialization](https://www.netlifycms.org/docs/beta-features/#manual-initialization). Configuration passed in this way has the `config.yml` object merged over it, so you can pass in just the media library details this way and let the rest of your config remain in `config.yml`.

[2019-02-13 15:08] #1967 closed

[2019-02-13 15:17] #1541 closed

[2019-02-13 15:35] erquhart commented on #1967
Definitely agreed, documentation reflecting that would help. I'll put it on the list, but if you're up for opening a PR we'll take it!

[2019-02-13 15:56] erquhart commented on #445
**Update:**

Some SSG's, like Jekyll, respect a `slug` value in the frontmatter. Until recently the `{{slug}}` built in placeholder made it impossible to reference a field named slug in your `slug` configuration, but as of Netlify CMS 2.4.2 you can now do `{{fields.slug}}` to reference a field by that name. That means you can control your filename in a predictable way:

[code]

It's manual, but it

[2019-02-13 16:07] erquhart opened #2092 "We need guides."
We need to write a whole lot of guides and pile them into the docs.

Let's keep a list of topics here. Suggest topics via comments, use reactions to +1 your favorites.

- [ ] - Controlling Filenames

[2019-02-13 16:38] erquhart commented on #1280
Closing - current priorities can be tracked here: https://github.com/netlify/netlify-cms/projects/7

[2019-02-13 16:38] #1280 closed

[2019-02-13 16:42] erquhart commented on #766
External login is an upstream issue for https://github.com/netlify/netlify-identity-widget, not something we can handle here. Closing.

[2019-02-13 16:42] #766 closed

[2019-02-13 16:54] erquhart opened #2093 "Support OSS Documentation Contributors"
Most OSS Docs sites direct content editors directly to GitHub for contributions. Netlify CMS could work really well as an open CMS if we add a few features. Because most OSS Docs are currently on GitHub, we can focus support efforts on that backend for now.

## Issues

- https://github.com/netlify/netlify-cms/issues/2096: Forking in the editorial workflow
- https://github.com/netlify/netlify-cms/i

[2019-02-13 17:30] Tasemu opened #2094 "Generate markdown files locally"
**Is your feature request related to a problem? Please describe.**
I cannot run netlify cms in develop mode locally and create md files from the admin panel.

**Describe the solution you'd like**
I would like to be able to run my gatsby site locally and log in to the admin panel and create some pages, then i would like to be able to have those pages generated on my file system so i can push them s

[2019-02-13 17:35] verythorough commented on #2093
As brought up in the community dev call this week, one consideration we'll want to keep in mind for this is how to have contributions show on the contributor's GitHub profile.

[2019-02-13 17:52] talves commented on #2094
@Tasemu I have created a file-system backend for Netlify-CMS and a [starter example here](https://github.com/ADARTA/gatsby-starter-netlify-cms)

There are some things you need to do to make this setup work. I will try to document them in the readme and link here in awhile. Today is a good day for me to get to it.

[2019-02-13 18:46] talves commented on #2094
@Tasemu I have updated the readme to show how to add it to your Gatsby project that already has Netlify CMS.

I am going to close this issue. If you have any further questions, [you can always also go to the community gitter](https://gitter.im/netlify/NetlifyCMS)

[2019-02-13 18:46] #2094 closed

[2019-02-13 19:05] danchristian commented on #391
What is the lastet on this issue?

[2019-02-13 22:50] erquhart commented on #391
#1936 will more or less resolve this issue.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-13 23:15] erquhart commented on #391
Actually this requires the relation widget to select values from a single entry rather than the current behavior of selecting the entire entry. There's an issue somewhere but I'm not seeing it atm. Also root level arrays in data files would also make sense with this.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-14 16:54] talves commented on #2026
@Knaackee you are correct. You will not be able to use hooks until we find a solution for using the same instance of react.

[2019-02-14 17:02] erquhart commented on #2093
@verythorough turns out the GitHub backend _does_ open the PR with the user's own account, so we're covered 👍

[2019-02-14 18:15] Neddz commented on #2026
I am having the same issue, my component works everywhere and with other libraries except when I use it in the `registerPreviewTemplate`.

I am getting the same error that people above:
`Hooks can only be called inside the body of a function component.`

[2019-02-14 18:22] talves commented on #2026
@Neddz Is the component using hooks? If so, it will not work until we find a solution.

[2019-02-14 18:23] Neddz commented on #2026
@talves It is, I just wanted to confirm that this is happening to me as well and it is not a problem in the component itself.

[2019-02-14 21:33] erquhart opened #2096 "Forking in the Editorial Workflow"
Netlify CMS backends currently only work if you have write access to a repository. If you don't have write access to a repository, contributing generally involves:

- creating a fork
- committing changes in a new branch
- opening a pull/merge request in the source repo

Git hosts support forking via API, so Netlify CMS should be able to facilitate editing content through forking and pull requests.

[2019-02-14 22:50] talves commented on #2026
@erquhart I made a PR of what I am proposing for a fix.

I created #2097 to have `netlify-cms-core` use react, react-dom as peer dependencies.
There is a proposed new bundle build that will be a manual init build (`dist/netlify-cms-manual-init.js`) with react and react-dom as an external dependency, so we can import the library into a custom build that can use react hooks and allow for the CMS to

[2019-02-15 12:09] Arenal94 commented on #800
How is the status of this feature? I'm in the same use-case.

[2019-02-15 16:34] talves opened #2098 "React 16.8.1 `ref=` warning"
**Describe the bug**

`EditorInterface.js` line 190: `ref={c => (this.controlPaneRef = c)}` seems to be the cause.

![image](https://user-images.githubusercontent.com/784848/52869229-0841d480-30fa-11e9-92a4-37f122c54a4f.png)

**To Reproduce**

Example to be provided.

See: https://reactjs.org/docs/forwarding-refs.html#forwarding-refs-to-dom-components

**Expected behavior**

Not to see a warning i

[2019-02-15 16:36] engmagdy87 opened #2099 "Missing Images in collections"
**Describe the bug**

images are missing in collections
**To Reproduce**
**Expected behavior**

found images
**Screenshots**

![capture](https://user-images.githubusercontent.com/8473421/52869900-6056f600-314f-11e9-81d0-f2f22bd22724.PNG)

**Applicable Versions:**

 - Netlify CMS version: 2.0.0
 - Git provider: GitHub
 - OS: Windows 10
 - Browser version : chrome 72

**CMS configuration**

https://

[2019-02-15 17:30] josephmaxim opened #2100 "NextJS Support?"
Anyone successfully used netlify-cms with NextJS? been searching online and nobody seems to have done it. or is it even possible?

[2019-02-15 18:20] tomrutgers commented on #2099
Try adding `public_folder: /images` to your config

[2019-02-15 19:22] erquhart opened #2101 "Aluminum Dev Cycle"
**Aluminum** is our first six week development cycle. We need some way to reference cycles, so we're going to try naming them after elements from the periodic table. First up, A is for Aluminum!

Aluminum will focus on our goal of facilitating Open Source Docs contributions through Netlify CMS as a less technical alternative to writing docs directly in GitHub. We'll also be digging into long stand

[2019-02-15 19:41] engmagdy87 commented on #2099
@tomrutgers
not solve the problem

[2019-02-15 21:47] erquhart commented on #386
True, guess we could just toss in the logic.

[2019-02-15 22:17] erquhart commented on #2008
@G-T-P can you confirm whether this is still an issue for you in 2.4.1 or later?

[2019-02-15 22:35] erquhart commented on #800
The fundamental issue is that relations work by searching for a specific field in each entry of a collection. File collections don't share the same field configuration.

That said, I suppose we could just implement it with the understanding that we're expecting specific fields to be present in all entries, eg. they all have a "name" field.

[2019-02-15 22:37] erquhart commented on #2098
Oh yeah we have to update to the new refs methods, good point.

[2019-02-15 22:53] erquhart commented on #2100
Netlify CMS is designed to work with static site generators, but it doesn't support specific tools - it just edits static content and data files, such as Markdown and YAML, with no opinion or requirement regarding _what you do_ with those files. Folks normally build website content from those files using a static site generator. Next.js has static site generation capabilities, but it doesn't have

[2019-02-15 23:00] erquhart commented on #2099
Those are just `img` tags built using the `public_folder` value provided in your config, see what the `src` is for the image and compare that to what it should be, then update your `public_folder` accordingly.

[2019-02-16 00:12] tomrutgers commented on #2099
@engmagdy87 I cloned your repo and deployed it to Netlify. The images from your data aren't loaded, but if you add the images through the CMS now that you updated the `public_folder` property it works just fine. So upload all the images through the CMS and save the entries, it should solve your problem.

[2019-02-16 12:06] ilrock commented on #2069
Hey folks! I'm experiencing something similar on GitHub as well. I'm the repo owner of a private repo and I do get the same error message.

[2019-02-16 12:59] engmagdy87 commented on #2099
@tomrutgers I know that if i upload the image through CMS will appear but if I return to home page of CMS and re-open this new entry, the image didn't appear

[2019-02-16 13:17] engmagdy87 commented on #2099
@erquhart the images are relative to the build version
as u can see, the images path have different paths
_.... static/**hash code**/d11cd_

https//gallant-yalow-4e9586.netlify.com/**static/c099947427c4f5325dc60a1ef0ff478a/d11cd**/46801476_529836307497437_5626754504650129408_n.jpg

https//gallant-yalow-4e9586.netlify.com/**static/f951aaa0fdc38766665de06ed1102cbb/d11cd**/46895052_1935869916507627_7

[2019-02-16 13:46] engmagdy87 commented on #2099
@tomrutgers @erquhart
when I build project locally, i found static folder inside public folder(which is build folder) that each image has many versions and i think this is due to using fluid images in gatsby

[2019-02-16 16:17] tomrutgers commented on #2099
Yeah, at this point I'm pretty sure your problem isn't caused by Netlify CMS

[2019-02-16 17:20] Arenal94 commented on #800
@erquhart It would be amazing !!

Speaking from my own case, the fields will be present in all the entries because this file collection is totally managed by the admin panel of Netlify-CMS, and to be a valid entry is necessary to have a "name" field.

I think, (if its possible) It would be great to specify something like a "primary key" in the file collection to avoid forcing the files to have a "

[2019-02-16 18:56] talves commented on #2026
On the netlify-cms-manual-init.js bundle, I would like to take the globals into the CMS global (i.e. CMS.init, CMS.createClass) and leave the createElement on the React global.

@erquhart  Any objections?

Esentially, we would have:
[code]

[2019-02-16 20:14] tech4him1 commented on #2092
I think we should also create a list of "common" errors and how to solve. For example, Git Gateway not being turned on. Would a separate issue be better for this?

[2019-02-16 20:54] talves commented on #2092
I have even envisioned the errors send a url that links to the docs to explain how to fix or read about that part of the configuration.

[2019-02-17 13:53] G-T-P commented on #2008
Thanks all for looking into it.
I retried the original test and the issue was still there so I updated to 2.4.2 and I still see the issue.

I am loading the page through a custom install on nextJS so I tested instead with the simplest set-up:
[code]

And that fixed the problem. The initial load yields only 10 items but scrolling down does as expected and triggers the fetch of the remaining items.

[2019-02-17 15:08] cardiv commented on #2
I am very interested in this feature.

@Destroy666x Had a look in the linked issue and I wonder how this could affect roles and permissions. You mentioned the issue a couple of months later, without any context on why there are "great news". Could you explain that in more detail, please?

Roles per collection is one of the key features missing for me. Would this be – temporary – possible with Git

[2019-02-17 16:35] selaux opened #2103 "Nested optional object validation does not work"
**Describe the bug**

When an non-required object inside an object has required fields, the object widgets validation ignores the non-required attribute of the object and highlights the required sub fields of the non-required object as required.

**To Reproduce**

1. Use configuration below
1. Create New Something
1. Only fill title string

**Expected behavior**

Entry saved correctly because `som

[2019-02-17 18:55] engmagdy87 commented on #2099
fixed
transfer images folder from src to static

[2019-02-17 18:55] #2099 closed

[2019-02-17 19:45] bastiaan02 commented on #2103
@selaux could you please edit your config file like so:
[code]

[2019-02-17 19:49] barthc commented on #2103
@selaux could you please edit your config file like so:
[code]

[2019-02-18 08:53] selaux commented on #2103
Hi, yes that might work in this specific case (when there is one property). But my usecase is that either `some-metadata-property` is not set or it is an object with specific properties. Making all these properties optional will allow the user to set a partial object, which is not my goal.

[2019-02-18 18:32] kre1z0 commented on #1498
It would be nice to add the ability to output any field from the collection. I have a list of news and I would like to see which of them are displayed on the main.

[2019-02-18 21:07] ArcanisCz commented on #789
Aside from translation, what about hardcoded US date formats? Different day/month order is confusing for non-us users (not saying which format is better, not relevant here)

[2019-02-18 23:24] leonardodino commented on #1498
I think this turned out to be a duplicate of #2019.

I get that there are many customizations besides the `EntryCard`, but it's by far the most requested one. (besides some filtering and ordering of the list).

I do have some code done, with examples below, but I'm too short on time right now to contribute it back. If anyone is interested, please don't hesitate to copy (: and contribute it upstrea

[2019-02-18 23:52] leonardodino commented on #2019
I saw this feature cited in the `Aluminum` (#2101) and was happy that it's being tackled. :tada:

Unfortunately I'm afraid that I cannot help right now. 😕
<sub>at least during the first weeks anyway.</sub><br>

I added a [comment](https://github.com/netlify/netlify-cms/issues/1498#issuecomment-464920262) on a related issue, that showcases the final result of my implementation.
Feel free to ask any

[2019-02-19 02:14] aamorozov commented on #1934
The issue seems be related to the image widget in general - i'm using manual upload of the images and they show up as broken links in the admin, although the frontend app is still able to query them.

[2019-02-19 02:29] aamorozov commented on #1234
I'm still not able to access the cms from localhost with "netlify-cms": "2.4.2"

[2019-02-19 02:49] OscarBarrett opened #2105 "Some API calls fail with the BitBucket backend when using a branch that contains a slash"
**Describe the bug**

When using `bitbucket` as the backend with a branch that contains a slash (e.g. `feature/netlify`) some API calls to [repositories/{username}/{repo_slug}/src/{node}/{path}](https://developer.atlassian.com/bitbucket/api/2/reference/resource/repositories/%7Busername%7D/%7Brepo_slug%7D/src/%7Bnode%7D/%7Bpath%7D) will 404 and content is not listed or editable. It appears that the

[2019-02-19 03:24] aamorozov opened #2106 "Image upload fails with 500 error"
It errors in both cases when uploading into the media folder and when uploading within the image widget directly.

Exists for me in netlify-cms >2.4.0, testing with earlier versions at the moment. The netlify identity is configured for github.

Here is the error stack:

![screen shot 2019-02-18 at 10 22 53 pm](https://user-images.githubusercontent.com/10227658/52988085-e8e1ca80-33cb-11e9-8ca8-26e8

[2019-02-19 10:13] ayedo commented on #1690
Hello! This might be a very beginner question, and I already apologize for that but: I'm not sure how to remove the identity script from my site?
I'm using gatsby, with the gatsby netify plugin, so most of the site is being generated, and scrumbled into a single big js file.

[2019-02-19 10:36] ayedo commented on #1690
Nevermind, I figured it out. The way to do it is to configure the gatsby-netlify-plugin in the gatsby-config.js, like so:

[code]

[2019-02-19 12:00] ayedo commented on #1985
I'm having the same problem.

[2019-02-19 12:00] Arenal94 commented on #1498
@leonardodino Amazing stuff ! Just what I was looking for ! I can't wait to see it on live 💃

[2019-02-19 15:33] erquhart commented on #2069
@ilrock this issue is due to a specific bug in the GitLab backend - I'd recommend asking in the community chat, as GitHub access issues are generally due to setup nuances.

[2019-02-19 16:00] erquhart commented on #800
If you do get time we're happy to support the effort! Otherwise, we'll leave this open and see if anyone else is interested in taking it on.

[2019-02-19 16:03] erquhart commented on #2026
So here's my concern: even once Netlify CMS is (eventually) completely decoupled from the SPA distribution package (with the current routing, auto bootstrap, etc), that SPA distro will still be the one most folks use. We need to support React Hooks in a way that can be used in SPA distro, otherwise we're going to end up with a fragmented ecosystem where folks find a widget they want to use, but it

[2019-02-19 16:07] erquhart commented on #2092
@tech4him1 that would be a solid guide, maybe call it Troubleshooting? Or something? But yes yes yes.

@talves very much agreed, but should go to a separate issue. The goal if this one is to end up with just a ton of static guides, so that the only work required is writing documentation.

[2019-02-19 16:17] erquhart commented on #2008
Interesting - this does sound like a compatibility issue that should be looked into, keeping open.

[2019-02-19 16:21] erquhart commented on #2
The key issue with roles is that Netlify CMS alone cannot enforce them in any way, as it is a client side application. Either the backend service, eg. GitHub, must enforce roles, or else an intermediary like Netlify Identity/Git Gateway.

[2019-02-19 16:40] erquhart commented on #789
Definitely doable! @nahueld laid out the plan in his comment: https://github.com/netlify/netlify-cms/issues/789#issuecomment-417174441

(specifically phase two.)

[2019-02-19 17:39] talves commented on #2026
Currently no-one can really create an external library (widget, preview, etc) without a duplicate React instance unless they use the `createClass` global.
Using a global class from a script without using externals will break if someone tries to use hooks in their library and tries to register it into the SPA.

I have spent quite a bit of time on this issue and the only way I can think of doing thi

[2019-02-19 17:59] erquhart commented on #2019
Thanks for that @leonardodino!!

[2019-02-19 18:00] erquhart commented on #1934
Yep, those are `img` elements, if you check their `src` you'll see what they're looking for and can determine why it's not there. Either the image wasn't deployed, your CMS is not on the same domain as the site where the image is deployed, you're developing locally, etc. Pulling through the API instead of just constructing URLs is the solution.

[2019-02-19 18:02] erquhart commented on #1234
OAuth providers like GitHub can't be used on localhost. It's a [known issue](https://github.com/netlify/netlify-identity-widget/issues/86) in netlify-identity-widget.

[2019-02-19 18:04] erquhart commented on #2105
The Bitbucket backend doesn't make any alterations to the provided branch, perhaps it's encoded and the Bitbucket API wants it unencoded, or vice-versa.

[2019-02-19 19:11] #1061 closed

[2019-02-19 19:44] cardiv commented on #2
@erquhart Yeah, I hope that GitLab will support directory based permissions in the future. But as a workaround, could NetlifyCMS work with submodules? The editors wouldn't get access to the main repo where `admin` live.

[2019-02-19 20:44] erquhart commented on #1498
@leonardodino agreed, this became about entry card customization. The original issue is about dashboard customization, eg. creating an actual data driven dashboard, but Netlify CMS doesn't have a dashboard at all, so I'm thinking this should be closed. Would you mind porting your last comment to #2019 so we can close this?

[2019-02-19 20:48] erquhart commented on #2026
Gotcha - thanks for your effort on this. It will remain a general priority, as shared dependencies are a blocker for a real ecosystem (community widgets, etc).

[2019-02-19 20:48] barthc commented on #1982
Issue fixed in #1936

[2019-02-19 20:48] #1982 closed

[2019-02-19 20:51] erquhart commented on #2
The submodules themselves as separate Git repos could be edited by Netlify CMS currently. That's probably as far as support would go for that particular route. Of course, you can always copy the GitLab backend and augment it with special functionality for your own purposes.

[2019-02-19 21:14] #2016 closed

[2019-02-19 21:16] leonardodino commented on #2019
`===` ported from #1498, this issue is superseding that one `===`

I do have some code done, with examples below, but I'm too short on time right now to contribute it back. **If anyone is interested, please don't hesitate to copy (: and contribute it upstream here.** (or just use it, if time is also a constrain).

## examples

- the article can link to a editorial (the colored tag on top) and many

[2019-02-19 21:16] leonardodino commented on #1498
done! @erquhart

[2019-02-20 01:30] calpa commented on #1498
Can we have a pull request on this? I think this update helps a lot...

[2019-02-20 02:11] nahueld commented on #789
All right lets get phase 2 working so people can contribute with more pretentious features

[2019-02-20 11:44] ChandlerMBing opened #2107 "[QUESTION] Including netlifycms directly in project folder"
Is it possible to include the CMS directly in the project folder rather than as a package or from cdn for customisation purposes? I tried doing that myself,  but it's way over my head and I couldn't find anything online. If someone could help or point me in the right direction I'd appreciate it.

[2019-02-20 14:50] barthc commented on #2069
@maxacarvalho  I am unable to reproduce this issue. Created a repo(project) as a group owner, and I can see that I am added as a member of the project automatically and given `group_access` to the repo.

[2019-02-20 15:08] maxacarvalho commented on #2069
Hi @barthc

It goes like this:

When you create a repo as a group admin you will not be explicitly added to that repo as a member, you can check that if you use the Gitlab API, it returns an empty array.
That's fine since the repo inherits the permissions from the group.

But, what I found out with Netlify CMS is that when the member is not explicitly added to the repo the authentication will fail

[2019-02-20 15:20] #2050 closed

[2019-02-20 15:42] barthc commented on #2069
The CMS is also checking for repo group access.

Could you copy and paste what the GitLab api  endpoint `/projects/:id` returns from your end under `permissions`  before you run your script.

[2019-02-20 15:44] maxacarvalho commented on #2069
@barthc

I can't since the members are now all added to the repo directly.
But if you create a repo under a group and list the group members you will see that the API returns an empty array.

[2019-02-20 15:56] barthc commented on #2069
As I said from my end, yes `/projects/:id/members` return an empty array. Under permissions `/projects/:id` return something like so:
[code]
and I am able to login. It would be nice if you can try to  recreate the issue from scratch, and see what the initial `permissions` returns, It would help debug this issue further.

[2019-02-20 15:59] maxacarvalho commented on #2069
Hi @barthc

I really appreciate your help, I'm a bit overloaded atm but I promise to try it out as soon as possible (maybe during the weekend if my wife is in a good mood \o/ )

[2019-02-20 16:24] speexy opened #2109 "list widget: change "add 'name' +" to "add 'child name' +" (same for the counter)"
**Is your feature request related to a problem? Please describe.**
I have a list with the label "ImageList". the fields are images.
In the CMS I get the box for the list and a button saying "add imagelist". Which is very confusing as I am actually adding an image, not a list.
The counter tells me that I have X imagelist in my list.
![screenshot from 2019-02-20 17-05-36](https://user-images.githubu

[2019-02-20 16:33] speexy opened #2110 "lists within lists of variable type"
**Is your feature request related to a problem? Please describe.**
Feature. As far as I understand each field in a list of variable types has to be an object. It would be nice if it could also be a simple list. My usecase: I want to have a type "Image Slider". The field needs to be an image with the option to add more images. My workaround right now is to wrap a list in an object. From the user pe

[2019-02-20 16:58] tomrutgers commented on #2109
Use `label_singular` to define what is displayed in the list UI

[2019-02-20 18:27] tech4him1 commented on #1498
@calpa See https://github.com/netlify/netlify-cms/issues/1498#issuecomment-465302384.

[2019-02-20 18:30] tech4him1 commented on #386
Sorry if I'm missing context here, but lets not forget we have the header value that we can set format on as well. That was part of the original intent for that addition IIRC. https://github.com/netlify/netlify-cms/issues/1132

[2019-02-20 22:35] chriskirknielsen opened #2113 "Organise media in subfolders"
Hi there,

Transitioning from WordPress, I have a decent amount of media uploads to import. Using Netlify CMS makes the experience nearly as simple, but the files are stored in the same folder. This can lead to a bloated `uploads` folder that can be hard to navigate over time.

**Possible idea for how such a feature would work**
If not automatable (with some config setting), I'd love to be able to

[2019-02-20 23:16] Benaiah opened #2114 "`searchFields` doesn't accept a string value as a single field"
**Describe the bug**

The relation widget option `searchFields` only accepts a list of values, not a single value. This is despite the fact that `displayFields` _does_ allow for either a list of values _or_ a single value - see the following:

https://github.com/netlify/netlify-cms/blob/722eb8fefec950935893232fd418e126652b334d/packages/netlify-cms-widget-relation/src/RelationControl.js#L121-L126

[2019-02-21 00:57] sddaniels opened #2115 "Draft cannot be saved when collection folder property has a leading slash"
**Describe the bug**
If the `config.yml` file contains leading slashes in the `folder` property of a collection, it becomes impossible to save changes to a draft when that branch gets behind commits made on master. The root cause of this is that GitHub does not accept a leading slash on the `path` property when POSTing to the `/trees` endpoint. The following request is being attempted in that scen

[2019-02-21 08:48] bskrypnyk commented on #1474
I am seeing the same "No Auth Provider Found" message when trying to login via Github while being hosted on Netlify... Works when on localhost.

backend:
  name: github
  repo: xxx/yyy

Isn't this supposed to work from Netlify? I am running 2.3.3 version of Netlify CMS.

<img width="964" alt="no-auth-provider-found" src="https://user-images.githubusercontent.com/655159/53155579-35670a80-3572-11e9-

[2019-02-21 11:35] barthc commented on #1116
Issue fixed in #1936

[2019-02-21 11:35] #1116 closed

[2019-02-21 12:04] speexy commented on #2109
@tomrutgers, thanks, I did not know that!
However, I still think the default behavior is weird.

[2019-02-21 12:24] speexy opened #2116 "list with variable types, default values not working"
**Is your feature request related to a problem? Please describe.**
Feature. Right now, when I set default values within a list of variable type, it will be ignored.
example:
[code]
--> when I create a new post and add the block "Global Goals" there are no default values

**Describe the solution you'd like**
I'd like to be able to have list elements with default values, as the user has content bloc

[2019-02-21 12:28] speexy commented on #981
I just opened the issue #2116, which is another approach to the copy-workflow.

[2019-02-21 13:36] krismorf commented on #2092
Claimed the Gatsby guide

[2019-02-21 13:50] tomrutgers commented on #2116
@speexy Duplicate of #2030?

[2019-02-21 14:59] speexy commented on #2116
@tomrutgers, no, not really. I am fine with nothing in particular happening when the user does NOT use the widget. As is said there, that is related to gatsby/graphql and the workaround posted there is a good idea for now.  (It would still be awesome to have a solution for that too though!)

This is about when a user DOES use the widget and wants it to be pre-filled with default values.

In #2030

[2019-02-21 16:05] tomrutgers commented on #2116
Gotcha, just wanted to make sure! 👍

[2019-02-21 17:52] tonymwaruka commented on #2066
I ended up adding the new config as an additional field with a different name - thanks for both suggestions.

[2019-02-21 17:52] #2066 closed

[2019-02-21 17:55] tech4him1 commented on #1474
This issue seems to have become a "meta-issue" for a bunch of unrelated things that give very similar error messages. Let's try to classify these a bit so we can move forward:

- Using Netlify Identity + Git Gateway:
  - When used on `localhost`, Identity will open a message box asking for your live domain URL so that you can authenticate. Some users will be using alternative URLs for development,

[2019-02-21 17:58] tech4him1 commented on #1474
@bskrypnyk Looks like you missed one of the steps in [our GitHub backend setup docs](https://www.netlifycms.org/docs/authentication-backends/#github-backend):

[2019-02-21 18:29] bskrypnyk commented on #1474
@tech4him1 - Thank you, that worked! I did miss that.

[2019-02-21 23:02] bentranmyriota opened #2118 "Number type is not supported in slug template"
**Describe the bug**
I am trying to create new file with order suffix after slug. I get the error "r.get().trim is not a function" when save new document. I think number type is not supported

**Screenshots**

![image](https://user-images.githubusercontent.com/23440697/53207778-94b53f80-3684-11e9-84d0-e4c74b5e1271.png)

**Applicable Versions:**
 - Netlify CMS version: 2.4
 - Git provider: GitHub

[2019-02-22 19:16] unyo commented on #1627
Make sure the callback url for your oauth consumer points here: https://api.netlify.com/auth/done/