[2020-06-10 18:03] pcertvelde opened #3884 "Field with a numeric value as sting formats as a calculated number (10:05 becomes 2)"
**Describe the bug**
A field with a numeric value as a string formats as a calculated number (10:05 becomes 2), also tried with the "select" widget. This happens in a string field or select list with times like ['00:00', '01:00'...]

**To Reproduce**
- Create a string field
- Add a time as only value (10:05) or even a timestring with quotes ('10:05')
- Save entry -> string without quotes becomes "

[2020-06-11 04:26] md-asa opened #3885 "Error: Minified React error #31; visit https://reactjs.org/docs/error-decoder.html?invariant=31&a..."
**Error message when saving new guideline in netlify, see screenshot below. I noticed the error message was already there in the previous publiched version and that version is visible in Clinic, so I´m guessing it does not affect the actual publishing of the guideline. The version I´m working on is not yet ready for release.**

**screenshots**
![Screenshot 2020-06-11 at 06 23 10](https://user-imag

[2020-06-11 04:49] nigel5 commented on #3334
@erezrokah Sure. I have made the suggested changes.

- Max 1 danger toast for the api down. When the api is back up, it will dismiss the notification(s) created using the key for api down
- Better status checks for GitHub, BitBucket, and Git gateway. All components in `[backend]_OPERATIONAL_UNITS`array  for these providers need to be in `operational` status.

I added a `en` ui message 'One or more

[2020-06-11 05:06] IrvingArmenta commented on #2001
So this feature is not really supported?

[2020-06-11 05:42] zuoridangnian opened #3886 "TypeError: e.join is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.50`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.97 Safari/537.36`

**CMS configuration**
[code]

**Additional context**

[2020-06-11 08:18] erezrokah commented on #3334
Thanks @nigel5, appreciate your work especially with the time zones challenge.

This looks very good.

I would consider returning `true` on failure to check statues (let's assume the status page can be down but the service can be up) like here https://github.com/nigel5/netlify-cms/commit/5c5dc4e0e2e39f62a4736819b4d4c20fe38ebf6b#diff-2531b7608fefb0ddd852c544b7579bb4R195

Good work on the translatio

[2020-06-11 11:53] todinov opened #3887 "Unpublish is visible for collections with disabled delete"
**Describe the bug**
When editorial workflow is enabled and a collection has `delete: false` the editor is still able to "unpublish" the entry, which essentially does a delete.

**To Reproduce**
1. Enable the editorial workflow
2. Set `delete: false` for a collection
3. Edit an entry in the same collection
4. See that there is an `Unpublish` option in the publish menu

**Expected behavior**
The ed

[2020-06-11 12:53] erquhart commented on #2001
Not unsupported, just needs someone to dig in and work out a fix (the good first issue label will hopefully get more eyes on it).

Note for anyone attempting a fix: a few different things are being called out here - for example, an earlier comment stated that setting `output_filename_only` is not working globally, which isn't a per-field configuration problem. Might be a general bug with the argum

[2020-06-11 12:58] erquhart commented on #1452
@robbymilo major changes have happened in the editor, so this situation may have improved. Are you seeing the same result as described in the original post?

[2020-06-11 18:18] ghost opened #3888 "TypeError: Cannot read property 'textContent' of undefined"
Hello!
I'm using netlify for editorial workflow.. Everything was fine to work.

**Bug**
When started to write a post's body part, it's doesn't preview the article.!

**Expected behavior**
Preview will show the article of post but not showing..

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.50`
 - Git provider: `git-gateway`

**CMS configuration**
[code]

[2020-06-11 18:44] nidhi-wgl commented on #1472
hi what would happen if title has space will the folder be created with spaces or hyphen?

[2020-06-12 00:24] abdullahe commented on #2497
Necroing the thread.
Is it possible to do that if you are not using Netlify? If so, where can I learn more about it?

Thanks.

[2020-06-12 18:10] stefanprobst commented on #3542
i also think a "single-file" collection type for list data would be great.

while "folder" collections are great for stuff like posts, and the "files" collection type for pages, i have been missing something for lists of data like "authors info".

to keep this in a single file the current workaround seems to be to have a file in a files collection with a single list widget inside. this however has

[2020-06-12 19:06] stefanprobst opened #3893 "yaml 1.1 parses single n or y character as boolean"
**Describe the bug**
I just ran into this weird issue that YAML v1.1 will apparently parse a single unquoted `y` or `n` character as `true` or `false`.

**To Reproduce**
[code]

**Expected behavior**
"n" and "y" character on a string field in a yaml file should be parsed as strings

**Applicable Versions:**
 - Netlify CMS version: 2.12.14

**Potential solutions**
Netlify CMS intentionally uses YAM

[2020-06-12 19:18] stefanprobst commented on #3893
there are also differences in date parsing between 1.1 and 1.2
[code]

this means that on a `datetime` widget which sets `format: YYYY-MM-DD` this will currently be parsed as a Date object, while setting any other format will be parsed as a string

[2020-06-13 13:52] offre2010 commented on #971
Please i need help here...
After setting up my CMS, i try to log into it, this is what i got (Your Git Gateway backend is not returning valid settings. Please make sure it is enabled.)...
Any way around this?

[2020-06-14 18:43] ajpalok commented on #1186
Hey, I added body field of a article using markdown widget but not showing on preview.
something like

      - label: "Body"
        name: "body"
        widget: "markdown"

after writing article preview doesn't showing that... what to do now??

[2020-06-14 22:32] kaganjd commented on #3045
Adding a related report from Community: https://community.netlify.com/t/ordered-and-unordered-lists-in-netlifycms-ui-editor/16655

Video repro here: https://www.youtube.com/embed/xkNbq9c4e3w

[2020-06-15 00:43] mattortiz opened #3894 "Bitbucket on Save - Failed to persist entry: You must specify a provider and refresh token when calling netlify.refresh"
**Bug Description**
I've deployed a GatsbyJS site with the Netlify CMS at envyforge.com/admin. The Netlify CMS, in production, does load and we're able to view each of the collection entries defined in the admin/config.yml. However, on save of new or existing cms entries, we're getting the following error:

_Failed_ to persist entry: You must specify a provider and refresh token when calling netli

[2020-06-15 01:26] 2Clutch commented on #1687
Hello. Did anybody ever get around to working on this?

[2020-06-15 04:36] mattortiz commented on #3894
Seems to have cleared up. I'll re-open if it persists or recurs.

Thank you

[2020-06-15 04:36] #3894 closed

[2020-06-15 07:08] erezrokah commented on #3888
Hi @ajpalok, this usually happens due to a bug in custom preview templates.
Can you share your full `config.yml`, the content of the file you're trying to edit and your preview template code?

[2020-06-15 07:24] erezrokah commented on #1472
@nidhi-wgl, sanitisation is still applied but only to template variables.

[2020-06-15 07:46] erezrokah commented on #3886
Closing as missing information, @zuoridangnian please re-open with a full issue template (reproduction scenario)

[2020-06-15 07:46] #3886 closed

[2020-06-15 07:48] erezrokah commented on #3885
Hi @md-asa, can you share the full error?
This usually happens due to a bug in the custom preview template (trying to us an object as a react child instead of a string).
If you follow the link in the error, you'll get the full description.

[2020-06-15 08:02] erezrokah commented on #2497
@abdullahe see https://github.com/hfte/netlify-cms-with-selfhosted-gotrue-and-git-gateway

[2020-06-15 08:14] erezrokah commented on #3542
Just making sure this isn't a duplicate of https://github.com/netlify/netlify-cms/issues/535

I think these feature can have two variations:

1. As in issue #535 where a file is designed to model a unique non repeating data (like `Private Policy`, `Contact Info`, etc).

2. As in this issue, a collection folder with multiple entries of the same type, written to the same file instead of multiple fil

[2020-06-15 08:16] erezrokah commented on #971
Hi @offre2010, can you please open a new issue and follow the template?

[2020-06-15 08:16] mattortiz opened #3901 "Failed to persist entry: TypeError: Cannot read property 'match' of undefined"
**Describe the bug**

I've deployed a GatsbyJS site with the Netlify CMS at envyforge.com/admin. The Netlify CMS, in production, does load and I'm able to view each of the collection entries defined in the admin/config.yml. However, on save of new or existing cms entries, I get the following error:

As a note: I am able to save in local development using npx netlify-cms-proxy-server.

**To Reprodu

[2020-06-15 08:19] erezrokah commented on #1186
Hi @ajpalok, please see https://www.netlifycms.org/docs/customization/ or open a new issue following the template

[2020-06-15 08:21] erezrokah commented on #1687
Doesn't seem like, up for grabs 😄 Let me know if you want me to assign you to it

[2020-06-15 08:24] erezrokah commented on #3894
See https://github.com/netlify/netlify-cms/issues/3779
And https://github.com/netlify/netlify-cms/pull/3847

A fix was merged, but no published yet

[2020-06-15 08:25] offre2010 commented on #971
Good, thanks...

[2020-06-15 10:29] stefanprobst commented on #3542
yes exactly -- it's somewhat related to https://github.com/netlify/netlify-cms/issues/531

[2020-06-15 14:59] #3334 closed

[2020-06-15 16:13] 2Clutch commented on #1687
Sure thing. I'd like that. Thank you!

[2020-06-16 12:03] joernroeder commented on #2868
I would love to see this coming alive. a similar approach could also work for the summary of list widget items.
I'm often use a relation field combined with some context specific fields. A good example is a masonry style grid of posts, where some items span across multiple lines. It would be awesome to also reference e.g. the title and image of the linked, nested post combined with the sizing for

[2020-06-16 12:13] joernroeder commented on #2557
thanks everyone, this is great work! Have you guys thought about adding an entrypoint to customize the list item summary as well? I know that you can use the field values but this hardly works for more complex transformations, images and data linked via relation fields.

[2020-06-16 13:46] kylekirkby opened #3904 "Publishing changes fails to respect the permissions of GitHub team members"
**Describe the bug**
We've recently moved our marketing team members to a GitHub team with **write** permissions. The base branch requires a review to be merged. If an approving review is made and the marketing team member goes to publish the post. They are hit with a GrapQL error complaining about not having the required permissions; even though they can merge on GitHub directly (this would cause

[2020-06-16 14:22] erezrokah commented on #3904
Hi @kylekirkby, can you share a screen shot of the branch protection rules?

[2020-06-16 14:54] matteocargnelutti opened #3905 ""fields names must be unique" with 2.10.50, no change in config.yml"
**Describe the bug**
Trying to access `[url].netlify.app/admin/` using the latest version of Netlify CMS _(`2.10.50`)_ yields the following error:
[code]

- `config.yml` hasn't changed
- The issue only arises when using [Netlify CMS 2.10.50](https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js)
- Reverting to [Netlify CMS 2.10.49](https://unpkg.com/netlify-cms@2.10.49/dist/netlify-cms.js) fixe

[2020-06-16 14:56] erezrokah commented on #3905
Hi @matteocargnelutti, can you share your full `config.yml`?
This is not a bug, but a new schema validation that was not checked previously - duplicate field names under the same collection will result in losing that information when the entry is persisted.

[2020-06-16 16:03] matteocargnelutti commented on #3905
Hi @erezrokah

I unfortunately can't.

Got it ! Turned out there was indeed a duplicate there, from a merge conflict resolution.

Thanks a lot and sorry for the noise 👍

[2020-06-16 16:03] #3905 closed

[2020-06-16 16:04] erezrokah commented on #3905
I'm glad the new validation is already paying off!

[2020-06-16 21:35] wing5wong commented on #3810
Also experiencing very slow performance with relation widget.
collection "assessments" is a folder of ~800 items

[code]

[2020-06-17 00:06] mattortiz commented on #3901
HI Netlify CMS team,

Here is some additional context from Chrome Dev Tools from envyforge.com/admin:

Failed to load resource: the server responded with a status of 403 ()
https://api.bitbucket.org/2.0/repositories/envyforge/envyforge.com/pullrequests?pagelen=50&q=source.repository.full_name%20%3D%20%22envyforge%2Fenvyforge.com%22%20%20AND%20state%20%3D%20%22OPEN%22%20%20AND%20destination.branch.

[2020-06-17 00:24] mattortiz commented on #3901
I am, however, able to upload media to the Netlify CMS. Don't know if this provides any related context or not.

blob:https://www.envyforge.com/09eb1f37-b323-4e2a-bb84-7e1eab0ea42f

[2020-06-17 09:09] erezrokah commented on #3901
Hi @mattortiz, seems like a permissions issue with the OAuth consumer.

Can you try setting the permissions to:
![image](https://user-images.githubusercontent.com/26760571/84878987-4acf4480-b093-11ea-9192-dd1741eb732b.png)

We should probably add a note [here](https://www.netlifycms.org/docs/bitbucket-backend/) that Pull requests permissions is required for editorial workflow

[2020-06-17 12:35] magomimmo opened #3907 "Search in files collections does not work"
**Describe the bug**

Search does not take into account files collections. I'm not sure if this has to be considered a bug or a feature request. Considering that you collection menu allows to narrow the search in any type of collection, files collections included, and that the search returns `No Entries` when you search into files collections, I would consider it a bug.

**To Reproduce**

Just sea

[2020-06-17 12:47] magomimmo opened #3908 "Search in file collections referenced by relation widget"
**Describe the bug**

When defining a relationship between a folder and a file collections, the target of the relation (i.e. a file collection) in not searchable in the corresponding filed.

**To Reproduce**

Just define a relation between a folder collection and a file collection. The values of the files collection are not narrowed while start typing into che relation widget.

**Expected behavior

[2020-06-17 17:48] mattortiz commented on #3901
Hi @erezrokah ,

That did the trick! Thank you very much. Was stumped and spun around.

I've gone ahead and updated the documentation using Netlify CMS (so a PR is awaiting review). ;-)

[2020-06-17 21:52] 2Clutch commented on #1687
I'm currently working on setting up the media package and I'm confused about the process regarding CHANGELOG.md. It would seem the creation of a package cause a version bump is that correct? In addition, each changelog entry contains a url. I would like to know more about the origin of said urls. I tried visiting 5 urls or so, chosen randomly, and none was a valid url.

Also, how should I go about

[2020-06-17 22:55] thyagoweber-sevenapps commented on #1069
@erquhart All my blog posts have a "featured" flag. I'd like the other posts to be unchecked once a new featured post is set. Would that be a use case for this? If not, is it possible to accomplish this another way?

[2020-06-17 22:58] Darksoulsong commented on #1069
@erquhart All my blog posts have a "featured" flag. I'd like the other posts to be unchecked once a new featured post is set. Would that be a use case for this? If not, is it possible to accomplish this another way?

[2020-06-18 04:07] amarpathak commented on #3288
@erezrokah  Is this issue fixed? What is the behaviour and in which version it is available?

[2020-06-18 07:11] #3227 closed

[2020-06-18 07:16] inwardmovement opened #3911 "Add instant preview"
**Is your feature request related to a problem? Please describe.**
Preview not really synced with the static site generator’s output.

**Describe the solution you'd like**
Take advantage of the static site generator’s built-in “watch” to update the preview pane.

**Describe alternatives you've considered**
\-

**Additional context**
https://forestry.io/docs/previews/instant-previews/ for reference

[2020-06-18 07:19] erezrokah commented on #3288
This is better handled in https://github.com/netlify/netlify-cms/pull/3847

The CMS periodically checks if the user has been logged out and will display a proper error.

[2020-06-18 07:21] erezrokah commented on #3911
Hi @inwardmovement, can you please follow the feature template?

Linking to other resources that might change with time can make it difficult to understand the requested feature.

[2020-06-18 07:33] inwardmovement commented on #3911
Ok I edited

[2020-06-18 07:51] erezrokah commented on #3911
Netlify CMS runs in the browser and most of these `watch` features happen during build time and have file system access (which the CMS doesn't have).

Not sure what "preview not really synced with static site generator files" means.
If you're registering custom previews via https://www.netlifycms.org/docs/customization/
it is mostly up to your build setup to make sure they are updated per change.

[2020-06-18 09:17] stefanprobst commented on #3542
@erezrokah i've put together a hacky proof of concept how i think this could work. see https://github.com/netlify/netlify-cms/compare/master...stefanprobst:feat/single-file-collection

includes a simple demo, run with
[code]

[2020-06-18 11:35] #1035 closed

[2020-06-18 13:30] kylekirkby opened #3916 "How does one go about debugging "e.replace is not a function"?"
**Describe the bug**
I've been struggling to resolve an issue we are facing with our NetlifyCMS config. We're getting the `e.replace is not a function` error but there is no meaningful output provided. Is it possible to get NetlifyCMS to provide some better debugging information to help narrow down where the issue is coming from? I've already fixed multiple errors where pages had a duplicate YAML

[2020-06-18 13:44] tinfoil-knight commented on #3263
@austincondiff
Sorry for the delay!
The LogoTile from the AppBar has been deleted as discussed.

For the SearchBar, I looked at previously defined `SearchContainer` in `Collection` and `MediaLibrary` component and tried to create a SearchBar component. Take a look and tell:

<img width="500" alt="Screen Shot 2020-06-18 at 7 10 16 PM" src="https://user-images.githubusercontent.com/51631122/85027478

[2020-06-18 13:47] austincondiff commented on #3263
Looks fantastic. Way to go. Looking forward to the PR! 🚀

[2020-06-18 14:00] zabatonni commented on #3227
Not working for standard hugo structure. At least for me, or am I missing something?

I have this content structure:
![image](https://user-images.githubusercontent.com/1357370/85029055-2bf8ad00-b17c-11ea-8704-7e5463251713.png)

And get this output in cms:
![image](https://user-images.githubusercontent.com/1357370/85029087-33b85180-b17c-11ea-94eb-79780d787c2f.png)

this is my config in js:

[code]

[2020-06-18 14:08] Darksoulsong opened #3917 "Using the slug code from the example causes the admin to break"
**Describe the bug**

Using the example from the documentation causes the admin to stop working.

**To Reproduce**

In a existing project, with some posts created using `slug: '{{slug}}'`, do the following:
1. In the config.yml, replace `slug: '{{slug}}'` with:
[code]

2. Navigate to the admin and reload

3. See the error on the screen:
**Error loading the CMS configuration
Config Errors:
'collect

[2020-06-18 14:09] zabatonni commented on #3227
Think i found problem. It only works if files are named _index.md and placed in corresponding folder like this:
![image](https://user-images.githubusercontent.com/1357370/85030628-f8b71d80-b17d-11ea-88b8-141ea7a9a9fa.png)

Its definitely doable and a way to go with this project.

Thanks for this awesome feature.

[2020-06-18 14:12] erezrokah commented on #3917
Hi @Darksoulsong, are you referring to https://www.netlifycms.org/docs/configuration-options/#slug-type?
https://www.netlifycms.org/docs/configuration-options/#slug is a collection level configuration

[2020-06-18 14:29] Darksoulsong commented on #3917
@erezrokah Awesome, I moved the configuration outside the collections prop and it worked like a charm. Thank you for the quick reply!

[2020-06-18 14:29] #3917 closed

[2020-06-18 15:25] Dendekky opened #3918 "TypeError: can't access property "appendChild", a is null"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.11`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:78.0) Gecko/20100101 Firefox/78.0`

**CMS configuration**
[code]

[2020-06-18 15:25] #3918 closed

[2020-06-18 15:38] Dendekky opened #3919 "TypeError: can't access property "appendChild", a is null"
**Describe the bug**

TypeError: can't access property "appendChild", a is null;
This is the error that shows up when I try to preview my blog posts on the admin after embedding Disqus for comments on the blog pages.

**To Reproduce**
Embed Disqus with gatsby

**Expected behavior**
To be able to preview my posts as I am making changes to them on the admin end.

**Screenshots**

**Applicable Versio

[2020-06-18 15:53] erezrokah commented on #3916
Hi @kylekirkby, can you provide the steps you're taking before receiving that error?
Does it happen with all posts or just a specific post?
Any console log messages?

[2020-06-18 16:33] erezrokah commented on #3919
Closing as duplicate of #3757

[2020-06-18 16:33] #3919 closed

[2020-06-18 16:37] Dendekky commented on #3919
Okay.
Thanks.
Will there be a solution to this later though?

[2020-06-18 16:44] erezrokah commented on #3885
Closing as lacking information

[2020-06-18 16:44] #3885 closed

[2020-06-18 16:46] erezrokah commented on #3880
Closing as duplicate, please comment if you have any objections

[2020-06-18 16:46] #3880 closed

[2020-06-18 16:47] inwardmovement commented on #3911
I cannot for now, I think we can close this issue and I'll reopen it when I can provide more details?

[2020-06-18 16:49] erezrokah commented on #3302
I believe this should be resolved in https://github.com/netlify/netlify-cms/pull/3660

Please comment if still an issue

[2020-06-18 16:49] #3302 closed

[2020-06-18 16:50] erezrokah commented on #2331
Closing as https://github.com/netlify/netlify-cms/pull/3879 will result in a proper error message when this happens

[2020-06-18 16:53] barthc commented on #3919
The Disqus component is trying to append a script to `window.document.body` hence the error as the cms preview is loaded inside an iframe. For now just hide the component.

[2020-06-18 16:56] erezrokah opened #3920 "Bug: media files are duplicated in media library when different fields have the same media folder"
**Describe the bug**
If multiple fields under the same collection have the same media folder, files from that folder will be duplicated in the media gallery.

**To Reproduce**
1. Use the following config:
[code]
2. Make sure `static/media` has some files.
3. Open the editor and try to add an image.
4. See that the media library duplicates the files

**Expected behavior**
Files should not show up a

[2020-06-18 17:04] #3911 closed

[2020-06-18 17:31] #3920 closed

[2020-06-18 17:34] #3744 closed

[2020-06-18 22:32] nkuehn commented on #1776
@awilderink  thanks for sharing your approach, looks interesting!  Can you explain how your "withEmotion" helper works (we're using styled components for all the MD(x) elements) and whether it would work with the standard editor instead of Ace, too?   Any tips appreciated!

[2020-06-19 07:25] fdq09eca opened #3924 "why step could not be float..?"
I have the following error
![image](https://user-images.githubusercontent.com/51902242/85107591-ca4e4680-b240-11ea-8b09-f33df5d80823.png)
the problem goes away if I del the line `step : 0.01,` in the following block
[code]
I wonder why it is not working.  It worked fine before...

here is my full `config.yml`.

[code]
Thank you.

[2020-06-19 07:41] alex-shpak commented on #3227
Hi! @erezrokah
Thank you for your huge effort, not having nested collections was stopping me from using netlifycms.

Question in regard file structure mentioned above, would structure like that work?
[code]

A mix of regular pages and `_index.md` pages, (Hugo in this case).
Or every page must be a folder with `_index.md`?

[2020-06-19 13:08] tinfoil-knight commented on #3263
WIP: #3926

[2020-06-19 14:42] stephaniedavidson commented on #2259
@barthc I'm on v2.12.12 of netlify-cms-app and still seeing this?

[2020-06-19 14:53] zabatonni commented on #3227
After setting meta path in collection config:

[code]

I get this error every time I try to save existing content:

[code]

I'm using gitlab backend with netlify cms application to log in.
If I create new content it saves ok, but after editing same error appears.

If I comment line with meta.path, I can save and work with content as expected, but I'm not able to move content to different folders.

[2020-06-19 14:55] zabatonni commented on #3227
After my testing, for Hugo you can use only folder/_index.md for every page

[2020-06-19 17:04] danielkellyio opened #3927 "Interacting with Media library from Custom Widget"
**Describe the bug**
Not really a bug, but no good documentation that I can find on how to accomplish this. I'm building a custom widget and would like to interact with the MediaLibrary. I'd like open the Media library, select an image, get the value of the image, and a base64 encoded preview of the image from within my custom component

**Applicable Versions:**
netlify-cms-app 2.12.12
bootstrap.j

[2020-06-19 18:45] zabatonni commented on #1167
@Kinark , it looks really nice. I'm on phone right now, but will definitely test it further. Thank you.

[2020-06-19 19:36] tinfoil-knight commented on #2579
@austincondiff Can I take this issue?

[2020-06-19 22:30] Darksoulsong commented on #3164
@erezrokah Is it mandatory to have my website deployed at Netlify to be able to use Identity?

[2020-06-20 13:40] thyagoweber-sevenapps opened #3928 "Integrating netlify-cms Identity with Vercel"
**Describe the bug**

I'm unable to make my dynamic generated NextJS blog to work in Vercel, even though I went through all the steps. I keep getting an Identity error.
- Hooked up the netlify-cms script into admin/index.html
- Created and configured correctly a config.yml file, setting git-gateway as backend name, the site domain, and the branch
- Was able to create a local_backend to test the se

[2020-06-20 16:37] byebyers commented on #475
Yeah, this is something that my clients want to be able to do. An example would be creating an online menu for a restaurant with the user being able to re-order items whenever they want. You guys are not alone for not having this though because I have come across this same use case with other CMSs. It would give you a leg up on the competition. Despite the fact that Netlify is already pretty beast

[2020-06-20 19:59] zabatonni commented on #1167
Hi @Kinark , found out that it's not working with list field that uses ```types```

here is a little preview:
[code]

[2020-06-20 20:12] zabatonni commented on #1167
and one more thing: When I close modal, it scrolls me to the top. In long definitions its not usable.

[2020-06-21 06:59] erezrokah commented on #3927
Hi @danielkellyio, I think the best resource at the moment would be to look at https://github.com/netlify/netlify-cms/blob/master/packages/netlify-cms-widget-file/src/withFileControl.js

[2020-06-21 07:12] erezrokah commented on #3928
Hi @thyagoweber-sevenapps, identity is a backend service that providers user management and `git-gateway` is a backend service that allows accessing a GitHub/GitLab repo without a GitHub/GitLab account.
Netlify can provide those services for you and you can also self host them:
https://github.com/hfte/netlify-cms-with-selfhosted-gotrue-and-git-gateway

Another option is to use a [GitHub backend](h

[2020-06-21 07:34] erezrokah commented on #3924
Thanks for reporting @fdq09eca, this is the result of a newly added schema validation for widgets and is a bug with the number widget schema.
Fixed here https://github.com/netlify/netlify-cms/pull/3931

[2020-06-21 07:54] #3924 closed

[2020-06-21 08:10] erezrokah commented on #3227
Please see the description of the feature/assumptions here https://github.com/netlify/netlify-cms/pull/3716

I'll update the docs with the expected structure.

If you have any issues, please open a new issue with a reproduction since it makes it easier to track things.

[2020-06-21 08:20] erezrokah commented on #2579
@tinfoil-knight are you interested in doing this for v2 or for the new UX/UI effort?

[2020-06-21 08:23] erezrokah commented on #3164
@Darksoulsong you can self host identity:
https://github.com/hfte/netlify-cms-with-selfhosted-gotrue-and-git-gateway

You can also deploy on another hosting platform and just use Netlify for the identity service (and `git-gateway`).

You don't need a custom domain in order to use identity.

[2020-06-21 08:58] tinfoil-knight commented on #2579
@erezrokah I was interested in the new UI/UX effort.

[2020-06-21 09:09] erezrokah commented on #2579
I think it is better to do it under the new UI/UX effort.

[2020-06-21 10:22] erezrokah commented on #3901
Closed via https://github.com/netlify/netlify-cms/pull/3910

[2020-06-21 10:22] #3901 closed

[2020-06-21 13:37] #3702 closed

[2020-06-21 13:37] #3884 closed

[2020-06-21 13:37] #3893 closed

[2020-06-21 15:18] Kinark commented on #1167
It seems like `types` is a beta feature of widget `list`, since it can't be found in the official docs: https://www.netlifycms.org/docs/widgets/#list but it can be found in the beta docs https://www.netlifycms.org/docs/beta-features/#list-widget-variable-types

Right now I'll try to stick with the stable version of NetlifyCMS, so I'll add the types as soon as the beta is released :)

You can creat

[2020-06-21 15:19] Kinark commented on #1167
I'm working on it, will fix it! Thanks :D

[2020-06-21 16:17] malinowskip opened #3933 "Version 2.10.51 throws config errors"
**Describe the bug**
The following config errors are thrown in version 2.10.51:
[code]
My site uses 15 collections in total.

Everything goes back to normal when I switch back to 2.10.50. Netlify CMS is loaded from a CDN and uses a GitLab backend (although the same error is thrown with a `test-repo`).

If it makes any difference, I am using YAML aliases in my config.

**Applicable Versions:**
 - N

[2020-06-21 16:21] erezrokah commented on #3933
Hi @malinowskip, can you share your `config.yml` or at least a subset of it?

We recently added some config schema validations, mostly for widgets fields configuration, so this is probably the cause.

[2020-06-21 17:27] malinowskip commented on #3933
Thanks, @erezrokah. You're right. I found a field that was missing a `name` and was previously being rendered as `undefined` in my front matter. This means that the newly-added schema validation is doing its job and the previous version was too lenient.

[2020-06-21 17:27] #3933 closed

[2020-06-21 18:57] erezrokah commented on #3933
Cool, thanks for following up!

[2020-06-21 19:43] tshort opened #3934 "Collaboration that integrates with GitHub/GitLab issues"
This is a feature request to bring some of the collaborative benefits of GitHub/GitLab to the Netlify CMS process. The idea is that a CMS user can add comments to an edit or a new page. These show up as comments in a GitHub/GitLab issue created in the repo for that edit. Each issue could automatically be tagged with something like `cms-edit`. Comments can include `@mentions` to pull in other revie

[2020-06-21 21:18] kwyoung11 commented on #3821
@erezrokah @erquhart  Interested in tackling this issue. Does this ticket cover adding new options to the relation widget as well, or should a new ticket be created for that?

My first thoughts for an implementation would be:
Display a modal to add a new option to the select. The modal would contain the relations fields for the user to fill out. The modal would have Publish and Cancel buttons (you

[2020-06-22 09:45] erezrokah commented on #3829
This is covered here https://github.com/netlify/netlify-cms/issues/445

[2020-06-22 09:45] #3829 closed

[2020-06-22 09:49] erezrokah commented on #3821
Thanks @kwyoung11, I think this would only cover the select widget for now.

Instead of changing the `config.yml` (which will probably trigger an unwanted CI build) the widget could support an additional `allow_add` flag and then save the additional options under the entry data, e.g.
[code]
That would mean the widget would need to support persisting an object instead of the current list or string.

[2020-06-22 09:52] erezrokah commented on #616
Closing as stale with the note we still very much into supporting the community adding custom backends and using the GitHub backend as reference

[2020-06-22 09:52] #616 closed

[2020-06-22 09:55] #2829 closed

[2020-06-22 09:58] erezrokah commented on #263
This is a very good thought. I think the CMS could provide a UI over different services CI pipelines (where available) and auto generate flows to support scheduling.

[2020-06-22 10:05] erezrokah commented on #3934
Related https://github.com/netlify/netlify-cms/issues/314

[2020-06-22 12:42] erquhart commented on #1069
@Darksoulsong I wouldn't expect this feature to enforce uniqueness by changing existing values in multiple posts, only by changing the value in question to ensure it's uniqueness.

The best way to do this from a data architecture standpoint is to keep the featured post in a separate file. Could be a file that already has other general site/global data. And then you could edit that file with the CM

[2020-06-22 14:16] erquhart commented on #3821
Note: this ties into #192, which calls for making related in changes in one entry from another entry - in this case adding a tag to a centralized `tags` data file from an entry that will reference the tag. That part of the request is duplicate.

The core ability to add arbitrary values to a select, without persisting that value to any centralized, reusable set of values, should be really simple. I

[2020-06-23 13:12] maxerbox opened #3942 "Add deploy preview links for GitLab backend"
**Is your feature request related to a problem? Please describe.**
Deploy preview links are not supported with GitLab

**Describe the solution you'd like**
Add deploy preview links for GitLab

**Describe alternatives you've considered**
Going to GitHub.

**Additional context**
Related pull request : #2028
GitLab Statuses API : https://docs.gitlab.com/ee/api/commits.html#list-the-statuses-of-a-comm

[2020-06-23 13:14] erezrokah commented on #3942
Hi @maxerbox, this should be supported https://github.com/netlify/netlify-cms/blob/3025e5e8ff735fd1cfac686c2822c5b7d8b79935/packages/netlify-cms-backend-gitlab/src/API.ts#L853

Can you provide a reproduction detailing the steps you're taking and actual vs expected outcome?

[2020-06-23 13:20] maxerbox commented on #3942
The docs should be updated : https://www.netlifycms.org/docs/deploy-preview-links/
I'm closing the issue

[2020-06-23 13:20] #3942 closed

[2020-06-23 13:27] erezrokah commented on #3942
https://github.com/netlify/netlify-cms/pull/3943

[2020-06-23 22:21] danielkellyio commented on #3927
I'm able to successfully call `this.props.onOpenMediaLibrary()` to open the media library but it doesn't contain the control to actually insert media

<img width="226" alt="Screen Shot 2020-06-23 at 5 19 41 PM" src="https://user-images.githubusercontent.com/7635209/85471249-cb031780-b575-11ea-8cca-a8e324081377.png">

is there some kind of option I should be passing?

Thanks!

[2020-06-24 08:28] erezrokah commented on #3927
You'll need to pass in a `controlID` so inserting a file can be linked back to the widget:
https://github.com/netlify/netlify-cms/blob/fb367f22dac6d57d2ae2b4cea270efd7d2a35982/packages/netlify-cms-core/src/reducers/mediaLibrary.ts#L70

https://github.com/netlify/netlify-cms/blob/fb367f22dac6d57d2ae2b4cea270efd7d2a35982/packages/netlify-cms-widget-file/src/withFileControl.js#L167

[2020-06-24 11:08] webdevFM commented on #3762
Hi @erezrokah, was this issue with several GET requests confirmed?

[2020-06-24 11:43] aiotter commented on #1347
Reopening as I still have the same issue with the current editor. I'm Japanese and having problem in inputing text on both rich-text and markdown editor via Japanese IME.
The bug completely disables me to put any Japanese text.

There is [a report](https://n-ari.tech/blog/2020-02-06-create-portfolio-and-blog-with-sapper-and-netlify-cms/) that [updating slate from 0.47.0 to 0.57.1](https://github.c

[2020-06-24 13:00] Berndinox opened #3946 "netlify-cms-app.js.map - Filesize"
**Describe the bug**
netlify-cms-app.js.map has a filesize of ~ 18MB
CloudFlare KV support up to 10MB

**To Reproduce**
`npm install netlify-cms --save`
Create a Config
`gatsby build`
watch for: public/admin/netlify-cms-app.js.map

**Expected behavior**

**CMS configuration**
[code]

[2020-06-24 14:16] erezrokah commented on #3946
Hi @Berndinox, `netlify-cms-app.js.map` is Netlify CMS App source maps file (source maps are usually much bigger than the minified code) and not required for the CMS to work.
It's useful for debugging purposes.
If `CloudFlare` doesn't support it I would recommend to just exclude it from the deploy.

[2020-06-24 14:18] Berndinox commented on #1474
Sorry to come in here, but it's still unclear in the documentation.... may it's me.

netlifycms config:
[code]

@tech4him1
the 2nd link:

Well i have no side on netlify, thats why i choose the github provider.
Where i have to insert my tokens from github?

thanks!

[2020-06-24 14:24] erezrokah commented on #1474
@Berndinox, these are the docs to follow:
https://www.netlifycms.org/docs/github-backend/
If not hosting on Netlify you'll need to set up an external OAuth client:
https://www.netlifycms.org/docs/external-oauth-clients/

[2020-06-24 14:45] Berndinox commented on #3946
thanks for your fast respones.

adding:
[code]
to wrangler.toml solved it.

[2020-06-24 14:46] #3946 closed

[2020-06-24 17:12] erezrokah commented on #3762
Hi @webdevFM sorry for the late reply.
I think this is due to the following fix https://github.com/netlify/netlify-cms/pull/2963/files that is using the branch sha to access Bitbucket API to workaround Bitbucket not providing a good way to handle branches with `/` in the name:
https://jira.atlassian.com/browse/BCLOUD-20223
As a result the CMS sends an extra request to get the branch sha.

We try t

[2020-06-24 20:42] felixboet commented on #3907
Same here. search works fine for folder-collections, but not for file-collections.

expected result:
<img width="340" alt="Bildschirmfoto 2020-06-24 um 22 36 10" src="https://user-images.githubusercontent.com/62942125/85625310-8bb6f280-b66b-11ea-9b4f-5f13f73d566b.png">

result on relation to file-collection
<img width="316" alt="Bildschirmfoto 2020-06-24 um 22 36 21" src="https://user-images.githu

[2020-06-25 07:45] erezrokah commented on #3907
Until recently one could only search in all collections so I think this was less evident.

[2020-06-25 08:14] erezrokah commented on #3323
The use case for this issue should be covered in https://github.com/netlify/netlify-cms/issues/3227
Please comment if that feature doesn't satisfy the requirements.

[2020-06-25 08:14] #3323 closed

[2020-06-25 08:15] erezrokah commented on #3324
The use case for this issue should be covered in https://github.com/netlify/netlify-cms/issues/3227 (https://www.netlifycms.org/docs/beta-features/#nested-collections)
You can use the string widget to control the entry path, or write a custom widget that takes into account other fields.
Please comment if that doesn't satisfy the feature request

[2020-06-25 08:15] #3324 closed

[2020-06-25 12:11] erezrokah commented on #3565
Closing as stale - I tried setting up `git-gateway` with a private repo and seems to work the first time.
Please comment if relevant

[2020-06-25 12:11] #3565 closed

[2020-06-25 14:41] #3907 closed

[2020-06-25 20:45] 2Clutch commented on #1687
Hey @erezrokah. May I know why my pr was closed? I saw your feedback and hadn't gotten to it yet. Wouldn't it be better to continue talking there since the feedback would be more targeted to the work being completed?

[2020-06-26 00:50] betz opened #3950 "collection list is empty when using folder-collections-path and > 20 subfolders"
my collection list is always empty for one specific collection.
I have gitlab as backend and I use the 'path' collection parameter because my .md files are within their own dedicated dirs.

I see the request to gitlab is something like:
https://gitlab.com/api/v4/projects/foo%2Fbar/repository/tree?path=content%2Fpersons&ref=master&recursive=true

Which returns 20 items, the only 20 first directorie

[2020-06-26 05:11] erezrokah commented on #1687
Sorry @2Clutch, I though it would be better to specify the new widget api first in the issue, but hadn’t made that clear enough.

Let me re-open the PR

[2020-06-26 09:14] andreamussap opened #3951 "Editing a page, return arrow to abandon unsaved changes not working"
**Describe the bug**

From https://axway-open-docs.netlify.app/, when you edit a page on Netlify CMS, the return arrow is not working, it doesn't have a link/action. So the only way to abandon, leave that page is closing the tab in the browser.

![CMS_returnArrowNotWorking](https://user-images.githubusercontent.com/10401080/85840586-a3d66100-b794-11ea-97a7-6cb7cae4e7d0.png)

![CMS_returnArrowNotWo

[2020-06-26 10:11] andreamussap commented on #1687
Hi guys,
in https://axway-open-docs.netlify.app/ project we're also looking for the ability to upload files, specially script samples (`JSON`, `YAML`, `SQL` etc), not only images.

So, I think that this is the right place for me to add my +1 vote??

![NetlifyCMS_PR1687](https://user-images.githubusercontent.com/10401080/85846401-abe6ce80-b79d-11ea-9180-ed7951c63df9.jpg)

[2020-06-26 14:33] mashedkeyboard commented on #1691
Hey, has anyone managed to pick up this task so far?

[2020-06-27 13:39] saschatu commented on #2829
@erezrokah
Thanks for the update!
Regarding Slug: nice feature, but it is easier to have an explicit ID as a field (for e.g. a gridsome parser) but Slug is only persisted as file name. Which makes the whole entity creation with ID + referencing in relation more complicated.

However, regarding CMS Events: nice, but I miss some Event related to Duplication. That was the only open point regarding th

[2020-06-27 14:52] austincondiff commented on #2557
@joernroeder that has crossed my mind and that is an excellent idea. Do you have anything in particular in mind? Also, feel free to create a separate issue and refer to this one.

[2020-06-27 15:12] saschatu commented on #3544
HI @erezrokah ,

unfortunately this bug is still reproducable: "New" -> Enter data for first entry ->"Publish and Duplicate" (and waiting for save) ->  change data for 2nd entry -> Publish. This leads to the first entry being updated (instead of second entry creation).

Just upgrade - versions:
netlify-cms 2.10.51
netlify-cms-core 2.29.0
netlify-cms-app 2.12.15

[2020-06-27 15:33] magomimmo opened #3952 "Editing files collection is very slow when you have a lot of entries"
**Describe the bug**

Editing files collections is very slow, by making them almost unusable when you have a lot of entries.

**To Reproduce**

See attached zipped `file.json` sample containing 1000 items. Each item has just two fields:

- name
- id

Define a files collection as follow:

[code]
Listing is very slow (about 5 seconds). If you open the developer tool and reload the item list you'll s

[2020-06-27 19:31] stephaniedavidson commented on #2259
@barthc I updated the CMS version, and that did indeed fix it locally, but when I push to git -> netlify.app, I still get that prompt online. Cleared my cache. So it's like the online netlify CMS wasn't updated even though I pushed. I'm on the master branch, and I know the update went through because I can see the latest content I added.

[2020-06-27 21:14] barthc commented on #2259
@stephaniedavidson  additional fix for this issue recently merged here https://github.com/netlify/netlify-cms/pull/3932 but not yet released. Again please wait for it.

[2020-06-28 08:34] magomimmo opened #3953 "Add an entry to the front of the list of a file collection"
**Is your feature request related to a problem? Please describe.**

When you're adding entries to a file collection by using the `Add something` button, the new entry is always added to the end of the list. After few entry additions to add a new entry you need to scroll all the way down to the end of the list and of you need to add a new one, you have scroll up again, click the `Add something` but

[2020-06-28 08:46] magomimmo commented on #3624
FYI: My `config.yml` has more than 3K LOC, containing  7 folder collections and about 30 file collections organized into 4 files collections.

I fragmented the `config.yml` in pieces, using a `yaml` file for each folder collection and of each group of file collections.

I then used [yq](https://mikefarah.gitbook.io/yq/) to merge all the `yml` files into `config.yml` file with the following command

[2020-06-29 07:08] erezrokah commented on #3950
Partially related to https://github.com/netlify/netlify-cms/issues/2132.
Since we paginate the endpoints we need to make sure that after applying a filter (in the case of this issue we filter to return only files with a certain extension), we should traverse the pagination cursor until we have enough results.

[2020-06-29 07:19] erezrokah commented on #1687
Hi @andreamussap, this issue is for a separate media widget and not an editor component for the markdown widget. I would recommend adding a new issue for it (we might be able to leverage from `Code Block` to property display the content of script files).

[2020-06-29 07:28] erezrokah commented on #1691
Hi @mashedkeyboard no one has started working on this so far.
I think would need to start a discussion first on the UI/UX/Design aspects of this feature as it is no a small one.
Relevant to https://github.com/netlify/netlify-cms/issues/2557 as well

[2020-06-29 07:43] erezrokah commented on #3810
There are several issues with the relation widget at the moment related to performance.
1. The select dropdown is not virtualised.
2. The `query` API saves all results in the redux store (we could only save the limit https://www.netlifycms.org/docs/widgets/#relation):
https://github.com/netlify/netlify-cms/blob/09b6668c5ed6a58e27466eb30b0fb98c72f5f4ba/packages/netlify-cms-core/src/actions/search.t

[2020-06-29 07:57] erezrokah commented on #3544
Hi @saschatu, I tested https://cms-demo.netlify.com/ and it created two different entries.
Can you open a new issue for it?

[2020-06-29 08:13] erezrokah commented on #3953
Closing this as duplicate of https://github.com/netlify/netlify-cms/issues/3270,
Please comment if not a duplicate.

[2020-06-29 08:13] #3953 closed

[2020-06-29 13:19] #3951 closed

[2020-06-29 14:01] erezrokah commented on #3916
closing per more information

[2020-06-29 14:01] #3916 closed

[2020-06-29 14:59] stephaniedavidson opened #3961 "local CMS changes not reflected online"
**Describe the bug**
In my CMS I've added a video and vimeo widget for the post body, which are working locally (gatsby develop -> localhost:8000/admin).  I also updated the Netlify CMS version so I don't get the prompt to recover a blog post every time I go to "new post". All working great locally. I can see the changes reflected in my github repo.

Problem is on my live site (....netlify.app/adm

[2020-06-29 21:45] sheldonhull opened #3962 "Error: Minified React error #31; visit https://reactjs.org/docs/error-decoder.html?invariant=31&a..."
**Describe the bug**

[ReactJS](https://reactjs.org/docs/error-decoder.html?invariant=31&args[]=Thu%20May%2016%202019%2011%3A15%3A28%20GMT-0500%20(Central%20Daylight%20Time)&args[]=)

**To Reproduce**

I can't open my cms instance and not sure what to do.
I'm guessing it's some issue parsing dates from the front-matter, but not sure.
I want to use date tokens.

I removed this for example to try an

[2020-06-30 08:30] erezrokah commented on #3962
Hi @sheldonhull, can you share a screen shot of the error screen? Does it happen in the preview pane or you can't even login to the CMS?
Also, can you share a step by step reproduction and the full `config.yml`?

[2020-06-30 08:39] andreamussap opened #3963 "Create CMS editor component/ widget to upload files"
**Is your feature request related to a problem? Please describe.**

Hi guys, in https://axway-open-docs.netlify.app/ project we're looking foward for the ability to upload files, specially script samples (JSON, YAML, SQL etc) via the CMS editor.

The issue today is that, when a CMS contributor (https://axway-open-docs.netlify.app/) needs to upload a file, they have to ask a Technical writer to do

[2020-06-30 08:52] amarpathak commented on #3288
@erezrokah  Is this released? Or when can we expect the release?

[2020-06-30 09:05] erezrokah commented on #3961
Hi @stephaniedavidson, does the same behaviour occurs when running `gatsby clean`, `gatsby build` and then `gatsby serve`?
If so, can you trying triggering a manual build from Netlify with the clear cache option?

[2020-06-30 09:08] sheldonhull commented on #3962
I included the config above.
It begins to load, but fails during parsing some files I believe, guessing it's something to die with datetime parsing.

The full react error from the failure is linked above already. The actual error is better as its truncated on the error page and said to use that link for the full error.

Does that clarify?

[2020-06-30 09:08] erezrokah commented on #3288
Oh, forgot to update - this is released under `netlify-cms@2.10.51` or `netlify-cms-app@2.12.15`

[2020-06-30 09:13] erezrokah commented on #3962
The config in the issue is truncated.

Parsing of dates occurs in multiple places in the CMS, thus the request for a screen shot and a step by step guide. Preferably with a clean browser session.

The linked error explains the error, but doesn't provide much information on where it originated from.

[2020-06-30 09:17] sheldonhull commented on #3962
Cool. Here's the config file, I'll have to grab the others when I'm back in my system and try to reproduce

https://www.github.com/sheldonhull/sheldonhull.hugo/tree/master/static%2Fcms%2Fconfig.yml

[2020-06-30 09:23] sheldonhull commented on #3962
![Screenshot_20200630-041925](https://user-images.githubusercontent.com/3526320/86108842-4b9ba980-ba89-11ea-8d1b-1e662ebb17d0.png)

Here's a quick shot from mobile. Loading entries shows up then a failure and this, can't proceed. Did that help?

[2020-06-30 09:39] erezrokah commented on #3962
Can you share the full URL of that page?

[2020-06-30 10:26] maxerbox opened #3964 "Add deploy preview hook to CMS"
**Is your feature request related to a problem? Please describe.**
I need to format the preview link given from the target_url statuse api.
Indeed, my deploy provider is giving it in the wrong format.

**Describe the solution you'd like**
A simple hook that would allow me to edit the deploy preview url

**Describe alternatives you've considered**

**Additional context**
Could be done like https://

[2020-06-30 10:31] erezrokah commented on #3964
Hi @maxerbox what is the format of the `target_url`?
Have you tried https://www.netlifycms.org/docs/deploy-preview-links/#configuring-preview-paths?

[2020-06-30 10:36] maxerbox commented on #3964
My target_url is not pointing on a preview version of the website, but on the building page of my deployment provider.
It has this format: https://xxxx.com/maxerbox/sandrine-neau-website/gxb6qir7j
the last part is an extract of the commit.
I need to transform it to this format : https://sandrine-neau-website-gxb6qir7j.xxxx.app
I think a hook is perfect for this case

[2020-06-30 15:34] sheldonhull commented on #3962
I'm sorry what page? I provided the full react error link at top. Are you referring to where I've placed my cms index.html? That would be sheldonhull.com/cms

[2020-06-30 15:37] erezrokah commented on #3962
Sorry, I meant which blog post shows that error?

[2020-06-30 17:04] Undistraction opened #3967 "Regex literals flagged as invalid in JS collection config"
**Describe the bug**
On upgrading `netlify-cms-app` from `2.12.14` to `2.12.15` I am now getting lots of validation errors. These are for regexps. Before they were valid and worked fine. Now I get validation errors in the form:
[code]

**To Reproduce**

**Expected behavior**
The field should be valid.

**Applicable Versions:**

 - Netlify CMS version: 2.12.15
 - Git provider: Gitlab

**CMS configu

[2020-06-30 17:11] Undistraction commented on #3967
@erezrokah Looks like the issue is here: https://github.com/netlify/netlify-cms/blob/0dc62eabec1857d4d88ba056c16b3808eeabfad9/packages/netlify-cms-core/src/constants/configSchema.js#L24

[2020-06-30 17:25] erezrokah commented on #3967
No sure how that worked for you, as the code is expecting an array:
https://www.netlifycms.org/docs/widgets/#common-widget-options
https://github.com/netlify/netlify-cms/blob/7ee9f2f1888fe93bd197c205fff63b90ad54b6aa/packages/netlify-cms-core/src/components/Editor/EditorControlPane/Widget.js#L154

[2020-06-30 17:26] erezrokah commented on #3967
I'm getting:
![image](https://user-images.githubusercontent.com/26760571/86157379-fce52280-bb0f-11ea-95d8-8d44187d67ce.png)

When using a regex and disabling the schema validation

[2020-06-30 17:31] Undistraction commented on #3967
@erezrokah Ah sorry. I over simplified the example. I have everything modularised:

[code]

[code]

[2020-06-30 17:33] erezrokah commented on #3967
Oh, I think that would only happen when initialising from JavaScript as you can pass in a regex.

[2020-06-30 17:41] Undistraction commented on #3967
But it should be valid to use a regex if you are initialising from JavaScript right?

[2020-06-30 17:45] erezrokah commented on #3967
Well the docs specify a string list a valid inputs.
I guess it was working due to the lack of schema validation and since in JavaScript the `RegExp` ctor accepts both a string and a regex.
Don't think it was intended.

[2020-06-30 17:48] Undistraction commented on #3967
Is this something you could support? There are some pretty useful things that aren't supported if you have to use a string, like flags.

[2020-06-30 17:50] erezrokah commented on #3967
I think we would need to use https://github.com/ajv-validator/ajv-keywords#instanceof.
Let me check

[2020-06-30 18:52] sheldonhull commented on #3962
It didn't tell me. I enabled developer tools in the hope that I could see it process these, and did find out a specific file it stopped on.
It seems that the source file might be [2019-05-16t11-15-28-05-00.md](https://github.com/sheldonhull/sheldonhull.hugo/blob/master/content/microblog/2019-05-16t11-15-28-05-00.md) as this is the only file that has the matching timestamp in the front matter.

The

[2020-07-01 06:01] ralphilius opened #3969 "TypeError: e.replace is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.51`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.116 Safari/537.36`

**CMS configuration**
[code]

**Additional context**

[2020-07-01 07:56] GabriFila commented on #2727
Hi everyone!
Have there been any updates on this issue? I've looked at #1472 but I didn't find any solution or talk related to this. I'm interested in this feature to show only the actual collection content with a Hugo site and not "collection metadata" files.
I'd be happy to help implement this

[2020-07-01 08:17] erezrokah commented on #2727
Hi @GabriFila, the current workaround is to use https://www.netlifycms.org/docs/collection-types#filtered-folder-collections
e.g. have a `show` field on entries and add a filter entries with that value set to `true`.
Also related https://github.com/netlify/netlify-cms/issues/1000

[2020-07-01 08:30] GabriFila commented on #2727
Thank you @erezrokah, I'll try that.
Is there an interest to implement this without a workaround but with an actual `ignore` field, maybe with a regex inside or a glob pattern? Would it create problems?

[2020-07-01 08:30] erezrokah commented on #3969
Hi @ralphilius, can you share a reproduction scenario/more context on where you're experiencing this error?

[2020-07-01 08:35] erezrokah commented on #2727
I'm going to have a look at the suggested addition to add a `type: exclude/include` to `filter` and also to support entry meta data like filename.
Feels like it shouldn't be much of an effort, but I'll have to verify it.

[2020-07-01 08:37] TheLazyLemur commented on #2845
Pretty much all clients end up wanting this feature in the CMS

[2020-07-01 08:39] mdestafadilah opened #3970 "TypeError: Cannot read property 'childImageSharp' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.15`
 - Git provider: `proxy`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4181.8 Safari/537.36`

**CMS configuration**
[code]

[2020-07-01 08:44] GabriFila commented on #2727
Thank you! I have little experience with React, I don't know if I could help but if you need me I'd be happy to do it!

[2020-07-01 08:46] erezrokah commented on #3970
Hi @madebyreformat, can you share some more context on the error.
Specifically fill out the issue template https://github.com/netlify/netlify-cms/issues/new?template=bug_report.md
On a side note, this error usually happens when Gatsby fails to infer the type of a markdown field (this case probably an image).
You can read about it more here https://www.gatsbyjs.org/docs/schema-customization/

[2020-07-01 08:55] martinjagodic commented on #3969
Hi

I would like to report the same issue on the same version of the CMS

[2020-07-01 08:57] erezrokah commented on #3888
Closing per lack of comment

[2020-07-01 08:57] #3888 closed

[2020-07-01 09:01] ralphilius commented on #3969
@erezrokah When configured like this I received an error `valueField: name,picture`

[2020-07-01 09:18] erezrokah commented on #3969
Closing,  please comment if still relevant

[2020-07-01 09:18] #3969 closed

[2020-07-01 10:30] #3967 closed

[2020-07-01 12:24] erezrokah commented on #3950
A possible workaround - sorting the entries should load all of them

[2020-07-01 12:29] betz commented on #3950
the markdown files are in their own subdirs, using the 'path param' in netlify config

[2020-07-01 15:13] Undistraction commented on #3967
@erezrokah Nice work. Thank you.

[2020-07-01 19:09] sheldonhull commented on #3962
@erezrokah just a quick follow-up to see if this gave you what you needed. I wanted to check out the updates in netlify cms for branch based publishing, but this is blocking me from being able to load. I'm not certain how the parsing for dates is handled, as I have a mix of date formats over time, and would like to ensure it doesn't panic on failure of a front matter parsing.

[2020-07-01 19:15] sheldonhull commented on #3962
Ok, so I removed the entire section in question and the remainder content did load, so it's definitely an issue in the parsing of the those "microblog" entries and likely the dates. What's the next step?

[2020-07-02 07:50] lbischof opened #3973 "Date format changed -> old dates not sorting correctly in 2.10.52"
**Describe the bug**
After updating to 2.10.52 posts with strict iso dates (`2020-07-02T06:17:54.924Z`) and older posts with iso formatting (`2020-06-12 14:02:29+00:00`) are incorrectly sorted. It seems the date handling/parsing has changed in 2.10.52.

Minimal code to reproduce: https://github.com/lbischof/netlify-cms-issues-3973

**To Reproduce**
1. Start a webserver: `python -m SimpleHTTPServer

[2020-07-02 07:59] erezrokah commented on #3973
Hi @lbischof, thanks for opening this.
Can you share an example content for each file?
We should actually only parse the strict version as a date object:
https://github.com/netlify/netlify-cms/blob/c33db099ac56edfd993de0212a8085d8d9243ce4/packages/netlify-cms-core/src/formats/yaml.js#L20

[2020-07-02 08:14] lbischof commented on #3973
The following post does not appear in the CMS (only when I search for it) when I update to 2.10.52:
[code]
This format works with both versions:
[code]

[2020-07-02 08:21] erezrokah commented on #3973
Can you share your full `config.yml`?
Also, how many posts are there is total? The fact that searching shows it might be related a pagination bug.

[2020-07-02 08:44] lbischof commented on #3973
There are 180 posts of which the 20 newest posts do not appear in 2.10.52.

[code]

[2020-07-02 08:46] erezrokah commented on #3962
Hi @sheldonhull, I'm still not sure where that error appears.
I was able to load the CMS with the microblog (just by reverting the comments in the config).
![image](https://user-images.githubusercontent.com/26760571/86336619-c6ff8580-bc58-11ea-8874-ac39048e27ce.png)

![image](https://user-images.githubusercontent.com/26760571/86336572-b3ecb580-bc58-11ea-94d9-cdb7289e41d8.png)
97d3724239dd.png)

![

[2020-07-02 09:10] erezrokah commented on #3973
Tried creating a reproduction here:
https://github.com/erezrokah/netlify-cms-reproductions/tree/netlify_cms/issue_3973
Created 2 files based on the content you provided and also a new one via the CMS:
![image](https://user-images.githubusercontent.com/26760571/86340031-00d28b00-bc5d-11ea-9aec-feb5f399c002.png)

Follow up question - does sorting the entries make them appear?

[2020-07-02 09:13] lbischof commented on #3973
No, sorting by publish date does not work. I also tried in a private browser window.

[2020-07-02 09:18] erezrokah commented on #3973
Can you please share the network traffic from the CMS while loading the posts?
Specifically there should be a request that ends with `:content/posts` to retrieve the posts list.
![image](https://user-images.githubusercontent.com/26760571/86340769-172d1680-bc5e-11ea-9fd8-17be583644e3.png)

Also, can you please make sure no view filters are active?

[2020-07-02 09:44] lbischof commented on #3973
If you cannot reproduce the issue, then i will try and isolate the problem and report back. Thanks for your time

[2020-07-02 09:51] erezrokah commented on #2756
This is available now via templating:

[code]

[2020-07-02 09:51] #2756 closed

[2020-07-02 09:55] menttys commented on #2545
I have multiple Articles types and would like to relate them. This feature would be great.

[2020-07-02 09:58] magomimmo commented on #3952
I think this issue is the same as #2009 and #3415

[2020-07-02 13:27] cmaxw commented on #2756
Cool!

[2020-07-02 13:41] erezrokah commented on #2756
Please comment if not working as expected

[2020-07-02 16:33] lpoulter opened #3974 "Accessing built in widgets in custom widgets"
I couldn't find this documented anywhere is it possible?

[2020-07-02 16:45] erezrokah commented on #3974
Hi @lpoulter, can you share your use case?

[2020-07-02 17:23] lpoulter commented on #3974
I'm building a custom widget to add new "sections" of content to a site. I have a new section button that adds a new section each section contains a title, introduction and image.

I'd like to reuse the image widget. I can render that with

`const ImageControl = CMS.getWidget("image").control`

But I'm not sure which props it need to be passed and how to manage updating the value in my own widget.

[2020-07-02 17:26] erezrokah commented on #3974
Would using a list widget with variable types https://www.netlifycms.org/docs/beta-features/#list-widget-variable-types solve your use case?

[2020-07-02 17:55] lpoulter commented on #3974
Possibly is there a working example somewhere I can't get the config working from the docs.
[code]

[2020-07-03 00:05] dustatron opened #3976 "Error: Invariant failed, When trying to preview posts on CMS but pages preview fine."
**Describe the bug**
when view some pages, Specifically posts in the CMS, the site will not preview the MD.
its shows 'Error: Invariant failed' in the preview windows.

**To Reproduce**

**Expected behavior**

**Screenshots**
![screenShot](https://raw.githubusercontent.com/dustatron/netlify-cms-Portfolio/master/Screen%20Shot%202020-07-02%20at%205.01.35%20PM.png)
Github link
https://github.com/dust

[2020-07-03 08:29] Pageboy commented on #1571
This is crucial for me because I am using one collection for the users to configure their site. Having workflow in this collection doesn’t make sense. On the other hand I *love* this feature so am loath to turn it off!

[2020-07-03 11:41] knoppiks opened #3977 "Add MR/PR Label Prefix Config Option"
**Is your feature request related to a problem? Please describe.**
I'm using GitLab with scoped labels for my projects. As the suggestion is to name labels like `scope::label` I would like to be able to use the same style for my netlify-cms editorial workflow labels. At the moment the prefix for the editorial workflow labels is hard-coded to `netlify-cms/`.

**Describe the solution you'd like**
I

[2020-07-03 16:27] stephaniedavidson commented on #3961
Hi sorry responding to you on netlify community and here, yes did those changes, still the same problem. No errors in netlify build.
Behaviour is: I type in admin url online, and I do not see the CMS changes. I clear my cache for the page and refresh, and I do see them. When I type in the admin url again, the changes are gone.

I have one console error which is: "react-dom.production.min.js:131 GE

[2020-07-03 18:25] redline-gh opened #3978 "Netlify CMS custom preview not working with gatsbyjs"
I cloned [this gatsby netlify cms starter blog](https://github.com/thomaswang/gatsby-personal-starter-blog) and am trying to add custom previews. I have followed all the instructions, but it is still not working. This is my `config.yml`:
[code]

I added the `gatsby-plugin-netlify-cms` like this:

[code]

In my `cms.js`, I have:
[code]

And my `BlogPostPreview` is just rendering the `BlogPostTempla

[2020-07-03 19:18] erquhart opened #3979 "Add silent option to netlify-cms-proxy-server"
**Is your feature request related to a problem? Please describe.**

When run concurrently with other commands, as it ideally would be in starters that include the CMS, the proxy server output can drown out the local dev server output.

**Describe the solution you'd like**

An option to silence the proxy server output.

[2020-07-03 19:21] erquhart opened #3980 "Allow netlify-cms-proxy-server to programmatically initialized"
**Is your feature request related to a problem? Please describe.**

I'd like to integrate the proxy server into development flows, Eg., in an 11ty plugin. The server currently initializes immediately, making it difficult to use conditionally outside of the CLI.

**Describe the solution you'd like**

Keep the current behavior via binary, but when required programmatically, provide a method for cont

[2020-07-04 14:07] SKempin commented on #1474
Solved by following this (not clearly linked in docs):
https://docs.netlify.com/visitor-access/oauth-provider-tokens/#setup-and-settings

[2020-07-04 14:07] SKempin commented on #37
Solved by following this (not clearly linked in docs):
https://docs.netlify.com/visitor-access/oauth-provider-tokens/#setup-and-settings

[2020-07-04 20:58] #3978 closed

[2020-07-05 09:05] erezrokah commented on #3974
Hi @lpoulter, you'll need to add that to an existing collection configuration:
https://www.netlifycms.org/docs/collection-types/#folder-collections
Can you share your full `config.yml`?

[2020-07-05 09:13] erezrokah commented on #1571
We would gladly accept a PR for this.
A good place to start is:
https://github.com/netlify/netlify-cms/blob/c33db099ac56edfd993de0212a8085d8d9243ce4/packages/netlify-cms-core/src/reducers/config.ts#L33

[2020-07-05 09:21] erezrokah commented on #3977
Thanks @knoppiks, if anyone would like to work on this see:
https://github.com/netlify/netlify-cms/blob/c33db099ac56edfd993de0212a8085d8d9243ce4/packages/netlify-cms-lib-util/src/APIUtils.ts#L5

[2020-07-05 11:22] erezrokah commented on #3980
We export the server functionality as an express middleware, so I believe this is already allowed.
For Gatsby one could use:
[code]

For 11ty this should work:
[code]

Note that in both cases you'd probably need to update `config.yml` to:

**Gatsby**
[code]

**11ty**
[code]

[2020-07-05 11:33] lpoulter commented on #3974
Hey I worked it out in the end. This article was really helpful
https://matthewshields.co.uk/netlify-cms-variable-types-gatsby

[2020-07-05 11:33] #3974 closed

[2020-07-05 16:26] erezrokah commented on #3976
Hi @dustatron, looks like this error is coming from your custom preview template.
Preview templates run in the context of the CMS which is a separate react application, so including `react-router-dom` components might not work.
Can you try removing the `Link` components:
https://github.com/dustatron/netlify-cms-Portfolio/blob/a196fb361a0f378be98026288be2becc2ac75c7e/src/views/SinglePost.js#L23
and

[2020-07-06 02:01] AaronMacken commented on #3613
Did you find a solution? I'm having this same issue.

[2020-07-06 11:05] #3810 closed

[2020-07-06 11:05] #3908 closed

[2020-07-06 15:50] #3979 closed

[2020-07-06 16:18] erezrokah commented on #3973
Closing, please comment if relevant

[2020-07-06 16:19] erezrokah commented on #3980
Closing, please re-open if relevant

[2020-07-06 16:19] #3980 closed

[2020-07-06 16:27] erezrokah commented on #1795
I think a simpler way of satisfying the workflow in the original issue is to use https://www.netlifycms.org/docs/beta-features/#working-with-a-local-git-repository

As scoping by branch is covered by https://github.com/netlify/netlify-cms/issues/1737 I think we can close this.

Please comment if you think this is still relevant.

[2020-07-06 16:27] #1795 closed

[2020-07-07 00:14] AJTJ opened #3991 "'collections[0].view_filters' should NOT have fewer than 1 items when NOT using view_filters"
**Describe the bug**
I'm using the `netlify-cms-app` in order to leverage the cms as a static route within my `react-static` app. I'm very much using this experience as a template => https://formidable.com/blog/2020/oss-cms/

I'm using the `netlify-cms-proxy-server`

For some reason I keep getting this error when I am NOT using `view_filters` at all.
[code]

My `config.js` file looks like this:

[

[2020-07-07 00:19] AJTJ opened #3992 "netlify-cms styles are leaking into the rest of my app"
I'm using the `netlify-cms-app` in order to leverage the cms as a static route within my `react-static` app. I'm very much using this experience as a template => https://formidable.com/blog/2020/oss-cms/

I've just started the app and I'm using `emotion` (barely) to style it. When I go to the `netlify-cms` route and then go back to another route, the `netlify-cms` styles will now affect and even o

[2020-07-07 12:48] erezrokah commented on #3976
Closing this, please comment if still relevant

[2020-07-07 12:48] #3976 closed

[2020-07-07 12:49] erezrokah commented on #3970
Closing, please comment if still relevant

[2020-07-07 12:49] #3970 closed

[2020-07-07 12:57] erezrokah commented on #3961
Closing this issue in favour https://community.netlify.com/t/netlify-cms-updated-locally-but-not-on-netlify/17754.
The culprit seems to be `gatsby-plugin-offline`

[2020-07-07 12:57] #3961 closed

[2020-07-07 12:58] erezrokah commented on #3962
Closing, please comment if still relevant

[2020-07-07 12:58] #3962 closed

[2020-07-07 13:03] erezrokah commented on #2416
Closing as stale, if someone is experiencing it please re-open a new issue with a reproduction.

[2020-07-07 13:03] #2416 closed

[2020-07-07 13:11] erezrokah commented on #1985
I this still happening? A lot had changed in regards with asset management in the CMS since this was opened

[2020-07-07 13:16] erezrokah commented on #2320
Is this still relevant? With https://github.com/netlify/netlify-cms/pull/3726 merged we should proper errors for nested and list fields.

[2020-07-07 13:22] erezrokah commented on #3964
Updated the title based on the suggestion from https://github.com/netlify/netlify-cms/pull/3966#issuecomment-652856738

[2020-07-07 13:27] erezrokah commented on #3737
Can we close this since https://github.com/netlify/netlify-cms/pull/3923 was merged?

[2020-07-07 18:05] sheldonhull commented on #3962
Thank you for your assistance. The issues seems to no longer be persisting as I've played around with the adjustments on the config. So far everything is good. If I find the error happens again, I'll update this with further details. Thanks for your time! 🌮

[2020-07-08 09:22] idrisadetunmbi commented on #1044
Any ideas if this is possible yet or is still in the works?

[2020-07-08 14:06] erquhart opened #3994 "Editor view Collection/back button goes back in browser history"
**Describe the bug**

Pressing the Collection/back-arrow button in the CMS Editor UI causes the browser to go to the last page in history (even if it's outside of the CMS) rather than going back to the collection view. For sites that link directly into the editor, this provides no UI method for returning to the collection view.

**To Reproduce**

1. Follow this link to open an entry in the CMS dem

[2020-07-08 14:15] erezrokah commented on #3994
The reason for the change was to maintain the filter status when exiting the editor (we use it to display a subset of the entries in nested collections).

Another option would be to keep the routing state in redux and use that (a bigger change) or pass in the filter param down to the editor as a prop for the sake of appending it to the path when clicking the exit

[2020-07-08 14:30] erquhart commented on #3994
Ah, that makes sense. If passing the prop is a small change it might be worth doing.

[2020-07-08 14:31] erezrokah commented on #3994
A workaround would be to open the editor in a new tab (`Axway` doest it by default)

[2020-07-08 15:47] ccampb13 opened #3995 "Operator microservice headers missing"
**Setup:**
We have a Hugo site hosted on Netlify here - https://www.stardog.com/
CMS works as expected.

We have added a subsite called Stardog Labs:
It's on Netlify here - https://stardog-labs.netlify.app/

On the main site `_redirects` file we are doing a reverse proxy
`/labs/* https://stardog-labs.netlify.app/:splat 200!`

This allows for our Labs subsite to render as expected here -
https://ww

[2020-07-08 16:01] erezrokah commented on #3995
There error is coming from here https://github.com/netlify/git-gateway/blob/a9002bf23ca22242e6959c266ac3a37f30318478/api/middleware.go#L26

[2020-07-08 16:36] erezrokah commented on #3995
@ccampb13, can you share the network traffic after clearing cache/from private mode and include the requests/responses to the identity service (please redact any auth tokens)?

[2020-07-08 16:58] ccampb13 commented on #3995
hey @erezrokah here is what I see post clearing cache related to the identity service.

[2020-07-08 17:44] erezrokah commented on #3995
When you click login there should be a request to the identity service settings.
Do you mind sharing that and the entire login flow requests until you get that `git/settings` one?

[2020-07-08 17:47] AJTJ opened #3996 "Attempting to use `list` widget and it demands a `fields` value"
`fields` should be optional, shouldn't it?

[code]

[2020-07-08 17:52] ccampb13 commented on #3995
Hey @erezrokah here's a recording of the Network requests that I'm seeing. Not seeing any additional requests to the identity service settings.
https://recordit.co/6886WfqM9x

[2020-07-08 17:54] barthc commented on #3996
@AJTJ  that error is for your collection not list widget, can you share your config?

[2020-07-08 18:04] ccampb13 commented on #3995
Actually @erezrokah, I cleared my local storage again and have a few extra network requests to show here.

[2020-07-08 20:29] ValeriyTen commented on #3324
@erezrokah
I have a problem with this implementation.
I have my repository with Hugo content. I managed to configure Netlify CMS at self-hosted Gitlab and I'm able to see all content from repository correctly. But whenever I' trying to edit existing entry or create new one inside existing subfolder it throws error "Example path is not a valid path".
As far as my tests go, it seems that path can't

[2020-07-08 21:05] dopry commented on #1063
@erezrokah  how does #3659 close this issue?

[2020-07-08 23:17] barthc commented on #3995
@ccampb13  The `identify_url` config is ignored when using identity widget to authenticate. To use your  `identity_url` config option, try logging in without the identity widget by removing the identity script from your index file `<script src="https://identity-js.netlify.com/v1/netlify-identity-widget.js"></script>` .  You should be presented with simple `email` and `password` inputs login.

[2020-07-08 23:37] ccampb13 commented on #3995
Awesome, thanks @barthc! That did the trick!

Will we lose any functionality with this setup?

[2020-07-08 23:50] barthc commented on #3995
Nope I don't think so.

[2020-07-08 23:57] ccampb13 commented on #3995
sweet. thanks again, @barthc!

[2020-07-09 00:12] projectssome opened #3997 "TypeError: Cannot read property 'fluid' of undefined"
**Describe the bug**
As you can see below, gastby-image is working just fine, but Netlify CMS won't load the preview, returning  this **TypeError: Cannot read property 'fluid' of undefined** error.

**To Reproduce**
I created [this public repo](https://github.com/projectssome/test) with just the needed code, so anyone can easily reproduce. <br>You can also see this site [here](https://frosty-raman

[2020-07-09 00:37] barthc commented on #3997
@projectssome  The error is coming  from this line https://github.com/projectssome/test/blob/master/src/components/templates/IndexPageTemplate.js#L9 and since the image prop can be one of object or string https://github.com/projectssome/test/blob/master/src/components/templates/IndexPageTemplate.js#L18,  in the preview template it's a string https://github.com/projectssome/test/blob/master/src/cms

[2020-07-09 07:47] erezrokah commented on #1063
Hi @dopry, you can now configure `valueField: "{{slug}}"`.
See the second example here https://www.netlifycms.org/docs/widgets/#relation

[2020-07-09 07:49] erezrokah commented on #3995
Thanks @barthc, I think the CMS should set the identity url for the widget if the scripts exists in that case.
WDYT?
Re-opening so I can investigate further

[2020-07-09 07:54] erezrokah commented on #3997
Underlying issue is that Gatsby does a lot of auto type inference.
When it fails to infer an image type for an image field you get a string, otherwise an object.
More about that here https://www.gatsbyjs.org/docs/schema-customization/

It might be better to use the config from here https://www.netlifycms.org/docs/gatsby/#add-netlify-cms-to-your-site with relevant media folders as that setup works

[2020-07-09 11:07] barthc commented on #3995
@erezrokah  we will need to handle setting the URL in the cms code, and also for the  [netlify plugin](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-netlify-cms).

[2020-07-09 12:38] erezrokah commented on #1985
Closing, please comment if still relevant

[2020-07-09 12:38] #1985 closed

[2020-07-09 12:39] erezrokah commented on #2320
Closing, please comment if still relevant

[2020-07-09 12:39] #2320 closed

[2020-07-09 12:57] projectssome commented on #3997
@barthc Thank you for the explanation! I followed this sample and the preview loaded, but as you can see below, the image still won't load, even with the string condition. Would you know why? I've updated the [repo](https://github.com/projectssome/test) with these new instructions.

![Screen Shot 2020-07-09 at 9 31 29 AM](https://user-images.githubusercontent.com/44626533/87041728-0a15a780-c1c9-11

[2020-07-09 13:28] awilderink commented on #1776
@nkuehn Sorry for my late respons. The `WithEmotion` helper just inserts the prerendered  CSS into the preview window. Here is the code:

[code]
I got it from somewhere else, but there are similar examples for styled-components too. I found a few examples here: https://github.com/netlify/netlify-cms/issues/793

[2020-07-09 14:02] erezrokah commented on #3324
@ValeriyTen, the string widget is quite permissive in what can go into the path.
I recommend to use a pattern to enforce a valid path https://www.netlifycms.org/docs/widgets/#common-widget-options

[2020-07-09 15:09] lbischof commented on #3973
@erezrokah I have created a minimal repository where I was able to reproduce the issue: https://github.com/lbischof/netlify-cms-issues-3973

[2020-07-09 15:26] #3994 closed

[2020-07-09 15:42] erezrokah commented on #3973
@lbischof, can you update the issue to reflect the problem described in the repo?
Posts are not sorted correctly vs posts not shown?

[2020-07-09 16:00] erezrokah commented on #3973
Only some of those dates are in ISO format thus being parsed to a Date object.
Non ISO format dates are parsed into a string.
See https://github.com/lbischof/netlify-cms-issues-3973/pull/1

[2020-07-09 16:08] #2753 closed

[2020-07-09 16:28] smashercosmo commented on #3853
Hey, I want to start working on this. Could you guide me a bit? What would be the steps if I, for example, want to remove Immutable from https://github.com/netlify/netlify-cms/blob/master/packages/netlify-cms-core/src/reducers/auth.js?

[2020-07-09 16:52] erezrokah commented on #3853
Thanks @smashercosmo! I would first search where the `auth` state is being accessed (probably using `grep` command on the `core` package).

For example here is one place:
https://github.com/netlify/netlify-cms/blob/07f47824e960332d9be20588829d3895b32f000b/packages/netlify-cms-core/src/components/App/App.js#L264

Then replace those direct access to the `auth` immutable instance with selectors.
For

[2020-07-09 16:55] smashercosmo commented on #3853
Yes. It does. Thank you)

[2020-07-09 18:35] lbischof commented on #3973
I updated the issue description. Is there a reason that the date handling was changed? I see this as a regression, because the date has to be formatted 100% correctly in a format that only a computer could generate. I have not tested with formats like: `2020-07-09` without specifying the time, but would expect these to also sort correctly.

[2020-07-09 18:56] AJTJ commented on #3991
This error doesn't come up all the time. But if I make changes to my config.js, it will definitely come up.

[2020-07-09 23:01] mouhsnimohamed commented on #2786
I have the same issue!
in my case I have a non requered image, when i try to query it I got the same error
I tried to to add default value it did not worked

------------------------
here is my code

**about.md**
image: ''

**aboute.js**
`frontmatter {
image {
  publicURL
}
}`

**config.yml**
`{
                    label: Image,
                    name: image,
                    widget: image,

[2020-07-09 23:28] 2Clutch commented on #1687
Hey @erezrokah! I've been wrestling with this for the last couple of days and I think it might be best if someone else took on this. I'm fairly new to React and figured this would be the best way to get some hands-on experience but this is turning out to be more complex than I anticipated.

I've unassigned myself to the issue. I may come back later to take a crack at another issue. Or maybe event

[2020-07-10 05:53] lbischof commented on #3973
I updated the example repository, so that the titles are equal to the dates. What is interesting is that Firefox and Chrome both sort differently and that even the correctly formatted dates are not sorted in descending order.

[2020-07-10 08:18] magneticscrolls commented on #1999
This problem only happens on Safari consistently. Have tried clearing all caches and restarting.
Still exists, very frustrating.

[2020-07-10 19:46] vrabe commented on #3973
Hello, @lbischof

I made that pull request. There are 2 reasons:

1. There are 2 kinds of date: custom formatted dates and ISO dates. These formatted dates need to be parsed as strings, while ISO dates need to be parsed as date object. Otherwise formatted dates will become ISO dates. (See #3702)

2. Date-like strings are also parsed into date objects even if they are not in datetime / date widgets

[2020-07-11 23:50] ARuzek opened #4003 "Nuxt/Netlify Docs: Nuxt Generate step is out of date since Nuxt v2.13"
**Describe the bug**
Step 1 of documentation guide `npx create-nuxt-app <name-of-your-new-project>` will create using Nuxt v2.13 which replaces the `nuxt generate` with` nuxt build && nuxt export` leading to issues with the next steps including:

1. setting up Netlify with the current build step
2. the very last step of updating the generate property

**To Reproduce**
Follow the current docs at ht

[2020-07-12 08:38] erezrokah commented on #3991
Hi @AJTJ, can you share your `config.yml` as well and the way you initialise the CMS with the `config.js` file?
A link to the site/repo would help too

[2020-07-12 08:41] erezrokah commented on #2786
Hi @mouhsnimohamed I think https://www.gatsbyjs.org/docs/schema-customization/ is the recommended way to go in your case.

[2020-07-12 08:44] erezrokah commented on #1687
Thanks for the follow up @2Clutch! You're welcome to try one our other [good first issues](https://github.com/netlify/netlify-cms/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22). They might need better descriptions/implementation guides, so feel free to ask if the issue description is lacking.

[2020-07-12 08:44] #1687 closed

[2020-07-12 08:48] erezrokah commented on #1999
@magneticscrolls, can you try disabling "prevent cross site tracking" in Safari as suggested here:
https://support.cloudinary.com/hc/en-us/community/posts/360006487280/comments/360000889979

[2020-07-12 08:52] #3737 closed

[2020-07-12 08:55] erezrokah commented on #3973
⬆️

Parsing of dates should be aligned with the way they are saved.
The datetime widget saves a string if a format is specified, otherwise a date object:
https://github.com/netlify/netlify-cms/blob/07f47824e960332d9be20588829d3895b32f000b/packages/netlify-cms-widget-datetime/src/DateTimeControl.js#L87

Ideally I think it would be better to always save the same type (probably a string) to avoid con

[2020-07-12 08:59] erezrokah commented on #4003
We would love a PR for this

[2020-07-12 13:41] alessioprestileo opened #4004 "Error: The result of this StaticQuery could not be fetched.This is likely a bug in Gatsby and i..."
**Describe the bug**
Result of StaticQuery could not be fetched.
This happens only in the CMS (as shown in the picture) when trying to preview the index page, but not when rendering the same page in the website.
The static query causing the error is:
[code]

**To Reproduce**
You can clone this repo:
https://github.com/alessioprestileo/netlify-cms-issue.git

**Expected behavior**
The static query s

[2020-07-12 13:48] erezrokah commented on #4004
Thanks @alessioprestileo for reporting.
See more info here https://community.netlify.com/t/gatsby-and-netlify-cms-preview-error-with-rendering-staticquery/5215/2?u=erez

TLDR: You can't use static query in Netlify CMS previews as the CMS runs in browser context while static query runs during build time. The solution is to make sure the relevant shared components have their data injected as props.

[2020-07-12 13:48] #4004 closed

[2020-07-12 13:49] erezrokah commented on #3641
Closing per https://github.com/netlify/netlify-cms/issues/4004#issuecomment-657224347

[2020-07-12 13:49] #3641 closed

[2020-07-13 00:52] magneticscrolls commented on #1999
@erezrokah Excellent thanks, that worked!!
Although it only works if you log into Cloudinary first.
Logging into Netlify CMS Admin, then clicking Sign-In on the empty dialog never works.

Could we just add a note to the Readme file at:
https://github.com/netlify/netlify-cms/tree/master/packages/netlify-cms-media-library-cloudinary

Just that this issue has been around for 8 months and must affect

[2020-07-13 09:10] erezrokah commented on #1999
@magneticscrolls just saying there is a "Edit this page" link here https://www.netlifycms.org/docs/cloudinary/ 😉

[2020-07-13 14:44] erezrokah commented on #3973
Closing this as this is the intended behaviour

[2020-07-13 14:44] #3973 closed

[2020-07-13 18:07] AJTJ commented on #3991
@erezrokah I don't have a `config.yml` (well, I do, but everything is commented out)
the repo is here: https://github.com/AJTJ/ylc_website

Here is how I've initialized the CMS: https://github.com/AJTJ/ylc_website/blob/master/src/CMS/index.js

And it is loaded as a static route here (through `react-static`):
https://github.com/AJTJ/ylc_website/blob/master/static.config.js

[2020-07-13 18:10] AJTJ commented on #3996
I don't have a `config.yml` (well, I do, but everything is commented out)
the repo is here: https://github.com/AJTJ/ylc_website

my `config.js` (instead of the `config.yml`) is here:
https://github.com/AJTJ/ylc_website/blob/master/src/CMS/config.js

Here is how I've initialized the CMS: https://github.com/AJTJ/ylc_website/blob/master/src/CMS/index.js

And it is loaded as a static route here (throu

[2020-07-13 19:33] lbischof commented on #3973
I do not think that this behaviour is intended. As soon as someone uses
NetlifyCMS for non-technical users, but also allows direct editing in the
repository the sorting completely breaks.

The advanced user creates a post with `2020-07-10` via Git. Then someone
else logs into the CMS and creates a post. This post then has an ISO date.

As far as I understand the issues mentioned above mainly apply

[2020-07-14 08:58] erezrokah commented on #3996
Hi @AJTJ, not sure how your site (can you link to it?) is set up but I would delete `https://github.com/AJTJ/ylc_website/tree/master/admin` if they are not required.
Also to completely ignore the `config.yml` you need to pass `load_config_file: false`.
See example here:
https://www.netlifycms.org/docs/beta-features/#manual-initialization

[2020-07-14 08:59] erezrokah commented on #3991
Same comment as https://github.com/netlify/netlify-cms/issues/3996#issuecomment-658061682

[2020-07-14 13:44] erezrokah opened #4018 "Bug(nested-collections-github): can't move new entries to a new location after initial save"
To reproduce:
1. Setup nested collections on a GitHub repo + editorial workflow:
[code]
2. Create a new post and enter `test` for title and path.
3. Click save.
4. Enter `test/other` for path.
5. Click save - see that an error occurs:
![image](https://user-images.githubusercontent.com/26760571/87432838-34b09780-c5f1-11ea-85e8-6d06d341fddf.png)

[2020-07-14 14:52] #4018 closed

[2020-07-14 23:57] OdairTrujillo commented on #2727
I used this workaround, it's easy and clean. Just do something like this in your collection config and your md files to be ignored or included:

Front matter of a file to be included (I removed some lines from your example for clarity):
[code]
Front matter of a file to be excluded or filtered:
[code]
Option and fields to use into your collection config:
[code]
Pay attention to the Visible label, a

[2020-07-15 04:58] fabrizziosoares opened #4022 "Storing slug in hidden field"
I am trying to store the current slug in a hidden field, but it storing the string "{{slug}".
Follow an excerpt of my code:

name: projects
    label: Projects
    label_singular: Project
    folder: 'content/en/project'
    path: '{{slug}}/index'
    create: true  # Allow users to create new documents in this collection
    fields:  # The fields each document in this collection have
      - {labe

[2020-07-15 06:34] GabriFila commented on #2727
Thank you for mentioning the `hidden` widget, I used with the filter but it was still visible to the end user, now it will be much better

[2020-07-15 08:24] #2132 closed

[2020-07-15 08:24] #3696 closed

[2020-07-15 08:24] #3950 closed

[2020-07-15 08:57] erezrokah commented on #4022
Hi @fabrizziosoares, the default value for fields doesn't support templates at the moment. Regardless default values are applied when creating a new entry, while the slug is calculated when saving the entry.
You should be able to use the [`preSave` event](https://www.netlifycms.org/docs/beta-features/#registering-to-cms-events) to add the slug to your entries as a field:

[code]

[2020-07-15 08:57] melat0nin opened #4024 "Relation widget not showing collection options in drop-down when editing a page"
**Describe the bug**
When editing an existing page that uses a relation widget, the widget doesn't populate the list of options when the field is selected. They can be searched for, but not chosen manually from the list.

**To Reproduce**
In NetlifyCMS, open a page with a relation widget that already has a value for that field. Click the field, and only the existing value will be shown, not all th

[2020-07-15 13:10] #4024 closed

[2020-07-15 13:11] OdairTrujillo commented on #2727
Let us know if you resolved the problem.

[2020-07-15 13:21] GabriFila commented on #2727
Yes yes I solved my problem, it's still a workaround but is fine for me. If and when there will be another way I'll change it.
Thank you

[2020-07-15 17:09] fabrizziosoares commented on #4022
Dear @erezrokah

Thanks for your help. I appreciate it.
I tried your suggestion, and I see some advance, but still a problem.
Now, instead of saving "{{slug}}" string, it is storing an empty string. I think I am missing something.
Do you have any idea?

Best!

[2020-07-16 07:56] erezrokah commented on #4022
Oh, that's my bad.
On initial save the slug is probably empty.
How about something like this:

[code]

[2020-07-16 14:36] chonz0 commented on #1474
Indeed! I've read the docs and a lot of issues and was only able to solve it by following the step you've referenced. Thank you _a lot_

[2020-07-16 14:51] erezrokah commented on #4024
This is now released in `netlify-cms@2.10.54`

[2020-07-16 15:36] projectssome opened #4031 "TypeError: Cannot read property 'days1' of undefined"
**Describe the bug**
Whenever I add one more item to this `list`, the preview breaks, as you can see below. Is there a reason for that to be happening? I've already seen the [documentation](https://www.netlifycms.org/docs/widgets/list/) and it's doesn't look to be wrong.

**To Reproduce**
I created [this public repo](https://github.com/projectssome/config), so anyone can easily reproduce.
You can

[2020-07-16 15:58] erezrokah commented on #4031
Hi @projectssome, this is coming from your custom preview template:
https://github.com/projectssome/config/blob/a99bd972c2a4c3509881a7aa65fcd317777bc84a/src/components/templates/IndexPageTemplate.js#L9
I suggest you check for undefined values there

[2020-07-16 23:37] projectssome commented on #4031
I'm sorry, I couldn't find the cause of the issue, but if I found out that it'll work if I remove everything related to `days`, this way, working only with multiple `string` widgets inside a `list`, as you can see below, and not multiple `string` inside a `object` inside a `list`, as the `config.yml` above. Is that an issue or just me that couldn't find a solution?

[code]

[2020-07-16 23:57] projectssome commented on #4031
I'm sorry, I couldn't find the cause of the issue, but if I found out that it'll work if I remove everything related to `days`, this way, working only with multiple `string` widgets inside a `list`, as you can see below, and not multiple `string` inside a `object` inside a `list`, as the `config.yml` above. Is it possible to fix, please?

[code]

[2020-07-17 00:58] fabrizziosoares commented on #4022
Dear @erezrokah,

that works very well. Thank you. That is really cool!
This "slugfying" approach you provided is the same Netlify CMS uses? Did you get from its source code?
I am working multilanguage, so I am concerned with names with accents and other symbols generating a slug different than CMS provides. If it is the same, great. If it is different, maybe I can work on your suggestion and adju

[2020-07-17 12:43] Kaltoft commented on #3963
You can [create your own custom editor components](https://www.netlifycms.org/docs/custom-widgets/).

Feel free to use this snippet. It will create an anchor linking to the url of the file

[code]

Then register it in the `cms.js`

[code]

[2020-07-17 14:18] SandrineEgron opened #4032 "TypeError: n.get is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.54`
 - Git provider: `github`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.116 Safari/537.36`

**CMS configuration**
[code]

[2020-07-17 19:25] jeremyzilar opened #4033 "Pull requests and commits submitted through NetlifyCMS are not getting signed correctly"
We are experiencing a few issues with our REPO since using Netlify + NetlifyCMS to manage our site builds and content.

### Pull requests and commits submitted through Netlify CMS are not getting signed correctly

[All of our pull requests](https://github.com/brooklynrail/brooklynrail-platform/pulls?q=is%3Apr+is%3Aclosed) that come via edits being made through our NetlifyCMS are being signed as `j

[2020-07-17 19:37] jeremyzilar opened #4034 "After installing GIT LFS, the repo hangs on the "Resolving deltas" stage when cloning the repo"
We are experiencing a few issues with our REPO since using Netlify + NetlifyCMS to manage our site builds and content.

### After installing GIT LFS, the repo hangs on the "Resolving deltas" stage when cloning the repo

When running `git clone https://github.com/brooklynrail/brooklynrail-platform.git` on a new machine, I get:

[code]

Would love it if someone else can help to confirm this by check

[2020-07-18 12:50] jeremyzilar commented on #4034
I think I may have fixed this...

Since our site uses Git-LFS to store and manage the images, I needed to install the `netlify-cli` tool and the large media plugin before cloning the repo.

[code]

Found some answers here — https://community.netlify.com/t/git-prompting-for-username-password-ever-since-app-url-change-no-credentials-work/12632/8

[2020-07-18 12:50] #4034 closed

[2020-07-18 21:37] homerhanumat commented on #3045
Any progress on this issue?  Non-technical colleagues would find the list widgets useful.

[2020-07-18 22:03] ARuzek commented on #4003
@erezrokah Sure, docs updated in #4035

[2020-07-19 05:27] Hjkun77 opened #4037 "Error: Minified React error #31; visit https://reactjs.org/docs/error-decoder.html?invariant=31&a..."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.17`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.116 Safari/537.36`

**CMS configuration**
[code]

[2020-07-19 08:09] nikitattt commented on #3408
Hello. I also get this issue.

I'm using GitLab for git and Netlify Identity with Google OAuth. It has been running normally, but today I tried to log in to admin panel and got this error:
![image](https://user-images.githubusercontent.com/53146405/87870230-276c2200-c9d0-11ea-8b21-2cce53572202.png)

Steps to reproduce:
1. Open site
2. Go to /admin -> netlify cms screen opes
3. Click "Login with Ne

[2020-07-20 13:15] erquhart commented on #4033
It's because you're using Git Gateway for auth. Using Git Gateway/Netlify Identity allows your editors to edit the site without having a GitHub account, so for GitHub specific operations like opening or merging PR's, it uses the user tied to your Git Gateway token. You'll notice the commits themselves are still tied to the editor's own email, and only the merge requests are associated with your us

[2020-07-20 20:51] zackseuberling commented on #3117
I'm running into similar issues in a production environment using 11ty and Netlify:

<img width="718" alt="image" src="https://user-images.githubusercontent.com/1609558/87985175-feab6180-ca8f-11ea-857b-2c580c70c5b9.png">

Maybe my site isn't configured correctly, but I can't find anything in the documentation that mentions this

[2020-07-20 21:47] AJTJ commented on #3996
@erezrokah in that example you shared they aren't using `netlify-cms-app`, but I added that line and it didn't seem to change anything. I linked to the site above your comment. If you are asking if it is available online, it is not. Still in production. :)

[2020-07-21 02:52] randomtruffles opened #4054 "Allowing a "Publish and Save" Option"
**Is your feature request related to a problem? Please describe.**

When working with multiple people, it's cool how editorial workflow allows saving drafts so others can view. However, it gets very "click-y" when you know you want to publish this version but have to press:

1. Save
2. Set Status
3. Ready
4. Publish
5. Publish Now
6. "Are You Sure You Want to Publish?" -> Yes

**Describe the solut

[2020-07-21 14:24] erezrokah commented on #4031
I think that if it works for you, that config makes sense.
Closing, please comment if needed

[2020-07-21 14:24] #4031 closed

[2020-07-21 14:38] erezrokah commented on #4022
Very good point. The CMS uses https://github.com/netlify/netlify-cms/blob/2565668130f64dfc209f01128544f8573d8bbae8/packages/netlify-cms-core/src/lib/formatters.ts#L109
which you could import since we export each CMS package as a module.

I actually think it's better if you duplicate the logic as importing a module requires you to have a build step.
The parts that you'll need are `prepareSlug` and

[2020-07-21 14:41] erezrokah commented on #4032
@SandrineEgron can you please share some information on the source of the error and the full `config.yml`?

[2020-07-21 15:10] erezrokah commented on #4037
@Hjkun77 can you please share more information on the error?
Please follow https://github.com/netlify/netlify-cms/issues/new?template=bug_report.md

[2020-07-21 15:23] ragasirtahk opened #4056 "Add submodule support"
**Is your feature request related to a problem? Please describe.**

I want to run two different blogs with the same content. To accomplish this I decided to store the `/content` folder as a different repo and then add it via `git add submodule` to the respective repos of both the blogs.

When I built the blogs (on Netlify) using Hugo, there were no issues. However, when I logged in to Netlify CMS,

[2020-07-21 15:45] erezrokah commented on #3046
You could use the `preSave` event to add any data you'd like:
https://www.netlifycms.org/docs/beta-features/#registering-to-cms-events

[2020-07-21 15:53] erezrokah commented on #4054
Hi @randomtruffles, do you mean "Save and Publish"? (save then publish)

[2020-07-21 16:15] erezrokah commented on #4056
To add more context:

`curl  "https://api.github.com/repos/ragasirtahk/backend/git/trees/master:content"` returns:

[code]

`curl  "https://api.github.com/repos/ragasirtahk/backend/git/trees/master"` returns a tree entry of:

[code]

[2020-07-21 16:49] randomtruffles commented on #4054
Yes, or something similar in the non-editorial mode where you can directly publish without doing all those steps (saving, draft status changing, publishing), especially for smaller changes.

[2020-07-21 16:57] erezrokah commented on #4033
Just to add to @erquhart, the signed commits are due to the fact that GitHub auto signs each merge commit.

[2020-07-21 18:39] bever1337 commented on #3992
Have you considered not routing back to the main app with an SPA/client-side router? I've encountered this bug too, and the solution was just to use a vanilla, HTML link that escapes client-side routing.

There's been lots of progress to make the CMS work better as a 'subapp' since I first adopted it. It is probably an absurd, buzzword'y lift that requires lots of testing, but I wonder if using a

[2020-07-21 21:57] abdullahe commented on #3046
Thanks @erezrokah. This method is a bit beyond my capabilities for now. :) I added a select widget and a minor inconvenience to the user.

[2020-07-22 08:18] krzysiekhum opened #4058 "User's Session indicator in the CMS panel"
Hello! 👋

**Our editors sometimes have problems with user sessions using Netlify CMS.** They edit blog posts and in some cases their sessions end.

**I think that would be good option to add an information about active session in top bar.** It could be useful!

[2020-07-22 08:24] pacxiu commented on #3928
Some example with setting up authentication using - https://github.com/netlify/netlify-identity-widget for Vercel deployment would be great. I want to migrate 4-5 smaller, non-profit projects to use Netlify CMS and  I'm starting playing around with Netlify's services, however 300 mins/build time might not be enough for those so this is why I would also prefer to deploy them on Vercel without creat

[2020-07-22 08:37] ValeriyTen commented on #3324
@erezrokah

I managed to get any symbol into 'path' field to edit existing subfolders by configuring Netlify this way

[code]
But I have one more problem. Whenever I need to create a new entry in any subfolder, I specify path for that entry and after publishing it creates in root folder, in my example it's "content" folder. How do I configure it then?

[2020-07-22 10:03] erezrokah commented on #4058
@krzysiekhum thanks for opening this issue.
I think this was covered in https://github.com/netlify/netlify-cms/pull/3847 as the CMS periodically checks if the session is still active and will prompt the user to logout and login if it expires.

[2020-07-22 10:14] erezrokah commented on #3324
The supported way to handle nested collections and editing entries path is via the `meta` configuration as specified in the docs.

Regular fields (even if they are named `path`) won't get be regarded as fields for modifying entries path.

[2020-07-22 12:32] jeremyzilar commented on #4033
Thanks! I will explore our options for auth. Maybe this is just how it will have to be for now.

[2020-07-22 12:32] #4033 closed

[2020-07-22 12:43] ValeriyTen commented on #3324
I changed my collection config to this:
[code]
I managed to create a new entry in subfolder and to move created entry to another folder, but when I try to edit 'Body' of existing entry it fails with error ```Failed to persist entry: API_ERROR: A file with this name already exists``` plus ```pattern: ['.*', "Error"]``` parameter gets completely ignored, as it still says that 'path is not a valid pa

[2020-07-22 12:49] erezrokah commented on #3324
@ValeriyTen, can you please open a new issue with a reproduction scenario? I think it will be easier to find the underlying problem that way.
The docs are here https://www.netlifycms.org/docs/beta-features/#nested-collections, but probably needs some improvements.

[2020-07-22 13:14] ValeriyTen opened #4059 "Editing existing entry produces Error:API_ERROR: A file with this name already exists"
**Describe the bug**

When I add parameter ```meta: path``` exactly as described in example here - https://www.netlifycms.org/docs/beta-features/#nested-collections, I get an error when editing any existing entry ```Failed to persist entry: API_ERROR: A file with this name already exists```

**To Reproduce**

**Step1:** Add similar collections config in config.yml
[code]
**Step 2:**  Try to edit `

[2020-07-22 13:14] ValeriyTen commented on #3324
Please have a look - https://github.com/netlify/netlify-cms/issues/4059

Thanks!

[2020-07-22 20:44] haneatic opened #4061 "Relation Widget resets when using autocomplete"
**Description**
If you use the autocomplete functionality of the relation widget together with the multiple option it resets the selected items completely and only keeps the last one you picked.

**To Reproduce**
1. Open the dropdown menu of the relation widget
2. Pick any number of items
3. Search for any non selected item
4. Select an entry you found through the search
5. It should be resetted

[2020-07-22 21:49] haneatic commented on #4061
If the map function from L52 gets removed completely, it works fine. The issue comes from using the search function because if you use the search function it filters the options which are provided to the function `getSelectedValue`. The map function then can not find every selected value inside of the options array anymore since they are not holding *all* possible options but only the *currently*

[2020-07-22 21:53] haneatic commented on #4061
Before [this](https://github.com/netlify/netlify-cms/commit/c7e0fe8492d09a3d151c608f50da844f421362ed) commit it worked fine.

[2020-07-23 04:51] davegardner opened #4062 "Better editor needed"
The problem with the editor is that it is confused about whether you need to understand markdown or not. If I understand markdown then all I need is a plain text editor -- that's why markdown was invented, as a way to concentrate on the content and eliminate the clutter of html!  On the other hand, if I am an artist wanting to edit my most recent post then I want a simple gui editor and I DO NOT w

[2020-07-23 07:56] erezrokah commented on #4058
Closing, please comment if you think this is still relevant

[2020-07-23 07:56] #4058 closed

[2020-07-23 07:59] erezrokah commented on #2462
Closing as several solutions have been suggested. Please comment if still relevant

[2020-07-23 07:59] #2462 closed

[2020-07-23 08:06] erezrokah commented on #1500
Closing as this is covered in https://github.com/netlify/netlify-cms/issues/277

[2020-07-23 08:06] #1500 closed

[2020-07-23 08:08] erezrokah commented on #483
Closing as stale

[2020-07-23 08:08] #483 closed

[2020-07-23 08:12] erezrokah commented on #859
Closing as stale. This doesn't seem to happen with latest CMS and Safari

[2020-07-23 08:12] #859 closed

[2020-07-23 08:17] erezrokah commented on #953
I believe this was fixed in https://github.com/netlify/netlify-cms/pull/3864 (see https://github.com/netlify/netlify-cms/issues/3727).
Please comment if still happens

[2020-07-23 08:17] #953 closed

[2020-07-23 08:25] erezrokah commented on #1156
I think this can be covered using https://github.com/netlify/netlify-cms/pull/3716.
The approach will be to infer the site structure based on the location of files in the repo.
An example for that is https://about.gitlab.com/handbook/.
An advantage for that approach is that it doesn't require any kind of mapping.

Please comment if still relevant

[2020-07-23 08:25] #1156 closed

[2020-07-23 08:25] erezrokah commented on #1160
Closing as stale

[2020-07-23 08:25] #1160 closed

[2020-07-23 08:28] erezrokah commented on #4037
Closing per more information

[2020-07-23 08:28] #4037 closed

[2020-07-23 08:28] erezrokah commented on #4032
Closing per more information

[2020-07-23 08:28] #4032 closed

[2020-07-23 08:30] erezrokah commented on #4022
Closing, please comment if you have any more questions

[2020-07-23 08:30] #4022 closed

[2020-07-23 08:31] erezrokah commented on #1027
Closing as I believe enough information has been provided.

True, see https://github.com/netlify/netlify-cms/issues/3995#issuecomment-655966399

[2020-07-23 08:31] #1027 closed

[2020-07-23 08:34] erezrokah commented on #1493
Closing as stale

[2020-07-23 08:34] #1493 closed

[2020-07-23 08:44] erezrokah commented on #1559
Duplicate of https://github.com/netlify/netlify-cms/issues/1347

[2020-07-23 08:44] #1559 closed

[2020-07-23 08:49] erezrokah commented on #3904
Closing this issue. Please provide more information on the branch protection rules configured if still relevant

[2020-07-23 08:49] #3904 closed

[2020-07-23 08:58] erezrokah commented on #4062
Hi @davegardner, can you please follow the issue template?
I'm not sure if this is a bug report or a feature request.

Some clarifications are needed:
1. Does the current raw (markdown) editor suits technical people? If not, what's missing.
2. Does the current rich text edit editor suits non technical people? If not, what's missing.
3. Not sure I understand the context of:

as the CMS doesn't expo

[2020-07-23 12:27] erezrokah commented on #4061
@haneatic posted a fix for this issue, thanks for reporting.
See https://github.com/netlify/netlify-cms/pull/4063
If you'd like to test it you can load the CMS via:
https://deploy-preview-4063--cms-demo.netlify.app/dist/netlify-cms.js

[2020-07-23 12:34] erezrokah commented on #3996
I'm able to load the site successfully:
![image](https://user-images.githubusercontent.com/26760571/88286788-f6eef580-ccf9-11ea-91a8-7b8384e59b48.png)

I assume you fixed the issue with your site, closing. Please comment if still relevant

[2020-07-23 12:34] #3996 closed

[2020-07-23 12:35] erezrokah commented on #3991
Closing due to https://github.com/netlify/netlify-cms/issues/3996#issuecomment-662981049

[2020-07-23 12:35] #3991 closed

[2020-07-23 12:36] erezrokah commented on #3997
The config you linked is missing collection level `media_folder` and `public_folder`

[2020-07-23 13:01] erezrokah commented on #3995
Update the description to better reflect the issue.
See workaround https://github.com/netlify/netlify-cms/issues/1027#issuecomment-596603284

[2020-07-23 13:02] erezrokah commented on #3997
Closing this since this is not a CMS issue.
Please comment if the suggested solutions didn't work

[2020-07-23 13:02] #3997 closed

[2020-07-23 14:31] #4003 closed

[2020-07-23 14:32] #4059 closed

[2020-07-23 21:08] projectssome opened #4066 "TypeError: Cannot read property 'map' of undefined"
**Describe the bug**
As you can see below, the code works for the most part, but specifically in the Preview pane, when I add a `group` element (list) in the CMS, it breaks for some reason. I've noticed that the issue happens in the custom preview template, in [this line](https://github.com/projectssome/testing/blob/9e148885db5be7f65a262d3cc59c99fc9b2ce268/src/components/templates/IndexPageTemplat

[2020-07-24 00:09] greenlightjohnny commented on #3658
I'm having this issue currently with a Gatsby site using GitHub as the identity provider. It was working great and I had made several blog posts over two weeks through the admin panel. Just went to log on and am getting the `API_ERROR: Git Gateway Error: [object Object]` message.
I tried enabling and re-enabling identity external providers, and  re-generating the GitHub API access token under serv

[2020-07-24 00:49] falconmasters commented on #4061
I have the same problem
@erezrokah I am a little bit lost, could you please tell me how to apply your fix to my proyect?

[2020-07-24 04:04] davegardner commented on #4062
Sorry for the gripe and thanks for listening. I will try to be more specific:
1. The Raw Markdown editor is fine for tech people like us.  But as soon as 'Markdown' is mentioned to people who regard themselves as non-techies the shutters go up and I cannot get them to use it.

2. So non-techies must use the Rich Text Editor, which is horrible.
  - Links cannot be inserted. I have to switch to Mark

[2020-07-24 12:06] henval2020 opened #4067 "Using VIEW_STYLE_GRID"
Is there documentation on how to use or customized the VIEW_STYLE_GRID?
![image](https://user-images.githubusercontent.com/64128179/88388826-d56c3780-cde7-11ea-9454-7552642c9716.png)
I was able to display an image on the Grid view when I set the field "**name**" into "**image**" but when I change it to something else it doesn't work. Does it only work on name: image ?

It is working when I upload

[2020-07-24 14:15] Darksoulsong opened #4068 "Use custom widget for title causes issues on main entry list"
**Describe the bug**

I'm creating a custom widget using the same code from the [string repo](https://github.com/netlify/netlify-cms/blob/master/packages/netlify-cms-widget-string/src/index.js). It works on the editor, but causes the main entry list (where, for example, my blog posts entries are listed) to get the immediately subsequent field, in this case, author.

**To Reproduce**

1. Create a c

[2020-07-24 14:32] haneatic commented on #4061
@falconmasters depends on which framework you use. If you use GatsbyJS for example you can create a custom index.html file in `static/admin`, see https://www.netlifycms.org/docs/add-to-your-site/

You only have to exchange the url to the productive version of NetlifyCMS to @erezrokah links. It works fine then.

@erezrokah thanks for your help!

[2020-07-24 14:32] #4061 closed

[2020-07-24 15:04] barthc commented on #4068
@Darksoulsong  the issue is that the CMS field inference is only done on top level `string` widget, so it would skip over your custom widget. I suggest you use the `identifier_field` [flag](https://www.netlifycms.org/docs/configuration-options/#identifier_field) to force your custom widget.
[code]

[2020-07-24 17:20] Darksoulsong commented on #4068
@barthc  It worked. Thank you!

[2020-07-24 17:20] #4068 closed

[2020-07-24 18:27] #4066 closed

[2020-07-25 08:06] JoseRFelix commented on #3265
Is anyone working on this? Would love to pick this up @austincondiff

[2020-07-25 11:00] ValeriyTen commented on #4059
@erezrokah
Thanks for a fast fix! When can we expect release to test it out on our instance?
I load netlify script from ```unpkg``` CDN?
Or is there a guide on how to make a package from source?
Thanks!

[2020-07-25 12:09] goldcoders opened #4069 "Per Collection Media Folder , Images Not Deleted When Post Is Deleted"
Per Collection Media Folder Always leave the Images Not Deleted...
Therefore It Remained in the Folder and only the index.md is deleted when you delete a post entry.
<details>
<summary> My Config</summary>

[code]

</details>

Is there a possibility to use the [CMS EVENTS](https://www.netlifycms.org/docs/beta-features/#registering-to-cms-events) ?

is there a onDelete event where in you can ask  s

[2020-07-26 08:36] erezrokah commented on #3658
I'm closing this issue, as we don't seem to have a reproducible workaround.
If someone encounters this issue, please open a new issue and please provide the browser network traffic (requests and responses) for the `settings` requests, especially the one that errors out.

[2020-07-26 08:36] #3658 closed

[2020-07-26 08:45] erezrokah commented on #4069
Closing this as duplicate of https://github.com/netlify/netlify-cms/issues/3615

There are no events yet on deletion yet and probably it's better just to fix the bug.
We just need to think of a good strategy to delete those files without breaking other content that might be in the same directory or using these images.

[2020-07-26 08:45] #4069 closed

[2020-07-26 09:00] erezrokah commented on #3927
Closing as stale, please comment if still relevant

[2020-07-26 09:00] #3927 closed

[2020-07-26 09:08] erezrokah commented on #4062
I appreciate the follow up.

Can you please open a bug for this?

You can choose the language using the code block editor component:
![image](https://user-images.githubusercontent.com/26760571/88475221-8d0f5f80-cf36-11ea-97e1-9a5c8a8142a0.png)
![image](https://user-images.githubusercontent.com/26760571/88475207-81239d80-cf36-11ea-980d-b7aed1366a9b.png)

For inline code, not sure how that can be do

[2020-07-26 09:20] erezrokah commented on #4067
Very good question @henval2020.
We're inferring the image field so any one of the values here:
https://github.com/netlify/netlify-cms/blob/460d1e6835af122f86278b4b2f9c2e3b7bc91488/packages/netlify-cms-core/src/constants/fieldInference.tsx#L63
should work.

I think a good approach will be to implement https://github.com/netlify/netlify-cms/issues/2868.
Another thing we should do is to make inferenc

[2020-07-26 09:20] #4067 closed

[2020-07-26 09:22] erezrokah commented on #4061
Thanks @haneatic  and everyone. We'll try to get this released tomorrow.

[2020-07-26 09:36] erezrokah opened #4070 "Feature: provide better errors when a custom preview template fails"
Related to:
https://github.com/netlify/netlify-cms/issues/4066
https://github.com/netlify/netlify-cms/issues/4031
https://github.com/netlify/netlify-cms/issues/3997
https://github.com/netlify/netlify-cms/issues/3970

And also https://github.com/netlify/netlify-cms/issues?page=2&q=undefined

Usually the cause for these error is user code.
We should try to display a stack trace/point users to the re

[2020-07-26 09:41] erezrokah commented on #4059
This hasn't been released yet (we'll do a release tomorrow probably).
If you'd like to test you can load from `https://deploy-preview-4064--cms-demo.netlify.app/dist/netlify-cms.js`

[2020-07-26 11:04] trfv opened #4072 "Entry disappears from workflow screen on failing to merge pull request"
**Describe the bug**

Entry disappears from workflow screen on failing to merge pull request.
in my case, the error was caused by trying to merge PR without approval with github setting "required at least one approval".

**To Reproduce**
1. Create an entry (with editorial workflow)
2. Go to Workflow page.
3. Set an entry to ready.
4. Click "publish"
5. See error (if failed) and the entry disappear

[2020-07-26 15:29] falconmasters commented on #4061
Once released how do I update my site?
I am using Gatsby

[2020-07-26 15:45] erezrokah opened #4074 "Bug(widget-markdown): unable to insert link unless text is selected"
**Describe the bug**
Related to https://github.com/netlify/netlify-cms/issues/4062

The insert link button only works when selecting existing text, and doesn't work when entering new text.

**To Reproduce**

1. Create a new post for an entry that has the markdown widget configured.
2. Click the insert link button.
3. Enter text in the browser prompt.
4. See that it doesn't work.

**Expected behavi

[2020-07-26 15:50] erezrokah commented on #4061
If you're using `unpkg`, you should get it automatically.
If using the CMS via `package.json`, you'll need to update the CMS dependency (using `npm` or `yarn`, etc)

[2020-07-26 21:23] ValeriyTen commented on #4059
Thanks, @erezrokah! Worked like a charm! I'll wait till release now.

[2020-07-27 00:41] henval2020 commented on #3614
As suggested, posting this potential feature for validation [Multiple Filters with different categories](https://github.com/netlify/netlify-cms/pull/3741#issuecomment-663501715)
The idea is almost the same since the filter will be "grouped by".

Thank you @erezrokah 😄

[2020-07-27 08:41] andreamussap commented on #3963
Thank you @Kaltoft but I'm not a developer. I wouldn't even know where to star. So I'll keep waiting until someone can implement this.

[2020-07-27 09:27] tinfoil-knight commented on #2579
Current Work Done on `v3-ui-redesign` branch:

`MediaDialog` component has been created

<img width="857" alt="Screenshot 2020-07-27 at 2 55 51 PM" src="https://user-images.githubusercontent.com/51631122/88526233-4e060a80-d019-11ea-9eb2-a62d5c1bde52.png">

Ref:
6d2f19b4d2fdf7dc5873549d82e09a51869477fa
6d2f19b4d2fdf7dc5873549d82e09a51869477fa

[2020-07-27 09:44] tinfoil-knight commented on #2579
@erezrokah Would the images from external source(s) (like Unsplash) be copied over to the user's repo or would only the links be maintained?

[2020-07-27 09:56] henval2020 commented on #4067
Thank you so much @erezrokah. It works now, I was able to retrieve the newly added fields like this.
![image](https://user-images.githubusercontent.com/64128179/88526367-73514380-d02e-11ea-8396-070e688a52a6.png)

By updating this part
![image](https://user-images.githubusercontent.com/64128179/88526507-97ad2000-d02e-11ea-897e-9d7cc4c8e1c0.png)

Last question for this if I may,

I tried to fill out

[2020-07-27 10:41] erezrokah commented on #4067
The inference code only looks at field names in the configuration and not their values, so the solution has to be somewhere else.
You could create a new function called `selectInferedFields` to return all possible fields, then use it here:
https://github.com/netlify/netlify-cms/blob/04ccb56e668ce24372675b8e937c773215a6d2d6/packages/netlify-cms-core/src/components/Collection/Entries/EntryListing.js

[2020-07-27 12:13] tinfoil-knight commented on #2557
@erezrokah I was working on the UI for the new `Editor` component. Could you tell me how the configurations are loaded currently from the `config.yml` file ? Please point me to all the relevant files.

[2020-07-27 12:17] erezrokah commented on #2557
The `config.yml` is loaded an validated here:
https://github.com/netlify/netlify-cms/blob/04ccb56e668ce24372675b8e937c773215a6d2d6/packages/netlify-cms-core/src/actions/config.js#L261
The current editor here:
https://github.com/netlify/netlify-cms/blob/04ccb56e668ce24372675b8e937c773215a6d2d6/packages/netlify-cms-core/src/components/Editor/Editor.js#L1

[2020-07-27 15:52] thyagoweber-sevenapps opened #4088 "Event callback for post removal?"
I self-hosted a comments and likes solution for my netlify-cms blog and I need to remove these likes and comments from my DB when a post gets removed.

I noticed there's a [callback for post unpublishing](https://www.netlifycms.org/docs/beta-features/#registering-to-cms-events), and it seems this is the place where I should call my post removal endpoint.

Now, to the question: is this callback cal

[2020-07-27 16:02] #4074 closed

[2020-07-27 16:11] erezrokah commented on #4069
Sorry, my mistake here. There are `preUnpublish` and `postUnpublish` events:
https://www.netlifycms.org/docs/beta-features/#registering-to-cms-events

However, you'd need to read the access token from local storage and use the git service API to inside the event handler to delete those files.

[2020-07-27 16:12] erezrokah commented on #4088
The callback is only called on entry removal:
https://github.com/netlify/netlify-cms/blob/a4b7481a99f58b9abe85ab5712d27593cde20096/packages/netlify-cms-core/src/backend.ts#L1126

It's not called when an entry is edited or changed.

Closing, please comment if more information it needed

[2020-07-27 16:12] #4088 closed

[2020-07-27 16:49] thyagoweber-sevenapps commented on #4088
Awesome! Thanks!

[2020-07-27 18:01] erezrokah commented on #4061
This is released in `netlify-cms@2.10.55` and `netlify-cms-app@2.12.19`

[2020-07-27 18:01] erezrokah commented on #4059
This is released in `netlify-cms@2.10.55` and `netlify-cms-app@2.12.19`

[2020-07-27 18:39] FGPiano opened #4089 "I'm trying to add a timeline to my website. How can I add the following code to the Netlify CMS?"
Hi,

As the title says, I'm trying to add this timeline to my website: https://codyhouse.co/gem/horizontal-timeline/?

Would I add it by copy-pasting the code into a code block in a text module? Or as html code in the markup of a text module? Or am I totally lost? Ha,

Thank you!

[2020-07-28 00:59] henval2020 commented on #4067
Awesome! I missed checking the EntryCard.js. Thank you so much for your help @erezrokah . I was able to create a fallback with this.
![image](https://user-images.githubusercontent.com/64128179/88606796-3037b480-d0b0-11ea-9cbc-be5c7144ac5a.png)

It's messy right now, but I'll try to refactor this. cheers!

[2020-07-28 10:38] erezrokah commented on #4089
Hi @FGPiano, the CMS is designed to manage content so I would create a collection to manage the timeline events.
You could have a [folder collection](https://www.netlifycms.org/docs/collection-types/#folder-collections) with multiple entries, or a [file collection](https://www.netlifycms.org/docs/collection-types/#file-collections) with a [list widget](https://www.netlifycms.org/docs/widgets/#list

[2020-07-28 13:12] FGPiano commented on #4089
Hi @erezrokah, thank you very much for the response. I really appreciate it. What is a "build step" and how would I create one? The file I downloaded from the timeline website already has the html structure for timeline. Thank you again.

[2020-07-28 13:32] erezrokah commented on #4089
Usually one would manage content via the CMS then have some kind of script (build step) to transform that content to `html`.
You can try one of the templates https://www.netlifycms.org/docs/start-with-a-template/ to get a better sense of it.

[2020-07-28 17:00] #3268 closed

[2020-07-28 18:55] FGPiano commented on #4089
I already have the script, I believe, through the website the provided the timeline. Where would I post the script?

Thank you!

[2020-07-28 19:16] hursey013 opened #4092 "Setting folder collections path overrides slug value"
**Describe the bug**
When using the [folder collections path](https://www.netlifycms.org/docs/beta-features/#folder-collections-path) option, the value of `slug` becomes that of `path` rather than just the slugified version of `title` or `identifier_field`.

**To Reproduce**
1. Create a collection and set `path` to `path: "{{slug}}/_index"`
2. Define a field for `title`
3. Create a new record
4. I

[2020-07-28 19:43] ValeriyTen commented on #4059
@erezrokah

Thanks, it works now!

[2020-07-29 06:33] joachimVdH opened #4093 "post created - published - on github - don't show up in generated site"
While setting up a site and testing post through Netlify CMS, I already notices a few times that post don't show up.

I posted on mondayevening a post through cms
- got to github ( https://github.com/joachimVdH/TVG-Jekyll-NetlifyCMS/blob/master/_posts/2020-07-27-maandagavond-test-23-40.md )
- netlify is triggered
<img width="1219" alt="Schermafbeelding 2020-07-29 om 08 23 52" src="https://user-ima

[2020-07-29 08:49] erezrokah commented on #4089
@FGPiano, do you have an existing/example repo that you can share?

[2020-07-29 14:25] FGPiano commented on #4089
@erezrokah My website I'm trying to install this timeline in is: fgpianoschool.com; the html/code for the timeline is on the website I sent earlier (https://codyhouse.co/gem/horizontal-timeline/); I use the Netlify CMS to update content (text and organization of features); and, I use Cloudinary to store media I use on my site (pictures and videos).

I really appreciate all the help :)

[2020-07-29 18:31] Darksoulsong opened #4094 "Can't use max_file_size option"
**Describe the bug**

Using the max_file_size config from the docs doesn't work and causes the CMS to crash.

**To Reproduce**

1. Insert the `media_library` option with `config` and `max_file_size` props as seen in the [docs](https://www.netlifycms.org/docs/beta-features/#image-widget-file-size-limit)
2. Navigate to your /admin/index.html.
3. Reload
4. See error

**Expected behavior**
It should w

[2020-07-30 03:53] maocubillos opened #4096 "TypeError: Cannot read property 'fluid' of undefined"
**Describe the bug**
I got it trying to change an image in my home page
**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.19`
 - Git provider: `bitbucket`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36`

**CMS configuration**

[2020-07-30 07:36] erezrokah commented on #4096
Hi @maocubillos, can you please share a screenshot of the source of the error?
I can't understand if the error is coming from the CMS (and where in the CMS) or from your website.
If you can share the repo that would be great.

[2020-07-30 08:15] erezrokah commented on #4094
Hi @Darksoulsong, looks like you `config.yml` is a not a valid yaml file.
Can you try `media_library: { config: { max_file_size: 1000000 } },`?

[2020-07-30 08:22] Alexa-Green commented on #2092
@massoudmaboudi Are you working on the docusaurus guide or should I?

[2020-07-30 09:06] erezrokah commented on #4093
Hi @joachimVdH, I can see the post when running locally:
![image](https://user-images.githubusercontent.com/26760571/88903369-44b8b000-d25c-11ea-966a-c50eb1e1d350.png)

So this is probably not a CMS issue.
I would try running the build again with clearing cache or ask in the Netlify community (if you haven't done so yet).

[2020-07-30 11:45] Darksoulsong commented on #4094
Thanks! It worked!

[2020-07-30 11:45] #4094 closed

[2020-07-30 19:00] stevenpeniche commented on #2293
Hey team! Has there been any progress on a resolution to this issue?

[2020-07-31 04:28] wing5wong opened #4097 "Frequently running into slowness and rate limiting."
Issue: Our admin users are currently trying to update information relating to courses, assessment and subject areas.
Many time the **Relation** widget is extremely slow to load, and often searching for items takes an incredible time, or hits rate limits. i.e. accessing a collection from the menu shows **' Loading Entries -> Caching Entries ->This may take several minutes'** and never loads.

The u

[2020-08-01 10:42] henval2020 opened #4098 "Editing records on relation widget causes duplicate on dropdown"
Not sure if I just had a misconfiguration on my config.yml but this is how I configure my relation widget

Let's call this "Cta page"
![image](https://user-images.githubusercontent.com/64128179/89098697-74aeb180-d41c-11ea-960f-32171feb70ee.png )

Then I called it like this on another page. let's call it "Content page"
![image](https://user-images.githubusercontent.com/64128179/89098694-68c2ef80-d4

[2020-08-02 10:25] erezrokah commented on #4092
Hi @kundanjha101, your issue seems different as it doesn't include the relation widget.
I think you should try the following config:
`path: '{{year}}/{{month}}/{{slug}}'`

If that doesn't work, please open a new issue.

[2020-08-02 10:28] erezrokah commented on #2009
Closing this in favour of https://github.com/netlify/netlify-cms/issues/3415

[2020-08-02 10:28] #2009 closed

[2020-08-02 10:29] erezrokah commented on #2293
This is actually a duplicate of https://github.com/netlify/netlify-cms/issues/3415.
Closing in favour of that one

[2020-08-02 10:29] #2293 closed

[2020-08-02 10:30] erezrokah commented on #3752
Closing in favour of https://github.com/netlify/netlify-cms/issues/3752

[2020-08-02 10:30] #3752 closed

[2020-08-02 10:31] erezrokah commented on #3952
Closing in favour of https://github.com/netlify/netlify-cms/issues/3415

[2020-08-02 10:31] #3952 closed

[2020-08-02 11:09] erezrokah commented on #4097
Hi @wing5wong,
How many entries per collection do you have?
The CMS uses caching extensively and even [conditional requests](https://developer.github.com/v3/#conditional-requests) to avoid reaching the rate limit, but in some cases that's not enough.

As for pagination, the CMS uses the [git tree API](https://developer.github.com/v3/git/trees/#get-a-tree) which allows listing around 100k files in

[2020-08-02 12:34] wing5wong commented on #4097
Hey there thanks for the feedback.
Actually i found one other large collection, our news. overall not many items given the numbers you stated right?

**News**: 2515
**Assessments**: 799
**Courses**: 214

1. will be costly for us at this point which is one of the limiting factors.

2. can you clarify here? Do you mean for example have a "SubjectSetup" type file with a list widget?
List Widget
  - S

[2020-08-02 13:54] erezrokah commented on #4097
The [stated limit](https://developer.github.com/v3/#rate-limiting) is 5000 requests per hour, so a new user sorting some collections can break the limit easily I think (we also send requests to get the commit date and some other metadata).
Note that the limit resets only once an hour.

Sure, it a relatively new feature for targeting lists in files:
The target collection can be (this is a slimmed v

[2020-08-02 15:16] kundanjha101 commented on #4092
Yes. The above configuration works for me.

[2020-08-02 16:06] erezrokah commented on #4096
Closing. Please add the relevant information is still an issue

[2020-08-02 16:06] #4096 closed

[2020-08-02 16:24] erezrokah commented on #4089
Hi @FGPiano,
It is hard for me to provide an answer without more details on how your site is configured.
In general you would create content with the CMS and generate the HTML using a script.
I would start by using the example code in https://codyhouse.co/gem/horizontal-timeline/ in your site with the sample data.
Then find the right place to modify it in your script (you can try and search how th

[2020-08-02 17:23] erezrokah opened #4099 "Security: investigate Cross Site Scripting in preview pane"
Context: https://netlifycms.slack.com/archives/CPMJH823F/p1595508376073000

To reproduce:
1. https://cms-demo.netlify.com/#/collections/posts/new
2. Switch to markdown mode in edtior.
3. Paste the following in to the editor `<img src="foobar.png" onerror="alert('hello')">`
4. See the alert dialog.

Need to investigate if this is a real issue we should mitigate (not sure this is exploitable).
We ca

[2020-08-03 04:20] lanemets commented on #3842
Hello @tcitworld @erezrokah
I have encountered the same issue with gitlab and target_url and this configuration works for me (just add 2 stages pre and after my pages deploy and set appropriate statuses in them):

[code]

[2020-08-03 08:52] henval2020 commented on #4098
I'm sorry about this one @erezrokah, I think the main issue on this one is the slug one the 'newlabel'.
Instead of using **{{en}}** I used **'en'**. Maybe we can tag this now as closed?

[2020-08-03 09:21] erezrokah commented on #4098
Thanks @henval2020, closing the issue

[2020-08-04 08:50] zyv opened #4112 "Editor: add option to enforce Markdown editing and remove Rich Text toggle"
**Is your feature request related to a problem? Please describe.**

I would like to enforce Markdown editing in the editor widget (the way it works on GitHub) and prevent editors from copy & pasting garbage in the rich text editor component.

**Describe the solution you'd like**

Currently there is a toggle to switch between Markdown and Rich Text, but I couldn't find a way to disable this toggle

[2020-08-04 08:52] zyv commented on #4112
Apparently was considered in #1304 at some point, but then got abandoned?

[2020-08-04 09:24] goldcoders commented on #4069
lets say i get the access token in local staroge , how would that help me make git hub api call?
as far as i know the token stored is from netlify identity under gotrue.user key....

Im just using the cms in local, yeah im using netlify-cms-proxy, so I dont need github api call...
is there a quick and dirty way to tell  netlify cms to recursively delete the collection folder?
right now its just de

[2020-08-04 09:44] erezrokah commented on #4069
The token from `gotrue.user` can be used to access `git-gateway` directly (that's what the CMS uses to access the repo).
With `netlify-cms-proxy` you could send a request to the local proxy server to delete a file (you can see those requests in the browser traffic when you delete an entry).

The way the CMS deletes files is not exposed as an API, so the quick and dirty way is described above

[2020-08-04 14:57] faizah27afreen opened #4113 "TypeError: e.join is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.16`
 - Git provider: `github`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.105 Safari/537.36`

**CMS configuration**
[code]

[2020-08-04 15:00] erezrokah commented on #4113
Hi @faizah27afreen can you provide some more context on the source of the error?
Please attach a screenshot/repo link if possible.

[2020-08-04 22:47] evaera opened #4115 "NetlifyCMS doesn't send cookies in XHR requests to the git gateway"
When connecting to the git gateway through XHR requests, NetlifyCMS doesn't include cookies.

We are running our own instance of the git gateway, and we would like to move it behind our corporate network for security reasons. We use [Identity-Aware Proxy](https://cloud.google.com/iap), which identifies secured sessions with a cookie that's injected by IAP. Because of this, all XHR requests from Ne

[2020-08-05 07:46] codeitlikemiley opened #4116 "How to Limit No of Entries in a List Using Variable Types?"
Hi The Concept of List Variable Types is Awesome,

Is there a way Where I can Specify The List Maximum Count

Lets say i only want 1 Entry on my List , And Im Just Utiizing the The Widget for convenience of

Giving Options to user to Either Upload an Image using image widget or use a simpe widget string for Url Link.

Is that possible?

[2020-08-05 08:05] henval2020 commented on #4098
Hi @erezrokah, can we reopen this one? Seems like this issue is intermittent. There are times that the issue still occurs even if the slug is not being updated on relation widget.

What I thought that was working is the initial load of the page, when there is no selected value on the dropdown of the relation widget, it works fine. Like this one on the screenshot below.

![image](https://user-image

[2020-08-05 09:55] erezrokah commented on #4097
Closing this as I don't see what else can be done on the CMS side.
Please comment if still relevant

[2020-08-05 10:02] erezrokah commented on #4115
Thanks @evaera.

This is actually part of our testing code.

The place to implement the request should be here:
https://github.com/netlify/netlify-cms/blob/7171c35d274a8188701fcf07e7d68bc225a79e75/packages/netlify-cms-backend-git-gateway/src/implementation.ts#L257

We would accept a PR for this, as long as it is opt in via a configuration, e.g.:
[code]

Still not sure which of the examples I prefe

[2020-08-05 10:05] erezrokah commented on #4113
Closing due to missing information

[2020-08-05 10:05] #4113 closed

[2020-08-05 10:05] erezrokah commented on #4093
Closing, please comment if still relevant

[2020-08-05 10:05] #4093 closed

[2020-08-05 10:06] erezrokah commented on #4089
Closing as this is not a CMS issue

[2020-08-05 10:06] #4089 closed

[2020-08-05 10:06] erezrokah commented on #4115
Renamed the title to reflect the feature request

[2020-08-05 10:13] erezrokah commented on #3289
Closing I believe this was handled in https://github.com/netlify/netlify-cms/pull/3879
Comment if still an issue

[2020-08-05 10:13] #3289 closed

[2020-08-05 10:15] erezrokah commented on #4116
Thanks @codeitlikemiley, closing this as a duplicate of https://github.com/netlify/netlify-cms/issues/1480

[2020-08-05 10:15] #4116 closed

[2020-08-05 11:58] wing5wong commented on #4097
No worries. Thought about a few of these and have just resorted back to string widget.

800 requests sent when typing in relation fields seems to break it extremely fast.

Thanks for the info regardless!

On 5/08/2020, at 9:56 PM, Erez Rokah <notifications@github.com> wrote:

﻿

Closed #4097<https://github.com/netlify/netlify-cms/issues/4097>.

—
You are receiving this because you were mentioned.

[2020-08-05 12:34] erezrokah commented on #4097
Once those requests are cached it shouldn't impact the rate limit thought (you'd still see them as requests in the browser, but they will be retrieved from the browser cache or get a `304 Not Modified` response which doesn't count under the limit).

[2020-08-06 07:10] erezrokah commented on #4115
This would probably require adding a new method `withCredentials` (similar to `withNoCache`)

[2020-08-06 10:47] BURROO opened #4118 "Builds of multiple sites have suddenly stopped working at the same time (Aug 6)"
I am working on three different gatsby site simultaneously and they all suddenly fail to build as of today.
There seems to be an isse with finding the right package modules, but the errors seem random and vary from build to build
For example:

[code]

or

[code]

When I try to rebuild old deploys they also don’t work.
I basically not able to build anymore in multiple projects with builds that work

[2020-08-06 11:04] erezrokah commented on #4118
Hi, this doesn't seem to be an issue with Netlify CMS and most likely related to an incident with npm:
https://status.npmjs.org/

[2020-08-06 12:31] BURROO commented on #4118
Thank you for the reference. I was not aware of this.
Everything works as expected again.

[2020-08-06 12:31] #4118 closed

[2020-08-06 13:04] krzysiekhum opened #4119 "Unhandled Rejection (TypeError): r.toJS is not a function"
<img width="1038" alt="Zrzut ekranu 2020-08-6 o 14 52 54" src="https://user-images.githubusercontent.com/13885484/89534203-ddb77000-d7f4-11ea-8e35-f3561ce7db76.png">

Related article form contains the relational widget and after a few seconds complete pages goes to the error screen (as above)

"netlify-cms": "^2.10.55",
"netlify-cms-app": "^2.12.19",

[2020-08-06 13:08] erezrokah commented on #4119
Hi @krzysiekhum, can you please fill in the missing information from the issue template:
https://github.com/netlify/netlify-cms/issues/new?template=bug_report.md

[2020-08-06 19:21] erquhart commented on #2092
@Alexa-Green I think that was just a suggestion, I'd say go for it

[2020-08-06 21:55] Yuripetusko commented on #4066
Same issue when using https://github.com/netlify-templates/gatsby-starter-netlify-cms this starter template and adding new `Plan`

`- {label: Pricing, name: pricing, widget: object, fields: [{label: Heading, name: heading, widget: string}, {label: Description, name: description, widget: string}, {label: Plans, name: plans, widget: list, fields: [{label: Plan, name: plan, widget: string}, {label: P

[2020-08-07 10:11] charue808 opened #4120 "Unicode values in strings"
Hi I'm not sure if this is a bug but I'm trying to use unicode characters in my frontmatter not markdown, the markdown file is working. It seems like there was talk about stripping out unicode or ascii from slugs but I'm not sure if that is referring to what I'm looking to do.

**To Reproduce**

**Expected behavior**
Would like to use diacritical marks that would be present in a language like Hawa

[2020-08-07 10:35] charue808 commented on #4120
Nevermind...I got it sorted out!

[2020-08-07 10:35] #4120 closed

[2020-08-07 16:17] stepugnetti opened #4122 "netlify-cms-proxy-server returns 500 on entry that has relations to large collections (.git/index.lock: "File exists.")"
**Describe the bug**

When opening an entry from a folder collection that has more than one fields of type ncw-file-relation whose target collection is large (~8k entries in my case), the proxy server returns 500 "Unkown error". The log contains the following lines:

Another git process seems to be running in this repository, e.g.
an editor opened by 'git commit'. Please make sure all processes
ar

[2020-08-07 16:21] stepugnetti commented on #4122
I can see the same POST request to get the large collection being fired twice in a short time. The second request starts before the first has been responded, and this triggers the error.

[2020-08-07 20:03] arnaud opened #4124 "[gatsby-plugin-netlify-cms] The CMS router and dependencies activate on every gatsby pages"
**Describe the bug**

When using the `gatsby-plugin-netlify-cms` plugin, every single page of a gatsby instance has a systematic and uncontrollable redirection from `path/` to `path/#/`.

**To Reproduce**

1. Go to <https://www.edulide.fr>
2. Wait for it to load
3. See the path redirection with a sharp in the location bar?

**Expected behavior**

Do not alter the URL anywhere else but in the chose

[2020-08-08 08:47] henval2020 commented on #4098
Hi @erezrokah, These are my current findings on this issue.

Using **slug** as **slug: '{{slug}}'** instead of **'{{en}}'**
Tried to use the **identifier_field** to declare the 'en' as the identifier. Not sure though if I use it correctly. (Can't make this to work on my end.)

What is working is setting the slug as **{{slug}}** or adding a new field **title** based on the documentation

![image](h

[2020-08-08 17:15] ShopBigDog opened #4128 "TypeError: undefined is not an object (evaluating 't.childImageSharp.fluid')"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.13`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (iPad; CPU OS 13_5 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/84.0.4147.71 Mobile/15E148 Safari/604.1`

**CMS configuration**
[code]

[2020-08-08 17:17] #4128 closed

[2020-08-09 10:28] #4119 closed

[2020-08-09 11:45] erezrokah commented on #4122
Thanks @stepugnetti, fixing this would probably require locking this code:
https://github.com/netlify/netlify-cms/blob/633a452e88b6bfd8fec2eda0334c4077d2e7c01b/packages/netlify-cms-proxy-server/src/middlewares/localGit/index.ts#L163

rr maybe just wrapping git commands with retries.

[2020-08-09 17:40] erezrokah opened #4129 "Docs: migrate netlify-cms-widget-starter to the official docs"
There are two ways to build a custom widget:
1. Using vanilla JS as described in the docs: https://www.netlifycms.org/docs/custom-widgets/#registerwidget
2. Using JSX syntax with a build step which is covered in https://github.com/netlify/netlify-cms-widget-starter

We should migrate the latter option to the docs.

[2020-08-10 11:58] arnaud commented on #4124
Well, we found the culprit:

`gatsby-browser.ts:`

[code]

Calling the Netlify CMS entrypoint directly in the `gatsby-browser.ts` boot file was not the best idea 😅.

It had the intended effect of doing its job: requiring the lib on. every. damn. page.

One less bug for this tracker! 🎉

[2020-08-10 11:58] #4124 closed

[2020-08-10 12:04] erezrokah commented on #4124
Thanks for the follow up!

[2020-08-10 12:58] timbomckay commented on #1191
Any progress on this?

[2020-08-10 13:02] erezrokah commented on #1191
Hi @timbomckay, I think https://www.netlifycms.org/docs/beta-features/#list-widget-variable-types can be used to generated menus.
Another option it to use https://www.netlifycms.org/docs/beta-features/#nested-collections and have the static site generator to infer the site menu based on the location of files in the repository.

[2020-08-11 16:48] sn3h commented on #3578
Hello,

described behavior is happening again at Image widget text fields (alt and description). Cursor jumps to the end of the field after each keystroke

[2020-08-12 03:27] wing5wong commented on #4097
just feeding back into this some more - today our user  has made 11 commits (commits labeled "2 hours ago" ) and has since been locked out. another hour has passed and 4 commits made - locked out by rate limiting.

![image](https://user-images.githubusercontent.com/4406993/89966914-4c3c7800-dca4-11ea-85e2-2189c1e1641f.png)
![image](https://user-images.githubusercontent.com/4406993/89971632-efdf558

[2020-08-12 09:28] erezrokah commented on #4097
@wing5wong, sorry to hear you're still experiencing issues.
The limit is tied not to a specific user of the CMS, but to the account token configured under `git-gateway` settings in Netlify. Creating a separate GitHub account dedicated to the CMS might help to diagnose as we can verify that the only consumer of the token (hence contributing to reaching the limit) is the CMS.

Seeing double the amou

[2020-08-12 12:32] KancerEzeroglu commented on #4129
Hi @erezrokah ,
I have checked the document that you shared as a first option. I saw someone has already added a link for the second way (you can check the screenshot). I think it is not enough for you, right? Could you explain the issue a little bit?
If it is possible, I can take this issue.
<img width="614" alt="Screen Shot 2020-08-12 at 14 27 50" src="https://user-images.githubusercontent.com/1

[2020-08-12 12:36] erezrokah commented on #4129
Thanks @KancerEzeroglu, sorry for not being clear with the issue.
We should re-write the repo https://github.com/netlify/netlify-cms-widget-starter as a step by step guide and add it to the docs.
The guide will replace the current forking workflow that is required to create the widget.
One example for a step by step guide is https://www.netlifycms.org/docs/gatsby/.

[2020-08-12 12:45] KancerEzeroglu commented on #3977
Hi, what is the current status of this issue?

[2020-08-12 13:07] KancerEzeroglu commented on #4129
Just to confirm, I'll enrich the current document(https://www.netlifycms.org/docs/custom-widgets/#registerwidget), with the steps mentioned in the repo read me (https://github.com/netlify/netlify-cms-widget-starter).
Is that ok?

[2020-08-12 13:11] erezrokah commented on #3977
Not currently on the radar of anyone if you're looking to contribute 😄

[2020-08-12 13:13] erezrokah commented on #4129
Yes, that's great. I recommend opening a PR (could be a draft) as soon as you have something in order to get some feedback.

[2020-08-12 13:14] dev-b01 opened #4140 "update editor component options value after login"
Problem:
I need to update and editor component options after calling an api

One of my custom component is a registration form which has a field
[code]

What I'd like to happen:
- have a clean method of fetching data after login and component registration without having to create work arounds like this
  void (async () => {
    try {
      mailerliteGroups = await getMailerliteGroups()
    } catch

[2020-08-12 14:39] davatron5000 opened #4142 "Feature Request: Add ability to register preview script"
**Is your feature request related to a problem? Please describe.**

While trying to generate previews that depend on AlpineJS for interaction, none of my interactions were working. I was able to get the site and content to render just fine. At first I wondered if Alpine didn't work in React for some weird reason (directives?) but was able to proof of concept that working so I was able to isolate t

[2020-08-12 16:55] katrina-odfina opened #4143 "Live Webinar Error: Minified React error #31; visit https://reactjs.org/docs/error-decoder.html?invariant=31&a..."
**Describe the bug** Unable to push changes to "Live" stage on webinar page. Page got stuck on Reg mode.

**To Reproduce** Go to CMS -> Change stage to "Live" -> Publish

**Expected behavior** Page in "Live" mode should have form behavior : Form Submit -> Zoom webinar link opens up

**Screenshots**
![web-error](https://user-images.githubusercontent.com/67610951/90044019-dfb08180-dc81-11ea-870f-e83

[2020-08-12 17:04] erezrokah commented on #4143
Hi @katrina-odfina, as I don't have access to you CMS instance, I can't follow the reproduction scenario you provided.
Do you mind sharing the full error link and `config.yml`?
Also looks like this error is coming from the CMS Preview pane. If you're using a custom preview template make sure you're converting date objects into strings before rendering them.

[2020-08-12 17:14] katrina-odfina commented on #4143
@erezrokah How can I access the full error link and config.yml? It seems the problem is with the "live" stage template of the page. When I switched to a different stage I didn't receive the error anymore.

[2020-08-12 17:27] erezrokah commented on #4143
Can you share your repository? The `config.yml` is configured there.
You can copy the full error link from the browser when you access the "live" stage template

[2020-08-12 17:37] katrina-odfina commented on #4143
@erezrokah Here's the repo https://github.com/grafana/website

Error link: https://admin.grafana.com/content-admin/#/collections/webinars/entries/webinar-chaos-engineering-with-gremlin-and-grafana

[2020-08-12 17:58] dev-b01 commented on #4140
Bit ugly, but I found a solution:

Rewrite EditorComponent config as an async function, then before CMS init in cms.ts
[code]
This is the part that went wrong for me so, perhaps it can be useful for someone else struggling with the same issue. I tried using an immediately executing function to use a top level await, but didn't place the CMS.init() call inside that function.

The serverless functio

[2020-08-12 17:58] #4140 closed

[2020-08-12 20:05] DRBragg commented on #2183
+1

[2020-08-12 21:42] wing5wong commented on #4097
Does this require adding paid users to my team or can I create the account with access to my repo and just use an access token generated directly on github?

OK, that's what I thought was the case

When capturing the traffic, make sure the Disable Cache option is not checked.
I will try get this done today depending on availability.

[2020-08-13 07:21] KancerEzeroglu commented on #4129
hi @erezrokah ,
I've started to work on it yesterday, fyi

[2020-08-13 07:23] erezrokah commented on #4140
Thanks for sharing the solution 👍

[2020-08-13 07:33] erezrokah commented on #4097
Any account with write access to the repo should work by generating the token from https://github.com/settings/tokens/new

[2020-08-13 09:33] KancerEzeroglu commented on #4129
Hi @erezrokah ,
I prepared the first iteration as a draft.
You can check it out. After your investigation, I can change the document if it is not perfect :)

[2020-08-13 11:21] #3876 closed

[2020-08-13 11:26] erezrokah commented on #4122
This should be fixed by https://github.com/netlify/netlify-cms/pull/4139/files#diff-cf2a5043451835158f55a82fdb3c3871R175

[2020-08-13 12:12] KancerEzeroglu commented on #3977
Then I would like to work on this :)

[2020-08-13 12:16] erezrokah commented on #4129
Thanks @KancerEzeroglu, if you open a PR for it Netlify will generate a preview template with your version of the site. That would make it easier to review.

[2020-08-13 13:32] Jursdotme commented on #2557
I have a few issues with the form fields in terms of usability.

This is the prototype i have base this on: https://codesandbox.io/s/netlify-cms-editor-design-j1cg3

- The lack of defined field borders make it difficult to know the clickable area.
- The lack of borders makes one think that the horisontal dividers are the form line. This is not the case, and clicking them does nothing. The result a

[2020-08-13 16:07] erezrokah commented on #4142
Thanks for opening this @davatron5000 and for the detailed description in the community.

I would expect this to work.

Do you mind sharing a repo with your setup (especially with the `componentDidMount` one) so I can try to reproduce and dig into this a little bit?

I wonder if we can pass in as props the frame `window` and `document` as specified here:
https://github.com/ryanseddon/react-frame-c

[2020-08-13 16:48] davatron5000 commented on #4142
Yup! That's pretty much it!

[code]

It's my first exposure to `react-frame-component` so not sure how the `window` and `document` traversal stuff works. But if you think it can be done via `componentDidMount`, then that's probably the easiest way to resolve this without a new registry.

[2020-08-14 13:20] andreascm commented on #3673
Hi, I'm interested in working on this. Although I'm not really clear about what do you mean by wrapper functions. Do you mean something like this?

As Is
`const dateFormat = field.get('dateFormat');`

To Be
[code]
or
[code]

[2020-08-14 15:43] mcintyre321 opened #4147 "Field not updating when linking between pages inside CMS"
I am using Netlify-CMS to build a readonly site, so I am using custom components which don't allow editing instead of the default ones.

One of those controls is a link to another-page-in-the-app control, which I'm using where one might ordinarily have a relation widget.

**Describe the bug**

When I follow the link to the linked page, any fields which have the same name as on the previous page ar

[2020-08-15 13:45] testpad commented on #3893
What happened to the original question for this issue - that of the unquoted Y or N?
The implication is you can't have a string widget that saves a single letter string when it's a Y or an N. Or rather, it saves just fine (without quotes), but you can't then reload the page because that field has been parsed as a boolean.

[2020-08-15 13:53] sbutlin commented on #3893
What happened to the original question for this issue - that of the unquoted Y or N?
The implication is you can't have a string widget that saves a single letter string when it's a Y or an N. Or rather, it saves just fine (without quotes), but you can't then reload the page because that field has been parsed as a boolean.

[2020-08-16 08:45] erezrokah commented on #3893
The original issue should have been fixed in #3923. See https://github.com/netlify/netlify-cms/pull/3923/files#diff-8eae933bb10932427533ce405fd808e9R64

If that is not the case please open a new issue.

[2020-08-16 09:50] #4142 closed

[2020-08-16 09:50] erezrokah commented on #4142
Update my example branch:
https://github.com/erezrokah/netlify-cms-reproductions/blob/d9300a4e970aa47dc4ec2054e7f30a0f85ae3796/public/index.html#L13

[2020-08-16 10:18] erezrokah commented on #3673
Thanks @andreascm, I think instead of wrapper functions, we can normalise the configuration here:
https://github.com/netlify/netlify-cms/blob/d649e960f0fa1d5b7ff5c0c306b8901e3ead87f2/packages/netlify-cms-core/src/actions/config.js#L286

Meaning traverse the fields and change the casing so it is consistent in the configuration and also print a log warning when we find a deprecated casing.
Then we c

[2020-08-16 11:20] erezrokah commented on #4147
Hi @mcintyre321, I think the issue might be that we're loading the entry on component mount:
https://github.com/netlify/netlify-cms/blob/d649e960f0fa1d5b7ff5c0c306b8901e3ead87f2/packages/netlify-cms-core/src/components/Editor/Editor.js#L102
which might not happen when you link directly in the editor.
You could try using a react router Link component by setting up the widget as a separate package e

[2020-08-16 15:38] andreascm commented on #3673
@erezrokah do you recommend to use camelCase or snake_case for the exposed configuration parameters?
Aside from the mentioned inconsistencies, I found one more, which is `pickerUtc` field in Datetime Widget. Seems like that is all the camelCase options that exist in the current configuration.

[2020-08-16 15:39] erezrokah commented on #3673
Thanks @andreascm, I think that since most options are `snake_case` that should be the casing for configuration options.

[2020-08-16 20:21] KancerEzeroglu commented on #3977
I am thinking 2 possible options for the solution:
- First option:
Passing the prefix to APIUtils.ts from top to bottom. More specifically, I can add a config option to config.yml for label prefix and pass this information for all method calls until it hits the APIUtils
- Second option:
If I can find a way to access config.yml from APIUtils.ts, I can get this prefix easier.

I prefer the second op

[2020-08-16 20:36] KancerEzeroglu commented on #3977
I am thinking 2 possible options for the solution:
- First option:
Passing the prefix to APIUtils.ts from top to bottom. More specifically, I can add a config option to config.yml for label prefix and pass this information for all method calls until it hits the APIUtils
- Second option:
If I can find a way to access config.yml from APIUtils.ts, I can get this prefix easier.

I prefer the second op

[2020-08-16 21:20] searls commented on #1306
This is definitely still an issue. The "Set status" dropdown (or that it's required) doesn't add any value to my workflow, which merely requires preview build support

[2020-08-17 07:41] andreascm commented on #3673
Regarding updating the documentation, I'm thinking about putting a deprecation notice on the affected documents as well
Something like the following:

**configuration-options.md**

**datetime.md**

@erezrokah what do you think?

[2020-08-17 08:26] mcintyre321 commented on #4147
Hi, and thanks for your quick response.

I think this is technically a bug, the more I think about it. If I

1. visit https://cuzkv.csb.app/#/collections/products/entries/Sentry
2. paste the other url (https://cuzkv.csb.app/#/collections/teams/entries/Some%20Team) in to the address bar

I still get incorrectly displayed data, the Name field still says "Sentry" (so I don't think it's caused by my `

[2020-08-17 08:37] erezrokah commented on #3673
Just to confirm, the docs will have the new casing but with a notice about the old casing? That might be confusing for new users that are not familiar with the old casing.

Since we make sure both methods work, maybe we can just keep the new casing in the docs to avoid confusion?

[2020-08-17 08:45] erezrokah commented on #4147
You'd need to do a refresh to make sure the component is remounted.

In order to fix it we would need to extract some of the code for loading the entry and registering the navigation blocker (https://github.com/netlify/netlify-cms/blob/d649e960f0fa1d5b7ff5c0c306b8901e3ead87f2/packages/netlify-cms-core/src/components/Editor/Editor.js#L123)

And run the relevant parts when the slug/collection change

[2020-08-17 08:58] andreascm commented on #3673
Okay, then I won't put the deprecation notice. Do we need to notify users about the change in casing? If yes, do I need to add any further info in the docs?

[2020-08-17 09:04] erezrokah commented on #3673
Since we're not breaking anything I think we're good. Before the next major version we'll have a dedicated change log for all the breaking changes in one place.

[2020-08-17 10:45] erezrokah commented on #1306
Fixing this might be just about reading the initial value from the config here:
https://github.com/netlify/netlify-cms/blob/9f219d395803075d9fe363c5366fb9bbf6fe38ae/packages/netlify-cms-core/src/backend.ts#L274

(and verifying it works for the all the different backends)

[2020-08-17 11:32] erezrokah commented on #3977
Hi @KancerEzeroglu, I think you would need to go with the first option.
`APIUtils.ts` are just utility functions and should not have access to the entire config or should be able to read `config.yml` (regardless we also allow initialisation via JavaScript without a `config.yml` https://www.netlifycms.org/docs/beta-features/#manual-initialization).

The link you provided is for media libraries exte

[2020-08-18 04:47] davatron5000 commented on #4142
WOW. Thanks so much for the help on this! This is incredible.

[2020-08-18 07:22] erezrokah commented on #3123
Closing this as stale as many changes were done to the backends to improve error handling.
If is still an issue please comment

[2020-08-18 07:22] #3123 closed

[2020-08-18 07:26] erezrokah commented on #2632
Might be related https://bugs.chromium.org/p/chromium/issues/detail?id=354963.
Regardless, this looks like a Chrome issue.
Closing as stale. Please comment if still relevant

[2020-08-18 07:26] #2632 closed

[2020-08-18 07:29] erezrokah commented on #2306
Closing as the relation widget now support referencing list items via wildcard (`categories.*`). See https://www.netlifycms.org/docs/widgets/#relation

[2020-08-18 07:29] #2306 closed

[2020-08-18 07:35] erezrokah commented on #1195
Closing in favour of https://github.com/netlify/netlify-cms/issues/1576 due to the detailed discussion there.

[2020-08-18 07:35] #1195 closed

[2020-08-18 07:38] erezrokah commented on #929
closing as stale. Please comment if still relevant

[2020-08-18 07:38] #929 closed

[2020-08-18 07:39] erezrokah commented on #1114
Closing in favour of https://github.com/netlify/netlify-cms/issues/716

[2020-08-18 07:39] #1114 closed

[2020-08-18 07:42] erezrokah commented on #1024
Closing as stale. We don't save any metadata anymore, just use PR labels and infer the rest of the information

[2020-08-18 07:42] #1024 closed

[2020-08-18 14:34] erezrokah opened #4174 "Chore: get rid of redux-optimist"
We use `redux-optimist` only for the editorial workflow which is inconsistent with the rest of the codebase, and makes the code more complicated.
Also, that package is no longer maintained.

We should remove it as unless we can think of a major benefit it produces.

[2020-08-18 20:42] sitefinitysteve opened #4175 "Failed to load config.yml (404)"
**Describe the bug**
On localhost I can get to /admin and see the netlifycms login, the network inspector shows it getting the config.yml from /admin/config.yml

When I deploy to Netlify though it seems that it's trying to load it from /config.yml.

![image](https://user-images.githubusercontent.com/1542376/90562959-164e3680-e171-11ea-9bd7-b98ac8fc3885.png)

If I hit it at the proper /admin/config

[2020-08-18 20:43] sarojpunde opened #4176 "TypeError: Cannot read property 'image' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.19`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.125 Safari/537.36`

**CMS configuration**
[code]

[2020-08-18 20:43] #4176 closed

[2020-08-18 20:56] sitefinitysteve commented on #4175
Ok, so... it works now.  I disabled the netlify asset optimization (of which I only had images checked... was causing janky images though so I disabled it)

I dunno!?

[2020-08-18 20:57] #4175 closed

[2020-08-18 21:39] goodevilgenius commented on #441
I see a lot of commits on this issue. Is there any information on when there might be a release, even maybe a beta release?

For me, mobile is critical. I specifically decided to put together a Netlify CMS instance in order to post to my blog from my phone. I don't need a CMS when using my desktop.

[2020-08-19 09:13] KancerEzeroglu commented on #3977
I agree with you and working on this. fyi

[2020-08-19 10:05] erezrokah commented on #441
Hi @goodevilgenius, there is a bigger effort on improving the UX and UI. You can track it here:
https://github.com/netlify/netlify-cms/projects/9

Also see https://github.com/netlify/netlify-cms/issues/441#issuecomment-603811698

[2020-08-19 10:57] erezrokah commented on #4143
Hi @katrina-odfina and sorry for responding just now.
I'm getting page not exists for https://github.com/grafana/website. Is it possible that the repo is private?

[2020-08-19 16:07] katrina-odfina commented on #4143
Hi there! Thanks for looking into this. We've resolved it on our end so can close this out

[2020-08-19 16:07] #4143 closed

[2020-08-19 16:52] StevenDepa opened #4177 "Missing fieldMetadata content for multiple relation widget in preview"
I cannot show the content of a multiple relation widget inside a custom preview, since the fieldMetadata prop doesn't contain the data anymore.

**To Reproduce**
1. Create a relation field on a collection type with multiple true, referencing another collection type (es. post authors)
2. Populate the related entry (es. create some authors)
3. Populate the relation widget referencing the entry (es.

[2020-08-19 20:56] barthc commented on #4177
@StevenDepa trying to confirm your issue, the `fieldMetaData` is passed down to the preview. Can you show some code from your end?

[2020-08-19 22:25] wutali commented on #2100
I got the same issue, and then I tried to build an example of building a website using Next.js and Netlify CMS. Check it out:

https://github.com/wutali/nextjs-netlify-blog-template

[2020-08-20 09:33] StevenDepa commented on #4177
It'll be a little complicated to share the entire setup, so I put together a way to reproduce it:
clone the starter [gatsby-starter-netlify-cms](https://github.com/netlify-templates/gatsby-starter-netlify-cms), then install:
netlify-cms-app@2.12.19
gatsby-plugin-netlify-cms@4.3.11
netlify-cms-proxy-server@1.3.1

My website is not live yet, so I'm working on local_backend, so I installed **netlify-

[2020-08-20 10:24] KancerEzeroglu commented on #3977
Just for the update, I've finished the GitHub part. I need to make an extra one more test. After that, I'll send a PR. And after everything is fine, I'll do the same things for Bitbucket, GitLab, and so on.

[2020-08-20 12:21] barthc commented on #4177
@StevenDepa  thanks for the detailed setup. However, I was still able to access the `fieldsMetaData`  with your setup. On select of relation item, the `fieldsMetaData` is available in-store and is passed to the preview.

[2020-08-20 12:27] StevenDepa commented on #4177
Hmmm, maybe I wasn't clear: the field is always present, but in the recent version it's almost empty, I cannot find in it the data about the related items.

[2020-08-20 12:31] barthc commented on #4177
Yes, the data of the selected items is present from my end.

[2020-08-20 15:27] erezrokah opened #4179 "Bug(cms-gatsby-plugin): build fails when using TypeScript setup"
**Describe the bug**
Context:
https://community.netlify.com/t/netlify-cms-is-throwing-a-callback-has-already-been-called-error/20515/4

Gatsby project fails when using the CMS plugin with a TypeScript setup

**To Reproduce**

To reproduce:
1. `git clone https://github.com/NovySolutions/test-repo`
2. `cd test-repo`
3. `npm ci`
4. `mkdir src/static` to add a missing directory
5. `npm run build`

See

[2020-08-20 17:26] tina opened #4180 "TypeError: Cannot read property 'publicURL' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.13`
 - Git provider: `github`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.125 Safari/537.36`

**CMS configuration**
[code]

[2020-08-20 17:54] StevenDepa commented on #4177
I found the problem: when you select a relation item, the fieldsMetaData content shows up, but not on first load. So when someone enters to see an already filled entry it does not see the content in the preview.

[2020-08-20 21:44] ottozaiser commented on #3415
Hello! Do you guys recommend a workaround about this issue?

[2020-08-21 08:44] StevenDepa commented on #4177
This is still a bug in my opinion. I should be able to see a full preview of a filled entry, without having to select something.

[2020-08-21 19:50] eugenefm opened #4183 "Bitbucket Implicit Auth users need to wait 30 seconds to log in after token expires."
**Describe the bug**
Bitbucket Implicit Auth users need to wait 30 seconds to log in after token expires.

**To Reproduce**
1. Wait one hour for the Bitbucket Oauth token to die.
2. Try to log in again at the login page.
3. You will see 'Logging in...' for about 30 seconds as the app attempts to login with the expired token repeatedly. Only after waiting for these failed attempts does the 'Log in'

[2020-08-21 21:37] srchulo opened #4184 "Return URL setting after logging in instead of going to homepage"
**Is your feature request related to a problem? Please describe.**
When I go to site.com/admin/ to login using Netlify Identity, it always returns me to the home page after login, but I went to /admin/ because I wanted to be in Netlify CMS.

**Describe the solution you'd like**
I would love if there was a setting to say what URI to go to after logging in:

[code]

[2020-08-23 18:02] aequi42 opened #4185 "Bug(netlify-cms-widget-relation) removing value causes TypeError: Cannot read property 'value' of null"
**Describe the bug**

I have a relation widget with `required: false`. Setting the Value works as expected, but if i try to remove a selected relation, the error appears.

The Stacktrace leads to the following Source:
https://github.com/netlify/netlify-cms/blob/d6a02636cd02dc3969f3efba9fdeb45badd49d70/packages/netlify-cms-widget-relation/src/RelationControl.js#L54-L56
The first item in `initial` i

[2020-08-24 06:55] crimzonarc opened #4205 "Fs.writefile not writing to github repo on build"
Hi! so I wanted to use netlify cms for one of my projects and I am a netlify newbie. so my collections export in JSON format extension: JSON , format: JSON and obviously netlify cms create a file, and each entry to the file is stored as independent JSON files so I wanted to combine all this json files into one json file on the build . Now the problem I am facing is on build in the local server the

[2020-08-24 08:47] laurenskling commented on #2925
My issue is about `manifest` not `gatsby-plugin-netlify`. But to try to awnser: that only does some things about redirects and stuff. I guess it doesn't really matter where that one is placed. Yes; offline should be last.

[2020-08-24 10:35] franva commented on #2925
@laurenskling thanks man, after I moved the ```gatsby-plugin-netlify-cms``` after the manifest, it solved the problem.

I guess, cms and netlify should be placed the last as we do not want to cache these "backend" for admin portal.
The client side is what should be cached.

All good 👍

[2020-08-24 18:00] idrisadetunmbi commented on #3753
@erezrokah, `sanitize_replacement` with the preview_path shows an error when I use a character like `/` or ` `. The error is `The replacement character(s) (options.replacement) is itself unsafe.`

Basically, when the preview_path resolves to something that includes a `/`, it is replaced with `-` which prevents being able to use something like a slug entry field in the CMS as the preview_path

[2020-08-24 21:29] wing5wong commented on #4097
Hi @erezrokah
Sorry for delays here. as usual life gets in the way.

I havent tried the new token just yet, but as a point of reference I was with our maintainer yesterday after she had been rate limited earlier in the day - then from a fresh start, she tried to edit an article.

It asked her if she wanted to restore a local backup (presumably because she was rate limited previously, and closed th

[2020-08-25 15:07] surjithctly opened #4208 "Media Folder is not Recursive to Sub Folders"
**Describe the bug**
`media_folder: "static/img"` is only looking for the root folder. Not subfolders.
**To Reproduce**

1. Create subfolders inside media folder
2. Check admin / Media Tab
3. Cannot see images inside subfolders

**Expected behavior**

All images inside the selected path should show.

Example:
[code]

**Applicable Versions:**
Windows, Github, Eleventy, Json data

**CMS configuratio

[2020-08-26 06:49] equivalentideas opened #4209 "The public link for uploaded media is not finable for users, made worse by the file name not being displayed consistently in different states"
**Describe the bug**

When CMS users upload a document, they cannot determine what the public URL for it is, so that they can share it with others.

My colleague uploaded a pdf document, titled "Response to Coles and Woolies.pdf", after which the media upload screen appeared like this:
![image](https://user-images.githubusercontent.com/1239550/91269211-14602500-e7ba-11ea-93e6-942bd969492f.png)

Fr

[2020-08-26 08:11] erezrokah commented on #4208
Thanks @surjithctly closing this in favour of https://github.com/netlify/netlify-cms/issues/3240

[2020-08-26 08:11] #4208 closed

[2020-08-26 09:55] erezrokah commented on #3240
Hi @neilmorton, Netlify CMS is a community driven project, this is not on the radar at the moment but we would love a contribution for it.

[2020-08-26 09:59] neilmorton commented on #3240
Hi @erezrokah, thanks for the heads up. I'd be interested if @andy-mcdonald did anything with this.

[2020-08-26 10:09] erezrokah commented on #4209
Hi @equivalentideas thank you for opening this.
Usually this what happens when you upload a file in the CMS:

1. The CMS commits that file to your GitHub/GitLab/Bitbucket repo
2. The commit to the repo triggers a site build in a CI system (e.g. Netlify)
3. The build process generates a new version of your site
4. The new version of the site is pushed to the live version (possibly to a [deploy prev

[2020-08-26 10:23] erezrokah commented on #4205
Hi @crimzonarc, this seems more related to setting up your build script than the CMS.
I recommend posting in https://community.netlify.com/.

[2020-08-26 10:23] #4205 closed

[2020-08-26 14:07] surjithctly commented on #3240
I think this is a must have feature for netlify cms, since in most big projects, images are organized in subfolders.

I know this can take some time to implement. But is it possible to prioritize this?

[2020-08-26 14:43] sbutlin opened #4211 "string widget can't round trip string values that are parsable as boolean or date values"
I'm trying to store a single letter in a yaml frontmatter field using the string widget, but this issue would also apply to a string that happens to match a date format.

Issue #3893 fixed the yaml parser to keep values as strings if quoted, so a quoted "y" or "n" would load as the single character string "y" or "n".

However, the string widget, if you supply a value of "y" or "n", will save the v

[2020-08-26 18:28] eugenefm opened #4212 "Curly apostrophe in title not being escaped in slug generation."
**Describe the bug**
If the user enters a curly apostrophe in the title of their post. That character is not escaped and is used in the filename and route. This leads to errors loading the post when trying to edit it.

**To Reproduce**
1. Add a new blog post with a curly apostrophe in the title `’`
2. Try to edit that blog post after saving it, and it will fail to load.
3. Notice that the filename

[2020-08-27 00:16] equivalentideas commented on #4209
Thanks @erezrokah , the CMS wouldn't need knowledge of the build process to know the public path for a file though would it? Because 'public_folder' is set in admin/config.yml ?

Showing a path without knowledge of whether the file has been deployed could be confusing, in the same way that the view live links are, but it could be a step forward?

One suggestion for how to present this could be to

[2020-08-27 00:17] equivalentideas commented on #4209
Also, :) wondering if your answer above applies to this element of the issue as well:

Thanks @erezrokah :bouquet:

[2020-08-27 06:32] TorbjornHoltmon commented on #2183
Has anyone tried to make it work with https://github.com/akxcv/vuera ?
+1

[2020-08-27 08:22] erezrokah commented on #4097
Re-opening this so we can track this better

[2020-08-27 08:36] erezrokah commented on #4209
Good point. That would only work when not using editorial workflow mode and for deploy previews we would need to use something like:
https://www.netlifycms.org/docs/deploy-preview-links/#header

In both cases we would need a good way to figure out when the build is finished (or even started so we could display some kind of loading indicator).

Maybe there is a bigger feature here for improving int

[2020-08-27 08:37] erezrokah commented on #4209
This is a bug, I recommend opening a separate issue for it.

[2020-08-27 09:13] BasJan81 opened #4215 "Show branch name in Dashboard"
Just a thought 💡

What if we showed the current branch name at the bottom of collections. Is there a reason why not to do this?

![CleanShot 2020-08-27 at 11 05 03](https://user-images.githubusercontent.com/10583358/91421131-d7e20700-e855-11ea-9b37-87352313e96a.png)

[2020-08-27 11:52] mcintyre321 commented on #2868
It would be great to have summaryUsesHtml or something in the config.yml

In the meantime, this filthy hack might help someone:

[code]

[2020-08-27 18:39] rkingett opened #4216 "Improve keyboard and screen reader compatibility"
A number of the buttons, check boxes, and edit fields are not accessible to screen readers. For instance, the checkbox that is supposed to enable Markdown in the editor does not have a label attached to it, so the screen reader says, only, check box.

Menus do not gain focus upon opening them with the keyboard, as well.

Steps to reproduce.

1. Download and run NVDA, the free and open source scree

[2020-08-28 01:32] #3505 closed

[2020-08-28 05:19] pchorus commented on #4112
Hi @erezrokah I would like to help with this one. I opened the draft PR #4217 just to make a proposal of how it could work.
Please share your thoughts on this approach.
As soon as we can agree on an approach I will add some tests.

[2020-08-29 04:01] ameego opened #4218 "Asset subfolder not being created upon submitting new entry in CMS"
**Describe the bug**
When I submit a new item in a collection (containing text and image), the image is not uploaded to the path specified in `media_folder` for this field. The output in the json is correct, the `media_folder` is shown correctly. It seems to upload the image to the path specified in the root `media_folder` on the first submission.

Re-uploading the image a second time fixes the is

[2020-08-29 13:46] joyously commented on #4062
Related: I tried this for the first time by clicking on the Edit link from the docs, and I immediately messed up the links. It seems that clicking on the link icon in Rich mode removes the link. I couldn't see a way to edit the link. So now that the link is gone, I wanted to undo that, and couldn't find an Undo option anywhere. I saw that if I switched to Markdown, I could see the link and edit it

[2020-08-29 18:06] knoppiks commented on #3704
Has anyone had a look into this? Is it even possible using the gitlab API? The discussion in https://github.com/netlify/netlify-cms/issues/1206#issuecomment-641474201 suggests, that it is not possible for GitHub... is someone familiar with the GitLab LFS API?

[2020-08-30 13:31] erezrokah commented on #3704
Hi @knoppiks, if you'd like to look into it, you can use the Bitbucket implementation as a reference:
https://github.com/netlify/netlify-cms/blob/8d693caebdda381b989ea9b934fac4e65d06498e/packages/netlify-cms-backend-bitbucket/src/implementation.ts#L379

[2020-08-30 18:48] rkingett commented on #1333
I would argue a lot of these still apply in later versions of the CMS. For example,

1. Tab order is a bit awry
2. Use HTML elements, not divs: eg main, aside, button, nav, list items for posts
7. Match form labels with same id as form inputs. This one needs the most work.

[2020-08-30 18:50] erezrokah commented on #4216
Closing in favour of https://github.com/netlify/netlify-cms/issues/1333.
You can list any specific issue in the existing issue

[2020-08-30 18:50] #4216 closed

[2020-08-30 20:41] erezrokah commented on #4129
Fixed via https://github.com/netlify/netlify-cms/pull/4146

[2020-08-31 03:50] wing5wong commented on #4097
Thanks.

I have created a new users and invited them as a collaborator to this repository.
I have generated an access token for that user and assigned it in the netlify git-gateway settings.
I have tested some updates to ensure our content manager can still post updates.

Will advise if any further timeouts

[2020-08-31 03:52] idrisadetunmbi commented on #3578
Getting this same behavior.

[2020-08-31 06:31] gabrielalg opened #4239 "Login/Auth screen not being translated by Locale"
**Describe the bug**
I changed the locale in my config.yml file but the translation didn't reflect in my Auth/Login screen. After logging in, many labels were translated, so, I presumed the configuration didn't work correctly.

**To Reproduce**

1. Configure an index.html file in the /admin directory, following the CMS doc instructions.
2. Change the config.yml file inserting `locale: 'pt'`
3. Acc

[2020-08-31 09:22] rumack opened #4240 "Relation widget not working with valueField: slug"
**Describe the bug**

I'm setting up a simple blog with Sapper and Netlify CMS. I have a 'Posts' collection and an 'Authors' collection. Items in the Posts collection have a Relation widget to select a corresponding author with the following config:
[code]
Items also have a Relation widget allowing selection of multiple related posts (from the same Posts collection with the following config:
[code

[2020-08-31 09:33] rumack commented on #4240
Sorry, I'm an eejit. Just figured out a mistake in my config. The valueField in both cases should use the template string, {{slug}}. I've changed the config and it's working now. Thanks and sorry for spamming your issues.

[2020-08-31 09:33] #4240 closed

[2020-08-31 11:15] erezrokah commented on #4240
Thanks for following up with the solution @rumack!

[2020-08-31 11:21] erezrokah commented on #4239
Hi @gabrielalg, those missing translations were added in https://github.com/netlify/netlify-cms/pull/4173 and released in `2.10.56`
https://github.com/netlify/netlify-cms/compare/netlify-cms@2.10.55...netlify-cms@2.10.56

Please try with the latest version. Closing this - please comment if updating to the latest version doesn't solve this

[2020-08-31 11:21] #4239 closed

[2020-08-31 11:25] #3673 closed

[2020-08-31 13:18] theetrain commented on #1171
Hello, is there a status update on this? I've been following #432 searching for a way to integrate NetlifyCMS with another media store such as S3 or GCP Storage. If there already exists an API (such as the one proposed in https://github.com/netlify/netlify-cms/pull/1602#issue-207764837) I'd be happy to help contribute documentation and leverage Netlify Functions if a backend is needed.

[2020-08-31 14:19] gabrielalg commented on #4239
Hi @erezrokah ! I'm using the CDN link to access the cms (https://unpkg.com/netlify-cms@2.10.55/dist/netlify-cms.js) but I can't find the 2.10.56 version. I've tried to find it in npmjs but it wasn't there too. Can you help me with the published link for this new version, pls 🙏?

[2020-08-31 14:45] erezrokah commented on #4239
Oh, looks like there is an issue with that release as it is not on npm:
https://www.npmjs.com/package/netlify-cms

Working on getting a new one released

[2020-08-31 20:19] Phara0h commented on #490
Any updates on this, everyone thinks the current design is super ugly

[2020-09-01 03:49] papistan commented on #263
For those looking for solutions in the meantime, if you have CI with scheduled workflow/builds (CircleCI & Travis), one idea to set up without Zapier:
- schedule a repeating CI build every AM (or every hour)
- have a "Scheduled Post Time" input field where user enters future date/time
- check date/time before running `createPage` or whatever page building function to build all posts (so post /page

[2020-09-01 07:43] renestalder commented on #490
@Phara0h See this ticket https://github.com/netlify/netlify-cms/issues/2557 and all referenced discussions. There are working examples of the new design on some separate branch. Check all the tickets with UX tags:
https://github.com/netlify/netlify-cms/labels/area%3A%20ux

(ps. I'm not involved. I'm just as curious and eager as you to see a new admin interface)

[2020-09-01 09:14] erezrokah commented on #490
Closing this issue in favour of https://github.com/netlify/netlify-cms/issues/2557

[2020-09-01 09:14] #490 closed

[2020-09-01 09:21] renestalder commented on #2557
@austincondiff I just want to say how much I appreciate your work here as the UI is the single biggest barrier of Netlify CMS to use it for all use cases (especially outside English speaking and technical audiences).

That said, if you need help, be it with design, front-end or accessibility, I'm glad to help. Accessibility is especially important to me, so I would really like to help test with sc

[2020-09-01 12:36] #4183 closed

[2020-09-01 16:23] mrkaluzny opened #4245 "Cannot unselect Relation Widget - TypeError: null is not an object (evaluating 'e.value')"
**Describe the bug**
After adding relation in the CMS and trying to remove it the error is thrown.

**To Reproduce**
Add new relation item and then remove it

**Expected behavior**
Removing relation from item.

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.19`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/60

[2020-09-02 03:56] wing5wong commented on #4097
Open admin page > click News category
![image](https://user-images.githubusercontent.com/4406993/91929921-9c52ab80-ed33-11ea-8fdc-099386a6d229.png)

Select Edit 1 new item
![image](https://user-images.githubusercontent.com/4406993/91930104-1b47e400-ed34-11ea-8381-2d7e5f0daae1.png)

I refreshed the edit screen, and unfortunately chrome dev tools crashed.

Closing and reopening devtools reveals
![im

[2020-09-02 07:50] ameego commented on #4218
Hello,

@erezrokah, would you be able to point me at which packages to look at in the code? I have not contributed so far but I wouldn't mind having a look at this issue.

Thanks,

[2020-09-02 08:51] KancerEzeroglu commented on #4174
I am going to work on that.
- first I need to understand the code base and how reducers work.
- I will try to run the code and debug locally to get more context. Any advice or direction is welcome 😄

[2020-09-02 10:45] erezrokah commented on #4218
Thanks @ameego, I would try looking here:
https://github.com/netlify/netlify-cms/blob/94bf5ab060a95acaf10f43fca8d42793f3b85dcd/packages/netlify-cms-core/src/backend.ts#L994

Templating media folder paths is a bit tricky, since we can only evaluate the path once the user saves the entry.
So we use a dummy path and re-evaluate it again just before the entry is saved.

[2020-09-02 10:50] erezrokah commented on #4174
You've been doing great work so far, so not much I can add.

Just the general concept of redux-optimist:
First update the redux state assuming the operation succeeded. If the operation failed, revert the state, otherwise don't do anything.

I think the idea was to make the UI respond fast when doing backend related operations assuming most of them succeed anyway.

[2020-09-02 11:52] valeriy-ten-aspose commented on #1041
@erquhart is there any progress on that?
I configured NetlifyCMS for my Hugo site that have markdown files at self-hosted Gitlab. Now I can't make NetlifyCMS preview pane to display pages with Hugo styles and templates. Could you please clarify is this possible at all?

[2020-09-02 11:55] ValeriyTen commented on #1041
@erquhart is there any progress on that?
I configured NetlifyCMS with Hugo that have markdown files on self-hosted Gitlab. Now I need to make NetlifyCMS preview pane to display data in my Hugo theme style and to render templates and shortcodes correctly.

[2020-09-02 13:51] acarnwath opened #4248 "Markdown Field Documentation is Incorrect (editor_components instead of editorComponents)"
In the documentation here: https://www.netlifycms.org/docs/widgets/#markdown
It states:
`editor_components`: an array of strings representing the names of editor components to display (all shown by default). The image and code-block editor components are included with Netlify CMS by default, but others may be created and registered.

But the actual key is `editorComponents`

[2020-09-02 13:53] erezrokah commented on #4248
Thanks @acarnwath. this is related to another issue, where our docs represent the code on the default branch and not the published version of the CMS.
The change was done in https://github.com/netlify/netlify-cms/pull/4172, so the docs will be correct once we publish a new version.

[2020-09-02 17:37] mrkaluzny commented on #4185
I'm having the same problem it was introduced recently, one of the projects started having this issue.

[2020-09-02 20:54] lupelius commented on #2009
this is still happening I wouldn't have closed it, neither this one or #3415 seems to be fixed, my project needs a massive refactor for working around this putting each entry in its own file, when can we expect a fix please?

[2020-09-02 20:55] lupelius commented on #3415
this is still happening, neither this one or #2009 seems to be fixed, my project needs a massive refactor for working around this putting each entry in its own file, when can we expect a fix please?

[2020-09-03 01:52] LVstandsup opened #4249 "TypeError: Cannot read property 'value' of null"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.56`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.83 Safari/537.36`

**CMS configuration**
[code]

[2020-09-03 02:08] rkingett commented on #1333
Form elements when adding a kitchen sink item do not have any labeled elements at all. That area is, at the moment, unable to be understood by a screen reader because buttons are not labeled and edit fields are also not labeled.

I am unable to tell which edit field does not have a label because the ones in the Kitchen sink section of the quick add menu are too numerous to list.

[2020-09-03 04:02] keegan-lillo commented on #445
@hanneskuettner I look forward to your PR. In the mean time, I came up with a fairly decent solution that might help others.

I used [Nested Collections](https://www.netlifycms.org/docs/beta-features/#nested-collections) to basically give me the same effect since the slug (file name) is set via the `meta.path` field.

### config.yaml
[code]

And then if I add two items in the collection with paths

[2020-09-03 09:38] erezrokah commented on #2009
Hi @lupelius, we can track this issue under #3415.
Keeping duplicate issues open just makes it hard to address them.

The CMS is a community based project, so we would love if someone could contribute a fix for this.

[2020-09-03 15:50] rori4 commented on #4099
I don't agree with this. You can have write access but the master branch can still be protected so you can't do that much harm unless the PR is approved an merged. But allowing to create a PR with malicious code that is shown in the Netlify Preview can still be done as you can create pull requests.

This means that you need to trust your coworkers that can create pull requests not to add malicious

[2020-09-03 16:49] rori4 commented on #4099
I was able to solve this retarded stuff by converting the md to html  -> sanitizing it -> and then converting it back to markdown in order for it to be displayed properly. **:man_facepalming:**

[code]

Please fix this and provide an option to sanitize the html!

[2020-09-03 17:11] silverwebb925 commented on #2092
@erquhart I'm very eager to contribute to the Docs, both in terms of add/updating content and improving the CMS configuration so it is easier to work with via Open Authoring.
Put in my first PR (ever!) with an improvement to the section organization workflow, and would appreciate some help to get up to speed with the contribution process if you (or someone else) has time to comment. Also posting t

[2020-09-04 00:11] franva opened #4251 "TypeError: Cannot read property 'ownerDocument' of null"
**Describe the bug**
When trying to insert a code block, this error screen pops up.

**To Reproduce**
1. use this [Gatsby + Netlify CMS template](https://www.gatsbyjs.com/starters/netlify-templates/gatsby-starter-netlify-cms/)
2. make it editorial
3. open the admin side
4. create a blog
5. insert a code block

**Expected behavior**
See the code block

**Screenshots**

![image](https://user-images.

[2020-09-04 00:11] alvinleung commented on #2347
Thanks for sharing this @Kinark. This is exactly what I'm looking for!

[2020-09-04 07:50] kenkoy commented on #1727
Any update/progress?

[2020-09-04 10:48] dumptyd commented on #852
Are there any plans to add this as a core widget or having a generic `input` widget that would support most of the input types listed here: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#%3Cinput%3E_types?

[2020-09-04 15:24] artemtech opened #4252 "Failed getting access token: Gotrue-js: failed getting jwt access token"
**Describe the bug**
When i want to logout from admin panel while editing a post file, i got this message in the page:
[code]
checked into console browser, got these messages:
[code]
And also, my browser address not redirecting to /admin/#!/ , so it still in last edited file location.

**To Reproduce**
1. Go to admin panel
2. Click on a post from your post lists to display its contents
3. After yo