[2021-04-01 21:30] lsolesen opened #5199 "{{permalink}} with / is rewritten to - in preview_path for preview links"
**Describe the bug**

The {{permalink}} has / rewritten to - in preview_path for preview links

**To Reproduce**

I have the following config.yml -- https://github.com/motionsplan/motionsplan-dk-jekyll/blob/master/admin/config.yml

In my backend I have this permalink:

![Screenshot - 2021-04-01T232745 144](https://user-images.githubusercontent.com/148026/113356027-f3f4dc00-9341-11eb-8876-1c3e4d58c

[2021-04-02 11:43] tomrutgers commented on #5190
Do you have custom previews in place? If so, you should check if data within the section exists before trying to output it. For example:
[code]

[2021-04-02 16:59] tonymamo commented on #5164
Hi @erezrokah thanks for the reply. I did in fact have an issue with one of my preview templates and I think that was causing other things to fail downstream. Thanks for the suggestion!

[2021-04-02 16:59] #5164 closed

[2021-04-02 21:07] lfracalossiFA opened #5200 "Bulleted list behavior in rich text view of Markdown widget is unexpected"
**Describe the bug**
In the rich text view of a Markdown widget, the "bulleted list" behavior is strange and unexpected.

**To Reproduce**
- In the CMS UI, open a piece of content with a Markdown widget
- Type in some text in the rich-text view
- Select the text and hit the “bulleted list” button.
- Hit return to go to the next line.
- The text on the second line is indented, but does not have a b

[2021-04-03 06:04] bassam opened #5201 "Add support for open authoring for private repos"
**Is your feature request related to a problem? Please describe.**

Current open_authoring is limited to public repos.

**Describe the solution you'd like**

We would like support for open_authoring with private repos. The use case is supporting fork flows for editing content even when the repo is private.

**Describe alternatives you've considered**

**Additional context**
From what I can tell su

[2021-04-03 06:45] bassam commented on #5201
I was able to make this work by adding `auth_scope: repo` to my config:

[code]

[2021-04-03 06:45] #5201 closed

[2021-04-03 17:16] DamianPereira commented on #2335
Does this feature allow for local development with the cms admin panel, but remote repo management if accessing from netlify url? Can we have 2 configs for different environments? Ideally I'd be able to test out products in local development, and then push the changes made locally to deploy to the real world, but then if the user of the website (not a dev) wants to change something, they can use t

[2021-04-03 18:09] bassam opened #5203 "Add an option to always create a fork when the user is an origin maintainer"
**Is your feature request related to a problem? Please describe.**
When using open authoring if the user making changes had write or admin writes on the repo, the fork flow is skipped and changes are made directly on the repo.

**Describe the solution you'd like**
I'd like an option to always go through a fork flow even when the user making the changes had write/admin access on the repo. This coul

[2021-04-04 07:29] erezrokah commented on #5198
Hi @shushugah I believe this is a duplicate of https://github.com/netlify/netlify-cms/issues/4637.

You should use ISO format for the dates in order for the sort to treat them as dates and not strings (until that issue is resolved).
See https://raw.githubusercontent.com/netlify/netlify-cms/master/website/content/blog/netlify-cms-2-4-0.md

Closing, please comment if you have additional questions

[2021-04-04 07:29] #5198 closed

[2021-04-04 11:24] #5123 closed

[2021-04-04 11:24] #5188 closed

[2021-04-04 11:24] #5193 closed

[2021-04-04 11:36] erezrokah commented on #5200
Hi @lfracalossiFA, closing as duplicate of #3474. See https://github.com/netlify/netlify-cms/issues/3474#issuecomment-607549091.

Let's continue the discussion on #3474 to see if it's worth re-opening the issue

[2021-04-04 11:36] #5200 closed

[2021-04-04 12:11] #5203 closed

[2021-04-04 14:00] erezrokah commented on #4533
Sorry for the late response. Can you provide the full `config.yml`? Also is the error coming from the left pane (editor) or the right pane (preview)

[2021-04-04 14:10] erezrokah commented on #2360
Closing this as stale as we've replaced our `yaml` parser so this should be supported https://eemeli.org/yaml/#alias-nodes.
Please comment if still relevant

[2021-04-04 14:10] #2360 closed

[2021-04-04 14:14] erezrokah commented on #5199
Closing this as duplicate of https://github.com/netlify/netlify-cms/issues/4963.
I'll comment #4963

[2021-04-04 14:14] #5199 closed

[2021-04-04 14:22] erezrokah commented on #4963
The CMS escapes template variables since they can break URL structure.
You might be able to construct the full preview path based on multiple fields, e.g `{{field1}}/{{field2}}` or we can consider proving an option to opt out of the CMS behavior (or even use https://www.netlifycms.org/docs/beta-features/#summary-string-template-transformations)

[2021-04-04 14:26] lsolesen commented on #4963
It is not an option for me to rebuild the link, as I add the slashes manually, so an option to opt out og that behavior would be great.

[2021-04-04 17:09] sidag95 commented on #52
Hi @erquhart, I just wanted to know what is the priority of this issue and whether the team is planning to pick this up anytime soon?

[2021-04-04 20:19] mirko-kienle commented on #4778
Hi, sorry for commenting on a closed issue. I just switched locales to German for a client and was a bit taken aback by the "Neue(r/s)" button, which just looks strange to me. Could I suggest using "{ itemLabel } hinzufügen" instead? It seems to be a fairly common translation method and doesn't hinder the reading flow as much. I'm happy to open a corresponding PR.

[2021-04-05 07:57] erezrokah commented on #52
Hi @sidag95, this is not prioritized yet. If anyone would like to submit a contribution for it that would be great.

[2021-04-05 08:02] erezrokah commented on #4778
@mirko-kienle I don't know German so I can't contribute to this discussion.
I'd be happy to accept a PR if the community things it's the right thing to do.

[2021-04-05 08:49] sidag95 commented on #52
Hi @erezrokah would love to contribute towards this. Will have a look at the Contributions guide. Apart from that, where should I start?

[2021-04-05 08:52] erezrokah commented on #52
Thats great @sidag95. The contribution guide is a great start.

I would start by outlining the proposed UI changes in this issue, after that we would need to implement the comments/notes support in every backend (see https://github.com/netlify/netlify-cms/tree/master/packages/netlify-cms-backend-github for example).

[2021-04-05 09:03] sidag95 commented on #52
Got it. Let me look at the contribution guide and propose the UI changes first and take it from there. Thanks!

[2021-04-05 09:53] pmpinto commented on #3904
Hey @erezrokah! Thanks for taking a look at this.

Sorry if I didn't make that clear.
I believe what I'm looking for is _exactly_ what the original poster described.

The issue being: users with write permissions on the target branch are unable to publish a change (on a protected branch) from the CMS directly. Because it will complain it needs at least 1 review (in my case).

A possible solution:

[2021-04-05 10:02] erezrokah commented on #3904
Hi @pmpinto, thanks that makes more sense.

Just realized we have another issue for this https://github.com/netlify/netlify-cms/issues/1593.
So it's better to discuss it there anyway

[2021-04-05 14:05] arpitdalal commented on #5111
@erezrokah Hey, I don't mean to be rude but, when is this going to be fixed? I can't use netlify cms with react@17.0.2 and I don't want to downgrade react to v16 because if I do, I will have to downgrade a lot of dependencies of my project and it would be just too much hassle. Is there a workaround of sorts?

[2021-04-05 14:09] erezrokah commented on #5111
Hi @arpitdalal, the CMS is a community project so the best way to fix this is via a contribution.
A workaround is suggested in the issue description:
![image](https://user-images.githubusercontent.com/26760571/113582882-96a6a680-9631-11eb-961a-1be12b1be913.png)

[2021-04-05 15:54] #5016 closed

[2021-04-06 02:34] MikeyManoguerra commented on #5165
Worked great!
I might switch out the uuid for a human friendly / date based id, but the proof of concept is just what i needed, in conjunction with a `'hidden'` widget. thanks!

[code]

[2021-04-06 08:25] erezrokah commented on #5165
Thank you for sharing the code @MikeyManoguerra, I'm closing the issue. Please comment if you have any other questions.

[2021-04-06 08:25] #5165 closed

[2021-04-06 13:17] PetroPavlenko opened #5221 "Can't resolve 'codemirror/lib/codemirror.css' in project/node_modules/netlify-cms-widget-code/dist/esm"
fails during development gatsby develop. Missed codemirror dependency and netlify-cms-lib-widgets

**Screenshots**
<img width="944" alt="Знімок екрана 2021-04-06 о 16 16 07" src="https://user-images.githubusercontent.com/11796465/113716555-67f10480-96f3-11eb-9fdf-b46479e8ddd4.png">

**Applicable Versions:**
without yarn.lock and using fresh node_modules

[code]

[2021-04-06 13:22] erezrokah commented on #5221
Hi @PetroPavlenko, can you please share steps to reproduce the issue per our [issue template](https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title)?

[2021-04-06 13:48] PetroPavlenko commented on #5221
sure. So basically I use

- 1. run netlify-cms-proxy-server
- 2 code to reproduce
[code]
with dependencies above.

This was working with  "netlify-cms-app": "^2.14.10". But it doesn't work with 2.14.38 and with 2.14.20

[2021-04-06 16:31] Undistraction opened #5223 "Allow customisation of git push command"
**Is your feature request related to a problem? Please describe.**
There is currently no way to have Netlify CMS pass push options to the remote repo when pushing. [Push options](https://git-scm.com/docs/git-push#Documentation/git-push.txt--oltoptiongt) are really useful for customising pipeline behaviour and a good alternative to using branch names to change CI behaviour. For example it would be

[2021-04-06 16:36] erezrokah commented on #5223
Hi @Undistraction, the CMS does't use the `git` protocol, it uses each provider API to manage content.
e.g. https://github.com/netlify/netlify-cms/blob/e32ffdf587a7a75f6116da990209a648f4ad01fe/packages/netlify-cms-backend-github/src/API.ts#L1437

Some CIs support using commit messages for the same use case, which you should be able to configure via https://www.netlifycms.org/docs/beta-features/#co

[2021-04-06 23:52] JoeyMckenzie commented on #4252
Running into the same issue as well on a fresh project straight out of the docs. Any interim solutions for anyone?

[2021-04-07 08:56] erezrokah commented on #4252
Hi @JoeyMckenzie, I recommend sharing the browser network traffic and error message.
That way we can see what's causing the issue.

A possible solution is to clear browser cache.

[2021-04-07 10:40] jaymehta20 opened #5226 "I am able to upload images just fine when I insert url from cloudnairy in rich text editor. But images won't show up at all in the website. It does show up in the preview when i am adding in rich text editor. https://github.com/jaymehta20/gatsby-starter-hello-world"
**Describe the bug**
 Images are not working

Images are not showing up in the website when I add them through the rich text editor. The preview comes up but the image won't load on the website. Only way I can add images is to upload via URL
https://github.com/jaymehta20/gatsby-starter-hello-world

[2021-04-07 10:54] erezrokah commented on #5226
Hi @jaymehta20, per https://www.netlifycms.org/docs/cloudinary/#connecting-cloudinary-to-netlify-cms you should configure the media library at the top level:

[code]

Also, you'll need to install and register `netlify-cms-media-library-cloudinary` per https://www.netlifycms.org/blog/2019/07/netlify-cms-gatsby-plugin-4-0-0#using-media-libraries-with-netlify-cms-app

[2021-04-07 11:00] jaymehta20 commented on #5226
Ok, I'll try this but my question is what if want to make it work without Cloudinary? Isn't there any option or I have to use a 3rd party image uploader to upload my images? Cause that Cloudinary config is something I added later to the experiment. The default was set to none(media_library)

[2021-04-07 11:06] jaymehta20 commented on #5226
Ok, so when I tried your config it gave me this error:
https://ibb.co/jLD33Gr

[2021-04-07 11:18] erezrokah commented on #5226
The CMS has a built in media library you can use, and supports [Cloudinary](https://www.netlifycms.org/docs/cloudinary/), [Netlify Large Media](https://www.netlifycms.org/docs/netlify-large-media/) and [Uploadcare ](https://www.netlifycms.org/docs/uploadcare/).

The error is a result of your GraphQL query https://github.com/jaymehta20/gatsby-starter-hello-world/blob/68fa64454bc70cc4d1997029a235ffd

[2021-04-07 14:06] jaymehta20 commented on #5226
I don't see a childImageSharp in my graphql that's why I added the image like that. Can you elaborate on that nested query part.
Like how do I use it here?

[2021-04-07 14:17] erezrokah commented on #5226
Hi @jaymehta20, you can read more about that here https://www.gatsbyjs.com/plugins/gatsby-plugin-image

[2021-04-07 14:38] jaymehta20 commented on #5226
I have these plugins installed but the problem is I don't see it in graphql.

[2021-04-07 14:50] erezrokah commented on #5226
I'm not sure what's the issue. I think this is more related to Gatsby than the CMS.
I recommend trying in one of their support channels https://www.gatsbyjs.com/contributing/community/#where-to-get-support

[2021-04-07 15:01] jaymehta20 commented on #5226
It's related to netlify cms. The initial problem is that I am to add images in netlify's rich text editor but it doesn't render out on the actual site. So I tried cloudinary. If you are able to figure out how to make those images work without any 3rd party media library that would be gr8.
You can check the images not rendering here on this final website:
https://gatsbyblogtesting.netlify.app/
I th

[2021-04-07 15:44] jaymehta20 commented on #5226
Ok, I'll try that starter and rebuilt the website

[2021-04-08 12:13] jaymehta20 opened #5228 "yoga-layout-prebuilt error on gatsby build while deploying on netlify"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.14.40`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.114 Safari/537.36`

**CMS configuration**
[code]
https://github.com/jaymehta20/gatsby-netlify-c

[2021-04-08 12:13] #5226 closed

[2021-04-08 16:00] tomrutgers commented on #5228
https://github.com/gatsbyjs/gatsby/issues/1499#issuecomment-327104956

This seems to be a common thing. Do you have any unused content in your directories?

[2021-04-08 16:27] jaymehta20 commented on #5228
I can't confirm now cause I have made a lot of changes and it's giving me some error. Could you pls take a look into it. I updated my gatsby version to 3 and now I can't downgrade it and it's all a mess now I can't fix it. You can take a look at the code here: https://github.com/jaymehta20/gatsby-netlify-cms

[2021-04-08 16:29] jaymehta20 commented on #5228
The template the @erezrokah gave me is gatsby v2 and I was using gatsby-image-plugin which requires v3 so I tried to upgrade it but it messed up something and unfortunately, I can't downgrade it and go back to how it was.

[2021-04-08 16:43] erezrokah commented on #5228
Hi @jaymehta20, can you update the issue with the missing information:
![image](https://user-images.githubusercontent.com/26760571/114064613-7cbfca80-98a2-11eb-91de-af7cb10fc3b2.png)

From the current description and comments it's hard to know what is the current issue you're experiencing.

Also, it would be helpful if you share the commit hash that started messing things up.

[2021-04-08 22:26] arpadgabor commented on #5221
Experiencing a similar issue here but with Nuxt, also with JS initialization of the CMS.

[code]

* `netlify-cms: 2.10.105` (also tried 2.10.99 and 2.10.111)
* `nuxt: 2.15.4`

I suspect this _might_ be cause by how my `package-lock` is formed. If I try updating `netlify-cms` it breaks again, but if I revert back to a commit with a working lockfile, it starts working again.

I'll try getting a samp

[2021-04-08 23:32] alenieto97 opened #5229 "Multi Content Authoring: Seeing which entries have missing translations / translations are up for review?"
**Is your feature request related to a problem? Please describe.**
It is a feature request, maybe someone is already working on this or there is some workaround. It is one of the features mentioned on #716 which sparked https://github.com/netlify/netlify-cms/pull/4139#issue-466249841.

**Describe the solution you'd like**
Maybe some way of filtering the entries based on available languages / missi

[2021-04-09 00:07] ToniBonittoGSA opened #5230 "New News Post - TypeError: a.get is not a function"
When I click the New button, I get this error; the link created this Issue

<img width="587" alt="Screen Shot 2021-04-08 at 8 05 00 PM" src="https://user-images.githubusercontent.com/19961574/114110808-5e5bce00-98a6-11eb-8efd-7fb45934ade1.png">

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.111`
 -

[2021-04-09 00:09] ToniBonittoGSA opened #5231 "New Community - TypeError: a.get is not a function"
When I click the New button, I get this error; the link created this Issue

<img width="595" alt="Screen Shot 2021-04-08 at 8 08 17 PM" src="https://user-images.githubusercontent.com/19961574/114110771-45ebb380-98a6-11eb-8417-d6976c6cd6cb.png">

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.111`
 -

[2021-04-09 00:12] ToniBonittoGSA opened #5232 "New Event - TypeError: a.get is not a function"
When I click the New button, I get this error; the link created this Issue

<img width="584" alt="Screen Shot 2021-04-08 at 8 10 34 PM" src="https://user-images.githubusercontent.com/19961574/114110894-95ca7a80-98a6-11eb-8c5d-fd2cb7388b2d.png">

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.111`
 -

[2021-04-09 00:14] ToniBonittoGSA opened #5233 "New Resource - TypeError: a.get is not a function"
When I click the New button, I get this error; the link created this Issue

<img width="597" alt="Screen Shot 2021-04-08 at 8 12 55 PM" src="https://user-images.githubusercontent.com/19961574/114111023-f063d680-98a6-11eb-8e08-0e38621ffb87.png">

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.111`
 -

[2021-04-09 00:16] ToniBonittoGSA opened #5234 "New Service - TypeError: a.get is not a function"
When I click the New button, I get this error; the link created this Issue

<img width="593" alt="Screen Shot 2021-04-08 at 8 14 55 PM" src="https://user-images.githubusercontent.com/19961574/114111142-39b42600-98a7-11eb-8601-d3444fdaa8e9.png">

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.111`
 -

[2021-04-09 00:18] ToniBonittoGSA opened #5235 "New Source - TypeError: a.get is not a function"
When I click the New button, I get this error; the link created this Issue

<img width="620" alt="Screen Shot 2021-04-08 at 8 17 42 PM" src="https://user-images.githubusercontent.com/19961574/114111266-97487280-98a7-11eb-9ad9-8c1f63991b79.png">

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.111`
 -

[2021-04-09 00:23] ToniBonittoGSA commented on #5230
We have 10 collections in our Workflow site, https://digital.gov/workflow/ -- this is one of 6 that are giving this error today. An Issue was created for each.
Thank you

[2021-04-09 00:24] ToniBonittoGSA commented on #5235
We have 10 collections in our Workflow site, https://digital.gov/workflow/ -- this is one of 6 that are giving this error today. An Issue was created for each.
Thank you

[2021-04-09 00:24] ToniBonittoGSA commented on #5234
We have 10 collections in our Workflow site, https://digital.gov/workflow/ -- this is one of 6 that are giving this error today. An Issue was created for each.
Thank you

[2021-04-09 00:24] ToniBonittoGSA commented on #5233
We have 10 collections in our Workflow site, https://digital.gov/workflow/ -- this is one of 6 that are giving this error today. An Issue was created for each.
Thank you

[2021-04-09 00:24] ToniBonittoGSA commented on #5232
We have 10 collections in our Workflow site, https://digital.gov/workflow/ -- this is one of 6 that are giving this error today. An Issue was created for each.
Thank you

[2021-04-09 00:24] ToniBonittoGSA commented on #5231
We have 10 collections in our Workflow site, https://digital.gov/workflow/ -- this is one of 6 that are giving this error today. An Issue was created for each.
Thank you

[2021-04-09 02:20] robsonsobral commented on #4533
Wow! I don't actually remember what happened or how I fixed it.

Thank you for your attention, @erezrokah .

[2021-04-09 02:20] #4533 closed

[2021-04-09 04:19] jaymehta20 commented on #5228
Bug: Can't run my dev server cause I tried to update gatsby to V3 but it didn't work out and I tried to downgrade but started causing some issue so now I can't basically run my website
The reason why I upgrade gatsby cause gatsby-plugin-image needs V3 gatsby and the Kaldi template has gatsby V2
Now I can't basically revert back to how it was. This is the reason that I was not able to see childImag

[2021-04-09 04:22] jaymehta20 commented on #5228
Also when I tried to deploy on netlify it gave me this error

![image](https://ibb.co/6FJjmB1)

[2021-04-09 04:31] jaymehta20 commented on #5228
![image](https://user-images.githubusercontent.com/23277339/114128704-91d84000-991a-11eb-92d7-7ef0ec1db6a2.png)

[2021-04-09 05:28] jaymehta20 commented on #5228
I can run local dev server of Gatsby but when i deploy i get that yoga layout error and now i can't use netlify cms because of that

[2021-04-09 05:29] jaymehta20 commented on #5228
For a beginner like me, this feels super complex and hard to debug cause I update one thing, and the whole site breaks.

[2021-04-09 05:30] jaymehta20 commented on #5228
and I revert back, some other stuff breaks

[2021-04-09 07:32] #5231 closed

[2021-04-09 07:32] #5232 closed

[2021-04-09 07:32] #5233 closed

[2021-04-09 07:32] #5234 closed

[2021-04-09 07:32] #5235 closed

[2021-04-09 07:34] tomrutgers commented on #5230
I closed your other issues as it doesn't exactly help having to answer on six different topics for a single site. Please fill out the missing issue template information

[2021-04-09 15:18] lsolesen commented on #4360
It seems that a similar issue was raised here https://github.com/netlify/netlify-cms/issues/2386, and fixed here https://github.com/netlify/netlify-cms/pull/3646 just for foot notes.

It seems that --- is also escaped when switching between rich text and markdown.

[2021-04-09 15:28] pranaliImagin commented on #5190
Hi Tom,

 
Thanks for the tip, I'll try this out and get back to you, if I have any further issue with this one.

 
Thanks,

Pranali Nalawade

-----Original message-----
From: Tom Rutgers
Sent: Friday, April 2 2021, 5:14 pm
To: netlify/netlify-cms
Cc: Pranali Nalawade; Mention
Subject: Re: [netlify/netlify-cms] TypeError: Cannot read property 'sectionTitle' of undefined (#5190)
 
 
Do you have cus

[2021-04-09 19:29] something-something-something opened #5236 "Add PKCE authentication for gitlab"
**Is your feature request related to a problem? Please describe.**

Gitlab will be deprecating implicit authentication. It would be good to add PKCE authentication which is what they will be supporting going forwards.

**Describe the solution you'd like**

For NetlifyCms to support PKCE authentication for gitlab

**Describe alternatives you've considered**

Running some external oauth client.

**A

[2021-04-11 11:46] jaymehta20 opened #5240 "Cannot read property 'data' of undefined"
Had a yoga layout error so I just googled and found a solution on GitHub which said to update gatsby-plugin-netlify-cms and gatsby-remark-relative-images to the latest. After doing that I am getting this error.

**Screenshots**

![image](https://user-images.githubusercontent.com/23277339/114302940-0bbe2400-9ae9-11eb-904f-8984493c7ef4.png)

**CMS configuration**
backend:
  name: git-gateway
  branc

[2021-04-11 11:48] jaymehta20 commented on #5240
Public repo if you want to take a look further: https://github.com/jaymehta20/gatsby-netlify-cms

[2021-04-11 14:58] smashercosmo commented on #5240
From looking at the call stack, I would that it's a problem with gatsby-plugin-netlify-cms, and not with netlify-cms. So you better open this issue in Gatsby repo.

[2021-04-11 20:42] KCSCHT opened #5241 "TypeError: Cannot use 'in' operator to search for 'message' in true"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.111`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.114 Safari/537.36`

**CMS configuration**
[code]

[2021-04-12 05:16] jaymehta20 commented on #5240
Ok, I fixed the error:

- rm -rf node_modules
- rm package-lock.json This is important, the fix doesn't work without this
- npm install

Now I'm able to run develop without the error

[2021-04-12 05:16] #5240 closed

[2021-04-12 05:23] jaymehta20 commented on #5228
Ok, I fixed the issue by updating my dependencies.

`- npm outdated`
`- npm install some-package@latest`
`- gatsby clean`
`- gatsby develop`

[2021-04-12 05:23] #5228 closed

[2021-04-12 06:59] erezrokah commented on #5221
Thanks for the additional info @arpadgabor, I'll try to set up a reproduction, but if someone provides a public repo that will make it much easier to reproduce.

[2021-04-12 07:05] erezrokah commented on #5229
Hi @alenieto97, I don't think anyone is working on this at the moment.
A good start would be to lay out how the UI for this feature would look like.

For automatic translations, you could add them during the build process, or maybe use the [`preSave` event](https://www.netlifycms.org/docs/beta-features/#registering-to-cms-events)

[2021-04-12 07:08] erezrokah commented on #5230
Thanks @tomrutgers ❤️ @ToniBonittoGSA, per @tomrutgers's comment, in order to unidentify the cause for the error we need more information. Specifically the full `config.yml` and a step by step reproduction of the issue.

[2021-04-12 08:13] erezrokah commented on #5241
Hi @KCSCHT, can you fill in the missing information from the issue template?

Usually this error comes from a custom preview template. which is user code and not CMS code.

[2021-04-12 08:25] lsolesen opened #5252 "More than one * in formula ends up being moved around to italic"
**Describe the bug**

**To Reproduce**

In my repo I Netlify CMS created this commit after updating using the CMS https://github.com/motionsplan/motionsplan-dk-jekyll/pull/85/commits/de011ebb79444ae95746ab217477f1bc8716c6d5#diff-c9808a953d6ec002a541961d4a2611d8cce232a4efd31a3104c1cc0d43ccf2d4R70

I have the following formula writting in:

    {% include math formula="PBF = \frac{0.988 * BMI + 0.34

[2021-04-12 08:29] lsolesen opened #5253 "Netlify CMS moves around the frontmatter"
**Describe the bug**

I put my frontmatter in a particular order in my config.yml - https://github.com/motionsplan/motionsplan-dk-jekyll/blob/master/admin/config.yml

However, after saving with the Netlify CMS it puts the frontmatter in another order, than specified in the the config.yml file.

This is an example after saving with the Netlify CMS where `last_modified_at` and `permalink` went to th

[2021-04-12 08:34] lsolesen opened #5254 "Decide yourself whether to use - or * for lists in Markdown"
**Is your feature request related to a problem? Please describe.**

After editing a markdown with the Netlify CMS the marker for the lists are changed from - to * like in this example - https://github.com/motionsplan/motionsplan-dk-jekyll/pull/85/commits/de011ebb79444ae95746ab217477f1bc8716c6d5#diff-c9808a953d6ec002a541961d4a2611d8cce232a4efd31a3104c1cc0d43ccf2d4R143

**Describe the solution you'd

[2021-04-12 09:11] erezrokah commented on #5252
Hi @lsolesen, have you considered using a [custom editor component](https://www.netlifycms.org/docs/custom-widgets/#registereditorcomponent) to wrap the formula data?

[2021-04-12 09:15] erezrokah commented on #5253
We are sorting the keys here https://github.com/netlify/netlify-cms/blob/6561939d42c518d90f90d5e181eb5f74dbab6bb8/packages/netlify-cms-core/src/formats/helpers.js#L2, so maybe there's a bug in that code.

[2021-04-12 09:18] erezrokah commented on #5254
Closing this as I believe it is covered by https://github.com/netlify/netlify-cms/issues/4601.
Please comment if you feel this is a separate issue

[2021-04-12 09:18] #5254 closed

[2021-04-12 13:32] lfracalossiFA commented on #3474
Yeah, I agree, this is very confusing behavior -- just ran into recently on my own -- and I would disagree that it's "not a big deal." I can see it being very frustrating to the (less technical) users I will eventually have using this CMS. For that matter, I never once thought to to hit "return" twice to get a bullet.

Re: @erquhart's comment above,  it's not clear to me a circumstance in which I

[2021-04-12 13:35] erezrokah commented on #3474
Re-opening to keep the discussion going

[2021-04-12 14:19] robbymilo commented on #2756
Templating works for me.

[2021-04-12 15:12] tresero opened #5255 "Error loading the CMS configuration Config"
**Describe the bug**
I can login to the admin link and all works. The issue is all my front end pages show:

`Error loading the CMS configuration
Config Errors:
Error: Failed to load config.yml (404)
Check your config.yml file.`

**Expected behavior**
Doesn't show this

**Screenshots**
![image](https://user-images.githubusercontent.com/1476286/114417354-c5130d00-9b6e-11eb-92bb-d9ccd1df4d17.png)

*

[2021-04-12 15:49] tresero commented on #5255
What more do you need?

[2021-04-12 15:51] erezrokah commented on #5255
Can you fill in the missing information from [here](https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title),

Specifically a way to reproduce.

[2021-04-12 16:25] tresero commented on #5255
It's not on admin. It's on all the non-admin pages, look at the example.

To reproduce it go to [https://jongriffinauthor.com/](url)

The admin area works perfectly. It's the front end.

[2021-04-12 16:29] erezrokah commented on #5255
This links to `https://github.com/netlify/netlify-cms/issues/url`.

It seems you're loading and initializing the CMS as a part of your main site:
[code]

I recommend checking your build setup and only add the CMS for `/admin`

[2021-04-12 16:39] tresero commented on #5255
That fixed it. I made a note to myself about that. The docs weren't clear to me, but now I know.

Thanks!

[2021-04-12 16:39] #5255 closed

[2021-04-12 16:54] #5026 closed

[2021-04-12 17:28] arpadgabor commented on #5221
Hey @erezrokah , here is a [test repo I created](https://github.com/arpadgabor/netlify-cms-deps-error). I've also set up a [workflow to test changes](https://github.com/arpadgabor/netlify-cms-deps-error/actions/runs/742017706) on PR's if that helps.

[2021-04-12 17:38] stevenpeniche commented on #3415
@erezrokah @erquhart wondering if there's been any progress made on a fix for this?

[2021-04-12 21:41] lfracalossiFA opened #5256 "Allow setting default value of a field to that of a field in same collection"
**Is your feature request related to a problem? Please describe.**
This is similar in nature to #1975, but does not involve UUIDs, so I'd hoped it might be easier to achieve!

Many times when I'm creating a collection, I want to set the default value of a field to the value of a different field. For example, if I had a collection with `title` (for title of an article) and `name` (the short name/sl

[2021-04-13 02:32] SMores opened #5258 "Markdown widget doesn't parse shortcodes if they're "out of order""
**Describe the bug**
When there are several shortcodes in a single markdown field, the markdown widget uses [`Map.find`](https://github.com/netlify/netlify-cms/blob/master/packages/netlify-cms-widget-markdown/src/serializers/remarkShortcodes.js#L15-L23) to attempt to match the registered editor components' patterns against the remaining uneaten markdown. Because `Map.find` returns after the first

[2021-04-13 05:51] lsolesen commented on #5252
I hadn't considered that. But taking up your suggestion, I added a lot of custom editor components. Got most of them to work including the math-related custom widget. Might however still be a bug, that it strips whitespace around written in formulas.

When the formula was just written like this:

    PBF = 1.34 * BMI * 12.47

Then it got escaped like this:

    PBF = 1.34 \* BMI \* 12.47

[2021-04-13 06:02] lsolesen opened #5260 "A EditorComponent wit relation does not fill in the relation when reloading"
**Describe the bug**

I have added a relation widget to a custom editor component https://github.com/motionsplan/motionsplan-dk-jekyll/blob/master/admin/index.html#L140.

[code]

I works properly when wanting to fill in the widget. When I switch to Markdown mode the code has been properly set in. Switching back to Rich Text however, the custom editor component is shown but does populate with the c

[2021-04-13 06:14] lsolesen opened #5261 "Editor component is not recognized when reloading"
**Describe the bug**

I have created a custom EditorComponent like this https://github.com/motionsplan/motionsplan-dk-jekyll/blob/master/admin/index.html#L169

[code]

I have doublechecked the pattern with https://regex101.com/

![Screenshot - 2021-04-13T080917 295](https://user-images.githubusercontent.com/148026/114504696-901abf00-9c2f-11eb-8ecb-cc528255aa57.png)

I can properly put the code int

[2021-04-13 08:51] erezrokah commented on #3415
Hi @stevenpeniche, no progress yet. However, we would be happy to accept a contribution for this

[2021-04-13 09:05] erezrokah commented on #5252
Yep, keeping this open pending further investigation

[2021-04-13 09:14] erezrokah commented on #5256
Hi @lfracalossiFA, I believe you can do that using the CMS `preSave` event:
https://www.netlifycms.org/docs/beta-features/#registering-to-cms-events

You can get the value from the `name` field and set it on the `title` field if the latter doesn't exist.

The thing is that default values are currently applied before the editor is opened and the entry is saved for the first time, so it's the defaul

[2021-04-13 09:14] #5256 closed

[2021-04-13 11:12] arpadgabor commented on #5260
Hey @lsolesen , I'm using a similar setup with a relation widget in a project and it works fine. Try `console.log(match)` in the `fromBlock` method. Most likely the problem is related to the regex.

[2021-04-13 11:25] arpadgabor commented on #5261
You are are using the `any non-whitespace character` matcher `\S` but your alt and caption can contain whitespace characters. Try this:

[code]

[2021-04-13 13:13] lfracalossiFA commented on #5256
Ooh, I didn't know about the preSave event. Thanks for the info there!

[2021-04-13 13:37] stephlocke commented on #4417
Could this be added to the default github config code block in the docs? 🙏 I appreciate the available options are  outlined in the account settings overview but with main being the default branch name in github now, many people who go straight to the github How To will end up with errors.

[2021-04-13 13:42] eurecomphil opened #5263 "Customise the front-matter ouput generated by NetlifyCMS"
**Is your feature request related to a problem? Please describe.**
I would like to customize the way Netlify CMS writes down fields in the front-matter. I've spent two days looking for this answer but I've found nothing until now.
BTW, Netlify CMS is just amazing. Thank you for the work done, since then, my users stopped putting markdown files in the wrong places :-)

**Describe the solution you'd

[2021-04-13 13:43] erezrokah commented on #4417
Hi @stephlocke, would you mind submitting a PR for it? You can do it by clicking `edit this page` here https://www.netlifycms.org/docs/github-backend/

[2021-04-13 13:49] stephlocke commented on #4417
👍 #5264

[2021-04-13 16:07] mvolfik opened #5266 "Docs/minimal template for installation with npm/yarn"
Both [Readme](https://github.com/netlify/netlify-cms#installation-and-configuration) and [docs](https://www.netlifycms.org/docs/add-to-your-site/#installing-with-npm) say that it's possible to install CMS with NPM/yarn. However, it isn't as simple as `npm install netlify-cms-app` + `import CMS from '...'; CMS.init()`. After doing simply that I get a ton of unmet peer dependency errors (#1678; the

[2021-04-13 16:21] lsolesen commented on #5260
@arpadgabor Thanks for your reply

[code]

It returns the correct key?

[2021-04-13 16:21] lsolesen commented on #5261
@arpadgabor  You were completely right. Your regex worked.

[2021-04-13 16:21] #5261 closed

[2021-04-13 16:44] erezrokah commented on #5221
This should be fixed in `netlify-cms@2.10.113` and `netlify-cms-app@2.14.42`.

Closing the issue - please comment if the problem still happens with the new versions.

Thanks everyone for reporting and @arpadgabor for the reproduction.

[2021-04-13 16:44] #5221 closed

[2021-04-13 18:10] ToniBonittoGSA commented on #5230
Thanks. We have 10 collections in our Workflow, but 6 of them are not working properly. To see the error, follow these steps:

1. Start here https://digital.gov/workflow/
2. In the left Collections list, click on News.
3. Once the page loads, see the list of current blog posts on the right (if it says "no entries," reload the page), and at the top, a _**New Blog Post**_ button.
4. Click the _**New

[2021-04-14 08:50] #5236 closed

[2021-04-14 10:02] erezrokah commented on #5266
Hi @mvolfik I believe this is related to https://github.com/netlify/netlify-cms/pull/5087 and also only partially fixed for https://github.com/netlify/netlify-cms/issues/5221

Pinning `netlify-cms-app` to `2.14.35` works for your repo.

Going to revert https://github.com/netlify/netlify-cms/pull/5087 until I can figure this out.

[2021-04-14 10:33] #5266 closed

[2021-04-14 11:25] erezrokah commented on #5230
Hi @ToniBonittoGSA, this error is coming from a custom widget called `async-select`.
See
![image](https://user-images.githubusercontent.com/26760571/114702370-a8bccf00-9d2c-11eb-8c7a-281962dbb9ac.png)
and https://github.com/GSA/digitalgov.gov/blob/b5f8434e9481e299ddb8456e7175d0a17f0b0d86/themes/digital.gov/static/workflow/index.html#L12

I recommend updating to the latest version of the widget, an

[2021-04-14 11:25] #5230 closed

[2021-04-14 15:48] ToniBonittoGSA commented on #5230
Thank you!

[2021-04-14 16:16] pranaliImagin opened #5275 "TypeError: Cannot read property 'length' of undefined"
**I'm getting issue only with the Github preview**

**Screenshots**
![image](https://user-images.githubusercontent.com/80769307/114743335-34a11c00-9d6a-11eb-8dbc-3a71cee31c88.png)

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.14.40`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0

[2021-04-14 16:29] pranaliImagin commented on #5275
I just Debug the code and found that , issue is somewhere with the lines of code below

`{(testimonialSection.testimonials.length < 1) ? "" :
          <Carousel
            responsive={responsive}
            infinite={true}
            autoPlaySpeed={1000}

            {testimonialSection && testimonialSection.testimonials.map((data, index) => {
              return (
                <div classN

[2021-04-14 16:33] erezrokah commented on #5275
Hi @pranaliImagin, looks like you need `Array.isArray(testimonialSection.testimonials) && testimonialSection.testimonials.length < 1`

[2021-04-14 16:35] pranaliImagin commented on #5275
@erezrokah Thanks for your help, I'll try this out right away and get back to you with the output

[2021-04-14 16:50] pranaliImagin commented on #5275
@erezrokah Now I'm getting this error
TypeError: Cannot read property 'testimonials' of undefined

I have added the check then why is still giving error

[2021-04-14 16:57] erezrokah commented on #5275
I'm not sure. Maybe check that `testimonialSection` is defined before accessing `testimonialSection. testimonials`?

[2021-04-14 17:13] pranaliImagin commented on #5275
[carousal-loop.txt](https://github.com/netlify/netlify-cms/files/6312573/carousal-loop.txt)
Check this I have added every condition possible but now its giving the length undefined error

[2021-04-15 06:52] javialon26 commented on #793
I have this working with Emotion 10 but if I try with Emotion 11 the entire preview panel breaks with a React error. Any plan in the near future to update to Emotion 11? Thanks.

[2021-04-15 08:21] erezrokah commented on #793
Hi @javialon26, yes there are plans to upgrade but no timeline yet. This will need to be behind a major version bump as it is a breaking change for emotion 10 users. I'm not sure if we should couple this to https://github.com/netlify/netlify-cms/issues/5111 (also a breaking change).

[2021-04-15 10:26] erezrokah commented on #5275
Hi @pranaliImagin, case you inline the code per my previous comment? For example:

[code]

instead of attaching a file.

That makes it much easier to debug the issue and also keeps all the information in the issue.

[2021-04-15 11:27] pranaliImagin commented on #5275
`{/* Testimonial Section */}
    <section className="testimonial-section">
      <div className="testimonial-wrap">
        <img
          src={quote}
          alt="quote icon"
          className="icon quote-icon"
        />
        <h2 className="section-title purple-grad-title">{testimonialSection && testimonialSection.sectionTitle}</h2>

        {(testimonialSection && testimonialSection.test

[2021-04-15 11:29] pranaliImagin commented on #5275
@erezrokah I have added my code above^^

[2021-04-15 11:39] erezrokah commented on #5275
Hi @pranaliImagin I don't see an issue with the code you share, so either you have an issue with another area of your code or you haven't deployed you changes.

I recommend adding a reproduction scenario per our issue template https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title

[2021-04-15 15:02] SummittDweller opened #5276 "Add group sort to the "Group By" feature"
**Is your feature request related to a problem? Please describe.**
Yes, see Slack thread https://netlifycms.slack.com/team/U01S6HQM3EK for more.

I have Netlify CMS implemented on a Hugo site with a content type of “Performance” and am using the beta “Group By” feature.  Love it.  But my groups don’t appear to be “sortable”, they appear in somewhat random order, like in the attached example screen

[2021-04-16 08:33] fes300 commented on #3782
hi @erezrokah and thank you for this feature!
I tried to set it up on my local machine but somehow it is not working for me...
This is my config:
![image](https://user-images.githubusercontent.com/10383300/114996473-27d21480-9e9f-11eb-9eb7-f2902a9124a7.png)

But it looks like it is not being picked up:
![image](https://user-images.githubusercontent.com/10383300/114996377-0ec96380-9e9f-11eb-8b94-5c

[2021-04-18 05:58] erezrokah commented on #3782
Hi @fes300, can you tryin configuring `url` to the full URL, e.g. prefix it with `http://` or `https://`?

[2021-04-18 12:26] fes300 commented on #3782
I ended up using custom initialization as per your previous suggestion, works like a charm 👍

[2021-04-18 13:20] erezrokah commented on #5258
Hi @SMores, can you share your editor components code?
I wasn't able to reproduce this using the [image](https://github.com/netlify/netlify-cms/blob/7bc6dfc39da7ce46a50a115c38ec8a721e5cf383/packages/netlify-cms-editor-component-image/src/index.js) and [youtube](https://github.com/netlify/netlify-cms/blob/7bc6dfc39da7ce46a50a115c38ec8a721e5cf383/dev-test/index.html#L221) editor components.

The con

[2021-04-18 18:36] denyskoch commented on #3202
hey I still have this issue with document names with umlauts.

[2021-04-19 08:22] erezrokah commented on #3202
Hi @denyskoch, do you mind opening a new issue for that? (please include a reproduction scenario)

[2021-04-20 13:11] BasixKOR commented on #1347
Could we consider moving to other editors such as Quill.js? It seems like Slate's CJK support is still far from perfect even in latest versions.

[2021-04-20 14:50] jf-home opened #5280 "i18n: multiple_files structure for file collections"
Just getting to grips with the Beta i18n capabilities and really like the `multple_folders` and `multiple_files` structures.  However, I am confused by the decision to only support a `single_file` structure for file collections.  I say this reservedly as, clearly, a lot of work must have gone into providing the i18n capabilities and therefore this is in no way a critisism and, quite possibly, may

[2021-04-20 16:21] erezrokah commented on #5280
Hi @jf-home, the lack of support for file collections was part of scoping down the feature so we can launch it quickly and get more feedback.

[2021-04-20 16:31] nddr opened #5281 "TypeError: a.get is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.117`
 - Git provider: `gitlab`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.72 Safari/537.36`

**CMS configuration**
[code]

[2021-04-20 16:45] nddr commented on #5281
Kindly disregard.

[2021-04-20 16:45] #5281 closed

[2021-04-20 17:29] AbdallahAbis commented on #3821
Any plans for adding this? or a workaround to implement this to my project?

[2021-04-21 14:41] jf-home commented on #5280
Hi @erezrokah,

I appreciate your prompt response and have outlined my thoughts as requested below...

**Requirement**
i18n support for `multiple_files` is required for file collections to enable pages to be dynamically created via the Gatsby `createPage` api.

**Possible solution**
From a configuration standpoint, it would be preferable for file collections to "inherit" the top level i18n configu

[2021-04-21 15:42] karllhughes commented on #445
@hanneskuettner's solution looks great, but I'm guessing it's not implemented yet? When I tried it, I got this error in my editor:

[code]

Is this widget something I need to register separately?

[2021-04-21 15:49] erezrokah commented on #3821
Hi @AbdallahAbis, the best way to move this forward is through a contribution.

[2021-04-21 15:56] AbdallahAbis commented on #3821
@erezrokah any guidelines for someone who wants isn't a contributor and wants to contribute? Any help.

[2021-04-21 16:29] erezrokah commented on #3821
Hi @AbdallahAbis you can see our guide [here](https://github.com/netlify/netlify-cms/blob/master/CONTRIBUTING.md).

The select widget code is [here](https://github.com/netlify/netlify-cms/tree/master/packages/netlify-cms-widget-select).

Please let me know if you have any other questions.

[2021-04-21 16:39] AbdallahAbis commented on #3821
@erezrokah Does cloning the widget's sub repo will allow me to test locally?

[2021-04-21 19:16] AbdallahAbis commented on #3821
@erezrokah Could you tell me where should those newly created options be stored?

[2021-04-22 00:47] AbdallahAbis commented on #4004
@erezrokah

Could you please explain this in other words? how can I pass data that I get from a `staticQuery` to a widget component as a prop?

[2021-04-22 02:49] jmayergit commented on #445
To further @hanneskuettner's [example above](https://github.com/netlify/netlify-cms/issues/445#issuecomment-621700949),

widget
[code]

config.yml
[code]

comparison with hanneskuettner's implementation

➕ works with previously created entries

**Notes**

- With the above implementation slugs are not automatically generated for new entries.
- In hanneskuettner's (`slug: 'custom-slug-{{title}}'`) e

[2021-04-22 08:25] erezrokah commented on #3821
Hi @AbdallahAbis, well I'm not sure. See https://github.com/netlify/netlify-cms/issues/3821#issuecomment-647410593 and https://github.com/netlify/netlify-cms/issues/3821#issuecomment-647547887.

The additional options can be saved as a part of the entry. That however means they will only be available per entry and not globally.

[2021-04-22 08:43] erezrokah commented on #4004
Hi @AbdallahAbis, you can't pass data from a `staticQuery` to a widget component.
`staticQuery` is evaluated during build time whereas widget components run in the browser.
You should use a page query instead.

[2021-04-22 11:11] AbdallahAbis commented on #4004
@erezrokah cool, but still, how do I pass it the data returned from a query in general?

[2021-04-22 11:28] erezrokah commented on #4004
You pass it as React props, see https://github.com/netlify-templates/gatsby-starter-netlify-cms/blob/e8874f871b8b18f50f572d6250d06b512c20726d/src/templates/blog-post.js#L58

[2021-04-22 13:47] AbdallahAbis commented on #4004
@erezrokah But [this](https://github.com/netlify-templates/gatsby-starter-netlify-cms/blob/e8874f871b8b18f50f572d6250d06b512c20726d/src/templates/blog-post.js#L57) is a template page, not a Netlify custom widget

[2021-04-22 14:04] erezrokah commented on #4004
Correct @AbdallahAbis, I think I missed you point.
You can see [here](https://www.netlifycms.org/docs/custom-widgets/) what is passed by the CMS to custom widgets.
The value passed to the widget is parsed from the markdown file and is unrelated to any query done by Gatsby.

Can you clarify your use case? What are you using a custom widget for?

[2021-04-22 14:04] ShahriarKh commented on #2524
Any updates on this?
A direction button will be really helpful for the text editor.

[2021-04-22 14:11] AbdallahAbis commented on #4004
@erezrokah
I have a list of posts on my blog, each post has an author.
I have a collection where you can add new authors or view an existing one.
when viewing an existing author  I have the custom widget listing all the articles a specific author posted.

So I'm using `StaticQuery` to get all the markdown posts on my blog from that specific author and map through them and display them.

[2021-04-22 14:14] erezrokah commented on #2524
Hi @ShahriarKh, the best way to move this forward is by contributing. We'd happily accept a PR for this.
We use [slate](https://github.com/ianstormtaylor/slate) for the editor, so we would need to dig into slate for a solution.

[2021-04-22 14:23] erezrokah commented on #4004
Have you considered using the [relation widget](https://www.netlifycms.org/docs/widgets/#relation)?
Each author can have a list of relation widgets, each one referencing a post.

If that doesn't work, you can maybe mimic the way the relation widget uses the `query` API:
https://github.com/netlify/netlify-cms/blob/65343c1238af85e9151abb6bbba3770a08091176/packages/netlify-cms-widget-relation/src/Rel

[2021-04-22 17:55] AbdallahAbis commented on #3821
@erezrokah Why can't we extend the widget options and pass it the additional options by updating `config.yaml`?
What do you mean by `unwanted CI build`

[2021-04-22 20:18] AbdallahAbis commented on #4004
@erezrokah Mimicking the `Relation widget` did the trick!

For anyone facing the issue, I think using the `query` property method on `widget component` will help.
https://github.com/netlify/netlify-cms/blob/65343c1238af85e9151abb6bbba3770a08091176/packages/netlify-cms-widget-relation/src/RelationControl.js#L140

[code]

[2021-04-23 00:28] AbdallahAbis commented on #2557
Any intentions of implement design any time soon? I would love to be one of the contributors.

[2021-04-23 15:31] miguelt1 commented on #5162
@erezrokah I edited the content, sorry for the delay

[2021-04-23 15:36] MauroAlberto1992 commented on #5162
That's a feature I would also like to see, since it takes too much time duplicating by hand each page before the release

[2021-04-23 19:00] AbdallahAbis commented on #5253
@lsolesen How can I reproduce that? so I have a experience debugging.

[2021-04-23 19:15] SMores commented on #5258
Is it possible that the `potentialMatchValue` special case (that I will admit I do not understand) is allowing this to work with images? I tried this with the built in `YouTube` and a `YouTubeClone` shortcode (that was otherwise identical) in the test cases in this repo and was able to reproduce.

Here's some example code that currently reproduces the issue in our codebase:

[code]

[code]

[2021-04-24 00:23] AbdallahAbis commented on #3887
@erezrokah I can get this done if you think an entry shouldn't show the `unpublish` button if `delete: false` is set on the collection.
button renders here
https://github.com/netlify/netlify-cms/blob/65343c1238af85e9151abb6bbba3770a08091176/packages/netlify-cms-core/src/components/Editor/EditorToolbar.js#L396

https://github.com/netlify/netlify-cms/blob/65343c1238af85e9151abb6bbba3770a08091176/pac

[2021-04-24 11:03] sidag95 commented on #52
Looking at all the features that can be supported by having a notes panel, I am proposing that we should start with a basic MVP that allows users to leave comments on each post. The MVP can looking something like below.

![notes-phase1](https://user-images.githubusercontent.com/10104826/115956409-23020600-a51a-11eb-97e0-bc968d4116c5.png)

Once we have implemented this with all the backends, we sho

[2021-04-25 06:21] erezrokah commented on #5162
Hi @MauroAlberto1992, the best way to make this is happen is by a contribution.
You can see our guide [here](https://github.com/netlify/netlify-cms/blob/master/CONTRIBUTING.md) and relevant code here:
https://github.com/netlify/netlify-cms/blob/65343c1238af85e9151abb6bbba3770a08091176/packages/netlify-cms-core/src/components/Editor/EditorToolbar.js#L340

[2021-04-25 06:52] erezrokah commented on #5258
It's mostly there for backwards compatibly. See https://github.com/netlify/netlify-cms/pull/3066. Until that PR the CMS didn't allow matching multiline shortcodes if they contained empty lines.
The issue with #3066 is that it broke existing components, so the solution was to run the patterns twice.

[2021-04-25 07:53] erezrokah commented on #3821
Hi @AbdallahAbis, updating the `config.yml` means committing it back to GitHub (either directly to the default branch or via a PR). That means a build will be triggered due to the code change and also the CMS would need to wait for the build to complete to reload the `config.yml` file.

[2021-04-25 07:57] erezrokah commented on #2557
Hi @AbdallahAbis, not much had changed since @erquhart last comment. If you'd like to have a look at the code it's in https://github.com/netlify/netlify-cms/tree/v3-ui-redesign

[2021-04-25 08:36] erezrokah commented on #52
Hi @sidag95, this is great progress 🎉

Yes, I think adding a `i18n` tab would be good.

I would like to see an approach to implement this. I'm assuming PR comments, but making those look "realtime" can be a challenge. I know GitHub uses WebSockets for that, but it's not an official API. We could use polling/and or add a refresh button, we'll just to need to aware of performance and possibly servic

[2021-04-25 08:39] erezrokah commented on #3887
Thanks @AbdallahAbis, Looks like the button is enabled but will prevent the operation anyway:
https://github.com/netlify/netlify-cms/blob/65343c1238af85e9151abb6bbba3770a08091176/packages/netlify-cms-core/src/actions/editorialWorkflow.ts#L517
https://github.com/netlify/netlify-cms/blob/65343c1238af85e9151abb6bbba3770a08091176/packages/netlify-cms-core/src/backend.ts#L1203

So disabling it as the U

[2021-04-25 08:45] erezrokah commented on #2545
Sharing my comment https://github.com/netlify/netlify-cms/issues/4004#issuecomment-824887189 as I think this is related.
Will using a list of relation widgets help? Also see the linked issue for a custom widget solution.

[2021-04-25 20:13] apriljunge commented on #5280
In my opinion changing `file` to an array could get a bit confusing and harder to maintain. I would suggest keeping the definition of `file: "src/pages/about.md"`. When `i18n: true` with multiple_files enabled, the CMS could infer the localized names, just like it does with collections. (Basically you 2nd suggestion, but without variable substitution)

As you have already noted, it would mean that

[2021-04-26 03:47] AbdallahAbis commented on #3821
@erezrokah So I've thought about it and I have an idea but I don't know if it will work or not as I haven't yet tried it.

- Let's say we have a collection of `articles`
- We have a field of `tags` on that article which is a `list` widget and can be either single or multiple.

We can change the list widget to be a `Creatable` component when the `allow_add` flag is true.

The new values added will

[2021-04-26 03:50] AbdallahAbis commented on #3887
@erezrokah thanks! Will tackle this tomorrow.

[2021-04-26 04:55] sidag95 commented on #52
Okay, will check how the current i18n window looks like and make changes appropriately

I believe this notes window doesn't need to be realtime. We can start with a large polling window and give a refresh button to the users so they have explicit control over the recency of notes/comments.

Let me setup some code and start a small PR. We can continue feature specific discussions there.

Thanks for

[2021-04-26 09:25] erezrokah commented on #3821
Hi @AbdallahAbis, do you mean a select widget here?

I'm not sure we need the relation widget. Having an `allow_add` field will allow users to add any value which we will save on the entry. Next time the entry is loaded any custom values saved with the entry will be available for selection.

Please let me know if that works

[2021-04-26 11:43] AbdallahAbis commented on #3821
@erezrokah

Yea, sorry about that, I wrote it at about 3AM 🥴

Will those added values be available to all entries?
Adding `tag1` to article `one`, will I be able to see that `tag1` on article `2`?

[2021-04-26 12:03] erezrokah commented on #3821
No they won't.

I think I'm start to understand you suggestion. You would like to query all entries (in the same collection/all collections) and extract all values and merge them?

Please note that this can have a performance hit when dealing with many entries.

[2021-04-26 12:11] AbdallahAbis commented on #3821
@erezrokah

Yes, exactly.

But I don't think adding an option to an entry and having it only show at that entry is that helpful. For example a tag should be available on all entries ao the content editor can easily select it on a different entry without having to remember how did they exactly write it the first time.

[2021-04-26 12:19] erezrokah commented on #3821
Hi @AbdallahAbis, please consider you can have multiple select widgets in multiples collections and also nested ones in lists/objects.

This means will have to read all entries from all collections each time we load a single entry. I think the performance hit will be too big, but I don't see any harm in testing it out.

[2021-04-26 17:32] yajo opened #5306 "Cannot write accents with dead keys - markdown editor"
**Describe the bug**

While writing non-English content with accents, my keyboard requires combining 2 keystrokes (accent - then letter. Spanish has áéíóúü). The accented letter is erased in the markdown editor.

**To Reproduce**

Just write with dead keys accents in markdown editor.

**Expected behavior**

Normal writing.

**Screenshots**

https://user-images.githubusercontent.com/973709/11612549

[2021-04-26 17:38] nevans opened #5307 "Gitlab workflow only shows 20 items"
It looks to me like there's no support for pagination when getting merge requests from gitlab, for the editorial workflow:

https://github.com/netlify/netlify-cms/blob/f70924d99be047a8a00ce6be2398dac7c77d55d5/packages/netlify-cms-backend-gitlab/src/API.ts#L550-L560

According to https://docs.gitlab.com/ee/api/merge_requests.html: "The pagination parameters page and per_page can be used to restrict

[2021-04-26 17:52] jf-home commented on #5280
Hi @apriljunge,

You make a good point about limiting the potential for confusion and improving maintainability.  Unfortunately, my use and understanding of Gatsby leads me to believe that the slug is generated by the markdown file name, so the suggestion of having a single file name with inferred localization would be limiting from an SEO perspective.  That said, there may be others with more exp

[2021-04-26 18:23] jmdembe opened #5308 "Translated content not populating in CMS"
**Describe the bug**
I have i18n enabled in french and spanish. I am able to enter french and spanish content. I am able to save my content. Problem is, when I revisit content via editorial workflow, the spanish and french translations do not populate in the CMS.

**To Reproduce**
1. Create a post and populate all content in English, French, and Spanish
2. Save the post
3. Navigate away from the p

[2021-04-26 20:11] AbdallahAbis commented on #3887
@erezrokah Should I write a test for this? if yes, how?

[2021-04-27 02:41] RuiJieW opened #5309 "RangeError: Invalid time value"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.117`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.128 Safari/537.36`

**CMS configuration**
[code]

**Additional context**

[2021-04-27 05:48] erezrokah commented on #5309
Hi @RuiJieW, can you please fill in the missing information from the issue template?

[2021-04-27 05:54] erezrokah commented on #5307
Hi @nevans, thanks for reporting. We will gladly accept a PR to fix this.

[2021-04-27 06:10] erezrokah commented on #5280
I'm loving this discussion ❤️

Personally I prefer if the CMS infer the slug to have the most minimal approach as the first iteration.

If we allow `file` to be an array, we'll need to validate that the length of the array matches the number of locales, which can be confusing. Also the information about translations is kind of duplicated between the file array and locales array.

As for the string

[2021-04-27 06:22] erezrokah commented on #3887
Maybe add a new Cypress spec for it? You can see an existing one here https://github.com/netlify/netlify-cms/blob/master/cypress/integration/editorial_workflow_spec_test_backend.js

and an example on how to update configuration (e.g. `delete: true` for a collection) here:
https://github.com/netlify/netlify-cms/blob/b8eea354795729f89e9603d1a8344cb52954bb92/cypress/integration/i18n_editorial_workflo

[2021-04-27 08:52] apriljunge commented on #5280
Valid point. I also thought about `src/pages/about.md ` is interpreted as default locale and only infer other languages. But thats even more confusing, because it differs how folder collections are handled and harder to implement with site generators. And what happens when you change the default locale? :confused:
I think its okay to infer the names directly because you have to manually activate i

[2021-04-27 11:01] atomcorp opened #5310 "Respond to failed deployments"
**Is your feature request related to a problem? Please describe.**
Hey! Netlify-CMS has been great so far, thanks! One thing i've found when working with the content authors is if the compile fails there is no way for a content author to know, it just shows Check for preview forever.

**Describe the solution you'd like**
When the GitHub status is failed, we should show some message instead of Chec

[2021-04-27 11:31] erezrokah commented on #5310
Hi @atomcorp, both suggestions sound great to me.
Showing the failure status makes sense and also showing some kind of progress.

We would love if suggest a way to implement those

[2021-04-27 16:04] jf-home commented on #5280
I don't think we need to take `src/pages/about.md` literally, instead, it should be viewed as the main path and file name construct that allows the locale inference to take place.  This way, even the default locale would have inference so the default can change at any time without repercussions.  As an example, with three locales in play [en, de, fr], each file name would have inference:

 - `src/

[2021-04-28 00:25] AbdallahAbis commented on #3887
@erezrokah I'm not sure I can implement that. plus I'm getting
[code]

[2021-04-28 08:34] erezrokah commented on #3887
That's a warning you can ignore.

For the tests, I think you can open a PR with your change and we can discuss it on the PR.

[2021-04-28 11:41] mattkibbler commented on #5193
For @trawlbens and anybody else that sees this error message pop up...

I just had this happening myself for a while, though it didn't seem to affect the functionality of the CMS at all and I wasn't sure what was going on.

I eventually realised it was because I had a demo collection in the CMS that I was playing around with before I created the proper collections that I'm now using. I had an open

[2021-04-28 11:59] mikz commented on #5108
Any plans to update Slate?

[2021-04-28 12:03] erezrokah commented on #5108
Hi @mikz, see https://github.com/netlify/netlify-cms/issues/1347#issuecomment-809187277

[2021-04-28 12:57] AbdallahAbis commented on #3887
@erezrokah PR in place

[2021-04-28 14:18] MartinSchere opened #5315 "Netlify cms app not compatible with react 17?!"
**Describe the bug**
When I try to install netlify-cms-app to use it with Gatbsy, I get an error:

[code]

**To Reproduce**

1. Create a new gatsby project (Using React 17 and gatsby 3)
2. Try to install netlify-cms-app: `npm i netlify-cms-app`
3. Get the error

**Expected behavior**
I expected it to install correctly

**Applicable Versions:**
Here's my package.json

[code]

**CMS configuration**

[2021-04-28 14:19] erezrokah commented on #5315
Thanks @MartinSchere, closing as a duplicate of https://github.com/netlify/netlify-cms/issues/5111

[2021-04-28 14:19] #5315 closed

[2021-04-28 14:22] erezrokah commented on #5111
@BA1RY, I think we could unblock users without having to do a breaking change. As the original issue suggests we can start by updating `"react": "^16.8.4"` to `"react": "^16.8.4 || ^17.0.0"` in our peer dependencies.

[2021-04-28 14:31] BA1RY commented on #5111
@erezrokah Sure, understood. I'll make the required changes.

[2021-04-28 17:50] BA1RY commented on #5111
Hi @erezrokah , I've made a PR according to your instructions. Made the changes for required packages inside https://github.com/netlify/netlify-cms/tree/master/packages. Please have a look at it. Thanks

[2021-04-28 23:23] corbinchild opened #5317 "Add file widget as secondary type for the image field inference"
**Is your feature request related to a problem? Please describe.**
I have a thumbnail field that can be an image, webm, or mp4 file.  Therefore, it is necessary for me to use the file widget with the name and label "thumbnail".  The grid view in Netlify CMS uses field inferences to display a preview image for each item in a collection.  However, the field inferences code only looks for values from

[2021-04-29 01:58] MartinSchere commented on #5111
Using the workaround I get:
` Error: ObjectMiddleware.register: serializer for mini-css-extract-plugin/dist/CssModule/null is already registered`
when including it in `gatsby-config.js`

[2021-04-29 05:02] JannikWempe commented on #5111
Same issue here using `gatsby-plugin-netlify-cms@~5.4.0` and `gatsby@3.4.0`. Excluding the plugin removes the erroer (but is obivisously not a solution).

[2021-04-29 06:28] bytrangle commented on #5253
@lsolesen : In the Markdown file created, I saw that the fields `permalink` and `last_modified_at` are below `title` field. Isn't that how it's supposed to be?

[2021-04-29 06:36] lsolesen commented on #5253
If I edit using the editor then it moves around --> https://github.com/motionsplan/motionsplan-dk-jekyll/pull/88/files

[2021-04-29 07:10] bytrangle commented on #761
This issue was a long time ago, but can @bert-bruggeman or anyone with write access please revise the issue title?
At present, we can un-blockquote a quote in the editor. The only problem is that when an existing blockquote loses focus, and then got focussed again (either by clicking or selecting it), the blockquote toolbar icon is not highlighted.

![blockquote-toolbar-button](https://user-images

[2021-04-29 09:48] #3887 closed

[2021-04-29 11:43] frankspin89 commented on #4491
Is there a way to speed up resolving on this issue? Like sponsoring development?

[2021-04-29 11:59] erezrokah commented on #4491
Hi @frankspin89 if you find someone that would like to do it, we'll gladly accept a PR for it.
Our [Slack channel](https://www.netlifycms.org/chat) is a good place to ask.

[2021-04-29 17:39] nevans commented on #5307
Thanks!  Is it okay to just bump up the per_page to 100? I submitted the simplest possible PR here: #5320, with the major caveat that I haven't tested it _AT ALL_ (at least, not yet). It might not work at all. 😆

[2021-04-30 12:53] alberto56 commented on #1275
In my experience having "title" as a first field always displays that value:

    fields:
      - label: "Title"
        name: "title"
        widget: "string"

The value of that field appears in the backed as per the enclosed screenshot.
<img width="698" alt="Screen Shot 2021-04-30 at 8 51 02 AM" src="https://user-images.githubusercontent.com/808265/116697473-376a5680-a991-11eb-863e-257e341bd585.

[2021-04-30 13:34] jmdembe commented on #5308
Figured out the reason behind this--there were duplicate keys in the frontmatter. Closing this issue.

[2021-04-30 17:12] munwr commented on #5111
We are also facing same issue

```Error: ObjectMiddleware.register: serializer for mini-css-extract-plugin/dist/CssModule/null is already registered```

[2021-04-30 17:27] phipag commented on #5111
Can confirm the issue.

[2021-04-30 18:21] munwr commented on #5111
Remove ^ in your plugin version, then npm install and you server would run
without errors

On Fri, 30 Apr 2021 at 11:23 PM, Shashank Bairy R ***@***.***>
wrote:

--
Warm Regards,
Munawar

[2021-04-30 19:02] BA1RY commented on #5111
Thanks @munwr, that surely solves the above error. 😃
It seems like a temporary fix and I wanted to know if there were any changes to be made in my PR to solve the above error in future releases.

[2021-04-30 19:30] MartinSchere opened #5321 "Error: ObjectMiddleware.register: serializer for mini-css-extract-plugin/dist/CssModule/null is already registered when using React 17 and netlify CMS"
React 17 is causing the gatsby plugin to throw dependency erros (See #5111). A suggested workaround is:

This causes the issue above:

 ERROR

ObjectMiddleware.register: serializer for mini-css-extract-plugin/dist/CssModule/null is already registered

[code]

**Describe the bug**

**To Reproduce**
1. Create a project with gatsby v3 and react 17
2. Install netlify CMS and the gatsby plugin
3. See t

[2021-04-30 19:30] MartinSchere commented on #5111
@munwr @phipag I'm opening a new issue with this: #5321

[2021-05-01 08:04] phipag commented on #5321
Downgrading from `"gatsby-plugin-netlify-cms": "^5.4.0"` to `"gatsby-plugin-netlify-cms": "^
5.3.0"` can be used as a temporary fix.

[2021-05-02 13:18] alex83130 commented on #1288
Do we have a list of custom Widget build by the community in the end ?

[2021-05-02 15:28] alex83130 commented on #3046
What was the solution for that one ? I have the same problem on my side, the Collections works well, but I have a templateKey nul for my Files.

In that exemple : https://github.com/robertcoopercode/gatsby-netlify-cms/blob/master/static/admin/config.yml
They use it, but seems doesn't work at all on my side :/

[2021-05-02 17:16] haroldao opened #5322 "TypeError: e.join is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.118`
 - Git provider: `github`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.99 Safari/537.36`

**CMS configuration**
[code]

[2021-05-02 18:34] #5322 closed

[2021-05-03 01:50] johncip commented on #4676
Am seeing this as well with a git-gateway backend and a preview class that just renders an empty div.

[2021-05-03 03:52] bytrangle commented on #761
@erquhart: This issue was opened three years ago and a lot of things have changed in the Netlify CMS. There was two parts in the original issue:
- Select an existing quoteblock in the editor, then click the quoteblock toolbar icon should un-blockquote it.
- Selecting an existing quoteblock doesn't highlight the quoteblock icon in the toolbar.

Currently, the first part seems to have been solved. I

[2021-05-03 10:56] erezrokah commented on #761
Hi @bytrangle, that's a good idea. I'll close this one. Can you please open a new one with a reproduction and link to this one?

[2021-05-03 10:56] #761 closed

[2021-05-03 11:43] erezrokah commented on #5321
I believe https://github.com/gatsbyjs/gatsby/pull/30526 broke this by using a different version of `mini-css-extract-plugin` in the plugin from the one used in Gatsby.
I think https://github.com/gatsbyjs/gatsby/pull/31110 should fix it.
Per https://github.com/gatsbyjs/gatsby/commit/c0b6dd9aa57d7764af0472ddc88e8ebe760ed1a1 it should be released in `gatsby@3.5.0` and `gatsby-plugin-netlify-cms@5.5.0

[2021-05-03 16:10] erezrokah commented on #5111
FYI, we released `netlify-cms@2.10.120-beta.0` and `netlify-cms-app@2.15.0-beta.0` with the fix from https://github.com/netlify/netlify-cms/pull/5316.

Can you please verify those versions solve the issue? Once the fix is verified we'll do an official release

[2021-05-03 17:07] brunodbo commented on #479
Is it possible to reopen this issue (if not, I'll happily create a new one for this request)? It would be great to have support for multiple branches in Netlify CMS, so we could use it together with Netlify's (branch based) split testing functionality.

[2021-05-03 17:18] BA1RY commented on #5111
Hi @erezrokah , it's working for me. Used `"netlify-cms-app": "2.15.0-beta.0"` and `"gatsby-plugin-netlify-cms": "5.3.0"` inside gatsby-starter-blog and installed them using `npm install --legacy-peer-deps`.

[2021-05-03 17:19] erezrokah commented on #5111
Hi @BA1RY, you should be able to install them without the `--legacy-peer-deps` flag using `npm@7`

[2021-05-03 17:30] BA1RY commented on #5111
Hi @erezrokah , Just checked. It works with just `npm install` 😃

[2021-05-03 18:00] phipag commented on #5111
I can confirm that it works now.

[2021-05-03 23:42] kaw2k opened #5337 "i18n Custom Previews"
**Is your feature request related to a problem? Please describe.**
Currently there is no way to preview i18n entries in the template preview pane. No matter what language you have selected on the left side of the content editor, the right preview pane reflects the default locale.

**Describe the solution you'd like**
An additional field as part of `PreviewTemplateComponentProps`. It should be a `s

[2021-05-04 04:22] bytrangle opened #5338 "Toolbar buttons for some block styles are not highlighted on active"
**Notes**: This is related to issue #761

**Describe the bug**

There are two parts to this issue:
- When selecting a block of text in the editor and toggle it to Quoteblock, Bulleted list or Numbered list using toolbar buttons, the buttons are not highlighted. However, the text was converted properly to the chosen text style.
- When clicking away from an existing quoteblock, bulleted list or numb

[2021-05-04 08:40] erezrokah commented on #5111
Thanks @BA1RY for taking this on and everyone else that tested it.
This should be resolved in `netlify-cms@2.10.120` and `netlify-cms-app@2.15.0` via.

Please comment it upgrading to the latest version doesn't solve it.

[2021-05-04 08:40] #5111 closed

[2021-05-04 08:44] erezrokah commented on #479
Hi @brunodbo, I recommend opening a new issue with a detailed feature request.
I can't understand how multiple branches support will look like based on this issue, or if it is covered by the solution here https://github.com/netlify/netlify-cms/issues/3790#issuecomment-635920266

[2021-05-04 08:48] erezrokah commented on #5338
Hi @bytrangle, thank you for the detailed reproduction, it's very clear

[2021-05-04 09:28] everythingcivil commented on #4062
Being a technical blogger, edit still lacks, such as

1. Tables
2. Highlighting text, font color, size, text alignment, subscripts, superscripts
3. Entering math equations, etc.

How to include in the editor?

[2021-05-04 19:05] Andful commented on #3821
I implemented my own [custom widget](https://github.com/Andful/netlify-cms-widget-create-select) and I am going to add it here in case it is helpful to anybody (the widget is still in early development). My approach is different from the one proposed by @AbdallahAbis. The widget uses the page building tool to populate the select entries. An example can be seen in this [demo](https://netlify-cms-wi

[2021-05-05 05:49] JannieT commented on #5122
I get exactly the same error message with this minimum reproducible config.yml:

[code]

With the i18n keys commented out, the file is saved  fine. With the comments removed, the two editors appear, but when I tap publish, the quoted javascript error triggers and the changes are not saved.

[2021-05-05 11:37] soneji commented on #857
Hi

Is this still something people want? I certainly would love to be able to rename my files/images before uploading them. If a maintainer could point me in the direction of the code for handling file uploads I would be happy to send a PR

Thanks

[2021-05-05 13:27] erezrokah commented on #857
Hi @soneji, maybe we can do this as a part of https://github.com/netlify/netlify-cms/issues/4965?

The UI code for the media library is here https://github.com/netlify/netlify-cms/tree/master/packages/netlify-cms-core/src/components/MediaLibrary

[2021-05-05 15:14] JannieT commented on #5122
My problem is probably because I tried to use i18n in a files collection. I have now restructured to use it in a folder collection which gives a really confusing UX experience to the content editor, but at least I can save the edits. This works for me:

[code]

[2021-05-05 19:55] Torontina opened #5345 "ERROR"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: [e.g. GitHub, BitBucket]
 - OS: [e.g. Windows 7]
 - Browser version [e.g. chrome 22, safari 11]

 - Node.JS version:

**CMS configuration**

**Additional context**

[2021-05-06 07:49] Phebonacci commented on #1816
This sadly didn't work for me :( I was able to generate an access token but I'm still getting 403s

[2021-05-06 08:01] erezrokah commented on #5345
Closing as it doesn't provide any information that can help us resolve it.
@Torontina can you update the issue per https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title

I'll open the issue once more information is provided

[2021-05-06 08:01] #5345 closed

[2021-05-06 08:40] erezrokah commented on #5275
Closing as stale

[2021-05-06 08:40] #5275 closed

[2021-05-06 08:40] erezrokah commented on #5190
Closing as stale

[2021-05-06 08:40] #5190 closed

[2021-05-06 17:39] mikestopcontinues opened #5347 "React PropTypes error: `Warning: Failed prop type: invariant is not defined`"
**Describe the bug**

I recently upgraded a bunch of packages, and I find I'm getting this error. A bit of googling leads me to think it's got to do with React PropTypes being used funny. It's not a critical bug, as it doesn't keep the CMS from running, but it's worth noting...

**To Reproduce**

Install the packages below and start it up...

[code]

**Expected behavior**

No errors.

**Applicable

[2021-05-06 17:51] mikestopcontinues commented on #5347
The error seems to be with `-app`, not the regular package. I switched back to importing `netlify-cms` from the cdn, and the error is gone.

[2021-05-06 17:51] #5347 closed

[2021-05-08 15:30] Manoranjan-D opened #5348 "i have hosted static site, it works fine in desktop, but in mobile if i turn on desktop mode in chrome browser a margin-right is getting added to the entire body, i tested the same with dev server it works fine."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: [e.g. GitHub, BitBucket]
 - OS: [e.g. Windows 7]
 - Browser version [e.g. chrome 22, safari 11]

 - Node.JS version:

**CMS configuration**

**Additional context**

[2021-05-08 16:51] #5348 closed

[2021-05-08 16:52] Manoranjan-D commented on #5348
closed

[2021-05-09 07:11] mikestopcontinues commented on #4782
This issue should be re-opened. The merged types are wrong. Right now, the type for `handler` is `{entry, author}` rather than `({entry, author}) => void`.

[2021-05-09 09:00] mikestopcontinues opened #5350 "Allow validation functions in config"
**Is your feature request related to a problem? Please describe.**

Doing good validation is a pain. Regex is just not that easy to work with, even for things as simple as validating a url or and email address. Additionally, being limited to a single regex param prevents leveraging the JS ecosystem.

**Describe the solution you'd like**

I'd like to be able to pass a validation function when confi

[2021-05-09 09:04] erezrokah commented on #5350
Hi @mikestopcontinues, have you considered using a custom widget for that?
See https://www.netlifycms.org/docs/custom-widgets/#advanced-field-validation

[2021-05-09 09:07] erezrokah commented on #4782
Hi @mikestopcontinues, nice catch! A PR to fix this would be great, the code is here:
https://github.com/netlify/netlify-cms/blob/157851e9c4f0123e2018c74f6be54a543f2645ab/packages/netlify-cms-core/index.d.ts#L485

[2021-05-09 11:58] mikestopcontinues commented on #5350
I did. I forgot to mention it. But it's a bulky process to create one, let alone a handful. I think it's worth considering how many people would be able to use the feature, e.g. whether they write their config in yaml or js. Honestly, I find it hard to believe anyone sticks with yaml beyond a few collection types, but if I were wrong in that assumption, I can understand how a feature requiring JS

[2021-05-09 12:15] erezrokah commented on #5350
I think for big configurations some people use `yaml` [aliases](https://github.com/netlify/netlify-cms/issues/1342#issuecomment-608558798) and/or generate the yaml config file automatically during build.

If we do add an option to add functions via the config (there might be additional places we can do it besides validation), it should work for both JS and `yaml`.

[2021-05-09 15:07] mikestopcontinues commented on #5350
I used aliases for the config on a previous version of my personal site. It felt clever, but so convoluted. For the config, are you thinking along the lines of a context object? E.g.

[code]

[code]

When I wrote the FR, I did wonder about just writing the funcs directly in yaml, but I wasn't sure if you use the full yaml schema, or if it was possible to import js modules into yaml.

[2021-05-09 17:00] erezrokah commented on #5350
Hi @mikestopcontinues, I'm not sure how this will look like from a `yaml` standpoint.

If one has to change the JavaScript code too, we might as well just keep it only as a JS feature.
The closest thing we have to this feature is https://www.netlifycms.org/docs/beta-features/#summary-string-template-transformations so maybe follow the same and allow some builtin filters?

[2021-05-09 22:16] hkennyv commented on #4782
Whoops, my mistake.. thank you for pointing that out @mikestopcontinues! How does #5353 look? @erezrokah

[2021-05-10 06:17] mikestopcontinues commented on #4782
@hkennyv that's spot on. Thanks!

[2021-05-11 11:16] erezrokah commented on #5338
Yes please! Thank you for suggesting. Please let me know if I can do anything to help

[2021-05-11 18:45] qb-rivkyb commented on #3816
Just came upon this issue and was wondering if this is still happening? It would be a great feature to use!

[2021-05-11 18:59] Treefogg commented on #4582
Not sure I just know when I take pictures the time frame. Is always. Hours ahead of the time it is.

[2021-05-12 04:16] nepalsaurav opened #5368 "TypeError: e.join is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.124`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:88.0) Gecko/20100101 Firefox/88.0`

**CMS configuration**
[code]

**Additional context**

[2021-05-12 10:03] erezrokah commented on #3816
Hi @qb-rivkyb I believe this is open for a contribution as no one is working on it as the moment

[2021-05-12 10:12] pmpinto opened #5369 "Pasting HTML along with Markdown in Rich Text Editor breaks markdown syntax"
**Describe the bug**
Like the title reads, when you paste HTML along with your markdown content in the Rich Text editor, you end up with a broken markdown syntax.

The same doesn't happen when pasting in Markdown mode.

And saving the changes doesn't affect this behaviour, so it's an editor thing.

**To Reproduce**
Content example:
[code]

1. Copy the content above
2. Paste it in the rich text edi

[2021-05-12 10:16] erezrokah commented on #5368
Hi @nepalsaurav, can you provide a reproduction scenario per our issue template https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title

[2021-05-12 11:16] #5241 closed

[2021-05-12 11:16] #5309 closed

[2021-05-12 15:47] KashafS98 commented on #1741
I had this issue for quite sometime, and when it was solved locally, it didn't work in production. One silly mistake i had done was that i did not update the branch name in config.yml.
`name: bitbucket
  repo: Kashaf98/dmc-insights
  branch: master # Branch to update (optional; defaults to master)
  app_id: ASZxhFY4FeqxdTksjn
  auth_type: implicit`
Had a good roller coaster ride trying to integrat

[2021-05-12 16:36] johnshlee1 opened #5375 "TypeError: i is undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.15.2`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:88.0) Gecko/20100101 Firefox/88.0`

**CMS configuration**
[code]

**Additional context**

[2021-05-12 16:37] erezrokah commented on #5375
Hi @johnshlee1, can you provide a reproduction scenario per our issue template https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title

[2021-05-12 18:14] shelleychenn commented on #2081
I'm currently having the same exact issue. Anyone had any luck connecting Bitbucket server with netlify cms since the last comment?

[2021-05-12 18:19] erezrokah commented on #2081
Hi 👋  I don't know how much Bitbucket server differs from the hosted service, but the relevant code for Bitbucket is here https://github.com/netlify/netlify-cms/tree/master/packages/netlify-cms-backend-bitbucket/src

If someone explains into detail how to set up a server, configure OAuth and how the API works, that would make it easier for others to contribute

[2021-05-12 19:26] something-something-something opened #5376 "netlify-cms-app fails to install with react 17 as version 6 of react-aria-menubutton in incompatible with react 17"
**Describe the bug**

When installing netlify-cms-app with react 17 the install fails with the following error:
[code]

It seems like `react-aria-menubutton` in `netlify-cms-ui-default` needs to be upgraded to version 7.0.1 see: https://github.com/davidtheclark/react-aria-menubutton/issues/140

**To Reproduce**

Run `npm init -y && npm i react react-dom &&  npm i netlify-cms-app` in an empty direc

[2021-05-13 05:02] bytrangle opened #5377 "Bulleted and Numbered List Create Only One List Item."
**Describe the bug**

**To Reproduce**

**Expected behavior**

As common with rich text editor, when you create either bulleted list or numbered list, hitting the Enter key will create a new list item indicated by a bullet symbol or a number.

I suspect that the culprit is the custom plugin for toggling lists attached to the Slate editor. The file is located at *netlify-cms-widget-markdown/src/Mar

[2021-05-13 07:03] erezrokah commented on #5376
Thanks @something-something-something, this is also an issue with `react-split-pane`:
https://github.com/tomkp/react-split-pane/pull/681

[2021-05-13 08:14] erezrokah commented on #5377
Hi @bytrangle, I believe this is the same as https://github.com/netlify/netlify-cms/issues/3474#issuecomment-607549091.

Closing - please comment if this is not a duplicate

[2021-05-13 08:14] #5377 closed

[2021-05-13 08:35] nepalsaurav commented on #5368
Thanks @erezrokah  for response now its solved

[2021-05-13 08:38] #5368 closed

[2021-05-13 11:39] miguelt1 opened #5381 "List widget required not working"
So I have a simple list widget like below:
`- {
          label: 'Gallery',
          name: 'galleryImages',
          widget: 'list',
          summary: '{{field.image}}',
          required: true,
          collapsed: false,
          min: 1,
          field: { label: Image, name: image, widget: image, required: true },
        }`

    However, the required field is not working, only works when

[2021-05-13 11:42] erezrokah commented on #5381
Hi @miguelt1, can you please follow the format of the issue template https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title

That makes it much easier for the maintainer to understand the issue you're experiencing

[2021-05-13 11:59] miguelt1 commented on #5381
@erezrokah edited

[2021-05-13 19:00] kennethormandy opened #5386 "Breaking change to public_folder in v2.38.1 (2021-02-15)?"
**Describe the bug**

Setting the following config:

[code]

…previously made it possible to save the filename of an upload, without any public path. This seems to have changed after v2.38.0, and broken this behaviour.

Now, it seems like this empty string is resolved as `false`, so you end up with value of the `media_folder`.

**To Reproduce**

When uploading a file called `my-image.png` with the

[2021-05-13 20:03] mklueh commented on #4965
Running into this "issue" as well. The feature would really be nice to have, as it is really time consuming to upload a bunch of images. Same goes for the selection for example, of the list widget. You need to add each image one by one

[2021-05-14 05:58] jace-ys commented on #513
I just came across this while trying to integrate Netlify CMS with my Hugo site, and I ended up using both `path` and `nested` features to achieve my dream setup 🎉

Thanks to everyone who chipped in / worked on this, really great work ❤️

[2021-05-14 07:00] Yajo opened #5387 "405 when publishing (merging) on gitlab"
**Describe the bug**

Cannot merge Gitlab MR with Client-Side PKCE Authorization.

    Cannot publish: API_ERROR: 405 Method Not Allowed

**To Reproduce**

1. Configure netlify-cms with gitlab backend
2. Follow these instructions for auth https://www.netlifycms.org/docs/gitlab-backend/#client-side-pkce-authorization
3. Enable editorial workflow
4. Create a new entry
5. Set it ready
6. Try to publi

[2021-05-14 09:18] bytrangle commented on #5377
Hi @erezrokah Sorry, I have searched if an issue like exists, but didn't notice that that one was the same as mine. Good catch.

[2021-05-14 09:40] bytrangle commented on #3474
Thanks @erezrokah for reopening this discussion. After looking at the code for rendering list items, I can see why it was intentionally rendered that way. However, I argue for changing this behavior for two reasons:
- Once you've created a list item, hitting Enter should create another list item. That's the expected behavior for rich text editors.
- It is potentially confusing. I thought I'm a tec

[2021-05-14 13:34] castasint opened #5389 "Unable to add Netlify CMS to a Gatsby Site"
I am trying to add netlify cms plugin(using npm install netlify-cms-app gatsby-plugin-netlify-cms but I am getting the below error. I'm following this post [https://www.gatsbyjs.com/docs/how-to/sourcing-data/sourcing-from-netlify-cms/](https://www.gatsbyjs.com/docs/how-to/sourcing-data/sourcing-from-netlify-cms/). Any advice on how it can be fixed?

Error:
![image](https://user-images.githubuserco

[2021-05-14 14:24] jwkicklighter commented on #263
Just wanted to add [another example](https://www.jerriepelser.com/blog/schedule-posts-gatsby-netlify/) I came across where someone is using GitHub Actions co accomplish this task.

Based on what @papistan said, I was thinking about a very similar idea for GitLab. One could hypothetically schedule a pipeline for ever X interval which has a single Job that looks at some criteria (perhaps a yml file

[2021-05-14 17:38] boehs commented on #5389
[code]
also having issues with unpkg, git sign in fails.

[2021-05-14 19:28] adhoch opened #5390 "TypeError: e.replace is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.126`
 - Git provider: `proxy`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36`

**CMS configuration**
[code]

**Additional context**

[2021-05-16 06:57] #5375 closed

[2021-05-16 06:57] erezrokah commented on #5390
Hi @adhoch, can you provide a reproduction scenario per our issue template https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title

[2021-05-16 07:14] erezrokah commented on #3474
Since many people (including myself) got confused by this behavior, we'd be happy to accept a PR to change it

[2021-05-16 09:46] erezrokah commented on #5387
Hi @Yajo, I'm able to successfully publish using `PKCE` authentication.

Is you default branch protected? If that's the case you'd need `maintainer` permissions.
See note here https://www.netlifycms.org/docs/gitlab-backend/
![image](https://user-images.githubusercontent.com/26760571/118392900-a3f97c80-b644-11eb-986a-69516dfe9ca4.png)

[2021-05-16 12:31] #5386 closed

[2021-05-16 17:06] kenchon commented on #4837
Same bug in following environment:
❌
- Lang: Japanese
- OS: iOS 14.4.2
- Browser: Safari/Chrome

But it works well in OSX:
✅
- Lang: Japanese
- OS: OSX Big Sur
- Browser: Chrome

[2021-05-17 02:10] liby opened #5408 "Error: Minified React error #130; visit https://reactjs.org/docs/error-decoder.html?invariant=130..."
**Describe the bug**
[code]
**To Reproduce**

**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/38807139/118423771-58080f80-b6f8-11eb-8d0d-aa1121258c9d.png)

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.126`
 - Git provider: `proxy`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Geck

[2021-05-17 02:53] liby commented on #5408
The reason for this issue is that there is a problem with the way the widget is imported.

This causes the error:
[code]

While this does not cause the error:
[code]

[2021-05-17 02:53] #5408 closed

[2021-05-17 14:46] kenchon commented on #4837
I found similar issue #4539 and this PR #4607 solved this.

[2021-05-17 15:34] chrisschaub opened #5409 "Use block editor like craft.js ?"
Would it be possible to swap out the markdown editor with something like craft.js, a more block style editor? What would be involved? Thanks for any advice.

[2021-05-17 19:02] smashercosmo commented on #5389
You're using npm 7 which automatically installs peer dependencies. But as you can see from the error, there are conflicts between different versions of dependencies. Easy way to fix it is to opt out of this behaviour by running ```npm i netlify-cms-app gatsby-plugin-netlify-cms --legacy-peer-deps```

[2021-05-18 06:29] shivsingh7150 opened #5410 "TypeError: e.join is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.126`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36`

**CMS configuration**
[code]

**Additional context**

[2021-05-18 08:29] erezrokah commented on #5410
Hi @shivsingh7150, can you provide a reproduction scenario per our issue template https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title

[2021-05-18 08:48] erezrokah commented on #5409
Hi @chrisschaub, can you please follow the [feature template](https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+feature&template=feature_request.md&title=Please+replace+with+a+clear+and+descriptive+title)?

That would make it easier to understand the reason(s) for the suggested change.

The current editor is based on [slate](https://github.com/ianstormtaylor/slate) and re

[2021-05-18 13:15] erezrokah commented on #5376
Blocked by https://github.com/davidtheclark/react-aria-menubutton/pull/133

[2021-05-18 15:30] shirshendubhowmick commented on #5376
This is now complete

[2021-05-18 15:37] erezrokah commented on #5376
Woo @shirshendubhowmick, this is amazing. Thank you for the quick follow up ❤️

[2021-05-18 19:00] Pageboy opened #5411 "The browser Safari indicated that there is a missing image"
**Describe the bug**
In the editor at the point of editing a post or page, there is a missing image displayed top left.
This only seems to happen in Safari on MAC

**To Reproduce**

Use Safari Version 14.1 (16611.1.21.161.6) on MAC 11.3.1

![Screenshot 2021-05-18 at 19 59 19](https://user-images.githubusercontent.com/619455/118708445-a52cd400-b813-11eb-8d24-9ba1178205c3.png)

![Screenshot 2021-05-

[2021-05-19 09:16] kenchon commented on #4837
I'm not sure I'm looking properly, netlify-cms's markdown editor uses [`slate-react`](https://github.com/ianstormtaylor/slate) [here](https://github.com/netlify/netlify-cms/blob/10327d6ede26e279ef6b4432beddc0d533740def/packages/netlify-cms-widget-markdown/src/MarkdownControl/RawEditor.js#L127).
In `slate-react` project, [IME related bugs are reported](https://github.com/ianstormtaylor/slate/issues

[2021-05-19 10:00] danielmoessner commented on #995
I've looked all over the place until I found your solution. Your solution is really elegant, thanks for sharing. I'm just wondering how did you find out that `File @fileByRelativePath` works? Or that the File Type exists? Is it in the Gatsby Documentation somehwere?

[2021-05-19 16:15] kenchon commented on #4837
[Here](https://github.com/ianstormtaylor/slate/issues/2368#issuecomment-545033238) describes the root cause of the IME problem, and `slate` maintainer says this was solved by this [PR](https://github.com/ianstormtaylor/slate/pull/3093).

Although there still remains some bugs in IME, updating `slate` should be the solution of this issue. The problem is updating `slate` requires many breaking chang

[2021-05-19 16:28] TheOddler opened #5416 "Custom buttons on the List widget"
**Is your feature request related to a problem? Please describe.**

I have a bunch of images on Flickr, and would like to add these in bulk to a list in Netlify. Flickr has an API that I can use to get all images, so I'd like to be able to use that.

The images themselves don't need to be uploaded, simply their urls added to the list.

**Describe the solution you'd like**

Since this is a rather s

[2021-05-19 16:35] erezrokah commented on #5416
Hi @TheOddler,

Can you be more specific on which `add` button are you referring to? A screenshot will help.

If what you're trying to achieve is to bulk import images, could you use the Flickr API to download them and then commit them directly to `git`?

The image widget lets you upload from URL if that helps.
![image](https://user-images.githubusercontent.com/26760571/118850328-58abcc00-b8d9-11e

[2021-05-19 16:47] TheOddler commented on #5416
![image](https://user-images.githubusercontent.com/1831376/118850913-88ef6c80-b8d1-11eb-84b4-7327b60bfe78.png)

I also added this screenshot to the original request.

That's not really possible directly, and would require additional scripting too. Flickr's API returns a list of image urls, which can then be downloaded. I however only want the urls and embed them like that in a page.

That is indee

[2021-05-19 21:59] lgrano opened #5419 "Squoosh Integration"
**Is your feature request related to a problem? Please describe.**
   The image widget, and media library currently does not support compressing images and working with a proper srcset with multiple formats.

**Describe the solution you'd like**
   Google has created a web app that resizes, compress and encode images in various formats for the web, it has now landed a CLI and [API](https://github.

[2021-05-20 03:45] kennethormandy commented on #5386
Thanks for the fix!

[2021-05-20 11:34] miguelt1 opened #5420 "Error: Could not find "store" in the context of "Connect(ComponentName)". Either wrap the root component in a <Provider>, or pass a custom React context provider to <Provider> and the corresponding React context consumer to Connect(ComponentName) in connect options."
**Describe the bug**
I have several components from FE to be rendered in the preview mode that have a redux connected but when I call one to be in the preview I get this error: **Error: Could not find "store" in the context of "Connect(ComponentName)". Either wrap the root component in a <Provider>, or pass a custom React context provider to <Provider> and the corresponding React context consumer

[2021-05-20 16:08] TheOddler commented on #5416
@erezrokah I'm looking into adding this myself, but since this is one of the first times I'll be using React and extending Netlify, a nudge in the right direction would be awesome.

Would you suggest to actually edit the `ListControl` and making a PR? Or would this kind of thing be better fit as a custom widget? And if the later, is it possible to extend the existing `ListControl` so stuff like th

[2021-05-21 19:24] liminalfun commented on #5280
Found this thread while running into the same problem using Hugo, which also doesn't like to parse i18n content from single files.

Like Gatsby, Hugo prefers multiple files`src/pages/about.en.md`. Although it can also support multiple folders like `src/pages/about/en/_index.md`.

My work-around at the moment is to organize the content for each single page as a folder collection, resulting in longe

[2021-05-21 21:34] TheOddler commented on #5416
A small update on what I created so far, it's very much still in progress, and would love anyone thoughts if they have any.

I created a new widget "smart-list" that extends the original list widget, and is supposed to work with the beta feature "List Widget: Variable Types". In this "smart-list" you define special types that will call a function, and that function can then return an array of othe

[2021-05-22 02:00] tomknappramos opened #5423 "GitLab CI/CD is being triggered without a .gitlab-ci.yml file"
**Describe the bug**

GitLab CI/CD is being triggered without a .gitlab-ci.yml file or any specific setup in GitLab

**To Reproduce**

Create a site with the preact-cli template.
That will create a repo in your personal GitLab (but I wanted mine to be in a GitLab group).
Move the GitLab repo into a group.
Create a new Netlify site for the newly named repo (which is now in a group).
Turn on identit

[2021-05-22 09:32] karlhorky commented on #1776
@mtliendo seems like the code behind this example is actually not all that complicated:

https://github.com/ChristopherBiscardi/gatsby-mdx/blob/master/ui-extensions/contentful/index.js

So probably it wouldn't even need a collaboration - just someone to actually take the time to do the work here.

[2021-05-22 09:45] karlhorky commented on #1776
`mdx-bundler` by Kent C. Dodds may also be interesting here: https://github.com/kentcdodds/mdx-bundler/

[2021-05-23 06:20] erezrokah commented on #5420
Hi @miguelt1, can you provide a public repo reproducing the error?

It's hard for me to understand if you're trying to connect your application redux store or the CMS redux store to the preview template component.

The CMS is a self contained React application so it doesn't have access to your redux store.

[2021-05-23 13:24] erezrokah commented on #5423
Hi @tomknappramos, you correct the build should only happen in Netlify unless configured otherwise on GitLab.

Don't think that should impact GitLab pipelines.

You can see the code [here](https://github.com/netlify/netlify-cms/blob/master/packages/netlify-cms-backend-gitlab/src/API.ts). The CMS doesn't explicitly trigger a pipeline. It only pushes changes to the repo as commits.

Maybe this is so

[2021-05-23 13:31] erezrokah commented on #5416
I think a custom widget is preferred. If it's gets enough traction we can port it to be a core widget.
Being a custom widget it can help shape the API before making a commitment.

So far great process @TheOddler.

Personally I would avoid a global function. Another solution would be to expose a widget builder, e.g. a function `createSmartListWidget` that receives an options argument (with various

[2021-05-24 03:54] reddypramod85 opened #5437 "Cloudinary media library: can't log in using signature and timestamp"
Hello, I'm trying to initialize the CMS manually and pass the Cloudinary signature and timestamp during run time using the Netlify function with the below settings but those parameters are not getting passed. If I pass the complete config with load_config_file:false I'm able to auto sign in to the Cloudinary widget.  I referenced these docs https://www.netlifycms.org/docs/beta-features/#manual-ini

[2021-05-26 00:16] tomknappramos commented on #5423
@erezrokah Thanks for getting back! Good to know it's not Netlify CMS!

I'll take a look at any potential logs for the GitLab pipeline and/or reach out to GitLab directly and then post an update!

[2021-05-26 00:22] tomknappramos commented on #5423
Not sure if this is worth noting or not, but all of the pipelines have this error,
![image](https://user-images.githubusercontent.com/10470943/119584546-73ac8f00-bd64-11eb-96ca-56a8cb4c75f6.png)

[2021-05-26 07:45] erezrokah commented on #5423
Hi @tomknappramos, that's helpful. So something is triggering the pipelines and we can't see the actual logs until you provide a credit card? 🤦

I would love to know what GitLab support can tell us about this

[2021-05-26 10:32] paulobarcelos commented on #5376
I seems the `react-codemirror` nested dependency could also be blocking this?
This is the error I get when trying to update to React 17:

[code]

[2021-05-26 11:14] erezrokah commented on #5376
Thanks @paulobarcelos, that's helpful. Looks like there's a PR for it https://github.com/scniro/react-codemirror2/pull/224, but no comment from the maintainer.

[2021-05-26 11:46] paulobarcelos commented on #5376
By the looks of it, seems that project may be dead. Wonder if it would be a good idea for Netlifly CMS to change to the proposed updated fork while the original one doesn't change (if it ever will). Feels like halting support for React 17 is a bigger issue than dealing with the annoyance of having to migrate to an unofficial fork of the dependecy.

[2021-05-26 12:00] erezrokah commented on #5376
That fork doesn't seem to be updating frequently too and I don't think we want to install directly from GitHub.

For React 17 + `npm@7` support there's a workaround by passing the `--legacy-peer-deps` flag, which is clearly stated in the error.

Not sure if we should find a completely different solution to our Code widget.

Since this seems to be an issue with more that one dependency, we might ha

[2021-05-26 12:52] erezrokah commented on #5437
In case someone wants to look at this the config should be propagated to https://github.com/netlify/netlify-cms/blob/26cd552746d6294387b9bdd961a73d5a531bf665/packages/netlify-cms-media-library-cloudinary/src/index.js#L69

[2021-05-26 18:46] lsolesen opened #5439 "Do not remove quotation marks from frontmatter"
**Describe the bug**

I have a value like this in my frontmatter:

[code]

However, after editing the post the quotation marks are removed so, and now it is no longer considered a string in liquid. That means I can no longer just {{ c }}, as this will output `14534534` and not like `1,4,5,3,45,34` which it would before removing the quotation marks.

**To Reproduce**

The quotation marks seems to a

[2021-05-26 18:49] lsolesen commented on #4361
I figures this one out. Even though I am not using the the site from Netlify, I still have to setup the domain-name on Netlify to get the editor to work.

[2021-05-26 18:49] #4361 closed

[2021-05-27 05:35] tomknappramos commented on #5423
It seems like the pipeline doesn't even start at all due to the error, so I don't think any logs even exist for the pipeline. 🤔

I actually submitted a GitLab support ticket yesterday, so we shall see what they find out!

[2021-05-27 07:29] tremby commented on #1382
Same with YAML files.

[2021-05-27 07:45] erezrokah commented on #5439
Hi @lsolesen, does removing the quotation marks has any negative effect?

If you past the content [here](https://onlineyamltools.com/convert-yaml-to-json) you'll see those are still parsed as strings.

[2021-05-27 08:32] erezrokah commented on #1382
If someone would like to submit a PR for this the place to start is https://github.com/netlify/netlify-cms/blob/26cd552746d6294387b9bdd961a73d5a531bf665/packages/netlify-cms-core/src/formats/frontmatter.ts#L34

[2021-05-27 09:12] lsolesen commented on #5439
Yes. It has started outputting without the commas.

[2021-05-27 10:25] erezrokah commented on #2251
Closing as stale and due to https://www.netlifycms.org/docs/beta-features/#working-with-a-local-git-repository.

Please comment if you think there's additional significant benefit to a GraphQL backend

[2021-05-27 10:25] #2251 closed

[2021-05-27 12:52] xarielx opened #5440 "Sign up and Log in not working for www.netlify.com"
**Describe the bug**
Sign up and Log in Page redirect to star background and nothing more, can not log on or sign up.

**To Reproduce**

1. Go to 'https://www.netlify.com/'
2. Click on 'Sign Up'
3. See how no forms or anything appears

**Expected behavior**
You should be able to sign up for an account

**Screenshots**
![image](https://user-images.githubusercontent.com/36430592/119829216-02d2b780-b

[2021-05-27 12:58] erezrokah commented on #5440
Hi @xarielx, this is a repo to report issues with Netlify CMS.
For Netlify related issues I recommend reaching out in https://answers.netlify.com/.

Regardless, I'm able to both login and get to the sign up page.

I recommend:
1. Trying in incognito mode
2. Trying in a different browser.
3. Checking you don't have any browser extensions that can block the site

[2021-05-27 13:00] xarielx commented on #5440
My apologies, closing it

[2021-05-27 13:00] #5440 closed

[2021-05-29 20:29] mvolfik opened #5444 "Incorrect path stored in front matter when media_folder includes slug and title is changed after image upload"
**To Reproduce**
Have config like this:
[code]
1. Create a new item
2. Set title to 'foo' (or don't set it at all)
3. Upload some image and choose it in the second widget
4. Change the title to 'bar'
5. Publish

**Expected behavior**
An image is uploaded to `/static/assets/bar/filename.png` and `image: /assets/bar/filename.png` is stored in `/content/bar.md`

**Observed behavior**
Image is uploade

[2021-05-30 09:57] bytrangle opened #5446 "Improvement to the Rich Text Editor"
**Is your feature request related to a problem? Please describe.**: No.

**Describe the solution you'd like**

First off, I think Netlify CMS team has done a tremendous job in implementing the rich text editor 👍..

However, while using it, I start to see quirks or behaviours that are different from table-stake editors like Medium, Dropbox etc.

They are not bugs per se, but those non-standard beha

[2021-05-30 12:47] ZDVokoun commented on #5410
Do you have in post you are trying to open values of "categories" and "tags" in square brackets? I have fixed this error by adding "categories" and "tags" values to square brackets.

[2021-05-30 15:00] erezrokah commented on #5446
Thanks @bytrangle, I agree one should only need a single backspace and I marked this as a bug.

[2021-05-30 15:32] #5338 closed

[2021-05-31 12:24] lokmanm commented on #5308
I am having the same issue

[2021-05-31 20:24] chriskirknielsen commented on #4416
Took some of my time off to look into this again. The source code has of course changed since my Gist was posted, so I had to juggle around more, as it seems the accessing of files is not as straightforward as I initially thought.

Fork is here — definitely not there yet but I think I got it at a good starting point: https://github.com/chriskirknielsen/netlify-cms/tree/feature/i18n-locale-root

#

[2021-06-01 09:34] erezrokah commented on #4416
Thanks for digging into this @chriskirknielsen, based on the up votes is seems like a valid use case.

It only removes it from the collection if you don't configure it at the root level.

The logic for handling `i18n` should not be implemented per backend (mostly) as those are designed to only handle file operations. `i18n` logic is common to all backends, hence most of it is in `backend.ts`

Most

[2021-06-01 15:36] pmpinto opened #5466 "Display author of the changes in the Workflow tab"
**Is your feature request related to a problem? Please describe.**
Say you're working on the same file as a team mate of yours. You both have pending changes on that file. Both changes appear under the Workflow.
How do you know which one is yours?
You would need to click and search for your changes to make sure.

**Describe the solution you'd like**
A small line like `{avatar} {name}` or really ju

[2021-06-01 16:44] cleeyv commented on #4416
I have also been working on this problem, in order to make netlify-cms i18n compatible with the multilingual structure of the wowchemy theme for hugo: https://github.com/wowchemy/wowchemy-hugo-modules/issues/2223

I worked on it with a friend who is a javascript dev (@elhil) and the resulting branch is here: https://github.com/cleeyv/netlify-cms/tree/wowchemy-i18n with two commits so far. The firs

[2021-06-01 16:59] himanshu007-creator commented on #5466
Hi! i would like to work on this issue

[2021-06-01 17:15] himanshu007-creator commented on #5466
I would need some help, as i am new here, Please guide me for what needs to be be done and where. This will make it easier for me to contribute next  time😄

[2021-06-01 17:34] erezrokah commented on #5466
Hi @himanshu007-creator, thank you for looking into this.
The code for rendering the workflow card is here:
https://github.com/netlify/netlify-cms/blob/444f30689b366f2479a0039414a314a809b2b980/packages/netlify-cms-core/src/components/Workflow/WorkflowCard.js

You'll need to propagate that information from each backend, for example from here:
https://github.com/netlify/netlify-cms/blob/444f30689b36

[2021-06-02 07:10] meehawk commented on #5446
@erezrokah I am new here and have been using Netlify CMS for my personal blog and absolutely love it. I would like to contribute to it and give back to the community. Any directions on what would be a good place to start in order for me to work on this issue?

[2021-06-02 07:13] meehawk commented on #5444
Hi @erezrokah this looks like a good first issue to work on. I am new here. Any pointers on what would be a good place to start?

[2021-06-02 08:00] danielmoessner opened #5467 "Question: Can I block .bmp images from being selected?"
I've got the problem, that my client selects bmp images which breaks the gatsby build process. Is there a way to disable the selection of .bmp images?

[2021-06-02 13:36] jlvdh opened #5468 "Error: Minified React error #130; visit https://reactjs.org/docs/error-decoder.html?invariant=130..."
**Describe the bug**

When I click any collection except pages I get an error `Error: Minified React error #130; visit https://reactjs.org/docs/error-decoder.html?invariant=130&args[]=undefined&args[]= for the full message or use the non-minified dev environment for full errors and additional helpful warnings.`

**To Reproduce**

- open /admin
- click on any collection (except pages)
- click any i

[2021-06-02 14:15] erezrokah commented on #5444
Thanks @meehawk, the code that decides on the media folder path in the front matter is here:
https://github.com/netlify/netlify-cms/blob/444f30689b366f2479a0039414a314a809b2b980/packages/netlify-cms-core/src/reducers/entries.ts#L780

[2021-06-02 14:17] erezrokah commented on #5446
Hi @meehawk, the markdown code is a bit more involved, but it is here:
https://github.com/netlify/netlify-cms/blob/master/packages/netlify-cms-widget-markdown/src/MarkdownControl/VisualEditor.js

[2021-06-02 20:48] markjohnson4 opened #5469 "Ability to reorder items in a collection"
It would be nice to be able to drag/drop collection items in order to re-order them.  I imagine defining somewhere the meta field name that relates to a collection item's order (for Hugo the field name is "weight").  And then that field would get updated for all items in a collection whenever an item is dragged/dropped somewhere on the CMS side.

Thanks in advance for considering this!

[2021-06-02 20:53] erezrokah commented on #5469
Hi @markjohnson4, closing this as a duplicate of https://github.com/netlify/netlify-cms/issues/475.

Please comment if you feel your use case is different.

[2021-06-02 20:53] #5469 closed

[2021-06-02 22:42] jscr93 commented on #5111
Hi @erezrokah , I'm new to Gatbsy/NetlifyCMS and I'm seeing the same issue described in the original comment:
[code]

For reference, I was following this tutorial:
https://www.netlifycms.org/docs/gatsby/

[2021-06-03 00:16] jasikpark commented on #4895
I am currently getting the same error of "Sent invalid data to remark":
`Sent invalid data to remark. Plugin: twitter. Value: {{< twitter 1034811356611051520 >}}. Data: {"tid":"1034811356611051520"} 2 remarkShortcodes.js:53:16`

[2021-06-03 11:24] bytrangle commented on #3474
@erezrokah Okay, let me tackle this one 🏄🏽.

[2021-06-03 15:14] meehawk commented on #5444
@erezrokah thank you so much. I'll try to work on this issue over the weekend

[2021-06-03 21:06] haroldao commented on #1401
🥺

[2021-06-04 02:16] chriskirknielsen commented on #4416
Thank you both so much for your input on this!

@erezrokah I have updated my branch and I _think_ it works, aside from the listing of files. But if I create a new post and save it, the window object `repoFiles` adds the file I created in both the default locale and my added one (`fr`) — promising! Just seems like I need to figure out how to make it work with `list(all)Entries` to pull in the defau

[2021-06-04 03:16] jasikpark commented on #5263
Maybe you can make a custom widget? Wouldn't that be a map essentially?

[2021-06-04 06:56] jlvdh commented on #5468
Turned out the error was caused by a package called netlify-cms-widget-uuid-v4

I switched it out for @ncwidgets/id and it's working perfect again.

[2021-06-04 10:30] codeitlikemiley commented on #4580
my edge usecase is using netlify cms offline, and i would like to add button, that when user click under the hood it will do a git commit , if not commited then git push...

[2021-06-04 17:08] FSaldanha commented on #4419
@blairanderson Your ideia was really good so I tried to implement it. Check the package `netlify-cms-widget-richtext` at npm. In the final version I used `react-rte`, but there is a branch on [repo](https://github.com/FSaldanha/netlify-cms-widget-richtext) in which I used `react-draft-wysiywg`. (Related: #4062)

[2021-06-04 20:58] jasikpark opened #5470 "When reloading the page, it fails to load the backup"
https://user-images.githubusercontent.com/10626596/120861558-1aefaa00-c54d-11eb-99c2-92166ca84b30.mov

**Describe the bug**

When reloading a page that I have edited, it offers to load the backup of text that I hadn't saved yet, and then immediately replaces that text with the text that is saved.

**To Reproduce**

1. Open a post
2. add some new text to the body
3. reload the page
4. select "load

[2021-06-04 21:03] jasikpark commented on #5470
It seems like this could be connected to the fact that setting `path: "{{slug}}/index` renders preview URLs as `/{{slug}}-index`, since it seems to be naively escaped?

[2021-06-05 13:15] vnourdin opened #5471 "[translation] "Add" buttons, in list widgets, are not translatables"
**Describe the bug**
The "Add" button, allowing to add a new item in a list object, have a hard-coded text, so it's not possible to translate.

**Expected behavior**
Allow translation of the button.

**Screenshots**
I am using the French translation, but the button is in English :
![image](https://user-images.githubusercontent.com/11643685/120892928-cada1b80-c610-11eb-82a0-5253b89253e4.png)

[2021-06-05 13:21] vnourdin commented on #5471
This button is defined in `packages/netlify-cms-ui-default/src/ObjectWidgetTopBar.js`, but `t` isn't accessible from there.
If I understand well, I should add it in the `ObjectWidgetTopBar` class' propTypes, but if I do so, I must also pass `t` wherever a `ObjectWidgetTopBar` is instantiated in the code, right?

I've spot two places: `packages/netlify-cms-widget-list/src/ListControl.js` and `packa

[2021-06-05 14:18] vnourdin commented on #5471
I see another hard-coded value, when a list item have no `name` value, it shows "No name".
The "No " is hard-coded in `packages/netlify-cms-widget-list/src/ListControl.js` l.428, so a fix could be included in the fix for "Add" buttons, but I don't understand why it is "No name" instead of "No nom", as my field `name` as `nom` for label...

[2021-06-05 16:10] vnourdin commented on #3712
Hello @erezrokah :wave:

If I read well your last message, it seems possible to use a template in the `value_field` of a relation widget, but I can't achieve to make it work.

My need is the same that this issue: I have a file collection with fields `a` and `b` (in a list) and I want to reference them from a relation widget, but it says "No options" if I use a template string.
[code]
With the foll

[2021-06-05 22:12] chriskirknielsen commented on #4416
Hi, me again! The updated code is available here:
https://github.com/netlify/netlify-cms/compare/master...chriskirknielsen:feature/i18n-locale-root

Thanks to @cleeyv's code I was able to [simplify things](https://github.com/netlify/netlify-cms/commit/678ce0c9496afaab7b4035831f04ff293b36b23e)!

@erezrokah I did make a change in [my latest commit](https://github.com/netlify/netlify-cms/commit/388ca

[2021-06-05 23:55] tomknappramos commented on #5423
Turns out it was just a problem with GitLab's recent credit card validation system that just so happened to start right when I created the other project in Netlify.

Reply from GitLab support:

Known issue link: https://gitlab.com/gitlab-org/gitlab/-/issues/331959

Good news is that there is a setting in GitLab to prevent it from happening!

[2021-06-06 08:39] JWesorick opened #5472 ""API_ERROR: Unknown error" when using `npx netlify-cms-proxy-server`"
**Describe the bug**

When using netlify local backend, and navigating to edit pages, it fails with `API_ERROR: Unknown error". (On just viewing the edit page, not on save.)

**To Reproduce**

1. `npx netlify-cms-proxy-server`
2. `gatsby develop`
3. Go to `/admin`.
4. Click on a page to edit, in my case "Teachings", click on a teaching.

**Expected behavior**

Expect to be able to edit pages.

**S

[2021-06-06 11:04] #5468 closed

[2021-06-06 11:32] erezrokah commented on #5471
Hi @vnourdin, thank you for opening the issue.
Propagating the `t` is the way to go 👍

Not sure, maybe share the `config.yml` that reproduces this?

[2021-06-06 11:35] erezrokah commented on #5423
Thanks for reporting back @tomknappramos, closing the issue. Please comment if you have any other issues.

[2021-06-06 11:35] #5423 closed

[2021-06-06 12:00] #5387 closed

[2021-06-06 12:00] #5390 closed

[2021-06-06 12:01] erezrokah commented on #5409
Closing as missing information

[2021-06-06 12:01] #5409 closed

[2021-06-06 12:01] erezrokah commented on #5410
Closing as missing information

[2021-06-06 12:01] #5410 closed

[2021-06-06 12:01] erezrokah commented on #5420
Closing as missing information

[2021-06-06 12:01] #5420 closed

[2021-06-06 12:09] erezrokah commented on #3712
Hi @vnourdin, this seems like a bug/something we missed when implementing the wildcard access pattern via `*`.

I suggest opening a new issue so we can look into it.

A better way to approach it is to create a uniquely identified field in `mylist` and use that as a reference for simplification.
If you need the reference field to be dependent on `a` and `b` maybe create a custom widget for it?

[2021-06-06 13:15] esculturajerome commented on #2845
This is a must have feature. Any updates on this?

[2021-06-06 13:25] erezrokah commented on #2845
Hi @esculturajerome, the CMS is a community driven project so the best way to move this forward is via a [contribution](https://github.com/netlify/netlify-cms/blob/master/CONTRIBUTING.md).

[2021-06-07 07:08] vnourdin commented on #3712
I open a new issue then.

I did that with the `preSave` event as a workaround, but it's probably a better approach indeed.

[2021-06-07 07:22] vnourdin opened #5487 "Cannot use template string with wildcard as value_field for relation widget"
**Describe the bug**
When using a template string that contains a `*` wildcard (to access every item of a list) as `value_field` of a relation widget, the widget says "No options".

**To Reproduce**
1. Create a list widget, with fields `a` and `b`, and populate it
2. Create a relation widget that points to the previous list
3. Set `value_field` to `'mylist.*.a'`
4. It works
5. Set `value_field` to

[2021-06-07 07:25] vnourdin commented on #5487
Initial discussion in https://github.com/netlify/netlify-cms/issues/3712#issuecomment-855261013, generating the field in the list collection with [`preSave` event](https://www.netlifycms.org/docs/beta-features/#registering-to-cms-events) is a workaround.

[2021-06-07 14:14] vnourdin commented on #5471
Here is my test config:
[code]
It gives that result
![cms_text](https://user-images.githubusercontent.com/11643685/121031528-b598f480-c7aa-11eb-9151-c31723547fcf.gif)

I see two problems:
* When a list contains only one item, it displays `1 an item` if you defined a `label_singular`
* When the `name` field is empty, it displays "No name" instead of using the label, "No thing" in my case

There is

[2021-06-08 09:33] sidag95 commented on #1691
@erezrokah Do we support `it should be possible for two edits of the same file to occur` at the moment? From the code I have seen, there is only a single entryDraft object at a time in the state. Nor have I seen anything in the UI that suggests that there can be two edits at the same time. This will actually be a great feature to have as there are times when a small content fix needs to go out whi

[2021-06-08 09:40] erezrokah commented on #1691
Hi @sidag95, I think by `two edits of the same` we mean two different CMS users editing the same file at the same time, then hitting `save`. I believe when that happens the latest save will override the former.

[2021-06-08 12:16] sidag95 commented on #1691
Right, got it. And as I understand, we do not have any plans to allow two different drafts for the same file simultaneously, right? I guess this feature will also depend on figuring out how to allow merge conflict to be resolved from the UI.

[2021-06-08 12:44] erezrokah commented on #1691
I think having two different drafts for the same file is one way of handling merge conflicts - e.g. the CMS detects a different user has an existing draft, suggests the current user to create a new draft or work on the current one.

Then at some point those will need to be merged like you said.

[2021-06-08 13:50] sidag95 commented on #1691
Yes makes sense, maybe I can give this a shot once I am able to complete my work on the other PR 😅

This feature is really great for teams where multiple users are responsible for different pieces of content in the same file.

[2021-06-08 14:41] liminalfun commented on #5280
Figured out a workaround for my last comment! Wanted to give an update in case any other devs with the same issue find this thread.

I got my pages to route to `example.com/{{ locale }}/about` in Hugo –– but it required some particular steps.

1. In your `config.yml` file, create a folder collection for each individual page (rather than files within a page collection). Use `create: true`, just to

[2021-06-08 17:47] bmackinney opened #5489 "Map/Dictionary Widget"
https://answers.netlify.com/t/map-dictionary-fields/5241 has problem faced and solution found.

I'm making a files collection for hugo configuration files, and to edit the taxonomies field requires users to be able to define keys and values, resulting in something like:
[code]
I originally thought the code widget would work, but it outputs only strings.

[2021-06-09 02:24] jasikpark commented on #4601
I would appreciate this option as well, since currently my "Lint" GitHub action which runs prettier --check on the commits fails for every netlify cms edited post, and I need to manually run prettier over the markdown once it's merged into `main`

[2021-06-09 10:28] erezrokah commented on #5489
Hi @bmackinney, thanks for sharing your use case. It does seem useful to have a dictionary widget.
We would happily accept a PR for it, if someone is up for it.

[2021-06-09 15:57] nolafs commented on #4092
Hi,

My issue is that if I use the following configuration for slug

slug: "{{speciality}}/{{proceduresCategories}}/{{procedure}}"

It creates the correct folders and filename but the CMS front-end is unable to read the collection content. Content is created but you cannot go back to edit the content as it not listed. Using the path configuration like

path: "{{speciality}}/{{proceduresCategories}

[2021-06-09 23:26] bmackinney commented on #5489
@erezrokah I'm up for it - it also looks like much of the work has already been done, by Pablo. My approach to this PR would be to:

- [ ] rename "Ingredients" to "Dictionaries" in his widget,
- [ ] package it according to the instructions at https://www.netlifycms.org/docs/custom-widgets/#writing-custom-widgets-as-a-separate-package, and
- [ ] add the package to `/packages`.

Am I missing anythin

[2021-06-10 09:22] erezrokah commented on #5489
Hi @bmackinney, thanks for looking into this. You approach seems 💯

However, I think might be better to clone an existing widget package instead of [following this guide](https://www.netlifycms.org/docs/custom-widgets/#writing-custom-widgets-as-a-separate-package), as we already have the build step configured, etc.

Other than that, maybe adding some tests for the new widget?

[2021-06-10 14:59] mpigsley commented on #4252
Had a team member run into this in an error popup today trying to submit a change. Logging out of the admin portal and then back in solved it. Doesn't seem to be the exact same situation but the same error.

[2021-06-10 15:40] bmackinney opened #5491 "Slugs do not preserve capitalization"
**Description**
Creating entries, there are situations where I want the filename to be camelCased. I cannot achieve this without manually creating the files.

**To Reproduce**
1. Create a folder collection entry with a title or other identifier_field that is written in camelCase.

**Expected behavior**
The filename to be camelCase/preserve capitalization

**Screenshots**
![image](https://user-imag

[2021-06-10 16:47] erezrokah commented on #5491
Hi @bmackinney, this is actually the intended behavior:
https://github.com/netlify/netlify-cms/blob/2d4cb37d639088fe948f939bc232839786caa41a/packages/netlify-cms-core/src/lib/formatters.ts#L92

I think this is covered by https://github.com/netlify/netlify-cms/issues/445, so I'm closing the issue.

I recommend adding your use case to that issue (please state the reason you require camelCased files)

[2021-06-10 16:47] #5491 closed

[2021-06-11 08:32] igorradovanov commented on #4737
Any updates on this issue? This seems to occur on both the latest versions of Netlify CMS and Grammarly.

[2021-06-12 20:51] chromjs opened #5493 "Use i18n translated fields in slug template tags"
**Context**
- i18n support:
  - https://www.netlifycms.org/docs/beta-features/#i18n-support
- Slug template tags
  - https://www.netlifycms.org/docs/configuration-options/#slug

**Is your feature request related to a problem? Please describe.**
I'm not able to define a translated slug for each language using the i18n beta feature, the template tag uses the default language for all of them.

**Desc

[2021-06-13 09:22] erezrokah commented on #4737
Hi @igorradovanov, the best way to move this forward is to submit a contribution for it.

[2021-06-13 10:21] erezrokah commented on #5437
That would be great @alexgerdisch, see also https://github.com/netlify/netlify-cms/blob/master/CONTRIBUTING.md

[2021-06-13 17:59] igorradovanov commented on #4737
@erezrokah There is an [NPM package](https://www.npmjs.com/package/@grammarly/react-slate) that brings the Grammarly Experience to the Slate editor that Netlify CMS is using. Would this be a sufficient solution? If yes, I can make a PR.

[2021-06-14 07:14] bradystroud opened #5501 "Config option to disable search"
**Is your feature request related to a problem? Please describe.**
The search functionality does not work for our content. It hits the GitHub API limit after 2 searches. see https://answers.netlify.com/t/cms-search-hitting-github-api-limit/39124

**Describe the solution you'd like**
1. A configuration option to disable search entirely so our users don't hit the API limit
     This should be pretty

[2021-06-14 23:46] luciajeon opened #5502 "TypeError: e.join is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.139`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.77 Safari/537.36`

**CMS configuration**
[code]

[2021-06-15 01:43] christiannoriel opened #5503 "TypeError: Cannot read property 'map' of undefined"
a

[2021-06-15 03:04] bradystroud commented on #5501
Hi @erezrokah,
Currently, the search queries every item in the collection. Why can't it just use the search endpoint?https://docs.github.com/en/rest/reference/search#search-code

[2021-06-15 05:48] christiannoriel opened #5504 "TypeError: e.get is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.12`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.101 Safari/537.36`

**CMS configuration**
[code]

[2021-06-15 05:57] #5504 closed

[2021-06-15 05:59] #5503 closed

[2021-06-15 09:35] erezrokah commented on #5502
Hi @luciajeon, can you provide the missing information from the [issue template](https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title)?

[2021-06-15 09:45] erezrokah commented on #5501
Hi @bradystroud, that's a very good point.
The search in the CMS works a bit different - it reads the files, deserializes the content (e.g. parses the markdown/json/yaml/toml files) into the CMS collections representation (based on the configuration) and search in specific fields:
https://github.com/netlify/netlify-cms/blob/bac132e7f6699fb8c3287c3becb2cc66f09d36a3/packages/netlify-cms-core/src/bac

[2021-06-15 16:13] qb-rivkyb opened #5506 "TypeError: e.join is not a function"
**Describe the bug**
Log in as admin and open a collection to edit it
**To Reproduce**
This error showed up, don't know what I did wrong
**Expected behavior**
This should not be happening, it was working fine until now
some collections I am able to edit but one specific one is not working
**Screenshots**
![image](https://user-images.githubusercontent.com/75636699/122087717-0627d780-cdd3-11eb-9717-

[2021-06-15 16:26] qb-rivkyb commented on #5506
Seems like the error is happening when I don't reload the page and I am just clicking the back button to get to my collections and then I open a new collection to edit and the error shows up. Does this make sense at all?

[2021-06-15 16:26] erezrokah commented on #5506
Hi @qb-rivkyb, as we don't have access to your instance of the CMS can you provide a step by step guide we can follow to reproduce your issue? If possible please share a public repo reproducing it.

[2021-06-15 16:27] qb-rivkyb commented on #5506
When I don't reload between editing collections and just use the back button, I get this error.

[2021-06-15 16:45] qb-rivkyb commented on #5506
I am finding something common between the items that get this error. They all have a certain attribute/collection that they belong to. I don't know why though I would be getting that error. I noticed each of them have some text that contains `™`.
Anyway this can be researched why it's breaking all of a sudden?

[2021-06-15 16:57] erezrokah commented on #5506
Can you share the full `config.yml` per our [issue template](https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title) and also share a reproduction scenario we can follow?

This usually happens when the markdown files don't match the structure defined in the CMS config, but can also come from cus

[2021-06-15 17:05] qb-rivkyb commented on #5506
I'm afraid I cannot share my config. I will see if I don't have matching structure there. Its just confusing since it does work sometimes and I am working with the same structure.

[2021-06-15 17:08] erezrokah commented on #5506
My recommendation is to remove collection by collection until you find the one that is causing the issue.
Then add the collection and repeat for each field in that collection.

[2021-06-15 19:43] qb-rivkyb commented on #5506
I think I see that the issue was that the structure was different in my json files than the config. I used to have it as a number and now I would like it to be a list. How would I update it now in the CMS If I cannot access my data since I get the error?

[2021-06-16 00:25] anagio opened #5507 "Increase sign in token expiration or make variable"
Logins to the CMS expire in an hour, it would be great if we can customize the tokens expiration with `JWT_EXP` or similar

[2021-06-16 09:27] erezrokah commented on #5506
Hi @qb-rivkyb, you can always access you data directly in the git repo.

You can use the [local dev](https://www.netlifycms.org/docs/beta-features/#working-with-a-local-git-repository) flow to iterate on your changes.

[2021-06-16 09:29] erezrokah commented on #5507
Hi @anagio, can you please follow the [feature request template](https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+feature&template=feature_request.md&title=Please+replace+with+a+clear+and+descriptive+title).

Without it it's hard to understand the context of your request.

[2021-06-16 09:39] erezrokah commented on #5501
More context,
You should be able to access the config state here:
https://github.com/netlify/netlify-cms/blob/bac132e7f6699fb8c3287c3becb2cc66f09d36a3/packages/netlify-cms-core/src/components/Collection/Collection.js#L151

then pass it to the `Sidebar` component as a prop here:
https://github.com/netlify/netlify-cms/blob/bac132e7f6699fb8c3287c3becb2cc66f09d36a3/packages/netlify-cms-core/src/compon

[2021-06-16 13:23] qb-rivkyb commented on #5506
If I change the data directly from my code will it show on the CMS when the content managers enter the data?

[2021-06-16 13:27] erezrokah commented on #5506
Yes, the CMS loads the data directly from the git repo. If you change it locally you'll have to commit and push it.

[2021-06-16 13:33] qb-rivkyb commented on #5506
ok 👍 . I think I'm good for now. Thanks for your help.

[2021-06-16 13:33] #5506 closed

[2021-06-16 13:57] miguelt1 commented on #4528
I got the same error

[2021-06-16 14:01] erezrokah commented on #4528
Hi @miguelt1, can you provide a reproduction scenario?

[2021-06-17 11:08] stefanprobst commented on #5444
i've run into something similar and tried to investigate a bit.

i think there are a couple of issues with `{{slug}}` in a collection's `media_folder` and/or `public_folder`:

[`folderFormatter`](https://github.com/netlify/netlify-cms/blob/bac132e7f6699fb8c3287c3becb2cc66f09d36a3/packages/netlify-cms-core/src/lib/formatters.ts#L255) passes the current value of the `title`/`identifier_name` field t

[2021-06-17 19:17] duongxuantuan opened #5510 "Please replace with a clear and descriptive title"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-06-18 00:01] duongxuantuan opened #5511 "Please replace with a clear and descriptive title"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: [e.g. GitHub, BitBucket]
 - OS: [e.g. Windows 7]
 - Browser version [e.g. chrome 22, safari 11]

 - Node.JS version:

**CMS configuration**

**Additional context**

[2021-06-18 00:02] duongxuantuan opened #5512 "Sua loi"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: [e.g. GitHub, BitBucket]
 - OS: [e.g. Windows 7]
 - Browser version [e.g. chrome 22, safari 11]

 - Node.JS version:

**CMS configuration**

**Additional context**

[2021-06-18 05:09] bradystroud commented on #5501
Hey @erezrokah,

Please review https://github.com/netlify/netlify-cms/pull/5509

Thanks :)

[2021-06-18 06:50] stefanprobst opened #5513 "Clarify allowed properties for editor component fields"
**Is your feature request related to a problem? Please describe.**

According to the [`EditorComponentField`](https://github.com/netlify/netlify-cms/blob/bac132e7f6699fb8c3287c3becb2cc66f09d36a3/packages/netlify-cms-core/index.d.ts#L415) type, only `name`, `label` and `widget` are allowed as editor component field properties, which compared to regular [`CmsField`](https://github.com/netlify/netlif

[2021-06-18 07:39] stefanprobst opened #5514 "Focus issues with editor component using markdown widget"
**Describe the bug**

I am trying to use the `markdown` widget in an editor component. Clicking inside the markdown widget should focus it and allow text entry. However, when the widget is in richtext mode, it loses focus immediately.

**To Reproduce**

1. clone [this repo](https://github.com/stefanprobst/issue-netlifycms-focus)
2. `yarn && yarn start`
3. on `localhost:5000` click "New post" and a

[2021-06-18 12:15] stefanprobst commented on #5514
observations:

- it seems to be an issue only when clicking on the `InsertionPoint` area (which calls `ForceInsert#moveToEndOfDocument` - when clicking the small actual slate area it seems to work

[2021-06-19 21:28] MirkoLenz opened #5515 "List Widget Variable Types: Add Type as Heading when item is expanded"
**Is your feature request related to a problem? Please describe.**

I make use of the variable lists feature to enable block-based content editing for my clients. A major issue for me is that the CMS does not show the editor the type of the widgets. Using a summary is only a partial solution, because it gets hidden if the object is expanded.

**Describe the solution you'd like**

I also experiment

[2021-06-20 19:07] stefanprobst opened #5516 "markdown widget should avoid serializing links as autolinks for mdx compatibility"
**Describe the bug**

The markdown widget currently defaults to serializing links as autolinks if possible, i.e. `[https://example.com](https://example.com)` will be serialized as `<https://example.com>`. This is the default behavior of `remark-stringify` (and an option to change this behavior only exists in newer versions of `remark-stringify`).

Unfortunately, autolinks are [not compatible with

[2021-06-20 22:09] aileenpalafox commented on #5437
Hello @erezrokah @reddypramod85 , I'm having trouble reproducing the issue but I don't know who else to ask.
I can connect to cloudinary by modifying the config.yml, but when trying to set the manual initialization and defining the user actions I don't know where to do it (config, index, another file ?).
I checked the PR by reddypramod but since I'm using the dev-test server it's kind of different

[2021-06-21 07:38] himanshu007-creator commented on #5466
hi @erezrokah! sorry i was on vacations. I am unable to understand the changes. Can you pinpoitn the chanegs needed.
P.S ( i will be better prepared for next time)

[2021-06-22 04:46] cyono opened #5525 "Images with media_folder prop do not appear on the cms"
I have split my images into folders using the media_folder property on any image widget in the config.yml, for example:
[code]

The markdown file for the above widget contains this line:

[code]

This has been greatly beneficial to the project. However, when trying to change the image from the admin panel, no assets are found. The images are successfully queried and rendered on deploys.

Any new a

[2021-06-22 11:29] erezrokah commented on #5437
Thanks @aileenpalafox, @reddypramod85 can you provide some guidance on how to reproduce the issue?

[2021-06-22 12:31] erezrokah commented on #5466
Hi @himanshu007-creator, the end result should be adding the post author in workflow tab:
![image](https://user-images.githubusercontent.com/26760571/122924659-adc27e00-d36e-11eb-937c-60257550fb13.png)

to each post as seen in the issue description.

The UI code to change is here https://github.com/netlify/netlify-cms/blob/444f30689b366f2479a0039414a314a809b2b980/packages/netlify-cms-core/src/comp

[2021-06-22 12:49] erezrokah commented on #5525
Hi @cyono, per the [docs](https://www.netlifycms.org/docs/widgets/#image), field level `media_folder` are relative to the collection folder.
If you'd like to save images in the global `media_folder` you should do something like:
[code]

Can you try that?

[2021-06-22 12:50] erezrokah commented on #5525
Also see https://github.com/netlify/netlify-cms/issues/3671

[2021-06-22 14:29] erezrokah commented on #5515
If anyone would like to pick this up the place to start is here:
https://github.com/netlify/netlify-cms/blob/879e03b6f16feb23b49ba4248f2ad1eb3da4d259/packages/netlify-cms-widget-list/src/ListControl.js#L501

[2021-06-22 14:32] erezrokah commented on #5516
Hi @stefanprobst, how about tying this into https://github.com/netlify/netlify-cms/issues/4601?

We could provide a way to dynamically register plugins so this would be opt-in.

[2021-06-22 14:46] stefanprobst commented on #5516
sure, making all this configurable sounds :+1:

two potential issues: (i) netlifycms uses a pretty old version of remark and current plugins may or may not be compatible with it, (ii) i'm not sure about the manual slate-ast<=>mdast transformations the md widget does, and how well these play with random plugins (a plugin in remark can be a plugin to the parser, the compiler or a transformer plugin)

[2021-06-22 14:55] erezrokah commented on #5516
Great points - I think we can classify this feature as beta/experimental (to set some expectations) as it's mostly will be used to unblock specific use cases.

[2021-06-22 18:22] cyono commented on #5525
Thank you for the insight @erezrokah! Sadly, passing the media and public folder doesn't seem to have an impact on the cms media pop-up.

Since I am using a relative query in the first place the media_folder isn't as important to this problem, I don't think.

Specifying public_folder specification doesn't seem to help either, though. When I remove the public_folder prop, all of the images are plac

[2021-06-22 20:32] bmackinney commented on #341
I used [theNewDynamic/hugo-module-tnd-netlifycms](https://github.com/theNewDynamic/hugo-module-tnd-netlifycms) to create a CMS generator using Hugo. Check it out at [basa-casa/hugo-module-bc-nc-admin](https://github.com/basa-casa/hugo-module-bc-nc-admin), with a preview available at https://netlify-cms-generator.netlify.app/nc-admin/#/

[2021-06-23 16:22] Jwiggiff commented on #1032
Has there been any update on this? I'd really love to be able to upload multiple files in the media library.

[2021-06-23 16:35] erezrokah commented on #1032
Hi @Jwiggiff, a possible solution is described in https://github.com/netlify/netlify-cms/issues/4965 so we would happy to receive a contribution for it.

[2021-06-23 17:35] aileenpalafox commented on #5437
Hello, again @erezrokah
I'm going to drop off from this issue for now, in case someone else is interested they can give it a go.
If there's a future response about how to reproduce the bug I'm open to try it again. :)

[2021-06-24 06:26] bradystroud opened #5526 "Open authoring option should be available to all users"
**Is your feature request related to a problem? Please describe.**
Currently, the editorial workflow for users with write access does not work how we would like it to for PR workflows with protected branches and reviewers. When users are editing an entry, it is unclear what changing the save button, status dropdown and publish buttons actually do and when they should be used.

See SSWConsulting/SS

[2021-06-24 07:31] nolafs commented on #4365
Yeah, I started new project and the issue has returned. This time, refreshing the cache only is not working at all.

[code]

[2021-06-24 09:09] erezrokah commented on #4365
A good way to debug this issue is to open the browser console and look at the network tab.
It should have the request that fails, and in the payload we should be able to see the malformed path.

[2021-06-24 09:20] nolafs commented on #4365
The path seems too look correct to me.

:path: /.netlify/git/github/git/trees/master:content%2Fprocedures%2Fspine%2F%2Fcomplex

[2021-06-24 09:24] erezrokah commented on #5526
Hi @bradystroud, I'm having a hard time understand this feature request and the use case it is trying to solve.
Can you follow the [template](https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+feature&template=feature_request.md&title=Please+replace+with+a+clear+and+descriptive+title)?

Is [this](https://github.com/netlify/netlify-cms/pull/5204) what you want?

[2021-06-24 09:40] erezrokah commented on #4365
Hi @nolafs, you should examine the POST data of the request. There should be a tree object with the file path structure

[2021-06-24 11:37] nolafs commented on #4365
Good spot, I must make them required but this does not seem to be the issue. I already checked that.

[2021-06-24 11:46] nolafs commented on #4365
I believe I is this part

[code]

In order to have the following folder structure:

- speciality -|
     - proceduresCategories -|
                 - slug

I had to add proceduresCategories to the slug or it just places it outside of the folder or I can see them in netlify cms backend.

[2021-06-24 11:53] nolafs commented on #4365
Ok, I believe there is an issue with using relation widget of proceduresCategories. It has to select the category from a list. The strange behaviour through as if you use the same field in slug, it works but the path does not pick it up.

[2021-06-24 14:47] erezrokah commented on #5525
`public_folder` only impacts how paths are written in the markdown file, and not the location of files on in the repo, so that makes sense.

Can you clarify what you mean by `admin panel`? I feel like I'm missing something here.

Please note that the global media folder (when you open it not from the editor widgets) doesn't list nested directories.

With that said, can you describe the repo struct

[2021-06-24 23:34] cyono commented on #5525
In short, I was trying to view nested directories in the global media folder.

Everything in the issue was an attempt to get that result, so if that isn't possible this issue becomes more of a feature request than anything. If that's not a feasible feature request, then I need to rewrite how the site handles images.

Re: "admin panel", I was calling the CMS the admin panel because that's the way m

[2021-06-25 10:28] brainafesoh commented on #2183
Hi guys, could anyone please provide a sample implementation using https://github.com/akxcv/vuera?

[2021-06-25 10:28] brainafesoh commented on #2183
Hi guys, could anyone please provide a sample implementation using https://github.com/akxcv/vuera?

[2021-06-25 16:01] patagoniapy commented on #5381
Also having this same issue, for reference.

[2021-06-25 20:47] patagoniapy commented on #4965
Allowing the ability to add multiple images at once would really help supercharge the ability to build shippable products on Netlify CMS, as currently I am more reluctant to provide a client with a product that only allows them to add images one by one.

[2021-06-26 06:58] ViktorYermak commented on #5411
Safari does not support **:: before** **:: after**. This is the cause of this issue.

[2021-06-26 10:38] Pageboy commented on #5411
So I put
`*:before,
*:after {
  display: none;
}`
in my responsive css and that seems to fix it. Did it break anything else?

[2021-06-26 16:05] yousafblogger opened #5530 "Redirect Subdomain to Domain After Connecting"
That's a big issue that if we attach a custom domain with our netlify account then the sub domain given by netlify.app doesn't redirect to the domain.

This hurt SEO factors and resulted duplicate content. Like my website is [try10.com](https://try10.com), but it's subdomain try10.netlify.app doesn't redirected to my main primary domain.

I discoved it when my website's ranking were decreased and

[2021-06-26 16:51] ViktorYermak commented on #5411
No, everything else works as expected. It looks like the issue has been resolved.

[2021-06-26 17:35] sj-rai commented on #5515
@erezrokah I'd like to give this a try

[2021-06-27 01:02] #5525 closed

[2021-06-27 09:17] erezrokah commented on #4965
Hi @patagoniapy, agreed. It would be great to have this functionality if someone is willing to submit a PR for it.

[2021-06-27 09:27] erezrokah commented on #5530
Hi @yousafblogger, this repo is intended for Netlify **CMS** related issues.
I suggest you post your issue on https://answers.netlify.com/.

Please comment on the issue if you have any further questions.

[2021-06-27 09:27] #5530 closed

[2021-06-27 09:47] erezrokah commented on #5525
Thanks for clarifying, we have an ongoing PR https://github.com/netlify/netlify-cms/pull/4670 for showing nested directories in the media folder.

I still need to follow up on it as it's missing support for other backends (only supports GitHub) and also CI is failing for it.

[2021-06-27 11:55] madsem opened #5532 "Image widget "Insert From URL" should be optional"
The feature introduced here: https://github.com/netlify/netlify-cms/pull/4700/files
should be optional imho.

It's a great feature, but in some cases it encourages hotlinking haha.
I would prefer to be able to turn it off, just maybe like
[code]

[2021-06-27 12:02] erezrokah commented on #5532
Hi @madsem, great suggestion. It would make for a great first contribution.

The relevant code is here:
https://github.com/netlify/netlify-cms/blob/c353eb761e8cca6638f95f7a75473d0f641196c0/packages/netlify-cms-widget-file/src/withFileControl.js#L303
https://github.com/netlify/netlify-cms/blob/c353eb761e8cca6638f95f7a75473d0f641196c0/packages/netlify-cms-widget-file/src/withFileControl.js#L321

in

[2021-06-27 12:25] madsem commented on #5532
Thanks for pointing me in the right direction, I will have a looksy :)

[2021-06-27 15:53] madsem commented on #4416
actually this already works @chriskirknielsen .
I just started a new website on 11ty with multi lingual setup, the folders in my `_site` dir are setup according to Netlify CMS suggested folder setup for `multiple_folders`, ie:
`<collection>/<locale>/`

This way I can use the CMS, and then in the build step everything is saved according to the recommended folder structure for i18n setups with 11ty.

[2021-06-27 16:49] Edald123 commented on #5532
Hi! I would like to try this issue if no one is working on it yet. Is it possible?
If yes, is there more information I would need to start working on the issue? Thank you!

[2021-06-27 16:51] madsem commented on #5532
I have a huge work load already, so i would gladly give you the reigns :)

[2021-06-27 16:53] Edald123 commented on #5532
Great, I can take it and start working on it. :D

[2021-06-28 00:17] bradystroud commented on #5526
Hi @erezrokah,

I have updated the issue using the template provided and added some additional info.

No - This makes all users fork instead of branching. We want users with write access (or higher) to still be able to use branches, but see the UI that readonly users see.

Thanks,

-Brady

[2021-06-28 00:48] bradystroud commented on #5501
Done - The config option to disable search is now available.
https://www.netlifycms.org/docs/configuration-options/#search

I am leaving this issue open as further investigation is needed to see if it's possible to have search that doesn't make requests for every entry.
See https://github.com/netlify/netlify-cms/issues/5501#issuecomment-861354125 for details on a potential solution to this.

Thank

[2021-06-28 07:51] #5526 closed

[2021-06-28 09:08] miguelt1 opened #5543 "Error: Minified React error #130; visit https://reactjs.org/docs/error-decoder.html?invariant=130&args[]=undefined&args[]= for the full message or use the non-minified dev environment for full errors and additional helpful warnings."
**Describe the bug**
So I followed a tutorial to create a new custom widget for the cms but after I compile gives me an error when I access to the netlify cms like the title shows.
Here is the tutorial: https://dev.to/room_js/create-a-custom-widget-for-netlify-cms-4gl9

**To Reproduce**

1. Create a control widget
2. Create a preview widget
3. Register the widget
4. Add the field to the schema

**

[2021-06-28 09:34] erezrokah commented on #4965
Hi all 👋  I've made an attempt to add an external media library based on Uppy.

You can see the branch [here](https://github.com/netlify/netlify-cms/tree/feat/uppy) and the [deploy preview](https://feat-uppy--cms-demo.netlify.app/#/collections/posts).
Please note I tested that branch only with a local backend.

Unfortunately it doesn't look like Uppy is a good candidate yet. It's an amazing file u

[2021-06-28 09:34] #4965 closed

[2021-06-28 09:47] erezrokah commented on #5501
Do you mind opening a new issue for that? I'd rather keep things separate so it's easier to track and follow
Closing this issue as resolved.

[2021-06-28 09:47] #5501 closed

[2021-06-28 10:41] erezrokah commented on #5543
Hi @miguelt1, if you follow the error link you can see the error:
![image](https://user-images.githubusercontent.com/26760571/123623604-51e87100-d816-11eb-873f-2ea705413995.png)

It looks like the custom widget is trying to render an `undefined` value.

Can you share a public repo reproducing the issue? I believe this doesn't happen with every custom widget, so the reproduction scenario you shared

[2021-06-28 12:41] ros2-ship opened #5545 "IndexSizeError: The index is not in the allowed range."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.15.20`
 - Git provider: `github`
 - Browser version: `Mozilla/5.0 (iPhone; CPU iPhone OS 14_4 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/91.0.4472.80 Mobile/15E148 Safari/604.1`

**CMS configuration**
[code]

[2021-06-28 12:42] erezrokah commented on #5545
Hi @ros2-ship, can you share a reproduction of the issue? See https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title

[2021-06-28 13:30] madsem commented on #1480
Somehow this doesn't work, or I'm using it wrong.
I set min and max, but can add as many of `types` as I want to.

[code]

[2021-06-28 13:41] erezrokah commented on #1480
Hi @madsem, I suggest making sure you're running the latest CMS [version](https://www.npmjs.com/package/netlify-cms).

If that doesn't work, please open a new issue with a reproduction scenario.

[2021-06-28 14:06] madsem opened #5546 "Min Max options don't work for Variable Type lists"
When configuring a variable type list, like so:

[code]

The `min` `max` options don't do anything. I can still select as many of the `Listicle` or `Long Form` types as I want.

Expected behavior would be that after adding 1 total, of any of the two available types, I would receive an indication that I cannot add more.

This was introduced in PR #4394

I'm using manual initialization, there are no

[2021-06-28 15:55] ros2-ship opened #5547 "Please replace with a clear and descriptive title"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: [e.g. GitHub, BitBucket]
 - OS: [e.g. Windows 7]
 - Browser version [e.g. chrome 22, safari 11]

 - Node.JS version:

**CMS configuration**

**Additional context**

[2021-06-28 17:20] #5547 closed

[2021-06-28 23:15] Edald123 commented on #5532
Hi! I'm working on the issue and I would like to ask:
- What would be the expected behavior of this feature?
- What would be the way that you expect to activate and de-activate the widget?
Thank you!

[2021-06-29 00:41] bradystroud opened #5548 "UI - Put image from logo_url in the Header"
**Describe the solution you'd like**
The `logo_url` defined in the config.yml file should be added to the header.

**Describe alternatives you've considered**
None

**Additional context**

![Custom logo in the header](https://user-images.githubusercontent.com/38869720/123883052-744fcb00-d98b-11eb-82bc-a9855dde0836.png)
**Figure: Mockup of proposal to show logo in header**

[2021-06-29 00:57] bradystroud opened #5549 "Improved search - Make less API calls"
**Is your feature request related to a problem? Please describe.**
The search functionality does not work for our content. It hits the GitHub API limit after 2 searches and is very slow. see https://answers.netlify.com/t/cms-search-hitting-github-api-limit/39124

**Describe the solution you'd like**
A search that doesn't need to make a request for every item in the collection.
This should be possi

[2021-06-29 00:58] bradystroud commented on #5501
See #5549

[2021-06-29 06:05] madsem commented on #5532
Imho it should be activated by default, just as it is now, that way it's backwards compatible.

Accept an option to deactivate the url link, something like `from_url: false`.

And I personally would expect the behavior to be: Once you set from_url to false, the link to add from a url isn't shown anymore in the UI. So that a content manager can only upload images to media library or select an exist

[2021-06-29 11:37] naton commented on #2138
I second the question, is there any way around having to add `unsafe-*` stuff in the CSP?

[2021-06-29 12:10] madsem commented on #5546
I will close this, as it turns out it works as expected. This was user error :)
The thing is, that wasn't clear to me at the beginning, Netlify CMS will throw error messages when validation fails, but only when attempting to save.

I simply assumed it would be happening in realtime.

[2021-06-29 12:10] #5546 closed

[2021-06-29 14:14] beepy opened #5551 "Deleted Netlify Identity User Stays Logged In"
**Describe the bug**
A Netlify Identity user who is logged in stays logged in and able to make changes even after the user is deleted.

**To Reproduce**
1. On one computer/browser, create a user by going to your site using Netlify Identity & Netlify CMS
2. Confirm this new user is able to interact with the CMS and make changes
3. On another computer/browser, log in to the Netlify dashboard and del

[2021-06-29 14:57] erezrokah commented on #5551
Hi @beepy, I believe this is an [Identity](https://github.com/netlify/gotrue) issue and not a CMS issue.
Also related to https://github.com/netlify/netlify-identity-widget/issues/159.

The token is valid for 1 hour, so the user should error out after that time had expired.

I'm not sure if it's possible to configure that, you could ask in https://answers.netlify.com/.
Closing the issue, please com

[2021-06-29 14:57] #5551 closed

[2021-06-29 17:54] smashercosmo opened #5552 "Image widget default value isn't being preserved"
**Describe the bug**
According to image widgets [docs](https://www.netlifycms.org/docs/widgets/#image), widget's default value is `null`. But when I try to save a record without choosing any image, it just omits the property completely.

**To Reproduce**

1. Try to create a new record without selecting any image
2. Check that newly created json won't have `image` field at all

**Expected behavior*

[2021-06-29 18:18] Edald123 commented on #5532
Thank you! I'm going to be working on that!

[2021-06-29 18:32] smashercosmo commented on #5552
I've just realised that it's not a problem for my personal use case, so you think, that's it's not really an issue, feel free to close

[2021-06-29 18:53] Nrestrepo05 commented on #5514
Hey, I would like to work on this, but I couldn't reproduce it

[2021-06-29 18:58] Nrestrepo05 commented on #5548
Hey! I would like to work on this issue

[2021-06-29 19:16] stefanprobst commented on #5514
hi, just tried again and can still reproduce - i updated the instructions a bit.
in firefox, sometimes after clicking a couple of times i am able to focus it, but initially it always fails.
in chrome, i am able to focus with first click, but focus is lost after one character is entered.

[2021-06-29 20:04] Nrestrepo05 commented on #5514
I could reproduce it on firefox but I still can't on chrome :/

[2021-06-29 23:59] bradystroud opened #5553 "Hide 'CHANGES SAVED' message and 'Save' button if no changes have been made"
**Is your feature request related to a problem? Please describe.**
When the editor loads, it shows 'CHANGES SAVED' and the 'save' button before any changes are made.

**Describe the solution you'd like**
Instead of showing 'CHANGES SAVED', it should be blank until a change is made. After a change has been saved, this message should show. The 'Save' button should be disabled in all cases unless the

[2021-06-30 01:08] bradystroud opened #5554 "Hide 'Delete published entry' button if using the open authoring editorial workflow"
**Is your feature request related to a problem? Please describe.**
If you are an Open Authoring user, the 'Delete published entry' button is shown in the header but just shows an error when it is pressed.

**Describe the solution you'd like**
To improve the UX, the 'Delete published entry' button should be hidden if you are an Open Authoring user.
'Delete unpublished changes' will still show up.

[2021-06-30 08:20] bradystroud opened #5555 "Move 'Set status' dropdown and 'Save' button together"
**Is your feature request related to a problem? Please describe.**
The 'Set status' and 'Save' buttons are on opposite sides of the Header. This placement can be confusing for users becuase they expect all actions to be grouped in the same area.

**Describe the solution you'd like**
The 'Set status' dropdown should be moved to the left side of the Header so it is next to the 'Delete unpublished ch

[2021-06-30 08:25] bradystroud opened #5556 "Add info ℹ hover tooltip next to 'Set status' dropdown"
**Is your feature request related to a problem? Please describe.**
It is unclear what changing the status on an entry does and whether users have completed all actions they need to do for their change to be reviewed.

**Describe the solution you'd like**
A small info icon next to the 'Set status' that shows a tooltip explaining what 'Draft' and 'In review' mean.

This is the suggested contents of

[2021-06-30 08:33] bradystroud opened #5557 "Add current status to button label"
**Is your feature request related to a problem? Please describe.**
The set status dropdown is confusing for users becuase they cannot see what the current status is without opening the dropdown. As such, when they set the status, it is unclear what has happend.

**Describe the solution you'd like**

### Option 1 (preferred)
A label should be added to the left of the button that says 'Status:' and

[2021-06-30 09:35] erezrokah commented on #5553
Hi @bradystroud, this would make a nice improvement. We would need to avoid layout shifting when hiding/showing the button. For example in the UI mockup the `Writing in...` text is centered and in the actual UI it is pushed a bit up due to the existing `Changes saved` text.

[2021-06-30 09:39] erezrokah commented on #5554
That's a great improvement! How about disabling it instead of hiding and adding a tooltip on hover that explains why the button is disabled?

[2021-06-30 09:52] erezrokah commented on #5555
Thanks @bradystroud,

I'm also open to putting the delete button to the left of the publish button as those seem to be more related.
Also what do you think about ditching the status dropdown and use 3 buttons instead?

[2021-06-30 09:53] erezrokah commented on #5557
See my comment here https://github.com/netlify/netlify-cms/issues/5555#issuecomment-871259430

[2021-06-30 10:21] erezrokah commented on #5556
Thanks @bradystroud, that would indeed make things clear for open authoring contributors.

Since both in `Draft` and `In Review` there can be unsaved changed can we re-phrased it a bit?

[code]

[2021-06-30 17:18] pcanof commented on #5557
Hey! I'm a new developer looking for issues and I would like to work on this issue

[2021-06-30 20:54] awesomephant opened #5559 "Support markdown in widget hint texts"
I'd like to make widget help texts more useful by adding links to external documentation, and using bold and italics for emphasis.

**Describe the solution you'd like**
I'd like the ```hint``` option to support a subset of markdown so I can add links, bold, and italics. Alternatively, I'd also be okay with writing straight HTML to do the same thing.

At the moment neither of these options work: Ma

[2021-06-30 23:35] bradystroud commented on #5556
Hi @erezrokah, that sounds good 👍🏻

[2021-06-30 23:59] bradystroud commented on #5555
Hi @erezrokah,

I think having 3 buttons would be a bit messy.
I think a dropdown would be better, as long as we implement #5557

[2021-07-01 01:30] bradystroud commented on #5554
Hi @erezrokah,

If you are an Open Authoring user the publish dropdown button is hidden. To keep it consistent, I think that this one should be hidden as well.

[2021-07-01 08:00] stevemarksd commented on #4605
So if you do `enableIdentityWidget: false,`, it will just not work at all on `/admin` page. How is supposed to make it work on `/admin` but don't include in the regular pages?

[2021-07-01 09:05] erezrokah commented on #5554
Good point. Let's go with hiding it

[2021-07-01 09:13] erezrokah commented on #4605
Hi @stevemarksd, this is explained [here](https://answers.netlify.com/t/common-issue-netlify-cms-git-gateway-email-not-confirmed/10690).

By default Netlify Identity emails redirect to the root of the site, so the widget has to be included under the root path.
If you're using identity only for the CMS you can configure emails templates per the above thread and also [exclude the widget from the sit

[2021-07-01 09:24] Pageboy opened #5569 "Copy Path does not reflect the real path of the object in the media folder"
In the media box there is a useful Copy Path button. So, if someone adds a PDF to the media library and they want a link to it, then the `Copy Path` could be a useful thing. However, the issue is that the path copied starts **uploads** when it should start **/uploads**. Of course I can get my user to add the / but I wonder why this happening since the backend specifically says:

`media_folder: "/u

[2021-07-01 13:53] DenysLins commented on #5569
I can fix this issue

[2021-07-01 14:42] PRPRIESLER commented on #2845
Kindly update Tables in CMS. It is a big need

[2021-07-01 16:56] zidingz opened #5570 "How to get in touch about a security issue?"
Hey there,

As there isn't a `SECURITY.md` with an email on your repository, I am unsure how to contact you regarding a potential security issue.

Would you kindly add a `SECURITY.md` file with an e-mail to your repository? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this as the best way to ensure security issues are res

[2021-07-01 17:02] erezrokah commented on #5570
Hi @zidingz, thank you for raising this.

You can report to `security@netlify.com` or via [Hacker one](https://hackerone.com/netlify?type=team).

Keeping this issue open until we add a `SECURITY.md`.

[2021-07-01 17:30] zidingz commented on #5570
Thank you for your quick response!

An email will be with you shortly.

[2021-07-02 10:28] ZDVokoun commented on #5502
Hi @luciajeon, do you have tags of all your articles in square brackets like this: `tags: [foo, bar]`? I had the same issue because of missing square brackets.

[2021-07-02 18:47] yousafblogger opened #5573 "Feature to Apply Classes in fields and define them in identity file!"
Hi,

I want to customize the netlify CMS by doing 50% width of some fields. So I wanted to add class to that field. but didn't found anything!

I want this featured!

[2021-07-02 19:48] pcanof commented on #5557
Hi, I made a PR and I want to mention that there is a text in my code ("Current Status:") that is not using the locales variables, so I think it will necessary to add another variable in en.editor.editorToolbar that is in the file /packages/netlify-cms-locales/en/index.js and the translate for the other languages

[2021-07-03 00:43] HanoonIH opened #5575 "TypeError: Cannot read property 'textContent' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.140`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Linux; Android 10; CPH1937) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.110 Mobile Safari/537.36`

**CMS configuration**
[code]

**Additional context**

[2021-07-05 07:04] Edald123 commented on #5532
PR created. Let me know if any changes are needed, thank you!

[2021-07-05 09:36] erezrokah commented on #5502
Closing as missing information

[2021-07-05 09:36] #5502 closed

[2021-07-05 09:37] #5545 closed

[2021-07-05 09:37] erezrokah commented on #5507
Closing as missing information

[2021-07-05 09:37] #5507 closed

[2021-07-05 09:37] #5543 closed

[2021-07-05 09:40] erezrokah commented on #5575
Hi @HanoonIH, thank you for the report. Does the issue happens only on Android? Can you try with a Desktop browser?

Also can you share a public repo with your code? Sometimes such errors are related to custom preview template/custom widgets

[2021-07-05 10:26] erezrokah commented on #5573
Hi @yousafblogger, can you please follow the [issue template](https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+feature&template=feature_request.md&title=Please+replace+with+a+clear+and+descriptive+title)?

Without it it's very hard to understand what you're trying to accomplish.

Closing this issue as I believe it is covered by https://github.com/netlify/netlify-cms/issu

[2021-07-05 10:26] #5573 closed

[2021-07-05 12:24] HanoonIH commented on #5575
Working fine in desktop.
GitHub repo:
GitHub.com/hanoonih/thazkiya

On Mon, Jul 5, 2021, 3:11 PM Erez Rokah ***@***.***> wrote:

[2021-07-05 14:05] erezrokah commented on #5532
Closed via https://github.com/netlify/netlify-cms/pull/5572

[2021-07-05 14:05] #5532 closed

[2021-07-05 18:05] zac-heisey opened #5587 "TypeError: e.join is not a function"
**Describe the bug**
Trying to create a new post leads to an error message/page.

**To Reproduce**
Attempt to create a new post (repo: https://github.com/zac-heisey/good-neighbor-agency)

**Expected behavior**
Should be able to create a new post from within the Netlify CMS UI

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.141`
 - Git provider: `git-gateway`
 - Browser version:

[2021-07-05 18:10] erezrokah commented on #5587
Hi @zac-heisey, can you try `default: ["post"]` instead of `default: "[post]"`?
See https://www.netlifycms.org/docs/widgets/#list

[2021-07-05 18:19] #5554 closed

[2021-07-05 18:55] madsem commented on #5532
@erezrokah when will the next version be released that includes this feature?

[2021-07-06 09:10] erezrokah commented on #5532
@madsem, this was released in [netlify-cms@2.10.141](https://github.com/netlify/netlify-cms/releases/tag/netlify-cms%402.10.141)  and [netlify-cms-app@2.15.21](https://github.com/netlify/netlify-cms/releases/tag/netlify-cms-app%402.15.20)

[2021-07-06 13:02] zac-heisey commented on #5587
Hey @erezrokah thanks for your help! That did the trick :)

[2021-07-06 13:06] #5587 closed

[2021-07-06 13:06] erezrokah commented on #5587
I'll follow on this to see if we can provide a better error handling for this issue

[2021-07-06 13:43] #5556 closed

[2021-07-07 08:33] erezrokah commented on #5557
Closes via https://github.com/netlify/netlify-cms/pull/5574 (and [released](https://github.com/netlify/netlify-cms/releases/tag/netlify-cms%402.10.144)). Thanks everyone!

[2021-07-07 08:34] #5557 closed

[2021-07-07 10:24] ZDVokoun opened #5590 "TypeError: e.join is not a function"
**Describe the bug**
When you add tags to an article as a space-separated string, the article won't open in Netlify CMS.

**To Reproduce**
1. Create a new article with tags written as *a space-separated string* (`tags: foo bar` instead of `tags: [foo, bar]` )
2. Try to edit the article in Netlify CMS

**Expected behavior**
I can edit the article in Netlify CMS as usual.

**Screenshots**

**Applica

[2021-07-07 10:35] erezrokah commented on #5590
Hi @ZDVokoun, how are you creating the space separate value?

This is [not currently supported](https://github.com/netlify/netlify-cms/issues/4646) via the UI

[2021-07-07 10:40] ZDVokoun commented on #5590
I haven't created it via UI but via text editor. I haven't known that it isn't supported

[2021-07-07 10:45] erezrokah commented on #5590
I'll open a PR to better handle this can (not fail). I'll close this issue in favor of https://github.com/netlify/netlify-cms/issues/4646

[2021-07-07 10:45] #5590 closed

[2021-07-07 10:51] #5559 closed

[2021-07-07 11:45] madsem opened #5593 "Regex does not match"
I'm on the latest Netlify CMS version, trying to add a simple regex pattern (I have a few others, different ones, that work without issues).

This one though won't match whatever I do.
[code]

The field under validation is a string widget, it is supposed to make sure that the above token is included in a `url` that is entered in this `string` widget.

On regexr.com it matches any combination I thr

[2021-07-07 11:51] madsem commented on #5593
Ok this is probably not a bug, unsure. I just removed the flags and it started to work:
[code]

[2021-07-07 11:51] #5593 closed

[2021-07-08 14:32] madsem opened #5596 "Media Gallery includes dotfiles in Preview"
I just created a directory for the media library, because it's empty I added a `.gitkeep` in the directory.

Expected behavior would have been to not see this file in the Media Library UI, but it shows up as transparent image.

<img width="834" alt="Screen Shot 2021-07-08 at 4 32 33 PM" src="https://user-images.githubusercontent.com/3166991/124940255-1ca80400-e00a-11eb-89a5-fd529caee979.png">

[2021-07-08 18:39] DenysLins commented on #5596
Can I work on this issue @erezrokah ?

[2021-07-08 20:12] natapg commented on #5091
Hi guys, before creating a new issue I would like to ask here if the following is expected

If I add an image widget after a file widget with the media_folder overwritten, and I want the images to be saved in the folder defined in the root, I would imagine that the configuration would be something like this

[code]

but in this way, when accessing the CMS, when opening the image selector, it shows

[2021-07-09 00:26] DenysLins commented on #5596
Hi @erezrokah, I have some doubts about this issue:
1. We must allow the user to upload a non-image files trough the OS Open screen?
2. The user can upload non-image files directly to the media folder in the repository. Here, we must hide all non-images when listing in the media screen or only files started with a dot, as in the issue description?

[2021-07-09 16:15] ivanreese commented on #4726
Also running into this issue, but with a YAML file rather than MD.

[2021-07-09 19:19] JamieSlome opened #5598 "Trying to get in touch regarding a security issue"
Hi there,

I couldn't find a `SECURITY.md` in your repository and am not sure how to best contact you privately to disclose a security issue.

Can you add a `SECURITY.md` file with an e-mail to your repository, so that our system can send you the vulnerability details? GitHub suggests that a [security policy](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your

[2021-07-09 19:24] Treefogg commented on #5598
I thought I was just being followed by the thread I didn’t realize you were talking directly to me

***@***.***    Email

Sent from Yahoo Mail for iPhone

On Friday, July 9, 2021, 15:20, Jamie Slome ***@***.***> wrote:

Hi there,

I couldn't find a SECURITY.md in your repository and am not sure how to best contact you privately to disclose a security issue.

Can you add a SECURITY.md file with an

[2021-07-11 03:30] lrq3000 commented on #1816
Idem as the last post above. This error started appearing after trying to link my Netlify repo to my organization instead of a personal Github repo. I regenerated the Git Gateway and also the OAuth secret key and transferred ownership of the OAuth app to the organization, but I'm still getting the same error.

[2021-07-11 08:35] erezrokah commented on #5596
Hi @DenysLins, I think we can an option to configure exclude patterns. The default exclude patterns will be to hide files starting with a dot.
Users could configure it similar to https://www.netlifycms.org/docs/beta-features/#image-widget-file-size-limit
WDYT?

[2021-07-11 08:46] erezrokah commented on #5598
Hi @JamieSlome, closing this as a duplicate of https://github.com/netlify/netlify-cms/issues/5570

[2021-07-11 08:46] #5598 closed

[2021-07-11 08:49] erezrokah commented on #1816
Hi @lrq3000, another possible option is to create a [personal access token](https://github.com/settings/tokens/new) and set it under the Git Gateway settings

[2021-07-11 11:03] JamieSlome commented on #5598
No worries, and apologies for the duplication!

[2021-07-12 00:54] lrq3000 commented on #1816
I found the issue: I had to disconnect and reconnect to NetlifyCMS to use the new OAuth app. Here are all the steps I had to follow to relink a Netlify instance after migrating to another (organizational) repository:

If you want to transfer a Netlify instance from one repo to another (eg, relinking from a personal repository to an organization repository), then the following must be done:

1. Cha

[2021-07-12 05:37] lrq3000 commented on #4963
This issue also happens with GatsbyJS. It's because of `nested` collections, `{{folder}}` contains the full nested subfolders path but it's escaped with dashes so it's not a path anymore.

Any way to fix this? Maybe an undocumented templating tag specifically for nested folders path?

[2021-07-12 05:42] lrq3000 commented on #4963
/EDIT: there was a typo in my previous message, it's the `{{slug}}` tag that contains the full nested path.

[2021-07-12 05:44] lrq3000 commented on #4963
To summarize the issue, for the moment there seems to be no way to set up adequately the `preview_path` to allow previews of collections that are `nested`, because there is no specific tag and the only one that is the closest to what we need is `{{slug}}` but it escapes path delimiters into dashes to be URL safe.

[2021-07-12 11:05] erezrokah commented on #4963
If anyone would like to follow up with a PR to one of the suggestions in this comment it would be great.

[2021-07-12 15:03] B3EF opened #5610 "Submissions at huntr."
Reports at Huntr
[report : 1](https://huntr.dev/bounties/1625858382797-netlify/netlify-cms/)
[report : 2](https://huntr.dev/bounties/1625079955087-netlify/netlify-cms/)
[report : 3](https://huntr.dev/bounties/1625079232522-netlify/netlify-cms/)

[2021-07-12 15:59] erezrokah commented on #5610
Thanks @B3EF. for the first report see:
https://github.com/netlify/netlify-cms/issues/4099

Looking into the others ones

[2021-07-12 16:19] B3EF commented on #5610
hi @erezrokah the pr #4099
seems that its been fixed but , lately while i was testing in the new one , it seems to be popping up alerts for objects other than custom strings in the alert box.

[2021-07-12 16:21] erezrokah commented on #5610
Are you setting the `sanitize_preview` configuration for the markdown field?

[2021-07-12 16:30] B3EF commented on #5610
yes i have tried changing the preview from rich text to md , then also the alert pops up.

[2021-07-12 16:31] erezrokah commented on #5610
Can you share your `config.yml`?

[2021-07-12 16:40] B3EF commented on #5610
yes you are right seems like i haven't set the sanitize_preview in the config.yml file ?
how can i add it ? is there any syntax to be followed like sanitize_preview : true ?

[2021-07-12 16:47] erezrokah commented on #5610
On your markdown field add `sanitize_preview: true`
e.g.

[code]

[2021-07-12 17:14] B3EF commented on #5610
Is your demo site configured with sanitize_preview true ? Because I am getting pop up in that.
![IMG_20210712_224347.jpg](https://user-images.githubusercontent.com/43377443/125329047-a802fb80-e362-11eb-9046-544a87ce6e6a.jpg)

[2021-07-12 17:17] erezrokah commented on #5610
No it's not - see https://github.com/netlify/netlify-cms/blob/b94d5f6e7fe07a2816098b377b30a4ddd39c9520/dev-test/config.yml

[2021-07-12 17:28] B3EF commented on #5610
then you are right , it was a mistake from my side thanks for your time.

[2021-07-12 17:28] B3EF commented on #5610
i will close the first report , or you can invalidate it.
cheers 👍🏻

[2021-07-12 17:29] B3EF commented on #5610
have you checked the other ones?

[2021-07-12 17:38] erezrokah commented on #5610
Thanks!

I've passed them to our security team for further analysis. I'll add my thoughts on the specific reports too.

[2021-07-13 09:35] madhavan-sundararaj opened #5612 "Netlify CMS constantly rewrites DOM nodes when the preview content has an image"
**Describe the bug**
I am using Netlify cms with NextJS and Emotion. Recently added custom styling to preview pane and while adding images / videos, the content keeps on refreshing even without focusing or changing the input causing high CPU usage.

**Expected behavior**
The content should not refresh without the input being changed

**Screenshots**

https://user-images.githubusercontent.com/42700

[2021-07-13 09:36] erezrokah commented on #5612
Hi @madhavan-sundararaj, can you please post a reproduction scenario? Ideally a public repo with the issue

[2021-07-13 09:50] madsem opened #5613 "Default values for hidden widgets need to be updated"
**Is your feature request related to a problem? Please describe.**
Currently the `hidden` widget does not update values set as `default`.
They are created once, but then never update even if they were accidentally changed through other means, like a find & replace in developers IDE.

The hidden fields are not even part of the form when updating existing content... (As far as I can tell)

This is u

[2021-07-13 10:01] erezrokah commented on #5613
Hi @madsem, can you follow the feature request template https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+feature&template=feature_request.md&title=Please+replace+with+a+clear+and+descriptive+title or the bug report template https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descript

[2021-07-13 10:48] madsem commented on #5613
@erezrokah I've updated it.
I wasn't talking about making `hidden` widgets visible, I was talking about the fact that they aren't updating their default values.

[2021-07-14 09:07] miguelt1 commented on #1424
@erquhart Any update on this? I'm having the same problem that @belmarca  has.

[2021-07-14 09:27] JannieT commented on #4252
One team member had this while logging in. It looked likely to be a corrupted cookie, because she had no trouble after clearing her browser cache or using a private window.

[2021-07-14 09:31] erezrokah commented on #1424
Hi @miguelt1, the best way to move this issue forward is to [submit a contribution for it](https://github.com/netlify/netlify-cms/blob/master/CONTRIBUTING.md)

[2021-07-14 14:43] #5515 closed

[2021-07-14 14:47] MirkoLenz commented on #5515
Thank you all for resolving this issue in such a short amount of time!

[2021-07-14 19:48] B3EF commented on #5610
Hi @erezrokah , huntr have reduced the severity level for both.

[2021-07-15 17:22] mooeypoo opened #5617 "Default to branch name `main` rather than `master`"
**Describe the bug**
The documents reference a default branch `master`; this should be changed to `main` if possible, especially seeing as the Netlify deployment documents seem to encourage that too, and github's changing its default to `main` as well.

**To Reproduce**
1. https://www.netlifycms.org/docs/add-to-your-site/#backend
2. See comment `branch: master # Branch to update (optional; default

[2021-07-15 17:28] erezrokah commented on #5617
Good point @mooeypoo, we usually show in the docs the default value, but I think we should use `main` in that case.
Would you like to submit a PR for it?

I think what we really want, is for the CMS to use the default branch instead of defaulting to `master`:
https://github.com/netlify/netlify-cms/blob/65939d978eedda86526dbafc829f8e662442f227/packages/netlify-cms-backend-github/src/implementation.

[2021-07-15 17:55] mooeypoo commented on #5617
Ah! I was hoping for that as well, but I didn't want to overstep and increase your workload for a feature I wasn't entirely sure about its complexity ;) I figured an initial fix (either 'main' in defaults, or even just recommending 'main' in the comment?) would be a good step forward.

That said -- I'm talking out of my usual expertise-bubble here, so I'm not actually sure, but doesn't github prov

[2021-07-15 18:03] erezrokah commented on #5617
Updating the docs is a great first improvement 💯

That is what I'm going for in step 3. in my comment.

[2021-07-15 20:29] DenysLins commented on #5596
Sure... I will work on that...

[2021-07-16 17:00] Honatas opened #5618 "Global format parameter"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
It would be nice to have a global level format configuration that overrides the default, so I don't need to add format: json to every collection.

**Describe alternatives you've considered**
None.

**Additional context**
None.

[2021-07-16 17:38] SlashArash opened #5619 "TypeError: Cannot read property 'push' of undefined"
**Describe the bug**
by opening a page editor the page breaks with the following error
`TypeError: Cannot read property 'push' of undefined`

I checked the console on devtools and there were two errors that I attached to the screenshots section. it seems the issue is from `react-datetime@^3.0.0` that is a dependency for `netlify-cms-widget-date@^2.6.2`.
I'm using latest version of netlify-cms-app

[2021-07-17 06:19] B3EF commented on #5610
hi , any updates.

[2021-07-17 12:18] TheVilfer opened #5621 "TypeError: undefined is not an object (evaluating 'k.path')"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.147`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.0 Safari/605.1.15`

**CMS configuration**
[code]

**Additional context**

[2021-07-17 23:40] mooeypoo commented on #5617
Ha, I misread your step 3 (probably because I was in a meeting, that'll teach me...)

I've started working on a PR, but I'm running into a couple of conceptual issues here.
(First, an admission-- this is my first foray into TypeScript, so excuse any wrong practices here)

I initially thought I'd need to create the method that fetches the default branch, but that method seems to already exist at ht

[2021-07-19 06:51] ashalfarhan opened #5629 "TypeError: Cannot read property 'get' of undefined"
**Describe the bug**
I'm trying to create a custom preview for my post, but I've got an error, see screenshot bellow

**To Reproduce**
I need to be able to customize my blog preview, but it seems like I made a mistake in my preview component.
Also, I wonder if the markdown returned from the props is already a string type, so that I can just pass them in inner html

**Expected behavior**

**Screens

[2021-07-19 09:25] martinjagodic opened #5630 "Vaildation error is not shown on collapsed objects"
**Describe the bug**
If a field inside a collapsed object fires a validation error, the entry will not be saved. This is the correct behavior, but the problem is, that there is no indication of where the error occurs.

**To Reproduce**
Steps to reproduce the behavior. For example:
1. Create an object field and add `collapsed: true`
2. Add a required sub-field
3. Leave the sub-field empty and try t

[2021-07-19 14:52] dylanirlbeck commented on #4972
I'd also love to see this feature!

[2021-07-19 16:15] dylanirlbeck commented on #4972
@erezrokah Can you outline the expected work for this feature? Trying to gauge what the commitment would be in case I have time to contribute.

[2021-07-20 06:59] #4436 closed

[2021-07-20 07:17] erezrokah commented on #5610
Hi @B3EF, sorry for the delay. I was out of office for a few days. I'll follow up this week

[2021-07-20 08:15] erezrokah commented on #5618
Hi @Honatas, thank you for opening the issue.

Closing this as a specific case of https://github.com/netlify/netlify-cms/issues/1342.

You could use `yaml` aliases to get a behavior that's close to this request, [or use JS based config](https://www.netlifycms.org/docs/beta-features/#manual-initialization).

[2021-07-20 08:15] #5618 closed

[2021-07-20 08:20] erezrokah commented on #5619
Hi @SlashArash, can you provide a reproduction scenario? This is probably related to existing data the CMS tries to load, so sharing a public repo with the issue will make it much easier to debug.

[2021-07-20 08:41] erezrokah commented on #5621
Hi @TheVilfer, can you add the missing parts from the issue template? Specifically the reproduction scenario using a public repo.

[2021-07-20 08:48] erezrokah commented on #5617
Hi @mooeypoo, I believe you need to add an `async` `init` method to each API.
Then call `init` after the API is created. For example here:
https://github.com/netlify/netlify-cms/blob/2a4c58ed71288b1db40e53bc2a49d85e47e1c472/packages/netlify-cms-backend-github/src/implementation.tsx#L304
https://github.com/netlify/netlify-cms/blob/2a4c58ed71288b1db40e53bc2a49d85e47e1c472/packages/netlify-cms-backen

[2021-07-20 10:01] erezrokah commented on #4972
Hi @dylanirlbeck, thanks for initiating!

I would classify this as medium size effort for someone who is not familiar with the CMS codebase.

The relevant code is here:
https://github.com/netlify/netlify-cms/blob/master/packages/netlify-cms-core/src/components/Collection/NestedCollection.js

To resolve the issue we would need to consider file siblings of `index.md` as children (this only happens f

[2021-07-20 10:27] erezrokah commented on #5629
Hi @ashalfarhan, can you share a reproduction scenario for the issue? A public repo works best. That way we can find the exact location of the error.

[2021-07-20 11:46] B3EF commented on #5610
No problem , take your time.

[2021-07-20 12:31] Honatas commented on #5618
Yaml aliases do not solve the problem. I want to avoid local (collection) configuration. With the aliases I would have to add them to the collections, which invalidates my request.

[2021-07-20 12:36] erezrokah commented on #5618
Would switching to JS based configuration work? You can write a function that generates the config to reduce duplication.

[2021-07-20 14:03] timtorres opened #5632 "No documentation for [backend] auth_type"
**Describe the bug**
New contributor here 👋  Not sure if this is the right issue type.

The docs for the [Bitbucket backend](https://www.netlifycms.org/docs/bitbucket-backend/#client-side-implicit-grant-bitbucket) mention an `auth_type`  property for the `backend` field, but this isn't mentioned anywhere on the [backend configuration overview](https://www.netlifycms.org/docs/backends-overview/).

[2021-07-20 14:24] erezrokah commented on #5632
Hi @timtorres 👋 The overview has the common backend configuration fields.
`auth_type` is Bitbucket specific (for example it doesn't apply to GitHub).

Please let me know if that makes sense.

[2021-07-20 18:35] timtorres commented on #5632
It doesss... just that some of the other fields at first seemed to also only apply in certain cases. But I see that the provided defaults account for all three providers.

But that still leaves the Bitbucket page not saying much about it. If there are other options available then they should be listed, or if this field is always required and always has the same value then shouldn't it be built in?