[2020-09-04 16:36] zyv commented on #4112
@erezrokah @pchorus closing this, as apparently you guys sorted it out :) many thanks ❤️

[2020-09-04 16:36] #4112 closed

[2020-09-05 01:40] silverwebb925 commented on #3764
As a brand new user/contributor, I can confirm that the Docs are in need of some significant TLC. Individual section/articles have excellent content, but the documentation is not comprehensive enough to do NetlifyCMS justice, and the existing articles still need more organization.

I can really tell that everyone is onboard to bring the Docs up to speed, but I really must emphasize how essential g

[2020-09-05 09:53] arthabus opened #4253 "Bitbucket + editorial_workflow - "failed to load entry..." after creating a post"
**Describe the bug**

Bitbucket + editorial_workflow - after creating a post netlify pushes it to a dedicated branch but immediately throws an error when trying to display it: failed to load entry... (see the screenshots below)

**To Reproduce**

Steps to reproduce the behavior. For example:
1. Setup bitbucket connection
2. Enable publish_mode: editorial_workflow
3. Create a post
4. See error

**E

[2020-09-05 11:40] NeaamHariri opened #4254 "can not connect to netlify CMS [Error loading the CMS configuration]"
im receiving this error when i try to go mywebsite/admin page ::

Error loading the CMS configuration
Config Errors:
'collections[1].fields[1].pattern' should NOT have fewer than 2 items
Check your config.yml file.

i made sure that i follow all steps correctly, im using this starter templet
https://github.com/W3Layouts/gatsby-starter-delog

i also changed repo in config.yml to my repo

[2020-09-05 15:15] kaganjd opened #4255 ""New page" button shouldn't show for collections that it doesn't work for"
**Is your feature request related to a problem? Please describe.**
In the Netlify forum, someone was trying to use "New page" on a `file` collection. Clicking the button returned a blank page. This is by design, not an error, but maybe we could make this more intuitive for people.

**Describe the solution you'd like**
Don't show "New page" button on collection types it won't work for.

**Additiona

[2020-09-05 16:40] barthc commented on #4254
@NeaamHariri  the offending config line is https://github.com/W3Layouts/gatsby-starter-delog/blob/master/static/admin/config.yml#L59. The `pattern` config is expecting  two array items, the regex and error message https://www.netlifycms.org/docs/widgets/#common-widget-options

The reason why that config may have worked in the past is that the `pattern`  option wasn't validated but now is. Update y

[2020-09-05 16:40] #4254 closed

[2020-09-05 20:15] aequi42 commented on #4245
Seems like a doublicate of #4185

[2020-09-06 00:23] franva commented on #3240
hit the same need. Hopefully we can see this feature soon~!

[2020-09-06 07:15] neilmorton commented on #3240
@franva and @surjithctly if you haven’t already, make sure to up vote the original post, as they tend to work on the most up voted issues first. 👍

[2020-09-06 14:23] erezrokah commented on #1727
Hi @kenkoy, the CMS is a community based project. I you'd like to contribute to this issue, it might be better to follow https://github.com/netlify/netlify-cms/issues/2557

[2020-09-06 14:24] erezrokah commented on #852
@dumptyd this is a good candidate for contribution.

[2020-09-06 14:38] erezrokah commented on #4245
Closing as duplicate, thank @aequi42

[2020-09-06 14:38] #4245 closed

[2020-09-06 15:20] erezrokah commented on #4255
Thanks @kaganjd, since the `create: true` option is opt in for [folder collections](https://www.netlifycms.org/docs/collection-types/#folder-collections), we could probably prevent users setting it for file collections during schema validation.

[2020-09-06 15:43] erezrokah commented on #4239
Sorry for the late follow up, `2.10.56` should be available now on npm

[2020-09-06 18:00] erezrokah commented on #4099
There is a possible undocumented way to sanitise the markdown value using:
[code]

@rori4 Please let me know if that works for you.

[2020-09-06 18:13] #3977 closed

[2020-09-06 18:21] #4185 closed

[2020-09-06 18:38] erezrokah commented on #4253
Seems like this one is related to https://github.com/netlify/netlify-cms/issues/4212

[2020-09-06 19:02] erezrokah commented on #4212
See my comment here https://github.com/netlify/netlify-cms/pull/4244#issuecomment-687870023.

I recommend contacting Bitbucket support and following up here once you have a response from them.

[2020-09-06 19:02] #4212 closed

[2020-09-06 19:03] erezrokah commented on #4253
Closing as duplicate of #4212

[2020-09-06 23:30] AJTJ opened #4257 "Cannot inject google fonts into the html of the iframe created with registerPreviewTemplate"
**Describe the bug**
I've tried several methods of ensuring that the `iframe` created by `registerPreviewTemplate` loads my google fonts for the component previews.

You will notice in my CMS index.js I've attempted to use something called `WebFontLoader`, and I've tried applying `Global` fonts via `EmoGlobal`, using Emotion (which I use everywhere else in my project).

**To Reproduce**
You can se

[2020-09-07 01:12] franva commented on #3240
sure @neilmorton  what's the original post? so do you mean that we already have this feature implemented? I'd love to see it~!

[2020-09-07 04:19] surjithctly commented on #3240
@franva I guess he meant the first comment of this issue where people did thumbs up 👍

[2020-09-07 07:50] arthabus commented on #4253
@erezrokah I it doesn't seem like #4212 is related as the mentioned issue is about special unescaped character in the file name "`". I don't have any special characters in the name and as you can see from the screenshot the name of the file/post is just "post-2"

Any other suggestions on how to overcome this problem?

[2020-09-07 08:14] erezrokah commented on #4257
Hi @AJTJ, browsers don't allow cross frames scripts injections like:
https://github.com/Yukon-Literacy-Coalition/ylc_website/blob/7085928ce68250cdb8a86d293f93202790c8f4db/src/CMS/index.js#L43

We're passing the frame `document` instance as a prop, so you can use `this.props.document`.
See:
https://www.netlifycms.org/docs/customization/#registerpreviewtemplate

Closing, please comment if `this.prop

[2020-09-07 08:14] #4257 closed

[2020-09-07 08:35] erezrokah commented on #4253
@arthabus, re-opened. I recommend sharing the network traffic from the CMS while getting the error.
There should be an API request to retrieve the file that fails.

[2020-09-07 09:20] neilmorton commented on #3240
@franva, as @surjithctly has mentioned, add a thumbs up 👍 to the first comment on this [issue here](https://github.com/netlify/netlify-cms/issues/3240#issue-564058431) if you haven't already done so.

The feature hasn't been implemented, but issues with more thumbs up 👍 tend to get chosen for action.

Thanks @surjithctly

[2020-09-07 10:12] franva commented on #3240
thanks @surjithctly  and @neilmorton  I have thumb-upped  this issue 👍

[2020-09-07 19:01] dancingmonkey commented on #3084
Is this possible for files under collections i.e. pages ?

This one works

    - name: 'work'
        label: 'Works'
        label_singular: 'Work'
        folder: '_work'
        preview_path: '/work/{{slug}}'  // this works
    .....

But this one doesn't

    collections:
      - name: 'pages'
        label: 'Pages'
        files:
          - name: 'photography'
            label: 'Photography'

[2020-09-07 19:20] AJTJ commented on #4257
Thanks @erezrokah, this is rather new to me so I'm not sure if I'm missing something or if something is missing.

In my CMS file (https://github.com/Yukon-Literacy-Coalition/ylc_website/blob/master/src/CMS/index.js) if I console log the `previewProps` I get this:
[code]
but I don't see any reference to the `document`. Thus, my question would be, where is the document and once I get it, how do I up

[2020-09-08 09:04] erezrokah commented on #4257
Hi @AJTJ, this was released in `netlify-cms-app@2.12.20`, can you make sure you're using the latest version of the CMS:
https://github.com/netlify/netlify-cms/compare/netlify-cms-app@2.12.19...netlify-cms-app@2.12.20

[2020-09-08 11:57] grexen commented on #3702
I came across the same issue in netlify-cms 2.10.49

Sadly I can't figure out how to fix this without implementing a custom date-widget.

Could someone describe where to call the handleChange? Is it configurable for each field?

[2020-09-08 16:12] AJTJ commented on #4257
Thanks @erezrokah I was at `2.12.15` and updating to `...20` exposed the `document` property. That being said, I'm not sure how to add my scripts to it.

[2020-09-08 16:33] erezrokah commented on #4257
See https://github.com/netlify/netlify-cms/issues/4142#issuecomment-674505811 and:
https://github.com/erezrokah/netlify-cms-reproductions/blob/d9300a4e970aa47dc4ec2054e7f30a0f85ae3796/public/index.html#L13

[2020-09-08 19:52] ulises-castro commented on #3492
I have the same issue

[2020-09-08 20:07] AJTJ commented on #4257
Thanks @erezrokah, I think I'm getting closer, but I actually need to add `link`s to the head and the closest I can think of doing what you are suggesting is this:

[code]
That being said, this isn't really appending any `link`s to the `document`'s `head`.

[2020-09-08 21:23] silverwebb925 opened #4281 "Docs require better integration with CI/CD pipeline as part of a fundamental overhaul."
### **Is your feature request related to a problem? Please describe:**
Yes. The Docs will _never_ stay up-to-date or comprehensive enough with the existing documentation development pipeline.

Individual section/articles have excellent content when they're up-to-date with NetlifyCMS, but what I’m seeing* implies that while the project has a good CI/CD pipeline for features and bugs, the Docs thems

[2020-09-08 23:16] gabrielalg commented on #4239
Hi @erezrokah ! It worked! 🎉 Thank you very much!

[2020-09-09 02:19] silverwebb925 commented on #4281
Having read through my initial post, I’d like to step back a moment and fully acknowledge the amazing work that’s gone into the Docs already, both from a conceptual and planning standpoint and in terms of the actual content describing NetlifyCMS. You've all done really great work, and I have SO much respect for the many contributors to such a useful reference.

Calling for an overhaul of the Docs

[2020-09-09 06:55] dancingmonkey commented on #2262
A preview_path for pages would be nice. Currently I need to navigate to the page to see the change.

[2020-09-09 07:51] erezrokah commented on #4257
I would first try to use the example I linked as is (without any changes), make sure it works and then add any custom code.

[2020-09-09 15:11] kylekirkby opened #4283 "Documentation states to use value_field and search_fields but latest version of NetlifyCMS reports missing valueFields and searchFields"
**Describe the bug**
Documentation is not consistent with schema errors being reported by NetlifyCMS.

**To Reproduce**
1. See the documentation here for the relation widget here: https://www.netlifycms.org/docs/widgets/relation/
2. Use `value_field` or `search_fields` in a relation widget and see the schema error reported.

[code]

**Expected behavior**
Documentation to be consistent with schema

[2020-09-09 15:12] erezrokah commented on #4283
Thanks @kylekirkby, closing this as a duplicate of https://github.com/netlify/netlify-cms/issues/4248

[2020-09-09 15:12] #4283 closed

[2020-09-09 15:30] Danielgregoire opened #4284 "Error: Minified React error #62; visit https://reactjs.org/docs/error-decoder.html?invariant=62&a..."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.16`
 - Git provider: `github`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.83 Safari/537.36`

**CMS configuration**
[code]

**Additional context**

[2020-09-09 16:24] AJTJ commented on #4257
Thanks for the suggestion. I was able to figure it out! Got my fonts injecting correctly.

[2020-09-09 17:38] ulises-castro opened #4285 "Unsaved changes, and publish new entry fails (netlify deployment)."
**Describe the bug**
1 - Infinite unsaved changes, but the entries appear on the workflow section, however when I try to publish it to production, deployment fails.

**To Reproduce**
**1 - Create a new post and filling it up.

2 - Try to save it (Unsaved changes bug, see image)

3 - Publish (Deployment starts but fails, see image)**

**Expected behavior**

**Screenshots**

I do not what is causing

[2020-09-10 07:49] erezrokah commented on #4285
Hi @ulises-castro, can you share the latest CMS versions as shown in the browser logs when you open the CMS.

Latest versions are:
- `netlify-cms@2.10.56`
- `netlify-cms-app@2.12.20`

I recommend updating to the latest versions.

As for the build failure, that seems like a Gatsby issue so I recommend posting on their repo.

[2020-09-10 08:29] silverwebb925 commented on #4281
In order to examine the idea of implementing a master schema, I went through and typed up the current organization of the docs down to the individual headers in each article (see attached). I used this to find patterns within the structure, as well as reading through the content itself and from this, I created a recursive content schema to act as a rough organizational framework for each level of

[2020-09-10 13:20] erezrokah commented on #4281
Thank you @silverwebb925 for doing such an extensive. Great work!
What is the next step we should do (with emphasis on speed)?
Should we add formatting/linting to the docs? Even if the set of rules it not yet fully defined yet, that should be a quick win.
The tricky thing would be to make sure the linter is aligned with the way the CMS normalises content.

It would be great to have the documentati

[2020-09-10 13:25] acarnwath opened #4288 "Image Filenames are Transformed into all lower-case"
Although I agree with the issue raised here: https://github.com/netlify/netlify-cms/pull/853 that the _comparison_ of names should be case-insensitive, our team has a situation where we migrated a site over and have assets that have capitalized names (e.g. Organizational_Pledge.pdf); these files exist and function fine in our site. However, when we try to update them (replacing in place) using the

[2020-09-10 15:21] erezrokah commented on #4281
This is another issue we have - the docs represent the code on the default branch, and not the CMS version published to npm. Ideally we would have docs per version dropdown.

[2020-09-10 20:03] silverwebb925 commented on #4281
You're welcome, @erezrokah!

**The next crucial step is adding a linter for the Docs as soon as possible.**

I'd like to push for integrating [ProseLint](https://github.com/amperser/proselint/) with the default NetlifyCMS content editor (and not just for the Docs development). It is a BSD licensed project, and would actually be a HUGE win, since there are (as far as I can tell) no CMS's with built

[2020-09-10 23:55] BasJan81 commented on #3505
I think **quotes: true** is a briljant idea.

**Decisions, not Options**

- WordPress Philosophy. 🤫

[2020-09-11 04:38] ulises-castro commented on #4285
@erezrokah , I upgraded those packages, however I receiving the message "Failed to persist entry: TypeError: r.has is not a function", when I try to save it.

And this appears on console
![image](https://user-images.githubusercontent.com/17864276/92861044-a1140100-f3be-11ea-853b-fd990c6c866f.png)

[2020-09-11 09:44] nejurgis commented on #512
Hey guys is there a solution for this? It's quite frustrating to not be able to add a line break without getting that weird slash.. I did switch from `react-markdown` to `react-commonmark` to try and address this but that didn't fix the issue

[2020-09-11 17:58] acarnwath opened #4291 ""summary" for object widget"
**Is your feature request related to a problem? Please describe.**
Our "object" widgets have a lot of content in them, so authors typically view them in the "collapsed" view but have to open them regularly to remind themselves what is inside.

**Describe the solution you'd like**
If we could provide a summary, similar to how lists have, for a quick overview. This would save authors time, as they c

[2020-09-11 21:04] srchulo opened #4292 "allow order/sort for multiple select options"
**Is your feature request related to a problem? Please describe.**
When I have a multiple select, the options that you select show in the order they were selected, not in the order that they are listed in options.

**Describe the solution you'd like**
I would love for selecting an option to put it into the displayed options/resulting saved value in the order that they show up in the original optio

[2020-09-11 22:17] silverwebb925 commented on #4129
@erezrokah ,
I just spent over two hours trying to build a custom widget based on the article in the Docs before giving up.

The article is well written and clear... but the code examples appear to be very out of date. It seems like the code might be pulled verbatim from the netlify-cms-widget-starter project which is depreciated and archive.

If you have not already, can you please walk through t

[2020-09-12 13:24] soundarrr opened #4293 "Need Help in installing"
I can't understand the documentation in Installation
Please can you elaborate it

[2020-09-12 13:27] timbomckay commented on #3227
Is there a way for the path field to be optional? Like if I don't provide a path it would default to the root, or am I missing something? It'd be great if this were a select or combobox field to select an existing page as the parent, but I'll assume it's been considered.

[2020-09-12 14:01] timbomckay commented on #3227
Is that `meta` object new? I couldn't find any documentation on it other than in this nesting feature. Didn't know if there were other parameters or values available, like if the widget can be anything other than a string.

[2020-09-12 14:31] #4293 closed

[2020-09-12 16:44] stefanprobst opened #4294 ""Publish and create new" does not work"
**Describe the bug**

in a folder collection, when editing an entry, clicking "Publish and create new" does not work as expected

**To Reproduce**
1. in a folder collection, add a new entry
2. edit, press "publish and create new" menu button

**Expected behavior**

i had expected the currently edited entry to be saved, a new draft entry created, and the form to be cleared

**Applicable Versions:**

[2020-09-12 20:07] ulises-castro commented on #3492
I desactived the editor_workflow at Gatsby config file, so then It works.

[2020-09-12 20:08] ulises-castro commented on #4285
I desactivated the editor_workflow at Gatsby-config.js so it works now.

[2020-09-12 20:08] #4285 closed

[2020-09-12 21:51] franva commented on #3492
@ulises-castro unfortunately I need the editorial mode...

[2020-09-12 22:14] #2043 closed

[2020-09-13 05:06] robinsingh-bw opened #4295 "Simple editor plugin with markdown field doesnt work"
**Describe the bug**
I have created and successfully registered this editor plugin:
[code]

When creating and editing this custom widget in the Netlify CMS, everything works fine as long as I am entering the text in a single line but as soon as I create a new line in the "text" field or even just make some text bold on the same line, it just breaks. This is what the html looks like when its broken

[2020-09-13 10:50] headapples opened #4296 "Do I need a Custom Widget or is there another Solution?"
I'm trying to create responsive image markup in one click straight from the Netlify CMS UI for a non-technical editor.

 As any HTML is also valid markdown I feel like a custom Widget would do the job nicely. I simply want something that outputs the actual HTML markup but using an image file chosen from the Media gallery as the source. The HTML will also have netlify image transform query paramete

[2020-09-13 11:57] erezrokah commented on #4281
Having real time feedback in the editor would be awesome, however that might a bigger effort than liniting our docs (I think we would need to improve the editor itself first).
I think the first step would be to set up the infrastructure that will allow others to contribute to the docs and your initiative in a structured way.
Once we have a good dev/contribution pipeline we can incrementally increa

[2020-09-13 12:18] erezrokah commented on #4129
Re-opening the issue, thanks @silverwebb925

[2020-09-13 12:23] erezrokah commented on #3227
Setting it to an empty value should write the index file at the top level.

You can use any widget, for example we have an experimental parent widget:
https://github.com/netlify-labs/netlify-cms-widget-parent/blob/d3704ae278436739f04bf47505e694fff5c261d3/example/config.yml#L19

Kind of new, it was used a long time ago and deprecated. Now it's only used for nested collections

[2020-09-13 12:30] erezrokah commented on #4294
@stefanprobst, can you please share a `config.yml` and also the current behaviour. I assume this behaves and expected to behave differently if using/not using editorial workflow.

[2020-09-13 12:31] erezrokah commented on #3492
Can anyone please share the network traffic while the error occurs?

[2020-09-13 12:47] erezrokah commented on #4296
Hi @headapples, if you just need to use it in the markdown editor a custom editor component might do the trick:
https://www.netlifycms.org/docs/custom-widgets/#registereditorcomponent
https://github.com/netlify/netlify-cms/blob/8ad007a1fa5fb766491c4b26b3b951c7d63de7aa/packages/netlify-cms-editor-component-image/src/index.js

[2020-09-13 13:50] timbomckay commented on #3227
Thanks for the response. When I try to create a new page I get this error

I have this configuration

[code]

[2020-09-13 13:50] headapples commented on #4296
@erezrokah Thanks so much for taking the time to actually think about this and reply. I really appreciate it. I'll have a play around with the custom component direction. That second reference you supplied looks especially useful as I hadn't read that yet.

[2020-09-13 13:58] erezrokah commented on #3227
Hmm, maybe I didn't remember correctly, can you try setting it to `/`?

[2020-09-13 16:32] timbomckay commented on #3227
If I open an existing page, such as `/entries/about`, it's set to `/` by default but when I try to publish it says

I'm using the CDN which appears to be pulling in this script:
[code]

Not sure if I need a `beta` version or something.

Thanks for the assistance.

[2020-09-13 16:51] erezrokah commented on #3227
No need for a beta version - how about opening a new issue with a reproduction?

[2020-09-13 17:12] keegan-lillo commented on #3100
What if we do the inverse? Enforce the `fields.foo` format and deprecate the direct access. Developers are already familiar with this format and it would avoid adding prefixes.

So to use your example:

```slug: "{{fields.slug}}{{slug}}"```

What do you think?

[2020-09-14 05:12] timbomckay opened #4317 "Path Meta Field Is Required"
## Describe the bug
Path meta field appears to be required & conflicts with existing path.

## To Reproduce

**New Page**

1. Click `Create New Page`
1. Fill in title, description & body fields (and any other required fields)
1. Click `Publish Now`
1. Error pops up

**Edit Existing Page**

1. Select page from menu to edit
1. Path meta field is prepopulated with `/`
1. Click `Publish Now`
1. Receiv

[2020-09-14 05:13] timbomckay commented on #3227
Issue posted: #4317

[2020-09-14 07:24] erezrokah commented on #4317
Hi @tienpham94, thanks for opening the issue.
The `path` meta field is meant to be used only when setting up a [nested collection](https://www.netlifycms.org/docs/beta-features/#nested-collections).
Are you missing that part in the configuration?
Also `allow_nesting: true` is not a known collection configuration.

[2020-09-14 13:22] timbomckay commented on #4317
Oh ok, I think I got that from erquhart's opening message on the [draft posting](https://github.com/netlify/netlify-cms/issues/3227#issue-562911117). Took it as a way to enable the defaults. Are there defaults for the `nested` configuration? Does it always require at least the depth or can you say `nested: true`?

I've updated [the config](https://github.com/timbomckay/hugo-sandbox/blob/master/sta

[2020-09-14 15:32] silverwebb925 commented on #4129
Of course! I would love to learn how to do this, and if I'd been able to figure it out, I'd have updated the code and done a PR myself.

[2020-09-14 15:53] silverwebb925 commented on #4281
I agree. Which contributors need to be tapped to make decisions about what linter(s) to use and how/where to insert them into the PR process?

[2020-09-14 16:59] erezrokah commented on #4281
How about raising this in our Slack https://netlifycms.slack.com/archives/CPRR9L929?

I'm also good with you submitting a PR with the change - that usually starts a discussion.

[2020-09-14 17:57] StevenDepa commented on #4177
I've seen you have released the fix only yesterday. I tested the update and it doesn't work. The _fieldsMetadata_ value is not empty anymore, but the content goes down only to the related field id, at the end there's no content, so it's useless.

[2020-09-14 18:06] barthc commented on #4177
Not sure I understand the point here. In your case, can you show the console log of the value of your `fieldsMetaData`.

[2020-09-14 18:38] Jursdotme commented on #2001
Is this really not higher on the list? It kinda makes cloudinary useless... I would fix it my self, but i lack the js chops.

[2020-09-14 19:35] AJTJ opened #4318 "Signing into netlifyCMS brings me to "Not Found""
**Describe the bug**
As the title suggests, once I sign into my netlifyCMS through netlify/git-gateway it brings me to the "Not Found" as seen in this screenshot:

![Screen Shot 2020-09-13 at 8 28 12 PM](https://user-images.githubusercontent.com/29932896/93130074-fe9a9d00-f69f-11ea-9ca7-581b0eb3bc43.png)

If I refresh or click `content` or `media` it brings me somewhere useful, but how do I change

[2020-09-14 21:40] silverwebb925 opened #4320 "feat: add linters for Docs as part of PR testing pipeline"
**Is your feature request related to a problem? Please describe.**
Yes: Learning and implementing NetlifyCMS with confidence is very difficult because the Docs lack completeness due to an inconsistent and subjectively validated contribution workflow.
(Please see #4281 for in-depth explanations)

**Describe the solution you'd like**
Implement automated validation (linting) for the Docs as part of t

[2020-09-15 00:45] zephyrz73 commented on #2695
I came across this issue while looking for hosting Netlify CMS on AWS rather than Netlify. I realized there weren’t many tutorials or examples to do that. In case others land on this issue and are wondering the same as me, I wrote a series of blog posts about this during my internship at Pulumi. Please checkout this [post](https://www.pulumi.com/blog/deploying-the-infrastructure-of-oauth-server-fo

[2020-09-15 02:00] ulises-castro commented on #3492
I don't know why, but my blog works now even with editor_workflow. @franva, look at on [My blog repository](https://github.com/ulises-castro/warriorcode)

[2020-09-15 11:58] erezrokah commented on #2695
This is great thanks. Very important resource we were missing.
I assume you're good with this PR https://github.com/netlify/netlify-cms/pull/4319/files (asking since it's not from your GitHub profile while still coming from a pulumi employee).

[2020-09-15 16:19] praneetloke commented on #2695
@erezrokah glad to hear it! I opened the PR on @zephyrz73's behalf just so I can respond to any PR comments not knowing the turnaround time for PR reviews for examples. :)

[2020-09-15 17:03] StevenDepa commented on #4177
My content has a field (multiple) called **events**, which are relation for a collection called **event**, and in this case the event slug is called"**parental-control**, which is the valueField. I'm not able to find other content of the related object, like before.

![fieldsmetadata](https://user-images.githubusercontent.com/11633401/93241464-a76ef800-f785-11ea-8450-b8fc19251812.png)

[2020-09-15 17:23] djfrsn commented on #4177
I've been experiencing the same issue and am using the latest version 2.12.22. I've tested this today after watching this issue progress. The below screenshot shows the values being logged from fieldsMetaData in a custom preview template. The fields being used are two relation widgets with multiple set true.

![fieldsMetaDataExample](https://user-images.githubusercontent.com/2959169/93243395-fd6b7

[2020-09-15 17:26] erezrokah commented on #4177
Re-opening pending further investigation

[2020-09-15 19:37] zlobizlobi opened #4323 "Images from markdown body don't preview in preview pane"
**Describe the bug**

First of all, this issue might exist already and I might be misunderstanding something in the config.

I had a hard time sourcing images from netlify-cms using all kinds of relative path plugins until I realised that there is a beta functionality for specifying relative paths. Amazing!

Now it was up to previewing them in the CMS. I was able to preview the frontmatter image b

[2020-09-15 19:38] AJTJ opened #4324 "Preview Templates are flickering on update"
**Describe the bug**
So, it seems like my preview components in the CMS are flickering, i.e. reloading the images and custom fonts _every time_ I update the component with new copy in the CMS. This ONLY seems to happen when my site is hosted online at https://amazing-almeida-cc9291.netlify.app/ it does NOT come up when I run it locally in the build environment or when I build and serve it locally.

[2020-09-16 05:57] Lester016 commented on #1378
is this still not available? I'm looking for this kind of feature.

[2020-09-16 06:58] stefanprobst commented on #4294
i've created a small repro [here](https://github.com/stefanprobst/netlify-cms-issue-4294)

[2020-09-16 12:44] KancerEzeroglu commented on #4129
Hey @silverwebb925 ,
I have tried all steps before made changes to the document.
I think you get the errors because of the library versions which in the package.json.
Can you share with me your package.json content?

[2020-09-16 14:59] FatGrizzly opened #4325 "Netlify Build fails when I make edit to the cms"
I am using https://github.com/wutali/nextjs-netlify-blog-template After editing the default page,the compile always fails!
**Expected behavior**
It should compile but always fails!
https://app.netlify.com/sites/soundarr/deploys

config.yml
[code]

[2020-09-16 16:23] jerriclynsjohn commented on #2001
Can someone let me know what we should do, this is really a bummer. Cloudinary is currently used just to store images. I'm not able to use any transformations because of this issue.

[2020-09-16 16:38] erezrokah commented on #2001
If someone would like to submit a PR for this it would be great.
See my comment https://github.com/netlify/netlify-cms/issues/2001#issuecomment-617073054 for hints

[2020-09-16 18:51] barthc commented on #4177
I was able to reproduce the issue using string template as `value_field`. I opened another PR for a fix here  #4326

[2020-09-16 18:52] rudiss opened #4327 "TypeError: Cannot read property 'get' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.58`
 - Git provider: `github`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.102 Safari/537.36`

**CMS configuration**
[code]

[2020-09-16 18:52] #4327 closed

[2020-09-17 14:44] nhunghuynhthihong commented on #3492
Same issue :))

[2020-09-17 16:14] cbix opened #4329 "Github backend requires full organization account access"
**Describe the bug**
We want to keep a static site project in a private github repo inside our organization and use netlify-cms for content management. However, the OAuth backend requires full read/write access to all repos of that organization and a more fine-grained selection of grants is not possible.

**To Reproduce**

1. Create a new private repo inside a github organization with restrictive

[2020-09-17 16:38] erezrokah commented on #1656
Closing as stale

[2020-09-17 16:38] #1656 closed

[2020-09-17 16:48] erezrokah commented on #4329
Thanks @cbix, we are currently limited by the available scopes for OAuth apps provided by GitHub:
https://developer.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/#available-scopes

It would be amazing to limit the access to a specific repo, but that's not available at the moment
if GitHub supports has some more information regarding this I would love to know about it.

[2020-09-17 16:55] cbix commented on #4329
Thanks @erezrokah for the quick reply. I had the same issue when evaluating forestry.io so I already considered it an issue with GitHub's API, however with their server-based solution there's the possibility of using deploy keys, which is probably not possible over the web-based API that netlify-cms uses...
Anyway, it's good to hear that you are aware of this and it's not the desired way to go ;)

[2020-09-17 17:10] silverwebb925 commented on #4129
Oh good! I'm actually super glad to hear the error is on my end. Unfortunately I deleted my last attempt out of frustration after capturing that screenshot. I won't make that mistake again, and will circle back today or tomorrow to yet again attempt to build a custom widget based on the docs. I'll let you know how it goes either way and will share the `package.json` if it errors out again.
Lastly,

[2020-09-17 18:12] erezrokah commented on #4129
@silverwebb925, there is a pending fix to that doc:
https://github.com/netlify/netlify-cms/pull/4328/files#diff-71cf0183902b4785a350655ed78e3fb2R335

[2020-09-17 20:02] zephyrz73 commented on #2695
@erezrokah Yeah, @praneetloke will help me out about the rest of the work needed for submitting my code as part of https://www.netlifycms.org/docs/examples/  because of the sad fact that tomorrow will be the end of my internship. @praneetloke is my mentor for the internship and helped me a lot during development.

[2020-09-18 05:20] minyangu-bgl commented on #2676
Pls can we have an update. Otherwise it is super confusing for content auditing.

[2020-09-18 11:57] cbix commented on #4329
Got this response from the GitHub Developer Support:

I guess implementing a server-side GitHub app that provides API tokens to the client-side netlify-cms app means a significant amount of work. Also it seems like GitHub apps behave like a separate user so a big open question is if and how it's possible to a) authenticate a Github user towards the app and b) let the netlify-cms frontend create co

[2020-09-19 12:26] aurony opened #4331 "TypeError: Cannot read property 'childImageSharp' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.19`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.125 Safari/537.36`

**CMS configuration**
[code]

[2020-09-19 12:28] aurony commented on #4331
Error happened after I renamed a Netlify project.

[2020-09-19 12:28] #4331 closed

[2020-09-20 09:37] erezrokah commented on #2676
@minyangu-bgl, can you share your `config.yml` and whether you're using `git-gateway` with GitHub or GitLab?

Looks like we are setting the commit author (information taken from identity):
https://github.com/netlify/netlify-cms/blob/ba18f4a99fcae42caf1b03794e3f4a219d70f016/packages/netlify-cms-backend-github/src/API.ts#L944

But we might need to set the committer:
https://developer.github.com/v3/r

[2020-09-20 09:44] erezrokah commented on #4329
Great follow up @cbix, very good to know GitHub is moving on this.
I think there is a bigger pain here for any programmatic usage of GitHub's API since personal access tokens are also not limited to a specific repo, and creating a GitHub app just to have some GitHub automation is not ideal.

[2020-09-20 15:24] felixboet commented on #852
Thanks @erezrokah to point me here. [Here](https://github.com/felixboet/netlify-cms-widget-colorpicker/) is the color-picker I created based on react-color. [Here](https://colorpicker-widget.netlify.app/#/collections/colors/entries/colors) is the live example

I would propose to not allow as many color-pickers from react-color, as I do now, because some are not working correctly and it would be so

[2020-09-20 15:36] #4177 closed

[2020-09-20 17:30] #716 closed

[2020-09-20 17:30] #4122 closed

[2020-09-21 06:52] nerogari opened #4349 "TypeError: e.get is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.20`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:80.0) Gecko/20100101 Firefox/80.0`

**CMS configuration**
[code]

[2020-09-21 07:43] gustavpursche opened #4350 "CollectionOverview: HTML entities (&shy; &nbsp;) are shown"
**Describe the bug**

`&shy`s are often used to help browsers hyphenate long words, when they break your CSS styles. They shouldn't be rendered in the collection overview, I believe. Since I'm not sure I'd like to ask for direction here. If you agree the titles should be rendered with `dangerouslySetInnerHTML`, I'm happy to make that change.

**To Reproduce**

1. Create a new collection
2. Create

[2020-09-21 08:23] chefcookng opened #4351 "Error loading the CMS configuration"
I am new to netlify cms but ive compared my code with the code of the guide i followed to creating my blog but can't seem to be able to get past this error.
Would any one mind helping?
Thanks.
![netlify cms error](https://user-images.githubusercontent.com/68485536/93745802-08feee80-fbec-11ea-9312-32fae6fe8da3.png)
Above is a picture of the error im facing.
Thanks

[2020-09-21 10:38] erezrokah commented on #4350
Thanks for opening this @gustavpursche, it would be nice to handle this as a part of https://github.com/netlify/netlify-cms/issues/2868#issuecomment-603119488.

[2020-09-21 10:40] erezrokah commented on #4351
Hi @chefcookng, the `pattern` configuration takes an array of `[pattern, error-message]`.
See https://www.netlifycms.org/docs/widgets/#common-widget-options
Closing the issue, please comment if configuring an array doesn't work.

[2020-09-21 10:40] #4351 closed

[2020-09-21 21:32] blairanderson opened #4353 "TypeError: t.get is not a function"
**Describe the bug**

I converted by "body" element type from "markdown" to "code" and made no other changes.

I switched back from code to markdown and it fixed.

My body is written in html which is awkward using the markdown editor

**To Reproduce**

convert a widget from `markdown` to `code`

**Expected behavior**

I should see the html / code editor

**Screenshots**

**Applicable Versions:**

[2020-09-21 21:33] blairanderson commented on #4353
![image](https://user-images.githubusercontent.com/955736/93823913-77a57180-fc17-11ea-89d0-0d39d86c5a9a.png)

[2020-09-21 23:02] Danielgregoire opened #4354 "TypeError: Cannot read property 'nodes' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.16`
 - Git provider: `github`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.83 Safari/537.36`

**CMS configuration**
[code]

**Additional context**

[2020-09-22 02:19] wing5wong commented on #4097
still ongoing issues around this -editor today has made some posts 5 hours ago, then when trying to create a new article is rate limited before even submitting the article.

What else can be changed regarding this? we have already utilised the new API key.
This is the same user every time using the site, so content should be cached correctly, meaning we don't run into this rate limiting beyond her

[2020-09-22 04:57] nerogari commented on #4349
wrong proptype

[2020-09-22 04:57] #4349 closed

[2020-09-22 11:29] erezrokah commented on #4353
Probably related to https://github.com/netlify/netlify-cms/issues/3524

[2020-09-22 15:39] belmarca commented on #857
I am not familiar with the codebase. Where should I look to allow renaming a file prior to upload in the UI?

[2020-09-22 16:39] blairanderson commented on #4353
When creating a NEW post there is no react error on page load.

Filling out a post shows on error on save which says this:

![image](https://user-images.githubusercontent.com/955736/93911588-7297ff00-fcb7-11ea-8406-9c5d0e3db96b.png)

[2020-09-22 19:42] belmarca commented on #1424
Specifying a `false` default as in `- {label: "Noindex", name: "no_index", widget: "boolean", default: false}` does not work for me. I am still forced to click twice on the toggle to make it falsy.

[2020-09-22 20:08] paultannenbaum opened #4355 "Object field "collapsed" not working"
**Describe the bug**
We are using netlify cms in conjuction with Gatsby via the `gatsby-plugin-netlify-cms`. I have tried several variations of using the [Object Widget](https://www.netlifycms.org/docs/widgets/#object)'s property `collapsed` throughout our app and am not seeing any kind of behavior change. For reference I have tried using the List Widget's `collapsed` property, and am seeing that

[2020-09-23 14:34] blackb1rd opened #4356 "i18n: data is not duplicated for default value setting"
**Describe the bug**
when setting **i18n: duplicate** in string widget, the value is not duplicated from the defalut locale if there is a default value setting

**To Reproduce**
1. Setting:
[code]
2. create content without touching the "Author" field(if it was edited, the value will be duplicated).
3. see the non-default locales, there is no  "Author"field.

**Expected behavior**

when setting **i

[2020-09-24 00:16] aholtzman opened #4357 "netlify-cms-app.js.map file is to large for Cloudflare Workers deployment"
**Describe the bug**
When trying to publish a deployment to Cloudflare Workers it fails with

```Error: File `./public/admin/netlify-cms-app.js.map` of 18766797 bytes exceeds the maximum value size limit of 10485760 bytes```

**Applicable Versions:**

 - Netlify CMS version: 2.12.24
- Gatsby version 2.20.25
 - Git provider: GitHub

[2020-09-24 05:46] ShalokShalom commented on #1109
At the current time is Gitlab the only open source solution and that one is slow and I personally dislike it.

The goal of this project is to open source the "CMS for static page" idea and so I think it is important to add choice to the backend.

Really hope this becomes realized.

[2020-09-24 09:06] erezrokah commented on #4357
Closing this as a duplicate of https://github.com/netlify/netlify-cms/issues/3946.
Please see and https://github.com/netlify/netlify-cms/issues/3946#issuecomment-648848394 and solution https://github.com/netlify/netlify-cms/issues/3946#issuecomment-648866212

[2020-09-24 09:06] #4357 closed

[2020-09-24 09:55] erezrokah commented on #1109
Hi @ShalokShalom we would gladly accept a contribution for this. We have one ongoing for Azure:

[2020-09-24 15:27] mikestopcontinues opened #4359 "Github integration should look at branch deploys in addition to commit context"
Preview links are not appearing for me because my CI/CD adds github metadata in the canonical location, but the github integration looks elsewhere.

**Describe the bug**

Currently, the Github integration looks at a commit status's contexts for a deploy url. The thing is, the canonical way to specify a deploy url is using environment deployments. So I think the integration should look at the envir

[2020-09-24 15:58] erezrokah commented on #4359
Thanks @mikestopcontinues, since this was never supported I would qualify this as a feature "Support GitHub Deployments when displaying preview URLs"

I'm don't have any statistics but it seems commit statuses are more widely used for it (based on related issues in this repo).

If you'd like to contribute to this, the place to handle it is here:
https://github.com/netlify/netlify-cms/blob/b0f16359

[2020-09-24 17:50] mikestopcontinues commented on #4359
I'd be happy to! I think I can put together a PR by the weekend.

[2020-09-24 19:23] mikestopcontinues commented on #445
Here's the thing: Without keeping the filename in sync with the slug, it's impossible to look up a single post without parsing the frontmatter of all files in the same collection. E.g., if my app wants the post with slug `what-a-nice-post`, the app needs to load all of the posts into memory. This kinda sucks when used alongside NextJS, which supports incremental static generation as well as increm

[2020-09-24 21:18] lsolesen opened #4360 "Rich Text Editor escapes valid Markdown"
**Describe the bug**

The editor escapes valid markdown used in Jekyll. I have the following Markdown in Jekyll

    *[MY]: My Abbr
    [Link to my post]({% link _post/mypost.md %})

When toggling the Rich Text editor, I end up with the code escaped.

**To Reproduce**

See this diff saved after opening the .md file with the Rich text editor.

https://github.com/motionsplan/motionsplan-dk-jekyll/pu

[2020-09-24 21:21] lsolesen opened #4361 "Cannot get the Netlify CMS to work from Github"
**Describe the bug**

I cannot get the Netlify CMS to work when serving the site from Github itself.

The exact same code works when I go to the Netlify hosted development site, which I have on https://mysite.netlify.app/

**To Reproduce**

1. I have added information to the config.yml be able to access /admin from my Github-hosted site.
2. When clicking on the button, I get the error shown in the

[2020-09-24 21:24] lsolesen opened #4362 "Indication on what changed in the editorial workflow"
**Is your feature request related to a problem? Please describe.**

It would be great if there were some sort of indication on what changed, when reviewing a file in the editorial workflow. You can right now just see a file has changed.

**Describe the solution you'd like**

It would be great if there was some sort of colors like when reviewing a pull request, so it is possible to see what changed

[2020-09-24 21:24] mikestopcontinues opened #4363 "Default value on file collection string field fails"
**Describe the bug**

I have a string field with a default value on a file in a file collection that doesn't get populated, while an identical config works in a folder collection.

**To Reproduce**
[code]

**Expected behavior**

I expect the default value to apply.

**Applicable Versions:**

Most recent everything.

**Additional context**

I'm manually initializing, and doing my config in JS.

[2020-09-25 02:48] #4098 closed

[2020-09-25 02:49] henval2020 commented on #4098
Seems like it's just some misconfiguration on our part. Thanks. Fixed after using {{slug}} instead of the field {{en}}
Closing this issue. Thanks again.

[2020-09-25 04:21] henval2020 opened #4364 "Custom preview dynamic css file"
** Feature

Would it be possible if there would be multiple templates like this one (from one-click-hugo-cms)
![image](https://user-images.githubusercontent.com/64128179/94226399-1be62b80-ff2a-11ea-94e2-56a3497b3571.png)

To have their own respective css. Right now it was implemented like this
CMS.registerPreviewStyle(styles, { raw: true });
Where it can only use one CSS for all templates.

So if

[2020-09-25 07:17] tomrutgers commented on #4363
A bit of background as to why this isn't working: The default value of a widget is only set upon creation and as a file in a file collection isn't created through the CMS, the default value can't be set. Default values only work with folder collections.

[2020-09-25 15:10] nolafs opened #4365 "API_ERROR: tree.path contains a malformed path component"
Hi,

I am having issue with online version of the CMS. My collection works prefectly fine in my local development enviroment but once online, the cms is throwing an error when saving a new item to the collection

**Failed to persist entry: API_ERROR: tree.path contains a malformed path componen**t

[code]

I need the following folder structure:

- find-a-clinician
   - slug
        - index.md

**E

[2020-09-25 17:57] mikestopcontinues commented on #4363
Maybe a good solution is to have the CMS create the files in a file collection? It's a bit of a pain that it doesn't anyway.

[2020-09-26 00:08] stramel opened #4367 "Published version of `netlify-cms` using `eval()`s"
**Describe the bug**

`netlify-cms` is utilizing `eval()` in the published code. Usage of `eval()` is generally frowned upon. It also doesn't seem like `eval()` is necessary in the majority of its usages.

I noticed one usage of `eval(str)` which is also frowned upon. https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/eval#Never_use_eval!

**To Reproduce**

1. Go to h

[2020-09-26 13:47] mikestopcontinues commented on #2209
@SachaG any news on this?

[2020-09-27 18:07] andre-brdoch opened #4369 "Allow creating relation content "on the fly""
**Is your feature request related to a problem? Please describe.**
Let's say the blog collection has a **required relation** to the author collection, and there are no authors created yet. If an editor wants to create a blog article, he might fill out the hole thing, just to find that he also must set an author. But he can not select any, since none was created yet. Since the author field is requi

[2020-09-28 06:55] erezrokah commented on #4361
Hi @lsolesen, do you mind adding the missing parts from the issue template?

[2020-09-28 06:57] erezrokah commented on #4362
Closing as duplicate of https://github.com/netlify/netlify-cms/issues/2735

[2020-09-28 06:57] #4362 closed

[2020-09-28 07:01] erezrokah commented on #4364
Thanks for reporting @henval2020, since we're passing the frame `window` and `document` as props:
https://www.netlifycms.org/docs/customization/#registerpreviewtemplate

Could you dynamically add the styles in each component?

See an example here:
https://github.com/netlify/netlify-cms/issues/4142#issuecomment-674505811
https://github.com/erezrokah/netlify-cms-reproductions/blob/d9300a4e970aa47dc4

[2020-09-28 07:17] erezrokah commented on #4365
Hi @nolafs do you mind sharing the entire `config.yml` or at least the fields configuration for that collection?

[2020-09-28 07:46] erezrokah commented on #4369
Thanks @andre-brdoch, I think this relates to https://github.com/netlify/netlify-cms/issues/192.
Should we close this issue in favour of that one?

[2020-09-28 09:12] erezrokah commented on #4367
Thanks for raising this @stramel.

Looks like:

Is coming from https://github.com/iarna/iarna-toml/blob/1374bf2f151aa23e32fecadceb49d4411c9b7adf/lib/toml-parser.js#L178

Is coming from https://github.com/jonschlinkert/gray-matter/blob/8a22958e0afd4b2e09c705becec1c35e76c4f0ee/lib/engines.js#L43

Is coming from https://github.com/emn178/js-sha256/blob/189bb9b03782b80e59516dfbea78f16b5d9754ce/src/sha

[2020-09-28 13:20] nolafs commented on #4365
It seems to be fixed. I believe netlify build had an old version cached of the CMS. After I cleared and double checked the version number in packages.json, the error went away. Thanks for looking into it.

[2020-09-28 13:21] erezrokah commented on #4365
Thanks for following up!

[2020-09-28 13:22] KancerEzeroglu commented on #3242
Does someone work on that? If not, I would like to work on it.

[2020-09-28 13:32] KancerEzeroglu commented on #2299
I would like to work on that. Do you have any further explanation or recommendation to start?

[2020-09-28 13:46] erezrokah commented on #2299
Thanks @KancerEzeroglu, I'm not sure if this is still an issue. Our Gatsby's guide recommends using relative media folders:
https://www.netlifycms.org/docs/gatsby/#configuration
which in that case, the media files should be processed by Gatsby.

Regardless, this issue can be done as a part of of https://github.com/netlify/netlify-cms/issues/857

[2020-09-28 13:46] #2299 closed

[2020-09-28 18:30] adamjkb opened #4385 "Map widget doesn't show map inside list widget"
**Describe the bug**
Map widget doesn't load map inside a list widget whenever there is already a value entered.

**To Reproduce**
1. Create `list` widget containing a `map` widget
2. Define a point on a map and publish page
3. Load up published page, open widget

**Expected behavior**
Map widget loads map

**Screenshots**

<img width="839" alt="image" src="https://user-images.githubusercontent.co

[2020-09-28 19:30] lsolesen commented on #4361
@erezrokah Is it sufficient?

[2020-09-29 10:21] erezrokah commented on #4361
Thanks @lsolesen, I think it just might be sufficient.
Can you verify you've done the first step about setting up an authentication provider here:
https://www.netlifycms.org/docs/github-backend/

[2020-09-29 10:35] cbix opened #4386 "i18n: support "duplicate" setting on list fields"
Currently, list fields only support `i18n: true` and `i18n: false`. For many cases (like a picture carousel) the content needs to be the same among all locales, where `i18n: duplicate` would make sense.

Possible workarounds are using a relation widget and storing the content in a separate collection or setting `i18n: false` and fetching it from the default locale manually. This is less intuitive

[2020-09-29 10:46] erezrokah commented on #4386
The challenge here was to mirror the widget behaviour in the side by side editor, so it was postpone as a part of the original PR.

[2020-09-29 14:41] thissammarshall opened #4387 "CMS allows user to delete a 'required' image and breaks build"
**Describe the bug**

I have created a CMS for a client with an image field that is required. If the client attempts to edit an existing CMS entry they are able to delete that required image and click update without the CMS warning that field is required.

**To Reproduce**

Add a list of images and mark field as required. Upload a CMS entry, edit the entry, delete the image, click update

**Expect

[2020-09-30 07:28] cbix commented on #4386
I just realized that even other widgets are not storing anything in my frontmatter with `i18n: duplicate` so I need to deal with fetching data from the default locale anyway.
Which makes this purely a netlify-cms frontend issue.

[2020-09-30 07:38] barthc commented on #4386
The `duplicate`  flag should work for other widgets, can you show your config?

[2020-09-30 08:08] cbix commented on #4386
@barthc Ah, you're right, it does work. I probably messed something up by changing a field form `i18n: false` to `i18n: duplicate` and of course the field didn't magically get added in the translated markdown file ;)

[2020-09-30 11:04] lsolesen commented on #4361
I have done that step?

[2020-09-30 14:23] cbix commented on #4386
@barthc Ok I figured out the `hidden` widget doesn't work with `i18n: duplicate` which is kinda crucial for my case to work because editors are supposed to create pages in different collections that get built using different templates.
Versions are netlify-cms-app 2.12.24 and netlify-cms-core 2.30.7 and I'm testing with netlify-cms-proxy-server.

My config.yml:
[code]

After creating a new page in

[2020-10-01 03:55] Daeruin commented on #4360
I am also experiencing this behavior in Netlify CMS 2.0.0 with Bitbucket on MacOS Catalina using Chrome 85.0.4183.102.

[2020-10-01 04:05] charlesjkwanin opened #4388 "TypeError: s is undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.19`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:81.0) Gecko/20100101 Firefox/81.0`

**CMS configuration**
[code]

[2020-10-01 04:06] charlesjkwanin commented on #4388
What is happening here?

[2020-10-01 04:06] #4388 closed

[2020-10-01 07:57] DLevai94 opened #4389 "Netlify CMS v3 Hacktoberfest"
Hey y'all,

I thought [Hacktoberfest](https://hacktoberfest.digitalocean.com/) would be an awesome opportunity to contribute to the new version of Netlify CMS.

This one: https://github.com/netlify/netlify-cms/issues/2557
Dedicated branch: https://github.com/netlify/netlify-cms/tree/future/v3
Project: https://github.com/netlify/netlify-cms/projects/9

I'd be pretty happy to help develop it and I t

[2020-10-01 13:15] KancerEzeroglu commented on #3242
Hi,
I have a question to understand the requirement clearly and be on the same page with you.

Our posts look like that:
[code]
When I debug the code, I saw we have a **custom** path and **default** path.

With this change, as I understood, when we give the same file name, we should show it in different folders.
Like this:
[code]

So if I want to use a custom path like that:
[code]

So I have to m

[2020-10-01 16:29] NathanSkene commented on #1816
I also had the "Failed to persist entry" error when I switched to using an organisational repo. The quoted link also solved it for me. Thanks!

[2020-10-01 17:07] blackb1rd commented on #4386
It's a same issue.

Workaround is to change hidden widget to string widget and also remove default settings value. Then input "content-page" into the string widget.

[2020-10-01 18:03] codeitlikemiley opened #4390 "Failed to persist entry: API_ERROR: "params.entry" is required"
Hi Im Using Netlify CMS local Proxy Server on my project....

Ive wanna update and add features to it , but

i keep getting error

Failed to persist entry: API_ERROR: "params.entry" is required

Prior months i dont have issue on this....

I dont know if there is a breaking changes that is not mentioned on the documentation....

or its me thats do something wrong...

so,  i keep rolling back to old

[2020-10-01 18:18] Chevindu commented on #2800
@erquhart  I'm not sure how that can be used to achieve what the OP suggested (bind to more than one value field). [Documentation](https://www.netlifycms.org/docs/widgets/#relation) reads:

I still feel lost on how to implement something like `value_field: ["firstname", "lastname"]`.

My use case is that, if the CMS could support binding 2 fields of the selected relation, relevant template has acc

[2020-10-01 22:53] adrian5 commented on #3242
Hi Kacer,

I'm preoccupied with other things at the moment and haven't interacted directly with NetlifyCMS for a while now, so I'm afraid I can't give any valuable insight.

Assuming NetlifyCMS hasn't changed the default approach, the change should apply _only_ to those cases where the user specifies the `path` variable (for folder collections). Without that, the files are stored as always (`test`

[2020-10-01 23:32] barthc commented on #4390
@codeitlikemiley this error shouldn't surface unless you are not using the latest version of the `netlify-cms-proxy-server` package. Not sure how you are setting up the proxy server,  according to [docs](https://www.netlifycms.org/docs/beta-features/#working-with-a-local-git-repository)  re-run `npx  netlify-cms-proxy-server` should setup the latest version of the proxy server package.

If a re-ru

[2020-10-02 00:01] codeitlikemiley commented on #4390
I vendor lock my netlify-cms-proxy-server in my package.json file....
totally make sense now what this is happening...
I know the only problem here is the proxy server since the production site is working smooth....

Its very important to version lock both proxy and the netlify-cms cdn both having same version...
i know the proxy server is on beta but it worth to note this topic since i think majo

[2020-10-02 00:36] barthc commented on #4390
Upgrading the `netlify-cms-proxy-server` package to the latest version(1.3.6) in your package.json should be enough.

https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js

You would have to compile it yourself, take a look at the manual initialization sample here https://www.netlifycms.org/docs/beta-features/#manual-initialization

[2020-10-02 17:23] KoljaTM commented on #1480
I'd like to try my hand on this one

[2020-10-02 18:08] JoseRFelix commented on #4389
Definitely would love to help with this! Is there an issue you can recommend me to get started?

[2020-10-02 23:12] Vlad412 commented on #4389
Hello !
Same as @JoseRFelix

[2020-10-02 23:37] keenanpayne opened #4393 "Custom paths for deploy preview links not working as expected"
**Describe the bug**
First, I'm not sure if this is a bug or if this is intended. Perhaps I'm doing something that is unintended for the deploy preview links feature.

I'm using a combination of [Eleventy](https://www.11ty.dev/) and Netlify CMS to create a content management solution. I have a collection of content that allows for a [custom permalinks](https://www.11ty.dev/docs/permalinks/) page-b

[2020-10-03 00:36] codeitlikemiley commented on #4390
I think using the compiled version litterally has some benefits in performance since you wont be reading any yml file?
Hope i can migrate 3k lines of code from my config.yml

can you suggest a service that can easily trans-pile yaml to json?
that would be a time saver...

thanks for help

[2020-10-03 17:05] magomimmo commented on #3415
Hi @erezrokah,
is there any news on this issue? We're very close to deliver the project to the client, but this issue is so severe that will stop the delivery. If I remember well you're working on it.

My best

[2020-10-03 19:53] KoljaTM commented on #3421
Alternatively this could be done with the formatting suggested in #3677, something like displayField: "{{title}} {{published | date('YYYY-M-D')}}

[2020-10-04 07:08] erezrokah commented on #2800
Hi @Chevindu, you could use `value_field: {{fields.firstname}}____{{fields.lastname}}` to create a value based on more than one field.

[2020-10-04 07:40] KoljaTM commented on #4389
As an fyi https://hacktoberfest.digitalocean.com/hacktoberfest-update
tl;dr: In order to be eligible for hacktoberfest, the repo must have a "hacktoberfest" topic. This was added to avoid spam PRs.

[2020-10-04 08:07] erezrokah commented on #4393
Thank you for reporting this issue @keenanpayne, this is intended as template variables are sanitised:
https://github.com/netlify/netlify-cms/blob/89848e034451baed52fb8911d3778a2f469462f8/packages/netlify-cms-core/src/lib/formatters.ts#L176

You could try:

[code]

Or

[code]

[2020-10-04 08:15] erezrokah commented on #4390
Hi @codeitlikemiley, and thanks for responding @barthc.

The guarantee for `netlify-cms-proxy-server` is for it to be backwards compatible with older CMS versions, not forward compatible.
You can pin the CMS version by using `https://unpkg.com/netlify-cms@2.10.61/dist/netlify-cms.js` for example or by installing from npm:
https://www.netlifycms.org/docs/add-to-your-site/#installing-with-npm

In bo

[2020-10-04 08:15] #4390 closed

[2020-10-04 08:19] erezrokah commented on #3415
Hi @magomimmo, no progress so far. I had to shift focus to other issues.

[2020-10-04 08:20] DLevai94 commented on #4389
@KoljaTM that's why I created this issue, to draw the maintainers' attention, hoping, they'll find this a good idea too.

[2020-10-04 08:34] erezrokah commented on #3242
Path handling in the CMS is quite complicated.
I would suggest that before making any code changes, we decide in which cases we should index the filename and in which cases we should index the directory name and how to infer those based on the configuration.
Custom path is quite new and related to the nested path feature allowing user to manually edit entry paths.

[2020-10-04 08:50] erezrokah commented on #4389
I'm good with giving this a try. We can always opt out if it gets too spammy.
For UX specific issues see https://github.com/netlify/netlify-cms/projects/9

[2020-10-04 11:45] KoljaTM commented on #4387
I think this should be adressed by
maximum and minimum number of items in the list widget #1480
by setting the minimum number of images in the list

[2020-10-04 15:34] KoljaTM commented on #4291
How about something like the displayFields property used in the relations widget, that would specify what would be displayed in the collapsed state.

[2020-10-04 21:32] zlobizlobi commented on #4323
Solved by using netlify-cms' `getAsset` function to change the `src` of the image shortcode in the `components` scope of `@mdx-js/runtime`'s `MDX` provider.

[2020-10-04 21:32] #4323 closed

[2020-10-04 22:12] jcoryalvernaz commented on #4323
@zlobizlobi Do you have an example of this somewhere? Trying to solve a similar problem. Thanks for posting the issue!

[2020-10-05 00:04] stevenmilstein commented on #3934
Perhaps another option is to allow for Comments in the Workflow process.

As a workaround, when a document is in Draft/Review, I add a Comment and/or GitHub Issue# from it's GitHub Pull Request.

[2020-10-05 06:39] lomby92 commented on #1289
Is still a required feature? In that case, I could work on it

[2020-10-05 08:05] erezrokah commented on #1289
Thanks @lomby92, I assigned you to the issue. Please let me know if you need anything from the maintainers to get started.

[2020-10-05 12:11] moritzsalla opened #4412 "Email signup link opens landing page instead of Netlify backend on Safari"
There is no way to properly sign up if Safari is set as the standard browser. Copying the link URL and pasting it into Firefox or Chrome will trigger the signup interface.

**To Reproduce**
1. Add email address to netlify identity tab
2. Upon receiving the signup email, click the "Accept the invite" link
3. If Safari is set as the standard browser, the signup interface won't open, and the page ind

[2020-10-05 12:14] erezrokah commented on #4412
Hi @moritzsalla, Netlify CMS uses the Identity widget for the signup flow. Would you mind opening this issue here https://github.com/netlify/netlify-identity-widget?

[2020-10-05 12:33] #4412 closed

[2020-10-05 13:49] zlobizlobi commented on #4323
@jcoryalvernaz Hey man! Herewith the code snippet, I am adding a custom image component in the mdx shortcodes right where I pass them to the Provider, which is in the PreviewTemplate that I use for netlify-cms:

[code]

[2020-10-05 14:48] antoineclarose opened #4415 "Prompt author for custom commit message on publish"
**Problem**
Users have no chance to give their commits a custom message.
A simple real-world use case is the following:
Large non-tech teams using the netlify-cms need some way to tie their content edits to a ticket.
The commit message templates beta feature from [https://www.netlifycms.org/docs/beta-features/#commit-message-templates](https://www.netlifycms.org/docs/beta-features/#commit-message-

[2020-10-05 15:02] chriskirknielsen opened #4416 "i18n: Add a folder structure option where locale is the root"
Currently, internationalisation options allow us to store localised files in three structures:

- `multiple_folders` - persists files in `<folder>/<locale>/<slug>.<extension>`
- `multiple_files` - persists files in `<folder>/<slug>.<locale>.<extension>`
- `single_file` - persists a single file in `<folder>/<slug>.<extension>`

**Would there be an interest in adding an option such as `locale_folder

[2020-10-05 15:40] antoineclarose commented on #4415
@erezrokah Thanks for checking this one out. If we want to go for this, how can I get started on it? Any pointers as to which file to trigger it and when to prompt for it?

[2020-10-05 17:10] jcoryalvernaz commented on #4323
@zlobizlobi Awesome! This worked for me...thanks for the help!

[2020-10-05 19:45] jsl15c opened #4417 "Broken Netlify CMS due to Github master branch name change to "main""
When a branch is not specified in config.yml, Netlify defaults to using _master_ branch of repo.  Due to recent name change of master branch to _main_ , this creates an _API_ERROR: cannot find branch_ in CMS when publishing entries and 404 errors on initial CMS load.

**To Reproduce**
1. Create a new repo and project utilizing Netlify CMS, `netlify-cms-app` .  I used gatsby.js for my project.
2. S

[2020-10-05 19:54] jsl15c commented on #4294
@stefanprobst I see that `branch` is not specified in `config.yml`.  Netlify CMS still defaults to `master` branch, so you have to specify:
[code]

[2020-10-05 19:56] tomrutgers commented on #4417
You'll have to set a branch manually if you want to use something else than master:
[code]

[2020-10-05 19:59] jsl15c commented on #4417
@tomrutgers I realize that, but I figured it may be good to add logic to handle this change in Githubs default naming conventions

[2020-10-05 20:00] stefanprobst commented on #4294
@jsl15c i think when running locally with `netlify-cms-proxy-server` the branch name should not matter? i'll check, thanks!

[2020-10-05 20:06] tomrutgers commented on #4417
I see, thanks for clarifying!

[2020-10-05 22:14] blairanderson opened #4419 "WYSIWYG editor that outputs HTML instead of Markdown"
**Is your feature request related to a problem? Please describe.**

it is common for jekyll (and other static generator) sites to use html as body format instead of markdown.

![markdowhtml](https://user-images.githubusercontent.com/955736/95137564-389a1480-071d-11eb-9d8a-9ade521d85ef.png)

I would like to configure the body widget to use an HTML WYSIWYG editor, instead of a markdown WYSIWYG. Wher

[2020-10-06 00:52] keenanpayne commented on #4393
@erezrokah Wonderful, thank you so much for clarifying, providing a link to where these strings are sanitized in the source code, as well as two examples of how I might approach a workaround. I really appreciate it.

I'll close this out 👍🏻

[2020-10-06 00:52] #4393 closed

[2020-10-06 07:30] nicco88 opened #4422 "TypeError: e.get is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**
Wanted to produce an array of texts / strings, using the markdown widget

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.11`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.121 Safari/537.36`

**CMS config

[2020-10-06 08:06] erezrokah commented on #4422
Hi @nicco88, can you please fill in the missing parts in the issue template (`Describe the bug`, `To Reproduce`, `Screenshots `)

[2020-10-06 12:36] codeitlikemiley opened #4424 "Is it Possible to Add Custom Navbar menu?"
Is there a way We can Add Custom nav bar menu?

Would appreciate if someone can point to right direction thanks

[2020-10-06 13:29] nicco88 commented on #4422
Sorry, I wasn't sure what was the bug produced by either, however, I was able to solve by changing the config into the following config and it worked:

[code]
So I'm closing the issue.

@erezrokah thank you for checking out anyway :)

[2020-10-06 13:29] #4422 closed

[2020-10-06 20:08] akatamreddy-cs commented on #4415
This would be a nice feature

[2020-10-06 23:46] nealpage opened #4425 "TypeError: Cannot read property 'visible' of undefinedTypeError: Cannot read property 'visible' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.19`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.121 Safari/537.36`

**CMS configuration**
[code]

[2020-10-07 01:53] goldcoders opened #4426 "Error loading the CMS configuration , even if it is disabled in config"
Hi I would like to know why im getting this behavior only on production?

I purposely remove my config.yml file and instead build together with netify cms

I tried using this on local i have no problem

even the production build on a local hugo site has no problem referencing it locally

but then for production site at netlify i keep getting 404 not found but if you check the link the main.js is l

[2020-10-07 03:26] stramel commented on #4367
Ah, yeah. Probably no issue here with it. I will see if I can bring it up with other packages to remove the usages. Thank you for looking into it.

[2020-10-07 03:26] #4367 closed

[2020-10-07 08:10] erezrokah commented on #4415
Thank for you opening this request @antoineclarose.

The CMS UI has been very much about hiding git specifics from editors/users (some backends are not even git based like the test backend and local backend in file system mode). Not sure we would like to break that pattern.

Any git related configs are done via the `config.yml` by the developer.

Personally, I think showing a commit message on eac

[2020-10-07 08:37] erezrokah commented on #4425
Hi @nealpage can you please fill the missing information from the issue template?

[2020-10-08 04:16] eliaslebid opened #4428 "Reflect data from template to preview"
**Is your feature request related to a problem? Please describe.**

I have a resizable grid inside my CMS template, where I'm uploading a set of items from the field, when I'm moving its items inside preview template it's changing items coordinates, I would like to snapshot it directly to some field of the markdown, so I can save it and display these changes of the grid on my page. How can I make

[2020-10-08 05:20] goldcoders commented on #4426
Ive fixed this issue by moving the this line of code to a separate script tag
[code]

[2020-10-08 05:20] #4426 closed

[2020-10-08 05:30] goldcoders opened #4429 "Is it Possible to Save To Local Repo Instead of Remote ?"
The Way Netlify CMS work on live site, is it make push to the remote repo...
Its Ok but If The Build Time of the Repository is 1 min... Its Kinda Slow
To Deploy Site and See changes and wait for 1 min...

I have another built a wrapper on hugo site using netlify-cms and netlify-cms-proxy...
Which allows you to use cms easily updating locally...

Its cool, but I needed it to make a git commit every

[2020-10-08 11:12] jstortoise opened #4430 "TypeError: Cannot read property 'nodes' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.9`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.121 Safari/537.36`

**CMS configuration**
[code]

[2020-10-08 11:20] #4430 closed

[2020-10-08 11:48] PetroPavlenko opened #4431 "Load other collection in registerPreviewTemplate"
Hi all,
Is it possible to load other collocation (like header configuration) inside registerPreviewTemplate
?

[2020-10-08 11:51] erezrokah commented on #4431
Hi @PetroPavlenko, can you please follow the issue template? It is hard for me to understand what is your use case.

[2020-10-08 11:55] PetroPavlenko commented on #4431
Sure. Sorry it's more like feature than issue, I'll fill issue template.

[2020-10-08 15:35] erezrokah commented on #4429
Hi @goldcoders, you can run the local proxy server in `git` mode:
https://github.com/netlify/netlify-cms/blob/277a1519bed31145910a67e22e0f51c46e8e2006/packages/netlify-cms-proxy-server/src/index.ts#L21

`MODE=git npx netlify-cms-proxy-server`

It's still very experimental (and needs a repo with no pending changes), but it will generate a local commit on each save.

Another options is to set up a s

[2020-10-09 07:49] PetroPavlenko commented on #4431
@erezrokah here it is
**Describe the problem**
Access different collection inside `CMS.registerPreviewTemplate`. I would expect it to be like this:
So if we have blog collection and header collection, it would be nice to have something like this
[code]

[2020-10-09 11:54] KancerEzeroglu commented on #3242
I did some tests to understand the requirement better.
I've changed the config file and add a `path` to try to custom path.

- First I set a new path as `folderA`
- Then add a file named `test`.
  => Then.. It is written to this `path` : `/collections/posts/entries/folderA/2020-10-09-test`
- Then add a file with the same name `test`
  => `path`: `/collections/posts/entries/folderA/2020-10-09-test-

[2020-10-09 12:18] KancerEzeroglu commented on #336
Hi,
I created a file with the title as `test` and I got this URL:
collections/posts/entries/folderA/2020-10-09-test
And then I've changed the title to `glass` and I got the same URL.

I think we can close this task as it invalid.
@erquhart WDYT?

[2020-10-09 12:59] KancerEzeroglu commented on #3614
Hi,
I would like to work on that issue.
If you have a good place to start, any advice or direction is welcome 😄
@erezrokah

[2020-10-09 13:28] KancerEzeroglu commented on #2676
@erezrokah If nobody is working on this issue, I would like to work on this.

[2020-10-09 19:20] jaarong commented on #2001
Might want to fix the documentation in the meantime. I've apparently chased my tail on a feature that doesn't exist.

[2020-10-10 01:48] goldcoders opened #4434 "Image Shortcode is missing forward slash when creataing a markdown"
Let say we create a new page  for a blog, then go to markdown/html editor and pick component...
There are a bunch of preloaded component one of which is image...
Other component i have created it... Either i wanna remove that Component shortcode that is added automatically (IMAGE)
or modify it, but i can find in the repo where it is being used, since the current repo is a big legacy code, some are

[2020-10-10 02:18] goldcoders commented on #4434
Is is possible to not include it on the netlify cms?

[code]

i dont like the default behaviour ive created another component widget but it has different  name i cant overwrite the default set by netlify

[2020-10-10 02:26] goldcoders commented on #4434
i opted out modifying this, and just modify my markdown on hugo markup for render-image

[2020-10-10 02:26] #4434 closed

[2020-10-10 02:53] goldcoders commented on #4069
hi can you give an example how to achieve this, i really wanna implement removing the images

there is a deleteMedia commit type , the available template tags are  path, author-login, author-name

[code]

what are the available method with entry? im thinking if there is set and get, would there be also delete?

[2020-10-10 03:26] goldcoders commented on #4069
Ive read the code , there is no deleteFolder only deleteFiles...

This is ok on normal set up , but if you manage per folder page collection...

then this wont really  work, there are artifacts left like images, and the folder itself...
only the index.md file is remove ,

I mean i can add to path all the images , since i can get it in resources key
then loop on and get the link then push it to pat

[2020-10-10 03:58] TasTing opened #4435 "Cloudinary is not working properlly with blogs feature image"
**Describe the bug**
Image from cloudinary not showing in feature image section,
it works properlly in blog's content section

**To Reproduce**
1. create new blog.
2. insert image from cloudinary for both feature and content.
3. return to blog list page.

**Expected behavior**
an article with feature image should have a thumbnail
[code]

**Screenshots**
![capture](https://user-images.githubusercon

[2020-10-10 11:32] felixboet commented on #852
Here is [my proposal for the color widget](https://github.com/felixboet/netlify-cms/tree/852-Color-Widget), suggestions and feedback welcome!

I added two options:

- "disableAlpha" (defaults to false) to hide the alpha slider in the color picker
- "editable" (defaults to false) so by default you can just use the color picker to prevent input of invalid color strings in the string field.

 ... but

[2020-10-10 11:42] felixboet commented on #852
maybe better to disable alpha by default / change to "enableAlpha"?

[2020-10-10 15:16] felixboet commented on #852
found the proposal "allowInput" by erquhart above, sounds good for me

[2020-10-10 16:01] mikestopcontinues opened #4436 "Github GraphQL API is missing editorial workflow `timeStamp`"
**Describe the bug**

The Github GQL backend doesn't pull the PR update time to populate the entry `timeStamp`, so the workflows page shows `invalid date` on all PRs.

#3445 was merged to fix this issue across a number of backends, but the GQL API wasn't included.

**To Reproduce**
Just enable the github GQL api. The data isn't being requested, nor passed to the workflow components.

**Expected be

[2020-10-11 03:56] TasTing commented on #4435
Well, I've found a way to fix this..
because default blogs were using image as image type. I had to remove all default use of images
then modify graphql query to remove all subfield of image. because after we use cloudinary, the image becomes a string link to cloudinary.

build locally with ```netlify build``` to check before deploy will save a lot of time.

[2020-10-11 09:08] #4129 closed

[2020-10-11 09:08] erezrokah commented on #4129
Fixes via https://github.com/netlify/netlify-cms/pull/4328

[2020-10-11 09:30] erezrokah commented on #4431
If you link those via a `relation` widget you can use:
https://www.netlifycms.org/docs/customization/#accessing-metadata

[2020-10-11 09:38] erezrokah commented on #336
Hi @KancerEzeroglu, thank you for looking into this.
I think the issue here is that some build processes look at the title instead of the filename thus will generate a different URL.

However I think this is out of scope of the CMS and is better handled by something like:
https://github.com/sw-yx/netlify-plugin-no-more-404

as doing so during the build process is more robust.

Closing the issue pe

[2020-10-11 09:38] #336 closed

[2020-10-11 09:40] erezrokah commented on #3614
Hi @KancerEzeroglu, I think we could start by configuration only groups and as a second iteration infer groups automatically.
You can mode this after https://www.netlifycms.org/docs/configuration-options/#view_filters if you think that makes sense.

[2020-10-11 09:43] erezrokah commented on #4365
@nolafs can you follow up on my comment since you re-opened the issue? Also please share the CMS versions as shown in the browser console logs

[2020-10-11 10:24] erezrokah commented on #4435
Closing this as resolved. Please comment if still needed

[2020-10-11 10:24] #4435 closed

[2020-10-11 10:43] erezrokah commented on #852
Do you mind opening a PR? This way it will get more visibility. You can keep it as draft until it's ready.

`netlify-cms-widget-color-picker`?

[2020-10-11 11:53] felixboet commented on #852
@erezrokah done, anything to do to mark it as a draft?

[2020-10-11 11:57] erezrokah commented on #852
Thanks @felixboet, this is a small link to do it:
![image](https://user-images.githubusercontent.com/26760571/95677979-0f243180-0bd2-11eb-88e2-9fc691fd13bb.png)

I went ahead and clicked it for you 😄

[2020-10-11 14:02] #4320 closed

[2020-10-11 18:09] dreampulse commented on #3102
I found the deployed storybook here: https://storybook.netlifycms.org/

[2020-10-12 03:54] sumanthyedoti opened #4455 "Guide to implement own authentication system."
If I don't want to use Netlify's Identity(*as I am not hosting the website on Netlify*) or Github/GitLab's oAuth, and I want to implement a simple Auth system for Netlify CMS just to authorize content editors, how to do that?

Please suggest any alternatives to achieve this. Thanks.

[2020-10-12 07:47] PetroPavlenko commented on #4431
Thanks, I'll try that

[2020-10-12 07:47] #4431 closed

[2020-10-12 09:13] somdoron commented on #4112
what was the solution?

[2020-10-12 09:59] #1289 closed

[2020-10-12 10:33] #3581 closed

[2020-10-12 10:56] erezrokah commented on #4455
Hi @sumanthyedoti, please see https://www.netlifycms.org/docs/external-oauth-clients/ and the Pulumi blog post here https://www.netlifycms.org/docs/examples/

Closing as I believe we have sufficient content in our docs. Please comment if those examples do not solve your use case.

[2020-10-12 10:56] #4455 closed

[2020-10-12 10:56] pchorus commented on #4112
There is a new option `mode` for markdown widgets taking an array of allowed values `raw` or `rich_text`. Please see [Docs](https://www.netlifycms.org/docs/widgets/#markdown) for more information.
If you allow only one of both, the toggle does not appear in the ui.

[2020-10-12 13:22] KancerEzeroglu commented on #3614
Hi,

I will start to add a new configuration for groups.
In the config file, it will look like that:

[code]
If you add this attribute in your config file, then we'll show a 'group by' filter.
And the user can group items as she/he wanted.

Assume you added these posts:
[code]

When you group by Country you will see these posts as below:

--- Country: USA ---
postA
postB
postC
--- Country: Netherl

[2020-10-13 17:45] erezrokah commented on #3614
Maybe we can add an optional pattern to extract the value e.g.
[code]

WDYT?

[2020-10-14 09:05] KancerEzeroglu commented on #3614
@erezrokah it makes sense theoretically. I'm working on that.

[2020-10-14 10:20] zapic0 opened #4459 "Allow nesting collections"
This feature request is closely related to https://github.com/netlify/netlify-cms/issues/2056 but I think it's not exactly the same.

I want users to be able to create new pages of the same type (let's say "offices") inside others that should be dynamically created too (countries for example).

So I want users to be able to create new countries with new offices inside:
[code]

I want to let my use

[2020-10-14 18:00] erezrokah commented on #3242
Thank you for looking into this @KancerEzeroglu. I think there is no easy way to solve this use case without a more generic mechanism to control sluggification.
I think we can close this in favour of https://github.com/netlify/netlify-cms/issues/445, WDYT?

[2020-10-14 18:56] toxsick opened #4460 "Markdown widgets in lists are duplicated when content changed after prior item is removed"
**Describe the bug**

When adding multiple markdown widgets to a list and removing an item at the beginning afterwards, a change on a remaining item triggers the recreation of that list item on it's original index (an duplicating the content). This is a pretty nasty bug because uses can unintentionally change entire parts of the page without even noticing.

A simple string list behaves as expected

[2020-10-14 19:05] toxsick commented on #4460
perhaps @barthc some more insights in this?

[2020-10-14 19:38] pablo-poggio-phinx commented on #4252
im running into the same problem, was there any solution?

[2020-10-15 07:28] KancerEzeroglu commented on #3242
I agree, but I can't close :) fyi

[2020-10-15 07:45] #3242 closed

[2020-10-15 14:21] #2262 closed

[2020-10-15 14:55] #4291 closed

[2020-10-15 17:27] #1480 closed

[2020-10-15 17:55] 4-sight opened #4462 "Unable to update custom widgets after initial site deployment"
**Describe the bug**
I ran into this issue when creating a new custom widget for an existing site;

- Finished widget, tested locally with local version of cms, everything working as expected.
- Pushed to staging site, build passes, however in the cms on a corresponding page, instead of the expected widget, an error message `No control for widget ...`
- Checked that the widget is registered correc

[2020-10-16 11:17] magomimmo commented on #3415
Thanks @erezrokah, we'll see what we can do about it. Eventually we'll ask you some suggestions on the best way you think it's needed to fix it and what are the minimum requirement from you're side.

[2020-10-16 16:38] tbaustin commented on #2209
@SachaG @erquhart @mikestopcontinues I'm wondering the same. Any updates?

[2020-10-16 16:45] tbaustin commented on #2209
@erquhart could you not just pass all the keys through from what they pass the config and check it against cloudinary to make sure they are valid keys instead of only grabbing specific keys?

[2020-10-17 14:01] annafoldvari commented on #3807
I am happy to have a look at this.

[2020-10-18 12:20] #4462 closed

[2020-10-18 12:38] 4-sight commented on #4462
The culprit seems to be `gatsby-plugin-offline`
[](https://community.netlify.com/t/netlify-cms-updated-locally-but-not-on-netlify/17754)

[2020-10-18 17:15] timbomckay opened #4466 "Field hint text"
**Is your feature request related to a problem? Please describe.**
We're creating something for clients and I'm sure they're not going to know what the variety of fields actually mean. I know the `label` doesn't have to match the `name` but I think a description/hint/help option would benefit the content author to know what that particular field does. Such as why there's a `title` & `linktitle` fi

[2020-10-19 08:10] tomrutgers commented on #4466
Try using the `hint` property: https://www.netlifycms.org/docs/widgets/#common-widget-options

[2020-10-19 08:10] #4466 closed

[2020-10-19 13:21] timbomckay commented on #4466
Wow I guess my eyes skipped down to "default widgets". I knew I had to be missing it somewhere. Thanks for pointing this out.

[2020-10-19 15:20] lukeocodes opened #4480 "TypeError: Cannot read property 'get' of undefined"
**Describe the bug**

I have enabled i18n for content authoring. I believe I should be able to save a post in the primary language without adding all the translations at the same time. When I try to save, I get no visible error. Instead, I get this error in the console.

**To Reproduce**

0. On a site configured as my config linked below
1. Go to `/admin`
2. Click on 'New Blog Post'
3. Complete th

[2020-10-19 15:22] lukeocodes commented on #4480
This error occurred in these other issues (#4327 #3772 #3690) but based on the config and the lack of errors I couldn't be sure if related. They're all closed without resolution too.

[2020-10-19 16:47] kitella1 opened #4481 "TypeError: e.join is not a function"
**Describe the bug**
Cannot open any collection entries on my CMS.

**To Reproduce**
I just tried to open a collection entry and it crashed, saving that e.join is not a function.

**Expected behavior**
I should be able to open the entry and start editing. When I click on the entry, I'm met with an error page.

**Screenshots**
![Screenshot (39)](https://user-images.githubusercontent.com/25983613/96

[2020-10-19 19:53] stuartverschoyle opened #4482 "TypeError: Cannot read property 'heading' of undefined"
**Describe the bug**
Cant preview landing page due to 'heading' not being defined.

**To Reproduce**
remove heading tag from landing page and all other references

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.19`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/537.36 (K

[2020-10-19 20:07] tomrutgers commented on #4482
Do you have any custom preview templates in place? There might be a mismatch between what you're trying to display in the preview and what is available in the data.

[2020-10-19 20:17] stuartverschoyle commented on #4482
I do, I duplicated the product-page, renamed it partner-page and changed all references. why would that effect the landing page? I have put heading back in but still doesnt work,

any help is great.
thanks,
stuart
________________________________
From: Tom Rutgers <notifications@github.com>
Sent: 19 October 2020 21:07
To: netlify/netlify-cms <netlify-cms@noreply.github.com>
Cc: stuartverschoyle <s

[2020-10-20 07:54] tomrutgers commented on #4482
You have a `main` object with nested properties like `heading`. If the object does not exist and you try to display the heading regardless, an error will be thrown. You can fix that by checking for the existence of the object in your template before displaying the heading like so:
[code]

[2020-10-20 08:00] frankspin89 commented on #4480
Yes, this error seems to be related only to creating new content without entering all translations.

Versions:
"netlify-cms-app": "^2.12.27",
git-gateway, local_backend
OS: Windows 10
Browser version: Edge Version 86.0.622.43 (Official build) (64-bit)

**app.js**
`// This global flag enables manual initialization.
window.CMS_MANUAL_INIT = true

import CMS from 'netlify-cms-app'

import { pages } f

[2020-10-20 08:13] stuartverschoyle commented on #4482
I found out what it was, I have previously removed this line from the IndexPageTemplate component.
All works now. Thanks for your help
main={data.main || {}}
________________________________
From: Tom Rutgers <notifications@github.com>
Sent: 20 October 2020 08:54
To: netlify/netlify-cms <netlify-cms@noreply.github.com>
Cc: stuartverschoyle <stuart_verschoyle@hotmail.co.uk>; Author <author@noreply.

[2020-10-20 08:29] reimertz opened #4483 "i18n: Add support for file collections"
We are currently on a forked version of the [first PR of the internationalization track](https://github.com/netlify/netlify-cms/pull/2988) where [we added support for list collections](https://github.com/reimertz/netlify-cms/commit/8ebe03a08e4aaab8fa038caf226dd425c8e7b1b2).

But since it was decided to rework above implementation and use another architecture, our solution became obsolete and are n

[2020-10-20 12:59] bradvogel opened #4484 "Diff links in the CHANGELOG.md are broken"
The links in https://github.com/netlify/netlify-cms/blob/a90795ed9a98d90ac8d3ca3cd02e0785894b3d08/packages/netlify-cms-app/CHANGELOG.md to view the comparison between versions are broken:
![image](https://user-images.githubusercontent.com/821706/96589247-93ea0c00-12b2-11eb-840a-a71732679ce4.png)
![image](https://user-images.githubusercontent.com/821706/96589264-977d9300-12b2-11eb-8ae2-7e252d5ce2df

[2020-10-20 15:10] tomrutgers commented on #4482
Yep, that also works! Thanks for reporting back, closing this as fixed

[2020-10-20 15:10] #4482 closed

[2020-10-20 16:57] erezrokah commented on #2209
If anyone would like to submit a PR for this it would be great

[2020-10-20 21:34] wing5wong commented on #4097
We continue to have this issue despite recreating tokens several times now.
Recreating the token allows access for a short time, then we receive API timeouts again.

Something must be going on here and either cached data is not retrieved correctly, or hits against cached data are still counted against the API limit.

What other explanation can there be for this behaviour @erezrokah ?

Just yesterd

[2020-10-21 00:34] binarybana opened #4485 "TypeError: e.get is not a function"
**Describe the bug**

**To Reproduce**
Log into <oursite>/cms then click on the Home button (to start editing a page). Then dumped into an error page. This happens for both me and another user.

**Expected behavior**
I would go to the page where I can start making edits to my content.

**Screenshots**
![Screen Shot 2020-10-20 at 4 51 43 PM](https://user-images.githubusercontent.com/392846/96656533

[2020-10-21 10:08] inwardmovement commented on #991
Pasting content from Google Docs still clear formats, for example using [cms-demo.netlify.com](https://cms-demo.netlify.com/):

Rich text copied from GDoc:

When pasted into NetlifyCMS rich text editor becomes:

Will this be solved soon?

[2020-10-21 11:08] erezrokah commented on #4483
No other reasons other then scoping down the PR and also file collections it would need some discussion on how to configure and implement it since at the moment a file collection points to specific files, so I'm not sure how we need to structure the output.

I would start by describing your use case and we can move forward from there.

[2020-10-21 11:23] gewfy commented on #4483
Hi
Thank you for replying! I can fill in here (colleague with @reimertz).

Aside from pure editorial content we also use netlify cms for handling translations of all UI strings in the app. So basically we have a schema `UI` with one file per category / screen / component of the app. In total it's 74 files with separate schemas for every file. One option would of course be to move them to individua

[2020-10-21 12:01] erezrokah commented on #991
Hi @inwardmovement, can you please open a new issue for this?

[2020-10-21 13:08] inwardmovement opened #4488 "Pasting from Google Docs clears formatting"
Pasting content from Google Docs clears formatting, for example using [cms-demo.netlify.com](https://cms-demo.netlify.com/):

Rich text copied from GDoc:

When pasted into NetlifyCMS in rich text editor becomes:

See https://github.com/netlify/netlify-cms/issues/991

[2020-10-21 13:13] thelynchpin opened #4489 "config should have required property 'options' - Clearstatus Netlify"
I get this error post a successful build and deploy on netlify.

https://youthful-swartz-68b931.netlify.app/

Error loading the CMS configuration
Config Errors:
config should have required property 'options'
Check your config.yml file.

[2020-10-21 13:18] erezrokah commented on #4489
Hi @thelynchpin, one of your `select` widgets is missing the `options` configuration:
[code]

[2020-10-21 13:28] thelynchpin commented on #4489
I'm new to this and have deployed the Clearstatus app through the deploy to netlify button on https://github.com/weeblrpress/clearstatus. Please specify what needs to be modified on the list.

[2020-10-21 13:43] erezrokah commented on #4489
Welcome :)
Please see the docs for the `select` widget here:
https://www.netlifycms.org/docs/widgets/#select

I suggest you open an issue on that repo and ask where is the `config.yml` file is located

[2020-10-21 18:29] sparkalow commented on #1342
Collection summaries do not currently work when using beta manual initialization feature.

[2020-10-21 18:30] #4174 closed

[2020-10-22 09:43] lukeocodes commented on #4480
Let me know if you need anything else, happy to help :)

[2020-10-22 12:42] PetroPavlenko commented on #2845
Hi all, Is it possible to add [slate-deep-table](https://github.com/jasonphillips/slate-deep-table), so copy&pasting tables from google docs will work ?

[2020-10-23 09:11] toxsick commented on #4460
Hey guys,

any update on this? Even a guess where the problem is caused would help. This is a pretty bad one, because it can unintentionally mess up a lot of content.

regards and thanks!

[2020-10-23 10:49] bbzitopirulito opened #4491 "Relation widget not working with new i18n multilanguage feature"
Description:

- Relation widget only queries the default entry language for the required data even when the language is changed in the CMS preview.

Steps to Reproduce:
1. Configure config.toml with the new i18n feature with 2 languages (like "en" and "pt")
2. Create a collection ("test", for example) with the "path" string widget field and create and entry in cms for both languages. In "pt", the

[2020-10-23 19:14] barthc commented on #4460
@toxsick  PR  #4492 would fix this issue.

[2020-10-23 21:18] binarybana commented on #4485
So every key (and nested key) in the markdown/YAML files have to be mapped to a 800+ line config object in our cms.js. Looks like it was a mismatch between this config object and our javascript that got introduced by manual edits.

[2020-10-23 21:18] #4485 closed

[2020-10-23 22:17] ylc-website opened #4493 "Failed to persist entry: API_ERROR: Operator microservice headers missing category:48"
**Describe the bug**
This is happening sometimes when we are trying to add to our collections through the backend.

We recently changed domain names and I wonder if this has to do with it.

We are hosting through Netlify.

The repo can be viewed here:
https://github.com/Yukon-Literacy-Coalition/ylc_website_v2

The website is online at yukonliteracy.com

Much thanks!

[2020-10-23 22:24] ylc-website commented on #3827
I'm not sure what to do with `Failed to persist entry: API_ERROR: Operator microservice headers missing category:48`

[2020-10-25 15:30] erezrokah commented on #3677
Keeping this open until we implement dynamic filters

[2020-10-25 17:37] #3807 closed

[2020-10-25 17:47] #852 closed

[2020-10-25 18:19] felixboet opened #4495 "Improvement: click behaviour ColorString Widget"
Clicks outside the color picker are handled by the fullscreen "ClickOutsideDiv" to close the color picker. That means if you opened the color picker and want to edit another field, you have to click twice, once for closing the picker, and then for the other field. That is not consistent with other widgets like "select" or "datetime", where you can click immediately from one field to another.

I gu

[2020-10-25 19:11] dnk8n opened #4497 "Markdown widget makes many unintended changes"
This diff shows what markdown was changed when in actual fact only Title was the only thing changed - https://gitlab.com/dnk8n/research_db_docs/-/commit/46509df301ecb1884cc59dac14098a4fd1727f78

The changes broke the URLs, i.e. see lines 67 - 92

[2020-10-25 19:19] dnk8n commented on #4497
Since it is open-source, it should be possible to fork this repo and deploy to a personal Netlify site. Not all titles are filled in making it difficult to navigate, but in this example the URL is `/admin/#/collections/doc/entries/creating-your-site`

[2020-10-25 19:26] dnk8n commented on #4497
I created a branch [netlify-cms/issues/4497](https://gitlab.com/dnk8n/research_db_docs/-/tree/netlify-cms/issues/4497) which will remain in the state above.

[2020-10-25 19:32] #3270 closed

[2020-10-26 11:09] toxsick commented on #4460
hey @barthc, very cool that you have looked into this so fast. I will test this later and write back here.

regards and have a good week!

[2020-10-26 16:19] toxsick commented on #4460
Ok looks good to me, i can not reproduce the issue anymore with #4492.

Thank you very much @barthc, hope it get's merged quickly

[2020-10-27 14:42] BA1RY commented on #4215
@erezrokah I would like to work on this feature. How shall I go about implementing this? Also, how can I get the branch name into react component? Thank you

[2020-10-27 15:07] erezrokah commented on #4215
The CMS has been very much about hiding `git` specifics from the UI (while keeping those in the `config.yml` under `backend`). Some backends are not even git based (test, fs proxy).
Not sure we would like to add this feature with the current CMS approach.

[2020-10-27 16:41] kylekirkby opened #4513 "One site works with GitHub auth provider but another does not"
**Describe the bug**

Following from https://docs.netlify.com/visitor-access/oauth-provider-tokens/#setup-and-settings, it appears I need to add some additional JS to obtain an auth token but our main site does not need this. I'm confused as to why this is the case.

Current main site config:
https://github.com/linaro/website/tree/master/admin

New site config:
https://github.com/ArmNNWebsite/webs

[2020-10-27 16:48] kylekirkby commented on #4513
So I finally got the bottom of this...

![Capture](https://user-images.githubusercontent.com/4564433/97333906-fd9a8500-1873-11eb-9716-61fe1b937ec0.PNG)

The other sites have a custom domain added even though we are managing the hosting of our sites ourselves with AWS. Changing the domain fixed it straight away. Is this documented? If so, it's clearly been a long day!

[2020-10-27 16:48] #4513 closed

[2020-10-27 18:55] #2647 closed

[2020-10-27 19:35] kylekirkby commented on #2324
It would be great to have the build status shown in the nav of NetlifyCMS (next to the "Deploy preview" link). We should defnitely look at adding the ability to prevent a publish if any of the status checks fail on the GitHub PR. For instance, we've got a [custom link checker](https://github.com/linaro-its/github-action-scripts/blob/main/check-links-3.py) that we've been using on our sites for the

[2020-10-28 08:28] ar363 commented on #4481
I think I know the cause of this error and how to reproduce it.

Cause: You have a list widget, probably
`
- label: Technologies and Skills
        name: techskills
        widget: list
`
and you have a few entries in which the value of the widget is in string format.
For e.g. one of your `prototype` flie might have something like
`
techskills: xyz
`
instead of
`
techskills: [xyz]
`
i.e. string in

[2020-10-28 10:10] #2922 closed

[2020-10-28 11:11] inwardmovement commented on #4488
While waiting for a fix, one can workaround this via the [Paste as Markdown](https://chrome.google.com/webstore/detail/paste-as-markdown/lmelpnmpkekjahgdihfajfebaddffokl) Chrome extension: just "paste as Markdown" in the Markdown field of the editor after copying from GDocs, and the Rich Text field is then populated accordingly to GDocs.

[2020-10-28 17:36] pmpinto commented on #995
Here's another use case and why this is relevant for me:
When you have an editable `slug` field that will be used by Jekyll in a permalink like `/blog/{{slug}}/`.

By default Jekyll will get the `slug` from the file name, which comes from the `title`.
[code]

But that can be overwritten with the `slug` property.
[code]

What's sad is that if you change your mind and remove the value in `slug` thro

[2020-10-29 10:48] PetroPavlenko commented on #4218
Hi @erezrokah I have same issue. I have nested field :
[code]

and creating new entry from collection :
[code]

Maybe there is some workaround ?

[2020-10-29 14:00] bbzitopirulito commented on #1896
Hey guys, any update?

[2020-10-29 15:29] pmpinto opened #4516 "Add ability to disable preview links per collection"
**Is your feature request related to a problem? Please describe.**
Currently, there doesn't seem to be any way to disable preview links per collection.
We have `show_preview_links` which will disable preview links globally.

**Describe the solution you'd like**
Either something like:
[code]

or

[code]

Or any other variant really.
Perhaps global setting would have precedence local setting.

**Add

[2020-10-29 15:35] lorenzode commented on #2388
I can confirm this, one of our content editors reported this:

"There is also an issue when switching between rich text and markdown, headings don't reflect in markdown, for instance (nor do italic, numbers etc.). They work only if manually inserted in markdown but then they don't show in rich text mode."

[2020-10-29 18:14] theredwillow commented on #1807
@steakscience I'm having this exact same issue. I'm trying to make a list of markdowns as a sub-field in a collection. Did you ever figure this out?

[2020-10-29 23:51] sandoche opened #4517 "Netlify CMS stuck in "Loading entry""
I have a JSON file with an array containing about 440 items.
When I open this file in the content manager it stays stuck in `Loading entry` with the loading animation and my browser CPU usage goes up to 25% and the memory goes around 1GB on Brave or 2GB on firefox.

I tried with an array containing 30 items and it worked perfectly.

**Applicable Versions:**
* netlify-cms-app 2.13.1
* netlify-cms-c

[2020-10-30 00:04] sandoche commented on #4517
Actually it finally finished loading on Firefox after more than 10 minutes. I didn't make it work on chrome it seemed to crash before.
At the end is so slow that it's unsable and it takes a lot of resources.

![image](https://user-images.githubusercontent.com/3635348/97644876-5b30fc00-1a43-11eb-9103-bdbb702f2f18.png)

I guess it's the same problem as #3415

[2020-10-30 10:32] BA1RY commented on #4215
@erezrokah Understood. Thank you

[2020-10-30 11:22] snoopysecurity commented on #4099
Hey, any thoughts on fixing this issue? i believe a quick fix would be to use something like[ dompurify](https://github.com/cure53/DOMPurify) which is a very strong sanitizer

So a fix would be
[code]

[2020-10-30 16:14] pmpinto opened #4518 "Unable to access multiple objects from the same file collection"
**Describe the bug**
I have a file with multiple objects, as such:
[code]

I set this up as a file collection in the CMS, for instance:
[code]

Then I go check the CMS under "My collection" and I have:
* First
* First

Seems to me that if I'm adding the same file under the same collection, it reuses the first occurrence of that file as many times as the number of entries under `files`.

To overcom

[2020-10-30 16:47] pmpinto opened #4519 "Config templates/partials"
**Is your feature request related to a problem? Please describe.**
Kind of… Let's say you have multiple collections in your config file. And 2 of them share the exact same structure. Currently, we have to duplicate all the `fields` from one to another. Ideally, we would create a `_config-partial.yml` which could then be referred to multiple times across `config.yml`.

Why:
* Reusability — Prevents

[2020-10-31 05:19] ChrisLasar commented on #4519
In the meantime YAMLs alias nodes might d the job (https://yaml.org/spec/1.2/spec.html#id2786196)

[2020-10-31 09:56] tomrutgers commented on #4519
Related to (and quite possibly a duplicate of) #1342

[2020-11-01 07:41] erezrokah commented on #4215
Closing this issue. Don't see a good reason to break the current CMS approach of abstracting the backends

[2020-11-01 07:41] #4215 closed

[2020-11-01 09:38] erezrokah commented on #4519
This is covered an #1342 and there are possible solutions in that issue

[2020-11-01 09:38] #4519 closed

[2020-11-01 10:40] lilpolymath opened #4520 "Default and hidden variables don't reflect in mdx file"
**Describe the bug**

I have this collection of files and here is the config.yml specification

[code]

But whenever I update the file this is what gets created.

[code]

Here is the template declaration in the cms.js

[code]

The default && hidden variables I declared in the config don't show up in the file at all and it prevents the page from getting created.

**Expected behaviour**
I expect tha

[2020-11-01 10:44] erezrokah commented on #4520
Thanks @lilpolymath, closing this in favour of https://github.com/netlify/netlify-cms/issues/3046

[2020-11-01 10:44] #4520 closed

[2020-11-01 11:34] lilpolymath commented on #3046
@erezrokah would it be possible to set multiple `preSave` events?

[2020-11-01 13:50] erezrokah commented on #3046
It should be possible to do so:
https://github.com/netlify/netlify-cms/blob/b8dd038f4f693331d679bb8f39f07d9489024483/packages/netlify-cms-core/src/lib/registry.js#L223

[2020-11-01 21:48] penguoir opened #4521 "Error when publishing a post (API_ERROR: Failed to execute 'json' on 'Response')"
**Describe the bug**
When trying to publish a document, I get the error message:

[code]

<details>
<summary>
Full trace
</summary>

[code]

</details>

**To Reproduce**
1. Set up repo as shown in https://netlify-cms-now.now.sh/
2. Publish to Vercel
3. In the editor, press "publish"

**Applicable Versions:**
netlify-cms-app 2.13.1
netlify-cms-core 2.33.1
netlify-cms 2.10.66
using GitHub and Vercel

[2020-11-02 02:42] stevemarksd opened #4528 "When saving I get: Failed to persist entry: API_ERROR: Rebase error: Rebase failed. Please rebase locally (rebase_in_progress = true)"
**Describe the bug**

When saving I get: Failed to persist entry: API_ERROR: Rebase error: Rebase failed. Please rebase locally

On api request: `/api/v4/projects/root%2Fsitename.com/merge_requests/2/rebase`

The response is `{rebase_in_progress: true}` (but this happens all the time)

In gitlab I see this:

![image](https://user-images.githubusercontent.com/58653359/97823604-842be800-1cf4-11eb-96

[2020-11-02 08:17] erezrokah commented on #4528
This is related to https://github.com/netlify/netlify-cms/issues/1691 and https://github.com/netlify/netlify-cms/issues/277.
If you have multiple editors working on the same entry it's very likely to happen.

We're using a GitLab API endpoint to do the rebase for us, but just report an error if the rebase fails.
It's surprising that it's happening when rebasing locally doesn't produce any conflict

[2020-11-02 10:26] stevemarksd commented on #4528
Each article is written by 1 writer.. so that won't happen. Is quite weird, I tried to edit with 2 gitlab accounts... but didn't break. I can't really tell what is the problem and how to reproduce :/

[2020-11-02 11:08] gtitov opened #4529 "Problem with field-specific media_folder"
I want my post to have one cover that is stored in assets so Hugo is able to resize it. Also my post have multiple images inside text (markdown widget) that I want to be stored in static so I can add these with the UI. Hope it's clear: cover in assets to resize, images inside text in static to add them without any code.

I came up with this config.yml:
[code]

Paths to files appears as I expect th

[2020-11-02 15:15] #4356 closed

[2020-11-02 16:56] kylekirkby commented on #1576
Any updates on this folks? Currently running into this ourselves!

[2020-11-02 17:56] Protonull commented on #3617
Something that might be a good addition to this is allowing certain filters to be applied by default, perhaps by allowing:

[code]

[2020-11-02 18:55] pmpinto commented on #4519
@ChrisLasar That was not exactly what I wanted, but that's what I needed now.
At least until we have #1342 merged in, this is going to be _really_ helpful!

Thanks! Have some 🍰

[2020-11-02 19:13] Ozeco opened #4530 "TypeError: Cannot read property 'length' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.13.1`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.111 Safari/537.36 Edg/86.0.622.51`

**CMS configuration**
[code]

[2020-11-02 19:13] #4530 closed

[2020-11-02 20:00] dolnma opened #4531 "Uncaught (in promise) Error: Backend not found: gitlab"
Uncaught (in promise) Error: Backend not found: gitlab

**Describe the bug**
Im getting this error, when i tried to call function about adding images to draft and try to attach files into commit.

I tried to use function `persistMedia(file)`; by connect()

[code]

But when i call `persistMedia()` inside `connect()`, error appears:

[code]

Thanks a lot for your help.

[There is a link to my exampl

[2020-11-03 13:43] Robotsalesmen opened #4532 "Dependencies with Vulnerabilities"
I'd like to forward a list of out of date, linked dependencies that contain vulnerabilities.  The list includes the "fixed version" of the dependent code.  Can I email this list to the repository maintainers?

[2020-11-03 14:46] dustincrogers commented on #4532
hi @Robotsalesmen:
Netlify actively updates dependencies in all our "actively maintained" code bases, and we prioritize those upgrades using internal processes. If you have a particular vulnerability patch (or multiple patches) you would like expedited, we would be happy to consider it if you open a specific issue with some reasoning/justification.
Thank you!
We will most likely close this issue,

[2020-11-03 14:48] Robotsalesmen commented on #4532
I understand.  The process you described is more than adequate.

Please close this issue.

[2020-11-03 14:48] #4532 closed

[2020-11-03 22:47] kitella1 commented on #4481
I've been offline for a while so did not get any of the notifications for this. I believe that your comment @ar363 is correct. If memory serves, I did have to redo my config.yml file and the issue was regarding the list widgets. My YAML now looks like this and works without issue:
`collections:
  - name: "prototype"
    label: "Prototype"
    format: "json"
    folder: "content/prototypes"
    pre

[2020-11-04 16:40] robsonsobral opened #4533 "TypeError: n.get is not a function"
**Describe the bug**

Fail to load entry for edition

**To Reproduce**

Trying to edit the following entry:

[code]

**Expected behavior**

To render a page with empty content

**Screenshots**

![image](https://user-images.githubusercontent.com/931642/98139296-cb57db80-1ea2-11eb-95ee-a96460554fee.png)

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.67`
 - Git provider: `github`

[2020-11-05 10:54] Skobraf opened #4535 "HTML of Dynamic routes changed after deploying to Netlify and render 'Not Found Page ' before rendering the actual page"
**Describe the bug**
I built a website using gatsby, the landing page works fine on the production since it's statically served during the build time, I have created a gatsby-node file to fetch dynamic data depending on the id in the route. `user/:id` in the /app I wrapped the routes with Apollo Provider since the communication with the server is done with GraphQl.
After navigation into " user/:id

[2020-11-05 11:35] erezrokah commented on #4535
Hi @Skobraf, this is repo is meant to support Netlify CMS (a content management system developed by Netlify).
Looks like you question is not related to the CMS itself (if it does can you fill in the missing items from the issue template?).
I recommend posting your question here https://community.netlify.com/.
Providing a reproduction scenario or a repo would be very helpful too.

[2020-11-05 16:49] erezrokah commented on #4097
Sorry for the lack of response here @wing5wong.
Trying to map out places we are reading many entries:
1. Sorting/Filtering
2. i18n
3. Nested collections
4. Relation widgets
5. First load of editorial workflow (will load all drafts in the background) - see https://github.com/netlify/netlify-cms/issues/3468

Maybe that will help us focus on what's triggering the limit.

[2020-11-05 17:29] kevbarns commented on #2070
Is there any news regarding this topic ? still open, no assignee(s) and no comment since last year 🥴

[2020-11-05 17:37] erezrokah commented on #2070
Hi @kevbarns, this is open for community contribution.
See work in progress for https://github.com/netlify/netlify-cms/pull/4384 and https://github.com/netlify/netlify-cms/pull/4427

[2020-11-05 18:33] benhulan commented on #2070
@kevbarns I would be happy to help you with this, if possible

[2020-11-05 21:08] wing5wong commented on #4097
We've disabled sorting since we first encountered this so i think this is unlikely
![image](https://user-images.githubusercontent.com/4406993/98295679-bef48f80-2016-11eb-827c-f472f2492304.png)

I don't believe we are using this unless it is applied automatically

Again i dont think we are using this feature.

Our news collection has 4 relation widgets, so this is a possibility

We are not using ed

[2020-11-06 00:21] stuartverschoyle opened #4536 "TypeError: Cannot read property 'map' of undefined"
**Describe the bug**
Once I publish to master and update the server I get this above error in the CMS - I know this is related to the build and the error below, which happens when I save my .md file. It builds locally first time but then doesnt update

**To Reproduce**
create a netlify gatsby cms and create a new graphql that has images
I replicated the intro and blurbs across all files

**Expecte

[2020-11-06 01:19] Pearce-Ropion commented on #3203
@erezrokah Is the slack still publicly available? All the links around the site lead to a slack page that says the link is currently not active.
![screencapture-netlifycms-slack-join-shared-invite-enQtODE1NTcxODA5Mjg1LTRjYWExM2MyZDJmODA3YmVkMjI2YmQwZDg2ZDUyYTMyM2Y3Zjc1ZTJhNDBkYmMwNjA2ZTkwODY4YjZjNGNlNTE-2020-11-05-17_19_28](https://user-images.githubusercontent.com/32177944/98314572-1b11d200-1f8b-

[2020-11-06 02:40] robsonsobral commented on #2056
May I suggest something easier?

A property `parentLabel` to the collections. All collections with the same value should be shown together, under the same item on the sidebar.

[2020-11-06 09:43] clearstatus commented on #4489
@thelynchpin

Can you give it a try now, I think we fixed the problem.

@erezrokah What seems to have happened is that previously Netlify CMS would accept that select without options (which depends on the user particular site configuration) but at some point this started to trigger an error. I'm now removing the entire select if no "groups" option is configured by user.

[2020-11-06 11:36] andreamussap opened #4537 "Netlify CMS Open Authoring makes changes to the markdown and create lots of diffs in a pull request"
**Describe the bug**

Netlify CMS Open Authoring makes changes to the markdown and create lots of diffs in a pull request, making it impossible to review.

**To Reproduce**

We've used Blackfriday markdown parser with Hugo on our project https://github.com/Axway/axway-open-docs , and we used to have issues with the diff of pull requests created via Netlify CMS: the contributor would change one lin

[2020-11-06 13:30] robsonsobral commented on #3677
Hi, pals!

May I ask for one more filter?

`| default` could be useful. `{{linkTitle | default title}}`

Thank you!

[2020-11-07 13:36] FTWinston opened #4538 "Timeout uploading large files"
**Describe the bug**
When uploading a large media file to a new post, the upload repeatedly times out after 60s.
As it's a big file (~50MB), I'd expect the upload to take longer than 60s, but the CMSs repeatedly aborts and retries after 60s.
It looks like this is intentional, perhaps caused by #3649?

Console output below:
[code]

**To Reproduce**
1. Go to the CMS, add a new content entry, of a ty

[2020-11-07 21:21] callmemagnus commented on #2138
I tried to create my own local version of the script. It worked until I wanted to add cloudinary with triggers the same issues.

Is there a way around this ?

[2020-11-08 05:27] stevemarksd opened #4539 "Cursor jumps at the end in image text boxes"
**Describe the bug**

Cursor jumps in images text boxes.

**To Reproduce**

When I type in the image boxes:

![image](https://user-images.githubusercontent.com/58653359/98457873-eb9ad980-21c5-11eb-9e32-3f102d9cc99b.png)

I put cursort at the beginning and I type ABC:

![image](https://user-images.githubusercontent.com/58653359/98457876-f81f3200-21c5-11eb-849b-bae0dcad28f2.png)

This is what happen

[2020-11-08 05:29] stevemarksd opened #4540 "Bullet list is broken after first enter. Requires 2 enters to create 2nd bullet."
**Describe the bug**

Bullet list is broken after first enter. Requires 2 enters to create 2nd bullet.

**To Reproduce**

![image](https://user-images.githubusercontent.com/58653359/98457912-4af8e980-21c6-11eb-898f-3ad1d11907e8.png)

I press enter
![image](https://user-images.githubusercontent.com/58653359/98457916-53512480-21c6-11eb-9cc1-82992b9baf79.png)

I press enter again

![image](https://us

[2020-11-08 05:34] stevemarksd opened #4541 "When I click on an article from workflow page and then I press back button goes to home page instead of workflow page"
**Describe the bug**

When I click on an article from workflow page and then I press back button goes to home page instead of workflow page

**To Reproduce**

When I click on

![image](https://user-images.githubusercontent.com/58653359/98457977-f0ac5880-21c6-11eb-8dbf-3d174178eabd.png)

And I came from workflow, the back brings me back to home page instead of workflow page.

**Expected behavior**

[2020-11-08 05:41] stevemarksd commented on #4528
Ok, I figured out what is it. If you change the path of the article it start breaking.

[2020-11-08 05:45] stevemarksd opened #4542 "Changing path doesn't change file/folders to reflect new path"
**Describe the bug**
If you look at my config below I have

[code]

So it saves the article this way:

 - slug
   - slug.md
   - images.jpg

**To Reproduce**

Add my settings.

Then create a new post. path: slug1

 - slug1
   - slug1.md
   - images.jpg

Change path to slug 2

File and folder is still named under previous name.

 - slug1
   - slug1.md
   - images.jpg

**Expected behavior**

 - slug

[2020-11-08 06:36] iansinnott commented on #4541
Can confirm this is also the case when using Github.

[2020-11-08 10:10] erezrokah commented on #4097
Thanks @wing5wong. This is very strange indeed.
Maybe we're missing some basics here:
1. Making sure the CMS version is the latest (`netlify-cms@2.10.67` or `netlify-cms-app@2.13.2`).
2. Trying with a different browser (I know this has been happening to different users so chances are slim here, but just in case).
3. Trying from a different network connection.
4. Creating a new Netlify site just fo

[2020-11-08 10:20] erezrokah commented on #4536
Hi @stuartverschoyle, thank you for opening this.
There are a few related issues:
https://github.com/netlify/netlify-cms/issues?q=must+not+have+a+selection+since+type+%22String%22+has+no+subfields

See https://github.com/netlify/netlify-cms/issues/2786#issuecomment-549130398

I recommend using relative media folders so Gatsby won't fail on inferring media file types.
See https://www.netlifycms.org

[2020-11-08 10:20] #4536 closed

[2020-11-08 10:22] erezrokah commented on #3203
Thanks for raising this @Pearce-Ropion, let me check if anything changed there

[2020-11-08 10:31] erezrokah commented on #3677
@robsonsobral, this would make a good first contribution

[2020-11-08 11:12] paazca opened #4543 "Ctrl+z doesn't work when typing in Hebrew"
**Describe the bug**
When my keyboard language is set to Hebrew, pressing ctrl+z doesn't do anything, though other keyboard shortcuts such as ctrl+b do work. In order to undo I must switch my keyboard language to English and only then ctrl+z works correctly.

**To Reproduce**
Set the keyboard language to Hebrew, and pressing ctrl+z won't do anything.

**Expected behavior**
Pressing ctrl+z while ty

[2020-11-08 11:20] erezrokah commented on #4538
Thanks @FTWinston, maybe it would be a good idea to have an increased default timeout for `POST` requests and also make it configurable.

[2020-11-08 11:44] erezrokah commented on #4542
Hi @stevemarksd, this is intended as changing the file path will most likely break existing published URLs in static site generators.

This is discussed in https://github.com/netlify/netlify-cms/issues/445. Closing this issue in favour of #445

[2020-11-08 11:44] #4542 closed

[2020-11-08 11:47] erezrokah commented on #4540
Hi @stevemarksd, this is a duplicate. See https://github.com/netlify/netlify-cms/issues/3474#issuecomment-607549091

[2020-11-08 11:47] #4540 closed

[2020-11-08 11:57] FTWinston commented on #4538
Either of those sound good to me. Both sound great!

On Sun, 8 Nov 2020, 11:20 Erez Rokah, <notifications@github.com> wrote:

[2020-11-08 12:05] erezrokah commented on #4489
Yes, we added schema validations for widgets configurations. The widget used output an error div prior to that:
https://github.com/netlify/netlify-cms/blob/519cb2d4c2db729d2643c9116f93656b6a9dba23/packages/netlify-cms-widget-select/src/SelectControl.js#L114

[2020-11-08 12:05] #4489 closed

[2020-11-08 16:01] robsonsobral commented on #3677
Really, @erezrokah? Cool!

I gonna take a look. Unfortunately, I know nothing about React. It's easier to make a disaster than a feature.

[2020-11-08 16:33] #3614 closed

[2020-11-08 16:42] erezrokah commented on #4481
Closing this as a duplicate of https://github.com/netlify/netlify-cms/issues/3524

[2020-11-08 16:42] #4481 closed

[2020-11-08 16:51] erezrokah commented on #3524
See https://github.com/netlify/netlify-cms/pull/4515 for an ad hoc fix for the list widget.

I think we should be able to wrap control and preview components with [error boundaries](https://reactjs.org/docs/error-boundaries.html) to avoid the editor from crashing.
We could present a warning to the user and prompt the user to reset the value or keep it as is with the widget not being shown.

[2020-11-08 17:06] erezrokah commented on #3677
The relevant code is here, I don't think you'd need a lot of React experience for it:
https://github.com/netlify/netlify-cms/blob/f528186594fdb1947f21faee7461d08a4f7b13d3/packages/netlify-cms-lib-widgets/src/stringTemplate.ts#L126

Let me know if there is anything else I can do to support.

[2020-11-08 21:02] wing5wong commented on #4097
i use `https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js` as my script url, which at this stage is linking to `https://unpkg.com/netlify-cms@2.10.67/dist/netlify-cms.js`

Now heres where it gets interesting.... Firefox successfully returns cached data!
![image](https://user-images.githubusercontent.com/4406993/98484194-9e287600-2272-11eb-86c2-a226c770da1b.png)

![image](https://user-images.

[2020-11-09 08:39] iansinnott opened #4563 "Drag and Drop File Uploads?"
Does Netlify CMS support drag and drop file uploads?

Perhaps I'm missing an obvious feature, but this doesn't seem to work based on my local usage and on the demo site. I see "drag-and-drop media uploads" listed as a feature on the homepage, but have not seen how to use this functionality.

[2020-11-09 09:55] erezrokah commented on #4097
This is great news. At least we have a path forward.

I think one can control the caching behaviour on Chrome using CLI flags.
Can you verify neither one of `--disk-cache-dir,--disk-cache-size,--media-cache-size` is set when launching Chrome (if they are set it will probably be reflected in the Windows shortcut).

[2020-11-09 10:03] thelynchpin commented on #4489
Thanks. It's working now.

Regards,

Wilbur

On Fri, Nov 6, 2020 at 3:13 PM clearstatus <notifications@github.com> wrote:

[2020-11-09 10:13] erezrokah commented on #4563
Hi @iansinnott drag and drop is not supported.
See https://github.com/netlify/netlify-cms/issues/2243 for more information.

The information on the homepage is wrong (I'll submit a PR to fix it)

[2020-11-09 10:51] iansinnott commented on #4563
Thanks for the heads up @erezrokah.

Looking at associated issues it seems it was pretty close to completion at one point: https://github.com/netlify/netlify-cms/issues/1032#issuecomment-460069329

I'm curious what happened, since it seems like things were moving towards completion but then suddenly stopped.

Anyway, I'll close this out as it's not relevant. Thanks for the answer.

[2020-11-09 10:51] #4563 closed

[2020-11-09 11:00] andreamussap commented on #4537
@erezrokah Thank you for labeling this.  Just one more example of an unnecessary change made by the CMS. See,  [PR#1393](https://github.com/Axway/axway-open-docs/pull/1393/files), line 18.

[Short codes in Docsy](https://www.docsy.dev/docs/adding-content/shortcodes/#alert) are created using `{{% alert %}}`. CMS is changing this to `{{< /alert >}}` :(

![PR1393_cmsChangesDocsyCode](https://user-ima

[2020-11-09 11:32] erezrokah commented on #4563
Small correction, drag and drop is available if you're using an external media library:
https://www.netlifycms.org/docs/cloudinary/

[2020-11-09 14:23] rahxuls opened #4564 "Failed to persist entry: API_ERROR: Branch not found"
<img width="960" alt="netlify-help" src="https://user-images.githubusercontent.com/62949229/98552879-ff793500-22c4-11eb-91d2-bf411a01176e.png">
**I recently start a blog using gatsby starter. The problem i'm facing right now is, whenever i post a blog via netlify CMS it shows Failed to persist entry: API_ERROR: Branch not found need help on this.**

[2020-11-09 15:26] tomrutgers commented on #4564
Is your repo part of an organization? In that case you might have to approve your app: https://help.github.com/en/articles/requesting-organization-approval-for-oauth-apps

[2020-11-09 17:09] pmpinto opened #4566 "Allow for control over outputted text for boolean values in 'summary' string template transformations"
**Is your feature request related to a problem? Please describe.**
I have a `boolean` field that I want to be able to glance at on a `list`. So I do:
[code]

And I get a list like this:
[code]

**Describe the solution you'd like**
I would like to be able to control the text that gets outputted when the value of a `boolean` is `true`. For instance:
[code]

**Describe alternatives you've considered*

[2020-11-09 17:12] erezrokah commented on #4566
Hi @pmpinto, I think this can be done as a part of https://github.com/netlify/netlify-cms/issues/3677.
Can you move your comment to that issue?
I'm closing this one

[2020-11-09 17:12] #4566 closed

[2020-11-09 20:34] wing5wong commented on #4097
Ive checked everywhere i can think regarding this - Shortcut, chrome flags, gsuite admin - either no mention of the flag, or the settings remain default (unconfigured) - except the disabled AppCache (this is disabled by default by gsuite). I dont think the caching is configured to use this though, and using indexedDB rather. Perhaps this is it?

![image](https://user-images.githubusercontent.com/4

[2020-11-09 21:59] theredwillow opened #4567 "TypeError: Cannot read property 'get' of undefined"
When I try to create lists with fields, the preview widget breaks on the /admin page. I can use the control and add images, etc... just as expected. But I get "TypeError: Cannot read property 'get' of undefined" instead of the preview.

This is probably some kind of user error. I'm new to Netlify and I'm trying to learn how to create an image slideshow/gallery, but this error doesn't help me troub

[2020-11-10 02:42] iansinnott commented on #4563
Oh interesting. Is there an underlying limitation of the Github API that makes upload-to-repo difficult or impractical?

[2020-11-10 03:16] iansinnott opened #4568 "Expose React Directly (thoughts?)"
Would project maintainers be open to this? Rather than (or in addition to) exposing `h` we could expose `React` itself. Perhaps on the `CMS` object rather than `window`.

### Why

* React is a hard dependency of the project and is useful for extending the CMS. Utilizing the full functionality of React would make extending the CMS easier, perhaps even simpler.
* Babel et al can be configured to rew

[2020-11-10 10:18] penguoir commented on #4521
Could this be because the netlify-cms-now uses an outdated oAuth package?

[2020-11-10 10:53] erezrokah commented on #4563
This is not an API limitation, but work needed to be done on the frontend size to add this functionality to our core media library.

[2020-11-10 14:29] KancerEzeroglu commented on #4541
I want to work on that 😄

[2020-11-10 15:56] lsolesen commented on #4361
Were you able to debug why it is not possible to add the /admin to a Github-hosted site?

[2020-11-10 20:28] acarnwath opened #4570 "Different configs for different branches / environments"
I would like to be able to have different configs for each of our environments (one-to-one with branches).  The situation I keep running into:
* Locally, the config needs to point to a local proxy server for authentication and won't go through the whole pull request flow. This means that every time I want to make changes locally, I update the config, then revert the connection information before I

[2020-11-10 21:09] cskerbo commented on #1816
I was receiving this same error. None of the above worked, and **completely removing restrictions should not be an answer - that is a huge security hole**. Netlify Auth showed up under my profile's OAuth apps, but did not allow me to grant access to the organization.

What you need to do is login to Netlify, and under "Site Settings" -> "Identity", you need to generate an access token. **_The auth

[2020-11-11 10:46] erezrokah commented on #4570
Hi @acarnwath, do the solutions provided in https://github.com/netlify/netlify-cms/issues/3790 cover your use case?

[2020-11-11 17:10] acarnwath commented on #4570
It sounds very similar but I don't think I'm fully connecting the dots. I'm using Gatsby.js + Federalist and I'm not sure where to find cms.js or how to override/add to it in order to set up the conditional config.

[2020-11-12 03:08] austinmdem opened #4576 "Bullet points not displaying on page render"
Hey there,
Setup a blog page for my company and everything has been working great, but we noticed the bullet points are not working. Please help!

this is screenshot of the editor using their bulletpoints.
**Describe the bug**

![Screen Shot 2020-11-11 at 7 03 30 PM](https://user-images.githubusercontent.com/1585384/98890473-e1404000-2450-11eb-8cc4-8360974ada54.png)

**To Reproduce**

**Expected b

[2020-11-12 09:33] wing5wong commented on #4097
Have tested this on a new network now and it seems the caching is functioning as expected here.

My assumption now is that somewhere along the line our work ISP is affecting the caching

[2020-11-12 10:09] erezrokah commented on #4097
This is very odd, especially considering it works with Firefox. Thank you for the update.
The only mechanism I can think of that could cause this is the work network injecting scripts into the traffic changing the browser `fetch` implementation.

I'm not sure what else can be done on the CMS side

[2020-11-12 15:42] emileswain commented on #4295
Not sure if its related,but i've found that the pattern matching doesn't work if you have more than one space in the string your matching.

So something like `mywidget asdasdasdasd` is ok, but `mywidget asdasda     sdasd` will never call fromBlock()

its like something responsible for running the initial matching doesn't like spaces.

[2020-11-12 17:58] Pearce-Ropion opened #4577 "Widget field values should be allowed to be type: number"
**Describe the bug**

The following widgets should allow `number` type values as well as `string` in their schema.
netlify-cms-widget-number
netlify-cms-widget-select

Most (if not all) of the formats that can be written to support numbers and most parsers of these formats will also parse a numerical value as a number. However, if the number is wrapped in quotes, it will be parsed as a string.

**

[2020-11-13 16:32] seancdavis opened #4580 "Add custom buttons to the header"
**Is your feature request related to a problem? Please describe.**

I have a client with a workflow in which they are making changes constantly. In an effort to reduce the number of builds, we'd like to manually control when the site gets deployed. It makes sense that this trigger exist right alongside the content management experience.

**Describe the solution you'd like**

This is _similar_ to #

[2020-11-13 16:47] helderjnpinto opened #4581 "Problem in admin for feature i18n"
Here is the video
https://streamable.com/be4qkh

Here the repo:
https://github.com/helderjnpinto/netlify-nuxt-boilerplate

**Describe the bug**
The problem is when we access the default locale is ok, but when access the other locales defined in i18n the fields are blank and when go back the "item" that represents previous access will be blank.

**To Reproduce**

1. Go to admin
2. Click on non defa

[2020-11-14 10:51] naton commented on #3203
Any scheduled meeting coming up soonish..?

[2020-11-14 20:14] emileswain opened #4582 "datetime widget behaves differently between init({config}) and init()"
**Describe the bug**
DateTime format is saved differently when launching admin with config.yml and config.js.

This causes a subsequent error in getStaticProps where the matter parser throws the error (note in comment below i show matter can catch/manage this error when told to), but that doesn't resolve the different behaviour in using config.js and config.yml.
[code]

I originally configured sit

[2020-11-15 12:25] emileswain commented on #4582
I can confirm however that adding the following to the matter parser catchs the issue of passing an object rather than a string out of getStaticProps(). However i'd still like to know if the fact the format changes is an issue with my config.js configuration or something else.

[code]

[2020-11-15 15:41] j-o-o commented on #4564
I too have encountered this issue. I even re-did the gatsby tutorial, remade all repos and acces tokens, but it still throws this error.

I'll update if I find the solution.

[2020-11-15 15:44] rahxuls commented on #4564
I too was facing the same issue and currently facing but i tried to figure it out.
My website is hosted on Netlify so i went to the netlify initial url that is rahulism.netlify.app/admin and i have accessed it but when i go to rahulism.co/admin i face the same error. We'll this is just a small work, working for me.

[2020-11-15 16:11] j-o-o commented on #4564
I changed
[code]
to
[code]
And it's working

[2020-11-16 17:52] cbix opened #4601 "Provide custom remark-stringify options"
**Is your feature request related to a problem? Please describe.**
The markdown output works perfectly. However, we are using prettier and eslint to ensure consistent formatting of the whole project, including Markdown. The formatting rules differ between prettier and netlify-cms, e.g. prettier prefers `-` for unordered lists while the [default setting in netlify-cms](https://github.com/netlify/ne

[2020-11-16 19:27] Pearce-Ropion opened #4602 "Events only allow one handler to be executed before returning"
**Describe the bug**
The new event handlers only allow one event handler to be executed before returning
https://github.com/netlify/netlify-cms/blob/master/packages/netlify-cms-core/src/lib/registry.js#L231

**Expected behavior**

If multiple event handlers are registered for the same event, each should be executed in the order they were registered

Based on this line, I would assume multiple even

[2020-11-16 20:25] MoHassn commented on #4564
In `config.yml` file, specify your main branch name (`main `or `master `or any other name) in the backend like below and it should work

[code]

[2020-11-17 13:17] lukeocodes opened #4603 "Hitting rate limits with multiple users"
**Describe the bug**

Working in the CMS as a team, we appear to get some odd errors every now and then, errors unhandled and not really clear.

![image](https://user-images.githubusercontent.com/956290/99387081-4bcb0300-28cb-11eb-928f-7bfc57be785e.png)

When checking the console, we see we're being rate limited by GitHub.

Is there any way to avoid this?

Using the PR workflow and GitHub for OAut

[2020-11-17 22:21] guettli opened #4604 "Github project is missing label static-site-generator"
I think it makes sense that you add the label [static-site-generator](https://github.com/topics/static-site-generator) to this github project.

[2020-11-18 02:47] theredwillow commented on #4567
This turned out to be a slew of configuration issues. Sorry. I'm still learning my way around the Netlify/Gatsby infrastructure.

[2020-11-18 02:47] #4567 closed

[2020-11-18 03:06] stevemarksd opened #4605 "netlify cms scripts are included on home page of the website (non admin pages)"
**Describe the bug**

netlify  script included on non admin pages

**To Reproduce**

Follow these steps: https://www.netlifycms.org/docs/gatsby/

**Expected behavior**

Dont include script on all pages.

**Screenshots**

![image](https://user-images.githubusercontent.com/58653359/99477632-e2f88f00-298d-11eb-8b8d-1555815ca973.png)
![image](https://user-images.githubusercontent.com/58653359/99477683

[2020-11-18 10:54] KancerEzeroglu commented on #4538
I'm going to work on this issue 🎉

[2020-11-18 11:10] KancerEzeroglu commented on #3816
Can I work on this? @erezrokah

[2020-11-18 11:24] KancerEzeroglu commented on #3715
I would like to work on this issue 😄

[2020-11-18 11:25] erezrokah commented on #4580
Hi @seancdavis, so the experience would be:
- Editor clicks a button to stop builds from the CMS UI
- Editor changes some content
- Editor clicks a button to resume builds from the CMS UI

Am I correct? I think the a challenge here would be to authenticate to the build/CI service so you can control deploys.
I agree there is value in making the CMS more modular though.

Another approach would be to

[2020-11-18 11:37] erezrokah commented on #4602
Thanks @Pearce-Ropion, good catch. This was done to support https://github.com/netlify/netlify-cms/pull/3812.
I think we should only can choose to use the last value in that case, WDYT?

[2020-11-18 11:40] erezrokah commented on #4603
Hi @lukeocodes, can you please fill in the missing information from the issue template (e.g. CMS configuration)?
See https://github.com/netlify/netlify-cms/issues/4097 for more information

[2020-11-18 11:48] KancerEzeroglu commented on #3543
Hi,

I think the delete failure doesn't happen each time.
I have no idea in what situation this is happening.
How can I repeat this error/problem?
Does anyone have an idea?

[2020-11-18 11:49] erezrokah commented on #4604
Makes sense, we have it in our `npm` keywords:
https://github.com/netlify/netlify-cms/blob/2787ad233830570334368f12d79caae6156959d1/packages/netlify-cms/package.json#L19

[2020-11-18 11:49] #4604 closed

[2020-11-18 12:40] erezrokah commented on #4605
Hi @stevemarksd, including the identity widget script is intended as that guide is meant to be used with a `git-gateway` backend which requires Netlify Identity for authentication.
You can disable it via https://www.gatsbyjs.com/plugins/gatsby-plugin-netlify-cms/#enableidentitywidget

[2020-11-18 12:40] #4605 closed

[2020-11-18 16:26] #4577 closed

[2020-11-18 16:36] kylekirkby commented on #3916
@erezrokah -  this happens when the front matter contains YAML keys that the `config.yml` doesn't.

[2020-11-18 17:07] Pearce-Ropion commented on #4602
What about saving each progressive value?
[code]

[2020-11-18 19:42] naton commented on #3447
If you’re in an editorial team, maybe some kind of log with recent updates..? 🤷🏼‍♂️

[2020-11-18 21:25] Wfritz5 commented on #4564
Thanks MoHassn. My branch name is main, adding in that 'branch:main' fixed the problem. I did not have to switch to name from github to git-gateway.

[2020-11-18 22:52] theredwillow commented on #1472
@erezrokah This is still [listed under beta features in the docs](https://www.netlifycms.org/docs/beta-features/#folder-collections-media-and-public-folder). Is that the case or should this be moved to the permanent docs?

[2020-11-19 11:00] erezrokah commented on #2895
This is no longer required as all locales are registered in `netlify-cms-app`

[2020-11-19 11:00] #2895 closed

[2020-11-19 11:06] erezrokah commented on #4602
Sure that's even better

[2020-11-19 11:26] erezrokah opened #4608 "Docs: move relevant features from Beta section to permanent docs"
We have a bunch of features we can move from the Beta section to the permanent docs.

I think everything under https://www.netlifycms.org/docs/beta-features/ except `i18n` and `Nested collections` can be moved

It would make sense to move each feature at a time to make sure we're not cluttering the docs

[2020-11-19 11:27] erezrokah commented on #1472
Yes we should. Opened a new issue to track this https://github.com/netlify/netlify-cms/issues/4608

[2020-11-19 16:48] drveresh opened #4609 "Too many malicious sites being hosted"
Hi,

Your site is getting abused a lot through fake websites hosted on your site and shared through short links around.  Can you please block them and terminate those users?

Examples:
https://amz.run/4068
https://amz.run/408u
https://amz.run/40Cn

There are 1000s of these fakes sites are being hosted on your platforms and reported by numerous security companies worldwide.  You must take care of t

[2020-11-19 16:52] erezrokah commented on #4609
Hi @drveresh, this repo is for Netlify CMS - a content management system.
Can you please report these sites via https://www.netlify.com/support/.
There is a `Report Fraud or Abuse` in the dropdown.

[2020-11-19 16:56] drveresh commented on #4609
Ok, thanks.

[2020-11-19 16:56] #4609 closed

[2020-11-19 18:34] Pearce-Ropion commented on #4602
@erezrokah
So I started on this change however, I ran into an issue for the `preSave` event where the fn should return a modified `DataMap` however, the event `handler` is expecting an `EntryMap` as a parameter. To solve this we would have to do something like the following. However this would me that `invokeEvent` is no longer agnostic to the data parameter passed to it. Is this ok?
[code]

---
A

[2020-11-19 19:04] erezrokah commented on #4602
I think this is ok

This feature is still in Beta, so technically we could break it... I would still go with the first option.

[2020-11-19 20:59] theredwillow commented on #1704
I can modify the localStorage, but I can't get the repository URL to change under Identity > Git Gateway. I still need help.

[2020-11-19 21:34] LukasGentele opened #4611 "markdown editor: allow image upload / do not disable "Add Component" button"
**Is your feature request related to a problem? Please describe.**
When using the markdown editor, the UX for inserting existing or uploading new images is not great since the "Add Component" button is disabled in markdown mode. So, I need to switch to the WYSIWYG editor first, then upload/insert the image there and then switch back to markdown.

**Describe the solution you'd like**
Why no simply

[2020-11-20 18:37] seancdavis commented on #4580
Thanks for the response, @erezrokah!

My particular scenario may be an edge case, but in it, the CD pipeline is already disabled. Clicking the button would prompt a build. The rest of the workflow within the CMS would remain unchanged.

But that seems way too specific. What I was thinking of here is more along the lines of being able to add custom elements to the header either globally or within a

[2020-11-20 19:39] theredwillow commented on #3671
[code]

Is this not working because I'm trying to assign media_folder's to individual fields? If not, I'd like to request this feature and would open an issue for it.

[2020-11-21 01:52] Pearce-Ropion commented on #4568
You can already use the full functionality of React. If you configure webpack to build your CMS instance such that it also bundles react and css you can import whatever you want.

You should checkout gatsby's netlify CMS plugin. Even if you don't use gatsby you could probably extrapolate what you'd need  to do to use React in whatever way you want to.

[2020-11-21 05:01] iansinnott commented on #4568
Thanks @Pearce-Ropion. My thinking was that bundling React oneself would include a second copy of React, which is not ideal. If `React` was exposed globally then webpack could be configured to use that instead, however I'm not sure if that type of aliasing is possible if `React` is not exposed.

[2020-11-22 13:17] ijayasurya opened #4614 "TypeError: Cannot read property 'get' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.68`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.198 Safari/537.36`

**CMS configuration**
[code]

[2020-11-22 16:53] timbomckay commented on #971
I've been trying to debug this for a couple hours now. I happened to change the repo from `private` to `public` and I was suddenly able to access the CMS. I changed it back and was redirected to the login screen with `TypeError: Failed to fetch`. I've tried reconnecting the repo multiple times, even though it was private to begin with, and I've generated a new access token multiple times. The only

[2020-11-22 17:07] talves commented on #971
Try resetting your Git Gateway access token under Identity/Services in the Netlify admin console under the site if you have not tried that yet.

Here are the docs: https://www.netlify.com/docs/git-gateway/

[2020-11-22 17:14] timbomckay commented on #971
![image](https://user-images.githubusercontent.com/784904/99910346-70542000-2cbb-11eb-89e6-dc0ae5e9e155.png)

I've done this multiple times.

(Also had the wrong error message previously, it's giving `API_ERROR: Not Found`)

[2020-11-22 17:23] talves commented on #971
You have to create a new private token, I believe once you flip the repo to public. I think the token is not valid any longer.

[2020-11-22 17:25] timbomckay commented on #971
A private token being a personal one and not one tied to the repo? I can't find a way to generate a repo specific token, when I follow the links it takes me to my github profile to generate a personal access token.

[2020-11-22 17:27] talves commented on #971
Right. Needs to be created once you flip it back to private.

[2020-11-22 17:46] timbomckay commented on #971
So _"you **may** supply your own"_ should really say _"a private repo **requires** a Personal Access Token"_?

And the _Generate access token in GitHub_ button in the Netlify admin doesn't do anything when it's a private repo?

Am I understanding this correctly?

[2020-11-22 18:00] talves commented on #971
I don't change my site from public to private often, so can't remember everything exactly. There is something about making sure you reconnect the repo.

https://docs.netlify.com/visitor-access/git-gateway/#reconnect-after-changing-repository-permissions

[2020-11-22 18:01] timbomckay commented on #971
Yeah I've done that nearly every time as well. Guess I'll just have to keep it public.

[2020-11-23 07:40] tomrutgers commented on #971
Is the repo part of an organization account?

[2020-11-23 13:09] smashercosmo commented on #3485
Having the same problem. Can't find a way to get widgets for nested object.
@erezrokah is it even possible?

[2020-11-23 13:45] timbomckay commented on #971
It is

[2020-11-23 18:23] tomrutgers commented on #971
Try this: https://github.com/netlify/netlify-cms/issues/1703#issuecomment-622334889

[2020-11-23 18:55] talves commented on #971
Good recommend @tomrutgers . Forgot all about the organization rights.

[2020-11-23 19:04] timbomckay commented on #971
Thanks for that. I'll check it out. I was wonder last night if that was a factor. haha. I'll get back to you.

[2020-11-24 01:21] skellertor commented on #35
This is still happening in 2020. I am using gatsby with netlify cms and deleting the last post deletes the folder where the last post lives.

[2020-11-24 04:13] hand-dot opened #4629 "Japanese IME bug when entering image alts and titles in rich text editing mode"
**Describe the bug**

The Japanese IME does not allow you to type correctly.
The same problem may occur not only with Japanese IMEs, but also with other IMEs.

**To Reproduce**

1. Switch Rich Text editing mode.
2. Create Image.
3. Type Something 'alt' or 'title' in Japanese IME.
4. The characters you entered are not displayed correctly.

**Expected behavior**

 Be able to type Japanese correctly

[2020-11-24 10:24] bryan-helsens opened #4630 "TypeError: u is undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.19`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; WOW64; rv:68.0) Gecko/20100101 Firefox/68.0`

**CMS configuration**
[code]

[2020-11-24 13:38] erezrokah commented on #4614
@ijayasurya I'm closing this per missing information from the issue template:
https://github.com/netlify/netlify-cms/issues/new?labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title
Please comment/update the issue with the missing info and I'll re-open it

[2020-11-24 13:38] #4614 closed

[2020-11-24 13:57] erezrokah commented on #35
Hi @skellertor, I recommend opening a new issue for this with a reproduction scenario as the original issue is stale and missing a lot of information required to debug it.

[2020-11-24 13:59] erezrokah commented on #4630
@bryan-helsens I'm closing this per missing information from the issue template:
https://github.com/netlify/netlify-cms/issues/new?labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title
Please comment/update the issue with the missing info and I'll re-open it

[2020-11-24 13:59] #4630 closed

[2020-11-24 14:02] PetroPavlenko opened #4631 "Nested Collections validate path"
**Is your feature request related to a problem? Please describe.**
In my gatsby/Netlify CMS project there are some other creatable collections, I want to avoid path interception.
Basically:
- Old custom `create: true` collection has slug `/terms/*`
- new nested collection can have any slug so can be `**` or `/terms/*`
So I want to disallow `/terms/*` path.

**Describe the solution you'd like**
I t

[2020-11-24 14:14] erezrokah commented on #4631
I think this should work:

[code]

[2020-11-25 04:54] timbomckay commented on #971
Thanks for pointing me in the direction. [This comment](https://github.com/netlify/netlify-cms/issues/1816#issuecomment-631698703) in #1816 worked for me. At least until I hand the repo over to a client, might have to just disable restrictions if I remove myself as a member for the org.

Thanks again.

[2020-11-25 09:22] PetroPavlenko commented on #4631
Cool it's working I used
[code]
It works perfectly

[2020-11-25 09:22] #4631 closed

[2020-11-25 10:40] PetroPavlenko opened #4633 "Nested collection: move draft collection to new path duplicate path"
**Describe the bug**
changing path in nested collection moves page to wrong location
using local backend

**To Reproduce**
1. create test page and save
2. change path and save
3. error file in other location, all not path fields are blank

**Expected behavior**
File should be moved to proper location

**Screenshots**
<img width="1276" alt="Знімок екрана 2020-11-25 о 12 28 03" src="https://user-ima

[2020-11-25 22:16] erezrokah commented on #4097
Closing this issue per my last comment

[2020-11-25 22:16] #4097 closed

[2020-11-25 22:21] wing5wong commented on #4097
Thanks.

I appreciate your time in this and still haven’t managed to track exactly what is causing this but agree there nothing else we can do.

Regards,
Sean Anderson

On 26/11/2020, at 11:16 AM, Erez Rokah <notifications@github.com> wrote:

﻿

Closing this issue per my last comment

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://githu

[2020-11-26 06:27] sveinpg opened #4635 "Relation widget slow on initial load"
**Describe the bug**
We're using the relations widget to select authors for articles. This was fine to begin with. However, as the number of authors increased the load time increased drastically.

From other issues I understand that each a request is sent for each file and those should be cached after the initial load. However, our authors typically open this widget once.

Number of authors in col

[2020-11-26 09:07] Kainkainkain opened #4636 "File picker in the editor like image insert"
You can insert and image from the media library, but the need to upload a pdf or a ppt or any downloadable file should also be present and produce a

`
<a href="/media_library/linkedfilename" >optional label</a>`

[2020-11-26 09:16] lostfictions commented on #4581
This exact issue seems to be happening to me in the `multiple_files` i18n mode, on a `format: json` collection that's much simpler -- even just a few fields. All the other collections (with the default `format`) are fine, so I suspect it's simply getting confused and picking up every file in the collection rather than deduplicating `x.en.json` and `x.fr.json`, etc.

[2020-11-26 10:23] #4483 closed

[2020-11-26 10:52] erezrokah commented on #4636
Hi @Kainkainkain, can you please follow the issue template? I'm having a hard time understanding your request.

[2020-11-26 10:55] #1181 closed

[2020-11-26 12:54] #4460 closed

[2020-11-26 13:33] erezrokah commented on #2676
This was fixed in https://github.com/netlify/netlify-cms/pull/4139 by switching to the commits API instead of the delete file API)

[2020-11-26 13:33] #2676 closed

[2020-11-26 13:39] #4541 closed

[2020-11-26 14:20] #4602 closed

[2020-11-26 15:06] erezrokah commented on #4539
Closing this as a duplicate of https://github.com/netlify/netlify-cms/issues/3578

[2020-11-26 15:06] #4539 closed

[2020-11-26 17:18] pmpinto opened #4637 "Sorting with custom date format seems wrong"
**Describe the bug**
I have a `release-date` field with a custom `date_format` set to `DD-MM-YYYY`, so something like:
[code]
Then I have `release-date` set under `sortable_fields`, which gets recognized, but doesn't quite work as expected.

**Expected behavior**
I would expect the items to be listed considering the `date_format` and sorted by year first, then month, then day. Not the opposite as

[2020-11-26 18:11] #3578 closed

[2020-11-27 15:31] andrew-paterson commented on #3240
@erquhart having had a cursory look at the code, I would like to make an attempt at this, unless else is currently working on it?

[2020-11-27 16:08] schindld opened #4645 "Hugo's translationKey support for i18n paths"
**Is your feature request related to a problem? Please describe.**

I'm trying to find a way to get netlify-cms to understand French/English page pairs in different subfolders. I'm working with Hugo, and the way they handle translation of paths is to provide a **translationKey** frontmatter field that links two pages in differently named folders.

Given the following file structure:
[code]
with fr

[2020-11-27 16:13] regisphilibert opened #4646 "List widget form input prevents whitespace and commas"
**Describe the bug**
When trying to write in list widget input field a comma separated list, it is impossible to add whitespaces or comma.
This was introduced with `v2.10.65`

**To Reproduce**
1. Add a list widget to any collection fields through config
[code]
2. Go to CMS dashboard and try and edit the field (using whitespace, commas, tabs etc...)

**Expected behavior**
The user should be able to

[2020-11-28 07:07] rushichaudhari opened #4648 "Netlify adding // instead of single /"
**Is your feature request related to a problem? Please describe.**

When I'm uploading image, it isn't getting displayed. After debugging i realized it is adding two // in image section like shown below
[image](https://imgur.com/a/yBVPXkv)

The website on which I'm trying netlify is available [here](https://github.com/rushichaudhari/rushichaudhari.github.io)

**Describe the solution you'd like**
I

[2020-11-28 08:01] BA1RY commented on #4637
@pmpinto @erezrokah I would like to work on this issue.

[2020-11-28 12:44] tomrutgers commented on #4648
Could you post the contents of your config.yml?

[2020-11-28 14:49] kylesloper opened #4649 "Netlify CMS previews not working for Eleventy sites."
### I have an eleventy site that uses Netlify CMS. Just recently the custom previews that previously worked in the CMS have stopped working after site build without me changing any of the code that might affect it. **(They work locally though)**

#### Just the other day the Previews were working like normal -- see screenshots below:

![image](https://user-images.githubusercontent.com/45979758/1005

[2020-11-28 16:08] FR073N commented on #2579
This feature would be really awesome. Any news since last state @tinfoil-knight ?

[2020-11-28 16:12] tinfoil-knight commented on #2579
I'm just stuck on the other components in v3 being built out and integrated first.

[2020-11-30 02:51] kalebheitzman commented on #4646
I have this same issue

[2020-11-30 07:25] JackTheHack opened #4660 "TypeError: e.replace is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.71`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.67 Safari/537.36 Edg/87.0.664.47`

**CMS configuration**
[code]

[2020-11-30 07:28] JackTheHack opened #4661 "TypeError: e.split is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.71`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.67 Safari/537.36 Edg/87.0.664.47`

**CMS configuration**
[code]

[2020-11-30 10:05] erezrokah commented on #4648
Hi @rushichaudhari, the content file looks ok:
https://github.com/rushichaudhari/rushichaudhari.github.io/commit/0a02673767ac96a7b15087babffaa8d0a71b1da3#diff-f3a5199fab91e697b6ea8b39bbbc5967416bac4b40588f2d639d0b811b358a51R12

This seems to be an issue with the way your site is built and not how the CMS saves the path to images.

I'm closing the issue, please comment if you need more information

[2020-11-30 10:05] #4648 closed

[2020-11-30 10:06] erezrokah commented on #4637
Thanks @BA1RY, I've assigned you to the issue

[2020-11-30 10:09] erezrokah commented on #4660
Hi @JackTheHack, can you add the missing information from the issue template:
https://github.com/netlify/netlify-cms/issues/new?labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title

[2020-11-30 10:09] erezrokah commented on #4661
Hi @JackTheHack, can you add the missing information from the issue template:
https://github.com/netlify/netlify-cms/issues/new?labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title

[2020-11-30 10:12] erezrokah commented on #1218
Closing as stale. please comment if still relevant

[2020-11-30 10:12] #1218 closed

[2020-11-30 10:14] erezrokah commented on #1304
Closing as stale. Please comment if still relevant and the suggested fix (editor component) doesn't work

[2020-11-30 10:14] #1304 closed

[2020-11-30 10:19] erezrokah commented on #4062
After re-reading the discussion I can't seem to think of any actionable item to extract from it.
Please comment if still relevant

[2020-11-30 10:19] #4062 closed

[2020-11-30 10:20] #4249 closed

[2020-11-30 10:20] erezrokah commented on #4249
Closing as missing information

[2020-11-30 10:20] erezrokah commented on #4284
Closing as missing information. Please comment if still relevant

[2020-11-30 10:20] #4284 closed

[2020-11-30 10:21] erezrokah commented on #4354
Closing as missing information. Please comment if still relevant and follow the issue template https://github.com/netlify/netlify-cms/issues/new?labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title

[2020-11-30 10:21] #4354 closed

[2020-11-30 10:21] #4425 closed

[2020-11-30 10:21] #4636 closed

[2020-11-30 10:58] erezrokah commented on #4649
Hi @kylesloper, I recommend sharing a repo reproducing the issue. This is most likely related to build configuration, specifically how you are injecting site styles into the CMS. Without looking at some code it would be very hard to identify the root cause.

[2020-11-30 11:03] cleankoding-pradeep commented on #4564
This solution worked for me

[2020-11-30 11:17] erezrokah commented on #4564
Closing this issue resolved. Thanks everyone

[2020-11-30 11:17] #4564 closed

[2020-11-30 13:08] erezrokah commented on #4389
Closing this, thank you everyone

[2020-11-30 13:08] #4389 closed

[2020-11-30 13:10] erezrokah commented on #3240
Hi @andrew-paterson, we would love a contribution for this. Please know that this will require a fair amount of work. Regardless I recommend looking at https://github.com/netlify/netlify-cms/issues/2557 as I think it would be best to include this issue as a part of that effort.

[2020-11-30 16:16] BA1RY commented on #4637
@erezrokah I looked into it and noticed that below code snippet is where sorting happens and any changes have to be made there.
https://github.com/netlify/netlify-cms/blob/74d5569bd3daf7cb878435432d9d4545001e7f82/packages/netlify-cms-core/src/reducers/entries.ts#L413
Also I came across this old issue (https://github.com/netlify/netlify-cms/issues/3973) and got to know that dates by default/ISO for

[2020-11-30 17:27] joyously commented on #4062
I think this is actionable:

[2020-11-30 17:42] erezrokah commented on #4062
Thanks @joyously do you mind opening new separate issues for those?
The undo functionality is available via keyboard shortcuts, but adding a button for it is a good idea.

[2020-11-30 17:56] erezrokah commented on #4637
Great research @BA1RY. I think that for sorting we would need to add a special case for dates.
I'm guessing here, but looks like the bug is caused by us sorting the dates as strings (and not date objects) since they were saved as strings.
We don't want to change the serialization/deserialization of those values, but do want to consider the origin type (date) while sorting.
I'm not sure how to impl

[2020-11-30 18:20] BA1RY commented on #4637
@erezrokah Understood. It makes sense. As you said the bug must be due to dates getting sorted as strings.
Also is there a way to know if a particular field contains values for date/datetime? For example, if a field is named `createdAt` and it contains dates stored strings, unless I manually check if the incoming values are of date type I wouldn't know.

[2020-11-30 18:49] erezrokah commented on #4637
I think the only way to know for sure is based on the `widget: date` value of the field. You'd need to know the field anyway to extract the format and use if to covert the string back to a date instance.

[2020-11-30 18:57] BA1RY commented on #4637
So how can I get to know widget type and format in the below method? I tried it and wasn't successful at it.
https://github.com/netlify/netlify-cms/blob/74d5569bd3daf7cb878435432d9d4545001e7f82/packages/netlify-cms-core/src/reducers/entries.ts#L413

[2020-11-30 20:06] kylesloper commented on #4649
Here is the repo to the site.
[](https://github.com/kylesloper/moonface)

[2020-12-01 07:52] FR073N opened #4664 "Page template dropdown"
Like gitlab or github, when having a markdown field for content, having the possibility to populate the content with a template would be a really cool feature.

**Describe the solution you'd like**
In the config file we would link the markdown field to a folder or a file :

[code]

In the editor, we would have an interface like gitlab :

<img width="1180" alt="Capture d’écran 2020-12-01 à 08 46

[2020-12-01 07:58] martinjagodic commented on #4645
Could the solution to this be another `structure` option? It seems that language folders were not intended to be nested. I would love to see a solution for this because right now the only option with Hugo is `structure: multiple_files`, which is not my favorite.

I would use it something like this:

[code]

Content structure

[code]

@erezrokah I hope this is possible

[2020-12-01 11:03] erezrokah commented on #4637
I'll need to dig into it a bit more, I think we would need to save additional information for the sort fields

[2020-12-01 11:07] KancerEzeroglu commented on #4538
Hi,

I changed the timeout to 120 in the unsentRequest.js file.

https://github.com/KancerEzeroglu/netlify-cms/blob/b749cd7ddde98b5dda2e4b3ddd0deff9c1fc7571/packages/netlify-cms-lib-util/src/unsentRequest.js#L13

Then I start getting the error below:

<img width="1898" alt="Screen Shot 2020-12-01 at 11 42 37" src="https://user-images.githubusercontent.com/1583507/100732623-44c4ea00-33cd-11eb-8846-

[2020-12-01 11:14] erezrokah commented on #4180
Closing this as stale

[2020-12-01 11:14] #4180 closed

[2020-12-01 11:17] erezrokah commented on #4603
Closing per missing information

[2020-12-01 11:17] #4603 closed

[2020-12-01 11:21] erezrokah commented on #4664
closing this as a duplicate of https://github.com/netlify/netlify-cms/issues/3488.
Please comment if you think this is a different issue

[2020-12-01 11:21] #4664 closed

[2020-12-01 12:39] FR073N commented on #3488
Dupplicate of this : https://github.com/netlify/netlify-cms/issues/4664#issuecomment-736450898

I think more of this feature like the gitlab options (see my issue).

Having a dropdown, and then selecting the template that we want.
In the config file, we would have a template option that points to a folder or a list of files.

What do you think @ShailenNaidoo  ?

[2020-12-01 16:35] martinjagodic opened #4665 "Filter does not work with i18n"
**Describe the bug**
Property `filter` does not work when you add `i18n: true` to the same collection.

**Expected behavior**
`filter: {field: "visibleInAdmin", value: true}` should work when `i18n: true` is applied.

**Applicable Versions:**
 - Netlify CMS version: 2.10.73
 - Git provider: GitHub
 - OS: MacOS BigSur
 - Browser version Chrome 86

**CMS configuration**
[code]

**Additional context*

[2020-12-01 19:46] TristanSchorn commented on #4538
@KancerEzeroglu I found [this](https://stackoverflow.com/a/29982303/3259567) which seems to imply this is an HTTP post buffer size limitation. Is it possible to reduce the buffer Netlify CMS uses?

[2020-12-02 07:03] mastanbi551 opened #4666 "Error: Minified React error #130; visit https://reactjs.org/docs/error-decoder.html?invariant=130..."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.14.3`
 - Git provider: `proxy`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36`

**CMS configuration**
[code]

[2020-12-02 09:20] erezrokah commented on #4666
Hi @mastanbi551 can you please fill in the missing information from the issue template https://github.com/netlify/netlify-cms/issues/new?labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title

[2020-12-02 09:20] #4660 closed

[2020-12-02 09:20] #4661 closed

[2020-12-02 10:55] Satishpal93 opened #4667 "TypeError: Cannot read property 'Image' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.19`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36`

**CMS configuration**
[code]

[2020-12-02 10:57] erezrokah commented on #4667
Hi @Satishpal93 can you please fill in the missing information from the issue template https://github.com/netlify/netlify-cms/issues/new?labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title

[2020-12-02 11:02] Satishpal93 opened #4668 "TypeError: e.get is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.19`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36`

**CMS configuration**
[code]

[2020-12-02 11:14] erezrokah commented on #4668
Hi @Satishpal93 can you please fill in the missing information from the issue template https://github.com/netlify/netlify-cms/issues/new?labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title

[2020-12-02 13:30] emileswain opened #4669 "Custom widget: Incorrectly eaten value bug"
**Describe the bug**
Using a custom registerEditorComponent the browser console shows the following error.

`Sent invalid data to remark. Plugin: HeroBlockmdx. Value: <HeroBlock data='%7B%22id%22:%22a%22,%22type%22:%224%22%7D'></HeroBlock>. Data: {"id":"a","type":"4"}
`

However, after having looked at several related issues (currently closed), this only happens when the component is not the very

[2020-12-02 13:56] DrewNull commented on #4365
I was getting this same error in my own project. It was due to a mistake in the `slug` pattern in one of my collections defined in config.yml. Instead of `slug: {{title}}/index`, I had accidentally written `slug: {{name}}/index`. There was no `name` frontmatter field defined, so it was failing with the above error code whenever I tried to create a new item of that collection from the CMS.

[2020-12-02 14:05] kjoscha commented on #4385
I have the same bug on several browsers. NetlifyCMS version 2.14.3

[2020-12-02 14:36] emileswain commented on #2092
I second @d-sanderson suggestion regards a guide for custom components that cover a lot more detail that the current guide provides.

Attempting to go beyond 'hello world' instantly chucks developers into a rabbit hole of despair.
Issues i've yet to resolve (not quite ready to just give up yet)
1. Properly deploy custom widget to github repo and include in cms (before deploying to npm).
2. Create

[2020-12-02 14:47] andrew-paterson commented on #3240
I have created https://github.com/netlify/netlify-cms/pull/4670 as a very small first step. I'd like to clarify a few things, which I have listed in the PR before continuing.

[2020-12-02 15:25] emileswain commented on #4669
So i think i can confirm that its to do with the pattern matching. It seems that i haven't quite got the pattern matching to work for multi line matches.

In terms of regex it does appear to be valid. however its definately not working for NetlifyCMS somewhere.

[2020-12-02 16:08] joyously commented on #4543
Adding a button for Undo was mentioned here: https://github.com/netlify/netlify-cms/issues/4062#issuecomment-735936424

[2020-12-02 16:23] joyously commented on #4669
What state is that content in? If the user is writing about your block, with examples, would the pattern match that also?
Or are you writing an actual HTML component, where the browser does the parsing and executes the correct JS to handle that tag?

[2020-12-02 17:27] lukas-mertens commented on #1372
Any updates on this? The bug is affecting me as well... A fix would be nice!

[2020-12-02 17:53] neefrehman opened #4671 "Automatic lastEdited / lastPublished field population"
**Is your feature request related to a problem? Please describe.**

I'm building a sitemap generator for a site, and understand that including the publish date for articles can help with SEO on more recent posts. Currently it looks like this would have to be entered manually for each post.

**Describe the solution you'd like**

I'm wondering if it's possible to expose a config option or a widget t

[2020-12-02 18:17] tranlehaiquan commented on #3961
For anyone visit. You no need to uninstall gatsby-plugin-offline. The reason that gatsby use workbox for service worker and default config of it have a Regex `/(\.js$|\.css$|static\/)/` -> It will cache every request have static in URL.

How to fix?
Use this config for gatsby-plugin-offline
[code]

[2020-12-02 22:44] lucadalli opened #4672 "Automagical field population on object paste"
**Is your feature request related to a problem? Please describe.**
Consider a `translation` Object widget with fields `x` and `y`. If an editor already has the object they need to populate into the CMS available to them in JSON format ex `{ "x": 25, y: "50" }`, they need to copy-paste the value of each field one at a time. This is tolerable for smaller objects like this one, but becomes very tedio

[2020-12-03 04:21] minyangu-bgl commented on #2676
thanks guys!

[2020-12-03 06:26] Satishpal93 opened #4673 "TypeError: e.get is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.19`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36`

**CMS configuration**
[code]

[2020-12-03 09:04] erezrokah commented on #4673
Duplicate of https://github.com/netlify/netlify-cms/issues/4668

[2020-12-03 09:04] #4673 closed

[2020-12-03 09:04] #4668 closed

[2020-12-03 11:56] emileswain commented on #4669
The above was showing the mdx formatting. So unparsed.

more details here. https://community.netlify.com/t/multiple-issue-creating-custom-editor-widget/27549

[2020-12-03 13:52] emileswain commented on #793
Should this work for nextjs implementations as well? I'm using css modules, and have failed to get any of the examples to work. Nextjs is embeded the styles into the admin page <head> as <style> blocks.

I would expect to see the iframe head element to have shows the styles in a similar way, but i'm not. I imagine its because nextjs works in a different way, but i'm not entirely sure.

///////////

[2020-12-03 14:33] emileswain commented on #793
Ok, So i think this is particular to my issue with NextJS, running in dev with local cms, and very likely i'm just not doing things the right way (i'm not that clued into css.modules and styled components).

But i simply copied the styles in my header into the iframe head element.  I imagine that i'm using withEmotion wrong in some way.

[code]

[2020-12-03 18:46] nennogabriel commented on #1794
I have the same problem

[2020-12-03 21:19] loic-roux-404 opened #4674 "[object] Can't use wildcard in a relation field pointing to an object"
Coming from this [netlify forum thread](https://community.netlify.com/t/how-can-i-get-an-object-data-inside-a-relation-widget/19147/4)

### Subject :

Trying to build these objects fields, it appears we can't use wildcard in `relation` for fetching fields of an `object`.
`*` is only available for `list` field.

[code]

The corresponding file is the example of what i've tried (check comment) :

[co

[2020-12-04 00:20] brianzelip commented on #1999
Just dropping a note here for folks to check their browser privacy extensions! I just ran into this issue again, checked this thread for any more tips, then checked my Privacy Badger extension. The extension was blocking 3 cloudinary apis. DOH!

[2020-12-04 07:58] iansinnott commented on #4483
I'm seeing some unexpected behavior and I'm wondering if I'm missing something or if there might be a bug.

It seems that the `i18n: duplicate` setting does not work in file collections. Here's the relevant portion of my config:

[code]

P.S. Thanks for shipping this everyone! Even without `duplicate` this is a big improvement to the i18n support.

[2020-12-04 14:32] dancingmonkey commented on #1025
Wauw almost three years ago this feature request was openend and still nothing really? My client is so happy :(

[2020-12-04 15:29] PetroPavlenko opened #4675 "List draft entry in list page (collection)"
using editorial workflow, draft entries are not listed in page list. Would be nice to list them with some labels. So it'll be easier for simple users to see new pages

**Is your feature request related to a problem? Please describe.**
Add-hoc users are very confused, as this is not listed

**Describe the solution you'd like**
add draft label in collection list and details page

**Describe alternat

[2020-12-04 16:22] emileswain opened #4676 "NextJS (src/pages/Admin.tsx) 'Invariant is not defined' error."
**Describe the bug**

Using `npx netlify-cms-proxy-server` with `local_backend = true` in the config.yml and building the admin page with **NextJS** throws the error below.

[code]

This only occurs in certain situations:
* [netlify-cms-proxy-server] This occurs when using `localhost:3000/admin`
* [netlify-cms-proxy-server] This does not occur when using `localhost:3000/admin/index.html`
* [netlif

[2020-12-04 21:30] wslyvh opened #4677 "I18n + nested collections doesn't show the entire collection"
**Describe the bug**
I’m trying to set-up Netlify CMS with i18n (en + es) and nested collections.
As both seem to be beta features, I’m not sure if this would even work together.
Hope to get some thoughts on this.

I’ve created a demo repo, with a basic configuration that I believe should work.
The CMS however only shows the first content item.

If I understand it correctly;
The title is usually u

[2020-12-06 09:34] erezrokah commented on #2959
Closing as I believe this is fixed

[2020-12-06 09:34] #2959 closed

[2020-12-06 09:35] erezrokah commented on #4483
Hi @iansinnott, see https://www.netlifycms.org/docs/beta-features/#limitations for `list` widget limitations and also https://github.com/netlify/netlify-cms/issues/4386

[2020-12-06 09:40] erezrokah commented on #4253
Closing this as stale. If this is still relevant please share the network traffic of the failing request

[2020-12-06 09:40] #4253 closed

[2020-12-06 13:48] emileswain commented on #4676
So i was wondering if there was a way to run netlifycms locally so i could try and step through the traces/logs with source maps rather than obfuscated code. I through i'd be able to checkout https://github.com/emileswain/netlify-cms run it locally (which finally ran after a couple of attempts)  and configure my projects config.yml with local_backend: url:localhost setting to use this instance and

[2020-12-06 15:58] emileswain commented on #4676
In addition i've narrowed down a similar issue with the same error message.

[code]
**To Reproduce**
1. create new page
2. add `hello`
3. publish/save
4. reload page.
5. see error.

**Additional notes:**
Note: if you instead add a header i.e. # My header the error message changes to

[code]

**Does the same happen with Multiple elements?**
If you add multiple elements only the first is reported wi

[2020-12-06 17:13] jd-fillmore opened #4679 "Gatsby + Netlify CMS - error Your site's “gatsby-node.js” must set the page path when creating a page"
It's saying that path is null and the context > slug is null. However they are defined in my gatsby-node.js file.

It was working locally, now it's not. Trying to figure out why this is happening. Searched Google and S/O, can't seem to find an answer.

Here's the error below when deploying to Netlify or try to run 'gatsby develop':

    10:51:57 AM: error Your site's "gatsby-node.js" must set the

[2020-12-06 17:16] erezrokah commented on #4679
Hi @jd-fillmore, this seems more like an issue with Gatsby than the CMS as the content file looks correct.
I recommend contacting Gatsby via one of their support channels https://www.gatsbyjs.com/support/

[2020-12-06 17:18] jd-fillmore commented on #4679
@erezrokah Okay thanks! Will close.

[2020-12-06 17:18] #4679 closed

[2020-12-06 17:33] emileswain commented on #4676
Narrowed it down as far as possible (for me anyway). Looks like its something to do with proptype validation. I guess some configuration in nextjs is interfereing with this is dealt with some how.

![2020-12-06 17_31_01-Window](https://user-images.githubusercontent.com/879162/101287587-fe1a2a00-37e8-11eb-9a4b-de667ddd5d71.png)

[2020-12-06 22:25] gavgrego commented on #4646
I also have this issue, spaces should be allowed as characters inside individual tags.

[2020-12-07 07:55] JR-Carroll opened #4692 "Error: Minified React error #130; visit https://reactjs.org/docs/error-decoder.html?invariant=130..."
**Describe the bug**
Having blended the netlify tutorial and sourcing the netlify starter blog sample project into my gatsby website, I have all of it working except the 'preview' portion of the WYSIWYG.

What I'm really looking for is a way to do greater debug on this, as I doubt I'll be able to create a repo for you all to reproduce this.  Right now, all I see is "There's been an error - please

[2020-12-07 11:18] erezrokah commented on #4692
Hi @JR-Carroll, following the link https://reactjs.org/docs/error-decoder.html/?invariant=130&args[]=undefined&args=[] shows some more information on the error.

We also have a debugging guide here:
https://github.com/netlify/netlify-cms/blob/master/CONTRIBUTING.md#debugging

This is correct. My guess is that you're trying to render something that React can't render (possibly `undefined`).
I recom

[2020-12-07 14:59] schindld commented on #4645
For the time being, I reverted to a flat file system, but would still like a solution for i18n paths.

[2020-12-07 19:57] theredwillow commented on #3201
I'm confused. The closing of this story means it has been completed, right? Can I already begin implementing this with `config.yml` like so...

[code]

[2020-12-07 20:27] farukrana opened #4694 "Please replace with a clear and descriptive title"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: [e.g. GitHub, BitBucket]
 - OS: [e.g. Windows 7]
 - Browser version [e.g. chrome 22, safari 11]

 - Node.JS version:

**CMS configuration**

**Additional context**

[2020-12-07 20:28] farukrana commented on #4694
solved all issue

[2020-12-07 20:29] #4694 closed

[2020-12-07 20:30] farukrana commented on #4692
issue

[2020-12-07 22:40] jcarroll-ceo commented on #4692
Thank you, @erezrokah // the problem was sourced to the previewTemplate I imported.

To others who find this:

1. If you did your own research, you probably saw others having similar, but not identical issues, and they all have different (but often similar) causes.
2. Notes of takeaway:  As reported in various other pages, you CANNOT do typical 'react stuff' in the previewTemplates.  In my particu

[2020-12-08 03:19] jcarroll-ceo opened #4695 "Can't join Public Slack Channel as per NPM Instructions"
When browsing NPM, there is a link at the bottom about joining the public Slack for NetlifyCMS.
https://www.npmjs.com/package/gatsby-plugin-netlify-cms

However, when going to that link, it prompts to sign into a slack account (which I have a few of) but then ultimately says "I need to be an @netlify user" to join.  I suspect it's not public anymore and maybe NPM might need to be updated to reflec

[2020-12-08 10:12] smashercosmo opened #4696 "Ability to save image meta data when uploading an image"
**Is your feature request related to a problem? Please describe.**
Nowadays modern browsers use image 'width' and 'height' attributes to avoid layout shift
https://twitter.com/jensimmons/status/1172922185570279425

Also Next.js image component requires 'width' and 'height' attributes to be provided
https://nextjs.org/docs/api-reference/next/image#required-props

The problem is that it's pretty ann

[2020-12-08 10:24] erezrokah commented on #1508
Closing this as stale

[2020-12-08 10:24] #1508 closed

[2020-12-08 10:25] erezrokah commented on #1525
Closing as stale

[2020-12-08 10:25] #1525 closed

[2020-12-08 10:29] erezrokah commented on #4692
@jcarroll-ceo thanks you for the feedback ❤️ Making the CMS easier to configure is a well needed improvement. See https://github.com/netlify/netlify-cms/issues/2347 for some context.

[2020-12-08 10:29] #4692 closed

[2020-12-08 10:38] erezrokah commented on #4695
Hi @jcarroll-ceo, good catch we need to update that link on the Gatsby repo.
You can use the [link](https://www.netlifycms.org/chat) from this page https://www.netlifycms.org/

[2020-12-08 10:48] erezrokah commented on #4695
Fixed in https://github.com/gatsbyjs/gatsby/pull/28529

[2020-12-08 10:55] BasixKOR opened #4697 "Asset colocation"
**Is your feature request related to a problem? Please describe.**
Many SSGs supports having a folder containing some assets (primarily image) with index file which is actual content. Examples include:

 * Zola's [asset colocation](https://www.getzola.org/documentation/content/overview/#asset-colocation)
 * Hugo's [Page bundles](https://gohugo.io/content-management/page-bundles/)
 * Hexo's [Post A

[2020-12-08 10:57] BasixKOR commented on #4697
Oof, duplicate of #1472. closing!

[2020-12-08 10:57] #4697 closed

[2020-12-08 10:58] BasixKOR commented on #1472
Hi! Just found this issue. Is there any progress on uploading images to bundle paths?

[2020-12-08 11:04] erezrokah commented on #1472
Hi @BasixKOR this is supported via https://www.netlifycms.org/docs/beta-features/#folder-collections-media-and-public-folder

[2020-12-08 15:42] jcarroll-ceo commented on #4695
awesome thank you @erezrokah

[2020-12-08 15:42] #4695 closed

[2020-12-08 22:01] paulbille commented on #1489
has this progressed?, or is there a work around?

[2020-12-09 12:58] TimPchelintsev commented on #4671
Hi, @neefrehman! I am new to Netlify CMS, but It looks like a valid case for [registering-to-cms-events](https://www.netlifycms.org/docs/beta-features/#registering-to-cms-events). **Not tested it**, but something like
[code]
should do the trick. We also should set a 'lastEdited' as hidden field, I think.

[2020-12-09 17:54] #4667 closed

[2020-12-09 17:54] #4666 closed

[2020-12-10 02:44] olivia-ng opened #4701 "[Netlify] TypeError: e.get is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.64`
 - Git provider: `github`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.198 Safari/537.36`

**CMS configuration**
[code]

[2020-12-10 08:47] erezrokah commented on #4701
Hi @olivia-ng can you please fill in the missing information from the issue template https://github.com/netlify/netlify-cms/issues/new?labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title

[2020-12-10 08:51] PetroPavlenko opened #4702 "Add allow_delete property in list widget"
**Describe the solution you'd like**
Same as allow_add, create allow_delete: boolean so developer can disable deleting.

**Describe alternatives you've considered**
using min, but can't keep unique hidden fields

**Additional context**

<img width="411" alt="Знімок екрана 2020-12-10 о 10 50 48" src="https://user-images.githubusercontent.com/11796465/101748714-93613b00-3ad5-11eb-97a1-e28c93e7e5f7.p

[2020-12-10 09:01] olivia-ng commented on #4701
@erezrokah Hey sorry, no wow, I didn't realize that this was posted into the netlify repo, I thought it was in our internal organization 🤦‍♀️ We just wanted to open the issue to see what error would show. Imma close this.

[2020-12-10 09:01] #4701 closed

[2020-12-10 10:58] neefrehman commented on #4671
@TimPchelintsev thanks! this is exactly the kind of solution I was looking for!

[2020-12-11 02:59] delanyodevio opened #4706 "Able to set path to upload folders directly on widgets"
In my NetlifyCMS config file, I have the following:

Globally:
`media_folder: "src/images/upload"`
`public_folder: "images/upload"`

Then in the my **collections** under **fields**, I can do something like this:

`{label: "Upload Image", name: "image", widget: "image" }`

`{label: "Upload PDF", name: "pdf", widget: "file" }`

Per this configuration, when I published a content, both the PDF file an

[2020-12-11 04:17] srchulo opened #4707 "Please replace with a clear and descriptive title"
**Describe the bug**
Saving collections where the title has quotes or single quotes in it while in the editorial workflow leaves quotes/single quotes in the filename.

**To Reproduce**
1. Have the publish mode be editorial_workflow
2. Have a title field
3. Use a title with quotes or single quotes
4. Save

**Expected behavior**
A file should be created with a slug that does not contain the double q

[2020-12-11 09:03] erikkroes commented on #441
Just to add another voice, not being able to use a mobile phone is a real let down. This 3.5 year old issue is a reason for me too look for other options.

[2020-12-11 11:28] martinjagodic commented on #1044
Hi everyone

I found a regex pattern to match multiline markdown, maybe it helps someone.

From
`/^{{< text-image src="(.*)" alt="(.*)" >}}(.*){{< \/text-image >}}/`

I changed it to
`/^{{< text-image src="(.*)" alt="(.*)" >}}(.*){{< \/text-image >}}/s`.

The catch is in the last "s".

The entire component:

[code]

[2020-12-11 15:45] pmpinto commented on #1593
Additionally to what @ArcaneTSGK mentioned above, as it wasn't clear for me, I believe the user dragging the changes to the "Ready" column should be the user approving the PR in GitHub (through the backend).

@erquhart Any news on this? This is currently blocking our content team from managing their work themselves and relying on a team of developers to manually approve their content changes on Gi

[2020-12-11 16:39] papandreou commented on #1044
That's because the `.` character class doesn't match line terminators when the `s` flag isn't set: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions/Character_Classes#Types

In situations where you don't control the flags, you can use eg. `[\s\S]*` instead if `.*` to achieve the same thing (the "space or not space" hack).

[2020-12-11 17:03] schindld commented on #1025
If this is too hard to implement, maybe offer us a config option (another value for **publish_mode** maybe?) that uses editorial_workflow, but re-uses the same branch, **draft**, for all draft edits. And it would also have to use branches for *in review* and *ready*, instead of labels.

[2020-12-12 02:49] chris1000 commented on #1503
Wanted to see if there has been any progress?

[2020-12-13 08:39] erezrokah commented on #4706
Hi @delanyodevio thank you for opening this issue. I believe this is a duplicate of https://github.com/netlify/netlify-cms/issues/3201 and is already implemented, just not documented https://github.com/netlify/netlify-cms/issues/3671

There is a PR that tries to improve that https://github.com/netlify/netlify-cms/pull/4705

[2020-12-13 08:39] #4706 closed

[2020-12-13 09:34] erezrokah commented on #1593
Hi @pmpinto, we're open to contributions for this issue. I would say it's a medium size effort to add an `approve` button to an editorial workflow entry that's only enabled for users that didn't author the entry

[2020-12-13 13:17] DevAhmedRagab commented on #1109
Any update ?!

[2020-12-13 13:26] erezrokah commented on #1109
Hi @DevAhmedRagab, see my comment [here](https://github.com/netlify/netlify-cms/issues/1109#issuecomment-698243592). It would be great if someone can continue the work done in https://github.com/netlify/netlify-cms/pull/4384

[2020-12-14 12:04] katcoutts opened #4725 "Update Cloudinary widget so that you can opt to inset the filepath of the image, not the filename alone"
**Is your feature request related to a problem? Please describe.**
We are going to be integrating Cloudinary with NetlifyCMS. Ideally, when people are adding images via Cloudinary, we would like the resulting markdown to specify the filepath for the file within Cloudinary. At the moment the only options are to output the full Cloudinary URL, or the filename only. Filename only is no use to us as w

[2020-12-14 14:38] logemann opened #4726 "Boolean widget with false value not rendered in MD"
**Describe the bug**
When setting a Boolean widget to false, this key wont be rendered to the resulting Frontmatter/Markdown file with key: false but will be left out completely. This makes problems with Gatsby GraphQL queries where this field is part of the query.

**To Reproduce**
define boolean field like so:
`- {label: "Featured Post", name: "featuredpost", widget: "boolean", required: false}`

[2020-12-14 14:40] erezrokah commented on #3853
@smashercosmo that's great. I think you can use `refactor: remove immutable.js from status and auth`

[2020-12-14 19:40] acarnwath commented on #4570
Giving this a bump @erezrokah or maybe @smashercosmo can answer my question since they were talking about it in the other issue...?

[2020-12-14 19:52] smashercosmo commented on #4570
If you're using Gatsby then you're probably using gatsby-plugin-netlify-cms. To be able to provide different configs conditionally you have to initialize cms manually. In order to do that you have to provide certain options to gatsby-plugin-netlify-cms. This is how it's done in my gatsby-config.js
[code]

and then in cms.ts (or cms.js if you're not using TypeScript)
[code]

if you want to use loca

[2020-12-15 09:55] erezrokah commented on #4570
This is great @smashercosmo - I think our docs don't clarify it but the local backend only runs if you're on `localhost` so I think you can drop that condition:
https://github.com/netlify/netlify-cms/blob/92a3bfa4855de0db503cc5909b5f750fc0b862ae/packages/netlify-cms-core/src/actions/config.js#L365

[2020-12-15 11:17] #4665 closed

[2020-12-15 14:22] nolafs opened #4728 "Netlify CMS hacked"
Hi,

Not entirely sure how this could have happened but somebody was able to create post on one of our clients website. After further investigation, we could see a pull request from the cms from a GitHub use. Obviously a fake GitHub account.  Luckily it only created deploy preview. After checking the Netfliy account, we notice to new accounts under Identify of the site and the registration prefere