[2018-06-02 17:02] talves commented on #1400
Closing based on duplicate https://github.com/netlify/netlify-cms/issues/1286

[2018-06-02 17:02] #1400 closed

[2018-06-03 03:34] anbuchelva opened #1402 "Error accessing Netlify CMS from mobile browser"
**- Do you want to request a *feature* or report a *bug*?**
Bug
**- What is the current behavior?**
I tried accessing Netlify CMS from mobile chrome browser. It took me to the error page.
**- If the current behavior is a bug, please provide the steps to reproduce.**
Login to Netlify CMS through mobile, chrome browser
Try to edit the post, which is already in draftsman
The markdown portion doesn't

[2018-06-03 05:49] kyleoliveiro opened #1403 "Allow setting of the "target" attribute for links in the editor"
**- Do you want to request a *feature* or report a *bug*?**
Feature

**- What is the current behavior?**
When adding a link in the markdown editor, the user is only prompted for the URL of the link to be added.

**- If the current behavior is a bug, please provide the steps to reproduce.**
N.A.

**- What is the expected behavior?**
User should be prompted for the `target` attribute of the link, wh

[2018-06-03 06:17] kyleoliveiro commented on #552
What needs to be done for us to move forward with this feature?

[2018-06-03 13:32] tech4him1 commented on #1402
@anbuchelva It is a known issue that the CMS doesn't work in mobile. We want to get it working, but right now, like you found, the main blocker is the support of the markdown editor, Slate. If you want to help contribute to their issue with your findings, that would be great!

Netlify CMS issue: https://github.com/netlify/netlify-cms/issues/441
Slate issue: https://github.com/ianstormtaylor/slate/

[2018-06-03 13:32] #1402 closed

[2018-06-03 13:35] tech4him1 commented on #1403
@kyleoliveiro Setting the `target` of a link is not part of Markdown, the links would need to be saved as HTML instead. It's possible to [make your own editor component](https://www.netlifycms.org/docs/custom-widgets/#registereditorcomponent), maybe that would work for your use-case?

[2018-06-04 18:35] pungggi opened #1404 "Cannot upload large Files to Media Gallery"
**- Do you want to request a *feature* or report a *bug*?**
Bug
**- What is the current behavior?**
Cannot upload large Files to Media Gallery. I am trying to upload a 55 MB Video.
It says:
API_ERROR: NetworkError when attempting to fetch resource.
CORS-Header 'Access-Control-Allow-Origin' is missing

I am using gatsby-plugin-netlify-cms.

**- If the current behavior is a bug, please provide the s

[2018-06-04 19:39] #1404 closed

[2018-06-05 07:52] grdp commented on #1389
problem solved with `gatsby-remark-relative-images`

[2018-06-05 09:23] papandreou opened #1405 "Hidden field in editor component is rendered"
**- Do you want to request a *feature* or report a *bug*?**

*bug*

**- What is the current behavior?**

An editor component that declares a hidden field will have it rendered:

![screen shot 2018-06-05 at 11 10 57](https://user-images.githubusercontent.com/373545/40966679-6ab6c768-68b1-11e8-90a6-37c9c1cefca2.png)

**- If the current behavior is a bug, please provide the steps to reproduce.**

1.

[2018-06-05 09:56] papandreou opened #1406 "Specifying a default value doesn't work for fields in editor components"
**- Do you want to request a *feature* or report a *bug*?**

*bug*

**- What is the current behavior?**

`string` Fields in editor components that specify the `default` option don't get populated with the default value when a new component is added. Seems to happen with all widgets (I tried with `string`, `number`, and `boolean`).

**- If the current behavior is a bug, please provide the steps to

[2018-06-05 11:16] zipang commented on #1342
Hi @erquhart !
I'm currently using Netlify CMS to build my personal web site and i really like what i see 👏 😃  , but i'm a bit stucked right now with some features missing..

However, i was going to post that _exact suggestion_ to start with, when i noticed your post.

Defining groups of fields is exactly what i neededbecause duplicating the same information in different sections is boring and err

[2018-06-05 13:13] papandreou opened #1407 "Allow specifying a dynamic default value via a function"
**- Do you want to request a *feature* or report a *bug*?**

*feature*

**- What is the current behavior?**

The default value of a field has to be a fixed string/number/boolean (depending on the field type).

**- What is the expected behavior?**

It would be great to be able specify a function that would return the desired value (maybe even allow it to return a promise for it, for even greater fl

[2018-06-05 14:28] tech4him1 commented on #1389
@esphen That's something we've been trying to figure out. The problem is that we currently have other assets like SVG and CSS that require a WebPack loader to split out. If there is a way to do that, I'd be glad to implement.

[2018-06-05 15:39] tech4him1 commented on #990
I just about have a PR ready for this. When first loading images, however, they must all be downloaded through the API before showing anything. Currently, using URLs instead of through the API, we show all the image filenames, and then load the thumbnails when ready. I'm thinking that is a good idea to do here as well. Maybe we can just load thumbnails with a lazy-loader when they come into view?

[2018-06-05 16:03] pungggi opened #1408 "gatsby-plugin-netlify-cms - registerPreviewStyle"
Is there any possibility to use a css in js solution like styled components with the preview?

At the moment there is no style applied and registerPreviewStyle does just link to a css file..

[2018-06-05 20:03] robertkarlsson commented on #1408
See this issue:

https://github.com/netlify/netlify-cms/issues/793

I made a solution for styled components based on the answer in there (not the prettiest), see below.

This is in my cms.js where i register the previews:

[code]

[2018-06-05 20:19] #1408 closed

[2018-06-05 20:19] tech4him1 commented on #1408
Duplicate of #793.

[2018-06-05 20:20] tech4him1 commented on #1408
Also note you can now pass strings into `registerPreviewStyle`: https://www.netlifycms.org/docs/beta-features/#raw-css-in-registerpreviewstyle.

[2018-06-05 21:00] PaulEibensteiner commented on #1194
Hi everyone, I'm working with Netlify CMS and Hugo and I am trying to achieve the opposite, adding widgets to the toolbar. There is a good explanation of how to build custom widgets (editor components), which create their own input fields inside the body (like the youtube widget). But I would need one, which uses the selected text or paragraph (Basically I only want to be able to add a string at t

[2018-06-06 18:00] erquhart opened #1409 "API Overhaul: Widgets"
Placeholder, reference: https://github.com/netlify/netlify-cms/pull/1131#issuecomment-386804125

[2018-06-06 20:41] erquhart commented on #1046
Alright folks, trying to determine a minimal approach to satisfy _most_ of what folks need from this feature. I'd expect those needs to be:

- Allow multiple folders to be used
- Allow nested folders
- Allow users to create folders

Here's the lowest effort approach I could think of:

- Keep accepting a single media folder in the config, as we do currently
- Show a list of folders found within the

[2018-06-06 20:41] tomgenoni commented on #1406
This appears to apply to `select` editor component as well. No default value is set.

[2018-06-06 20:48] erquhart commented on #1167
@talves assigned you as your soon-to-be-released configurator will satisfy this issue.

[2018-06-06 20:58] hcavalieri commented on #1167
Hello, y'all! Sorry for vanishing for such a long time, my life was drained out of me by this project (2origins.com) - the backend dev dipped on me, had to learn a bit of node, was crude to react before... wasn't pretty - but now I'm back! @talves wanna get together to lay down the foundations of how this app should be built? Or are you already doing something related to it?

[2018-06-06 21:10] talves commented on #1167
@calavera I had already started but did not have time to push it until lately. Mine is a private repo project that I found the time and have in the finishing stages. I did a quick presentation today in the bi-weekly dev meeting. If all goes well, I may have a first cut of it released this weekend.

[2018-06-06 21:11] erquhart opened #1410 "Split project into monorepo"
Converting the Netlify CMS repo to a monorepo managed via Lerna/Yarn Workspaces helps with the following:

1. Maintaining a small core.
2. Providing "official" extensions in their own packages.
3. Easier to copy and modify official extensions for specific use cases.
4. Separate extension packages more accessible as examples.

Planning next steps:
- [x] locate where standalone package targets are d

[2018-06-06 21:57] erquhart commented on #981
This would cover complete documents, I'd recommend opening a separate issue for sections with a bit more info about the problem you're looking to solve with that feature.

[2018-06-06 21:59] neutyp commented on #490
At first blush this sounds compelling, but I'll admit I'm having trouble fully visualizing it.  Shawn if you have a chance to do even a 'bad' mockup it would awesome to see and I'd be happy to help flesh it out further should any details need consideration

[2018-06-06 22:10] erquhart commented on #716
### Update

Until someone volunteers to own this effort, or until the core team is able to dig in, we could at least ease the pain of multilingual authoring by completing #981 so that an existing entry can be duplicated. To that end, I've added that issue to the 2.0 board targeting the initial release. This doesn't guarantee that it will get in by 2.0, but we'll push.

Comprehensive multilingual s

[2018-06-06 22:15] erquhart commented on #1280
### Update

We now have a [project board](https://github.com/netlify/netlify-cms/projects/6) for tracking status of all 2.0 issues.

[2018-06-06 22:44] chrisjpatty opened #1411 "Files, manually added to collection folders, do not appear in the CMS"
Some quick background. I'm migrating a wordpress blog with about 150 posts to Netlify CMS. I've started with the Gatsby starter project, and after converting my posts to Markdown, I dropped them in the "blog" folder for the blog collection. After deploying to Netlify, I see that Gatsby has built the static files correctly, but when I log into the CMS, none of my old posts appear under the blog col

[2018-06-06 23:05] erquhart commented on #1392
I'd expect the "published" logic to account for changes that happen during the publishing calls.

[2018-06-07 00:10] jimmyangel commented on #1046
It would be nice to be able to co-locate media folders in the same place as collections. For example, blog images go under the blog/images folder or even better under blog/{{slug}}/images folders.

[2018-06-07 01:35] chrisjpatty commented on #1411
Ok, as often happens, I managed to fix my own problem. My conversion from Wordpress to markdown had given my files a `.markdown` extension, where the CMS was expecting `.md`. Just a simple oversight on my part. I'll close this issue for now.

[2018-06-07 01:35] #1411 closed

[2018-06-07 01:39] chrisjpatty opened #1412 "Ability to sort collections by date modified or other fields"
**- Do you want to request a *feature* or report a *bug*?**
Feature request

It would be nice to be able to sort collections by fields other than the title. When a collection grows large enough it becomes more difficult to navigate.

**- Please mention your versions where applicable.**
Netlify CMS version: 1.7.0
Browser version: Chrome 66

[2018-06-07 01:53] loremipson commented on #1401
#1169 seems to be really close.

[2018-06-07 05:57] scottybo commented on #1401
looks promising, thanks! When is v2 due?

[2018-06-07 08:27] pungggi commented on #857
Can we agree on the options ?

Suggestions:

| OptionField |Value| Behaviour|
| ------------- |:-------------:| :-------------:|
| rename      | | if option filename is not set, then same behaviou as of now|
| rename      | prompt | prompts for a filename|
| filename     | {{collection}}_{{year}}-{{month}}_{{filename}}| sets a prefix to the original filename|

Same tag available as https://www.net

[2018-06-07 14:55] loremipson commented on #1401
I'm no official voice here, but the last I heard is it's still on for July. Probably mid to end July.

Someone can correct me if this has changed though.

[2018-06-07 17:19] zipang commented on #513
Hi everyone !
Cheers for the great work going on on Netlify CMS !

I've read this whole thread 3 times to try to understand what could prevent you to let the site admin freely organize all its content inside nested folders.. That's a really basic need !

And then i think that i've found what's the current problem is : that's because all the site's configuration now is static and reside inside this

[2018-06-07 18:02] scottybo commented on #1401
Good to know, thanks!

[2018-06-07 18:02] #1401 closed

[2018-06-07 19:13] erquhart commented on #1394
I began addressing this in #686, but hit a snag and haven't been back to it. On the radar.

[2018-06-07 20:04] erquhart commented on #1396
Looks like a long standing regression from [#145](https://github.com/netlify/netlify-cms/pull/145/files#diff-d3cff7a0c66d0acce37277791446d509L211).

[2018-06-07 20:05] erquhart commented on #1388
@runandrew please re-open if you need more info.

[2018-06-07 20:05] #1388 closed

[2018-06-07 20:14] erquhart commented on #192
Not currently possible, but can you explain a bit more of how that could help your use case?

[2018-06-07 20:21] erquhart commented on #1399
Yeah it's this right here:

https://github.com/netlify/netlify-cms/blob/1.8.4/src/backends/backend.js#L86-L87

@tech4him1 any reason not to allow dots?

[2018-06-07 21:14] PaulEibensteiner commented on #1378
Hi, agreed too.
(did you build the custom editor widget, and if yes, could you provide the code? thx in advance)

[2018-06-07 21:21] neutyp commented on #552
@erquhart Yeah, it's better than having no helper text. I'd say put it in, below the field, then move if we think of a better idea later.

[2018-06-07 21:33] erquhart commented on #1403
Editor component is tough because they have to be blocks, and links are generally inline. At the moment they would need to enter the HTML by hand.

I can think of a few potential fixes for this:

1. Allow all links within a markdown field to abide by field configuration, maybe something like:

[code]
2. Parse both markdown links and HTML links in the editor. If only the url is provided, use a mark

[2018-06-07 21:34] papandreou commented on #1378
@PaulEibensteiner, sure. I'm not too proud of it:

[code]

[2018-06-07 21:53] erquhart commented on #1046
@jimmyangel totally - would you mind opening a separate issue for that? It's been discussed many times, but I can't find an issue for it.

[2018-06-07 22:56] erquhart commented on #1404
Fixed?

[2018-06-07 22:57] erquhart commented on #1405
Good catch!

[2018-06-07 23:06] erquhart commented on #1342
Yep, this looks like a great approach. I was just noticing today that Contentful does just that - everything in the content model is defined as "Content Types", which are named groups of fields.

@tech4him1 @Benaiah @talves thoughts?

[2018-06-07 23:21] tech4him1 commented on #1412
This seems like a duplicate of https://github.com/netlify/netlify-cms/issues/54?

[2018-06-07 23:49] chrisjpatty commented on #1412
Oops, you're right, I somehow missed that one. Closing as a duplicate of #54.

[2018-06-07 23:49] #1412 closed

[2018-06-07 23:55] erquhart commented on #1407
I've been thinking about this recently - we'd need a way to do it for fields in the config.yml, too.

[2018-06-08 02:17] kyleoliveiro commented on #1403
For my use case, it's important to be able to control the target attribute for individual links, so the first approach wouldn't work.

We build content-heavy static sites, so maybe creating a custom editor widget makes sense. [Redactor](https://imperavi.com/redactor/) seems to have many of the features that we need.

[2018-06-08 03:05] bakerkretzmar commented on #1285
I think I'm having this same problem but I can't work out a way around it. I have everything set up *exactly*, as far as I can tell, [like this](https://www.control-alt-del.org/blog/serverless-blog-howto/), other than my `auth_endpoint` which didn't work with `/oauth` included in it. I'm using Jekyll, but everything else is copied and pasted from @marksteele except for my keys and secrets.

Code h

[2018-06-08 11:41] pbrandone opened #1415 "Can't access private repos"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
Log in with github backend to access a private repo. My user has the correct privileges.

**- If the current behavior is a bug, please provide the steps to reproduce.**
1. Add NetlifyCMS to a private repo
2. Configure CMS to use github backend and provide `repo`
3. Try to Log In with github
4. Not

[2018-06-08 11:44] robertkarlsson commented on #1415
I had this problem when going from public -> private repo. I had go generate a new key.

[2018-06-08 11:47] pbrandone commented on #1415
@robertkarlsson with github backend or with git-gateway?

[2018-06-08 11:49] pbrandone commented on #1415
@robertkarlsson also I never went from public to private. It was always private.

Opened a PR at #1416 with my quick-fix. If it's not the right way or, even better, if I'm doing something wrong please let me know so we can close both the issue and the PR

[2018-06-08 12:13] pungggi commented on #1404
No, but it doesnt seem to be the problem of the cms..but github..

I manually tried to upload a 53 MB Video.. and it says my limit is 25 MB. I thought the limit is 100 MB according to the docs?!

[2018-06-08 14:17] tech4him1 commented on #1415
@pbrandone Is the repo under an GitHub organization, or is it on your personal account?

[2018-06-08 14:18] pbrandone commented on #1415
@tech4him1 under an org

[2018-06-08 16:35] tech4him1 commented on #1415
Looks like GitHub has instructions here:
1. https://help.github.com/articles/requesting-organization-approval-for-oauth-apps/
2. https://help.github.com/articles/approving-oauth-apps-for-your-organization/

[2018-06-08 16:47] talves commented on #1409
@erquhart I like this approach. Allows for extensible widgets without breaking prior widgets in the future also.

[2018-06-08 16:58] pbrandone commented on #1415
@tech4him1 thanks but it seems that netlify CMS doesn't appear under the oAuth apps list.
The only way I can get this to work this way is completely removing application restrictions. Is this the right way?

[2018-06-08 17:11] erquhart commented on #1407
@papandreou check out my proposal in #1409, you brought up a good case here that helped. The caveat is that we need to get rid of `widget: hidden`, and instead allow some sort of `visible: false` property for any widget. That way the dynamic default value function that will ship with widgets can be used automatically.

[2018-06-08 18:33] erquhart commented on #1415
Did you check under "OAuth Apps" or "Third Party Access"? It's "Third Party Access" that would show the request.

[2018-06-08 18:50] tech4him1 commented on #1407
Related to https://github.com/netlify/netlify-cms/issues/725.

[2018-06-08 22:03] papandreou commented on #1407
@erquhart, cool. That approach looks good to me!

[2018-06-08 22:27] fbnlsr commented on #716
I don't know if this could be related, but it could be nice to be able to use a string widget to specify the filename of the page/post being created/edited.

Hugo has a specific behavior where it automatically links two pieces of content when their filename are identical, minus a language parameter. So for instance `about.md` and `about.fr.md` are automatically linked on build time.

[2018-06-08 22:33] pungggi opened #1418 "Change cms version"
I have a custom preview and use npm, so cms is integrated into my build.

The Problem
New Versions are not downloaded as long the cms version does not change.

Solution
Give the possibilty to alter the version after the import, for example>

[code]

or someting similar.

[2018-06-08 22:41] #1418 closed

[2018-06-11 15:00] ro-savage opened #1423 "GitHub Backend o-auth permissions set too widely"
Currently when using Github Backend, the app requires access to pretty much everything.

![image](https://user-images.githubusercontent.com/9244507/41239202-22fd7a0c-6d98-11e8-860c-2df8309aa68f.png)

The scope is hard coded to `repo` here : https://github.com/netlify/netlify-cms/blob/78e4b829d0ced72f8f38721d38c0d67ccb092aaf/src/backends/github/AuthenticationPage.js#L26

It would make more sense to

[2018-06-11 15:41] pbrandone commented on #1415
I found the issue. Because I already had played a bit with netlifyCMS under my own user (not org), this app was under my own personal settings.
By revoking my user access and trying to log in again I could manage grant access to the org.

Sorry for all the trouble and thanks for the help

[2018-06-11 15:41] #1415 closed

[2018-06-11 15:43] papandreou opened #1424 "'boolean' widget without default value behaves strangely"
**- Do you want to request a *feature* or report a *bug*?**

*bug*

**- What is the current behavior?**

A `boolean` field without a `default` defined in config.yml will initially render as `false`, but the field will fail the required check:

![screen shot 2018-06-11 at 16 56 36](https://user-images.githubusercontent.com/373545/41241378-0e83777a-6d9d-11e8-9743-1c54fce64abd.png)

Clicking the widg

[2018-06-11 17:23] randallmlough commented on #595
@erquhart is this something we could have a fix for in 2.0? I know the status of this is "accepted"and I saw there's a some open projects to rework the API, but didn't see something that explicitly mentions this type of functionality.

[2018-06-11 19:31] erquhart commented on #1194
Can you give an example input/output? Is this to support shortcodes in your static site generator?

[2018-06-11 19:34] erquhart commented on #1406
To clarify, it looks like default values aren't being handled at all in editor component fields.

[2018-06-11 19:44] erquhart commented on #1167
Note: the more we think and discuss on this, the better we understand how a Config UI should work. There can and will be more than one in the wild.

[2018-06-11 19:54] erquhart commented on #365
Thanks for this @maciejmatu! I think the intention for a CTA inviting devs to add their site more applied to the examples page itself. Maybe if we had a more well groomed "showcase" it'd be worth putting on the front page. Those are just my thoughts, though. Anyone else? @verythorough?

[2018-06-11 19:57] erquhart commented on #490
It will be very bad, I promise. I'll give it a swing when I get some time.

[2018-06-11 20:02] neutyp commented on #490
Literally even a paper sketch. I can take it past there 😊

[2018-06-11 20:15] erquhart commented on #857
Templated default filenames makes sense, as well as prefixing and only allowing the user to add/edit a portion of the resulting filename (maybe). That's separate from the core issue of making the filename editable though. We should split this issue into two concerns:

1. Make filenames editable.
2. Provide "slug" features for media filenames.

Editable filenames is mostly a UI problem. The more co

[2018-06-11 21:04] erquhart commented on #513
Agreed, same as #1342, a modular approach to collection and field configuration makes a lot of sense.

[2018-06-11 21:08] erquhart commented on #192
Ah, understood. Custom functions for CMS internals aren't really a thing, but deletion is within the scope of this ticket, so this issue being resolved should provide the functionality you need.

[2018-06-11 21:09] erquhart commented on #1399
Ah, duh, the extension field. @CodeEsthete I believe this solves your issue, but please comment if not and I'll reopen.

[2018-06-11 21:09] #1399 closed

[2018-06-12 02:00] kyleoliveiro commented on #1403
No additional features; just need to be able to set `target="_blank"` selectively on links.

[2018-06-12 02:30] tech4him1 commented on #990
This has been implemented in the main GitLab PR. Instead of using a lazy-loader, Benaiah and I ended up just loading and caching all images in the background the first time the media library was opened, using a semaphore to prevent overloading the network connection (images are large). I think it is fairly common to scroll (or search) through a media library, so this may be a better idea than usin

[2018-06-12 02:35] tech4him1 commented on #513
@erquhart If you get a chance to reply to my questions here: https://github.com/netlify/netlify-cms/issues/513#issuecomment-380140096, that would be great!

[2018-06-12 08:58] zipang commented on #1156
Hi @erquhart !
I'm wandering through these issues to try to help..

In this argumentation, it's seems like you want to restrict the functionalities available in Netlify CMS because of some limitations of static site generators.. like.. finding the correct template to render a file ?
I think it's not a good approach : because, regarding of the domain he is asked to work on, the developer will alway

[2018-06-12 09:53] zipang commented on #513
Hi @tech4him1 !

My recommandation is an alternative to the _path_ solution :

It states that :

_We should not store inside the collection definition any information regarding to where the content is supposed to be located_. Because any attempt in this direction would be a limitation, and could prevent a site admin to create a new folder to host a serie of posts.

Instead, i suggest that when add

[2018-06-12 11:43] papandreou opened #1425 "Markdown editor in editor component applies formatting wrong after triple clicking to select entire line"
**- Do you want to request a *feature* or report a *bug*?**

*bug*

**- What is the current behavior?**

When triple clicking a line of text in a markdown editor within an editor component, all the text gets selected:

![screen shot 2018-06-12 at 13 30 44](https://user-images.githubusercontent.com/373545/41288012-17d33952-6e45-11e8-9966-15249dafc4d3.png)

But if I then apply styling to the selecti

[2018-06-12 13:28] gil-- opened #1426 "Feature :: Field Note Option"
Unless I somehow overlooked it, there is no way to currently add a "note" to a field. So, would there be interest in adding a new option to all fields called Note? There are times where a more detailed description of expected input would be helpful to the user than just a field label by itself. Something like:

#### Twitter Handle
##### @gilgnyc for example.

Probably a terrible example but hopefu

[2018-06-12 13:31] shaunbent commented on #1426
I think this is a great idea, I'm currently creating a website powered by Netlify CMS which has multiple contributors and it would be great to add additional descriptions to fields to help editors better understand the types of content they should use.

[2018-06-12 13:44] tech4him1 commented on #513
@zipang Templates are a valid alternative, and definitely work well for some CMS' (such as Forestry and Statamic). We may need to go with a `path` solution for now, however, and add support for templates later, since file/folder collections are a basic part of how this CMS works so far. I think in the future implementing your solution (at least as an option) would make the CMS more flexible.

[2018-06-12 13:47] #1397 closed

[2018-06-12 13:49] tech4him1 commented on #1426
This seems like a duplicate of https://github.com/netlify/netlify-cms/issues/552 to me -- if so can we move the discussion there?

[2018-06-12 13:55] #1405 closed

[2018-06-12 13:55] gil-- commented on #1426
Indeed it's along the same lines. Sorry about this. Searched for 'Note' but didn't find anything so I opened this.

Will close.

[2018-06-12 13:55] #1426 closed

[2018-06-12 16:10] erquhart commented on #1404
Ah - _reading_ blobs supports up to 100MB, the docs don't specify a limit for _creating_ them. Apparently it's 25MB.

Watch this issue for updates on external asset store integrations: https://github.com/netlify/netlify-cms/issues/432

[2018-06-12 16:23] erquhart commented on #1423
I suppose making this configurable would be fine, just might require some error handling around attempts to access restricted repos.

Proposing:

1. Keep the current default, it's important that this "just works"
2. Accept an `auth_scope` property under `backend` in `config.yml`
3. Restrict accepted values to those that work for the CMS, currently `repo` and `public_repo`

Thoughts?

cc/ @Benaiah

[2018-06-12 16:59] talves commented on #1423
@erquhart The screen capture implies the login has access to ALL repos within the login. Is that true or is it only the repo logging into?

[2018-06-12 17:55] gil-- commented on #552
I'm willing to begin developing this under the field. Didn't realize it was requested as i had created https://github.com/netlify/netlify-cms/issues/1426

[2018-06-12 18:06] erquhart commented on #595
If someone wants to take it on, we're open to a PR. We'd need to map when writing and also reverse map when reading, and ensure graceful handling of collisions. That said, I'd say this is ready for development.

[2018-06-12 18:20] erquhart commented on #1403
Got it. Not sure what Redactor outputs, but it isn't open source and it doesn't do Markdown, so I'm not certain how it would work as a Netlify CMS widget.

Solution #2 that I mentioned above should take far less effort than creating a new editor widget. If you're interested in digging in I'd be happy to advise and answer any questions.

[2018-06-12 18:28] tech4him1 commented on #552
@gil-- Awesome, it's yours! Feel free to ask here or in [our Gitter](https://gitter.im/netlify/NetlifyCMS) if you  have any questions.

[2018-06-12 18:32] tech4him1 commented on #1423
@talves It has access to every repo on your account -- the only two OAuth scopes available for repo access are `repo` (ALL repos) and `public_repo` (write access to ALL public repos).

[2018-06-12 18:33] erquhart commented on #990
As we finish rounding out this improvement, we should ensure image caching is happening now that we're pulling from API's. We could even cache the local file object to avoid the round trip for the user that does the initial upload.

[2018-06-12 18:44] owenhoskins commented on #990
In my use-case I have 6000+ (~1.5gb) worth of image assets in the library, so loading them all upfront and caching seems overwhelming, although I am not familiar with how a semaphore would be put to use in this case.

[2018-06-12 19:20] tech4him1 commented on #990
@owenhoskins That is a valid point. @erquhart Maybe we should wait to port the code back to the GitHub backend until thumbnail creation is in place?

[2018-06-12 19:55] erquhart commented on #1156
@zipang this issue isn't about helping static site generators figure out which template to use, it's about the _structure_ of the output. Netlify CMS is built to work with static site generators, and SSG's generally determine output placement based on the location of source files.

The CMS config file is a critical piece of the puzzle - it's a single source of truth and it allows a CMS instance to

[2018-06-12 20:06] gil-- commented on #552
One last thought after reading through the discussion here, I could add a secondary option on all widgets called: notePlacement: top/bottom OR showNoteAbove: true/false where it's under the widget by default as per https://github.com/netlify/netlify-cms/issues/552#issuecomment-395568749 and the user is able to show above widget on a case-by-case basis using the secondary field option.

[2018-06-12 20:46] erquhart commented on #1425
I think it's safe to say that markdown widgets inside of markdown widgets are just busted at this point, lots and lots of bugs there.

[2018-06-12 21:03] erquhart commented on #490
![image](https://user-images.githubusercontent.com/2112202/41317184-77742f84-6e62-11e8-8024-269dbbcb7ec3.png)

[2018-06-12 21:29] erquhart commented on #513
I mentioned this in another issue, but the problem with what @zipang is suggesting is that we don't have examples of static site generators that work this way, and Netlify CMS is mostly focused on content management for static site generators.

@tech4him1 I totally missed your comment from April somehow, really sorry about that! I'm thinking:

1. Maybe we still allow `extension` for odd use cases

[2018-06-12 21:39] PaulEibensteiner commented on #1194
Shortcodes too, but also for example a horizontal rule (like in [issue 1378](https://github.com/netlify/netlify-cms/issues/1378) the solution proposed by the author is visually pretty weird) - and possibly other markdown styling

[2018-06-12 21:43] erquhart commented on #990
Hmm there's actually no need to download all asset blobs ever, thumbnails or not. We do this with entries because their contents are subject to search, but only the titles of blobs are searched and we get those en masse.

@Benaiah is working on virtualization (I think you did too @owenhoskins just not sure where it landed) so that only visible images would load their blobs - we can move forward wi

[2018-06-12 21:44] erquhart commented on #552
Agreed, getting simple support in for text below the field would be ideal, then we can iterate from there.

[2018-06-12 21:46] erquhart commented on #1194
The toolbar will pretty much only ever house buttons that correspond to features of Markdown, anything outside of that is generally going to correlate with a shortcode and be handled by custom editor components, which I think you already understand based on your comment.

Since horizontal rules are a part of markdown, a button can definitely be added to the editor, we'd take a PR for that.

[2018-06-12 21:48] erquhart commented on #1194
@PaulEibensteiner closing this, but comment on #1378 if you'd like to PR for horizontal rule support.

[2018-06-12 21:48] #1194 closed

[2018-06-12 22:07] erquhart commented on #1171
@Benaiah for when you dig into this:

* Provide a heavily condensed, high level proposal (per recent discussion)
* Let's go docs driven for this - the documentation would chart out how to create a custom integration/backend. Recommend staying high level to avoid bog down, we can improve the final docs later - go for speed.

[2018-06-12 22:08] erquhart commented on #432
This will be supported by #1171. That issue will provide the necessary API(s), and this issue will bring in one or more actual extensions to integrate with specific services.

[2018-06-12 23:34] PaulEibensteiner commented on #1194
Sounds legit, what bothers me more is probably how the blocky custom editor components looks versus the elegant on/off toggles - but not reason for a change

[2018-06-13 00:46] gil-- commented on #552
I've made a PR for this feature request, https://github.com/netlify/netlify-cms/pull/1429

Let me know what you all think?

[2018-06-13 02:34] tech4him1 opened #1430 "Internal Bug: Many internal errors are never shown to the user."
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
Many of the internal errors the CMS has, especially in critical areas like loading and publishing, are attached to a Redux action, but don't alert the user, leading to a success (or no) message.

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expecte

[2018-06-13 02:34] tech4him1 commented on #1430
We currently have notifs manually shown for error actions -- what about just binding them to all Redux errors?

[2018-06-13 02:55] tech4him1 commented on #513
@erquhart No problem, thanks for addressing!

I do wish there was a better way, but I think that may be our only safe option (unless we do something like requiring a slash at the end if it is a folder, which I don't like).

Agreed, I think inferring from extension can be a separate subject.

I like this idea, but I think we need some way to override for more complex situations. I think that could

[2018-06-13 07:20] stavmaz opened #1431 "editing files with the same name in different collections"
I have an issue with editing files with the same name in different collections.
When editing a file (index.md) in a specific collection the cms creates a new branch with the name cms/index, now it's in workflow screen waiting to be merged. Then I want to edit a different file with the same name (index.md) in a different collection and in a different folder of course (as specified correctly in the

[2018-06-13 09:01] zipang commented on #513
Hi @erquhart !

I've seen you said in #1156

I more than agree with the fact that the content structure (folders and sub-folders) generally determine the pages URLs with a direct folder to URL mapping ! That just makes plain sense !

But i really wasn't talking about that.

What i was trying to demonstrate is that content belonging to a specific collection of data (aka : same fieldset + workflow)

[2018-06-13 11:01] ptim commented on #490
I really like the breadcrumb approach, and I wonder if it might be complemented by some extra contextual navigation... I notice that there's a fair amount of space available in the left column of the editor, and I'd be interested to see how a document outline (ala Google Docs) might work here.

For a quick example of what I mean, consider the Chrome extension [Headings Map](https://chrome.google.c

[2018-06-13 14:54] peterlazzarino opened #1432 "Pasted text into markdown field and hit cntrl+z to undo and got an error page"
I added a markdown type field to my page and after pasting a text block into it from my clipboard them command Z on my computer. I am sent to an error page, I can reliably reproduce this

Netlify CMS version: 1.7.0
Browser version: Chrome 67.0.3396.79
Node.JS version: 8.11.2
Operating System: Mac OSX 10.13.3

Config.yml - this is happening in the /about/our-team page in the leadership -> story fie

[2018-06-13 15:16] papandreou commented on #1432
One of my colleagues experienced this as well (Chrome on WIndows), but I haven't been able to reproduce it myself on Browserstack. He's doing a lot of pasting from Google slides into netlify-cms, so it's quite likely to be the same problem.

[2018-06-13 16:46] erquhart commented on #1430
Centralized error handling for Redux actions makes sense, we have a lot of repetitive `notif` calls doing the same thing.

[2018-06-13 17:10] erquhart commented on #1431
Thanks for reporting - this is a known issue (#1396), please add any additional comments there.

[2018-06-13 17:10] #1431 closed

[2018-06-13 19:00] erquhart commented on #513
@tech4him1 clarifications:

* Extensions: just realizing no extension isn't a problem because `path` can never just be a folder name, it has to be a complete path, including the filename (which may or may not be formed using variables)
* Formats: I think we _should_ infer, just allow overrides via `format`.
* Filter: It might be good to drop filter and use include/exclude instead. I think the case

[2018-06-13 19:12] owenhoskins commented on #1032
I've just been looking into [uppy.js](https://uppy.io/examples/dashboard/) per your suggestion @erquhart. Very nice!

For the design aspect, I am thinking it could be nice to integrate a custom version of the uploading states from the [Dashboard Modal](https://uppy.io/examples/dashboard/) into the Media Library modal:

![drop indicator](https://user-images.githubusercontent.com/1849997/41372195-39

[2018-06-13 20:37] erquhart commented on #1032
Nice! Ideally we would use Uppy to power our own UI rather than using theirs, which is their stated goal for custom store implementations. To reduce strain on this particular PR, we could use Uppy just for DnD/bulk uploads in the current UI, and then figure out how best to pull in other available functionality moving forward, such as pausing/resuming/etc. Uppy will need to exist beneath surface so

[2018-06-13 21:56] patrikhuber opened #1434 "Sites can't be deployed to GitLab group"
**- Do you want to request a *feature* or report a *bug*?** => Bug

**- What is the current behavior?** => Site always deployed under the personal GitLab account

**- If the current behavior is a bug, please provide the steps to reproduce.** => Have a GitLab account that additionally has a group created - so there is, for example, https://gitlab.com/myusername as well as https://gitlab.com/groups/

[2018-06-13 22:07] erquhart commented on #1434
This would be a feature request for the Netlify platform - maybe mention it in `https://gitter.im/netlify/community`. Netlify CMS isn't involved with site deployments.

[2018-06-13 23:32] tech4him1 commented on #513
@erquhart

I think that is probably the  best way to do it, it just wasn't what you said in [your original comment](https://github.com/netlify/netlify-cms/issues/513#issuecomment-378677720):

Would you mind outlining that, maybe in https://github.com/netlify/netlify-cms/issues/1245?

[2018-06-13 23:45] tech4him1 commented on #1432
@peterlazzarino Is this happening for every text block, or only certain ones? If so, can you provide an example?

[2018-06-14 01:45] verythorough commented on #1434
@patrikhuber, though this does pertain to the Netlify platform, I'll post an answer here in case anyone else happens across it.

Your link above is for a Deploy to Netlify button. They're made to be a quick way to deploy a copy of a pre-made site, and for this reason, some less-common options are dropped in favor of simplicity. It's true this wouldn't work for a business using a GitLab group, but

[2018-06-14 01:45] #1434 closed

[2018-06-14 04:24] gil-- commented on #263
i feel like something along the lines of https://www.nczonline.net/blog/2018/03/scheduling-jekyll-posts-netlify/ would work, although probably not with Netlify functions since it needs CloudWatch for the cron.

[2018-06-14 05:11] namzo opened #1436 "[Bug] CMS on Gitlab not displaying photos in media assets"
I just setup Netlify CMS on my site on Gitlab, I noticed that in the admin, the media page doesn't show my pictures.
<img width="672" alt="screen shot 2018-06-14 at 6 56 22 am" src="https://user-images.githubusercontent.com/1392665/41392404-9aff9e54-6fa0-11e8-9e00-229b26e058f5.png">

When I try to view the image, I noticed the url isn't encoded properly:
<img width="500" alt="screen shot 2018-06-1

[2018-06-14 08:33] papandreou commented on #1432
It happened to me now while debugging something else on Chrome 67/Windows in Browserstack. Steps to reproduce:

1. Create a new item in a collection
2. Paste the text `src/components/EditorWidgets/Markdown/serializers/index.js` into a markdown field (just a funny coincidence)
3. Hit CTRL+z

This error screen is displayed:

[code]

The following error is logged twice in the console:

[code]

(Yeah,

[2018-06-14 08:46] papandreou commented on #1432
It's reproducible with the same steps on Chrome 67/OSX. Seems like the important thing is pasting into an empty markdown widget, then hitting CTRL+z.

[2018-06-14 09:31] patrikhuber commented on #1434
@verythorough Cool that's awesome and very helpful, thank you very much!

[2018-06-14 09:36] papandreou opened #1437 "Carriage return chars end up in the repository when editing markdown on Windows"
**- Do you want to request a *feature* or report a *bug*?**

*bug*

**- What is the current behavior?**

When pasting multi-line rich text into a markdown editor on Windows, carriage return characters ends up being added to the yaml frontmatter etc.

For now I've worked around this by applying a regexp to the serialized markdown: https://github.com/papandreou/netlify-cms/commit/4ce5576812abc067e74

[2018-06-14 11:54] afisher88 opened #1438 "After login: TypeError: Cannot convert undefined or null to object"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
After logging in to Netlify CMS via the /admin/ page I get a console error of "TypeError: Cannot convert undefined or null to object"

The folder specified in my collection

[2018-06-14 12:01] robertkarlsson commented on #1438
Two questions:

1. What happens if you run the build command? (npm run build)
2. If you've made backend changes, have you pushed it to be deployed on netlofy?

[2018-06-14 12:22] nazihahmed commented on #1396
a simple fix i made to my branch (in our case we had `index.md` for most collections), so i simply check if the slug is index and add to it the collectionName.
here is a ref which you can base your fix on:
in file `API.js` after line `281`
[code]
the line ` file.path.match(/\/([\w-]+)\/index\.md$/)[1];` takes the collection name from the path, you will need to modify the code to work in your case

[2018-06-14 15:30] marcos-abreu opened #1440 "Issue seeing the admin interface when building a sample site and deploying on gitlab"
**- Do you want to request a *feature* or report a *bug*?**
BUG

**- What is the current behavior?**

I can't see the admin interface after creating a sample site using the 'Deploy to Netlify' button available on the documentation for Netlify CMS, and choosing to deploy to Gitlab.

**- If the current behavior is a bug, please provide the steps to reproduce.**
- access the Netlify CMS Docs (https:/

[2018-06-14 15:52] afisher88 commented on #1438
Hi Robert, thanks for your response. In answer to your questions:

1. This is all run locally, I have tried running build but I'm having issues serving the public Gatsby folder locally in IIS as it 404s when pointed at the public directory for some reason and I'm not an IIS expert.

2. I don't have a Netlify account or a real repo set up, hence the "test-repo" in the config file. In the tutorial I

[2018-06-14 16:20] robertkarlsson commented on #1438
Thanks for further explaining your problem. Just to confirm, the “npm run build” command passes without errors? My experience with this setup is that the error messages are more clear when the build fails.

By looking at the component you’ve pasted making the query (postpage), I can’t see where it gets passed the props that are being destructured. Is this the full file?

Otherwise if you could upl

[2018-06-14 16:45] owenhoskins commented on #1032
I hear you, let's take this one step at a time! My previous comment was inspired by the potential of powering our own UI via Uppy's custom store implementation. From a user's perspective, I really appreciate how they've split the upload process into several very focused steps and could imagine a similar pattern for the Media Library.

### Drag and Drop UI

So I dove into uppy.js today and created

[2018-06-14 16:48] erquhart commented on #513
Totally forgot about that idea from before, you're right. It's tough, the simplicity of "just doing it" for people and only requiring a folder is nice, but doing so has also been a bit of a headache. We could continue supporting the current properties and just add `path` as the "advanced" option when more control is needed. But then that's more to support in our config API.

What do you think?

Re

[2018-06-14 18:39] erquhart commented on #1440
I believe this is due to the template not using the latest version of Netlify CMS. You can either:

* Deploy the starter again (we updated the starter now so this will work), or
* Run `yarn upgrade` or `npm update` to update the lockfile

Can you confirm and close if this fixes the issue for you?

[2018-06-14 19:29] erquhart commented on #1396
We'd definitely take a PR for this.

[2018-06-14 20:51] PaulEibensteiner commented on #8
If someone already created such a custom editor component, could you share it? (@erquhart?)
I do have problems accessing the nested fields and returning a variable amount of regex matches...thx in advance

[2018-06-14 21:21] fbnlsr commented on #716
Just to piggyback on my previous comment: Forestry does provide a way to provide/rename a file from their admin panel. When you create a new content (blog post / page / whatever) you can specify a filename and add your own extension. They then add a small icon with the language prefix of the files in the post list.

[2018-06-14 21:30] erquhart commented on #8
This isn't for an editor component, it's for a widget. I'm not aware of anyone having created one yet, that's what this ticket is for.

[2018-06-15 02:21] tech4him1 commented on #513
In my opinion, explicit is often better unless otherwise proven. I don't think it is that hard to add `{{slug}}.md` to the end of every path, and then people actually know what to expect. We don't have to worry about breaking things if the filename is explicit.

[2018-06-15 02:49] tech4him1 commented on #1432
Comfirmed, this is affecting top-level markdown widgets as well. @erquhart?

[2018-06-15 08:41] robertkarlsson commented on #1432
I did a quick look into this and if it can be to any help, this seems to be triggered after the startKey and endKey of the operation in slate.js both have the value null, which they are when copy paste -> ctrl +z without interacting with the field before that action.

This then triggers this line since null == null
https://github.com/ianstormtaylor/slate/blob/d884be872de30963255d1bbb5b152ca36aaba1

[2018-06-15 12:10] maniflames opened #1443 "Repeatable child widget of list not editable using Jekyll"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
When a new list item as a 'string' child widget is added, only one letter can be inserted. No characters can be removed. This is the same for existing list items. Similar behavior is occuring when using the image widget.

I've tried to find a similar issue but I couldn't find anything. Is there som

[2018-06-15 13:23] tech4him1 commented on #1389
@heyalbert I believe we just need a way to address my comment above: https://github.com/netlify/netlify-cms/issues/1389#issuecomment-394730850.

[2018-06-15 14:07] tech4him1 commented on #1436
This should be fixed by https://github.com/netlify/netlify-cms/pull/1433.

[2018-06-15 14:10] tech4him1 commented on #1438
@afisher88 What is the stack-trace of the original console error?

[2018-06-15 14:15] owenhoskins commented on #8
@tech4him1 @PaulEibensteiner I've done some initial explorations into how to tackle this but I am a long way out from a solution as of yet. I'll be able to invest some time over the course of the next few months and would be happy to help if anyone wants to take a stab at it.

[2018-06-15 14:20] lnalex commented on #1058
Someone has created a custom component for `figure` ?

[2018-06-15 19:49] erquhart commented on #1432
@robertkarlsson really awesome that you're digging into this! I'm wondering if this would be solved by updating Slate, I know we're behind a bit.

[2018-06-15 19:52] erquhart commented on #1443
Fix for this is in progress: #1395

[2018-06-15 20:29] #1438 closed

[2018-06-15 20:45] afisher88 commented on #1438
Sorry for the delayed reply.

@robertkarlsson I can confirm that the "npm run build" builds with no errors.

The tutorial is premium content but I've uploaded a copy of my code to a new repo for debugging purposes:
https://github.com/afisher88/netlify-cms-testcase

There is 1 warning:
[code]

but I don't believe this is relevant as it occured before installing Netlify CMS

@tech4him1
Please see st

[2018-06-15 21:09] lnalex commented on #1058
Just made a "quick and dirty" custom component for Hugo figures being compatible with src, caption, link and width options.

https://gist.github.com/lnalex/2881c29649bc5d477954f79b3071e408

[2018-06-15 21:46] tech4him1 commented on #1438
@afisher88 Great, the fix was merged in https://github.com/netlify/netlify-cms/issues/1438, and it should be in the next release.

If you need a temporary fix for now, you should be able to add the following your CMS admin HTML. You'll be able to remove it once you switch to a "real" backend.
[code]

[2018-06-15 22:36] robertkarlsson commented on #1432
@erquhart You seem to be correct about this according to this issue: https://github.com/ianstormtaylor/slate/issues/1448

The fix was done in: https://github.com/ianstormtaylor/slate/commit/b2e0612149c95f855b7529a2fdcae45cc52df6ab
and released in slate@0.31.6

When upgrading  to slate@0.34.0 (latest) i can not reproduce this error anymore.

It's past midnight here in the north so i wont be making

[2018-06-16 08:32] maniflames commented on #1443
@erquhart Thanks for linking to the right pull request!

[2018-06-16 08:32] #1443 closed

[2018-06-16 16:21] davepwsmith commented on #1282
I have been absolutely banging my head against a wall with this, so would appreciate a solution also! I'm by no means a pro at React/JS but happy to help where I can.

[2018-06-16 16:52] vhodges commented on #1411
As a follow up in case anyone comes here looking for answers.  You can specify an extension in each collection.  https://www.netlifycms.org/docs/configuration-options/#collections

[2018-06-17 12:52] nassimdonald commented on #588
Just a heads up, there are a few code examples using these methods in the [Netlify CMS docs](https://www.netlifycms.org/docs/customization/).

[2018-06-18 08:31] papandreou opened #1448 "Invalid markdown generated when applying styling to a selection with leading or trailing whitespace"
**- Do you want to request a *feature* or report a *bug*?**

*bug*

**- What is the current behavior?**

When applying bold or italics to a selection that includes leading or trailing whitespace, the resulting markdown will put the space inside the `**`/`_` delimiters. This means that the delimiter isn't a
[left/right flanking delimiter run](https://spec.commonmark.org/0.28/#emphasis-and-strong-em

[2018-06-18 11:51] papandreou opened #1449 "Values from string and markdown widgets come out as either empty string or undefined, depending on whether the field has been edited"
**- Do you want to request a *feature* or report a *bug*?**

*bug*

**- What is the current behavior?**

String and markdown widgets that are empty produce different data values, depending on whether the field has been edited.

**- If the current behavior is a bug, please provide the steps to reproduce.**

1. Define a non-required string field in `config.yml`:

[code]

2. Create a new item in the

[2018-06-18 12:08] marcos-abreu commented on #1440
I can confirm that both solutions works:

1. For the existing test running `yarn upgrade` fixed it
2. New tests using the same process described above now works as expected.

Thanks for the help. Hope I can start contributing to the project soon. :)

[2018-06-18 12:08] #1440 closed

[2018-06-18 12:14] papandreou opened #1450 "The characters e., can be entered into number widgets with a valueType of int"
**- Do you want to request a *feature* or report a *bug*?**

*bug*

**- What is the current behavior?**

The `number` widget seems to suppress all characters that aren't digits, `e`, `.`, `+`, `-`, or `,`. (I assume the reason why `e` and `+` are allowed is to support exponential notation?)

However, these characters are also allowed for `number` fields with a `valueType` of `int`. An attempt is m

[2018-06-18 12:47] oncletom commented on #1206
I +1 on this one as git-lfs can also be used to manage large assets, like PDFs, videos and such. I suspect these elements could have remote metadata if they are indexed in a documentstore somewhere (like Algolia, ElasticSearch, etc.)

[2018-06-18 13:57] tech4him1 commented on #1449
Likely related to https://github.com/netlify/netlify-cms/issues/1432.

[2018-06-18 14:19] papandreou commented on #1449
@tech4him1, that one only affects markdown fields, though? This one can also be reproduced with `string` widgets.

[2018-06-18 17:13] tech4him1 commented on #1449
Yes, you are correct. This whole issue (including boolean fields) is related to https://github.com/netlify/netlify-cms/issues/977, but that was supposedly fixed. Maybe we need to initialize the Redux store with the defaults as well, not just the widgets.

[2018-06-18 17:19] tech4him1 commented on #1449
https://github.com/netlify/netlify-cms/pull/1126 changed the value for when the widget was *empty*, but not the *initial* value in Redux. I'm still not sure we really want the value to show up if the user has never edited it, but that needs to be discussed. It's definitely not consistent.

@erquhart @talves @Benaiah Any thoughts?

[2018-06-19 12:18] moshie opened #1452 "Nested Editor Components"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
Registering nested editor components do not work and are not evaluated inside of the editor

**- If the current behavior is a bug, please provide the steps to reproduce.**

Consider the following hugo shortcode
[code]
And the Two Editor Components
[code]

**- What is the expected behavior?**
When n

[2018-06-19 17:38] verythorough opened #1453 "Inform user when a draft is already in progress"
**- Do you want to request a *feature* or report a *bug*?**
Feature

**- What is the current behavior?**
When editorial workflow is enabled, a user can open an existing file for editing without realizing another draft edit is already in progress. On the backend, both edits will be added to the same branch, and merged in the same PR. This can result in a user publishing more changes than expected.

[2018-06-20 03:54] caelialuk opened #1454 "[bug] Cannot upload or view image in media assets"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**

Images not uploading to media assets
![screen shot 2018-06-19 at 11 45 41 pm](https://user-images.githubusercontent.com/24300124/41636193-fd791708-741a-11e8-85ab-fdbb6fac83ba.png)

and image links are broken
![screen shot 2018-06-19 at 11 53 06 pm](https://user-images.githubusercontent.com/2430012

[2018-06-20 09:45] heyalbert opened #1455 "Unexpected token < in JSON at position 0"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
Error message when trying to log into the admin panel of my netlify website.

[code]

![Screenshot showing the bug](https://i.imgur.com/rN1TrNf.png)

**- If the current behavior is a bug, please provide the steps to reproduce.**
Created a fresh new netlify cms with gatsby using bitbucket.

1. app.n

[2018-06-20 10:45] heyalbert opened #1456 "Error message: Error: Failed to load config.yml (404)"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
Not able to load admin panel under localhost:port/admin.

[code]

console info:
[code]

The config.yml is under `public/admin/config.yml` but has to be under the `public` folder in order to be read. This behavior is not correct: He should be able to read the config.yml under `/admin` as intended. I

[2018-06-20 11:07] robertkarlsson commented on #1456
The error you get seems to be you trying to get to the cms through the url provided when running "npm start".
To load the CMS locally you have to run:

npm run build
npm run serve

In your terminal. The cms can then be accessed through the served local url.

[2018-06-20 14:27] tech4him1 commented on #1455
BitBucket is not yet supported by Netlify CMS. You can follow https://github.com/netlify/netlify-cms/issues/234 for updates!

[2018-06-20 14:27] #1455 closed

[2018-06-20 14:29] tech4him1 commented on #1454
This looks like a duplicate of https://github.com/netlify/netlify-cms/issues/1436, can you confirm?

[2018-06-20 14:37] wayferer commented on #317
For others that stumble here, i fixed it by adding `extension: "html.md"` and `format: frontmatter` to the netlify-cms `config.yml`.

[2018-06-20 15:06] heyalbert commented on #1456
This is really inconvenient. Why I can't use `gatsby develop` as I'm used, too? Why he can't figure it out by its own, the same he already does with cms.js?

[2018-06-20 15:16] tech4him1 commented on #1456
@heyalbert This procedure is explained in the README for the starter: https://github.com/AustinGreen/gatsby-starter-netlify-cms. Please ask there if you have questions about their instructions.

[2018-06-20 15:16] #1456 closed

[2018-06-20 15:49] nazihahmed commented on #1396
I will work on that by the weekend..
it needs some changes, anyways happy to help

[2018-06-20 20:37] slathrop opened #1457 "[bug] int val output in TOML format as floating point"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
TOML file output always renders numbers as float. This is *by design* in the [tomlify package](https://github.com/jakwings/tomlify-j0.4#known-problems) and requires custom "output replacer" logic to fix.

**- If the current behavior is a bug, please provide the steps to reproduce.**
In config.yml,

[2018-06-20 21:54] PaulEibensteiner commented on #1406
Don't know if that's related, but when you don't put something in a text or string field, it outputs "undefined" instead of an empty string as described in the docs:

That means there is no way of adding a custom editor component where a field can just be left out by the user, which is really annoying

[2018-06-21 04:54] caelialuk commented on #1454
Yes! Thank you, the thumbnail is a duplicate of #1436. But how do I implement solution #1433 (gitlab api) to my current project?

[2018-06-21 12:38] pbrandone commented on #1285
@bakerkretzmar did you managed to get it working?

[2018-06-21 12:40] ericmasiello commented on #1389
@tech4him1 @grdp can you elaborate on how to apply this fix?

[2018-06-22 03:18] Nic128 commented on #1399
I tried adding the extension as mentioned. I can create the entry properly.
[code]
It produces `{{slug}}.pl.md` files, great.

I can't seem to list the entry back. Changing to `extension: "md"` works and I see the created file. I want to keep `pl.md` in the end, but can't use it fully. What could be the issue?

[2018-06-22 09:22] arsenijesavic opened #1459 "images not appearing when their filenames contain Unicode"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
Cannot retrieve some images if a folder has more then 1000 files.
Getting error: "Failed to load resource: the server responded with a status of 404 ()".
However, in the admin panel, media assets are retrieving all images, probably due to the fact that it is using blobs (https://github.com/netlify/

[2018-06-22 12:28] richtera commented on #1389
The easiest I found to fix this is to use a pre-build using webpack that puts a fully built cms into static/admin and remove the plugin from gatsby. Is anyone interested in that solution? I made some changes in a PR in gatsby to partially fix the plugin for gatsby v2 but it turns out to be a lot harder when using a production compile of gatsby.

[2018-06-22 22:04] bakerkretzmar commented on #1285
@pbrandone nope, but in the meantime they added support for GitLab so I switched to that backend with implicit grant and that's working great.

[2018-06-22 22:16] tech4him1 commented on #1399
@Nic128 Can you file a new issue? Please add as much detail on how to reproduce as you can -- that should work.

[2018-06-23 04:10] zolamk opened #1460 "No error message shown if there is an error in authentication"
**Do you want to request a feature or report a bug?**
Bug

**What is the current behavior?**
"Doesn't display any kind of warning or error message for incorrect password or email"

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Created a site with netlify cms
2. Tried to login with incorrect email and password
3. Silently fails with no error or warning

**It shoul

[2018-06-23 04:22] Dwaxy opened #1461 "Cannot read property 'src' of undefined in CMS"
**- Do you want to request a *feature* or report a *bug*?**
bug
**- What is the current behavior?**
I'm making a simple blog with Gatsby and was tinkering around with image paths for my posts and ran into some knowin problems (see [this](https://github.com/netlify/netlify-cms/issues/843)). I was trying to make Gatsby process the images used with Netlify CMS with the help of some [plugins](https://

[2018-06-23 15:52] tech4him1 commented on #1460
You will need to add the identity script to your admin page and home page (it should be in the `<head>`).
[code]

[2018-06-24 01:24] Nic128 opened #1462 "[Bug] Cannot list multi-part extension files"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
You can't list files using a multi-part extension.

**- If the current behavior is a bug, please provide the steps to reproduce.**
- Forked the one-click-hugo-cms: https://gitlab.com/Nic128/one-click-hugo-cms/
- Rename the posts from `.md` to `.en.md`
- Set the extension for the posts and format to

[2018-06-24 15:19] zolamk commented on #1460
@tech4him1 not sure why it doesn't work without `netlify-identity-widget.js` but it has solved the issue

[2018-06-24 15:19] #1460 closed

[2018-06-24 22:51] bert-bruggeman opened #1464 "Custom editor components with kramdown"
**- Do you want to request a *feature* or report a *bug*?**
Bug/Feature

**- What is the current behavior?**
Links in markdown with some kramdown magic, like `[Title](url){: .button }` can't be mached with a pattern in a custom editor component (code below)

**- What is the expected behavior?**
Default markdown items with kramdown (or other parsers') attributes can be used as editor components

**

[2018-06-24 23:11] papandreou commented on #1464
Related: https://github.com/netlify/netlify-cms/issues/1044

[2018-06-25 00:44] githubr commented on #1389
I am having exactly the same issue.

[2018-06-25 05:33] githubr commented on #1389
care to elaborate why you gave me thumb down @esphen? I mean, be clear on what I have done wrong so I will not do the same mistake in the future.

[2018-06-25 05:38] esphen commented on #1389
@githubr Sure. It's [pointless noise][noise] for the maintainers. Use the reaction feature to +1 the issue instead.

[noise]: https://twitter.com/notbrent/status/1009884549587730432

[2018-06-25 05:45] githubr commented on #1389
@esphen thanks. I have deleted my post and +1 the OP. I will delete this one too.

[2018-06-25 06:41] owenhoskins commented on #1032
I've just pushed some work at https://github.com/owenhoskins/netlify-cms/tree/media-library-1032 with support for multiple image upload to Github! This is done via the browser's file-picker; drag drop will follow.

I've also added support for multiple selection in preparation for multiple deletion, but my working knowledge of the Github API is minimal so I am not sure how to approach the extension

[2018-06-25 09:34] papandreou opened #1466 "Feature: Keep the scroll position of the preview pane in sync with what's being edited"
**- Do you want to request a *feature* or report a *bug*?**

*feature*

**- What is the current behavior?**

When you're authoring content, the preview pane either has to be scrolled separately or be in the "autoscroll" mode, which currently seems to mean "scroll the preview pane as many percent down as the content pane". When many individually collapsed and expanded editor components are involved

[2018-06-25 10:35] julie-impuls opened #1467 "netlify-cms@^1.0.0 error after login"
When using netlify-cms@^1.0.0, I get the following error in Chrome after login in the admin: JSON.parse: unexpected character at line 1 column 1 of the JSON data.

In the console I get a 404 on .netlify/git/settings (implementation.js:62).

I fixed this by using netlify-cms@1.9.2 for now.

[2018-06-25 14:05] eliwilliamson commented on #961
@erquhart i wish i could but i think it is above my skillset. I also think the request is misunderstood. I don't think we are looking for a new input type for the cms - rather an enhancement of the rich text editor that allows for creating/editing tables in markdown. I'm not familiar with the construct for this but there must be a something that could be bolted on to handle this? thinking somethin

[2018-06-25 15:15] robertkarlsson commented on #961
@erquhart  @eliwilliamson Looking through the source code of this project it looks like the implementation of the slate editor is pretty well prepared for handling tables (there is a lot of code mentioning tables). I can take a look at this, but not before next week when I go on vacation.

[2018-06-25 15:32] AlekseiAQ commented on #1455
Same issue /w gitlab, but gitlab is supported, right?

[2018-06-25 17:33] tech4him1 commented on #1467
@julie-impuls This sounds like a problem with your Git Gateway (and/or Identity) settings, since `^1.0.0` is currently the same as `1.9.2`.  Try re-generating the access token (https://www.netlify.com/docs/git-gateway/#getting-started), then trigger a new deploy.

[2018-06-25 17:37] tech4him1 commented on #961
Wondering if this needs to be an "opt-in" button since not all markdown parsers support it (it is not part of CommonMark).

@erquhart We'll also need to consider at some point what the best way is to prevent cluttering the toolbar. Maybe we need to allow plugins to add to the toolbar directly (WP-style)?

[2018-06-25 22:43] ahansson89 opened #1468 "Build failing if trailing comma in tags"
Any post with a trailing comma in the tags will trigger a failed build.

Tags: world, hello, foo, bar,

Obviously the CMS should allow for this this kind of user input.

[2018-06-25 23:55] erquhart commented on #1058
Nice! You should consider packaging that up and publishing on npm.

[2018-06-26 00:34] erquhart commented on #1450
The number widget really isn't doing anything here - HTML number inputs accept those characters for scientific notation, and no effort has been made to validate within the CMS. A validation method should be added, perhaps using a library that handles number validation comprehensively rather than reinventing the wheel.

[2018-06-26 01:11] erquhart commented on #1449
So perhaps:

1. The default value for every widget is `undefined`.
2. A widget can provide it's own default value, probably via [registry](https://github.com/netlify/netlify-cms/issues/1407).
3. The default value for a widget instance can be overridden via config.
4. `undefined` values, along with their keys, are filtered out of the output when persisting.

[2018-06-26 01:21] erquhart commented on #1452
I would consider this more of a feature request since editor components are currently required to be block level components with no parent, so nesting is inherently unsupported.

[2018-06-26 01:41] tech4him1 commented on #1449
This may be cleaner as part of the widget itself, as suggested in https://github.com/netlify/netlify-cms/issues/725.

We'll need to decide what the defaults should be for built-in widgets as well. Point number 2 is the only thing really new here, IMO.

For example, with a string widget, what should happen:
 - by default, with no changes?
 - when the string widget is changed to empty?

This may nee

[2018-06-26 01:42] tech4him1 commented on #1468
Please provide your config or a reduced case if possible, so that we can debug. Thanks!

[2018-06-26 07:18] julie-impuls commented on #1467
@tech4him1 Re-generating the access token and triggering a new deploy seemed to work. Thank you!

[2018-06-26 07:18] #1467 closed

[2018-06-26 08:42] papandreou commented on #1452
@moshie, I needed this myself, and ended up making [a terrible hack](https://github.com/papandreou/netlify-cms/compare/c34d012fcc548d8a63fb212904577e53f5e0c1e2...c1b4daf48fd7b056528a53b6d32f9eb9d7839369#diff-e8a45a7f3a4e3b2f6ff4addfb1317601) so that my shortcode syntax is transformed to something shortcode-like (`::: <name> <base64blob>`) before the markdown is parsed (and back again when reserial

[2018-06-26 09:36] papandreou commented on #1450
@erquhart, ah, you're right about `<input type=number>` causing most of the weirdness. That thing seems terrible :)

[2018-06-26 15:55] erquhart commented on #1453
Totally agree. Maybe the third bullet would be more feasible when we have some sort of visual diffing for conflict resolution.

[2018-06-26 17:19] erquhart commented on #1456
`gatsby develop` works fine, you just need to make sure the url has a slash immediately after `admin`.

**Works**
[code]

**Doesn't work**
[code]

[2018-06-26 18:46] erquhart commented on #1449
We need to allow dynamic default values to be set for hidden widgets, where the React component is never loaded, so the separation is going to happen, and doing the same thing two ways will get confusing. Passing the default value to the CMS also gives the core more control over the experience without limiting extension developers. I expect we'll start thinking of a widget as bigger than just a Re

[2018-06-26 18:54] erquhart commented on #1449
Hmm your point on what happens after a value is changed and then deleted to an empty string isn't really addressed. Almost feels like we need our own set of "falsey" values for those that you'd just never expect to persist. Like `false` is a specific value that should be persisted, but I don't think there's a great reason to persist an empty string. Maybe we should filter out `undefined`, `null`,

[2018-06-26 18:56] erquhart commented on #1406
@PaulEibensteiner agreed, that's discussed in depth in #1449, though I understand it impacts editor component fields differently than standard fields.

[2018-06-26 20:13] erquhart commented on #1454
@caelialuk we'll be getting that merged and released soon.

[2018-06-26 20:19] erquhart commented on #1459
Can you explain "create the collection that is consuming all images"?

The GitHub backend doesn't currently pull image blobs through the API, do you have more than 1,000 entries in your collection directory?

[2018-06-26 21:21] eliwilliamson commented on #961
@robertkarlsson you rock! 🤘 enjoy your vacation - happy we are finally getting this usability hole filled

[2018-06-26 21:34] erquhart commented on #1464
Yep, exactly, this is due to us parsing Markdown with Remark _before_ processing editor components, as is outlined in the comments of #1044.

[2018-06-26 21:51] erquhart commented on #1032
Awesome!!

We'll need to move away from the simpler Contents API to delete multiple files.

Not sure how familiar you are with Git internals, but we the GitHub backend's API file constructs trees, which we push and use for API based commits. Deletion requires constructing a tree _without_ whatever files should be deleted, so bulk deletion can happen with just two calls (pushing the tree + commit).

[2018-06-26 22:27] erquhart commented on #1452
Yeah, efficiency is precisely why we have the setup that we do. But there certainly comes a point where functionality trumps efficiency. Glad there's a workaround out there for now.

[2018-06-26 22:30] erquhart commented on #961
@tech4him1 you mean something beyond the `buttons` config property?

[2018-06-27 03:28] tech4him1 commented on #1454
Sorry for the delay on this -- I just confirmed uploading is broken on the `git-gateway` backend with GitLab, but not when using the GitLab backend directly. @Benaiah any thoughts?

[2018-06-27 11:22] zolamk opened #1470 "Unrecognized front-matter format"
**- Do you want to request a *feature* or report a *bug*?**
*bug*

**- What is the current behavior?**
when using the `field` option of a `list` widget

- it doesn't display the repeated widget properly
- and there is the below error in console

    columnNumber: 96902
    fileName: "https://unpkg.com/netlify-cms@1.9.2/dist/cms.js"
    lineNumber: 35
    message: "Unrecognized front-matter format.

[2018-06-27 16:34] ahansson89 commented on #1468
I use this right out the box: https://github.com/AustinGreen/gatsby-starter-netlify-cms

[2018-06-27 22:15] tech4him1 commented on #1468
@ahansson89 Are you adding the tags to the Markdown file manually, or editing them in the CMS?

[2018-06-27 22:23] ahansson89 commented on #1468
Through the CMS.

[2018-06-28 16:55] erquhart commented on #1470
Duplicate of #1195, being addressed in #1395. Please have a look at those and add any information you think is missing.

[2018-06-28 16:55] #1470 closed

[2018-06-28 17:24] wraybowling commented on #1466
This is something that I've also noticed, know a good bit about, and could possibly help solve. The resolution is going to be to keep track of just about everything related to focus, cursor position, and scrollTop positions, the heights of the two blocks that are related, and the heights of their scrollable viewports. Once you get all of that, it's very easy to write logic about whether the scroll

[2018-06-28 18:16] erquhart commented on #513
Thanks for the feedback @oncletom!

The field itself would only exist in the config. The slug will eventually be editable, but that's the only interaction an editor would have, the path is otherwise unknown to them.

Regarding the `parent.slug` concept, I think you're right about using relations to organize content, which makes "parents" seem superfluous. I can't think of a use case that really ne

[2018-06-28 18:30] erquhart commented on #1466
Agreed! Feel free to play around with it, we can answer any questions that might come up here or in [Gitter](https://gitter.im/netlify/netlifycms).

[2018-06-28 18:32] oncletom commented on #513
Oh my bad. I misread the previous comments and thought it was intended to be user-facing. Forget what I wrote then 😅

I'm not sure to understand which use case you are refering to, the "parents" or relations + variable expansion (`{{ <relationship_field>.<collection_field> }}`, eg; `{{ parent.slug }}`?

[2018-06-28 18:36] erquhart commented on #513
So maybe we're talking about the same thing, `parent` hints at the CMS having insight into hierarchy, but if you really just mean the relationship field which _happens_ to be the parent, agreed. This just means the entry fields (and relation data) need to be available to path templates.

[2018-06-28 18:47] oncletom commented on #513
Yes exactly :-)

It's more generic than the sole concept of `parent`. You could then totally have a permalink composed with an `author.slug` if `author` is a relation.

The static generator then organises the files independently from the CMS thinking model.

[2018-06-29 08:51] marcojakob opened #1472 "Store Assets Relative to Content (Bundles)"
### Do you want to request a *feature* or report a *bug*?

Feature

### What is the current behavior?

Currently, the *Media Library* is a single folder where every image is dumped. This doesn't allow assets to be organized, managed, and deleted properly.

### What is the expected behavior?

There is work going on to add subfolders (see #1046) and provide further improvements to the *Media Library

[2018-06-29 08:57] marcojakob commented on #513
As has been mentioned by various people above, I've openend an issue for [Assets Relative to Content](https://github.com/netlify/netlify-cms/issues/1472).

[2018-06-29 09:00] marcojakob commented on #1046
As has been mentioned by various people above, I've openend an issue for [Assets Relative to Content](https://github.com/netlify/netlify-cms/issues/1472).

[2018-06-29 13:31] papandreou opened #1473 "Generated commit messages do not use label_singular"
**- Do you want to request a *feature* or report a *bug*?**

*bug*

**- What is the current behavior?**

When publishing a new item in a collection that has a `label_singular` defined, the `label` is used to generate the commit message, even though only one item is being created or updated.

**- If the current behavior is a bug, please provide the steps to reproduce.**

1. Define a collection with

[2018-06-29 20:40] kosirm opened #1474 "Authentication problem if not running on localhost"
Hi, it would be great if we could use/develop NetlifyCMS sites on some Web IDE (Cloud 9, Codenvy, etc),
Currently, it is possible to use NetlifyCMS admin only on localhost, but it would be nice to show some love for Chromebook/Tablet/Convertible/etc. users...
The main problem is authentication.
I personally run NetlifyCMS on Cloud 9 with GitLab backend like [described in docs](https://www.netlifyc

[2018-06-29 20:46] caelialuk opened #1475 "Uploading image by URL"
**- Do you want to request a *feature* or report a *bug*?**
feature

**- What is the current behavior?**
![screen shot 2018-06-29 at 2 34 47 pm](https://user-images.githubusercontent.com/24300124/42109163-b983503a-7baa-11e8-9ca8-dbb5b3d27532.png)

uploads image by selecting a file

- What is the desired behavior?

upload image by selecting a file or by inputting an URL

[2018-06-29 21:31] Nic128 commented on #1462
I did some digging.

``
entriesByFolder(collection, extension) {
    return this.api.listFiles(collection.get("folder"))
    .then(files => files.filter(file => fileExtension(file.name) === extension))
    .then(this.fetchFiles);
  }
``

`fileExtension(file.name)` is made to only return `md` from the filename. Makes sense.

`fileExtensionWithSeparator` from the `pathHelper.js` file has a lot of us

[2018-06-29 22:46] robertgonzales commented on #1448
Has anyone found a workaround for this issue?

[2018-06-30 16:38] tech4him1 commented on #1468
@ahansson89 Could you please copy the failing build log here? Also, a screenshot of where you are editing the tags in the CMS would be helpful. Thanks!

[2018-06-30 16:42] tech4him1 commented on #1472
Also see initial discussion in https://github.com/netlify/netlify-cms/issues/325.

[2018-06-30 16:45] tech4him1 commented on #1462
@Nic128 That's exactly the right fix, it was added to GitHub in https://github.com/netlify/netlify-cms/pull/1123, but didn't get ported over to GitLab. Feel free to make a PR for that if you're up for it.

[2018-06-30 17:03] tech4him1 commented on #1474
@kosirm Have you tried using GitLab implicit grant for login? You can see our docs here: https://www.netlifycms.org/docs/authentication-backends/#gitlab-backend.

[2018-06-30 21:19] Juhannuspukki opened #1479 "Telephone number links aren't displayed correctly"
**- Do you want to request a *feature* or report a *bug*?**

*bug*

**- What is the current behavior?**

The CMS displays tel links as plaintext.

**- If the current behavior is a bug, please provide the steps to reproduce.**

Write a tel link, such as [+358 123 456 7890](tel:+358 123 456 7890) and look for it in preview.

**- What is the expected behavior?**

The example link appears as +358 123

[2018-06-30 21:54] kosirm commented on #1474
Thanks, @tech4him1 that's exactly the document I was following, maybe I'm doing something wrong, I don't know. I tried this and that...

[2018-06-30 23:58] tech4him1 commented on #1474
Do you have the identity widget script left on your CMS page? It needs to be removed if you use implicit grant.

[2018-07-01 04:53] tiltos commented on #234
Any update on this one?

[2018-07-01 07:31] kosirm commented on #1474
I don't know how to do this. Any detailed information highly appreciated.

[2018-07-01 21:08] tech4him1 commented on #1474
What is the output of your admin HTML?

[2018-07-02 07:48] kosirm commented on #1474
Thanks, @tech4him1 for an intelligent answer 😄 I commented¸out Netlify identity widget in site/static/admin/index.html. Now I get a login screen (username, password, login). If I try to log in with my Gitlab username/password, I get an error response in the console: POST http://my-site.c9users.io:8080/.netlify/identity/token 404 (Not Found). It's a step forward, but I still don't have idea, what t

[2018-07-02 08:30] owenhoskins commented on #1032
I am new to Git internals so your guidance is much appreciated, @erquhart!

I've created a `removeFiles` method (https://github.com/owenhoskins/netlify-cms/commit/dd70f07223cd193a9044dd43f217c0fae8a77b2a) which grabs the current tree from Github, then I filter it against the files that are to be removed, then I pass that filtered tree to the composeTree method, then the new file tree is handled ju

[2018-07-02 15:20] dbruehlmeier commented on #1472
+1

[2018-07-02 17:06] zolamk opened #1480 "maximum and minimum number of items in the list widget"
**- Do you want to request a *feature* or report a *bug*?**
Feature

**- What is the current behavior?**

Currently the list widget will allow us to add many list items with no virtual limit.

**- What is the expected behavior?**
I propose an option for the list widget that allows us to set the maximum and minimum number of items in a list.

[2018-07-02 18:12] erquhart commented on #1032
Forgot the final step, updating the ref. The GitHub API class has a `patchRef` method, which can be used via `patchBranch`:

https://github.com/netlify/netlify-cms/blob/e5b8af9f4d377b27d42fd284851d7177562372e0/src/backends/github/API.js#L617-L623

The `persistFiles` method is a good example of all three steps in sequence:

https://github.com/netlify/netlify-cms/blob/e5b8af9f4d377b27d42fd284851d717

[2018-07-02 20:22] tech4him1 commented on #1474
Alright, what is the `backend` section in your `config.yml`?

[2018-07-02 21:36] erquhart commented on #1479
Tel links work, it's just spaces that don't - they're not valid characters in a link under Commonmark or GitHub Flavored Markdown notice that GitHub didn't style the link in your original post). Closing, but do comment if I'm missing something.

[2018-07-02 21:36] #1479 closed

[2018-07-02 21:57] erquhart commented on #234
Very very very soon. Like this week soon.

[2018-07-02 21:59] erquhart commented on #1480
Totally, makes sense.

[2018-07-03 10:38] arsenijesavic commented on #1459
Sorry for bad explanation, what I wanted to say is use all images.
After a lot of debugging, the problem was not in amount, rather it was in different latin encodings (probably because images were named on windows, and consumed on mac).
It was creating bad links, and I realize that after trying to access images directly using https://raw.githubusercontent.com, and inspecting network tab on chrome.

[2018-07-03 14:45] tech4him1 commented on #1459
Weird, we should probably try to fix that if possible.

[2018-07-03 14:48] #1459 closed

[2018-07-03 14:55] tech4him1 commented on #1459
Great, glad you found the problem! If it's working in the CMS but not on the live website, then it sounds like that's probably an issue you would need to address with your site generator.

[2018-07-03 15:41] owenhoskins commented on #1032
Hey @erquhart, thanks for the response! The method is calling `patchBranch` just like `persistFiles` so there must be something else that is amiss...

Looking into a [commit](https://api.github.com/repos/owenhoskins/netlify-cms-1032/git/trees/fc3b6fb1cb6a8572cb1b7960ee2b336287509598) and following the nested trees down to the file tree, the SHA of the files tree and the files aren't what I expecte

[2018-07-03 17:42] erquhart commented on #1032
Can you share your code?

[2018-07-03 19:38] erquhart commented on #588
RE: @tech4him1's comment, a console warning should work for this.

[2018-07-04 05:47] owenhoskins commented on #1032
You can find it here https://github.com/owenhoskins/netlify-cms/commit/dd70f07223cd193a9044dd43f217c0fae8a77b2a, I linked to it a couple comments back!

[2018-07-04 07:52] kosirm commented on #1474
According to documentation, I added this to my site/config.toml:
[backend]
name = "gitlab"
repo = "kosirm/rehobot-hugo-cms"
auth_type = "implicit"
app_id = "asdfadsfasdfasdfasdfasdfdsafaf3424522452352345234523452345324532"

Should I do something else?

[2018-07-04 09:51] papandreou opened #1481 "Consistent handling of trailing whitespace"
**- Do you want to request a *feature* or report a *bug*?**

*feature*

**- What is the current behavior?**

Accidental trailing whitespace has a tendency of sneaking into fields when the user isn't careful, especially when pasting multiple lines of text.

Currently the `string` widget does not perform any trimming, if you enter `foo␣␣` (where `␣` means space), it will end up like this in the fron

[2018-07-05 02:24] StarAzure opened #1482 "Combine javascripts to enhance performance"
The live site loads as many as 5 javascript files right out of the box. testmysite gives a score of 100 as its possibly biased towards netlify but many other site speed tests do not like that there are many js files and gives a score of 0:

How can all these js files be combined into a single bundled js file ?

See message below from pingdom site tools:

_There are 5 JavaScript files served from s

[2018-07-05 05:03] StarAzure opened #1483 "Author name from Identity (or Git Provider) in the blog post"
**- Do you want to request a *feature* or report a *bug*?**
feature

**- What is the current behavior?**
Author name (person who wrote the blog post) is not displayed in the blog

**- If the current behavior is a bug, please provide the steps to reproduce.**
Looks like this feature is not added

**- What is the expected behavior?**
Most blog sites have the author name but missing here

[2018-07-05 05:12] zolamk opened #1484 "tabbed interface for fields"
**- Do you want to request a *feature* or report a *bug*?**
**feature**

**- What is the current behavior?**
right now when we add fields to a collection the fields are displayed one after the other on the same page, which can be daunting for a lot of fields, especially when you have a lot of list widgets.

**- What is the expected behavior?**
So i propose the CMS provides a configuration option t

[2018-07-05 14:32] tech4him1 commented on #1474
@kosirm Your Hugo config.toml is completly seperate from your CMS admin. They are seperate files in separate locations:
[code]

Your CMS settings should go in your CMS `config.yml`, which sits beside your CMS admin HTML page, and your Hugo settings should go in your Hugo `config.toml`, in the root of your repository. The GitLab authentication is part of the CMS, not Hugo, so it goes in your CMS co

[2018-07-05 23:14] tech4him1 commented on #588
Do we want these nested under a `CMS.lib` or just `CMS`? They are integral to how the CMS works, so maybe just on the main registry.

[2018-07-05 23:53] CanRau commented on #1472
would love that to, i'm not yet using netlify cms but am considering it. as i'm managing my assets in an assets directory relative to the post it's not easy to migrate.
and by the, to prevent duplicate assets for internationalized content i'm also storing all language versions in the same directory having one shared assets folder
would love to use this structure with netlify cms 👍

[2018-07-06 12:15] raf-vs commented on #1032
Following with excitement! XD Looking forward to this feature being available. Will be a mayor + for netlify cms. (sorry for the totally un-constructive comment, just excited to see this being build 😄 )

Go @owenhoskins and @erquhart ! 👍

[2018-07-06 12:30] growdigital opened #1486 "Use HTML elements for accessibility #a11y"
**- Do you want to request a *feature* or report a *bug*?**

Bug

**- What is the current behavior?**

Many HTML elements used in the app are `<div>`s rather than semantically correct and accessible HTML elements (such as `<main>`, `<aside>`, `<li>` etc.). This means accessibilty software such as screen readers can't navigate the screen as effectively.

This is a refinement on https://github.com/n

[2018-07-06 12:49] growdigital opened #1488 "Use list items for accessibility #a11y"
**- Do you want to request a *feature* or report a *bug*?**

Bug

**- What is the current behavior?**

HTML elements in the app which ought to be lists are actually nested divs ie in header, aside and main.

This is a continuation of #1486 'Use HTML elements for accessibility'. I put it in a separate issue as it is considerably more complex.

**- If the current behavior is a bug, please provide th

[2018-07-06 17:23] tech4him1 commented on #1486
Awesome, I've been wishing someone would do this! 😃

[2018-07-06 23:17] kosirm commented on #1474
Thank you so much for your time @tech4him1 !!! Stupid me. Ok, I found config.yml 😄 Finally I get gitlab login screen, I get gitlab login redirect, I login, but I don't get redirect back. Instead, I finish on Gitlab User settings page with error message:
**An error has occurred
Client authentication failed due to unknown client, no client authentication included, or unsupported authentication metho

[2018-07-06 23:20] Benaiah commented on #1474
@kosirm have you set the `app_id` referenced here: https://www.netlifycms.org/docs/authentication-backends/#client-side-implicit-grant? It's `undefined` in the URL you pasted.

[2018-07-07 10:33] kosirm commented on #1474
Thanks @Benaiah, yes I referenced it like described. So client_id for Gitlab is the same as app_id? If so, I don't know...
This is on the beginning of my site/static/admin/config.yml:
backend:
  name: gitlab
  repo: kosirm/rehobot-hugo-cms
  auth_type: implicit
  app_id: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx....

App id is what I get from Gitlab when I created application:

[2018-07-07 12:59] ragasirtahk commented on #1483
According to me, it is not a NetlifyCMS issue. There are many possible reasons for this to occur:-

1. You might not have created a collection for Author Name. In the absence of it, there will be no author name added in the .md file leading to no author name displaying.

2. You might not have configured your site generator's theme to display the author name.

The recommended solution for your prob

[2018-07-07 15:52] tech4him1 commented on #1482
Netlify CMS does not actually output your site like a traditional CMS. It is considered a "headless CMS", which allows you to create and update your content, but leaves the output to a "site generator" (such as Hugo or Gatsby). Accordingly, the CMS doesn't actually have anything to do with what JavaScript is output, and you will need to configure that in your site generator.

[2018-07-07 15:52] #1482 closed

[2018-07-07 15:55] tech4him1 commented on #1474
@kosrim The `app_id` setting is correct. However, it looks like you are running Netlify CMS v1.8.0 -- it will need updated to at least v1.9.1 to work with GitLab.

[2018-07-07 16:40] kosirm commented on #1474
Thank you much for help again @tech4him1
You are right... I just used one-click installation assumed that it is the latest build. In my package json I changed "netlify-cms": "netlify/netlify-cms#gitlab-build" to "netlify-cms": "1.9.3"
Now I get Gitlab error **The redirect URI included is not valid.**
My Gitlab redirect URI is https://rehofly-infocube.c9users.io:8080/admin
Is this outside of netlif

[2018-07-07 16:46] tech4him1 commented on #1474
I believe I've had that problem before -- the Callback URL in GitLab must be the exact admin URL. It should include the `/admin` part at the end.

[2018-07-08 09:17] kosirm commented on #1474
I tried both (with and without /admin), it doesn't make difference for me. Maybe port number in the address is a problem for Gitlab.

[2018-07-08 19:32] jake-101 opened #1489 "Relation widget that uses a select or radio button interface"
- Do you want to request a feature or report a bug?
Feature

- What is the current behavior?
The Relation widget is an autocomplete text box.

- What is the desired behavior?
Maybe it is possible already, but I think it'd be cool to select a related collection through a select element dropdown or radio buttons, with the ability to add a new item with a text box... something like the chosen.js inte

[2018-07-08 20:22] jake-101 opened #1490 "Relation Widget —TypeError: Cannot read property 'isValid' of undefined"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
Entering a relation comes up with TypeError: Cannot read property 'isValid' of undefined. No autocomplete is available for the relation either.

**- If the current behavior is a bug, please provide the steps to reproduce.**

I enter a category when creating a blog post and get an error. I set up ca

[2018-07-08 20:30] StarAzure commented on #1483
I can create a collection for Author name and pass it but the whole idea is to use the name of the Author who logged in and posted the blog using Netlify Identity. For example, if a user logs on to mysite.netlify.com/admin and creates a new blog post, his name from the Netlify account should be displayed in the blog post.
Thanks

[2018-07-09 09:57] papandreou commented on #1490
I also found the `relation` widget quite brittle if you accidentally miss required options or pass a wrong type. I hope https://github.com/netlify/netlify-cms/pull/1363 will help with that.

@jake-101, I think the error in this case is that `searchFields: "title"` should have been passed as an array, ie. `searchFields: ["title"]`.

[2018-07-09 13:30] tech4him1 commented on #1483
@StarAzure [My answer to your other question](https://github.com/netlify/netlify-cms/issues/1482#issuecomment-403224856) is valid here as well -- Netlify CMS doesn't actually output the site at all. You will need to modify the site templates to change how the site actually looks.

[2018-07-09 13:41] StarAzure commented on #1483
What you are saying about 'how the site looks' makes sense BUT, how can I get the name of the Netlify account user who created the blog post from mysite.netlify.com/admin ?

[2018-07-09 14:12] tech4him1 commented on #1483
Good question, thank you for your patience here! There is always the option of adding another field to the collection and having the author type their name in. If I understand you correctly, though, you'd rather have it just pull the name from the Identity account. That should be possible, but there are a few questions we would need to address, so maybe you can help us here:

1. What should we do

[2018-07-09 14:57] StarAzure commented on #1483
I am surprised nobody asked this before because users is a major part of CMS. People always click on users to find out their other posts. I come from Joomla/Wordpress usage for years so I will use it as example.
1) When a user is created by email invitation, they still have to complete their initial account set up by entering a username, name and password. Use should be able to edit/update their p

[2018-07-09 18:02] tech4him1 commented on #1483
@bcomnes @erquhart Is it currently possible for users to edit/update their profile, or does that still need added?

I agree.

@erquhart What do you think the best way to implement this would be? Maybe we could use some sort of "templating" as the default for a hidden widget?

[2018-07-09 22:57] jake-101 commented on #1490
thanks so much, i thought it wouldn't need an array with only one value. i'll try it later and close this for now.

[2018-07-09 22:57] #1490 closed

[2018-07-09 23:17] bcomnes commented on #1483
Confused by the context here.  Do you mean in the Netlify Identity service?  You can update user properties using https://github.com/netlify/gotrue-js#update-a-user, but this sort of sounds like an integration detail between the cms and whatever site generator you are using.

[2018-07-10 00:58] sbuys commented on #1436
I'm having the same issue on Git**HUB**. Every once in a while images stop working. Screenshot:

<img width="1274" alt="screen shot 2018-07-09 at 8 52 14 pm" src="https://user-images.githubusercontent.com/340324/42483336-da9492c6-83ba-11e8-830a-ec907488bbd3.png">

[2018-07-10 06:54] MrEfrem opened #1491 "Transfer the cookies to Github API"
* Do you want to request a feature or report a bug?
Feature

I develop the Editor with own authorization founded on JWT tokens.
The Netlify CMS I've put to the iframe.
Also I use own OAuth server and Github proxy therefore I've set `api_root` and `base_url` to the own endpoints.
To authorize clients in a own API I'm checking JWT token stored in the cookie (or in `Authorize` header).
The OAuth requ

[2018-07-10 07:30] alexito4 commented on #1472
I would like to underline this. For people that uses Apps for markdown editing this is important. Usually these Apps can render images if they are in the same directory as .md file or with absolute path, which is not useful for later deployment. If the CMS supported this feature it means we can work on our posts in the same way from our local machines and from the CMS. ❤️

[2018-07-10 08:20] jake-101 commented on #1490
This worked and fixed my issue.

[2018-07-10 09:35] MrEfrem commented on #1491
oh, I've found graceful way to return from "OAuth" endpoint my JWT token and then "Github" requests will put it to "Authorization" header which I will check.

[2018-07-10 09:35] #1491 closed

[2018-07-10 11:30] jairajmatharu opened #1492 "it broke"
**- Do you want to request a *feature* or report a *bug*?**

**- What is the current behavior?**

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**

**- Please mention your versions where applicable.**

Netlify CMS version:
Browser version:

Node.JS version:
Operating System:

**- Please link or paste your `config.yml` below if app

[2018-07-10 16:15] richtera opened #1493 "Serious problems when using multiple branches."
Bug

When using two deployments with the CMS pointed to two different branches everything works ok until one person edits the same file as another person on the other branch. Since the refs/heads/cms is not name spaced by the base branch like ``` `refs/heads/cms/${basebranch}` ``` maybe or some variation. Then the branches will match and when it tried to do the merge all hell breaks loose :)

It's

[2018-07-10 18:54] richtera commented on #1493
Added PR #1494

[2018-07-10 18:58] camsloanftc commented on #1325
This would be quite helpful.

We have a case where we want to deploy our [Storybook](https://storybook.js.org/) with a different command than our main website.

The problem is that we also want to use `[context.production]` to run a different build command for our main site on production vs staging.

Adding this to the netlify.toml currently overrides the command for both sites.

[2018-07-10 19:16] talves commented on #1325
@camsloanftc You can run different commands based on context in the setting of the `netlify.toml`

[code]

You can of course use any commands that fit your case

[2018-07-10 19:47] madisvain commented on #1436
@sbuys Yes I can confirm we are facing the same issue with Github as well a bug report was just filed by our client yesterday also about this.

[2018-07-10 21:13] camsloanftc commented on #1325
@talves - Yes we are doing that already, but we need to run a different command for our Storybook site, which relies on the same repo. So ideally we would need some way to use the `URL` of the site to check if it is the storybook url or the main website url, or have the ability to select a different netlify.toml file depending on the site we are building. This may be too much to ask though.

[2018-07-10 21:20] talves commented on #1325
@camsloanftc now it makes sense.

I would handle it by creating a node script that checks an environment variable. Based on the value of the environment variable, the correct command would be executed. The Environment variable would be stored in the site admin console at app.netlify.com and not in the `netlify.toml` file.

[2018-07-12 07:22] ankush86 opened #1495 "Failed to load netify identity setting on google cloud site."
**- Do you want to request a *feature* or report a *bug*?**
Bug
**- What is the current behavior?**
I deployed my application on google cloud which is using netify-cms with gatsby.  I am unable to login on admin section. I used git-gateway. when I try to login I am getting error
_`Failed to load settings from /.netlify/identity`_

On localhost it is working fine.

Thanks in advance

[2018-07-12 14:34] tech4him1 commented on #1492
@jairajmatharu Please describe what your issue is and answer the questions in the issue description so that we can help you better.

[2018-07-12 14:34] #1492 closed

[2018-07-12 14:36] tech4him1 commented on #1491
@MrEfrem Great, glad you were able to get it working! For future reference, there is also an open source platform called [`git-gateway`](https://github.com/netlify/git-gateway) that is built for that exact purpose, and it already integrates with the CMS.

[2018-07-12 17:19] MrEfrem commented on #1491
The `git-gateway` has connect with third-party identity server.

[2018-07-13 18:35] vanjaPalpa opened #1496 "type error"
**- Do you want to request a *feature* or report a *bug*?**

**- What is the current behavior?**

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**

**- Please mention your versions where applicable.**

Netlify CMS version:
Browser version:

Node.JS version:
Operating System:

**- Please link or paste your `config.yml` below if app

[2018-07-13 18:49] caelialuk opened #1497 "Question: Customize deploy message on github"
Is it possible to customize this message (Update pages "about"), and if so, how?

![screen shot 2018-07-13 at 2 43 01 pm](https://user-images.githubusercontent.com/24300124/42708608-d72f724c-86ab-11e8-9797-7ead5cc4b9c3.png)

[2018-07-13 19:43] pfftdammitchris opened #1498 "Are we able to customize the dashboard UI?"
Are we able to customize the dashboard UI to add some chart SVG's, controls, etc?
(Searched everywhere for this simple question although I can't find an answer to such a simple question. Forgive me for my ignorance)

[2018-07-13 20:48] camsloanftc commented on #1325
Oh great call I had not thought of that.

[2018-07-13 21:40] tech4him1 commented on #1497
Yes! It is currently a beta feature, the documentation is here: https://www.netlifycms.org/docs/beta-features/#commit-message-templates.

[2018-07-13 21:40] #1497 closed

[2018-07-13 21:40] tech4him1 commented on #1496
@vanjaPalpa Please provide details on how the error occured so that we can try to fix it.

[2018-07-13 21:40] #1496 closed

[2018-07-13 22:13] tech4him1 commented on #1491
I believe it's possible to use it yourself (without a third party). @biilmann Can you explain? I'm wanting to know myself, even if @MrEfrem has his set up 😄.

[2018-07-13 22:16] tech4him1 commented on #1498
@pfftdammitchris Can you give an example (screenshot, link, etc.)? What do you actually want the charts and controls to show or do?

[2018-07-14 00:35] pfftdammitchris commented on #1498
@tech4him1 for example if we are able to customize the dashboard to have widgets like everything on this page:
http://wrapbootstrap.com/preview/WB0573SK0

Are we only limited to working with the default dashboard, or the default UI?

How would we change the sorting of items in each collection by date, and also list the date on each item? Currently only the title is shown on each item. In the scree

[2018-07-17 03:48] emsenn opened #1499 "Change `tabindex`es on the editor page."
**- Do you want to request a *feature* or report a *bug*?**
feature
**- What is the current behavior?**
When you arrive at the page-editing page, and press tab, it takes you through the links in the header first.

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**
 It'd be more convenient if it took you immediately to collection fie

[2018-07-17 06:21] MrEfrem commented on #1491
@tech4him1 I also have set up my solution so that I more don't input username/password for log in to CMS. I.e. when I log in to the my Editor I'm also doing log in to the Github REST API to get `access_token`. And when I log in to the CMS I just return received before `access_token` from `auth_endpoint`. But with `git-gateway` I didn't find how to implement similar, because it always ask first to

[2018-07-17 17:04] loremipson opened #1500 "[Bug] - Multi-users editing same collection entries"
**Current behavior**

Multi-user editing causes potential issues if they start editing the same content entries in a couple of scenarios:

1. If two or more users end up editing the _same_ content entry at the _same_ time.
2. If the publishing workflow is enabled, and an entry is marked as "In Review" or "Ready", other users can continue to make edits to the entries.

Both situations result in fai

[2018-07-18 17:08] erquhart commented on #1032
@owenhoskins you're calling `updateTree` here: https://github.com/netlify/netlify-cms/compare/master...owenhoskins:media-library-1032#diff-d3cff7a0c66d0acce37277791446d509R330

That method calls `getTree` and uses it's result as the base tree, hence the issues you're describing in chat about ending up with the wrong tree.

[2018-07-19 10:18] growdigital opened #1502 "Make Netlify CMS a Progressive Web App (PWA)!"
**- Do you want to request a *feature* or report a *bug*?**

Feature

**- What is the current behavior?**

When I go offline, Netlify CMS goes offline too 😞

**- What is the expected behavior?**

It would be great to make Netlify CMS a Progressive Web App, allowing for offline functionality. This means that the user could create content without an internet connection, without fearing of losing it.

[2018-07-19 15:20] eliwilliamson opened #1503 "Add Text Alignment Support to WYSIWYG editor"
**- Do you want to request a *feature* or report a *bug*?**
*feature*
**- What is the current behavior?**
there is no text alignment support in the WYSIWYG editor
**- If the current behavior is a bug, please provide the steps to reproduce.**
n/a
**- What is the expected behavior?**
a user should be able to center, justify, right, and left align text using the WYSIWYG editor

[2018-07-19 15:21] eliwilliamson commented on #961
related ticket https://github.com/netlify/netlify-cms/issues/1503

[2018-07-19 16:00] michaelreynolds commented on #766
I found that when entering at `subdomain.netlify.com` it will fail unless you add `https://` — `http://` will validate, but it fails on authentication.

[2018-07-20 09:30] renestalder opened #1505 "Can't choose date by mouse when Firefox accessibility tools enabled"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
When Firefox's accessibility feature to navigate via keyboard is enabled, using `datetime` widget, date is not always consistent selectable with the mouse cursor in Firefox. When clicking a date, sometimes the current date is included into the text box, sometimes nothing is included in the text box

[2018-07-20 09:42] renestalder commented on #1505
Taking this back. Have to verify better first.
Probably not in connection with the accessibility tools as I tested it now on a clean version with accessibly tools enable. Could be more related to the language of the browser.

I'll check back again.

Will create a separate issue for accessibility in general.

[2018-07-20 09:42] #1505 closed

[2018-07-20 16:43] erquhart commented on #234
I will never ever ever ever ever promise a date again.

Here's the PR to track: https://github.com/netlify/netlify-cms/pull/1504

[2018-07-21 00:42] #1462 closed

[2018-07-22 00:23] flacito opened #1508 "Error logging in with gitlab.com"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**- Do you want to request a *feature* or report a *bug*?**
*bug*

**- What is the current behavior?**
Trying to login with GitLab client side implicit grant. It worked fine in my browser once and authorize it, but subsequent logins display an unable to fetch with a very

[2018-07-22 09:33] jooola commented on #1280
@erquhart will the release date be respected ?

[2018-07-22 21:07] tech4him1 commented on #1282
Closed as a duplicate of https://github.com/netlify/netlify-cms/issues/531.

[2018-07-23 11:05] idiazroncero commented on #1454
+1 here on a fresh install of netlifycms official gatsby starter based on gitlab... can we know if this is going to be fixed soon? Thanks!

[2018-07-23 14:15] benjaminsehl commented on #1066
Looked like this had quite a lot of momentum and then nothing… is this still in the works? Would *love* to see flexible content here. The only thing preventing me from using netlify cms.

[2018-07-23 19:03] papandreou commented on #1407
I don't know if it's a standard thing, but I noticed that the yaml parser I use mentions a funky `!<tag:yaml.org,2002:js/function>` syntax for declaring functions: https://github.com/nodeca/js-yaml#load-string---options-

Might be too weird, though :)

[2018-07-23 19:11] tech4him1 commented on #57
This was merged way back in v1.9, closing!

[2018-07-23 19:11] #57 closed

[2018-07-24 13:48] #234 closed

[2018-07-24 19:04] verythorough opened #1513 "Add starter template tutorial for Bitbucket"
Bitbucket's permissions don't allow deploy keys with write permission, which means that people can't create Bitbucket repos with a "Deploy to Netlify" button. Since this leaves Bitbucket users out from the [Start with a Template](https://www.netlifycms.org/docs/start-with-a-template/) page, it would be nice to be able to link to a tutorial on the Netlify CMS blog.

It could follow these steps:

1.

[2018-07-24 21:36] rdebeasi commented on #1344
Awesome - thanks for submitting this!

In our use case, we'd like to open editing to the general public and have configured our site so that only admins can merge to master. Currently, users logged into Netlify CMS can edit content but cannot upload images because they are not allowed to commit directly to master.

[2018-07-24 23:07] tech4him1 commented on #1344
@rdebeasi That's a very good point, we'll definitely need to consider.

cc/ @Benaiah

[2018-07-25 11:47] #1351 closed

[2018-07-25 13:46] giraffesyo opened #1516 "Package has both yarn.lock and package-lock.json"
This package seems to be mixing use of yarn and npm. With the advent of yarn 1.7.0 we were given the ability to import `package-lock.json` from npm into yarn.

 It's recommended that we choose one package manager and stick to it throughout the project, to prevent confusion. In the [contributing.md](https://github.com/netlify/netlify-cms/blob/master/CONTRIBUTING.md), yarn is recommended to be insta

[2018-07-25 15:19] papandreou commented on #1448
@robertgonzales, I've attempted a fix, PR here: #1517. Would be great if you could take it for a spin!

[2018-07-25 15:53] erquhart commented on #1280
I have utmost respect for the release date. Missed it while trying to get some [small changes](https://github.com/netlify/netlify-cms/pull/1515) merged in, but will release soon.

[2018-07-25 19:12] kennedyrose opened #1518 "Roles authentication not working"
I have my site set up to only allow users with the "admin" role to be able to use the CMS. However, anyone seems to be able to sign in regardless of role. My config looks like this:

[code]

I'm using Netlify Identity. I've signed up for new accounts with no roles whatsoever, but they can still sign in.

[2018-07-25 21:01] kennedyrose commented on #1518
Nevermind. I didn't realize you also have to set the role in the gateway options (in Netlify, not the config) as well as the user options.

[2018-07-25 21:01] #1518 closed

[2018-07-25 22:15] mryanb opened #1520 "Adding a list of files doesn't appear to work correctly"
**- Do you want to request a *feature* or report a *bug*?**
Bug, trying to add a list of files

**- What is the current behavior?**
The fields don't render correctly.
![2018-07-25_17-11-18](https://user-images.githubusercontent.com/3656391/43230535-3d54e94a-902e-11e8-9eb8-50c36122b341.gif)

**- If the current behavior is a bug, please provide the steps to reproduce.**
Add the following field to th

[2018-07-26 01:17] #1410 closed

[2018-07-26 13:34] tech4him1 commented on #1520
Can you try it with `fields` instead of `field`? I believe there is currently an issue there.

[2018-07-26 16:31] mryanb commented on #1520
@tech4him1 It works with `fields`.

[2018-07-26 17:05] tech4him1 commented on #1520
https://github.com/netlify/netlify-cms/pull/1395 should fix it, then. Thanks for the detailed report!

[2018-07-26 22:23] tech4him1 commented on #363
To do list to get everything cleaned up:

- [ ] Manual code fixes from linters:
  - https://github.com/netlify/netlify-cms/pull/1524
- [ ] Get rid of deprecated React code.
- [ ] Remove unused variables/imports.
- [ ] Set up for website code.
- [ ] Add React prop types everywhere?
- [ ] Style fixes (run Prettier).

I'll be taking this on as I have time, but if anyone has a specific item they would

[2018-07-27 06:32] shyamal890 opened #1525 "Angular: local files not added / updated"
**- Do you want to request a *feature* or report a *bug*?**
- Not sure

**- What is the current behavior?**
I have added Netlify `index.html` and `config.yml` to assets folder. The `admin/` route works as expected. I am able to post blog article upload images. Images are synced with Github repo but local files are not modified to include the new post or image.

**- Please mention your versions whe

[2018-07-27 14:31] Dammmien commented on #1480
I'm working on it 🙂!

[2018-07-27 15:59] m-henderson opened #1529 "incorrect href value on docs site"
**- Do you want to request a *feature* or report a *bug*?**
bug
**- What is the current behavior?**
Clicking href on docs site returns 404
**- If the current behavior is a bug, please provide the steps to reproduce.**
1. navigate to https://www.netlifycms.org/docs/widgets/
2. under "Widgets" in the third paragraph click "configuration code".
3. you are navigated to a 404 page.
**- What is the expe

[2018-07-28 00:52] m-henderson commented on #1529
https://github.com/netlify/netlify-cms/pull/1533 will fix this one.

[2018-07-28 05:31] pointyfar opened #1535 "Error: Backend not found: bitbucket"
**- Do you want to request a *feature* or report a *bug*?**
Bug.

**- What is the current behavior?**
Bitbucket backend does not seem to work? Accessing /admin displays the following error:

`Error: Backend not found: bitbucket`

**- If the current behavior is a bug, please provide the steps to reproduce.**
Follow the tutorial to set up Netlify CMS as written [here](https://www.netlifycms.org/docs

[2018-07-28 14:43] simpleux commented on #1535
Or do we need to use netlify-cms-core? as I can see we registered bitbucket back end over there and it is working.

`<script src="/dist/netlify-cms-core.js"></script>`

[dist.zip](https://github.com/netlify/netlify-cms/files/2238055/dist.zip)

[2018-07-28 15:07] ascorbic opened #1536 "Github backend throws errors when using git-gateway backend"
**- Do you want to request a *feature* or report a *bug*?**

Bug. (version 2, regression)

**- What is the current behavior?**

When running with the git-gateway backend, after logging-in the page gives the error "The GitHub backend needs a "repo" in the backend configuration." I am assuming this is a bug, as I am not using the Github backend. I am using Netlify CMS in a Gatsby project, which work

[2018-07-28 16:34] erquhart commented on #1535
😱 😱 😱 😱 😱 😱 😱

@pointyfar you are 100% correct, failed to include bitbucket 🤦‍♂️

Fixing now, stand by.

[2018-07-28 19:36] talves commented on #1536
@ascorbic thanks for the issue. I reproduced and found the solution. We hope to have a PR soon to fix it.

[2018-07-28 20:11] mkozhukharenko commented on #971
I did so, but I'm getting `Cannot read property 'hasWriteAccess' of undefined` error because of `{domain}/.netlify/git/settings 404 (Not Found)`

[2018-07-28 20:31] #1535 closed

[2018-07-28 20:41] #1536 closed

[2018-07-28 21:55] tech4him1 commented on #971
@mkozhukharenko You often need to trigger a new deploy after you have made changes to the Git Gateway settings. If you try that and are still having problems, can you open a new issue?

[2018-07-29 00:35] galvarez421 commented on #1455
I just had this same issue using GitLab repo + Netlify Identity. I didn't invite a user like the OP. I just created my own test account, got the email to confirm my email address, confirmed, then I was redirected to the login screen and got the same exact JSON error message.

The console error message says there is a 404 GET request error for retrieving https://[mysite].netlify.com/.netlify/git/se

[2018-07-29 00:43] galvarez421 commented on #1455
Sorry, disregard! I had enabled git-gateway via my config file and had enabled Identity in Netlify but had not enabled Git Gateway per the docs (https://www.netlify.com/docs/git-gateway/#getting-started). Sorry about the false alarm!

[2018-07-29 00:50] galvarez421 commented on #1231
I am still experiencing this issue, using netlify-cms 1.9.3. I only need to refresh once and then the admin interface appears, but it seems that it will never appear unless I refresh after the login confirmation modal appears.

[2018-07-29 03:12] tech4him1 opened #1541 "Example relation widget preview no longer works on first load."
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
The kitchen sink custom relation widget preview no longer displays on first load, only after the relation is edited. This may be indicative of a larger problem.

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**

**- Please mention

[2018-07-29 06:05] EasterPeanut commented on #1423
The permissions are insane. I don't need Netlify to have read/write permissions over ALL repo's and I don't need Netlify to have **organization access**. What for does Netlify need this? Plus, the default setting is that it wants PUBLIC and PRIVATE repo access? Seriously, this is red flags all over for me and it's making me not want to use Netlify.

[2018-07-29 10:20] axelboc opened #1544 "Combined CHANGELOG and GitHub Releases"
I'm loving the new mono-repo structure, but the [multiple changelogs](https://github.com/netlify/netlify-cms/blob/master/CHANGELOG.md) are going to make it hard to keep up with releases. For v2, I had to track down the [blog article](https://www.netlifycms.org/blog/2018/07/netlify-cms-2-0-launches-with-bitbucket-support-and-a-new-monorepo-architecture/) to even understand what was going on.

Would

[2018-07-29 12:12] mkozhukharenko commented on #971
hm.. I didn't try.
I've delete whole netlify site and created from scratch. It helped

[2018-07-29 17:43] pojntfx commented on #1454
+1 here as well. See [my GitLab repo](https://gitlab.com/pojntfx/ergotherapie-ssl-website) for the exact site where it appears.

[2018-07-29 21:18] bomzj opened #1546 "Images from Media Assets are not fetched correctly giving 403 when using bitbucket"
**- Do you want to request a *feature* or report a *bug*?**
*bug*

**- What is the current behavior?**
![image](https://user-images.githubusercontent.com/2025775/43370694-5f029270-938c-11e8-8933-06805034e420.png)
In my local sandbox attempt to fetch images give 403 for each image request, while other stuff (non images) are fetched correctly. Image urls have wrong url containing guid instead of "ma

[2018-07-29 21:43] tech4him1 commented on #1546
ping @Benaiah

[2018-07-29 22:23] blopker opened #1547 "Implicit grant type for Bitbucket"
Hello! Now that Netlify supports Bitbucket, I'm wondering if it also supports the implicit oauth flow for Bitbucket?

According to Bitbucket the implicit flow is supported by them: https://confluence.atlassian.com/bitbucket/oauth-on-bitbucket-cloud-238027431.html

It would be great to use Netlify CMS and Bitbucket without a server like the GitLab support.

Thanks for the great project!

[2018-07-30 06:45] arnaudschlupp commented on #568
Hi!, I would like to know if discussions about this one already started or if there are blockers to start this one out. Thanks a lot fo the amazing work you are doing here 👍

[2018-07-30 08:54] ianfloriantest opened #1549 "Why appears "Unsaved changes" where is used the relation widget?"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
Shown "Unsaved changes" on entering in collection item which contains "relation" widget.

**- If the current behavior is a bug, please provide the steps to reproduce.**
https://cms-demo.netlify.com/#/collections/kitchenSink/entries/a-big-entry-with-all-the-things

**- What is the expected behavior?

[2018-07-30 08:56] #1549 closed

[2018-07-30 08:57] MrEfrem opened #1550 "Why appears "Unsaved changes" where is used the relation widget?"
- Do you want to request a feature or report a bug?
bug

- What is the current behavior?
Shown "Unsaved changes" on entering in collection item which contains "relation" widget.

- If the current behavior is a bug, please provide the steps to reproduce.
https://cms-demo.netlify.com/#/collections/kitchenSink/entries/a-big-entry-with-all-the-things

- What is the expected behavior?
Must appears "Sav

[2018-07-30 10:06] Adam-Collier opened #1551 "Set up with Vuepress can't upload images to Media"
**- Do you want to request a *feature* or report a *bug*?**
Bug
**- What is the current behavior?**
Trying to use Netlify CMS with Vuepress. Currently having an issue when uploading media files. I keep getting this issue

<img width="1280" alt="screen shot 2018-07-30 at 10 50 44" src="https://user-images.githubusercontent.com/20065745/43390691-b432aadc-93e6-11e8-8db3-8e703a386f7b.png">

in the con

[2018-07-30 10:16] Dammmien commented on #1480
@erquhart @tech4him1 PR is opened : https://github.com/netlify/netlify-cms/pull/1527

[2018-07-30 14:31] m-henderson commented on #1424
never mind, I see where it defaults to false but it's just not persisting that value.

[2018-07-30 14:39] tech4him1 commented on #1550
Duplicate of https://github.com/netlify/netlify-cms/issues/725, thank you for reporting!

[2018-07-30 14:39] #1550 closed

[2018-07-30 14:42] MrEfrem commented on #1550
@tech4him1 but there isn't changes for a long time. It's a bad.

[2018-07-30 15:11] tech4him1 commented on #1550
@MrEfrem Feel free to help work on the issue, or make a comment with any new information. We just don't want more than one issue open for a specific thing because then there is no single place for discussion.

[2018-07-30 15:34] m-henderson commented on #1424
@erquhart if a default is not specified for the boolean widget are you cool with having it default to false?

[2018-07-30 16:03] m-henderson commented on #1256
I think this is a good idea. So, if no label is defined then we will use the capitalized name for the label?

[2018-07-30 17:10] erquhart commented on #1256
Exactly. The `- <name>` definition syntax I mentioned would be out of scope for this ticket, so just making the label optional with capitalized name as the default is all that's needed.

[2018-07-30 18:57] m-henderson commented on #1256
https://github.com/netlify/netlify-cms/pull/1553 will fix this.

[2018-07-30 21:50] tomrutgers opened #1556 "Editorial workflow publishes post upon save using 2.0.6"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
With editorial mode turned on, saving a post results in immediately publishing it (no new branch is created. Changing a post that is already a draft results in a duplicate being published, while the draft is ignored but still shows up in git.

<img width="554" alt="schermafbeelding 2018-07-30 om 23

[2018-07-31 02:43] DaleSeo opened #1559 "Korean letters are not typed properly in markdown widget fields"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
Korean letters are not typed properly in markdown widget fields. Letter disappear when the editor UI blinks. This issue doesn't occur with either string widget or text widget.

**- If the current behavior is a bug, please provide the steps to reproduce.**
Just try to type any Korean letters in a ma

[2018-07-31 08:03] vladdu opened #1560 "[docs] internal links get mangled"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
Clicking on any internal links in the docs pages (i.e. pointing to somewhere under https://www.netlifycms.org/docs/), the href gets mangled: the href is appended to the current page's URL, like it was an internal link.

The source code looks ok, though, so my guess is some javascript is involved. L

[2018-07-31 08:36] emil-layerise commented on #1456
Netlify CMS works fine on /admin/ however it tries to load the admin on the main page as well? Does anyone encounter the same problem?

<img width="1390" alt="screen shot 2018-07-31 at 10 28 30" src="https://user-images.githubusercontent.com/41740141/43447775-828dd120-94ac-11e8-8d50-ec047624883d.png">

[2018-07-31 11:13] m-henderson commented on #1005
@erquhart so, I did some digging before diving into the code and it looks like GitHubs editor allows for soft breaks when using

`bbvgfds
jhgfjhgf`

[2018-07-31 11:31] m-henderson commented on #1005
@erquhart Just to be clear, when the enter key is pressed inside of a code block, it should generate a soft break within the current code block instead of creating a new code  block?

[2018-07-31 11:33] m-henderson commented on #1560
@vladdu I am not able to reproduce this issue. What browser are you using? Can you try another browser and let me know if the page opens correctly for you?

[2018-07-31 12:04] vladdu commented on #1560
I can confirm that it works as expected if I disable Javascript on the page, from the dev tools.

[2018-07-31 12:30] vladdu commented on #1560
https://github.com/gatsbyjs/gatsby/issues/6888

[2018-07-31 12:30] #1560 closed

[2018-07-31 13:00] romainquellec commented on #1551
Got the same, fixed the same way.

[2018-07-31 14:44] erquhart commented on #1005
If you press Enter a newline _appears_ to be added, but it isn't output in the markdown.

If you press Shift + Enter, it creates a new code block, but it really should just do the same thing as Enter, so Shift should be ignored.

Pressing Enter needs to create an actual newline in the markdown output, I believe that's all that's needed here.

[2018-07-31 14:47] tech4him1 commented on #1551
Where are your repos hosted at (GitHub or GitLab)? The media code is different for each.

[2018-07-31 15:05] bnjmn commented on #1551
Same issue. Fixed with the version downgrade for now as well. My site repo is hosted on github using netlify git-gateway for auth.

[2018-07-31 15:05] tech4him1 commented on #1551
Looking into it now.

[2018-07-31 15:37] m-henderson commented on #1005
Before you get too deep into this ticket, we should do a few things

1. Update Slate - there's a PR for this, we haven't updated it in forever
2. Use more plugins: https://docs.slatejs.org/general/plugins

There's a code block editing plugin in that list. There are probably other plugins that can replace some of our homegrown stuff and improve things in general.
Slate update is here: netlify/netli

[2018-07-31 16:17] #1556 closed

[2018-07-31 21:35] erquhart commented on #1164
Re-opening, #1239 was reverted a while back.

[2018-08-01 13:03] ekoeryanto commented on #1231
@galvarez421 check the netlify identity widget setup and also try to clear the localstorage with `localStorage.clear()`

[2018-08-01 13:35] Kavakuo opened #1564 "Writing posts with GitLab as backend is broken"
**- Do you want to request a *feature* or report a *bug*?**
Bug, see below for a detailed analysis. Pull request is coming too.

**- What is the current behavior?**
Using GitLab as backend doesn't work. Creating or editing posts is not possible.

**- If the current behavior is a bug, please provide the steps to reproduce.**
Use the config.yml above and try to create new posts for a static website.

[2018-08-01 13:43] Kavakuo opened #1565 "Uploading images with GitLab as backend is broken"
**- Do you want to request a *feature* or report a *bug*?**
Bug, see below for the bugfix. Pull request is coming.

**- What is the current behavior?**
Uploading images with GitLab as backend is broken.

**- If the current behavior is a bug, please provide the steps to reproduce.**
Use GitLab as backend and try to upload a new image.

**- What is the expected behavior?**
The image is uploaded and

[2018-08-01 14:25] tech4him1 commented on #1454
Splitting this out into two separate issues:
- #1436 for viewing media.
- #1565 for uploading.

[2018-08-01 14:25] #1454 closed

[2018-08-01 14:27] tech4him1 commented on #1565
Thanks for working on a PR, let us know if you need any help!

[2018-08-01 14:46] #1564 closed

[2018-08-01 14:46] #1565 closed

[2018-08-01 17:26] arifpedia commented on #1546
Same here, but i'm using GitLab as backend (private repo). In Headers Tab, Status Code: 404 Not Found.
![netlifycms](https://user-images.githubusercontent.com/4081293/43537051-6c1d9af0-95e8-11e8-93d4-037c8573c231.PNG)

If i open link image to new tab:
![netlifycms1](https://user-images.githubusercontent.com/4081293/43537701-435ed320-95ea-11e8-87d1-eee3064268af.PNG)

[2018-08-01 17:48] tech4him1 commented on #1546
@arifpedia There is a separate issue filed for that problem at https://github.com/netlify/netlify-cms/issues/1436.

[2018-08-02 02:45] Barsnes opened #1571 "Feature Request: Editorial Workflow on individual collections"
*Feature Request*
**- Currently you can only have editorial_workflow on all collections**

**- You should be able to put    *publish_mode: editorial_workflow* on individual colletions.**

[2018-08-03 09:36] mistermantas opened #1574 "Post with `list` doesn’t open — TypeError: e.get is not a function"
**- Do you want to request a *feature* or report a *bug*?**

Bug

**- What is the current behavior?**

After logging in, everything seems to work fine, except when you try to open a post from a collection (well I only have one) that it throws a “Sorry!” error.

**- If the current behavior is a bug, please provide the steps to reproduce.**

1. Use this [config file](https://github.com/cstate/cstate

[2018-08-03 12:23] mittalyashu commented on #513
Will this configuration work to show content in sub-directory?

[code]

[2018-08-03 12:30] mittalyashu commented on #1268
Theoretically I can explain, the process it simple:

Create a form where visitors can submit the blog post, when the users will click the submit button, a pull requests should be created with the post adding the repo.

[2018-08-03 12:33] mittalyashu opened #1575 "Feature Request: Move / copy posts"
**Do you want to request a *feature* or report a *bug*?** feature

**What is the current behavior?**  Only edit and publish the post

**What is the expected behavior?** Move or copy the post to different directory

**Please mention your versions where applicable.**
* Netlify CMS version: 2.0.8
* Browser version: Chrome 68.0.3440.84

[2018-08-03 13:00] mittalyashu opened #1576 "Keep title and slug in sync"
**- Do you want to request a *feature* or report a *bug*?** Not sure

**- What is the current behaviour?** Slug is not changing if I update the title

**- If the current behaviour is a bug, please provide the steps to reproduce.** When I created a new post with the title "A B C" and hit save, the slug is "date-a-b-c" and when I changed the title to "A C B" the slug didn't get changed.

**- What is

[2018-08-03 14:22] aaronaustin opened #1577 "Can the relationship widget link to filtered folder collections?"
I have two filtered collections in the same folder.  I would like to use the relationship widget to connect to those but it's not pulling any items.  Is this possible?

[code]

[2018-08-03 15:41] tech4him1 commented on #1574
The list widget supports two formats:
  - `field` with a single list (like you are wanting)
  - `fields` (plural) with an object for each list item

Unfortunately, single-item lists are broken right now (https://github.com/netlify/netlify-cms/issues/1139). There is a fix in progress, but it is not merged yet.

For now, you could use the alternative multi-field format. You would need to add a `name

[2018-08-03 15:50] mistermantas commented on #1574
I can't change a core part of the frontmatter for a project nearing its last release candidate, though.

[2018-08-03 20:55] erquhart commented on #1407
Yeah, I'm aware of js-in-yaml, and agree that it's weird. Extensions shipping functions feels pretty sane.

[2018-08-04 01:49] avigoldman commented on #1320
@erquhart any suggestions for fixing this beyond deleting all the branches?

[2018-08-04 12:46] jnthnclrk commented on #1171
Is this released?

[2018-08-04 13:16] dev7ch commented on #432
While searching about how to implement Google Drive Hosted public images into a JAM Stack i came here.

Due @haileypate already mentioned it´s a multi topic issue, i am not sure if this is the right place to ask but my case is somehow related to 3rd Images.

Currently, I am using static Nuxt (Vue) with contents based on markdown files and netlify cms to manage the md files.

Atm I see it´s possibl

[2018-08-04 16:38] jonathaneckman commented on #1181
My team would also benefit from a VSTS backend.

@erquhart When you say "you can definitely create a backend to support it", do you mean submit a PR or is there some generic backend configuration in your API we can use? From looking at your docs I assume the former.

[2018-08-04 18:09] mittalyashu commented on #432
Integration with Imgur

[2018-08-05 15:45] runandrew commented on #1197
I am having the same problem. The preview template **works for a folder collection**, but for a file collection it doesn't.

* The source of your PagesPreviewTemplate component
[code]
* Screenshot or paste of any error messages showing in your console
  * It just renders the default preview for the pages template
* Description of exactly what's happening when previews don't work (does it show noth

[2018-08-05 22:49] tech4him1 commented on #1547
The reason implicit authentication is not supported for BitBucket yet is because BitBucket requires that the user re-authenticates every hour. When using a server-side flow it provides a "refresh" feature so that the update can occur in the background. When using the implicit flow, however, the user would have to be asked to re-authenticate using some sort of popup. I had worked on this before in

[2018-08-06 08:01] xuopled commented on #1348
I think this feature could be very usefull for some cases.

I have my content in a git submodules. So each netlify-cms update commit to my submodule repo. But My main repo does not change anymore so netlify does not trigger a new deploy.

[2018-08-06 14:11] piedoom commented on #1454
Hi, I'm still experiencing this issue despite it being marked closed.  Anyone else having issues?

[2018-08-06 14:53] estherholleman commented on #1454
It is also still not working for me. It builds fine, but when I try to change or upload an image I still get 'no assets found' even with a fresh install of the official Gatsby starter with GitLab and after updating gatsby-plugin-netlify-cms to version ^1.0.12, gatsby-plugin-netlify to ^1.0.21, and netlify-cms" to "^1.9.3. Is there perhaps anything else I should be updating or something I'm forgett

[2018-08-06 14:54] estherholleman commented on #1565
This is still not working for me. It builds fine, but when I try to change or upload an image I still get 'no assets found' even with a fresh install of the official Gatsby starter with GitLab and after updating gatsby-plugin-netlify-cms to version ^1.0.12, gatsby-plugin-netlify to ^1.0.21, and netlify-cms to "^1.9.3 . Is there perhaps anything else I should be updating or something I'm forgetting

[2018-08-06 16:14] estherholleman commented on #1454
I found out so far that the newest version of netlify-cms is 2.08, however the gatsby plugin is setting the netlify-cms version so it needs to be overriden with 'resolutions' in the package.json file. I attempted this following the instructions here (https://www.npmjs.com/package/npm-force-resolutions), which included removing the node-modules folder, running npm-force-resolutions, and then npm in

[2018-08-06 16:37] mryanb opened #1584 "CSS Class Support for inline images: alightright, align left"
Is there a way to add a CSS class to an inline image? It seems like the way this is handled in our builder is with something like `![](/images/gracehoppertocat.jpg) {.alignright}` This however breaks the rendering.

[2018-08-06 18:50] piedoom commented on #1454
let me know if I can help test anything on my end!

[2018-08-06 20:29] tech4him1 commented on #1454
@piedoom @estherholleman See [my last comment above](https://github.com/netlify/netlify-cms/issues/1454#issuecomment-409593808) -- fixes are still in progress, it has just been split into two different issues.

[2018-08-06 20:31] tech4him1 commented on #1565
@estherholleman This fix was released in CMS version 2.0.7, please upgrade and try again.

[2018-08-06 23:34] tech4him1 commented on #1454
@piedoom Yes please. Also, make sure you are on the latest version of the CMS (v2.0.8) -- there were a lot of recent bug fixes.

[2018-08-07 02:07] piedoom commented on #1565
I am still getting the error on 2.0.8, I will update soon with more details

[2018-08-07 08:16] porfirioribeiro commented on #1576
Having a possibility to edit the slug could also be cool.

[2018-08-07 08:32] estherholleman commented on #1565
I cannot seem to update any version higher than 1.9.3 for netlify cms and 1.0.12 in gatsby-plugin-netlify-cms (in the gatsby-starter-netlify-cms, downloaded today). Whenever I do an npm install, it just downloads those versions again.

I also attempted to follow the gatsby netlify cms tutorial https://www.gatsbyjs.org/docs/netlify-cms/ , and here I can install the latest versions, however then gat

[2018-08-07 09:25] ozwronski opened #1587 "Build includes commented html and fails when that html is broken"
**Type:**

Bug

**Current Behavior:**

I reference a partial template which I have hidden behind comments:
![image](https://user-images.githubusercontent.com/25608767/43766537-07eebcc0-9a76-11e8-830a-07424525a300.png)

However, this partial template is included in the build and because the template is broken, it causes the build to fail:
![image](https://user-images.githubusercontent.com/25608767/

[2018-08-07 10:04] mittalyashu commented on #1576
True.

If someone doesn't want to get into the mess of editing slug, keeping the slug into sync with the title would be a lifesaver.

Whenever we change the title, the slug will automatically change accordingly.

Sure editing the slug would also give greater control.

[2018-08-07 12:28] estherholleman commented on #1565
So in my case this was a problem with the gatsby-plugin-netlify-cms not working with any netlify cms version above 2 on gatsby v1, (https://github.com/gatsbyjs/gatsby/issues/6802). I've created a test site in gatsby v2 with netlify cms v2.0.8 and image uploading works there.

[2018-08-07 15:05] tech4him1 commented on #1565
@estherholleman Great, glad you got it working.

@piedoom If you don't mind, can you open a new issue instead of commenting here?

[2018-08-07 16:27] #487 closed

[2018-08-07 19:30] piedoom commented on #1565
Sure, I will do that in a moment!

[2018-08-07 20:46] #363 closed

[2018-08-08 07:34] Firthir commented on #793
We got this working. It will bring in all styles from the front end URL.
[code]

[2018-08-08 07:40] pungggi commented on #793
@Firthir Can you elaborate what is the idea behind the localStorage Item?

[2018-08-08 11:06] mistermantas commented on #445
This should be tagged high priority or something.

I’ve just had to redo my entire frontmatter because of this single issue. Posts couldn’t be created and it wasn’t even obvious why.

I don’t think there needs to be a super special UI for the slug — perhaps the default behavior, as it is now for `title`, would be showing the slug in small lettering underneath that with an edit button? I think some

[2018-08-08 12:26] airtonix commented on #1066
I reckon we really just need to update the relation field to :

- allow pointing at more than one collection
- make it support multiple selections.

Then you'd have page types that have a content-area ( a relation to `_blocks/layouts` )

`_blocks/layouts` are an object with :
- a select for the layout template you want.
- another relation to all your other blocks.

Something like this:

[code]

I

[2018-08-08 12:29] Firthir commented on #793
Hey @pungggi you'll find this useful if you're using localhost and logging into the CMS. This get the preview to display correctly locally. I use the .env.development var for a few things.
Try this, then we can use this with the example above.
- Create a new .env.development file in your root dir.
- add the ```NETLIFY_SITE_URL=https://yoursstiehere.netlify.com```

OR in this example just hardcode

[2018-08-08 13:37] ArcaneTSGK opened #1592 "Merging a PR to a protected branch with approvers does not update the netlify-cms workflow"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
If the publish branch is a protected branch on GitHub with required reviews enabled, and you subsequently approve and merge the pull request in the GitHub GUI or CLI, the content remains in 'Ready to publish' section of the workflow.

**- If the current behavior is a bug, please provide the steps t

[2018-08-08 13:41] ArcaneTSGK opened #1593 "Unable to approve pr in the netlify-cms gui"
**- Do you want to request a *feature* or report a *bug*?**
Feature

**- What is the current behavior?**
If the publish branch is a protected branch on GitHub, the content owner is unable to approve the pull request within the netlify-cms gui. Instead they have to go to GitHub and approve the pr there, which breaks their workflow experience.

**- What is the expected behavior?**
As most content te

[2018-08-08 14:44] tech4him1 commented on #1066
@benjaminsehl There is a PR in progress, but it stalled out. If anyone wants to create a new PR or pick up the existing one (https://github.com/netlify/netlify-cms/pull/1169), please comment here and it will be yours!

[2018-08-08 19:31] Adam-Collier opened #1594 "Vuepress there are multiple mobx instances active"
**- Do you want to request a *feature* or report a *bug*?**

Bug

**- What is the current behavior?**

Currently getting an error in the console that there are multiple mobx instances active. I'm not sure what the standard is but the text in the preview window when you write a post is all serif, could that be caused by this issue? Vuepress doesn't use mobx so it must be coming from the CMS. An exa

[2018-08-08 20:35] emveeoh commented on #263
Ideally, every asset (a post, a page, an image, etc) would have the ability to be scheduled. Atomic scheduling.

[2018-08-08 22:06] erquhart commented on #432
Check out this blurry gif:

![netlify-cms-cloudinary](https://user-images.githubusercontent.com/2112202/43866804-11197f14-9b35-11e8-9418-e78fb49d3558.gif)

This approach is based on a new API for registering an external widget library. I'm only aware of two services that have media library widgets, Cloudinary and Uploadcare. I'll likely put together integrations for both if we go this route, it do

[2018-08-08 22:29] tech4him1 commented on #1594
Netlify CMS doesn't use MobX either, but the Identity widget does. You note that you are injecting the Identity script using snippet injection, but it looks like you already have a copy of the identity widget in your `admin/index.html` code, so I'm guessing that's where the duplicate is.

[2018-08-09 00:52] verythorough commented on #365
Agreed. I think that CTA looks great, but makes more sense on the examples page for now.

[2018-08-09 18:01] kennedyrose commented on #1489
We were hoping for this too. Our builds break every time one of those fields doesn't match up to an existing collection.

[2018-08-09 22:42] edadams opened #1596 "Markdown works in Content Editor, displays un-parsed on my site"
**- Do you want to request a *feature* or report a *bug*?**
Suspected bug.

**- What is the current behavior?**
I can type Markdown in the Content Editor but it is not being parsed on my compiled site. The unparsed Markdown is being outputted on my site instead.

**- If the current behavior is a bug, please provide the steps to reproduce.**
In my Netlify CMS `config.yml` file, I've set `name: 'bod

[2018-08-10 14:10] erquhart commented on #793
@Firthir this issue is about CSS in JS solutions like Emotion, Styled Components, etc.

[2018-08-10 15:11] tech4him1 commented on #1596
There are a few things here that need to be clarified, but thank you so much for providing all the links -- it makes it *way* easier to debug!

On the CMS side, `body` is only special if it is a top-level widget in the markdown file (i.e. not nested under another object like `textbox`). If it is top-level, it gets put into the body of the markdown file, not the frontmatter. Otherwise, `body` doesn

[2018-08-10 17:38] edadams commented on #1596
This has cleared it up for me. When you said "top-level" you mean it's... at the highest level of the config file. I'm not sure why this wasn't clicking for me before but it is now.

I'll get started on trying to write that PR then! Thanks one last time. Closing this issue as my issue is properly resolved now.

[2018-08-10 17:38] #1596 closed

[2018-08-10 19:44] tech4him1 commented on #1565
@piedoom Still an issue?

[2018-08-10 20:30] erquhart opened #1599 "Styling broken in the preview pane"
**- Do you want to request a *feature* or report a *bug*?**

bug

**- What is the current behavior?**

In-repo widget preview components, styled via Emotion, are unstyled in the preview pane.

**- If the current behavior is a bug, please provide the steps to reproduce.**

It's kind of hard to tell because the default preview components have barely any styling anyway. Just look at the preview compo

[2018-08-10 21:27] verythorough opened #1600 "[netlifycms.org] Inline links to other netlifycms.org pages are broken"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Inline links to other pages within the netlifycms.org site route with the current page as the base of the URL.

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Go to https://www.netlifycms.org/docs/intro/
2. In the **Find out more** section at the bottom, click the "Star

[2018-08-10 22:59] tech4him1 commented on #1600
This was also reported and traced in #1560, looks like it was fixed in https://github.com/gatsbyjs/gatsby/pull/6993. We should be able to fix by upgrading `gatsby-plugin-catch-links` to `2.0.2-beta.6` or greater.

[2018-08-11 00:51] verythorough commented on #1600
Ahh, I didn't think to check closed issues!

[2018-08-11 06:10] ramkumarkb opened #1601 "To be able to support custom backend with S3 compatible storage like Minio"
**- Do you want to request a *feature* or report a *bug*?**
*Feature*

**- What is the current behavior?**
Only Git based backed repo like GitHub, GitLab, or Bitbucket is supported

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**
It will be fantastic if there are some pointers to create a custom backend with S3 compatible storage

[2018-08-11 15:43] talves commented on #1601
@ramkumarkb this is very possible. I have written a backend for the file-system that allows for a registering in backend. I have also written a backend to connect to Firebase/Firestore which I have to convert to an open-source project.

As I write this, there is not an official starter for creating a backend. The best way to get started is to create a library and use one of the existing backends i

[2018-08-11 17:58] erquhart commented on #432
Opened #1602 to satisfy this issue, check it out!

[2018-08-11 18:00] erquhart commented on #1032
External media library integrations can upload multiple images at once! Check out #1602 for details.

[2018-08-11 20:29] bdadam commented on #1576
What could be even better is to make the slug sync with the title BUT only as long as the article is not published (is in draft state). Once the article gets published the slug would never change. This is to make sure that links which point to the old slug will not lead to an error page. But as long as an article is in draft state it is relatively safe to change the slug because ideally no one wou

[2018-08-11 20:41] mittalyashu commented on #1576
Can you explain this in more detail?

But changing the state of the article from published to draft, changing the slug and then changing the state back _(this is possible)_.

What's your idea to restrict users from not allowing to change slug in the published state?

[2018-08-11 20:51] foxxxyben commented on #513
I agree fully with the need to be able to set Path dynamically based on a range of variable, and still have well-defined structure. For my own site where I'm the only author, I'm fine with just managing the /docs/ directory structure on my own, but even here I need to be able to define separate categories that maintain their own folders with identical structure. In the future, I would want each of

[2018-08-11 21:47] tech4him1 commented on #445
Starting in v2.0 there is an error message for this -- at least an improvement on the silent breakage we had before.

[2018-08-11 22:43] geekysrm commented on #1600
Check #1604.

[2018-08-12 09:53] DavidRayner commented on #1565
I still have this issue with my site which was based off the hugo starter
I will try to reproduce with the hugo starter upgraded to v2.x

![image](https://user-images.githubusercontent.com/9212074/44000758-77b2bcdc-9e1d-11e8-8fdf-6e37ddc0c610.png)

[2018-08-12 10:32] DavidRayner commented on #1565
I believe this issue still exists on netlify-cms 2.0.9

I made a Netlify site using GitHub and https://github.com/DavidRayner/one-click-hugo-cms. I was able to upload media without any problem.

I made another Netlify site using GitLab and https://gitlab.com/davidrayner/one-click-hugo-cms (an import of my GH repo) - and I was not able to upload media.

[2018-08-12 10:53] mistermantas commented on #445
That’s… not really the case in my experience. If there was no field like `title` (even if there was `Title`) it would try to publish and throw an error in console and that’s it.

[2018-08-12 15:32] tech4him1 commented on #445
@mistermantas That should already be throwing an error. Would you mind opening a new issue with an example config so that I can get that to at least throw an error?

[2018-08-12 15:51] tech4him1 commented on #1565
@DavidRayner I can reproduce, looking into it. For some reason, Redux is getting a `MEDIA_LIBRARY_FAILURE`. This line is then undefined:

https://github.com/netlify/netlify-cms/blob/f801b192211b1e1953ced969a3093eab9e04e14d/packages/netlify-cms-core/src/actions/mediaLibrary.js#L84

[2018-08-12 19:37] mistermantas commented on #445
if this is gonna be fixed soon, then there’s no point to it.

Waiting on the updates :)

[2018-08-12 20:53] mittalyashu opened #1605 "Add / remove data from yml file"
**- Do you want to request a *feature* or report a *bug*?** feature

**- What is the current behaviour?** not able to edit the data file `_data/member.yml` in Jekyll

**- What is the expected behaviour?** able to add or remove data from yml file directly from netlifyCMS.

[2018-08-13 14:00] jvoros opened #1607 "List Widget with nested fields creates nonfunctional UI in CMS"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
After configuring a collection based on the YAML in the docs, with a list widget and nested fields, the UI renders a form with nonfunctional fields. The labels do not render, I am only able to enter a single character in the form fields.

![Imgur](https://i.imgur.com/wBm4IhT.png)

**- If the curren

[2018-08-13 14:08] piedoom commented on #1565
Thanks for posting more info @DavidRayner - sorry I haven't been at the computer much lately so I was unable to respond with further stuff.  This is the exact behavior i am experiencing as well.

[2018-08-13 14:25] tech4him1 opened #1608 "GitLab with Git Gateway: media loading and uploading broken"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
Quoting @DavidRayner from https://github.com/netlify/netlify-cms/issues/1565#issuecomment-412331348:

**- If the current behavior is a bug, please provide the steps to reproduce.**
Quoting @DavidRayner from https://github.com/netlify/netlify-cms/issues/1565#issuecomment-412333598:

**- What is the

[2018-08-13 14:28] tech4him1 commented on #1608
For some reason, Redux is getting a `MEDIA_LOAD_FAILURE`. This line is then undefined:

https://github.com/netlify/netlify-cms/blob/f801b192211b1e1953ced969a3093eab9e04e14d/packages/netlify-cms-core/src/actions/mediaLibrary.js#L84

[2018-08-13 14:29] tech4him1 commented on #1565
@piedoom @DavidRayner Great, at least we have a repro case. I've opened a new issue to track this problem, let's move discussion there: https://github.com/netlify/netlify-cms/issues/1608.

[2018-08-13 14:31] tech4him1 commented on #1605
You can use a `file`-type collection in the CMS, see the docs at https://www.netlifycms.org/docs/collection-types/#file-collections.

[2018-08-13 14:31] tech4him1 commented on #1605
qu

[2018-08-13 14:31] #1605 closed

[2018-08-13 15:10] bdadam commented on #1576
@mittalyashu
Here is the use-case I have in mind:

When I write a somewhat longer article I usually work on it for a couple of hours or even days. During this time I rewrite/reword most parts of the article even the title. Since the article is not published yet it would be safe to change the slug/filename in sync with the title. Otherwise the slug always represents the first draft of the title and

[2018-08-13 15:17] jvoros commented on #1607
Seems related to #1139 and #1574.

Making `field` plural to `fields` causes error: `TypeError: e.get is not a function` triggered by `immutable.js` according to console.

[2018-08-13 15:19] jvoros commented on #1607
A workaround for my use case would be to allow custom delimiters for the list widget.

[2018-08-13 16:32] mittalyashu commented on #1576
Since this can only be achieved by `editorial_workflow` _(draft and published)_ and it only supports `github` yet.

Yeah, this can be a use-case too. _(same as I have told earlier)_ But as I have mentioned about `editorial_workflow` changing the state of article from publised to draft and then changing the slug is not so good idea.

So, what can be done:

1. Wait until NetlifyCMS support both GitL

[2018-08-13 17:48] erquhart commented on #1280
Heads up: 3 of the top 5 requested features for 2.0 can be solved with this PR: https://github.com/netlify/netlify-cms/pull/1602

[2018-08-13 18:21] mittalyashu opened #1609 "Sort field output when nested under object/list."
**- Do you want to request a *feature* or report a *bug*?** Not sure

**- What is the current behavior?**

I have fields setup this way.

![image](https://user-images.githubusercontent.com/29014463/44050030-5daa8dc4-9f53-11e8-8eae-4cea403e6df1.png)

I want the name to show up first and then colour, but the output is

![image](https://user-images.githubusercontent.com/29014463/44050038-646254b2-9f5

[2018-08-14 04:43] chaseadamsio opened #1613 "link to demo configuration code for widgets serves github 404"
From https://github.com/netlify/netlify-cms/blob/master/website/content/docs/widgets/index.md, the link behind "demo configuration code" 404s:

It seems like this config would be close parity, does it make sense to link it instead?

https://github.com/netlify/netlify-cms/blob/master/website/static/admin/config.yml

[2018-08-14 11:58] mittalyashu commented on #800
My use-case for using relation widget is to fetch the data from `_data/author.yml` file and while creating a post it should show the list of the author from the same `yml` file so that I can select the appropriate value.

[2018-08-14 14:52] pantgurra opened #1614 "Sorting in list widget doesn't work?"
**Describe the bug**
Maybe I'm expecting a feature that doesn't exist but the list widget is supposed to be sortable by drag and drop right?  I can't see how it is...the drag handle doesn't trigger. After trouble shooting my own config.yml for a while I ended up testing on the demo site and it turns out it doesn't work there either...?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ht

[2018-08-14 16:32] mskian opened #1615 "Media Manager Not Working"
Images not uploading - I found some errors on the console
also, it does not show the Preview and previously uploaded images
I am using **Gitlab** (Private Respo) & **Hugo**
backend Method  - `git-gateway`

[code]

Rest Features are Working fine

[2018-08-14 17:32] tech4him1 commented on #1615
This looks like a duplicate of #1608, let's discuss there. Thanks for reporting!

[2018-08-14 17:32] #1615 closed

[2018-08-14 23:25] tech4him1 commented on #1407
A possible implementation for editor components (not `config.yml`), was created in #1511.

[2018-08-15 12:49] springdo opened #1617 "Workflow on github should create a label and attach it to the PR."
**Describe the solution you'd like**
Workflow plugin is great if you use netlify-cms as the single source of the truth *and* your content moderators can merge / publish from it UI.

In our case, we have a bot account that acts as the person who raises PRs. So when a user logs in, they don't have to be added to the git organisation but can still contribute content via the bot. The bot does not have

[2018-08-15 14:33] mittalyashu opened #1618 "Markdown editor is not saving the emoji"
**Describe the bug**

When I select an emoji from the emoji picker it doesn't save to the editor, but if we copy the emoji from somewhere else and then paste it, then it works.

**To Reproduce**

Steps to reproduce the behaviour:

1. Edit the post
2. Right-click inside the markdown editor
3. Select emoji option
4. Add the emoji of your choice
5. Close the emoji pop-up.

**Expected behaviour**

Whe

[2018-08-15 14:44] mittalyashu opened #1619 "Media section is not showing the images"
**Describe the bug**

I have uploaded a few images in the `media_folder` and when I clicked on the `media` tabs and it didn't load any images.

**To Reproduce**

Steps to reproduce the behaviour:

1. Click on Media from the tabs
2. See the bug
3. It doesn't show the images

**Expected behaviour**

It should show the images.

**Screenshots**

![image](https://user-images.githubusercontent.com/29014

[2018-08-15 15:36] robertkarlsson commented on #1618
I tried this in the PR #1451 that updates Slate and adding emojis is working on OSX Chrome. Can you try the preview link for the CMS there and see if you can add emojis since we don't run the same OS.

[2018-08-15 15:39] tech4him1 commented on #1619
Duplicate of #1436. Thanks for reporting, though!

[2018-08-15 15:39] #1619 closed

[2018-08-15 17:11] #1613 closed

[2018-08-16 02:15] zebapy commented on #1600
I'm working on a gatsby-v2 branch for this netlify cms site which will hopefully address this issue too (such a rabbit hole for just getting this fix..)

[2018-08-16 02:51] zebapy commented on #1600
Other option could be just copy the fixed v2 plugin as a local plugin and remove the dependency for now or see if v1 can be back patched

[2018-08-16 07:13] mittalyashu commented on #1618
Yeah, it worked: https://youtu.be/A4PkdwuizqI

[2018-08-16 11:39] mryanb commented on #1584
Yes it is. I could also see the class being different depending upon the CSS of the site generator too which would be problematic.

[2018-08-16 13:07] erquhart commented on #1584
That's what editor components are for - check out `registetEditorComponent`: https://www.netlifycms.org/docs/custom-widgets/

[2018-08-16 14:28] tech4him1 commented on #1600
I'm wondering if we can just roll back the site build to where it did work, since like @verythorough mentioned, it worked just fine at the beginning.

[2018-08-16 15:10] tech4him1 commented on #1600
The `transformer-remark` plugin has the potential to transform relative links, maybe that's the best way to go.

[2018-08-16 16:40] springdo commented on #1298
Hello team! we were up until recently hiding the button for publish using some CSS but now that the styles are inline we cannot remove the button. I would like to see a flag or config as described here to show the button or hide it based on some config file param.

Is there a good development guide or would this be an easy issue to start with if you would accept a PR?

[2018-08-16 19:08] tech4him1 commented on #1608
Media loading is currently failing at this line:

https://github.com/netlify/netlify-cms/blob/412d1e629f22d98c7806280780687fec016350ff/packages/netlify-cms-backend-gitlab/src/implementation.js#L137

`new URL()` only works on absolute URLs, so it is failing whenever `fileDownloadURL` returns a non-absolute URL.

[2018-08-16 19:12] tech4him1 commented on #1608
This will be fixed by #1433.

[2018-08-16 19:43] jvoros commented on #1607
Hoping #1395 will fix this.

[2018-08-16 19:53] #1607 closed

[2018-08-17 05:26] angeloashmore commented on #490
Hi everyone, has there been any design progress since this thread? I don't see anything in GitHub Issues, but just checking if the main design has been updated elsewhere.

I'd love to help improve the CMS UI. It's not bad as-is, but I think there are some definite confusion points for non-tech users, namely the nesting of list items.

[2018-08-17 14:35] macs91 commented on #1114
@mccrodp Did you find a way to do i18n with Netlify CMS? I tried with the extension approach, but even though it creates files, they won't show up as entries in the collection page

[2018-08-17 15:17] runandrew opened #1625 "Cannot render custom preview template for file collection"
**Describe the bug**
Adding a custom preview template for a file collection does not override the default template. The default template is still shown, no errors in the console. Note: I tried the same template for a folder collection and it is successful there.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a file collection
2. Add template code:
[code]

**Expected behavior**
The pr

[2018-08-17 16:37] tonyrzhang opened #1626 "Navigating to <Siteroot>/admin/ page leads to a system error popup"
**Describe the bug**
So I just setup netlify-cms on my site and I saw that when I tried to navigate to <Siteroot>/admin/ I get an error popup below.
<img width="292" alt="screen shot 2018-08-17 at 9 33 05 am" src="https://user-images.githubusercontent.com/8292111/44277786-9fd47200-a200-11e8-9d52-b7b1eecc476e.png">

After clicking Ok, the admin page loads like normal and I'm able to interact with m

[2018-08-17 17:29] tech4him1 commented on #1626
This error message was added in https://github.com/netlify/netlify-cms/pull/550 to notify the user when caching cannot work due to the `localStorage` being full.

You could try clearing the `localStorage`/cookies for your site if you wanted to.

@erquhart @Benaiah I'm not sure why this is really necessary. Does it help to create a popup for users, or should we just handle silently?

[2018-08-17 18:40] lichtner opened #1627 "Bitbucket repo "No Auth Provider Found""
I am not sure if it is a bug, maybe I missed something. I tried to set up bitbucket repo followed instructions here: https://www.netlifycms.org/docs/add-to-your-site/

**I did this:**

In top menu **OAuth applications**:

1. I created new OAuth app (here https://app.netlify.com/account/applications)

Then for the site:

2. In **Identity** menu I added my personal gmail
3. In **Settings/Identity/Re

[2018-08-17 19:07] #1627 closed

[2018-08-18 08:25] davidvm2 commented on #1474
Hey @kosirm, don't you get access to the NetlifyCMS admin when you deploy your site to Netlify? Or is that something different than the admin you get on local? Or are you not deploying to Netlify? Am I missing something? Thanks.

[2018-08-19 01:18] cringer opened #1628 "Error loading the CMS configuration"
**Describe the bug**
Error when loading the admin page.  Error states it cannot find the `collections` in my config.yml but it is there.  See screenshot for full error.

**To Reproduce**
1. Go to 'www.codenexus.xyz/admin' or 'practical-brown-7a0ff6/admin'

**Expected behavior**
netlify-cms should load

**Screenshots**
![image](https://user-images.githubusercontent.com/835448/44304518-7b68ba80-a312

[2018-08-19 01:32] erquhart commented on #1628
Check your deployed config here: http://codenexus.xyz/admin/config.yml

That's all the CMS can see, you'll need to troubleshoot why your deployed config is not the same as your source config. Second file somewhere that's the real source? Builds failing?

[2018-08-19 02:20] azdanov opened #1629 "[website] broken self-referenced links in markdown content"
Links that link back to the website, `https://www.netlifycms.org/`, are broken.

For example here: https://www.netlifycms.org/docs/intro/#find-out-more (tutorial, configuration options). When I open in a new window/tab it works, but on normal click, I get `https://www.netlifycms.org/docs/intro/https://www.netlifycms.org/docs/add-to-your-site/#find-out-more`.

Possible solution: https://github.com/

[2018-08-19 02:24] #1629 closed, assigned to nobody

[2018-08-19 03:00] cringer commented on #1628
That was it.  The build_production directory didn't have the latest config.yml as the build was failing on netlify.  I checked the deploy logs and dependencies were failing due to usage of php 5.6 instead of 7.2.

[2018-08-19 03:15] #1628 closed

[2018-08-20 09:41] mhrubikupgrade commented on #1186
Hi @erquhart , there are any updates on this?

[2018-08-20 14:44] verythorough commented on #1529
Closed by #1533

[2018-08-20 14:44] #1529 closed

[2018-08-20 15:31] cory-wc commented on #1038
Need to link in general Contributing guide -- Contributing guide for docs is at https://github.com/netlify/netlify-cms/tree/master/website - readme.md

And I'm claiming this!

[2018-08-20 16:09] jorear81 commented on #1340
I would like to tackle Media Library.

[2018-08-20 16:56] cory-wc opened #1632 "Add a style guide to documentation contributor info"
**Is your feature request related to a problem? Please describe.**
The Contributor Guides do not reference a style guide for the documentation. I'm not certain *how* to appropriately document things without creating major style/voice inconsistencies.

**Describe the solution you'd like**
Create a style guide that's available through the documentation Contributor Guide, or determine one that can be

[2018-08-20 17:53] kurtgcollins commented on #1632
I'd be interested in contributing to this. Do we want to just reference a larger, more well known style guide with some exceptions?

[2018-08-20 18:04] cory-wc opened #1635 "Create MD version of "Git for Open Source Cheat Sheet" PDF"
@verythorough has a PDF "Git for Open Source Cheat Sheet". We'd like to have a Markdown version that could be referenced in the Contributor Guide.

**Related Issues**
Issue 1038

[2018-08-20 18:05] cory-wc commented on #1635
Claiming. :) But I'm not able to find the resources directory that you referenced.

[2018-08-20 18:11] verythorough commented on #1600
I'm at an open source event with other documentarians looking for new PR opportunities, so they'll be handling these in single-page PRs. I re-opened and merged #1604 for a start, and will go through the rest piecemeal today.

[2018-08-20 18:17] verythorough commented on #1340
Great, @jorear81! I think we'll be doing some re-arranging (and changing the media library functionality a bit, too), but until then, this will still be a useful resource for others.

How about we create a "Media Library UI" page in the Reference group of pages for now. We can add more sections and put them into a larger guide later.

[2018-08-20 18:56] zebapy commented on #1600
So the #1623 fixes this issue. Is it not desired to just handle this there or is it too significant of a change?

[2018-08-20 19:01] mittalyashu commented on #513
As mentioned in this comment https://github.com/netlify/netlify-cms/issues/513#issuecomment-359189140, about Nested collections in the UI.

I have few insight how it should work.

For example, if we have this folder structure in our repository, in our `config.yml` file we can create a collection for parent folder `A` and then write `sub-directory: true` to read the folders inside the parent direct

[2018-08-20 19:03] TonyBogdanov opened #1636 "Widget hints do not work"
**Describe the bug**
Setting the `hint` property of any widget seems to have no effect in the backend UI as described [in the docs](https://www.netlifycms.org/docs/widgets/#common-widget-options). I'm using netlifycms version `2.0.9` ( `^2.0.0` ) from `unpkg`.

**Screenshots**
![image](https://user-images.githubusercontent.com/3586948/44360723-6469ca00-a4c4-11e8-9f27-a4a96949f9d3.png)
![image](htt

[2018-08-20 19:55] verythorough commented on #1632
Nice suggestion for using the Kubernetes guide, @cory-wc

I think the only rule I don't _really_ like in it is [Use normal style for string and integer field values](https://kubernetes.io/docs/contribute/style/style-guide/#use-normal-style-for-string-and-integer-field-values), but even then I don't really see it as worth making an exception for.

I think linking to Kubernetes's style guide from th

[2018-08-20 20:47] kurtgcollins commented on #1632
@verythorough - I agree that the Kubernetes guide looks pretty good. I think we could add a few more things for readability's sake, such as sentence length, but the Kubernetes guide is a great start.

[2018-08-21 08:51] joseph-allen commented on #1456
@erquhart makes the point I just came here to say.

[code]

the same issue from almost a year ago #683
this is an issue we should PR to resolve over reminding new users about a very common gotcha

[2018-08-21 12:48] kurtgcollins commented on #268
Looks like #267 is closed. Should this issue be closed as well?

[2018-08-21 13:22] cdschroeder opened #1641 "Docs: Move "Reference" section before "Guides""
**Is your feature request related to a problem? Please describe.**
The "Creating Custom Widgets" page is listed _before_ the actual "Widgets" page. And in general, it seems like the Reference pages will be useful to nearly everyone (while the Guides pages are more for those who want advanced customization).

**Describe the solution you'd like**
I think we should resolve this by switching the "Guid

[2018-08-21 17:38] w96k commented on #959
Just want to confirm that this error still exists

[2018-08-21 18:45] TylerBarnes opened #1642 "Pulling custom settings from config.yml best practises"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I'm trying to figure out the best place to store things like API keys and custom settings. Adding them to config.yml seems to make sense but I'm not really sure what the best practise would be for retrieving these values.

**Describe the s

[2018-08-21 18:52] TylerBarnes commented on #1642
Hmm, maybe it makes more sense to just make a collection of site settings instead.

[2018-08-22 01:14] tech4him1 commented on #949
Correct, thanks @kurtgcollins!

[2018-08-22 01:14] #949 closed

[2018-08-22 01:18] tech4him1 commented on #959
Can we confirm this is only Firefox ESR v52, not affecting ESR v60?

[2018-08-22 02:38] #268 closed

[2018-08-22 07:24] MitchellCash opened #1643 "Remove 'Quick Add' if there is no config option that allows creating new content"
**Describe the bug**
When you create a CMS configuration where all collections use `create: false` then the `Quick Add` button up the top right of the CMS does not need to appear as it does nothing.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new CMS configuration
2. Mark all `collections` as `create: false`
3. Start instance
4. Navigate to CMS
5. Note the appearance of `Quick A

[2018-08-22 10:02] therealshark commented on #445
It would also be nice if there was another placeholder like {{random}} generating a random string to use in the slug. I'd like to create a collections with items having no unique field, and just using a slug like ```slug: "{{year}}-{{month}}-{{day}}-{{hour}}_{{minute}}_{{second}}"``` feels a bit risky.

Another possibility to minimize the chance of colliding would be to add milliseconds as another

[2018-08-22 13:19] bsde1234 opened #1644 "Deploy instructions"
Please give local deploy instructions

[2018-08-22 13:32] tech4him1 commented on #1644
@bpmottathai We have documentation of how to add Netlify CMS to your site: https://www.netlifycms.org/docs/add-to-your-site/. Can you explain more specifically what you are having problems with?

[2018-08-22 13:55] bpmottathai commented on #1644
what I did was

Then

it gives

`netlify-cms@2.0.9 build /home/name/node_modules/netlify-cms

events.js:183
      throw er; // Unhandled 'error' event
      ^

Error: spawn webpack ENOENT
    at _errnoException (util.js:1022:11)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:190:19)
    at onErrorNT (internal/child_process.js:372:16)
    at _combinedTickCallback (internal/pr

[2018-08-22 14:20] papandreou commented on #1644
The copy of netlify-cms you get when `npm install`ing the module is not suitable for development, because all of the development prerequisites (webpack, test runner etc.) are in the [`devDependencies` section of `package.json`](https://github.com/netlify/netlify-cms/blob/82a6256458f1aea412836c7c6923f83bf6d5a525/package.json#L45-L91), and thus don't get installed in that case.

Try cloning the repo

[2018-08-22 14:28] papandreou commented on #1644
Oh, it's being worked on here: https://github.com/netlify/netlify-cms/pull/1645/ -- probably not a coincidence :)

[2018-08-22 16:41] marcos-abreu commented on #568
It would be good to understand the architecture used for Github and what were the requirements that led to it. Basically just an overview, so we could propose some solutions for it. I have some time and would love to help get this feature out of the door.

[2018-08-22 17:56] verythorough opened #1646 "[docs] Internal docs links have different formats in site and repo views"
**Describe the bug**
Related to some discussion in #1600 and elsewhere, we currently can't have internal links between docs work in both GitHub and the netlifycms.org site, because they each require different URLs in the markdown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/netlify/netlify-cms/blob/master/website/content/docs/start-with-a-template.md
2. Click on

[2018-08-22 19:03] erquhart commented on #1481
Two spaces at the end of a line in markdown indicates a soft break, so we'll need to leave those, but otherwise you're right, there's no representation of trailing whitespace in a markdown AST (at least for Commonmark).

Makes sense to trim the string widgets too, but open to other opinions.

[2018-08-22 19:13] erquhart commented on #1483
@tech4him1 agreed, we've dug into default value templating in other issues, although I can't seem to find any of them at the moment. Making user info available for that makes sense.

[2018-08-22 19:28] #1436 closed

[2018-08-22 19:28] #1546 closed

[2018-08-22 19:28] #1608 closed

[2018-08-22 19:30] erquhart commented on #1495
The `/.netlify/identity` endpoint is referring to Netlify's managed Identity service. It isn't available on Google Cloud. Please reach out in Netlify's [community Gitter](https://gitter.im/netlify/community) if you have other questions on this!

[2018-08-22 19:30] #1495 closed

[2018-08-22 19:35] erquhart commented on #1498
Yeah it's not that kind of admin interface, it's purpose built for Netlify CMS collection display.

That said, you _should_ be able to swap in your own components to replace interfaces like this one, we're just [not there yet](https://github.com/netlify/netlify-cms/issues/1193#issuecomment-376692788).

[2018-08-22 21:24] bjrn opened #1648 "date widget does not use provided "format" property for input value"
**Describe the bug**
If I set the format property in a date widget to `YYYY-MM-DD`, the field is saved correctly in the file, but in the date input in the CMS, the date is still shown as `MM/DD/YYYY`

**To Reproduce**
Add a field in config.yml like so:

[code]

**Expected behavior**
the input field should display the value in `YYYY-MM-DD` format

**Applicable Versions:**
 - Netlify CMS version: 2.

[2018-08-23 00:42] MitchellCash opened #1649 "Allow required fields in list and object widget"
**Is your feature request related to a problem? Please describe.**
When I use the list widget I lose the ability to set a field as required. Possibly also the same problem on object widget, but have not tested.

**Describe the solution you'd like**
I would like to be able to set fields as required when using the list and object widgets.

**Describe alternatives you've considered**
N/A

**Additiona

[2018-08-23 02:00] Herohtar opened #1653 "Default values don't work inside lists"
**Describe the bug**
Default field values for list items do not show up.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a collection with a list
2. Give the list item a field and specify a default value
3. Add an item to the list in the CMS
4. No default value shows up

**Expected behavior**
The field should have the default value that was specified.

**Screenshots**
![image](https:/

[2018-08-23 02:04] MitchellCash commented on #1653
This might also relate to #1649. We expect all field values to also work even when the field is in a list, object, etc.

[2018-08-23 02:08] MitchellCash opened #1654 "Pattern field validation with a long error message is hidden behind field label"
**Describe the bug**
When you create a `pattern` validation for a field and include a long error message, it flows to the width of the input field and gets hidden behind the input field label.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a field with pattern validation and a long error message (see my CMS configuration below)
2. Go to CMS and the field with the pattern validation
3

[2018-08-23 08:33] bpmottathai commented on #1644
Pc freezes here
https://s33.postimg.cc/p46bpbgyn/IMG_20180823_140127.jpg

[2018-08-23 09:47] bjrn commented on #1648
Looks like it might be supported already by `react-datetime` which is powering the date picker?

documentation: [react-datetime: Specify available units](https://www.npmjs.com/package/react-datetime#specify-available-units)

would the solution be to pass down the `dateFormat` prop from config?

[2018-08-23 12:29] bpmottathai commented on #1644
What are the pre requirements for netlify. I have nodejs and npm. Any other like react or something I have warning of unmet peer dependency react immutable and slate

[2018-08-23 13:40] tech4him1 commented on #1644
@bpmottathai Are you trying to develop Netlify CMS or just use it on your website?

[2018-08-23 13:42] tech4him1 commented on #1648
That's what I would do. We should then be able to take out some of our custom formatting logic as well. If you want to create a PR, have at it!

[2018-08-23 13:46] bpmottathai commented on #1644
Sorry as I am noob I can't get you. What I need is a site like app.netlify.com and a netlify template for my own. Is it possible?

[2018-08-23 13:52] tech4him1 commented on #1644
@bpmottathai There are a few things we need to clear up here:

- netlify.com is a website hosting platform. It doesn't have anything to do with the CMS.
- Netlify CMS is an "editor" for your website content. It can be used with or without Netlify.com.
- If you are just trying to create your own website, you don't need to `cd netlify-cms` or run it's build -- it has already been built for you.
- Th

[2018-08-23 13:56] bpmottathai commented on #1644
I don't need to start a template like hugo with netlify cms. I need netlify cms under my domain

[2018-08-23 13:57] tech4him1 commented on #1644
Do you already have a website? If so, what site generator does it use?

[2018-08-23 14:00] bpmottathai commented on #1644
The website is for my customers not for me.

[2018-08-23 14:01] tech4him1 commented on #1644
The interface that Netlify CMS provides looks like this: https://cms-demo.netlify.com/

Is that what you are wanting?

[2018-08-23 14:03] bpmottathai commented on #1644
Yes

[2018-08-23 14:07] tech4him1 commented on #1644
Netlify CMS isn't normally used to edit templates for your site, just the content. If you are creating a website for your customer you will need to create the site first to work with a site generator like Hugo or Jekyll. After you have the site created you can add the CMS interface.

[2018-08-23 14:09] tech4him1 commented on #1644
If I am misunderstanding what you are wanting here, I apologize. You may try asking on the Chat: https://gitter.im/netlify/community

[2018-08-23 15:50] pheara opened #1656 ""Publish successful" even though it failed with an HTTP 400"
**Describe the bug**

Our setup run's Netlify against a Gitlab server, that we also use for sign-in into Netlify. When editing a post as a user without push-permissions (our master branch was protected as it turns out), the network-tab shows an error 400 ("bad request" with a message like "you cannot push to this branch"). However, the Netlify-GUI was still showing the green "Entry saved"-popup. W

[2018-08-23 16:12] bpmottathai commented on #1644
If I create a site like https://deploy-preview-1645--netlify-cms-www.netlify.com/ when click deploy to domain will it go to app.netlify.com or app.mydomain.com

[2018-08-23 17:12] erquhart commented on #1503
It's not that there isn't alignment support in the editor, it's that there isn't alignment support in _markdown_. I'm not aware of any CMS working with static site generators that has it.

I'm not saying it's impossible, just clarifying that it's far from a simple feature add. Worth discussing.

[2018-08-23 19:08] #1282 closed

[2018-08-23 19:11] erquhart commented on #1344
Not sure how that's possible, aren't write permissions required for successful login?

[2018-08-23 19:14] erquhart commented on #1516
I was planning on using Renovate to keep both lock files up to date, but after reading up a bit the consistency issues are best avoided. Choosing to support one or the other is tough, but sounds like we should.

[2018-08-23 19:20] erquhart commented on #1541
We can definitely expand the condition for updating there, I just wasn't aware of any when that change was made (like a year ago I think).

[2018-08-23 19:27] tech4him1 commented on #1541
@erquhart If you have a suggestion for the best way to compare here, I'd be happy to implement.

[2018-08-23 20:54] #1432 closed

[2018-08-23 21:41] #1618 closed

[2018-08-23 21:47] erquhart commented on #1600
I'd like to see us push through the Gatsby v2 update if we can. There's a release candidate now, so it shouldn't be too bad on stability.

[2018-08-23 21:50] runandrew commented on #1625
I figured out the problem. The first input into `CMS.registerPreviewTemplate` needs to match the file `name` property. So, for file collections, templates are registered by file, not by collection. Which I like the ability to target individual files within a collection.

I think the docs are misleading in this setup. It mentions that the first input should be:
[code]

For folder collections, this

[2018-08-23 21:50] #1625 closed

[2018-08-23 21:57] runandrew commented on #1197
@thekevinbrown I solved it and outlined it here: #1625.

Again, I think there could be an improvement on the docs for this. I could make a PR if what I am doing is correct.

[2018-08-23 21:58] #1600 closed

[2018-08-23 22:03] tech4him1 commented on #1197
@runandrew Thank you so much for checking into this! What you have outlined looks to be correct, and if you would be willing to create a PR, that would be awesome!

For a folder collection, we look for a template with the collection name:
https://github.com/netlify/netlify-cms/blob/f801b192211b1e1953ced969a3093eab9e04e14d/packages/netlify-cms-core/src/reducers/collections.js#L62

For a file collec

[2018-08-23 22:09] tech4him1 commented on #1134
I've detailed the existing backend methods in this Gist: https://gist.github.com/tech4him1/9972cf4465e88e7f4e8cc29e6019e8c6.

[2018-08-24 06:09] bpmottathai opened #1664 "Can I have netlify dashboard under my domIn"
Can I have netlify dashboard under my domIn, is the dashboard opensource

[2018-08-24 10:31] Paul-dH commented on #1456
I am a new user and already browsed all github issues reporting the same issue there. But nowhere is placed a solution for this issue..

I have setup Eleventy with Netlify and the CMS, all builds work as expected but I'm realy stuck at the 404 error...

I've also read the #1456 issue that gave this link for a solution [Gatsby + Netlify CMS Starter](https://github.com/netlify-templates/gatsby-start

[2018-08-24 10:55] Undistraction commented on #568
Is there currently any plan to support the editorial workflow on Gitlab in the near future?

[2018-08-24 11:00] joseph-allen commented on #1456
@Paul-dH did you try
[code]

[2018-08-24 13:42] Paul-dH commented on #1456
Hi @joseph-allen, I don't have a local dev environment. I run a repro on Bitbucket and thats connected to Netlify. I wanted to use Netlify as a CMS.

[2018-08-24 13:52] jonathanphz commented on #793
I tried to use @robertgonzales solution but get error `Objects are not valid as a React child ` :(

I'm using:
    "gatsby": "next",
    "gatsby-plugin-emotion": "^2.0.0-rc.0",
    "gatsby-plugin-netlify": "^2.0.0-rc.0",
    "gatsby-plugin-netlify-cms": "^3.0.0-beta.0",

[2018-08-24 14:37] anjackson opened #1665 "Docs site navigation broken on mobile"
The main navigation menu on the NetlifyCMS docs site appears to be broken on iOS Safari. Once I go to https://www.netlifycms.org/docs/intro I can’t navigate to the other pages.

[2018-08-24 14:47] jonathanphz opened #1666 "Using CMS.registerPreviewTemplate('blog', BlogPostPreview) error: `Objects are not valid as a React child`"
**Describe the bug**
I'm attempting to build a Gatsby Netlify CMS using https://github.com/netlify-templates/gatsby-starter-netlify-cms/ as a guideline.

My project is very similar in most ways. When I attempt to add a preview pane using the following structure:

[code]

I get the following error: `Objects are not valid as a React child`

My BlogPostPreview looks like this:
[code]

**To Reproduce*

[2018-08-24 15:01] runandrew commented on #1197
@tech4him1 Thanks for the info! Opened the PR here #1667.

[2018-08-24 17:31] tech4him1 commented on #1664
The `app.netlify.com` dashboard is not part of Netlify CMS. If you are interested in using it, you will need to use the contact form at https://www.netlify.com/support/.

[2018-08-24 17:31] #1664 closed

[2018-08-24 19:18] erquhart opened #1668 "Allow absolute paths in `public_folder`"
Migrated from #1257 for discussion.

[2018-08-24 19:45] erquhart commented on #1575
Can you explain further what the request is here?

[2018-08-24 20:16] erquhart commented on #1320
Metadata may have been damaged by earlier 2.x releases for folks that ran them (fixed now). Unfortunately we don't know enough about the bug when it existed to have a fix for it. If you can point to a repo I can take a look.

[2018-08-24 20:38] avigoldman commented on #1320
Glad to hear that it's fixed for the future!

I ended up pulling down all the open PR branches, deleting them in GitHub, repushing and recreating all the PRs, which seemed to fix the issue.

[2018-08-24 20:41] erquhart commented on #1320
Cool, glad you got it solved. In the future I expect us to drop the mysterious metadata stuff altogether and just track PR's explicitly.

[2018-08-24 21:10] ahoward commented on #1668
cool.  fwiw i am still blocked and would love to see this merged.  let me know if/when i can help.

[2018-08-24 21:32] erquhart opened #1669 "Improving metadata handling"
Below is a short proposal on how to make our metadata handling less error prone by using it less and making it more obvious. The purpose of this proposal is to get feedback from the community.

# Overview
Netlify CMS has a few kinds of metadata, and they're all called "metadata", unfortunately. This issue deals with the highest level of metadata, which is used to provide state for the editorial wo

[2018-08-24 21:37] erquhart commented on #1669
cc/ @Benaiah @tech4him1 @talves

[2018-08-24 21:39] #1139 closed

[2018-08-24 21:40] erquhart commented on #1574
Closed in #1395.

[2018-08-24 21:40] #1574 closed

[2018-08-24 21:42] erquhart commented on #1171
No, this is currently in proposal stage.

[2018-08-24 21:47] erquhart commented on #1587
There doesn't seem to be a Netlify CMS issue here - closing for now, but please comment if I'm missing something.

[2018-08-24 21:47] #1587 closed

[2018-08-24 21:49] erquhart commented on #1593
Potential solution discussed in #1669.

[2018-08-24 21:50] erquhart commented on #1592
Potential solution proposed in #1669.

[2018-08-24 21:52] erquhart commented on #1593
Agreed, the GitHub backend should account for this.

[2018-08-24 21:57] erquhart commented on #1489
#1100 was meant to address this, see there for prior art.

[2018-08-24 22:02] erquhart commented on #1576
This should be more or less addressed as a part of #445.

[2018-08-24 22:04] erquhart commented on #1609
Color and then name because it's alphabetical. This is essentially an object and key order should not matter or be relied upon. I don't see us supporting this but feel free to comment if you feel it merits further discussion.

[2018-08-24 22:04] #1609 closed

[2018-08-24 22:35] tech4him1 commented on #1665
@zebapy Mind checking into this?

`this.props.history` is not defined here:
https://github.com/netlify/netlify-cms/blob/f801b192211b1e1953ced969a3093eab9e04e14d/website/src/components/mobile-nav.js#L5

[2018-08-24 22:37] erquhart commented on #1617
Agreed, was discussing this exact thing with @tech4him1 a few weeks back. I created a proposal out of that discussion in #1669.

[2018-08-24 22:52] #1031 closed

[2018-08-24 23:01] erquhart commented on #490
@angeloashmore that'd be fantastic, we're very open to design contributions. Can you open an issue outlining a specific problem you'd like to tackle? We'll probably close this issue up soon, too broad and longstanding.

[2018-08-24 23:05] erquhart commented on #1114
@macs91 that shouldn't be the case, what version of the CMS are you using? It prints in the console on load.

[2018-08-24 23:06] erquhart commented on #1626
Shouldn't be a pop up, not sure why that's the case.

[2018-08-24 23:08] erquhart commented on #1544
Agreed, the current release notes setup is rough. Other monorepo projects seem to be handling it better, such as React and Slate. I'll take a look at GitPunch.

@mittalyashu LogChimp creates external release notes, this issue is about providing release notes within GitHub, which is where developers expect to see them.

[2018-08-24 23:17] erquhart commented on #1186
No, haven't discussed it since the last comment.

[2018-08-24 23:17] erquhart commented on #1038
Nice @cory-wc!

[2018-08-24 23:17] tech4him1 commented on #1626
@erquhart Great! It was part of the initial PR which you reviewed, so I figured you might have an idea :wink::smiley:. We should be able to rework the `netlify-cms-lib-util/src/localForage.js` file to remove that `alert`. @tonyrzhang Feel free to create a PR if you're up for that.

[2018-08-24 23:20] erquhart commented on #1632
I'd only add that the Kubernetes guide feels like _a lot_ - we should try to make ours feel less so.

[2018-08-25 00:47] richtera opened #1670 "Using a "relation" widget as "field" inside of a "list" widget causes problems."
**Describe the bug**
When using a relation widget inside of a list widget as a single field it causes problems. You can type one character but you can't delete it or find any related items. It also doesn't look right:

**To Reproduce**
Inside of one of the collections in your config.yml

This works:
[code]
This causes the problem:
[code]

**Expected behavior**
Using a list of relation items should

[2018-08-25 08:07] pungggi opened #1671 "No matching version found for netlify-cms-backend-github@^2.0.6"
**Describe the bug**
Cannot install netlify-cms anymore

**Screenshots**
![grafik](https://user-images.githubusercontent.com/5635709/44616328-4dbdcd00-a84e-11e8-95ee-4874d81e1490.png)

**Applicable Versions:**
 - Netlify CMS version: 2.0.10
 - Git provider:  BitBucket
 - OS: Windows 10

 - Node.JS version: 8.9.4
 - NPM version: 5.8.0

**Context**
"gatsby": "next",
 "gatsby-plugin-netlify-cms": "^3

[2018-08-25 08:17] pungggi commented on #1671
Version 2.0.6 is not published on npm..

https://www.npmjs.com/package/netlify-cms-backend-github?activeTab=versions

[2018-08-25 08:25] mittalyashu commented on #1575
Longer way _(using editor or explorer)_:

1. Open the editor or explorer
2. Move/Copy the file
3. Open the editor or terminal
4. Commit and push the changes to git
5. The website starts building
6. Changes are live

Shorter way _(using NetlifyCMS)_:

1. Open netlifycms
2. Click on the action _(move/copy)_ on the the post
3. Changes are live

[2018-08-25 08:35] mittalyashu commented on #1576
In the issue #445, it is related to slug, where as issue #1576 is related to update the slug _(url of the post)_ according to the title or editing it.

[2018-08-25 09:04] mittalyashu commented on #981
@erquhart I think we can expand this topic from just duplication the post to Move/Copy/Duplicate/Delete the post _(according to issue: #981 and #1575)_.

Regarding the design this can be implemented.

![image](https://user-images.githubusercontent.com/29014463/44616783-f16da400-a873-11e8-8eae-9446162bd645.png)

![image](https://user-images.githubusercontent.com/29014463/44616785-f6325800-a873-11e8

[2018-08-25 10:13] jcmnunes opened #1672 "TypeError when trying to insert an image in the markdown widget"
**Describe the bug**
TypeError when trying to insert an image in the markdown widget (see GIF below).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a collection inside the content manager that has a markdown widget in it
2. Click on the plus button and try to insert an image
4. See TypeError in the console

**Expected behavior**
We should be able to add images to the markdown widget

[2018-08-25 10:55] DavidRayner commented on #1671
Same problem for me. Currently the latest version of netlify-cms-backend-github is 2.0.5 and the latest version of netlify-cms-backend-gitlab is 2.0.4 - but netlify-cms 2.0.10 requires later versions

https://github.com/netlify/netlify-cms/blob/cad676dbf3e6e69ee432ce553ca8d34466fd476e/packages/netlify-cms/package.json#L2-L4

https://github.com/netlify/netlify-cms/blob/cad676dbf3e6e69ee432ce553ca8d

[2018-08-25 11:35] erquhart commented on #1671
Publishing seems to not have happened for some packages in yesterday's release. Checking.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-08-25 11:40] erquhart commented on #1671
Manually published `netlify-cms-backend-github@2.0.6` and `netlify-cms-backend-gitlab@2.0.5`. Lerna listed them as successfully published, really not sure what happened. Thanks for opening @pungggi.

[2018-08-25 11:40] #1671 closed

[2018-08-25 12:36] erquhart commented on #1575
Why do you need to move content files manually? I need a lot more information here :) Context? What are you trying to accomplish?

[2018-08-25 12:37] macs91 commented on #1114
@erquhart 1.9.3.. I was waiting for Gatsby JS v2 official release before updating Netlify CMS too.. meanwhile I've adopted another strategy to localize content in the CMS