[2017-12-22 22:30] #928 closed

[2017-12-22 22:32] erquhart commented on #552
@neutyp Dato takes the standard approach, light gray text under the field:

<img width="543" alt="screen shot 2017-12-22 at 5 31 19 pm" src="https://user-images.githubusercontent.com/2112202/34314045-01043bf6-e73e-11e7-8293-8cda091c55f9.png">

[2017-12-22 22:35] erquhart commented on #539
@neutyp no, not yet. Please feel free to open new issues.

[2017-12-22 22:41] erquhart commented on #445
We're actually looking to eliminate it's importance. Right now it's critical because it's used for automated slug creation, which the user can't see or influence. This issue calls for making slug creation interactive. We could pre-fill with whatever's in a title field, but if there's no field (or the slug is blank for any other reason), the entry would fail validation and could not be saved.

[2017-12-22 23:30] tech4him1 commented on #552
Any design considerations with having it above the field (right below the field name) vs below the field?

[2017-12-23 13:35] rriemann opened #964 "Feature Request: Custom Logo for login page"
Hello,

I would like to set a custom logo and a custom text to brand the login page of Netlify CMS.

Best,\
Robert

[2017-12-24 11:54] erquhart commented on #851
@drlogout provided a PR for this a while ago, getting it merged now. It does reuse the styling of the list expand/collapse functionality as expected.

@neutyp I do intend at some point to rename "object" to "group", agreed.

[2017-12-24 12:42] #851 closed

[2017-12-24 13:21] erquhart commented on #16
@tech4him1 agreed on that list. I'd like to see a template that covers more use cases, maybe just an expansion/modernization on Kaldi, implemented across each of these, with identical output.

@verythorough just now circling back on the docs section naming - the mutual exclusivity between "Start with a Template" and "Add to Your Site" may not be all that apparent. It kind of looks like the former

[2017-12-24 13:30] erquhart commented on #909
Agreed on both the toolbar and syntax highlighting.

[2017-12-24 13:34] erquhart commented on #936
@LaneLourcey thanks for pointing this out - we're discussing potential solutions in #919 as Caleb mentioned, but we don't have anything working just yet. Soon!

[2017-12-24 14:11] alteducation commented on #963
Thanks for creating a discussion around this topic.  I would like to share my inputs based on my use case of netlify cms

1. When working with Large Lists, the page load times and site responsiveness can be improved by having lists collapsed by default.  I'm sure some people would like the list to be open by default, I think having a site configuration to toggle this would be the best way to go.

[2017-12-24 15:18] tech4him1 commented on #851
@erquhart @neutyp What about renaming it to `group`, but leaving `object` as a depreciated option?

[2017-12-24 15:20] tech4him1 commented on #963
@alteducation List items will be collaped by default in the next release, the fix was merged in #912.

[2017-12-24 15:59] erquhart commented on #941
@futuregerald if I'm understanding your last comment correctly, this is a gotrue bug. If so, we should link the gotrue issue here when/if it's opened.

Even with this issue fixed, the save button should not have been disabled, and the saved changes indicator should have continued showing "Unsaved changes".  It sounds like we're not handling the error within state if a save fails - that plus the go

[2017-12-24 16:07] erquhart commented on #907
Yeah those were the two I saw, and they're both so closely related, I'm betting it's all the same underlying issue.

[2017-12-24 16:40] erquhart commented on #946
Would love to see this picked up by someone. We'll need to create thumbnail with canvas, and I don't believe there's a *maintained* library that handles that well, except maybe [Origami.js](http://origamijs.com/). Should be simple enough to just use Canvas directly and avoid the dependency.

[2017-12-24 16:50] erquhart commented on #325
@fk apologies for the delay - that would be awesome. The problem and solution can really approached quite abstractly: for myriad reasons, folks sometimes want to set their media folder via relative path. I can't think of other specific use cases off the top of my head.

[2017-12-24 16:51] neutyp commented on #963
@alteducation A number of problems abound with that suggested experience. The first is that the new entry can be generated while looking at any position in the list, as the 'function bar' which houses the 'new' button, is supposed to sticky with browser scroll. Thus, you could be looking at the middle, top, or bottom, of the list when you generate the new entry. The second is that populating the n

[2017-12-24 16:52] neutyp commented on #964
Good idea; I also think there's room for allowing a small logo to show when in the CMS interface itself. These will need to be addressed separately.

[2017-12-24 16:54] neutyp commented on #963
Note to self: explore idea of numbered list items and better collapsed state with more info. Also mockup modal creation flow idea

[2017-12-24 16:59] neutyp commented on #962
Sharing some designs from the last state they were in; these don't fully address everything they should and are a bit rough around the edges; but wanted to share to kickoff discussion here.

![grid view copy 2x](https://user-images.githubusercontent.com/1312538/34328024-b0e95e7a-e888-11e7-9f9a-1be1de1fd575.png)
![media library copy 2x](https://user-images.githubusercontent.com/1312538/34328025-b10

[2017-12-24 17:01] neutyp commented on #962
issues;

1. why is the list view wider than the hero card
2. why does the list view have a dark header when nothing else does
3. modal view still needs "select" action
4. actions (delete, rename? etc?) need to be visualized for page version of grid and list view

[2017-12-24 17:02] alteducation commented on #963
As you suggested a properly done modal would be  a good fit to this solution.  It would show up irrespective of the view position.
Another suggestion is an option to display the list in ascending or descending manner and populate the new entries based on that.

[2017-12-24 17:05] neutyp commented on #963
I think we'd still have issues as the 'new' button is floating in the stuck 'function bar', which could be scrolled near the top or bottom of the list, and thus would still need to force-scroll the user to the position where the new entry was made.

[2017-12-24 17:15] neutyp commented on #942
@tech4him1 I have a weakness in that I usually think of things from the UX perspective first, and may not always understand the technical constraints in how the CMS works with Git. So, basically, it seems that yes, this may be the same underlying functionality of the editorial workflow, but presented with a simpler UI, and enabled by default.

[2017-12-24 22:05] tech4him1 commented on #942
@neutyp I'm trying to work from the opposite direction to the UX side here, I think :), and I really appreciate all the different viewpoints we are getting, sorry to draw this discussion out so much.

If I'm understanding it correctly, UI-wise, the editorial workflow would just provide an organizational workspace ("Draft" vs "In Progress" vs "Ready") which could later be expanded on, whereas this

[2017-12-24 22:07] neutyp commented on #942
@tech4him1 Exactly right. The desire of a simple "draft" is just the ability to save your work without publishing. I view the 'editorial workflow' as a larger thing that may in the future have greater functionality like the ability to assign review to a specific user, etc etc other neat things

[2017-12-24 23:19] pungggi opened #965 "Gitter channel"
Hello this is an improvement to start working with netlify cms>

The Website https://www.netlifycms.org/community should also mention that there is a gitter channel out there.. https://gitter.im/netlify/NetlifyCMS

[2017-12-24 23:31] pungggi commented on #919
Yes, what really matters is  discoverability..
First, what for me would feel 'natural' is doing a search like this> https://yarnpkg.com/en/packages?q=netlify%20widget&p=1

So suggesting a default name convention to widget developers would help. like It should start by ...

Second, A linking section would also help for non-default named widgets..

sorry if my english is not that good I am not a nat

[2017-12-25 00:05] tech4him1 commented on #965
@pungggi Feel free to submit a PR! The `community` page templates are here:

[/website/site/layouts/pages/community.html](https://github.com/netlify/netlify-cms/blob/master/website/site/layouts/pages/community.html)
[/website/site/content/pages/community.md](https://github.com/netlify/netlify-cms/blob/master/website/site/content/pages/community.md)

[2017-12-25 15:30] tech4him1 opened #966 "Re-implement React Hot Loader"
React Hot Loader (and HMR in general) was removed in v1.0 since it was not working correctly. There were also some bugs with our transpiler that should both be fixed in RHL v4 (https://github.com/netlify/netlify-cms/pull/765#issuecomment-346502229). We should try to re-add this once it gets stable and working.

[2017-12-25 21:18] tech4him1 commented on #325
Hugo is going to be supporting image processing *very* soon, and if I understand correctly, it will only work with relatively placed images.

[2017-12-25 21:32] tech4him1 commented on #325
@erquhart I don't quite understand how the media library will handle relatively placed media. Will it just walk through all the directories to find files that match the `media_folder` string (via regex?)?

Also, what do we do if an image is added to one entry, and then it is added to a different post via the media library? Do we just add the path relatively to the old location, or would we copy th

[2017-12-25 21:49] thisisspeedy opened #967 "netlify bitbucket and hugo admin not working."
**- Do you want to request a *feature* or report a *bug*?**

**- What is the current behavior?**

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**

**- Please mention your CMS, node.js, and operating system version.**

Windows 10. Node 9.30, Hugo 0.31.1, Netlify CMS,
Trying to set up admin path authentication via bitbucket per vid

[2017-12-25 21:57] tech4him1 commented on #967
Thanks for checking out Netlify CMS! The CMS does not support BitBucket as a backend yet, it's a work in progress: https://github.com/netlify/netlify-cms/pull/525.

[2017-12-25 21:57] #967 closed

[2017-12-27 13:49] futuregerald commented on #941
@erquhart yea, Mat said that that is a gotrue bug with the token refresh not working. So fool's request still stands which is just that if the token is expired, the CMS should handle that failure state properly. Right now it errors out and you lose anything that you were typing. One thing that we can do when you use identity is to first try to refresh the token using the built in method:

`netlify

[2017-12-27 14:54] sw-yx commented on #924
hello sorry i havent been watching this issue closely since i went to another cms solution. it seems like you know what is going on here so i'm glad to have pointed it out for fixing based on your priorities. ultimately this is not a high priority for me so feel free to close the issue. i was just excited about the JAMstack and wanted to try this out.

[2017-12-27 16:37] josevh opened #969 "CMS crashes on rich text formatting option selection"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
Editor crashes. Message:

**- If the current behavior is a bug, please provide the steps to reproduce.**
1. In `/admin`, click button for new post
2. Before typing anything in markdown widget, click **H1** twice
    - Also crashes with: **H2**, and the **quote** icon with same steps.

**- What is t

[2017-12-27 21:06] zionis137 commented on #793
I had the same problem with CSS-Modules on GatsbyJS, I hope this helps:

according to the [documentation](https://www.npmjs.com/package/style-loader#insertinto) style-loader is able to inject the inline-CSS into an iframe.

But in the end I was unable to set up this functionality with netlify-cms and used the [Extract-Text-Plugin](https://www.npmjs.com/package/extract-text-webpack-plugin)
This ext

[2017-12-27 21:19] zionis137 opened #970 "[Question] Get all data in custom-preview"
I am using the [gatsby-starter-netlify-cms](https://github.com/AustinGreen/gatsby-starter-netlify-cms/tree/master) template and the datatype-conversion is quite hard.

For example [here](https://github.com/AustinGreen/gatsby-starter-netlify-cms/blob/master/cms/cms.js#L33)
[code]

This does not scale very well... I just want to pass all values to the next react component.

### Question:
Is there a

[2017-12-27 21:36] criticalmash commented on #818
Hi @erquhart thanks for looking into this. I setup a publicly accessable test case here: https://happy-hugle-12b322.netlify.com/admin/

And here's the repository: https://github.com/criticalmash/asm-pager-test

I used the password `netlifytests` under Password / JWT secret in the access control pane, and setup a git-gateway token under Identity without any roles.

The CMS config file is: https://g

[2017-12-27 22:36] z3ugma commented on #2
I'm a fan of this option:

I'd like a workflow where specific users' accounts can be limited to editing certain collections, or only entries they created, or limiting what statuses they can set entries to.

[2017-12-27 22:44] jesprer opened #971 "Git Gateway + private repo"
Hi,

Is it possible to use the Git Gateway with Netlify Identity to push changes to a private repo with the CMS?

[2017-12-28 16:36] truckyforme commented on #877
Same issue here. I'm deploying a multilingual host with HUGO which requires a complex extension. It'd be great to allow this.

[2017-12-28 21:07] kornichon2000 commented on #877
Yes, Hugo multilingual requires complex extensions, and it would be great if Netlify CMS could be fixed to support them.

For example, currently example.fr.md is changed to example-fr.md - Hugo requires that the extension remains .fr.md

[2017-12-29 04:50] prateepgedupudi commented on #969
Same for me. I am getting the same error when I click on markdown widget editor.

[2017-12-29 06:51] pungggi opened #972 "Not working on IE 11"
**- Do you want to request a *feature* or report a *bug*?**
bug
**- What is the current behavior?**
Not working on IE 11
**- What is the expected behavior?**
IE 11 still has ove 3% in market share. would be nice to have it on board.
**- Please mention your CMS, node.js, and operating system version.**
1.0.3

[2017-12-29 12:51] indysigner commented on #372
I think we have to options here:

**Option a)** speaking freely of any technical constraints, and just focussing what would be ideal is this:

![preview-button](https://user-images.githubusercontent.com/4224281/34437380-f1ab2894-ec9d-11e7-87bb-dcac6e1ed3d7.PNG)

A Preview button next to the _Save_ button at the top of the editor. The button would trigger a _deploy preview_ of just this _one single

[2017-12-29 14:47] tech4him1 commented on #972
@pungggi Our reasoning for not trying to support IE11 can be found here: https://github.com/netlify/netlify-cms/issues/695#issuecomment-336918050. We didn't feel it was worth adding a large amount of special polyfills and other code in order just to support IE11, since it's  market share seems to be decreasing. It would have required reworking some major parts of the CMS that work in other main br

[2017-12-29 14:47] #972 closed

[2017-12-29 14:55] tech4him1 commented on #971
Yes, it is. Are you having problems getting it working?

[2017-12-29 15:33] tech4him1 commented on #924
@pungggi Agreed. So once the build is done, it works, right?

Thanks @sw-yx

[2017-12-29 15:41] tech4him1 commented on #969
I believe this was fixed in https://github.com/netlify/netlify-cms/pull/955, which will be in the next release. Can you try reproducing on the [CMS Demo site](https://cms-demo.netlify.com/), since it already has the fix merged?

[2017-12-29 16:47] josevh commented on #969
@tech4him1 You're right it is fixed, I cannot reproduce the issue on the demo site. I'll close this.

[2017-12-29 16:47] #969 closed

[2017-12-29 17:02] tech4him1 commented on #895
@erquhart I believe the `null` crashing part was fixed in https://github.com/netlify/netlify-cms/pull/955.

[2017-12-29 17:30] tech4him1 commented on #966
https://github.com/gaearon/react-hot-loader/issues/703 explains the basic changes made to allow v4 work better.

[2017-12-29 17:46] jesprer commented on #971
Yes, it doesn't work for me unfortunately.

If I [duplicate and deploy the gatsby-starter-netlify-cms repo](https://github.com/jesprer/gatsby-starter-netlify-cms) and change the repository to private, all files disappear from the CMS. I can still sign in, but no files are visible. It works fine as long as the repo is public.

Would appreciate any help or tips. Thanks!

[2017-12-29 17:49] tech4him1 commented on #971
After you change the repo to private, go into your Git Gateway settings in Netlify, and try re-issuing the token.

[2017-12-29 18:45] pungggi commented on #924
@tech4him1 yes, if the image is uploaded the first time you insert in, in an entry..

[2017-12-29 19:21] jesprer commented on #971
That did the trick, thanks a lot!

[2017-12-30 00:01] ilyabo commented on #325
I found another workaround. Maybe it will be useful for somebody else. The path added to the markdown files by Netlify CMS can be adjusted and set (as Gatsby requires) to the relative path from the particular node (markdown file) the image is used in.  Adding the following code to `gatsby-node.js` did the trick for me:
[code]

This assumes that `config.yml` has the media file paths set as follows:

[2017-12-30 08:40] KyleAMathews commented on #325
You shouldn't mutate node data. The data should be treated as immutable (I'm actually surprised that worked as I thought we were already passing a copy of data to APIs to prevent exactly this sort of thing. Instead use https://www.gatsbyjs.org/docs/bound-action-creators/#createNodeField

[2017-12-30 09:26] ilyabo commented on #325
Ok, makes sense. I actually tried to use the spread operator to avoid mutation, but somehow it didn't work. Will try with createNodeField

[2017-12-30 10:27] zionis137 commented on #325
how would the graphQL query look like with `createNodeField`?

This works:
[code]

But nicer would be:
[code]
which fails with: `GraphQL Error Field "image" must not have a selection since type "String" has no subfields.`

[2017-12-30 10:38] KyleAMathews commented on #325
If you want to link to a file node, you need to add `___NODE` to the end of the field name so `image___NODE`

[2017-12-30 21:07] erquhart commented on #950
Confirmed. @brycekahle any chance Git Gateway is decoding the branch name? If you could check the branch name being referenced in the call from Git Gateway to GitHub, I'm betting we'll see an unexpected transformation.

[2017-12-30 21:29] erquhart commented on #961
@mirkea agreed, a table interface would be smart. It would essentially be a list widget with different styling, but the nested widgets would also need updated styling - perhaps it shouldn't use actual nested widgets and just provide a few specific field types, e.g. text, number, select, all of which would be styled inputs within the widget itself.

If you'd be up for trying a PR, I'm happy to answ

[2017-12-30 21:40] aaronaustin commented on #325
I'm trying to get gatsby-image working with netlify cms and I gave this a try.  I used @ilyabo's code above and modified it with the createNodeField.  I tried to access it in my query with `imageLocalFile___NODE` but I got this error: `GraphQL Error Unknown field `imageLocalFile___NODE` on type `fields``

[2017-12-30 21:42] erquhart commented on #935
Nothing built in for now, it'd be an interesting feature to discuss. You could always export your data from those sources (likely to CSV), convert the CSV to JSON or YAML, and feed that to Netlify CMS. If you do get things set up, it'd be really cool to see a blog post walkthrough to help others on the same path.

Importing external data is a feature consideration, as I mentioned. Let's discuss th

[2017-12-30 21:44] erquhart commented on #263
Right, Netlify CMS has no way to handle this itself. The OP example would use a Lambda function running a cron job, just as the linked article describes.

[2017-12-30 21:54] erquhart commented on #716
So it sounds like we need product level contributions at this point. So far we have:

- clone functionality for existing entries that need to be copied and translated
- some way of seeing which articles have/have not been translated into a given language
- ability to configure file names based on language

Anything missing? UX considerations? How do we make this unobtrusive?

[2017-12-30 22:47] erquhart commented on #637
Honestly, I think a long entry for the markdown widget is fine - it's a very complicated widget, night and day from the others in that regard, and there may be more like it in the future. Perhaps it will eventually be split out of the core and get a dedicated repo in the future, but a long entry is okay for now.

+1 for visuals and a helpful markdown learning link in the user docs.

[2017-12-30 22:54] erquhart commented on #953
I'm not quite sure how to repro this - copying and pasting from the markdown widget retains whitespace. When you say "copy-pasting it out of there", can you provide exact steps?

[2017-12-30 23:24] erquhart commented on #959
Thanks for reporting this @agush22. We definitely want to support LTS browsers, but we currently don't. There are almost certainly other issues beyond this one (just try doing anything in the live [demo site](https://cms-demo.netlify.com) in ESR). It may be as simple as transpiling more things, not certain. If you're up for digging in to the general FF ESR story a bit, we'll definitely support the

[2017-12-31 02:24] tech4him1 commented on #959
@erquhart I'll look into polyfills, but we are already transpiling for it right now (since https://github.com/netlify/netlify-cms/pull/765 hasn't been merged yet).

[2018-01-01 20:42] erquhart commented on #843
@thomasheimstad folks are working toward a proper solution to the Gatsby/Netlify CMS image issue in #325, have a look there.

[2018-01-01 20:43] erquhart commented on #918
No problem!

[2018-01-01 21:13] erquhart commented on #963
I think @neutyp's original suggestion from #928 is best - the combination of making the list toolbar sticky and scrolling to the bottom when a new item is added should be a natural experience for the user. We should avoid modals in general.

[2018-01-01 21:19] erquhart commented on #552
That'd be tough for us considering that we're using dog ear style labels:

<img width="783" alt="screen shot 2018-01-01 at 4 16 08 pm" src="https://user-images.githubusercontent.com/2112202/34471165-84c595d8-ef0f-11e7-8114-17b89a9537c5.png">

[2018-01-01 21:25] tech4him1 commented on #552
Ah, yes, our type of labels would make that hard, so I think below would work just as well. Personally, I always like to have help text next to the label, because I see them as accomplishing the same purpose. They both explain to the user what to "put in the box".

[2018-01-02 04:09] akadop commented on #325
Running into the same issue.

Temporary workaround:

Have a field called ImageSourceCorrected, using the string widget.
Just have whoever is using the CMS copy the address that gets shown under the image, but take out the `/` in the front.

[2018-01-02 10:56] whmountains commented on #793
Nice trick @zionis137.

I'm still hoping for some more official support, but this is a nice workaround!

[2018-01-02 10:59] whmountains commented on #793
@erquhart Your proposal for finding CSS by selector sounds reasonable.

Another possibility would be to allow loading the preview iframe via a URL rather than trying to inject a react tree inside.  It would be a fairly trivial change and IMO completely solve the problem.

[2018-01-02 12:46] ChrisChinchilla commented on #513
Hey all, I was wondering if this also included images stored in sub-folders of your `media_folder`?

[2018-01-02 17:40] brycekahle commented on #950
From the logs, it appears the request to the git gateway is not receiving the escaped branch name, so it is something upstream.

[2018-01-02 18:22] erquhart commented on #851
@tech4him1 agreed.

[2018-01-02 18:26] erquhart commented on #964
Since each backend provides its own login page, this won't be a core responsibility for the CMS, but we can establish the practice of checking for a logo image path in the config. Agreed on this coinciding with branding the general UI.

[2018-01-02 18:34] erquhart commented on #962
There are a lot of similarities between what we need in an entry list view and a media list view - wondering if we can get away from the table styled list here and converge to a single, more robust list view for use everywhere.

[2018-01-02 18:43] erquhart commented on #942
Best prior art here: https://github.com/netlify/netlify-cms/issues/464#issuecomment-348311188

@tech4him1 yes, this boils down to always using editorial workflow behind the scenes. The current "simple" workflow would be replaced with a single state editorial workflow (just draft).

Dropping the kanban board view for this new simple workflow makes sense, but it raises the same issues as dropping th

[2018-01-02 18:53] erquhart commented on #919
Thanks @pungggi - your English is great, no problems there :)

I agree with establishing a naming convention, probably `netlify-cms-widget`. And building the kind of discovery that Gatsby is building right into the website would be awesome!

[2018-01-02 21:07] tech4him1 commented on #325
@akadop If it helps at all, the address that gets shown under the image is the `media_folder` that is set in your config, plus the image filename. As long as you don't set a `public_folder`, the image field that is saved in any entry created should be that address.

[2018-01-02 21:51] erquhart commented on #970
You currently have this:

[code]

Since you're only reading data, I'd just convert the whole thing to an object and handle empty/missing values in the template itself:

[code]

Closing this since it's not a CMS issue, but reach out on [Gitter](https://gitter.im/netlify/netlifycms) if you have other questions.

[2018-01-02 21:51] #970 closed

[2018-01-02 21:57] erquhart commented on #818
Thanks for the repro case - the response is the HTML for the password protection page. Looks like Netlify's Git Gateway is being blocked when there's a password.

@brycekahle thoughts on this?

[2018-01-02 22:03] brycekahle commented on #818
Lets loop in @biilmann since he wrote git gateway.

[2018-01-02 22:11] erquhart commented on #877
We'll take a PR for this if anyone is up for digging in.

[2018-01-02 22:26] erquhart commented on #372
The idea is to lean on the Git provider, e.g. GitHub, for providing links to deploys. The CMS wouldn't have any control over what deployments have occurred or triggering them, it would just receive links from GitHub, which can then be used in the UI.

I like the idea of simplifying things and only allowing a preview link to be configured rather than trying to handle an arbitrary panel of various c

[2018-01-02 22:37] erquhart commented on #895
Ah, I see what you mean. Yeah that's a general problem, not sure why things are being set to null. I would assume it's somewhere in our Redux implementation.

[2018-01-02 22:39] erquhart opened #977 "Fields default to null value"
**- Do you want to request a *feature* or report a *bug*?**

enhancement

**- What is the current behavior?**

Fields default to a null value, which just causes weird things to happen sometimes.

**- If the current behavior is a bug, please provide the steps to reproduce.**

See #895 for one manifestation of this bug. Note: that issue involves default values of widgets inside of Markdown editor sh

[2018-01-03 00:16] tech4him1 opened #978 "Cannot explicitly set format on a single file."
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
If I am using a file-type collection:
``
- label: "Pages"
  name: "pages"
  files:
    - label: "About Page"
      name: "about"
      file: "site/content/about.yml"
      fields:
        - {label: Title, name: title, widget: string}
        - {label: Intro, name: intro, widget: markdown}
[code]

[2018-01-03 00:58] tech4him1 opened #980 "Support custom delimiters for frontmatter."
**- Do you want to request a *feature* or report a *bug*?**
feature

**- What is the current behavior?**
After https://github.com/netlify/netlify-cms/issues/563, we now support frontmatter in multiple formats, but we only allow it to be parsed using the default delimiters.

**- What is the expected behavior?**
It would be nice to allow the user to specify their own delimiters for parsing frontmatt

[2018-01-03 01:05] tech4him1 commented on #569
@erquhart Can you still reproduce this, or is it worth closing (and seeing if we get other reports)?

[2018-01-03 02:44] tech4him1 commented on #959
@erquhart Adding the Babel polyfills didn't seem to fix the error (only delay it a small amount some times, by the error not throwing until you actually typed a character in the editor).

I've pasted the full stacktrace for you below, since it seems to be in the editor code:

[code]

[2018-01-03 08:31] mirkea commented on #961
@erquhart you lost me at PR. :)
What is that? Private release?

[2018-01-03 14:43] rriemann commented on #964
The custom text would be the title of our website/organisation. If a div with a dedicated class is used, people can define their own CSS to change the look. if no cusom text as title is set in the config.yml, the div could be omitted.

However, I agree that text could potentially also be added as part of the logo. Especially if svg logos can be used.

[2018-01-03 16:10] erquhart commented on #552
That's a great point. @neutyp?

[2018-01-03 16:17] erquhart commented on #513
I answered this in Gitter, but for posterity, assets need to be stored directly within the media folder. We do intend to allow multiple asset collections in the future.

[2018-01-03 16:18] erquhart commented on #950
@brycekahle looks like new info came up since your last comment, can you update?

[2018-01-03 17:01] brycekahle commented on #950
I filed a ticket on the appropriate internal service. I don't know when it will get addressed, so in the meantime it would be best to avoid `#` in branch names. All other symbols should work.

[2018-01-03 17:25] mtully opened #981 "Duplicate an existing entry"
**Feature request**

User story: When I am an editor creating new content in the CMS, I want to be able to duplicate an existing document, So I can reduce the number of redundant fields to fill out when creating new documents with similar information.

[2018-01-03 18:05] t1merickson opened #982 "CMS design needs design documentation for OSS contribution"
Problem:

Design of Netlify CMS is sporadic or maintained by just a few specific individuals. Design work suggested beyond those specific individuals does not have the benefit of understanding the underlying design system, style, and goals.

Goal:

Create a design system, component library, open source Sketch files, goal documents, mockups, and other tools to encourage designers in the OSS communi

[2018-01-03 21:08] #907 closed

[2018-01-03 21:14] erquhart commented on #980
Note: could also accept an array of opening/closing delims, as gray-matter does: `['~~~', '~~~']`. No, I cannot think of a use case for this lol. But I'm sure someone can.

[2018-01-03 21:19] erquhart commented on #569
I'm okay with closing until we have a solid repro case.

[2018-01-03 21:20] erquhart commented on #959
@tech4him1 alright, thanks for checking.

[2018-01-03 21:25] erquhart commented on #964
I'm okay with using text if no image is provided, that makes sense. Just needs some design direction.

[2018-01-03 21:27] erquhart commented on #981
You are the umpteenth person to mention this - let's discuss.

[2018-01-03 21:30] #569 closed

[2018-01-03 22:10] erquhart commented on #52
We should re-open this discussion based on the current CMS interface.

cc/ @neutyp @ziburski

[2018-01-03 22:19] erquhart commented on #53
Proposing we roll this into #52.

[2018-01-03 22:21] erquhart commented on #68
I would add that we should be using the Trees API instead of Contents API for retrieving directories of files (undocumented ~100k limit vs 1k limit).

[2018-01-03 22:30] erquhart commented on #412
Hmm I'd even say this is a bug - we should be checking the base branch for editorial workflow entries.

[2018-01-03 22:48] tech4him1 commented on #535
For a user to create a "Single" in the config, how would we want that to look? Should it look just like a regular file-type collection, except without having to be nested under a top-level `files` collection?

[2018-01-03 22:53] erquhart commented on #277
There's also precedent for a sort of progressive enhancement, where a basic feature is added, but is limited to whatever a Git provider's API can do (as described by @rbq), and a more ideal alternate approach is also provided through an integration. The example of this is image handling, which can be done through the GitHub backend, but can be done much better through a custom integration that use

[2018-01-03 22:56] erquhart commented on #535
I really think that's the most straightforward way to handle it.

[2018-01-04 05:54] neutyp commented on #552
Yeah, I'm not sure, here. Putting below is certainly good and fine if we can ensure the field/input/widget is only one line tall, which will certainly not always be true. If it's taller than one line, it feels visually too separated from the context.

At this point the best course of action would be to mock up some experiments of it located in different locations with differently sized fields/inpu

[2018-01-04 08:51] kornichon2000 commented on #877
Hi, I'm afraid my JS skills are fairly limited. However I see two solutions:
a) I think the best solution is to leave the . alone. It's the safest solution as unfortunately it's impossible to determine reliably what is a . for a complex extension or just a . in the middle of the filename.
b) in the function posted by tech4him1, use indexOf instead of lastIndexOf to split the file name into name -

[2018-01-04 16:10] erquhart commented on #552
Great point on widget height, is say it can't go underneath considering that.

[2018-01-04 18:29] ivanreese commented on #877
Is dots in the filename something that people actually do? I'm not sure that that's a common enough practice to be something worth supporting.

[2018-01-04 18:44] tech4him1 commented on #977
This could also be fixed along with https://github.com/netlify/netlify-cms/issues/725.

[2018-01-04 19:33] tech4him1 opened #983 "SVGs do not appear properly in Microsoft Edge"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
SVGs run off the edge of the media library view in Microsoft Edge. They seem to appear properly in FireFox and Chrome.
Broken:
![capture](https://user-images.githubusercontent.com/20345941/34580638-ea53612c-f14a-11e7-8b84-f835c5765894.JPG)
Correct:
![capture2](https://user-images.githubusercontent.

[2018-01-05 07:47] taussoe opened #985 "List reordering bug"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
When reordering a list the content of a markdown widget gets moved to another list items markdown widget

**- If the current behavior is a bug, please provide the steps to reproduce.**
Create two list items with a markdown widget inside. Drag the bottom list item above another.

**- Please mention

[2018-01-05 17:27] taussoe commented on #985
Same thing happens on deleting a list item. The content from the markdown widget overwrites the content of another markdown widget in the same list.

![netlifycmsbug](https://user-images.githubusercontent.com/16461784/34620389-9948408a-f245-11e7-9fc6-68d7083ec3fc.jpg)

[2018-01-05 17:36] LaneLourcey commented on #935
@erquhart I'm a few months away from the project I'll be working on that I was interested in this for, but if I go that route and actually figure out a good way to fetch some external data I'll certainly make a repo and write a post about it!

I think one thing that makes this feature relatively complex is the huge variety of sources to import from, the types of data each source delivers, and stru

[2018-01-05 18:43] truckyforme commented on #877
I'm not an expert and can be easily wrong in my view.
Probably few people, if any, use dots in filenames. However, that shouldn't be a concern. What Kornichon2000 proposes in his first option is a simple solution to the issue of complex extensions and the potential confusion to users who decide to use dots in their filenames.

[2018-01-05 18:54] tech4him1 commented on #877
I think a simple fix would be to simple check if the file ends with the extensions specified:
[code]

[2018-01-05 19:05] tech4him1 commented on #877
@kornichon2000 I agree that your last solution is probably not the best option -- we don't really want to introduce regressions here. How do you see implementing your option `a`?

[2018-01-05 20:28] kornichon2000 commented on #877
@tech4him1 Somewhere in the code there is a function that parses the name string to replace invalid url characters with dashes. However the dot . is a valid url character. I think the solution is to modify the parsing routine so it leaves dots unchanged in the filename. I can't think of a negative side effect.

[2018-01-05 21:33] tech4him1 opened #990 "Pull media library images through API"
Currently, we use GitHub's `raw.githubusercontent.com` URLs, instead of pulling the media through the API. This doesn't really allow caching, and won't work with other new backends, like GitLab, since they don't necessarily have a download URL that will work for private repos.

[2018-01-05 22:29] erquhart commented on #901
Had to revert fix, still an issue.

[2018-01-05 22:35] erquhart commented on #985
Thanks for posting this @taussoe - definitely needs a fix. We have the same bug covered in #754, so check there for updates or if you're interested in taking a swing.

[2018-01-05 22:35] #985 closed

[2018-01-05 22:38] erquhart commented on #935
Agreed, a one-size-fits-all solution is unlikely, but examples definitely help, even if they're not the exact solution needed.

Going to leave this open for now in case others have thoughts from a feature standpoint.

[2018-01-05 22:47] erquhart commented on #877
@kornichon2000 there were issues with static site generators or deployments or something that made us rule out periods. Plus slugs traditionally have periods stripped.

@tech4him1 `endsWith` is exactly what I was thinking, agreed.

[2018-01-06 06:46] bostonaholic commented on #317
Somewhat related, since upgrading to v4, I have noticed that my `title.md` files aren't being picked up, only `title.html.md` files are.

[2018-01-06 15:22] tech4him1 commented on #317
@bostonaholic Can you reach out on our [Gitter channel](https://gitter.im/netlify/NetlifyCMS)?

[2018-01-06 23:54] anarchivist commented on #450
Slugs in frontmatter is also common for Jekyll; see https://jekyllrb.com/docs/permalinks/#template-variables for more details.

[2018-01-07 20:34] jholmes033169 commented on #2
The netlify identity/git-gateway already supports roles which allow.deny access to the entire admin. It seems like we could cover a lot of use cases by just adding a "role filter" property to collection configs, which would hide/show the collection based on the user's role.

I realize that this would not cover non-git-gateway configs, but this would be a low-hanging fruit option that covers a bunc

[2018-01-08 11:16] dmgawel opened #991 "Formatting preservation when pasting content to rich editor"
**- Do you want to request a *feature* or report a *bug*?**

It depends on the point of view :P But it's regression so I'd say: bug.

**- What is the current behavior?**

Since version 0.7 of CMS pasting formatted text from Dropbox Paper / Google Docs / Word / etc. to rich text editor ends up with clear, non-formatted text.

**- If the current behavior is a bug, please provide the steps to reprodu

[2018-01-08 16:32] tech4him1 commented on #57
We should add a note to the docs that self-hosted GitLab instances are (should be, I haven't tested it yet) supported by setting an `api_root` in your backend config:
[code]

cc/ @timwood

[2018-01-08 16:54] Quicksaver opened #993 "Need to reload page after uploading image to show the thumbnail"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
When working on a private repo, new image uploads don't show the thumbnail until you reload the page, leading the user sometimes to think the upload failed because they see a broken thumbnail icon. Apparently the src url of new images don't have the `token` query parameter that is applied when the

[2018-01-08 17:47] tech4him1 commented on #993
This is related to https://github.com/netlify/netlify-cms/issues/990.

[2018-01-08 18:50] TristianK3604 opened #995 "Delete front matter values completely if field left empty in CMS"
**- Do you want to request a *feature* or report a *bug*?**
Request a feature

**- What is the current behavior?**
When emptying a field in the CMS, then re-publishing, it leaves the `example:` there

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**
Delete it completely

**- Please mention your CMS, node.js, and operating system v

[2018-01-08 21:01] neutyp commented on #902
Is this intended to be an evergreen issue for folks to list contributors needing to be added to the list, or can we close?

[2018-01-08 21:58] tech4him1 commented on #877
@erquhart Looking at the `fileExtension` code:
https://github.com/netlify/netlify-cms/blob/834c5f4942ee9f694a900a834c6f672d31761922/src/lib/pathHelper.js#L66-L80
Do you think any of that "special" logic needs re-created, or do you think just checking `endsWith` is safe? I don't want to cause regressions, but most of this code seems irrelevant since we're already filtering out folders.

[2018-01-09 00:19] nicholasjhs commented on #383
@HaoZeke were you able to fix the "API_ERROR: Reference does not exist"? I think I'm having the same error. Thanks

[2018-01-09 00:30] tech4him1 commented on #383
@nicholasjhs Can you reach out on our [Gitter channel](https://gitter.im/netlify/NetlifyCMS), with a link to your config?

[2018-01-09 06:50] agush22 commented on #959
Thanks for the reply! Yeah LTS browser support would be good, but I understand it's not a priority.
At the moment I'm just sticking with Chrome instead

[2018-01-09 11:51] Quicksaver opened #997 "Wrong proptype warning in console"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
This appears in the console:

**- If the current behavior is a bug, please provide the steps to reproduce.**
Load any page.

**- What is the expected behavior?**
No console warnings.

**- Please mention your CMS, node.js, and operating system version.**

Latest master, not sure which commit introdu

[2018-01-09 14:49] fool commented on #953
I promise you that it didn't preserve whitespace when I needed it - when I couldn't save several huge documents due to https://github.com/netlify/netlify-cms/issues/941 .  Nor did it work when I filed the bug - I literally copied from the codeblock in my report, into the editor in markdown mode (worked), then copied out of the editor, exited the editor, re-entered the editor, pasted, and the spaci

[2018-01-09 21:28] tech4him1 commented on #990
@Quicksaver mentioned in https://github.com/netlify/netlify-cms/pull/994 that the tokens are included in the `download_url`s, so it may not be an issue on private repos.

[2018-01-10 02:17] tech4him1 commented on #995
@TristianK3604 What field were you wondering this about? Most fields seem to be removed automatically for me.

[2018-01-10 18:24] TristianK3604 commented on #995
@tech4him1 It's for all the front matter fields, the one I specifically would like Netlify CMS to remove is "Documentation URL".

[2018-01-10 18:37] TristianK3604 opened #999 "Config.yml 404 error depending on URL"
**- Do you want to request a *feature* or report a *bug*?**
Report a bug
**- What is the current behavior?**
When typing in `/admin`, it reports a 404 in finding `config.yml` (it redirects to `/admin#/`). When typing in `/admin/`, it works (it redirects to `/admin/#/`).
**- If the current behavior is a bug, please provide the steps to reproduce.**
Rather than entering `/admin/` or `/admin/#` when

[2018-01-10 18:54] tech4him1 commented on #995
It looks like this is only for `string` widget fields, other fields are removed from a file if empty and optional.

[2018-01-10 19:33] tech4him1 commented on #336
I thought we kept the existing slug (file path) for a page when the title was changed?

[2018-01-10 20:31] tech4him1 opened #1000 "Collection filters should check truthy-ness when no value set."
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
Currently, if a filter is set on a collection, without setting a value:
[code]
The CMS will only show files which do *not* contain this field.

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**
In my opinion, this is counter-intuiti

[2018-01-10 20:46] ebernard opened #1001 "Make markdown editor shortcodes work inline too"
I'd like to integrate mathematical expressions in the markdown component using KaTeX expressions.

I know that I can use a shortcode for that, in my case it would be something like "$$ a^2 - b^2 = (a + b)(a - b)$$" (double $ syntax).

The problem is that I'd also like to be able to have inline mathematical expressions (using single $ expressions, like "to resolve this equation, we compute $\Delta

[2018-01-11 01:21] verythorough commented on #902
@tech4him1 added all of the contributors above in #996, but we still want to gather contributors who _don't_ show up in any PRs. Qualifying tasks include:

- Writing a detailed bug report
- Writing a tutorial
- Creating a template or starter kit
- Creating a supporting tool or library
- Making design mockups and adding them as a comment on an issue
- Answering questions in Gitter or Stack Overflow

[2018-01-11 03:42] zrayed commented on #961
i concur with this recommendation as even original WISYWIG editors had a table function....as it stands right now it is a *tad* annoying that even basic HTML markup for table borders is not recognized (outside of sloppy quasi-in-line CSS (current wrksln: https://stackoverflow.com/questions/43196541/jekyll-now-github-pages-tables-dont-show-up) == hard to manage and wtf is html5 dying??).

@mirkea -

[2018-01-11 13:08] ffdead commented on #619
What is the solution to @benogle's original question?

How do I specify a relation to a nested collection like that? I'm trying to add post authors - feels like a quite common use case so I'm curious how to solve this?

Thanks!

[2018-01-11 17:02] mtully commented on #981
There are 2 places in the ui that make sense to me given the current toolbar/chrome.

1. The top bar gives duplication equal weight as delete and is always available
2. Under the the Publish button, is helpful if you are migrating lots of content and are "in the flow."™️

<img width="1014" alt="screenshot 2018-01-11 11 52 05" src="https://user-images.githubusercontent.com/129630/34836873-2346a828-

[2018-01-11 22:30] fool opened #1004 "editor: bare markdown links do not render as one might expect in the preview panel"
**- Do you want to request a *feature* or report a *bug*?**

*feature* - but some might think it a bug.

**- What is the current behavior?**

*currently, when you use a bare link like https://a.b in markdown, it renders as an unclickable https//a.b in the preview pane of the editor*.  However, most markdown viewers (github, as well as hugo and other SSG's) will render that as a clickable link.  Th

[2018-01-12 13:17] ebernard commented on #1001
Shortcodes are evaluated after markdown inline codes and that means that something like $a_k + b_k$ would not work as expected. I'll need to figure out another solution, so I'm closing this issue.

[2018-01-12 16:08] erquhart opened #1005 "markdown editor soft break within block creates new block"
A soft break (<kbd>Shift</kbd> + <kbd>Enter</kbd>) in a markdown widget block, such as a code block, creates a new code block instead of entering a newline in the current block.

[2018-01-13 15:44] cwahlfeldt commented on #919
Maybe the ecosystem would benefit from a third party app/site? Im thinking something similar to rusts package manager site https://crates.io/, or maybe even like a https://js.coach/, or https://vimawesome.com/.

[2018-01-15 10:33] raf-vs commented on #981
Adding to @mtully his comment on where to place the functionality:
A simple "copy" icon to the right of the title of an entry in a collection overview would be a good location imho.
Gives the user easy access to the copy feature without having to open an existing entry first before copying it.

![schermafbeelding 2018-01-15 om 11 13 27](https://user-images.githubusercontent.com/868224/34938240-db4

[2018-01-15 16:18] cwahlfeldt commented on #761
I'm working on this!

[2018-01-16 15:17] cwahlfeldt commented on #761
It seems that the HTML is changed when viewing a Markdown widget in a post that already has a blockquote. When you make a blockquote using the editor the original html that it produces is:

[code]

Upon revisiting the post edit page from the dashboard, the html changes to a blockquote with a paragraph as its child instead of a span and thus thinks its a paragraph not a quote.

[code]

Not sure how

[2018-01-16 18:19] erquhart commented on #838
Note for posterity - there is now an official plugin for Gatsby: https://www.npmjs.com/package/gatsby-plugin-netlify-cms

[2018-01-16 18:29] verythorough commented on #619
@ffdead Previously missing and erroneous information in the docs implied that it was possible to create a single-file "collection" and nest it under a `files` collection, leading people to think that the `relation` widget could search the contents of a single file and match on a single object within the file. In fact, `relation` widget matching only works by selecting whole files in a single folde

[2018-01-16 21:21] DSchau commented on #513
Hi @erquhart, excellent work on Netlify CMS (and the entire Netlify team, as well) -

I can open a quick issue, but I think this is actually the same issue as @kevinfoerster.

We store our blog posts (and authors) in nested folders, like

[code]

and then inside of each folder, we use the slug title as a folder. We do this so we can easily add other data (images mostly, for now!). This leaves us a

[2018-01-16 23:43] Benaiah opened #1013 "Determine testing strategies"
# Intro

We have multiple different test systems in the CMS, none of which are very well documented. Some parts of the CMS have no established methods of testing, and others have diverged from their tests. We're at the point where we semi-regularly merge PRs with the CI failing, and there's very little guidance for contributors to improve the situation.

We need to determine, implement, and docume

[2018-01-16 23:49] Benaiah commented on #1013
@erquhart, @tech4him1 ☝️

[2018-01-17 02:15] verythorough opened #1019 "Publishing silently fails and closes PR when repo has required reviews enabled"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
If the publish branch is a [protected branch](https://help.github.com/articles/about-protected-branches/) on GitHub, with [required reviews](https://help.github.com/articles/enabling-required-reviews-for-pull-requests/) enabled, clicking the publish button in the CMS will silently fail, close the P

[2018-01-17 02:17] tech4him1 commented on #1019
Screenshot showing request methods and response codes:
![cms failure](https://user-images.githubusercontent.com/20345941/35022170-c54478e8-faf1-11e7-9ffc-81939d477478.JPG)

[2018-01-17 02:41] #1019 closed

[2018-01-18 01:48] erquhart opened #1024 "Editorial workflow metadata is branch-agnostic"
**- Do you want to request a *feature* or report a *bug*?**

bug

**- What is the current behavior?**

If an editorial workflow entry in the metadata does not exist, the workflow won't load. This can happen, for example, if a new collection type is being tested in a separate branch and has unpublished entries that do not exist in the main branch. When attempting to load the editorial workflow in t

[2018-01-18 18:04] ebello opened #1025 "Bundle editorial workflow changes into one review branch"
**- Do you want to request a *feature* or report a *bug*?**
Feature request

**- What is the current behavior?**
Currently every page updated or created within an editorial workflow setup gets applied as a separate pull request. The current workflow when hosting with Netlify is:

1. Single page edited or created within CMS.
2. Pull request created on Github to manage changes for that page.
3. Depl

[2018-01-18 22:24] hcavalieri opened #1026 "Feature Request: Fullscreen Markdown Editor"
**- Do you want to request a *feature* or report a *bug*?**
Feature

**- What is the current behavior?**
Writing big pieces of content is a pain, not enough room and clarity to do so (personal bias and experience)

**- What is the expected behavior?**
Have a fullscreen button to allow for cleaner experience. Insipired by [Directus' demo](https://preview.getdirectus.com/tables/blog/1#title):

![Dir

[2018-01-18 23:24] romdim opened #1027 "Netlify-cms with self-hosted gotrue and git-gateway"
**- Do you want to request a *feature* or report a *bug*?**

Question/Bug
tl;dr: Just please point me to the direction to how I can self-host netlify's identity

**- What is the current behavior?**

Trying to make a jekyll site using netlify-cms, gotrue and git-gateway work together.
Only made it possible to authenticate via github or netlify, not with self-hosted gotrue and git-gateway.

**- If t

[2018-01-19 14:18] borisschapira opened #1028 "[Firefox] Unable to login to github from admin when "privacy.firstparty.isolate" flag is true"
**- Do you want to request a *feature* or report a *bug*?**

This is a undocumented behavior.

**- What is the current behavior?**

When using Firefox with the "privacy.firstparty.isolate" flag set to true (in about:config), I'm unable to login.

**- If the current behavior is a bug, please provide the steps to reproduce.**

- Open Firefox
- Go to "about:config" in the address bar. Change the valu

[2018-01-19 15:43] talves commented on #1028
I wonder if this is the case when using the git-gateway. @borisschapira were you using git-gateway or github for the backend.name ?

[2018-01-19 16:14] borisschapira commented on #1028
@talves Github (project: https://github.com/DaughtersOfCharity/oasis/)

[2018-01-19 20:53] tech4him1 commented on #1028
@borisschapira Can you check for errors in your browser console,on both the CMS window and the authentication popup?

[2018-01-19 22:24] borisschapira commented on #1028
My Firefox is in french, so I've got in the main window:

[code]
which roughly translates to:

[code]

[2018-01-19 22:28] borisschapira commented on #1028
As this is an experimental features, I wouldn't spend more time on it. If someone comes back with the same kind of problem, you'll be aware.

[2018-01-19 22:49] erquhart commented on #991
Yeah we definitely need to up our game there. You're right about it being a regression - one of the advantages of the old ProseMirror editor was better built in support for weird paste formats - but I'm going to call this an enhancement because we switched cores from ProseMirror to Slate, and Slate doesn't come with this out of the box.

[2018-01-19 22:58] erquhart commented on #990
Pulling thumbnails through the API is still worthwhile because it allows caching.

[2018-01-19 23:04] erquhart commented on #993
Ah, this is because we're constructing the url after the initial upload: https://github.com/netlify/netlify-cms/blob/master/src/backends/github/implementation.js#L139

We'll need to find the best way to get the token, or just fetch the file after upload.

[2018-01-19 23:30] erquhart commented on #877
We could probably just do `indexOf` instead of `lastIndexOf` here:

https://github.com/netlify/netlify-cms/blob/834c5f4942ee9f694a900a834c6f672d31761922/src/lib/pathHelper.js#L76

[2018-01-19 23:36] erquhart commented on #877
@tech4him1 since we're only using this check in one place and not for general extension checking, just using `endsWith` should be fine.

[2018-01-19 23:53] erquhart commented on #1027
cc/ @biilmann @calavera @brycekahle

[2018-01-19 23:56] #997 closed

[2018-01-20 01:03] tech4him1 commented on #1028
@borisschapira Yes, agreed, thank you for reporting!

Taking a quick look at the docs on that experimental setting, I'm guessing you should be able to fix this by also setting `privacy.firstparty.isolate.restrict_opener_access` to `false` in your FireFox config.

[2018-01-20 01:11] tech4him1 commented on #993
I guess we could still construct the URL, then add the token as a query parameter if it's a private repo. That's not necessarily the most maintainable way, though, vs fetching the URL from GitHub or [pulling the media through the API](https://github.com/netlify/netlify-cms/issues/990).

[2018-01-20 01:19] tech4him1 commented on #877
Hmm, yeah. Probably not a bad idea to run a sanitize function on it as well, in case a user tries to do something weird like `.md/my-file.md`. Unless we want that...?

[2018-01-20 01:52] tech4him1 commented on #877
For right now I don't think we need to run a sanitize function on the user-supplied extension, since we're not for writes:
https://github.com/netlify/netlify-cms/blob/cfbf31b130172d0f2c44fcfa0bcc4d96bd84ef5f/src/reducers/collections.js#L52
We're also assuming a dev is supplying this extension, so we for the most part want to allow "special" configuration like that, vs a untrusted user setting.

[2018-01-20 04:19] erquhart commented on #877
Yep, I'm good with that.

[2018-01-20 04:21] erquhart commented on #953
Weird, that's definitely frustrating. Re-open if you hit it again.

[2018-01-20 04:36] erquhart commented on #995
Unfortunately, fixing this would represent a breaking change, since templates may be relying on an ever-present field with an empty string when empty.

@TristianK3604 honestly, I'm tempted to say removing vs. not removing is a horse a piece. The inconsistency isn't good if other widget fields are removed when empty, true, but can't you just check for the empty string value for your use case?

[2018-01-20 04:59] erquhart commented on #336
The file path doesn't change, but static site generators will often place generated files based on a slug that's partially composed of the title field.

Notifying users is potentially helpful, but handling redirects is compelling. It's certainly out of scope for Netlify CMS to directly handle this, but it can integrate with a static site generator, e.g. [Hugo aliases](https://gohugo.io/content-man

[2018-01-20 05:27] erquhart commented on #1004
Yeah that was disabled here: https://github.com/netlify/netlify-cms/commit/fddbf8f7f02c96fa4818cc5d2638e32531cc2491

Good point, SSG's are going to generally convert, so we should too.

[2018-01-20 05:31] erquhart commented on #1001
Inline shortcodes would be awesome, it just isn't a simple thing to support, and could be costly for rendering performance. Our current regex checking for shortcodes can take advantage of the fact that they occupy an entire line - if we have to check throughout every line, we need to make sure it doesn't bog down the editor for large, complex documents.

[2018-01-20 05:50] erquhart commented on #919
I'd like to see it built into netlifycms.org. I'm super inspired by this: http://nivo.rocks/#/components

Not only is it a visual playground, it allows you to configure components live, and it generates React component code (among other things) as output. Plus the public Storybook. Love love love.

[2018-01-20 05:55] erquhart commented on #770
@delwin for sure - we just need to be able to reproduce the issue live. Can you share the link to your site? (dcv.ampul.com doesn't appear to be live.)

[2018-01-20 06:04] erquhart commented on #981
This is good stuff - @neutyp, @ziburski, other designers, any thoughts?

One thing that comes to mind is that Netlify CMS is about to start supporting a lot of things in the interface - it's relatively bare compared to what it's going to be not too far down the road. A single item in the collection view might have a number of different actions, statuses and labels associated with it, so that a sin

[2018-01-20 06:34] erquhart commented on #761
@cwahlfeldt so glad you're digging into this!

The storage is actually whatever backend Netlify CMS is using (which currently can only be GitHub for live projects), it loads the entry fresh each time it's opened.

From a high level:

1. the markdown widget is a [Slate](slatejs.org) editor
2. we use [Remark](remarkjs.org) as our Markdown AST
3. when a change occurs in the editor, Slate stores it (i

[2018-01-20 06:54] neutyp commented on #981
I/we didn't even wan't delete in the editor experience, so that's not the right place for duplicate either. We're creeping back to the "button city" problem we had in that toolbar. These actions, including delete, should only take place at the top level, not within the editor

[2018-01-20 14:56] tech4him1 commented on #946
I wonder about using a generated SVG placeholder, I'm not sure what the performance difference is: https://jmperezperez.com/svg-placeholders/.

I guess the choice is whether we want a scaled-down version of the actual image, or something that looks similar to it (a placeholder). Probably a scaled-down version would be what people expect here?

[2018-01-20 15:49] erquhart commented on #1025
I'd love to see this, we've actually discussed it a lot in the past. It's common to have multiple pieces of content that all need to be reviewed and published as a group, agreed.

Maintaining a list of available content groups (branches underneath) and allowing them to be assembled in the UI makes a ton of sense - I think the biggest challenge will be how we express it in the UI. The current colum

[2018-01-20 16:36] erquhart commented on #946
Yeah, that sort of placeholder is for loading full images in a production site. We'll need actual thumbnails for this.

[2018-01-20 16:51] tech4him1 commented on #1001
Do we want this re-opened @erquhart?

[2018-01-20 17:49] tech4him1 commented on #513
I see two separate feature requests here (that I think should be split out into separate issues):

1. Nesting collections in the UI.
  - @marksantoso: https://github.com/netlify/netlify-cms/issues/513#issuecomment-327706475
  - @erquhart: https://github.com/netlify/netlify-cms/issues/513#issuecomment-359151675
2. Keeping each entry in a `/entry-slug/index.md` format, instead of `/entry-slug.md`:

[2018-01-20 18:06] erquhart commented on #1001
Yeah, makes sense. @ebernard can you explain a bit more about the issue you ran into with this concept?

[2018-01-21 10:53] ziburski commented on #981
The most straightforward solution seems to be a simple dropdown with three dots then. It’s a known pattern and can be used throughout the CMS for actions like these. In fact, I proposed using it in the media library UI earlier: https://github.com/netlify/netlify-cms/issues/490#issuecomment-329564080

Here is what it could look like for the collection view:

![collection1](https://user-images.githu

[2018-01-21 11:02] ziburski opened #1031 "Unsaved changes indicator styling"
In the editor, the indicator that says "Unsaved changes" or "Changes saved" in the top left is not a button. Therefore, it should be styled differently from buttons.

Right now:
![old](https://user-images.githubusercontent.com/1299080/35193419-6446ac46-fea2-11e7-9767-7e75f390c523.png)

Proposed Change:
![new](https://user-images.githubusercontent.com/1299080/35193421-68b8e488-fea2-11e7-8988-5624d9

[2018-01-21 12:52] erquhart commented on #981
Thanks for the visuals @ziburski, that helps a lot. This is a great way to get multiple functions into play on both screens and I _love_ the look. We may need to iterate a bit on little stuff like the editor toolbar button appearance, but that's about it imo.

[2018-01-21 14:09] owenhoskins opened #1032 "Media Library UI allow uploading multiple images at once"
This issue is to bring attention to a feature that was mentioned by @indysigner in the now complete [Media library UI #350](https://github.com/netlify/netlify-cms/issues/350#issuecomment-294987730) and [Design Improvement: The Editor #180](https://github.com/netlify/netlify-cms/issues/180#issuecomment-350427221).

- [ ] Add an image upload function that allows uploading multiple images at once.

A

[2018-01-21 15:57] erquhart commented on #1031
That's a really good point, and I really like the proposed style.

Regarding saved change status, it makes more sense in the editorial workflow, which has a save button next to the status indicator. In the simple workflow, save and publish are the same action. We need to iterate on this whole toolbar anyway, but this specific issue is especially pertinent for the simple workflow, agreed.

[2018-01-21 16:02] erquhart commented on #1032
Thanks for opening this @owenhoskins. I'm wondering if this is as good time to pull in a library like [Uppy](https://github.com/transloadit/uppy) so we're not reinventing. I'll add some notes about file handling soon.

[2018-01-21 20:55] tech4him1 commented on #929
I think there a two separate bugs we need to think of this as here:

1. No files in the collection show up if one is missing. This is definitely a high-priority bug.
2. (After that is fixed,) If a file is missing, it is not shown in the collection. Creating the file would be an enhancement, still fairly high priority.

[2018-01-21 21:42] owenhoskins commented on #982
Timely issue @neutyp. I came across this while searching issues in hopes of finding sketch assets to support the minor design needs of #1032. Are there some assets that could be made available at this point?

[2018-01-21 21:58] neutyp commented on #982
@owenhoskins Yes! Good news for you. We're in the very early stages of a project with Abstract (think of it as GitHub for designers, it's literally version control for Sketch files)

Here is a secret link to signup as a Contributor on our Abstract; https://app.goabstract.com/invitations/e54c6ba50ab4d0062755d9a503dfc3de3a1010dfaa39b49eb59ce863b67d7c91

PLEASE NOTE:
1. Your contributor access allows

[2018-01-21 22:05] neutyp commented on #982
@ziburski Can you do me a huge favor and follow the same process outlined above to signup as an Abstract contributor? Specifically if there's any `netlifycms.org` work newer than what's in the relevant project on Abstract?

Also if you ever have desire or time to work on any further Netlify CMS improvements in the future, we'd love to track the Sketch work there!  Thanks again for being such a hug

[2018-01-21 22:11] tech4him1 commented on #982
@neutyp Do you have a view/comment only link as well? If we wanted to, we could add that link to our public documentation, and have contributors ask for permission if they want to get write access.

[2018-01-21 22:13] neutyp commented on #982
@tech4him1 Yes! This is the link anyone can use to be a Viewer/Guest which allows access even if you don't have a Mac or Sketch (can be used entirely on the web)

https://app.goabstract.com/invitations/2c5318430729aaf2f02921bae52f524512e8a39e8f2636e5162b3fabce712ee2

[2018-01-21 22:16] neutyp commented on #982
@tech4him1 Please note I copy pasted the wrong link; the above comment has now been updated with the right one

[2018-01-21 22:29] tech4him1 commented on #982
Working. Both links say that I'm added as a member -- I can't see if they give me different permissions, though, since I'm not on a Mac.

[2018-01-21 22:32] neutyp commented on #982
@tech4him1 The links confused even me. I just gave feedback to Abstract privately about that, FYI. At any rate, on my backend I can confirm you signed up as a Viewer, and Lennart just signed up as a Contributor, so the links are working perfectly!

[2018-01-21 23:17] theKashey commented on #966
React-hot-loader v4.0.0-beta16(aka "next") is super stable and just working.

[2018-01-21 23:18] ziburski commented on #982
The one on Abstract is the latest Sketch file. The last iterations were done straight in markup and weren’t documented in Sketch. I agree it would be nice to have though.

I won’t have time to contribute much in the near future, but Abstract should make it very easy to follow along with the design process and chime in when something comes up. Props for trying that new approach!

[2018-01-21 23:29] ziburski commented on #982
@neutyp Oh, I lied. I do have a slightly updated version of the website Sketch file. Just created a new branch on Abstract for it. Did I do it right? It takes a while to get used to the workflow in a design context.

[2018-01-21 23:35] neutyp commented on #982
@ziburski yep, perfect! thanks for taking a moment to double check this!

[2018-01-21 23:41] erquhart commented on #966
Awesome, thanks for the heads up @theKashey

[2018-01-21 23:42] erquhart commented on #982
🎉🎉🎉 to all of this

[2018-01-22 01:33] tech4him1 opened #1034 "NetlifyCMS.org: Widget docs duplicated in search."
Our Algolia search on the website is duplicating entries for the widget docs.
For example, for the `boolean` widget we get `/docs/widgets/boolean/#boolean` and `/docs/widgets/#boolean`. This is due to how we set up https://github.com/netlify/netlify-cms/pull/866.

@verythorough @erquhart @Benaiah I'm guessing we could prevent Algolia from indexing/listing the files under `/docs/widgets/` in search

[2018-01-22 02:07] erquhart commented on #1034
Interesting, I've noticed this on netlify.com too

[2018-01-22 04:49] ebello commented on #1025
I had a thought that the current three column approach could be refined like so:

**In Review**
- Rather than one long column it could consist of groupings of drafts
- Include an ever present button under the header that says “New review group” (not sold on this labeling but you get the idea)
- Individual changes can be dragged into a review group from the drafts column or another review group
- W

[2018-01-22 12:22] ebernard commented on #1001
As I quickly said, in my example ("$a_k + b_k$"), shortcodes are evaluated after standard markdown, which means that in this case "k + b" would be italic text and "_" would need escaping. That means that shortcodes should be evaluated first.

Another potential problem is that as of now the pattern is supposed to match an entire paragraph. To have the change be backward compatible would mean either

[2018-01-22 13:37] mtully commented on #981
@ziburski -- these look great, definitely see the benefit of collecting file actions under an action menu. It keeps the UI clean and tucks the ominous "Delete" action away from the view.

@erquhart -- mind sharing some of the upcoming additions to the UI or point to any open PRs? Knowing where things are heading should help consider other locations for these actions.

[2018-01-22 16:41] erquhart opened #1035 "Warn on duplicate collection, file, and field names in config"
**- Do you want to request a *feature* or report a *bug*?**

bug

**- What is the current behavior?**

Config keys that are assumed unique are not validated for uniqueness, so unpredictable failures take place when multiple same-named keys exist where they shouldn't.

**- What is the expected behavior?**

If keys that must be unique are not, an error message should be generated and Netlify CMS sho

[2018-01-22 19:40] bdougie opened #1036 "Automated release notifications and tweets"
**- Do you want to request a *feature* or report a *bug*?**
Feature

**- What is the current behavior?**
When release gets cut, they have the possibility to be unnoticed or not tweeted.

**- What is the expected behavior?**
I recently started working with Netlify Functions and wrote one that auto-tweets and blogs when a release is created. I am curious if the CMS team is interested in this. I real

[2018-01-22 20:21] tech4him1 opened #1038 "Create contributing guidelines."
We need to have a better system to allow new contributors to jump in quickly. We would like to open this up for discussion, if anyone has some suggestions, please feel free to chime in!

cc/ @Benaiah @erquhart @talves
related/ https://github.com/netlify/netlify-cms/issues/982

[2018-01-22 20:37] erquhart commented on #1032
A quick tour of file handling:

File upload handler for the UI:
https://github.com/netlify/netlify-cms/blob/master/src/components/MediaLibrary/MediaLibrary.js#L109-L131

Related Redux actions like persisting and deleting happen here:
https://github.com/netlify/netlify-cms/blob/master/src/actions/mediaLibrary.js

There are general backend hooks for [persisting](https://github.com/netlify/netlify-cm

[2018-01-22 20:44] erquhart commented on #1038
Super excited for this!

cc/ @verythorough @phae

[2018-01-22 20:49] erquhart commented on #1032
Also, you mentioned drag and drop uploads - I think [uppy.js](https://uppy.io/) would be a great way to go if you want to give it a shot.

If all that stuff I put in my last comment is totally useless, let me know and we can set up a hangout to go over things.

[2018-01-22 21:02] phae commented on #1038
A place to start might be gathering any examples out there of other OSS projects that do it well / have inspiring guidelines?

[2018-01-22 22:25] erquhart commented on #1001
Gotcha - you're right on all counts, we'd ideally parse shortcodes before anything else and not require that they be block level, but again, this was the initial approach for performance reasons. I believe there were other gotchas as well, but I'm open to efforts toward inline shortcodes.

If a working implementation does happen, we could introduce it behind a [feature flag](https://github.com/net

[2018-01-22 22:31] erquhart commented on #981
There really isn't much for new UI additions in the issues and PR's, mostly because we just completed an exhaustive overhaul of the entire UI and added a lot of things along the way for the 1.0 release that came out in December. Current focus is establishing extensibility - making it much easier to create widgets, customize the preview pane and editor in general, and other things along those lines

[2018-01-22 22:33] erquhart commented on #1036
This is an awesome proposal, definitely on board.

[2018-01-23 15:35] tech4him1 commented on #946
Alternative libraries:
- https://github.com/raphamorim/origami.js (@erquhart mentioned)
- https://github.com/nodeca/pica *May have better performance than plain `canvas`.*
- https://github.com/kangax/fabric.js

[2018-01-23 15:48] erquhart commented on #946
Hmm I don't think I saw Pica before, good find. I think Origami is probably the least ideal compared to these other two.

Pica seems the most straightforward, small footprint, well maintained. Fabric is the biggest, but may be more than we have any use for since it's so SVG focused.

[2018-01-23 15:49] Jaikant opened #1039 "'Failed to persist entry' error while trying to save (workflow turned on)"
**- Do you want to request a *feature* or report a *bug*?**
A bug is what it seems to be ...

**- What is the current behavior?**
When trying to save an entry (workflow turned on), I am getting an error
`Failed to persist entry: TypeError: e.replace is not a function`

**- If the current behavior is a bug, please provide the steps to reproduce.**
I click new entry (**blog**) and after entering the

[2018-01-23 15:51] tech4him1 commented on #946
Also, Pica uses WebAssembly and/or WebWorkers if they are available, so it should have better performance.

[2018-01-23 15:55] tech4him1 commented on #1039
Can you try wrapping the "{{slug}}" in quotes for your blog collection (i.e. `
    slug: "{{slug}}"`)? Because of the curly brackets, it won't parse correctly unless it is quoted.

[2018-01-23 16:54] Jaikant commented on #1039
@tech4him1  thanks for your super quick reply! I will test it out and close this issue hopefully :)

[2018-01-23 17:01] talves commented on #1038
I am not sure the focus of getting them in faster to contribute is the whole picture, but is a good start. Making it clearer how to contribute is a core reason someone might hold off on a contribution.

### Here is a starter list of where we should probably start:

- Step by step docs of how to start contributing for all areas (see next)
- Documents by area to contribute (docs, org site, widgets,

[2018-01-23 17:02] #1039 closed

[2018-01-23 17:37] BinaryBen opened #1040 "Allow use of different icons via the config.yml file"
**- Do you want to request a *feature* or report a *bug*?**

Feature request

&nbsp;

**- What is the current behavior?**

All icons for collections are the same. It is hard to quickly differentiate if there is a large number of collection types.

&nbsp;

**- What is the expected behavior?**

Possibly through using something like font awesome instead of SVG's, allow developers to change the look o

[2018-01-23 17:44] erquhart commented on #818
@brycekahle @biilmann bump

[2018-01-23 17:50] erquhart commented on #1040
At a minimum we could accept an icon name from the CMS' built in collection (we have a [cog](https://github.com/netlify/netlify-cms/blob/master/src/components/UI/Icon/images/settings.svg)). Makes sense to me, just need to document those icons.

[2018-01-23 18:13] tech4him1 commented on #1036
Awesome, I think it's a great idea to use the platforms that we already have in place (website/Gitter). On Gitter, we can keep doing `@/all` announcements for the community meetings and new releases, I've even been missing those :).

[2018-01-23 18:59] bdougie commented on #1036
@tech4him1 true that, definitely makes sense to share that info there in an automated way. I have not used the Gitter API, but can definitely look into that. I have some time this Friday blocked out to do some R&D, I can open a PR to get eyes on it then.

https://developer.gitter.im/docs/welcome

[2018-01-23 23:18] verythorough commented on #944
I'd also like to add to this that when a code block is included in another block like a list item (super common in docs! ;) ), it generally needs to get one more indentation than the rich text converter is currently giving it.

Here's a diff snippet of a working file that was auto-formatted by the CMS, caused by a rich-text edit elsewhere in the file:
![screen shot 2018-01-23 at 3 09 42 pm](https:

[2018-01-23 23:20] verythorough commented on #1004
I think you'd want to be sure that the preview could be configured _not_ to convert, though, too.

[2018-01-23 23:37] erquhart opened #1041 "API Overhaul: Preview Templating"
Let's make custom preview templating better.

This issue outlines a potential approach for improving the custom preview authoring experience through documentation driven development. Rough documentation will be drawn up right in the comments describing an ideal custom preview interface, and POC (proof of concept) validating these proposals can be linked as we go.

### Current
Currently, registerin

[2018-01-24 00:11] tech4him1 commented on #1004
@erquhart Do you have any specific examples? I'd expect my MD to come out without extra formatting :).

[2018-01-24 01:38] biilmann commented on #1041
Great stuff!

I agree with getting rid of the `widgetFor` and `widgetsFor` distinction, always felt a bit clunky. I feel a bit the same way around the current metadata construct used when accessing relations content in a custom preview template.

The old ember-prototype of the CMS used handlebars since that's native to ember, and for simple preview templates that's a lot more straight forward to q

[2018-01-24 05:32] BinaryBen commented on #1041
YES PLEASE! This looks much simpler. My main comment on this is that it needs to handle some basic if/then and loop (for lists) logic for some pages if the proposed handlebars option doesn't already include that.

I'm also wondering if there is any way to re-use existing templates and partials used by popular static site generators? It kind of sucks a bit to have to write them for use on the websi

[2018-01-24 09:22] BinaryBen commented on #1040
The cog was just given as an obvious example, but glad it is there. Also noticed a bunch of other icons that cover 50% of my needs, which is promising - but I think there is still value in adding other sources for icons as options?

Maybe we could use the existing icons to get something up faster, but it shouldn't be too hard to add a pattern check to allow alternatives after that. Documentation i

[2018-01-24 13:45] BinaryBen commented on #1040
have updated OP with a temp. solution.

[2018-01-24 14:57] sumeetjain opened #1042 "Mistake in docs re: setting up 'relation' widget"
**- Do you want to request a *feature* or report a *bug*?**
BUG

**- What is the current behavior?**
Docs mislead with regard to setting up a relation widget.

**- If the current behavior is a bug, please provide the steps to reproduce.**
Go to https://www.netlifycms.org/docs/widgets/#relation and locate this information:

![](https://cl.ly/p3La/Screen%20Shot%202018-01-24%20at%208.53.55%20AM.png)

[2018-01-24 15:22] erquhart commented on #1040
Your workaround is pretty cool, nice work :)

I definitely see the value of allowing other icons to be used, but I'd rather not favor one lib (e.g. font awesome) over others. I think we're on the same page with the outcome, but more consideration is needed to figure out the right abstraction. Should be maximally compatible with icon libraries without making things too messy.

[2018-01-24 15:34] tech4him1 commented on #1042
Thanks for reporting @sumeetjain, feel free to submit a PR to update that file (https://github.com/netlify/netlify-cms/blob/master/website/site/content/docs/widgets.md).

[2018-01-24 16:51] erquhart commented on #1004
Hugo is one, and I've seen others (which I'm assuming is why Remark does this automatically). GitHub does it automatically too: https://www.olddvdscreensaver.com

[2018-01-24 16:54] #1042 closed

[2018-01-24 17:05] erquhart commented on #1041
Crystal clear: template reuse is the name of the game. I'm thinking we'll add `registerTemplateParser` to allow custom parsers. True template reuse is going to be challenging, but I don't think it's impossible. Even Go templates can be parsed in the browser via Gopherjs.

The challenge is working with a template's data structure, which may be much different from what we have in Netlify CMS. Perhap

[2018-01-24 18:45] scwambach opened #1044 "registerEditorComponent Markdown fields"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
When rendering a registerEditorComponent, using the Markdown field, that has multiple lines the preview breaks.

**- If the current behavior is a bug, please provide the steps to reproduce.**
Create an Editor Component that has a Markdown field and make sure the field has content with multiple line

[2018-01-24 18:50] tech4him1 commented on #902
Contributors who filed issues labeled "kind: bug":
@tech4him1
@erquhart
@TristianK3604
@Quicksaver
@fool
@carrickjason
@sw-yx
@eliwilliamson
@creativityhurts
@ivanreese
@Narno
@VitaliiZhukov
@zanona
@bert-bruggeman
@verythorough
@Nico-L
@rewop

[2018-01-24 20:44] tech4him1 opened #1045 "Notify users on CMS updates."
Currently, if a CMS update is released, there is no way that users/devs are notified. We should probably have some sort of email/notification subscription, or even directly in the CMS. Discussion?

[2018-01-24 20:46] tech4him1 commented on #1045
One way might just be to check the GH releases list, and see if it's on the latest version. If not, popup a notice mentioning the update in the CMS. Developers could turn it off by a config setting (`update_notice: false`). This isn't necessarily fail-proof (e.g. What if we change the repo URL?), so it would take some consideration.

[2018-01-24 22:35] erquhart commented on #1041
Alrighty, documentation rough draft complete, thoughts welcome. I'll get some more POC work added tomorrow. Considering the value of this documentation, I'm considering doing these API overhaul tickets partially in a PR so things are versioned.

[2018-01-24 23:59] tech4him1 commented on #1041
@erquhart @biilmann Are we planning on "compiling" the templates into React components, then running them? Or just using them as templates directly, with their own engine?

[2018-01-25 00:10] erquhart commented on #1041
Compiling to React - there's a working handlebars implementation in the POC: https://github.com/netlify/netlify-cms/compare/api-register-preview-template

[2018-01-25 00:24] tech4him1 commented on #1041
Ah, but you're still compiling to React *after* you run it though Handlebars, if I understand correctly.
I was thinking you were compiling to react first, with all variables intact, then parsing them in React.

[2018-01-25 00:41] erquhart commented on #1041
That's be awesome, but we'd need a lib that does that for each template language - surprisingly, there isn't even one for handlebars, I checked before starting.

[2018-01-25 09:07] ww7 commented on #1032
Plus multiple deletion/selection.

[2018-01-25 09:11] ww7 opened #1046 "[Media Library] Ability to work with folders"
Browse at first.

[2018-01-25 10:52] ww7 opened #1047 "Insert image with spaces in filename"
Image not shown if have spaces in filename.
Is a bug of Gatsby?

[2018-01-25 11:56] #1047 closed

[2018-01-25 16:52] tech4him1 commented on #1046
@ww7 Can you explain in more detail?

[2018-01-25 18:34] erquhart commented on #1044
This is happening because the markdown widget parses content before shortcodes, and shortcode patterns are checked against individual blocks. When the content of a shortcode spans multiple blocks, it can never match the pattern.

We should address this by parsing shortcodes *before* parsing the Markdown string into an AST. This carries performance concerns that we'll need to be mindful of.

This f

[2018-01-25 18:42] erquhart commented on #1046
Guessing this is about breaking assets into multiple folders instead of just the media folder. We're planning to solve this eventually with asset collections, but I don't think there's an issue for it yet.

[2018-01-25 22:07] tech4him1 commented on #702
Babel 7 also affects the `transform-runtime` plugin: `useBuiltIns` is added, which means we can stop using polyfilled `Map`, `Symbol`, etc, by setting it to `true`.

[2018-01-26 00:42] tech4him1 commented on #702
If the discussion in https://github.com/babel/babel/issues/6628 takes off, that would be nice.

[2018-01-26 03:00] tech4him1 commented on #702
Just did some testing with v7.0.0-beta.38. `transform-runtime` has the benefit of not polluting the global scope, but IMO it's not the most maintainable/minimal option, since it transpiles *everything*, even if the browser supports it.

I propose that we do:
[code]
Only use the runtime transform for helpers. We probably don't really need this anyway -- we're not transpiling much anyway with only t

[2018-01-26 13:50] erquhart commented on #702
I'm with that.

[2018-01-26 15:20] erquhart commented on #1041
Since every parser is unique, we'll need to allow some kind of pass through, like an opts object maybe (but not really options), so that the parser can accept helper registration, partials, whatever it may want to expose.

Going to look at the abstraction layer concept now.

[2018-01-26 20:56] elvisguillen opened #1050 "Adding the ability to have multiple selections on the select widget."
**- Do you want to request a *feature* or report a *bug*?**

This is a feature request.

**- What is the current behavior?**

Currently the select widget allows for the selection of a single string value with a dropdown menu.

**- What is the expected behavior?**

Would love to have the option to select multiple strings from an array through a radio selection menu. This functionality would be simi

[2018-01-26 21:33] erquhart opened #1051 "Opening delimiters break config.yml"
**- Do you want to request a *feature* or report a *bug*?**

*bug*

**- What is the current behavior?**

Opening delimiters (`---`) in config.yml cause problems, at least one of which being that new slugs end up populated with simply `---`, which the backend slug formatter crunches down to a blank string. This results an the following error (for searchability):

**- If the current behavior is a bu

[2018-01-26 21:53] erquhart commented on #1050
There's a multi-select in the works in #922.

[2018-01-26 22:27] prabu-ramaraj opened #1052 "Relation widget is not accepting a List as valueField"
**- Do you want to request a *feature* or report a *bug*?**
Bug
**- What is the current behavior?**
Relation widget is not accepting a List field as valueField
**- If the current behavior is a bug, please provide the steps to reproduce.**
Say for example we have this setup as Relation field.
`{label: "Features", name: "features", widget: "relation", collection: "pages", searchFields: ["title"], va

[2018-01-26 23:53] tech4him1 commented on #1051
Weird, our YAML parser should support that by default: https://nodeca.github.io/js-yaml/.

[2018-01-27 04:26] erquhart commented on #1051
Yeah, I know. `entry.slug` somehow getting set to "---" was a real head scratcher.

[2018-01-27 12:48] thomaskuntzz opened #1055 "Community page: 'Next development planning session' widget is partly hidden"
On the [community page](https://www.netlifycms.org/community/), the widget showing the date of the next development planning looks cut off, as you can see in the GIF below:

![screenshot](https://user-images.githubusercontent.com/16361470/35472046-5d26c714-0368-11e8-8c07-8af02757b0d7.gif)

I'm on Safari 11.0.2

Maybe this is the expected behavior, but it looks kinda weird, I feel like there is inf

[2018-01-27 15:43] tech4him1 commented on #1055
I can confirm this -- on screens that are vertically small, the box gets cut off.

[2018-01-27 23:18] Doocey opened #1057 "Change direction of arrow on collapsed editor widget"
**- Do you want to request a *feature* or report a *bug*?**

Requesting a small UI change on ListItemTopBar.js.

**- What is the current behavior?**

Direction of arrow on collapsed editor widget, for both images and YouTube embeds is set to _up_ (^) as per the following screenshot:

![Current collapsed arrow behaviour](https://preview.ibb.co/nHWEgw/default_behaviour.png)

**- Preferred behaviour

[2018-01-28 04:24] ragasirtahk opened #1058 "Add support for image captions"
**- Do you want to request a *feature* or report a *bug*?**
*Feature*

**- What is the current behavior?**
There is no option to add image caption when we insert an image.

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**
There should be an option to add caption to images that a user inserts while writing a blog-post.

**- Please

[2018-01-28 04:25] ragasirtahk commented on #1058
CMS: Hugo v0.33 + Netlify CMS hosted on Netlify and GitHub

[2018-01-28 15:14] tech4him1 commented on #1058
How would you want the caption saved in markdown so that Hugo could use it?

[2018-01-28 15:18] ragasirtahk commented on #1058
Check this out: https://gohugo.io/content-management/shortcodes#figure
The example there shows how Hugo uses markdown for figure caption

[2018-01-28 15:33] tech4him1 commented on #1058
To use shortcodes like that, you can use `registerEditorComponent`, docs here: https://www.netlifycms.org/docs/custom-widgets/#registereditorcomponent. If you need help, I can walk you through it.

[2018-01-29 01:33] tech4him1 commented on #1057
Closes by #1059.

[2018-01-29 01:33] #1057 closed

[2018-01-29 02:15] jamesjmtaylor opened #1060 "Backend not found: github-api"
**- Do you want to request a *feature* or report a *bug*?**

**- What is the current behavior?**

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**

**- Please mention your CMS, node.js, and operating system version.**

**- Please link or paste your `config.yml` below if applicable.**

[2018-01-29 02:15] #1060 closed

[2018-01-29 03:18] sumeetjain opened #1061 "Selecting multiple entries via the 'relation' widget"
**- Do you want to request a *feature* or report a *bug*?**

FEATURE

It would be nice if the 'relation' widget could select multiple entries from the related collection.

E.g. in the case of `Post` and `Tag` (assume these are collections), a traditional blog setup would have a many-to-many relationship between these collections' entries. Furthermore, `Tags` are usually user-addable, which means a

[2018-01-29 07:02] ragasirtahk commented on #1058
Thanks for the info. I think I will be able to use the component without any requirement of help.

[2018-01-29 07:02] #1058 closed

[2018-01-29 17:22] tech4him1 commented on #963
Fixed in #1059.

[2018-01-29 19:39] tech4him1 commented on #553
@erquhart If we're going to start shipping the source code, then we don't need to have the source code bundled as part of the `cms.js.map`, right?

[2018-01-29 22:35] #563 closed

[2018-01-29 22:39] Swieckowski commented on #980
I'd like to take this issue, it might take a bit since I'm completely green to the codebase.

[2018-01-29 22:41] Swieckowski commented on #980
I'd like to take this, but it might take me a bit since I'm green to the codebase.

[2018-01-29 22:45] fool commented on #953
Just re-occurred.  I only seem to see it AFTER I get the API error about being logged out/ "failed to persist entry":  https://github.com/netlify/netlify-cms/issues/941

Here's a sample from the doc.  I've just added the '12345678' to show the # of spaces in this line starting with "Site.find"

![image](https://user-images.githubusercontent.com/229024/35538447-bfd1ff5a-0502-11e8-9118-7de80868d7c2.

[2018-01-29 23:02] erquhart commented on #941
We now have multiple instances of lost data due to this bug, we'll need to fix asap.

[2018-01-29 23:19] tech4him1 commented on #990
This will be necessary for private GitLab repos.

[2018-01-30 17:52] criticalmash opened #1063 "Relation widget: store related item's slug value in `valueField`"
**- Do you want to request a *feature* or report a *bug*?**
feature

**- What is the current behavior?**
The relation widget's `valueField` allows you to specify a field in another collection as a lookup value for items in that collection. The sample case given is the related item's title.

[code]

**- What is the expected behavior?**
I would prefer to store the related item's slug/filename in the

[2018-01-30 18:18] tech4him1 commented on #1063
This will be much easier once the slug is a separate field: #445.

[2018-01-30 18:24] criticalmash commented on #1063
Thanks @tech4him1 I've subscribed to that issue.

[2018-01-30 23:38] MarcCoet commented on #716
just dropping my 2 cents. Contentful has a very neat UX for content translation / 'locales'. You may find it inspiring to have a look.

[2018-01-31 22:06] solpark commented on #945
I'd like to take this issue! I've figured out how to access the collection name and display it for each found search item, but I'd like to know how and where it should be displayed.

[2018-01-31 22:26] Swieckowski commented on #929
I think I'd like to claim this. Thanks!

[2018-01-31 22:27] erquhart commented on #929
Awesome!

[2018-02-01 00:21] tech4him1 commented on #929
I've looked into this a bit, but forgot to update the issue. The applicable code is:
https://github.com/netlify/netlify-cms/blob/756d562c6651b1634143f1f7d47ffc8119fe59bb/src/backends/github/implementation.js#L60-L83

I'm guessing when `readFile` returns a 404, and the Promise is rejected, it causes some rejection further up the call stack that prevents *any* of the files from showing up.

[2018-02-01 00:22] tech4him1 commented on #929
Just brainstorming, I wonder if a good way to do that would just be to create a blank file immediately? Or we could just resolve to an empty string instead of rejecting (only if a 404). Either way, though, we would need to make sure this only happened during `entriesByFiles` calls, not with `entriesByFolder`.

[2018-02-01 00:29] tech4him1 commented on #945
@solpark Awesome! Feel free to ask questions on our [Gitter channel](https://gitter.im/netlify/NetlifyCMS) if you need any pointers.

@erquhart @neutyp @ziburski Can you outline what design we want on this?

[2018-02-01 02:32] rogermparent commented on #475
I've been thinking about this idea as well, and I have an idea of possible implementation

Folder collections in particular (since data ones already have sorting) have an optional "ordered: " property that enables the dragging functionality on the collection's screen. The value for this property would determine what key the numeric order will be saved as in the file-

for example: "ordered: order"

[2018-02-01 02:37] alteducation opened #1065 "Option To Disable "Add New Item" In List Widgets."
**- Do you want to request a *feature* or report a *bug*?**
      Feature

**- What is the current behavior?**
     I want the user to be able to edit array items without adding additional new ones. Currently the user can add new items
**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**
   The 'Add New Item' Button is removed in sele

[2018-02-01 10:42] r1b commented on #1035
It would be nice to have widget validation `unique` similar to `pattern` that validates field uniqueness in a collection

[2018-02-01 17:20] erquhart commented on #1035
@r1b totally agree - mind opening a separate issue for that?

[2018-02-01 17:21] erquhart commented on #1065
This makes sense, agreed.

[2018-02-01 17:27] cwahlfeldt opened #1066 "Flexible Layouts Custom Widget"
I have an Idea for a custom widget. It is based mostly on Advanced Custom Fields "[Flexible Field](https://www.advancedcustomfields.com/resources/flexible-content/)" which allows for dynamic lists of layouts that are sort-able and "design-able".

The widget it self would be very similar to the list widget except instead of adding another of the same item, you get to choose which "layout" would wor

[2018-02-01 17:31] erquhart commented on #475
@rogermparent how would you handle updating all files? For example, let's say I have fifty entries in a collection, and they all have a number value in their `order` field. If I change the one with value `25` to be `1`, now all files that used to be values `1` through `24` have to be incremented by one, which is a whole lot of API calls. Now consider that a collection could easily have hundreds of

[2018-02-01 17:38] erquhart commented on #945
@solpark are you up for proposing a solution that you think works? If so, just submit a pull request! You'll get one or more reviews with suggestions on how things might be improved if necessary. If you'd really like a bit more guidance, though, definitely ask either here or on [Gitter](https://gitter.im/netlify/netlifycms) as @tech4him1 mentioned :)

[2018-02-01 17:39] cwahlfeldt commented on #1066
Also very similar. Prismic calls them "slices".

https://prismic.io/feature/dynamic-layout-content-components

[2018-02-01 17:43] erquhart commented on #929
Agreed, but we should notify the user at least with a toast or something, "Created blank file "_data/entry.json". In the future (like beyond 2.0), I'd like to see this pulled into validation and some kind of prompt like "The files listed below are in your configuration, but don't exist in your repo. Would you like to create them now?". But again, that's futuristic :)

[2018-02-01 17:47] rogermparent commented on #475
@erquhart I'm not familiar with how the GitHub API works, I didn't know it was an individual call for each file.

I suppose if you want to cut down on this you'd need an external source of ordering, which necessitates having a sort of "primary key" on the ordered files to reference them by- I think filenames are a viable candidate, as they're implicitly unique and present in all static site genera

[2018-02-01 17:55] erquhart commented on #716
Great tip @MarcCoet, will do! Feel free to drop specifcs, screenshots, etc if you think anything specific aspect is particularly impactful for the project.

[2018-02-01 17:56] erquhart commented on #953
Only after timeout eh? Did you see anything console errors either time when this occurred?

[2018-02-01 18:00] cwahlfeldt commented on #565
Started another issue similar to this. Wondering if you got anywhere @domtalbot and if you need any help? #1066

[2018-02-01 18:02] tech4him1 commented on #929
@erquhart So, I see two ways to fix this, then:

1. Only show files that actually exist in the repo.
  - This would still fix this issue, as it was causing *all* files to disappear.
2. Create a new file if it's in the config.
  - I don't actually think this is really a deviation from our current behavior -- if the file is explicitly specified in the config, I'm assuming that it should be able to b

[2018-02-01 18:08] fool commented on #953
Don't recall but will go open a window to repro for you and check into that
:)

On Thu, Feb 1, 2018 at 9:56 AM, Shawn Erquhart <notifications@github.com>
wrote:

[2018-02-01 18:14] erquhart commented on #553
@tech4him1 right, we should not need that, only the map itself.

[2018-02-01 18:16] erquhart commented on #1061
This would be a great improvement, thanks for raising it @sumeetjain.

[2018-02-01 18:17] andresgutgon commented on #716
@erquhart do you have plan in terms of timings to develop multilingual?

[2018-02-01 20:13] xifengjin88 commented on #423
I would like to take this ticket.

[2018-02-01 20:23] RoObsessedCode commented on #697
Hello, I am new to the Netlify-CMS community and am interested in taking on this ticket. Is it currently available? Thanks!

[2018-02-01 22:22] solpark commented on #945
Thank you @erquhart ! Just opened a pull request :)

[2018-02-01 23:37] rriemann commented on #697
They @RoObsessedCode, cool you find your way to this ticket. Please take it!

[2018-02-02 00:04] erquhart commented on #697
@RoObsessedCode welcome! It's all you my friend :)

[2018-02-02 00:23] erquhart commented on #475
Solid response, thanks for that! This would work, but basically boils down to an extra build step where the order parameter is added to each frontmatter based on filename and a data file containing the order. Which is better than not offering this at all. Makes me wonder how much else can be done through an extra build step, and how we can make these bits easy to implement.

[2018-02-02 04:03] erquhart commented on #423
@xifengjin88 sure is :)

[2018-02-02 04:07] xifengjin88 commented on #423
Thanks!!!

[2018-02-02 04:17] erquhart commented on #716
There's no active development at the moment, still need to determine the right approach. You're welcome to help move things along if you're interested in digging in.

[2018-02-02 04:21] r1b opened #1069 "Widget validation: `unique` constraint"
Per discussion in #1035

**- Do you want to request a *feature* or report a *bug*?**

Feature.

**- What is the current behavior?**

There is no way to enforce unique constraints on collection fields.

**- What is the expected behavior?**

I propose a validation `unique` a la `pattern` to enforce unique constraints.

[2018-02-02 10:42] Mougatine commented on #1028
Hello

I have the same problem: I can't even log in to https://app.netlify.com/. I'm redirected on a page saying "Authorized", but there is no further redirection to the actual https://app.netlify.com/. And re-entering this url force me to re-log in.

This problem is happening with Firefox Quantum while Chrome has no problem.

Both:

[code]
And:

[code]

Were set to `false` but it doesn't solve an

[2018-02-02 11:59] erquhart commented on #1028
@Mougatine try clearing all local data for that domain - cookies, localstorage, indexeddb, etc

[2018-02-02 14:05] ragasirtahk commented on #1045
The fastest solution in my opinion would be having an email newsletter to announce new releases and important bug fixes to users.

[2018-02-02 15:09] erquhart commented on #1066
Porting my thoughts from #565:

[2018-02-02 15:23] erquhart commented on #929
Not a deviation, I guess just a feature. I'd say load time only because the file may have been misspelled, and we want it to be clear what happened.

[2018-02-02 17:29] RoObsessedCode commented on #697
My first question for you @rriemann @erquhart (Hope it is okay if I post my queries here).

Right now, the way it is, collection name is needed in the file path so suppose you have these 2 urls(for this example lets assume pages and blogs are two collections)

1.     {cmsUrl}/edit/blog/2
2.     {cmsUrl}/edit/page/2

If we refactored to eliminate the collection name we would end up with the same pa

[2018-02-02 17:54] rriemann commented on #697
In my setup, every resource has only one view. We could just define that if a person has access to more than one view/collection to edit the same file, the person is either presented a choice dialogue or the link must contain the collection in the URL fragment.

I see another problem. I think the CMS uses not the filename (or part of it) like github, but instead a token (can someone confirm?). In

[2018-02-02 19:04] bdougie commented on #1036
Looks like there is a bit of crossover with #1045

[2018-02-02 21:42] erquhart commented on #1069
Seems like this should apply in specific contexts, such as a list widget. There's also the issue of widget values not necessarily being the same type. Can you share, abstractly if necessary, what your use case is? Might help clarify things a bit.

[2018-02-02 21:44] erquhart commented on #1028
Also, since your issue isn't happening only when the flag is set to true, it's probably unrelated. Going to close this since it applies to an experimental browser feature, but please open a separate issue or reach out in [Gitter](https://gitter.im/netlify/netlifycms) if the problem persists.

[2018-02-02 21:44] #1028 closed

[2018-02-02 21:47] erquhart commented on #1045
That's a great solution for keeping folks up to date, totally agree. That said, every CMS I'm aware of either updates itself because it's SAAS, or has in-app notifications when they're available. Especially for security fixes (which could perceivably happen in the future), we want to get max visibility when an upgrade is required.

[2018-02-02 22:08] erquhart commented on #697
@RoObsessedCode we wouldn't change the URL structure - we'd just parse the `edit` path and redirect to the real one. @rriemann it won't actually matter what identifier Netlify CMS uses, we'll use the filename to query the backend for folder collections. Might be good to do that for both file and folder collections just for consistency.

[2018-02-03 02:58] #1055 closed

[2018-02-03 03:04] tech4him1 commented on #1036
@bdougie Agreed, I intended that issue to be for notifying users from inside the CMS, whereas this issue is for external notifications (tweets, etc). Feel free to combine them (or we can edit #1045 to clarify).

[2018-02-03 13:27] ragasirtahk commented on #1045
I would suggest that the notifications be displayed on the /admin page of netlify CMS users.

[2018-02-03 13:31] ragasirtahk opened #1073 "How to update to new version?"
**- Do you want to request a *feature* or report a *bug*?**

Feature

**- What is the current behavior?**

There is no documentation explaining how to update to a newer version of Netlify CMS.

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**

A documentation should be created explaining how to update to a newer version of Netlify

[2018-02-03 13:31] ragasirtahk commented on #1073
I am willing to create a proper documentation for this if I am provided a basic overview of the procedure.

[2018-02-03 14:31] erquhart commented on #1045
For sure - at some point Netlify CMS needs as dashboard page.

[2018-02-03 18:20] tech4him1 commented on #1073
If you are using a package manager like Yarn or NPM, you will use their standard procedure to update. This is how both the Hugo and Gatsby starters are set up.

If you are using the CMS through a CDN like Unpkg, then that depends on the version tag you are using.
- (Recommended) If you use `^1.0.0`, the CMS will do all updates *except major versions* automatically.
  - It will upgrade to `1.0.1`,

[2018-02-03 21:20] DomtronVox opened #1074 "Relation Widget Fails Without Intelligent Error Message"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
If you put an invalid value for searchFields it fails with a "sorry there was an error", but no details anywhere what the error was.

In my case I created a new collection that had a relation widget field. I mistakenly set the searchFields value to "[title]" instead of ["title"]. What really threw

[2018-02-05 07:39] #1073 closed

[2018-02-05 07:42] ragasirtahk opened #1077 "Docs: Menu should not overlap footer."
**- Do you want to request a *feature* or report a *bug*?**

Bug

**- What is the current behavior?**

The long pages at https://www.netlifycms.org/docs/ are not resposive. View the GIF below.

**- If the current behavior is a bug, please provide the steps to reproduce.**

![website issue](https://user-images.githubusercontent.com/26816046/35793021-e69c447e-0a75-11e8-8d5d-6a543bcaffd5.gif)

**- Wh

[2018-02-05 07:43] ragasirtahk commented on #1077
Tested on Firefox Quantum (x64) and Chromium (x64) on Windows 10 (x64).

[2018-02-05 11:48] Abdelrahman146 opened #1078 "I can't see my posts in the control panel"
Hello,

I'm very new in Gatsbyjs and JAMstack websites in general. I added netlify CMS in my local project, I'm still learning it.

My problem is I can't see any post that I have made in the posts section in the control panel. and whenever I publish a new one it deosn't appear in my posts folder as well.

this is my post is saved in md format test.md:

[code]

my posts are saved in `src/pos` folde

[2018-02-05 13:14] alteducation opened #1079 "Help Needed With Using Anchor Fields."
**- Do you want to request a *feature* or report a *bug*?**

Support
**- What is the current behavior?**
I'm working with a YAML Frontmatter File which has Elements that are anchored to another elements. The title value of Array Elements in pricing-head.pricing-head-prices is anchored in pricing.body as a boolean. I hardwrote anchor tags such as &title1 , &title2 etc. How can I make this more flex

[2018-02-05 14:58] andreasremdt commented on #1078
I am experiencing the same issue, but only with parts of my website. I am using a collection of files to make every page of my website available for editing in the backend.

**config.yml**
[code]

**profesores.md**
[code]

I have added other Markdown pages into the config.yml, and until now it worked fine. However, after adding the above configuration the backend for "Pages" is empty, it doesn't d

[2018-02-05 17:08] gazebosx3 commented on #1065
Hi! I'd like to take this issue, if that's ok with y'all.

[2018-02-05 17:13] tech4him1 commented on #1065
@gazebosx3 Sounds great, let us know if you have any questions!

[2018-02-05 17:15] tech4him1 commented on #1078
@andreasremdt I think your problem is different, can you please make a separate issue?

[2018-02-05 17:16] tech4him1 commented on #1078
@Abdelrahman146 You still have the backend set to `test-repo`, which is just in-memory, it won't have any of your posts. The documentation about the different available backends is at https://www.netlifycms.org/docs/authentication-backends/.

[2018-02-05 19:00] andreasremdt opened #1082 "File Collections behave strange / don't work locally"
**- Do you want to request a *feature* or report a *bug*?**
Report a bug.

**- What is the current behavior?**
I'm editing my Jekyll site on a local development environment and pushing changes to GitHub. To verify that my `config.yml` is correctly set up I log into the CMS's backend on my localhost. However, the collections are behaving strange.
If I do any changes in the `config.yml` file, it oft

[2018-02-05 19:05] tech4him1 commented on #1082
Are you changing the files manually? or through the CMS?

[2018-02-05 19:35] Abdelrahman146 commented on #1078
@tech4him1 thank you so much :)

[2018-02-05 19:38] BogusCurry opened #1083 "question: Can I intregation mybb in netlify-cms ?"
Hello there ;D
I have a little question, can I intregation the forumscript mybb (mybb.com) in the cms ?

Greetings
Bogus

[2018-02-05 19:38] tech4him1 commented on #1078
No problem! Feel free to reach out on our Gitter channel if you have more questions! https://gitter.im/netlify/NetlifyCMS

[2018-02-05 19:38] #1078 closed

[2018-02-06 01:38] andreasremdt commented on #1082
Neither of these. I am creating my Markdown files with their structure and content before I integrate them into the CMS. So, once I have the Markdown files ready, they don't change and I build up the structure in the `config.yml` and refresh the backend GUI to see if it worked. And that's where the problem occurs.

It's also not a caching issue, works fine without cache. Seems more like a syncing

[2018-02-06 02:15] tech4him1 commented on #1082
@andreasremdt During your testing, are you committing the files to the live repo, or are they just on your computer?

[2018-02-06 02:27] andreasremdt commented on #1082
No, during testing I just save the files locally and refresh my browser (`jekyll serve`).

Once I push the changes to my live repo it works fine...

[2018-02-06 02:42] tech4him1 commented on #1082
@andreasremdt Exactly. The CMS doesn't access your local filesystem at all (except for the config), it always fetches content from the live repo. The only reason the config gets fetched is because the CMS expects it on the server -- otherwise it couldn't get the repo data in the first place.

[2018-02-06 02:42] #1082 closed

[2018-02-06 02:44] tech4him1 commented on #1082
FYI, there is a local FS testing backend in progress at https://github.com/netlify/netlify-cms/pull/786.

[2018-02-06 03:10] andreasremdt commented on #1082
Well, this explains a lot, thanks for clarifying. Is this mentioned in the documentation, as I didn't read anything about this?

Perhaps a warning message within the GUI could be added to let the user know that things like this might happen?

[2018-02-06 18:56] tech4him1 commented on #1082
@andreasremdt Hmm, maybe. What made you think that the CMS would read your local files in the first place? I guess we assume that people understand that when the backend is set to GitHub (or git-gateway), it's going to use GitHub, not your local environment. If there was something that made you think otherwise, though, that should definitely be changed.

cc/ @erquhart @Benaiah

[2018-02-06 19:16] andreasremdt commented on #1082
Actually I totally forgot about the fact that the CMS is getting its data from GitHub, although I would say that I understand the way these things work. I guess it's because of the typical workflow with systems like Wordpress that I'm used to, where you have your local environment (with data) and once you reach a certain point you push everything onto the live server, including database. It's a di

[2018-02-06 19:34] tech4him1 commented on #1082
@andreasremdt Thanks for your thoughts! Would you mind splitting this into a separate issue so that we can discuss further? If you want, we can just rename/repurpose this one instead, but I think a separate one is probably better.

[2018-02-06 19:43] andreasremdt opened #1085 "Expanding local development options"
As discussed in #1082, there might be a confusion about local development in the CMS.

**For reference:**

Possible ideas:

* Adding a method besides `git-gateway` or `github` specifically for local development
* Letting the user know in the backend that although the CMS is accessed from a local web server the sources are fetched from the live repo
* Explaining more about development options in th

[2018-02-06 19:44] andreasremdt commented on #1082
Yeah, sure, just referenced a new issue so we can continue the conversation. Let me know if I forgot anything.

[2018-02-06 19:54] tech4him1 commented on #1085
There is a local file-system backend in progress at #329 / #786.

cc/ @talves @Benaiah @erquhart

[2018-02-06 20:54] solpark commented on #1005
I would like to take this issue if that's okay!

[2018-02-06 21:01] MichaelRomani commented on #977
I would be interested in working on this issue if it is still free.

[2018-02-06 21:12] tech4him1 commented on #977
@MichaelRomani That would be great. There was some related discussion in https://github.com/netlify/netlify-cms/issues/725 as well.

[2018-02-06 22:19] peduarte commented on #684
Hello 👋  I'm happy to pick this issue up and raise a PR for it.

[2018-02-07 04:11] ragasirtahk opened #1088 "Docs: Bug in 'Select A Topic' drop-down while using mobile browser"
**- Do you want to request a *feature* or report a *bug*?**

Bug

**- What is the current behavior?**

Several blank items are displayed after the item 'Introduction' item in the drop-down list. This happens only on mobile browsers at the page https://www.netlifycms.org/docs/.

**- If the current behavior is a bug, please provide the steps to reproduce.**

Navigate to https://www.netlifycms.org/do

[2018-02-07 04:12] ragasirtahk commented on #1088
This issue was tested on mobile Chrome browser on Android.

![screenshot_2018-02-07-09-34-16-339_com android chrome](https://user-images.githubusercontent.com/26816046/35898215-2f961f80-0beb-11e8-9873-f0f2632769f0.png)

![screenshot_2018-02-07-09-34-28-624_com android chrome](https://user-images.githubusercontent.com/26816046/35898227-3f0ee91a-0beb-11e8-96be-f98ba066dcdf.png)

[2018-02-07 12:43] dudil commented on #1046
@erquhart - do you have a design or issue for assets collections? That means being able to put media in realtime path (inside static) to the collections?

I'll be happy to contribute that if it's in your plan or have an open issues about it (couldn't find one...)

[2018-02-07 17:44] gazebosx3 commented on #1065
Hey, I'm a bit confused about the requirements of this issue. Is "Array" referring to the array in the Select Widget? If so, I don't see where, in the CMS, users can add elements to a select array...

<img width="850" alt="screen shot 2018-02-07 at 12 44 00 pm" src="https://user-images.githubusercontent.com/27162255/35932047-9f6b7472-0c04-11e8-98a9-298a698c4dc1.png">

[2018-02-07 18:38] crgeary opened #1089 "Incorrect mapping over `this.props.widgetsFor` in Custom preview"
**- Do you want to request a *feature* or report a *bug*?**

BUG

**- What is the current behavior?**

The following code within a PreviewTemplate outputs the words `data` & `widgets` when there are no images to map over.
[code]

**- If the current behavior is a bug, please provide the steps to reproduce.**

1. Visit - https://practical-leavitt-aada1c.netlify.com/admin/
2. Click "Login" (there is

[2018-02-07 19:21] erquhart commented on #1074
Thanks for opening this, I'd love to see our error handling game improved. We implemented that error component to stop folks from working in a broken environment, unaware that the CMS stopped working long ago (this way we prevent data loss), but we haven't put it to work with useful error messages yet.

[2018-02-07 21:36] erquhart commented on #1083
That'd be a toughie - Netlify CMS is primarily for git-based data. Going to close this, but if you want to discuss further, [Gitter](https://gitter.im/netlify/netlifycms) is the place for questions like this.

[2018-02-07 21:36] #1083 closed

[2018-02-07 22:03] RoObsessedCode commented on #697
Thanks @erquhart. I am in the process of seeing how everything works together and how exactly to implement the steps you listed above. I will keep the team updated. Thanks!

[2018-02-07 22:05] erquhart commented on #1082
@andreasremdt your local config doesn't need to be pushed up when testing, just the content.

[2018-02-07 22:08] erquhart commented on #1085
I agree with all of these points.

[2018-02-07 22:20] tech4him1 commented on #1065
![capture](https://user-images.githubusercontent.com/20345941/35944620-4b319010-0c1a-11e8-8277-61385aa75b5b.JPG)
The button that we want to be optional is on the "List" widget, sorry that wasn't clarified.

[2018-02-07 22:36] erquhart commented on #684
Thanks @peduarte!

[2018-02-08 11:43] ragasirtahk commented on #731
How about adding a section about configuring and using the CMS with multiple authors?

[2018-02-08 12:01] ragasirtahk opened #1090 ""Get started" overlaps other links in docs"
**- Do you want to request a *feature* or report a *bug*?**

Bug

**- What is the current behavior?**

"Get started" link overlaps other links in the docs when viewed in mobile. (See picture)

**- If the current behavior is a bug, please provide the steps to reproduce.**

Tested on Chrome Browser (on Android).
![screenshot_20180208-172724](https://user-images.githubusercontent.com/26816046/3597192

[2018-02-08 13:04] ragasirtahk opened #1091 "Make a pure "Hugo Site Starter" instead of the current "Victor Hugo" based site starter"
The current "Hugo Site Starter" on https://www.netlifycms.org/docs/start-with-a-template/ uses https://github.com/netlify-templates/one-click-hugo-cms .

The one click Hugo cms repository uses "Victor Hugo" and Netlify CMS which has a bit different structure from the original "Hugo" structure.

I think the **title should be changed to "Victor Hugo Site Starter"** and a **new template should be cre

[2018-02-08 14:50] peduarte opened #1092 "Collections fail to load if any of the Github request is above 1mb"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
Netlify CMS queries the Github API for files to add to its Collections. If any of those requests is above 1mb, Netlify CMS fails to render any of the other files.

**- If the current behavior is a bug, please provide the steps to reproduce.**
Create a Markdown file above 1mb and notice how the Netl

[2018-02-08 20:09] xifengjin88 commented on #1077
Hi, if this issue was not taken, may I work on this issue? Thanks!

[2018-02-08 20:10] tech4him1 commented on #1077
@xifengjin88 It is available, thank you!

[2018-02-08 20:15] xifengjin88 commented on #1077
@tech4him1 you are welcome!! happy to help!!

[2018-02-08 20:27] erquhart commented on #1046
@dudil that would be awesome. No design work has been done - do you work in design, development or both? I'm expecting to just have a vertical list of asset collections on the left side, which would map to folders, and you could specify for an image or file field which asset collections it could pull from.

I'll get a proper issue together.

[2018-02-08 20:59] erquhart commented on #1089
Seems to only happen on initial load - if you add an item to the list and then remove it, the preview text is blank.

[2018-02-08 21:10] tech4him1 commented on #1092
Looks like GitHub is throwing a 403 and returning this error:
[code]

[2018-02-08 21:12] tech4him1 commented on #1092
I'm guessing the reason no files show up is the same as I outlined in https://github.com/netlify/netlify-cms/issues/929#issuecomment-362116004.

[2018-02-08 21:14] erquhart commented on #697
Feel free to reach out for help in [Gitter](https://gitter.im/netlify/netlifycms), great community there.

[2018-02-08 21:16] erquhart commented on #1065
@gazebosx3 feel free to reach out in [Gitter](https://gitter.im/netlify/netlifycms) if you need help in realtime.

[2018-02-08 22:18] erquhart commented on #731
We should probably have a lot of specific setups (like multiple authors) documented. We think of it as being so simple that it isn't necessary - for instance, every Netlify CMS instance is multi-author by default, whoever is logged in is the author - but writing it out in the docs is compelling.

[2018-02-08 22:22] erquhart commented on #1091
Victor Hugo was created to provide a Hugo setup with front end tooling (babel, etc) - what's the advantage of removing that?

[2018-02-09 01:04] #980 closed

[2018-02-09 09:26] ragasirtahk commented on #1091
I am suggesting that it should be made clear on that page that the starter is based on Victor Hugo

[2018-02-09 09:26] ragasirtahk commented on #1091
Also, I think there should be an option for those who want only Hugo instead of Victor Hugo Site Starter

[2018-02-09 10:15] owenhoskins commented on #946
@tech4him1 I've tested out Pica and it seems to perform better then canvas, great suggestion!

However, when I include it in my Gatsby project and deploy to Netlify, the build process throws an error.

[code]

The error only appears with pica imported. Here's my branch https://github.com/owenhoskins/netlify-cms/tree/image-preview-pica

Included via `"netlify-cms": "owenhoskins/netlify-cms#image-pr

[2018-02-09 12:59] dudil commented on #1046
@erquhart - I'm more on the development side.
What I had was something more simple and maybe different.
To be able to override the media_folder and public_folder per collection
for example:

[code]

BTW - if that could be changed to include also the parameter options, it will be even better something like {{slug}} etc.

What do you think about this?

[2018-02-09 19:40] tech4him1 commented on #1091
@erquhart I do agree that understanding how that template works is a little confusing at first -- especially while trying to understand the CMS as well.

[2018-02-09 21:08] talves commented on #1091
I am wondering if it would be a good thing to create the generic one click Hugo starter to see a simple setup of taking an existing simple Hugo theme example to include the CMS.

Might be a good opportunity to mix in the `file-system` backend also. Now all I would need is time.

[2018-02-09 22:22] solpark commented on #1074
I would like to take a stab at this issue!

[2018-02-09 22:32] tech4him1 commented on #1074
@solpark Great! If it helps you at all, the Error component is under `/src/components/UI/ErrorBoundary/ErrorBoundary.js`.

[2018-02-10 02:55] ragasirtahk commented on #1091
@talves I can create the generic one click Hugo starter with an existing Hugo template. And you can mix in the file-system backend. How does it sound?

[2018-02-10 08:16] moonmeister commented on #1061
Would this be extending the "relation" widget or adding a "relations" widget? I could see use cases for only wanting 1 or wanting many. What if we leave it a single widget but add a "limit" config that takes a number. Then the single widget could support 1 to infinity(theoretically). Thoughts?

[2018-02-10 15:43] pogo19 commented on #234
Hey, any chance for an update and possible target date for Bitbucket support?

[2018-02-10 16:08] tech4him1 commented on #946
@owenhoskins @erquhart pointed out that to get the compiled version of Pica, you have to import from `pica/dist/pica`. https://github.com/nodeca/pica#install

[2018-02-10 16:26] talves commented on #1091
@ragasirtahk I will do what I can find time for. Accepted your invite on your repo.

[2018-02-10 18:02] erquhart commented on #234
cc/ @Benaiah

[2018-02-10 19:24] moonmeister commented on #1061
Looks like there's already a react [library](https://github.com/olahol/react-tagsinput) for this...and it looks to work with the existing `react-autosuggest` that's already being used.

[2018-02-11 03:37] tech4him1 opened #1097 "Breaking: `gatsby-plugin-netlify-cms` broken since #765."
`gatsby-plugin-netlify-cms` seems to be broken on the CMS master since netlify/netlify-cms#765 was merged (i.e. >=1.2.0).

**NOTE: A temporary fix is to revert to v1.1.0.**

[2018-02-11 04:04] tech4him1 commented on #1061
Related to #391 (and somewhat to #1050).

[2018-02-11 08:13] moonmeister commented on #1061
Working on implementing this. Got a non working version where I'm trying to implement auto complete. I think I'll be giving up on this path...especially if this is just going to end up extending the existing `relation` widget...if it's going to be an additional widget then the nesting works...
https://github.com/moonmeister/netlify-cms/commit/c89c73189b9c1500dab8cbbff0d370290c509857

If you want t

[2018-02-11 12:47] george-oakling opened #1099 "Sorting collection list"
We should definitely have the option of using some sort of... sorting :) of particular collections. From my point of view, there should be an configuration option for sorting, which will be connected to field. So if we know the type of "sorted by" field (eg. number, date, datetime), we can sort the items afterwards, like this:
https://github.com/george-oakling/netlify-cms/commit/3c69c51c52c5fe51f4

[2018-02-12 00:31] erquhart commented on #1097
What was broken?

[2018-02-12 00:36] tech4him1 commented on #1097
@talves and @pogo19 were able to reproduce it, but I can't. From Gitter (https://gitter.im/netlify/NetlifyCMS?at=5a7f00dfce68c3bc746c5972):

[2018-02-12 00:51] pogo19 commented on #1097
For me the problem was present when trying to use netlify-cms (master branch build) in Gatsby using gatsby-plugin-netlify-cms
Normally the problem isn't present when CMS is used directly because browsers support 'async' keyword that appears in dist/cms.js (in current master HEAD).

[2018-02-12 01:15] tech4him1 commented on #1097
@pogo19 I pulled your repo and tried to run it -- it builds fine for me with the `bitbucket-integration` CMS symlinked.
I was using `yarn build` instead of `gatsby build`, so that it uses the local Gatsby version, maybe try that?

[2018-02-12 01:16] tech4him1 commented on #1097
@pogo19 Can you try the `bitbucket-integration` branch on the [starter template](https://github.com/AustinGreen/gatsby-starter-netlify-cms), and see if it breaks there too? That way we can narrow it down to whether it is just your repo or not.

[2018-02-12 01:20] pogo19 commented on #1097
@tech4him1 Will try tomorrow .... also please note that operations like `yarn add` or `yarn install` rewrite your symlinked CMS to version from npm registry.

[2018-02-12 01:22] tech4him1 commented on #1097
Good point -- I've been using `yarn link` so it stays linked (I checked the `node_modules` folder too :)).

[2018-02-12 10:13] romdim commented on #1027
Bump, 24 days have passed since asking this. Please direct me to the answer and I may be able to document it if you don't have the time. Thanks!

[2018-02-12 13:46] igarbla opened #1101 "Collections list sidebar is partially hidden"
Given a high number of collections and if there are a low number of documents, the collection sidebar cannot show all the list of collections. I have fix locally the issue changing the css for nc-collectionPage-sidebar class, disabling "position: flixed;" and inserting "float: left".

[2018-02-12 14:59] talves commented on #1097
To reproduce:
- [Clone the starter][1]
- `yarn remove gatsby-plugin-netlify-cms`
- `yarn add file:[path to local netlify-cms]`
- Build the cms
- `gatsby build` the starter

[1]: https://github.com/AustinGreen/gatsby-starter-netlify-cms

[2018-02-12 16:45] erquhart commented on #977
@MichaelRomani I'm going to post your last comment from Gitter here, easier to track things:

And @tech4him1's response:

https://github.com/netlify/netlify-cms/blob/master/src/components/EditorWidgets/Date/DateControl.js#L24-L30
There needs to be a way to set the default directly in the Redux store, instead of having to call onChange to set it.

Finally, my thoughts:

The confusion here is my fau

[2018-02-12 17:24] MichaelRomani commented on #977
Shawn, thank you for the clarification.  I was reading into the connected issue(s) too much and not focusing on the main issue described.  So to clarify, the field values for all of the widgets within Editor Widgets, if the value is null, the value should be set to the correct 'empty' type, ie. empty object, empty string, etc... ?

Also, should I be updating the redux store's image, data, body, ti

[2018-02-12 18:53] tech4him1 commented on #1101
@igarbla Feel free to submit a PR with that change, if you have time.

[2018-02-12 19:37] pogo19 commented on #1097
Sorry, I haven't got to it earlier. I've just opened my notebook, been on the road all day. Thanks @talves

[2018-02-12 19:53] tech4him1 commented on #1097
@talves OK, I'll try a repro. Was it failing with both the `master` and `bitbucket-integration` CMS branches?

[2018-02-12 19:57] talves commented on #1097
@tech4him1 Yes; It was failing on current master, so testing against the `bitbucket-integration` does not matter unless master works.

@pogo19 No problem. Hopefully we can figure out how to handle this.

[2018-02-12 20:20] tech4him1 commented on #1097
Interesting, I'm not seeing the JS building error at all. I do get an error during the HTML build if I install it like @talves mentioned above, but using `yarn link` fixes that.

@talves @pogo19 The one possible difference that I see possible between your setup and mine is that you are using `gatsby build` (global Gatsby). Could you try with `yarn build` so that we're all on the same version for s

[2018-02-12 20:32] pogo19 commented on #1097
@tech4him1 For me `gatsby build` and `yarn build` makes no difference ... and also my global gatsby-cli is up-to-date.

[2018-02-12 21:46] erquhart commented on #1027
@romdim you need a way to create users. For this red hot second, you can use the gotrue cli for that. It's not documented, but the code makes a good reference: https://github.com/netlify/gotrue/blob/master/cmd/admin_cmd.go

Namely the `createuser` command looks to be the ticket. With this route you can at least get something going and *then* figure out live sign ups through the CMS itself if neede

[2018-02-12 22:05] tech4him1 commented on #1097
[code]

[2018-02-12 22:06] tech4him1 commented on #1097
Is this the same error that you guys have been getting?
[code]

[2018-02-12 23:01] tech4him1 commented on #1097
@erquhart @Benaiah @AustinGreen Can you reproduce this? (steps in https://github.com/netlify/netlify-cms/issues/1097#issuecomment-364947670)

[2018-02-12 23:03] pogo19 commented on #1097
Yes, I get this one too now. But build against 1.1.0 from npm registry works.

[2018-02-12 23:04] tech4him1 commented on #1097
@pogo19 Ah, so you're not getting the original error anymore?

[2018-02-12 23:06] pogo19 commented on #1097
@tech4him1 I haven't tried in my project since yesterday. This error I get from the @talves reproduce steps.

[2018-02-12 23:27] pogo19 commented on #1097
@tech4him1 In my project I still get my original error.

[2018-02-13 13:35] erquhart opened #1104 "Using libs for our primary backend API's?"
I'd like us to consider using external libraries for our primary backend interfaces rather than writing low level API functions in first class extensions that have to be documented, maintained, kept up to date, and tested. Originally there was no complete solution for GitHub's API, but there is now. Here's what I've found:

GitHub: [@octokit/rest](https://www.npmjs.com/package/@octokit/rest) ([doc

[2018-02-13 17:38] xifengjin88 commented on #1077
Hi netlify community,
 I think I am gonna be busy for awhile, so I will not be able to work on this issue. if anyone wants to work on this issue, feel free to work on this!!

[2018-02-13 17:39] daveyko commented on #1077
Hi I would like to work on this issue! Thank you!

[2018-02-13 22:38] tech4him1 commented on #1104
We'd want a library that is well-maintained, but didn't have to be updated too often. Of course, that's mostly dependent on the actual API itself, not the client.

(NOTE: The "official" (documented) GitLab client is [node-gitlab](https://github.com/node-gitlab/node-gitlab), but `node-gitlab-api` may be just fine.)

[2018-02-13 22:41] tech4him1 commented on #1104
A library may also be helpful for more complicated, implementation-specific things, like GL pagination.

[2018-02-13 22:48] CarlMungazi commented on #1097
Just installed this project today for the first time and I am also getting the same error.

[code]

[2018-02-14 00:43] talves commented on #1097
Shawn released 1.2.0 today and it produced the error others are seeing.
I was able to get rid of the error by using a modified build of the CMS by removing the targets in the `presets` section of the `.babelrc`

[code]

My suspicion is that Gatsby is re-bundling the cms from our bundle and it is causing errors on that build.
[Here is a link to the Gatsby `.babel` presets export they use](https://g

[2018-02-14 01:07] tech4him1 commented on #1097
@talves That confirms that it was https://github.com/netlify/netlify-cms/pull/765 that started breaking the build. By removing the targets from the `env` preset, you are transpiling *everything*. It's directly equivalent to replacing `env` with `es2015`.

[2018-02-14 04:04] daveyko commented on #1077
@tech4him1  I believe I was able to resolve this issue, however I can't seem to push my branch up (I have linted, rebased, and the test specs pass). I believe this has to do with my permissions. Feedback would be appreciated. Thank you!

[2018-02-14 06:25] ragasirtahk commented on #1077
@daveyko did you create a pull request?

[2018-02-14 06:29] ragasirtahk commented on #1077
@daveyko you need to submit a PR for the changes, after that two people will check it and commit it.

[2018-02-14 14:29] talves commented on #1097
@tech4him1 I understand it will convert everything. It only increased the 1.6M file by 40k, so I was curious why it was such a small increase.
I am not sure we should do this as the solution, but it gives a place to start to figure out what the path we should take here 😄

[2018-02-14 14:30] daveyko commented on #1077
@ragasirtahk PR was just made! Thank you for your response!

[2018-02-15 03:38] acarl opened #1108 "Is netlifyIdentity.init() required after script load?"
In order to get netlify identity to initialize on a Gatsby site I need to call netlifyIdentity.init() after loading in netlify-identity-widget.js.

I was able to figure this out by finding this example.
https://github.com/AustinGreen/gatsby-starter-netlify-cms/blob/master/src/pages/index.js#L17

However, I don't see this in the documentation anywhere.

Changing basic example documentation doesn't

[2018-02-15 08:33] agush22 commented on #432
This would be an awesome feature :+1:

[2018-02-15 09:37] ragasirtahk commented on #1091
I am no longer creating a template for plain 'Hugo'. Current things seem fine.

[2018-02-15 09:37] #1091 closed

[2018-02-15 10:05] a-akimov opened #1109 "Support for Gitea"
Currently, Netlify CMS works only with GitHub, while for many companies this might be not the best option. It would be great if Netlify CMS can also support Gitea (https://github.com/go-gitea/gitea)

[2018-02-15 22:27] talves commented on #1109
@a-akimov Netlify CMS currently has an option to register your own backend and be able to add your own backend project.

I created a shell example of the backend for `file-system` in [this repository][1].

Anyone can make a backend the same way as GitHub by using the code in the [GitHub backend as an example][2] and replacing the `src` in [my backend example].

[1]: https://github.com/talves/netli

[2018-02-15 23:54] JoshAntBrown commented on #1066
Hey, so I've been looking for something like this for a while now. So, I had a go at spiking out 2 possible solutions although I'm not familiar with this codebase so excuse any of the mess I caused 😜

**Solution 1: FlexibleLayout Widget**
The config is essentially a list with only objects as fields. I duplicated the list widget and added some logic in to the `renderItem` function that adds in a fi

[2018-02-16 11:08] mmintel commented on #1066
@JoshAntBrown I like the second solution about the conditional fields! Maybe you should open a PR for this if you already got this working? ;)

If you have conditional fields you could also go for a "module" collection and just place a selection field to create different kind of modules. Then to build pages you could just create a list of relation fields to reference those modules. Just an idea.

[2018-02-16 11:32] bjrn commented on #445
Hi! What's the status on slug editing, anyone working on a suggestion?

[2018-02-16 14:50] fool commented on #953
Finally got this reproduced.  When I attempt to save in a window where my authentication has timed out, this is the error message that flashes briefly (~10s) near the top of the editor:

![image](https://user-images.githubusercontent.com/229024/36312829-931fde4c-12e4-11e8-97a1-1feb89d37588.png)

I then copy and paste what I've been working on since the CMS is effectively frozen at this point - hit

[2018-02-17 01:59] emenaphoto opened #1111 "Al tratar de entrar nuevo record hace que la p[agina se cierre"
**- Do you want to request a *feature* or report a *bug*?**

**- What is the current behavior?**

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**

**- Please mention your CMS, node.js, and operating system version.**

**- Please link or paste your `config.yml` below if applicable.**

[2018-02-17 03:30] tech4him1 commented on #1111
@emenaphoto Can you provide steps to reproduce, or a screenshot?

[2018-02-17 17:00] #1090 closed

[2018-02-17 17:42] knpwrs commented on #557
This is something that I am potentially interested in implementing. @BerkeleyTrue, were you thinking something in the admin interface or something in the configuration? My idea was for something in the configuration, either globally or perhaps at the collection level, that would allow the commit message to say something like `User ${user} updated page ${page}`.

It looks like [right now the commit

[2018-02-17 19:58] thebetternewt opened #1113 "Date Picker crashing CMS in list widget"
**- Do you want to request a *feature* or report a *bug*?**

**- What is the current behavior?**

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**

**- Please mention your CMS, node.js, and operating system version.**

**- Please link or paste your `config.yml` below if applicable.**

I am trying to add a list widget with multiple

[2018-02-17 22:40] tech4him1 commented on #1113
Error message being thrown when a date is selected:
[code]

[2018-02-17 23:01] mccrodp opened #1114 "Allow for editing output filename or prefix markdown filename extension with i18n lang code"
Thanks for the easy to use product. I have performed an initial evaluation and it seems great, just one blocking issue for me at the moment, in that I need to harness i18n in Gatsby via the [i18n community plugin](https://github.com/angeloocana/gatsby-plugin-i18n). Basic support for this your end should be easy though, I hope.

If you see "How it works" section of the [README](https://github.com/a

[2018-02-17 23:56] fool commented on #953
So - I ran into this again today as I do every time I spend a substantial amount of time editing a document, and discovered something new:

the content pastes as expected, with whitespace back into the CMS directly.  It's just not saved in the cutbuffer (on my mac) as ascii spacing - but the CMS editor gets it right.

Of course this is a dangerous game - between copying, reloading the CMS, reloggi

[2018-02-18 00:30] tech4him1 commented on #953
@fool If the token has not timed out, does the copying work with plaintext whitespace, or is it the same?

[2018-02-18 01:12] fool commented on #953
@tech4him1 - behavior is unrelated to token status: same behavior with valid token.

I suspect this is now considered notabug?

If you think it's still worth having an open issue for, I'll restructure the report and title, LMK!

[2018-02-18 01:27] tech4him1 commented on #953
I'd like to see what @erquhart thinks, since he wrote most of editor so far.

[2018-02-18 02:15] tech4him1 commented on #1113
Tracing the error, the last `div` on the call stack is:
https://github.com/netlify/netlify-cms/blob/952a6d509f4e681d4757bef51d4b2011c72f77ad/src/components/EditorWidgets/List/ListControl.js#L237

[2018-02-18 02:30] tech4him1 commented on #1113
The `objectLabel` function is what is used to show what a list item is when it is collapsed. We will need to make sure this is always a string, not an object.
![opened](https://user-images.githubusercontent.com/20345941/36347624-df4af93e-1418-11e8-82e7-be663bf463c8.JPG)
![collapsed](https://user-images.githubusercontent.com/20345941/36347619-c66dcac2-1418-11e8-9573-e5d5ab9684ed.JPG)

https://githu

[2018-02-18 03:39] tech4him1 opened #1116 "Relation widget crashes if `valueField` doesn't return string or component."
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
If the `valueField` for a relation widget isn't a string (or other renderable object in React), the CMS will crash.
**- If the current behavior is a bug, please provide the steps to reproduce.**
Example:
[code]
Try to type into the relation widget.
**- What is the expected behavior?**
The relation

[2018-02-18 03:44] tech4him1 commented on #1116
This could potentially be "fixed" by converting the values to strings before including them in the relation widget. It would probably need done at: https://github.com/netlify/netlify-cms/blob/952a6d509f4e681d4757bef51d4b2011c72f77ad/src/components/EditorWidgets/Relation/RelationControl.js#L90 and https://github.com/netlify/netlify-cms/blob/952a6d509f4e681d4757bef51d4b2011c72f77ad/src/components/Ed

[2018-02-18 03:49] tech4him1 commented on #1116
Ah, looks like the actual saved value is captured separately:
https://github.com/netlify/netlify-cms/blob/952a6d509f4e681d4757bef51d4b2011c72f77ad/src/components/EditorWidgets/Relation/RelationControl.js#L66 https://github.com/netlify/netlify-cms/blob/952a6d509f4e681d4757bef51d4b2011c72f77ad/src/components/EditorWidgets/Relation/RelationControl.js#L84

My simple fix proposed above should work, the

[2018-02-18 03:59] tech4him1 commented on #1113
@thebetternewt I have a fix for the crashing issue in the linked PR, it should be merged as soon as another maintainer can review.

The bug only happens if a date field is the first field under a list item. As a workaround until it is fixed, if you don't have any string fields that you have first, you can add a hidden field before the date fields, like so:
[code]

[2018-02-18 19:02] thebetternewt commented on #1113
@tech4him1 Thanks! That seems to work. I decided to add a string label for each date range anyway for reference purposes, so good to know my code works.

I'll put in a separate request for the default date not showing up.

[2018-02-18 19:09] thebetternewt opened #1117 "Date widget inside list widget not showing default date value"
**- Do you want to request a *feature* or report a *bug*?**

**- What is the current behavior?**

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**

**- Please mention your CMS, node.js, and operating system version.**

**- Please link or paste your `config.yml` below if applicable.**

I have a list widget with each item containing

[2018-02-19 09:45] uncledent opened #1118 "On the fly hugo update by git-gateway"
Hello,

is it possible to regenerate the site after each persisted entry by git-gateway? How could I have the copy of the repository also locally?

I see, that there is a gulp watching /site directory for changes, running hugo afterwards. The problem is, that by git-gateway (apparently) there is no local copy of the repository, so it is not being triggered.

So I have to wait for the automatic dep

[2018-02-19 17:00] #684 closed

[2018-02-19 17:27] thebetternewt opened #1119 "Date widget in list returning Datetime instead of Date"
**- Do you want to request a *feature* or report a *bug*?**

**- What is the current behavior?**

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**

**- Please mention your CMS, node.js, and operating system version.**

**- Please link or paste your `config.yml` below if applicable.**

I'm using a date widget in a list, but noticed

[2018-02-20 03:46] miqui opened #1120 "'followed quick start guide/steps..', but i cannot access <site/admin>"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Use the commands below to provide key information from your environment:
You do NOT have to include this information if this is a FEATURE REQUEST
-->

**- Do you want to request a *feature* or report a *bug*?**
report a bug
**- What is the current behavior?**
when i try to

[2018-02-20 03:53] erquhart commented on #1120
You'll need to put your own repository info in the config.yml: https://github.com/miqui/miqui.me/blob/master/site/static/admin/config.yml

[2018-02-20 10:57] ianmilliken opened #1121 "Error creating collection entry depending on title value"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
On production, I'm creating an entry in an already populated collection called 'Services'. Depending solely on the title of the entry, NetlifyCMS fails to create it and returns an error.

**- If the current behaviour is a bug, please provide the steps to reproduce.**
1. I create a new entry with a

[2018-02-20 14:32] peduarte opened #1122 "Admin UI: Remove Container's width constraint"
Hello 👋

**- Do you want to request a *feature* or report a *bug*?**
*Feature* (...more like a UI Enhancement)

**- What is the current behavior?**
The Admin UI currently sets a `max-width` of `1600px` to the Entry Editor Container (`nc-entryEditor-container).

**- What is the expected behavior?**
This is behaving as per the expected behaviour, however, I'd like to propose removing this width rest

[2018-02-20 17:07] tech4him1 commented on #1121
Would it be possible to link your repo, so that we can try to reproduce?

[2018-02-21 11:31] ianmilliken commented on #1121
Yeah of course, the repo is at https://github.com/ianmilliken/mpc. It's worth me mentioning that the problem doesn't occur on when running on localhost

[2018-02-21 15:09] renestalder commented on #929
I don't get it. I just tried to create a file collection. I used the example code from the documentation, but it only shows "No entries". Now, in your issue description you say, the file has to be created be the developer. No mention of that in the documentation. And it's also not clear if a empty file is enough or if it needs to container the data structure with empty values. Anyway, can't get fi

[2018-02-21 16:31] tech4him1 commented on #1121
Are you using `git-gateway` when running on localhost, or a different backend? Git Gateway can work on localhost.

[2018-02-21 19:10] zberwaldt opened #1125 "CMS won't generate content files that match the archtype."
**- Do you want to request a *feature* or report a *bug*?**

I think this is a Feature request, but it could be a bug. Sorry I can't be more clear. Maybe it'll be more clear after I describe it?

**- What is the current behavior?**

When I create content types for the different sections of my site with the cms the content files don't follow the archtypes I've defined in the site.

The archtype is

[2018-02-21 21:21] #1088 closed

[2018-02-21 21:31] #1097 closed

[2018-02-21 22:08] erquhart commented on #1074
Hey @solpark - feel free to come holler at us in [Gitter](https://gitter.im/netlify/netlifycms) if you get stuck :)

[2018-02-21 22:40] Benaiah commented on #234
Hey, just wanted to leave an update here for anyone following this issue - this is being actively worked on, in concert with the GitLab backend. Expect to see more updates on both of these PRs as that work progresses - notably, I'll be wrapping up a large design document describing plans and options for the new API shortly.

[2018-02-21 23:18] ianmilliken commented on #1121
'm using the `github` backend for localhost and `git-gateway` for production

[2018-02-21 23:40] tech4him1 commented on #1121
That might explain why it's only working locally :). Can you try using `git-gateway` on localhost, and see if it fails there as well?

[2018-02-22 00:09] zberwaldt commented on #1125
So I've figured out how to work around this, mainly because I didn't full understand how collections worked in the CMS. Although, I still think it would be nice if you could specify the archtype if you are using Hugo.

Should I close this issue, since I've pretty much sorted it out?

Edit: Apparently, I closed this. Sorry for the inconvenience.

[2018-02-22 00:09] #1125 closed

[2018-02-22 00:17] tech4him1 commented on #1125
@zberwaldt Glad you got it figured out! If you think there's any way that we should clarify the difference in the docs, feel free to submit a PR.

@erquhart Just a thought -- parsing archetypes along with templates might be nice if we do that.

[2018-02-22 00:21] zberwaldt commented on #1125
@tech4him1 I've been increasingly interested in contributing to this in some way. I'll do my best.

[2018-02-22 02:26] tech4him1 commented on #1097
For the record, the problem was that Gatsby couldn't handle untranspiled JS (above ES5). WebPack v1 could only parse up to ES6 (https://github.com/gatsbyjs/gatsby/issues/4031#issuecomment-365694354) and UglifyJS v2 can only parse up to ES5. We started transpiling our code back to ES5 again to fix this, and this was released as v1.2.2 of the CMS.

[2018-02-22 07:05] ragasirtahk commented on #1120
Seems fixed now :)

[2018-02-22 11:26] #1120 closed

[2018-02-22 14:33] erquhart commented on #946
@owenhoskins just checking in - is this still on your radar?

[2018-02-22 17:34] erquhart commented on #1099
Totally agree, this has been long awaited. If you're interested in taking a stab at it, comment there and we can discuss further.

[2018-02-22 17:34] #1099 closed

[2018-02-22 19:33] erquhart commented on #1108
I believe if you use React Helmet to load the script, it will load in the head and initialization will happen automatically (and on time), no further code required.

This still needs to be tested in the template, but I believe it would work.

[2018-02-22 20:27] erquhart commented on #445
@bjrn no one is working this yet, definitely open to someone taking a stab at it.

[2018-02-22 20:29] erquhart commented on #1111
In English: Trying to enter a new record causes the page to close.

@emenaphoto closing for now, please re-open if you have more details.

[2018-02-22 20:29] #1111 closed

[2018-02-23 02:46] Benaiah opened #1132 "Allow setting config URL with link element in head"
**- Do you want to request a *feature* or report a *bug*?**

*feature*

**- What is the current behavior?**

You cannot change the location or format of the `config.yml` - it's [hardcoded to `'config.yml'`](https://github.com/netlify/netlify-cms/blob/b4b584682473924556a41cae10f64f085b0f432b/src/actions/config.js#L92) (relative to the CMS location).

**- What is the expected behavior?**

You should

[2018-02-23 02:53] acarl commented on #1108
I tried the following code based on an issue in react-helmet (https://github.com/nfl/react-helmet/issues/146).

[code]

[code]

In my testing it gets to the console.log for 'netlifyIdentity' but not the 'init' line unless I uncomment the init function call.

[2018-02-23 06:04] #1077 closed

[2018-02-23 09:56] owenhoskins commented on #946
@erquhart: Yes! But I have been swamped by another project. I should have a window of time to continue on this towards the end of March. That said, I've got a test-case going with a bit more then 1000 images at around 500kb each, totaling about 500MB. This made it clear that the Media Library also needs a lazy-loader to function at this scale. I am thinking of a approaching that with a `window.Int

[2018-02-23 10:33] ianmilliken commented on #1121
Yep I've tried `git-gateway` on localhost, it doesn't repeat in producing the error!

[2018-02-23 12:40] r1b commented on #432
I help maintain an image-heavy gallery site - we have reached the point with the volume and size of images in our repo where it no longer makes sense to store them in git! :)

I am very excited about this feature - interim we will probably move to a solution where we manage the images externally and only store links / references in the CMS, similar to what was suggested above.

[2018-02-23 14:47] erquhart commented on #557
@knpwrs this looks solid as a general approach, feel free to take a stab.

I think the simplest configuration option would be to just accept a separate message for each type and not try to combine them. This provides max configurability and less room for confusion about what the config keys do:

[code]

[2018-02-23 14:49] erquhart commented on #1066
@JoshAntBrown great work man, I think these are both useful concepts.

Toward an ideal custom layout widget, your first option seems closest to me - more code, but a more sensible UI (once the dropdown is customized and folded into the widget top bar) and a much better configuration scheme. If you're up for PR'ing this approach, we'll take it :)

[2018-02-23 14:55] brianlmacdonald commented on #1132
Can I give this a shot?

[2018-02-23 15:09] erquhart commented on #1114
Hi @mccrodp, thanks for the detailed explanation. I imagine the files you're writing from Netlify CMS are markdown, just raw content, and then you pull those files into Gatsby. Have you considered altering the filename on Gatsby's side? An example of the resulting file structure that you want to achieve in your repo, and an example of the final output structure, would help clarify things a bit.

T

[2018-02-23 15:18] erquhart commented on #953
@fool this is worth keeping open, the whole cutting and pasting story is still rough.

[2018-02-23 15:25] #1113 closed

[2018-02-23 15:41] erquhart commented on #1118
You'd have to run `git pull` each time you save a change.

[2018-02-23 15:42] #1118 closed

[2018-02-23 16:05] erquhart commented on #1119
Yep we're definitely not setting that default format anywhere in the codebase. This applies to both the Date and DateTime widgets.

[2018-02-23 16:19] erquhart commented on #1122
The idea was that folks would drag the resizable middle bar between the two panes if they wanted to peek at a wider breakpoint. I remember @neutyp discussing this point at length around the 1.0 launch.

The challenge from a design standpoint is that the form fields should only be so wide, and as you see in your proposal, when you spread everything out the control pane is just floating in whitespac

[2018-02-23 16:29] ziburski commented on #1122
If we have the space to show both a normal-size editor and a full-width preview, I think it’s reasonable to use that space. Doesn’t have to be fullscreen, but just making that container a bit wider for large screens would help. Why would we make people drag between the two if we can show both?

To be fair, it’s a very different challenge on smaller screens where you might not want to compromise th

[2018-02-23 17:06] erquhart commented on #929
@renestalder an empty file is enough if the format accepts an empty value as valid. e.g., a blank file is valid YAML, but not valid JSON.

If all files in your configuration exist in your repo, and contain valid values for the file type, the collection will work.

[2018-02-23 17:41] erquhart commented on #929
Also, docs are now updated with this information, thanks for pointing out the gap.

[2018-02-23 17:46] erquhart commented on #1125
Yep - I'd like to see us take inference to a whole new level by bootstrapping the CMS based on your static site generator, auto-configuring based on archetypes would definitely be a part of that.

[2018-02-23 20:44] Benaiah opened #1134 "(WIP) Backend API restructure: pagination, refactoring, and plans for Gitlab & BitBucket"
Summary
=======

This is a design proposal for our backend API - a goal of the 2.0 release. It is also an update on the immediate plans for implementing pagination for the GitLab API. This is an architecturally complex feature, and the current code needs significant refactoring to support more pagination paradigms, such as the links used by the GitLab API or the JSON wrapper used by BitBucket. Dev

[2018-02-23 21:05] erquhart commented on #1108
You can just load the script, nothing else required - I'm going to open a PR to remove the script you referenced in the Gatsby starter as well, since it's no longer necessary. You should be able to just do:

[code]

[2018-02-23 21:25] erquhart commented on #1108
Spoke too soon, redirect still isn't happening. Researching a bit.

[2018-02-23 21:48] erquhart commented on #1108
Looks like the code you mentioned is still required for redirecting after creating or updating your password on the site's home page. I'm going to update `gatsby-plugin-netlify-cms` to inject the script so it just works.

[2018-02-24 00:15] erquhart commented on #1108
@acarl once https://github.com/gatsbyjs/gatsby/pull/4215 is merged, Netlify Identity will "just work" for Gatsby sites using the Netlify CMS plugin. I'll close this once the update is released.

[2018-02-24 00:53] Benaiah commented on #1132
@brianlmacdonald absolutely, we'd love for somebody to tackle this. It should be a pretty simple fix - the place where it's currently hardcoded is linked in the issue above. If you need any help feel free to ask here or on [the Gitter channel](https://gitter.im/netlify/NetlifyCMS) - thanks for your interest!

[2018-02-24 00:55] brianlmacdonald commented on #1132
Cool, I'll take a look at everything and circle back if I have any questions!

[2018-02-24 04:38] acarl commented on #1108
I just deployed it with 1.0.9 and it works great!
I'll go ahead and close this out.
Thanks!

[2018-02-24 04:38] #1108 closed

[2018-02-24 05:08] InderdeepBajwa commented on #234
That'll be supercool @Benaiah! I read this post after a year ago. In case anybody want to see a working version of CMS for bitbucket, https://forestry.io can be a good example. (_I used it for a while, switched to custom CMS later_)

[2018-02-24 06:48] 01ivr3 opened #1137 "Configure string widget to respect block scalar styles set in yaml frontmatter?"
Is it possible to configure the string widget to respect block scalar styles set in yaml frontmatter?

ref: [In YAML, how do I break a string over multiple lines?](https://stackoverflow.com/questions/3790454/in-yaml-how-do-i-break-a-string-over-multiple-lines/21699210#21699210)

For example, if I have the following key:value in frontmatter
[code]
editing this with a string widget in NetlifyCMS wil

[2018-02-25 21:30] tizzle commented on #793
Hey,

i'm wondering if there is any news on this, as i ran into the exact same issue as @whmountains. In addition i feel that using `extract-text-webpack-plugin` is not going to work, as in my understanding this won't pick up the styled-components definitions. This is discussed [here](https://github.com/styled-components/styled-components/issues/1018), [here](https://stackoverflow.com/questions/44

[2018-02-25 22:13] rdela opened #1138 "gatsby bulid errors"
On node 9.6.1, npm v5.6.0, and yarn 1.3.2, I just had [to pin both](https://github.com/rdela/voidcluster/blob/8a79b6e89f54b8e99d89168dddc01a356f0888a9/package.json)
[code]

…on an experiment based on the Gatsby + Netlify CMS Starter to get build working.

Various errors on local `build` and newer Gatsby:

[code]

…and remote bulid errors [like](https://app.netlify.com/sites/voidcluster/deploys/5a9

[2018-02-25 22:41] rdela commented on #1138
related https://github.com/gatsbyjs/gatsby/pull/4233

[2018-02-25 22:54] DomtronVox commented on #857
I would like to add a 4th to the list. Recently I had an issue with a non-technical person uploading an image that had special characters (in my case the # sign) causing the static site to have an error during its' build. So:

4. Allows sanitizing uploaded file's name for technical reasons.

I think the fix for all these may need to be separate features though. 2-4 seem to work well with an automa

[2018-02-25 23:57] erquhart commented on #793
That's an interesting idea. I haven't looked into portals at all, but feel free to check it out and see if it's possible.

[2018-02-26 03:48] jimmyangel commented on #1046
I like @dudil idea. It is pretty simple and straightforward.

I am going through the CMS right now and having to dump all the images in one folder is not very attractive. I like to have image subfolders in the various content folders -- like blog/images and galleries/galleryname/images, etc.

This change would be awesome!

[2018-02-26 07:46] mccrodp commented on #1114
Hi @erquhart, thanks for your reply. Not sure what you mean by alter it on Gatsby side, like re-process it after you create and save from NetlifyCMS? I think better to do upon creation rather than at build time.

I haven't used NetlifyCMS much, but looked great. I got Contentful working with the i18n community plugin for Gatsby, so I will use that instead for now as it's got multilingual in it by

[2018-02-26 08:56] some1else commented on #787
Still experiencing this with private repos in 1.0.3. Is a fix still in the works? Willing to help out

[2018-02-26 15:26] tomhamiltonstubber opened #1139 "Select widget inside List widget crashing"
**Bug**

**What is the current behavior?**

I've got a List widget with a Select widget as the field:

[code]
It renders like so:

![image](https://user-images.githubusercontent.com/8955690/36678132-de6fb78e-1b07-11e8-9357-6ce5c4cf3c2b.png)

Which I presume is wrong? The standard drop down renders properly when not in a List widget.

The field that should be a Select here renders as a text field,

[2018-02-26 18:52] erquhart commented on #1122
It really doesn't make sense to impose the limitation, I agree with just making it wider for the purposes of this issue.

[2018-02-26 19:17] erquhart commented on #1121
Forked and was able to repro. Digging in.

P.S. fantastic work on this site @ianmilliken, bravo.

[2018-02-27 00:48] Strangehill opened #1141 "creating new user through non-secure protocol"
I just did a one-click install of jekyll-cms, and immediately got the email inviting me to create a user. When I click on it I'm redirected to my 'amazing-nightingale' using http, rather than https. bug ?

[2018-02-27 01:21] tech4him1 commented on #1141
@erquhart @biilmann Can one of you provide a status update on this?

[2018-02-27 02:40] Strangehill commented on #1141
Ah, thx. Moved the issue there.

[2018-02-27 21:04] mdavidmorton commented on #1089
Ran into this same problem today. Solution below probably isn't great long term, but it bypasses the `data widgets` text:

[code]

[2018-02-27 21:14] erquhart commented on #1141
Going to keep this open for now since it's directly impacting Netlify CMS users.

[2018-02-27 21:17] erquhart commented on #1121
Just now getting around to actually looking into this - it's because you're using http instead of https, which shouldn't be possible. It's covered under #1141, going to close this in favor of that.

Until there's a fix, just manually ensure that you're connecting via https.

[2018-02-27 21:17] #1121 closed

[2018-02-27 21:29] erquhart commented on #946
@owenhoskins sounds great!

So part of the goal is to create thumbnails that are very low weight so that a media library with 500MB of images wouldn't even be possible. The created previews would be persisted to the user's repo in the metadata.

As far as the location of the component you're building, that can go under `src/components/MediaLibrary/` for now.

You can use a "real" backend during lo

[2018-02-27 21:47] erquhart commented on #1137
Not currently, no. Netlify CMS will however write YAML that's true to the content entered, so you won't be missing newlines that are supposed to be present.

Do you have an example where this is causing a problem?

[2018-02-27 21:58] #1101 closed

[2018-02-27 22:00] erquhart commented on #1138
This has been fixed in the starter, the context object just needs to be removed.

[2018-02-27 22:00] #1138 closed

[2018-02-27 22:01] erquhart commented on #857
@tech4him1 doesn't your slug sanitization work provide a solution for this?

[2018-02-27 22:08] erquhart commented on #1046
We're talking about the same things, actually, I'm just tacking on the concern of making assets discoverable in the general Media Library interface, otherwise you'd have to navigate to a collection, open an entry, and click an image field to see the images in that folder.

That said, if you want to whip up a PR for this, I bet we could make it work.

[2018-02-27 22:20] erquhart commented on #1114
They're talking about naming your component files under `src/pages` - Netlify CMS would only create markdown or data files (yaml, json, etc). Here's an example page component from the repo that shows the kind of files that require this naming: https://github.com/angeloocana/gatsby-plugin-i18n/blob/master/packages/gatsby-starter-default-i18n/src/pages/index.pt.js

[2018-02-27 22:23] #877 closed

[2018-02-27 22:27] erquhart commented on #787
The fix for this is going to be #946 - that will introduce thumbnail creation on image upload, and the thumbnail will be committed as metadata, at which point we can begin pulling thumbnails through the API instead of by URL.

@owenhoskins started work on that effort but got busy, maybe you can reach out and see about helping move it forward?

[2018-02-27 22:27] tech4him1 commented on #1089
Adding a default value to the list widget should fix this (#977).

[2018-02-27 22:37] erquhart commented on #1139
This is a bug with our handling of `field` (as opposed to `fields`). For now, would using `fields` work for you? Same config, literally just adding an "s", even though you're only using one field.

[2018-02-27 22:45] tech4him1 commented on #857
Sanitizing media filenames as well is part of https://github.com/netlify/netlify-cms/pull/1135.

[2018-02-27 23:40] mccrodp commented on #1114
Hey @erquhart, thanks for the reply. Yes, components are an option. So are markdown files, see example repo I shared: https://github.com/mccrodp/gatsby-starter-transformer-remark-i18n/blob/master/src/pages/pandas-and-bananas.en.md

 See docs for plugin: https://github.com/angeloocana/gatsby-plugin-i18n#how-it-works should help get a clearer picture now to see how things might fit together 😄

[2018-02-28 00:09] erquhart commented on #1114
Oh, great! You can do this for each collection:

[code]

Support for extensions with periods just got merged and will be released on just a bit here.

[2018-02-28 00:20] tech4him1 commented on #1114
`format: markdown` should be `format: frontmatter`

[2018-02-28 00:39] erquhart commented on #1114
🤦‍♂️

[2018-02-28 00:54] mccrodp commented on #1114
Ok, sounds great, editing existing ones is possible, thanks. But, what about say creating a new blog post with `newpost.en.md` and `newpost.pt.md` extensions, is that possible via NetlifyCMS UI?

[2018-02-28 00:55] erquhart commented on #857
Also @DomtronVox, uploading an image of the same name as an existing image currently triggers a prompt, it won't just overwrite.

[2018-02-28 01:15] tech4him1 commented on #1114
@mccrodp Yes, if you can set them up as separate collections (one for `en.md` and one for `pt.md`).

[2018-02-28 01:50] mccrodp commented on #1114
Ahh, ok, thanks @tech4him1, @erquhart, that sounds great. Not sure how soon I'll get to experiment with this, perhaps the next time I need a i18n site. Would be great to have this accessible somewhere in README w.r.t i18n, as a proposed solution. A blog post, showing a PoC repo or something. In an ideal world, eh? 😛 Thanks for your help, this seems to satisfy my original requirements 👍

[2018-02-28 01:52] mccrodp commented on #1114
Only improvement on this I can see is a way to unify the `en`, `pt` etc. versions of the same content on the CMS side of things, even a "Edit `pt` version" link from the `en` version of the content and visa versa and a way to link them (could simply be identical filename initially).

[2018-02-28 02:51] erquhart commented on #1119
Actually we _are_ setting the default as what you're seeing, a full date *and* time ISO8601, which is correct for the DateTime widget only. Opening a PR to fix default for the Date widget.

[2018-02-28 13:27] josephbuarao opened #1145 "Do you need Filipino Translation for Netlify CMS? I can help you."
Hi there,

Good day and how are you? I hope this message finds you well.

I am Joseph Buarao (@josephbuarao),  who has been doing high quality Filipino and Tagalog translations for several projects.

Consider this message as my letter of application. I am a web developer by profession and an experienced Utopian translator -these are on top of being an experienced web developer with more than 6 yea

[2018-02-28 13:59] #1145 closed

[2018-02-28 17:48] SureDroid opened #1147 "Netlify Api - Authorized no login"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When logging in wherever (netlify site, netlifycms site, etc), the api returns authorized in a new tab but does not actually login (login as in auto-delete the app netlify page and redirect url to netlify home admin, etc) after connecting to github for mobile (android).

**Steps to reproduce:**
Login n

[2018-02-28 17:51] tech4him1 commented on #1147
@SureDroid Can you share a link to your site?

Likely a duplicate of https://github.com/netlify/netlify-cms/issues/770.

[2018-02-28 17:59] tech4him1 commented on #1147
@SureDroid Can you share a link to your site and/or repo so that we can try to reproduce?

[2018-02-28 18:24] brianlmacdonald commented on #1139
Can I claim this one?

[2018-02-28 20:21] SureDroid commented on #1147
This does not involve custom domains at all. You can view it logging in to netlify. https://app.netlify.com
Also bug fixed? Been having this issue for the past two days, came back now and it's working w/ direct login. Something has changed. Anyway, it now works. So if something changed, thanks.

[2018-02-28 20:21] #1147 closed

[2018-02-28 21:16] tech4him1 commented on #1147
@SureDroid Glad it's working now! This repo is specifically for Netlify CMS, not Netlify.com, so you would need to contact their support anyway.

[2018-03-01 03:05] PizzaFox opened #1148 ""Cannot read property 'name' of undefined" when logging in"
**- Do you want to request a *feature* or report a *bug*?**
Bug
**- What is the current behavior?**
Every login displays the following warning popup: !![Error warning](https://i.imgur.com/0ivazcO.png)
`Cannot read property 'name' of undefined`
**- If the current behavior is a bug, please provide the steps to reproduce.**

- Log out
- Log in

**- What is the expected behavior?**
Logins do not displ

[2018-03-01 03:20] tech4him1 commented on #1148
@PizzaFox Can you link your repo (and site if possible)?

[2018-03-01 03:29] PizzaFox commented on #1148
[Live website](https://sjhsboosterclub.netlify.com/)
[Repository](https://github.com/PizzaFox/sjhs-booster-club)

[2018-03-01 03:47] PizzaFox commented on #1148
Using `localStorage.clear()` in the web inspector panel resolved this issue.

[2018-03-01 03:47] #1148 closed

[2018-03-01 16:08] mtully commented on #981
Bumping this up to the top. Going to take a crack at the duplication feature. I'm going to follow @ziburski design docs while accounting for the most recent interface items.

@erquhart do you see any potential conflicts or collisions in the editor or index views?

[2018-03-01 18:54] owenhoskins commented on #946
Thank you @erquhart, a few pointers if you would...

In #787 you comment:

**How do we commit that metadata?**

My best guess is that we would generate a blob with pica when the image has been uploaded within something like the mediaLibraries' `handlePresist` method. https://github.com/netlify/netlify-cms/blob/master/src/actions/mediaLibrary.js#L75

Beyond that I would need some guidance on the AP

[2018-03-02 03:28] SureDroid opened #1152 "Raw Edit File"
**- Do you want to request a *feature* or report a *bug*?**
Feature/Bug?

I am new to netlify cms. I have spent about four hours trying to figure out a way to add a way to raw edit a file in collections. (No markdown or anything, just direct edit and save). Is there any way possible, and if not could that be added?

Thank You.

[2018-03-02 03:53] tech4him1 commented on #1152
This config should work:
[code]

[2018-03-02 03:53] tech4him1 commented on #1152
Just trying to test and it seems like the CMS loads and saves the file as empty every time. Is this what you were running into @SureDroid? If so, there must be a bug there.

[2018-03-02 04:08] SureDroid commented on #1152
The text widget says that it takes multiple lines and saves them as string, is that one line? I thought that text saves it as only one line. What I am trying to do is be able to edit the config.toml for my site (victor hugo). I'll check if that works and come back,

[2018-03-02 17:52] tech4him1 commented on #1152
Nope, it should save whatever you type in (multiple lines).

[2018-03-02 17:53] tech4him1 commented on #1152
That's what I was seeing as well. I'll try to look into this hopefully later today or tomorrow.

[2018-03-02 18:24] tech4him1 commented on #1152
Relevant code line:
https://github.com/netlify/netlify-cms/blob/7caa15627744c4c01efdde73978b22b3cf72eea2/src/formats/formats.js#L71

[2018-03-02 18:28] tech4him1 commented on #1152
@SureDroid As a workaround for now, you should be able to set `format: frontmatter` on the collection.

Example:
[code]

[2018-03-02 22:01] erquhart commented on #1139
@brianlmacdonald all yours!

[2018-03-02 22:46] erquhart commented on #981
@mtully nope, @ziburski's design handles my concern, have at it :)

[2018-03-02 22:53] erquhart commented on #946
Metadata handling is kind of buried in the GitHub API, it's only in use for tracking details about the editorial workflow. We really need metadata to take on a life of it's own and have centralized, abstracted methods for storage and retrieval. That said, you can just do something similar to what we're doing already, and keep it in the backend as we currently are.

Here are examples of [retrieving

[2018-03-02 23:02] jeddy3 commented on #1013
I hope you don't mind me chiming in on this issue. I've some thoughts on the Code Formatting/Linting section that I'd like to share.

We recently started using the Netlify CMS at the children's charity where I work. It was fantastically easy to set up and the development team has been very impressed with it! So, I'd like to find some way to give back to this project.

I'm the co-creator of [stylel

[2018-03-02 23:15] erquhart commented on #1013
@jeddy3 great breakdown, thanks for taking the time to write it. We're about to get Prettier running in the above linked PR, #952, happy to have any improvements you'd like to contribute!

We're doing pretty much what you said in terms of config, trailing commas set to `"all"`, but with the default line width. I did consider moving to 100 characters, which is what we loosely an unofficially do cur

[2018-03-03 02:07] SureDroid commented on #1152
This does not work. First thing I saw when I (tried using formatmatter)[https://github.com/SureDroid/hugobuild/commit/708ddbf1f99cff2c6e1d9c7ededc58743ae45e6c] was that the page was that the text and preview was empty. I pasted in my current config and I took a [screenshot](https://imgur.com/a/BeeX4). Looking from it, I immediately saw that it was taken as a one line and the text was being wrapped

[2018-03-03 02:19] SureDroid commented on #1152
I tested editing a raw txt file (suredroid@d114a43169d45d4c0b3c15d1841caa815eee8774).

[2018-03-03 03:01] tech4him1 commented on #1152
TOML is a valid format, and it will work for this -- however, you have to define each line as a field, instead of just one main `body` field.

[2018-03-03 03:12] tech4him1 commented on #1152
@SureDroid

You can set this on the collection to turn the preview off:
[code]

My bad, you need to set `yaml-frontmatter` or `toml-frontmatter` instead of just `frontmatter`. It actually doesn't matter whether you use `yaml-frontmatter` or `toml-frontmatter`, since you are using a raw file instead of markdown. (I did test this with your config, so it should work.)

[2018-03-03 17:41] talves commented on #1132
@brianlmacdonald great job on #1146

[2018-03-03 18:54] talves commented on #1109
@erquhart do you think this issue should be a NetlifyCMS maintained feature (mono-repo) or would this be something we leave open for someone to take on outside the project as I suggested?

[2018-03-03 20:38] erquhart commented on #1109
Community, but we can leave this open for visibility.

[2018-03-04 03:45] #1119 closed

[2018-03-05 10:17] bjrn commented on #619
@verythorough Hi, I'm trying to wrap my head around this: so if I just like to have a relation field in a blog post called "tags", and it's a pretty much preset list (and a tag only has a name prop) … In order to build a usable relation field I then need to create a folder "tags" as a collection where each tag must have its own file?

I've seen plenty of examples having an authors.yml file where a

[2018-03-05 18:32] erquhart commented on #619
Yep, the relation widget works only at the `entry` level - it can select an entire entry and utilize a field within that entry. What you need is to search within a specific file in `files` type collection, and select multiple items from an iterable field within that entry. This isn't currently possible.

I would expect that this functionality could be patched onto the existing relation widget, and

[2018-03-05 23:34] tech4him1 commented on #1092
This has been partially fixed in #1093 -- if a file fails to load, all other entries in a collection will still work.

[2018-03-05 23:34] tech4him1 commented on #929
This has been partially fixed in #1093 -- if a file fails to load, all other entries in a collection will still work.

[2018-03-05 23:53] tech4him1 commented on #1092
@Benaiah Do you think we should fetch files by SHA all the time, or just when we get a 404?

[2018-03-06 00:10] bjrn commented on #619
Thanks for the pointers @erquhart! I'll take a closer look at the relation widget. Both PRs you mentioned seems to be inactive, but still functionality you'd like to see added to the project right?

Also, seems like there's a few other related WIPs: https://github.com/netlify/netlify-cms/pull/922 (multiselect for fixed values that can be set in the config.yml) and https://github.com/netlify/netlif

[2018-03-06 09:38] tomhamiltonstubber commented on #1046
This would be really good. At the moment we can only use the CMS for our blog as I don't want to have the images for the blog, feature pages etc all in the same folder.

[2018-03-06 15:18] tech4him1 commented on #1046
@tomhamiltonstubber For something like that, a possibly viable workaround would be to create a different CMS instance for each part (blog, site, etc). If you want to discuss more, we can chat on Gitter: https://gitter.im/netlify/NetlifyCMS.

[2018-03-06 17:02] Kilian opened #1156 "page tree manager [feature request]"
An important part for a CMS for me is the ability to add and remove pages as well as organise them into a page tree (so I can add eg a page "our vision" below an "about us" page with the slug /about-us/our-vision) that, ideally, also allows me to move pages around the page tree.

This page tree could then be used to generate both a menu for use around the site (so that you don't have to manually d

[2018-03-06 19:15] erquhart commented on #619
@bjrn good point. The author of #1100 is very open to help, and I've added comments based on what was discussed here, let's move this conversation to that PR.

[2018-03-06 20:40] erquhart commented on #1156
I'm going to set aside the menu and sitemap concerns and first focus on page creation. To do what you're describing, I would expect that you'd have an "About" collection in your configuration, so editors can add whatever pages they like. Again, besides the menu and sitemap, why wouldn't this work for your use case?

[2018-03-06 22:30] thebetternewt commented on #1119
Thanks guys!

[2018-03-06 23:35] erquhart opened #1159 "Untouched values being transformed"
**- Do you want to request a *feature* or report a *bug*?**

bug

**- What is the current behavior?**

Example case: date field read in from a file not created by the CMS is reformatted by the date widget, without any edits to the field.

**- If the current behavior is a bug, please provide the steps to reproduce.**

* Manually create a file that has a date field using format 'YYYY-MM-DD'
* Config

[2018-03-06 23:38] erquhart opened #1160 "Preview pane error"
**- Do you want to request a *feature* or report a *bug*?**

bug

**- What is the current behavior?**

When the editor is open an error is generated:

http://facebook.github.io/react/docs/error-decoder.html?invariant=40

This same kind of bug surfaced a while back via `react-frame-component`, and was addressed in https://github.com/ryanseddon/react-frame-component/pull/88. Seems to have resurrecte

[2018-03-07 03:35] Kilian commented on #1156
That only lets you manage the single leaf of a subtree. I need people to be able to also add new top level pages, as well as add new pages below the ‘vision’ page and any other page in any other part of the tree, theoretically ad infinitum.

In other words: I want to be able to edit the whole page tree through a cms without intervention by a developer.

[2018-03-07 03:50] erquhart commented on #1156
Okay, I understand you're look for an open ended structure. How would you expect to set boundaries or ensure the right kinds of pages end up in the right place?

[2018-03-07 08:44] 01ivr3 commented on #325
Does anyone know how to use NetlifyCMS to manage media images stored as ["Page Resources"](http://gohugo.io/content-management/page-resources/) (relative to page collections they are used on in [Page Bundles](http://gohugo.io/content-management/organization/#page-bundles))?

This is needed to use Hugo's new native [image processing](http://gohugo.io/content-management/image-processing/).

[2018-03-07 08:54] Kilian commented on #1156
Most CMS systems seem to do this by decoupling the website structure (page tree) from the contents of individual pages. So you can make a page tree like this:

* home
* about us
  * ourvision
* news
* contact

Which are all "pages" (defined as "having a slug and a position in the tree"). You can then add the "blog" collection to the "news" page. The blog collection would then provide further uri f

[2018-03-07 10:34] 01ivr3 commented on #432
This could also be a good workaround for not being able to store images to page collections, which prevents NetlifyCMS from working with Hugo's new native image processing ref: https://github.com/netlify/netlify-cms/issues/325

[2018-03-07 14:30] tech4him1 commented on #325
@01ivr3 It actually is possible to use Hugo's image processing with a single media folder, see https://stackoverflow.com/questions/48213883/image-processing-outside-bundles.

[2018-03-07 19:17] Zinenda opened #1161 "Can't access my admin"
**- Do you want to request a *feature* or report a *bug*?**

**- What is the current behavior?**

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**

**- Please mention your CMS, node.js, and operating system version.**

**- Please link or paste your `config.yml` below if applicable.**

[2018-03-07 19:19] tech4him1 commented on #1161
@Zinenda Please ask on our Gitter channel: https://gitter.im/netlify/NetlifyCMS

[2018-03-07 19:19] #1161 closed

[2018-03-07 22:15] 01ivr3 commented on #432
+1 for Cloudinary and Imgix

[2018-03-07 22:34] 01ivr3 commented on #325
@tech4him1 very cool! Thank you for the heads up.

Do I have it right that this method can be made to work with NetlifyCMS' media management as long as the images are added to pages using the image widget? Meaning, it will break the ability to use add images using the Media Library from within the markdown widget's wysiwyg editor?

[2018-03-08 01:26] talves commented on #325
@01ivr3 you can use my method if you are not worried about page bundling your assets in the same paths as your pages. You would have to store all original images in one media folder location. The issue is the location of the preview when you add the image into the markdown because there is not a way to translate back the image to the preview correctly from Hugo. We would have to write a custom wid

[2018-03-08 10:03] cmontgomerymt opened #1163 "Custom preview not rendering until image added"
**- Do you want to request a *feature* or report a *bug*?**
Bug
**- What is the current behavior?**
when using a custom preview template, the preview is not rendering until an image is added

**- If the current behavior is a bug, please provide the steps to reproduce.**
create and register preview template:

blogpreview.js
[code]
In this case I am creating the file and linking to it, because I int

[2018-03-08 11:59] erquhart commented on #1163
`thumbnailImage.toString()` is probably throwing an error and crashing the iframe on every render until `thumbnailImage` has a value. Check the console to confirm.

If that's the case, just make sure `thumbnailImage` has a value before attempting to use its `toString` method.

[2018-03-08 13:52] crgeary commented on #432
+1 for Cloudinary & S3.

* * *

@01ivr3 if you set the uploads directory for assets to `/content/uploads` you can then use those images as page resources, and then are able to crop/resize etc :)

Something similar to this will work:
[code]

[2018-03-08 16:09] speexy opened #1164 "Prevent overwriting existing file"
**- Do you want to request a *feature* or report a *bug*?**
BUG

**- What is the current behavior?**
When I add a file with the same title as an existing one and my slug equals title, the existing file is overwritten.

**- If the current behavior is a bug, please provide the steps to reproduce.**
make sure your slug equals title. add a file, choose a title that is already used by another file, sav

[2018-03-08 16:14] tech4him1 commented on #1164
In my opinion, a warning is the most reasonable option until #445 is done. @erquhart @talves @Benaiah

[2018-03-08 23:30] whmountains commented on #793
@erquhart To answer your question I would create a subscriber interface, which a HoC within the preview pane can access.  Similar to how react-redux works with `connect` wrapping the `store.subscribe` api.  In fact, I would copy the react-redux api as much as possible since it's performant and everyone knows how to use it.

You could also have another HoC which would wrap the entire preview pane a

[2018-03-08 23:35] whmountains commented on #793
AFAIK netlify-cms uses redux under the hood.  Could you just expose the store inside the iframe?

Everything from EditorPreviewPane on down would be incorporated into the custom build running inside the iframe.

Just throwing out ideas.  I'm not very familiar with the codebase or all the caveats a system like this would introduce.  It just seems that netlify-cms's preview interface is breaking cor

[2018-03-09 01:17] cmontgomerymt commented on #1163
Awesome!
Thank you for the insight. I was too caught up in the element inspector and total forgot to look in the console.

Thanks again!

[2018-03-09 01:17] #1163 closed

[2018-03-09 20:56] brianlmacdonald commented on #1164
Can I claim this?

[2018-03-09 21:05] tech4him1 commented on #1164
@brianlmacdonald That would be great, thanks!

[2018-03-09 22:26] talves commented on #1164
I agree, this should be a warning until #445 then let the user decide how they want to resolve.

[2018-03-10 00:21] robertgonzales commented on #793
For anyone using [emotion](https://emotion.sh/), I solved this issue by using SSR on the fly to extract the css and then inject it into the nearest document (iframe) head. Very hacky but it works.

[code]
It works by wrapping your preview template:
[code]

[2018-03-10 00:32] erquhart commented on #793
That will be much less hacky once #1162 lands. Any library that can export strings will be covered at that point.

Anyone up for talking @maxstbr into exporting strings from styled components?

[2018-03-10 01:23] erquhart commented on #793
On second thought that PR won't help for the emotion case at all. I'm also thinking that what you've done really isn't hacky, especially considering how you moved it into a component. This might find it's way into the docs lol

[2018-03-10 03:18] tech4him1 commented on #589
Helpful read: http://2ality.com/2017/04/setting-up-multi-platform-packages.html

[2018-03-10 09:44] mxstbr commented on #793
styled-components has a way to target an iframe <head> as it's injection point:

[code]

Any styled component within `App` will now inject it's style tags into the target elem! Maybe that's helpful?

[2018-03-10 13:15] erquhart commented on #793
I was just looking at `StyleSheetManager` recently and wondering if it might work for this - looks like it should!

@whmountains care to give it a go and let us know?

[2018-03-10 14:39] mxstbr commented on #793
Note that the target feature was only introduced in v3.2.0 and isn't documented just yet: https://www.styled-components.com/releases#v3.2.0_stylesheetmanager-target-prop

[2018-03-10 20:46] hcavalieri opened #1166 "Internationalization of the CMS"
**- Do you want to request a *feature* or report a *bug*?**
Request - adding internationalization behaviors to the CMS

**- What is the current behavior?**
Devs must duplicate collections/files in order to provide multilingual support for the content and the CMS itself is a bit of a pain to translate.

**- What is the expected behavior?**
_For the admin:_ The interface translates itself automagica

[2018-03-10 21:26] hcavalieri opened #1167 "CMS visual builder (config.yml generator)"
**- Do you want to request a *feature* or report a *bug*?**
Feature: a *visual CMS builder* that generates your config.yml to speed up development process and make it easier for newcomers to use NetlifyCMS.

**- What is the current behavior?**
We have to write 50k+ mostly repetitive characters of config.yml and lose our heads when changes need to be made. Validation is also non-satisfactory and al

[2018-03-11 18:45] alfiepates opened #1168 "Documentation on running Netlify CMS sans Netlify"
I'm attempting to deploy Netlify CMS for my Hugo-driven site which lives on my own servers.

The impression I get from the docs is that I need to tie into Netlify's authentication _somehow_ or run a bunch of my own infrastruture to handle the authentication, but the extent to which isn't particularly well documented.

Is there any more information on self-hosted Netlify CMS authentication than is

[2018-03-12 15:12] anthonysapp commented on #1066
I've just added a PR to address this. Let me know what you think! Go easy, it's my first one :)

[2018-03-12 16:03] jmo808 commented on #1168
This has been asked about before. The problem is GitHub requires a server-side component in order to be able to do Oauth authentication. There are other implementations talked about in the Netlify CMS docs other than the git-gateway service. I used the "GitHub" backend with the node.js based GitHub auth microservice. It's ridiculously easy to deploy. I deployed a free Azure Web App then linked the

[2018-03-12 22:13] rbvea commented on #941
Hi! Just checking in here.  Seems like in the linked issue there is a configuration option for the session lifespan.  Any idea on how to configure it so it's another value other than an hour?  Thanks!

[2018-03-13 17:43] jcsibon commented on #818
Hi guys, any further thoughts on this issue ?
I guess the problem can be bypassed using Basic-Auth, but i don't now how to apply it only to non admin urls... Something like this :
`
/*
  Basic-Auth: dev:lasagne
/admin
  Basic-Auth: public
`
Any clue ?
Thanks !

[2018-03-13 22:24] Benaiah opened #1171 "(WIP) Backend restructure - Integrations"
Integrations
============

What are they?
--------------

<details>
<summary>Expand...</summary>

Integrations hook into a number of different places in the CMS to replace different calls, most (all?) of which would normally go to a backend. Currently the assets store (at least) requires additional work There are currently two integration providers:

-   Algolia: wraps searching and entry retrieva

[2018-03-14 01:41] futuregerald commented on #941
I got around this in one of our production sites by using snippet injection to add the following code block in a `<script>` tag:

        const maxRefresh = 30;
        let iteration = 0;
        let currentExpiry;
        const refreshAttempt = () => {
        if (netlifyIdentity.gotrue.currentUser()) {
            if (iteration <= maxRefresh) {
            netlifyIdentity.gotrue

[2018-03-14 18:11] erquhart commented on #1156
Right, I'm more looking for a concrete example of a static site generator that can read site structure from a file somehow. Know of any?

[2018-03-14 18:48] erquhart commented on #1166
Love the UI concept here @hcavalieri!

Regarding the UI itself, we have the same kind of setup described by Snipcart in a PR that's very close to ready: https://github.com/netlify/netlify-cms/pull/974

For the i18n field concept, individual widgets would probably have to opt in and handle their own UI, but we could maybe provide a default component like the one in your screengrab.

[2018-03-14 19:00] Benaiah commented on #1166
Internationalization that's based on separate files should probably wrap the tab container around the entire editor view instead of a specific widget, *unless* we want to ensure that all other fields remain the same in both (in which case, what do we do if they diverge?). The UI in the screenshot seems to correspond more closely with an internationalization scheme that uses different keys on the s

[2018-03-14 19:01] erquhart commented on #1066
@anthonysapp rock on, checking it out soon!

[2018-03-14 19:05] erquhart commented on #1168
Yep, @jmo808 is right, that's the documented approach. Closing, but comment and I'll reopen if there's anything missing here.

[2018-03-14 19:05] #1168 closed

[2018-03-15 03:39] 01ivr3 commented on #325
@talves & @tech4him1 thank you both your help.

I've got a site I'm working on setup to use Hugo's built-in image resizing with images stored to a single folder, as per @talves StackOverflow examples. But I am a bit confused on the optimum way to configure this with NetlifyCMS.

If I stored images that I want to be both CMS manageable and accessible to Hugo's image resizing to a single `/site/cont

[2018-03-15 03:54] nodox commented on #727
What is the status of this issue? Would love a way to unpublished a post after a fixed amount of time has past. Think expiring job posts.