[2020-12-15 14:28] acarnwath commented on #4570
Thanks @smashercosmo - I was missing the connection in gatsby-config, this works!
For those that find this looking for Federalist, it is `process.env.BRANCH` and `process.env.NODE_ENV` is the same as above.

[2020-12-15 14:28] #4570 closed

[2020-12-15 14:32] erezrokah commented on #4728
Hi @nolafs, if Netlify Identity is set to open than means anyone can register and use the CMS - so good thing you disabled it.

You could use a different authentication mechanism (I'm assuming you're using `git-gateway` backend):
https://www.netlifycms.org/docs/github-backend/

That way only users with a GitHub account that has access to the repo can use the CMS.

I'm not sure I understand this.

[2020-12-15 17:20] erezrokah commented on #4669
Hi @emileswain, does the following work for you:
[code]

[2020-12-15 17:47] erezrokah commented on #4728
Closing the issue as I believe it is answered. Please comment if you have further questions.

[2020-12-15 17:47] #4728 closed

[2020-12-15 17:48] nolafs commented on #4728
Thanks

[2020-12-15 20:47] wslyvh opened #4729 "CMS events don't update i18n content values"
I'm trying to use CMS event listeners with i18n enabled.
I realize both are beta features and might not be in a state that is sufficient for my use-case.

What I'd like to achieve is to automatically translate content from the default lang into the other language(s). I was thinking of:

1. catch a preSave (or prePublish) CMS event, using cms.registerEvents
2. take the data (or certain fields) from

[2020-12-15 22:26] theredwillow opened #4730 "Add the "delete" property to file-level configurations"
@tomrutgers is frequently having to address beginners who think they can add the "delete" property to "file"'s themselves. However, you can currently only add it to the "collection"'s.

https://github.com/netlify/netlify-cms/issues/1937#issuecomment-444877801
https://github.com/netlify/netlify-cms/issues/2481#issuecomment-547281102

This would be very helpful for situations (like pages) where you'

[2020-12-15 23:00] kylesloper commented on #4649
Do we have an update on this at all?

[2020-12-15 23:01] alexboots commented on #2335
Is there any work around for this? I also need the editorial workflow working locally.

[2020-12-15 23:38] alexboots commented on #2335
I appears using MODE=git does make the editorial workflow show up but, it doesn't work correctly - it breaks if you try and save anything. Not sure why that is the case.

[2020-12-16 07:04] hugurp opened #4731 "Cannot login with Github, on a live domain, when cms in Open authoring mode, but works fine on localhost"
Hello!

**Describe the bug**
When netlify-cms is setup in `open_authoring` publishing mode, login with github works locally, but not when the site is live (github page + custom domain).

**To Reproduce**

([jsbin example](https://jsbin.com/laralukaqe/edit?html,js,console,output))

- A minimal netlify-cms setup with a repository setup for open authoring, and a default collection (steps here: https:

[2020-12-16 07:08] tonyketcham commented on #4725
I'm working on a PR for this!

[2020-12-16 09:32] katcoutts commented on #4725
Yes @tonyketcham - that's exactly what I'm after. Fantastic. Do you have any idea on a likely timeframe?

[2020-12-16 10:28] erezrokah commented on #4729
Hi @wslyvh, you're correct this is not supported yet.
May I suggested that you run the translation during the build process? That is, when querying the data during Gatsby's build you can call the translation API and add the missing information

[2020-12-16 10:30] erezrokah commented on #2335
Hi @alexboots can you please open a new issue for that and add supply the information in the issue template?

[2020-12-16 10:40] erezrokah commented on #4731
Hi @hugurp, did you follow [step 1](https://docs.netlify.com/visitor-access/oauth-provider-tokens/#using-an-authentication-provider) in https://www.netlifycms.org/docs/github-backend linked from https://www.netlifycms.org/docs/open-authoring/?

Using a GitHub backend requires a backend service to facilitate authentication since GitHub doesn't support implicit auth.
You can set one up [using Netlif

[2020-12-16 11:10] hugurp commented on #4731
Ah no!
I did not, I thought it was independent from the Github backend and netlify services.
Will try this, and I guess it should work.

Sorry for the wrong-issue then.

[2020-12-16 12:26] hugurp commented on #4731
The issue above was not a bug but a misunderstanding from my side.

To sum it up:

`netlify-cms` with `open-authoring`:
- needs to use github backend (with or without graphql)
- this means that you need a backend service for handling user authentication against github api (middleware)
- for this reason, it is "easier" to host the site serving the netlify-cms instance on netlify.app servers, as it

[2020-12-16 12:26] #4731 closed

[2020-12-16 12:58] wslyvh commented on #4729
Got it. Thanks for the confirmation.

We were considering to use CMS events, to avoid bloating the build process too much. But I think that would work, yes.

Is there an easy way to update the actual MD files, so that the translated content would still show up in the CMS?
Or would you recommend to use onCreateNode//createNodeFields to add the translations?

[2020-12-16 13:04] erezrokah commented on #4729
If the content/translation is autogenerated I recommend doing it in the build process and not the CMS.

You could still commit the changes back to the repo during the build but I wouldn't got that way since it can create other issues (push access to builds, triggering another build during a build, etc.)

If you really want to update the content from the CMS you could change the MD file directly us

[2020-12-16 14:28] shaiktaabish opened #4732 "Error loading the CMS configuration"
Getting this error even after rechecking all my fields
<img width="520" alt="Screenshot 2020-12-16 at 7 58 11 PM" src="https://user-images.githubusercontent.com/51703228/102361251-08060f00-3fd9-11eb-9741-1a2a32d12e0a.png">

Config Errors:
'collections[2].fields' fields names must be unique
'collections[3].fields' fields names must be unique
Check your config.yml file.

[2020-12-16 14:35] erezrokah commented on #4732
Hi @shaiktaabish, can you please follow the issue template and share your `config.yml`?

[2020-12-16 14:47] wslyvh commented on #4729
That's what I was thinking. Thanks for that.

Maybe one more question on CMS events + i18n, are there any plans and/or timelines to support that?

[2020-12-16 15:02] erezrokah commented on #4729
We don't have a timeline for it, but a contribution will be great

[2020-12-16 16:32] theredwillow commented on #475
I am confused as to what this issue is supposed to pertain to. I read the original post as "There should be a way to reorder collections (i.e. the list that appears on the left of the admin page)", but your reply as "There should be a way to reorder `relation` widgets that have a `multiple` tag". Are these separate feature requests?

Reordering collections
![Reordering Collections](https://user-im

[2020-12-16 16:33] davidhund commented on #4649
👍 I'm quite new to Netlify CMS and wondered why I currently do not see a preview of my markdown post at all — the preview is both unstyled, but also the 11ty `njk` templates are not processed. It seems to be showing the 'raw' markdown instead…

I might be completly misunderstanding what Netlify CMS provides out of the box however, since I did read about some `Custom Preview Templates` or something

[2020-12-16 16:36] kylesloper commented on #4649
Do your previews work locally and then not after site build. If they don't even work locally this isn't the right issue for you.

[2020-12-16 16:39] davidhund commented on #4649
Not even locally…
Are you aware of any good discussions re: 'em working at all?

[2020-12-16 17:34] koxanybak opened #4733 "Option min/max not working for lists"
**Describe the bug**
min/max not working for lists

**To Reproduce**
Apply the configuration below or just a configuration with the the collection I described.

**Expected behavior**
Publishing should not be allowed if the list has more or less objects than the min/max.

**Applicable Versions:**
 - Netlify CMS version: netlify-cms-app 2.12.19, netlify-cms-core 2.30.3
 - Git provider: GitLab
 - OS:

[2020-12-16 20:56] tonyketcham commented on #4725
I should have a solution up by next week but I can't speak to if/when my PR would get integrated, so stay tuned

[2020-12-17 13:57] d4rekanguok commented on #475
@theredwillow That's a nice idea! I found an [example of reordering selected items with `react-sortable-hoc` in the react-select doc](https://react-select.com/advanced#sortable-multiselect) so it could be a low-hanging PR if someone is interested in bringing this in.

I think this issue is actually about sorting the order of entries inside a collection, not changing the order of collections in the

[2020-12-17 16:51] pmpinto opened #4735 "Date in filename should reuse an existing date field when available"
**Is your feature request related to a problem? Please describe.**
Yes!
When I have a `date` field and in the `slug` property I mention `{{day}}` the value outputted will come from today's date, regardless of a value in the `date` field.

**Describe the solution you'd like**
Whenever there's a field from which a date can be inferred, like `date`, the `slug` property should inherit that day for all

[2020-12-17 17:05] pmpinto opened #4736 "Can we have snippets?"
**Is your feature request related to a problem? Please describe.**
No.
We would like our content team to be able to easily introduce blocks of text or even custom tags directly from the CMS without the need to copying from somewhere else and pasting it in the CMS.

**Describe the solution you'd like**
Following the same approach Netlify CMS already uses for folder collections, we could have a _spe

[2020-12-17 17:35] smashercosmo commented on #4725
This feature is also very important if you use netlifycms + next.js. Because next/image component can use cloudinary (and other image providers) to optimize images, but it only works with relative urls.

[2020-12-17 17:36] tonyketcham opened #4737 "Markdown widget does not support content modification by Grammarly"
**Describe the bug**

**Note:** This _could_ be an issue with Grammarly and _not_ NetlifyCMS, but this is the only platform that I've experienced this issue with. It does not occur with any other markdown/ WYSIWYG/rich text editor I've used.

Text in the `markdown` widget is not updateable by Grammarly. Selecting the extension's suggested grammar fixes dismisses the error notification that the ext

[2020-12-17 19:07] pmpinto opened #4738 "List widget with +200 options refuses to load completely"
**Describe the bug**
I have a `list` widget (country picker) with more than 200 entries.
2 issues occur:
1. When editing an already existing record, the value in the `country` field (let's say `united_kingdom`) to which this `list` is writing/reading appears at the top of the list, before the A.
2. After clicking, the options appear, but when scrolling it always gets stuck in the 20th item. When s

[2020-12-17 19:15] erezrokah commented on #4738
Hi @pmpinto, can you clarify if this issue is about loading `country_flags` list widget or loading `country` relation widget referencing the `country_list` file?

[2020-12-17 20:01] pmpinto commented on #4738
Hey @erezrokah!
The country list on its own is fine, it completely loads and renders all the +200 options on the page.
The issue seems to be related to the relation part.

Does this help?

[2020-12-18 14:22] wslyvh commented on #4729
Got it. Thanks again.

I'll have a look at contributing, but I think in this case it'll likely be quicker for our current use-case to find an alternative solution.

[2020-12-19 16:29] hugurp commented on #4385
There seems to be on the map widget HTML `canvas` element, a `display: none`.

When disabled in dev tools, and the viewport resized, the map shows correctly!

No idea where the problem comes from otherwise, but also having it on `npm:latest`.

[2020-12-19 22:29] bigcurry opened #4739 "Next.JS Starter Template is Not Allowing for An Admin Invite"
**Describe the bug**
When creating a new Next.JS blog from the starter template, the admin email does not actually have an admin registration modal pop up.

**To Reproduce**

**Expected behavior**
I tried this out with Gatsby and it works

I believe this is a bug, I am still new to Netlify so please excuse me if this is inappropriate.

[2020-12-20 09:18] erezrokah commented on #4739
Hi @bigcurry, this seems like a duplicate of https://github.com/wutali/nextjs-netlify-blog-template/issues/13
I'm closing this issue in favor of that one.

[2020-12-20 09:18] #4739 closed

[2020-12-20 11:31] erezrokah commented on #4649
Hi @kylesloper, I forked your repo and deployed to Netlify.
The styles are displayed correctly on my live site:
![image](https://user-images.githubusercontent.com/26760571/102712149-6c6dea80-42c7-11eb-8d75-7cb000944d0e.png)

Could this be a caching/browser issue?
Do you mind trying building with clearing cache on Netlify then with a different browser/private mode with no extensions.

[2020-12-20 16:10] lrq3000 opened #4741 "Recursive folder collections"
This is a follow-up to #513.

[Folder collections](https://www.netlifycms.org/docs/beta-features/#folder-collections-path) now allows to walk through a specific level of folders to retrieve content. However, it has two major limitations:

* The number of levels (levels depth) is limited.
* It's not obvious how new pages can be created under a specific subfolder.

A natural scheme for organizing mu

[2020-12-20 16:14] erezrokah commented on #4741
Hi @lrq3000, please see:
https://www.netlifycms.org/docs/beta-features/#nested-collections
https://github.com/netlify/netlify-cms/issues/3227

And example:
https://github.com/netlify-labs/netlify-cms-widget-parent

[2020-12-20 16:20] erezrokah commented on #4741
Closing this issue, If you have a specific use case the beta feature doesn't address please open a new one

[2020-12-20 16:20] #4741 closed

[2020-12-20 16:56] lrq3000 commented on #4741
@erezrokah Ah I didn't see there was a Beta section in the docs! Thank you so much for your awesome work on this feature!

I'm still running into some issues but so far it at least detects all my files, even those that are not named index.md, so I guess the discussions [here](https://github.com/GSA/digitalgov.gov/issues/3168) and [here](https://github.com/netlify/netlify-cms/issues/3227#issuecomme

[2020-12-20 16:59] lrq3000 commented on #513
For those who need fully recursive nested collections without a predefined limit on the level/path template, check out https://www.netlifycms.org/docs/beta-features/#nested-collections (thanks to @erezrokah once again!)

[2020-12-20 17:01] lrq3000 commented on #4741
Hold on I may have found why.

[2020-12-20 17:37] lrq3000 commented on #4741
Ok I have found why, it's because I didn't respect the proper organization as mentioned [here](https://github.com/GSA/digitalgov.gov/issues/3168) but not in the doc, which is to have one index.md file per subfolder, and any subpage should get its own subfolder. I can work around that no problem.

What is strange is that even when not respecting the expected file structure, the nested collection do

[2020-12-21 10:40] mdejuan commented on #4419
Hi @blairanderson did you find any solution for this?

[2020-12-21 17:07] erezrokah commented on #4741
The widget is not part of the CMS core and publish separately and published here:
https://netlify-cms-widget-parent.netlify.app/netlify-cms-widget-parent.js

note this is more of an experiment/example and not officially supported.

[2020-12-21 17:17] blairanderson commented on #4419
@mdejuan no I didn't. I would like to use react-draft wysiwyg but have not attempted to implement a custom editor.

[2020-12-21 18:30] lrq3000 commented on #4741
Ahhh I see, thank you very much for the clarification!

I argue this widget type should be integrated ASAP! It's very necessary to manage nested collections with a good user experience! Great job once again! :D

[2020-12-21 23:16] lrq3000 opened #4753 "Edit API gets confused with nested collections"
I am using both the beta features [nested collections](https://www.netlifycms.org/docs/beta-features/#nested-collections) combined with [open authoring](https://www.netlifycms.org/docs/open-authoring/) to allow for edits from external contributors. My use case is [an opensource documentation project](https://stackbit-gatsby-theme-diy-libris.netlify.app/docs).

As indicated in the open authoring do

[2020-12-22 00:50] krodelabestiole opened #4754 "link on image / clickable image in the markdown widget"
since it's possible to have a link on an image in markdown :
`[![alt-text](image.jpg)](http://www.example.com/)`
would it be possible to have a link option (or any way to add an URL graphically) for the image field ?

(I've looked for an issue about that and could not find any, sorry if I missed something)

[2020-12-22 06:48] erezrokah commented on #4754
Hi @krodelabestiole, is [this][https://github.com/netlify/netlify-cms/issues/1293]) what you're looking for?
We have an ongoing PR https://github.com/netlify/netlify-cms/pull/4700 for it.
If that's not your use case, can you please follow the issue template https://github.com/netlify/netlify-cms/issues/new?labels=type%3A+feature&template=feature_request.md&title=Please+replace+with+a+clear+and+des

[2020-12-22 07:03] krodelabestiole commented on #4754
No, it is not.

I will try :

**Is your feature request related to a problem? Please describe.**

I would like people who edit content using Netlify CMS and its markdown widget to be able to insert clickable images in their markdown content.
Clickable images would be hyperlinks images (instead of the more classic hyperlink text).
I don't think it's much recommended by the W3C, but it's widely used

[2020-12-22 07:18] erezrokah commented on #4754
I think this is a use case for https://www.netlifycms.org/docs/custom-widgets/#registereditorcomponent WDYT?

You could write one based on https://github.com/netlify/netlify-cms/blob/04bc8ee74c493e5d6aa2842825670e10b31fb17f/packages/netlify-cms-editor-component-image/src/index.js

[2020-12-22 07:24] krodelabestiole commented on #4754
Might be, but I highly doubt I am the only one interested by this feature...
Think about all the thumbnails that display the bigger images when clicked, the t-shirt picture that brings you to the corresponding e-commerce article, the thumbnail that brings to the full article, video or whatever....

[2020-12-22 11:45] mistermantas opened #4755 "Adding Lithuanian TRANSLATION"
Hi,

I want to make a PR for a Lithuanian translation.

I found this issue from the start of 2020:

https://github.com/netlify/netlify-cms/pull/3141

Is this the correct way to do it? Should I do it for a separate repository? Not quite sure about the procedure since it's been a long time since I've written JavaScript haha. Trying to follow along with this instruction in the meantime, that is, unti

[2020-12-22 12:05] erezrokah commented on #4754
Features are usually implemented based on issue up votes count, so it would make to integrate in the core once it has enough up votes.
Writing a custom editor component for that and sharing its code here would be a good start.

[2020-12-22 12:06] krodelabestiole commented on #4754
ok, thank you !

[2020-12-22 12:11] erezrokah commented on #4755
Hi @mistermantas, that's great thank you!

The PR you linked is the right way to do it. I suggest using:
https://github.com/netlify/netlify-cms/blob/master/packages/netlify-cms-locales/src/en/index.js

as a baseline as it is has all the translations.

[2020-12-22 12:17] mistermantas commented on #4755
Perhaps I am too eager, but do you know when the translations could be merged / go live?

[2020-12-22 12:32] erezrokah commented on #4755
Usually we do it in a few days/less, but I can guarantee a timeline (especially now due to upcoming holidays).

[2020-12-22 13:34] smashercosmo opened #4756 "Remove connected-react-router"
**Is your feature request related to a problem? Please describe.**
Not really a problem. It just seems that it's not being used anywhere.

**Describe the solution you'd like**
Just remove everything related to connected-react-router

[2020-12-22 13:35] erezrokah commented on #4756
Sure makes sense if you're not using the routing redux state anywhere.

[2020-12-22 15:01] mdejuan commented on #4419
Thanks @blairanderson
I am using a javascript library (showdownjs) to parse into HTML, but looks like some elements such as bullet list, etc are not well parsed; also the editor is not displaying the double break lines, etc. I have spent 3 days to integrate that into a website and now I have to look for another alternative.

[2020-12-22 20:40] fool opened #4760 "Don't discard edits when receiving an API_ERROR from git"
**Describe the bug**
In case I receive an API_ERROR when hitting "save" on edits to an existing doc, my edits are discarded (page gets reloaded from git after the error, I think?)

Further, If I am not "watching" the CMS screen after hitting save, I don't even see the error, but it is not obvious that the save failed, so I can hit "publish now" but my edits do not get published (nothing does, it's

[2020-12-23 04:47] acarnwath commented on #4570
Just a little more context - `process.env.BRANCH` is not available on the client-side which is where this cms.js is processed, so there is another step here to expose it. Theoretically, based on Gatsby's documentation and @smashercosmo 's example above, you should be able to set a property on `process.env` that starts with `GATSBY_` and it will expose it on the client side (when referenced specifi

[2020-12-23 10:59] erezrokah commented on #4760
Hi @fool I believe this was fixed in https://github.com/netlify/netlify-cms/pull/3418 and we also handle branch names conflicts - the CMS will back up the existing branch instead of failing. This was done in https://github.com/netlify/netlify-cms/pull/3879/files#diff-5775cb662532fea58aa1be37c40e9714d5634b182126d96542cff4602b2d41e0R1284

https://github.com/netlify/netlify-cms/pull/3418 was fixed in

[2020-12-23 15:11] AaronPowell96 commented on #4676
I dont think thisis is a NextJS specific issue. I am manually generating my static content and have the same issue, same error etc :)

[2020-12-23 16:50] jeremyzilar commented on #3682
Thank you @Lane !

[2020-12-23 19:15] fool commented on #4760
awesome news!  I think that is a one-change replacement, right?  Changing
this line:

`  <script src="https://unpkg.com/netlify-cms@2.10.32/dist/netlify-cms.js
"></script>`

to...something newer?  Am I reading here (
https://github.com/netlify/netlify-cms/releases) correctly that `2.10.77`
is the latest and will that include those cms-app updates?

On Wed, Dec 23, 2020 at 3:00 AM Erez Rokah <notif

[2020-12-23 19:22] erezrokah commented on #4760
Yes, you're correct on both.

You can also use `<script src="https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js"></script>` (notice the `^`) to get `semver` based updates.

[2020-12-26 20:00] eybbus opened #4763 "Nextjs guide produces TypeError: Expected [K, V] tuple: �"
**Describe the bug**

[https://www.netlifycms.org/docs/nextjs/](https://www.netlifycms.org/docs/nextjs/)
Guide might be outdated or wrong.

at end of "adding netlify cms" step it produces this page error

**To Reproduce**

1. go setup nextjs project as guided at https://www.netlifycms.org/docs/nextjs/
2. after pasting configuration into public/admin/config.yml file go to [localhost:3000/admin/inde

[2020-12-27 10:55] MarijnKoesen commented on #3704
I took a look at this as I need it too, but currently I don't think it's possible because:
* There is no `/api/v4` endpoint to fetch LFS content. The gitlab [API endpoints](https://docs.gitlab.com/ee/api/repositories.html) only return the LFS Pointer files, but it doesn't offer the possibility to get the real content.
* You can get LFS content by communicating with`${PROJECT}.git/` endpoints, but

[2020-12-28 01:12] logemann commented on #1794
dont see the benefit at all when not being able to select already uploaded files.

[2020-12-28 12:02] eybbus commented on #4763
Never mind, something must have gone wrong while editing a bunch of files. it works now.

[2020-12-28 12:02] #4763 closed

[2020-12-28 15:51] arctiqtim commented on #4695
Hi there ... this link still takes you to a signup requiring a netlify.com email address.  :(

[2020-12-28 18:25] timmehhh7 opened #4777 "Issue with loading draft blog entries - Jekyll"
**Describe the bug**
Creating a new post/blog with a Jekyll site works and a draft is created.  However reviewing that same post later via the `workflow` tab, produces some odd results and the card does not load all fields properly.

**To Reproduce**
1. Create a new post and save
2. Leave the page or have another user login and open up the card sitting in drafts from above

**Expected behavior**
T

[2020-12-28 19:29] danielmoessner opened #4778 "netlfiy-cms-locales | German "der / die / das" fix on newButton"
In German there can be der / die and das in front of a word.

English | German
the car | das Auto
the woman | die Frau
the man | der Mann

The current translation for newButton is Neue(r) which misses "das", because Neues Auto would be correct and Neue or Neuer Auto is wrong.

Therefore a better translation would be:
Neue(r/s)

[2020-12-30 13:04] logemann opened #4781 "i18n: multiple-folders create invalid image references"
**Describe the bug**
when using:

[code]

A new (localized) item in a collection with an image widget results in the following folder structure:

/src/pages/portraits/de/lord-voldemort/index.md
/src/pages/portraits/en/lord-voldemort/index.md
/src/pages/portraits/lord-voldemort/image.jpg

both of the mardown files look something like that (after creating a new item in the UI and uploading an image

[2020-12-30 13:17] logemann opened #4782 "missing type: registerEventListener in netlify-cms-core"
**Describe the bug**

while trying to use CMS Events via (/cms/cms.js) in my gatsby project:

[code]

I saw that **registerEventListener** is not part of the TS typings in netlify-cms-core as opposed to other methods like the ones i used before the registerEvent call. Furthermore it seems i cant even register the listener. No console output fired.

**Expected behavior**
some console logging on pub

[2020-12-30 14:14] KancerEzeroglu commented on #4538
Hi,

I played with timeouts on our side but I still got errors from Github API, for me, it seems there are some limitations on the Github site.
I couldn't find any option to set timeout and/or buffer size in the APIs.

As an improvement, we can show a more user-friendly error instead of logging an error to the console. @erezrokah wdyt?

[2020-12-30 15:29] pdkn commented on #2183
+1

[2020-12-30 16:31] p3lican opened #4783 "Please replace with a clear and descriptive title"
I'd like to inject a "Game or Event Year" into the slug. Rather than creating fields for day and year, I'd like to be able to strip the year from the single "Event Date" field entry and use that in my slug.

Basically exactly what you have done for summaries: https://www.netlifycms.org/docs/beta-features/#summary-string-template-transformations.

[code]

[2020-12-30 17:40] pdkn opened #4784 "datetime, datepicker and label miss match when picker_utc set to true"
**Describe the bug**
datetime picker and date label do not match up ( possibly when UTC is set to true? (I'm in GMT timezone))

**To Reproduce**
1. create a datetime picker with below YAML
2. set date to 7th July 2016
3. notice the picker is set to 06/06/2016 ( a day out )

**Expected behavior**
Expect the date picker and date label to match.

**Screenshots**

https://user-images.githubusercontent

[2020-12-30 23:21] Soren234 commented on #386
You can use `skip_render: "*admin/*"` in config for Hexo, so that yaml does not convert to json.

[2020-12-31 17:49] shushugah commented on #1807
I get same error with plural version of `fields`

[code]

[2021-01-01 19:33] kylesloper commented on #4649
Hi sorry for the late response. I ended up re-building the site entirely and creating a new site with Netlify. Unfortunately this meant I could not identify what the source of the issue was but its working now.

[2021-01-01 19:56] clarissaness opened #4785 "TypeError: Cannot read property 'childImageSharp' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.7`
 - Git provider: `github`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36`

**CMS configuration**
[code]

[2021-01-01 21:14] MinasG commented on #2
Any update on roles? 😄

[2021-01-02 05:28] its-a-lisa commented on #4737
This happened to me too.

[2021-01-02 08:18] rahadkc commented on #1483
Is there any update of this feature. I am trying Netlify-cms is seem great. But I am stuck in this issue.
I think author should not manually enter author name or id ownself. It should added on post creation time by default.

[2021-01-02 21:46] fkohrt opened #4786 "Setting up deploy preview with editorial workflow on GitLab results in two pipelines per commit"
**Describe the bug**

I am using GitLab as backend and have the editorial workflow enabled. After configuring a GitLab environment/review app in my `.gitlab-ci.yml` to make deploy preview links work, every push to an existing merge request results in two pipelines per commit. The first pipeline is still associated with the previous commit and fails immediately, the second pipeline is associated wi

[2021-01-03 16:37] fbnlsr opened #4787 "{{fields.slug}} is not taken into account"
**Describe the bug**
I'm using a `slug` field on a collection, and when creating/updating an entry, the `{{fields.slug}}` tag I'm using in both the `slug` and `path` tags are ignored, hence the index file I'm creating is in the wrong place.

**Expected behavior**
File should be created in the correct sub-directory, respecting the `{{fields.slug}}` directive.

**Applicable Versions:**
 - Netlify CM

[2021-01-03 17:26] haris-aqeel opened #4788 "I am getting too Long File Names"
[code]

This is a fragment of my Config.yml file. Once I created a blog from it. I am getting too long file names of the created content through netlify CMS. Due to long file names I am not able to use git commands because the git pull commands have some length restrictions.
You can see this in the below two images
![image](https://user-images.githubusercontent.com/56465230/103484692-a932f900-4e12

[2021-01-04 07:13] hkennyv commented on #2984
hey @alexbuiltit, love your design. i would love to see a more mobile-friendly UI for netlify CMS. is there anything you need help with? i'd be happy to contribute

[2021-01-04 10:37] erezrokah commented on #4778
Hi @danielmoessner, thank you for reporting this issue.
I believe this should be fixed in this file:
https://github.com/netlify/netlify-cms/blob/master/packages/netlify-cms-locales/src/de/index.js
You can edit it directly in GitHub if you're up to it.

[2021-01-04 10:39] katcoutts commented on #4725
Happy New Year @tonyketcham . Just wondered how the PR for this was getting on?

[2021-01-04 10:48] erezrokah commented on #4695
Thanks @arctiqtim, the link had expired - https://github.com/netlify/netlify-cms/pull/4799 should fix it.

[2021-01-04 10:51] erezrokah commented on #4783
To add some more context, one can inject the file creation date using `{{year}}`:
https://www.netlifycms.org/docs/configuration-options/#slug

but this issue is about using a specific field's date and formatting it.

[2021-01-04 11:20] erezrokah commented on #4649
Thank your @kylesloper for the follow up. Closing this issue

[2021-01-04 11:20] #4649 closed

[2021-01-04 11:23] erezrokah commented on #4785
Hi @clarissaness, this is most likely a Gatsby issue than a Netlify CMS issue.
I recommend looking into the existing ones:
https://github.com/gatsbyjs/gatsby/issues?q=Cannot+read+property+%27childImageSharp%27+of+undefined
https://github.com/netlify/netlify-cms/issues?q=Cannot+read+property+%27childImageSharp%27+of+undefined

[2021-01-04 11:23] #4785 closed

[2021-01-04 12:15] erezrokah commented on #4782
Thanks for opening the issue, linking https://github.com/netlify/netlify-cms/blob/5fc1e840733cced6ce9143bf10b04210b82ed94b/packages/netlify-cms-core/index.d.ts#L446 as the types fix should be in that file.

[2021-01-04 12:23] erezrokah commented on #1483
Hi @rahadkc, I think you should be able to auto populate fields using the `preSave` event:
https://www.netlifycms.org/docs/beta-features/#registering-to-cms-events
e.g.

[code]

[2021-01-04 12:27] erezrokah commented on #4788
Hi @haris-aqeel, please see https://www.netlifycms.org/docs/configuration-options/#slug to control filenames.
You can also use https://www.netlifycms.org/docs/beta-features/#folder-collections-path to save files in a sub directory.

I'm closing this issue as https://www.netlifycms.org/docs/configuration-options/#slug let's you fully customize filenames.
Please comment with your `slug` configuratio

[2021-01-04 12:27] #4788 closed

[2021-01-04 14:55] oliverlambson commented on #995
In case anyone's looking for how to deal with this for frontmatter images Gatsby.

You can work around this for now by explicitly typing the field in your GraphQL schema with `File @fileByRelativePath`

In `gatsby-node.js`:

[code]

[2021-01-04 15:01] erezrokah commented on #4777
Hi @arctiqtim, I believe this is related to the `tag/test.md` file that was created manually and not by the CMS.
Since there are 2 content files the CMS doesn't know which one to load and uses the first one.

Can you try removing that file from the PR?
I'm closing the issue, please comment if removing the file didn't resolve it

[2021-01-04 15:08] danielmoessner commented on #4778
I've created a pull request:
[https://github.com/netlify/netlify-cms/pull/4801](https://github.com/netlify/netlify-cms/pull/4801)

[2021-01-04 17:25] erezrokah commented on #4786
Hi @fkohrt, I'm wondering if this is coming from the CMS rebasing the the PR:
https://github.com/netlify/netlify-cms/blob/a92d53f88914fb73dd109686ee28c6240432f690/packages/netlify-cms-backend-gitlab/src/API.ts#L748 before pushing the commit.

If that is the case is there a way to ignore that event on GitLab's side?

[2021-01-04 22:40] fkohrt commented on #4786
Perfect, that's it!

There is, I'll provide a fix that skips the pipeline creation.

[2021-01-05 00:12] fkohrt opened #4803 "Allow customization of initial deploy preview interval / maxAttempts"
**Is your feature request related to a problem? Please describe.**

GitLab runners take longer to run than the default interval defined here:

https://github.com/netlify/netlify-cms/blob/a843c169a10a1f73e00755a917f127975708a685/packages/netlify-cms-core/src/backend.ts#L991-L1000

Therefore, although deploy preview links are eventually available, the "Check for Preview" button disappears before tha

[2021-01-05 06:09] hkennyv commented on #4782
hello @erezrokah, do you mind if i pick this one up?

love netlify cms & want to get more acquainted with the codebase starting with this issue

[2021-01-05 08:30] fabich commented on #3624
@erezrokah any updates on this?

[2021-01-05 10:30] erezrokah commented on #4786
Thanks @fkohrt! Glad to hear it. Do you mind sharing the solution in this issue once you have it?

[2021-01-05 10:35] #4786 closed

[2021-01-05 10:37] #4778 closed

[2021-01-05 10:48] erezrokah commented on #4803
Hi @fkohrt, thank you for opening this issue.
The CMS checks for any status (doesn't have to be a successful one) to show the `check for preview` button, so it should be sufficient to start the CI job in under 15 seconds:
https://github.com/netlify/netlify-cms/blob/567438fdd1aa775fd09a6a5de13e79c9d783e0d6/packages/netlify-cms-backend-gitlab/src/implementation.ts#L433

For a successful status it wo

[2021-01-05 10:57] erezrokah commented on #3624
Hi @fabich, I would consider this low priority as there are multiple workarounds.
For example:
1. Create a single `config.yml` from multiple files during a build step.
2. Use manual initialization with JS based config and split the config into multiple JS files.

[2021-01-05 11:29] logemann commented on #4782
really? Hmmm. Thats weird. I tried it with github backend and expected to see the event being called when triggering "publish" in the Netlify-CMS UI.

[2021-01-05 11:39] erezrokah commented on #16
Closing this as stale/resolved as we have starters for:
- Hugo
- Gatsby
- Middleman
- Preact
- Next.js
- Eleventy
- Nuxt.js

We can open specific issues for other missing frameworks

[2021-01-05 11:39] #16 closed

[2021-01-05 11:49] erezrokah commented on #1576
Closing this issue in favor of https://github.com/netlify/netlify-cms/issues/445 to make it easier to track.
See also https://github.com/netlify/netlify-cms/issues/445#issuecomment-621700949

[2021-01-05 11:49] #1576 closed

[2021-01-05 12:07] erezrokah commented on #4787
Hi @fbnlsr, I believe the correct configuration for your use case is:
[code]

Or:
[code]

I've tested it and it seems to provide the desired result.
Closing the issue, if the suggested config doesn't work, please comment and I'll reopen the it.

[2021-01-05 12:07] #4787 closed

[2021-01-05 12:41] #4782 closed

[2021-01-05 16:58] erezrokah commented on #4803
This would make a good contribution (would require adding the config property and using it in `backend.ts`)

[2021-01-05 17:33] hkennyv commented on #4782
@logemann I can try checking with my git-gateway backend connected to github sometime in the next couple days. Maybe you can try testing it locally by changing your backend to `test-repo`(more details [here](https://www.netlifycms.org/docs/test-backend/)) in your `config.yml` this way you don't have to keep pushing commits to test things.

[2021-01-05 21:14] SeanKilleen opened #4808 "Number widget with float value type appears to be truncated"
Given that I have a `number` widget defined with a value type of `float`, as below:

[code]

Expected behavior:

* Should display `0.5` by default
* Clicking down arrow in the UI from the default should change value to `0.4`
* Clicking ui arrow in the UI should change value to `0.6`
* I shouldn't be able to increment past `1.0`
* I shouldn't be able to decrement past `0.0`

Actual behavior:

* Pre

[2021-01-05 21:40] smakinson commented on #3759
I was thinking the same thing for the summary for the list view. I am also looking for a way to add a newline or something to allow an article title and its date to be separated for readability in the list via the summary.

[2021-01-05 21:49] SeanKilleen commented on #4808
Tried to analyze this further but I'm not familiar enough with the codebase I think.

`NumberControl.js` seems to have the appropriate parsing logic. It makes a call to an `onChange` function that is passed into the props for the `NumberControl` component.

It seems like the issue could be one of the following:

* Not reading `value_type` correctly, thus resulting in thinking it's an int. (possibl

[2021-01-06 00:49] logemann commented on #4782
@hkennyv no luck with "local_backend: true" (while running the proxy) either regarding getting the event handler to work.
Can you show me your test code? Mine is pretty simple:

[code]

[2021-01-06 02:07] hkennyv commented on #4782
Sure @logemann, I was just using the dev setup from this repository.

There are some basic instructions [here](https://github.com/netlify/netlify-cms/blob/master/CONTRIBUTING.md). Basically, it uses the files in the `dev-test/` directory.

Here is the [config.yml](https://github.com/netlify/netlify-cms/blob/master/dev-test/config.yml) and the [index.html](https://github.com/netlify/netlify-cms/blo

[2021-01-06 06:34] tonyketcham commented on #4725
@katcoutts my apologies, been very busy and this ended up being more complex than I'd initially expected.

The solution appears to go a good bit deeper than just this widget, where the data that's returned from Cloudinary (an image asset's `public_id`) is actually already just what you've proposed - it gives the file path.

However, to create a case where we just return that raw  `public_id` with

[2021-01-06 17:24] tonyketcham commented on #4737
Tested on Safari 14.0 and this issue did not occur

[2021-01-06 19:08] Anas-Aqeel opened #4809 "TypeError: Can't set option year when dateStyle is used"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.14.10`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36`

**CMS configuration**
[code]

[2021-01-06 20:44] Anas-Aqeel opened #4810 "Error: The result of this StaticQuery could not be fetched.This is likely a bug in Gatsby and i..."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.27`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36`

**CMS configuration**
[code]

[2021-01-07 04:19] fkohrt opened #4811 "Incorrect default value for cms_label_prefix listed in docs"
**Describe the bug**

The docs [state](https://github.com/netlify/netlify-cms/blob/89848e034451baed52fb8911d3778a2f469462f8/website/content/docs/backends-overview.md#L21) that the default value for `cms_label_prefix` is `netlify-cms/`, but it seems to me it is only `cms/`.

[2021-01-07 04:22] fkohrt opened #4812 "Document preview_context on overview page"
**Is your feature request related to a problem? Please describe.**

The config variable `preview_context` is [mentioned](https://github.com/netlify/netlify-cms/blob/89848e034451baed52fb8911d3778a2f469462f8/website/content/docs/github-backend.md#L27) on the GitHub backend, but it (at least) also works for GitLab.

**Describe the solution you'd like**

Maybe document the config variable on the overv

[2021-01-07 10:35] erezrokah commented on #4811
Hi @fkohrt, that value is for PR labels (not branch names prefix). See:
https://github.com/netlify/netlify-cms/pull/3947
![image](https://user-images.githubusercontent.com/26760571/103882601-bd157e00-50e4-11eb-8413-d7791eb5a800.png)

Closing the issue. Feel free to comment if you have additional questions

[2021-01-07 10:35] #4811 closed

[2021-01-07 10:37] fkohrt commented on #4811
Oops, my bad!

[2021-01-07 10:43] erezrokah commented on #4810
Closing as duplicate of https://github.com/netlify/netlify-cms/issues/4004

[2021-01-07 10:43] #4810 closed

[2021-01-07 10:48] erezrokah commented on #4809
Hi @Anas-Aqeel can you please follow the [issue template](https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title)?

[2021-01-07 10:50] erezrokah commented on #4812
Related to https://github.com/netlify/netlify-cms/issues/4608 and https://www.netlifycms.org/docs/beta-features/#gitlab-and-bitbucket-editorial-workflow-support

[2021-01-07 18:04] haris-aqeel opened #4816 "TypeError: Can't set option year when dateStyle is used"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.14.10`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36`

**CMS configuration**
[code]

[2021-01-07 18:04] erezrokah commented on #4816
Closing as duplicate of https://github.com/netlify/netlify-cms/issues/4809

[2021-01-07 18:04] #4816 closed

[2021-01-07 21:06] Anas-Aqeel commented on #4809
What info is more required?

[2021-01-07 21:06] Anas-Aqeel commented on #4809
Can you tell me?

[2021-01-07 21:07] Anas-Aqeel commented on #4809
![Uploading image.png…]()

[2021-01-07 22:10] talves commented on #4809
@Anas-Aqeel There needs to be a more detailed summary of what "Can't set option year when dateStyle is used" defines. Leaving all the form questions blank requires someone who will take this task on to guess what the issue is.

Describe the bug (what error was printed to console or screen if any)

To Reproduce (maybe a simple example to show how to reproduce the bug error)

Expected behavior (what

[2021-01-08 00:40] panzacoder commented on #192
Is creating relations "on the fly" in progress? It is a major blocker for me adopting NetlifyCMS.

When content editors are creating new pages, they aren't going to want to create every type of content in silos and then link them. I understand the intention is for a really simple use case like a blog and blog author, but the way relations are currently implemented is super limiting.

[2021-01-08 05:31] haris-aqeel commented on #4809
Everything working fine. When I change data in Netlify CMS. It is reflected in the gatsby project. The problem occurs when I am not able to see the data I am changing on netlify CMS preview wherever I used widget Date.
![Screenshot from 2021-01-08 10-26-52](https://user-images.githubusercontent.com/56465230/103978004-4cca3380-519c-11eb-9594-335d7b13ad51.png). FOr example See this image When I am f

[2021-01-08 06:37] rahadkc commented on #1483
HI @erezrokah

Thanks a lot for your answer. I didn't know I can get the author info from localstorage.
There are 'netlify-cms-user' and 'gotrue.use' more details info key stored.

It helps thanks.

[2021-01-08 09:43] smashercosmo opened #4817 "netlify-cms raises error after being hot-reloaded"
**Describe the bug**
When cms is being hot-reloaded, config validation results in the following error:
[code]
**To Reproduce**
1. Go to https://codesandbox.io/s/peaceful-moon-3st9j
2. Click on 'Admin' link
3. Click login button (there will be login error, but that's fine)
4. Go to admin.js file and make any change to it (for example add console.log statement)
5. Save file
6. Observe the error

**E

[2021-01-08 10:28] erezrokah commented on #4817
Thanks @smashercosmo, I'm planning on reviewing your PRs soon (either today or early next week).

[2021-01-08 10:38] erezrokah commented on #4369
Closing in favor of https://github.com/netlify/netlify-cms/issues/192

[2021-01-08 10:38] #4369 closed

[2021-01-08 10:41] erezrokah commented on #192
Hi @panzacoder, before adding this feature we would probably need to do https://github.com/netlify/netlify-cms/issues/1025, as the CMS doesn't have any functionally to manage multiple content files (entries).
Both require effort from a UX perspective and internal implementation work.

That being said we would love any kind of contribution for this - it doesn't have to be code. It can also be help

[2021-01-08 10:42] erezrokah commented on #4809
Hi @haris-aqeel, thank you for the additional information.
Those kind of errors coming the the preview pane (the right pane) are usually caused by custom preview templates.
Can you share you repo or an example repo with this issue?

[2021-01-08 14:11] StefanoChiodino opened #4818 "Path issue"
Hello,

TLDR: if I navigate to `/admin/` it works. `/admin` doesn't work.

For some time I thought my cms installation on netlify was broken because the page was blank and I received a lot of 404s in the console.
![image](https://user-images.githubusercontent.com/1428893/104013019-bbad8980-51a8-11eb-8360-ffe862f5e2bf.png)

Only today I realised that it was a problem of paths, it's trying to load i

[2021-01-08 14:18] erezrokah commented on #4818
Hi @StefanoChiodino, can you please follow the [issue template](https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title)?
That makes it much easier to figure out the underlying cause of reported issue.

[2021-01-08 14:34] StefanoChiodino commented on #4818
@erezrokah sorry, didn't realise one existed. My bad!

[2021-01-08 19:53] arctiqtim commented on #4777
Unfortunately this renders Netflify CMS not available for us in this case @erezrokah ... we have a pipeline that runs and adds these tag files based off of tags found in the blogs.  So if a new tag is found like "test" in this case, the pipeline adds a new tag file to the repo.

Thanks
Tim

[2021-01-09 02:20] sdn90 commented on #3167
+1 for this.

Personally, I'd just want a callback that passes me the entire entry and lets me return the errors.

[code]

This would solve some issues I have:

**Using validation libraries**
I want to be able to use libraries like zod, joi, and yup. I can easily reuse these validators outside of Netlify CMS and write tests for them.

**Controlling validation errors**
In an editorial workflow, I w

[2021-01-09 13:23] logemann opened #4819 "fieldsMetaData empty"
**Describe the bug**
fieldsMetaData attribute is empty on registerPreviewTemplate() handler.

**To Reproduce**
register own PreviewTemplate and print out the incoming data.

[code]

**Expected behavior**
fieldsMetaData with data about the collection and more importantly about the "relation" collections. Thats the reason why i need it.

**Screenshots**
<img width="778" alt="Bildschirmfoto 2021-01-0

[2021-01-09 15:36] kylesloper opened #4820 "Use of Emojis in Identity Generated Email Subject"
### This is purely aesthetics but I think it would be cool to be able to use emojis in the subject of Identity Generated emails.

![image](https://user-images.githubusercontent.com/45979758/104095708-53d26e00-5290-11eb-93ea-b95fa4d3704e.png)

[2021-01-09 16:24] karesztrk commented on #3580
I made this working by using the following
[code]

[2021-01-09 19:03] tate2301 opened #4821 "Unable to access identity settings. When using git-gateway backend make sure to enable Identity service and Git Gateway."

[2021-01-09 19:11] talves commented on #4821
Try starting with [these recommendations](https://community.netlify.com/t/problems-to-identify-git-gateway/10670)

[2021-01-09 19:21] talves commented on #4820
@kylesloper This feature is actually driven by the netlify identity open source project. Closing since you already posted the feature request and [Discussion Here](https://community.netlify.com/t/use-of-emojis-in-identity-generated-email-subject/29782)

[2021-01-09 19:21] #4820 closed

[2021-01-10 16:23] ImSolitude commented on #4707
May I know, You get this fixed somehow?

[2021-01-11 05:34] tohagan opened #4836 "Schema support for union of types (user selects which type and then it's type specific contents)"
**Is your feature request related to a problem? Please describe.**

We often need to create a list of nested objects of different types.  Examples:
- A list of different kinds of horizontal sections on a page.
- A list of vertical columns of different kinds.
- A list of rules or command objects of different kinds.

**Describe the solution you'd like**

Add schema support for creating a union type

[2021-01-11 06:05] tohagan commented on #4836
Closing ... I found it under Beta

- https://www.netlifycms.org/docs/beta-features/#list-widget-variable-types

[2021-01-11 06:05] #4836 closed

[2021-01-11 09:18] erezrokah commented on #4777
Hi @arctiqtim, there might be a not so difficult way to improve the CMS detection of content files.
We look for content files here:
https://github.com/netlify/netlify-cms/blob/14fe6fb1a2e6b3d93b2909ff801ba0aa3d1e3526/packages/netlify-cms-core/src/backend.ts#L869
and here we choose the first one:
https://github.com/netlify/netlify-cms/blob/14fe6fb1a2e6b3d93b2909ff801ba0aa3d1e3526/packages/netlify-c

[2021-01-11 14:15] dev-techmoe opened #4837 "Text-editor in NetlifyCMS admin dashboard cannot type any Chinese characters normally"
**Describe the bug**

Any Chinese words cannot be typed into the BODY editor (see GIF below)

**To Reproduce**

1. Go to admin dashboard (`<site_url>/admin`)
2. Click on "New Blog"
3. Scroll down to the "BODY" editor area and type some Chinese words with default Chinese IME in Win10 (Microsoft Pinyin)

**Expected behavior**
see below

**Screenshots**

![image](https://aws1.discourse-cdn.com/netlif

[2021-01-12 09:51] awesomephant commented on #3682
Had the same problem, can confirm @Lane's fix worked.

[2021-01-13 10:27] #1293 closed

[2021-01-13 17:51] #4817 closed

[2021-01-13 18:06] erezrokah commented on #4821
Hi @tate2301, also https://docs.netlify.com/visitor-access/identity/ and https://docs.netlify.com/visitor-access/git-gateway/.
If that doesn't work please fill in the missing parts from the [issue template](https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title) as they help us find the cause fo

[2021-01-14 10:11] PedroOndh opened #4841 "Please replace with a clear and descriptive title"
**Describe the bug**
When i add a new entry in author collection appears on the list, but is not selectable through the relation widget from other articles. If i hardcode the id of the author Netlify CMS doesn't find it and return an error. If i enter from any other browser or in incognito mode this error dissapear and the author is found. But the error remains even after cleaning the cache on the

[2021-01-15 19:46] arctiqtim commented on #4777
I think that would work @erezrokah since they are definitely populated in a different folder.  Even still looking for only md files but in only the specific folder location would work.

Cheers
Tim

[2021-01-16 01:23] xianbinKit commented on #4837
the same here

[2021-01-16 14:18] fedetibaldo opened #4844 "Can't edit files collections translations"
**Describe the bug**

What appears to be a bug in the admin UI makes editing files collections translations impossible. In particular, I can't edit the translated version of my fields, as every keystroke gets overridden by the state of the main translation.

**To Reproduce**
1. Enable i18n:
[code]
2. Add the following collection (the relevant parts are the `i18n: true` on the collection and on the

[2021-01-16 14:48] fedetibaldo commented on #4844
Found the issue. One must add `i18n: true` to the file declaration too, like so:
[code]

Cheers.

[2021-01-16 14:48] #4844 closed

[2021-01-17 01:46] lancaluis commented on #2882
Hey guys, some news about that? I'd like to help the community as well

[2021-01-18 09:53] erezrokah commented on #2882
Hi @iansinnott and thank you for suggesting to help.
We don't have a plan on how to do this (yet) so figuring a way to set up the translation process would be a good start.
We can have all the translations in the same repo or use separate repos like [React](https://github.com/netlify/netlify-cms/issues/2882#issuecomment-554722667).
Same for deployment, we could deploy everything under the same dom

[2021-01-18 13:36] tate2301 commented on #4821
Thanks, that solved my issue.

[2021-01-18 13:36] #4821 closed

[2021-01-18 17:30] konrad-bak opened #4847 "Can i change the authentication service in Netlify CMS?"
Problem:
I want to set a different authentication service, than the one provided by repository host. In my case, the repo is on GitLab, while I want to set authentication by Azure accounts - that would have some sort of permissions to login to my Netlify CMS admin, and the Netlify Admin would have permissions to push changes to my GitLab repo.

Is it already possible or is it a feature request? I

[2021-01-18 17:42] erezrokah commented on #4847
Hi @konrad-bak you should be able to do it in a similar approach as in https://www.netlifycms.org/docs/external-oauth-clients/ or by writing your own backend implementation - those can be registered dynamically https://github.com/netlify/netlify-cms/blob/5b4e2ee99f29952c158576336207ba6749f610bc/packages/netlify-cms-app/src/extensions.js#L38

[2021-01-19 09:30] konrad-bak commented on #4847
@erezrokah  Thank you for your reply!
I still can't quite wrap my head around this, but I'm happy to know that it is doable - Do you know any tutorials that would guide me step-by-step to do that? or some working examples at least?

[2021-01-19 10:00] brachkow commented on #2659
Examples from docs still lead to this errors. For myself I resolved this issue via
[code]

[2021-01-19 12:57] vnourdin commented on #531
Hi everyone, any update on this ?
This seems blocking for [Eleventy global data files](https://www.11ty.dev/docs/data-global/) too, if anyone has a workaround for this I'm interested :sweat_smile:

[2021-01-19 13:01] erezrokah commented on #531
Hi @vnourdin this would make a great contribution to the CMS if anyone would like to pick it up

[2021-01-19 16:45] Fourmou opened #4851 "TypeError: e.join is not a function"
**Describe the bug**

When i try to add a new post this error appears

Error details
TypeError: e.join is not a function

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.84`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:84.0) Gecko/20100101 Firefox/84.0`

**CMS configuratio

[2021-01-19 17:01] erezrokah commented on #4847
Hi @konrad-bak I'm not familiar with guides/tutorials as this is quite an advanced issue.

I believe you'd need to first create a service similar to [git-gateway](https://github.com/netlify/git-gateway) that has an access token to GitLab and handles users authentication (verify their azure account).

[2021-01-19 17:04] erezrokah commented on #4851
Hi @Fourmou can you share a screenshot of the error and possibly a repo reproducing it?

[2021-01-19 18:39] Fourmou commented on #4851
@erezrokah i followed your suggestion by changing default: news to default: [news] and it works fine. Thanks for your reply.

[2021-01-19 19:32] erezrokah commented on #4851
Closing the issue. Please comment if you have any other questions

[2021-01-19 19:32] #4851 closed

[2021-01-19 19:38] vnourdin opened #4852 "Preview Pane doesn't use custom CSS"
**Describe the bug**
The Preview Pane doesn't use custom CSS (nor custom template).

**Duplicate ?**
Seems close enough to #1599 except I don't know or use Emotion, only pure CSS.

**To Reproduce**
1. Create a project (existing Eleventy blog in my case)
2. Add config for your collections (simple blog articles, nothing tricky)
3. In your `admin/index.html` register your CS in a script block. I trie

[2021-01-20 11:10] erezrokah commented on #2659
Re-opening the issue until we can verify the guide

[2021-01-20 20:31] pachicodes commented on #4784
Hey, I am new to open source and would like to work on this issue!

[2021-01-21 08:15] erezrokah commented on #4784
Hi @pachicodes and welcome 👋
A contribution for this would be great!
The place to start should be somewhere here:
https://github.com/netlify/netlify-cms/blob/ada552dc147e268acf0a2d6cbea0d7107cb3ed73/packages/netlify-cms-widget-datetime/src/DateTimeControl.js#L144

and our contributing guide is [here](https://github.com/netlify/netlify-cms/blob/master/CONTRIBUTING.md).

Please comment on the issue

[2021-01-23 13:53] GerryWilko commented on #1152
Apologies posting this to such an old issue but I'm struggling to see a resolution to the original issue (title anyway) in here.

Is there any way to do a raw file edit within Netlify CMS? I understand this is kind of against the principle of Netlify CMS to some extent as it should be ideally split up editable fields but it would be ideal to have a fall back to edit a file in RAW should you wish.

[2021-01-24 00:37] leo60228 commented on #1727
As a workaround, you can add this to the end of `<head>`:
[code]

[2021-01-24 22:42] robdodson commented on #4521
Seeing this same issue on my test project.

[2021-01-25 08:39] krzysiekhum opened #4874 "NetlifyCMS: Login status"
**Problem:**
When content is edited by authors in Netlify CMS, the session is sometimes interrupted without warning. For example: the text is edited and saved as a draft. Then, after some time, the author returns to editing the entry, but after saving he gets the information that **he is not logged in** (although he was :/).

Could you add a feature, that informations about current session (when i

[2021-01-25 09:28] SegunWeb opened #4875 "Problem with entering the admin panel"
Hey.

Faced the problem of entering the admin panel. Upon authorization, I receive a message about a successful login, but it does not take me to the editor page and gives an error:

Failed to execute json in response: main stream has already been read

https://kingspan-dev.netlify.app/   -- project

I contacted the netlify community support, but they could not help me.

[2021-01-25 11:18] erezrokah commented on #1152
Hi @GerryWilko would using the [code widget](https://www.netlifycms.org/docs/widgets/#code) satisfy your use case? Not exactly editing a raw file, but you should be able to edit YAML code.

[2021-01-25 11:37] erezrokah commented on #4521
Hi @robdodson, do you mind sharing the browser network traffic (request and response) when the error occurs?

[2021-01-25 11:45] lbischof commented on #2727
I really dislike this workaround, because it requires additional frontmatter in every page. It would be better if we could define: `filter: {field: "visible", value: "!false"}` or something similiar, so we only need to edit the hidden pages.

[2021-01-25 11:50] erezrokah commented on #4875
Hi @SegunWeb I'm closing this issue a duplicate of https://github.com/netlify/netlify-cms/issues/4521.
Can you share the browser traffic as I requested in https://github.com/netlify/netlify-cms/issues/4521#issuecomment-766755536?

[2021-01-25 11:50] #4875 closed

[2021-01-25 11:55] erezrokah commented on #4874
Hi @krzysiekhum do you mind phrasing your feature request per the [feature template](https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+feature&template=feature_request.md&title=Please+replace+with+a+clear+and+descriptive+title)?

That helps us better understand your use case. Please share your CMS configuration too.

[2021-01-25 12:23] albanbleicher opened #4876 "TypeError: Cannot read property 'get' of undefined"
**Describe the bug**
when deleting all elements from list, throws the error
**To Reproduce**

**Expected behavior**
should leave the list empty
**Screenshots**
![image](https://user-images.githubusercontent.com/50012018/105705363-6693a680-5f10-11eb-98a3-e9aa51eca5fd.png)

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.84`
 - Git provider: `git-gateway`
 - Browser version: `Mozi

[2021-01-25 13:20] erezrokah commented on #4876
Hi @albanbleicher, can you share the full content of your `config.yml` and also the content of the file you're trying to edit?

[2021-01-25 13:42] erezrokah commented on #1152
Yes of course. I wasn't clear with my suggestion which is your second example.

Your request is somehow related to https://github.com/netlify/netlify-cms/issues/531 and I can see it being useful as an opt in configuration to default to raw edit mode if no fields are configured for a file.

How about creating a new issue for it? This one kind of branched out too much

[2021-01-25 15:04] idmtr commented on #3408
Same problem with Gitlab login
**Git Gateway Error: [object Object]**

[2021-01-25 15:33] fkohrt opened #4877 "Provide deploy preview links for each language"
**Is your feature request related to a problem? Please describe.**

Multilingual sites tend to have a language code inside their path, such as `https://example.org/en/about/`. This is also the [default behaviour for Hugo sites](https://gohugo.io/content-management/multilingual/).

**Describe the solution you'd like**

Make available a `{{lang}}` template tag for the `preview_path` template. When i

[2021-01-25 16:19] SegunWeb commented on #4521
HI!
How to separate browser network traffic (request and response) when an error occurs?

[2021-01-25 16:24] erezrokah commented on #4521
Hi @SegunWeb, if you're using Chrome you can use this guide https://developers.google.com/web/tools/chrome-devtools/network

[2021-01-25 16:42] SegunWeb commented on #4521
From the moment I ran into this problem, I looked for solutions in different ways and made 4 clones of the project.
2 projects - team, 2 - personal. I also made them private and public.

Personal clones work and do not receive errors, unlike team ones.

I ran tests in Safari on Mac, Chrome, Firefox, Opera on Windows, no difference. The error is only in comman

[2021-01-25 16:49] erezrokah commented on #4521
Thanks @SegunWeb, does reconnecting or using a personal access token work? See https://docs.netlify.com/visitor-access/git-gateway/#reconnect-after-changing-repository-permissions

[2021-01-25 16:53] SegunWeb commented on #4521
Yes, I tried changing the token, but on the command one it did not help

[2021-01-25 17:05] erezrokah commented on #4521
Does the network traffic provide additional information on the failure reason?

[2021-01-26 09:04] SegunWeb commented on #4521
Hey. The console shows this error.

![image](https://user-images.githubusercontent.com/31899544/105823710-2989eb80-5fc6-11eb-96de-7d5e94847862.png)

[2021-01-26 10:06] erezrokah commented on #4521
Thanks @SegunWeb, that's good progress. Can you share the information from the `Network` tab? It should show the request and response that resulted in the `403` error

[2021-01-26 11:40] SegunWeb commented on #4521
![image](https://user-images.githubusercontent.com/31899544/105840668-0c601780-5fdc-11eb-9617-31223b453310.png)

[2021-01-26 11:40] SegunWeb commented on #4521
![image](https://user-images.githubusercontent.com/31899544/105840701-1b46ca00-5fdc-11eb-8d70-2341b6568915.png)

[2021-01-26 11:45] erezrokah commented on #4521
Thanks @SegunWeb that's helpful. What I'm looking for should look like this:
![image](https://user-images.githubusercontent.com/26760571/105840995-98723f00-5fdc-11eb-912f-9bffd4c8a960.png)
![image](https://user-images.githubusercontent.com/26760571/105841026-a32cd400-5fdc-11eb-971f-5f7dcb6aa21c.png)

You can get that information by clicking the failed request line

[2021-01-26 14:56] SegunWeb commented on #4521
![image](https://user-images.githubusercontent.com/31899544/105861472-6de1af80-5ff7-11eb-914a-99d3d817cfef.png)
![image](https://user-images.githubusercontent.com/31899544/105861539-7e922580-5ff7-11eb-8380-a9a5470aa4de.png)

[2021-01-26 15:11] erezrokah commented on #4521
Hi @SegunWeb, looks like your organization is limiting access to OAuth apps. See https://docs.github.com/en/github/setting-up-and-managing-organizations-and-teams/about-oauth-app-access-restrictions#setting-up-oauth-app-access-restrictions

[2021-01-26 17:00] #4521 closed

[2021-01-26 17:54] devboldium commented on #2183
+1, having a hard time getting this working outside of this.

[2021-01-27 05:01] mrmikszath commented on #1502
Hello Guys, an average user here. Im trying to learn how to use the easiest way netlify cms. I would like to find an easy solution just like to choose between Wordpress themes for design. Netlify CMS is getting easier to install (thanks to single buttons to deploy). Currently Im using Publii CMS on a local machine and syncing to github/netlify. Is there any way you can do a simple electron app wit

[2021-01-27 06:11] pjlamb12 opened #4883 "Shows Error Loading config.yml Even Though Admin Page Loads"
**Describe the bug**
I'm trying to implement the CMS with a Scully app, and when I go to the admin page I see an "Error loading config.yml" error. The weird thing is that the admin page allows me to log in and shows all the admin page content.

**To Reproduce**
To reproduce, fork [this repo](https://github.com/pjlamb12/scully-netlify-cms) and run `npm run netlify`. Then go to the /admin page.

**E

[2021-01-27 12:07] lbischof opened #4884 "Pages outside of 'path' are also listed in collections"
**Describe the bug**

A folder collection with `path` specified as `{{slug}}/index` also lists pages in `folder` that are not in a subdirectory.

**To Reproduce**
1. Clone repository: `coming...`
2. Start a webserver and local proxy server (see README.md)
3. Visit localhost:8080/admin/
4. See that "This should not appear" is also listed.

**Expected behavior**
I expect that if `path` is specified

[2021-01-27 12:52] nonlinearcom commented on #2183
+1

[2021-01-27 21:59] pjlamb12 commented on #4883
So I'm not sure what the deal was, but adding the config.yml file to the src folder, and including it in the assets array in angular.json made the error go away. I'm no longer seeing this issue.

[2021-01-27 21:59] #4883 closed

[2021-01-28 08:16] tylerbrostrom commented on #1984
Spitballing here, but maybe PDF thumbnails could be generated by a third-party image service like Cloudinary.

You could even defer the implementation of that image service to the developer. Say by adding a `thumbnail_url` option to the `file` widget. `thumbnail_url` would accept a string template with access to the site’s URL and the file’s public path:

[code]

Yeah, it’s a bit scrappy and defin

[2021-01-28 11:20] erezrokah commented on #4883
Thanks for the follow up @pjlamb12!

[2021-01-28 12:07] aviavia commented on #2
//collection level
"app_metadata": {
   "authorization": {
         view : {
                roles: ["admin", "editor"],
                creator: true
         "edit": {
             roles: ["admin", "editor"],
             creator: true
          "delete": {
             roles: ["admin", "editor"],
             creator: true
         }
       limitation : {
         max documents: 30
       }
 }

[2021-01-28 12:48] SegunWeb commented on #4521
Thanks a lot, yes it worked

[2021-01-28 15:31] miklschmidt commented on #793
None of these solutions only introduces new problems for me. As soon as i register emotion preview templates, the UI goes to shit. This is enough to break it:
[code]

using the code from https://github.com/netlify/netlify-cms/issues/793#issuecomment-738031461

![Screenshot from 2021-01-28 16-24-37](https://user-images.githubusercontent.com/751171/106159797-736d0000-6185-11eb-8a36-de26eb80c248.png)

[2021-01-28 18:14] MannyCooper commented on #4837
Really love netlify-cms, please fix this bug soon if possible. This seems to only appear in the BODY editor.

[2021-01-28 18:22] erezrokah commented on #4837
Hi all 👋  We would love a contribution for this issue.

[2021-01-29 10:21] kjoscha commented on #4385
is there at least any workaround to make it work with collapsed list items?

[2021-01-29 14:50] #4099 closed

[2021-01-29 15:26] #2701 closed

[2021-01-29 19:02] scerelli opened #4888 "i18n: duplicate on list widget returns an error"
**Describe the bug**
Can't assign to list widget `i18n: duplicate`

**To Reproduce**
- create a new config with i18n enabled
-  put a list in your collection and add `i18n: duplicate`
- you get an error: `'collections[0].fields[9].i18n' should be boolean`
sample code:
[code]

**Expected behavior**
I expected the duplicated list to appear on the second language preview and to not return any error

[2021-01-29 20:35] tbsgln commented on #4581
Having the same problem when using the `structure: multiple_files`.

Even for content that already has a `xyz.de.md` and a `xyz.en.md` file the view for the **non-standard language** is blank:
Default language is 'de' and displays in the cms. When switching to 'en' via the dropdown a blank page is display.
fyi: I duplicated the same file for testing this and changed the body of the

[2021-01-29 22:56] lbarker opened #4890 "API_ERROR: Timed out rebasing merge request - when making edits to draft via editorial workflow"
**Describe the bug**

We are getting errors when users attempt to edit a draft in Netlify CMS and save their changes.

The error is `Failed to persist entry: API_ERROR: Timed out rebasing merge request`

![Screen Shot 2021-01-27 at 3 55 09 PM](https://user-images.githubusercontent.com/1869546/106335811-606c3580-6242-11eb-9508-b184145ea975.png)

[about.gitlab.com-1611960359181.log](https://github.c

[2021-01-29 23:49] jeremyzilar opened #4891 "Text is getting swapped and mixed up between recently edited pages on Save / Publish"
**Describe the bug**
We are seeing an issue where our editors are making/editing pages through NetlifyCMS and when saving, the data is getting mixed up with data from other posts/pages and then published...

Here is what happens, roughly:
- An editor sets out to create five event pages — **Event A**, **Event B**, **Event C**, **Event D**, **Event E**.
- Each one is in a state of draft in NetlifyCM

[2021-01-30 07:17] Pearce-Ropion opened #4892 "Custom editor components with pattern field crash when calling setInactiveStyle"
**Describe the bug**

Markdown editor components whose field's have a `pattern` option will crash the UI when calling `setInactiveStyle` due to a call to `this.props.onValidate` within the `this.validate` function on the `Widget` component.
https://github.com/netlify/netlify-cms/blob/30c11954d586c43a00c8c61fa467873bfe1ed1fc/packages/netlify-cms-core/src/components/Editor/EditorControlPane/Widget.j

[2021-01-30 23:24] sorokinvj opened #4894 "Custom editorComponents name is cut by <ul> width"
**Describe the bug**
Long names of custom editor components are cut by ToolbarDropdownWrapper component

**To Reproduce**
1. register Editor Component with a long name, e.g. "Full Width Component"
2. Launch CMS
3. Click + button in Markdown widget
4. See that only part of the name is shown
-->

**Expected behavior**
Name should be shown fully

**Screenshots**
![2021-01-30_15-40-16](https://user-im

[2021-01-31 02:14] mudlabs commented on #1737
Why is this complicated?

Netlify already allows you to tie any branch to any endpoint (i.e. master to yousite.com, development to development--yoursite.com).

At the moment [Netlify defaults to `master` branch](https://www.netlifycms.org/docs/add-to-your-site/#backend)  if no branch is specified in `config.yml`.  So why can't you just use whatever internal system exists for linking `branch -> end

[2021-01-31 03:14] mudlabs commented on #4564
@MoHassn Is there any way to specify the branch name from a variable _(i.e. process.env.BRANCH)_

[2021-01-31 11:09] twatzl opened #4895 "hugo shortcodes: Sent invalid data to remark."
Hi,

I am trying to write a widget for hugo shortcode for photoswipe (https://github.com/liwenyip/hugo-easy-gallery) and I keep getting the error, though I have no idea what the reason for this error is and why I keep getting it, because from my POV all the data seems to be correct

[code]

My shortcode plugin looks like the following (I have commented out a lot of stuff while trying to narrow dow

[2021-01-31 22:43] arpadgabor opened #4897 "Weird code widget behavior"
**Describe the bug**

The `code` widget shows weird behavior on page load and when focused:

1. When the page loads, the window will always (try to) jump to the bottom of the code editor.
2. When focused on the editor, it will automatically resize to `300px` (~13 lines). Also, while typing the editor will not resize to fit the content unless you blur, but then again on focus it resize back.

**To

[2021-02-01 00:03] lbarker commented on #4890
This also triggers a pipeline in our GitLab repo and the MR displays that it was successfully rebased.
For example, [this MR](https://gitlab.com/gitlab-com/www-gitlab-com/-/merge_requests/73207) shows 16 pipeline triggered but only 1 commit. I

[2021-02-01 08:56] erezrokah commented on #4888
Hi @scerelli the `list` widget only support `i18n: true`, see https://www.netlifycms.org/docs/beta-features/#i18n-support
![image](https://user-images.githubusercontent.com/26760571/106435772-f8089880-647b-11eb-9178-d19393240748.png)

You can track the feature request here https://github.com/netlify/netlify-cms/issues/4386

[2021-02-01 08:56] #4888 closed

[2021-02-01 09:12] erezrokah commented on #4890
Thanks for opening the issue @lbarker.
The CMS rebases the draft PR before making new commits, see:
https://github.com/netlify/netlify-cms/blob/d30a45cc522fa468d4e00c906d16b889c637f19d/packages/netlify-cms-backend-gitlab/src/API.ts#L681

Maybe a timeout of 10s is too short for the operation?

Also, we set the `skip_ci` flag when doing the rebase. This was fixed recently in https://github.com/netli

[2021-02-01 09:15] erezrokah commented on #4895
Hi @twatzl we have a Hugo shortcodes guide in our docs https://www.netlifycms.org/docs/hugo/#using-hugo-shortcodes-in-the-markdown-editor if that helps.
At the bottom you can find a link to a [repo](https://github.com/sharadcodes/hugo-shortcodes-netlify-cms) with more shortcodes.

[2021-02-01 09:15] erezrokah commented on #4760
Closing this issue. Please comment if still relevant

[2021-02-01 09:15] #4760 closed

[2021-02-01 09:40] erezrokah commented on #1737
Hi @mrfoster, there is not guarantee that the CMS runs on Netlify as it can be used anywhere.

Have you sees the proposed solution [here](https://github.com/netlify/netlify-cms/issues/3790#issuecomment-635920266)?

[code]

That solution gets the branch from the URL, but you can also use env variables as described in https://github.com/netlify/netlify-cms/issues/1737#issuecomment-530992998

[2021-02-01 10:43] mudlabs commented on #1737
That requires a JavaScript config, what if you're just using a yaml config. Also anytime you (or another) developer creates a new branch that `cms_branch` logic needs to be adjusted. Else the new branch gets built to the master branch endpoint.

[2021-02-01 10:53] erezrokah commented on #1737
Hi @mudlabs, you can improve the logic to use a regular expression to match the branch name.
If you don't want to use a JS at all (only yaml) you could write a script in your build process to find replace the branch.
e.g.

[code]

[code]

You can populate `${BRANCH}` with whatever approach that works best for you (e.g. reading it from the `git` config, use `process.env.HEAD` if on Netlify).

[2021-02-01 11:26] erezrokah commented on #4890
FYI, I increased the rebase timeout to 30 seconds with the latest release

[2021-02-01 11:37] vnourdin commented on #4852
I finally fixed this by putting `registerPreviewStyle` and the `registerLocale` stuff in different `<script>` blocs, as following:
[code]
I think this should be explicit in the documentation if it's a normal behavior.

[2021-02-01 11:39] vnourdin commented on #4852
I finally fixed this by putting `registerPreviewStyle` and the `registerLocale` stuff in different `<script>` blocs, as following:
[code]
I think this should be explicit in the documentation if it's a normal behavior.

[2021-02-01 11:39] #4852 closed

[2021-02-01 13:09] lbarker commented on #4890
@erezrokah increasing the timeout to 30 seconds fixed this issue! Successfully made an edit to a draft in this [MR](https://gitlab.com/gitlab-com/www-gitlab-com/-/merge_requests/73207).

Thank you!

[2021-02-01 13:09] #4890 closed

[2021-02-01 14:30] asafamr opened #4908 "JSON Frontmatter object widget at the end -> parse error"
netlify-cms-app 2.14.16
netlify-cms-core 2.36.14
netlify-cms 2.10.86

json frontmatter - writing and then parsing collections whose last widget is an object widget raises a JSON parse error

if i'm not mistaken:
NCMS json frontmatter formatter trims outer curly brackets during serialization
they are re-added separately if the first/last latter aren't a curly bracket during parsing
when the last wi

[2021-02-01 14:50] asafamr commented on #4908
a reporducing config yaml

[code]

[2021-02-01 18:27] Pearce-Ropion opened #4912 "Editor components with fields that have a pattern option should prevent publishing when pattern validation fails"
**Is your feature request related to a problem? Please describe.**

After looking through the code in order to fix #4892, I noticed that editor components do not have any way to prevent a publish like a normal widget does.

**Describe the solution you'd like**

Editor componets whose fields have the pattern option should prevent publishing when the pattern's validation fails

**Describe alternativ

[2021-02-02 10:43] stevemarksd commented on #4528
Actually I'm still having this problem... I have a few writers and all encounter this issue.. It's very frustrating as this is not workable anymore.

[2021-02-02 10:53] erezrokah commented on #4528
Hi @stevemarksd, can you provide a more consistent reproduce?
e.g.
1. Fork the following repo...
2. Create a new Post.
3. Publish the post
...

If you want to be able to manipulate file paths you should use https://www.netlifycms.org/docs/beta-features/#nested-collections.

[2021-02-02 10:59] stevemarksd opened #4913 "With gitlab if I go to direct editor it will load all pages. (Lightsail with 4GB ram very very slow)"
**Describe the bug**

When I got to .../admin/#/collections/default/entries/test

It loads all articles as well and it takes very very long to load. (same as you would arrive on /admin page)

**To Reproduce**

just go to an entry: .../admin/#/collections/default/entries/test

**Expected behavior**

Should not load all articles as in the /admin view. SHould only load the article im opening.

**Scre

[2021-02-02 11:20] #4876 closed

[2021-02-02 11:20] #4874 closed

[2021-02-02 11:21] #4732 closed

[2021-02-02 11:22] erezrokah commented on #4809
Closing this issue pending more information

[2021-02-02 11:22] #4809 closed

[2021-02-02 11:32] erezrokah commented on #3928
Thanks @pacxiu and sorry for the late reply. Closing this issue as resolved.
Manually configuring the identity widget is documented here (looks like you figured that one out already 😃):
https://github.com/netlify/netlify-identity-widget#netlifyidentityinitopts

[2021-02-02 11:32] #3928 closed

[2021-02-02 11:35] erezrokah commented on #4913
Hi @stevemarksd, doest this happen with entries that have a draft?
If so this is probably related to https://github.com/netlify/netlify-cms/issues/3468

[2021-02-02 12:51] stevemarksd commented on #4913
Correct.. seems to load those ones.. I only have 20 and my editors need to wait ages for every change :/ I think we can close as duplicate

[2021-02-02 12:55] erezrokah commented on #3928
@pacxiu another quick follow up - it would be great if you can share the build limits limitations you're experiencing with Netlify so we can see if there is something we can do to improve it.
A good place to post it is in our community https://community.netlify.com/ (and link the post from this issue).

[2021-02-02 12:56] erezrokah commented on #4913
Thank you for following up. Closing as duplicate of https://github.com/netlify/netlify-cms/issues/3468

[2021-02-02 12:56] #4913 closed

[2021-02-02 18:45] twatzl commented on #4895
Hi, actually I used one of the shortcodes in that repo as a template for my shortcode. The documentation does not say anything about how I can write my widget such that the order of attributes does not matter.

I try again to fix the issue, but a more verbose error message would be very helpful there. I suspect the regex is the issue, but when I test my regex against the document using regex101 ev

[2021-02-02 22:49] twatzl commented on #4895
So i now found several issues with my code

1. forgot link field
2. fogot size field
3. thumb should have been thumbSuffix
4. size field was missing

I fixed all of them.

Additionally I noticed that netlify does not detect and parse shortcodes which are nested within other shortcodes. which is somehwhat annoying, but I also built a solution for that. now everything works more or less. I still get

[2021-02-03 10:41] andreasbalevik commented on #1503
+1

[2021-02-03 14:37] logemann opened #4916 "remove moment.js and use alternative like day.js"
Moment.js is kind of deprecated and has bad performance implications (tree shaking, etc.). Even the authors mention that migrating should be an option. Day.js is quite API compatible.

[2021-02-03 15:44] andreamussap commented on #4537
Hi @erezrokah is there any plan to work on this issue?

I've just got a pull request on my project https://github.com/Axway/axway-open-docs/pull/1605, where everything looked fine on Netlify CMS preview (right-side preview of the CMS) while the user was updating the page.

However, after the PR was created, when I looked at the deploy preview, part of the content was totally unformatted:
![DeployP

[2021-02-03 18:19] erquhart commented on #4537
Hi @andreamussap - a bit of explanation:

The changes are happening because markdown parsers generally don't know _exactly_ how the Markdown input looks. They know, for example, that a section of content represents a list item, but they don't know whether the list item used a `-` or a `*`. The technical reason is that, until very recently, JavaScript Markdown parsers used abstract syntax trees rat

[2021-02-04 15:28] katcoutts commented on #4725
Hi @tonyketcham. That's really interesting. On the surface of it I'd also thought it would just require a change to the cloudinary widget code. Happy to take a look at anything. Your suggestion of checking the media_library config does sound the least invasive option.

[2021-02-04 16:02] regisphilibert opened #4918 "Allow template tags on field's default value to store unique ID or filepath"
## Problem

Currently a big limitation of NetlifyCMS is the inability to create relationship based on an immutable data. Other GitBased CMS allow to use the filepath of a content file as relation connexion.

In NetlifyCMS we usually fallback on using the Title of an entry to establish this relation. But Title can change, and upon doing so, the connexion is lost.

## Solution

Fixing this would mea

[2021-02-04 16:33] erezrokah commented on #4918
Hi @regisphilibert, are you using the `relation` widget? If so you can use `value_field: "{{slug}}"` to create an immutable relation, see https://www.netlifycms.org/docs/widgets/#relation

If not please share `config.yml` of how you're creating the relationship.

[2021-02-04 16:56] regisphilibert commented on #4918
Yes I'm using the relation field and never knew you could use template tags in the `value_field` value! This will change a lot of things!

[2021-02-04 16:56] #4918 closed

[2021-02-04 16:59] regisphilibert commented on #4918
Sorry to use this channel for another inquiry, but is slug the only template tags available or can we use any template tags?

[2021-02-04 17:05] erezrokah commented on #4918
You should be able to use any field via `{{fields.name}}` and also `dirname,filename,extension`.

[2021-02-04 17:09] regisphilibert commented on #4918
Awesome thank you!

[2021-02-04 17:29] jeremyzilar commented on #4891
This happened again today, and our editor got this error:

![image](https://user-images.githubusercontent.com/395641/106930774-2502b880-66d3-11eb-8d5d-2aafb9cfd98d.png)

[2021-02-04 21:04] ManUtopiK commented on #531
Just to said this is also an issue for @nuxt/content with array at the root level of a json. [Like here.](https://content.nuxtjs.org/writing#arrays)

[2021-02-05 07:24] christopherjbaker commented on #4695
The link is broken again.

[2021-02-05 08:04] erezrokah commented on #4695
Thanks @chadwithuhc - this should be fixed (again). Slack links are valid for 30 days. We'll try to find a way to automate it.

[2021-02-05 19:12] catherineolson opened #4920 "TypeError: undefined is not an object (evaluating 'e.get')"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.79`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0.1 Safari/605.1.15`

**CMS configuration**
[code]

[2021-02-05 19:30] erezrokah commented on #4920
Hi @catherineolson can you please share the full `config.yml` and a screenshot of the error?

[2021-02-06 05:38] mrdotkg commented on #2557
The UX Project for v3 that tracks integration of Awesome UI suggested by @austincondiff was last updated a few months back.

We would like to know

- When are we launching?
- Where are we now?
- How can we help?

[2021-02-06 20:39] E-Bachman commented on #2557
I like the existing UI, its simple and lean. All this new UI would make the project artifacts huge, not all CDNs support `netlify` folder being so hundreds of megabytes big.

I think it should be a fork or a "theme" and people should be able to create other "themes" that they like vscode.

[2021-02-06 20:44] tbsgln commented on #4581
Found the error on my side: I had to add `i18n: true` to every field I want to be able to translate.

If I had read the docs better, I would have catched it sooner 🤪

[2021-02-07 09:23] gkweb commented on #2183
+1

[2021-02-07 10:36] erezrokah commented on #2183
Hi all, please upvote the issue by clicking the upvote button 👍 .
That way we can sort by upvotes when we search for issues.

[2021-02-07 11:33] erezrokah commented on #4908
Fixed via https://github.com/netlify/netlify-cms/pull/4909

[2021-02-07 11:33] #4908 closed

[2021-02-07 14:46] jeremyzilar commented on #935
I have been looking at building my own widget that just gets info from our Airtable API, and either
- inserts the data into Netlify CMS
- inserts just the ID of the record so we can pull the data in the build process

[2021-02-07 20:15] Jarmos-san commented on #1999
So, is there a fix for it yet? I'm on Microsoft Edge & can't log in to Cloudinary through the CMS since the redirect never really works out. Would love to share more information on it, but I just need some guidance here since frontend stuff isn't my forte.

[2021-02-08 14:44] erquhart commented on #2557
@mrdotkg the status hasn't really changed. The UI rewrite effort was spearheaded by @austincondiff, initially aided by a few others. Austin completed an _enormous_ amount of product, design, and implementation work (plus UI docs in storybook), but the task is bigger still. There's no roadmap for all of this, he sort of brought the vision. Anyone looking to take it further is welcome, but will need

[2021-02-08 15:56] nachodz opened #4937 "TypeError: fullImage is undefined"
**Describe the bug**
When I open admin console to edit a preloaded page, it throws me the TypeError on image below.
I had same issue when I'm trying to create a new post but it's a different TypeError.
I'm using Gatsby + Netlify CMS Starter [https://github.com/netlify-templates/gatsby-starter-netlify-cms](url)
**Screenshots**
![image](https://user-images.githubusercontent.com/5948840/107243364-b0e

[2021-02-08 15:59] smashercosmo commented on #4937
@nachodz it's not a netlify-cms issue. You should open this issue in https://github.com/netlify-templates/gatsby-starter-netlify-cms repository.

[2021-02-08 21:19] nachodz commented on #4937
Thanks, @smashercosmo.

[2021-02-08 21:19] #4937 closed

[2021-02-08 21:22] boehs commented on #4737
also have this issue

![](https://e.reeee.ee/rg0R43.gif)

Browser is vivaldi

[2021-02-08 21:43] scerelli opened #4941 "Login issues, user not found."
Hi, I have some problem while trying to log in the owner of the netlify account to her own netlify cms

so this is what i did:
- I created a new private repo with a gatsby website starter and netlify cms.
- I created an account for my friend on netlify using her email address,.
- I set up a gateway to my private repo (where I keep her website) and i enabled the netlify identity.
- I invited my ema

[2021-02-08 22:01] #4941 closed

[2021-02-09 09:53] #4894 closed

[2021-02-09 10:12] dsunwar opened #4942 "TypeError: Cannot convert undefined or null to object"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.24`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.150 Safari/537.36`

**CMS configuration**
[code]

[2021-02-09 15:31] pmpinto opened #4945 "Prevent front matter injection through the body field"
**Describe the bug**
It's currently possible to inject front matter properties within the body field.
This means CMS users can:
* Introduce new front matter properties that were never planned;
* Potentially clash with other reserved properties such as `layout` or `slug`;
* Mistakenly introduce properties with values as `null`;

I also tried overriding a property that as filled in above and the fie

[2021-02-09 23:51] scerelli opened #4946 "Issues with identity, site name and local development"
I think there is a bug related to Netlify identify and local development.

**To Reproduce**
Steps to reproduce the behavior. For example:
1. Create a new instance on netlify with netlify cms and gatsby starter (the one i used)
2. You can use the config i attached in this issue
3. Log into the netlify cms admin in the local environment
4. Everything should work
4. Now change the URL of the netlify

[2021-02-10 08:35] terribleherbst commented on #1503
+1

[2021-02-10 09:15] erezrokah commented on #1503
Hi all, it's better to upvote the issue by clicking the 👍 button. That way we can sort issues by upvotes.

[2021-02-10 09:56] erezrokah commented on #4946
Hi @scerelli you should be able to change the localhost URL by clearing the browser cache/changing the via developers tools under Local Storage:
![image](https://user-images.githubusercontent.com/26760571/107494033-f97e4300-6b96-11eb-8e61-341ae5bcb6be.png)

[2021-02-10 10:19] scerelli commented on #4946
I double check this because yesterday i also tried to clear the localStorage. I get back to you asap

[2021-02-10 11:47] kylekirkby commented on #4056
@erezrokah - One of our CMS users has reported that they cannot update a post due to:

```Failed to persist entry: API_ERROR: GitRPC::BadObjectState.```

We are, however, not using Git submodules.

![netlifycms-test](https://user-images.githubusercontent.com/4564433/107506199-a9eb4780-6b95-11eb-9935-18581a955cfa.gif)

Any ideas?

[2021-02-10 11:56] erezrokah commented on #4056
Hi @kylekirkby that error can come up when not using submodules:
https://community.netlify.com/t/failed-to-persist-entry-api-error-gitrpc-badobjectstate/12639

I would suggest opening a new issue with a reproduction

[2021-02-11 10:43] mcolmant commented on #3759
This feature will be really great for us too and it will improve the UI a lot for us.

[2021-02-11 16:50] VedantSuryawanshi opened #4952 "error"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: [e.g. GitHub, BitBucket]
 - OS: [e.g. Windows 7]
 - Browser version [e.g. chrome 22, safari 11]

 - Node.JS version:

**CMS configuration**

**Additional context**

[2021-02-11 16:50] #4952 closed

[2021-02-12 19:00] pachicodes commented on #4784
Hi @erezrokah rhank youfor being so welcoming!

I thought I would have time for this but I just started a new job and I am busier than I expected so I no longer will be able to contribute.
Sorry about that!

[2021-02-13 21:51] OlenaSakhno opened #4953 "TypeError: e.join is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.91`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.150 Safari/537.36`

**CMS configuration**
[code]

**Additional context**

[2021-02-14 07:51] hstandeffer commented on #1025
Any update? I just started using this, but am wondering if I can just disable automatic deployments and deploy each change one by one to not avoid repetitive failed builds?

[2021-02-14 09:16] erezrokah commented on #4953
Hi @OlenaSakhno can you share a screenshot of the error and potentially a public repo reproducing it?

[2021-02-14 13:51] andreasbalevik opened #4954 "Relation widget bug when using slug as valueField"
**Describe the bug**
Relation widget is not working when using slug as valueField as described here https://www.netlifycms.org/docs/widgets/relation/. The autocomplete field only show one suggestion, and when selecting that option no value is assigned to the field.

**To Reproduce**
1. Add relation widget
[code]
[code]

**Expected behavior**
Relation field should show all suggestions. When an item

[2021-02-14 15:47] oscarruz opened #4955 "Failed to persist entry: API_ERROR: Not Found"
Hi!

I'm new with Netlify CMS and I want to integrate Vuepress with Netlify CMS in the backend.

/blog/.vuepress/public/admin/config.yml:

[code]
I have created the OAuth from GitHub to Netlify. In Netlify is works the deploy correctly. I'm very confused.

---
Only I want to create a developer scenario with Vuepress + Netlify CMS I know that Github is necessary of course.. but I'm not sure if it's

[2021-02-14 15:49] erezrokah commented on #4955
Hi @oscarruz the `branch: main` part should be under `backend`. Also `api_root` is not required.
Can you try:
[code]

[2021-02-14 15:57] oscarruz commented on #4955
Hi @erezrokah, thanks for your answer :)

Unfortunately it doesn't work. Already I have tried without this parameter. I have tried a lot of things... It's the same message error. Failed to persist entry: API_ERROR: Not Found

I have read in another post that maybe is the permissions of the organizations into Github but I haven't organization. Also I have read that maybe is because the folder colle

[2021-02-14 16:09] erezrokah commented on #4955
Hi @oscarruz, can you share a link to the repo?
Looking at the `config.yml` in https://blog03-oruz.netlify.app/admin/config.yml the `branch` configuration is still under the root and not under `backend`. Please note it should be the name of your default branch (usually `master` or `main` but can also be a different one).

[2021-02-14 16:17] oscarruz commented on #4955
Hi @erezrokah. The link is this: [https://github.com/oscarruz/blog03/]
I'm not understand well your explanation. My default branch is 'main'.

[2021-02-14 16:22] erezrokah commented on #4955
Hi @oscarruz can you try with [this change](https://github.com/oscarruz/blog03/pull/1)? From the history of that file I don't see where `branch: main` was configured under `backend`

[2021-02-14 16:29] oscarruz commented on #4955
@erezrokah you right it was the problem the branch configuration of the root level and not under backend but only works in deploy Netlify server in not in dev server: https://localhost:8080/admin it show the same error.

I'm not clear how it works Netlify CMS why I cann't use in the local dev mode?

Thanks for your help.

[2021-02-14 16:34] erezrokah commented on #4955
Hi @oscarruz Glad to see it is working. Can you try following https://www.netlifycms.org/docs/beta-features/#working-with-a-local-git-repository?
If that doesn't work please open a new issue to keep this one scoped to the original problem.

[2021-02-14 16:34] #4955 closed

[2021-02-14 18:23] AshtarCodes commented on #4784
Hi, I'd like to work on this issue! Is it still available/open?

[2021-02-14 18:33] erezrokah commented on #4784
Hi @AshtarCodes, I believe it is! I've assigned you to it. Thanks you ❤️ Please let me know if you have any questions

[2021-02-14 19:41] AshtarCodes commented on #4784
No problem. Thanks, I will!

[2021-02-15 11:08] martinklepsch commented on #4493
I ran into this issue as well and was able to fix it by temporarily deploying with `backend: github` and then changing it back to `backend: git-gateway`.

[2021-02-15 12:40] majki600rr opened #4958 "Azure backend branch in config.yml"
**Describe the bug**
Specific branch in config.yml  makes nothing when azure backend is used.

**Expected behavior**
All commits update specific branch

**Applicable Versions:**
 - Netlify CMS version: 2.14.22
 - Git provider: Azure
 - OS: Windows 10
 - Browser version chrome 88.0.4324.150

**CMS configuration**
[code]
**Additional context**
I would like to publish whole content to specific (e.g.

[2021-02-16 04:01] mfrets opened #4961 "IndexSizeError: Failed to execute 'setStart' on 'Range': There is no child at offset 19."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.92`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.150 Safari/537.36`

**CMS configuration**
[code]

[2021-02-16 10:19] erezrokah commented on #4961
Hi @mfrets, can you share some screenshots of the error, the full `config.yml` and possible a repo reproducing it?

[2021-02-16 11:26] pmpinto commented on #3677
Pasting a previous issue comment here as [requested in the original issue](https://github.com/netlify/netlify-cms/issues/4566#issuecomment-724149468).

---

**Is your feature request related to a problem? Please describe.**
I have a `boolean` field that I want to be able to glance at on a `list`. So I do:
[code]

And I get a list like this:
[code]

**Describe the solution you'd like**
I would like

[2021-02-16 11:28] pmpinto commented on #4945
@erezrokah Dragging you here since you have addressed some of my issues in the past, and this feels quite relevant.

[2021-02-16 12:17] lbischof commented on #3677
Maybe also something like: `is_featured | "🌟" if true`, which would allow `is_featured | "🌟" if "yes"`
It would also be cool if the filters could be chained (not sure if this is already possible): `is_featured | "★" if true | "☆" if false`

[2021-02-16 12:31] #4920 closed

[2021-02-16 12:31] #4942 closed

[2021-02-16 16:38] tpavel-aspose opened #4963 "preview_path not does not correspond to the real path"
![Uploading image.png…]()
hugo version: 0.80.0
In editor path equal as `conversion-api/conversion-sdk-api/xhtml-converter`
 title: `XHTML converter`
 Preview link now as
`
 netlify.app/html/conversion-api-conversion-sdk-api-xhtml-converter-_index
 `
but must equal
`netlify.app/html/conversion-api/conversion-sdk-api/xhtml-converter/`

my config

[code]

[2021-02-17 11:57] vnourdin opened #4965 "Rebuild image/file widget with Uppy"
**Is your feature request related to a problem? Please describe.**
File uploads management should be handled by **a dedicated tool**, to bring good **features** and more **resiliency**.
[Uppy](https://github.com/transloadit/uppy) seems appropriate as it is **made to be integrated** and is well maintained.

**Describe the solution you'd like**
As described in [#2243](https://github.com/netlify/netl

[2021-02-17 11:58] vnourdin commented on #4965
@owenhoskins already gave a chance to Uppy in [#1032](https://github.com/netlify/netlify-cms/issues/1032), but this was discontinued, any idea why?

[2021-02-17 20:48] wohfab opened #4966 "TypeError on Admin interface, when clicking on Pages > Homepage"
Hi there, I have a weird error, when trying to edit a collection item through the Admin interface. Clicking on `Pages > Homepage`, I do get the following error:

`TypeError: n.split("\n\n")[0].trimEnd is not a function. [...] is undefined.`

Repo: https://github.com/wohfab/fwdc-ald

The error does occur on one single user. Things I tried already:

- using different browsers
- resetting the passwor

[2021-02-17 21:53] qb-rivkyb opened #4967 "Error: Invalid hook call. Hooks can only be called inside of the body of a function component. Th..."
**Describe the bug**
When using react hooks in a component that is used with CMS.registerWidget. I get this error since the version of React in `netlify-cms-app` is lower than in my project which uses the latest version

**To Reproduce**
create a next-app. create an admin page. Add `netlify-cms-app` to the project. Create a component with a hook in it which is used when I do `CMS.registerWidget()`

[2021-02-18 07:17] banyudu commented on #4967
Should react and react-dom be peer-dependencies of `netlify-cms-core` instead of dependencies?

[2021-02-18 10:49] bhargavmoveo opened #4970 "TypeError: Cannot read property 'alt' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.19`
 - Git provider: `bitbucket`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.150 Safari/537.36`

**CMS configuration**
[code]

[2021-02-18 10:50] erezrokah commented on #4970
Hi @bhargavmoveo, can you share a screenshot of the error, the full `config.yml` file and possibly a repo reproducing the issue?

[2021-02-18 11:01] bhargavmoveo commented on #4970
@erezrokah here you go.
![Screenshot 2021-02-18 at 4 30 58 PM](https://user-images.githubusercontent.com/76469453/108347602-b4958480-7206-11eb-9b6f-ff1c09a94078.png)

media_folder: static/img
public_folder: /img

collections:
  - name: "blog"
    label: "Blog"
    folder: "src/pages/blog"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Template Key", n

[2021-02-18 11:03] erezrokah commented on #4967
Hi @qb-rivkyb The CMS is a self contained React app, so per the limitations of using hooks you probably need to use the React copy the CMS uses (regardless of the version).
We could expose it the same way we expose `moment` https://github.com/netlify/netlify-cms/blob/4d296ed77e48ff49fde9041ead0c63d1f93e1b56/packages/netlify-cms-app/src/index.js#L14 or you can try importing the `esm` module from `n

[2021-02-18 11:06] erezrokah commented on #4970
Thanks @bhargavmoveo, can you provide some information on when does the error occurs? When you try to edit a collection entry? Is the screenshot of the editor pane (left pane) or the preview pane (right pane).?

[2021-02-18 11:13] bhargavmoveo commented on #4970
@erezrokah Default showing this error without any edit.

[2021-02-18 12:05] erezrokah commented on #4970
Can you explain what you mean by `Default`? Does it happen when you open root route (e.g `admin`) of the CMS?
Can you provide a step by step reproduction on a public repo?

[2021-02-18 12:07] #4970 closed

[2021-02-18 12:08] bhargavmoveo commented on #4970
@erezrokah I edit directly .md file so that is showing an error now it's working. Thanks !

[2021-02-18 12:37] martinjagodic opened #4972 "Make nested collections work with a flat content structure"
As discussed in #4969, I would like to see nested collections work with the flat content structure.

Currently, nested collections work with only one type of content structure, where every markdown file has to be in its own folder:

[code]

I would like to see it work also with a flatter structure, like this one:

[code]

[2021-02-18 12:43] erezrokah commented on #4972
Hi @martinjagodic, thank you for opening the issue. This would be great to have.

Would the logic be to treat any non `index.md` file as a child of the `index.md` file for UI purposes?
We do want to show `author-1.md` only when someone navigates to `authors` correct?
See https://netlify-cms-widget-parent.netlify.app/#/collections/pages:
![image](https://user-images.githubusercontent.com/26760571/1

[2021-02-18 12:47] erezrokah commented on #4966
Hi @wohfab is this still an issue? I couldn't reproduce using your repo (also tried reverting https://github.com/wohfab/fwdc-ald/commit/39b657f8832becae0ec6f163deeffd5c53aefbb5 and c8e56667f2d7e81c389b9444a2ba1969eff271f2)

[2021-02-18 13:14] wohfab commented on #4966
Hey @erezrokah, thanks for trying and the quick reply.

Unfortunately, it is still an issue. I couldn't reproduce it with my account either, but with my friend's account, it does not work. I don't know if you have the possibility to "imitate" an existing user account to see, what's happening there. If not, I will ask her to reset the password, so I can share the login info.

[2021-02-18 13:21] erezrokah commented on #4965
Hi @vnourdin it looks like it hit a wall because some limitations we had with uploading and deleting multiple files in a single commit.
I believe those limitations don't exist anymore as our backend implementations now support that.

It would be great to pick up that work and open a PR for it.

[2021-02-18 13:23] erezrokah commented on #4966
Hi @wohfab we can't really imitate another user account.
I recommend sharing a step by step reproduction we can both follow.

[2021-02-18 13:46] martinjagodic commented on #4972
@erezrokah yes, this is how I imagine it.

[2021-02-18 17:50] qb-rivkyb commented on #4967
Hi,
I ended up adding this to my `package.json` and it fixes it for now. I cannot share my repo but if I have time I can try to create a test repo.

[code]

[2021-02-18 18:38] erezrokah commented on #4967
Thanks @qb-rivkyb that's useful. I'm going to close the issue. Please comment if still relevant.

[2021-02-18 18:38] #4967 closed

[2021-02-18 20:20] schindld commented on #3809
@axeleroy How did you end up solving this? Did you load marked from CDN, or is there a function in netlify-cms you called?

[2021-02-19 03:24] killmen136 opened #4974 "Please replace with a clear and descriptive title"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-02-19 08:21] axeleroy commented on #3809
Hi @schindld! I loaded marked [from CDN](https://marked.js.org/#usage) then I was able to use it to render the preview.

[code]

[2021-02-19 11:15] tcoopman opened #4975 "Choosing cloudinary image does not work"
I'm using following versions from unpkg:
[code]

And have configured cloudinary:

[code]

When I try to click on "Choose an image" or "Choose a different image" I get this error in the console:

[code]

I'm using this in a nextjs application with react 17.

[2021-02-19 17:49] p-goetz opened #4976 "Custom editor component sometimes not rendered correctly"
**Describe the bug**
I have created two custom editor components and defined them inside my `admin/index.html`. When I use them in an empty page they are getting parsed correctly and don't throw any errors in the Javascript console.
But when I have an empty page and add one of each components sometimes one component won't be rendered correctly and the second component in the page throws a Javascri

[2021-02-19 17:55] #4974 closed

[2021-02-20 06:28] banyudu commented on #4837
Can't reproduce in macOS. Have tried Baidu Wubi, Baidu Pinyin, Sogou Wubi, Sogou Pinyin, and the JianTi Pinyin IME comes with macOS.

[2021-02-20 12:24] l0u1sg opened #4977 "Failed to persist entry: API_ERROR: Not Found"
Hello, I configured my blog from this repo (https://github.com/W3Layouts/gatsby-starter-delog) except that I get this error when I want to make a post : Failed to persist entry: API_ERROR: Not Found. The github repo is not in an organization, it's private, but I checked the Auth0 for access to private repo. I even tried to pass my repo in public, but nothing works. Here is the content of my config

[2021-02-20 18:31] smashercosmo commented on #4976
Without digging into the issue I would say that it's probably not a very good idea to use html-like syntax in your custom components, because markdown parser might mistake it for html. Can you try to change syntax to use curly braces only? Like:
[code]
And tell if error still persists.

[2021-02-20 19:36] p-goetz commented on #4976
Thanks for your reply! The problem is that this is Hugo's shortcode syntax that I need to use in order for it to correctly render my content.
How do other Hugo users do this?

[2021-02-20 23:54] smashercosmo commented on #4976
Hm... according to docs this should work https://www.netlifycms.org/docs/hugo/#using-hugo-shortcodes-in-the-markdown-editor

[2021-02-21 01:01] jboolean commented on #1378
Would love to see this. It seems to recognize thematic breaks, but can't create them.

[2021-02-21 01:18] lourd opened #4978 "Prefixing values from fields that use the markdown widget"
I have a page I'm building with Netlify CMS and Gatsby, backed by a file collection. The collections configuration looks something like this:

[code]

Unfortunately the `markdown` configuration for the `text` field doesn't "just work" with Gatsby, because Netlify CMS produces a plain string. The output yaml looks something like this:

[code]

and Gatsby (or more specifically, the [gatsby-transform

[2021-02-21 03:13] lourd commented on #4978
An alternative solution for folks following this trail later is to use a [custom schema extensions to transform the field from a markdown string to HTML during the build, as described in the Gatsby docs](https://www.gatsbyjs.com/docs/reference/graphql-data-layer/schema-customization/#creating-custom-extensions).

[2021-02-21 08:31] umihanik01 opened #4979 "IndexSizeError: Failed to execute 'setStart' on 'Range': There is no child at offset 2."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.93`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.182 Safari/537.36`

**CMS configuration**
[code]

[2021-02-21 08:31] umihanik01 opened #4980 "Please replace with a clear and descriptive title"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-02-21 08:31] umihanik01 opened #4981 "Please replace with a clear and descriptive title"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: [e.g. GitHub, BitBucket]
 - OS: [e.g. Windows 7]
 - Browser version [e.g. chrome 22, safari 11]

 - Node.JS version:

**CMS configuration**

**Additional context**

[2021-02-21 08:34] erezrokah commented on #4975
Hi @tcoopman can you please share a reproduction scenario per our [issue template](https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title).
Specifically share a full `config.yml` and step by step instructions to reproduce the issue.
A public repo reproducing the issue is the fastest way to get i

[2021-02-21 09:07] #4980 closed

[2021-02-21 09:07] #4981 closed

[2021-02-21 09:09] erezrokah commented on #4979
Hi @umihanik01, can you share a screenshot of the error, the full `config.yml` and a step by step reproduction?

[2021-02-21 09:19] erezrokah commented on #4977
Hi @l0u1sg can you trying setting the default branch to `main`

[code]

[2021-02-21 09:22] erezrokah commented on #1378
We would happily accept a contribution for this

[2021-02-21 09:25] p-goetz commented on #4976
Thanks for checking the docs with me. I have based my editor components on the examples you mentioned in the documentation. To be on the safe side I have also tried your suggestion from yesterday and removed the '<' and '>' from my shortcodes. Obviously they won't work with Hugo, but I wanted to check what Netlify CMS does.
The bad news: the error is still there. So I guess it has nothing to do wi

[2021-02-21 09:27] erezrokah commented on #4978
Hi @lourd I think custom schemas is the way to go here.
Since this is more a Gatsby issue - closing it.

If you really want to handle it in the CMS - a custom widget should work

[2021-02-21 09:27] #4978 closed

[2021-02-21 09:31] erezrokah commented on #4976
Hi @p-goetz this is where those patterns are used https://github.com/netlify/netlify-cms/blob/b0fcaec4c30e3e7028206de1d83ffdd4a6fdbba8/packages/netlify-cms-widget-markdown/src/serializers/remarkShortcodes.js#L14

[2021-02-21 09:44] p-goetz commented on #4976
Thanks, @erezrokah! I had briefly looked at this module when I first got these Javascript errors but don't really understand what they are trying to do. I think it is especially the function `eat` that I don't get. Who passes it into the function and what does it do?

[2021-02-21 10:02] erezrokah commented on #4976
Hi @p-goetz, there's actually a lot of stuff going into that.
To summarize - this is the place where strings from the markdown content are parsed into objects and serialized back to string using the `pattern` and `toBlock` values you provide.
See also https://github.com/netlify/netlify-cms/blob/b0fcaec4c30e3e7028206de1d83ffdd4a6fdbba8/packages/netlify-cms-widget-markdown/src/serializers/remarkShor

[2021-02-21 11:39] #4946 closed

[2021-02-21 12:41] smashercosmo commented on #4976
@p-goetz I can look into the issue if you create test repo where this issue can be reliably reproduced

[2021-02-21 14:22] martinklepsch commented on #4493
I encountered this issue again. For me it always happens on the login page, preventing me from logging in. I'm not sure if this could be related in any way but it looked like my previous session was ended due expiry.

Somehow the `/.netlify/git/settings` endpoint gets into a weird state and returns

[code]

Temporarily switching the backend to `github` and then back to `git-gateway` + clearing bro

[2021-02-21 14:27] nibbleshift commented on #3704
Is anyone currently working this issue?  This would be a great feature to have.

[2021-02-21 17:07] tylerbrostrom opened #4984 "Initializing Netlify CMS in a TypeScript project results in unexpected type errors"
**Describe the bug**

Initializing Netlify CMS in a TypeScript project results in unexpected type errors. These errors stem from changes to the `CmsCollection` interface in #4950.

For some of these errors, attempting to satisfy TypeScript results in a runtime config-loading error (see screenshots).

`ViewFilter.id`
[code]

`ViewGroup.id` `ViewGroup.pattern`
[code]

`CmsCollection.type`
[code]

**

[2021-02-21 17:25] l0u1sg commented on #4977
I have no more errors, the articles appear, I manage to create them from the interface. But the problem is that they don't appear only when I create them and they don't disappear only when I delete them.

[2021-02-21 17:38] erezrokah commented on #4977
Hi @l0u1sg I recommend opening a new issue for that with a reproduction so we can investigate separately.
Closing this issue

[2021-02-21 17:38] #4977 closed

[2021-02-21 18:17] peruukki commented on #4179
I've run to this same issue but my setup doesn't have TypeScript. The problem also apparently happens in this repository that uses JavaScript: https://github.com/equk/equk-gatsby#postbuild. In my case, the error showed up once I tried to import font declaration CSS files, e.g. [eb-garamond](https://github.com/fontsource/fontsource/blob/master/packages/eb-garamond/400.css):
[code]
The error comes w

[2021-02-21 20:05] p-goetz commented on #4976
Thanks for the explanation @erezrokah. I will have a look to get a better understanding.

@smashercosmo thank you very much for your offer! I have created a simple repository here: https://github.com/p-goetz/netlify-cms-sandbox

It contains one page `test.md` that currently shows the error. That file currently has shortcodes `a` and `b` in the sequence b-a, while the `admin/index.html`defines them

[2021-02-22 07:44] #4984 closed

[2021-02-22 11:43] smashercosmo opened #4987 "Keeping internal and external types in sync"
**Is your feature request related to a problem? Please describe.**
We have internal and external TS types, which are mostly the same but have subtle differences (this issue https://github.com/netlify/netlify-cms/issues/4984 as an example). We need to come up with a way of:
1. Keeping those types in sync
2. Avoid types duplication

**Describe the solution you'd like**
I don't have a solution yet. T

[2021-02-22 12:33] smashercosmo commented on #4987
One solution is simply not having separate types. For example instead of assigning 'file' or 'folder' type to collection at runtime and then accessing it with ```collection.get('type')```, we could use simple selector instead, like ```getCollectionType(collection)```.

Same for view_filters and view_groups. Instead of assigning ids to filters and groups in runtime, we could have ```getViewFilterId

[2021-02-22 12:37] erezrokah commented on #4987
I don't like the approach we currently having where we add to many things to the user configuration during normalization.
The transformation makes it harder to debug issues.

Selectors sounds like a solid approach.

[2021-02-22 13:50] smashercosmo commented on #4976
@p-goetz I thing I figured out the problem with your code. Try to change your regexes to these
[code]
[code]
and tell me if the error still persists.

[2021-02-22 13:53] smashercosmo commented on #4976
I think this can also be solved by using lazy quantifiers, but I haven't tried it yet.

[2021-02-22 14:26] smashercosmo commented on #4976
Oh, I've just noticed that your regexes are actually using lazy quantifiers :) Well, this probably answers the question.

[2021-02-22 14:57] p-goetz commented on #4976
Thanks for much for this help. The `^` indeed solves this specific problem. I remember having read about it in some related issue here on GitHub. It didn't work for my more complicated use case, though.
I will now step by step make the example more complicated and check if the wrong behavior reappears. If it won't that means I will have found an error in my initial example, otherwise I will have a

[2021-02-22 15:06] smashercosmo commented on #4976
Well, I tested your custom components with changed regexes and it solved the issue for me

[2021-02-22 15:23] smashercosmo commented on #4976
I guess this particular issue can be closed now

[2021-02-22 15:30] #4976 closed

[2021-02-22 16:57] smashercosmo commented on #4884
I can confirm. Seems like a bug. I'll look into it.

[2021-02-22 17:33] jwktje commented on #4963
I have this same error. I tried testing with different tags but {{filename}} doesn't even seem to work at all.

[2021-02-22 18:49] smashercosmo commented on #4884
@erezrokah I'm trying to replicate it in dev-test demo. This doesn't work. What am I doing wrong?
[code]
[code]

[2021-02-23 06:20] ewintr commented on #4954
Just some additional information from when I encountered this bug this weekend: it only happens when the `slug` of the target of the relation is something other than `"{{slug}}"`

So what does not work is:

[code]

But what works is:

[code]

[2021-02-23 09:34] erezrokah commented on #4884
I'm not sure @smashercosmo as each backend handles nested collections a bit different.
Maybe try using `npx netlify-cms-proxy-server`?

[2021-02-23 12:57] filipburian commented on #565
Hi, any updates on this?

[2021-02-23 15:30] smashercosmo commented on #4884
Ok, I have to admit this is more complicated than I expected. I understand where this issue comes from (currently we only care about 'depth' and not take into account the actual custom collection path), but in order to fix it properly, I need to have very good understanding of how custom collection paths and nested collections and i18n works together. The issue is not critical so I would wait for

[2021-02-23 18:36] betaflag commented on #4353
I have the exact same error spinning up a new site with jekyll, can't use code widget at all.

[2021-02-24 05:15] tonyketcham opened #5013 "Config option to escape required fields when in draft stage of editorial workflow"
### Is your feature request related to a problem? Please describe.
Using the editorial workflow while working on pieces of long-form content with many required fields may warrant multiple iterations of work to be done on a single entry in order for all of those required fields to be entered in. Currently, I'm not aware of a way to save a draft without all the required fields being filled out.

Tha

[2021-02-24 23:11] Pearce-Ropion opened #5016 "Config option for list widget to allow default list when using fields option"
**Is your feature request related to a problem? Please describe.**

Currently, the `default` option on the list widget only allows you to provide a default value when using the `field` option which allows you to specify a comma separated list of string items. However, when using the `fields` option, the `default` option has no effect, instead you must specify defaults for each of the individual fi

[2021-02-25 00:36] Pearce-Ropion commented on #4819
Fields meta data is always empty on the first render. You have to wait for the author data to be present since the call is `async`. Here's an example of how we do it with your config. Basically you need a bunch of if statements to get the required data.

[code]

[2021-02-25 14:24] timbomckay commented on #4317
Hello, I'm still struggling to get nested collections to work properly. I still get the `PATH IS REQUIRED. '%{PATH}' IS NOT A VALID PATH` error when I try to publish a new page without populating the `path` field, but now when I set that field to `/` it replaces the home page file at `content/index.md`.

Is this the expected behavior? Are authors expected to always provide the path field?

[2021-02-25 14:31] greatislander opened #5026 "Relation widget should support min and max attributes if multiple is true"
**Is your feature request related to a problem? Please describe.**

The [relation widget](https://www.netlifycms.org/docs/widgets/#relation) supports selecting multiple items when the `multiple` attribute is true. Other fields that support multiple items, such as [list](https://www.netlifycms.org/docs/widgets/#list) and [select](https://www.netlifycms.org/docs/widgets/#select), allow item length t

[2021-02-25 14:35] erezrokah commented on #4317
Hi @timbomckay - that's expected.
The `path` field gives you full control over the location of the file.

If you'd like to abstract that from users you can write a custom widget instead of using the string widget.
We have an experimental one [here](https://github.com/netlify-labs/netlify-cms-widget-parent) that let's you choose the parent instead of a full path.

[2021-02-25 14:45] timbomckay commented on #4317
Ok I'll check that out. At first glance that looks like it'd be helpful for selecting the parent but would still think I'd have issues when it's a root page. Will that widget apply the slug to the path? I tried providing `default: '{ fields.title }'` to the path but it just inserted that as a string.

[2021-02-25 14:50] erezrokah commented on #4317
You can't use templates in default values as default values are evaluated once before opening the editor.
The linked widget listens to changes in the title field and updates the path accordingly:
https://github.com/netlify-labs/netlify-cms-widget-parent/blob/f591e02415bb741924fb2a8b68e2cd922ba7b337/src/ParentWidget.js#L125

[2021-02-25 14:52] timbomckay commented on #4317
Awesome thanks. I'll report back if I have any other questions. Is this a beta package? Is it in the documentation anywhere?

[2021-02-25 15:26] erezrokah commented on #4317
Nested collection it Beta and the parent widget is very experimental so not documented yet.

It's mostly intended as an example of how to extend the existing nested collection functionality until we can think of a good core widget that we would like to have as a default.

[2021-02-25 16:03] timbomckay commented on #4317
Just plugged this in. It works SO WELL! Thank you! Exactly what I was looking for.

I'll close the issue but you can reopen if you feel like this could be a reference for documenting the widget.

[2021-02-25 16:03] #4317 closed

[2021-02-25 18:25] lostfictions opened #5027 "Provide a proper changelog for netlify-cms/netlify-cms-app so users can understand project changes"
**Is your feature request related to a problem? Please describe.**

Most developers who integrate Netlify CMS into their projects probably consume it via the `netlify-cms` or `netlify-cms-app` packages. However, for developers who want or need to audit changes to their dependencies when upgrading, Netlify CMS makes it nigh-impossible to determine what has changed on upgrade.

Let's say I notice th

[2021-02-26 00:23] lostfictions commented on #5027
Incidentally, the per-package changelogs are currently broken anyway -- the PR links all 404 since they're relative to the package, eg: "https://github.com/netlify/netlify-cms/tree/master/packages/netlify-cms-core/issues/5017"

[2021-02-26 03:20] tonyketcham commented on #5013
Example config:
[code]

This schema allows future extension of the editorial workflow, such as a feature where users could define additional entry statuses.

[2021-02-26 15:30] AshtarCodes commented on #4784
@erezrokah Hi Erez, I'm not sure how to use the yaml to recreate the issue. I was able to get the CMS build running and checked the blog post date picker, and did not find the issue. Could you point me to a resource for recreating with yaml? Also would you prefer I reach out through the slack group? I joined recently. Thank you!

[2021-02-26 17:40] Pearce-Ropion commented on #5016
After looking into this a bit, it looks like you can set a default empty array for complex lists as per #3746.

I propose that list widgets should always use whatever default array (or comma separated string for simple lists). If no `default` option is provided, then it can fallback to the current implementation which creates a single item using the defaults of the provided fields.

[2021-02-26 17:42] MattyBFiresprite opened #5029 "Media Manager - Asset tagging / filtering - Feature Request"
Hi

We love netlify and the CMS, we do! Our web agency used the technology to build our website at firesprite.com.

We're using netlify CMS and now we have quite a lot of imagery uploaded in there, it's getting a bit unwieldy.  Do you guys think it would be possible to add metadata tags to media in the future or something similar so that assets can be filtered or organised?

thanks!

[2021-02-27 02:10] belmarca opened #5031 "Record Netlify identity information in commits when using git backend."
**Is your feature request related to a problem? Please describe.**
I woud like to have netlify-identity user information in git commit messages. Current PRs and merges only contain the repo owner's information.

**Describe the solution you'd like**
Simply appending the logged-in user's username or email to the commit message would be fine.

"Changes made by $FOO" works too.

**Describe alternative

[2021-02-27 05:32] #4325 closed

[2021-02-27 08:23] tomrutgers commented on #5031
Does this cover your needs? https://www.netlifycms.org/docs/beta-features/#commit-message-templates

[2021-02-27 15:40] mrdotkg commented on #4677
Any update on the fix or any workaround that we could implement?

Modern sites use both Nested Collections and Multiple Languages. In past one year this is the third time I wanted to configure nelifyCMS into my Hugo website. Every time I drop it to such roadblocks.

[2021-02-27 18:57] belmarca commented on #5031
@tomrutgers I have just tested and that does it.

It's been hard to find this information. The beta features page did not appear in my search results. Maybe I should have checkd just in case, but it didn't occur to me.

Thanks

[2021-02-27 18:57] #5031 closed

[2021-02-27 19:20] tomrutgers commented on #5031
The docs definitely need some work, glad it's working 👍

[2021-02-28 01:06] flikteoh commented on #1342
@dafrie How can we add more keys under the alias?

For example:

[code]

Doesn't seem to work.

[2021-02-28 06:54] tonyketcham commented on #5013
I'm taking a stab at this & it'll be my first contribution here!

So far I've got the new config options schema and state set up in my fork:
[feat(core): add requiredFields config schema (netlify#5013)](https://github.com/tonyketcham/netlify-cms/commit/0ae61b72e47513b396aa753946eced9a42cc2419)
[feat(core): add requiredFields config state (netlify#5013)](https://github.com/tonyketcham/netlify-cms/c

[2021-02-28 10:21] erezrokah commented on #983
Closing as stale. Please comment if still relevant

[2021-02-28 10:21] #983 closed

[2021-02-28 10:24] erezrokah commented on #5029
Hi @MattyBFiresprite, we have several issues about improving the media library:
https://github.com/netlify/netlify-cms/issues/2557
https://github.com/netlify/netlify-cms/issues/2243
https://github.com/netlify/netlify-cms/issues/4965
https://github.com/netlify/netlify-cms/issues/1032
https://github.com/netlify/netlify-cms/issues/3240

Can you please update the issue description to match our [featur

[2021-02-28 10:41] erezrokah commented on #5031
Thanks for providing the information @tomrutgers!

Also, we do set the commit author based on Identity information when using `git-gateway`:
https://github.com/netlify/netlify-cms/blob/36608f8d7560649f3a6475da2603b206d1db6b55/packages/netlify-cms-backend-git-gateway/src/GitHubAPI.ts#L105

However, that only works if the Identity information matches an actual GitHub account.

[2021-02-28 11:57] erezrokah commented on #5013
Hi @tonyketcham, thank you for looking into this!
A few questions:
1. Do we want this config to be per collection or affect all collections?
2. In your proposal the configuration is at the root level - should we think of a way to make it clear it's only for editorial workflow mode?
3. Validation code runs for each widget here https://github.com/netlify/netlify-cms/blob/36608f8d7560649f3a6475da2603

[2021-02-28 16:50] michalhudecek commented on #445
What's the progress on this?

[2021-02-28 17:23] erezrokah commented on #445
Hi @michalhudecek this issue is not an easy lift. Do you have a specific use case you're trying to solve?

[2021-02-28 17:34] michalhudecek commented on #445
I would like to make the slug editable with a warning for editors that this might break already shared links.

[2021-02-28 17:43] erezrokah commented on #445
Will the approach in https://github.com/netlify/netlify-cms/issues/445#issuecomment-621700949 satisfy your use case?

[2021-02-28 17:46] michalhudecek commented on #445
Yes, that seems like a perfect solution.

[2021-02-28 19:24] jankohlbach commented on #4318
is this a cors problem? for me any requests that go to /.netlify/git/gitlab/repository/files the cors is failing and I don't know why

[2021-03-01 02:14] tonyketcham commented on #5013
@erezrokah wow, those references are all really helpful and will save me a ton of time, thank you! You've raised some really good questions that I'm going to think over for a couple of days as I get more familiarized with the codebase.

I had originally thought about including the config within the publish mode but saw that as a bit more of an uphill battle refactoring-wise, as opposed to creating

[2021-03-01 08:48] MattyBFiresprite opened #5048 "Media Manager - metadata tagging for filtering of assets?"
I'm finding that having uploaded 50+ or so files, managing / organising or adding new files is unwieldy as I have to scroll all of the way through the media uploaded to find or replace any images that may need maintenance or updating.

It could be useful to be able to filter or parse this media when searching for files that are hosted.

Would it be possible to add some sort of "Metadata" tagging w

[2021-03-01 08:50] MattyBFiresprite commented on #5029
Sorry - I need coffee - have mistakenly opened a new ticket with a more precise description- -please delete this one. Apologies.

[2021-03-02 02:46] AshtarCodes commented on #4784
Hi @erezrokah,

I used the above YAML to deploy the CMS on a gatsby template, and I haven't been able to recreate the bug. Below are two videos (chrome, and firefox) where I try to recreate it. I'm new to this, so feel free to let me know if there is something obvious I may have missed.

https://res.cloudinary.com/ashsheran1/video/upload/v1614651885/Video/Content_Manager_-_Google_Chrome_2021-03-01

[2021-03-02 02:56] artt opened #5049 "i18n with multiple_files misidentify "md" within the slug name as extension"
## Describe the bug

When using i18n with `multiple_files` structure with slug name containing "md", Netlify CMS incorrectly identify the `md` as the file extension, and insert `lx.md` there instead (where `lx` is the language).

## To Reproduce

* Create a `yml` file with the following i18n options:
[code]
* Create a collection, for example, with
[code]
* Create a new "member" object whose name c

[2021-03-02 08:41] pdkn commented on #4784
Thanks for looking at this. I haven’t had time myself. This is likely a time zone bug. I assume you are in USA? Try UK timezone.

[2021-03-02 13:59] igorwojda commented on #4737
Same problem in Edge

[2021-03-02 14:05] yesminegh opened #5050 "TypeError: Cannot read property 'heading' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.14.25`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.190 Safari/537.36`

**CMS configuration**
[code]

[2021-03-02 14:11] erezrokah commented on #5050
Hi @yesminegh can you share a screenshot of the error, the full config.yml and a step by step reproduction?

[2021-03-02 14:23] yesminegh opened #5051 "TypeError: Cannot read property 'heading' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.14.25`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.190 Safari/537.36`

**CMS configuration**
[code]

[2021-03-02 14:24] erezrokah commented on #5051
Duplicate of https://github.com/netlify/netlify-cms/issues/5050

[2021-03-02 14:24] #5051 closed

[2021-03-02 14:24] #4953 closed

[2021-03-02 14:24] #4961 closed

[2021-03-02 14:25] erezrokah commented on #4966
Closing - please comment with a reproduction if still relevant

[2021-03-02 14:25] #4966 closed

[2021-03-02 14:25] #4975 closed

[2021-03-02 14:25] #4979 closed

[2021-03-02 14:40] boehs commented on #4737
Awesome, great to see this recognized finally, thanks @erezrokah !

[2021-03-02 19:23] pawelbrzezinski commented on #3682
Thank you @Lane !!

[2021-03-03 20:29] wittenbrock commented on #793
I'm in the boat as @miklschmidt - none of the above solutions worked. The CMS's styles look fine until I add this line:

`CMS.registerPreviewTemplate('blog', () => <div>Test</div>);`

Then they have the janky formatting mirrored in his screenshot.

gatsby: 2.32.2
emotion: 11.0.0
gatsby-plugin-emotion: 6.0.0
netlify-cms-app: 2.14.21

[2021-03-03 21:43] tommulkins opened #5053 "Update suggested for Object Widget documentation."
The example in the object widget documentation needs to be updated to reflect the fields belonging to the object are in a list.

Currently:
[code]

 Correction:
[code]

[2021-03-04 00:19] johnmoxon opened #5055 "Please replace with a clear and descriptive title"
**Describe the bug**
when a session times-out/expires or crashes during editing a draft entity and the page is reloaded, the user is presented with a browser confirmation asking if they wish to reload the local backup version - _"A local backup was recovered for this entry, would you like to use it?"_

When selecting **Yes** the edit page briefly loads the unsaved backup version before automatical

[2021-03-04 08:40] bhargavmoveo opened #5056 "When adding new map list - showing - TypeError: Cannot read property 'alt' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.19`
 - Git provider: `bitbucket`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.192 Safari/537.36`

**CMS configuration**
[code]

[2021-03-04 08:42] bhargavmoveo commented on #5056
![Screenshot 2021-03-04 at 2 04 43 PM](https://user-images.githubusercontent.com/76469453/109935453-9db95c80-7cf3-11eb-9802-2bc27148d8b1.png)

[2021-03-04 09:44] erezrokah commented on #5053
Hi @tommulkins, both ways are valid `yaml` syntax to define a list and work in the CMS.
You can check it in http://www.yamllint.com/

Closing the issue. Please comment if I got this wrong

[2021-03-04 09:44] #5053 closed

[2021-03-04 09:50] erezrokah commented on #1134
Closing this as stale

[2021-03-04 09:50] #1134 closed

[2021-03-04 09:53] erezrokah commented on #5056
Hi @bhargavmoveo, can you fill in the missing parts of the issue template (Describe the bug, To Reproduce, etc.)?
Also please share the full `config.yml` and possibly a repo reproduction the issue.
Please note that this error usually comes from a custom preview template which is user code and not CMS code.

[2021-03-04 15:05] tommulkins commented on #5053
Hi @erezrokah

When I try to use the current syntax I get the following error:

![image](https://user-images.githubusercontent.com/11251283/109983402-c845ee00-7cd0-11eb-9910-06481205f487.png)

Here's my complete `collections` yaml portion:

[code]

When I explicitly place the widget object `fields` into an array it works fine:

[code]

Perhaps I'm missing something I just don't find obvious.

[2021-03-04 15:17] erezrokah commented on #5053
I think the reason is that you're mixing different styles.
This works:
[code]

[2021-03-04 15:18] tommulkins commented on #5053
I see.  Thanks! 🙂

[2021-03-04 17:12] erezrokah commented on #793
For those who are experiencing the issue in https://github.com/netlify/netlify-cms/issues/793#issuecomment-769165829, can you try downgrading to `emotion@10` and `gatsby-plugin-emotion@4`? The CMS uses `emotion@10`, so the two different version might be conflicting.

[2021-03-04 18:20] garytate123 opened #5058 "TypeError: e.join is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.96`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.72 Safari/537.36`

**CMS configuration**
[code]

**Additional context**

[2021-03-04 18:44] #5058 closed

[2021-03-04 18:45] garytate123 commented on #5058
Need to add field to tags - {
          label: "Tags",
          name: "tags",
          widget: "list",
          field:
            { label: "Tags", name: "tags", widget: "string", default: "post" },
        }

[2021-03-05 00:12] miguelt1 commented on #565
Hi, I need this feature for a client requirement, how is going on?

[2021-03-05 15:39] pranali8085 opened #5059 "TypeError: Cannot read property 'map' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.19`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.190 Safari/537.36`

**CMS configuration**
[code]

[2021-03-05 17:35] woodhull opened #5060 "TypeError: Cannot read property 'ownerDocument' of null"
**Describe the bug**
Not sure how this happens, but I got it after trying to edit text after inserting an image.

**To Reproduce**
Not sure

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.14.24`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 11_2_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome

[2021-03-05 18:21] acarnwath opened #5061 ""Media" files don't go through the editorial workflow"
Despite having `publish_mode = 'editorial_workflow';` set (which functions when .md files are created), when an asset is uploaded in the "Media" section, it commits directly to the branch (with the log "Upload “static/assets/file.pdf”) without going through the "approval" (i.e. pull request) process.
This has caused us to inadvertently publish items early since we have automated builds on our mast

[2021-03-05 21:09] mikelehen opened #5062 ""hint" isn't documented on configuration options page."
**Describe the bug**
I had trouble discovering the `hint` option that can be applied to any field (added via https://github.com/netlify/netlify-cms/pull/1429).  I now see that it is documented on the *Widgets* page, but it isn't documented under the `fields` documentation on https://www.netlifycms.org/docs/configuration-options/#fields and I think it probably should be?

**Screenshots**
![image](h

[2021-03-05 23:00] piotrf opened #5063 "TypeError: Cannot read property 'get' of null"
**Describe the bug**

This bug occurs when toggling on Split view for translation.

**To Reproduce**

Use CMS configuration below, save a page and then toggle Split view for translation.

**Expected behavior**

Split view should open normally.

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.14.26`
 - Git provider: `github`
 - Browser version: `Mozilla/5.0 (Mac

[2021-03-06 00:04] piotrf commented on #5063
My mistake. I had an error in one of my content files.

[2021-03-06 00:04] #5063 closed

[2021-03-06 08:58] tomrutgers commented on #5062
The fields object itself doesn't have any configuration, it's just a list of widgets, so suggesting it's possible to set a hint property for the fields object might not be a good idea.

[2021-03-06 17:17] mikelehen commented on #5062
The widgets page [says](https://www.netlifycms.org/docs/widgets/#common-widget-options) there are 3 options available on all fields:
![image](https://user-images.githubusercontent.com/206364/110215003-513d6080-7e5c-11eb-80e3-890a422b29e0.png)

The fields [documentation](https://www.netlifycms.org/docs/configuration-options/#fields) documents 2 of them (required and pattern) but not `hint`.
![image

[2021-03-07 06:41] gamusta opened #5064 "TypeError: Cannot read property 'fixed' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/8771520/110231529-86a78400-7f18-11eb-828c-4e2b103c9556.png)

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.19`
 - Git provider: `github`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko)

[2021-03-07 19:27] andreasbalevik commented on #445
Just want to share. Problem in my case is that slug does not sync with the title.

I use jekyll with netlify cms. When creating a page in Netlify "Hello World Page" this will be saved as "hello-world-page-md". In jekyll this will be generated to "/hello-world-page.html" when the site is built. Problem is when changing the title of the page to "Hello Again World", the markdown is still "hello-world

[2021-03-07 20:52] ghostbear opened #5065 "Inline custom widgets"
Hi!

I'm experiencing some issues with creating custom widgets that are inline with the text, like this
[code]
I'm expecting this to show a selector that writers can use to select a navigation item when using rich text, but none is shown and the preview text is also not shown.

This works fine when they are on their own, like this
[code]
This shows a selector that the writers can use to select a n

[2021-03-07 21:56] tylerbrostrom commented on #445
Updating slugs has to be an explicit action. Otherwise, content authors would unknowingly break backlinks all the time. You’d have to account for the update by generating redirect rules for the web server. Traditional CMSs—which may have access to the web server and thus could generate redirects—don’t even do this.

If you have access to the code (i.e. you’re not a non-technical content author), t

[2021-03-08 08:00] mikestopcontinues commented on #445
@tylerbrostrom I think it should be explicit as well, but I'd much rather see this change happen in pieces than it be delayed another 4 years. The vast majority of users only have one content editor.

[2021-03-08 08:40] andreasbalevik commented on #445
@tylerbrostrom i agree.

But this may result in a dillemma.

Not having relevant keywords in domain / url could hurt your relevant search scoore, preventing you from getting the 1st spot in search lists.

But as you mentions, broken backlinks may be a bigger problem. Backlinks also impact the search scoore.

I cant prove that this is the case. If anyone can confirm that the url does not affect the

[2021-03-08 09:47] andreasbalevik commented on #4954
I solved this by using a [uuid plugin](https://www.npmjs.com/package/netlify-cms-widget-uuid-v4) written for netlify-cms. Seems UUID is a better way for connecting relations than slug.

Feel free to close this, but i would strongly advice working on a way to implement this as a default to netlify cms.

[2021-03-08 10:59] erezrokah commented on #565
Hi @filipburian and @miguelt1, we had some work done in https://github.com/netlify/netlify-cms/pull/3891 if you'd like to pick it up.

[2021-03-08 11:04] erezrokah commented on #5059
Hi @pranali8085, can you fill in the missing parts of the issue template (Describe the bug, To Reproduce, etc.)?
Also please share the full `config.yml` and possibly a repo reproduction the issue.

[2021-03-08 11:08] erezrokah commented on #5060
Hi @woodhull can you share a public repo reproduction the issue?  Also please share screenshots of the error

[2021-03-08 11:22] erezrokah commented on #5062
I don't see any harm in adding `hint` under `fields` and also making it more clear that those fields are per object and not for the entire `fields`.
@mikelehen  would you like to submit a PR for it?

[2021-03-08 11:27] erezrokah commented on #5061
Hi @acarnwath - I don't believe this is a bug, but intended behavior.

Media files **_do go through editorial workflow_** if you upload them when editing an entry.
If you upload them directly via the media modal they will be committed directly to the default branch - that's correct. I'm not sure how approving a single image out of context of a specific entry will work.

Another option to prevent s

[2021-03-08 13:09] mikestopcontinues commented on #445
@andreasbalevik I'd prefer a formerSlugs array on the documents themselves for the user to handle based on platform. Some will need redirects, some won't because they're the location of _new_ documents.

[2021-03-08 14:13] woodhull commented on #5060
I dont know how to reproduce. It happened once while inserting an image and has not happened again.

 I got the crash report interstitial screen and it suggested reporting issues here would be helpful so that is what I did.

[2021-03-09 02:15] peruvianidol commented on #4646
I'm not a JS expert but this line seems to be trimming whitespace whenever the content of the field changes:

https://github.com/netlify/netlify-cms/blob/141a2eba565a6fd8b6d8be200481344550501974/packages/netlify-cms-widget-list/src/ListControl.js#L157

[2021-03-09 08:17] Pratik1234agarwal commented on #5026
I wanted to take on this issue. Can someone guide my how can I start looking into this.

[2021-03-09 10:16] erezrokah commented on #445
Not crazy at all, but I don't think this should be done by a content management system as it's very specific to how the site is built and deployed. Perhaps a Netlify Build Plugin.

[2021-03-09 10:42] banyudu opened #5082 "Cannot upload images with `onAddAsset`"
**Describe the bug**

I'm developing a custom widget, which accepts html code (from third party rich editor) and store remote images( img.src and background-image ) to mediaPath.

`onAddAsset` seems like the props I needed, but it doesn't work as expected.

![image](https://user-images.githubusercontent.com/2416493/110456619-be731f00-8104-11eb-9050-66c97b84c29c.png)

**To Reproduce**

[code]

Acco

[2021-03-09 11:20] erezrokah commented on #5082
Hi @banyudu, can you describe in 1 sentence the problem you're trying to solve?
Is it - "I would like to add images to a draft entry without going through the media library?"

I don't believe there's an **_official_** way to do it yet.

I would be nice to open that capability to widgets if you'd like to put a contribution up.

[2021-03-09 11:29] banyudu commented on #5082
Yes!

I'd like to have a try.

Is it ok to add a new props to EditorControl, which dispatches `mediaLibrary`.`persistMedia` action ?

[2021-03-09 11:53] erezrokah commented on #5082
I'll have to see some code to understand this better

[2021-03-09 14:26] erezrokah commented on #5064
Hi @gamusta, can you fill in the missing parts of the issue template (Describe the bug, To Reproduce, etc.)?
Also please share the full `config.yml` and possibly a repo reproduction the issue.

FYI, this error usually comes from a custom preview template which is user code and not CMS code.

[2021-03-09 17:03] acarnwath commented on #5061
The use case that we have is that we want to host "hanging" PDFs or images that aren't used by the website, but rather linked to from social media or email, so uploading it through an entry I don't think works.

This might be a particular use case, I'm not sure, but an extra step of approval before pushing this live would be helpful in our case!

[2021-03-10 08:51] jorgecasar opened #5086 "netlify-cms-app esm distribution"
**Describe the bug**
ESM is not really ESM code, it's CommonJS. The folder called `esm` contains commonJS code, making the exports with `module.exports` that it's commonJS syntax. To be ESM syntax should use `exports`.

**To Reproduce**
1. Import `netlify-cms-app` as the documentation says: [Add to your site: installing with npm](https://www.netlifycms.org/docs/add-to-your-site/#installing-with-np

[2021-03-10 13:11] erezrokah commented on #4484
Related to https://github.com/lerna/lerna/issues/1538

[2021-03-10 13:35] #5050 closed

[2021-03-10 20:13] wittenbrock opened #5091 "Using media_folder on an image or file widget does not override the global media_folder"
### **The Bug**

In `netlify-cms-app@2.14.27`,  when `media_folder` is set on an image or file widget it does not override the global `media_folder`.

This issue could be related to or a duplicate of [issue #4529](https://github.com/netlify/netlify-cms/issues/4529).

### **Expected Behavior**

In Netlify CMS's documentation and [PR# 3208](https://github.com/netlify/netlify-cms/pull/3208), it expla

[2021-03-11 07:40] mikestopcontinues opened #5092 "Cursor jumps to end of editorComponent `text` field in v2.10.97"
**Describe the bug**

It looks like bugs #4539 and #3578 have returned.

**To Reproduce**

1. Register editorComponent with text field (below).
2. Create document, add component, add text to text field.
3. Move pointer to anywhere but the end of the text field input.
4. Try to type.
5. After one character, the cursor jumps to the end.

[code]

**Expected behavior**

I expect the cursor to hold its

[2021-03-11 10:25] gewfy opened #5093 "Async loading issues with Relation widget"
**Describe the bug**
When using the relation widget the async loading overwrites content when switching entry in the editor.

**To Reproduce**
1. Use an asynchronous back-end (we use GitLab)
2. Make sure the collection/entries use the relation widget
3. Open an entry in the editor
4. Afterloading quickly go back and open another
5. After the entry have loaded, wait and suddenly the content gets re

[2021-03-11 10:40] erezrokah commented on #5093
Hi @gewfy, I'm not sure I understand the bug.
Can you share a repo reproducing the issue? Also the view doesn't provide the entire CMS screen so it's quite hard for me to follow what's going on.

[2021-03-11 10:45] gewfy commented on #5093
👋  @erezrokah
Sure! It will take some time to setup, but I'll get back asap.

[2021-03-11 11:57] erezrokah commented on #5092
Hi @mikestopcontinues, I was unable to reproduce this using your example (the cursor doesn't jump for me).

Also, this doesn't happen with any of the blocks in https://cms-demo.netlify.com/#/collections/posts/new

[2021-03-11 12:02] #4072 closed

[2021-03-11 13:10] #4529 closed

[2021-03-11 13:10] #5091 closed

[2021-03-11 13:25] seanburlington opened #5097 "Delete removed images using Folder Collections Media"
possibly related to Delete path folder when delete entry #3615

**Describe the bug**
When using [Folder Collections Media ](https://www.netlifycms.org/docs/beta-features/#folder-collections-media-and-public-folder) a folder is created for the post, images are loaded from and saved to this folder

They are not accessible to the media assets UI

When removing an image from the page it is not deleted

[2021-03-11 13:33] gewfy commented on #5093
@erezrokah Here's a test config fetching from a public github repo https://github.com/29ki/netlify-cms/blob/relation-async-issue/dev-test/config.yml

Jump quickly between the entries and the content from an earlier entry will popup in the "Sections" part

[2021-03-11 13:36] erezrokah commented on #5097
Hi @seanburlington, to get the image deleted you'll need to click `choose different image` and delete it from within the media library dialog (clicking `remove image` is not enough).

Does that work for you?

[2021-03-11 13:40] #4756 closed

[2021-03-11 13:53] seanburlington commented on #5097
ahh - yes and I can manage the page images from there

Thank you

I think I was thrown by clicking "remove image" which removed the image from the "page" but not the folder

I will write up a post on how to use netlify-cms with Hugo page bundles as it hasn't been 100% clear to me

If there is a way to contribute docs let me know.

[2021-03-11 13:53] #5097 closed

[2021-03-11 13:55] mikestopcontinues commented on #5092
Hi @erezrokah Here's a reproduction. Sorry I didn't lead with one. In my own experimentation, it's only the `text` field. The others aren't giving me a problem.

https://codepen.io/mikestopcontinues/pen/PobXQxO

And here's the goal state, which does some parsing to/from markdown. The issue is the same. Including it just for context.

https://codepen.io/mikestopcontinues/pen/QWGzQOr

[2021-03-11 14:43] pmpinto opened #5099 "YAML comments get removed"
**Describe the bug**
I have a YAML file with some comments at the top. This file is linked to a collection in the CMS. I edit the file through the CMS. The comments are removed.

**To Reproduce**
1. Have a file collection pointing to a YAML file
2. Make sure you have commented lines at the top of that YAML file
3. Edit the file through the CMS
4. Inspect the PR and watch those comments vanish

**E

[2021-03-11 15:24] erezrokah commented on #5099
Hi @pmpinto, that's not a bug, but expected behavior.

If you'd like to preserve comments, https://github.com/netlify/netlify-cms/blob/bffdd4adc636f27c072f1f7c3648b3aab4735b4b/packages/netlify-cms-core/src/formats/yaml.js#L41 is the place to start looking into it.

[2021-03-11 16:04] miguelt1 commented on #2405
this feature would be awesome, so we could filter a relation by language for example

[2021-03-11 16:55] pmpinto commented on #5099
I don't want to sound rude, but I'm failing to see how such a behaviour is expected.
Is this mentioned somewhere in the documentation, that I might not have managed to find?

From my POV, the main issue here is that a file that's connected to a collection in the CMS should not be owned by the CMS.

I might have a `books` property  in a file what I want to edit through the CMS. But I might also hav

[2021-03-11 17:12] erezrokah commented on #5099
The CMS doesn't remove sibling properties since those are deserialized as a part of the yaml file.

To preserve comments we'll need to save extra metadata and later on persist in.
I agree this is a valid use case. It would be great if you'd like to submit a PR for it

[2021-03-11 17:37] pmpinto commented on #5099
That's good to know!

I would love to, but I don't think I'll have the time right now.

[2021-03-11 17:50] wittenbrock commented on #5091
@erezrokah - Thanks for fixing this so quickly. As of `2.14.29`, I can confirm that image and file widgets with the `media_folder` property are successfully overriding the global media folder.

Cheers

[2021-03-11 20:02] ianoc90 opened #5101 "TypeError: Cannot read property 'auth' of undefined"
**Describe the bug**
The Preview Template crashes when I open it after deploying changes to netlify.

**To Reproduce**
Deployed to netlify, using NextJS, with netlify identity authentication.

It is booted through the `admin.js` route.
[code]

The template Logic looks like this:

[code]

**Expected behavior**
Preview Template to load in side bar.

**Screenshots**
![image](https://user-images.githu

[2021-03-11 22:26] xtatanx opened #5102 "Unable to access a collection: Unexpected end of JSON input"
Hello, we are currently maintaining a site using Gatsby.js and Netlify CMS. Last week the CMS started failing to load a collection(file collection) of pages returning the error: `Unexpected end of JSON input`. We are getting the error on mediaLibrary.js and entrie.js resulting in the CMs not loading that collection. This issue only happens when we run the project locally, on production the CMS is

[2021-03-12 05:14] robdodson opened #5106 "Nested Collections ignore editorial_workflow when deleting a file."
**Describe the bug**
Using nested collections with `editorial_workflow: true`, a pull request is created when an entry is added or edited. But if you delete an entry it doesn't generate a PR for the deletion, it just deletes and commits to `main`.

**To Reproduce**
Add a new post. Merge the PR. Then delete the post.

**Expected behavior**
A PR is generated in which the post is deleted.

**Actual b

[2021-03-12 09:19] smashercosmo commented on #5102
Yes, more information is definitely needed. There was this section in the issue template, that you skipped
[code]
please provide runnable example where this issue can be reliably reproduced.

[2021-03-12 09:26] smashercosmo commented on #5101
The thing that's always needed is a reduced runnable example, where your issue can be reliably reproduced. If example is not provided, there is a very little chance, that your issue will be ever addressed.

[2021-03-12 10:11] ianoc90 commented on #5101
OK no problems, I'll look into putting something together. Thanks

[2021-03-12 10:30] andreaskundig opened #5107 "editorial workflow's "view preview" fails in monorepo"
**Describe the bug**
Clicking on **View Preview** opens a page that says "Deploy canceled".

Netlify can be [configured](https://docs.netlify.com/configure-builds/common-configurations/#monorepos) to create several sites from different folders of the same github repository.  Whenever something is committed to the repo, a build is triggered for each site. If there is no change in one site's folder,

[2021-03-12 11:32] andreaskundig commented on #5107
The problem probably happens [here](https://github.com/netlify/netlify-cms/blob/141a2eba565a6fd8b6d8be200481344550501974/packages/netlify-cms-lib-util/src/API.ts#L169):
[code]

Any status that has a context that includes the word deploy is considered a preview context.
[code]

[2021-03-12 12:06] andreaskundig commented on #5107
Ah maybe I can fix that by configuring the **preview_context**

https://www.netlifycms.org/docs/github-backend/#specifying-a-status-for-deploy-previews

[2021-03-12 15:11] andreaskundig commented on #5107
Ok so now I noticed that drafts created on one site appear on the other and can even be published from there.

I guess NetlifyCMS is not meant for a monorepo.

[2021-03-12 18:26] ianoc90 commented on #5101
Closing this as I don't think its actually an issue with `netlify-cms`. Seems to be an issue with the Preview Template I set up. I was using `NextJS` <Link />  in my preview template, thats what was throwing the error and breaking the template. If I use a standard link then the preview template works well. Still not sure why this was happening but I can work around this for now. If anyone wants a

[2021-03-12 18:26] #5101 closed

[2021-03-13 06:41] ChrisPJohn commented on #5092
I'm also experiencing cursor jumping to the end of text fields that are inside a component in markdown.

I'm using:
netlify-cms-app@^2.14.26
Chrome 89.0.4389.82
OS: Windows

[2021-03-13 16:41] mark-stopka commented on #1489
Any update on this one?

[2021-03-13 19:20] inajob commented on #4837
Same error in Japanese IME on Windows 10.

[2021-03-13 21:55] haroldao commented on #4645
```structure : hugo````

You can just write  multiple_folders or multiple_files or single_file on "structure"... Something else will return an error...🤗

[2021-03-14 01:24] mikz opened #5108 "Can't type some diacritics in rich text/markdown editor (Windows-1250, ISO 8859-2 characters like ď or ť)"
**Describe the bug**
You can't type some characters using Windows-1250, CP-1250, ISO 8859-2 keyboard characters in Safari 14.0.x on macOS.
Specifically ď or ť characters. You type those by first using the diacritics ˇ and then d making a ď. Or ˇ plus t to make ť.
Instead of the diacritics character the normal latin one is used. Using Czech keyboard layout.
This happens only in Rich text/Markdown e

[2021-03-14 08:11] gimyboya opened #5109 "Broken password rest link"
**Describe the bug**
the URL sent for setting up the user for the first time or for resetting the password is broken

while the link looks like this in the email: `https://WHATEVER.netlify.app/#recovery_token=THE_TOKEN`

it should actually be: `https://WHATEVER.netlify.app/admin/#recovery_token=THE_TOKEN`

the `/admin` is missing.

**To Reproduce**
I just started a brand new Nuxtjs template and tr

[2021-03-14 09:48] #5059 closed

[2021-03-14 09:49] #5064 closed

[2021-03-14 09:49] erezrokah commented on #4251
Closing as stale. Please comment if still relevant

[2021-03-14 09:49] #4251 closed

[2021-03-14 09:50] erezrokah commented on #5106
Hi @robdodson, this is unrelated to nested collections.
Entry deletion doesn't go through the editorial workflow at the moment.

Can you re-phrase your issue as a general feature request not coupled with nested collections?

[2021-03-14 10:20] erezrokah commented on #1489
The best way to move this forward is to submit a contribution for it.

[2021-03-14 10:28] erezrokah commented on #5109
Hi @gimyboya. This is not a bug with the CMS - by default Netlify Identity links point to the root path of your site.
If you'd like to change it you can follow the guide here https://answers.netlify.com/t/common-issue-netlify-cms-git-gateway-email-not-confirmed/10690 to update the email templates.

Closing the issue. Please comment if anything is unclear.

[2021-03-14 10:28] #5109 closed

[2021-03-14 10:54] erezrokah commented on #5107
Hi @andreaskundig configuring the preview context so the CMS knows which URL to use sound like a solid solution to me.
Does you use case involves running 2 different sites with 2 different CMS instances from the same repo?
Have you tried using a different `cms_label_prefix` per CMS? That might work to get those drafts separated.
See https://www.netlifycms.org/docs/backends-overview/#backend-config

[2021-03-14 15:26] phipag opened #5111 "Add React ^17.0.0 as peer dependency to support Gatsby v3 and "gatsby-plugin-netlify-cms": "^5.0.0""
**Describe the bug**
With the release of Gatsby v3 and `"gatsby-plugin-netlify-cms": "^5.0.0"` the move to React 17 has been made. `netlify-cms-app` however requires React 16 as peer dependency. **This is a request to add React 17.**

**To Reproduce**
1. Include `gatsby-plugin-netlify-cms": "^5.0.0",` and `"netlify-cms-app": "^2.14.29"` to your `package.json`
2. Make sure you are on npm >=7.0 as t

[2021-03-14 16:17] rumack opened #5112 "i18n: allow requiring/validation of fields for non-default locale"
I'm setting up a bilingual site (two locales) using Netlify CMS and the i18n feature. Things are working the way the documentation suggests they should but I'm trying to do something that doesn't seem to be possible for the moment - or at least I can't find the answer I'm looking for in the docs or in other issues raised here on GH.

I would like to be able to require a field for the second locale

[2021-03-14 17:38] robdodson commented on #5106
@erezrokah yep, done!

[2021-03-15 08:38] andreaskundig commented on #5107
Your suggestion actually prevents one site from seeing drafts in the second, but while the second has an unpublished post, the first shows this alert on the workflow page.

[code]

This is getting a bit off-topic, but at this point I think it's fair to conclude NetlifyCMS isn't ready yet for running 2 different sites with 2 different CMS instances from the same repo.

[2021-03-15 08:43] khawarizmus opened #5122 "i18n: unable to save content"
**Describe the bug**

The bug is inconsistent and I can't yet point out what the issue is but I keep getting an error when trying to save a translated version of a collection the save button is not responsive.

![image](https://user-images.githubusercontent.com/14952013/111122083-7d698780-85a8-11eb-987c-8b20627db9bf.png)

and I get a not very helpful error in the console:

![image](https://user-im

[2021-03-15 08:48] gimyboya commented on #5109
Maybe I misunderstood you. but as I stated, this is a fresh setup and the email was sent from netlify, not myself (there is no email template involved), Alos for context I have linked an issue please find it [here](https://github.com/netlify-templates/gatsby-starter-netlify-cms/issues/30)

the idea is that a new user when I click the link I receive from netlify nothing happens and that's definitel

[2021-03-15 08:54] gimyboya commented on #4386
Any timeline for this feature?

[2021-03-15 10:01] erezrokah commented on #5109
Thanks for the added information @gimyboya.
I understand the email is coming from Netlify - the Netlify Identity service is the one sending those emails.
By default the identity service include links to the root path of your site (it doesn't know that you're using identity under `/admin`).

In order to make it work by default you need to include the Identity Widget under the root path of the site

[2021-03-15 10:02] erezrokah commented on #4386
The best way to move this forward is to submit a PR for it @gimyboya

[2021-03-15 10:05] gimyboya commented on #5109
@erezrokah thank you for the elaboration. It's much clearer now. I hope that this issue might help others in the future. I somehow missed that part of the docs.

[2021-03-15 22:00] xtatanx commented on #5102
Hello guys, we will work on creating a repo with the error so you guys can run it. Thanks!

[2021-03-16 01:34] schindld commented on #1452
Looks like the row/column components are rendered in the control pane now, but not in the preview pane still. The preview pane just shows

[code]

The row's html gets rendered in the preview pane. Here's the rendered html when viewing source:

[code]

I think the row's toPreview gets called, but the column's toPreview doesn't.

[2021-03-16 05:12] kattekrab opened #5123 "TypeError: Failed to construct 'URL': Invalid URL (Lightning Talks in Review)"
**Describe the bug**
Lightning Talks Draft has an error

**To Reproduce**
Login to netlify, review
Go to workflow
Click Lightning talks currently "In Review"

**Expected behavior**
Expect to be able to see and review content, which is visible within the editor - but the preview pane is busted.

**Screenshots**

![Uploading Screen Shot 2021-03-16 at 4.09.20 pm.png…]()

**Applicable Versions:**
 - N

[2021-03-16 10:03] erezrokah commented on #5123
Hi @kattekrab, we don't have access to the CMS instance you're using so we can't follow the reproduction scenario you've provided (so we won't be able to see `Lightning talks`).

Also the screenshot link you've provided doesn't work.

Can you please provide a public repo reproduction the issue?

[2021-03-16 12:39] cdeath opened #5125 "Add config option to set default mode on markdown widget"
**Is your feature request related to a problem? Please describe.**

I want to be able to set the markdown widget in markdown mode by default and keep rich text as optional.

**Describe the solution you'd like**

a solution could be when defining `modes` for the markdown widget on config.yml to honor the array order:
(e.g. `modes: ["raw", "rich_text"]`, should set markdown by default`)

**Additiona

[2021-03-16 12:42] erezrokah commented on #5125
Hi @cdeath, please note that `Rich Text/Markdown` selection is "sticky" - the preference is persisted in local storage.

[2021-03-16 12:46] cdeath commented on #5125
@erezrokah even better... but most will never touch the preference and i want my audience to use markdown primarily. if one team member wants to use Rich Text it's up to him (and to take the blame for breaking stuff).

[2021-03-16 18:08] mikz commented on #5108
BTW I'm happy to dig in if you could give me pointers where to find the relevant code. It looks to me like it might be in the slate editor.

[2021-03-16 18:15] erezrokah commented on #5108
Hi @mikz I can't think of a specific place that can cause this.
The code for the markdown editor is here https://github.com/netlify/netlify-cms/blob/560f17d8bdbde9536f80a66f8d50524f5480a719/packages/netlify-cms-widget-markdown/src/MarkdownControl/RawEditor.js

[2021-03-16 21:12] mikz commented on #5108
netlify-cms is using old Slate (0.49, from 2019).

Character composition is a difficult topic  from the looks of the issues in Slate tracker. Latest slate supports character composition correctly. I've tried debugging the editor and indeed it looks like latest Safari changed order of some events and broke Slate 0.49. It is not able to recognise the composed character.

[2021-03-17 07:02] bhargavmoveo opened #5129 "Error loading the CMS configuration YAMLSyntaxError: Document contains trailing content not separated by a ... or --- line at line 4, column 7:Please replace with a clear and descriptive title"
Error loading the CMS configuration
Config Errors:
YAMLSyntaxError: Document contains trailing content not separated by a ... or --- line at line 4, column 7:

  if(true) {
  ^^^^^^^^^^…

![Screenshot 2021-03-17 at 12 07 20 PM](https://user-images.githubusercontent.com/76469453/111427927-d65a2c80-871c-11eb-91fc-c66d8f0cbf6b.png)

Check your config.yml file.

[code]

[2021-03-17 07:42] rohiaudio opened #5130 "Posts disappearing from Content Manager - Hugo - Netlify"
✅ Accessing the Admin page, using the editorial workflow and media assets all work perfectly fine. ✅ I'm able to create a post— the file is properly created and displays on my Hugo list page.

❌ After reloading or leaving the Content Manager in Netlify-CMS, the post disappears and "no entries found" is displayed. ❌ The post remains on my site, just not on the content manager.

**Applicable Version

[2021-03-17 09:39] erezrokah commented on #5129
Hi @bhargavmoveo can you share a repo reproducing the issue? It seems the CMS is trying to load a JavaScript file as the `config.yml` which I'm not sure how that can happen.

[2021-03-17 09:42] erezrokah commented on #5130
Hi @rohiaudio, it seems that you have a `filter: {field: "language", value: "en"}` configured but no `language` on the entries.
Can you remove the `filter` configuration and see if that helps?

[2021-03-17 09:56] bhargavmoveo commented on #5129
@erezrokah Can you please share the step I will check, I can't share the whole repo.

[2021-03-17 09:57] bhargavmoveo commented on #5129
Also, that is working on local and development servers. That error will come on the live server only.

[2021-03-17 10:00] erezrokah commented on #5129
Hi @bhargavmoveo if you open the browser developer tools you should be able to see a request sent by the CMS to retrieve the configuration (to `config.yml`). You should verify it returns a valid configuration file. If it doesn't something is wrong with the deployment

[2021-03-17 10:02] bhargavmoveo commented on #5129
@erezrokah I sent link on your email. Can you please check and help me ASAP?

Thanks1

[2021-03-17 10:08] erezrokah commented on #5129
Hi @bhargavmoveo I think it's better to address the issue publicly on the issue as it helps others as well that might encounter the same issue.

You can see a guide here https://developers.google.com/web/tools/chrome-devtools/network on how to inspect network requests. If you share the result of the request to fetch the `config.yml` that would help fix the issue.

[2021-03-17 10:14] bhargavmoveo commented on #5129
@erezrokah Here is the screenshot of a network tool.

![Screenshot 2021-03-17 at 3 43 12 PM](https://user-images.githubusercontent.com/76469453/111451514-85a3fd00-8737-11eb-887a-4b41ad6ba4b8.png)

[2021-03-17 10:30] bhargavmoveo commented on #5129
@erezrokah Any update?

[2021-03-17 10:36] erezrokah commented on #5129
Hi @bhargavmoveo, it seems the request to the `config.yml` returns a 404 which means it is not deployed currently.
Without more information on the repo and the way you deploy it (which hosting service) it's hard to figure out the cause.

[2021-03-17 10:39] bhargavmoveo commented on #5129
@erezrokah Can you please which information you want? i will give you. But i can't share the whole repo.

[2021-03-17 11:12] erezrokah commented on #5129
Hi @bhargavmoveo how is the repo deploy? Which hosting service do you use?

[2021-03-17 12:49] bhargavmoveo commented on #5129
@erezrokah We solve that server was blocking the config.yml. Thanks for the help.

:)

[2021-03-17 13:29] #5129 closed

[2021-03-17 13:44] martinjagodic commented on #4645
@haroldao I know, it's a proposal of what could be possible :)

[2021-03-17 14:05] ChauhanT commented on #1279
Hi, just wanted to add that if an equation block is in the works, it might be better to add mathjax support and not katex. The reason is that mathjax allows for referencing which, imo, is a basic requirement for numbering equations on a website.

[2021-03-17 14:09] haroldao commented on #4645
Okay😉

[2021-03-17 14:17] rohiaudio commented on #5130
@erezrokah I could kiss you!

That did the trick— thank you so much, you are a hero!!

[2021-03-17 14:17] #5130 closed

[2021-03-18 16:51] xtatanx commented on #5102
Hello guys and sorry for the delay:
Here https://github.com/jfgamez/error-netlify-CMS you can find a repo with a reproducible error. We created a repo with over 600 images resulting in a size of more than 400mb, whenever this happens, the CMS fails to get the media.

We created a script that generated different sizes and numbers of images and identified that the issue was not given by the number o

[2021-03-19 03:52] d4rekanguok commented on #5049
Hey @artt, shared this on Slack but post it here again for visibility. I think the responsible line of code could be this one:

https://github.com/netlify/netlify-cms/blob/53061710a9e3b338781e34f11491eeb65d23b8d5/packages/netlify-cms-core/src/lib/i18n.ts#L82

[2021-03-19 12:10] smashercosmo commented on #5102
Well, this is happening because node can't handle large json objects
https://github.com/nodejs/node/issues/35973
https://github.com/nodejs/node/issues/9489

@erezrokah why do we need to base64-encode all the images? Why can't they be just loaded from their URLs?

[2021-03-21 11:21] erezrokah commented on #5102
We do that in several places. Which one are you referring too? We don't keep image URLs since that doesn't play nice with private repos (some contain a token that expires after a few minuets hence the usage of `URL.createObjectURL()` to get an object URL).

[2021-03-21 11:28] smashercosmo commented on #5102
I'm talking about getMedia endpoint. Do you have any idea how this issue can be solved? When there are many images or images are big enough, the resulting JSON is huge and it exceeds node's maximum string length.

[2021-03-21 11:39] erezrokah commented on #5102
For the local proxy backend we might be able to drop the base64 encoding/decoding. Not sure for other backends if they support reading raw bytes.

As a general approach maybe something like https://github.com/discoveryjs/json-ext? That would require some more research

[2021-03-21 15:29] #5049 closed

[2021-03-21 16:16] hermanbanken opened #5139 "Guide for custom widgets does not work (written for outdated deps?)"
When following the guide for custom widgets I'm having issues when I follow the steps outlines in the guide.
My repository with reproduction scenario:
https://github.com/hermanbanken/hugocrypt/tree/master/widget
https://github.com/hermanbanken/hugocrypt/tree/15c7eba0d2ccd3956cb76f298746809241f39f11 (permalink)

**Describe the bug**
Opening the editor (clicking "New") with a custom widget causes th

[2021-03-21 18:05] #4897 closed

[2021-03-21 22:06] eliasm307 opened #5143 "For CMS.registerWidget method the control and preview component Typescript props are untyped"
**Describe the bug**

From the Typescript declarations [here](https://github.com/netlify/netlify-cms/blob/6623740a8c59004684b441d47503d1870a9881ef/packages/netlify-cms-core/index.d.ts#L536) the CMS.registerWidget method has arguments for control and preview components which have props that are typed as any. This means when working in Typescript and creating the control and preview components there

[2021-03-23 16:31] pmpinto commented on #3904
We're having this issue too.

Netlify CMS is pointing at `master`, which has some protection rules, namely:
* Require 1 approval from a reviewer

Currently we're forcing non-devs to go to GitHub just so they can approve the PR and publish the changes. Which sometimes also makes people merge the changes from GitHub instead of the CMS.

A solution for this could be:
With the editorial workflow, when

[2021-03-23 19:37] BA1RY commented on #5111
@erezrokah I would like to work on this. How should I go about implementing this?

[2021-03-24 11:28] neumannjan commented on #3485
+1. same issue

[2021-03-24 22:07] DavidAmmeraal commented on #5143
I would like to pick this up. I'm also noticing the ```schema``` argument isn't typed?

<img width="867" alt="Screenshot 2021-03-24 at 22 24 44" src="https://user-images.githubusercontent.com/1423154/112389758-8dded800-8cf5-11eb-84f3-242dc6745dc7.png">

[2021-03-24 23:19] eliasm307 commented on #5143
@DavidAmmeraal that looks good! However, I have a few queries:

- Shouldnt these control and preview component props be applied to the alternative CmsWidgetParam prop object for the registerWidget method also, ie [here](https://github.com/DavidAmmeraal/netlify-cms/blob/8c70c6f759d6bd18f8d7bec2163b909d0c390d2f/packages/netlify-cms-core/index.d.ts#L444)
- Also, would it be worth adding JsDoc comment

[2021-03-24 23:47] DavidAmmeraal commented on #5143
I also noticed [CmsWidget](https://github.com/DavidAmmeraal/netlify-cms/blob/8c70c6f759d6bd18f8d7bec2163b909d0c390d2f/packages/netlify-cms-core/index.d.ts#L468) has similar properties, I've updated them as well.

In regards to your second point @eliasm307, yeah I agree some extra documentation wouldn't hurt.

[2021-03-25 00:51] henval2020 commented on #1270
any update on this feature/request? I'm having the same need as this one.

[2021-03-25 08:49] yacodes opened #5160 "Adding heading to markdown field scrolls to the top in Safari"
**Describe the bug**
After adding header to markdown editor browser scrolls to the top of the field. Only in Safari.

**To Reproduce**
1. Open Safari browser;
2. Add markdown field to admin with default settings;
3. Add a lot of text to the markdown field;
4. Insert heading in the end of markdown content;
5. Browser scrolls to top.

**Expected behavior**
Browser scroll stays in place.

**Screensho

[2021-03-25 13:04] BenedictWHD opened #5161 "Deploy Preview Links Not Working With AWS Amplify Preview Builds"
**Describe the bug**
Preview link to the the AWS created URL sent to the github check is not displayed in the Editor.

**To Reproduce**
1. Setup NetlifyCMS to work with AWS Amplify.
2. Enable AWS Amplify Preview builds, that trigger when a PR is created for your branch (When you make a change in the NetlifyCMS editor)
3. Can see the new provided URL in the Github check.
4. View Preview button does

[2021-03-25 16:35] miguelt1 opened #5162 "Duplicate a draft without publishing it"
I would like to duplicate a draft without publishing first but I can't see that option. Is it possible?

[2021-03-25 17:19] WhiteAbeLincoln commented on #3046
It would be nice to have a widget that didn't display but could save a default value, regardless of whether it was in a folder or file collection, or a field under some other object widget. For my use case, I need to discriminate between different object widgets at run-time, so I'm adding a hidden "kind" field to the widget fields - but this doesn't work if I use these widgets in a file collection

[2021-03-26 11:29] BenedictWHD commented on #5161
Believe the issue is that NetlifyCMS searches for status on PRs and Amplify Previews add the URL of the preview in checks

[2021-03-26 15:46] SeanMcP commented on #4646
I agree that the `list` widget should allow spaces.

For a quick fix, you can add a custom widget with the desired behavior. This works for me (and is only slightly modified from [the example](https://www.netlifycms.org/docs/custom-widgets/)):

[code]

Then use the `array` widget in your `config.yml`:

[code]

Here's what it looks like in the editor:
<img width="532" alt="image of custom array wid

[2021-03-27 02:54] tonymamo opened #5164 "Issue registering registerMediaLibrary(cloudinary) along with registerPreviewTemplate"
**Describe the bug**
I'm trying to integrate `netlify-cms-media-library-cloudinary` into `netlify-cms` in a `gatsby` project.

I have custom preview templates set up, so I've registered my preview templates which use a wrapper to get `styled-components` working, along with trying to register the media library like so:

[code]

When I view the CMS page, I get an error saying  "Error loading the CMS

[2021-03-27 09:53] acomagu commented on #1347
Why the pulls by renovate bot is ignored? Any problem?

#4375
#4379
#4380

[2021-03-27 11:57] anhonestboy commented on #3244
Does it work with Netlify Large Media too?

[2021-03-27 12:14] sivaraj-v commented on #3624
Waiting for this feature !!!

[2021-03-27 16:16] pkscout commented on #3485
I've run into this as well.  converting the immutable to JSON works, but it's kind of a mess, especially when you first create a new item that you had to do this way. The API calls seem to have some built-in way of handling the fact that the data is empty, and you have to recreate all that yourself with the JSON.

[2021-03-27 16:50] dinoboff commented on #995
It also affect the image widget. Removing an image will leave an empty string.

[2021-03-28 12:41] adrm commented on #4493
It happened to me when trying to log in. I had to manually delete cookies and refresh the page and then everything worked again.

[2021-03-28 14:50] MikeyManoguerra opened #5165 "Is There a way for a custom widget to know if the a draft entry started from a duplicate?"
I have a custom widget, and would like to be able to determine whether a user is creating a new post via the "Duplicate" , or "Publish and Duplicate" buttons in the dropdown. It would be nice to able to determine this in `componentDidMount`.

I tracked down this action: `DRAFT_CREATE_DUPLICATE_FROM_ENTRY`, but could not follow it forward to the DOM.

Alternatively, I would settle for disabling the

[2021-03-29 07:39] banyudu opened #5185 "relative pathes doesn't work as expected in previewPane"
**Describe the bug**

Relative pathes inside preview pane has a base of `myhostname/admin/`, instead of `myhostname`.

**To Reproduce**

Set a file field's value to relative path, such as 'download/my-attachment.pdf', and the link points to `/admin/download/my-attachment.pdf` in preview pane, which is not correct.

**Expected behavior**

**Screenshots**

**Applicable Versions:**

 - Netlify CMS ve

[2021-03-29 07:43] banyudu commented on #5185
[code]
should be

[code]

in https://github.com/netlify/netlify-cms/blob/d614d4bd569fc65c3f520139ce33994afd311ca8/packages/netlify-cms-core/src/components/Editor/EditorPreviewPane/EditorPreviewPane.js#L217-L223

[2021-03-29 08:36] erezrokah commented on #1347
Hi @acomagu updating to the latest version of slate is not a simple task. See https://docs.slatejs.org/concepts/xx-migrating.
We're open to a contribution for the upgrade if anyone if up to the challenge

[2021-03-29 08:41] tomrutgers commented on #3244
@anhonestboy I don't think so, you'll have to resort to uploadcare or cloudinary

[2021-03-29 09:10] erezrokah commented on #3904
Hi @pmpinto your feature request is a bit different than the issue.
I believe the original issue author expected that having write permissions will allow CMS users to publish to a protected branch.

It seems you're asking for a new feature to be able to request a PR review from the CMS.

However, I think you should also be able to use [code owners](https://github.blog/2017-07-06-introducing-code-o

[2021-03-29 09:21] erezrokah commented on #5111
Hi @BA1RY thanks. I would first update all the direct and peer dependencies in all the monorepo packages and see what breaks :) Updating React might require updating other dependencies as well.

Finally this should probably be under a major version release since it's a breaking change so we would need to see if we want to include anything else under that release (maybe an emotion + slate upgrade +

[2021-03-29 09:31] erezrokah commented on #5162
Hi @miguelt1, you can only duplicate published entries at the moment https://cms-demo.netlify.com/#/collections/posts/entries/2021-03-30-post-number-20

Do you mind phrasing your feature request per our template https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+feature&template=feature_request.md&title=Please+replace+with+a+clear+and+descriptive+title? That makes it easie

[2021-03-29 09:41] erezrokah commented on #5161
I'm not sure how to follow this. Can you share a repo?

The CMS looks for the commit status of the PR https://github.com/netlify/netlify-cms/blob/9662331c517d02d3d79540ff019a0f39e3f202ce/packages/netlify-cms-backend-github/src/API.ts#L857

If you share how to extract the URL from "checks" it would make it easier to implement

[2021-03-29 09:53] erezrokah commented on #5164
Hi @tonymamo, my guess it that the code to register the preview template fails preventing the code to register the media library from running (you could try replacing `CMS.registerMediaLibrary(cloudinary);` with a `console.log` to verify).

If that's the case, you should see some JavaScript errors under the browser console logs window (you'll need to open the browser developer tools to see those).

[2021-03-29 10:15] erezrokah commented on #5165
Hi @MikeyManoguerra, I don't think there's a way to know that a the moment.

Preventing duplication can be added here https://github.com/netlify/netlify-cms/blob/9662331c517d02d3d79540ff019a0f39e3f202ce/packages/netlify-cms-core/src/components/Editor/EditorToolbar.js#L361 and https://github.com/netlify/netlify-cms/blob/9662331c517d02d3d79540ff019a0f39e3f202ce/packages/netlify-cms-core/src/componen

[2021-03-29 11:59] erezrokah commented on #1270
Hi @henval2020, the best way to move this forward is a contribution.

As a workaround I think one could use the [`preSave` event](https://www.netlifycms.org/docs/beta-features/#registering-to-cms-events) to manage dates (add an additional key value to the entry with the creation date if doesn't exist, or assume it's an existing entry if it does exist).

[2021-03-29 14:25] MikeyManoguerra commented on #5165
I am using Gridsome, and their graphQL interface uses "id" to relate collections. I used some uuid examples and  your docs and wrote my own widget.

uuid will generate when the input is empty on mount.  but when coming from "duplicate", the field is not empty, and will match the duplicated item.

My plan was to disable the field , so users don't screw up the id's on accident and break the relation

[2021-03-29 14:55] erezrokah commented on #5165
You should be able to use the [`preSave` event](https://www.netlifycms.org/docs/beta-features/#registering-to-cms-events) to add ids to entries. I think that would be simpler than a UUID widget.
New entries should have an empty `slug` property and existing ones should have a non empty `slug` property.

[2021-03-29 16:08] MikeyManoguerra commented on #5165
Ok, yes that does sound easier/less convoluted. ill try it out and report back

[2021-03-30 02:12] samisfierce opened #5188 "TypeError: Cannot read property 'slice' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.14.26`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 11_2_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36`

**CMS configuration**
[code]

[2021-03-30 08:29] erezrokah commented on #5188
Hi @samisfierce can you provide a full reproduction for the issue?

[2021-03-30 14:31] #5143 closed

[2021-03-30 14:50] xtatanx commented on #5102
Hello guys,

Just to follow up, is there something we c ould help to keep this conversation going and help to fix the issue?

[2021-03-30 14:50] #5082 closed

[2021-03-30 16:02] pranaliImagin opened #5190 "TypeError: Cannot read property 'sectionTitle' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.14.32`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36`

**CMS configuration**
[code]

[2021-03-30 16:22] erezrokah commented on #5190
Hi @pranaliImagin can you provide a full reproduction for the issue?

[2021-03-30 17:29] pranaliImagin commented on #5190
Hi @erezrokah
Basically, I edited my index.md file and committed it after making the desired changes and now I'm using GraphQL to make my page dynamic. It is working fine on Frontend but preview is throwing the error (ref. image below)
![image](https://user-images.githubusercontent.com/80769307/113030651-75fecc80-91ab-11eb-8485-44a3f34ab1e3.png)

[2021-03-30 17:48] lbarker commented on #1929
@erquhart Hello! We've implemented Netlify CMS for our GitLab marketing website and need this feature verbatim. Our issue for this is [here](https://gitlab.com/gitlab-com/marketing/inbound-marketing/brand-and-digital/brand-and-digital/-/issues/413).

In the current state, our content editors must create a draft in Netlify CMS, go back to GitLab to find the merge request, and then view the review a

[2021-03-31 06:43] trawlbens opened #5193 "TypeError: Cannot read property 'get' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.64`
 - Git provider: `github`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36`

**CMS configuration**
[code]

**Additional context**

[2021-03-31 07:53] BA1RY commented on #5111
@erezrokah So did you mean I should update all the direct and peer dependencies for all packages in https://github.com/netlify/netlify-cms/tree/master/packages to React 17? Please correct me if I'm wrong.

[2021-03-31 08:16] erezrokah commented on #5193
Hi @trawlbens can you provide a full reproduction for the issue?

[2021-03-31 08:22] erezrokah commented on #5111
💯 You're correct - that would be the first step

[2021-03-31 14:20] lfracalossiFA opened #5195 "“Working with a Local Git Repository” instructions hard-coded to access localhost on port 8000"
**Describe the bug**
This isn't a bug so much as something I think is confusing with the documentation. Specifically, this is in reference to the Beta Features -> [“Working with a Local Git Repository” ](https://www.netlifycms.org/docs/beta-features/#working-with-a-local-git-repository) documentation.

I'm using Netlify CMS + Jekyll 4 + Github + Netlify as my tech stack. I wanted to develop on a l

[2021-03-31 14:50] erezrokah commented on #1929
Hi @lbarker, see @erquhart comment about abstraction:

May I suggest another approach for your use case?
1. The CMS supports preview links, which means that if you add a commit status to your PRs with a URL, the CMS should show it in the editor (see https://www.netlifycms.org/docs/deploy-preview-links/#using-deploy-preview-links). From there editors should be able to directly access whatever exter

[2021-04-01 03:24] banyudu commented on #4967
For those who are developing a custom widget

Change
[code]
to
[code]
may help.

[2021-04-01 09:15] erezrokah commented on #5102
Hi @xtatanx, I think we have all the info we need, it's just the solution requires some effort.
Another possible approach would be to implement pagination for our local backend (this is what we have for the other backends - that is mostly dictated by the git service providers).

[2021-04-01 11:09] ridem commented on #4179
OK, so here's what I think I understood of the issue:

When the webpack server specific to `gatsby-plugin-netlify-cms` is created, it's copying all the current webpack configuration that gatsby has, and starts its own parallel `webpack().watch()`.

Gatsby automatically includes `gatsby-plugin-typescript` for you, but at the time that parallel webpack server is created, you have no guarantee that G

[2021-04-01 12:19] erezrokah commented on #5185
Hi @banyudu, I was unable to reproduce this issue with the file widget.
How are you setting the path to a relative one? Manually in the markdown (e.g. not using the CMS)?

Also I believe the fix in https://github.com/netlify/netlify-cms/pull/5186 only works if the files are deployed under the root path.

It won't work if the files are deployed under a sub path (e.g. `https://www.domain.com/site1`)

[2021-04-01 12:48] banyudu commented on #5185
This issue occurs to me when I migrate an old system to netlify-cms.

In my case, the `download` directory was not my `media_folder`, so the files in it didn't get resolved. `download/my-attachment.pdf`

[code]

I prefer using `app/img` as my public_folder, while don't want to move files from `app/download` to `app/img`, so links like `download/my-attachment.pdf` won't be resolved as a local blob.

[2021-04-01 12:49] banyudu commented on #5185
You are right, do you have any suggestions?

[2021-04-01 13:08] erezrokah commented on #5185
How would that work when you add new files? Won't they'll be added to `app/img`?

FYI, You can set a `media_folder` and `public_folder` at the file field level to `app/download` and `/download`.
Also you could run a script to migrate the old content to the expected CMS format.

[2021-04-01 13:48] banyudu commented on #5185
OK, it makes sense. Thanks!

[2021-04-01 13:49] #5185 closed

[2021-04-01 14:42] rumack commented on #4092
I've the same issue as @hursey013, when accessing the slug value in a relation field. It's not the end of the world, and I can understand the reason why it works like that, but it's inconsistent with the rest of the application and requires messy logic that shouldn't be necessary. Really, the whole slug/file-name thing in the CMS is bit clumsy, but I notice in other issues that there's been consid

[2021-04-01 19:00] shushugah opened #5198 "Jekyll Collections not sorting by date"
**Describe the bug**
In both the default and manually specified `sortable_fields: ['fields.date']`, the collection (events) is sorted by their file name and not their front matter date. This is the [repository](https://github.com/techworkersco/twc-site-berlin/blob/develop/admin/config.yml) https://github.com/techworkersco/twc-site-berlin, and the [admin-configs](https://github.com/techworkersco/tw