[2020-02-21 03:16] jackkeller commented on #1571
This, this is what I would love! Can we get this going?

[2020-02-21 03:50] erquhart commented on #1571
Not a priority, but we’ll make sure it stays open until it’s implemented.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-21 08:31] erezrokah commented on #3297
Closing as this seems to be resolved. Thanks @tomrutgers and @byebyers!

[2020-02-21 08:31] #3297 closed

[2020-02-21 09:20] erezrokah commented on #2868
@MilesRomney I appreciate the feedback and we should do better in terms of making it clear on how to contribute. You are more than welcome to suggest topics [here](https://github.com/netlify/netlify-cms/issues/3203). I was waiting for some more feedback in order to schedule office hours, but I might just decide on a time and share a zoom link.

I couldn't find a PR with the `registerEntryCard` imp

[2020-02-21 13:06] austincondiff commented on #2868
@erezrokah @MilesRomney work is being done by  @fpunny to implement the design in #2557. If any additions need to be made, please speak up in #3265.

[2020-02-21 13:15] austincondiff commented on #3265
A few things to keep in mind.

We need some base components made to be used not only on this page but across the app referenced in other issues in the UX project and in #2557.

 We also have a separate issue for the nav bar. I have updated my sandbox to include the contracted nav bar. Working on the expanded view. This will obviously be part of this page.

We need to think about how the developer

[2020-02-21 20:23] bobbymart1n opened #3302 "load_config_file: false in newer version of gatsby-plugin-netlify-cms causes CMS login issues"
**Describe the bug**

When `load_config_file: false` is set in my CMS configuration (See below) it causes the the `Login with Netlify Identity` button to be unclickable. If you comment that property in the config, the login button works without any issue.

**To Reproduce**

1. Manually init the CMS
2. Add `load_config_file: false` to the config
3. Start your environment
4. Try and login

**Expecte

[2020-02-22 06:50] erquhart opened #3303 "Fix workflow migrations from 2.9.7 (stub)"
**Describe the bug**

Workflow migrations fail for 2.9.7, and maybe earlier.

[2020-02-22 22:13] chrismade commented on #1181
@nathankitchen I found the issue - there is one more check that we need to add to the README: In dev.azure.com (Azure DevOps) in Settings / General there is a left-hand-menu item called "Azure-Active-Directory" - owners/admins need to check if it is really connected to the AAD which is in portal.azure.com - the same tenant ID must be in both views - in mine it was different for whatever reason, so

[2020-02-22 23:27] jburich commented on #1181
@nathankitchen @chrismade I've got a project that I'm going to need some sort of solution like netlifycms and needs to use Azure. I'm on a relatively tight timeline though. I'm more than happy to put time into getting this working. I'm pretty new to Azure but I've done similar things before. How can I best help out? Are there outstanding tasks that need to get done to get this up and running? Woul

[2020-02-24 03:16] hecktarzuli opened #3311 "Boolean is shown as required even though it has a default"
**Describe the bug**
When you setup a boolean field, and have other fields that are required, the boolean shows an error message even though it has a default.

**To Reproduce**
1. Create a boolean widget
2. Create an input widget.
3. Create a new entry, fill nothing in, click Publish.
4. Notice the UI tells you both fields are required
5. Fill in the input widget
6. Press publish
7. Notice bool st

[2020-02-24 07:09] iamshaheenumar opened #3313 "Gatsby - NetlifyCMS build fails in remote, while builds in local"
**Describe the bug**
My project build using Gatsby + Netlify CMS Starter, doesn't build in netlify environment. While the build is successful in local Windows 10 environment.

From the error assuming it is something related building css and js bundles.
Since build is successful in local, guessing the issue could be with netlify.

**Terminal**
12:11:36 PM: Waiting for other deploys from your team t

[2020-02-24 09:03] ed-omr commented on #475
Quiet around these parts, any chance of this being implemented in the near future?

[2020-02-24 09:07] erezrokah commented on #475
Hi @ed-omr, we use the up votes for prioritization, you can visit [this link](https://github.com/netlify/netlify-cms/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc) to see the most up voted issues.

[2020-02-24 10:33] joelmukuthu commented on #2964
Hi @erquhart,

Was this fixed via #3014 (Feat: editorial workflow bitbucket gitlab)? Also related to that MR, is the feature actually released? The [docs](https://www.netlifycms.org/docs/configuration-options/#publish-mode) still mention that Editorial Workflows only work are only supported for GitHub.

Thanks,
Joel.

[2020-02-24 11:08] erezrokah commented on #2964
Hi @joelmukuthu, we should update that part of the docs to point to the beta features:
https://www.netlifycms.org/docs/beta-features/#gitlab-and-bitbucket-editorial-workflow-support

#3014 resolves this issue, as  each content will be added via a specific feature branch (though branch switching can also refer to being able to choose a different default/target branch from the UI).

[2020-02-24 11:08] #2964 closed

[2020-02-24 12:11] iamshaheenumar commented on #3313
Somehow issue is fixed, wasn't able to know root cause of earlier issue.

[2020-02-24 12:11] #3313 closed

[2020-02-24 12:12] erezrokah commented on #3313
Maybe a caching issue, thanks for following up here!

[2020-02-24 13:51] brunetton commented on #800
Just run onto the same issue. As @TidyIQ suggested, @d4rekanguok widget should be added to satndard widgets, or at least to beta features.
Why do you think about @erquhart ?

[2020-02-24 14:57] joelmukuthu commented on #2964
Thank you for the confirmation @erezrokah! Is there a repo where I can PR the change to the docs?

[2020-02-24 15:27] erezrokah commented on #2964
You could just fork this repo and PR (docs are under `website/content/docs` or use the "edit this page" link:
![image](https://user-images.githubusercontent.com/26760571/75165318-7f08a900-5722-11ea-9897-4f0b7d7616b3.png)

[2020-02-24 19:12] cloudcrestconsulting commented on #54
Any update on this?

[2020-02-24 19:17] erezrokah commented on #54
This is next on our list. We needed to pay off some tech debt to make this happen (https://github.com/netlify/netlify-cms/pull/3316)

[2020-02-24 22:44] #1669 closed

[2020-02-24 22:44] #3303 closed

[2020-02-25 00:54] nathankitchen commented on #1181
I've submitted a pull request (#3318) after a short chat to @erezrokah who recommended getting one submitted for initial/early feedback. It's still missing Cypress tests which he's kindly offered to look at, and I haven't figured out how to get preview links working either.

One thing I totally missed was that my forks from @chrismade and @jeepwran were w-a-y behind master, so had a heck of a merg

[2020-02-25 11:47] adrian5 opened #3320 "Toogle global off/readonly/freeze state"
I think it would be nice if NetlifyCMS had a toggle in the `config.yml` root to disable editing.

This could be:

* An up-front message informing the user that this NetlifyCMS instance is currently in maintenance mode (or even a custom message defined in `config.yml`).
* A read-only view into the data (fancy).

### Use case

An administrator needs to do some maintenance, e.g. on the content or pip

[2020-02-25 16:21] zachleat opened #3322 "Pre-populate fields in the New Entry Forms using URL Parameters"
I have a link on my page that says “Create New Page” which currently goes to `/admin/#/collections/pages/new` and shows a form.

I’d like to be able to change the link on my page to `/admin/#/collections/pages/new?title=A+prepopulated+title` and have the form fields use those default values from the search parameters I set.

[2020-02-25 16:47] zachleat opened #3323 "Glob search for collection entries in a folder and all subfolders"
Currently all entries in a Netlify CMS collection need to live in the same top-level folder. It’d be awesome if it could search inside of a folder and return all `*.md` files in there.

Relatedly, it would be _even_ better if the Collection view showed the folders too (e.g. my collection is named pages: `/admin/#/collections/pages`). And _even super better_ if the `Relation` widget showed those fo

[2020-02-25 16:51] zachleat opened #3324 "Create new collection entry at user-defined path (maybe in a subfolder)"
Currently I have `path: "{{slug}}"` in my collection config. I’d like to be able to do `path: "{{fields.folder}}{{slug}}"` where folder is an optional form field value that is set by the user. If they don’t specify a `folder`, it just puts the file in the top level folder of the collection.

[2020-02-25 19:37] LAmango commented on #3215
Thanks for the reply @tomrndom !

Could you elaborate on what you mean by "create a new site from zero" ? Do you mean you added the site again to netlify?

[2020-02-26 03:41] danielkellyio opened #3328 "Custom editor components don't work when in a particular order"
**Describe the bug**
I have created 2 custom editor components as follows with patterns as follows:
`\[~box (.*?) ~\]`
`\[~youtube (.*?) ~\]`

Then using the editor components I'm able to produce the following markup:

[code]

The strange thing is that the 2 youtube shortcodes work just fine in this setup but the box doesn't. Or if I remove the last youtube shortcode, the box and the remaining you

[2020-02-26 04:39] erquhart commented on #3328
I haven’t figured out a great way to validate for this, but patterns have to begin with a start string anchor (`^`). See if that fixes it.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-26 12:46] tomrndom commented on #3215
Yes, create a new site on netlify using the same repository.

![imagen](https://user-images.githubusercontent.com/19543853/75346082-affcf100-587c-11ea-8c1a-39ee42991146.png)

[2020-02-26 12:56] crone11 commented on #1109
Any update on this?

[2020-02-26 13:20] erezrokah commented on #1109
Hi @crone11, best way to get this prioritized is up vote the issue as we try to do the most up voted ones first.
Another option is to submit it as a PR (you can use https://github.com/netlify/netlify-cms/pull/3318) as a reference.

[2020-02-26 13:31] danielkellyio commented on #3328
I have tried starting the pattern with `^` to no avail. Also I’d really like for the short codes to be able to be used inline inside other short codes which I can’t do starting them that way. For instance I also have a button short code that I can use inside the box like this:
[code]
( inside my toPreview code I’m unescaping the nested short code and rendering it).

It works sometimes in the edito

[2020-02-26 15:33] kblizeck commented on #2259
@erquhart I am still receiving this error, on a new Netlify CMS install. I'm using the instructions here: https://www.netlifycms.org/docs/add-to-your-site/, referencing `https://cdn.jsdelivr.net/npm/netlify-cms@^2.0.0/dist/netlify-cms.js`

[code]

Same steps as @freshyill above:
1. Create a new [content type]
2. Post entry (Publish now).
3. Land back at edit view for the new post
4. Go back (using

[2020-02-26 15:58] #1338 closed

[2020-02-27 00:04] vkarpov15 commented on #3283
I ran into this today as well, typoed a widget name. Thanks for explaining how to fix this error @edbrannin :+1:

[2020-02-27 12:55] danielkellyio commented on #3328
Here's an example of what I'm trying to do: https://github.com/danielkellyio/shortcode-issue-demo

[2020-02-27 13:12] shdq opened #3330 "Grid view scrolling error on demo site posts page"
Hello!

**Describe the bug**
I've explored a demo site and encountered an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://cms-demo.netlify.com/#/collections/posts
2. Click on the "grid view" icon (view as)
3. Scroll down to the bottom
4. See the error page

**Expected behavior**
No error page

**Screenshots**
https://www.dropbox.com/s/40nr600rleifjaj/Screenshot%202020-02

[2020-02-27 13:32] tomrutgers commented on #3330
Actually, the error occurs when the last three items reach the viewport (the JSON, TOML and YAML examples)

[2020-02-27 14:56] andreamussap opened #3332 "Editing a page in Netlify CMS delete or mess up with the content of the page"
**Describe the bug**
Editing a page in Netlify CMS delete or mess up with the content of the page.  cc @erquhart

**To Reproduce**
1. Go to https://axway-open-docs.netlify.com/docs/contribution_guidelines/
2. Click on Edit on Netlify CMS
3. Log in with your GitHub account
4. Make some change using the WYSIWYG editor
5. Click Save
6. Wait for entry to be saved

**Error**
- in my case it replaced al

[2020-02-27 15:57] tiuweehan commented on #3242
Hi, is this issue available?

[2020-02-27 16:31] erezrokah opened #3334 "Feat: Add backend down status indicator"
**Is your feature request related to a problem? Please describe.**

There is no indication in the CMS when the underlying service (BitBucket/GitHub/GitLab) used as a backend is down.

This can lead to data loss when a user tries to save an entry when the backend is down.

**Describe the solution you'd like**

A backend down status indicator (we could check https://www.githubstatus.com/ for example

[2020-02-27 16:44] erezrokah commented on #3242
@tiuweehan I've assigned you to the issue (assuming you meant available to work on - if not let me know).
A good place to start should be here:
https://github.com/netlify/netlify-cms/blob/908c42fb588ce87f4e197df65db2d238f34837f4/packages/netlify-cms-core/src/backend.ts#L243

[2020-02-27 16:47] tiuweehan commented on #3242
Yup, that's what I meant.

Great, that's helpful. Thanks!

[2020-02-27 18:37] erezrokah commented on #716
Update:
@barthc and @jmdrawneek both offered to help with this issue, which is highly appreciated.

Copying my comment from https://github.com/netlify/netlify-cms/pull/2988#issuecomment-591911768:

Unless @barthc or @jmdrawneek have already made significant progress in implementing this feature, we might be able to split up the work.

As @barthc is more familiar with the backends code I'm thinking

[2020-02-27 18:51] inwardmovement commented on #716
As a side note, it would be great to have flexibility around how translations are handled: by file name (`post.en.md` / `post.fr.md`) or by folder (`en/post.md` / `fr/post.md`), as Hugo for example allows both.

[2020-02-27 19:20] joallard commented on #716
As you folks are implementing this, feel free to reach out to me on Keybase or by email if you need a sounding board on this! I'm really glad to see the enthusiasm!

[2020-02-27 19:23] austincondiff commented on #3257
Note, I made some changes to the Button component in my sandbox. Please update accordingly.

[2020-02-27 19:58] gromovadarya90 opened #3336 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-28 01:51] JeffML commented on #54
I would hope we could filter by draft/published status as well.

[2020-02-28 10:40] #3256 closed

[2020-02-28 11:54] barthc commented on #725
The relation field status change already fixed here #3306, we are now only dealing with the `date` widget.

[2020-02-28 15:04] fotovvati opened #3342 "Error: Minified React error #185"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: [e.g. GitHub, BitBucket]
 - OS: [e.g. Windows 7]
 - Browser version [e.g. chrome 22, safari 11]

 - Node.JS version:

**CMS configuration**

**Additional context**

[2020-02-28 15:24] erezrokah commented on #3342
Hi @fotovvati, can you share some more information regarding this issue?

[2020-02-28 16:21] laurenskling commented on #2030
With this feature: https://www.gatsbyjs.org/docs/schema-customization/ this is no longer an issue. Just hard work ;)

[2020-02-28 16:23] laurenskling commented on #2307
For me the preview pane has been working perfectly for my very extensive Variable Type setup. I don't know why the documentation says it doesn't work :)

[2020-02-28 16:25] chrfritsch commented on #2307
@laurenskling Do you have some example or docs how to implement it? Maybe we could extend the netlify cms docs?

[2020-02-28 16:26] laurenskling opened #3344 "When will Variable Types get out of beta?"
I've been using Variable Types for a while now and it's working perfectly for me. I'm using somewhat 30 different collections all loading variable types. Haven't had any issues. Preview Pane is working as well.

I'm wondering when feature like this will get out of beta. Because I'm a bit confused with the releasing. The `@beta` is currently far behind the `@latest`, but I need the `@beta` for Vari

[2020-02-28 16:28] laurenskling commented on #2307
Preview pane has been working for me out of the box for Variable Types. I haven't done anything special (I think...) isn't it working for you? If that's the case, I'm willing to try to setup a MVP for you....

[2020-02-28 16:31] laurenskling opened #3345 "Wait Action timed out"
I have no idea why, but I'm getting this error on collections that use `relationship` fields after upgrade from
[code]
![image](https://user-images.githubusercontent.com/6753724/75566509-11c18480-5a50-11ea-8788-23d8a80c0a5b.png)

[2020-02-28 16:36] erezrokah commented on #3344
Hi @laurenskling, you can safely upgrade to the latest stable `netlify-cms-app@2.11.26` release, it includes all beta features.
Some features are still designated beta in the docs while we make sure they are stable enough, but all beta features are part of the latest release.
We're planning a docs update soon to removes the ones that are ready.

[2020-02-28 16:37] erezrokah commented on #3345
Hi @laurenskling, replied to your issue here https://github.com/netlify/netlify-cms/issues/3344
Please try to update to the latest stable release.

[2020-02-28 16:51] laurenskling commented on #3344
I thought I couldn't upgrade because of the beta. When i'm using `netlify-cms-app@2.11.26` I'm getting:
[code]
I don't know where this is coming from. :(

[code]

[2020-02-28 16:52] laurenskling commented on #3344
It might be something to do with me using `netlify-cms-backend-fs`

[2020-02-28 17:50] erezrokah commented on #3344
That's very likely. You can use https://www.netlifycms.org/docs/beta-features/#working-with-a-local-git-repository instead

[2020-02-28 18:31] c7hudson commented on #2307
@laurenskling - I haven't actually tested it, but maybe I will now. I figured based off the docs it just wasn't supported.

To confirm you're using `widget: "list"` with set of `types` containing various nested fields of `widget: "object"` or something similar?

Did you do anything to customize your preview pane setup or are you just using it out of the box?

[2020-02-28 18:54] #3342 closed

[2020-02-28 18:55] erezrokah commented on #3342
Please re-open with more information if required

[2020-02-28 19:07] tomrutgers commented on #3342
Probably related to #3330

[2020-02-28 19:32] BranonConor commented on #341
@Kinark this is awesome! The docs are a little slim for this tool, would you mind giving a little more information on how it works and how exactly it addresses the issue in this thread? Would love to try it out!

[2020-02-28 19:43] BranonConor commented on #3227
Hey @erquhart, this is all a great request. I am following along with this and with #341 as my project requires admins (non-developers) to create / edit new pages at will (ideally with customization about their position in the directory). Looks like request #341 has been in consideration for a while. Any prospective solution for it in the near future? Any current workarounds? Thanks for your hard

[2020-02-28 21:02] austincondiff commented on #341
Just to give you a visual of how this might look...
![image](https://user-images.githubusercontent.com/806104/75586893-dc5e6c00-5a3a-11ea-8971-86d85c8735f6.png)
![image](https://user-images.githubusercontent.com/806104/75586905-e4b6a700-5a3a-11ea-908c-b75d197fada7.png)
Via #2557

@Kinark That is some great work! Is this something that we might be able to leverage this work in this effort?

[2020-02-28 22:43] Kinark commented on #341
@BranonConor Thanks and oc! It's a simple third party tool to generate and edit the config.yml. On the left side you can create and select Files/Folder collections. On the right side, you can edit them. It's pretty intuitive and you can import your own YML files into it. Just use it for a while and you'll get it :D

[2020-02-28 22:45] Kinark commented on #341
@austincondiff Jesus Christ, you, my friend, did a great work over there. Of course, we can use it! I'm 100% into your vibe. If you want, contact me by email so we can work on a PR together to implement your new UX. I'm a designer myself (besides developer), so I believe I can help you if you want :)

[2020-02-28 23:03] austincondiff commented on #341
@Kinark I just sent you a slack invite. Send me a DM when you join and I’ll get you up to speed with where things are at.

[2020-02-28 23:46] BranonConor commented on #341
@Kinark awesome thanks so much! I have been messing around with it and I noticed the yaml file it spits back out is in a different format then what I had originally based on NetlifyCMS docs, will it still be read properly?

For example what may have looked like this:
collections:
  - name: "blog" # Used in routes, e.g., /admin/collections/blog
    label: "Blog" # Used in the UI
    folder: "source

[2020-02-29 00:49] Kinark commented on #341
@BranonConor Yep, it looks different cause it's been translated between JSON and YML some times, but it should work as expected!

[2020-02-29 09:39] laurenskling commented on #3345
You are absolutely right, this is fixed by upgrading to a newer version.

[2020-02-29 09:39] #3345 closed

[2020-02-29 09:44] laurenskling commented on #2307
Just as the docs say. Note: `types` in `list` must always be `object`.

[code]

[code]
[code]

[2020-02-29 09:46] laurenskling commented on #3344
Working with the local git repo makes it work for me :) the `netlify-cms-backend-fs` seemed to be the problem. Thanks so much :)

[2020-02-29 09:46] #3344 closed

[2020-02-29 09:51] laurenskling opened #3348 "Could I run netlify-cms-proxy-server as express middleware in gatsby?"
I've just upgraded from `netlify-cms-backend-fs` to https://www.netlifycms.org/docs/beta-features/#working-with-a-local-git-repository

`netlify-cms-backend-fs` exposed something I could hook into my Gatsby Dev server:
[code]

This means I only have to start `gatsby develop` to make local development work with a local git backend.

The new feature `netlify-cms-proxy-server` needs to be run standal

[2020-02-29 11:17] robbevp commented on #3283
Had this problem today as well. An error like proposed would have been very helpful

[2020-02-29 11:59] robbevp commented on #1480
I was just about to make a feature request for this. Would like to see this added if anyone is still working on it

[2020-02-29 15:14] kaleabmelkie opened #3349 "Add support for Custom Webhook Triggers"
**Feature Request**

Add general support to trigger custom [Webhooks](https://zapier.com/blog/what-are-webhooks/) defined per Collection (and per action type if possible).

This should unlock many possibilities when connected with services like [Zapier](https://zapier.com/).

[2020-02-29 16:21] erquhart commented on #3349
There’s this, but it’s not peer collection: https://www.netlifycms.org/docs/beta-features/#registering-to-cms-events

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-29 16:47] kaleabmelkie commented on #3349
Let's say I have two collections, one named Articles, and the other Products.

When an Article is created (not deleted or edited), I want to be able to trigger a webhook that automatically tweets the title and link of the article page.

I believe there are many such possibilities that can be unlocked by allowing webhooks at the per collection per action type level.

(Also, thanks for letting me kn

[2020-02-29 16:52] kaleabmelkie commented on #3349
If there's any way I can use `CMS.registerEventListener` for my use case described earlier, please let me know.

[2020-02-29 18:33] axecopfire commented on #2852
I'm having trouble with this as well. My `config.yml`
previously:
[code]
changed it to:

[code]
All of the cms updates submit PRs to the old `optimize` branch.

[2020-02-29 19:10] erquhart commented on #3349
`registerEventListener` is close to what you need. I believe you can get the collection from the entry, so the only other thing you would need to know is whether the entry being published is new.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-29 19:28] kaleabmelkie commented on #3349
Thanks for your support.

I'm able to use `registerEventListener` for my use-case like:

[code]

[2020-02-29 19:28] #3349 closed

[2020-02-29 21:11] erquhart commented on #3349
Ah, newRecord is included, nice!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-01 23:54] austincondiff opened #3351 "In-site editing experience"
Have we thought about an in-site editing experience for those that are logged in with their Netlify Identity to provide a more seamless editing experience? Would it be possible to detect if the user is currently logged in and load a small piece of UI overlaid on their site that when clicked opens some kind of drawer? It may just be as simple as linking them directly to the in-app editor for that p

[2020-03-02 00:33] austincondiff opened #3352 "Tighter integration with Netlify"
It may be useful for users to be able to easily switch between the admins of various Netlify/Netlify CMS websites from any site that given user manages or to be able to access form data, analytics, and deploys, that typically would be in the Netlify app directly from Netlify CMS.

I am not suggesting that we rebuild the Netlify app inside of Netlify CMS, however I do think it would be beneficial t

[2020-03-02 00:40] austincondiff opened #3353 "Update Netlify CMS from within the app"
It wouldn't seem too terribly difficult to update the `netlify-cms` version in the project's `package.json` and then trigger a deploy. Then we would watch for the completion of that deploy and refresh the page.

If there is a build error for whatever reason we could alert the user and give them the option to roll back and handle the update manually.

When the user loads up the app, we could send a

[2020-03-02 08:10] erezrokah commented on #3353
`package.json` changes shouldn't be an issue, lock files (e.g. `yarn.lock`) will be difficult to handle. In order to have reproducible builds one needs to use a lock file. Some build systems are set up in a way that when the `package.json` doesn't match the lock file the build fails.

[2020-03-02 08:14] erezrokah commented on #1480
@robbevp best way to push this forward is to up vote the issue as we us it for prioritization. See [here](https://github.com/netlify/netlify-cms/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc) the most up voted ones.

[2020-03-02 10:32] #3322 closed

[2020-03-02 12:54] alexearnshaw commented on #3332
@erezrokah @erquhart Here's a little more context on this one...

I suspect the `@import "main";` line that is appearing in the CMS editor/preview after saving is perhaps coming from the change made to `assets/scss/cms.scss` in @erquhart's PR to improve our Netlify CMS integration https://github.com/Axway/axway-open-docs/pull/203/files:

![image](https://user-images.githubusercontent.com/29064556/

[2020-03-02 13:08] erezrokah commented on #3332
Thanks @alexearnshaw, looking into it and will update on my progrees

[2020-03-02 13:39] austincondiff commented on #3353
Maybe a subsequent push or the update command could be done via Netlify?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-02 13:42] #3348 closed

[2020-03-02 14:43] erezrokah commented on #3332
Can't seem to reproduce this with the open authoring flow:
![image](https://user-images.githubusercontent.com/26760571/75686385-7a9d3c80-5c9c-11ea-85ea-44eb464a56a9.png)

See the commit on my test account repo https://github.com/erezrokah-test/axway-open-docs/commit/b8b8c203eccb85c3360495cd0818a2f5693ece94

[2020-03-02 14:48] erezrokah commented on #3332
Non open authoring flow:
https://github.com/erezrokah/axway-open-docs/pull/4/files

![axway](https://user-images.githubusercontent.com/26760571/75686852-30688b00-5c9d-11ea-941d-c65c192ecb93.gif)

[2020-03-02 15:02] erezrokah commented on #3332
One thing I can think of is that this issue was opened somewhat during a GitHub downtime:
https://www.githubstatus.com/incidents/q07bfjh7jf1t

Not sure that this is fully related though. I couldn't find a PR referencing the screenshot in the issue as well.

[2020-03-02 15:04] erezrokah commented on #3334
My be related https://github.com/netlify/netlify-cms/issues/3332

[2020-03-02 15:05] andreamussap commented on #3332
@erezrokah I've noticed that my contributor's fork was outdated:

https://github.com/amussapvordel/axway-open-docs - **This branch is 150 commits behind Axway:master.**

So I've deleted this fork, and now the edition on CMS is working for me again.

I think it's safe to say then that the issue is related to outdated forks. We were expecting thought that the fixes on https://github.com/Axway/axway-

[2020-03-02 15:16] erezrokah commented on #3332
Thanks for the additional info @andreamussap, that is very helpful. I'll try to reproduce again.

Each contributor PR is rebased with the upstream default branch on save, but forks are not synced as a whole, so that might explain it.

Let me dig into this.

[2020-03-02 17:40] #3215 closed

[2020-03-02 18:01] erezrokah commented on #2307
The docs might mean having default preview templates is not supported. Will check and update here.

[2020-03-02 19:03] erezrokah opened #3362 "Handle 250 commits limit in GitHub compare API"
We've changed the metadata handling in the GitHub API to use the compare API (and also implemented other backends using similar diffing APIs).

We should test and handle cases where the diff has more than 250 commits.

[2020-03-02 21:28] jelle619 opened #3364 "Add "filename" as a supported template variable to the "summary" configuration"
**Is your feature request related to a problem? Please describe.**
I would like to use the file name as the title for my posts in the Netlify CMS interface. [Extracting the title to be used from the file's body does not appear to be possible](https://github.com/netlify/netlify-cms/issues/2868).

**Describe the solution you'd like**
``{{filename}}`` is a template tag available in Netlify CMS. Howev

[2020-03-03 05:02] yashguptaz opened #3365 "Broken link on Netlify Website (Docs)."
**Describe the bug**
The link *Authentication & Backends* on the *Add to Your Site* page is broken, it does not work.

**To Reproduce**
1. Go to https://www.netlifycms.org/docs/add-to-your-site/#authentication
2. Click the link *Authentication & Backends*

**Expected behavior**
It should redirect to the right web page.

**UPDATE: I just realized there are many broken links in the Docs.**

The prob

[2020-03-03 06:29] austincondiff commented on #3257
I have added this component itself to the project and to storybook in the `v3-ui-redesign` branch. We still need to test and use it through the app. Please branch from this branch if you plan to do this.

[2020-03-03 07:28] MildTomato commented on #1403
Came to this thread looking for the similar solution.

@erquhart seems like the most straightforward, at least then you could break up your posts/pages into different sections (I do this so I can build up a contents table on the top of articles) and then have a `options` attribute to force links to be parsed differently for different sections.

[2020-03-03 07:54] alexearnshaw commented on #3332
Hi @erezrokah, yes just to clarify further - the issue only occurs if the contributors fork does not contain the PR that @erquhart contributed to our project (i.e. if the fork is from before that PR was merged on 13 Feb).

However it's also important to note that this problem did not occur (even on outdated forks) until last week (a [contribution](https://github.com/Axway/axway-open-docs/pull/427)

[2020-03-03 09:29] erezrokah commented on #3332
@alexearnshaw you’re right. This is indeed a regression with the latest version of the CMS.
I already submitted a fix here:
https://github.com/netlify/netlify-cms/pull/3363 and it should be approved and published soon.
The underlying issue is that we changed the way the CMS stores entries metadata from using an orphan ref to pull requests labels and inference based on changes to entries branches.

[2020-03-03 09:52] alexearnshaw commented on #3332
Ok, we're happy to await the fix in that case.

This would be really helpful. I think almost all of the issues our users have encountered in the past were as a result of out of sync forks.

Re promoting the user to sync the fork via the CMS - Not sure if I understand what you're proposing here but if there's some way the CMS can prompt the user for permission and then sync the fork for them (rathe

[2020-03-03 15:39] erezrokah commented on #3332
Sorry for not being clear enough.
The CMS should sync the fork for the user, but display a prompt for the user before doing so as the syncing operation can take a few minutes and also fail sometimes in case of conflicts.

[2020-03-03 18:12] #3332 closed

[2020-03-03 18:12] dmitriyaa commented on #1408
@a8t, have you thought of putting this in a separate package, would be pretty nice? 🙂

[2020-03-03 22:47] erquhart opened #3369 "Inline mode for markdown widget"
**Is your feature request related to a problem? Please describe.**

If a field should allow markdown, but not block level content (headers, quotes, etc), there isn't a great way to facilitate that without locking down the widget. Primary use cases:

- fields like an author bio that should only include inline markdown characters
- editor components, Eg., definition lists support inline markdown

**

[2020-03-03 23:38] steveramos commented on #2868
Thanks... this is going to be a big help for me until [https://github.com/netlify/netlify-cms/issues/3265](url) gets merged in somewhere down the line.

I have use cases wherein we're using entries like calendar events and recurring events just look like this in the Collections Entry UI:
Board Meeting
Board Meeting
Board Meeting
Special Event
Board Meeting

It would, at the very least, do a world

[2020-03-04 07:43] erezrokah commented on #2868
This should be available via the `summary` field:
https://www.netlifycms.org/docs/configuration-options/#summary

You can reference entry fields, e.g. `summary: "{{fields.eventName}} - {{fields.eventDate}}"`

[2020-03-04 07:47] #3365 closed

[2020-03-04 07:47] #1788 closed

[2020-03-04 07:52] erezrokah commented on #3365
Thanks for opening this @yashguptaz!

[2020-03-04 08:26] erezrokah opened #3372 "Feat(open-authoring): Prompt users to sync out of date forks via the CMS"
Context https://github.com/netlify/netlify-cms/issues/3332

Out of dated forks might cause unexpected issues when working with open authoring.

We should offer the user an option to sync them via the CMS if they are too far behind.

[2020-03-04 08:29] erezrokah opened #3373 "Tests: Add more complex open authoring tests"
Context https://github.com/netlify/netlify-cms/issues/3332 and https://github.com/netlify/netlify-cms/issues/3372

We've had several cases in the past when having out of sync forks will cause issues for open authoring PRs.

We should add more tests for open authoring.
Example scenario:
1. Create a test repo with open authoring enabled.
2. Login with a GitHub user that doesn't have access to the re

[2020-03-04 08:30] erezrokah commented on #3332
Update: a fix for this is now released in `netlify-cms@2.10.30`.

Relevant derived issues:
https://github.com/netlify/netlify-cms/issues/3372
https://github.com/netlify/netlify-cms/issues/3373

[2020-03-04 09:44] ositaka commented on #1025
Hello, I am "upvoting" for the feature "Publish all changes" on editorial workflow.

I've open a topic on the Netlify Community with this question/solution for the button. You can take a look at: https://community.netlify.com/t/publish-all-changes-button-on-editorial-workflow-avoid-multiple-deploys/9958

[2020-03-04 10:08] #3364 closed

[2020-03-04 10:10] erezrokah commented on #2307
FYI, rephrased the docs to mention custom preview support https://github.com/netlify/netlify-cms/pull/3376

[2020-03-04 10:54] erezrokah commented on #2852
Hi @axecopfire, can you share your repo/site?
If not, the CMS should send an initial request on load to retrieve the `config.yml` file. Can you verify it is up to date with the one you posted?
Also, sharing network traffic while creating an entry will help figuring this out.

[2020-03-04 11:39] jelle619 commented on #3364
Thank you very much @erezrokah. 😄🥳

[2020-03-04 12:18] erezrokah commented on #3364
We added those (filename, extension) recently in other places, but didn't port it to the exiting summary configuration.

[2020-03-04 12:44] barthc commented on #716
Another PR #3366 based on @joallard solution.

[2020-03-04 12:53] #3283 closed

[2020-03-04 13:11] c7hudson commented on #2307
Thank you both @erezrokah & @laurenskling!

[2020-03-04 14:25] #3330 closed

[2020-03-04 14:34] erezrokah commented on #1362
Closing as duplicate of https://github.com/netlify/netlify-cms/issues/50

[2020-03-04 14:34] #1362 closed

[2020-03-04 14:35] chriskirknielsen commented on #716
@barthc Will the `diff_folder` allow for a fully customisable path? Like `{locale}/posts/post.md`? It's how I have my current setup, and while I could certainly rework it, it would be amazing to be able to keep it as is while using this new feature. :)

[2020-03-04 14:48] erezrokah commented on #3227
Hi @BranonConor, we try handle most up voted issues first so best thing to do is up vote #341.
https://github.com/netlify/netlify-cms/issues/341#issuecomment-564157784 might server as a work around and there is some ongoing community effort to re-design the UI here https://github.com/netlify/netlify-cms/issues/341#issuecomment-592726576

[2020-03-04 15:15] barthc commented on #716
The collection `path` config will allow you to do that.

[2020-03-04 15:16] adamavenir commented on #2557
@austincondiff and others: Thanks for your work here. Will be following it in earnest.

The question that occurs to me as I read through the thread is whether Netlify is providing any compensation for this work which will have tremendous value to them as a business. Seems worth hiring Austin or sponsoring his work here, unless his current employer is already doing that.

My sincerest apologies if

[2020-03-04 16:40] chrfritsch commented on #2307
Whooo, didn't know that it works. This is insane 👍 🥇 🎉

[2020-03-04 19:33] erezrokah commented on #50
Related  https://github.com/netlify/netlify-cms/issues/68

[2020-03-04 20:07] steveramos commented on #2868
@erezrokah thanks for the tip! I found it in docs just after I posted. I guess I haven't looked into solving this problem in a year and was considering it again while contemplating a new project. This is really going to help us out! Looking forward to more UX changes as seen in the Invision prototype in #3265

[2020-03-05 02:36] axecopfire commented on #2852
Well this is embarrassing but it started working after a bit. I don't think I did anything to change it (maybe something was out of sync on my end?).

[2020-03-05 07:44] erezrokah commented on #2852
Thanks for the update, closing :)

[2020-03-05 07:44] #2852 closed

[2020-03-05 10:50] erezrokah commented on #2350
There is an improvement to the search that might be easier to implement.
At the moment the CMS will only display results for the search once all entries are retrieved.
We could display intermediate results based on the pages loaded so far and once all entries are retrieved update the view again.

[2020-03-05 10:58] #50 closed

[2020-03-05 20:45] erquhart commented on #2557
@adamavenir - really glad you’re appreciating the work here!

To give some context, Netlify CMS is a completely free-to-use JavaScript app, and was intentionally built to work anywhere, with no requirement of being run on the Netlify platform. Netlify has invested significantly in this open source project by committing hours from paid team members to work on it, in hopes that it will be valuable f

[2020-03-05 21:38] adamavenir commented on #2557
@erquhart I appreciate it. I’m reasonably familiar with the business/open source/funding tightrope, having run a company for 12 years that has made a number of meaningful open source contributions. I have also seen a lot of businesses benefit significantly and individual contributors burn out, and the generosity and joy of those contributions melt into less fun feelings.

I was expressing my perso

[2020-03-06 08:25] austincondiff opened #3383 "Using MDX and Registering Block Components to offer users a Page Builder Experience"
Is a page builder like experience something that is worth considering or discussing? This may not be applicable to every collections but I do think there is a use-case for something like this.

We could include a set of basic registered component blocks in the sample site that developers could modify to fit their needs. I could also see shipping this with a storybook setup to help with the develop

[2020-03-06 09:02] erezrokah commented on #3383
Linking https://github.com/netlify/netlify-cms/issues/1776 and https://github.com/netlify/netlify-cms/issues/2064 for context

[2020-03-06 13:58] mhagmajer commented on #2063
Another way to handle this would be to allow relation to point to the relative file path of the related objects. The file paths don't change once created.

[2020-03-07 13:34] webstp commented on #3262
Hey, I would love to contribute to this effort if you are open to more people. Let me know! Thanks!

[2020-03-07 15:03] austincondiff commented on #3262
We certainly are! Currently we have this component in [Storybook](storybook.netlifycms.org). We are working off of the `v3-ui-redesign` branch which is deployed [here](v3-netlifycms.org). Also feel free to join the #ux channel on [Slack](netlifycms.slack.com) to stay up to date with what is going on with the project. Feel free to DM me there for mor info on where to start.

<sub>Sent with <a href=

[2020-03-08 17:15] casperleerink opened #3387 "Cloudinary stuck at Log in"
Bug described in the latest comments of issue #1999

**Describe the bug**
Using cloudinary as the media_library in netlify CMS. Everything works in local environment, I can upload images and select them from within the /admin/ section of my local site. However when I publish my site on netlify and go to the /admin/ panel, I get stuck at this the following text: Please click here to log in using yo

[2020-03-09 07:45] #2906 closed

[2020-03-09 15:33] leomp12 commented on #1027
If someone is trying to set custom `identity_url` but Netlify CMS stills trying to fetch default `{hostname}/.netlify/identity` and getting 404, I've fixed with following hack:

[code]

Ref.: https://stackoverflow.com/questions/52174873/using-netlifys-hosted-identity-service-with-self-hosted-netlify-cms (solution purposed here doesn't work to me because it creates multiple identity iframes and I t

[2020-03-09 17:22] nttdataxd commented on #2659
I am also getting an error after following the docs and trying to run generate, was there ever any fix to this or is https://github.com/xdesro/nuxt-netlify-cms-starter now the real starter?

[2020-03-09 17:32] nttdataxd opened #3394 "Netlify/Nuxt.js Docs Lead to Failure on Nuxt Generate"
**Describe the bug**
Following the docs for Nuxt js set up leads to error when generating pages.
Ex: "ERROR  Error generating /blog/2020-03-09-test-blog-1"
Very similar to [this issue](https://github.com/netlify/netlify-cms/issues/2659) but I am not getting "FATAL Invalid left-hand side expression" error, not sure how important that is.
Also when I try with the '--verbose' tag I see "npm verb life

[2020-03-09 18:42] #3394 closed

[2020-03-09 18:43] nttdataxd commented on #3394
Realized my mapping was wrong because I had the folder as "blogs" instead of "blog".

[2020-03-09 18:45] tomrutgers commented on #3394
Thanks for reporting back! Good to hear the instructions are still working.

[2020-03-09 20:01] casperleerink commented on #3387
It might be important to state that my cloudinary account is used on two other websites running on servers as well.

[2020-03-10 17:00] bayasshii opened #3398 "なんやこれ"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: [e.g. GitHub, BitBucket]
 - OS: [e.g. Windows 7]
 - Browser version [e.g. chrome 22, safari 11]

 - Node.JS version:

**CMS configuration**

**Additional context**

[2020-03-10 17:17] tomrutgers commented on #3398
Seems like you have encountered a problem while accessing the CMS. If you need some help, please fill out the issue form!

[2020-03-10 20:47] vrabe opened #3399 "Add a "now" button to DateTime widget"
**Is your feature request related to a problem? Please describe.**

I have a field called `updatedTime` in my collection. After I update an entry, I will update the field to the current datetime. It will be convenient if there is a button in the DateTime widget to set the value to current time.

Although the default value of a DateTime widget is current datetime, it only applies to new entries.

*

[2020-03-11 07:08] #3398 closed

[2020-03-11 11:23] laurenskling commented on #3348
Just ran the fix presented in #3361 and it works beautifully. Thanks!

[2020-03-11 12:58] erezrokah commented on #3348
Thanks for the update!

[2020-03-11 13:25] laurenskling opened #3401 "Editorial workflow always needs to go through the PR process? No direct publishing possible?"
I've just started using the editorial_workflow (GitLab), which looks awesome by the way.

Now i'm a bit confused at to how it should work with already published content. I can only press the save button, which creates a branch and pull(/merge) request. Now I can publish (merge the PR). So for my small change, 2 commits are made: the change commit and the merge commit. 2 pipelines running. It feels

[2020-03-11 13:27] erezrokah commented on #3401
Hi @laurenskling, you could change the merge method to squash:
https://www.netlifycms.org/docs/beta-features/#squash-merge-github-pull-requests

Not properly documented for GitLab and BitBucket, but should work

[2020-03-11 14:21] laurenskling commented on #3401
Thanks for the information @erezrokah , we'll just have to get used to it.

[2020-03-11 14:21] #3401 closed

[2020-03-11 14:31] laurenskling opened #3402 "How to use backend implicit grant on dynamically created deployments"
So I'm using NetlifyCMS on a Netlify hosted website backed by with a selfhosted gitlab.

We are handling login with the `implicit` feature, like this:

[code]

But this only allows us to log in to the CMS on the URL that was set as redirect URL. `example.netlify.com`. When creating a preview deploy (`netlify deploy` without --prod) I get an url like: https://5e68def6e2114401a92282ae--example.netli

[2020-03-11 14:37] erezrokah commented on #3402
Hi @laurenskling, I can think of two options:
1. Self hosted gitlab instance per deploy preview.
2. I think GitLab supports multiple redirect URI:
![image](https://user-images.githubusercontent.com/26760571/76428544-1a01b400-63ae-11ea-83e8-3de0b1ffd99c.png)
You can probably set up your build to use GitLab API to add the current preview URL as an additional redirect URL

[2020-03-11 15:51] laurenskling commented on #3402
Thanks for replying so quick @erezrokah .
1) I'm not quite catching this one. My code is in the selfhosted gitlab, i'm running gitlab pipelines to build my gatsby, and I deploy the build via a pipeline to netlify with the netlify-cli. Netlify gives me my deploy preview URLs.

2) setting the manually will ofcourse not work. Setting them via the API might be a think to look at. Would you have any hi

[2020-03-11 16:00] erquhart commented on #54
Latest decisions:
- Implement for all backends
- Sort in UI!
- Defaults:
  - "Updated" - uses Git to sort files by most recently changed
  - Inferred fields - title and date
- Configuration can be used to sort by any field

[2020-03-11 16:02] erezrokah commented on #54
Example:
![image](https://user-images.githubusercontent.com/26760571/76437531-fa708880-63b9-11ea-8ba7-8d8f3c187c1b.png)

[2020-03-11 16:09] chocobuckle commented on #54
@erquhart By "sort in ui", do you mean we'll be able to click and drag items to new positions?

[2020-03-11 16:11] erezrokah commented on #54
@chocobuckle I think he means that you can control sorting from the UI. Drag and drop is more related to https://github.com/netlify/netlify-cms/issues/475

[2020-03-11 16:19] erezrokah commented on #3402
You can read about Netlify available variables here:
https://docs.netlify.com/configure-builds/environment-variables/#deploy-urls-and-metadata

Getting the CMS to display preview links is another issue, if you're build from Netlify it should set the commit status for you (not sure how it's connecting to the self hosted gitlab).
If you're setting the commit status manually you can see some informat

[2020-03-11 20:33] CalMlynarczyk opened #3407 "Editorial Workflow mode fails to create pull requests in GitHub"
**Describe the bug**
When using `publish_mode` in `editorial_workflow`, we get an error when saving changes to or creating new pages. The new branch gets created, but not the pull request on top of it. This was working up until the past month or so when we noticed that we could no longer make changes via the Netlify CMS interface.

**To Reproduce**
We see that the GitHub API request to create the

[2020-03-11 22:14] BranonConor opened #3408 "Git Gateway Error when logging in"
**Describe the bug**
When logging in to /admin using Google for an account that has been invited and has been working for weeks, I get two "Git Gateway Error {object Object}" error notifications. No changes have been made to the admin _config.yml that should affect this.

**To Reproduce**
Go to admin log in > click log in > sign in with google > pick email > get error, and can't log in > clear cac

[2020-03-11 22:35] BranonConor commented on #3408
Update, just sent myself a password-reset for that email I was trying to use, from the Identity section of that site in Netlify. I changed my password and got in. I'm not sure if the issue will persist though next time I log in, or what caused it in the first place.

[2020-03-12 08:11] amarpathak commented on #3334
Hey, @erezrokah  I want to take it. Though I am a very starter in opensource and netlify will you help me out a bit .

[2020-03-12 08:59] erezrokah commented on #3408
Thanks for raising this @BranonConor, just to confirm, you got the error immediately after choosing the email? It didn't prompt for the password? Not sure how the identity password is relevant when clicking `sign in with google`.
Were you eventually able to login using `sign in with google` or email and password (the one you changed).

[2020-03-12 09:18] erezrokah commented on #3407
Thanks for reporting @CalMlynarczyk, I think as a workaround this should work:

[code]
Seems like GitHub is case insensitive in regards with URL, for not with the `head` parameter when creating a pull request.
Will submit a fix soon

[2020-03-12 09:35] erezrokah commented on #3334
Thanks @amarpathak, I would start with adding a method to the [GitHub backend](https://github.com/netlify/netlify-cms/blob/05a1c91a3c671cce8d32d50e4fb5dd8b8bba8dde/packages/netlify-cms-backend-github/src/implementation.tsx) to figure out if the backend is down.

Then probably a new redux [reducer](https://github.com/netlify/netlify-cms/blob/05a1c91a3c671cce8d32d50e4fb5dd8b8bba8dde/packages/netlify

[2020-03-12 09:56] erezrokah commented on #3407
This can be reproduced even for users accounts (not specific to organisations), by changing the case of the the repo owner to not match the one in GitHub.

[2020-03-12 10:29] #3407 closed

[2020-03-12 12:26] LGTMXD opened #3413 "Details TypeError: e.replace is not a function"
**Describe the bug**

**To Reproduce**
1.  Connect Netlify to your GitHub account to create your [academic-kickstart](https://sourcethemes.com/academic/docs/install/#install-with-web-browser) repository.
2.  Go to https://yourwebsite.com/admin/  log in with github account
3.  Click `New Post`,then turn on `Feature` button twice
4. See error,pic blew:

![image](https://user-images.githubusercontent

[2020-03-12 13:08] Gargam opened #3414 "Listing collection folder now included images"
**Describe the bug**
I have a collection setup with media folder and public path.
Everything was fine until today as it now list all the files from it, not just *.md file but also my images files for example. They are shown as empty title lines.

**To Reproduce**
This is my configuration for the collection
[code]

**Expected behavior**
It should only list file that are editable by netlify cms admi

[2020-03-12 13:16] erezrokah commented on #3414
I think this might be related a bug that was fixed in latest versions, where paginated entries were not filtered.
Do you by chance have more than 20 entries for that collection?
If should this issue was fixed here https://github.com/netlify/netlify-cms/pull/3216

[2020-03-12 13:41] erezrokah commented on #3413
Collections field names should be unique:
https://github.com/sourcethemes/academic-kickstart/blob/3bac8f0494bf35e64fb5943a99ccc377e7cac390/static/admin/config.yml#L24
https://github.com/sourcethemes/academic-kickstart/blob/3bac8f0494bf35e64fb5943a99ccc377e7cac390/static/admin/config.yml#L45

Regardless, we should verify it while loading the configuration and display a proper message

[2020-03-12 13:47] LGTMXD commented on #3413
@gcushen

[2020-03-12 14:05] Gargam commented on #3414
I have in the directory 24 files but only 8 md files.
Also the issue is not visible if I use local_backend and a proxy server (launch by `npx netlify-cms-proxy-server`)

[2020-03-12 15:12] erezrokah commented on #3414
Sorry, I should have been more accurate in my response. This issue is present with old versions of the CMS using GitLab where the directory in the repo has more that 20 files, where some of them are not data files (e.g. md).
In short, this was fixed and updating your version of the CMS should resolve it.
`local_backend` doesn't connect to GitLab at all, thus doesn't have that issue.

[2020-03-12 16:04] TonioGela commented on #1152
What about TOML files with tables like
[code]
Are they mappable? Maybe using lists?

[2020-03-12 16:16] tomrutgers commented on #1152
A TOML table is an array of objects basically, so I think the list widget with a `fields` property should work. Try this:

[code]

[2020-03-12 16:25] barthc commented on #1152
@tomrutgers  I think it's should be  `object` instead of `list` :smile:

[2020-03-12 16:30] tomrutgers commented on #1152
@barthc Correct me if I'm wrong but doesn't

[code]

translates to the following (in json)?

[code]

https://github.com/toml-lang/toml#array-of-tables

[2020-03-12 16:34] barthc commented on #1152
Sorry, you are right mistook `[[section]]` for` [section]` :+1:

[2020-03-12 16:51] Gargam commented on #3414
Yup, I updated and it's ok now.
Wasn't sure to do that as I needed to rewrite some code because of getAsset changes

Thanks !

[2020-03-12 16:51] #3414 closed

[2020-03-12 17:20] erquhart opened #3415 "Editing peformance is rough for large lists"
**Describe the bug**

When authoring in a large list, there are long pauses between keystrokes.

**To Reproduce**

1. Go to https://www.netlifycms.org/admin/#/collections/updates/entries/releases
2. Edit one of the list items

**Expected behavior**

Updates should be snappy.

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: [e.g. GitHub, BitBucket]
 - OS: [e.g. Windo

[2020-03-12 18:46] jperl commented on #3373
👋 Hello I maintain an [open source library](https://github.com/qawolf/qawolf) that generates [Playwright](https://github.com/microsoft/playwright) code. I would be happy to submit PRs setting up e2e tests for netlify-cms, if you are cool with them using Playwright?

[2020-03-13 08:49] erezrokah commented on #3373
Hi @jperl, this sounds very cool. We already have a very extensive [cypress setup](https://github.com/netlify/netlify-cms/tree/8b0248bdc3f55dca451121d089b3274c8e72c09d/cypress).
I don't think we would like to have two different types of testing frameworks so first we would need to replace all existing tests.
Most of our tests use mocked recorded data and mock the browser fetch API, so most of our

[2020-03-13 10:06] jerriclynsjohn commented on #2001
I still have the issue

[2020-03-13 14:43] jperl commented on #3373
Thanks for the response :slightly_smiling_face:

I see you already have an extensive setup, so it probably would be too much work to port all of the existing tests. Re parallel testing: This can be done by using a GitHub Action matrix, where each job targets a subset of the tests.

I understand if you prefer to use Cypress for your tests, if you change your mind let me know!

[2020-03-13 15:05] erezrokah commented on #3373
Thanks, we use a GitHub actions matrix, but Cypress takes care of splitting the tests between machines:
https://github.com/netlify/netlify-cms/blob/8b0248bdc3f55dca451121d089b3274c8e72c09d/package.json#L28.

[2020-03-13 15:20] jperl commented on #3373
That is a great point! I added [a ticket](https://github.com/qawolf/qawolf/issues/514) for creating a Jest scheduler to do this automatically.

[2020-03-13 16:25] erezrokah commented on #3413
Closing this as a configuration issue, please re-open/or comment if necessary.

[2020-03-13 16:25] #3413 closed

[2020-03-14 13:08] sholtrop opened #3421 "Relation widget: Make a datetime widget in displayFields use the specified dateFormat/timeFormat instead of UTC"
**Is your feature request related to a problem? Please describe.**
When `displayFields` inside a `Relation` widget references another collection's `DateTime` widget, it will display it in a (rather ugly) UTC format in the CMS menu, even if that referenced `DateTime` has a `dateFormat` and `timeFormat` specified:
![image](https://user-images.githubusercontent.com/39123298/76682198-5de8f900-65fa-11e

[2020-03-15 14:36] sachin10101998 commented on #1168
@erquhart, Could you provide me with the link for documentation on how to add Netlify-CMS sans Netlify?

[2020-03-15 17:02] erquhart commented on #1168
@sachin10101998 looks like there’s a gap in the GitHub backend docs, for now I’d recommend picking an external oauth library and following their instructions, which will cover steps for authentication. Everything else works the same no matter where you deploy.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-16 03:37] edrex commented on #441
Fix for https://github.com/ianstormtaylor/slate/issues/2062 was released Nov 27 in 0.50.0 so updating netlify's slate deps [currently 0.47](https://github.com/netlify/netlify-cms/blob/master/yarn.lock#L15500) should help significantly (likely will cause some breakages that need to be fixed though).

[2020-03-16 04:29] austincondiff commented on #441
We are building this into our UI refresh as part of #2557. This is something we are prioritizing in each screen and component as part of this effort. You are welcome to help as @erquhart mentioned. We are working off of the `v3-ui-redesign` branch.

[2020-03-16 09:12] erezrokah commented on #1644
Closing at stale

[2020-03-16 09:12] #1644 closed

[2020-03-16 09:16] erezrokah commented on #1168
Some more information available here:
https://github.com/netlify/netlify-cms/issues/2695#issuecomment-544863103
https://github.com/hfte/netlify-cms-with-selfhosted-gotrue-and-git-gateway

[2020-03-16 09:49] ofaklintrafo opened #3429 "Make it possible to download files from the Media page"
It is not possible to download files from the media page. There are only two buttons, upload and delete.

It would be very helpful if this was possible.

Especially if the media page contains non-image files. For example pdf-documents.

The link could for example point directly to the file in the Git-repository.

[2020-03-16 12:01] erezrokah commented on #3429
Related https://github.com/netlify/netlify-cms/issues/2243

[2020-03-16 14:48] LeunensMichiel opened #3430 "Unable to access identity settings; identity service and git-gateway ARE enabled"
Hi!

I've used Netlify, Gatsby and NetlifyCMS in the past, and have never encountered this problem. While setting up my site, I can't seem to access the admin page, nor am I able to invite a user. I have my config.yml correctly set up

[code]

I have reinstalled my site, relinked my github repo, generated a new API key for gateway, but all in vein.

I'm getting this error. I searched the docs and

[2020-03-16 14:50] erezrokah commented on #3430
Hi @LeunensMichiel, can you share the network traffic from your browser? Specifically there should be a few requests to the identity service `.identity/` and `git-gateway` service `.git/`.

[2020-03-16 16:20] LeunensMichiel commented on #3430
Okay!
So when I click on **Login with Netlify Identity**, i get this for ./netlify/identify/settings

[code]

I can't seem to find something related to ./git though.

Thank you for looking into this!

[2020-03-16 16:39] erquhart opened #3431 "Some console errors not visible for browsers with dark mode"
**Describe the bug**

<img width="698" alt="Screen Shot 2020-03-16 at 12 36 50 PM" src="https://user-images.githubusercontent.com/2112202/76780183-f5795380-6782-11ea-8f37-e0caf037455c.png">

**Expected behavior**

Custom console log styling should take both light and dark backgrounds into consideration.

[2020-03-16 16:46] erezrokah commented on #3430
That helps thanks! The `.git/` requests come only after successful identity ones.
Do you have any warnings regarding DNS in your Netlify site?
I'm getting inconsistent results.
Sometimes `curl -i https://www.lowatter.com/.netlify/identity/settings` fails with 404 and sometimes succeeds.
Also does using the Netlify custom domain work? e.g. going to `https://<site-id>.netlify.com/`

[2020-03-16 16:49] erquhart opened #3432 "Folder collections fail if the folder does not exist"
**Describe the bug**

If the folder for a collection does not exist, the CMS fails, erroring out while attempting to infer fields.

**To Reproduce**

- configure the cms with a folder collection, but for a folder that does not exist
- load CMS
- observe errors in console and no way to add a new entry to the collection

**Expected behavior**

- CMS should recognize that folder does not exist
- CMS

[2020-03-16 17:16] LeunensMichiel commented on #3430
Hey! Yeah that works. I went to lowatter.netlify.com/admin/ and there I was able to see the login dashboard. And for some reason, the 404 disapeared on the normal URL.

But I still get redirected when I try to invite myself through email, so I can't log in yet. And I'm not seeing any DNS issues.

I want to provide some errors to you, but I'm not getting any. It's hard to trace if the issue is comi

[2020-03-16 17:28] erezrokah commented on #3430
not sure, but if `curl -i https://www.lowatter.com/.netlify/identity/settings` returns a correct response consistently for you, it should work in the CMS too (might be DNS records updating).

As for the invites, Netlify invite links redirect the user to the root site by default (and not `/admin`). You can modify it via email templates: https://docs.netlify.com/visitor-access/identity/identity-gene

[2020-03-16 17:32] LeunensMichiel commented on #3430
Okay, thank you for that! I will keep this updated if I find a solution.

[2020-03-16 17:33] erezrokah commented on #3430
Can we close this issue? I think it is more Netlify related than the CMS. Might be better to use the Netlify community: https://community.netlify.com/

[2020-03-16 17:38] LeunensMichiel commented on #3430
Yes go ahead. Again thank you for your time.

[2020-03-16 17:38] #3430 closed

[2020-03-16 18:30] edrex commented on #441
I'm happy to help with testing, as mobile editing is important for me. Is that branch ready for testing?

[2020-03-16 19:17] austincondiff commented on #441
Not yet. There is still quite a bit of work to do. You can preview it [here](https://v3-ui-redesign--cms-demo.netlify.com/), and check out the components in our Storybook [here](https://storybook.netlifycms.org/). There is a button you can use to toggle between various screen sizes here...
![image](https://user-images.githubusercontent.com/806104/76792307-23699280-6799-11ea-90ce-897af4186bdb.png)

[2020-03-16 19:42] erezrokah opened #3433 "Feat: improve local backup flow"
A few suggestions:

1. Don't use an alert window.
2. Switch to history list instead of a yes/no style alert where the only options are to delete backup or use backup and delete current data.
3. Make the outcome of using a backup visible.

[2020-03-16 22:46] scottmathson opened #3434 "RangeError: Invalid time value"
was told via CMS prompt to report this, here's what I'm seeing:
![CMS screenshot](https://user-images.githubusercontent.com/25587929/76805855-94af4280-67a5-11ea-91ff-8e6f73037661.png)

upon hard refresh, things did start working.

wanted to report nonetheless, in the case this helps.

[2020-03-17 03:22] vai0 opened #3436 "Collection's public_folder is being included into pattern validation for image widget"
**Describe the bug**
If a collection has the [`media_folder` / `public_folder` fields applied to a collection](https://www.netlifycms.org/docs/beta-features/#folder-collections-media-and-public-folder), an image widget field will always mark as invalid if the `pattern` field applied does not include pattern matching the `public_folder`.

e.g.,
[code]
will error if provided an image filename of `bl

[2020-03-17 03:36] agrawalaayushi commented on #2056
Any update on this feature?

[2020-03-17 13:34] alexcroitoru95 commented on #1275
Any updates on this issue?

[2020-03-17 13:46] erquhart commented on #3432
Update: this seems specific to Git Gateway.

[2020-03-17 13:54] #758 closed

[2020-03-17 13:58] erquhart opened #3437 "[stub] HTML pasting issues in markdown widget"
Pasting the following into the rich text editor of the markdown widget produces empty blocks:

## Input API

|key                         |required|default|description                                                                                           |
|-----------------|---------|-------|----------------------------------------------------------------|
| `name` |**yes**| |name for internal

[2020-03-17 16:53] brunetton commented on #3311
Same thing here

[2020-03-17 17:36] neokree commented on #2578
Is there any active development on this feature?
I was also looking for a way to change the Moment.js locale for the `datetime` widget

[2020-03-18 05:33] andy-mcdonald commented on #3240
We're building a content portal for a client, where different publishing partners would add articles to their own collections. Each publisher should only be able to see their own content, but our client should be able to see everything. To accomplish this, we're going the route of creating multiple CMS instances, each configured to access only a subset of the content files - seems to work like a c

[2020-03-18 09:21] erezrokah commented on #3240
Hi @andy-mcdonald, we try to work our way through the [most up voted](https://github.com/netlify/netlify-cms/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc) issues first, but of course open to any contribution.

Currently we list media files based on the media folder up to a depth of 1, but that can be changed (example for GitHub) here:
https://github.com/netlify/netlify-cms/blob/2409323

[2020-03-18 10:13] erezrokah commented on #2056
Hi @agrawalaayushi, we're trying to work our way through the most request features first:
https://github.com/netlify/netlify-cms/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc

Upvoting this feature will help prioritize it.

[2020-03-18 10:22] erezrokah commented on #3311
The boolean field in this configuration doesn't have a default field. I tried adding `default: false` to it and it works.
@brunetton, can you share your config?

[2020-03-18 10:40] erezrokah commented on #2578
Hi @neokree we try to work our way through the most requested features first:
https://github.com/netlify/netlify-cms/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc

The issue with this is that the CMS doesn't bundle all of moment locales since it increases bundle size significantly.

There might be a way to set moment locale globally which should work for the date widget too:
[code]

But

[2020-03-18 12:14] ChenMorSays commented on #2518
I'm having the exact same problem. Running on netlify-cms-app@2.11.5^.
Posts are created, displayed fine on the blog, but can't see them on the admin dashboard.

Thoughts?

[2020-03-18 12:21] ChenMorSays commented on #2896
I'm having the same problem @erezrokah , any ideas how I may resolve it?

[2020-03-18 12:54] ChenMorSays commented on #1078
@Abdelrahman146 @tech4him1 I'm actually experiencing the exact same problem.

Has a proper fix been found?

[2020-03-18 13:10] hecktarzuli commented on #3311
The docs say the default is already false, so we shouldn't need to set 'default'

![image](https://user-images.githubusercontent.com/2112282/76963932-d5b36e00-68ef-11ea-918e-2887a8bcc34a.png)

[2020-03-18 13:32] erezrokah commented on #3311
Hmm, I see the issue now, thank you for clarifying.
The phrasing for string is similar:
![image](https://user-images.githubusercontent.com/26760571/76964643-b9cdbd80-692b-11ea-99ff-9fcd5e4bd8f2.png)

Does it mean that not having a default value for a required string field should allow you to have empty strings?
Not really, but in the case of boolean fields it is confusing since we don't have a goo

[2020-03-18 13:38] erezrokah commented on #2896
Hi @ChenMorSays, I think you might be experiencing a different issue, as this one was related to a Netlify incident that had been resolved (same goes for your comment here https://github.com/netlify/netlify-cms/issues/1078#issuecomment-600605958).
You could trying asking in out slack #help channel: https://netlifycms.slack.com/join/shared_invite/enQtODE1NTcxODA5Mjg1LTRjYWExM2MyZDJmODA3YmVkMjI2YmQw

[2020-03-18 14:21] hecktarzuli commented on #3311
Ah so the default in the docs is really only used when the field isn't required.  Otherwise the default really doesn't qualify as filled for required fields.. :)

[2020-03-18 16:44] brunetton commented on #3311
Thanks to both of you, adding a default value to false solves the problem. The doc should really be clarified, in all tickets I've participated this was the conclusion :)
Thanks !

[2020-03-18 17:39] nettelandways commented on #3046
I have the exact same issue.
`
- {
              label: layout,
              name: layout,
              widget: "hidden",
              default: "my-template-key",
            }
`
does not work. It does not show up in the .md file that is produced through the cms

[2020-03-18 19:16] andy-mcdonald commented on #3240
@erezrokah - Thanks for the update, we'll look into this alongside some of the other contributions we'd like to make.

[2020-03-18 19:39] erezrokah commented on #3240
@andy-mcdonald, if you do start actively working on something, please let us know so we can assign it to you to people know it is take :)

[2020-03-18 22:18] erquhart commented on #3240
@andy-mcdonald woot!! 🎉

[2020-03-19 05:39] andy-mcdonald commented on #3351
This is the approach that [TinaCMS](https://tinacms.org/) uses - instead of embedding the webpage in the CMS, it embeds the CMS in the web page. I think it's a pretty powerful concept that allows for a hybrid of inline and form-based editing - seems like it would be a pretty significant architectural change though. I've often though a browser extension would also offer some interesting opportuniti

[2020-03-19 05:59] andy-mcdonald commented on #1298
We're using the "multiple instance" method alongside Git Gateway to approximate roles, exactly as @erquhart described. Unfortunately, not being able to restrict publishing to certain users is a non-starter for our client so I'm keen to know if any work has already been done, and where the best place to start would be?

[2020-03-19 08:36] erezrokah commented on #1298
Hi @andy-mcdonald, I don't think there has been any real progress regarding this issue.
We've had a comment on slack of someone that managed to use protected branches to simulate roles:
https://netlifycms.slack.com/archives/CPRR0PQ9E/p1583355032112000?thread_ts=1582829171.065500&cid=CPRR0PQ9E
but that's more related to #2 and even less relevant for `git-gateway` and multiple instances.

I think a

[2020-03-19 09:38] #3222 closed

[2020-03-19 10:22] erezrokah commented on #3334
Also related to https://github.com/netlify/netlify-cms/issues/68

[2020-03-19 11:35] #3311 closed

[2020-03-19 14:32] hecktarzuli commented on #3311
LOL, such a simple change, but a world of difference.  Thanks @erezrokah !

[2020-03-19 18:48] lkaupp opened #3444 "netlify-cms-widget-date: Failed to compile with 1 errors"
**Describe the bug**

Trying to contribute but i even can't compile your master branch.

**To Reproduce**

Steps to reproduce the behavior.
1. Checkout Master
2. yarn installl
3. yarn build

**Expected behavior**
clean build

**Error Log**
[code]

[2020-03-19 19:10] erezrokah commented on #3444
Can you try running `yarn bootstrap` before build?
Also, does `yarn start` work? Which yarn version are you using?
Other useful commands to try can be found here:
https://github.com/netlify/netlify-cms/blob/master/CONTRIBUTING.md#install-dependencies

[2020-03-19 19:50] lkaupp commented on #3444
yarn bootstrap:
[code]
yarn start (the only error thrown):
[code]

[2020-03-20 03:32] caseykey commented on #1353
I am having a similar issue with my "Introduction" file collection. Here is the config:

[code]

This shows me a list of "No undefined". When this "No undefined" is opened, it is a string entry that is labeled, "undefined". I want a list of objects, each labeled "Description" with two string fields.

Why am I only seeing one "undefined" string field for each object, and why is each object "No unde

[2020-03-20 08:47] tomrutgers commented on #1353
The `field` property takes an object, not a list:
[code]

[2020-03-20 10:59] erezrokah commented on #3444
Just did a fresh clone and followed https://github.com/netlify/netlify-cms/blob/master/CONTRIBUTING.md#install-dependencies as was able to build (build also passing on our CI).

Can you share:
1. OS
2. Node+NPM version
3. Try a fresh clone/delete node modules.
4. `yarn cache clean`

FYI, I tested with yarn 1.22.4, node v12.16.1, npm 6.13.4 and MacOS Catalina 10.15.3

[2020-03-20 11:05] lkaupp commented on #3444
OS: Windows 10
node: v13.11.0
npm: 6.13.7
yarn: 1.22.4

[2020-03-20 12:19] austincondiff opened #3447 "Dashboard or Home Page"
Rather than dumping users onto their first collection’s page, it may be more helpful to land on some kind of dashboard or home screen.

That being said, if we were to add a dashboard page to Netlify CMS, what would it need to have in it so that you would find it useful and not something you’d simply skip over?

[2020-03-20 12:32] erezrokah commented on #3447
Summary of recently edited posts/drafts would be useful

[2020-03-20 12:35] erezrokah commented on #1389
Doesn't seem to happen in latest version of Gatsby and the cms plugin. Please re-open if needed.

[2020-03-20 12:35] #1389 closed

[2020-03-20 12:53] erezrokah commented on #3434
This was fixed by checking for an undefined date in the preview template (it might take the CMS a render cycle to update entry data with the current date).

[2020-03-20 12:53] #3434 closed

[2020-03-20 13:18] erezrokah commented on #3444
Thanks @lkaupp, I was able to reproduce on a virtual box with a windows machine. Looking into it.

[2020-03-20 14:17] neokree commented on #2578
There is not a way to set an initial script that is loaded during CMS startup?

[2020-03-20 14:37] budparr commented on #3447
Some light read-only documentation for editors (and/or a link to some).

[2020-03-20 14:50] tomrutgers commented on #3447
Maybe editorial related stuff, like posts up for review. I suppose the dashboard should be highly customizable, like everything else

[2020-03-20 16:26] austincondiff commented on #3447
I wonder if we allow users to register custom react components as dashboard sections and give them some level of access to the cms api/data.

[2020-03-20 16:37] austincondiff opened #3450 "Allow third-party extensions of Netlify CMS as separate packages."
These plugins could be installed and updated via npm instead of having our own plugin repo. We could update in the UI and update the package.json, then refresh the page once the deploy is complete.

Third party plugins could open things up to additional widgets, dashboard sections, services such as Netlify/Google analytics  or even entire collections. Unlike other CMS's, these plugins would not in

[2020-03-20 18:02] clawfire commented on #3447
Love it. Wonder how you'll add all those metadata not present right now on the CMS listing.
Even more on mobile, the sorting issue will be important. You want a quick way to blog, so having the latest post first. Which is not available by nature of how the content is retrieve from GIT :/

[2020-03-20 20:54] dawaltconley opened #3451 "Absolute media paths defined by collection"
**Is your feature request related to a problem? Please describe.**

Currently, using the `media_folder` option in a collection seems to make all image widgets upload their files relative to path of the items in that collection. This means it's not possible to specify an absolute path for _all_ media files in a collection to share, or for media in multiple collections to share an absolute folder ot

[2020-03-21 06:17] PatrickNugros opened #3452 "can't access netlify cms"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: [e.g. GitHub, BitBucket]
 - OS: [e.g. Windows 7]
 - Browser version [e.g. chrome 22, safari 11]

 - Node.JS version:

**CMS configuration**

**Additional context**

[2020-03-21 15:27] lkaupp commented on #3444
i downgraded to your version, problem still persists on Windows 10

[2020-03-21 19:11] adrienlefebvre92 opened #3454 "Error: Minified React error #31 while adding a post"
**Describe the bug**
When accessing to `add a post` section I have this message in the Editor :
[code]
**To Reproduce**
1. Go to 'collections'
2. Click on 'post'
3. Click on 'new post'
4. See error above

**Expected behavior**
There should be the preview in here
**Screenshots**

<img width="1680" alt="Screen Shot 2020-03-21 at 20 07 53" src="https://user-images.githubusercontent.com/40758111/77234

[2020-03-21 19:23] adrienlefebvre92 commented on #3454
More specifically the bug occurs when I want to change the date :
<img width="306" alt="Screen Shot 2020-03-21 at 20 20 58" src="https://user-images.githubusercontent.com/40758111/77234815-8c924100-6bb1-11ea-9920-a59ec51952f5.png">

It is `date: '2020-03-27'` in the `post-one.md` that works.

But it saves this way when I change the date using the datepicker :
`date: 2020-03-24T23:00:00.000Z` which

[2020-03-21 19:47] erezrokah commented on #3444
What do you mean by downgraded? I submitted a PR with a fix and waiting for it to be improved.
If you apply this change https://github.com/netlify/netlify-cms/pull/3449/files#diff-cf797e56490cde8743c10775323fd4ddR10 the build should pass.

[2020-03-21 20:29] adrienlefebvre92 commented on #3454
I forgot to use `format` field
[code]

[2020-03-21 20:29] #3454 closed

[2020-03-21 21:10] erezrokah commented on #3452
Hi @PatrickNugros, can update your issue per the template here https://github.com/netlify/netlify-cms/issues/new?template=bug_report.md ?

[2020-03-21 21:14] erezrokah commented on #3451
Hi @dawaltconley, that is actually supported (just by prefixing the folder with a slash). Can you share your `config.yml` and CMS version?

[2020-03-22 00:43] sushirais opened #3455 "Social media Link Bug"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: [e.g. GitHub, BitBucket]
 - OS: [e.g. Windows 7]
 - Browser version [e.g. chrome 22, safari 11]

 - Node.JS version:

**CMS configuration**

**Additional context**

[2020-03-22 06:09] caseykey commented on #1353
I am getting an error for an expected comma at this line:

where the `-` is.

[2020-03-22 07:40] erezrokah commented on #3455
Hi @sushirais, can update your issue per the template here https://github.com/netlify/netlify-cms/issues/new?template=bug_report.md ?

[2020-03-22 09:49] ChrisLasar opened #3457 "Multiple Configuration Files"
NetlifyCMS reads several configuration files.

Extension 1: If several configuration files set the same parameter, the configuration will be overwritten in a defined order. For example, the order in which the configuration files are named could also define the priority.

Extension 2: Tree structures like the collections are merged intelligently. With this it would be possible to add or remove Coll

[2020-03-22 11:32] erezrokah commented on #2578
@neokree, please see here https://github.com/netlify/netlify-cms/pull/3458

[2020-03-22 11:41] erezrokah commented on #3452
Please re-open when you have more information

[2020-03-22 11:41] #3452 closed

[2020-03-22 11:54] jannis701 opened #3459 "Widget MarkdownEditor: option editorComponents has no effect"
I'm trying to get rid of the default components "image" (because i want to replace it by an own component) and "code-block" (because I don't need it).
in _config.yml_ I set
[code]

For testing, I registered two own components "youtube" and "youtube1" (according to https://www.netlifycms.org/docs/widgets/#markdown ) because I thougt, maybe the option editorComponents affects only custom components.

[2020-03-22 11:56] erezrokah commented on #3459
Hi @jannis701, this feature was added in `netlify-cms@2.10.31`:
https://github.com/netlify/netlify-cms/compare/netlify-cms@2.10.30...netlify-cms@2.10.31
Can you try updating to the latest version?

[2020-03-22 13:18] #2578 closed

[2020-03-22 13:33] erezrokah commented on #3455
Please re-open with more information

[2020-03-22 13:33] #3455 closed

[2020-03-22 14:07] erezrokah commented on #3408
Closing, please re-open if issue returns

[2020-03-22 14:07] #3408 closed

[2020-03-22 14:53] #3451 closed

[2020-03-22 15:10] erezrokah commented on #3432
Tried reproducing on this branch https://github.com/erezrokah/netlify-cms-reproductions/tree/netlify_cms/issue_3432
See PR https://github.com/erezrokah/netlify-cms-reproductions/pull/150/files

https://github.com/erezrokah/netlify-cms-reproductions/blob/netlify_cms/issue_3432/public/config.yml

The folder `content/posts` doesn't exist on the branch.

I might be missing something here.

[2020-03-22 15:12] erezrokah commented on #3459
Closing per my comment, please re-open if problem persists with latest version

[2020-03-22 15:12] #3459 closed

[2020-03-22 17:07] cleanfooddiary commented on #941
Just ran into this today. After clicking the save button, an error message pops up with something along the lines of "Failed to persist entry: cannot read property 'expires_at' of null". As a user, I didn't want to refresh for fear of losing my data.

I opened a new tab and logged in to the CMS again, created a new entry of the same type, and fortunately I could restore from local backup, so I did

[2020-03-22 17:33] erezrokah commented on #941
Hi @cleanfooddiary, can you share your `config.yml` or your backend type for documentation?

[2020-03-23 03:55] cleanfooddiary commented on #941
@erezrokah here is my backend definitions in config.yml:

[code]

[2020-03-23 07:35] lkaupp commented on #3444
i just used the version you used on mac on my windows machine but the error kept the same.

[2020-03-23 08:31] hpenton opened #3468 "Slow initial page load of editorial workflow page with many draft articles"
**Describe the bug**
The first time I load the CMS and try to access an article or the editorial workflow page, it takes around ~30 seconds to load the page. Subsequent article load times are acceptable.

**To Reproduce**
1. Create somewhere in the region of 80 draft articles (I believe I have 83)
2. Reload the contents page of the CMS
3. Attempt to load an article.
4. Observe slow load time.

**E

[2020-03-23 10:01] #1298 closed

[2020-03-23 11:08] erezrokah commented on #1999
Tried reproducing in 3 different browsers (Chrome, Brave and Firefox) and managed to login with all of them in the same time.
If there are no console errors, can someone share the browser network traffic during login (with `Preserve log` option checked?
Make sure to go to `https://cloudinary.com/users/logout` first.

Also found this thread https://support.cloudinary.com/hc/en-us/community/posts/36

[2020-03-23 12:57] #3444 closed

[2020-03-23 13:39] erezrokah commented on #3444
Can you please try with the latest changes from `master` branch?

[2020-03-23 13:48] rcoopernexient opened #3470 "Github throws "Malformed path tree" error when using relative path"
**Describe the bug**
If my path value in a folder collection contains a `../` github throws a "Malformed path tree" API error during page creation. This does not happen when using a local backend.
For example, my collection in config.yml:

Looking at the payload getting sent to github shows that the tree path is `hugosite/content/en/../en/test/_index.md`. I believe the `../` needs to be resolved b

[2020-03-23 14:33] #3436 closed

[2020-03-23 15:12] erquhart commented on #3432
Alright, will close - thanks for looking into it.

[2020-03-23 15:12] #3432 closed

[2020-03-23 19:22] alecbw opened #3473 "Editing from the CMS adds extraneous apostrophes for Python + Pelican site"
I have a simple static site built on [Pelican](https://blog.getpelican.com/)

When I first stood it up, I was editing the blog posts in Markdown on my local device and deploying through git push.

I migrated to using the CMS to save and publish articles. This workflow uses the Create PR -> Add Commits -> Merge to master pathway. It also, I believe inadvertently, modifies the date and tag fields to

[2020-03-23 19:51] dawaltconley commented on #3451
Well...it is working for me now. Apologies, I must have messed something up. 😳  Great feature!!

[2020-03-23 20:01] SamuelEarl commented on #2400
I was running into the same problem. Then I found this article, which explained that you need to replace the default `index.html` file with a custom `index.html` file located at `/src/index.html` with the following code inside:

[code]

I hope that help!

[2020-03-24 00:02] austincondiff commented on #2557
As I've worked on this design, I've realized that my initial mocks of the collection view do not consider some features that Netlify CMS currently offers. I have made several modifications to accommodate these features. I'd love to get some feedback.

![collections-view-thumbnail](https://user-images.githubusercontent.com/806104/77374428-b4f87780-6d38-11ea-9749-421cea36b5ec.jpg)

![collections-vie

[2020-03-24 01:55] Nixinova commented on #441
+1, mobile editing is really needed. Also, when editing a markdown widget while on mobile, it's **completely** broken: you can't type anything, only copy paste, as the cursor jumps all over the place and only half the stuff I type actually goes into the textarea. Here's me trying to type "Most of the stuff I type doesn't get put in the textarea": `   f    p n   `

[2020-03-24 08:03] d4rekanguok commented on #2868
I think `registerEntryCard` would be really cool. Any pointer on what the api could look like? Maybe just something simple as this?

[code]

[2020-03-24 08:58] eur2 commented on #1032
Can't wait for this feature!

[2020-03-24 09:03] erezrokah commented on #1032
FYI, when opening the media library when editing an entry, all images for that entry will be uploaded together only after you save the entry.

[2020-03-24 09:10] erezrokah commented on #2868
Hi @d4rekanguok, there is a fork with `registerEntryCard`:
https://github.com/campus-online/cms/pull/9/files#diff-eb94ebda6978caacfbd4f13e52cd062aR136

`registerPreviewTemplate` uses `registerPreviewTemplate(name, component)`

[2020-03-24 13:46] #2989 closed

[2020-03-24 14:45] austincondiff commented on #441
Here are some mobile concepts...

<img src="https://user-images.githubusercontent.com/806104/77436998-26c0d780-6db2-11ea-8208-f6130f6467c0.jpg" alt="m01-dashboard" style="max-width:100%" width="317"> <img src="https://user-images.githubusercontent.com/806104/77437787-10674b80-6db3-11ea-9d91-06740315d983.jpg" alt="m02-dashboard-scrolled" style="max-width:100%" width="317"> <img src="https://user-im

[2020-03-24 16:18] erezrokah commented on #1999
Closing, please re-open/comment if problem persists possibly with the additional information I requested.

[2020-03-24 16:18] #1999 closed

[2020-03-24 19:01] amaline opened #3474 "bug: lists not working properly in the markdown widget"
**Describe the bug**
Trying Gatsby + Netlify CMS Starter and it seems to work great except for the odd behavior of the Rich Text editor.  It doesn't seem to work correctly with lists.  It will start a list (1. ) but then when hitting enter it will just line the cursor underneath the first character of the previous list item with no number. And if I hit the numbered list item again it will indent a

[2020-03-25 05:18] Nixinova commented on #2510
This is unrelated to issues in #441, as a simple textarea should still function as a textarea even when the page itself has no mobile support. If the textarea issue is fixed, the CMS would actually be semi-usable in mobile; at the moment I have to copy paste it into the textarea and even then it sometimes doesn't save what I paste in. Is it too much to ask for a simple html textarea?

[2020-03-25 07:04] erezrokah commented on #3474
Reproduces on https://cms-demo.netlify.com/
![lists](https://user-images.githubusercontent.com/26760571/77510445-7d441980-6e77-11ea-83d0-673fcaa53f7e.gif)

[2020-03-25 12:28] erquhart commented on #441
@edrex sorry for the late reply here but just so everyone is clear, upgrading to Slate >= 0.50 will require an exhaustive overhaul of the markdown widget internals. This will definitely happen, just not at the top of the pile yet.

[2020-03-25 13:53] erezrokah opened #3475 "Test: Reintroduce visual regression testing"
We've recently did some groundwork for visual regression testing, but had to disable the tests to due resolution issues when running Electron locally compared to GitHub actions.
Since then we've switched to Chrome in our tests. As a result we should re-visit the visual regression tests.

Snapshot plugin is added here:
https://github.com/netlify/netlify-cms/blob/a91e8316f7d4618f2fa2a3d94bc733b5a5d3

[2020-03-25 13:58] erezrokah opened #3476 "Test: Cross browser testing"
Cypress recently added cross browser testing:
https://docs.cypress.io/guides/guides/cross-browser-testing.html

Firefox support is still in beta, but we should consider adding a few tests for it.

[2020-03-25 17:30] roganflitton commented on #787
@erquhart we are currently experiencing this issue with a netlify.com cms linked to a private github repo. I see this issue has been closed. Was it fixed or has it been closed because its been merged with https://github.com/netlify/netlify-cms/issues/946 ?

[2020-03-25 19:06] erquhart commented on #787
@roganflitton this was fixed in #2817 - can you confirm that you're running 2.10.0 or greater?

[2020-03-25 20:29] dougajmcdonald opened #3477 "Google identity works through invite link but not after accessing site/admin"
**Describe the bug**
When using the google provider in netlify identity (with the netlify identify widget) the setup in the netlify UI seems fine. But when I invite users (with a google account), they receive the email click `accept the invite` and in the widget can click, continue with google, they are logged in and can use netlify cms as expected.

However, if the same user (me) tries to access

[2020-03-25 23:17] apolopena commented on #2012
@andru Yes this is what I had to do too.

[2020-03-26 02:05] blackgunnen opened #3478 "cant make a new post , only defaut post"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: [e.g. GitHub, BitBucket]
 - OS: [e.g. Windows 7]
 - Browser version [e.g. chrome 22, safari 11]

 - Node.JS version:

**CMS configuration**

**Additional context**

[2020-03-26 02:38] jacksonz123 opened #3479 "When duplicating an item through the CMS that the image widget stops working"
**Describe the bug**

When duplicating an item through the CMS that the image widget cannot find assets. However, image assets can be found when using the add/edit functionality.

**To Reproduce**
1. Go to CMS
2. Click on any item inside a collection that can be duplicated (product in my case)
3. Duplicate Item by clicking `Published` Button then `Duplicate`
4. Click on `choose different image`
5.

[2020-03-26 07:38] erezrokah commented on #3478
Hi @blackgunnen, do you mind sharing more information like your `config.yml`/repo and a reproduction scenario?

[2020-03-26 19:15] jeremiahfallin opened #3483 "Bug with adding custom media_folder. Directory not added to file location."
**Describe the bug**
When using a file widget with a separate media folder, the correct directory pops up when choosing a file, but after selecting one the directory is not added to the path in the md file. Just the file name.

Tried adding it like this:
[code]
and also to the widget itself:
[code]
and neither of those seem to work.

**To Reproduce**
1. Add a separate media folder to a file based

[2020-03-26 23:47] jonathansgardner opened #3485 "Can't access nested lists or objects in preview templates"
**Is your feature request related to a problem? Please describe.**
I can't access the data from a nested list widget using the widgetsFor function in my preview template

**Describe the solution you'd like**
I have a list widget that is nested inside of an object widget which I am unable to access in order to display in my preview template using the widgetsFor function

i.e.
[code]

[2020-03-27 00:41] jeremyzilar opened #3486 "Field parameter to support adding comments to front matter"
**Is your feature request related to a problem? Please describe.**
I oversee [Digital.gov](https://digital.gov/), a site provides guidance around making better digital services for people in government. All of our websites are built using static site generators (Jekyll, Hugo), and use a mix of [Federalist](https://federalist.18f.gov/) and GitHub to publish the pages.

Currently, we get a fair numb

[2020-03-27 03:27] Nixinova opened #3487 "Request to add option for image widget to trim output to a relative path"
**Is your feature request related to a problem? Please describe.**

All images for my content are stored in e.g. `/assets/images`, so I remove this string for the image parameter in the page's front matter, leaving just e.g. "header-image.jpg" as the parameter. However, Netlify CMS's image widget always uses the full path name in its output, creating e.g. "/assets/images/header-image.jpg" when I j

[2020-03-27 09:13] blackgunnen commented on #3478
Thanks for quick reply , when i try to do new post i cant see the preview
in the cms netlify like the defaut post . In fact I still make the new post
. Another request , it seems that allowed only 1 photo for every post  so
how can i add more. Should I change the code in the visual studio?
BEST REGARDS

Vào Thứ Năm, 26 tháng 3, 2020, Erez Rokah <notifications@github.com> đã
viết:

[2020-03-27 14:25] jonathansgardner commented on #3485
I managed to bypass this by converting the immutable object to json using
`entry.getIn([ 'data'] ).toJS()`
It still seems like there should be a way to call widgetsFor on a nested object or list. Maybe by passing in an array
i.e. `widgetsFor(['about','links])`

[2020-03-27 22:30] lkaupp commented on #3444
yep, done it, everything builds wonderful! Thank you for your help :) - Issue is solved.

[2020-03-28 09:37] ChrisLasar commented on #54
Just in case you have note considered it yet: A couple of days ago I found a wonderful "a table enhancing plug-in for the jQuery Javascript library" on Github, which might add wonderful sorting,  filtering and grouping features to the great NetlifyCMS solution. See https://github.com/DataTables/DataTables for more information.

[2020-03-28 10:07] ShailenNaidoo opened #3488 "Support entry templates"
**Is your feature request related to a problem? Please describe.**

I have been using Netlify CMS for a short while, mostly for my team's wiki so we use a template for creating our wiki entries. Currently, we have a template in our collection that we duplicate but as the site has grown in entries it has become increasingly laborious to go to the template and duplicate each time we make a post.

**

[2020-03-28 10:41] tomrutgers commented on #3488
As a workaround, you could set a `default` value for the markdown widget like so:

[code]

[2020-03-28 13:25] david-nossebro opened #3489 "Map widget is switching latitude and longitude in GeoJson result"
The map widget (#2051) is setting the latitude and longitude in the wrong order.

In [GeoJson ](https://tools.ietf.org/html/rfc7946#section-3.1.1) the order should be latitude, longitude (or easting and northing, but thats not the case either).

The result I get is:
`geo-json: '{"type":"Point","coordinates":[13.622489,59.3707079]}'`

But I'm expecting it to be (close to Karlstad, Sweden):
`geo-jso

[2020-03-28 14:07] ShailenNaidoo commented on #3488
@tomrutgers Thanks for the tip, but I think that would pollute the config drastically if your template is huge which in my case it is unless I resort to generating the `config.yml` file and injecting the default template but that can get messy quickly. Thanks :smile:

[2020-03-28 17:34] david-nossebro commented on #3489
I realized that this is the expected behavior for GeoJson format. Closing this ticket.

[2020-03-28 17:34] #3489 closed

[2020-03-28 19:48] apolopena opened #3490 "Custom editor components cannot contain multiple pattern matches when using non-inline html tags"
Custom editor components are an awesome feature however the [documentation](https://www.netlifycms.org/docs/custom-widgets/) for `CMS.registerEditorComponent` is very brief so I need to ask the question here. Please correct me if I am wrong but actually implementing anything more complex than the example...
[code]
Such as needing to make multiple matches in some nested non-inline html tags
makes y

[2020-03-29 06:34] erezrokah commented on #3487
Hi @Nixinova, this is possible as a beta feature:
https://www.netlifycms.org/docs/beta-features/#folder-collections-media-and-public-folder

You can set:
[code]
On a collection.

Can you try this feature with the latest version?

[2020-03-29 06:36] erezrokah commented on #3478
Hi @blackgunnen, can you share your repo/a reproduction scenario like described in the issue template here:
https://github.com/netlify/netlify-cms/issues/new?template=bug_report.md

Not sharing that information makes it very hard to figure out the problem you're having.

[2020-03-29 06:49] erezrokah commented on #3488
You could use JavaScript to initialise the config:
https://www.netlifycms.org/docs/beta-features/#manual-initialization
Which might make that easier

[2020-03-29 08:21] hcwong commented on #3399
Hi can I take a look at this?

[2020-03-29 08:34] erezrokah commented on #3399
Hi @hcwong, there is already a PR open for that: https://github.com/netlify/netlify-cms/pull/3484. I'll update it to reference the issue.

[2020-03-29 10:01] mtliendo commented on #1776
Really loving NetlifyCMS and would like to see this integrated.

If possible, can we get a list of blockers so that the community can try and work towards solving them?

Also, Is there an opportunity to collaborate with the folks over at contentful on this? It seems like [they've had success](https://twitter.com/chrisbiscardi/status/1029864691793682432?s=20) in getting this implemented.

[2020-03-29 10:09] erezrokah commented on #1776
Hi @mtliendo, in the past months we've been trying to tackle the most upvoted features first:
https://github.com/netlify/netlify-cms/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc

Not sure whats is the definition for a blocker is in regards with new features.

Regrading collaboration, we would first need someone to take ownership of the issue and start working on it.

[2020-03-29 10:17] mtliendo commented on #1776
Hi @erezrokah 👋 Thanks for the link, and it looks like github projects are being used, so that gave me some awesome insight into where this is at.  Regarding blockers, the issue seems like it's gone stale after trying to work out the preview screen and general error handling, but having specifics would help others pick up where @sw-yx left off.

Sorry, I'm new to the repo, are issues open to anyon

[2020-03-29 10:35] erezrokah commented on #1776
Any issue is open for the community to contribute regardless of upvotes or prioritisation and will be backed by the Netlify team as much as possible :)
We mark some issues as `good first issue`, other ones might need some communication and discussion first.
Regardless of the issue it is always best to communicate first so we can assign an owner so people know the issue is taken.

If you'd like to

[2020-03-29 14:08] liamkeily opened #3491 "Page Types"
It would be nice if users could select a type when creating a page / item, which determines the fields used for that item

The config could look like this:

[code]

This would offer the same flexibility as a file collection, while also allowing the user to create new page of any type.

The type could be stored in the frontmatter of the item.

[2020-03-29 14:13] erezrokah commented on #3491
Hi @liamkeily, thanks for opening this issue.

Will creating multiple collections per "type" serve the same purpose?

[2020-03-29 14:46] MatteoGauthier opened #3492 "Can't publish a blog post "Failed to persist entry: TypeError: r.has is not a function""
**Describe the bug**
When i try to publish a blogpost, it don't works.
And my already posted post aren't displayed in the cms interface.
**To Reproduce**
Repo at this time
https://github.com/MattixNow/mattaio-website/tree/4047871fdd6cbf3d631682fe38cd4fbd7e703d44
[code]

The deploy to netlify

**Expected behavior**
The netlify cms soft should publish the post
**Screenshots**

![image](https://user-

[2020-03-29 14:59] erezrokah commented on #2612
Closing as stale, please comment if problem persists

[2020-03-29 14:59] #2612 closed

[2020-03-29 15:00] erezrokah commented on #2300
Fixed by https://github.com/netlify/netlify-cms/pull/3381

[2020-03-29 15:00] #2300 closed

[2020-03-29 15:02] erezrokah commented on #2113
This is available via https://www.netlifycms.org/docs/beta-features/#folder-collections-media-and-public-folder

[2020-03-29 15:02] #2113 closed

[2020-03-29 15:04] erezrokah commented on #2511
Closing as stale

[2020-03-29 15:04] #2511 closed

[2020-03-29 16:37] austincondiff commented on #54
In `v3-ui-redesign` we are working on exactly this. We’ve created this list view where you can click on the table headings and also drag items in a custom order.

Check it out here...
https://storybook.netlifycms.org/?path=/story/components-table--table

[2020-03-29 16:37] bencodezen opened #3495 "Duplicate object template via GUI"
**Is your feature request related to a problem? Please describe.**
Lists must be defined statically rather than dynamically.

Scenario: I want to create a field called “TaskItem” that can be duplicated for each page

[code]

Right now if I define it in the NetlifyCMS config,yml file, it will only show up X number of times I replicate this item in the config.yml.

**Describe the solution you'd like

[2020-03-29 16:44] bencodezen commented on #3495
Ignore me. I don't know how I missed the List widget entirely. 🤦‍♂

[2020-03-29 16:44] #3495 closed

[2020-03-29 21:09] wing5wong commented on #54
Will this implementation deal with a large list as well - say 200 + items

[2020-03-29 21:15] austincondiff commented on #54
@wing5wong I plan to virtualize these rows with `react-window`. So it should handle 200+ items easily.

[2020-03-29 23:04] ifyaa opened #3496 "what"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: [e.g. GitHub, BitBucket]
 - OS: [e.g. Windows 7]
 - Browser version [e.g. chrome 22, safari 11]

 - Node.JS version:

**CMS configuration**

**Additional context**

[2020-03-30 03:30] BradDenver opened #3503 "List Widget: Variable types select"
**Describe the bug**

When using a list field with variable types the type select appears behind any following fields (eg it has the same or a lower z-index). This only affects other fields at the same level as the list field (eg it does not affect the fields within that list)

**To Reproduce**
Steps to reproduce the behavior. For example:
1. Create a collection with a variable typed field list wi

[2020-03-30 04:55] mtliendo commented on #1776
Sorry didn't mean to ghost you 😅. I've been in the CMS all weekend and would like to take on some tasks, this one might be a bit more involved for my first one though. I'll keep an eye on it and others in the meantime and ping back when I spot something.

Thanks for all the info and direction!

[2020-03-30 06:42] erezrokah commented on #3496
Closing, please re-open with the issue template

[2020-03-30 06:42] #3496 closed

[2020-03-30 16:43] jeremyzilar opened #3505 "Field parameter to support adding quotes around field data"
Slightly related to https://github.com/netlify/netlify-cms/issues/3486

### Is your feature request related to a problem? Please describe.

**Background:** I oversee [Digital.gov](https://digital.gov/), a site provides guidance around making better digital services for people in government. All of our websites are built using static site generators (Jekyll, Hugo), and use a mix of [Federalist](htt

[2020-03-30 21:54] apolopena commented on #3490
I realized that my actual issue was more that I was unsure on how to match more than one field in the block, mostly because I wasn't sure what the entire block looked like. Since the matches only showed a portion of the block, I was flying blind and could only match the first field of a component. I still don't know how to see the entire block but when digging around the existing issues in the rep

[2020-03-30 21:54] #3490 closed

[2020-03-30 23:57] Nixinova commented on #3487
I haven't figured out how do use that. Does the public_folder parameter go inside the collection or outside? What about the media_folder parameter?

[2020-03-31 06:44] erezrokah commented on #3487
Hi @Nixinova, the `media_folder` and `public_folder` can go at the root level, collection level, file level (for file collections) and field level.

`media_folder` tells the CMS where to save the files in the repository, `public_folder` tells the CMS how to output the file path  (e.g which value to save in the markdown) and defaults to `media_folder`.

Can you share your `config.yml`, files struct

[2020-03-31 08:29] tbille commented on #716
hey after showing my example [on discourse](https://community.netlify.com/t/multilingual-implementation-of-jekyll-netlify-cms/11427), I got suggested to come and link my project here.

I just want to share the way I implemented to add multilingual support on my site.
As mentioned in the topic there is still some manual process that can be automated (Github Actions or similar?) and some parts might

[2020-03-31 09:10] andreamussap opened #3506 "Error when saving changes on Netlify CMS - Failed to load entry"
**Describe the bug**
When trying to save changes on a page using Netlify CMS, user gets this error:

**To Reproduce**

* From Axway Open Documentation (https://axway-open-docs.netlify.com/docs/ ) navigate to any page and click **Edit on Netlify CMS** (top-right corner).
* When on Netlify CMS make any change and click **Save**
* CMS throws an error
* Go back to Netlify CMS main page and click **Wor

[2020-03-31 09:30] erezrokah commented on #3506
Thanks for opening this @andreamussap, I'll try to reproduce and report back here.

[2020-03-31 09:53] andreamussap commented on #3506
Thank you @erezrokah for prompt response. Unfortunately the error doesn't occur with everybody. I couldn't reproduce it myself but I saw it happening with two users. One of them I was able to record.
The most important and weird thing to note is that after these users delete their forks on GitHub, then CMS went back to work. I'm looking forward to your feedback. Thanks.

[2020-03-31 09:55] erezrokah commented on #3506
Thanks @andreamussap, I've had previous success with reproducing such errors by creating a fork, then force pushing an old commit to simulate an out of date fork, so hopefully will manage to do it this time.

[2020-03-31 11:58] #3479 closed

[2020-03-31 12:56] erezrokah commented on #3506
Unfortunately I wasn't able to reproduce even with an of sync fork:
https://github.com/erezrokah-test/axway-open-docs

I did submit a PR with additional logs https://github.com/netlify/netlify-cms/pull/3508 and a fix not to break the workflow view entirely when an error occurs.

I'm assuming the affected forks are gone by now right? Do you think you'd be able to clone/fork them before deleting so

[2020-03-31 14:29] andreamussap commented on #3506
@erezrokah The two users/forks who showed me the issue are:

* https://github.com/jowens-axway/axway-open-docs
* https://github.com/ygeorgiev-axway/axway-open-docs

The user ygeorgiev found out that "this branch in his fork (https://github.com/ygeorgiev-axway/axway-open-docs/tree/cms/ygeorgiev-axway/axway-open-docs/20200330_apip_relnotes/fixed_issues ) was rebased to master, merged, but not delete

[2020-03-31 14:34] erezrokah commented on #3506
Yes, that helps a lot - will look into these forks

[2020-03-31 15:40] erezrokah commented on #3478
Closing, please comment/re-open with the issue template

[2020-03-31 15:40] #3478 closed

[2020-03-31 16:35] erezrokah commented on #3506
Update:
1. I was able to reproduce and create my own fork based on https://github.com/ygeorgiev-axway/axway-open-docs. See: https://github.com/erezrokah-test/axway-open-docs
2. For some reason the affected branches do return an empty diff when comparing with the origin master branch:
https://github.com/Axway/axway-open-docs/compare/master...ygeorgiev-axway:cms/ygeorgiev-axway/axway-open-docs/apipo

[2020-03-31 18:34] radek-daniluk opened #3509 "TypeError: e.join is not a function"
**Describe the bug**
Can't open post editor

**To Reproduce**
Click on draft post in Workflow tab.

**Expected behavior**
Open page with post editor

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.36`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (X11; Fedora; Linux x86_64; rv:74.0) Gecko/20100101 Firefox/74.0`

**CMS configuration**
[code]

*

[2020-03-31 19:14] tomrutgers commented on #3509
I think this error is raised when a list widgets default value is not configured in the right way, might be because of the YAML list syntax. Can you try setting the categories default value as an array?
[code]

@erezrokah Actually it would make sense to support the list syntax (not sure if this is a bug or intentional)

[2020-03-31 19:44] Nixinova commented on #3487
Importing `netlify-cms@^2.0.0`

[code]
If I want the output from the Article collection to drop the full assets/images/etc path name from the front matter parameter where should public_folder and media_folder be?

[2020-03-31 20:20] joallard commented on #716
Excellent link @tbille, Durand is spot on about the goals.

I can't help but highlight one of them, that was discussed in the PR:

---

The only *low*light? I can never endorse plain wrong date formats such as `01/09/2014`, or even `2014/09/01` ;). (Friendly reminder that `YYYY-MM-DD` is the only acceptable date format – except when the month has letters)

[2020-03-31 20:32] radek-daniluk commented on #3509
This is how my `config.yml` looks like literally:
[code]

I changed categories line to:
[code]

but bug report still shows:
[code]

[2020-03-31 21:08] tomrutgers commented on #3509
I tested your config with the `test-repo` backend, no problems there: https://codepen.io/tomrutgers/pen/NWqJaGK. Can you check your data files to see if they match the admin config data scheme?

[2020-04-01 00:36] Nixinova commented on #3487
Hm, I just found a hacky way of doing this. I made two widgets that both have the name "url" but set them to two different widgets, image and string. So I can use the image widget to choose an image, which autofills in the string widget value, and then customise the output url using the string widget, which is quite useful.

[2020-04-01 00:40] Nixinova commented on #3487
Tempted to close this issue as this method is more useful to me than if I could get public_folder to work, as if I know the filename I can just type it in instead of browsing through all the images.

[2020-04-01 03:13] #54 closed

[2020-04-01 07:19] PetroPavlenko opened #3510 "npx netlify-cms-proxy-server fails (was working yesterday)"
**Describe the bug**
➔ npx netlify-cms-proxy-server
npx: installed 67 in 3.733s
Cannot find module 'semaphore'
Require stack:
- /Users/XXXXX/.npm/_npx/21426/lib/node_modules/netlify-cms-proxy-server/dist/index.js

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: GitHub
 - OS: mac Os latest

 - Node.JS version:
npm@6.13.4 /Users/petropavlenko/.nvm/versions/node/v12.16

[2020-04-01 07:23] erezrokah commented on #3510
Thanks for opening this @PetroPavlenko, will look into it

[2020-04-01 07:43] erezrokah commented on #3510
Workaround: `npx netlify-cms-proxy-server@1.2.2`

[2020-04-01 08:37] PetroPavlenko commented on #3510
Thanks, it helps )

[2020-04-01 08:44] #3510 closed

[2020-04-01 09:26] erezrokah commented on #3506
Update:
Submitted a fix: https://github.com/netlify/netlify-cms/pull/3512

Quoting my self from the PR:

[2020-04-01 09:40] erezrokah commented on #3487
using `public_folder: ""` should work at the root level but I think there is a bug there.
You can use:

[code]
As a workaround or use `public_folder: "/"` if that works for you.

[2020-04-01 09:42] #3506 closed

[2020-04-01 10:16] #3487 closed

[2020-04-01 10:29] alexearnshaw commented on #3506
I see this is fixed now, thanks @erezrokah!

So this is maybe not much use at this point but maybe for testing purposes it could be useful.

This is another user fork where they were getting errors this morning. Deleting the fork and letting the CMS recreate it did not work and this user @jmbermingham is still having errors after doing that.
Here's a screenshot:
![image](https://user-images.github

[2020-04-01 10:37] erezrokah commented on #3506
Thanks for reporting @alexearnshaw, we had another report for that in our slack and have a fix pending:
https://github.com/netlify/netlify-cms/pull/3514

[2020-04-01 10:57] quansenB commented on #3509
If struggled with this for the last couple of hours, so I might be able to help. Could you please post you draft.md file(Version in Github)? Can you create completely new posts?

Some initial impulses to fix this:
1. If you changed your MD File locally to reflect changes to your config.yml, make sure you push it to GH, as netlify cms does only import from GH post.
2. If you can't create completely

[2020-04-01 11:13] erezrokah commented on #3288
closed in https://github.com/netlify/netlify-cms/pull/3494

[2020-04-01 11:13] #3288 closed

[2020-04-01 11:13] erezrokah commented on #2350
Closed in https://github.com/netlify/netlify-cms/pull/3494

[2020-04-01 11:13] #2350 closed

[2020-04-01 11:14] erezrokah commented on #68
Closed in https://github.com/netlify/netlify-cms/pull/3494

[2020-04-01 11:14] #68 closed

[2020-04-01 11:39] erezrokah opened #3517 "Feat(GitHub): use conditional requests instead of cache busting"
When sending requests to GitHub API (and other backends) we add a timestamp parameter to make sure the request is not cached and latest data is retrieved.
This has several issues:
1. For each request a preflight `OPTIONS` request is sent over and over again. As a result we are sending almost a duplicate number of requests than required.
2. These redundant requests are considered under the rate lim

[2020-04-01 12:24] erezrokah commented on #3470
Actually I think in this case we should sanitise the `.` into `-`.
This configuration can serve as a workaround:
[code]

[2020-04-01 13:31] erezrokah commented on #3510
Fixed in `netlify-cms-proxy-server@1.2.4`

[2020-04-01 13:34] erezrokah commented on #3506
This is now released under `netlify-cms@2.10.38`

[2020-04-01 13:40] #3470 closed

[2020-04-01 14:01] rcoopernexient commented on #3470
@erezrokah the problem with that configuration is that it would pick up all languages. I need a separate collection for every language.

I would use the filter, but I'm already using filter on another field and it looks like filter can only work on one field.

[2020-04-01 14:09] #1516 closed

[2020-04-01 14:12] radek-daniluk commented on #3509
@quansenB Thanks for your tips. I had problem only with editing two posts created before adding netlify list widget. The solution is to update YAML front matter of problematic posts. It was
[code]
should be:
[code]
or:
[code]

[2020-04-01 14:12] #3509 closed

[2020-04-01 14:14] erezrokah commented on #3509
Looks like both ways are working, am I right?

[2020-04-01 14:18] #3483 closed

[2020-04-01 14:21] radek-daniluk commented on #3509
@erezrokah Yes, both works. The problem was not in config.yml format, but in front matter format of specific post.

[2020-04-01 14:25] erezrokah commented on #3470
Thank you for clarifying, hopefully will be pushing https://github.com/netlify/netlify-cms/issues/716 forward very soon.

Regarding the filter, I agree that it is very limited and we should improve it.
I found https://github.com/netlify/netlify-cms/issues/1000 and https://github.com/netlify/netlify-cms/issues/1245 but none regarding multiple fields filtering.

but filtering on multiple fields can

[2020-04-01 14:51] tomrutgers commented on #3509
Correct!

[2020-04-01 22:44] edsu opened #3522 "TypeError: e.get is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.2`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:74.0) Gecko/20100101 Firefox/74.0`

**CMS configuration**
[code]

**Additional context**

[2020-04-01 23:28] localhostec opened #3523 "TypeError: this.props.getAsset(...).then is not a function"
I made this website with Hugo and Netlify CMS I think around October 2019 and I created a custom preview for a specific type of post where I need to be able to see if the text content I add fits exactly right. It worked like a charm until last time I checked around February but today I logged in to do some maintenance and I am seeing this error in the preview window: TypeError: this.props.getAsset

[2020-04-01 23:53] barthc commented on #3523
The `getAsset` function does not return a promise anymore, and also all the life cycle methods in your codes are not needed anymore, the render function only will do. Looking at your `render` function ` var bg = this.props.getAsset(image);` should be enough to render your image url.

[2020-04-02 00:06] erquhart commented on #3474
This was actually intentional - list items are a block context, but creating block content inside of them is usually cumbersome. The behavior is:
- press enter: create a new paragraph in the list item
- press enter again: remove the empty paragraph and create a new list item instead

This is probably more confusing than anything it seems, so it may be worth going the more traditional route and cre

[2020-04-02 00:27] erquhart commented on #3509
@erezrokah sounds like we need to make sure every widget is validating incoming values, especially on load.

[2020-04-02 00:37] erquhart opened #3524 "Validate received values in widgets to avoid crashes"
**Describe the bug**

Some widgets throw when they receive an unexpected value, which causes the entire editor to error out.

**To Reproduce**

- Create a raw content file to edit in the CMS
- In the file frontmatter (or in the general file if it's a data file) include a property with a string value
- Configure the CMS to edit this property with a list widget
- Load the entry

**Expected behavior*

[2020-04-02 00:44] erquhart commented on #3524
@erezrokah we should discuss priority on this, need to get a sense of how much impact this issue has.

[2020-04-02 07:16] erezrokah commented on #3523
Fixed in https://github.com/netlify/netlify-cms/issues/3523

[2020-04-02 07:16] #3523 closed

[2020-04-02 07:17] andreamussap commented on #3506
Thanks a mil, @erezrokah for fast response and fix!!

[2020-04-02 07:28] erezrokah commented on #3522
Hi @edsu, I tried using your configuration and couldn't get the error you posted.
Can you follow the issue template here https://github.com/netlify/netlify-cms/issues/new?template=bug_report.md and possible share a screenshot/repo?

Also please make sure to use the latest version `netlify-cms-app@2.12.3`

[2020-04-02 08:55] CyriacBr opened #3526 "netlify-cms-proxy-server is not working: 422 (Unprocessable Entity)"
**Describe the bug**
When the proxy server is on, the CMS breaks. It cannot load anything, and can't persist anything either. Looking at the console, I see this:
[code]

**To Reproduce**

1. `npx netlify-cms-proxy-server`
2. `yarn dev` (next.js)
3. Navigate to /admin/index.html
4. Can't load any collection or persist.

**Expected behavior**
The proxy shouldn't cause any issue. It works if I don't

[2020-04-02 09:02] erezrokah commented on #3526
Hi @CyriacBr, the proxy server won't let you access files outside the current working directory.
Can you try changing `../../src/data/blogPosts` to `src/data/blogPosts` and `../../src/data/blogQuotes` to `src/data/blogQuotes`.

[2020-04-02 09:10] CyriacBr commented on #3526
Yeah that was the problem. It works now, thanks.

[2020-04-02 09:10] #3526 closed

[2020-04-02 12:14] amaline commented on #3474
Thanks! this is confusing when you don't know about it.  Not intuitive for new users - but now that I know it is not a big deal and my demos will go much smoother.

[2020-04-02 17:51] edsu commented on #3522
Thanks, I'm not sure if you are looking at the latest config or not -- but I did figure it out. I have another question now about whether it is possible to require a *list* to be populated with at least one member. I guess that's a separate ticket though eh?

[2020-04-02 17:52] #3522 closed

[2020-04-02 17:54] erezrokah commented on #3522
I think you could write a custom widget for that

[2020-04-02 18:09] edsu commented on #3522
Ok, I'll look into that. Thanks for your help!

[2020-04-02 18:39] apolopena commented on #1044
@erquhart Yes, is this in the production code now?

[2020-04-02 20:09] apolopena commented on #3203
Yes a great idea!

[2020-04-02 20:20] apolopena opened #3531 "Markdown Editor, RichText on, remove an added component?"
Hopefully this makes sense: Is there anyway to remove a component added to the markdown editor via the 'add component' button without changing the state of the editor back to "markdown" mode and then manually removing the string that was created by adding the component in the first place?

I have a feeling the answer is 'no' but I thought I would ask just in case.

[2020-04-02 20:25] apolopena opened #3532 "Markdown Editor, RichText on, remove an added component?"
Is there anyway to remove a component added to the markdown editor via the 'add component' button without changing the state of the editor back to "markdown" mode and then manually removing the string that was created by adding the component in the first place?

I have a feeling the answer is 'no' but I thought I would ask just in case.

[2020-04-02 21:25] tomrutgers commented on #3532
Closing as a duplicate of #3531

[2020-04-02 21:25] #3532 closed

[2020-04-02 22:10] apolopena commented on #3531
There was a glitch with github and it made me post this issue twice. Thanks.

[2020-04-03 00:11] austincondiff commented on #3203
So, when is this party going to start!? 🎉

[2020-04-03 01:40] erquhart commented on #3531
It isn’t obvious, but if you select the component itself (clicking the label is a good way), you can press backspace to delete it.

[2020-04-03 09:07] webdevFM opened #3533 "Media gallery not accepting files over ~900kB"
**Describe the bug**
When trying to upload media (PDF file) whose size is over 900kB through the CMS I get unrecognized error. Toast displaying error is empty so I do not know what is broken. In Chrome developer console I see request being sent at https://<my_url>.netlify.com/.netlify/git/github/git/blobs?ts=<random_number> to which server responds with 500 internal server error. Small files ~50kB

[2020-04-03 09:29] FaiChou opened #3534 "Can not set default value for empty list."
[code]

Can not create a default `goodsList` value, and this key doesn't exist also:

[code]

Expected:

[code]

[2020-04-03 11:56] anistark opened #3535 "Error: Could not find widget 'hidden'. Please make sure the widget name is configured correctly o..."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.39`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.149 Safari/537.36`

**CMS configuration**
[code]

[2020-04-03 17:14] stephlocke commented on #1342
To get aliases working I ended up doing it like this:

[code]

[2020-04-04 05:18] eddieferrer commented on #2259
@erquhart I am also experiencing this issue. Same steps as above.

[2020-04-04 14:24] didia commented on #54
Wow! Enfin! Congratulations on closing this one. It's been more than 3 years waiting for this! Good Job team!

[2020-04-04 17:24] victorronnow opened #3537 "Error when uploading multiple images"
**Describe the bug**

I'm using Cloudinary as the media library.
I have a collection named `article` that has an image field `bottom_gallery` with `multiple: true`.
Whenever I insert multiple images I get this error:
[code]

**CMS configuration**
[code]

The problem is the same with all the other image fields with multiple set to true. Fields with only one image are working.

It worked properly 2-

[2020-04-05 06:55] erezrokah commented on #3203
I'll schedule something this week.

[2020-04-05 06:57] erezrokah commented on #3535
Hi @anistark do you mind sharing your full configuration and a screenshot of the error? Do you have any custom preview templates? Can you share a repo with a reproduction?

[2020-04-05 08:48] erezrokah commented on #3537
Thanks for reporting, I submitted a fix here https://github.com/netlify/netlify-cms/pull/3538

[2020-04-05 09:02] erezrokah commented on #3533
Hi @webdevFM do you mind sharing the response for the failed `blobs` request? That error is coming from the GitHub API so the response might contain useful information

[2020-04-05 09:33] #3537 closed

[2020-04-05 10:56] victorronnow commented on #3537
Thanks for fixing this! But looks like I still get the error :( Should I wait for the next version of the cms to make it work?

[2020-04-05 11:09] erezrokah commented on #3537
Sorry, it was fixed in `master` branch, but not yet released. The next CMS version will contain the fix as you said.

[2020-04-05 11:18] tsavlis opened #3539 "Error: Invariant failed"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.39`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.149 Safari/537.36`

**CMS configuration**
[code]

[2020-04-05 12:07] erezrokah commented on #3539
Hi @tsavlis, can you share your full `config.yml` and possible a screenshot of where you got the error? A reproduction repo can also help a lot in getting the issue resolved.

[2020-04-05 12:30] Kazanaleo opened #3540 "Error: Could not find widget 'hidden'. Please make sure the widget name is configured correctly o..."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.39`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.132 Safari/537.36`

**CMS configuration**
[code]

[2020-04-05 12:49] #3540 closed

[2020-04-05 13:46] #3535 closed

[2020-04-05 16:33] rdtclark opened #3542 "Support for Middleman Data Files to create dynamic pages"
Middleman has an excellent feature whereby you can generate all of your content via a single [data file](https://middlemanapp.com/advanced/data-files/). If used in conjunction with [Dynamic pages](https://middlemanapp.com/advanced/dynamic-pages/) this becomes beautifully simple yet powerful setup.

If Netlify CMS could support creating & editing these simple YAML or JSON entries that would be a hi

[2020-04-05 16:54] mdartic commented on #2092
I don't see any guide started for VuePress.
I could make a PR to create this guide.
@erquhart  do you have a guide to create a guide ?
I can create one from ideas of others SSG, if it's ok for you.

[2020-04-05 16:57] adamayd commented on #2092
@mdartic I failed miserably on my VuePress attempt then lost track of it, please take over.

[2020-04-05 17:11] tomrutgers commented on #3542
Netlify CMS already supports YAML and JSON files, the [Middleman starter](https://github.com/tomrutgers/middleman-starter-netlify-cms) includes examples of both markdown with `middleman-blog` and yml files with dynamic pages.

[2020-04-05 17:29] victorronnow commented on #3537
I'm sorry to bother you again, but when can we expect the new release?

[2020-04-05 17:53] jannis701 opened #3543 "No notice/message when deleting an entry of a collection fails"
I changed the workflow from "publish_mode: editorial_workflow" to direct publishing but my master-branch was still protected.

When I deleted some entries of my collection they seemed to be deleted successfully. There was no notice or message of failure (what I would have expected). On gitlab of course nothing happened. When I reloaded netlify the pages are there again.
I realized the protected br

[2020-04-05 18:07] jannis701 opened #3544 "publish and duplicate does not work"
**Describe the bug**
The button "publish and duplicate" (German: "Veröffentlichen und Beitrag dublizieren") does not work properly. When you press it, the entry is published, but after loading the form for a new entry with the old content, there will be a redirect to the edit-page of the published entry.
Therefore after pressing the button one will edit the current entry instead of creating a new

[2020-04-05 19:53] rdtclark commented on #3542
Thanks Tom.

I understood there is support for YAML and JSON already and the file collection but am I correct that you cannot create entries into a YAML file using the file collection?

I suppose an option if that is true is to create empty entries and mark them not visible until updated.

[2020-04-05 20:35] tomrutgers commented on #3542
You can make a yaml list with the list widget: https://www.netlifycms.org/docs/widgets/list/

[2020-04-05 20:39] jannis701 opened #3545 "Markdown is not shown in WYSIWYG when creating duplicate"
**Describe the bug**
If you create a duplicate of a published entry all data from the entry will be taken to a new form. However, the markdown-WYSIWYG field is empty. You have to switch to markdown-source and back to WYSIWYG to see the content.

**To Reproduce**
1. config test-repo as backend and define at least 1 collection that uses a markdown-field and use the default publish_mode
2. Log in and

[2020-04-05 21:06] rdtclark commented on #3542
The list widget is an option but I am looking to create a number of products and need to add multiple images and fields for each. It would be ideal to keep a single products.yml file for other uses but I may have not concede in the end.

I had a conversation about this on the slack channel this week and it was suggested to put in a feature request.

Also as a beginner developer please excuse me wh

[2020-04-05 23:21] jacobpake commented on #54
Glad to be able to unsubscribe from this, thank you team

[2020-04-05 23:25] WebAzOps opened #3546 "Error: Could not find widget 'hidden'. Please make sure the widget name is configured correctly o..."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.39`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Linux; Android 10; POT-LX1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Mobile Safari/537.36`

**CMS configuration**
[code]

[2020-04-06 00:08] WebAzOps opened #3547 "Social Widget"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: [e.g. GitHub, BitBucket]
 - OS: [e.g. Windows 7]
 - Browser version [e.g. chrome 22, safari 11]

 - Node.JS version:

**CMS configuration**

**Additional context**

[2020-04-06 00:09] WebAzOps opened #3548 "Error: Could not find widget 'hidden'. Please make sure the widget name is configured correctly o..."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.39`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Linux; Android 10; POT-LX1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Mobile Safari/537.36`

**CMS configuration**
[code]

[2020-04-06 06:58] erezrokah commented on #3546
Closing as duplicate of https://github.com/netlify/netlify-cms/issues/3535

[2020-04-06 06:58] #3546 closed

[2020-04-06 06:58] erezrokah commented on #3548
Closing as duplicate of https://github.com/netlify/netlify-cms/issues/3535

[2020-04-06 06:58] #3548 closed

[2020-04-06 07:01] erezrokah commented on #3539
Closing due to lack of information, please re-open and follow the issue template.

[2020-04-06 07:01] #3539 closed

[2020-04-06 07:02] erezrokah commented on #3547
Hi @WebAzOps, do you mind following the bug/feature request templates?
https://github.com/netlify/netlify-cms/issues/new?template=feature_request.md
https://github.com/netlify/netlify-cms/issues/new?template=bug_report.md

It makes it very hard to figure out the requested feature without it.

[2020-04-06 07:03] erezrokah commented on #3537
We'll try to get a release out later on today

[2020-04-06 07:50] barthc commented on #3545
This issue is fixed in PR #3366

[2020-04-06 08:07] rdtclark commented on #3542
Update, I have re-modelled the data structure using your Middleman starter.

Thank you. Works wonderfully.

I would still like to make a feature request to support creating and editing with single data file, but accepting the limitation.

[2020-04-06 08:16] webdevFM commented on #3533
Hi @erezrokah, thank you for responding to my issue. Unfortunately `blobs` request is not sharing any details. I only receive following response headers as seen in chrome's network tab
![image](https://user-images.githubusercontent.com/62745213/78537054-27fcf600-77ef-11ea-9960-1deee5f69183.png)

There is no response data
![image](https://user-images.githubusercontent.com/62745213/78537282-875b0600

[2020-04-06 08:20] tomrutgers commented on #3542
Gotcha. I've updated the title for clarity. Glad to see it's working!

[2020-04-06 13:11] austincondiff commented on #263
This is a fantastic idea. What if we somehow used GitHub actions in the users repo to accomplish this? I am happy to add this into the v3 UI mocks to show you how it might look visually if this is something we are looking into doing.

[2020-04-06 18:33] djMax opened #3557 "JSON handling does not yield predictable orders, generates bad diffs"
**Describe the bug**
If the output type is JSON, the fields seem to be written in a mostly random order (it is almost certainly not random, but it's not 'as expected').

**To Reproduce**
1.) Create a JSON format collection with a number of simple string values.
2.) Create an entry - I did this manually, which may be the source of the issue.
3.) Edit the entry with NetlifyCMS by changing a single f

[2020-04-07 00:35] erquhart commented on #3557
In the case you outlined, what happens if you edit the entry through the CMS again? It’s expected that the CMS will initially reorder keys, but the order should be stable after that as long as the CMS is used.

[2020-04-07 06:57] necheporenko commented on #1576
Any updates with this feature?

[2020-04-07 07:26] erezrokah commented on #1576
Hi @necheporenko, we try to get to the most upvoted features first. Here is the current status:
https://github.com/netlify/netlify-cms/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc

[2020-04-07 08:46] erezrokah commented on #3537
This is released in `netlify-cms@2.10.40`

[2020-04-07 09:34] victorronnow commented on #3537
Thanks @erezrokah! Unfortunately it is still not published on npm :(

[2020-04-07 09:47] erezrokah commented on #3537
Oh, you're right, let me check again

[2020-04-07 12:00] #3486 closed

[2020-04-07 12:00] erezrokah commented on #3547
Closing, please re-open an follow one of the provided templates

[2020-04-07 12:00] #3547 closed

[2020-04-07 12:53] austincondiff commented on #1576
Just upvoted this. I think this functionality is necessary for a modern CMS.

Regarding the renaming of the file name due to the slug change concern, we could only sync with the title on create, afterward if the entry is edited, the slug would need to be manually updated if the title is updated to preserve the url that has existed unless the change is intentional.

[2020-04-07 14:16] austincondiff opened #3559 "Custom UI Theming"
In regards to how theming works, I’d imagine, the user is able to specify as much or as little as they want. We would of course have our default palette and type values, but the developer would be able to override those defaults if they so choose. This is as complex as they can go in `config.yml` if you want to override everything:
[code]

You can also  do something like as simple as this if you w

[2020-04-07 15:23] djMax commented on #3557
Ok, great. That seems perfectly reasonable.

[2020-04-07 15:23] #3557 closed

[2020-04-07 18:10] erezrokah commented on #3537
Sorry, now it's in npm

[2020-04-08 10:48] walton-alex opened #3561 "TypeError: e.split is not a function"
**Describe the bug**
Cannot edit a post. I get an Error screen.

**To Reproduce**
Try to edit the 'test' post.

**Expected behavior**
To be able to edit the post.

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.40`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:76.0) Gecko/20100101 Firefox/76.0`

**CMS confi

[2020-04-08 11:08] ourlaw commented on #2092
docusaurus

[2020-04-08 11:20] Gashanas commented on #953
Hey, any updates on this? I am still facing the issue. I noticed that it happens with links and other modified texts like bolded or formatted ones. When I am pasting post from other website with links or bold text, it loses spacing, so I have to double check each pasted text before publishing.
<img width="896" alt="Screenshot 2020-04-08 at 14 16 00" src="https://user-images.githubusercontent.com/2

[2020-04-08 18:37] hedwiggggg opened #3562 "DropdownItem content overflow hidden"
**Describe the bug**

Content of the DropdownItem Component, that exceeds the size of the Component, will be hidden.

**To Reproduce**

One possible way:
- set `locale: 'de'` in the `config.yml`

**Expected behavior**

No overflowing content.

**Screenshots**
![Bildschirmfoto von 2020-04-08 20-30-59](https://user-images.githubusercontent.com/42947316/78820400-01e67a00-79d8-11ea-8c92-888d9d6c296b.p

[2020-04-08 18:43] hedwiggggg commented on #3562
![Bildschirmfoto von 2020-04-08 20-41-17](https://user-images.githubusercontent.com/42947316/78821171-5ccca100-79d9-11ea-8950-b1a1023082f7.png)

This could be a possible solution too, overriding the DropdownList style with:

[code]

[2020-04-08 21:18] boygirl opened #3564 "collapsing and reordering list items before editing fields results in unsaveable state"
**The Problem**
I am using `netlify-cms-app@2.11.0` and making using of the variable type list widget beta feature. Everything is working beautifully in most circumstances. Here is my very specific edge case:

If I add an item to an existing list, and the item has any required fields, if I collapse the item and drag to reorder its position within the list _before_ editing any of its fields, then I

[2020-04-08 23:08] eallenOP commented on #1483
I'm just gonna leave a +1 on here. Would be great to fetch the logged in author's handle from Netlify Identity. A dropdown widget pulling from the authors collection is pretty clunky.

[2020-04-09 00:22] eallenOP opened #3565 "User not found error"
**Describe the bug**

When trying to accept an invite or log in to mysite/admin I get repeated user not found messages.

**To Reproduce**

1. Set up a Jekyll site to use Netlify CMS for blog authoring
2. Use Netlify CMS Identity to invite myself as a user (including the option for Google auth)
3. Follow the link in the email to accept invite
4. Click on the Continue with Google option
5. Browser w

[2020-04-09 01:27] eallenOP commented on #3565
**Update:**
I deleted the site again, set the repo to public (not ideal), put the site back up on Netlify and set up Identify. Now it works.

Does Netlify CMS not work at all with private repos? I thought it was supposed to.

[2020-04-09 08:37] ArthurClemens opened #3566 "netlify-cms version 2.10.41 gives error "Excessive alias count indicates a resource exhaustion attack""
With the update of 2.10.41 the admin is no longer rendered and shows this error instead:
[code]

We have quite an elaborate config yaml where we use aliases freely. It would be limiting to change aliases to repeated copies of identical elements.

[2020-04-09 09:16] smashercosmo opened #3567 "netlify-cms-app@2.12.5 regression: datetime widget value is being written as string"
**Describe the bug**
datetime widget value is being written as string:

[code]

as a result I get
[code]

**To Reproduce**
Just use datetime widget with netlify-cms-app@2.12.5

**Expected behavior**
datetime widget value should be written as date:
[code]

**Applicable Versions:**
 - Netlify CMS version: 2.12.5 (2.12.4 works fine)

[2020-04-09 09:17] hedleysmith commented on #2763
Just to add that I encountered the same error message. In my case the image path in my markdown file was incorrect - the image path should have been relative to the markdown file (`../../images/image.png`), when it was a path relative to the project root (`/images/image.png`).

Changing the image path gave a quick fix.

The package `gatsby-remark-relative-images` also helps by allowing paths relat

[2020-04-09 09:49] nvreez opened #3568 "netlify-cms@2.10.41 started wrapping datetime with quotes in yaml"
**Describe the bug**
We use Netlify CMS with the unpkg link set to version `^2.0.0`, and since yesterday copy changes failed our build. I discovered Netlify CMS started wrapping datetime values in doublequotes. Our parses then parsed them as strings instead. Using the Netlify CMS version `2.10.40` fixed the issue for us. We're using the github backend and have no format set on the datetime field.

[2020-04-09 09:50] erezrokah commented on #3567
Duplicate of https://github.com/netlify/netlify-cms/issues/3568. Thanks for repording

[2020-04-09 10:07] erezrokah commented on #3567
Actually just realised you opened the issue first

[2020-04-09 10:09] erezrokah commented on #3568
Duplicate of https://github.com/netlify/netlify-cms/issues/3567, thanks for reporting

[2020-04-09 10:09] #3568 closed

[2020-04-09 10:11] erezrokah commented on #3566
Thanks for reporting @ArthurClemens, we switched our yaml parser recently to get more control on the output, and the new one has protection against that.
I disabled it in https://github.com/netlify/netlify-cms/pull/3570

[2020-04-09 10:13] erezrokah commented on #3565
It does work with private repos, but if you change the permissions (e.g. move a repo from public to private) you'll need to re-generate the `git-gateway` token from Netlify site settings.

[2020-04-09 10:33] #3566 closed

[2020-04-09 10:37] erezrokah commented on #2763
Hi @hedleysmith, I would recommend trying using relative paths for media folders:
https://www.netlifycms.org/docs/beta-features/#folder-collections-media-and-public-folder.
This way the CMS will populate the markdown with relative values.

[2020-04-09 10:37] erezrokah commented on #2763
Regardless, this seems more of a Gatsby issue now (since the CMS supports both ways - absolute an relative paths to images)

[2020-04-09 10:37] #2763 closed

[2020-04-09 10:47] ArthurClemens commented on #3566
Thanks for the rapid response.

[2020-04-09 11:17] #3567 closed

[2020-04-09 11:44] #3544 closed

[2020-04-09 15:01] erezrokah commented on #3566
This is now released with `netlify-cms@2.10.42`

[2020-04-09 15:01] erezrokah commented on #3567
This is now released with `netlify-cms@2.10.42`

[2020-04-09 16:59] austincondiff commented on #3559
This would look something like this
https://codesandbox.io/s/thirsty-bas-x4xxv?file=/src/App.js

[2020-04-09 17:51] erezrokah commented on #3203
Does next Monday (April 13) at 5PM UTC work?

[2020-04-09 17:52] joshdcomp commented on #3227
Voted, but also wanted to voice support for this feature…we're doing quite a bit of hoop-jumping to get around the limitation of no nested dirs in folder collections

[2020-04-09 18:33] d4rekanguok commented on #800
We've just linted out an issue with `loadEntry` recently (huge thanks to @erezrokah who addresses it in record time) & it feels very stable now! I'll try to submit a wip PR to the default relation widget & see if it can be moved forward.

If you can't add a build pipeline to your project & this feature is deterring you from using netlify-cms, I've just published a custom netlify-cms build that inc

[2020-04-09 20:35] eallenOP commented on #3565
Yes, sorry for the very long post. Your original answer is similar to #1703 and would be useful to most people with these symptoms.

I guess I could change the repo to private, regenerate the key and expect one of two things: it’ll work fine (which would be great because that’s how I’d originally wanted it) or the same problem will occur and I can look at the browser network logs. Will let you kno

[2020-04-09 23:38] tafelito opened #3572 "registerPreviewTemplate ComponentType missing generic type declaration"
the types for the registerPreviewTemplate function is missing the Props generic and using it with typescript gives the error  JSX.Element' is not assignable to parameter of type 'ComponentType<{}>'. when the component has props

I think the easiest way to solve this is to add the generic [here] (https://github.com/netlify/netlify-cms/blob/92e76011e7a9e8b5370088b0a2c065df66b5f7fb/packages/netlify-c

[2020-04-10 01:41] austincondiff commented on #3203
Works for me. What are we using? Zoom, Slack?

[2020-04-10 05:09] erezrokah commented on #3203
I’ll post a zoom link on the slack on Monday and link from here to avoid zoom bombing.

[2020-04-10 05:30] platform-kit commented on #1409
@erquhart , did the 'allow_edit' feature make the cut?

[2020-04-10 11:45] dafrie commented on #1342
And just in case you want to alias a list of keys:

[code]

[2020-04-10 12:03] hanneskuettner opened #3573 "Use collection summary field in workflow card instead of hardcoded title"
**Is your feature request related to a problem? Please describe.**

I'm trying to use the editorial workflow with a collection that does not (and should not for semantic purposes) have a title field. The problem is that the list in the editorial workflow tab shows a blank list item since it is hardcoded to look for the title of the entry.

https://github.com/netlify/netlify-cms/blob/b9d66322033f4e

[2020-04-10 12:11] hanneskuettner commented on #3573
If using the summary field in conjunction with the inferred title field just as done in the entry card is the desired way to handle this I could whip up a PR for this as well.

[2020-04-10 12:44] tomrutgers commented on #3573
You can set an `identifier_field` property to assign another field than the title: https://www.netlifycms.org/docs/configuration-options/#identifier_field

Does this cover your needs?

[2020-04-10 12:51] hanneskuettner commented on #3573
I tried that. That did however not work.

Looking at the code I don't think it is expected to work. We would need to use `selectInferedField` to correctly infer the title attribute. But right now it's just a plain lookup in the data for `title`

Or is that done behind the scenes when the entry is passed down to the workflow list?

A minimal collection that shows up with an empty title for me is is

[2020-04-10 12:57] erquhart commented on #3573
Weird that we’re not inferring. Summary makes sense for workflow too, I’d expect us to have the same behavior as the collection view in this regard.

[2020-04-10 13:54] hanneskuettner commented on #3573
Just FYI I started on a PR for unifying the collection entry tittle.

[2020-04-10 14:14] hanneskuettner commented on #3573
@erquhart I've got a question regarding this line which I tracked down to a commit from 2 years ago:

https://github.com/netlify/netlify-cms/blob/174d86f0a083a8c89e832962e3bdfe4163def428/packages/netlify-cms-core/src/components/Collection/Entries/EntryCard.js#L125

As far as I can tell (and the typescript types define) an Entry does not have a label. Is this obsolete?

[2020-04-10 14:29] erquhart commented on #3573
Folder collection entries don’t have labels but file collection entries do.

[2020-04-10 14:37] hanneskuettner commented on #3573
I see. But why are they not defined in the `Entry` type?

Should we move this discussion to Slack or should I open a PR and we can discuss it over there?

[2020-04-10 16:15] zdenekdrahos opened #3574 "netlify-cms@2.10.41,@2.10.42 yaml errors"
**Describe the bug**

config.yml stopped working at https://sokolmorasice.netlify.com

![Screenshot from 2020-04-10 18:11:03](https://user-images.githubusercontent.com/7994022/79005220-a989b680-7b56-11ea-9bc5-d17dd6c4fb9f.png)

**To Reproduce**

1. Go to https://sokolmorasice.netlify.com
2. See error at page, console...

**Expected behavior**

Login page

![Screenshot from 2020-04-10 18:10:11](htt

[2020-04-10 16:40] erquhart commented on #3573
A PR would be great - @erezrokah has a lot more context than I do in recent months, he can follow up with you there.

[2020-04-10 17:00] hanneskuettner commented on #3573
On a side note: File collection labels are actually broken in the current demo CMS that is online:

![image](https://user-images.githubusercontent.com/4376726/79008373-8e6e7500-7b5d-11ea-9c8c-1fb86e98cb9f.png)

[2020-04-10 17:18] erezrokah commented on #3203
Let's push for 5:30PM UTC if that's ok.

[2020-04-10 17:55] theetrain opened #3576 "Show diff of content changes to reviewer"
Thank you for maintaining NetflifyCMS. It's a great product and I hope to make extended use of it over time. ⭐

**Is your feature request related to a problem? Please describe.**

When using editorial flow to propose content changes, the reviewer would like to easily see what has changed.

**Describe the solution you'd like**

When selecting a change in the Editorial flow, it would be convenient t

[2020-04-10 21:39] tomrutgers commented on #3576
Thanks for addressing this, it would indeed be a valuable feature. I’m closing this as it’s a duplicate of #2735, please upvote and comment there.

[2020-04-10 21:39] #3576 closed

[2020-04-10 21:50] #3574 closed

[2020-04-10 21:52] erquhart commented on #3574
@erezrokah probably worth adding a test case or two for this.

[2020-04-11 03:02] kwyoung11 opened #3578 "Editor Component string fields cursor jumps to end of line after each keypress"
**Describe the bug**
In any Editor Component registered via CMS.registerEditorComponent(), the cursor in string fields jumps to the end of the line after every keypress, making it difficult to edit.

**To Reproduce**
1. Go to https://cms-demo.netlify.com/#/collections/posts/new
2. In the body (the markdown widget), click the '+' dropdown in the markdown toolbar and add a Youtube block
3. Add any t

[2020-04-11 04:30] apolopena commented on #3203
Works for me 4/13/20 @ 5:30PM UTC

[2020-04-11 10:43] duanecilliers commented on #1342
Another approach is to use [manual initialization](https://www.netlifycms.org/docs/beta-features/#manual-initialization). Then you can do something like this.

[code]

[2020-04-11 14:36] anishd19 opened #3580 "[Next JS] import CMS from 'netlify-cms' causes `ReferenceError: window is not defined` error"
**Describe the bug**

importing CMS on a nextjs page does not work as expected. It errors out with `ReferenceError: window is not defined` on opening the page.
**To Reproduce**

In a Next JS project:
1. Create pages/admintest.js
2. add ```import CMS from 'netlify-cms'``` to the file.
3. open localhost:3000/admintest in the browser
4. See error `ReferenceError: window is not defined`

**Expected be

[2020-04-12 01:38] Pearce-Ropion opened #3581 "Add ability for individual files to override preview setting in file collections"
**Is your feature request related to a problem? Please describe.**

Currently, we can enable/disable the editor preview on a collection. However, this doesn't make much sense for `file` type collections where each file has a different configuration and might require a different preview. I would like to be able to override a collection's editor settings in an individual file's settings

**Describe

[2020-04-12 05:36] erezrokah commented on #3565
Thanks for the follow up! I'll try with again with a newly fresh private repo and see if I can reproduce. If not I'll just close the issue.

[2020-04-12 05:37] erezrokah commented on #3572
Thanks @tafelito, we will gladly accept a PR for this.

[2020-04-12 09:41] #3503 closed

[2020-04-12 10:40] erezrokah commented on #3573
We've just started typing areas in the code, so some types might be missing.
Thanks for the PR, I'll try to finish reviewing it today.

[2020-04-12 12:41] erezrokah commented on #3580
Hi @anishd19, when working with site generators and importing the CMS as a module (not from CDN), you should use `netlify-cms-app`, e.g.
[code]

[2020-04-12 12:46] adongy opened #3583 "Support date object on Date widget"
**Is your feature request related to a problem? Please describe.**
Hi,

netlify-cms supports parsing date objects on some formats (such as TOML).

In that case, multiple formats are supported: either a raw Date object, such as `2020-04-08T09:03:16.371Z`, or a simpler date object as defined here:

https://github.com/netlify/netlify-cms/blob/7fcdaef1c92c65d981ac2ebc1077d8da0c3ca285/packages/netlify-

[2020-04-12 14:57] cardamonchai opened #3585 "Error: Minified React error #31; visit https://reactjs.org/docs/error-decoder.html?invariant=31&a..."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.3`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36`

**CMS configuration**
[code]

**Additional context**

[2020-04-12 15:01] #3585 closed

[2020-04-12 15:01] erezrokah commented on #3585
Hi @cardamonchai, can you share some more info on the problem you're experiencing? Can you provide the full link to the error? Can you share a repo?

[2020-04-12 15:02] cardamonchai commented on #3585
Sorry, I've opened this by mistake! Thank you!

[2020-04-12 15:17] #3399 closed

[2020-04-12 16:31] #3573 closed

[2020-04-12 16:34] anishd19 commented on #3580
Hi, I tried this as well. Still the same error.

Using `next/dynamic` to wrap the import statement did solve this issue. But, the registry was not exposed in that case. I am looking to register a widget using `CMS.registerWidget`.

[2020-04-12 16:37] anishd19 commented on #3580
I created `pages/admintest.js` with the following content:

[code]
Result: `ReferenceError: window is not defined`

[2020-04-12 16:39] erezrokah commented on #3580
Can you share your repo? I think you might need to use promise like API with `next/dynamic` as it won't resolve the CMS synchronously

[2020-04-12 16:46] eur2 commented on #441
@austincondiff This is wonderful! @erquhart Any hope this responsive design is included in a future version of netlify-cms?

[2020-04-12 17:18] anishd19 commented on #3580
Hi, I have recreated the scenario in this repo below.

https://github.com/anishd19/with-netlify-cms/blob/master/pages/admintest.js

@erezrokah

[2020-04-12 23:57] sdras opened #3587 "Having Issues Logging In"
**Describe the bug**
This has happened a few times now, I can't log in with GitHub or my password, and then have to reset my password

**To Reproduce**
Try to log in via GitHub, and via old password.
Here is a reproduction:
https://drive.google.com/file/d/1doFPMkvxfliZ08KOatJSRIxvEZgoEb0P/view?usp=sharing

**Expected behavior**
Log in via either GitHub or old password and content loads.

**Applica

[2020-04-13 01:13] jlengstorf commented on #3587
I hit this as well and had to reset my password.

[2020-04-13 04:43] vai0 commented on #1348
@delucis have you been able to find a solution that allows for updating the time on publish rather than on opening the entry? i am also trying to create a "date modified" widget, but none of the solutions have been ideal.

[2020-04-13 07:24] erezrokah commented on #3587
I think I was able to create a reproduction, posting here to make sure it is the same issue.

1. Setup a Netlify site with Identity, `git-gateway` and CMS configured
2. Change Identity registration to invite only
3. Setup GitHub as an extremal provider
4. Invite a user via an email that is different from the user GitHub's account email (@sdras, @jlengstorf can you verify this?)
5. Create a passwor

[2020-04-13 07:29] bugii commented on #3240
Such a cool feature :) Any update on this?

[2020-04-13 08:09] delucis commented on #1348
@vai0 It’s a while since I worked on this, but no, I just made do with using the time the entry was opened, I think.

[2020-04-13 10:14] tinfoil-knight commented on #3572
@erezrokah I've been meaning to start contributing to netlify-cms. Can I send a PR for this issue?

[2020-04-13 10:34] erezrokah commented on #3572
@tinfoil-knight, go for it 😄 Thanks!

[2020-04-13 12:06] erezrokah commented on #3203
This is the google calendar event (still without the zoom link):
https://calendar.google.com/event?action=TEMPLATE&tmeid=NHFoNGU4NXUxamduNnM1YmZpNWswa3ZpaWkgZXJlekBuZXRsaWZ5LmNvbQ&tmsrc=erez%40netlify.com

[2020-04-13 12:14] erezrokah commented on #3203
Google Calendar event: https://calendar.google.com/event?action=TEMPLATE&tmeid=M2czbGJzczV2ZThxbzJoZjU4aWVtZm1xZDEgbmV0bGlmeS5jb21fODlnMGlnaGZjNTRmN2RoNXA0ZnFtdG10NDRAZw&tmsrc=netlify.com_89g0ighfc54f7dh5p4fqmtmt44%40group.calendar.google.com

[2020-04-13 14:01] austincondiff opened #3596 "Change shape of entry object to support new collection table"
We need the entry object that currently looks like this
[code]

to look more like this...

[code]

This is mock data, but you get the idea.

[2020-04-13 14:13] tinfoil-knight commented on #3572
@erezrokah Please review #3597.

[2020-04-13 15:22] awilderink commented on #1776
I got it working actually pretty nice together with [React-Ace](https://github.com/securingsincity/react-ace). Here my `cms.jsx`:

[code]

[2020-04-13 16:24] jlengstorf commented on #3587
unless something changed with GitHub that I'm not aware of, my work and personal emails are attached to my GH account, so I don't believe this is an email mismatch problem — happy to pair up if it'll help diagnose?

[2020-04-13 16:34] erezrokah commented on #3587
Which one is the primary email? Looks like `gotrue` uses that one:
https://github.com/netlify/gotrue/blob/c9327d42aacc622c9dac493c8126f01f15ffc44d/api/provider/github.go#L85

[2020-04-13 16:49] jlengstorf commented on #3587
@erezrokah my Netlify email is _not_ the primary, but that seems like a pretty troubling failure, IMO

[2020-04-13 17:01] erezrokah commented on #3587
Yes, you're right - I'll create an issue for it in the `gotrue` repo, we already have a [fix up](https://github.com/netlify/netlify-cms/pull/3599) in the CMS regarding handling a successful email/password login after the external one fails.
We should probably show a better error message for the failure too, but that's a bit challenging to debug since external providers are not supported when worki

[2020-04-13 17:17] erezrokah commented on #3203
Zoom link available here https://netlifycms.slack.com/archives/CPMJH823F/p1586798252119400

[2020-04-13 18:47] erezrokah commented on #3203
Notes and recording: https://drive.google.com/drive/folders/13hdsi1GBgtHaTlndEJr3YwFdLHmnzD9u

[2020-04-13 18:48] paultannenbaum commented on #3203
Is this still going on or did you guys wrap up? FYI, I can not see the zoom link @erezrokah posted because of not having access to the slack channel

[2020-04-13 23:08] sdras commented on #3587
Thanks for working on this Erez, great sleuthing as usual. Yep, my email for github is my personal email, and my work email is the invited one. I would assume that's fairly normal though, no? Most folks will have an existing GitHub account tied to their personal email and not their work account as an eng. :) I agree it's probably a gotrue failure, but unfortunately most people will not see it that

[2020-04-14 06:38] tinfoil-knight commented on #3429
@erezrokah Can I try this issue out? I'll be updating you on progress regularly.

[2020-04-14 06:40] erezrokah commented on #3203
Hi @paultannenbaum, the meeting was from 5:30 PM UTC to 6:00 PM UTC. You can join the slack here https://www.netlifycms.org/chat.
I don't want to post the link publicly here as to avoid [zoom bombing](https://en.wikipedia.org/wiki/Zoombombing).

[2020-04-14 07:02] erezrokah commented on #3429
@tinfoil-knight, go for it :)

[2020-04-14 07:12] erezrokah commented on #3587
Both of you are right, I'll check how the identity widget reports this failure and see if we can handle it in a better way. To provide a good error message we will need to have the widget report the provider used to login as the behaviour is different between providers and can also be caused by not inviting the user at all.

[2020-04-14 10:38] yoavniran opened #3603 "CMS fails to load due to a bug in react-aria-menubutton"
**Describe the bug**
CMS fails to load due to a bug in https://github.com/davidtheclark/react-aria-menubutton/

I havent seen this reported yet and im not sure how this isnt then a problem for more people because from the looks of it, it should be critical bug for all users that use netlify-cms ever since react-aria-menubutton changed their code.

The error itself is:

[code]

Its happening becaus

[2020-04-14 10:44] erezrokah commented on #3603
Hi @yoavniran, I've seen this recently when someone was trying to create a custom widget based on the number widget and got hit with this error when trying to use the preview component (the solution was to remove the import for the preview component). Can you elaborate on how you're using the CMS as a dependency? Possibly share an example repo?

[2020-04-14 14:50] tinfoil-knight commented on #3429
![image](https://user-images.githubusercontent.com/51631122/79238547-21c0e680-7e8d-11ea-8958-c8039ec364be.png)
@erezrokah I have a question :
Is the placement of the download button going to be as in the attached image?

[2020-04-14 15:06] yoavniran commented on #3603
thanks for the quick reply @erezrokah I will have a look and see if i can disable stuff and if that will have an effect.

however, if you look at the stracktrace:

[code]

the error is coming from: netlify-cms-ui-default/dist/esm/Dropdown.js (Dropdown.js:22)

so it doesnt look like it has to do with any customization of mine.

Its a little hard to share my configuration because my site is in a pri

[2020-04-14 15:30] erezrokah commented on #3587
FYI, after looking into the `gotrue` code decided it might be simpler (and better) to just fix the underlying issue:
https://github.com/netlify/gotrue/pull/243

[2020-04-14 16:49] matiyin commented on #1502
Same here. A few things leave me reluctant to use Netlify CMS for future projects:
- So far I rely on others improving the CMS functionality, as I'm a Vue developer mostly using Nuxt.
- Not being able to reorder collections is a major UX for my clients. I now have to do it the old skool way by making an Order number field, leaving clients confused if they want something in between posts. I tried u

[2020-04-15 06:42] #3587 closed

[2020-04-15 07:39] erezrokah commented on #1502
Hi @matiyin, in your second bullet do you mean reorder entries in a collection or ordering collections in the UI? By re-order issue do you mean https://github.com/netlify/netlify-cms/issues/475?
I'm asking since we try to work our way through the most upvoted features first (that issue is now on second place). We recently did https://github.com/netlify/netlify-cms/issues/54 which allows allows con

[2020-04-15 07:52] erezrokah opened #3605 "Chore: add timeout mechanism to our fetch API calls"
On some occasions fetch API calls can hang for quite some time before they fails.
We should implement a timeout mechanism around our fetch calls to fail faster.

See:
![image](https://user-images.githubusercontent.com/26760571/79312133-1e6a4100-7f07-11ea-885a-5b83799fa6ab.png)
 The last request took a couple of minutes to fail while showing nothing in the CMS UI.

[2020-04-15 10:10] tinfoil-knight commented on #3429
WIP #3604

[2020-04-15 14:21] schjetne commented on #1063
This issue is kind of killing Netlify CMS for me right now. I organize the content like this: `{{topic}}/{{title}}` and topic is a relation field. As it is right now I do what I had planned because I cannot expect the users to make a manual “slug” for all topics in the site.

This issue has been open for two years and looks like the most requested feature in the whole system. What is the progress

[2020-04-15 14:37] erezrokah commented on #1063
Hi @schjetne, we try to get to the most upvoted features first. This one is ranked as number 9 per this sort: https://github.com/netlify/netlify-cms/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc
You could up vote it so it get more visibility.
Regardless we are always open for contributions.

[2020-04-15 15:04] erezrokah commented on #3580
Hi @anishd19, sorry for the late reply.
I think you need to do something like this:
[code]

[2020-04-15 15:09] schjetne commented on #1063
Thank you! Upvoted. I found a hacky way of solving this, but will eagerly await updates so I can delete my work-around when the relation slug finally arrives.

[2020-04-15 15:47] yoavniran commented on #3603
hey @erezrokah
I removed all of my custom configuration (all collections and widgets) but still the error persists.
As I mentioned before, the stacktrace shows that its coming from internal netlify-cms code.
Im still puzzled how this isnt a more general issue for all users and how it wasnt reported by more people.

Not sure what im missing here.

From the  bug i opened for react-aria-menubutton I

[2020-04-15 15:50] erezrokah commented on #3603
I think it will only show up if you bundle the CMS in a specific way that triggers the import. For example our demo site https://cms-demo.netlify.com/#/collections/posts uses the CMS from CDN and doesn't have that issue.

[2020-04-15 15:58] yoavniran commented on #3603
well... ive installed it through npm... Isnt that the normal way? Is there a preferable way to consume netlify-cms?
in any case, the error happens whether i build in dev or in prod...

[2020-04-15 15:59] erezrokah commented on #3603
If you could share a reproduction repo it might help. You could either use the CMS from CDN or install from npm via `netlify-cms-app`. The latter is the preferred way since it is easier to register custom code.

[2020-04-15 16:03] yoavniran commented on #3603
cool. ill try and make time to create a public repo to reproduce. thanks

[2020-04-15 18:03] tinfoil-knight commented on #3572
@erezrokah Close this issue.

[2020-04-15 18:03] tinfoil-knight commented on #3429
WIP #3609

[2020-04-15 21:41] jgudka opened #3610 "/admin not loading settings"
I had the gatsby netlify starter deployed and was able to make changes using netlify cms via the /admin endpoint both on the deployed site and locally.

Today when I tried to log into /admin again locally and without any changes on my end, I was shown the "Unable to access identity settings. When using git-gateway backend make sure to enable Identity service and Git Gateway." error message. Lookin

[2020-04-15 23:11] seanpatterson97 commented on #3610
Hey, I'm experiencing almost the same situation. I have a site based off the starter that I've been working on for a month or so. As of today, when I begin developing locally with gatsby I am shown the "Unable to access identity settings" screen when going to my admin panel.

The console also shows an error request to https://mysite.netlify.com/.netlify/identity/settings, but mine is a Cross Origi

[2020-04-16 02:58] anishd19 commented on #3580
Ok thanks @erezrokah. I'll try that and get back to you.

[2020-04-16 05:05] dsanderson90 commented on #2092
Can we have a section dedicated to registerEditorComponent? I am looking for docs that explain the fromBlock function and can't find anything beyond this https://www.netlifycms.org/docs/custom-widgets/#registereditorcomponent

[2020-04-16 05:48] anishd19 commented on #3580
No, that doesn't fix it either. But anyway I went on with another solution as in this repo: https://github.com/Jinksi/netlify-cms-react-starter/blob/master/cms/webpack.config.js . basically, I have a separate webpack build system for my `cms/cms.js` which outputs `cms.bundle.js` into the `public/admin` folder of the nextjs app. This is not an ideal solution though. got my project to progress as of

[2020-04-16 06:44] erezrokah commented on #3572
Closed via https://github.com/netlify/netlify-cms/pull/3597

[2020-04-16 06:44] #3572 closed

[2020-04-16 06:47] erezrokah commented on #3580
That actually makes sense as this is what the Gatsby CMS plugin does.
Closing this issue, and if you have the time and want to share you work we would a contribution to the examples page: https://www.netlifycms.org/docs/examples/

[2020-04-16 06:47] #3580 closed

[2020-04-16 07:05] erezrokah commented on #3610
Thanks for reporting this @jgudka, looks like both `https://beht.netlify.com/.netlify/identity/settings` and `https://beht.netlify.app/.netlify/git/settings` return a valid response now.

@seanpatterson97 https://twitter.com/NetlifySupport/status/1250476140822593536 might be relevant.

[2020-04-16 07:20] jgudka commented on #3610
Yes thanks for your help! The deployed site now seems to work, perhaps was temporarily down?

And as for the local version, I needed to change the url to .app from .com as the twitter thread suggests. I know I got an email about this change of url of the deployed app, but maybe this change required for local dev should be highlighted too as others may have a similar issue.

[2020-04-16 07:20] #3610 closed

[2020-04-16 09:14] mushkin-v opened #3612 "Draft Image preview fails for draft edits"
**Describe the bug**
When you edit some page in a draft state and upload an image to some image field, the preview of image crashes. But after publishing, the image starts to work fine. Seems draft images are simply not passed to preview as expected.

**To Reproduce**
Precondition: User is logged in as Admin of CMS. The editorial workflow is turned on.

Steps to reproduce:
1. Open some page in edi

[2020-04-16 09:18] erezrokah commented on #3612
Hi @mushkin-v can you make sure to update to the latest version of the CMS `netlify-cms-app@2.12.7`?
Also can you share your `config.yml` (if you can share the repo that would be great)?

[2020-04-16 09:23] justinluong opened #3613 "TypeError: Cannot read property 'fluid' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.3`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36`

**CMS configuration**
[code]

**Additional context**

[2020-04-16 09:24] #3613 closed

[2020-04-16 09:45] mushkin-v commented on #3612
Our dependencies versions are frozen but I will talk with tech lead about updating the CMS ver.
Sorry, I can't share the repo, but can share a part of config.yml. The issue was reproducing to me with Slider Block.

[code]

[2020-04-16 09:56] erezrokah commented on #2696
Closing as `media_folder_relative` was removed in favour of https://www.netlifycms.org/docs/beta-features/#folder-collections-media-and-public-folder

[2020-04-16 09:56] #2696 closed

[2020-04-16 09:58] erezrokah commented on #3612
Are you using a custom preview template? Can you share that code?

[2020-04-16 09:59] mushkin-v commented on #3612
@erezrokah just updated CMS locally to the last version and I has the same issue with an image preview.
![image](https://user-images.githubusercontent.com/9281848/79443116-17fcc780-7fe2-11ea-87fa-7fdbb3783ffc.png)

[2020-04-16 10:02] mushkin-v commented on #3612
Preview template code:
[code]

[2020-04-16 10:14] mushkin-v commented on #3612
@erezrokah it tries to load an image from /img folder where all other images are but can't find it there because it's a draft image.
![image](https://user-images.githubusercontent.com/9281848/79444618-16340380-7fe4-11ea-9482-8071c52e34b1.png)

[2020-04-16 10:15] mushkin-v commented on #3612
This could be fixed? Because to have an editorial workflow without images preview doesn't make much sense :(

[2020-04-16 11:05] erezrokah commented on #3612
You should you the `getAsset` function to retrieve the image URL
See here https://www.netlifycms.org/docs/customization/#registerpreviewtemplate for an example.

[2020-04-16 12:16] mushkin-v commented on #3612
@erezrokah Thanks! Seems we missed this moment :(
Have a nice weekend!

[2020-04-16 12:16] #3612 closed

[2020-04-16 14:02] tinfoil-knight commented on #3605
@erezrokah Can I try this issue?

[2020-04-16 14:46] matiyin commented on #1502
Hi @erezrokah , thanks for responding!

Yes I mean #475, so for example when I have a collection of products, the client can order them by drag&drop. I now have a manual order number field in there. I'm using Nuxt so custom code.

Yes I'm already using #54 to be able to order on the custom order number field :) But setting those numbers manually is not the best UX.

Wow those new UI ideas look gre

[2020-04-16 14:53] erezrokah commented on #3605
Sure, thanks!

[2020-04-16 15:00] erezrokah commented on #1502
Thanks for the feedback and clarifications it is very helpful.
I think you mean https://github.com/netlify/netlify-cms/issues/1025. Feel free to up vote/comment on that issue with suggestions.

[2020-04-16 15:36] JohJonker opened #3614 "Add a "Group by" dropdown selector in the folder collection view"
**Is your feature request related to a problem? Please describe.**
Given an example "scholars" folder collection with taxonomies "cohort" and "country" (grouped by Markdown frontmatter values), if I want to browse scholars by cohort, I can't easily do that in the folder view.

**Describe the solution you'd like**
Ideally there would be a dropdown "Group by" right next to "Sort by" in the collectio

[2020-04-16 16:11] tomrutgers commented on #3614
Excellent feature request!

[2020-04-16 17:34] Undistraction commented on #2386
@erquhart I'd like to take a run at fixing this. Please could you give me a brief overview of the issue from your perspective?

We need to allow non-technical users to add images etc via the rich-text mode, but this results in all our footnotes and refs being escaped.

[2020-04-16 20:32] Chathula opened #3615 "Delete path folder when delete entry"
I have integrated Netlify CMS with Gatsby. it works well when creating a new entries. but when delete. it only deletes the `index.md` file. I need to delete the whole `path` folder. how can I do it?

Here are my content paths and config file.

content path: `content/year-month-day-path/`

      backend:
      name: github
      repo: test/repo

    local_backend:
      url: http://localhost:8081/a

[2020-04-17 08:02] hanneskuettner opened #3617 "Add "filter" selector to the collection view"
**Is your feature request related to a problem? Please describe.**

Given a large number of entries in a collection that have different taxonomies (like blog posts or products) it can become unmanageable to quickly find an entry belonging to a certain taxonomy or matching a criterion.

**Describe the solution you'd like**

Ideally the end user should be able to filter the displayed entries of a co

[2020-04-17 10:21] neokree commented on #2335
Hi, if the `local_backend: true` is active in a live website this can cause problems?
There are any security issues in that case?

[2020-04-17 11:14] magomimmo opened #3618 "Add an hidden property to collections"
**Is your feature request related to a problem? Please describe.**

Anytime you configure a files collection, a corresponding panel is added to the NetlifyCMS view of collections. As a consequence the Collections View of the CMS  quickly become polluted of Collections not meant to be edited (e.g. Read Only) by the Editor and used as fields in other collections.

**Describe the solution you'd like*

[2020-04-17 11:43] hanneskuettner commented on #3618
Chipping in here since I like the idea and have a similar problem.

Do you just want to hide the collection in the UI and someone with the right URL could still edit a collection or should editing in general be prevented?

[2020-04-17 11:49] magomimmo commented on #3618
Hi @hanneskuettner, I think that the editing of the collection should be prevented in general.

[2020-04-17 15:32] matiyin opened #3619 "new release breaks list setup I had in yaml"
**Describe the bug**
List widget broken on new release.
The CMS was working fine 2 days ago, but I noticed there was a new release. It's loaded through CDN as `<script src="https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js"></script>`

The List widget that I use (find yaml below) doesn't show correctly anymore in the CMS and when I try to save I get the error:
`ObjectControl.js:65 Uncaught

[2020-04-17 15:39] gusbmurphy opened #3620 "Unable to enable multiple image selection with Cloudinary"
Hi everyone, thanks in advance for your attention on what has been a very obnoxious problem for me, that I'd imagine has a simple solution that I've just been managing to overlook. I'm pretty new to using NetlifyCMS, and am struggling to integrate Cloudinary in the way I intend to. The only behavior that I'm trying to introduce is to allow multiple selection for an image widget. At first it seems

[2020-04-17 17:47] Kotauror opened #3621 "Login to admin panel - endless loop"
**Describe the bug**
I've created a NetlifyCMS website for a GitHub organization. I've tried to log into the admin panel - was shown the login pop up window, after filling it in, I was shown the "Login with Netlify Identity" button. After clicking it nothing happened - no errors on the screen, none in the console, only a request in the network going on (looks like an endless loop).

Randomly, in s

[2020-04-17 17:54] Kotauror commented on #3621
Lol, I've fixed it by pushing an irrelevant update to the repository and then removing it.

[2020-04-17 18:19] tinfoil-knight commented on #3605
@erezrokah Can you point me to the relevant files?

[2020-04-17 18:20] agairing opened #3622 "Login with github as backend fails if base url contains additional path segment"
**Describe the bug**
If you use github as backend the following basic setup is required:
- run your own github auth server backend (see https://github.com/vencax/netlify-cms-github-oauth-provider) - https://mygithub-auth-backend.org as an example
-create oauth app in github and configure callback url pointing to your github auth server backend (https://mygithub-auth-backend.org/callback)
- set bas

[2020-04-17 20:23] lookea commented on #3603
this is breaking my site, without doing any changes on libraries just on rebuilding this issue was introduced

[2020-04-17 22:02] barthc commented on #3619
I couldn't make out from the multiple changelogs what has changed.

PR #3606 introduced/revealed this issue. Already have a PR that would fix it up.

[2020-04-18 00:35] magomimmo opened #3624 "Modularize config.yml"
**Is your feature request related to a problem? Please describe.**

I'm always  frustrating when, by defining even a relatively small number of collections, I ended up with a gigantic `config.yml` which is not manageable at all.

**Describe the solution you'd like**

I'd like to be able to break down `config.yml` in small pieces (i.e. yml files).

Those yml files could live in a `config` subdir of

[2020-04-18 02:00] austincondiff commented on #3624
What if we split files into collections like this?
[code]

[2020-04-18 07:33] kwyoung11 commented on #3578
This bug was introduced in https://github.com/netlify/netlify-cms/pull/2828. Is it possible to get that branch restored so that I can pull it down locally? I want to try a git bisect on it to narrow down what caused it.

[2020-04-18 09:16] magomimmo commented on #3624
It's ok. But we should allow even a more deeper tree. Than NetlifyCMS  should merge them all.
[code]
and so on.

[2020-04-18 15:38] austincondiff commented on #3624
@magomimmo I am not sure I see the value in separating things that way. In each collection file, you are able to specify the collection type anyways.

[2020-04-18 21:38] jarodpeachey commented on #3610
@erezrokah I'm running into the same issue, but I'm using the .app url. Here's my API config:

[code]

[2020-04-18 22:29] linfaweezy commented on #3624
@austincondiff IMHO any kind of classification is subjective. If we take any set of things, the way I would classified them will be probably different from you own way.  Directory/Subdirectory  structure is a way of classifying things. The more freedom you leave to classification the more ways people will find of classifying things. I was not saying that the folders have to be named after the kind

[2020-04-18 22:31] magomimmo commented on #3624
@austincondiff IMHO any kind of classification is subjective. If we take any set of things, the way I would classified them will be probably different from you own way. Directory/Subdirectory structure is a way of classifying things. The more freedom you leave to classification the more ways people will find of classifying things. I was not saying that the folders have to be named after the kind o

[2020-04-19 06:12] erezrokah commented on #3578
Hi @kwyoung11, thank you for looking into this. The restore branch option is no longer available. You could checkout the commit prior to that PR merge.

[2020-04-19 07:16] erezrokah commented on #3615
Thanks @Chathula for opening this.

[2020-04-19 07:19] erezrokah commented on #2335
Hi @neokree, the CMS ignores that flag when not running on localhost:
https://github.com/netlify/netlify-cms/blob/72b26f4435b428f79805920566678627e60fffaa/packages/netlify-cms-core/src/actions/config.js#L178

So it should not cause any issues.

[2020-04-19 07:37] erezrokah commented on #3618
Just to make sure I understand - the use case here is hiding a file collection that is only meant to be used in a relation widget? File collections are not read only as you can edit the content of the entries (you only can add new ones).

[2020-04-19 07:45] erezrokah commented on #3621
Thanks for posting the solution! Closing the issue, can you re-open if it happens again and share the requests/responses for those `settings` requests?

[2020-04-19 07:45] #3621 closed

[2020-04-19 07:49] erezrokah commented on #3605
Most of our `fetch` API calls end up here:
https://github.com/netlify/netlify-cms/blob/72b26f4435b428f79805920566678627e60fffaa/packages/netlify-cms-lib-util/src/unsentRequest.js#L52
But there are some flows that don't like the one in the issue coming from:
https://github.com/netlify/netlify-cms/blob/72b26f4435b428f79805920566678627e60fffaa/packages/netlify-cms-backend-git-gateway/src/implementati

[2020-04-19 08:10] erezrokah commented on #3622
Thanks @agairing, looks like origin contains the schema and port too:
https://developer.mozilla.org/en-US/docs/Web/API/Window/postMessage#The_dispatched_event
We would gladly accept a PR for it (probably we just need to parse `base_url` and reconstruct without the path).

[2020-04-19 08:11] erezrokah commented on #3603
Hi @lookea, any chance you can setup a reproduction repo? I saw this issue when using trying to extend an existing CMS widget. Can you share your use case?

[2020-04-19 08:18] magomimmo commented on #3618
Yes, my use case is that one.

[2020-04-19 08:20] erezrokah commented on #3610
Hi @jarodpeachey, how are you using the CMS? Regardless I would use the `https://trianglecomments.netlify.app/.netlify/identity` (notice `https` instead of `http`).

[2020-04-19 08:28] erezrokah commented on #3618
Thanks for clarifying, just in case someone would be interested in contributing, I think https://github.com/netlify/netlify-cms/blob/72b26f4435b428f79805920566678627e60fffaa/packages/netlify-cms-core/src/components/Collection/Sidebar.js#L108 is a good place to start.

[2020-04-19 08:33] erezrokah commented on #3624
Can we track this under https://github.com/netlify/netlify-cms/issues/1342?
Regardless one can use YAML aliases as shown here:
https://github.com/netlify/netlify-cms/blob/72b26f4435b428f79805920566678627e60fffaa/website/static/admin/config.yml#L38
Or switch to JavaScript which allows using multiple files, see example (for JS, not multiple files):
https://github.com/Axway/axway-open-docs/blob/ea826

[2020-04-19 08:45] erezrokah commented on #3620
Hi @gusbmurphy, this was fixed here https://github.com/netlify/netlify-cms/compare/netlify-cms-app@2.12.3...netlify-cms-app@2.12.4.
Looks like you're running `2.12.0` https://github.com/gusbmurphy/Personal-Site/blob/9a3112975667a4df40d9d946dd483b4e30dcbb25/package-lock.json#L12654.

I cloned your repo and confirmed that upgrading to the latest issue resolves this.
Can you try and re-open if the is

[2020-04-19 08:45] #3620 closed

[2020-04-19 08:46] #3564 closed

[2020-04-19 09:54] Chathula commented on #3615
@erezrokah we discussed this in the Netlify community as well.

https://community.netlify.com/t/delete-path-folder-when-delete-entry/12574/5

[2020-04-19 10:09] nejurgis commented on #1234
I would recommend netlify cms do this thing from time to time, Been working with the cms for two years now and sometimes it happesn and i forgot this fix, thanks @Baldrani for this!

[2020-04-19 11:58] tinfoil-knight commented on #3605
@erezrokah
Since this needs to be done in multiple places(around 14), do I just write up the `AbortController` function in one place and import it or should I use it separately in each file?

If yes, what should be the location of the file?

[2020-04-19 12:15] erezrokah commented on #3605
I think you can do it in the `unsentRequest` file under `netlify-cms-lib-util`

[2020-04-19 12:50] erezrokah commented on #1577
Closing as stale, the issue here is that the relation is defined with `collection: "element"` and should be `collection: "song_element"` or `collection: "reading_element"`

[2020-04-19 12:50] #1577 closed

[2020-04-19 12:58] erezrokah commented on #2115
Closing as this was fixed (tested with the attached config and had no issues)

[2020-04-19 12:58] #2115 closed

[2020-04-19 13:02] erezrokah commented on #1709
Closing as fixed (didn't reproduce with Firefox/Chrome). Please comment/re-open if issue persists

[2020-04-19 13:02] #1709 closed

[2020-04-19 13:07] erezrokah commented on #1520
Closing as stale, the config should be:
[code]

Or:
[code]

[2020-04-19 13:07] #1520 closed

[2020-04-19 14:46] #3619 closed

[2020-04-19 15:02] ECAL-Technologies-Centre commented on #2183
+1

[2020-04-19 17:25] lookea commented on #3603
Hi I have workaround this issue modifying my widgets they were importing
import { ObjectWidgetTopBar, lengths } from 'netlify-cms-ui-default';

I hope the issue get fixed in the next release of that library

[2020-04-19 19:20] agairing commented on #3622
Ok, and I can try to create a PR. What about sth. like
`this.base_url.indexOf(e.origin) !== 0`
?

[2020-04-19 19:27] dmoetech opened #3627 "TypeError: e.get is not a function"
**Describe the bug**
tried to open my pages files (file collection)

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.45`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) snap Chromium/81.0.4044.113 Chrome/81.0.4044.113 Safari/537.36`

**CMS configur

[2020-04-19 20:17] #3627 closed

[2020-04-20 06:29] erezrokah commented on #3622
How about `e.origin !== new URL(this.base_url).origin` ? It makes it clear what we're checking and is stricter.

[2020-04-20 08:24] tinfoil-knight commented on #3429
This issue is closed now. #3609
@erezrokah Please close this.

[2020-04-20 09:37] #3429 closed

[2020-04-20 09:52] veryfaraway opened #3637 "There is a Minified React error on preview panel"
Error: Minified React error #31; visit https://reactjs.org/docs/error-decoder.html?invariant=31&args[]=Sun%20Apr%2019%202020%2021%3A38%3A20%20GMT%2B0900%20(Korean%20Standard%20Time)&args[]= for the full message or use the non-minified dev environment for full errors and additional helpful warnings.

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versio

[2020-04-20 09:53] erezrokah commented on #3637
Thanks for sharing @veryfaraway, if you follow the link you can see that you need to convert the date object in your preview template to a string.
Can you share your repo/preview template code?

[2020-04-20 16:36] gusbmurphy commented on #3620
Hi Erez, I'm unfortunately still running into issues—you were able to insert multiple images after just upgrading the version? I'm not seeing any changes.

[2020-04-20 17:02] erezrokah commented on #3620
I would just try an online editor and play with it.

[2020-04-20 18:54] fmeyer1980 commented on #2001
Has anyone found a solution to this problem?

[2020-04-20 20:38] BA1RY commented on #3618
@magomimmo I would like to work on this issue. This is my first time on netlify-cms and it would be really helpful if anyone could guide me on how to resolve this issue. Thanks.

[2020-04-20 21:54] webjamco opened #3639 "Unable to select image for posts in Safari for iPad on 2.10.46"
As the title suggests, after the release of 2.10.46 I can’t choose the image after uploading it on iPad. Works fine on Chrome.

[2020-04-21 02:04] nholden opened #3640 "Datetime widget incorrectly parses dates without times"
I have a field that I would like to contain just a date (with no specific time). I saw that the [`date` widget](https://www.netlifycms.org/docs/widgets/date) is deprecated, so I reached for the [`datetime` widget](https://www.netlifycms.org/docs/widgets/datetime/). When I configure the `datetime` widget with sensible options for a date-only field, dates are stored properly in the saved markdown, b

[2020-04-21 05:46] pinutz23 commented on #1975
This should really be integrated in the core netlify cms. I had a lot of headaches with relations...

[2020-04-21 05:50] mattlacey commented on #2827
FWIW I just ended up here after getting "API_ERROR: Reference update failed" - same fix. I had a branch called "cms" that I'd created to do all the cms setup in my repo!

[2020-04-21 06:43] erezrokah commented on #3618
Hi @BA1RY, thank you for the initiative. This will require adding a `hidden` flag on the collection and filtering it in the UI here:
https://github.com/netlify/netlify-cms/blob/72b26f4435b428f79805920566678627e60fffaa/packages/netlify-cms-core/src/components/Collection/Sidebar.js#L136
You'll probably need to add the flag to our config schema here:
https://github.com/netlify/netlify-cms/blob/b151bd

[2020-04-21 08:12] erezrokah commented on #3639
Just to confirm, is the issue you're having is this:
![image](https://user-images.githubusercontent.com/26760571/79841970-db094a00-83c0-11ea-97fb-37380d25da53.png)

That is, the "choose select" is hidden by the images on the iPad?

[2020-04-21 08:23] erezrokah commented on #2001
Re-opening as it looks like the original issue still exists

[2020-04-21 09:08] lukeocodes commented on #2259
@erquhart I can confirm also able to reproduce this on production and in local dev.

[2020-04-21 09:36] PetroPavlenko opened #3641 "with gatsby-plugin-netlify-cms cannot use staticQuery inside preview"
Hi all I want to use staticQuery in component that is rendered in preview.
Is it possible ?

For admin that work in build. but doesn't work in development
Page works in both.

I tried to implement [this](https://github.com/gatsbyjs/gatsby/issues/7747) fix. But looks like reason is different And do something like [CSS-in-JS](https://github.com/netlify/netlify-cms/issues/793).
But don't know what to

[2020-04-21 09:43] erezrokah commented on #2001
Looks like this was never supported (I think the docs are a bit confusing about that) as the options used by `insertHandler` here:
https://github.com/netlify/netlify-cms/blob/b151bdfd7311472eaa1861e9fc17546a3658a083/packages/netlify-cms-media-library-cloudinary/src/index.js#L62 are only taken from the top level config.
We should probably update them per field configuration similar to `allowMultipl

[2020-04-21 10:42] veryfaraway commented on #3637
Thanks for a quick reply. I'm a newbie, so could you tell me how can I find and share the code?
Here is my post source that the error occurs.
https://github.com/veryfaraway/gatsby-yellowcake-blog3/blob/master/content/posts/2020-04-19-iron-man-2008-쿠키-영상.md

[2020-04-21 10:49] erezrokah commented on #3637
Not sure but maybe here https://github.com/veryfaraway/gatsby-yellowcake-blog3/blob/master/src/templates/SinglePost.js#L36

[2020-04-21 11:21] webjamco commented on #3639
That too. After 4 images the “Choose Select” gets hidden under the images, but even if it’s visible is not clickable.

[2020-04-21 11:26] BA1RY commented on #3618
@erezrokah  Thanks a lot. Will do.

[2020-04-21 12:15] magomimmo commented on #3618
Hi all, IMHO opinion we should start by defining more precisely the requirement of this feature. My feature requested emerged in the context of the evaluation of NetlifyCMS as the target of a database intensive web application. Any db model has relationships between tables and a few number of the relations targets are known as lookup tables. Some of these lookup tables are "closed" meaning that th

[2020-04-21 12:47] magomimmo commented on #3624
Hi @erezrokah, even if it coulb be a solution, I don't think it's the one I had in mind. Aside from configuring backend and few other thing, we mainly use `config.yml` to model collections. As I said in other [issue](https://github.com/netlify/netlify-cms/issues/3618#issuecomment-617142854), I'm evaluating NetlifyCMS for migrating a database intensive application. If it's true that we want to be t

[2020-04-21 12:55] erezrokah commented on #3624
I agree there is benefit to multiple yaml files support.
You could still modularize the definition of collections using JSON files (instead of yaml) and have a JavaScript file that imports them and initialises the CMS.

[2020-04-21 13:04] erezrokah commented on #800
Commenting on the original issue, the `collection` value here should be `settings` and not the file name which is `sections`

[2020-04-21 13:06] erezrokah commented on #3618
Completely agree on that.

I think targeting file collections works, just not a specific file https://github.com/netlify/netlify-cms/issues/800#issuecomment-487197188 but will have to test more to see it behaves in a way that makes sense.

[2020-04-21 13:10] magomimmo commented on #3618
I'll take a look an let you know.

[2020-04-21 13:22] jeremyfrank commented on #3067
Including an `excerpt` would be great too! The use case would be selecting a "featured" post from a relation field, and just needing to display a few pieces of data. The output could be:

[code]

[2020-04-21 14:14] magomimmo commented on #3618
Hum....I would prefer much more to target a specific file in a files collection, as the author of the comment himself said.

[2020-04-21 14:46] #3517 closed

[2020-04-21 14:47] erezrokah commented on #3618
I agree - it makes much more sense

[2020-04-21 15:17] BA1RY commented on #3618
@magomimmo @erezrokah so how shall I proceed?

[2020-04-21 15:38] erezrokah commented on #3618
I think hiding a collection has value and should be simple to implement regardless of the relation widget issue, so I would say just go for it and we can fix the relation widget in an unrelated PR.

[2020-04-21 16:24] magomimmo commented on #3618
sounds good! Go on, please.

[2020-04-21 17:19] BA1RY commented on #3618
@magomimmo @erezrokah Is the hidden property true or false by default? I'm updating it in the docs

[2020-04-21 17:24] magomimmo commented on #3618
@BA1RY I would say false, to conform to the hidden option for fields. @erezrokah ?

[2020-04-21 18:28] erezrokah commented on #3618
`false` by default like @magomimmo said

[2020-04-21 19:29] BA1RY commented on #3618
@magomimmo @erezrokah I've issued a PR. Please check it. Thank you.

[2020-04-21 20:01] chaitanyasaxena97 opened #3644 "Login with Netlify Identity Not Working"
Hii
When I'm logging as admin to access the CMS Page then Login with Netlify Identity button is not working there ex (URL)/admin then there is button come for Login with Netlify Identity this button is not working

Link :  https://let2learn.netlify.app/admin/#/