[2020-04-21 21:52] magomimmo commented on #3618
Great @BA1RY ! we're now in the @erezrokah hands. Have a good night!

[2020-04-22 02:43] #3644 closed

[2020-04-22 03:08] veryfaraway commented on #3637
@erezrokah
That code doesn't seem to be a problem. Published posts can be seen well without problems. (https://3buddies.netlify.app/posts/iron-man-2008-%EC%BF%A0%ED%82%A4-%EC%98%81%EC%83%81/)
![image](https://user-images.githubusercontent.com/21246078/79935691-80d7ba00-8490-11ea-9287-47d41672e9b6.png)

The error occurs in the preview panel when writing a new post in the admin UI.
![image](https://

[2020-04-22 08:20] erezrokah commented on #3637
By default the CMS will return a date object when working with the date widget.
You are passing the CMS data as is (meaning the date as an object) here:
https://github.com/veryfaraway/gatsby-yellowcake-blog3/blob/8ed0e7da178db35bfa577a759ea5de0233cb5251/src/cms/cms.js#L42
so new posts break.
For existing posts it looks like they were saved with the dates as strings. For example:
https://github.com

[2020-04-22 12:16] lbischof opened #3647 "Collection entry sorting preference gets deleted"
**Describe the bug**
The sort preference for a collection is lost when switching collections

**To Reproduce**
1. Delete localstorage key `netlify-cms.entries.sort`
1. Refresh page
2. Sort current collection
4. Check localstorage (`netlify-cms.entries.sort` is there)
3. Switch to other collection
4. Check localstorage (`netlify-cms.entries.sort` is gone)
5. Sort the current collection
6. Check loc

[2020-04-22 12:23] erezrokah commented on #3647
This also happens with the test repo

[2020-04-22 12:32] #3618 closed

[2020-04-22 13:02] FloLaco commented on #3610
I've the same issue right now :
![image](https://user-images.githubusercontent.com/1486562/79984638-c2289380-84a9-11ea-802b-9c8e3b9830b9.png)

Easy step to reproduce :
1. install a hugo (with academic) website with netlify in one click : https://app.netlify.com/start/deploy?repository=https://github.com/sourcethemes/academic-kickstart
2. activate Identity and Git Gateway in Netlify
3. go to GENERA

[2020-04-22 13:05] #3647 closed

[2020-04-22 14:31] tinfoil-knight commented on #3605
WIP #3649

[2020-04-22 14:31] BA1RY commented on #3617
@hanneskuettner can I work on this feature?

[2020-04-22 14:48] erezrokah commented on #3617
@BA1RY I realised you mentioned @hanneskuettner so I unassigned you until we get a response.
There is also https://github.com/netlify/netlify-cms/issues/3614 which is related.

[2020-04-22 14:52] hanneskuettner commented on #3617
@BA1RY sure thing. I haven't started yet.

Is the feature proposal clear enough or should we first define a bit more of the behavior and actual syntax / use cases before work is done in the wrong direction @erezrokah?
I feel like the scope isn't perfectly well defined. I don't have time right now to flush it out. I could give it a look tomorrow.

[2020-04-22 15:20] edsu commented on #3474
This is pretty strange behavior, but once you know it, and communicate it to everyone who needs to know it, it's not a problem.

[2020-04-22 16:11] erezrokah commented on #3610
Hi @FloLaco, can you try to access that URL directly and not via the CMS? Does that work?

[2020-04-22 16:13] FloLaco commented on #3610
@erezrokah Now it's working ... But when i post my comment, no, i wasn't able to get access to that URL (timeout)

[2020-04-22 16:41] #2386 closed

[2020-04-22 17:40] boygirl opened #3650 "List widget with variable types should allow hints or descriptions for each type"
I'm making extensive use of variable types in the list widget, and it has been extremely useful! One thing I would like to see would be the ability to add a hint or description for the whole type. My current work around is adding a dummy boolean widget and giving it a hint, but that feels kind of hacky.  The ideal solution would be to support a hint or description for the entire type that would sh

[2020-04-22 18:33] narthur commented on #1776
I would love support for MDX to be built in to the editor as well as the preview, since I'm considering using MDX on a project where non-technical folks need to feel comfortable editing pages.

[2020-04-23 02:28] #3637 closed

[2020-04-23 07:54] erezrokah commented on #1776
@narthur, best way to push this it to upvote the issue since we use it for prioritisation: https://github.com/netlify/netlify-cms/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc

[2020-04-23 08:14] erezrokah commented on #3067
Closing this as a duplicate of https://github.com/netlify/netlify-cms/issues/1063.
As for the `excerpt` and storing multiple fields - the approach with the relation widget is just to store the link between entries. That link could be used later during the build process to fetch any additional information.

[2020-04-23 08:14] #3067 closed

[2020-04-23 09:00] PetroPavlenko commented on #2
hi guys, I love netlify cms! Any news about this feature?
I'm thinking about contribution and adding new boolean value to integrate [role-based-access-control](https://docs.netlify.com/visitor-access/role-based-access-control/#external-providers) with git-gateway
and potentially integrate it with other backend(eg: custom)

[2020-04-23 10:35] erezrokah commented on #2
Hi @PetroPavlenko, we would love a contribution! Thank you for suggesting 😄
I'm not sure how `git-gateway` handles roles (I think it either allows or disallows access according to the docs: https://docs.netlify.com/visitor-access/git-gateway/#setup-and-settings).
I do know someone on the Slack workspace posted they managed to use branch protection to simulate roles and I think that might work with

[2020-04-23 20:20] s8gv commented on #1348
Hi @vai0 and @delucis, I have the same use-case. I need to get the published/last updated date-time. I fyou have any workaround can you please let me know Thanks.

[2020-04-23 21:36] equivalentideas commented on #1984
For my team of authors, there are issues recognising PDFs in the media library. Without a preview to aid recognition, they rely on the file naming, which is often inconsistent, unpredictable, and often out of their control.

For us, a preview image of the first page would make PDF's much more recognisable, by giving some more information about the contents of the file. This is a familiar pattern f

[2020-04-24 00:02] KesleyDavid commented on #1472
ficaria muito melhor mesmo para gerenciarmos as postagens

[2020-04-24 08:22] equivalentideas commented on #54
Congrats on this implementation @erezrokah @erquhart it works really well :bouquet: :)

My team have a long lists of post and want to have the latest post first, because it's not always easy to remember the name of a post you're looking for to find it and edit it. Latest-post-first is how we present posts on the frontend, and it's not obvious to them why it would be different on the back-end.

Is

[2020-04-24 09:26] yoavniran commented on #3603
thanks @lookea. unfortunately, i don have an reference to the netlify-cms-ui-default lib but still have this problem...

[2020-04-24 09:43] lewnelson opened #3651 "Error: Minified React error #31; visit https://reactjs.org/docs/error-decoder.html?invariant=31&a..."
**Describe the bug**

Error on Netlify CMS when scrolling through large collection. Page completely breaks.

In our case 144 articles, each article with around 200 - 300 lines of content.

**To Reproduce**

Load Netlify CMS collection of articles with more than ~144 articles, with each article containing >200 lines of content.

**Expected behavior**

* To load the CMS articles correctly

**Screens

[2020-04-24 11:54] Undistraction opened #3652 "Collections Sidebar Icon reduces in size if label wraps"
**Describe the bug**
<img width="47" alt="Screenshot 2020-04-24 at 12 46 52" src="https://user-images.githubusercontent.com/161489/80209572-3d18b800-862a-11ea-8d37-ac8bb5568468.png">

**To Reproduce**
Add a collection with a name that wraps to a second line.

**Expected behavior**
Icon width should be fixed.

**Screenshots**
See above

**Fix**
Set icon wrapper's `flex-shrink: 0` **PR on the way.**

[2020-04-24 14:21] Undistraction opened #3654 "Media Library empty when image or file widget has no existing media item selected"
**Describe the bug**

When adding a media item to an image or file widget that  **does not already have a media item assigned when the collection item was loaded**, the media library displays the message:

…and the media library modal contains no media at all.

- It is possible to upload a new media item and save the item, then when pulling those changes and reopening the media library for that wi

[2020-04-24 14:29] MohamedBechir commented on #3617
@erezrokah can i work on it ?

[2020-04-24 14:29] MohamedBechir commented on #3614
@erezrokah is it possible to work on it?

[2020-04-24 14:31] MohamedBechir commented on #3640
@erezrokah  can i work on it ?

[2020-04-24 15:20] agairing commented on #3622
Fine for me.
I just did the local setup and executed the tests before changing anything. 34 tests are failing on windows.
Example:
` Expected: ObjectContaining {"path": "static/media/abc_def_eaco_.png"}
    Received: {"field": undefined, "fileObj": {}, "path": "static\\media\\abc_def_eaco_.png", "url": "displayURL"}`

How should this be handled? At first glance, it seems that the test is not cross

[2020-04-24 16:21] erezrokah opened #3655 "Test: Unit tests are failing on Windows machines"
See comment here https://github.com/netlify/netlify-cms/issues/3622#issuecomment-619076339.
This is also an issue with our CI not failing as we do run the tests on Mac,Linux and Windows:
https://github.com/netlify/netlify-cms/runs/609296943?check_suite_focus=true#step:6:1496

Might be relevant https://github.community/t5/GitHub-Actions/Multiline-commands-on-Windows-do-not-fail-if-individual-comman

[2020-04-24 16:23] erezrokah commented on #3622
@agairing, thanks for letting us know. I opened an new issue for that https://github.com/netlify/netlify-cms/issues/3655 and I'm surprised our CI doesn't fail it since it we run the tests on Widows too: https://github.com/netlify/netlify-cms/runs/609296943?check_suite_focus=true#step:6:1496.
I think you could just test the fix locally and submit it and I'll take care of the tests.

[2020-04-24 16:26] nholden commented on #3640
I started digging into this a little bit. I think if we want the `<DateTime>` component to automatically use UTC for date-only formats, we'd need some way to identify when `format` doesn't contain any time elements. I'm not sure the best way to do that, given that there are so many ways to define formats with [moment.js tokens](https://momentjs.com/docs/#/displaying/format/).

I'm curious what sor

[2020-04-24 16:31] #3652 closed

[2020-04-24 16:43] erezrokah commented on #3640
This will require some digging into, comparing the implementation of the two widgets and making sure we don't break existing behaviour.
With that said @MohamedBechir thank you for suggesting. I've assigned you to the issue, please share your thoughts/findings here as @nholden had a good suggestion.
I think this boils down to "what should we do when the persisted value doesn't contain timezone info

[2020-04-24 16:48] erezrokah commented on #3651
Hi @lewnelson do you mind copy pasting the full link to the error? following usually provides helpful information on the cause of the error.

[2020-04-24 17:02] erezrokah commented on #54
@equivalentideas Thanks 😄
The reason for not to have a default sort was that sorting requires reading all entries (since it's done client side) which can take some time with large collections, and once a user sorts a collection, that preference is persisted so it's a one time thing.

With that said, since this is not the first time I've heard of that request it's looks like it would make sense to

[2020-04-24 17:10] erezrokah commented on #1984
Re-opening - this https://github.com/mozilla/pdf.js/ might serve as a solution as long as it doesn't add to much to our bundle size.

[2020-04-24 17:24] erezrokah commented on #3617
@hanneskuettner I think that the quoted part can be a first iteration. That is a fixed `filterableFields` config with a field name and condition to filter by (and possibly a display label for the filter). As for the second part it will require some thought like you said as it would be ideal to automatically infer the filters content. How does that sounds?

@BA1RY Are you good with just doing the f

[2020-04-24 17:28] erezrokah commented on #3614
Thanks @MohamedBechir, I've already assigned you to https://github.com/netlify/netlify-cms/issues/3640. Let's keep this one open for grabs 😄

[2020-04-24 19:02] BA1RY commented on #3617
@erezrokah Yeah, I can do that. Also, how would you want me to proceed in implementing that feature?

[2020-04-24 20:36] nholden commented on #3640
In the context of the `datetime` widget UI, I think what we may be concerned with is "what should we do when the persisted value doesn't contain time."

From my understanding, the `<DateTime>` component used in the `datetime` widget UI will only use your local timezone or UTC (when we pass in the `utc: true` option). It will translate times persisted in other timezones to your local timezone or UT

[2020-04-24 23:22] kwyoung11 opened #3656 "Disable Editorial Workflow for Specific Collections"
**Is your feature request related to a problem? Please describe.**

For simple collections like Tags that usually contain just a single string field, it can be cumbersome and time-consuming to have go through the editorial workflow to publish a single tag.

**Describe the solution you'd like**

Allow the user to switch off the editorial workflow for specific collections. For e.g. the collection-le

[2020-04-25 04:04] aaronfranke commented on #1382
Any update? #1302 was closed, but it seemed mostly good to go.

To answer the question from @erquhart:

The POSIX definition of a text file includes that it should end with a newline character. The question is whether or not the file in question is treated as a text file. If it is, then it should have the trailing newline character. If it does not, then by POSIX definition we can only say it is a

[2020-04-25 19:55] truongoi commented on #441
While waiting for official mobile support, I’ve came out with my temporary CSS solution to include to your `admin/index.html` below your closing `</body>` tag

[admin.css](https://truongnguyen.io/admin/admin.css)

Screenshots are [here](https://truongnguyen.io/blog/netlify-cms-mobile-responsive-css)

Hope it helps temporarily!
Peace ✌🏼

[2020-04-25 20:29] andycmaj opened #3657 "custom widget preview doesn't refresh when `onChange` is called from widget"
**Describe the bug**

I have a custom widget (based on select widget/react select). I also have a custom preview that makes an apollo query based on the widget value.

When i change the value using the widget, the preview does not re-render.

I'd expect the widget to be re-rendered because it consumes the `value` state from the redux store.

**To Reproduce**

custom widget code:

[code]

cms.js
[c

[2020-04-25 22:28] barthc commented on #3657
[code]
Correct me if I am wrong, I don't see where the `value` is used in the query.

[2020-04-25 23:16] nebrelbug opened #3658 "Admin Login Screen Errors"
**Describe the bug**
I created a new Hugo repository with [Academic's one-click install](https://sourcethemes.com/academic/docs/install). I followed the instructions on the page to set up Netlify CMS, enabled Git Gateway, invited myself as a user, etc.

When I clicked on the invitation email, it correctly brought me to the site and prompted me for a password. I entered it, it said I was logged in,

[2020-04-26 08:50] erezrokah commented on #3617
@BA1RY I think you can use the current sort functionality as a reference. I would start first with the UI since it helps figuring out which information needs to be specified in the configuration.

[2020-04-26 08:54] erezrokah commented on #3656
Thanks @kwyoung11, closing as a duplicate of https://github.com/netlify/netlify-cms/issues/1571. You can up vote that feature request.

[2020-04-26 08:54] #3656 closed

[2020-04-26 08:56] erezrokah commented on #441
Very cool @truongoi  thanks for sharing!

[2020-04-26 14:01] yoavniran commented on #3603
I've made a little progress in diagnosing the problem -
What I noticed is that create-react-context is being overriden by Gatsby's cache.
So its not the actual dependency (from node_modules/create-react-context) but a ES version that only exposes React's createContext method.

.cache/create-react-context.js

[code]

This explains why the require from react-aria-menubutton is breaking.

I dont know

[2020-04-26 14:53] erezrokah commented on #1702
Adding a full example:
`cms.js`:
[code]

`config.yml`:
[code]

[2020-04-26 15:28] BA1RY commented on #3617
@erezrokah Understood. Also, shall I create a new component called DropdownCheckedItem in 'netlify-cms-ui-default' to accomodate checkbox in the dropdown?

[2020-04-26 15:37] erezrokah commented on #3617
Sound good @BA1RY

[2020-04-26 15:45] BA1RY commented on #3617
@erezrokah I have a doubt. How do I add heading for the filter dropdown similar to sort?
The sort heading contains code like
[](url)
![image](https://user-images.githubusercontent.com/10570968/80312449-ec0fec00-8802-11ea-9c73-334aaa631d21.png)
I'm not able to understand this part.

[2020-04-26 16:07] erezrokah commented on #3617
That's actually great - this is the point we should think on how the config would look like.
For sort, we infer the default sortable fields here https://github.com/netlify/netlify-cms/blob/a9d0699a82a25d79dd99af4f1ed9643ce7bba220/packages/netlify-cms-core/src/reducers/collections.ts#L376 and use the fields labels for display. This can be overridable in the config.
Since there is already a filter c

[2020-04-26 16:21] hanneskuettner commented on #3617
I think adding it to the filter property is confusing and not actually what we want.
The filter property is used for filtering the whole collection and only displaying those entries and not for defining user defined, visual filters.

Reusing this property and modifying it is potentially a breaking change since there are projects which might use this for only showing a certain subset of entries of

[2020-04-26 16:33] erezrokah commented on #3617
Oh I get it, you're right - filter property should remain hidden.

Good suggestion.

[2020-04-26 17:13] BA1RY commented on #3617
@erezrokah Any changes regarding implementaiton of filter function?

[2020-04-26 17:19] hanneskuettner commented on #3617
Also I would add that we could allow multiple filter conditions to for example allow combinations of `in` and `lt`.

Maybe also a regex `pattern` condition.

[2020-04-26 17:33] elbotho commented on #3244
Just because it took me way to long to figure this out:
While a bit tedious you can add multiple images to a file/entity by using a list-widget.
Maybe it helps someone 😄

[2020-04-26 21:42] equivalentideas commented on #1984
Thanks @erezrokah :bread:

[2020-04-26 23:20] lifeofbrian commented on #2829
It seems sensible to add a native uuid widget to Netlify CMS to help here.

[2020-04-27 02:26] Ir1d commented on #1472
Hi, I think the doc could be updated right?
![image](https://user-images.githubusercontent.com/10709657/80328303-86a71400-8871-11ea-9771-4dd9fcf820a1.png)
https://www.netlifycms.org/docs/gatsby/#get-to-know-gatsby

[2020-04-27 06:28] tinfoil-knight commented on #3605
@erezrokah I tested the fetch abort for creating new posts. It's working. But I think I should add tests. Where do I add tests for checking this ?

[2020-04-27 07:12] erezrokah commented on #1472
Good catch @Ir1d! removing that part will also require updating the `config.yml` yaml to support the starter directory structure. Do you mind opening an issue for that?

[2020-04-27 07:25] erezrokah commented on #3605
@tinfoil-knight I commented on the PR, thanks

[2020-04-27 08:01] Ir1d opened #3666 "[doc] gatsby/#get-to-know-gatsby needs update"
On https://www.netlifycms.org/docs/gatsby/#get-to-know-gatsby
It said
![image](https://user-images.githubusercontent.com/10709657/80348321-32ffef00-88a0-11ea-8758-84ca8bd4904a.png)
However #1472 is fixed already.

@erezrokah mentioned that

[2020-04-27 10:08] menttys opened #3667 "sortableFields not sorting MONTH and YEAR"
**Describe the bug**
Sorting the fields by date using `sortableFields` it is only filtering the
`weekday` and `month day` ignoring the rest of the `TIMESTAMP`.

`ddd, dd MMM yyyy HH:mm:ss K`

**To Reproduce**
Create multiple `*.md` with a `date field` with the timestamp type as mentioned above
and setting `sortableFields: ['date']`

**Expected behavior**
Expect ordering the field accordingly with

[2020-04-27 10:59] erezrokah commented on #3667
Hi @menttys, thank you for reporting this. I tried creating a new entry with your config file and the date is saved in the following format: `date: 2020-04-27T10:47:55.773Z`.
Are the existing files were created by the CMS?
I think if you store the the date value in a yaml [timestamp format](https://yaml.org/type/timestamp.html) the sort should work as expected.
Another option is for the CMS to sup

[2020-04-27 13:44] menttys commented on #3667
Hi Erez, indeed these files are imported and converted from an `old cms`  I presumed it would parse from a valid `timestamp` format. I will convert and test.

thanks a lot!

[2020-04-27 18:39] Undistraction opened #3670 "Validation Error When Using Only Relative Media Directories"
**Describe the bug**
The beta docs [here](https://www.netlifycms.org/docs/beta-features/#folder-collections-media-and-public-folder) outline how collection-specific `media_folder` keys can allow you to use relative paths. This effectively removes the need for a global `media_folder` key. However it appears this is still being validated as a required key.

I think there might be some kind of confli

[2020-04-27 20:07] Undistraction commented on #2259
Same here. Every single time. I've also noticed that if I click OK, the media library will be empty if I load it from any fields.

[2020-04-27 20:15] Undistraction commented on #3654
Thinking about this further, the only difference I can see between a new item and an existing item is that the new item does not exist as a file, and so doesn't have a path yet, whereas an existing item represents an exisiting file and therefore does have a path. This would point to the fact that maybe the media library itself is not the problem, but that the root of the path for a new file is bei

[2020-04-27 21:16] andycmaj commented on #3657
oh my you're right. 🤦‍♂️

i am going to try not being dumb and fixing that...
thanks so much for responding to this even though i'm dumb :)

i'll close for now

[2020-04-27 21:16] #3657 closed

[2020-04-27 23:34] teamcrisis commented on #3651
For me, I'm able to easily reproduce this issue using one of the example Gatsby themes listed in the docs.

```Objects are not valid as a React child (found: Mon Apr 27 2020 19:21:45 GMT-0400 (Eastern Daylight Time)).```

[2020-04-28 07:06] erezrokah commented on #3670
Hi @Undistraction, the global `media_folder` is required for collections that don't have `media_folder` specified and also since you can use templates to refer to refer to the global one, e.g. under a collection you can specify `media_folder: {{media_folder}}/posts_images` (this is not document yet though).

[2020-04-28 07:09] erezrokah commented on #3654
Hi @Undistraction this is the intended behaviour with new entries for collections that have relative `media_folder` configured, since we can't resolve the media folder path without saving the entry first. Once the entry is saved we can resolve the media folder path.

[2020-04-28 07:11] Undistraction commented on #3670
@erezrokah Thanks for the explanation. That's a nice feature (being able to organise images within a central media directory).

I know that relative media directories are only a beta feature but would be great to add something to the docs highlighting that a global for is still required in the config even of you aren't using it.

[2020-04-28 07:18] Undistraction commented on #3654
@erezrokah this definitely feels like a bug as it makes it impossible to choose an image that already exists in a media directory from a new entry. So every time you create a new entry you would need to upload all the images you need for that entry. In cases where you need an image that already exists, this is problematic. We've had to roll back to using absolute paths as this effectively breaks o

[2020-04-28 07:32] erezrokah commented on #2259
Re-opening, there is a PR for it https://github.com/netlify/netlify-cms/pull/3645, but it still needs some work.

[2020-04-28 07:34] erezrokah commented on #3651
Hi @teamcrisis can you share which example is that? This is usually an issue with the preview template passing a date object as a react child without converting it to a string first.

[2020-04-28 07:34] Undistraction commented on #3654
@erezrokah Sorry. I think you edited your message in the time it took me to reply:

Would this mean that the CMS writes absolute or relative paths to the entries?

[2020-04-28 07:39] erezrokah commented on #3670
Good point @Undistraction, we've recently added the media folder templating and field based media folders. It is not even documented yet since we want to gradually gain confident with the current approach and get more use cases.
Closing this issue, as will open a new one to improve the docs.

[2020-04-28 07:39] #3670 closed

[2020-04-28 07:43] erezrokah commented on #3654
`media_folder` specifies where to save the entry in the repo and `public_folder` specifies how the media file path will show up in the frontmatter. You should still be able to use an absolute path for `media_folder` and a relative one for `public_folder`.
Per our discussion in https://github.com/netlify/netlify-cms/issues/3670 we should probably better document all these scenarios.

[2020-04-28 07:52] erezrokah opened #3671 "docs: improve media_folder and public_folder docs"
When https://www.netlifycms.org/docs/beta-features/#folder-collections-media-and-public-folder was introduced the main intended use case was to allow saving media files in the same folder as the entry under the constraint different entries don't share media files.
Since then we've added support for specifying per collection and per field `media_folder` and `public_folder`. We also allow `media_fol

[2020-04-28 07:54] erezrokah commented on #3670
Opened https://github.com/netlify/netlify-cms/issues/3671, please share your thoughts there and let me know if I missed something.

[2020-04-28 08:20] Undistraction commented on #3654
@erezrokah Sorry. I think I'm doing a terrible job of explaining my use-case. Let me have another try.

# Existing setup

- We have a single centralised/global `media_folder` used by all our collections / entries. This contains a large number of images and other files that we reuse when creating new entries. So our global config includes:
[code]
- Our `public_path` is `/uploads/`
- When a CMS user

[2020-04-28 09:10] erezrokah commented on #3654
Thanks for the explanation I think I get it now. I think the ideal setup is possible and actually you don't need to use that feature at all.
I've set up a branch with an example config here:
https://github.com/erezrokah/netlify-cms-reproductions/blob/netlify_cms/issue_3654/public/config.yml#L14
[code]
See the resulting file here:
https://raw.githubusercontent.com/erezrokah/netlify-cms-reproduction

[2020-04-28 09:17] teamcrisis commented on #3651
@erezrokah I'm testing with https://github.com/thriveweb/yellowcake/

[2020-04-28 09:28] erezrokah commented on #3658
Hi @nebrelbug is this still an issue? I've seen other cases recently where it takes some time for `git-gateway` to start working after initial deploy

[2020-04-28 10:18] erezrokah commented on #3651
Hi @teamcrisis closing this as the issue is with that project - I opened a PR for them to fix it https://github.com/thriveweb/yellowcake/pull/46

[2020-04-28 10:18] #3651 closed

[2020-04-28 10:54] Undistraction commented on #3671
@erezrokah Yep. This captures it. I think the best way to document this would be with examples as it is hard to model.

[2020-04-28 12:21] Undistraction commented on #3654
@erezrokah Thanks for putting this together. This does work for me in development, but when I do a production build (with Gatsby), I get an empty media library.

[2020-04-28 12:25] Undistraction commented on #3654
@erezrokah Update: Is does work, but if I refresh the page the media library is empty, which seems to be an unrelated bug.

[2020-04-28 12:26] erezrokah commented on #3654
Hi @Undistraction, I'm not sure I understand the new issue - can you provide a reproduction scenario?

[2020-04-28 12:49] Undistraction commented on #3654
@erezrokah

- Open New entry
- Open media library from image field => **all media present**
- Refresh the page
- Choose no from the dialogue offering to restore file
- Open media library from image field => **media library is now empty**
- Close entry
- Open New entry
- Open media library from image field => **all media present**

[2020-04-28 13:11] erezrokah commented on #3654
A new issue would be great @Undistraction thanks. Can we close this one?

[2020-04-28 13:14] Undistraction commented on #3654
@erezrokah Of course. Thanks again for your help. Much much appreciated.

[2020-04-28 13:14] #3654 closed

[2020-04-28 15:46] lewnelson commented on #3651
For anyone else picking up similar issues in our case we had to change the config for the date field from:
[code]
to:
[code]

This is something that was working and only recently broke - within the last week. Presumably it's meant to work as we had it before?

[2020-04-28 16:00] erezrokah commented on #3651
I think the main thing is to keep the format of the date consistent between entries - using a format would serialise the date as a string and read it as a string, thus safe to use as a react node.
If you don't have a format it is serialized to an object and read as an object thus requiring a conversion.

[2020-04-29 12:26] #3667 closed

[2020-04-29 12:39] hanneskuettner opened #3673 "Deprecate inconsistent configuration parameters case"
**Is your feature request related to a problem? Please describe.**

Right now there are two case styles used for a lot of exposed configuration parameters.
`camelCase` and the apparently preferred `snake_case`. It sometimes makes it tedious to remember the correct casing for a parameter.

Internally the `camelCase` is used a lot as is typical for JS.

We should provide a backward compatible deprec

[2020-04-30 06:56] erezrokah opened #3676 "Docs(hugo): update docs to so preview sites will use relative links"
Context: https://community.netlify.com/t/hugo-instructions-need-updating/12851

It seems using `Permalink` as specified here https://www.netlifycms.org/docs/hugo/#using-netlify-cms-content-in-hugo will cause site previews links to be absolute instead of relative.

We need to verify the issue and the fix suggested here https://community.netlify.com/t/hugo-instructions-need-updating/12851/14?u=erez

[2020-04-30 07:47] webdevFM commented on #3533
Hello @erezrokah, did you manage to reproduce the issue? Are any additional logs/information required?

[2020-04-30 08:16] hanneskuettner opened #3677 "Support filters for template strings"
**Is your feature request related to a problem? Please describe.**

I am looking for a way to apply custom transformations on fields in template string `{{ someField | filter }}` in various location in the CMS.

This would allow many cool things for usability and customizability.

Right now it is impossible to format a custom date field in for example the `summary` field.
Or transform text to uppe

[2020-04-30 08:31] erezrokah commented on #3533
Thanks you for bumping, got caught up with other stuff and missed this one.
I was able to upload a 3.6MB image:
![image](https://user-images.githubusercontent.com/26760571/80689201-a3dc1c80-8ad5-11ea-919e-ef3e0b664a9e.png)
![image](https://user-images.githubusercontent.com/26760571/80689253-b8201980-8ad5-11ea-8cb0-efd6a9fc829f.png)

Things to try - a different browser, clearing cache, upgrading th

[2020-04-30 08:47] hanneskuettner commented on #445
I stumbled across this issue myself.
Now that the config, entry data and collection is available to all control widgets (#3672) I was able to implement a custom slug control widget that allows the following:

[code]

- Have a `slug` value field with a custom `slug` widget (that's basically a string widget) that can be used for the entry slug with `fields.slug`
- The value in `slug` is automaticall

[2020-04-30 12:27] #3655 closed

[2020-04-30 13:03] #1063 closed

[2020-04-30 13:03] #2800 closed

[2020-04-30 13:03] yoavniran commented on #3603
opened bug at Gatsby repo: https://github.com/gatsbyjs/gatsby/issues/23645

[2020-04-30 13:43] Undistraction opened #3679 "Datetime Widget Displays current Datetime when field is empty"
**Describe the bug**
I just tried to switch us over from the Date widget to the Datetime widget, however, it appears the Datetime widget will always display the current date/time, even if the field has no value.

This makes it look like the field has a value when it does not and is very confusing for users.

**To Reproduce**

1. Create a field with a widget type of 'datetime'.
2. Set a default val

[2020-04-30 13:56] Undistraction opened #3680 "Apply Invalid Styles To Parent(s) of Invalid Field"
Currently if a nested field contains an invalid value when an entry is published, and its parent (or parents) are toggled closed, there is nothing to indicate where the invalid field is. This makes it look as if the publish has simply failed without reason and the only way to diagnose the source of the failure is to toggle open all fields until the invalid field is discovered.

How about marking a

[2020-04-30 14:40] erezrokah commented on #3679
Hi @Undistraction, can you share a config file? I'm using:
[code]
And getting:
![image](https://user-images.githubusercontent.com/26760571/80723757-b2dcc200-8b09-11ea-8bbc-86a5234319bd.png)

[2020-04-30 14:46] #2260 closed

[2020-05-01 00:08] Lane opened #3682 "Widgets don't always render when using registerEditorComponent"
**Describe the bug**

I have created some custom editor components for modifying content that is rendered in Hugo short codes.  I am able to add the custom editor components using the markdown editor, however when I go back to edit the page only some of the editor components are rendered.

**To Reproduce**

1. In index.html for the CMS, register a couple custom editor components. ([Here is a gist

[2020-05-01 09:22] hsn10 commented on #502
Yes, I would like to have ability to publish into IPFS as well. Build process should support updating _dnslink as well. There is no need for netlify to run IPFS gateway.

[2020-05-01 10:30] svengau commented on #1703
if generating the token doesn't solve the issue, check  your “Third-party application access policy” in the settings of your organization, and remove any restriction. The url is https://github.com/organizations/<your-organization>/settings/oauth_application_policy.

[2020-05-01 14:25] tinfoil-knight commented on #3605
@erezrokah Help needed.
The pre-defined tests are receiving an empty signal. I don't know how to fix the tests.
[code]

[2020-05-01 14:26] tinfoil-knight commented on #3605
@erezrokah Help needed.
The pre-defined tests are receiving an empty signal. I don't know how to fix the tests.
[code]

[2020-05-01 18:09] austincondiff opened #3683 "Collection Capabilities / Tying a collection to a data source"
## What is a collection capability

Collection capabilities are like presets in that the collection would be configured a certain way without having to specify everything implicitly in your `config.yml`.

For example (warning: pseudo code), this….
[code]
would be the same thing as this…
[code]

## Beyond simplified collection config

Of course these capabilities could be much more complex in that

[2020-05-01 19:05] austincondiff opened #3684 "Tying a collection to a data source or API"
Tying the collection to an external data source via an API would allow for automated entry creation and decrease work required to maintain sites connecting to external API's.

For example…
[code]

The authors collection would then mirror the users you have given access to access your CMS. Any additional information associated with that user can be stored in the CMS without having to store sensitiv

[2020-05-01 20:08] erquhart commented on #3683
I'm still having a hard time seeing this doing more than shortening configuration for specific use cases. That's certainly worth doing, but I've generally expected the configuration UI to be the place where we provide those abstractions. This allows the "just works" experience we want coupled with only doing things one way under the hood (everything in the control panel is a widget). Not trying to

[2020-05-01 20:12] erquhart commented on #3684
The ability to work with diverse data sources would be great! I think starting with an example implementation muddies the water of your high level proposal - maybe more of a user story approach would open things up on the implementation side and help define the actual desired outcome.

[2020-05-01 20:49] austincondiff commented on #3683
Think of it like configuration templates. This provides additional ways to help simplify and avoid duplication of code in your config file.

There would be two types of collection capabilities.
1. Provided capabilities - capabilities Netlify CMS ships with.
2. Developer defined capabilities - capabilities defined for use by the developer in their config file.

This allows a developer to define a c

[2020-05-02 09:30] tinfoil-knight commented on #3639
@erezrokah We can either replace the text with icons or create a new row below the search for the buttons. Can I claim the issue?

[2020-05-02 09:44] emmadigital opened #3685 "How to Create Blog Categories?"
How should I create blog categories in Netlify CMS? Is the below code in config.yml file is the right way to create categories? How should I deal with Site URLs, do I need to define that in config.yml file:
Category
    - Category 1
    - Category 2
    - Category 3

 - name: "uncategorized"
    label: "Uncategorized"
    folder: "src/pages/blog/uncategorized"
    create: true
    slug: "{{year}}-

[2020-05-02 10:38] buxzee commented on #3685
I want to create below categories for my blog posts, how should I achieve this please advise.

Uncategorized
Productivity
Security
Personal

[2020-05-02 13:38] emmadigital opened #3686 "Netlify CMS Content Manager Admin access denied"
I am unable to access my Netlify CMS Content Manager. Yesterday after creating a new accoutn I was able to enter blogs but today I changed my Netlify random site name and this problem started. Reset password didn't help also as it says no user found. Netlify CMS is not connected with Netlify If I change site name, it should not automatically recognise the new site name. Please advise I am totally

[2020-05-02 15:59] BA1RY commented on #3617
@erezrokah I was busy the last few days as I has work from college. So I wasn't able to do much. Will work on it from today.
I'm facing another problem. After I start the development server using `yarn start` command, my system freezes everything I make a change and the hot reloading happens. It consumes about 2-5 minutes on average. Is there workaround to reduce this reloading time?

[2020-05-02 18:51] austincondiff commented on #3617
@erezrokah how will this all be reconciled in the `v3-ui-redesign` branch as we are using new components?

[2020-05-02 23:33] nholden commented on #3640
👋Hi, @MohamedBechir! Have you started digging into this one yet? I'm happy to try opening a PR sometime this week if you don't have the chance.

[2020-05-03 14:54] Buzut opened #3688 "Override slug in frontmatter"
By default, the slug is generated based on the title and can be configured to [a custom string](https://www.netlifycms.org/docs/configuration-options#slug) or to refer to [another element than title](https://www.netlifycms.org/docs/configuration-options#identifier_field).

What would be really convenient is a way to set up a custom slug via frontmatter, but to default to the title generated one if

[2020-05-03 15:37] muhammedashfar7 opened #3689 "TypeError: Cannot read property 'split' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.47`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.129 Safari/537.36`

**CMS configuration**
[code]

[2020-05-03 16:50] emmadigital commented on #3686
I have resloved the second issue of Github Repo, kindly help me resolve the first issue of accessing Netlify CMS Content Manager.

[2020-05-03 17:28] barthc commented on #3686
@emmadigital  Assuming are you using `git-gatway` backend and `netlify-identity` to authenticate, you would also need to change the site url stored in your browser's `localStorarge`.

[2020-05-03 21:01] shloksomani opened #3690 "TypeError: Cannot read property 'get' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.11`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.129 Safari/537.36`

**CMS configuration**
[code]

**Additional context**

[2020-05-04 02:30] emmadigital commented on #3686
I used Get Start button available on Netlify CMS home page and then
selected theme it asks me to authorize github and then it generated repo on
github and hosted site on Netlify..  everything was automated so I don't
know how it authenticate my access. I am not using git-gateway, can I
access with my email ID and password that would be better.

On Sun, May 3, 2020, 20:28 Bartholomew <notifications

[2020-05-04 02:41] emmadigital commented on #3685
Error loading the CMS configuration
Config Errors:
YAMLSyntaxError: Document is not valid YAML (bad indentation?) at line 68, column 1:

- name: "categories"
^^^^^^^^^^^^^^^^^^^^…
Check your config.yml file.

[2020-05-04 02:42] emmadigital commented on #3685
Please advise what I am doing wrong? how should I create categories for my blog.

[code]

[2020-05-04 06:26] samtalki commented on #3658
Same exact issues here. Haven't been able to solve it.

[2020-05-04 07:11] webdevFM commented on #3533
Thank you for response. I've tried different browsers (Firefox, Safari), clearing cache, upgrading the CMS (by fetching newest version from unpkg.com/netlify-cms/dist/netlify-cms.js) but none of that worked.

However, when I've configured the CMS config to use github backend directly instead of git gateway as you suggested, I've managed to upload large files via CMS.
[code]

Is there any size limi

[2020-05-04 07:20] barthc commented on #3685
@emmadigital  you file indentations are off. You can use this online tool to validate your file http://www.yamllint.com/.  Update your config file like so:
[code]

[2020-05-04 07:32] barthc commented on #3686
What UI or console error are you seeing, If your site and repo are public can you share them, please.

Also trying login into your site on your browser incognito mode so we can exclude the `localStorarge` site url issue.

[2020-05-04 08:06] erezrokah commented on #3690
Hi @shloksomani, can you share more information on the issue you're having? Specifically can you share a reproduction scenario?

[2020-05-04 08:07] erezrokah commented on #3689
Hi @muhammedashfar7, can you share more information on the issue you're having? Specifically can you share a reproduction scenario?

[2020-05-04 08:35] erezrokah commented on #3686
Hi @emmadigital, do you mind following the issue template? It makes it a lot easier to understand and solve the issue. As @barthc mentioned possibly share a repo with the issue.

[2020-05-04 09:08] erezrokah commented on #3639
Thanks a lot @tinfoil-knight, I assigned you to the issue 😄

[2020-05-04 09:09] erezrokah commented on #3617
Good point @austincondiff, I think I'll create an issue with the features diff then we can open sub issues based on that.

[2020-05-04 09:10] PedroOndh opened #3696 "Collections on same folder not appearing on first load"
**Describe the bug**
I am working with a page done with Jekyll and hosted on Bitbucket.
I have some different collections on the same folder that I get through a filter, being “blog, event, etc.” on the same _posts/ folder

Lately posts obtained by filtering don’t appear on first load on the admin panel, excepting the case of “blog” posts that constitute most of the files on this folder. If I clic

[2020-05-04 09:11] erezrokah commented on #3640
Hi @nholden, I've assigned you to that issue, thanks! @MohamedBechir we have plenty of other possible contributions to be made, so let me know if you have something in mind.

[2020-05-04 09:14] erezrokah commented on #3533
Hi @webdevFM, I used `git-gateway`. The advantage of `git-gateway` is that CMS users don't need to have a GitHub account (you can invite them via Identity).
At least we narrowed it down to a git-gateway related issue - how about disabling/enabling it?
Is it a specific file or any big enough file?

[2020-05-04 09:20] erezrokah commented on #3696
Thanks @PedroOndh!

[2020-05-04 09:32] erezrokah commented on #3684
That would be great. We would need to think about the API - ideally this would be done via backends, then being able to specify backend per collection, but I think we would need to simplify the current backends to make adding new ones more accessible.

[2020-05-04 10:00] barthc commented on #3685
List of posts in Category Url: www.sitedomain.com/category/category-name
Single Blog Post Url: www.sitedomain.com/post-name

Not sure I understand the OP of the issue. The cms cannot control the url structure of the site. If the we talking about implementing a tag feature, then the relation widget or a simple list widget.

[2020-05-04 10:05] muhammedashfar7 commented on #3689
Hi @erezrokah , I have solved the issue. Thank You

[2020-05-04 10:06] emmadigital commented on #3685
I checked my config.yml file on http://www.yamllint.com/ I get this error:https://prnt.sc/sals5v whats wrong with my code: Please advise

[code]

[2020-05-04 10:35] erezrokah commented on #3689
Thanks @muhammedashfar7, I'm closing this. Please share the solution if possible

[2020-05-04 10:35] #3689 closed

[2020-05-04 11:18] emmadigital commented on #3686
I am using incongnito mode here is my repo https://github.com/emmadigital/ardalis-newsite Url: https://ardalis.netlify.app/

I got an email to reset my password and I reset my password and I think it logged me in but got some Configuration Error message, which I don't know how to solve it. I would really appreciate If you can assist me.

[2020-05-04 11:37] barthc commented on #3686
When I go here  https://ardalis.netlify.app/admin/#/ I see the below error
[code]
`config.yml` Indentation issue, fixed the indentation for you below

[code]

[2020-05-04 11:42] tinfoil-knight commented on #3639
@erezrokah I was trying to work on the package but the repo is not starting. I tried `yarn develop` and `yarn start` and both scripts pause at the following log:

[code]

These issues usually pop up after dependency changes.

[2020-05-04 11:54] erezrokah commented on #3639
Can pull latest the latest master and run `yarn install` again? I also get this warning but able to use `yarn start`.

[2020-05-04 12:16] emmadigital opened #3698 "How to define Page Path for Single Blog Post"
I can see path field inside pages For example in About page we have below line of code to define path:/about so the Url becomes:  domain.com/about
templateKey: 'about-page'
path: /about
title: About our values
----------------------------------------------------------------------------------------------------------

But when I check blog page I don't find path field there, and currently the Url is

[2020-05-04 12:21] erezrokah commented on #3698
Hi @emmadigital, can you please follow the issue template? This seems more of a Gatsby related question, but it is hard to confirm. If you are using the Gatsby starter this might be a good place to start https://github.com/netlify-templates/gatsby-starter-netlify-cms/blob/d06c3844eb46daafd46fb348422afa8e5317e06e/gatsby-node.js#L34

[2020-05-04 12:33] barthc commented on #3686
@emmadigital  can we now close this issue?

[2020-05-04 12:35] hanneskuettner commented on #3688
Just to clarify. Isn't this a duplicate of #445?

[2020-05-04 12:56] muhammedashfar7 commented on #3689
When adding widget: "relation" in Netlify config.yml, don't forget to add valueField: "[your_value]"

[2020-05-04 13:15] emmadigital commented on #3698
@erezrokah Thank you for your response.

How should I change the path here?

[code]
Normally gatsby-node.js file have below line of code
[code]
But here I couldn't figure it out if change anything I get error. Can you please guide what to change here.

[2020-05-04 13:39] emmadigital commented on #3686
@barthc yes you can close but If you can help me resolve this config.yml file issue I would really appreciate. I am stuck and cann't use the content manager.

[2020-05-04 13:44] barthc commented on #3686
I already formatted the content of your config in my previous reply here https://github.com/netlify/netlify-cms/issues/3686#issuecomment-623412544, please update your config file with the above content to fix the issue. I can gladly send in a PR if you prefer.

[2020-05-04 14:42] #3686 closed

[2020-05-04 14:43] guillett commented on #3640
I have been investigating another datetime related issue but I thought it was worth sharing it with you.

De-serialization is delegated to https://www.npmjs.com/package/yaml. It generates a Date in memory.

I [tried to update the in-memory value in the widget](https://github.com/netlify/netlify-cms/blob/master/packages/netlify-cms-widget-datetime/src/DateTimeControl.js#L57-L60) but it set the entr

[2020-05-04 14:43] erezrokah commented on #3686
Closing, @emmadigital please submit a new issue if needed. Thanks for your help @barthc

[2020-05-04 14:54] emmadigital commented on #3686
@barthc I updated config.yml with the above code https://github.com/emmadigital/ardalis-newsite/blob/master/static/admin/config.yml still same getting same error

[2020-05-04 14:54] barthc commented on #3698
@emmadigital  add a `path` attribute to the frontmatter of your blog files. For example:
[code]
And then modify this [line](https://github.com/netlify-templates/gatsby-starter-netlify-cms/blob/master/gatsby-node.js#L80) to this
[code]
After both changes, rebuild the site and the blog url should be shortened.

[2020-05-04 15:14] emmadigital commented on #3698
Thanks a lot! @barthc  the above method fixed my issue.

[2020-05-04 15:22] typhoon2099 opened #3699 "Jekyll sites don't produce usable branch URLs in editorial workflow"
**Describe the bug**
Using Jekyll to build a site using the editorial workflow creates branch subdomains that are not valid and lead to nowhere. This is a problem for Slack notifications as the branch URL is posted, meaning that non-technical users of NetlifyCMS cannot see previews for new content.

**To Reproduce**
1. Create a Jekyll blog
2. NetlifyCMS to it
3. Enable branch-based deploys
4. Enab

[2020-05-04 15:34] emmadigital opened #3700 "CMS Configuration Error"
I recieve below error when I try to access Netlify CMS Content Manager

Error loading the CMS configuration
Config Errors:
YAMLSyntaxError: Document is not valid YAML (bad indentation?) at line 68, column 1:

- name: "categories"
^^^^^^^^^^^^^^^^^^^^…
Check your config.yml file.

I also used this builder https://netlify-config-builder.marcossi.com/ to fix config.yml file and updated my repro https

[2020-05-04 15:50] erezrokah commented on #3700
Hi @emmadigital, can you make sure your site finished building and published the latest version of your master branch?
Looks like https://ardalis.netlify.app/admin/#/ still loads the old version

[2020-05-04 16:20] barthc commented on #3698
Yes, you would have to manually add the path field via the CMS. This approach gives the flexibility to adjust the slug as you see fit instead of relying on filename for the slug. But if you want to automatically use the filename as slugs, You can again switch this [line](https://github.com/netlify-templates/gatsby-starter-netlify-cms/blob/master/gatsby-node.js#L80) to this:

[code]
No need to add

[2020-05-04 19:01] emmadigital commented on #3698
I don't want the dates on urls just the post title. To manually add the path field via the CMS do I have to add below line under Blog collection inside config.yml ?

     - label: Path
        name: path
        widget: hidden

If the path is diferent then the file name will it work? Or should I remove dates from the slug field to avoid any confusion.

[2020-05-04 19:04] emmadigital commented on #3700
Sorry, I just updated the Github repo but haven't published the site from Netlify I thought it will update Netlify CMS automatically when I update the repo but I think I need to publish before I can see any updates.

Thanks for resolving my issue.

[2020-05-04 21:20] emmadigital commented on #3685
I have created categories in Content Manager But its not getting deployed. Below is the build log:

12:13:16 AM: Waiting for other deploys from your team to complete
12:13:37 AM: Build ready to start
12:13:39 AM: build-image version: 2dbd444fcdce00cf06325060a8238d5ae3e86774
12:13:39 AM: build-image tag: v3.3.7
12:13:39 AM: buildbot version: d305548225ac57bb00eb5a596b0b8674e76a4681
12:13:39 AM: Fet

[2020-05-04 21:38] j00bar opened #3701 "Cannot complete image selection workflow"
When trying to choose an image to add to a markdown field, after selecting the image from the Images dialog, even though "Choose selected" appears to be active, it does not hint with the cursor that it is clickable and clicking it does nothing. The "Delete selected" button does work as advertised, but not the "Choose selected".

**To Reproduce**
1. Edit a document with a markdown field.
2. In the

[2020-05-04 23:17] emmadigital commented on #3698
I am getting build error everytime I create a blog post in CMS https://prnt.sc/saz1bp

[2020-05-04 23:26] barthc commented on #3698
The `templateKey` value `category` you are using [here](https://github.com/emmadigital/ardalis-newsite/blob/master/static/admin/config.yml#L492) does not exist, Why not use the default `blog-post`  https://github.com/emmadigital/ardalis-newsite/blob/master/static/admin/config.yml#L23

[2020-05-05 00:06] emmadigital commented on #3698
I update the templateKey to default blog-post. Its working now.

How should I make it work to list posts of specific category https://ardalis.netlify.app/category/personal

[2020-05-05 00:24] barthc commented on #3698
`templateKey` hidden field is missing for that collection here https://github.com/emmadigital/ardalis-newsite/blob/master/static/admin/config.yml#L411-L425

https://ardalis.netlify.app/category/personal

It's more of a gatsby question, as it will require written some `graphql` not sure, I suggest you ask in their forum.

[2020-05-05 01:41] emmadigital commented on #3698
How should I manage category inside CMS. It defines Category as a separate collection and  Other categories [personal, productivity, security etc..] as a separate collection. First I have to structure my categories in CMS then I can work on gatsby part. It should be structured as:
-Category
   -Personal
   -Productivity
   -Security
   -etc

[2020-05-05 03:07] idrisadetunmbi commented on #2335
Hi, I may be wrong, but this does not seem to work with the `editorial_workflow`

[2020-05-05 05:44] #3700 closed

[2020-05-05 05:50] erezrokah commented on #3701
Hi @j00bar, thanks for opening this. Let's track this under https://github.com/netlify/netlify-cms/issues/3639 as they seem related to narrower screens.

[2020-05-05 05:50] #3701 closed

[2020-05-05 05:50] erezrokah commented on #3639
Related https://github.com/netlify/netlify-cms/issues/3701

[2020-05-05 05:54] erezrokah commented on #2335
@idrisadetunmbi, you're correct, by default the local mode works directly on the file system so it has not way of tracking unpublished entries branches, status, etc.
You can set it up to use a local git client using `MODE=git npx netlify-cms-proxy-server` which will give you editorial workflow support, but requires that you have not pending changes in your repo.

[2020-05-05 07:01] guillett opened #3702 "Date and datetime persisted values may not conform to specified format"
Hi folks many thanks for your great work.

**Describe the bug**

Date and datetime can be improperly persisted.

**To Reproduce**
- Add the following section to a config file
[code]
- Create a new entry with title and dates (pick 2020-05-06 for dates)
- Persist entry
- Check persisted data, it is OK (values in the file are `2020-05-06`)
- Refresh admin site
- Update title **only**
- Save
- Check p

[2020-05-05 07:43] guillett commented on #3702
I think this is actually a pretty complex issue.

I did not find an widget with the required logic to mimic it nor an abstraction to build on top of it. The hack I found is too outside of the packages to be easily integrated as a long term solution.

Related to
- https://github.com/netlify/netlify-cms/issues/725

[2020-05-05 09:32] agrawalaayushi commented on #1678
Hey, any update on this issue?

[2020-05-05 10:22] skafendre opened #3704 "Add Git-LFS support to the GitLab backend"
### Git-LFS
As of now, only the git-gateway and bitbucket backends support Git-LFS.
Expanding the Git-LFS support to the gitlab backend would benefit gitlab users.

The implementation would be similar to the git LFS implementation in the bitbucket backend:
https://github.com/netlify/netlify-cms/pull/3118

[2020-05-05 10:56] barthc commented on #3698
If your category is defined as a separate collection, then used the `relation` widget to pull values from the category collection. And also use the multiple flag `multiple: true`

[2020-05-05 11:06] emmadigital opened #3705 "Custom Widget for twitter feed"
I want to embed twitter feed in Netlify CMS blog post. I am using this gatsby plugin https://www.gatsbyjs.org/packages/gatsby-plugin-twitter/?=twitter and its working when I test locally on one of the markdown file. Now I want to register a netlify cms custom widget so that I can embed twitter feed from the content manager.

I went through the documentation https://www.netlifycms.org/docs/custom-w

[2020-05-05 11:14] smashercosmo commented on #3705
Hey @emmadigital that's not an appropriate place to ask such kind of questions. Github issues are supposed to be used for bug reports and feature requests, not for usage questions. Usage questions bloat issues list and distract maintainers. I would advise you to use https://stackoverflow.com/. This site was created specifically for that kind of questions.

[2020-05-05 11:21] emmadigital commented on #3705
@smashercosmo Stackoverflow is not Netlify CMS community. I want assistance from Netlify CMS team directly as I don't see any community forum or support forum on their website So I had post my queries here If I find difficulty in their documentation. Its Netlify CMS responsiblity to provide a support for its product. Not the stackoverflow. I don't find dedicated team of Netlify CMS in stackoverflo

[2020-05-05 11:28] erezrokah commented on #3705
Hi @emmadigital, posting the same question in multiple places doesn't encourage community members to respond.
As I mentioned here https://netlifycms.slack.com/archives/CPRR0PQ9E/p1588663126379000?thread_ts=1588662926.378900&cid=CPRR0PQ9E you can try using a custom editor component:
https://www.netlifycms.org/docs/custom-widgets/#registereditorcomponent
For custom widgets you can also use https://g

[2020-05-05 11:28] #3705 closed

[2020-05-05 11:30] erezrokah commented on #3690
Closing, please comment if issue persists

[2020-05-05 11:30] #3690 closed

[2020-05-05 11:46] erezrokah commented on #3698
This issue seems to have diverged into https://github.com/netlify-templates/gatsby-starter-netlify-cms/issues/565.
Closing in favour of that issue.

[2020-05-05 11:46] #3698 closed

[2020-05-05 13:12] codenitpicker opened #3706 "{{media_folder}} {{public_folder}} incorrect behaviour?"
**Describe the bug**
I am using the new [Collections Media and Public Folder](https://www.netlifycms.org/docs/beta-features/#folder-collections-media-and-public-folder) to create posts with the following path structure:
[code]

I know that this will default the media_folder and public_folder to an empty string
[code]
This allows for images to be stored with posts in the same folder.
[code]
However

[2020-05-05 13:18] erezrokah commented on #3706
Hi @codenitpicker, this is not a bug. Collection based `media_folder` is evaluated in a relative way to the entry location. To retain the original behaviour you could remove `media_folder` and `public_folder` all together from the collection level, or prefix `media_folder` with a `/` (e.g. `/{{media_folder}}`. Just to clarify, you can use `path` without setting `media_folder`

[2020-05-05 13:18] #3706 closed

[2020-05-05 13:24] codenitpicker commented on #3706
@erezrokah Thanks so much! 😀

[2020-05-05 13:38] matthiasprieth opened #3707 "no content & no images displayed/saveable"
Sorry that I don't have a full bug report in this ticket. I just wanted to ask a general question, before I do a full report.

I tried to use netlify-cms locally today & wanted to test the "CMS" part of it without a GIT connection.
I followed this tutorial: https://www.netlifycms.org/docs/nextjs/

I skipped the "Creating a new project" part & did the "Adding Netlify CMS" part of the tutorial as a

[2020-05-05 13:40] erezrokah commented on #3707
Hi @matthiasprieth, see https://www.netlifycms.org/docs/test-backend/. I think https://www.netlifycms.org/docs/beta-features/#working-with-a-local-git-repository is what you're looking for.

[2020-05-05 16:13] matthiasprieth commented on #3707
Hi @erezrokah thanks so much for the quick reply & for pointing me to the right direction. Now it works! 👍

Based on the nextjs tutorials/docs I didn't understand at all that this is a necessary step to make things work locally. Also I didn't find it at all. I understand that this is a beta feature, but would be cool to include this in the tutorials/Backend Test docs. As someone who tries this for

[2020-05-05 16:20] #3676 closed

[2020-05-05 16:28] erezrokah commented on #3707
Thanks for the feedback @matthiasprieth, we would gladly accept a PR for it 😄. Closing the issue. Please comment/re-open if still relevant.

[2020-05-05 16:28] #3707 closed

[2020-05-05 18:19] gxwheel152 commented on #2845
Agree - would love to see additional support for tables in Netlify CMS. I’m not accomplished enough (yet) to contribute, but definitely want to “vote” for this one

[2020-05-05 20:36] cjustinobi commented on #2063
@mhagmajer could you give example how this would look like in the yaml file?

[2020-05-06 07:41] tinfoil-knight commented on #3639
@erezrokah Since all the `MediaLibraryActions` are in the same file, I think it would be best if we just place all of them in a line below the search bar. What do you think?

[2020-05-06 07:51] mlasson opened #3709 "Relation widget convert int to string"
**Describe the bug**

It seems that a recent update of the relation widget lost the ability to preserve the type of the relation.

In my case, I am using a relation to an integer and for some reason double quotes are added around the value (which turn into a string on the front-end side; I'm using jekyll, and in liquid when you compare 2 to "2" you get false, which breaks my site).

**To Reproduce

[2020-05-06 07:58] mncandsons commented on #3345
hi @erezrokah. having similar problem, tried few versions of netlify cms, but getting very long page load. other pages work fine, but this some kind of portfolio with large images. any ideas why it could happen and how to fix this?

<img width="1438" alt="Content Manager 2020-05-06 10-52-29" src="https://user-images.githubusercontent.com/60245787/81150182-28bcaf80-8f88-11ea-9d0b-888b16299155.png">

[2020-05-06 08:21] andreamussap opened #3710 "Help users to remember to change status of the page otherwise pull request won't be created"
Hi guys,

**Is your feature request related to a problem? Please describe.**

- As a user
- After making changes and **Save** a page using Netlify CMS
- I want to be informed, reminded that I have to click **Set Status** and select **In Review**, otherwise my pull request won't be created.

![netlifyCMS_UI_changeToInReview](https://user-images.githubusercontent.com/10401080/81151730-2dc63280-8f79-

[2020-05-06 08:42] erezrokah commented on #2063
Closing this via https://github.com/netlify/netlify-cms/pull/3659, as the relation widget now supports string templates and using the slug for the relation.

[2020-05-06 08:42] #2063 closed

[2020-05-06 08:45] erezrokah commented on #3639
How about we auto shrink the search bar? Maybe that would be easier to implement?

[2020-05-06 08:45] menttys commented on #2845
That is the most wanted feature our Market team has been asking for our blog, We deploy quite a large amount of guides and information about finances, and `tables` are essential.

[2020-05-06 08:54] erezrokah commented on #3345
Hi @mncandsons, do you mind opening a new issue with reproductions steps - it will make it easier to understand the flow that generates this warning. Please share a `config.yml` and the repo (if possible). Thanks

[2020-05-06 09:00] erezrokah commented on #3710
Thanks @andreamussap, just a small clarification - this is only related to open authoring. When not using open authoring a PR is created on first save.

Another possible solution will be to add a `preSave` and `postSave` events similar to https://www.netlifycms.org/docs/beta-features/#registering-to-cms-events, then one could use those to display an alert to the user.

[2020-05-06 09:20] barthc commented on #1357
Entries are now cached.

[2020-05-06 09:20] #1357 closed

[2020-05-06 09:20] #2600 closed

[2020-05-06 10:14] Undistraction commented on #3679
@erezrokah Sorry. Had to roll-back to using the date widget. I'll find some time in the next week and put together a repro.

[2020-05-06 10:32] erezrokah commented on #3709
Thanks @mlasson, this is probably since we added string template support for the widget.

[2020-05-06 11:30] zabatonni commented on #1697
This is not solved for me.

Hugo page bundle (branch) has structure like this:
/parent/_index.md
/parent/sub1.md
/parent/sub2/_index.md
/parent/sub2/inside.md

Each file produces url based on folder and filename. But most important is, that these pages have hierarchy usable in code. So I can output list of all child pages that belong to parent page.

I tried using beta feature slug and path with c

[2020-05-06 11:50] barthc commented on #1697
@zabatonni  can you show your config file.

[2020-05-06 11:52] zabatonni commented on #1697
I have no working config file to show:

`collections:
- name: pages_en
  label: Pages EN
  folder: content/en
  create: true
  path: '{{PARENT_DIR???}}/{{PARENT_DIR2???}}/{{slug}}'`

[2020-05-06 11:59] zabatonni commented on #1697
@barthc please take a look at https://gohugo.io/content-management/page-bundles/

there are 2 types of bundles and netlifycms only supports {{slug}}/index.md or {{slug}}/_index.md

I think only solution is to show folders and be able to manage (create/rename/delete) files and folders. Forestry does this using regex pattern when defining sidebar "collections" like this: **/*

[2020-05-06 12:15] zabatonni commented on #1697
@barthc But there are hundreds of folders made dynamically by client (it was WP before, after migrating to Hugo all parent and child connections are done using folders), no way one could maintain it in config.

[2020-05-06 12:18] barthc commented on #1697
Another workaround is to pull the folder name from the entry. Maybe a dropdown, and then do something like
[code]
@erezrokah  does the path config support the `fields.` placeholder?

[2020-05-06 12:23] zabatonni commented on #1697
ok, and if i want to move pages, or rename folders? Folder would be created only on post creation, but if there is a typo and post title is changed, how this change will reflect folder structure?

[2020-05-06 12:23] erezrokah commented on #1697
Hi @zabatonni, that workflow should be covered in https://github.com/netlify/netlify-cms/issues/3227

[2020-05-06 18:28] NikitaVr commented on #3046
The plugin `gatsby-remark-source-name` helped me https://www.gatsbyjs.org/packages/gatsby-remark-source-name/

It adds the name of the source so you can query it in Graphql

[2020-05-06 20:26] Buzut commented on #3688
@hanneskuettner you're right. I had missed it, thank you for pointing it out!

[2020-05-06 20:26] #3688 closed

[2020-05-06 20:34] cyonder commented on #531
No fix on this since 2017? )=

[2020-05-06 20:36] DhimanSarkar commented on #2092
### Any one has any detailed documentation on **_registerEditorComponent_**??

[2020-05-07 03:42] jeremyzilar opened #3711 "Issues using Git after installing Netlify Large Media"
We are trying to migrate the **Brooklyn Rail** to Netlify + NetlifyCMS and one of the early snags we are running into is with setting up Netlify Large Media + Git-LFS to manage the media in the repo.

The issue is that after installing all of the required elements, we are no longer able to commit back to GitHub 😬

**Specifically,**
- not able to push or pull using GitHub in the terminal when the r

[2020-05-07 06:46] erezrokah commented on #531
Hi @cyonder, we try to get to the most up voted features first. You can see the sorted list here https://github.com/netlify/netlify-cms/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc.
Regardless, we would love a contribution for this.

[2020-05-07 07:00] equivalentideas commented on #3640
Thanks for all the work on this, we're experiencing this bug and it's setting some important dates off unexpectedly for authors.

Do you have a workaround that's working for you @nholden ?

[2020-05-07 07:45] erezrokah commented on #3711
Thanks for reporting @jeremyzilar, I'll try setting this up and see if I have the same issues.
To use Large Media with the CMS you do need to configure it with `git-gateway` and Identity since the CMS uses the Identity access token to access the Large Media service.
The Identity widget is needed to facilitate authentication with Identity. Is [this](https://www.netlifycms.org/docs/git-gateway-backe

[2020-05-07 08:04] erezrokah commented on #3387
Closing as duplicate of https://github.com/netlify/netlify-cms/issues/1999.
See my comment https://github.com/netlify/netlify-cms/issues/1999#issuecomment-602527178

[2020-05-07 08:04] #3387 closed

[2020-05-07 08:13] magomimmo opened #3712 "id widget"
**Is your feature request related to a problem? Please describe.**

Whenever you model a collection you need an identifier field for its entries. Most of the time the collection does not have a natural identifier field (i.e. a primary key in RDBMS parlance). For this reason the community developed a range of custom widgets to fill this hole in the NetlifyCMS standard widget library, that does not

[2020-05-07 08:16] erezrokah commented on #3685
Closing this as this is a more Gatsby related issue. I recommend asking in one of their support channels

[2020-05-07 08:16] #3685 closed

[2020-05-07 08:23] erezrokah commented on #3712
Thanks @magomimmo, will this be covered by implementing https://github.com/netlify/netlify-cms/issues/1975 along with using the `hidden` widget https://www.netlifycms.org/docs/widgets/#hidden?

[2020-05-07 08:38] magomimmo commented on #3712
I'm using @d4rekanguok 's `ncw-id` and `ncw-file-relation` widgets. IMHO these two widgets, with few improvements, have to be part of the standard set of NetlifyCMS widgets

[2020-05-07 09:00] webdevFM commented on #3533
Hello, I've tried disabling and enabling git-gateway but it did not help. It's not specific file but any file over ~900kB causes upload to fail.

[2020-05-07 09:05] erezrokah commented on #2445
closing as stale

[2020-05-07 09:05] #2445 closed

[2020-05-07 09:14] erezrokah commented on #3712
With the recent addition of being able to use string templates with the relation widget, I think the only missing feature is to target a specific file (correct me if I'm wrong).
Having two relation widgets might be confusing...
Regardless, there is a separate issue for that https://github.com/netlify/netlify-cms/issues/800

As for the Id widget, the main use case for it is with the relation widget

[2020-05-07 09:17] vrabe commented on #3702
It's because the value is a Date object when the frontmatter is loaded. The initial value of date / datetime widget is not formatted. If you check the preview after you refresh admin site, you'll find the date is like `Thu May 07 2020 09:15:33 GMT+0000 (Coordinated Universal Time)`.

[2020-05-07 09:35] magomimmo opened #3713 "Add summary option to list widget"
**Is your feature request related to a problem? Please describe.**

When defining a file collection you generally target a file to be populated of elements (i.e. `allow_add: true`) or to read from (i.e. `allow_add: false`). Say you define the following `people` file collection inside a `editables` files collection:

[code]

You then add few persons and your `people.json` file get populated somethi

[2020-05-07 09:40] d4rekanguok commented on #3713
I have a PR up that's relevant to this #3616!

[2020-05-07 09:46] magomimmo commented on #3713
@d4rekanguok you are always a step ahead!  Is the PR going to be approved and merged soon?

[2020-05-07 10:14] d4rekanguok commented on #3713
The direction is already approved, but there's a bit of work left! The PR actually only adds summary to the 'typed' list and not the regular one, when I have some time next week I'll continue to work on it

[2020-05-07 12:01] beeFlaherty commented on #3712
This would make sense yes.

[2020-05-07 12:08] magomimmo opened #3714 "Pagination View"
**Is your feature request related to a problem? Please describe.**

When your folder/file collections have a large number of entries, even in thousands as in my use case, you would like to have a pagination view, like explained in [this community tutorial (https://www.digitalocean.com/community/tutorials/how-to-build-custom-pagination-with-react)
hosted on [Digital Ocean](https://www.digitalocean.

[2020-05-07 12:37] magomimmo commented on #3712
Agree, but we should be able to unified the corresponding configuration options

It makes sense

Yes, it makes a lot of sense.

[2020-05-07 12:45] fbnlsr opened #3715 "sortableFields should have default sorting options"
**Is your feature request related to a problem? Please describe.**

Whenever I log into Netlify CMS, I have to always do the same operation so that the entries of a folder collection is displayed the way I'd like.

**Describe the solution you'd like**

I'd like if we could have an option in the `sortableFields` config so that we could specify a default order and display type. So for instance we co

[2020-05-07 12:51] erezrokah commented on #3715
Thanks @fbnlsr, the sorting order and key should be persisted per collection, so you should only need to do it once (if that is not the case, can you please update to latest version and test again?).

The reason we didn't enabled a default sort is that it would require fetching all entries on initial load which can take some time (in large collections one might even reach the APIs limits).

Allowi

[2020-05-07 13:01] fbnlsr commented on #3715
You're right, order and key are persisted. Grid view is not.

If we could still be able to enforce it via `config.yml` that'd be great still. :slightly_smiling_face:

[2020-05-07 13:13] erezrokah commented on #3715
Just to make it clear - if a user manually sorts, that would override the config sort right?

[2020-05-07 14:02] erezrokah commented on #3711
Linking https://community.netlify.com/t/common-issue-troubleshooting-your-netlify-large-media-configuration/188 for more information

[2020-05-07 14:08] fbnlsr commented on #3715
I feel it makes sense yes. The config could be used as a starting point or as an order suggestion, but it shouldn't come at the experience of the user's experience.

That is unless we could "freeze" it and make it impossible for the user to sort it again once it's been set in the config. We could imagine another optional key in the config that would make it so the sorting would be impossible. In t

[2020-05-07 17:02] raniesantos commented on #3640
Hi, is this the right issue to follow if I'm trying to shorten the dates the CMS outputs to just year, month and date? (`date: 2018-08-31`)

[2020-05-07 17:22] jeremyzilar opened #3718 "Confusion around setting up Git Gateway + Identity for use in NetlifyCMS"
_related https://github.com/netlify/netlify-cms/issues/3711_

---

I am in the process of installing **NetlifyCMS + Netlify Large Media** and wanted to log a bit of confusion I am encountering in the docs around the `git-gateway` setup.

## My path
1. I started on the NetlifyCMS page for setting up [Netlify Large Media](https://www.netlifycms.org/docs/netlify-large-media/)
1. On the second require

[2020-05-07 17:23] jeremyzilar commented on #3711
Thanks @erezrokah, I am going through the git-gateway setup now, and will take notes on the steps to set it up. I will also start a new issue around any bits of confusion with Git-Gateway and Identity _(since that is a separate topic)_ https://github.com/netlify/netlify-cms/issues/3718

[2020-05-07 17:54] jeremyzilar commented on #3711
From this [troubleshooting guide](https://community.netlify.com/t/common-issue-troubleshooting-your-netlify-large-media-configuration/188), I ran `netlify lm:info` and got
[code]

### What I did
1. I double-checked that I had Netlify CLI installed, and I [ran the global install found here](https://docs.netlify.com/cli/get-started/#installation) `npm install netlify-cli -g`
1. Updated netlify-cli i

[2020-05-07 18:07] austincondiff opened #3719 "API Overhaul: Rename 'widget' to 'field type'"
As part of the API overhaul effort per #1041  and #1409, I propose we move away from the somewhat ambiguous term “widget” in reference to field types within the editor. The term widget can be synonymous with sections within a dashboard and as we plan on introducing a dashboard view into our UI, it may be a bit confusing, especially for first-time users.

We currently call them fields within the co

[2020-05-07 18:16] jeremyzilar commented on #3711
Now onto getting the Git Gateway setup and working...

[2020-05-07 18:32] guillett commented on #3640
@raniesantos I would recommend you #3702. I put a hack to get the output you want.

[2020-05-07 19:06] amygroshek commented on #3682
Also seeing this.

Applicable Versions:

Netlify CMS version:
netlify-cms-app 2.12.12
netlify-cms-core 2.26.0
netlify-cms 2.10.48
Git provider: GitHub
OS: OSX Mojave
Browser version: Chrome 81, Firefox 76

[2020-05-07 20:13] jozsi opened #3720 "Render EditorComponent on main site"
Hello,

I've registered a couple of editor components for the markdown widget that work fine in the preview pane of the Netlify CMS admin panel. However, I was hoping to see the same result on the actual site as well, supposing that either `gatsby-plugin-netlify` or `gatsby-plugin-netlify-cms` would handle that for me, but I realized it's out of their scope.

So the only way I - as a beginner to G

[2020-05-07 20:39] jeremyzilar commented on #3719
Yes 💯 it took a bit to let our editors know that the widgets in the docs were equal to the fields settings in the `config.yml`. Making the naming more consistent between the config settings and the docs and the APIs would be super great.

Related: https://github.com/netlify/netlify-cms/issues/3624

[2020-05-07 22:46] nholden commented on #3640
Thanks for sharing, @guillett! As I've dug into the `datetime` widget and the underlying `<DateTime>` picker component, I've been reminded that time is really complicated. 😅

I think it was a good call to open up the separate https://github.com/netlify/netlify-cms/issues/3702 issue for what you described. If you have any specific questions as you dig in, feel free to @ me, and I'd be happy to take

[2020-05-08 08:45] furcan opened #3722 "Markdown Widget editor components => "code-block" => removing new lines."
Hi,
Firstly thanks for this great CMS.

**Describe the bug**
1- When we create a post using the "code-block" editor component in the Markdown Widget; it is removing every new line in the "code-block" component when we have been save the file (MD file).

2- Also, when we have been creating or update a post using the "code-block" component on CMS; the "enter" key for the new line is not working prop

[2020-05-08 11:22] smashercosmo opened #3723 "Problems with using dynamic media_folder name"
**Describe the bug**
This is how I define my posts collection
[code]
as you can see media_folder name is based on the filename. But the problem is that when you create post file doesn't exist, so images in markdown is written with wrong path.

**How to reproduce**
Here is reproduction repository
https://github.com/smashercosmo/folder-collections-media-and-public-folder-issue

1. run ```npm run dev

[2020-05-08 12:50] furcan commented on #3722
Hi again,

I have updated Netlify CMS from `v2.9.7 `to `v2.10.48` and this problem solved.

Thank you.

[2020-05-08 12:50] #3722 closed

[2020-05-08 13:17] furcan opened #3725 "Markdown Widget "code-block" component => "Field Settings" => "MODE" => "codemirror/..." Cannot find module."
Hi,

I just updated Netlify CMS from `v2.9.7` to `v2.10.48` to resolve this issue: #3722

But I have another issue on Markdown Widget "code-block" component.

**Describe the bug**
When I try to select a "mode" from "Field Settings" using the "code-block" component I am getting an error as below. (Screenshots)

**To Reproduce**
1. Go to a Markdown Widget and select a "code-block" component.
2. Clic

[2020-05-09 01:10] HeyITGuyFixIt commented on #3720
What code do you have for your editor components? Be sure to set the toBlock and the pattern parameters appropriately. The content that goes into toBlock needs to be what goes into the actual file being edited. And the pattern needs to be modified to match the output of toBlock. Simply settting toPreview won't work.

I found this out the hard way, and it took a bit of experimenting to find out. Th

[2020-05-09 01:15] jozsi commented on #3720
Yep, in the admin panel everything works flawlessly, back and forward. I thought the pattern would be picked up when generating the static pages. Cause what I save in the markdown is a shortcode wannabe, not markdown, not HTML.

[2020-05-09 01:29] HeyITGuyFixIt commented on #3720
Can you share an example of one of your components?

[2020-05-09 01:58] jozsi commented on #3720
Sure. I want a button widget. My first attempt was like this (simplified):
[code]
It saved `(Button Label)[Button Link]` in the .md file rendered a HTML button in the preview, but on the site was just that static text.

So my next attempt was to update the `pattern` and `toBlock` of the CMS widget to work with the following:
[code]
and use [react-rehype as described here](https://using-remark.gats

[2020-05-09 20:33] jeremyzilar opened #3727 "Losing spaces when pasting rich text into markdown field"
When copying and pasting rich text with formatting into the 'markdown' widget, spaces get lost around formatted words.

**Example:**
If we copy rich text from [a page](https://www.eventbrite.com/e/the-new-social-environment-40-paul-soulellis-tickets-104539552616)

and paste it into a 'markdown' widget in NetlifyCMS _(in the rich text view)_, we get:

👆Note the missing spaces in `special guest**Pau

[2020-05-09 20:47] jeremyzilar commented on #3723
As a side note, thank you for adding this. I didn't realize that `media_folder` and `public_folder` could be added as additional params within a collection. 🙌

[2020-05-09 22:39] eduayme opened #3728 "Full width image in 1 column post"
**Describe the solution you'd like**
I would love to have an option to be able to add a full width image in the middle of a post.

**Additional context**
How it looks now:
<img width="1440" alt="Screenshot 2020-05-10 at 00 29 57" src="https://user-images.githubusercontent.com/26260104/81486534-a537e280-9255-11ea-854e-4f6a51f997e7.png">

What I would like:
<img width="1440" alt="Screenshot 2020-05-

[2020-05-10 01:13] jeremyzilar commented on #3728
@eduayme is this for NetlifyCMS, or the front-end of your site?

[2020-05-10 07:35] PetroPavlenko commented on #2
@erezrokah Thanks for the support. Looks super helpful.
Currently my team wors on different tasks. But we will back to roles in 1-2 months

[2020-05-10 08:16] #3728 closed

[2020-05-10 11:00] papeloto commented on #1032
A current workaround was to put the images directly in the `uploads` folder.
New to Netlify CMS, and loving it so far, great work guys! :heart:

[2020-05-10 12:20] jeremyzilar commented on #3203
I'd be open to joining one of these

[2020-05-10 12:25] jeremyzilar commented on #3711
Without a doubt, there are still issues with using GIT after installing LFS and getting this setup :/
Especially when trying to collaborate with others and merge in changes. I will try to document the steps and the specific issues.

[2020-05-10 17:37] andrewmmc commented on #1750
May I know if it's fixed? I am still getting image from public website instead of git repository, which caused images broken in preview and image widget.

ps. Works properly in Media modal.

Version: netlify-cms-app 2.12.12

[2020-05-10 18:04] HeyITGuyFixIt commented on #1409
Would a widget set to `visible: false` still be able to have a preview output? I haven't experimented with this yet to see.

[2020-05-10 18:14] freshyill commented on #3727
I experience this as well.

[2020-05-10 23:31] Lane commented on #3682
I was able to fix this by ensuring the `pattern` for be editor component begins with `^`.

Pattern where this problem occurs:

[code]

Pattern where this problem is fixed:

[code]

[2020-05-10 23:31] #3682 closed

[2020-05-11 00:06] jeremyzilar commented on #3711
@erezrokah this is the specific issue I am getting:
![image](https://user-images.githubusercontent.com/395641/81513780-ec2ae400-92f8-11ea-9b2c-2d1956c58cd2.png)
[code]

This thread on GIT-LFS issues seems relevant https://github.com/git-lfs/git-lfs/issues/2887
Still looking...

[2020-05-11 06:12] erezrokah commented on #3723
Hi @jeremyzilar, we've added it recently so its under beta feature https://www.netlifycms.org/docs/beta-features/#folder-collections-media-and-public-folder.
We haven't documented it, but you can also configure it per field (https://github.com/netlify/netlify-cms/issues/3671).

[2020-05-11 06:31] erezrokah commented on #3561
Hi @walton-alex, can you share a reproduction and possible an repo with the issue?

[2020-05-11 06:33] erezrokah commented on #2830
Closing as stale, please comment re-open if issue persists

[2020-05-11 06:33] #2830 closed

[2020-05-11 10:19] kylekirkby commented on #565
@erezrokah  Where is this on the roadmap? Would be great to get this feature added! I've got a situation that looks like this:

![netlifycms](https://user-images.githubusercontent.com/4564433/81551062-18864500-9379-11ea-8abc-04e3dd875eea.gif)

It's very confusing for content editors and hinders their productivity and the potential flexibility of NetlifyCMS.

Thanks to all for your hard work on thi

[2020-05-11 10:29] erezrokah commented on #565
Hi @kylekirkby, see my comment https://github.com/netlify/netlify-cms/issues/565#issuecomment-576140240 and the most upvoted features here https://github.com/netlify/netlify-cms/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc.
I think one could implement this in a custom widget, and if that works well we can import it into the main repo.

[2020-05-11 10:39] semigura opened #3737 "Error occurs when trying to publish a post that contains a date-like string"
**Describe the bug**
When the string widget contains a string in the format of `YYYY-MM-DD`, the following error occurs when I try to Publish and I cannot publish.

[code]

I expected the strings contained in the string widget to be treated as strings.
However, if you put a date-like string in the string widget, it will appear to be treated as a date.

**To Reproduce**
1. Input the string in the s

[2020-05-11 11:10] jozsi opened #3739 "Relation widget performance optimization"
Hello,

I have a list of categories nested with lists of products, all of them beign relationship widgets. When I open the CMS editor, it fires thousands of XHR requests for about 150 relations. Is it a possible bug?

First I thought that having the lists collapsed, it will only start the API calls on expand, but later I realized it's not just the autocomplete selector that needs the data, but it'

[2020-05-11 11:16] barthc commented on #3739
@jozsi  what's your CMS version?

[2020-05-11 11:17] jozsi commented on #3739
@barthc:
netlify-cms-app 2.12.12
netlify-cms-core 2.26.0

[2020-05-11 11:30] magomimmo commented on #3712
Just adding the following note on the this discussion.

As said in a previous post I use `ncw-id` widget the `identifier_field` for all the collections not having a natural *primary key*.

While using the `relation` widget, this approach has the very bad effect of not allowing to use any field of the referenced collection in the slug or in the summary of the referencing collection.

Here is the mi

[2020-05-11 11:36] erezrokah commented on #3737
Hi @semigura, that error is coming from the custom preview template and not the CMS code.
Can you share your repo?

[2020-05-11 11:48] erezrokah commented on #3712
Thanks @magomimmo, that's actually a though one. The CMS only stores the `valueField` in the referencing collection data file so you can't use the referenced collection fields in the referencing collection summary. For that to work the CMS would need to read and parse each referenced entry which it doesn't at the moment (it only does it when you open the editor).

[2020-05-11 12:44] barthc commented on #3739
@jozsi  I assume you are on `github` backend. If so then the requests your are seeing are actually loading from the cache and should not affect performance.

![cache-request](https://user-images.githubusercontent.com/8580864/81562851-6ad16100-938d-11ea-819a-b93bc0b084de.png)

[2020-05-11 12:49] magomimmo commented on #3712
Ugh. @erezrokah that's a pity. What about to save the summary of the referenced entry in the `valueField`? Does it has any drawback?

[2020-05-11 12:50] jozsi commented on #3739
@barthc: I use the GitHub backend, yes. But it makes 17.5k requests, when they are cached, still takes 2 minutes to load and slow down the whole browser (Chrome on latest gen i7 CPU and NVMe disk).

![image](https://user-images.githubusercontent.com/840815/81563353-d40da000-939e-11ea-973a-472adacae695.png)

Maybe a little memoization could help?

[2020-05-11 12:57] barthc commented on #3739
Between how many published entries do you have in the `food` and `category` collection? It should load all entries on first initial call.

[2020-05-11 13:01] jozsi commented on #3739
I've 15 category and 123 food entries. I'll add you as a collaborator to the repository & netlify app, if it helps to reproduce. Feel free to fork it.

[2020-05-11 13:06] barthc commented on #3739
@erezrokah  I think this issue is related to #3584, do we fall back to the previous approach?

[2020-05-11 13:10] erezrokah commented on #3712
As long as you are sure the `summary` values won't change you can use:
`valueField: '{{last}}, {{first}}'` and then in the summary just use `summary: {{referenced}}`.

I actually think a better approach is to allow users to customise the cards https://github.com/netlify/netlify-cms/issues/2868#issuecomment-603119488.
Then you could fetch any information you'd like.

[2020-05-11 13:14] erezrokah commented on #3739
I'll have to investigate, but the previous approach will be to get those entries from IndexDB (you won't see any requests but it would still access the browser storage).
Not sure it will be faster, but again I'll have to test it.

[2020-05-11 13:30] #3713 closed

[2020-05-11 13:50] jozsi commented on #3739
Also, if the cache is not yet built or disabled, some requests even get cut off by Chrome with `ERR_INSUFFICIENT_RESOURCES`, others by GitHub with rate limiting errors. They ended exactly at 30 minutes with almost 60k requests, but the last couple thousands were all rate limiting ones:
![image](https://user-images.githubusercontent.com/840815/81569065-687c0080-93a7-11ea-8a54-71ab0a1d9958.png)

[2020-05-11 13:53] liamkeily commented on #3491
Slightly different to what i had in mind but yes i think you could pretty much solve the same problem with types

[2020-05-11 13:53] #3491 closed

[2020-05-11 13:59] erezrokah commented on #3739
Thanks @jozsi, I think the solution for it would be to use allow relation widget for file collections and have a single file with a list widget, instead of multiple files per category/product.
We have a PR for that in progress https://github.com/netlify/netlify-cms/pull/3717

[2020-05-11 14:06] jozsi commented on #3739
Yep, that's what I am plan to do for the categories. Been waiting for the aforementioned PR to be merged, but I'll try with the custom widget and see how I could implement it for products as well, in a Hugo friendly way (I used a Hugo template from Netlify for this project, to see how it compares to Gatsby that I like a lot - and will stick to it in the future).

[2020-05-11 16:17] magomimmo commented on #3712
Thanks @erezrokah

[2020-05-12 02:48] gizipp opened #3742 "TypeError: e.join is not a function. (In 'e.join(",")', 'e.join' is undefined)"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.48`
 - Git provider: `github`
 - Browser version: `Mozilla/5.0 (iPad; CPU OS 13_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/80.0.3987.95 Mobile/15E148 Safari/604.1`

**CMS configuration**
[code]

**Additional context**

[2020-05-12 03:16] stephaniedavidson commented on #843
having the same issue in 2020

[2020-05-12 05:03] seshaljain commented on #3742
I think there is an error with your CMS config, I had the exact error just now and came here to ask about it

[2020-05-12 05:44] erezrokah commented on #843
Hi @stephaniedavidson, the CMS no longer prefixes a `/` to `public_path` and the recommended way with Gatsby is to use relative media folders: https://www.netlifycms.org/docs/beta-features/#folder-collections-media-and-public-folder

I would suggest opening a new issue based on the issue template and describe a reproduction scenario

[2020-05-12 07:45] #2259 closed

[2020-05-12 08:31] marcwieland95 opened #3743 ""Expected [K, V] tuple" when initialising config via JS"
**Describe the bug**
When initializing the config via the JavaScript objects Netlify throws an error on load. It doesn't break but immutable.js throws an exception.

**To Reproduce**
1. `CMS.init` within `cms.js`
2. Add any minimal setup object
3. Run NetlifyCMS via `gatsby develop`

**Expected behavior**
`Uncaught (in promise) TypeError: Expected [K, V] tuple: <` : immutable.js:3575

**Screenshot

[2020-05-12 08:49] seshaljain commented on #3742
This config seems to work with the test-repo: https://codepen.io/seshaljain/pen/abvKGVJ

[2020-05-12 08:56] erezrokah commented on #3743
Hi @marcwieland95, can you please share your `cms.js` file?

[2020-05-12 08:57] erezrokah commented on #3742
Hi @gizipp, can you follow the issue template and provide a reproduction scenario?

[2020-05-12 11:36] semigura commented on #3737
@erezrokah
I'm sorry, it's hard to share it right away.
I haven't set a custom preview template in my environment, but it uses the default preview template.

[2020-05-12 13:51] #3605 closed

[2020-05-12 14:45] magomimmo opened #3744 "pattern validation triggered by input event"
**Is your feature request related to a problem? Please describe.**

The validation of the `pattern` regexp eventually attached to a string field is currently triggered when the user save an entry.

**Describe the solution you'd like**

 It would be nice to trigger the regexp validation by `onchange` or `oninput` events

**Describe alternatives you've considered**

Define a custom widget

**Additio

[2020-05-12 17:24] #3725 closed

[2020-05-12 17:48] furcan commented on #3725
<img width="552" alt="Screen Shot 2020-05-12 at 20 48 07" src="https://user-images.githubusercontent.com/49978011/81727607-e87e9500-9491-11ea-9948-72431ee68cb2.png">

[code]

[2020-05-13 01:55] jeremyzilar commented on #3486
Thank you for this!

[2020-05-13 03:24] gizipp commented on #3742
@seshaljain @erezrokah

The issue only happens in a specific post. Sorry, I can't reproduce the issue. I fixed it by make sure the front matter YML in the post correctly matched with Netlify format.

[2020-05-13 03:24] #3742 closed

[2020-05-13 05:39] erezrokah commented on #3725
Hi @furcan, this was merged but not released. The version on master branch is deployed here https://cms-demo.netlify.com/ so you cant test your use case there.

[2020-05-13 06:32] furcan commented on #3725
Hi @erezrokah
I have been tested and it seems to be ok.
Thanks for your support.
Have a nice day.

[2020-05-13 08:26] erezrokah opened #3747 "chore: add a GitHub action to auto label PR based on title"
I've been doing that manually so far.

[2020-05-13 08:44] #3640 closed

[2020-05-13 09:14] #3747 closed

[2020-05-13 10:24] #3534 closed

[2020-05-13 11:34] jeremyzilar opened #3750 "Be able to reference a specific month or day in date field"
I have a section for “Events” in this site where I would like the filename to reflect the date of the event (e.g. `2020-05-14-slug.md`), not the date that event page was created.

[In our config](https://github.com/brooklynrail/brooklynrail-platform/blob/master/themes/brooklynrail/static/workflow/config.yml), I have `.date` entered as a field in our events collection.
I also have the path set to
[

[2020-05-13 11:36] barthc commented on #2606
Fixed in https://github.com/netlify/netlify-cms/pull/3659

[2020-05-13 11:36] #2606 closed

[2020-05-13 12:05] jozsi commented on #3739
I can confirm that using file collections has made things snappier. Can't wait for #3717 to be released (along with #3616)

[2020-05-13 12:05] #3739 closed

[2020-05-13 13:31] barthc commented on #473
This is now supported, you can do:
 `searchFields: ['list.0.title']`  and
 ` valueField: '{{fields.list[0].title}}'`

We still need to document though.

[2020-05-13 13:31] #473 closed

[2020-05-13 13:49] fdq09eca opened #3751 "make _includes functions available in post body"
I am very new to Netlify CMS, my bad if I am asking some documented question.

I am using Jekyll and I have some helper functions for blogging in the `_includes` folder, How I could make them available to the user in editing the post body like `image` and `code block` like this?
![image](https://user-images.githubusercontent.com/51902242/81820377-1f70ab80-9563-11ea-98dc-6331ab1afe0d.png)

such tha

[2020-05-13 14:08] erezrokah commented on #3751
Hi @fdq09eca, welcome 😄 The docs for that are here https://www.netlifycms.org/docs/custom-widgets/#registereditorcomponent

Closing, please re-open/comment if you any issues

[2020-05-13 14:08] #3751 closed

[2020-05-13 14:14] hanneskuettner commented on #3750
This could potentially be achieved with #3677.

[2020-05-13 14:31] emp3ror opened #3752 "Slow rendering in CMS"
I have file which has a array of objects created from config.yml, the array length reached 46, now when rendering it on cms, it is slow. Here is snippet of my config.yml

[code]

[2020-05-13 15:01] fdq09eca opened #3753 "preview_path does not appear.."
I tried to follow the [doc](https://www.netlifycms.org/docs/deploy-preview-links/#configuring-preview-paths) but the preview link does not appear at all.

![image](https://user-images.githubusercontent.com/51902242/81829504-8abf7b00-956d-11ea-89bd-d0d3ad60e645.png)

Am I missing something?

here is my setting
[code]

Thank you.

[2020-05-13 15:07] erezrokah commented on #3753
Hi @fdq09eca, `preview_path` is useful when working with `publish_mode: editorial_workflow`.
In `publish_mode: editorial_workflow` the CMS will create a PR instead of committing to the master branch when you create/edit an entry. Then if your CI system creates a preview for that PR the URL should appear.
Since you have editorial workflow disabled you should also set a `site_url` (https://www.netli

[2020-05-13 15:24] erezrokah commented on #3753
For it to work you need to make sure the PR is created for that entry and there is a matching commit status on that PR.

[2020-05-13 15:51] fdq09eca commented on #3753
it did create a PR. and the preview link also appeared. but the link is not working.. it brings me to page not found.
![image](https://user-images.githubusercontent.com/51902242/81835229-98c4ca00-9574-11ea-99db-bfebad515cd3.png)

[2020-05-13 17:05] Undistraction opened #3755 "Newlines stripped when editing in Rich Text mode"
**Describe the bug**
When text contains newlines, they are are removed when editing in Rich Text Mode and converting back to Markdown.

**To Reproduce**
1. In a Markdown field toggle to Markdown Mode
2. Enter the following:
[code]
2. Toggle to Rich text mode and make some kind of edit (change a letter for example).
3. Toggle back to markdown

This is easy to replicate using `dev-test` in the repo.

[2020-05-13 20:50] Pearce-Ropion commented on #3581
@erezrokah Is there any progress on this? And if not, could you point me in the right direction within the repo so that I could attempt a PR myself? I had a look around but couldn't find where the `editor: { preview }` config option gets used.

[2020-05-14 05:02] erezrokah commented on #3753
Hi @fdq09eca, you can use `sanitize_replacement` https://www.netlifycms.org/docs/configuration-options/#slug-type

[2020-05-14 07:27] overlordofmu commented on #3711
Hi, @jeremyzilar, as mentioned in the Git LFS issue thread (`git-lfs/git-lfs#2887`), this looks like a DNS resolution issue.

The domain name in this case works for me when I test:

[code]

Would you be willing to test the same command on the affected system if the issue is still occurring? That command being:

[code]

The the DNS lookup fails locally, that is the root cause of the error above. If

[2020-05-14 08:04] erezrokah commented on #3581
Hi @Pearce-Ropion, I don't think anyone started working on this.
This https://github.com/netlify/netlify-cms/blob/6042383b9db696902f34636f12f44cbfea30562e/packages/netlify-cms-core/src/components/Editor/EditorInterface.js#L192 should be a good place to start.
You should be able to check if a collection has a `files` key and filter a specific file by using `entry.get('slug') === file.get('name')` (

[2020-05-14 14:14] hanneskuettner opened #3756 "Allow search field to target single collections"
**Is your feature request related to a problem? Please describe.**

Right now the search bar searches within every collection. This yields ambiguous results if collections have overlapping content and is rather confusing for the user.

**Describe the solution you'd like**

It would be nice to be able to select to a collection I want to search before actually committing to the search. See the attac

[2020-05-14 14:48] franva opened #3757 "Cannot preview the blog when writing a blog"
**Describe the bug**
Cannot preview Blog

**To Reproduce**
1. follow the instruction [here](https://www.netlifycms.org/docs/gatsby/), the instruction described here takes an entire page.

**Expected behavior**
expected to see the blog preview

**Screenshots**
![image](https://user-images.githubusercontent.com/5151146/81948609-41daf580-9645-11ea-9a69-b45cb30326bd.png)

![image](https://user-images.

[2020-05-14 14:50] erezrokah commented on #3757
Hi @franva, can you fill the issue template? I'm not sure what `follow the instruction` means.
Also, looks like this error is coming from your custom preview template in `DiscussionEmbed.js`

[2020-05-14 16:58] erezrokah commented on #3533
Sorry for the late reply again, does it happen with every site or a specific site? Maybe creating a new site can resolve this?

[2020-05-14 18:31] jeremyzilar opened #3759 "Allow markdown in field hints"
Would it be possible for the `hint` parameter to be able to render markdown text?

As an editor, the text below each field is a very valuable place for including helpful reminders, style examples, links to the style guide, etc... Having the ability to make certain words bold, italic, add links is super helpful, if not essential.

**Here is an example of the summary field:**
[code]

[2020-05-14 18:33] jeremyzilar commented on #3755
Tested locally myself, and got the same thing:
![image](https://user-images.githubusercontent.com/395641/81971953-e4688980-95ef-11ea-9868-e3d9c57296e8.png)

[2020-05-14 23:12] franva commented on #3757
thanks @erezrokah for your timely response. I have added the instruction I followed.

Also, I found that the blog preview works when the web page is refreshed, but the error will appear once I typed anything in the blog.

I will dig in the DiscussionEmbed.js.

[2020-05-14 23:13] djMax commented on #475
I definitely agree that the cleaner solve is a separate file storing ordering information. We don't want unreadable diffs on PRs.

[2020-05-15 01:50] franva commented on #3757
I fixed this by hiding the Disqus DiscussionEmbed component when the BlogPostTemplate is under preview mode :)

[2020-05-15 01:50] #3757 closed

[2020-05-15 04:51] rickithadi opened #3761 "Error: Minified React error #130; visit https://reactjs.org/docs/error-decoder.html?invariant=130..."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.11`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.122 Safari/537.36`

**CMS configuration**
[code]

[2020-05-15 09:27] hanneskuettner commented on #1040
Is it worth checking out how to integrate [react-icons](https://react-icons.github.io/) since they seem to support all of the most common icon libraries out there?

We could possible build a icon library registry that we use internally and expose to the user to register their own icon libraries if they really wanted to.

Something like

[code]

and in the configuration icons could be referenced li

[2020-05-15 14:43] webdevFM commented on #3533
Hi @erezrokah, I have not tried creating specific site. My team has decided to migrate to bitbucket repo to maintain all repos in one place, so the problem solved itself in a way. I will close the issue if you don't mind.

[2020-05-15 15:04] webdevFM opened #3762 "Bitbucket backend firing several identical requests"
Describe the bug
I've recently migrated repository from github to bitbucket and to my surprise I've quickly exhausted API limit. I've checked that bitbucket has lower api request limit (1000requests/h compared to github's 5000requests/h). However, I was surprised that the limit exceeded so fast. Upon further investigation I've noticed in Chrome's network tab that when visiting collection entry (bl

[2020-05-15 20:28] paultannenbaum opened #3763 "Template specific config is "leaking" into other configurations"
**Describe the bug**
I have a project that has several reusable widgets. One of them is a `header_type` that is a select widget, and several different templates use this widget. I have a new template that clones that object type, and changes its default(It does not mutate the original object). However when I do this, all other configurations are now picking up the cloned object settings.

**To Rep

[2020-05-15 21:22] barthc commented on #3763
[code]
You are modifying the objects in place here. Why don't you use `map` and return new objects.
[code]

[2020-05-15 21:27] paultannenbaum commented on #3763
@barthc I will try this right now and report back, but if you look at the line just above the one you posted, you will see I am cloning the object (`const header = { ...widgets.header }`). So I still dont understand how I could be modifying the original objects.

[2020-05-15 21:52] paultannenbaum commented on #3763
@barthc So I tried your method and was still getting the same results, but I do think this may actually be a bug on my end and not netlify cms. I did not realize that object destructuring did a shallow clone and not a deep clone, and I think ultimately that is the problem. I am going to close this issue as that seems to be the case as to what was happening.

[2020-05-15 21:52] #3763 closed

[2020-05-15 22:53] jeremyzilar opened #3764 "A proposal for reorganizing the NetlifyCMS Docs navigation"
**👋 This is a proposal for reorganizing the navigation on the NetlifyCMS docs site. The goal is to make it easier for users to find the guidance they need.**

## A proposal for a new navigation structure

In short, there are a few things I was trying to do here:
- group guidance around the decisions users are trying to overcome
- make it easier to find help around the challenge you're facing
- kee

[2020-05-15 23:01] erquhart commented on #3764
Would love to see a re-org like this, the community has needed it for some time. Thanks for putting this together!

[2020-05-15 23:30] austincondiff commented on #1040
Regarding #2557, I am using the open source Feather icon set with a few additions of my own. In this redesign I planned to allow to specify the icon used for each collection by specifying the name in config.yml.

We could default to this set and allow for custom icons or entire icon sets to be used.

[2020-05-16 01:19] jeremyzilar commented on #3764
In looking at the top-level sections more closely, I think I would probably want to name them a bit different than what I proposed above.

---

**Intro to Netlify CMS**
**Account Settings**
**Configuring your Site**
**Media**
**Workflow**
**Collections**
**Fields**
**Platform Guides**
**Customizing Netlify CMS**
**Community**

[2020-05-16 09:59] hanneskuettner commented on #1040
I love feather icons. They would make a great default. Also they come with the react-icons package as well.

I just don't know how we would incorporate your additions. Are they intended to be used internally or with user defined collections as well?

I think then we should add something like a default icon library so the user can drop the `fi` prefix (or any other for that matter) and just use the

[2020-05-16 19:57] HeyITGuyFixIt opened #3767 "Extending Widgets"
I am using regular old JavaScript, no NodeJS or React. I have a static site on GitLab using Netlify CMS for our blog. I am trying to create a custom widget that is based off of the string widget, but modifies the user input before it is saved, and also has a custom preview output.

My issue right now is with the control side of things. How do I extend the string widget's control, so the functional

[2020-05-16 20:00] HeyITGuyFixIt commented on #3767
I've seen it done in a similar fashion with React in #2955, but I don't know how that translates to Vanilla JavaScript.

[2020-05-16 20:58] barthc commented on #3767
Can you show some codes and if necessary screenshots.

[2020-05-16 21:04] HeyITGuyFixIt commented on #3767
@barthc Here is the control function I have currently:

[code]

[2020-05-16 21:21] barthc commented on #3767
Add the` className` prop.
[code]

[2020-05-16 21:25] HeyITGuyFixIt commented on #3767
That does the trick

[2020-05-16 21:42] #3767 closed

[2020-05-17 02:56] HeyITGuyFixIt commented on #3761
Are those `“` and `”` quotes actually in your config file? If so, you may want to replace them with regular `"` quotes and see if you still get that error.

[2020-05-17 03:32] HeyITGuyFixIt commented on #1908
Even after #2053, it seems the issue still persists.

[2020-05-17 07:30] erezrokah commented on #3755
@Undistraction thanks for reporting and @jeremyzilar for confirming. What's the impact of this?
I think new lines at the end of the markdown won't be rendered anyway.

[2020-05-17 07:31] #3533 closed

[2020-05-17 08:06] erezrokah commented on #3762
Hi @webdevFM, can you share the actual requests (urls and payloads) and not responses?
There are other differences between GitHub and Bitbucket APIs.

For example listing files - in GitHub you can list up to 100k files in a single request, while Bitbucket has a paginated endpoint that will return a maximum of 100 files per request.

Another difference is that for Bitbucket you need to send the bra

[2020-05-17 08:20] erezrokah commented on #3761
Hi @rickithadi, can you share the full error and `config.yml`? The error usually comes from a custom preview template

[2020-05-17 08:22] erezrokah commented on #1908
Hi @HeyITGuyFixIt, you need to explicitly configure `load_config_file: false` for the CMS not to try and load the config yml as specified in the example code here https://www.netlifycms.org/docs/beta-features/#manual-initialization.
If that is not working can you please open a new issue with a reproduction scenario?

[2020-05-17 09:23] Undistraction commented on #3755
@erezrokah the following markdown:
[code]
Is rendered correctly by markdown processors, with newlines preserved, and each footnote on a separate line, for example try pasting the above into: https://stackedit.io/app# and viewing the rendered output.

However this bug means Netlify CMS strips the newlines and will render the above footnotes on a single line with each footnote separated by spaces:
[

[2020-05-17 09:54] erezrokah commented on #3755
Thanks for clarifying @Undistraction, I misread the bug. I thought it was the behaviour of stripping new lines at the end of the content and not between text lines.

[2020-05-17 10:38] Undistraction commented on #3755
@erezrokah no problem. If you can point me in the direction of where the issue lies I'm happy to take a run at fixing it.

[2020-05-17 11:11] erezrokah commented on #3755
Thanks @Undistraction, I can't be sure without investigating, but the conversion from a raw string to slate date structure is done here https://github.com/netlify/netlify-cms/blob/088b1a8ab626498382d6305fa46d174d4f5ba755/packages/netlify-cms-widget-markdown/src/MarkdownControl/VisualEditor.js#L46

[2020-05-17 11:37] HeyITGuyFixIt opened #3769 ""Load_config_file: false" issues"
**Describe the bug**

When I manually initialize Netlify CMS, using `window.CMS_MANUAL_INIT = true` and `init({ config: { load_config_file: false, ... }})`, I would expect to not need the config file anymore. But instead, it still tries to read the config file, and thus runs into errors.

**To Reproduce**

I have tested 3 situations, with only one providing near satisfactory results:

1. With no c

[2020-05-17 12:06] hanneskuettner commented on #3769
Are you setting the `window.CMS_MANUAL_INIT` before importing `netlify-cms` for the first time?

It should be
[code]

If that still doesn't work try putting the `window.CMS_MANUAL_INIT = true;` in a script tag in your index.html before including your js file.

[2020-05-17 12:08] hanneskuettner commented on #3759
If I'm not mistaken we are using `unified` in the markdown widget for all it's extendability. Is it work maybe using remark or something like this for this feature in the core? Or should we stick with unified in the core as well?

[2020-05-17 12:25] HeyITGuyFixIt commented on #3769
That appears to be the issue. I set the variable after loading the Netlify CMS script. Moving it like you said allows me to use the third scenario without any issue.

[2020-05-17 12:31] hanneskuettner commented on #3769
Perfect!

We should take this as a hint to improve the docs to address the necessary order of operations more clearly.

[2020-05-17 12:45] erezrokah commented on #3769
Thanks @HeyITGuyFixIt  for reporting and @hanneskuettner for following up with a solution.
Just to clarify, this is the example from the docs - that works right?:
![image](https://user-images.githubusercontent.com/26760571/82146735-01ea5d00-9855-11ea-815c-8550a9b876c1.png)

I think we can remove the following comment:

And replace it with a clarification on setting that global flag before importin

[2020-05-17 12:46] hanneskuettner commented on #3769
@erezrokah that's a great solution I think!

[2020-05-17 12:51] HeyITGuyFixIt commented on #3769
That's definitely a good idea. For those using React, there probably isn't any confusion with the current example given in the docs. But with those using Vanilla JavaScript, like me, the docs aren't clear on this implementation. Especially with those like me that don't know NodeJS or React. Those not using React or NodeJS but having a good knowledge of those may be able to infer the necessary orde

[2020-05-17 14:54] austincondiff commented on #1040
@hanneskuettner Check out our Icon story in storybook [here](https://storybook.netlifycms.org/?path=/story/components-icon--icon). Also look at the ui-default package in the `v3-ui-redesign` branch.

As you can see right now they are all react components but maybe we could be handling that better. I am not including the Feather icons package because I wanted to do my own and include them. But now

[2020-05-17 15:19] mauriciabad commented on #3429
I noticed that the label download is missing in many languages.

[2020-05-17 17:25] rahulkashyap31 opened #3772 "TypeError: Cannot read property 'get' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.12`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Safari/537.36`

**CMS configuration**
[code]

[2020-05-17 23:10] austincondiff opened #3773 "Generate Collection's Editor Fields from Component"
As I was using storybook I realized that I really like the knobs API. All I need to do is import the knob type I want into my story, use it somewhere, and it shows up in my story (check it out [here](https://imgur.com/a/CfDg60x)). I think we might be able to learn from this.

We could do something similar where in our component, we were able to import a field type (or widget). We would then use it

[2020-05-18 00:20] iBobik commented on #2183
Would be possible to do it by https://github.com/akxcv/vuera

[2020-05-18 06:16] webdevFM commented on #3762
Hello, thank you for response. Below I attach request payloads
![image](https://user-images.githubusercontent.com/62745213/82179305-4cfc8280-98de-11ea-9dd9-dc4242b6d6f8.png)
![image](https://user-images.githubusercontent.com/62745213/82179527-d449f600-98de-11ea-84dd-3bf358f24dd8.png)
![image](https://user-images.githubusercontent.com/62745213/82179865-9c8f7e00-98df-11ea-8b7e-7d4cabdf1ad5.png)
![im

[2020-05-18 06:33] erezrokah commented on #3762
Hi @webdevFM, please remove the images with the authorisation headers

[2020-05-18 07:52] #3756 closed

[2020-05-18 08:05] fdq09eca opened #3778 "list widget probelms.."
I tried to include a frontmatter `header` as widget `list` which look like below in the `.md`
[code]

but as soon as I included this field, the cms returns the following error

![image](https://user-images.githubusercontent.com/51902242/82188238-2a8b5900-9920-11ea-9a1f-e2b27407c3a7.png)

Strangely, I successfully included a similar frontmatter `sidebar` with`list` and it shows as I expected in the

[2020-05-18 08:07] erezrokah commented on #3778
Hi @fdq09eca, I thinks you need"
[code]

[2020-05-18 08:17] fdq09eca commented on #3778
I am using the minimal mistakes theme.

according to the [doc](https://mmistakes.github.io/minimal-mistakes/layout/uncategorized/layout-header-overlay-image/)
the header should be put this way.
[code]

but I found out that it looks ok if I changed to `object`. but it does not behave the same as `list`.. i want that <kbd>Add header </kbd> button.. as in sidebar

![image](https://user-images.githubu

[2020-05-18 08:26] webdevFM commented on #3762
Hello @erezrokah all of those requests were GET as you mentioned and the url in all of them was the same. Here are the urls of all requests (not just branch requets) that were fired (all are GET requests) while accessing collection entity. I've listed requests in their execution order in Network tab.

https://api.bitbucket.org/2.0/repositories/{owner}/{repo}/pullrequests?pagelen=50&q=source.reposi

[2020-05-18 09:10] erezrokah commented on #3778
Hi @fdq09eca the list widget expects an array of values.
[code]
Is a map, hence the error (and why an object widget works).

I'm not familiar with minimal mistakes theme but it looks like it expects an object for the `header`, so I'm not sure how it would handle a list.

[2020-05-18 10:43] fdq09eca commented on #3778
[code]
@erezrokah  Thank you.
so does `list` handle the child without `-`?
I believe the current sidebar works with `list` is because I have a `-` in the field `image`, what should I do if I would like to include the `image_alt` as well?

Thank you.

[2020-05-18 11:13] erezrokah commented on #3778
You'll need to add that field in under the list:
[code]

[2020-05-18 11:17] fdq09eca commented on #3778
@erezrokah won't it become
[code]

instead of

[code]

[2020-05-18 13:23] erezrokah commented on #3778
No, the result will be:
[code]

[2020-05-18 13:26] erezrokah commented on #3772
Hi @rahulkashyap31, can you share more information regarding the error?
Full error message, entire `config.yml` file, screenshots and possibly a repo reproducing the error?

[2020-05-18 13:27] erezrokah commented on #3778
@fdq09eca, I'm closing at this issue seems to have lost its context. You can reach out on slack https://www.netlifycms.org/chat for usage questions.

[2020-05-18 13:27] #3778 closed

[2020-05-18 13:30] fdq09eca commented on #3778
@erezrokah Thank you for your help!

sorry I delete my question accidentally, for anyone who is interested: the last question I was asking is if the following code block

[code]
would produce which of the following frontmatter

[code]

or

[code]

[2020-05-18 14:10] PedroOndh opened #3779 "Getting error and losing progress when trying to save a post because token has expired (Bitbucket)"
**Describe the bug**
I have a web on Jekyll and hosted on Bitbucket. Sometimes when an user has been working for some time on the CMS and tries to save a post saving fails and return the message "Failed to persist entry: You must specify a provider and refresh token when calling netlify.refresh"

**To Reproduce**
1. Use CMS for some time
2. Try to save an entry
3. Get error
4. Entry is not saved,

[2020-05-18 14:18] alexboffey commented on #1032
Yes as @papeloto suggests above, you can specify a `media_folder` in your `config.yml` file and move image files into it like so.

[code]

Here is a link to the [relevant documentation](https://www.netlifycms.org/docs/configuration-options/#media-and-public-folders).

[2020-05-18 20:52] tina opened #3780 "TypeError: e.get is not a function"
Clicked on the Home page of the editor panel and got this error.

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.9`
 - Git provider: `github`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Safari/537.36`

**CMS configura

[2020-05-19 04:04] jamgit commented on #3727
This is a consistent, and time consuming, issue when pasting from Google Doc or other page or document. As others say, after links, em-dash, bold and italic text, etc.

[2020-05-19 07:02] erezrokah commented on #3772
Closing per further information

[2020-05-19 07:02] #3772 closed

[2020-05-19 07:04] erezrokah commented on #3780
Hi @tina, can you share the full `config.yml`, which entry where you trying to edit and a screen shot of the error (specifically is it in the left editor pane or right preview pane)?

[2020-05-19 07:08] hanneskuettner opened #3781 "Hide sensitive information in bug reports"
**Is your feature request related to a problem? Please describe.**

The automatically generated issue bug report right now contains the whole backend configuration and preview and publish paths. While I think it's useful to know that those are configured correctly I would suggested that we replace sensitive fields with `******`. If they are necessary to debug they can still be disclosed but with e

[2020-05-19 07:17] #800 closed

[2020-05-19 07:49] amykapernick opened #3782 "Custom Domains for Local Backend"
**Describe the solution you'd like**
When using a local backend, `local_backend: true`, it checks if there's a local server by seeing if the hostname is localhost ([/src/actions/config.js](https://github.com/netlify/netlify-cms/blob/39e00261a22e2e3c7f18daf1b2c3c3ec874f2030/packages/netlify-cms-core/src/actions/config.js#L178))
[code]
I use a package called [Hotel](https://github.com/typicode/hotel

[2020-05-19 07:55] erezrokah commented on #3782
Hi @amykapernick, thanks for opening this.
Can you suggest how a configuration for this would look like?
A possible workaround would be to force a proxy backend:

[code]

combined with [manual initialisation](https://www.netlifycms.org/docs/beta-features/#manual-initialization) to conditionally set the backend.

[2020-05-19 08:04] amykapernick commented on #3782
@erezrokah my issue isn't with the proxy server, it's to do with the detection of the Dev server.

If the check allowed defining another config, or tested for an environment variable instead?

Eg.
[code]

Alternatively if when defining the local backend in the admin config file, you could set the url there

Eg
[code]

[2020-05-19 08:16] erezrokah commented on #3782
Hi @amykapernick, thank you for clarifying, I believe I wasn't making my self clear enough.
The detection mechanism (when it works) will modify the CMS backend configuration to connect to the proxy server here:
https://github.com/netlify/netlify-cms/blob/2f435f875bc139af345080eb8cca6146d27c10f6/packages/netlify-cms-core/src/actions/config.js#L210
You should be able to workaround the current limita

[2020-05-19 16:35] tinfoil-knight commented on #3639
WIP: #3784

[2020-05-20 04:13] R-Bower commented on #3769
I'm running into this problem as well on my gatsby site during local development.  I'm using gatsby-plugin-netlify-cms and the netlify-cms-app dependency in place of netlify-cms.  I'm manually initializing the configuration in a Javascript file.

[code]

I'm running `npx netlify-cms-proxy-server`

It seems to work properly after I nuke the public and .cache folders in the repository, but it stops

[2020-05-20 05:34] equivalentideas opened #3787 "TypeError: r.toJS is not a function"
**Describe the bug**

When loading up the view to create or edit an item from any collection, **if the edit form contains the relational widget**, after a few seconds then complete pages goes to the error screen.

**If I remove the relation widget from the view in my config file, and then reload, the error does not happen.**

**To Reproduce**

Haven't tested this with a clean template build.

**Ex

[2020-05-20 06:12] samwhiteiv opened #3788 "TypeError: r.toJS is not a function"
**Describe the bug**
When loading up the view to create or edit an item from a collection, after a few seconds then the page goes to the error screen.

**To Reproduce**
Click on any collection and wait for the error after a few seconds.

**Expected behavior**
The page not to go to an error screen.

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.49`
 - Git provi

[2020-05-20 08:14] erezrokah commented on #3769
Hi @R-Bower, when using Gatsby with the CMS plugin you don't need to create a `index.html` file at all, and for using manual initialisation you need to set https://www.gatsbyjs.org/packages/gatsby-plugin-netlify-cms/#manualinit

[2020-05-20 08:17] erezrokah commented on #3788
Thanks @samwhiteiv, closing as duplicate of https://github.com/netlify/netlify-cms/issues/3787

[2020-05-20 08:17] #3788 closed

[2020-05-20 08:28] erezrokah commented on #3787
Hi @equivalentideas, per the docs https://www.netlifycms.org/docs/widgets/#relation, `displayFields` should be an array, e.g. `displayFields: ["title"]`.
Previous versions of the CMS handled it due to a bug.
Regardless we should probably verify it when loading the configuration and print a relevant error message.

[2020-05-20 08:51] alexearnshaw opened #3790 "Question/Advice needed on using multiple branches with Netlify CMS"
We are using Netlify CMS open authoring workflow for our open documentation site https://axway-open-docs.netlify.app/docs/

We are using Hugo to generate the site and Netlify to deploy and host. We are using Netlify CMS to enable contributors to edit our docs directly (via pull requests from their own forks)

We now have a requirement to have multiple branches in our Git repo, as we need a way to

[2020-05-20 09:13] smashercosmo commented on #3790
This what I do on my Gatsby site. Maybe this can help you:

cms.js
[code]

gatsby-config.js
[code]

[2020-05-20 09:15] erezrokah commented on #3790
Hi @alexearnshaw, having a separate config or even a separate site per CMS instance should work.
However there might be another way to go around this in the form of having a `draft` boolean field or even a `releaseDate` field  on entries and having the build process ignore `draft` items.
That way they'll still show up in the CMS, but not in the published site while only maintaining a single branch

[2020-05-20 10:37] alexearnshaw commented on #3790
Thanks @smashercosmo I did try various ways of getting the branch from Netlify but I couldn't get any of them to work. See this PR in my repo https://github.com/Axway/axway-open-docs/pull/750 - When I do this the CMS doesn't load and I get an error that `process` is not defined. I don't know where or how to define process when using Hugo with Netlify? (by way of explanation I'm a technical writer

[2020-05-20 10:46] smashercosmo commented on #3790
Yes, you need to find a way to preprocess config.js file and substitute __BRANCH__ with process.env.HEAD value from netlify. I think it should be possible with some build hook.
[code]

[2020-05-20 10:56] alexearnshaw commented on #3790
Thanks @erezrokah We did consider using draft or release date. This would work for the creation of new pages, but we didn't think it would work for changes to existing pages, as we would need the older version of the page to still show on production and it wouldn't.

Also we felt that it would negatively impact on contributor UX as they would have to go directly to the CMS UI to edit any pages in

[2020-05-20 11:46] erezrokah commented on #3790
That makes sense, thank you for clarifying.

As @smashercosmo mentioned the CMS environment/branch should be configured during build time.
That is, when the site is deployed to `https://axway-open-docs.netlify.com/` the CMS branch will be the one set on build time, and that is what the users/contributors will update.

You still need to figure out a way to serve users 2 different versions of the CM

[2020-05-20 14:28] jeffrummel opened #3791 "TypeError: r.toJS is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.49`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:76.0) Gecko/20100101 Firefox/76.0`

**CMS configuration**
[code]

[2020-05-20 14:34] erezrokah commented on #3791
Hi @jeffrummel, closing as duplicate of https://github.com/netlify/netlify-cms/issues/3787

[2020-05-20 14:34] #3791 closed

[2020-05-20 14:51] alexearnshaw commented on #3790
Ah thank you @erezrokah it's becoming a bit clearer now! I get what you're saying regarding the 3 options to serve the CMS to the users and agree option 1 would work fine for our use case.

The bit I still don't get is how exactly to configure the branch during build time? Is there a way to set this in the Netlify UI or netlify.toml (i.e. by using an env var for the CMS branch and in the prod env

[2020-05-20 15:11] erezrokah commented on #3790
Hi @alexearnshaw, there are a few way you could go about the config, but first I think you would need to set Netlify to deploy on all branches (or specific branches) to make sure the `develop` branch is built on each commit:
![image](https://user-images.githubusercontent.com/26760571/82462804-b938db00-9ac4-11ea-9a4e-759337831504.png)

Then possibly you could inside `config.js` apply a regular expr

[2020-05-20 19:50] R-Bower commented on #3769
Confirmed working now, thank you!  I was using the documentation provided [here](https://www.netlifycms.org/docs/add-to-your-site/) to setup initially, and then switched over to the plugin.  Given that the netlify-cms package has deprecation warnings, should this guide be updated with a disclaimer?

[2020-05-20 20:08] jamespfarrell commented on #1816
I had the same issue, and resolved it by setting up the OAuth on my organisation

instead of my personal Github:

It's working with the protective restrictions back on now.

[2020-05-21 04:16] stephaniedavidson opened #3792 "file widget with Gatsby/NetlifyCMS - accept image OR video"
**Is your feature request related to a problem? Please describe.**

Using the [Gatsby Netlify CMS starter](https://github.com/thomaswang/gatsby-personal-starter-blog), and I added a cover image field for each post and in the index. I want to be able to upload an mp4 OR a jpg though. So in my config.yml I replaced the **image widget** with the **file widget**, which can upload any type of file, wor

[2020-05-21 07:04] erezrokah commented on #3792
Hi @stephaniedavidson, this is more of a Gatsby question than a CMS question, but I'll try to provide an explanation.
Gatsby does a lot of automatic type inference for fields, which means that if you have different types (for example image file vs movie file) for the same field it might get confused.
I'm not sure what exactly is the error you're getting but I would try to follow https://www.gatsby

[2020-05-21 07:33] erezrokah commented on #3769
You're right @R-Bower, individual guides should get more visibility in the docs.
Can you add your thought to https://github.com/netlify/netlify-cms/issues/3764?

[2020-05-21 08:50] alexearnshaw commented on #3790
Much appreciated @erezrokah I think I have enough to go on now :) When I get something working I'll post back here in case it might be useful to anyone else.

[2020-05-21 13:03] mfcodeworks commented on #502
+1 for this, not sure if it's in the pipeline but I'd love an option to publish to IPFS, maybe including IPNS for a static URL

[2020-05-21 14:03] stephaniedavidson commented on #3792
ah ok thank you, yeah it sounds like I would want to avoid opting out of type inference, let me ask the gatsby community. thanks!

[2020-05-21 14:05] erezrokah commented on #3792
Sure thing, can we close the issue?

[2020-05-21 14:21] RMunschie92 commented on #1480
Would really love to see this feature implemented as well.

[2020-05-21 14:47] #3792 closed

[2020-05-21 15:29] djMax opened #3793 "author-name/author-login should work outside of open authoring"
**Is your feature request related to a problem? Please describe.**
Right now, my commit messages have no information about who made a change, even though everyone is logging in to the CMS (with github accounts, for whatever that's worth). I tried to use {{author-name}} in the commit messages, but that doesn't work because the code explicitly stops it from doing so:

https://github.com/netlify/netl

[2020-05-21 15:35] djMax commented on #3793
Minor update, it's not the if that's the problem, it's that author-name and author-login variables should perhaps be up higher.

[2020-05-21 15:46] erezrokah commented on #3793
Thanks @djMax, this was done here https://github.com/netlify/netlify-cms/pull/2810 to resolve https://github.com/netlify/netlify-cms/issues/2809, since open authoring PRs have to be merged manually via GitHub by the repo maintainer (some added visibility was useful).

Just to confirm - the commits has the correct committer attached to them right? Just not as a part of the message?

[2020-05-21 16:08] djMax commented on #3793
No, all my PRs are from a single account (mine), I assume because of this:

https://github.com/gas-buddy/docker-netlifycms-identity/blob/master/setup.sh#L51

Where I set a single access token for git-gateway. Should I be doing something different?

[2020-05-21 16:16] erezrokah commented on #3793
The CMS should override the commit author with the email it gets from the Identity service:
https://github.com/netlify/netlify-cms/blob/d3aaf4ddb326efcaffdbcc5af5c0e5c8bcaa36ea/packages/netlify-cms-backend-git-gateway/src/GitHubAPI.ts#L100
If that email matches to a GitHub account it should show up in the commits (https://help.github.com/en/github/committing-changes-to-your-project/why-are-my-comm

[2020-05-21 16:23] djMax commented on #3793
Ok great. I've got a custom build going here too, so if I can add debugging somewhere, please let me know

[2020-05-21 16:25] djMax commented on #3793
Also, to confirm, when I put author-name and author-login in the original commit message substitution code, it does work. Not sure if that is useful outside of the issue with the commit author.

[2020-05-21 16:45] erezrokah commented on #3793
You can submit a PR for that change if you'd like. It can help with having less confusion when using the templates.

[2020-05-22 00:27] franva commented on #3492
hit the same issue, any updates guys?

[2020-05-22 02:00] franva opened #3795 "Editorial Workflow: Failed to persist entry: TypeError: r.has is not a function"
**Describe the bug**

I recently enabled Editorial Workflow on my blog by following [this link](https://www.netlifycms.org/docs/configuration-options/#publish-mode), once it's done, whenever I clicked the Save button on "Writing in Blog Collection" page, it throws an error:

Here is the screenshot
![image](https://user-images.githubusercontent.com/5151146/82622835-17c79b80-9c22-11ea-8f23-9a59d61ec

[2020-05-22 02:01] franva commented on #2335
hi @erezrokah I hit the same need to run admin locally and need to test the Editorial Workflow, which I followed [here](https://www.netlifycms.org/docs/beta-features/#working-with-a-local-git-repository).
The reason why I need to try Editorial workflow is it doesn't work on my live website and [the Error message ](https://github.com/netlify/netlify-cms/issues/3795) is very generic and not helpful.

[2020-05-22 03:35] R-Bower commented on #3764
I ran into an issue outlined in https://github.com/netlify/netlify-cms/issues/3769

With regards to the Gatsby integration, I think the suggested approach should be to go with [gatsby-plugin-netlify-cms](https://www.npmjs.com/package/gatsby-plugin-netlify-cms) over the netlify-cms package outlined [here](https://www.netlifycms.org/docs/add-to-your-site/).  The gatsby plugin is based on the updated

[2020-05-22 11:08] jeremyzilar commented on #2545
I would like to express my interest in this as well.

In my case, when an editor is adding a new "media" content type, I need them to add a credit to the image, which pulls from one of the two taxonomies
- people
- organizations

Sometimes an organization gets the credit for the image (e.g. `Gagosian Gallery`), other times it is a person.

[2020-05-22 16:44] liamkeily opened #3796 "List does not get updated"
After editing the title of a post, the title does not get updated in the list. Is this expected behaviour?

[2020-05-23 12:10] reimertz commented on #3267
This is awesome work! I love it!

[2020-05-23 13:10] reimertz commented on #3743
I got this issue too till I realized is because

1. There was no `config.yml` present
2. I needed to add  `load_config_file: false` to my config
3. I had to add ` window.CMS_MANUAL_INIT = true;`

[2020-05-23 18:17] akaelisee opened #3797 "TypeError: e.get is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.9`
 - Git provider: `github`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.138 Safari/537.36`

**CMS configuration**
[code]

**Additional context**

[2020-05-23 18:29] HeyITGuyFixIt commented on #3767
While the above works fine and all, and is what I needed for that use case, I would still like to know how I can extend widgets. For example, say I want to modify the Markdown widget, what would I need to do to essentially copy that widget and then add to it my own code to override or extend its current behavior?

[2020-05-23 18:33] HeyITGuyFixIt commented on #3767
Referring back to #2955, what would be the Vanilla JS equivalent of:

[2020-05-23 20:48] HeyITGuyFixIt commented on #3720
What does Gatsby use for converting MD files? It seems like something is wrong with that, as you said Netlify CMS is correctly adding the code to the file. Check with the proper syntax Gatsby expects for links to see if it matches what you are using. It looks to me like Gatsby doesn't recognize it.

[2020-05-23 20:51] HeyITGuyFixIt commented on #3720
Answering my own question (lol). See [here](https://www.gatsbyjs.org/docs/mdx/markdown-syntax/#link) for the proper link syntax. It looks like you got it backwards.

It is supposed to be `[text](url)`, while you said you have (text)[url]`. I have made the same mistake multiple times before. I almost made it again with the link above.

[2020-05-23 20:53] HeyITGuyFixIt commented on #3797
Can you post the full error? If this was a pop-up error message, can you check your browser's console for the full error and post it here?

[2020-05-23 20:54] HeyITGuyFixIt commented on #3796
Which list? Are you using the editorial workflow?

[2020-05-23 20:56] HeyITGuyFixIt commented on #3795
Can you post the full error? You can check your browser's console for the full error and then post it here.

[2020-05-23 21:09] marcwieland95 commented on #3743
Yeah. Those settings are set. The `config.yml` doesn't need to exist since we're turning it off with the setting above.

I noticed that there's an option inside the `gatsby-config.js` which needs to be set and I haven't found it inside the documentation. -> `manualInit: true`

[code]

After that, the error is gone.

[2020-05-23 21:09] #3743 closed

[2020-05-23 22:59] jozsi commented on #3720
The inverse pattern was intentional, trying to keep somewhat a consitency between a link and a button. However, I've read about some issues and it is better to use backticks or curly brackets for custom stuff.

Gatsby uses Remark for converting MD files. Haven't had time to jump in the code see how Netlify CMS tackles it - if anyone is open to give a brief info about it, I'm eager to hear!

[2020-05-24 02:44] UtkarshKr007 commented on #2455
Thank you @noelmace. We had a similar problem where date picker's output was a date object rather a string, which produced React error#31. We finally solved it making sure the date attached to all posts had single quotes(ex: ''2020-05-23') and changing our config.yml so the line regarding date looked like
`- { label: Date / Order, name: date, widget: date, format: 'YYYY-MM-DD' }`

[2020-05-24 08:35] smashercosmo commented on #3720
Yes, every time you write custom editor component, you should write corresponding remark plugin. Example:

video-player-editor-component.js
[code]

video-player-remark-plugin.js
[code]

[2020-05-24 08:54] erezrokah commented on #3796
Hi @liamkeily, can you please follow the issue template? Not doing so makes it very hard to resolve issues.

[2020-05-24 11:26] barthc commented on #3767
I assume you mean without es6 `class`. You can try something like so:
[code]

[2020-05-24 11:36] HeyITGuyFixIt commented on #3767
I am not using React and NodeJS so I can't use import and export. Experimenting with it last night, I figured out how to do it mostly using the classes. I think I was mostly confused by the export line.

So now I am trying to figure out how to add onto the functionality of the render function. I will have to play around with it later today.

[2020-05-24 14:38] BA1RY commented on #3744
@magomimmo @erezrokah I would like to work on this. How can I get started?

[2020-05-24 14:45] erezrokah commented on #3744
Thanks @BA1RY, pattern validation is done here https://github.com/netlify/netlify-cms/blob/d3aaf4ddb326efcaffdbcc5af5c0e5c8bcaa36ea/packages/netlify-cms-core/src/components/Editor/EditorControlPane/Widget.js#L136

This might get tricky as currently validation runs in the core for all widgets once a user saves an entry. So a change might impact all widgets.

[2020-05-24 14:47] BA1RY commented on #3744
Thanks @erezrokah . How do you suggest me to go about implementing it then?

[2020-05-24 14:52] barthc commented on #3744
I would run the validation on `onBlur` event for performance.

[2020-05-24 15:08] erezrokah commented on #3744
@BA1RY, I don't have a good answer at the moment, I would first try to move the validation call from https://github.com/netlify/netlify-cms/blob/d3aaf4ddb326efcaffdbcc5af5c0e5c8bcaa36ea/packages/netlify-cms-core/src/components/Editor/EditorInterface.js#L137 to the `onChange` event and see what breaks 😄

[2020-05-24 19:21] ImaCrea commented on #1483
Yes please, it's much needed.

[2020-05-24 19:29] austincondiff commented on #2557
Just a quick update, here are my latest designs that align a bit closer with the mobile screens above.

![01-dashboard-view](https://user-images.githubusercontent.com/806104/82763074-7596e780-9dca-11ea-894f-0512620b6a70.jpg)
![02-collection-view-list](https://user-images.githubusercontent.com/806104/82763076-79c30500-9dca-11ea-8127-70b6351900fc.jpg)
![03-collection-view-thumbnail](https://user-ima

[2020-05-24 19:41] austincondiff commented on #1483
Something like this would be very useful. It falls in line with #3683 and #3684.

If an Authors collection is configured as @Mejanhaque mentioned, each Author should correspond directly with a Netlify account that has access to contribute to the site possibly via a user id. At that point if the entry has an authors select widget and you are creating a new entry, the current user should be pre-sele

[2020-05-24 20:51] lid commented on #3408
I saw this same issue (`Git Gateway Error: [object Object]` when trying to login to `/admin`) as well, but logging in with a GitHub identity. Like @BranonConor and folks in #3658, sending a password reset email from Netlify Identity and clicking the link seems to have resolved the issue.

[2020-05-24 21:01] stephaniedavidson opened #3798 "add video to post body"
**Is your feature request related to a problem? Please describe.**
I want to be able to add video (my own mp4s, not youtube) to my post body, here:
![image](https://user-images.githubusercontent.com/656405/82764798-9d447a80-9ddf-11ea-920f-f598889ce25c.png)

I see that you can use the `file` widget to upload videos, but I can't figure out how to apply this to the post body, which is getting rendere

[2020-05-24 22:22] reimertz commented on #531
I just tried to see if I could get the ball rolling on this issue.

1. Parse the single entry file to get array of content
2. Based on that content, generate new  "real" entries
3. Populate the collection with previously generated entries

Doing edits / adding new content would be similar to above but in reversed order.

But the assumptions of content being in separate files made it very complicat

[2020-05-25 05:36] d4rekanguok commented on #3798
Hi @stephaniedavidson, not sure how this'll do in mdx, but here's an example with vanilla markdown:

https://github.com/d4rekanguok/netlify-cms-markdown-video-example/blob/master/src/editor-video.js

You can play with it here: https://sad-lamport-b5c3d0.netlify.app/#/collections/post/new

For more information on what these fields do, [please see this section in the docs](https://www.netlifycms.org

[2020-05-25 06:04] d4rekanguok commented on #3797
Hey @akaelisee, in addition to @HeyITGuyFixIt comment above, could you describe how this error occur (on CMS startup, on publishing, etc.)? Reproducible steps will be very helpful.

[2020-05-25 06:36] #3793 closed

[2020-05-25 06:39] erezrokah commented on #3787
Closing per lack of response

[2020-05-25 06:39] #3787 closed

[2020-05-25 06:39] erezrokah commented on #3796
Closing. @liamkeily please follow the issue template

[2020-05-25 06:39] #3796 closed

[2020-05-25 06:42] #2530 closed

[2020-05-25 06:42] #2791 closed

[2020-05-25 06:57] erezrokah commented on #531
Hi @reimertz, thanks for pushing this forward.
What do you think about putting a draft PR for it? We can use it for the discussion.

Another option is our [#contributing](https://netlifycms.slack.com/archives/CPRR9L929) channel on Slack https://www.netlifycms.org/chat.

[2020-05-25 10:07] #3639 closed

[2020-05-25 10:36] erezrokah commented on #3797
Hi @akaelisee, the `config.yml` you posted has two fields which the same name:

[code]

Can you please rename one of them and try again? Closing this per more information

[2020-05-25 10:36] #3797 closed

[2020-05-25 10:39] erezrokah opened #3803 "Bug: missing config.yml validations"
Going to list here missing `config.yml` validations that I encounter. Feel free to add more.

- [x] Unique fields names
- [x] Widgets specific field configuration
- [ ] Backends configuration (missing `repo`, `app_id` for `implicit` auth, etc.) Related #1693

[2020-05-25 11:28] erezrokah commented on #3795
Hi @franva, I forked your repo and created a Netlify site from it.
I was able to create a new blog successfully, see PR:
https://github.com/erezrokah/askwinston/pull/3

As @HeyITGuyFixIt, it would be great if you can share the full error message from the browser console.
Also, I recommend updating to the latest version of the CMS

[2020-05-25 12:34] erezrokah commented on #3782
Hi @amykapernick, just posted a fix for this issue and would be happy to get your feedback to make sure it handles your use case.
Specifically this line https://github.com/netlify/netlify-cms/pull/3805/files#diff-f195d7cc6573e4193088947ee673daa3R196 that defaults the `url` to the same host configured under `allowed_hosts`.

[2020-05-25 12:53] melat0nin opened #3806 "TypeError: r.toJS is not a function"
**Describe the bug**
Trying to add a new post to a collection, the form appears for a second before `TypeError: r.toJS is not a function` is shown.

**Expected behavior**
I see the form for the new post

**Screenshots**
![image](https://user-images.githubusercontent.com/912688/82814380-f8817600-9e8e-11ea-8409-9a2416583f1d.png)

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.49`

[2020-05-25 13:00] smashercosmo opened #3807 "Removing all values from the list with empty array as default value results in array of one empty string"
**Describe the bug**
When list widget has empty array as default value, removing all values from it results in array of one empty string

**To Reproduce**
[code]
1. Create new post
2. Don't fill the tags input
3. Publish post
4. Check the data
[code]
5. Edit post by adding one tag
6. Publish and check the data
[code]
5. Edit post by removing this tag
6. Publish and check the data
[code]

**Expecte

[2020-05-25 13:03] erezrokah commented on #3806
Hi @melat0nin, closing as duplicate of https://github.com/netlify/netlify-cms/issues/3787
See comment https://github.com/netlify/netlify-cms/issues/3787#issuecomment-631323687

[2020-05-25 13:03] #3806 closed

[2020-05-25 13:09] erezrokah commented on #3780
Closing per lack of response

[2020-05-25 13:09] #3780 closed

[2020-05-25 13:09] melat0nin commented on #3806
Thank you!

[2020-05-25 13:19] erezrokah commented on #3753
Closing, please comment if nessecary

[2020-05-25 13:19] #3753 closed

[2020-05-25 13:19] erezrokah commented on #3761
Closing per lack of response

[2020-05-25 13:19] #3761 closed

[2020-05-25 14:55] BA1RY commented on #3744
@magomimmo @erezrokah I've made a PR for this issue. Please have a look at it. Thanks :smiley:

[2020-05-25 17:04] axeleroy opened #3809 "Custom editor component: Markdown widget is not rendered in preview"
**Describe the bug**
I created a new Editor Component with a title and a Markdown body.
After text has been styled, the preview displays the Markdown un-rendered.

**To Reproduce**
1. Register the following widget in `admin/index.html`
[code]
2. Log into CMS
3. Create new entry
4. Add Tab widget
5. Fill title and content of the widget

**Expected behavior**
The content of the widget is previewed w

[2020-05-25 18:25] magomimmo opened #3810 "relation widget performances"
**Describe the bug**
I switched from `ncw-file-relation` widget to the latest `relation` widget that has been recently extended to support folder to file collections relationship. Before the switch the performances were acceptable even with big JSON files. The new `relation` widget, instead, stays in waiting state forever.
**To Reproduce**
1. Take a json file (e.g. `data/cities.json`), representin

[2020-05-25 19:20] AdarshPan opened #3811 "Can I launch a website that deploys a machine learning model using Django,Keras and Tensorflow on Netlify?"
I have surfed a lot but haven't found the answer anywhere . My Website doesn't have any database ..so can i call it a static website and deploy it on Netlify?

[2020-05-25 19:27] tomrutgers commented on #3811
I fear the answer is no, as you probably need a running server even though you don't have a database, but try asking the [community forum](https://community.netlify.com/). I'm closing this issue since this repository is meant for Netlify CMS related issues and topics.

[2020-05-25 19:27] #3811 closed

[2020-05-25 20:20] HeyITGuyFixIt commented on #3809
How is it when it is saved?

[2020-05-25 20:26] HeyITGuyFixIt commented on #3809
You are simply returning the text content, `obj.content`. Idk what to do differently though.

[2020-05-25 21:17] axeleroy commented on #3809
Nevermind, I tried returning parsed HTML in `toPreview` using [marked](https://github.com/markedjs/marked) before, did not work then and now it does :man_shrugging:

Closing my issue then :wink:

[2020-05-25 21:17] #3809 closed

[2020-05-25 22:14] aphiwadChhoeun commented on #1403
I use `@nuxtjs/markdownit` to render, so my workaround is use HTML in the editor `<a href="https://www.google.com/" target="_blank">Goto Google</a>`, and set `html: true` in markdownit config:
[code]

[2020-05-25 23:11] stephaniedavidson commented on #3798
thanks for this, seems like exactly what I'm going for. So I have a `src/cms` directory where I've added your index.js file and editor-video.js file, and that alone doesn't change anything. Is there something I have to do in the configs?

[2020-05-26 00:51] franva commented on #3795
Morning @erezrokah thanks for your update.

I did check the full error message previously, but they were all generic message from all different uglified packages.

But the error seems gone after I cleaned other branches(because I saw in somewhere else people saying this fix worked for them)

[2020-05-26 01:48] franva commented on #3795
Also, do you know is there any existing solution to have a background music in a blog?

[2020-05-26 01:51] d4rekanguok commented on #3798
Do you have a `gatsby-plugin-netlify-cms` in your gatsby-config? If you do, you'd have to tell it the location of the cms index file:

[code]

[2020-05-26 01:57] d4rekanguok commented on #3810
Thanks for the sample file @magomimmo, I'll give it a try and see if I can find the issue.

[2020-05-26 02:03] d4rekanguok commented on #1052
This feature is now supported in the latest version of NetlifyCMS! See #3754

[2020-05-26 02:03] #1052 closed

[2020-05-26 05:21] stephaniedavidson commented on #3798
thank you! added that verbatim, but still no video tag in the editor. Using this setup: https://github.com/thomaswang/gatsby-personal-starter-blog

[2020-05-26 05:28] d4rekanguok commented on #3798
I think we might have gone a bit off-topic for this issue, if you don't mind I can offer more assistance in the community slack.

[2020-05-26 06:40] magomimmo commented on #3752
I think this issue resembles the #3810

[2020-05-26 06:41] magomimmo commented on #3810
Hi @d4rekanguok I think this is the same issue as #3752 regarding file-to-file relationship case as well.

[2020-05-26 08:49] erezrokah commented on #3795
Hi @franva, closing the issue as it is resolved.
As for your question as it is off topic for this issue I recommend asking in our community slack https://www.netlifycms.org/chat

[2020-05-26 08:49] #3795 closed

[2020-05-26 08:50] #3782 closed

[2020-05-26 09:57] alexearnshaw opened #3814 "Open authoring: Changes to same file by different author overwrites previous change"
**Describe the bug**
When a contributor (userB) starts making a change to the same file that another contributor (userA) has already changed and sent for review (but is not yet merged), and a maintainer merges the change from userA before userB sends his change for review, when userB sends his change for review, the changes from userA are overwritten.

**To Reproduce**
1. Edit a page using CMS as

[2020-05-26 10:07] erezrokah commented on #3814
Thanks for reporting @alexearnshaw, the CMS rebases with the default branch, but doesn't handle conflicts at the moment - resulting in overwriting (not strictly related to open authoring).
We should at least figure out a way to report the entry is currently being edited.
Also related https://github.com/netlify/netlify-cms/issues/277

[2020-05-26 10:28] erezrokah commented on #3727
Linking https://github.com/rehypejs/rehype-minify/issues/19 for context

[2020-05-26 10:33] erezrokah commented on #991
Closing as stale. Please re-open if having issues when pasting rich text (see https://github.com/netlify/netlify-cms/issues/3727 for example)

[2020-05-26 10:33] #991 closed

[2020-05-26 12:54] erezrokah commented on #3617
Fixed via https://github.com/netlify/netlify-cms/pull/3741

[2020-05-26 13:00] stephaniedavidson commented on #3798
will try slack and close the issue, thanks

[2020-05-26 13:00] #3798 closed

[2020-05-26 13:22] hanneskuettner commented on #3617
Hey @erezrokah could you reopen this since only part 1 has been implemented so far?
The dynamic filter (which is much more powerful an still warranted imho) is still open for discussion.

[2020-05-26 13:27] erezrokah commented on #3617
Sure thing, got too eager with closing issues 🤦

[2020-05-26 14:12] #3769 closed

[2020-05-26 16:33] hanneskuettner opened #3816 "Filter property for relation widget"
**Is your feature request related to a problem? Please describe.**

Sometimes I don't want the full list of entries listed in a relation widget, eg. I don't want to allow the author to select posts with a draft flag set to `true`. As such it would be nice to add a `filter` property to the relation widget that would allow me to filter selectable options in the relation widget.

**Describe the solut

[2020-05-27 06:55] abhisheksurve45 commented on #3807
@erezrokah  I would like to pick this one! Is it up for grabs?

[2020-05-27 08:08] alexearnshaw opened #3819 "CMS not loading, blank screen"
**Describe the bug**
When we open the CMS in our project this morning all we see is a blank page. No errors showing in the console. Everything working fine yesterday. This might not be a CMS bug but I can't find anything changed on our side either, so we're at a loss and would appreciate any help!

**To Reproduce**
1. Go to https://axway-open-docs.netlify.app/docs/
2. Click "Edit on Netlify CMS" o

[2020-05-27 08:16] erezrokah commented on #3819
Thanks for reporting @alexearnshaw.
We haven't released a new version recently so not sure what is the issue.
Did notice the CMS is not initialised via `config.js` and also this:
![image](https://user-images.githubusercontent.com/26760571/82994842-75d1f580-a00b-11ea-8ccd-040cd31c5f61.png)
Which seems related to that warning message regarding `babel`

[2020-05-27 09:03] alexearnshaw commented on #3819
@erezrokah Thanks, we haven't changed anything in config.js since yesterday when everything was working. I did make some changes to config.js yesterday but that was on a different branch, so I don't think that's the issue. I've also tested some other sites of ours that don't have these changes at all and they all give the same result...

We also have someone working on setting up redirects in our

[2020-05-27 09:23] erezrokah commented on #3819
Maybe this is related https://github.com/babel/babel/issues/11621#issue-625277350

[2020-05-27 09:26] erezrokah commented on #3819
You can try using `https://unpkg.com/@babel/standalone@7.9.0/babel.min.js` here https://github.com/Axway/axway-open-docs/blob/e7113b55a79b16108f93e1d89294725d9e4c4ea5/static/admin/index.html#L22

[2020-05-27 10:27] alexearnshaw commented on #3819
Thank you so much @erezrokah changing to version 7.9.0 of babel has fixed our issue!

[2020-05-27 10:31] erezrokah commented on #3819
That's great @alexearnshaw, closing this issue. I recommend watching the issue I linked from the babel repo so you can go back tp using the latest version when they publish a fix.

[2020-05-27 10:31] #3819 closed

[2020-05-27 12:31] josh-unwin opened #3821 "Allow users to add additional options to the select widget directly"
As per the [`react-select`](https://react-select.com/home#creatable) module, it would be great if Netlify CMS could allow users to add additional options to the select widget directly from itself.
<img width="576" alt="Screenshot 2020-05-27 at 14 28 20" src="https://user-images.githubusercontent.com/49525488/83018998-82b01280-a026-11ea-8fd2-e1b489b7648e.png">

The difficulty here is whether this a

[2020-05-27 13:14] #1348 closed

[2020-05-27 18:42] amadeann commented on #1415
I also wasn't able to access the admin panel for a private repo belonging to an organization. Here's how I fixed it:

1. Go to https://github.com/settings/applications
2. Select `Authorized OAuth Apps` tab
3. Click on `Netlify CMS`
4. Click on `Grant` next to your organization name

This assumes that you already granted access to `Netlify CMS` from your private profile.

[2020-05-27 21:17] Serhazor commented on #3807
Was trying to find this list widget, but there are quite a few files there, can you you gimme a hand with finding where it is? Thanks!

[2020-05-27 21:42] tomrutgers commented on #3807
@Serhazor https://github.com/netlify/netlify-cms/tree/master/packages/netlify-cms-widget-list

[2020-05-28 08:02] erezrokah commented on #3764
Related https://github.com/netlify/netlify-cms/issues/1692

[2020-05-28 08:08] erezrokah commented on #3561
Closing due to lack of response

[2020-05-28 08:08] #3561 closed

[2020-05-28 08:11] erezrokah commented on #3402
Closing, please comment if you have any more questions

[2020-05-28 08:11] #3402 closed

[2020-05-28 08:19] erezrokah opened #3827 "Docs: add known issues and solutions section to the docs"
Related to https://github.com/netlify/netlify-cms/issues/2827

We should add a "known issues" section to the docs so users can self serve common issues.
Partial list to be updated:
- [ ] GitHub private+public+organisations permissions issues (e.g. https://github.com/netlify/netlify-cms/issues/1415)
- [ ] Having a branch named `cms` fails editorial workflow (https://github.com/netlify/netlify-cms/i

[2020-05-28 09:22] Undistraction opened #3828 "Unsolvable Peer Dependency Warning"
Yarn gives the following peer-dependency warning when using Redux 4+:

Looks like `redux-notifications` has been abandoned and isn't going to update its peer dependency to cover anything later than redux@3 (redux is on `4.0.5` at time of writing).

No PR merged since 2108, so I'm guessing the only solution here is to swap out redux-notifications for something else.

**Applicable Versions:**
 - Net

[2020-05-28 10:47] erezrokah commented on #941
Update: I was able to create a reproduction of this issue based on https://github.com/netlify/netlify-identity-widget/issues/142#issuecomment-395894548

1. Publish a site with `git-gateway`, Netlify Identity and Netlify CMS.
2. Serve the site locally and login to the CMS.
3. Go to the live site and login to the CMS in a new browser window/tab.
4. Go back to the browser window with the local versio

[2020-05-28 11:39] Serhazor commented on #3807
Sorry, can't figure out how to fix this :-( Looking through the code, but it doesn't make sense why this would give "" instead of []

[2020-05-28 13:20] cdeath opened #3829 "setting title field as relation causes entry titles not to appear"
**Describe the bug**

setting title field as relation causes entry titles not to appear.

**To Reproduce**

[code]

**Expected behavior**

entry titles should appear, as there is no difference in the frontmatter formatting when the relation is not multiple.

**Screenshots**

![image](https://user-images.githubusercontent.com/17791147/83145862-5e6b3900-a0ed-11ea-841d-cb1cf1a76408.png)

**Applicable

[2020-05-28 13:29] erezrokah commented on #3829
Hi @cdeath the CMS tries to infer the title field based on the field name and type.
For the title it expects a string widget.
You can set:
[code]
To force it to use the relation field.

See more https://www.netlifycms.org/docs/configuration-options/#identifier_field

[2020-05-28 13:35] cdeath commented on #3829
that works, thanks!

still i did not expect having to set that as the field is already the title.
also the documentation makes no reference to the field type.

[2020-05-28 14:11] erezrokah commented on #3829
You're right I think we have an issue somewhere to improve field inference/make it visible.
I'll try to find it

[2020-05-28 16:26] zmre opened #3830 "Import of netlify-cms-app unconditionally calls init"
This may be related to the closed and stale issue #1908.

**Describe the bug**
The [beta docs](https://www.netlifycms.org/docs/beta-features/#manual-initialization) show that you can manually init and that the passed in config will override the values in `config.yml` if you set `window.CMS_MANUAL_INIT = true` before importing CMS.

This was true at one time, but the check for `CMS_MANUAL_INIT` see

[2020-05-28 16:48] zmre commented on #3830
I'm going to close this. The issue was not coming from netlify-cms, but from `gatsby-plugin-netlify-cms` which needed a `manualInit: true` option. Sorry for the bother.

[2020-05-28 16:48] #3830 closed

[2020-05-28 16:48] zmre commented on #3830
Although it's worth noting that the documentation on the beta page is still outdated...

[2020-05-28 16:57] jkester1986 opened #3831 "TypeError: r.toJS is not a function"
**Describe the bug**
Tried to open a page under our Admin Dashboard collection for editing, got the error in the title. Happens for all pages under this collection. Other collections are unaffected.

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.49`
 - Git provider: `github`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Ge

[2020-05-28 18:19] robbymilo commented on #1452
@moshie Did you ever find a solution? I'd like to try to contribute a solution here as nested shortcodes in previews would be very powerful for editors when making complex layouts. Any guidance @erquhart?

[2020-05-28 23:33] sasilver75 commented on #3408
Having this problem with an 11ty site using Netlify CMS -- Password reset email from Netlify identity didn't resolve the issue from me
![image](https://user-images.githubusercontent.com/7740431/83204520-e6a70980-a100-11ea-86cb-d97961f84cc9.png)

[2020-05-29 07:44] PetroPavlenko opened #3833 "cannot make filter to work with CMS.init"
**Describe the bug**
In my team we tried to use [filter](https://www.netlifycms.org/docs/add-to-your-site/#filter) feature with `CMS.init` but this doesn't work. I know that filter should work with folder collection. But I haven't found way to add them using CMS.init. Maybe I'm doing something wrong?

**Applicable Versions:**

 - Netlify CMS version:2.12.9
 - Git provider: GitHub
 - OS: OS X
 - Br

[2020-05-29 09:39] begonaalvarezd commented on #192
What is the status of cascade deletion? Once the content is published and I remove an entry that is linked in multiple places, I am having hard times finding where all these broken dependencies are and fix them by hand. I feel that this is really a needed feature, or am I missing something?
Thanks!

[2020-05-29 10:51] barthc commented on #3833
You would have to setup two collections and use the filter option like so for both:
[code]
Or you can use the  [view_filters](https://www.netlifycms.org/docs/configuration-options/#view_filters) options, no need to setup another collection in this case.
[code]

[2020-05-29 11:16] barthc commented on #3831
In your  Admin Dashboard collection change `displayFields: title` to `displayFields: [title]`

[2020-05-29 11:23] alexearnshaw commented on #3790
For anyone interested, here's a summary of how I got Netlify CMS working with a development and production branch.

First set up Netlify to build a `develop` branch as well as production:
![image](https://user-images.githubusercontent.com/29064556/83254500-c3369a00-a1a6-11ea-8490-6ca73013a9d4.png)

Now our production site is available on https://axway-open-docs.netlify.app/ and our development sit

[2020-05-29 12:34] PetroPavlenko commented on #3833
@barthc I use js to declarate configs. I tried
[code]

[2020-05-29 12:54] barthc commented on #3833
Whoops sorry my bad, thought added the `filter: { field: "isExcludedFromSitemap", value: true },` to as a collection level config ..

[2020-05-29 17:33] austincondiff commented on #2557
For anyone that wants to contribute to the design, I am converting all my designs to live in Framer web. Send me your email address via [Slack](https://netlifycms.slack.com) and I can invite you to the project.

[2020-05-29 21:24] onelharrison commented on #3709
@erezrokah I'd like to work on this issue.

[2020-05-30 00:30] #3833 closed

[2020-05-30 16:05] #3831 closed

[2020-05-30 17:56] thinklinux commented on #2557
Hey @austincondiff how can I contribute implementing those to the CMS? Awesome job by the way! I love it!

[2020-05-30 20:09] stephaniedavidson commented on #2259
also seeing this every time, was there a fix? Didn't see one in the #3645 link unless I missed something

[2020-05-30 20:14] barthc commented on #2259
@stephaniedavidson  Yes this issue already fixed in #3645. Please upgrade your CMS version if you haven't.

[2020-05-31 08:18] erezrokah commented on #3830
Thanks for reporting the issue and solution!
On a side not, you don't need to put `local_backend: true` behind a condition to test for localhost - the CMS handles that already:
https://github.com/netlify/netlify-cms/blob/5bbaf41f73c0debf31636dd38fd536268ae2c0f5/packages/netlify-cms-core/src/actions/config.js#L189

[2020-05-31 08:25] jochemkeller commented on #2557
Similar to @thinklinux I would also like to contribute to implementing these awesome designs 💪 it seems I can't join Slack however? 🤔

[2020-05-31 08:31] erezrokah commented on #3408
Hi @sasilver75, can you try this https://github.com/netlify/netlify-cms/issues/1415#issuecomment-634864927 if relevant or re-generation the `git-gateway` token from Netlify site settings under identity?
More resources:
https://docs.netlify.com/visitor-access/git-gateway/
https://community.netlify.com/t/git-gateway-error/12220/15
Also, if any of the suggestions work can you comment on https://githu

[2020-05-31 08:37] erezrokah commented on #192
Hi @begonaalvarezd, a quick win for handling deletions might be to add a `preDelete`, `postDelete` events:
https://www.netlifycms.org/docs/beta-features/#registering-to-cms-events

The at least a user can have some kind of automated way to handling it.
If that makes sense you can open a new issue for adding those events.

Having the CMS track dependencies and cascading deletion is a much bigger li

[2020-05-31 08:42] erezrokah commented on #3790
Thanks for sharing @alexearnshaw, this looks 🔥
Linking https://github.com/netlify/netlify-cms/issues/3827 for context
Closing the issue.

[2020-05-31 08:42] #3790 closed

[2020-05-31 08:53] erezrokah commented on #3831
Also duplicate of https://github.com/netlify/netlify-cms/issues/3787

[2020-05-31 09:36] bauer01 commented on #2694
Hi @RobertBroersma ... have you tried to implement this? I think it's very desirable and I wonder that nobody still wants this feature :-)

[2020-05-31 10:02] RobertBroersma commented on #2694
Hi @bauer01

I haven't tried. I haven't been using a lot of CMS-es lately 😅

If you're looking for a CMS for page-building you could check out the blocks feature of TinaCMS: https://tinacms.org/ I haven't tried it yet myself but it seems to do what I describe in this issue :)

[2020-05-31 17:25] thinklinux commented on #2557
@jochemkeller Hey. What's the problem with slack that you are having? I didn't have any issues joining in. We will even have a discussion today with @austincondiff 🥳

[2020-05-31 19:43] austincondiff commented on #2557
@jochemkeller Just sent you a message via your website.

[2020-06-01 09:25] renovate[bot] opened #3840 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update errata-ai/vale-action digest to e3c434a
 - [ ] chore(deps): update dependency @testing-lib

[2020-06-01 17:12] tcitworld opened #3842 "Gitlab exposes target_url only for external builds"
**Describe the bug**
I'm unable to use the deploy preview feature with Gitlab as a backend. My setup makes use of environments to tell to Gitlab the preview URL:
![image](https://user-images.githubusercontent.com/2197836/83432017-81248700-a438-11ea-89ec-21133063bb3a.png)

[code]

The Netlify CMS Gitlab backend [fetches the `target_url` information](https://github.com/netlify/netlify-cms/blob/maste

[2020-06-01 17:45] erezrokah commented on #3842
Hi @tcitworld, I'm not sure I understand the bug.
It's up to the CI service/build process to set the commit status with the preview URL (`target_url`).

As long as you pass a token with relevant permissions you should be able to add a commit status via the API `https://docs.gitlab.com/ee/api/commits.html#post-the-build-status-to-a-commit`

[2020-06-01 19:22] jochemkeller commented on #2557
Awesome, thanks @austincondiff! Let's do this 💪

[2020-06-01 20:42] davideforestali commented on #1044
found a solution to that. I create my editor component in React and stringify it.
the stringified component also has to match the 'pattern' regex. here's how:

`import React from 'react';
import { renderToString } from 'react-dom/server';
import CMS from 'netlify-cms-app';

const TravelQuote = (props) => {
  const authorIsAnonymous = authorName && authorName.toLowerCase() === 'anonymous';
  const

[2020-06-01 21:04] davideforestali commented on #1806
found a solution to that. I create my editor component in React and stringify it.
the stringified component also has to match the 'pattern' regex. here's how:

import React from 'react';
import { renderToString } from 'react-dom/server';
import CMS from 'netlify-cms-app';

const TravelQuote = (props) => {
  const authorIsAnonymous = authorName && authorName.toLowerCase() === 'anonymous';
  const a

[2020-06-02 02:58] rokib-rajon opened #3845 "NetworkError when attempting to fetch resource."
**Describe the bug**
NetworkError when attempting to fetch resource.

**To Reproduce**

Steps to reproduce the behavior. For example:
1. Go to 'https://determined-aryabhata-ec886e.netlify.app/admin/'
2. Click on 'Login with Netlify Identity'
3. Scroll down to '....'
4. See error

**Expected behavior**
NetworkError when attempting to fetch resource.

**Screenshots**
![Screenshot_2020-06-02_08-49-55

[2020-06-02 06:51] tcitworld commented on #3842
Gitlab CI already sets a status on the commit (with `"status": "success"` among other things), but doesn't include the `target_url` information. I may be able to `POST` another commit status containing the information through API from inside Gitlab CI, but it definitely feels like it's not the correct way to to this.

I found [this issue](https://gitlab.com/gitlab-org/gitlab/-/issues/29258#note_21

[2020-06-02 08:12] erezrokah commented on #1044
Thanks for sharing your solution @davideforestali!

[2020-06-02 08:20] erezrokah commented on #3845
Hi @rokib-rajon thank you for reporting the issue.
I'm getting 404 when trying to access the link you provider or even https://determined-aryabhata-ec886e.netlify.app/

[2020-06-02 08:41] erezrokah commented on #3842
Hi @tcitworld, you could contact GitLab about setting `target_url` in their CI, but I think it might be better to have two different statues - the default one set by GitLab CI and another for the deploy preview.

You can see an example in a CircleCI job here (though with GitHub):
https://github.com/erezrokah/gatsby-netlify-cms-aws/blob/5e7c9197d40797a73cf1393fbf95c4112b68de88/.circleci/config.yml#

[2020-06-02 09:25] rokib-rajon commented on #3845
It's working now !

[2020-06-02 09:25] #3845 closed

[2020-06-02 12:25] Undistraction opened #3846 "Singular Resource"
**Is your feature request related to a problem? Please describe.**
Sometimes a resource will only ever be singular, for example you might have a top-level 'Site' that has site-level config. However this can only be represented as a collection. In this case it makes no sense for a collection of 'sites' as there is and will only ever be a single site

**Describe the solution you'd like**
It would be

[2020-06-02 12:38] erezrokah commented on #3846
Hi @Undistraction, can we close as duplicate of https://github.com/netlify/netlify-cms/issues/535?

[2020-06-02 12:50] Undistraction commented on #3846
@erezrokah Ah. I did look for an existing issue, but didn't see that one.

[2020-06-02 12:50] #3846 closed

[2020-06-02 14:59] lukeocodes opened #3848 "TypeError: e.join is not a function"
**Describe the bug**

When I try to open an existing post inside CMS, I get met with the following error.

![image](https://user-images.githubusercontent.com/956290/83535391-d10f5680-a4e9-11ea-9b75-90cd4f324e16.png)

**To Reproduce**

- Login
- Click on any existing published post to edit it
- Get error

**Expected behavior**

- Login
- Click on any existing published post to edit it
- Get edit sc

[2020-06-02 15:36] erezrokah commented on #3848
Hi @lukeocodes, does this happen with every post or a specific post?
Can you share that post content?
I tried using your configuration and was able to create a new post and open the editor.
Also you can use `media_folder: /static/content/blog/{{slug}}/` (notice the forward `/`) to reference an absolute path.

[2020-06-02 16:32] jwholmes opened #3849 "TypeError: Cannot read property 'pathname' of undefined"
**Describe the bug**

Unable to see preview (and I presume publish) UK blogs.

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.8`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.61 Safari/537.36`

**CMS configur

[2020-06-02 16:33] #3849 closed

[2020-06-02 18:48] siweizzz commented on #3845
@rokib-rajon what did you change to get it working? I'm getting the same error "NetworkError when attempting to fetch resource."

[2020-06-02 20:14] kubek93 commented on #2979
I've found after 2 hours good approach to declare custom widgets based on exists. You can use this snippet:
[code]
I don't know why authors do not officially support it and write something about that in the documentation. I'm using a lot of similar components on my page and this really help me to reduce general `config.yml` file.

[2020-06-02 23:55] absentees commented on #2829
@saschatu thanks for your link. Is this still the only way to achieve a relationship using Gridsome (not as familiar but looks like it also needs an ID)?

[2020-06-03 08:51] erezrokah commented on #2829
### Updates
1. You can now use the `slug` template variable in the [relation widget](https://www.netlifycms.org/docs/widgets/#relation) which I think is preferred over an id widget (since it doesn't require an additional field on the referenced collection). Regardless we can track having an id widget in [this dedicated issue](https://github.com/netlify/netlify-cms/issues/3712).
2. As for auto gene

[2020-06-03 09:44] #941 closed

[2020-06-03 09:44] #3779 closed

[2020-06-03 09:52] lukeocodes commented on #3848
ahh i believe the configuration of category was invalid. I've modified it and it seems to be okay now

[2020-06-03 09:52] #3848 closed

[2020-06-03 10:07] #3709 closed

[2020-06-03 10:16] #3755 closed

[2020-06-03 13:21] rokib-rajon commented on #3845
@siweizzz
I did nothing, after few hours it started to work. I think the problem is from netilfy end.

[2020-06-03 13:40] PierW opened #3852 "Responsiveness"
1) **Netlify-cms is not responsive.**

2) **Make it mobile first**

[2020-06-03 13:44] erezrokah commented on #3852
Closing in favour of:
https://github.com/netlify/netlify-cms/issues/1358
https://github.com/netlify/netlify-cms/issues/441
https://github.com/netlify/netlify-cms/issues/2984
https://github.com/netlify/netlify-cms/issues/2557

[2020-06-03 13:44] #3852 closed

[2020-06-03 13:54] smashercosmo opened #3853 "Getting rid of Immutable.js"
**Is your feature request related to a problem? Please describe.**
1. Immutable.js is not maintained
2. Immutable.js is quite big
3. Immutable.js makes using netlify-cms less easy, especially when creating page previews, when you have to do things like
[code]

**Describe the solution you'd like**
Standard solution to deal with immutable data structures nowadays is Immer.js
https://github.com/immer

[2020-06-03 13:55] erezrokah commented on #3853
Huge thumbs up! This is a tech debt, but will require a breaking change so probably for v3

[2020-06-03 14:08] erezrokah commented on #3853
We already have `immer` [as a dependency](https://github.com/netlify/netlify-cms/blob/2b46608f86d22c8ad34f75e396be7c34462d9e99/packages/netlify-cms-core/package.json#L37) so we could start by removing non API related usages of immutable.
For example - we could change the reducers, but keep immutable when passing props to widgets.

[2020-06-03 14:28] ankitshekhawat commented on #1934
You could also use Go's built-in parse function:
`<img src='{{ $.Params.cloudinaryPathThumb }}{{ path.Base (urls.Parse .cloudinaryFullURL ) }}' />`

Maybe write this in a shortcode to get to check if the Host is Cloudinary to conditionally parse the image

[2020-06-03 16:59] garrettboatman commented on #2307
Use case for passing `widgets` down to `object`s contained in a `list`.

`config.yml`
[code]

`admin.html`
[code]

outputs (with Immutable formatting)
[code]
But, when I use a standard list:
[code]
`admin.html` outputs
[code]

Current workaround to render markdown with `https://www.npmjs.com/package/marked` and `dangerouslySetInnerHTML`:
[code]
[code]

[2020-06-03 18:08] siweizzz commented on #3845
Thanks for the reply, it's also working for me now. I did some reading on this yesterday, I think it's because I changed the site name and the DNS needs time to propagate.

[2020-06-04 08:58] taskooh commented on #3737
I've tried many patterns, but none of them works for me.
this is my repo.
https://github.com/staketechnologies/HP-2020

[code]
"Objects are not valid as a React child (found: Fri May 08 2020 09:00:00 GMT+0900 (日本標準時)). If you meant to render a collection of children, use an array instead." Error while opening existing md.

[code]
Able to open existing md in cms
But created new post md will be like

[2020-06-04 09:03] taskooh commented on #3737
https://github.com/netlify/netlify-cms/issues/2455
This issue looks related, but it wasn’t a solution for me

[2020-06-04 11:00] tinfoil-knight commented on #3263
@austincondiff Can I claim this issue?

[2020-06-04 13:23] austincondiff commented on #3263
Of course!

[2020-06-04 16:36] sharadcodes opened #3854 "Hugo shortcodes editor Components for the CMS"
I've created Editor Components for Hugo shortcodes which users can import in their CMS.
I hope this will get added.

Here is the link of repo: https://github.com/sharadcodes/hugo-shortcodes-netlify-cms

[2020-06-04 16:42] erezrokah commented on #3854
Hi @sharadcodes, thank you for this!
How about adding it to our examples page https://www.netlifycms.org/docs/examples/ via a PR/edit link?

[2020-06-04 17:03] sharadcodes commented on #3854
Example ? I think its better to add it to the https://www.netlifycms.org/docs/custom-widgets/
page

What do you say ?

[2020-06-04 17:14] erezrokah commented on #3854
Adding SSG specific code to that part of the docs might confuse people not using Hugo.
How about https://www.netlifycms.org/docs/hugo/?

[2020-06-04 17:26] sharadcodes commented on #3854
Yeah That page is fine, What should I do a PR ?

[2020-06-04 17:46] erezrokah commented on #3727
FYI, a fix was released but it requires an additional fix to work https://github.com/rehypejs/rehype-minify/issues/19#issuecomment-638730080

[2020-06-04 19:20] tinfoil-knight commented on #3263
@austincondiff Do I refer the first image or the second one for making changes to the UI?
![82763080-7fb8e600-9dca-11ea-81de-4d5163604dda](https://user-images.githubusercontent.com/51631122/83801229-69623280-a6c6-11ea-95c7-32e773eead5f.jpg)
![63219882-57b49c00-c141-11e9-9f79-9fa7598b19b1](https://user-images.githubusercontent.com/51631122/83801296-8565d400-a6c6-11ea-8152-f69f3de886d9.jpg)

[2020-06-04 19:58] lilpolymath commented on #3666
I will work on this.

[2020-06-04 20:09] xldrkp opened #3856 "As an editor with a German locale I expect the label to stay upper case"
**Describe the bug**

`label` and `label_singular` are transformed to lower case when they are upper case by intention in the `config.yml`. This is at least true for the German locale.

**To Reproduce**

Write `label: Autor` in the `config.yml`

**Expected behavior**

I expect the label of the field or panel to be "Autor"

**Screenshots**

![Auswahl_021](https://user-images.githubusercontent.com/1

[2020-06-04 22:39] TrySound commented on #1321
https://github.com/ricardo-ch/react-easy-crop supports zooming unlike react-image-crop

[2020-06-04 23:39] mcfarlanedev commented on #565
Hi guys, I would love to see this feature added too. I have a requirement for a page builder. The way I would like to work would be that a collection's fields would be rendered out depending on which dropdown option you selected.

[2020-06-04 23:58] mcfarlanedev commented on #565
Hi guys, I would love to see this feature added too. I have a requirement for a page builder. The way I would like it to work would be that you create a new page based on the following in your config.yml:

[code]

The relevant fields for each type of Layout would be rendered out in the editor panel depending on which dropdown option you selected. Although, I'm not sure how I would associate each d

[2020-06-05 14:11] magomimmo commented on #3810
Hi @d4rekanguok did you have the opportunity to take a look at this issue. The perfomance issue of the relation widget is pervasive no matter if you create a folder to folder relation, a folder to file relation or even a file to file relation.

[2020-06-05 14:54] nick-funk opened #3861 "Netlify is incorrectly adding commit checks/creating deploys for feature branches"
**Describe the bug**

I've configured Netlify to only deploy the master branch, but it has added commit checks to all of our feature branches and is also creating ghost deploys for them that are not tied to any real Netlify site.

I call them ghost deploys because it appears to have created a new site name called `stupefied-edison-a85716` that does not exist under our Netlify account (we only had

[2020-06-05 15:10] austincondiff commented on #3263
The first dark image. The editor header is separate from the app header FYI. The app header will be on the collection pages and the workflow page, but won’t be on the editor page. I will update the issue with the latest mockups.

[2020-06-05 18:03] tinfoil-knight commented on #3263
@austincondiff Are the React components going to be `class` based or functional?

[2020-06-05 20:13] barthc commented on #3854
@sharadcodes  start you PR title with `fix`, `chore`,  `feat` or `security` depending on what your PR
 is for, to add the labels.

[2020-06-06 02:10] sharadcodes commented on #3854
No luck tried everything @barthc

[2020-06-06 04:32] sharadcodes commented on #3854
Done @barthc thanks

[2020-06-06 13:04] vrabe commented on #3737
I think it relates to #3569 . It makes a date-like string parsed into Date object.

[2020-06-06 13:20] vrabe commented on #3737
It relates to #3569 and #3567. It parse `YYYY-MM-DD` or date-like string into `Date` object.

[2020-06-07 01:23] mcfarlanedev commented on #1480
Would also love to see this implemented. It would really help with the combination of the variable list widget, so that the user cannot accidentally add more than 1 page template per page. Take this as an example. Without a limit on sections key, the user can add more than 1 template per page in this case. You'd almost always want the option to restrict the page layout (sections) to just a max val

[2020-06-07 01:30] mcfarlanedev commented on #1480
Would also love to see this implemented. It would really help when using the [Variable Types List Widget](https://www.netlifycms.org/docs/beta-features/#list-widget-variable-types), so that the user cannot accidentally add more than 1 page template per page. Take this as an example. Without a limit on template key, the user can add more than 1 template per page in this case. You'd almost always wa

[2020-06-07 07:26] erezrokah commented on #3861
Hi @nick-funk thank you for reporting this issue.
Do you mind posting it under the Netlify community https://community.netlify.com?
This repo is intended for Netlify CMS related issues.

[2020-06-07 11:01] #3727 closed

[2020-06-07 12:25] #3666 closed

[2020-06-07 13:04] #3854 closed

[2020-06-07 17:23] lilpolymath commented on #3827
I will work on this. If there are other issues commonly faced, I will check around too.

[2020-06-08 05:15] nigel5 commented on #3334
@erezrokah this is an interesting feature that can be added. did some research and looks like GitHub and BitBucket has a public api for the status. I'll be interested in getting a PR for this if @amarpathak no longer active. Let me know.

[2020-06-08 06:59] rbumg commented on #3856
This appears to be the result of an explicit conversion (Reference: [1](https://github.com/netlify/netlify-cms/blob/397857855b2c8514c2f7ce83756af6b6698abc3d/packages/netlify-cms-widget-list/src/ListControl.js#L527) & [2](https://github.com/netlify/netlify-cms/blob/397857855b2c8514c2f7ce83756af6b6698abc3d/packages/netlify-cms-widget-list/src/ListControl.js#L550)) using `toLowerCase()`.

[2020-06-08 08:11] erezrokah commented on #3334
Thanks @nigel5, I've assigned to it.
It should be easier to implement now since https://github.com/netlify/netlify-cms/pull/3847 has been merged

[2020-06-08 08:46] erezrokah commented on #3842
Closing as this is not a CMS issue

[2020-06-08 08:46] #3842 closed

[2020-06-08 12:07] kylekirkby opened #3876 "Default Entries to display in the grid view instead of list"
Hi all,

I may have missed this in the documentation but it would be great if we could default collections to display in the _Grid View_ instead of the _List View_.

List View
![Screenshot from 2020-06-08 13-06-22](https://user-images.githubusercontent.com/4564433/84028621-f89e6d00-a988-11ea-803f-6dda5cbef229.png)

Grid View
![Screenshot from 2020-06-08 13-06-33](https://user-images.githubusercont

[2020-06-08 12:10] erezrokah commented on #3876
Thanks @kylekirkby, view preference should be persisted between sessions - I think that is not the case at the moment

[2020-06-08 14:42] erezrokah commented on #3702
Your analysis is correct and thank you for posting the PR.
Your first suggestion is actually a breaking change - see https://github.com/netlify/netlify-cms/issues/3567 so going with the second one is good 😄

[2020-06-08 14:48] nick-funk commented on #3861
Hi @erezrokah, I can actually close this. Apparently someone was fiddling with an app and didn't let me know. This was purely user error, my mistake for not checking more thoroughly before posting an issue.

[2020-06-08 14:48] #3861 closed

[2020-06-08 14:49] erezrokah commented on #3861
Thanks for the follow up!

[2020-06-08 18:17] nigel5 commented on #3334
@erezrokah Ok. What do you think about updating the existing status function in Implementation.ts to return `Promise<{ auth: boolean, backend: boolean }>` ?

For the backend providers that don't have a status api we can just assume true for the backend.

[2020-06-08 18:18] nigel5 commented on #3334
When status.backend === false it can show a warning. Similar to #3847 when logged out.

[2020-06-08 18:55] lookea commented on #1206
What is the https://app_name.netlify.app/.netlify/large-mediaapi call done ? that seems to work together with git-gateway auth, it has a /verify resource,  and why it is different from the lfs service url that is something like https://XXXXXXXXXX.netlify.com/.netlify/large-media very similar structure. I don't see that webservice anywere on the github repository of netlify, and it doesn't follow t

[2020-06-09 06:31] erezrokah commented on #3334
That sounds good @nigel5, just I would use `Promise<{ auth: boolean, api: boolean }>`

Also, we shouldn't show the `auth` error if `api` fails since most likely `auth` won't work unless `api` is up.

[2020-06-09 07:20] erezrokah commented on #1206
Hi @lookea, those calls are equivalent expect using a different domain name for the site. The API stays the same.
The way Git LFS works is by uploading files that match a certain patten to a 3rd party service (Netlify Large Media in this case) instead of saving them directly in the repo.
What's saved in the repo is a pointer file containing information that can be used to extract the file from the

[2020-06-09 14:17] erezrokah commented on #3803
Re-opening as I added backends validation to the list.
We can use the same approach as https://github.com/netlify/netlify-cms/pull/3841

[2020-06-09 14:23] erezrokah commented on #2850
Hi @Levino, you can configure this via https://www.netlifycms.org/docs/github-backend/#specifying-a-status-for-deploy-previews

By deploy the CMS looks for `deploy` in the context: https://github.com/netlify/netlify-cms/blob/0bdddfd43b45e4a7cb2a7d7c90e5eb005b2e317d/packages/netlify-cms-lib-util/src/API.ts#L149

[2020-06-09 14:23] #2850 closed

[2020-06-09 14:58] srchulo commented on #1206
@erezrokah so even though GitHub supports LFS, it's missing some API call to upload media as LFS through Netlify CMS? Can't Netlify CMS add media files by committing using LFS?

[2020-06-09 15:07] JohJonker opened #3880 "Loading editor is very slow (≥10 seconds)"
**Describe the bug**
Clicking an item in the list view and opening the editor is slow (≥10 seconds). Looking at the Chrome DevTools network request, I can see that around 25 requests are being sent, many of which seem to be unrelated to the current item.

Context:
- I have 4 collections, with ±530, ±80, ±10 and ±10 items, respectively;
- In the one collection I have three relation widgets (see bel

[2020-06-09 16:33] erezrokah commented on #1206
That would require the CMS to have a JavaScript implementation of the `git-lfs` protocol and also has some challenges on using the OAuth token for such operations.

Of course I'm open to someone from the community looking into this.

[2020-06-09 16:39] erezrokah commented on #3880
Hi @JohJonker, this might be a duplicate of https://github.com/netlify/netlify-cms/issues/3468
What do you think?

[2020-06-09 17:02] erezrokah opened #3881 "Feat: better deploy preview visibility"
We should consider using Netlify API to get deploy status when there is no commit status when the backend is `git-gateway`.

That can happen when builds are queued in Netlify thus not having their commit status set yet.

[2020-06-09 17:33] #3881 closed

[2020-06-09 17:43] lookea commented on #1206
I understand how it works so it is dependent on the oauth handling of git-gateway in order to support pushing the lfs files, anyway is there any reason why the code for the large-media endpoint to not be public available ? I think having that I can try to adapt it to git lfs, and work on the required cms js stuff side given to me it is only supporting netlify lfs only

[2020-06-09 17:50] lookea commented on #1206
Is sad but the only direct way of communication happens with git backend implementation, and even there given how github works you require a middle man to get the oauth token, that is ok  given it can easily be implemented, netlify provide it out of the box of course, but LFS is a little more complex, given you have more auth stuff to handle, netlify does this by using the git-gateway a more compl

[2020-06-09 18:17] erezrokah commented on #1206
I think this discussion is getting a bit out of focus.

You don't need `git-gateway` to have LFS.

We recently had a community contributed PR to support LFS for Bitbucket - that was possible since Bitbucket exposes its LFS API.

Since GitHub doesn't expose an LFS API adding such an implementation is not straightforward when used directly.

A possible solution at the moment (not involving Netlify o

[2020-06-09 18:28] moshie commented on #1452
It's been a while I no longer work for the company I needed this for.

Hope you manage to figure it out

[2020-06-10 00:46] nigel5 commented on #3334
Sure. I have added the functionality to ping the status page for GitHub and BitBucket. When the status page summary is "critical" it shows a toast message, which would need to be localized later.

And as you mentioned, If status.api === false, it will not action the Auth toast message

https://github.com/nigel5/netlify-cms/commit/e779749e7169bc2a5eedce6dd9f2784b73e845cd

This is the commit. I hope

[2020-06-10 10:40] erezrokah commented on #3334
Thanks @nigel5, the direction in that commit is very good - added some comments.

[2020-06-10 11:54] okonet commented on #3542
Been looking for it in the context of sourcing the content to Gatsby using JSON: https://www.gatsbyjs.org/docs/sourcing-content-from-json-or-yaml/