[2017-04-21 00:56] HaoZeke commented on #383
@josephearl yup it's in the same folder... I experimented by removing lines to see if it was reading it at all but it seems like it is (the error changes when I empty the entire config.yml which means it's obviously doing something with it...)

There are no errors on the console.

The only thing which shows up on the console is
Netlify CMS version 0.3.20

[2017-04-21 01:59] fool opened #386 "hexo generate transforms "config.yml" to "config.json""
**- Do you want to request a *feature* or report a *bug*?**

neither, but, a suggestion for the docs.

**- What is the current behavior?**

hexo can disable the CMS non-intuitively.

**- If the current behavior is a bug, please provide the steps to reproduce.**

- run a hexo site
- put cms in /admin/
- use config.yml as your config file
- run hexo generate in /
- notice that config.yml is no longe

[2017-04-21 14:00] josephearl commented on #383
I think I see the issue, you have `media_folder` indented under `backend`, but it should not be.
Can you try this config?:

[code]

[2017-04-21 18:03] #298 closed

[2017-04-21 18:27] HaoZeke commented on #383
Thanks so much @josephearl ... That gets me the login with github button...
However after authorizing it, nothing happens.

The console log is

`TypeError: e.parentNode is null[Learn More]  cms.js:15:7675`

[2017-04-21 18:47] HaoZeke commented on #383
Actually that was a simple enough config error.... Done :D

I'll be opening a pr to add the sites I'm working on here in the examples soon... :)

[2017-04-21 18:48] josephearl commented on #383
Awesome 👏, what was it out of interest since we'd like to improve the error messages?

[2017-04-21 18:53] HaoZeke commented on #383
Basically I hadn't set up my collections...

I'm still having some issues though. Mostly it doesn't seem to want to save right.

[code]

Also, it seems rather slow, is self hosting suggested?

[2017-04-21 19:03] #381 closed

[2017-04-21 19:17] HaoZeke commented on #383
Also, very very very importantly. It doesn't save a local copy but pushes directly to my github? o.O That seems un-intuitive.

[2017-04-21 21:43] Benaiah commented on #383
@HaoZeke yeah, we don't (yet) have support for a local filesystem backend.

[2017-04-22 01:54] HaoZeke commented on #383
@Benaiah maybe it should trigger a git pull as well after saving then?

Also I dunno if I ought to ask here but, does anyone know if the netlify CI respects [SKIP CI] or any such commit imperative?

[2017-04-22 23:13] daddykotex commented on #329
Ok, so this afternoon I started playing with it. I have a branch here: https://github.com/daddykotex/netlify-cms/tree/issue-329/filesystem

Of course, paths are hardcoded, but basically I can retrieve the posts via a small node server like you suggested:
[code]

[2017-04-23 01:48] daddykotex commented on #329
Note that I used `require` because I don't know much about `webpack` and it was holding me back.

[2017-04-24 20:58] erquhart commented on #383
@HaoZeke I don't believe that's supported based on the docs, but you can go to netlify.com and talk to support on the intercom. Great folks on that.

[2017-04-24 20:58] #383 closed

[2017-04-24 23:54] Benaiah opened #388 "Save in-progress draft in browser storage"
**- Do you want to request a *feature* or report a *bug*?**

*feature*

**- What is the current behavior?**

If you are working on a post in the CMS and your browser crashes, all your work disappears.

**- What is the expected behavior?**

Save in-progress entry drafts to local browser storage and offer to restore that version if it's different.

[2017-04-24 23:56] Benaiah opened #389 "Allow drafts to be saved without passing validation"
**- Do you want to request a *feature* or report a *bug*?**

*feature*

**- What is the current behavior?**

If you have a partially-finished post, you can't save it, even if you're using the editorial workflow and trying to save a draft.

**- What is the expected behavior?**

In the editorial workflow you should be able to save, but not publish, drafts that do not pass validation.

[2017-04-25 01:20] erquhart commented on #388
Quick thoughts:
* We'd need to track two kinds of changesets - new entries and existing entries
* When any entry is successfully persisted, we should delete the local changeset

New entries:
* We could retain one changeset per entry type
* Instead of offering to restore, we could auto-populate the local changeset every time, accompanied by some kind of communication that saved changes are present.

[2017-04-26 18:49] erquhart opened #391 "Add a dedicated tag widget"
**- Do you want to request a *feature* or report a *bug*?**

feature

**- What is the current behavior?**

Tagging can be manually implemented, but it requires work for the implementation

**- What is the expected behavior?**

Tagging should be a built-in feature. It should include out of the box (updated with suggestions from below):

* Autocompletion
* Viewing and editing of tags as a separate e

[2017-04-26 18:56] Benaiah commented on #391
Additionally, there's some details we should hash out:

- Do we want to allow any tags, or specify a list in the `config.yml`? The first option is obviously a better UX but it'd complicate autocompletion a bit, as we'd have to collect and cache all previously used tags (scanning all posts on keypress sounds untenable).
- Are tags specific to one collection, or are they shared across collections? B

[2017-04-26 19:20] erquhart commented on #229
Re-opening this, merits further exploration.

[2017-04-26 20:26] anthonysapp commented on #229
This is definitely related to @americool's post above. When the draft is saved, it creates a new branch etc, and puts the file there. Then when it's reloaded, the default AssetProxy class returns the image at it's saved path (something like "/img/{filename}.jpg"). If the site isn't deployed yet (which is the case within the editorial workflow), when you return to edit the entry, the image doesn't

[2017-04-26 20:33] anthonysapp commented on #229
I'd suggest something like the above could probably be baked into the AssetProxy class if it was deemed a good direction for this, but I'm not sure if it is indeed a good direction or not :)

[2017-04-27 13:35] anthonysapp commented on #229
@erquhart Just a thought - it might be best to rename this issue as it has more to do with the editorial workflow than the actual insertion of images. Something like "image uploading / editing in editorial workflow", maybe?

[2017-04-27 13:36] anthonysapp commented on #372
Agreed, this would be absolutely great.

[2017-04-27 22:50] joefatora opened #393 "404 when saving post"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
When I try to save a post, I get a warning saying `Failed to persist entry: API_ERROR: Not Found`
and the github API returns a 404.

**- If the current behavior is a bug, please provide the steps to reproduce.**
using this basic config with a metalsmith site:

[code]

I am able to access the CMS at

[2017-04-28 16:59] Benaiah commented on #329
@daddykotex are you still working on this? Let me know if you need any help, or if you want me to start tackling this myself. Thanks for your work so far!

[2017-04-28 19:37] daddykotex commented on #329
Well, I don't know if you have looked but I wrote a small Node web server to list the files and fetch their content. The commit is there: https://github.com/daddykotex/netlify-cms/commit/1664265a53b0294f57d52b1455e08f0a170dfb4c

I just want to know if I'm heading in the right direction and and if not, what do you want me to change. I have problem running `npm run lint` on `master`. I don't know if

[2017-04-28 20:44] Benaiah commented on #329
@daddykotex I have checked this out - it seems like a solid start. The `npm run lint` problems are known - @josephearl and I are working on that issue. I like the direction this is going, though it's obviously not finished yet. I was just checking in in case you didn't think you'd be able to continue with that work, as in that case I'd pick up this branch.

[2017-04-28 21:26] alanontheweb commented on #372
Triple agree!

[2017-04-29 14:46] daddykotex commented on #329
So far I have:

1. A webserver that allows listing and reading of files
2. A file-system backend implementation that uses the webserver
3. An example hugo static site along with it netflify-cms configuration

From my point a view, here's what's missing:

1. Use of webpack for the webserver implementation (I'm really short here)
2. Saving files via the webserver
3. Error handling in both the webser

[2017-05-01 15:17] #324 closed

[2017-05-01 20:57] tech4him1 commented on #322
I would also appreciate something like this for CMSs that have example files (like Hugo's `archetypes`), so you don't have the field definitions in multiple places. Example:
[code]

[2017-05-02 11:05] alastair38 opened #397 "Existing posts / settings not showing in admin"
**- Do you want to request a feature or report a bug?**
Bug

**- What is the current behavior?**
Created posts do no show up in the CMS panel. I can add a new post successfully, but it will not subsequently show in the CMS.

The network tab in Chrome developer tools shows `_posts?ref=master` initially responding with a json file of the created posts from GitHub (as you would expect), but `_posts?r

[2017-05-02 23:32] aperep opened #399 "Specific media folders for collections"
It would be awesome to specify its own media_folder for each collection.

**Use case**
A lot of collections consist of chunks of information of different nature with an image attached to each one.

**Examples:**
* carousel,
* partners' logos,
* testimonials,
* site specific collections.

**Request**
It is plausible to keep images for each collection in a separate folder. This will require either t

[2017-05-04 11:34] xuopled opened #401 "Wrong Editorial Workflow link in documentation"
**- Do you want to request a *feature* or report a *bug*?**
Report a bug

**- What is the current behavior?**
In the [documentation](https://github.com/netlify/netlify-cms/blob/master/docs/quick-start.md), the Editorial Workflow link is broken

**- If the current behavior is a bug, please provide the steps to reproduce.**
Go to the [documentation](https://github.com/netlify/netlify-cms/blob/master

[2017-05-04 13:48] #401 closed

[2017-05-04 19:32] erquhart opened #405 "Add comprehensive configuration documentation"
**- Do you want to request a *feature* or report a *bug*?**

feature

**- What is the current behavior?**

Configuration documentation is scant, and split between the intro and quick start sections.

**- What is the expected behavior?**

Configuration options should be covered in depth, probably in a separate section.

Known, undocumented configuration keys/concepts can be added here:

* `site_dom

[2017-05-05 07:28] jholmes033169 opened #407 "Filter Files in Collection"
New behavior should be added to allow files to be filtered, within a collection, by markdown front matter attributes.

There are a number of use cases supporting the need for this feature. Many static file generators assemble all posts in a single folder... often a folder called "posts" or "_posts." However, any sophisticated blog may have multiple categories of posts... regular posts, landing pag

[2017-05-05 15:14] lmcorreia commented on #407
This could also prove handy as a crude way of doing some i18n on the entries. Instead of looking up for similar entries in different languages in completely different ways (almost a different method per generator), we could use this to find entries with the same `title` but different `language` fields.

Will try to implement a little something in a jiffy.

[2017-05-05 15:47] erquhart opened #408 "Provide auth flow that doesn't require a code sharing account"
**- Do you want to request a *feature* or report a *bug*?**

feature

**- What is the current behavior?**

Every content editor has to have a GitHub account (or account for other backend as they're added).

**- What is the expected behavior?**

Content editors shouldn't be required to have an account with a code sharing service. This may come down to simply figuring out how this could work and pro

[2017-05-05 15:48] erquhart commented on #408
This is not high priority at all, but having content editors create GitHub accounts, which many of them will never use directly, is pretty scrappy.

[2017-05-05 17:30] JFingert opened #410 "subcollections"
Feature Request:
"subcollections" - or the ability to access other collections from within a collection.

Current Behavior:
Example - While editing entries in my "blogpost" collection, I can't access my "users" collection for author choices.

Expected Behavior:
The ability to access other collections from within a collection.

[2017-05-06 16:26] bdougie commented on #386
I think #348 might have solved this. JSON is an acceptable format

[2017-05-06 19:25] fool commented on #386
probably worth testing the resulting json to make sure it works.  I think #348 was already merged before I got this report.

[2017-05-07 04:50] vencax commented on #37
See this: https://github.com/netlify/netlify-cms/pull/411

[2017-05-08 09:58] rewop opened #412 "Use pr base branch to configure editorial workflow for different environments (stage/production)"
I have been looking at how to configure the cms for different environments `develop` -> `stage` -> `production`.

What I would like to achieve is to have a dedicated repository that will contains the contents. This repository will contain long living branches per environment (master/stage/develop).

At build time I will have a script that builds the yaml configuration assigning the right branch pe

[2017-05-08 15:45] calavera commented on #412
That's a very interesting idea. If I understand it correctly, you want to show only PRs with a specific base branch in the editorial workflow, is this correct? I think your approach can work if that's the idea. Feel free to open a PR so we can play with the code.

[2017-05-08 18:08] #288 closed

[2017-05-08 20:42] erquhart opened #413 "Update React Router from v2 to v4"
Our react-router dependency is way outdated, and documentation gaps abound for v2. We should move to v4 soon.

[2017-05-08 23:48] #307 closed

[2017-05-09 08:59] rewop commented on #412
@calavera Yes that is what I mean. I see that the branch in the config is not used to filter the PRs for the editorial workflow. I will try to open a PR asap for this one.

[2017-05-11 01:45] jholmes033169 opened #415 "Images do not show up in cards when there's a space in the image name."
Images with spaces in the names do not show up in the card.

**Examples:**

/images/Photo 1-lobby_FS.jpg
/images/Porsche_Photo 1.jpg
/images/Photo for Caption 1-SieMatic-URBAN.jpg

I realize no sane person would use image names like these... but users aren't sane in my experience. These are the same kinds of file names blog writers and lay people are going to be using.

The __resolvePath__ in path

[2017-05-11 14:49] erquhart opened #418 "Migrate to plain (post-processed) CSS"
The CMS has a number of conflicting CSS architectures in place. Up until now we've loosely expected to settle into CSS modules. The problem with CSS modules is they're still just static CSS, and they still have to live in their own file (ideally per-component).

[Styled components](https://styled-components.com/) is getting pretty mature, and would allow us to house (dynamic!) styles right in our

[2017-05-12 00:26] Benaiah commented on #418
I've been reading up on styled components ever since @rafaelconde mentioned them to me the other day, and I really like the concept. The ability to use `${ <js expression> }` in the CSS so you can update styling based on props sounds really powerful, and I like that we'd be able to keep the CSS and JS together in the same file. My main concern is what the tooling experience is like using `styled-c

[2017-05-12 18:04] caiofbpa commented on #57
Any news on this? I'm interested in using Netlify-CMS with GitLab, how can I help?

[2017-05-12 18:31] tech4him1 commented on #57
@caiofbpa Here is our issue on GitLab regarding the APIs we need: https://gitlab.com/gitlab-org/gitlab-ce/issues/28993. If you can contribute to that or (even better) find a way to use their existing APIs for what we need, that would be great!

[2017-05-12 18:32] tech4him1 commented on #57
Here is another GitLab issue that would help as a workaround for some APIs if necessary: https://gitlab.com/gitlab-org/gitlab-ce/issues/31538

[2017-05-15 17:30] erquhart commented on #57
@caiofbpa any work toward this would be awesome! I haven't looked into it myself, but I do remember hearing that GitLab's current API should work for the CMS, but that needs to be definitively verified. If you're up for confirming that, it's a good first step toward integration.

[2017-05-15 19:08] tech4him1 commented on #350
If we were to do this, I am wondering if the entry creation implementation should create a separate commit for each file added to a post instead of committing them all in one. (A good side effect of this would be that it would also make the GitLab implementation (#57) easier.)

[2017-05-16 06:54] willwade commented on #391
My comments!
Firstly - yes please!!
1. Specify a list.
2. Tags should be per collection. One extra request. Either a "tags: one, two, three " or as "tags_file: some/file.csv" that way a user could use the same shared tag list for each collection (and in some site generators we can compile the list from the files)
3. Wait on that

[2017-05-16 15:32] erquhart commented on #391
Limiting tags to a list may be a good route for the initial implementation if it proves to be simpler, but ideally, specifying them in the config would be optional. @Benaiah we can optimize metadata collection as discussed in the past to simplify autocompletion.

Tags per collection, and waiting for a filtered view, totally agree.

[2017-05-16 16:28] lmcorreia opened #420 "Bug rendering preview component"
**- Do you want to request a *feature* or report a *bug*?**
BUG
**- What is the current behavior?**
An Uncaught Error is thrown while trying to load an entry after working on another (or the same) entry.
**- If the current behavior is a bug, please provide the steps to reproduce.**
Can be reproduced by checking out master at https://github.com/netlify/netlify-cms/commit/ab47c3c8b322107873e70704cdf

[2017-05-16 20:31] #420 closed

[2017-05-18 12:56] damienvdw opened #422 "Stop the pluralization of collection name"
Currently an helper module (**pluralize**) handle the pluralization of collection names in the CMS.

However for non-english text, the transformation is often incorrect.

An improvement would be to add a `label_plurialized` settings for each collection in `config.yml` and use it in place of pluralize transformations.

This way we have more control, which result in less typos in the UI.

[2017-05-19 15:51] erquhart opened #423 "Generate unique id's for editor form fields"
**- Do you want to request a *feature* or report a *bug*?**

improvement

**- What is the current behavior?**

Many form fields in the editor lack id's, which is an a11y issue.

**- What is the expected behavior?**

Form fields should have unique ids to connect them with labels.

Considerations:

* Fields can be nested within object fields, and rich text editor plugins also have form fields. There

[2017-05-19 15:52] erquhart opened #424 "Allow date/datetime fields to be formatted from config"
**- Do you want to request a *feature* or report a *bug*?**

feature

**- What is the current behavior?**

Date and Date/time fields cannot be formatted form config.

**- What is the expected behavior?**

Allow formatting from config.

[2017-05-21 10:13] onedrawingperday opened #425 "Cannot get local netlify-api backend to work"
Hello I am trying to set up a netlify-cms instance with Hugo, that uses the local netlify-git-api backend: https://github.com/netlify/netlify-git-api

But I am unable to get it to work.

I have successfully installed netlify-git-api on my path in Ubuntu 16.04 and set up users with
`netlify-git-api users add`

When I run `netlify-git-api serve` I get `Starting server on 127.0.0.1:8080`

And when I

[2017-05-21 14:03] dindinet opened #426 "Image widget for images hosted in the cloud."
Hi Just had my first play with netlify-cms
We like to host all of our images in the cloud and not in the site repo.

The image widget want s to upload a local file but i want to add a url to my cloud hosted image.

I changed the image field to use a text widget which allowed me to enter the url but the
preview of course does not display an image.

Is there a quick change to the image widget that c

[2017-05-21 16:09] onedrawingperday commented on #425
I am closing this because I will not be using Netlify CMS, after all.

[2017-05-21 16:09] #425 closed

[2017-05-22 02:10] marcnewport opened #427 "Define pages that are not collections"
*feature*

There may already be a way to do this, but I couldn't find anything in the docs...

It'd be great to be able to define pages that aren't collections so they show up in the cms. Eg. you only have one home page and one about page, but they may have different fields.

[2017-05-22 15:17] erquhart commented on #427
@marcnewport there is a way to do this, and you're right, the documentation for it isn't great. You would use a "file" collection type as depicted in the repo [example](https://github.com/netlify/netlify-cms/blob/6996045cbf5c34c522d2cb4a629c6c3bbce43797/example/config.yml#L29).
There you'll see the `settings` collection is made up of two files, json and yaml (markdown files w/ frontmatter are also

[2017-05-22 15:18] erquhart commented on #427
Going to close this, but if you have issues getting it going, hit us up on our [Gitter channel](https://gitter.im/netlify/NetlifyCMS).

[2017-05-22 15:18] #427 closed

[2017-05-22 19:20] americool commented on #341
I was thinking about starting to try to tackle this. Is anyone currently working on it?

[2017-05-22 19:43] Benaiah commented on #341
@americool not that I know of - we'd love your contributions towards this. I think the best strategy for tackling this would be to use the CMS editor with a stub config that allows you to edit the `config.yml` itself as a `file` collection - what are your thoughts on how you'd tackle this?

[2017-05-22 20:30] erquhart commented on #341
The main challenge with this is that the backend config must be made available separately from the rest of the config, so the CMS knows where to get the config content. The other issue is dealing with the GitHub API's intermittent caching delays when editing single files - having configuration in a state of flux could have harmful consequences.

[2017-05-22 20:37] americool commented on #341
I'm not 100% sure, you'll have to forgive me I haven't touched the repo in a month or two so I'm still getting reacquainted with it. That being said, I think what you suggest makes sense. I imagine, looking at the example page (which I assume I can tackle this problem from...but maybe not.) Just so I'm clear on the basic functionality... within the settings sidebar option we also want a link to "E

[2017-05-23 02:04] americool commented on #341
I've been messing around with it for a while now, I think I following @Benaiah's suggestion makes sense and was the approach I found myself naturally moving towards (that is - if I'm clear on what is meant mean by stub config.) @erquhart's points definitely need to be addressed, but I'd like to get just the most basic stuff up and running on my end first. Alas I'm currently having a little trouble

[2017-05-23 15:16] mraerino opened #429 "Document "netlify-auth" backend"
To use the full potential of NetlifyCMS people need to know how to use the `netlify-auth` backend.

I was able to guess some parts from the source.
- The backend needs a `auth_url` and a `github_proxy_url` configured in `config.yml`
- There is no public service providing functionality for `github_proxy_url`
- If you want to roll your own custom authing, you need to roll a service for `auth_url`

C

[2017-05-23 15:21] erquhart commented on #429
cc/ @biilmann, we should link to Gotiator docs here once they're published, and we can extend CMS docs to round out this specific use case.

[2017-05-23 15:33] erquhart commented on #341
@americool don't use the test backend for this, not even to get the ball rolling. The CMS has to load an actual config file, which the test backend can't provide. Instead, set up a repo to test against, and create a new file type collection pointing at "config.yml". You can start with just a partial definition of the config file - maybe a non-existent field, so you can see it in action.

We're her

[2017-05-23 16:02] americool commented on #341
Alright thanks, I can do that with my repo, I'd just avoided it because for whatever reason it takes a short lifetime to start up.

[2017-05-23 16:06] erquhart commented on #341
If you're not already, try using yarn.

[2017-05-23 18:32] americool commented on #341
I've got yarn, but that doesn't really make a huge difference on the build time on the cms, might be a little shorter, but it's not notable. I maybe misunderstanding, and hopefully there's a much better way to do this, but if I'm not using the test backend I'm currently running my jekkyll site locally and having it point to my cloned copy of netlify, which is where the real stop gap seems to be si

[2017-05-23 18:41] erquhart commented on #341
@americool join us on [Gitter](https://gitter.im/netlify/NetlifyCMS), it's a better format for this kind of discussion. That said, I will say that your current problem is probably that you're using the List widget instead of Object.

[2017-05-23 18:59] americool commented on #341
Thanks! Will do.

[2017-05-24 19:25] verythorough commented on #266
This is currently being handled in the netlify-cms-www repo using bdougie's markdown magic suggestion. We may choose a different strategy in the future, but I think we can close this issue for now.

[2017-05-24 19:25] #266 closed

[2017-05-25 13:38] erquhart opened #431 "Use drag handles for list control drag/drop"
**- Do you want to request a *feature* or report a *bug*?**

bug

**- What is the current behavior?**

Each object in a list control can be dragged from any point. When attempting to select text inside of a list control, you'll often drag the entire object of controls instead.

**- If the current behavior is a bug, please provide the steps to reproduce.**

* Open the editor for a CMS entry that ut

[2017-05-25 22:34] #407 closed

[2017-05-26 16:24] bdougie opened #432 "Host images using a 3rd party service"
**- Do you want to request a *feature* or report a *bug*?**
Feature

**- What is the current behavior?**
Currently you can choose a media folder and upload images there directly using the CMS. This is great1

**- What is the expected behavior?**
It would be nice to be able to directly upload images to a 3rd party service like S3 or similar in order to save on build size and such. I would love to d

[2017-05-30 10:56] almeynman commented on #393
I have similar problem
![image](https://cloud.githubusercontent.com/assets/6459157/26580191/e70d311c-4558-11e7-880b-3027bbe6f50b.png)

[2017-05-30 13:03] almeynman commented on #393
I was having this problem with editorial_workflow enabled. After disabling it, save button still won't work, without any errors in the console.

I have deleted OAuth Application from GitHub and deleted Github Provider. After resetting these, I was able to see some activity when clicking Save button.

FIrst of all These errors appears without any actions from my side.
![image](https://cloud.githubu

[2017-05-30 13:24] erquhart commented on #393
@joefatora we never did follow up on this ticket - are you still having issues?

I've helped a number of folks with what you're seeing (including @almeynman), and so far it's always an authentication issue. The following causes have surfaced:

1. Running locally as 127.0.0.1 instead of localhost
2. Cookie problems (clear all site data for the domain where you're  having issues and reload)
3. Using

[2017-05-30 13:24] #393 closed

[2017-05-30 16:44] verythorough opened #433 "Repeated edits result in repeated escape characters in markdown"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
![screen shot 2017-05-03 at 6 15 16 pm](https://cloud.githubusercontent.com/assets/6111186/25687608/898a28d8-302c-11e7-8974-55a2a5b524d6.png)

^ The screenshot above is taken from a page that has been edited several times using the CMS. Each time, it appears to add a new escape character to the beg

[2017-05-30 21:56] NaNdreas opened #434 "location / map widget. Any interest?"
Hi, first of all thanks for a great CMS, I just started using it as an experiment for a blog, and let someone else do the editing. Looks great so far!

I was wondering if there is any interest in a map / location widget? It would probably be mostly useful for blogs, but maybe also company sites with office / store locations.

In Contentful CMS they use a google map where you can add a pin. You can

[2017-05-30 23:19] calavera commented on #434
That can be a cool widget @NaNdreas. We'll take it if you open a pull request with the implementation 😉

[2017-05-31 14:44] danielpost commented on #180
Hey guys, I've been working on a prototype for the UI, and specifically how to handle the List widget. It can be found[here](https://registrar-adrain-75102.netlify.com/) and all thoughts and feedback are much appreciated!

[2017-05-31 14:45] danielpost commented on #180
Hey guys, I've been working on a prototype for the UI, and specifically how to handle the List widget. It can be found[here](https://registrar-adrain-75102.netlify.com/) and all thoughts and feedback are much appreciated!

[2017-05-31 14:47] andreasvirkus commented on #431
Is this at a `good first contribution` label level? I'd like to take a crack at this to get my foot in the door on contributing to this repo.

[2017-05-31 15:37] erquhart commented on #431
Hey @andreasvirkus, that'd be awesome! I don't imagine it'd be too difficult - it _should_ be supported by the drag/drop library we're using, but I haven't looked into it. Definitely take a crack at it, you can post questions in Gitter if you run into issues.

[2017-05-31 16:12] indysigner commented on #180
Hi @danielpost, really love it! Really like how clean the design looks and everything is at its right place.

[2017-05-31 17:03] danielpost commented on #180
@indysigner Thanks! It's not really meant to be a full fledged page at this point, more a prototype of how different widgets could look and function. I'm planning on adding a bunch of extra ones just so we can explore different options.

[2017-05-31 17:05] erquhart commented on #180
Awesome, looking forward to it.

[2017-05-31 17:18] imorente commented on #180
@danielpost, I love how nice and clean that design looks, while still being really functional (good contrast, labels and form controls are clear...). Can't wait to see more!

[2017-05-31 18:25] NaNdreas commented on #434
Alright sounds good to me, thanks for the reply @calavera

I will try to get the time to get it working well first, and then I can try to implement it nicely in a PR as well. Will just need to familiarize myself with the code base too.

If anyone else feels like doing this let me know though. And any suggestions on how it should work are most welcome

[2017-05-31 18:47] erquhart commented on #434
The Boolean widget was recently added, serves as a good example. It includes a default value, which you'll probably also want to do. Also, there's a React component that you may be able to use: https://github.com/tomchentw/react-google-maps.

[2017-06-01 19:16] erquhart opened #436 "Editor scrolls to the top with every stroke under certain conditions"
**- Do you want to request a *feature* or report a *bug*?**

bug

**- What is the current behavior?**

When an image in the editor preview pane is taller than the viewport, and there's not much other content, whenever the preview pane rerenders (every input change and field focus change) the remaining content finishes rendering before the image, causing the preview pane to scroll to the top due to

[2017-06-01 19:17] erquhart commented on #436
cc/ @jholmes033169

[2017-06-01 19:37] erquhart opened #437 "List item reordering causes values to switch objects (in UI only)"
**- Do you want to request a *feature* or report a *bug*?**

bug

**- What is the current behavior?**

Fields get lost and mixed between list items when reordering. These changes don't seem to be persisting, but they're happening in the UI.

**- If the current behavior is a bug, please provide the steps to reproduce.**

In the example project:

* Open the authors entry in the settings collection
*

[2017-06-02 17:23] felixdb opened #440 "Boolean widget not working properly when set to true"
**- Do you want to request a *feature* or report a *bug*?**
bug
**- What is the current behavior?**
When a boolean widget is used in a collection, the items with the boolean value set to true won't fully load in the CMS (loading just hangs forever). Also, when trying to set the field value to true in an item which as this field set to false, the item won't save (the save action just hangs forever)

[2017-06-02 19:19] bdougie opened #441 "Mobile Considerations in the design"
**- Do you want to request a *feature* or report a *bug*?**
Enhancement: It would be nice to quickly check in on a post on the CMS from my phone.

**- What is the current behavior?**
The current UI has no consideration for mobile and non-usable from a mobile device.

**- If the current behavior is a bug, please provide the steps to reproduce.**
Look at the https://cms-demo.netlify.com/ from your p

[2017-06-04 20:11] TomDeS opened #443 "Error 401 Unauthorized when accessing backend over https"
I'm getting an error 401 unauthorized when accessing the backend over https, however it loads fine over http.

![error 401](https://cloud.githubusercontent.com/assets/1459091/26764954/d20d9c12-4971-11e7-80af-6cf5479b2a42.PNG)

I noticed this behaviour only for sites on my organization account. It works fine for sites on my personal account. I was able to reproduce this error multiple times on my o

[2017-06-05 15:44] erquhart commented on #443
Try this:

1. Log out (dropdown in the top right)
2. Close the tab
3. Open new tab and load the CMS

[2017-06-05 16:04] TomDeS commented on #443
Thank you @erquhart your solution works fine!

[2017-06-05 16:04] #443 closed

[2017-06-05 21:14] cassandraoid opened #444 "Adding Authors as a collection"
**- Do you want to request a *feature* or report a *bug*?**
feature
**- What is the current behavior?**
Right now you have to to into GitHub to add a new author
**- If the current behavior is a bug, please provide the steps to reproduce.**
N/A
**- What is the expected behavior?**
Would be nice to add authors directly into the CMS rather than having to go to GitHub

[2017-06-05 22:29] olliekav commented on #425
I have the same problem with Middleman, same setup as above. No matter what I try I can't get it to pick up the admin locally.

[code]

[2017-06-06 01:33] erquhart commented on #425
@olliekav can you join us on [Gitter](gitter.im/netlify/NetlifyCMS) and explain your use case a bit?

[2017-06-06 20:08] erquhart commented on #434
@NaNdreas also, if you hit any snags or need assistance, join us on [Gitter](gitter.im/netlify/netlifycms/), happy to help!

[2017-06-06 20:14] erquhart commented on #422
Hey @damienvdw - this makes sense. I think a nice minimal approach would be to simply stop pluralizing entirely for now, which wouldn't take much work. We'd be open to a PR for this.

[2017-06-06 21:14] erquhart opened #445 "Make sluggification visible, customizable, and fail-safe"
Default sluggification is simplistic, relying on a title field and performing no inference whatsoever.

**With no field named "title", entries will silently fail to save.**

The ideal fix is to simply make slugs editable in the editor UI.

Considerations:

* Slug editing can be switched off through config
* If slug editing is switched off, each collection config must be validated on CMS load to en

[2017-06-06 21:20] Benaiah commented on #445
@erquhart how does the `slug` entry in collections affect sluggification - is it functional anymore? (I've been working under the assumption that the current behavior is that the `title` field is sluggified and turned into the `{{slug}}` part of the `slug` template).

[2017-06-06 21:21] erquhart commented on #445
Yep, that's the default behavior, but date segments can be used for some light slug templating: https://github.com/netlify/netlify-cms/blob/e388ed1721576221523776bfcf25f7124b5f116c/src/backends/backend.js#L27

[2017-06-08 13:39] oncletom commented on #444
Agreed.

I don't know if it exists but it looks like a `<select>` widget which values are populated from the content of another collection.

[2017-06-10 13:08] abumalick commented on #308
It is quite a big issue.
Did you find any quick fix for this ?
It is hard to tell my client:

[2017-06-14 13:15] bdot opened #450 "Placeholder support for fields"
**- Do you want to request a *feature* or report a *bug*?**

This is a feature request

**- What is the current behavior?**
Currently placeholders are not supported at field level. That is we can have a slug something like below at collection level but it doesn't work if used at field level.
[code]

**- What is the expected behavior?**
For example having a Field definition:
[code]

Should produce

[2017-06-14 23:58] mryellow opened #452 "Docs authentication-providers API URI broken"
https://www.netlify.com/docs/authentication-providers/

`https://app.netlify.com/authentication.js` is 404.

[2017-06-15 00:10] mryellow commented on #429
Also need to know how to use `netlify-cms-github-oauth-provider`... To my eyes this should be the primary use-case rather than a specific after-thought. All components with one easy setup rather than being pushed into netlify.com.

[2017-06-15 07:24] bdot opened #453 "Image file name validation to prevent overwrites"
**- Do you want to request a *feature* or report a *bug*?**

Feature

**- What is the current behavior?**

If we create an article with an image "test.jpg" it gets uploaded to public_folder configured in collection settings. It's great.
But if another user creates a different article with same image name "test.jpg" it overwrites an already existing image.

**- What is the expected behavior?**

@er

[2017-06-15 13:46] erquhart commented on #452
Hmm yeah that url isn't correct. Closing this as it isn't related to the cms project, but I'll reach out to support on it. Thanks!

[2017-06-15 13:46] #452 closed

[2017-06-15 14:05] erquhart commented on #429
@mryellow we provide Netlify's auth service as a convenience - if you're up for contributing toward a more flexible authentication path, it'd be more than welcome :)

[2017-06-15 15:09] erquhart opened #454 "Remove code optimizations from webpack base and dev configs"
The webpack base config contains the ExtractText plugin, which is generally a production optimization, and increases build time. This and any other production optimizations should only be applied to the production config.

[2017-06-15 18:57] Benaiah commented on #454
It looks like `ExtractTextPlugin` also disables HMR for the CSS it affects: see https://www.npmjs.com/package/extract-text-webpack-plugin for more details.

[2017-06-15 19:01] erquhart commented on #454
Makes sense.

[2017-06-15 19:38] Benaiah commented on #454
Looked into it more, and as far as I can tell we're already disabling this in dev. See https://github.com/netlify/netlify-cms/blob/upgrade-to-webpack-2/webpack.dev.js#L53.

[2017-06-15 19:42] nikvm commented on #418
My quick 2 cents as I'm browsing through the issues and just had to make a similar decision. :octocat:

I very much like the `styled-components` API. My only grime is writing CSS in JS template literals. It makes linting and syntax highlighting not trivial especially in an OS project where you can expect changing contributors with varying editors.

I suggest checking out [glamorous](https://github

[2017-06-15 19:46] nikvm commented on #426
Referencing #432.

[2017-06-15 20:14] Benaiah commented on #418
@nikvm `glamorous` looks cool, and you're right about linting/highlighting styled-components not being as easy as regular CSS. It is more verbose, but the syntax highlighting problem is somewhat better (though it's not being highlighted as CSS, but as an arbitrary JS object), and I also like that it doesn't require you to ship a CSS parser to the browser. It also seems like it'd be easier to do cu

[2017-06-15 20:36] dindinet commented on #426
#432 I vote for that

[2017-06-15 21:43] mryellow commented on #429
Think I found an approach where everything plays nice, something I can just throw on an instance somewhere:

https://github.com/vencax/netlify-cms-github-oauth-provider/pull/3/files

With `base_url` available in config things start making sense.

[2017-06-16 05:35] jhabdas opened #456 "Yarn installs 122 thousand dependencies"
Am I reading this right? Does this CMS really have 122,000 dependencies? I thought React Native with Webpack was naughty at ~800. Is this for real? How do you expect to maintain this?

<img width="641" alt="screen shot 2017-06-16 at 1 30 56 pm" src="https://user-images.githubusercontent.com/440298/27213285-733b8296-5298-11e7-9b51-3199ff17182e.png">

`yarn instal && (cd node_modules && tree -h)` re

[2017-06-16 09:17] nikvm commented on #418
Actually, I think that's still an open issue generally for CSS in JS objects.

Have a look at [this glamorous issue](https://github.com/paypal/glamorous/issues/28) and [this twitter thread](https://twitter.com/kentcdodds/status/850371960928219136). :octocat:

[2017-06-16 13:49] erquhart commented on #418
@nikvm yeah, highlighting does matter. That said, fixing syntax highlighting by changing the syntax (objects instead of css) feels like a stick too big for the problem. Styled Components has a lot of momentum, making community support a plus, and syntax highlighting plugins that will cover a whole lot of folks: https://github.com/styled-components/styled-components#syntax-highlighting

[2017-06-16 14:02] erquhart commented on #456
Yep, it's a big project. I'm sure not every dependency is necessary, but staying on top of that will be a community effort for sure.

[2017-06-16 15:07] jhabdas commented on #456
No doubt about it. If it hasn't been brought up yet, my suggestion for an ambitious project of this size and number of dependencies would be to add https://snyk.io/. Beyond that Yarn caching and SHA-sums should handle the rest I suppose. Cheers.

[2017-06-16 15:07] #456 closed

[2017-06-16 20:28] Benaiah commented on #456
We have 114 direct dependencies in `package.json`, including optional and dev dependencies. A count of all our dependencies, direct and indirect, retrieved with `yarn && cd node_modules && ls | wc -l`, returns 1201 for me. The 122k number you're seeing is _all the files in the node_modules directory_, which is totally different than the dependency count.

[2017-06-16 20:39] jhabdas commented on #456
I'd only really be concerned about the directs in production from a security perspective. I know dev pipelines have gotten pretty gnarly these days. Thanks for checking. Updated title.

[2017-06-17 18:26] client9 opened #457 "doco uses version 3.X ( instead of 4.X? )"
hi

Working my way through an installation and found this:

In the intro doc such as https://www.netlifycms.org/docs/quick-start/ we see a sample `index.html` file.

It uses `netlify-cms@^0.3` which is "use last version of the 0.3.X series".

Not sure if you want that to be `@^0.4` or just get rid of it all together?

thanks team

n

[code]

[2017-06-17 19:32] verythorough commented on #457
Hi, this is addressed by PR #455.

For your own installation, you can either pin to 4 or remove, though if you remove, there's always the chance that a breaking change will come along in a major version that breaks your setup.

[2017-06-17 19:40] client9 commented on #288
FYI / FWIW quilljs.com has a number of react wrappers as well.  quilljs is sweet but have no experience with the react wrappers.

[2017-06-17 19:51] client9 commented on #457
thanks @verythorough   yeah not a blocker for me, just though it was odd pointing to an old version.

other ideas:
*  "get the latest version by curl -L -o admin/index.html SOME-URL-HERE" instead of cut-n-paste from editor.
* also display the version in the UI ideally with a call to action to update.  Hate to have people stuck on 0.3 or whatever the last cutnpaste they did.

thanks all... still wo

[2017-06-17 19:54] verythorough commented on #457
Yeah, we're working on our routines for making docs updates an integral part of code changes.

I like the idea for an update call to action in the UI!

[2017-06-17 23:14] estebanvega commented on #234
Bitbucket marked the PR as resolved on the 2017-06-12 and presented a new endpoint for commits. Not sure though if it's enough to make it work with Netlify CMS.

[2017-06-18 00:24] client9 opened #458 "silent failure on save due to case of collection "Title" in config.yml"
I tested on cms.js v 4.2 and v3.22 in both latest safari and chrome.

Saving always failed (silently).  Looking in console I got:

<img width="357" alt="screen shot 2017-06-17 at 5 18 55 pm" src="https://user-images.githubusercontent.com/217179/27257172-497e8414-5381-11e7-8894-4609093ecf59.png">

Appears to be in:

[code]

because my `config.yml` has this

[code]

i.e.  `name: Title` not `name: ti

[2017-06-18 01:15] client9 opened #459 "Order of cards for collection pages"
see also #258 and #345

**- Do you want to request a *feature* or report a *bug*?**

Unclear.  To me it's a bug, but perhaps it's user error or documentation bug or just a feature request.

**- What is the current behavior?**

collection card page appears random.  It's definitely not:

* Alphabetical -- because I can see the titles
* Front-Matter `date` -- I have Apr, May, Apr as the first three
*

[2017-06-19 12:53] #457 closed

[2017-06-19 12:57] erquhart commented on #234
Great news!

[2017-06-19 12:59] erquhart commented on #458
Hmm that slug config should simply change the slug to lowercase, it's not a validation check. Having a look.

[2017-06-19 13:07] erquhart commented on #458
Ah, I see, we're only getting lowercased title in the first place. We'd definitely take a PR for this.

[2017-06-19 13:19] erquhart commented on #459
I believe GitHub is sending files ordered alphabetically by filename (may be different from title). Using your site as an example, you should be getting back posts in reverse of [this order](https://github.com/client9/client9-website-2017/tree/master/content/post).

[2017-06-19 13:22] #459 closed

[2017-06-21 21:18] eamonnbell commented on #458
I'd be happy to take a crack at this as a first contribution. There's a couple of ways out - I'd like to go with what's most consistent with team's roadmap.

When the field name is set to `"Title"` as in the steps to repro, the call to `entryData.get("title", ...)` fails through to the second argument (`notSetValue`), which is another `.get()`. Next, the value keyed to `"path"` in the `entryData`

[2017-06-21 22:07] erquhart commented on #458
Honestly, since we're just trying to allow `title` to be uppercase, we're probably best off adding a case for that when assigning `identifier`.

[2017-06-23 18:03] Benaiah commented on #454
Looks like this issue was already taken care of - closing.

[2017-06-23 18:03] #454 closed

[2017-06-23 18:07] #458 closed

[2017-06-24 14:10] sachgits commented on #441
am so waiting for this too

[2017-06-24 20:52] eamonnbell opened #462 "Collection view does not reflect the value of boolean fields whose values is 'false'"
**- Do you want to request a *feature* or report a *bug*?**

Bug

**- What is the current behavior?**

Collection view does not reflect the value of boolean fields whose values is 'false'

**- If the current behavior is a bug, please provide the steps to reproduce.**

1. Create a collection with at least one boolean field

[code]

2. Create new entry in this new collection in CMS UI
3. Change stat

[2017-06-25 01:47] ikaikahussey commented on #192
What's the code for implementing a relations widget in a layout?

[2017-06-26 17:54] erquhart commented on #192
@ikaikahussey we really should document that widget. Here's an example implementation:

[code]

The `collection` should indicate which collection to search, the `searchFields` indicate which fields to search against, and the `valueField` should be the name of the field that contains the value that you want to use from the matching entry.

[2017-06-26 17:57] ikaikahussey commented on #192
Thanks @erquhart for the response. Can you point me to an implementation in a frontend layout?

[2017-06-26 18:02] erquhart commented on #192
That sort of depends on your build system. The relation field's value is accessible in the same way any other field's value is, it's yaml frontmatter.

[2017-06-26 18:04] ikaikahussey commented on #192
Ok thanks. I'm experimenting with Spike.

[2017-06-26 18:09] erquhart commented on #192
@ikaikahussey reach out on our [Gitter](https://gitter.im/netlify/netlifycms) if you have any other questions, happy to help :)

[2017-06-27 00:39] #37 closed

[2017-06-27 00:42] erquhart commented on #238
@smakinson I don't believe this is still an issue, please re-open if so.

[2017-06-27 00:42] #238 closed

[2017-06-27 00:47] erquhart commented on #253
@MadsMadsDk this should be resolved now, please re-open if not.

[2017-06-27 00:47] #253 closed

[2017-06-27 00:51] erquhart commented on #337
I believe this was fixed through the kitchen sink example addition released in 0.4.3 - @chadfawcett please re-open if not.

[2017-06-27 00:51] #337 closed

[2017-06-27 00:53] erquhart commented on #397
@alastair38 please reach out on [Gitter](https://gitter.im/netlify/netlifycms) if this is still an issue.

[2017-06-27 00:53] #397 closed

[2017-06-27 00:54] erquhart commented on #440
@felixdb this should be fixed in 0.4.3, please re-open if not.

[2017-06-27 00:54] #440 closed

[2017-06-27 18:25] erquhart commented on #179
@rafaelconde how would you see the design based on discussions around the latest UI update? Any changes?

Adding this issue to the 1.0 milestone. Most notable aspects:

* Sortable list interface for entries/search
* Putting a user in the right place after saving a post

[2017-06-27 19:06] erquhart opened #464 "Fields should not be required by default"
I think this is divergent from any CMS I've used - fields should be optional unless configured as required. Adding this to the 1.0 milestone, but let's discuss.

[2017-06-27 19:10] Benaiah commented on #464
@erquhart I'm with you on this - it's very unnatural and leads to use of a lot of placeholders, particularly since we currently enforce required fields even when saving a draft, so you can't save your work without filling out all the fields.

[2017-06-27 19:33] biilmann commented on #464
All fields in Webpop were required by default.

For all the actual integrations I've done of the CMS, I would say that the vast majority of fields tend to be required before a post is ready to go live.

The main issue is around drafts where it's really annoying not being able to save before all fields are filled out. The issue with allowing drafts without required fields, on the other hand, is tha

[2017-06-27 19:52] erquhart commented on #180
A general design improvement will be important for 1.0. Here are my thoughts on the path forward, with feedback from all of the comments on this issue:

## Aesthetics
The designs from @rafaelconde, @eliwilliamson, and @danielpost are all moving in a generally solid direction. Whatever we settle on aesthetically needs to be effectively communicative, accessible, cohesive, and scalable. As Mathias m

[2017-06-27 19:55] erquhart commented on #464
I think folks are more used to the big CMS's, where fields generally aren't required by default, eg. Wordpress. Allowing drafts to save without required fields would probably help, but I still think the expectation is that fields are only required if they're configured to be required.

[2017-06-27 19:59] verythorough commented on #464
Weird. I did not expect to be able to publish a WordPress post with no title, body, or anything. Had to test it for myself—confirmed!

[2017-06-27 20:13] erquhart commented on #317
The CMS should still support `.markdown` files by default.

[2017-06-27 20:14] erquhart commented on #218
I believe this was resolved by #278.

[2017-06-27 20:14] #218 closed

[2017-06-27 20:19] erquhart commented on #229
@anthonysapp just saw your comment - renamed. I agree that the asset proxy is the most likely point of failure, any fix will probably center on changes there.

[2017-06-27 20:22] erquhart commented on #230
@thierrybgentile just revisiting this issue - not sure what I was thinking when you first posted this, but open publishing should work just great. Each author would simply have to have a GitHub account. Let us know if you have a site like this going, would love to see it!

Closing this, but if you need help at all, please hit is up on the [Gitter](https://gitter.im/netlify/netlifycms)!

[2017-06-27 20:25] erquhart commented on #239
@smakinson if an array of objects would serve your use case, that's the easiest path. Can you explain what you'd expect to do with an array of objects in the select widget?

[2017-06-27 20:32] verythorough commented on #230
@erquhart Don't all users still need to have merging rights on the site repo? I think this issue pertains to people who aren't on the site repo, and would normally fork to make a contribution. This would be super useful on public docs sites.

[2017-06-27 20:35] erquhart commented on #245
Since we'll be moving to Slate soon, we can use the code highlighting example there, which uses Prism underneath: http://slatejs.org/#/code-highlighting.

[2017-06-27 20:38] erquhart commented on #246
Update: this issue has evolved into a replacement of Prosemirror with Slate, and a lower level implementation of Unified (which Remark is built on). Development is happening right now and is close to completion.

[2017-06-27 20:41] erquhart commented on #247
This will be addressed under #350, will close with that issue.

[2017-06-27 20:43] tech4him1 commented on #350
Just a question/thought: would it be better to upload all media to a separate folder (like we are doing now), or put it "beside" the post/page?

[2017-06-27 20:45] erquhart commented on #248
@Kasuko you can create a widget to do what you're looking for - here's some documentation on how: https://www.netlifycms.org/docs/extending/#registerwidget

If you need help, please reach out on [Gitter](https://gitter.im/netlify/netlifycms)!

[2017-06-27 20:45] #248 closed

[2017-06-27 20:51] smakinson commented on #239
@erquhart Hey there! Thanks for looking into this. Something like this could be an example:

Say Hugo has a type of content called authors that I would like to have in a widget such as a dropdown in a CMS view for something like articles. The idea would be that as the CMS modified the content for authors, Hugo would generate a new json file using: https://gohugo.io/extras/output-formats/

Then whe

[2017-06-27 20:52] erquhart commented on #259
Just reread this and noticed I missed some requirements. I now see three:

* Indicate previously published posts - we now have the "New" indicator, so this is taken care of.
* Move edited posts that were previously published to _Waiting For Review_ instead of _Draft_.
* Indicate to the user that the edited post is now in the editorial workflow - we can do this by simply navigating there on save.

[2017-06-27 20:59] erquhart commented on #230
Ah yep, great point. I assumed GitHub had this as an option, looks like not.

[2017-06-27 21:04] erquhart commented on #350
@tech4him1 that all depends on your build tool. If you have other implementation questions, feel free to hit us up on [Gitter](https://gitter.im/netlify/netlifycms)!

[2017-06-27 21:09] erquhart commented on #239
It sounds like the relation widget may work for you. It's not documented, but I gave a quick explanation here: https://github.com/netlify/netlify-cms/issues/192#issuecomment-311133616

The idea is to have an authors collection, and then select one of those authors from your article (via dropdown). Any chance this does what you need?

[2017-06-27 21:13] erquhart commented on #260
@eliwilliamson included that in his [mockup](https://github.com/netlify/netlify-cms/issues/180#issuecomment-289151867) on #180.

[2017-06-27 21:18] erquhart commented on #230
I think the closest we'll come to open publishing is supporting pull requests from forked repos. How much of this we would automate is up for discussion, but it would enable open publishing through the editorial workflow. The difference would be that branches are on the user's fork, and publishing requires permissions. Ideally this would all be enabled through a simple config flag, perhaps by coll

[2017-06-27 21:22] smakinson commented on #239
Cool. Hard to be 100% sure, but it does sound like it would work if it can be set up to relate any collection into a create/edit view for another collection. In fact it sounds like it is potentially better.

[2017-06-27 21:39] erquhart commented on #272
Because the CMS currently has just one layer of navigation depth, breadcrumbs don't seem particularly necessary. @biilmann I know you've mentioned this before, thoughts?

[2017-06-27 22:17] erquhart commented on #301
This will probably be best resolved under #179, when search results are converted to a list.

[2017-06-27 22:19] erquhart commented on #308
@Benaiah can you retest this now that the cache buster is merged?

[2017-06-27 22:21] erquhart commented on #312
@maartenbusstra the CMS can currently handle JSON files and JSON frontmatter as well.

[2017-06-28 00:41] erquhart commented on #372
We need to implement this in a way that is platform agnostic - I'm thinking we provide the same "checks" links that would show on the GitHub PR, which would include Netlify's Deploy Preview, CI tests from providers like Travis, etc.

[2017-06-28 01:12] erquhart commented on #325
This issue should be at least helped by #350.

[2017-06-28 01:18] erquhart commented on #377
Note: Netlify CMS isn't capable of setting a URL - your that happens between your build and deployment. What the CMS _can_ influence is the slug. Updating the title accordingly.

Slug editing support is mentioned in (and will potentially land in) #180.

[2017-06-28 01:20] erquhart commented on #386
#348 only affected markdown frontmatter. #238 will address this issue, but if someone wants to document it as a stop gap, it'd help.

[2017-06-28 01:24] erquhart commented on #388
Follow-up:

This is subject to rate limits, but we could push commits in the background as auto-saves (with history!), and use squash merge when the entry is persisted or published. Not certain if GitHub squash merging is risky, seems like it should work fine for this use case.

We could supplement this with cheap localstorage auto-saves for offline users.

[2017-06-28 01:25] erquhart commented on #389
The only problem here is the potential for broken deploy previews.

[2017-06-28 01:28] erquhart commented on #391
@biilmann interested to hear your thoughts on this.

[2017-06-28 01:28] erquhart commented on #399
This may be implemented as a part of #350. Keeping open for now.

[2017-06-28 01:31] erquhart commented on #410
@JFingert the relation field does this, but is sadly undocumented. I gave a quick explanation in an issue comment recently: https://github.com/netlify/netlify-cms/issues/192#issuecomment-311133616

Hope it helps! Join us on [Gitter](https://gitter.im/netlify/netlifycms) if you have questions.

[2017-06-28 01:31] #410 closed

[2017-06-28 01:37] erquhart commented on #426
Closing in favor of #432 (came later, but more descriptive).

[2017-06-28 01:37] #426 closed

[2017-06-28 01:38] erquhart commented on #432
This could happen in tandem with #350.

[2017-06-28 01:40] erquhart commented on #433
This should be resolved under #246, we'll need this tested again once that's closed.

[2017-06-28 01:43] erquhart commented on #441
@rafaelconde 🙏 🙏 🙏

[2017-06-28 01:45] erquhart commented on #441
Oh snap it worked!

[2017-06-28 01:48] erquhart commented on #444
The CMS already supports this through the relation widget, we're just not using it in the netlify.com CMS instance.

@cassandraoid closing this, but do comment if I'm missing your intent.

[2017-06-28 01:48] #444 closed

[2017-06-28 01:50] erquhart commented on #377
Closing in favor of #445. @indysigner please comment there if you feel that issue won't fully capture your intent and we can expand.

[2017-06-28 01:50] #377 closed

[2017-06-28 01:51] erquhart commented on #445
May happen in tandem with #180.

[2017-06-28 01:54] erquhart commented on #450
The slug placeholder is very specific to slugs - maybe we should consider just putting slugs in the frontmatter? Not certain if that would negatively affect various build tools.

The ability to edit slugs is covered under #445.

[2017-06-28 01:55] erquhart commented on #453
@bdot I just noticed we already have an issue open for this, #247.

This is most likely to be addressed under #350.

[2017-06-28 01:55] #453 closed

[2017-06-28 02:10] erquhart opened #465 "The Road to 1.0"
This issue is a discussion forum for the [1.0 Milestone](https://github.com/netlify/netlify-cms/milestone/1). We'll be working together as a community to achieve this milestone through issues, pull requests, and [Gitter](https://gitter.im/netlify/netlifycms). We'll also be having bi-weekly, open planning sessions, so check out the [event page](https://www.eventbrite.com/e/netlify-cms-planning-sess

[2017-06-28 02:45] ChrBach commented on #465
Agreed. Just summarizing:

Milestone 1.0 = when Smashing goes live = Sept 5th.

- Developer experience: An easy painless way to get up and running and basic configuring / handover to a non-tech client.

- User experience: Basically Cassandra's current use free of issues.

- A true usecase off of Netlify services. With a blog. Not sure if the pirate party already does the job...

[2017-06-28 10:05] verythorough commented on #230
Yeah, or possibly use a non-GitHub auth method, which can pipe authenticated user actions through a designated GitHub user account. (I'm pretty sure at least one project is handling auth this way, though not for the purpose of allowing "open" editing.)

[2017-06-28 10:10] verythorough commented on #259
Routing the user to the editorial workflow on save may not be enough to communicate that the item is still waiting for review, especially if there's a large number of items in the workflow.

[2017-06-28 19:03] erquhart commented on #259
@verythorough true. I actually think the optimal answer is the contextual save button requested under #260 and depicted in #180, so expectations are inherently set.

[2017-06-29 07:41] andreasvirkus commented on #431
I hit a small road block with the react-sortable lib we use. It's easy to disable dragging for all children of the draggable, fixing the initial bug described. But I've found no way to re-enable it for a specific child element afterwards.

I also asked for help under the lib's [issues](https://github.com/danielstocks/react-sortable/issues/77), but haven't received any feedback yet. I reached out t

[2017-06-29 11:57] erquhart commented on #431
@andreasvirkus I'm not against using a different lib - for our purposes, this one seems the most promising: https://github.com/clauderic/react-sortable-hoc

[2017-06-29 13:15] andreasvirkus commented on #431
@erquhart Good find, will dive into it tonight!

[2017-06-29 17:12] erquhart opened #467 "Nested fields in the entry editor aren't validated"
Field validation only works on the top level of widgets in the entry editor, fields within objects or lists aren't validated at all.

The primary blocker here is that fields are referenced by name internally, which would then require nested fields to know the names of each ancestor field, or that their state match the nested hierarchy of the fields. Both approaches are anti-patterns.

To move forw

[2017-07-01 11:59] danielpost commented on #441
@erquhart Sweet, thanks!

I'm too busy for the next ~2 weeks but I'm going to take a crack at designing potential interfaces for the CMS over the summer.

[2017-07-01 15:54] DrianHillman commented on #300
I'd be happy to take a run at this— I'm new to this project, but this looks like a good starting point.

[2017-07-01 16:45] rolfea commented on #286
Hi there, @erquhart ! I'd be happy to work on this.

[2017-07-02 04:44] erquhart commented on #441
@danielpost super excited that you're looking into this! I think it'd be okay to do this as a part of the greater design improvement effort, since it's slated for 1.0.

[2017-07-02 04:47] erquhart commented on #300
@DrianHillman awesome! Happy to have you dig in - reach out on [Gitter](https://gitter.im/netlify/netlifycms) if you have any questions along the way :)

[2017-07-02 04:50] erquhart commented on #286
@rolfea great! 🍻 Feel free to check the pull request I mentioned above as prior art, and reach out on [Gitter](https://gitter.im/netlify/netlifycms) if you have any questions along the way.

[2017-07-02 15:20] DrianHillman commented on #300
Great! I already have commit in place that solves this, I'll have an official PR posted soon 😁

[2017-07-04 01:38] afunnydev opened #473 "Relation field with list widget"
**- Do you want to request a *feature* or report a *bug*?**
Feature
**- What is the current behavior?**
The relation widget can look for fields in collection.

**- What is the wanted behavior?**
It would be nice if it could also look into the "subfields" of a list field in a collection.
For example, I have a collection named "catalog", which contain a list field named "product", and this field as

[2017-07-04 14:45] g12n commented on #432
This would be a blast! Espeacially when Working with image processing services like imgix.
Optimizing images could be handled within Templates.

[2017-07-04 15:54] CeleRn commented on #386
Change **Build command**: ``Hexo generate`` to ``hexo generate && cp source/admin/config.yml public/admin/config.yml``

[2017-07-05 09:29] gausie opened #475 "Entry ordering - any interest?"
I'd be happy to write a PR that makes entries on the collection page draggable if there is an "order" field on that collection, and the order of the dragged elements would update the order fields.

This would allow most CMSs to then order entries by that order value and thus give us custom ordering.

[2017-07-05 16:45] wangsongiam opened #476 "Templating folder for new posts"
It would be awesome If user create new post with a dynamic folder each time.
for example, a templated folder with a name from the title.
[code]
which gives `/blog/YYYY-MM-DD-example-post/index.md`.

### benefits
Users could upload images or other media to the post folder, not another unified media folder. So the images for each post would be sitting inside the related folder, makes it easier to ma

[2017-07-05 21:56] #415 closed

[2017-07-05 21:57] #300 closed

[2017-07-05 22:45] jholmes033169 commented on #308
I have not tested thoroughly, but I have not seen in pop up and non one has reported it to me in a bit. I'll try to recreated problem case tonight.

[2017-07-06 14:02] tech4him1 commented on #465
What about splitting the GitHub integration off into a plugin as well, that way there would be a standard interface for other integrations when they come along (like GitLab, BitBucket, or an enterprise VC)? That would also help make the CMS more platform agnostic.

[2017-07-06 14:13] erquhart commented on #431
@andreasvirkus just a heads up, @Benaiah seems to have included this in some recent work that required this fix: https://github.com/netlify/netlify-cms/pull/468. If you're up for reviewing, it'd be a great help! Or we can point you toward another issue if you don't already have one mind - just reach out on Gitter :)

[2017-07-06 14:15] erquhart commented on #465
@tech4him1 the backend system is already pluggable, actually! If you have a look in the [backends](https://github.com/netlify/netlify-cms/tree/cdf7c3a2beaa058247b52166102afa19e7b72c87/src/backends) directory, you'll see how it works. Additional backends can follow the GitHub integration as a template.

[2017-07-06 14:41] verythorough commented on #475
Ooh, that sounds cool. One aspect to consider is how differently different site generators handle order. I would think you would want to set per collection whether the drag-to-order function is enabled, and also to specify the field name to be set by the dragging.

[2017-07-06 15:03] erquhart commented on #475
@gausie ordering is definitely something the CMS needs! I think the approach will be a little different - it's laid out in the designs under #179. I believe steps toward this will look something like this:

1.  Move to a list interface instead of a card interface for displaying entries
2. Allow the fields used in the entries display (title, body, etc) to be configured per collection
3. Implement o

[2017-07-06 17:48] verythorough commented on #475
@erquhart Those improvements all sound awesome (especially #2!), but I think what @gausie is referring to is changing the field that determines post order in the site output, not in the CMS listing. For example, like we use the 'position' field in the CMS docs to set a custom order for pages.

When adding or moving a page, it's a hassle to go into the existing files, determine what position they a

[2017-07-06 18:47] erquhart commented on #475
Ah, good point, thanks for clarifying.

Considerations:
* Changing the value of an entry from the collection page (including use of a separate mode) is a new concept in the CMS
* Changing the values of multiple entries at once is also new
* Any change could potentially require changes to every entry in the collection
* Getting this working with the editorial workflow in an intuitive way will be to

[2017-07-07 17:04] bdougie opened #478 "Upgrade to Webpack 3"
I know the upgrade to Webpack 2 was just completed in #451 but since Webpack just came out it might be worth going up one more level to capture some built-in performance improvements. It is also reported that there are no breaking changes in Webpack 3, so the process should be as easy updating the package.json

https://medium.com/webpack/webpack-3-official-release-15fd2dd8f07b

[2017-07-08 00:29] Benaiah opened #479 "Support for multiple branches"
Ideally the CMS would support publishing to multiple branches, so you can have alternate versions of the site. This would be useful in particular for split testing based on Git branches. It'd also be nice to be able to have alternate versions of content available when the two branches differ, so you can, for instance, handle split-testing content through the CMS.

[2017-07-08 00:41] #479 closed

[2017-07-08 02:54] erquhart commented on #479
@benaiah why closed?

[2017-07-11 08:21] KraigWalker commented on #478
I have this working on a local branch. It was a bit of a hassle though. The issue is not so much upgrading webpack, but some of the plugins used are still in release candidate for their webpack compatible versions - namely `extract-text-plugin` which is in rc2. React Hot Loader is also in rc and yarn seems to be unable to find it with a normal yarn install command. I had to manually `npm install`

[2017-07-11 10:20] KraigWalker commented on #413
v4 is a complete refactor, something that's lagging behind/buggy right now is the react-router-redux package. Perhaps consider replacing react router with [Redux First Router](https://github.com/faceyspacey/redux-first-router)?

[2017-07-11 15:46] erquhart commented on #478
Okay - if that's the case, we can wait a bit and let versions stabilize.

[2017-07-11 17:02] neutyp commented on #341
Design needs for 1.0 are more polish; longer tail could involve larger design redo

[2017-07-11 17:03] neutyp commented on #323
Need design for denied screen; when a user tries to access/login but they do not have push access to the repo

[2017-07-11 19:08] greatwarlive opened #482 "Authentication"
Is there anyway you can stop certain people accessing your CMS through authorising application, as otherwise any one can make posts?

[2017-07-11 19:13] erquhart commented on #482
The CMS currently uses GitHub's permissions. If someone has read access in GitHub (this is everyone if your repo is public), they have read access in the CMS. But they can only make changes in the CMS if they have permissions to make changes (eg. push access) on your repo. Otherwise they'll get an error when they try to save a change.

#323 covers limiting CMS GitHub login to users with push acces

[2017-07-11 19:13] #482 closed

[2017-07-11 23:48] rolfea opened #483 "componentWillReceiveProps"
**- Do you want to request a *feature* or report a *bug*?**
Bug
**- What is the current behavior?**
The EntryPage container seems to be firing the `componentWillReceiveProps` method 3 times before any user action.
**- If the current behavior is a bug, please provide the steps to reproduce.**
If you log the method, you can see in the dev. console that it fires three times on page load:
[code]
**- W

[2017-07-12 10:52] whizzter commented on #329
Just found netlify and it's really something similar to what i've had in mind myself (started hacking a bit on a clientside-CMS but it's nowhere near completion).

@daddykotex Is the listing/reading/etc following REST semantics?

One suggestion i think might be considered (that i thought as a starting point for my own project) would be to add a "blob" backend also, with a single HTTP(S) endpoint t

[2017-07-12 13:58] daddykotex commented on #329
You can check it yourself: https://github.com/daddykotex/netlify-cms/commit/682b4977fc4d7e45ce45de28eb3a034ccc96b793#diff-968972ca44958c715aa87a512b507ee9

There are only 2 endpoints and I completely forgot about this PR to be honest.

There is two GET endpoints. One to fetch entries, one to fetch a file content. There is one POST endpoint to create file (BLOB) as you suggested. It's missing a lot

[2017-07-12 14:22] erquhart commented on #329
@daddykotex I forgot about this PR too, glad @whizzter commented.

This would definitely still be a great add! Took a quick look at the branch, here's a few considerations:

* The existing example still needs to run on `yarn start`, it's still the cheapest way to test the CMS itself from a static deployment. Probably drop the example altogether, good documentation should fill the gap.
* We have to

[2017-07-12 14:36] erquhart commented on #483
Thanks @rolfea, race condition sounds about right.

[2017-07-12 16:18] rolfea commented on #483
@erquhart
Since this is somewhat related to the fix I'm trying to add for https://github.com/netlify/netlify-cms/issues/286, I'm happy to work on this as well

[2017-07-12 16:22] erquhart commented on #483
That would be great!

[2017-07-12 16:48] greatwarlive opened #484 "Cover Image Via Links"
In Jekyll you can use the cover image as a link instead of saving the image to your github repo. How can you do this in Netlify CMS?

[2017-07-12 17:13] erquhart commented on #484
You can simply save the url as a string (via the default string widget). If you want the CMS to preview it in the editor, you'll need to add a custom preview component for that field.

[2017-07-12 17:14] erquhart commented on #484
Going to close this, but you should check out our Gitter: https://gitter.im/netlify/netlifycms

Someone is almost always on, fastest way to get questions answered :)

[2017-07-12 17:14] #484 closed

[2017-07-13 09:29] InderdeepBajwa commented on #234
@tech4him1 Bitbucket actually has a public API kind of thing that I am using to modify files or create commits. Also, you can checkout Forestry.io CMS for Hugo and Jekyll that have already been doing this.

[2017-07-13 22:02] tech4him1 commented on #234
@InderdeepBajwa Do you happen to have a link to docs or an example?

[2017-07-14 15:13] erquhart opened #486 "Add configuration examples to docs widget table"
The current widget documentation doesn't explain how each widget should be configured. One approach would be to add example configurations to the [table of widgets](https://github.com/netlify/netlify-cms/blob/1d08f1a33b9562e60145dc9704eb6379f64df044/docs/widgets.md#widgets) in the docs.

[2017-07-14 15:43] ziburski opened #487 "Error message for config issues"
When there is an issue with the config.yml (e.g. syntax), there should be an error message stating that.

I had a double colon in mine, and the CMS failed to load at all — nothing happened after clicking the GitHub login button.

#368 doesn’t seem to have fixed my case.

[2017-07-17 16:11] tortilaman commented on #323
Would it make sense to also add some kind of .htaccess or or other permissions solution to deny the general public access to the config.yml file?

I'm gonna try and figure out an implementation for both of these asap as I'd like to make sure this is all taken care of before I deploy anything to production.

[2017-07-17 17:25] erquhart commented on #259
Here's another, simpler approach: display publishing status for entries in the collection view.
Assigning a color code to the three publishing phases will help to improve clarity here.

The more I've considered this, the more I think we *shouldn't* put users in the workflow after saving a post. What if the user is editing multiple posts and doesn't want to change their review status?
 For those th

[2017-07-17 18:04] erquhart commented on #323
Actually, @Benaiah is working on #341, which should result in the config file only containing backend details (which must be publicly accessible), while the remainder of the config would be fetched from the repo. So public access of config.yml shouldn't be a problem.

[2017-07-17 22:24] cassandraoid opened #488 "Link button in editor malfunctioning"
** *bug*? **

**- What is the current behavior?**

When I attempt to create a link for text by highlighting desired text, then click the link button - the box to insert the web address does not pop up. However, if you switch to markdown, it's clear that the 'link' functionality was triggered.

**- If the current behavior is a bug, please provide the steps to reproduce.**

See above
**- What is the

[2017-07-18 05:16] zanedev commented on #234
@netlify team is bitbucket integration coming?  how difficult would it be to add it since they appear to have the commit bitbucket api now?

[2017-07-18 06:12] erquhart commented on #234
@zanedev it's not in active development, but we'd love to see it happen! If you're up for taking a crack at it let us know!

[2017-07-18 17:54] zanedev commented on #234
@erquhart actually I have an immediate need for it now so I'd be happy to kick it off.  I'll join the planning meeting tomorrow to hash it out

[2017-07-18 18:04] tech4him1 commented on #234
@zanedev It might be worthwhile to read through the issure we have for GitLab -- #57, as we may need some of the same problems/workarounds.

[2017-07-18 18:10] zanedev commented on #234
thanks @tech4him1 will check it out.

[2017-07-18 19:03] erquhart commented on #234
@zanedev that's great news! A good number of folks have been interested in this, so it'll be good to see it get some traction.

[2017-07-18 23:20] ziburski opened #490 "UI Design: Thoughts and mockups"
I understand that there is a larger goal of improving the UI in future versions. I wanted to contribute by sharing my ideas and design concepts. Not everything is a direct translation of existing features, but it can be seen as an aspirational concept for a 1.0 release.

Part of the reason for my contribution here is that I am frustrated by existing CMS. They all have similar information architect

[2017-07-19 00:16] erquhart commented on #490
@ziburski this is awesome - I'll be having a close look soon. You should consider joining us for the bi-weekly cms planning meeting tomorrow, it's a community thing. More info here: https://github.com/netlify/netlify-cms/wiki

Related to #179 and #180.

[2017-07-20 15:15] verythorough commented on #490
@ziburski I really love how this looks and works, and appreciate the thoroughness of thought.

I have one accessibility concern for the fields like booleans, where the fields names are very far away from their controls. It does make for a nicely balanced layout, but for a low-vision user who zooms in very close, it's difficult to associate labels with controls when both can't be seen on the screen

[2017-07-20 15:19] verythorough commented on #488
When @cassandraoid pointed this issue out to me, I was able to repro on my own machine as well.

[2017-07-20 16:45] ziburski commented on #490
Great, I’m happy you like it and looking forward to hearing further thoughts!

@verythorough That’s a good point! They are very far apart right now, even for users with good vision. A hover row highlight would help a little in that case. Would be interesting to experiment with a few different layouts here.

[2017-07-21 11:05] liquidvisual commented on #490
I love the simplicity of this, great work! I feel it's a much better solution to the current side-by-side editing approach - I feel that's too chaotic and overwhelming for the average user. I could easily imagine showing one of my clients this interface and have them just "get it", without needing extensive training.

[2017-07-22 06:40] #291 closed

[2017-07-23 17:15] zanedev commented on #234
Quick status update below. I will push up the cms code to my branch when it's a bit more solid on the editing experience.

- Successfully configured a custom oauth provider and authenticated netlify cms via bitbucket.  To get moving faster I based it on this [github custom implementation](https://github.com/vencax/netlify-cms-github-oauth-provider). I created a [fork](https://github.com/zanedev/ne

[2017-07-24 15:58] erquhart commented on #350
@carlflor this is a hot issue for the community, curious if you're up for kickstarting it? It's less about UI design and more about allowing images and assets to be managed directly, both on upload and when including an image/asset in an entry.

It's closely tied to #432, which is about allowing images and assets to be stored in third party services.

Thoughts?

[2017-07-24 17:00] erquhart commented on #234
@zanedev your approach sounds right on - really looking forward to seeing this functionality in place!

@calavera let me know your thoughts on Zane's point about providing "freebie" auth for Bitbucket users, as we do for GitHub.

[2017-07-24 17:02] calavera commented on #234
We can do that.

[2017-07-24 17:14] erquhart commented on #234
@zanedev looks like this is already in place on Netlify for anyone who uses it.

[2017-07-24 17:18] zanedev commented on #234
@erquhart ok good to know, I'll try to use it instead of the custom auth after I finish the editor api integration.

[2017-07-24 17:26] zanedev commented on #234
wrong button not done yet :)

[2017-07-24 22:16] eliwilliamson opened #494 "add search support for uploaded files"
on the global level, in the CMS, be able to search any files uploaded (by filename?). see screenshot below showing the potential placeholder text (and to give context as to which 'search' i'm referring to).

![screen shot 2017-07-24 at 6 14 26 pm](https://user-images.githubusercontent.com/871660/28547260-1b40b030-709c-11e7-82d7-14fb201b5363.png)

[2017-07-25 01:02] erquhart commented on #494
@eliwilliamson if you're literally looking for files that were uploaded and not for entries, this would make more sense after the media library UI is in place. Does that line up with what you're trying to do?

[2017-07-25 03:56] carlflor commented on #350
@erquhart Okay. I'm still in the process of reviewing the code structure, but I can start working on this. :)

[2017-07-25 12:45] #437 closed

[2017-07-25 14:12] erquhart commented on #350
@carlflor awesome! I'll write up some high level considerations in a bit.

[2017-07-25 17:20] chrisgeary92 opened #495 "Editor component previews break when editor converts URLs into links"
**- Do you want to request a *feature* or report a *bug*?**

BUG

**- What is the current behavior?**

Editor components that contain URLs (and mailto:, tel:) links do not render previews correctly. An image has been included below as an example.

![image](https://user-images.githubusercontent.com/3949335/28584126-795e4e94-7163-11e7-8dbd-daf7e7de406d.png)

**- If the current behavior is a bug, ple

[2017-07-25 17:39] chrisgeary92 opened #496 "Editor component preview breaks with less-than "<" character"
**- Do you want to request a *feature* or report a *bug*?**

BUG

**- What is the current behavior?**

When using the WYSIWYG editor (non-markdown editor), adding less than characters `<` are converted to `&lt;` which breaks editor previews.

Example: `{{< youtube nthOpo5tQDk >}}` becomes `{{&lt; youtube nthOpo5tQDk >}}`

**- If the current behavior is a bug, please provide the steps to reproduce.

[2017-07-25 17:53] erquhart commented on #350
Below are some points on how the media library implementation could work.

## Overview
CMS implementors should be able to create/read/delete assets (images and other files) through a dedicated UI. Starting with a media library overlay allows a basic initial implementation unencumbered by integration concerns with the current UI.

**Configuration**
* Configuration should not be impacted.
* Feature

[2017-07-25 18:11] kennedyrose opened #497 "Image uploading does not work in editor"
I am able to upload images just fine when I toggle on markdown. But images won't show up at all in the rich text editor after adding them via `+` -> `Image`.

If I add them while in the rich text editor and switch over to markdown, it doesn't even show up in markdown. Currently the only way I can add images is in markdown mode.

I'm on macOS, tested with Chrome, Safari, and Firefox.

[2017-07-25 18:15] erquhart commented on #495
@chrisgeary92 odd, looks like it needs to be an html string to work properly. Also, I believe the url's are either being escaped or parsed differently.

This should all be resolved when #254 is merged.

[2017-07-25 18:15] erquhart commented on #496
Known issue, will be addressed by #254.

[2017-07-25 18:21] erquhart commented on #497
I'm seeing this working: https://cms-demo.netlify.com/#/collections/posts/entries/new

What version are you using?

[2017-07-25 18:42] chrisgeary92 commented on #496
Sorry, didn't see this, thanks :)

[2017-07-25 18:42] #496 closed

[2017-07-25 18:43] chrisgeary92 commented on #495
Awesome, thanks for the quick response! 👍

[2017-07-25 20:06] kennedyrose commented on #497
It works for me in that demo, but not when I deploy the default [Hugo test drive app](https://www.netlifycms.org/docs/test-drive/) from the docs or when I use the code provided from the [quick start](https://www.netlifycms.org/docs/quick-start/).

Looks like the unpkg files in the demo are using 0.4.3

[2017-07-25 20:23] erquhart commented on #497
Do you have a public deploy? I can take a look if so.

[2017-07-25 20:25] kennedyrose commented on #497
I do: https://github.com/kennedyrose/kaldi-hugo-cms-template

Thanks!

[2017-07-26 15:20] zanedev commented on #234
I've put some time into pushing a commit and it appears the preferred way is through a [form post multipart data](https://developer.atlassian.com/bitbucket/api/2/reference/resource/repositories/%7Busername%7D/%7Brepo_slug%7D/src?_ga=2.70351891.245129246.1500782498-746869669.1461637065#post).

This isn't ideal as github blobs, for obvious reasons but most importantly there might be some limitations

[2017-07-26 17:00] erquhart commented on #234
Hmm...looks like that's our only option. Guess we'll find out how well it works!

[2017-07-26 17:49] tech4him1 commented on #234
Would it be worth uploading each media file as a separate commit, so that we wouldn't have a giant request if someone had lots of media files in a single post? Each media file would be uploaded/committed first, then, if they all were successful, the main file could be committed. The only inconsistent state you would risk would be having extra media files uploaded, which in most situations should n

[2017-07-26 18:19] zanedev commented on #234
@tech4him1 I believe that's how it works now but will double check..

[2017-07-27 05:38] kogai opened #501 "Slug string from URI-unsafe characters"
**- Do you want to request a *feature* or report a *bug*?**

FEATURE REQUEST
(Maybe, related to https://github.com/netlify/netlify-cms/pull/414)

**- What is the current behavior?**
In case of using `editorial workflow` and `GitHub backend`.

When we create entry with URI-unsafe characters in title like `日本語のタイトル` or `عنوان فارسی`, we can't create PR correctly (It is created with the title of empt

[2017-07-27 09:47] ShalokShalom commented on #57
I am also very interested in that topic. So, this repo here have to get ported, in order to provide it somewhere else, like in Gitea?

https://github.com/netlify/netlify-cms/tree/master/src/backends/github

[2017-07-27 10:11] ShalokShalom opened #502 "IPFS support"
IPFS is a distributed peer-to-peer network, which offers the hosting of static sites:

https://ipfs.io/
https://ipfs.io/ipfs/QmdPtC3T7Kcu9iJg6hYzLBWR5XCDcYMY7HV685E3kH3EcS/2015/09/15/hosting-a-website-on-ipfs/

Can you support it?

[2017-07-27 18:16] damienvdw commented on #422
Fixed in #503

[2017-07-27 18:16] #422 closed

[2017-07-27 20:13] Benaiah commented on #502
Editing a site which is hosted on IPFS should be perfectly feasible once you have a build process which deploys to IPFS - Netlify CMS doesn't handle building or hosting the site whatsoever, just editing the content. You should be able to set up a GitHub repo for your content and deploy the content to IPFS from GitHub however you want. The only missing piece you'd need is an auth server for authent

[2017-07-28 13:01] ShalokShalom commented on #502
There is also a JS implementation, which runs without any installements or proxy like it is currently essential with the go implementation. https://github.com/ipfs/js-ipfs

Plus, a member said "its just the commit workflow that needs changing"

[2017-07-29 14:06] atelierbram commented on #16
I would like to see an example of a workflow with Grunt (and Hugo) ISO Gulp. Unsure how to convert the `gulp.task('cms'), () =>` into a Gulp task, ... (my javaScript skills are lacking). Can someone show in a code snippet how this might work?

[2017-07-31 17:45] zanedev commented on #234
Update:
- I was able to commit/push normal text md files through netlify cms ui to the bitbucket api using the post multipart method with the "form-data" npm package so that's a step forward yay!
- The bitbucket api does not appear to support base64 encoding which is kind of a show stopper for transferring files over http.  Let me know your thoughts on that...  Whenever I send base64 encoded files

[2017-07-31 18:41] tortilaman commented on #16
I can possibly create a spike example.

[2017-08-01 10:36] bert-bruggeman opened #504 "Unable to extend editor toolbar buttons (like "h3", "blockquote",...)"
I can't find a way to extend the editor toolbar buttons...

[2017-08-01 13:20] damienvdw opened #505 "List widget default value"
This isn't so much a bug as it is a question :

Is it possible to assign a `default` value to a `list` widget ?
If it is, what is the correct way to use it with a single or multiple values ?

The documentation is light on examples and I could not figure it out reading the source code...

Thanks a lot !

[2017-08-01 14:20] erquhart commented on #505
This should work but doesn't, I'd consider it a bug. Default values in list fields should be set by adding a "default" property to the individual fields in the list.

[2017-08-01 14:29] erquhart commented on #504
The buttons on the toolbar can't be added to, but you can add shortcode plugins that are accessed through the `+` icon. Here's the [documentation](https://www.netlifycms.org/docs/extending/#registereditorcomponent) for adding shortcode plugins to the editor, and here's an [example](https://github.com/netlify/netlify-cms/blob/6af9a3155c794cec697bc0722907c738200e292b/example/index.html#L168) where w

[2017-08-01 14:33] damienvdw commented on #505
So the right syntax would be something like that ?

`- {label: "listTest", name: "listTest", widget: "list", default: "['term_1', 'term_2']"}`

[2017-08-01 14:34] erquhart commented on #234
Thanks for killing it on this @zanedev! Let's see what the Bitbucket community comes back with.

[2017-08-01 14:42] erquhart commented on #505
List widgets contain other fields, not multiple strings - here's an [example](https://github.com/netlify/netlify-cms/blob/b294110db7f7a28279f5737a3f3b17052829da72/example/config.yml#L102) from the docs.

Your best option currently if you need an array of strings is to create a custom widget. I believe the default value syntax you're using would work, except the array should not be wrapped in a str

[2017-08-01 15:09] damienvdw commented on #505
You were right, I removed the doubles quotes around the array and it worked.

For reference :

`- {label: "listTest", name: "listTest", widget: "list", default: ['term_1', 'term_2']}`

Apparently, if not setup to contains other fields, the list widget can contain multiples strings !

There is no preview though. But this is perfect for Hexo's categories and tags !

It's a nice default, please don't

[2017-08-01 15:41] erquhart commented on #505
Man, I could have sworn that more than one issue/Gitter convo has taken place about this specifically not working. It's definitely a great default, glad you got it figured! We need to update the docs with this info for sure.

[2017-08-01 18:20] zanedev commented on #234
Ok bitbucket question posted [here](https://community.atlassian.com/t5/Bitbucket-questions/Bitbucket-API-commit-image-and-base64-encoding/qaq-p/618009#M18095)  hopefully someone helps it feels like a dead end in their forums.  I'll keep hacking on it and post my branch soon regardless.  Determined to get to the final goal (eventually)..

[2017-08-01 18:22] Benaiah commented on #234
@zanedev thanks so much! It's great to have some movement on this issue.

[2017-08-02 04:07] zanedev commented on #234
np @Benaiah happy to help out!  I pushed up [my branch](https://github.com/netlify/netlify-cms/tree/bitbucket-integration) if anybody wants to give it a shot also.  It's very raw work in progress, haven't cleaned up anything yet just getting core functionality working first.

To recap it currently does:
- pulls/displays posts from bitbucket
- allows saving/committing text/md files

It does not com

[2017-08-02 09:19] bert-bruggeman commented on #504
I do think this is still an issue, H3, h4, blockquote, ul, ol,... should be default buttons on the editor...

[2017-08-02 13:25] erquhart commented on #504
@bert-bruggeman agreed! This makes sense as a feature request.

We do have a few more buttons coming in #254, check it out in the deploy preview: https://deploy-preview-254--cms-demo.netlify.com/#/collections/posts/entries/new

[2017-08-02 15:12] aperep opened #509 "On creating a new entry, slug ignores changes in field "date""
**- Do you want to request a *feature* or report a *bug*?**
Bug.

**- What is the current behavior?**
New entry slug ignores "date" field of the post, puts current date instead.

**- If the current behavior is a bug, please provide the steps to reproduce.**
Take your Hugo-generated site on Github, connect NetlifyCMS as in docs, by adding index.html and config.yml exactly as in https://www.netlifyc

[2017-08-02 18:33] tortilaman commented on #504
@bert-bruggeman I'll be working on adding all the buttons you mentioned in addition to a couple others in a new PR in the coming days.

[2017-08-02 19:01] erquhart commented on #504
I should also clarify - I'm viewing this as a feature request to allow the toolbar to be configured. I don't think headers higher than h2 should be in the toolbar by default, but it should be possible to add them by config.

[2017-08-02 22:31] tortilaman opened #510 "Repo value in confing.yml is case sensitive"
**- Do you want to request a *feature* or report a *bug*?**
Report a Bug

**- What is the current behavior?**
The repo you specify in config.yml is case sensitive. If it isn't the same as what the github api returns, you will be blocked from accessing the CMS.

**- If the current behavior is a bug, please provide the steps to reproduce.**
1) Capitalize your repo weirdly
2) Lose access to CMS

**-

[2017-08-03 19:35] verythorough opened #511 "Cross-post: Fix inline links to docs."
Because this fix needs to take place on the netlify-cms-www repo, I've filed the issue there ([#45](https://github.com/netlify/netlify-cms-www/issues/45)), but I'm cross-posting here because this is where most contributors look. :)

[2017-08-03 22:43] tortilaman commented on #475
I would really appreciate a PR for this gausie. I've been doing sorting outside of the CMS since it doesn't currently have it, but within the CMS is definitely the best place for it to happen.

[2017-08-03 22:45] tortilaman commented on #323
Unless anyone has any issues, I'm going to close this.

[2017-08-04 07:31] bert-bruggeman commented on #504
Nice! Looking forward to the next version!

[2017-08-04 07:36] bert-bruggeman opened #512 "Markdown new line " " (double space) converts to "\""
Markdown new line "  " (double space) converts to a backslash  in the markdown editor....

[2017-08-04 09:11] #323 closed

[2017-08-04 09:47] bert-bruggeman commented on #512
Current editor,...

[2017-08-04 10:36] tortilaman commented on #512
The slate editor from #254 is about to be merged. I can't seem to reproduce this in Slate, so that's good. If you want to have a try, look at https://deploy-preview-254--cms-demo.netlify.com/. I might just not be understanding the error you're mentioning..

[2017-08-04 21:13] tech4him1 commented on #291
@Benaiah it doesn't look like you really meant to close this in #485?

[2017-08-04 21:49] Benaiah commented on #291
@tech4him1 why not? That PR enabled deletion in the simple workflow, which is the subject of this issue ("Ability to delete cards _outside of_ editorial workflow").

[2017-08-04 22:03] tech4him1 commented on #291
Oops, I'm sorry, I thought it was for both because you said in #485 that "This does not close #291 completely".

[2017-08-04 22:06] Benaiah commented on #291
@tech4him1 my bad, that's a mistake in #485.

[2017-08-04 22:19] Balonissimo commented on #512
@tortilaman
In markdown, two spaces are used after a certain sentence to start the next sentence on a new line.

In the current editor, this only works if the text is displayed as markdown code, in wysiwyg mode double spaces are replaced by a backslash and the text is not on a new line...

In the new slate editor, the double spaces do not work at all (not in the content preview as well).

[2017-08-04 22:24] bert-bruggeman commented on #512
@tortilaman
In markdown, two spaces are used after a certain sentence to start the next sentence on a new line.

In the current editor, this only works if the text is displayed as markdown code, in wysiwyg mode double spaces are replaced by a backslash and the text is not on a new line...

In the new slate editor, the double spaces do not work at all (not in the content preview as well).

[2017-08-05 02:27] tortilaman commented on #512
@bert-bruggeman Alright, I would assume it's preferable to not have the slash, so that's probably good. I'm curious if it's the markdown library itself that doesn't support the double space syntax.

[2017-08-05 20:57] kevinfoerster opened #513 "content in subfolders…"
it is not very obvious and maybe impossible, ist there a way to have collections with subdirectories?

currently I have a folder called products and in there several product folders with their index.md respectivly.

the title of the folder corresponds with the title in each index.md

[code]

netlify-cms does not parse the subfolder and/or does not list any content.

the collection is configured us

[2017-08-05 21:33] tortilaman commented on #513
Netlify CMS doesn't currently support sub-folders. I think there has been some discussion around this though.

If you want this final folder structure, I would suggest using metalsmith or gulp to create such a structure from a structure netlify will work with. I'm currently using metalsmith, and here's what I get.
**Starting Files:**
[code]
**Finished Files:**
[code]

[2017-08-05 22:05] kevinfoerster commented on #513
ok…

[2017-08-06 00:02] erquhart commented on #513
@kevinfoerster you can use a "file" type collection, and use the full path to each file. Here's an example: https://github.com/netlify/netlify-cms/blob/master/example/config.yml

[2017-08-06 12:29] dommmel commented on #425
Has netlify-git-api has been removed as a backend?

[2017-08-06 19:45] taussoe commented on #234
@zanedev Thanks for looking into bitbucket integration! Very much appreciated. I will check out your repo and take it for a spin :)

[2017-08-06 20:48] taussoe commented on #234
@zanedev Just tested out a few different things - seems to work pretty well. I might have resolved the image problem. First time opening the netlify cms code so i'm not sure if there's smarter ways of doing it.

[2017-08-06 21:44] zanedev commented on #234
@taussoe that's great news thanks for doing that I'll try it out later tonight!

[2017-08-07 02:28] tortilaman commented on #425
@dommmel the backend has not been removed. It isn't exactly the primary use-case though, so it might need some love.

[2017-08-07 02:33] zanedev commented on #234
@taussoe thanks again that was the trick!  I merged it into my branch and I'll continue on to the next road bump now that we are over that one.

[2017-08-07 03:34] erquhart commented on #234
@taussoe @zanedev nice!!

[2017-08-07 07:36] taussoe commented on #234
@zanedev Yay! Glad i could help :)

[2017-08-07 07:49] dommmel commented on #425
@tortilaman thanks. It seems that I have problems navigating the source code resp. documentation. Just to be make sure: I am talking about supporting a local git repo via "netlify-git" or netlify-git-api.

putting the following in config.yml does yields the above error.
[code]

as far as I can see netlify-git has been removed in a4d7622adead7e259caccdac5c97499d977de070 or has it been refactored in

[2017-08-07 23:32] heathervv opened #516 "registerEditorComponent: Weird scrolling issue happening with components that are taller than markdown field"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
When a block level component is open, I'm unable to scroll the entire length of it (scroll jumps). You can view a video of the issue here: http://bokeh-staging.netlify.com/img/example.mp4

**- If the current behavior is a bug, please provide the steps to reproduce.**
- Using `registerEditorComponen

[2017-08-08 00:08] tech4him1 commented on #512
It looks like the reason this is broken in the new Slate editor is because of these lines in #254:
[code]
https://github.com/KyleAMathews/netlify-cms/blob/6ad4207431d0a3517257432259ab09cd49926d93/src/components/Widgets/Markdown/serializers/index.js#L119

[2017-08-08 09:26] Dammmien commented on #436
In the Kitchen Sink entry you can note that the editor is scrolled to the bottom when the page is loaded. If you disable the visual editor component and replace it by the raw editor, the issue disappear. It seems to be linked to a prosemirror [issue](https://discuss.prosemirror.net/t/prosemirror-is-causing-a-scroll-to-the-whole-page) and more generally to the contenteditable behavior ...

Any idea

[2017-08-08 09:27] Dammmien commented on #436
In the Kitchen Sink entry you can note that the editor is scrolled to the bottom when the page is loaded. If you disable the visual editor component and replace it by the raw editor, the issue disappear. It seems to be linked to a prosemirror [issue](https://discuss.prosemirror.net/t/prosemirror-is-causing-a-scroll-to-the-whole-page) and more generally to the contenteditable behavior ...

Any idea

[2017-08-09 16:11] tortilaman commented on #436
I ran into this bug this morning when I was a text widget within a list widget. If I was editing any of the widgets that ended up down the page, it would scroll to top for every letter I typed in the text widget. I'll do some more thorough testing on the page later I think.

[2017-08-09 16:15] tortilaman commented on #516
Without really diving in, this seems like it could be related to #436.

[2017-08-09 16:26] tortilaman commented on #425
sorry @dommmel, I thought you were referring to the `netlify-auth` backend. I previously setup `netlify-api` with a lot of trial and error, but I couldn't begin to tell you how.

One thing to be aware of is that the way the `netlify-git-api` handles users and authentication is completely different from other available authentication options. You manually create users, and there isn't any kind of O

[2017-08-09 17:39] Benaiah commented on #425
Yeah, as far as I know the `netlify-api` backend isn't supported at the moment. We have plans for a local backend, but that work's not completed yet. At the moment, the only working backend that edits real data is the GitHub backend (there's an in-memory test backend, but it doesn't really count). There's also a GitLab backend in the works (https://github.com/netlify/netlify-cms/pull/517).

[2017-08-09 18:30] eliwilliamson commented on #494
@erquhart that would suffice - when do you think this feature will launch?

[2017-08-10 01:19] heathervv commented on #516
@tortilaman Possibly! I'm not quite sure it's the exact same thing though.

Was digging around into this, and it has to do with the `stickyAtBottom` status in `/src/components/UI/Sticky/Sticky.js` for the toolbar. I'm noticing that the moment the scrolling is jumping, that state is being triggered and then is immediately "un-triggering".

What are the options for disabling this behaviour when a co

[2017-08-10 05:30] tortilaman commented on #516
There isn't really an "option" currently to disable such behaviour. I think with some styling and a bit of javascript though a solution could be found. If you're interested, this could be a good opportunity for a contribution and pull request.

[2017-08-10 08:33] Dammmien commented on #436
In fact this is 2 differents issues :
- The editor is scrolled to the bottom when the page is loaded due to prosemirror.
- When you have a large image the rendering of the preview trigger a scroll event. It makes the editor scrolls to the top due to syncing.

[2017-08-10 21:36] abattenburg opened #519 "Using NetlifyCMS with Next.js or Nuxt.js?"
While not exactly static site generators, both Next.js and Nuxt.js have the option to export as a static site. Is it possible to integrate NetlifyCMS with these tools?

I've tried to implement NetlifyCMS with Nuxt.js by following the quick start, but keep getting an error about not being able to find a 'media_folder' when navigating to the 'admin' page. As Nuxt.js has a "static" folder for assets,

[2017-08-10 21:56] Benaiah commented on #519
Netlify CMS is intended to work with your _source_ files, not the product of a build. It talks to GitHub's API to edit content, but doesn't have any other involvement with how you build, host, or deploy the project. It just provides an interface for editing the content, it doesn't actually turn the content into a completed site. That's where a static site generator would fit in (though the CMS doe

[2017-08-11 17:43] zanedev commented on #234
Okay we are in good shape! I'm doing some cleanup and writing some tests and it should be good enough to use without workflow.  I'll push it up and do a PR when it's ready soon.  I'll also take a look at the PRs for gitlab integration and git unit tests to make sure I'm not missing anything.

[2017-08-12 19:18] tech4him1 opened #522 "Cleanup Icons"
Right now we have multiple different icon sets that are used in different parts of the UI. We currently have [Material Icons](https://github.com/netlify/netlify-cms/blob/b2d4714c903b403eb4c5cbe0d0d218769408188f/src/material-icons.css), [Entypo (v2?), and Font Awesome editor icons](https://github.com/netlify/netlify-cms/tree/0521757b8c674d74974d5d68042bf0965a48f7f6/src/components/UI/icon). These sh

[2017-08-12 19:28] tech4him1 commented on #57
If anybody wants to help contribute, we have a working PR at #517.

[2017-08-12 19:37] tech4him1 commented on #519
@abattenburg Are you still having issues getting this working? If you have an example project I can take a look.

[2017-08-12 22:14] verythorough commented on #192
Some discussion of this in the (closed for now) PR #243. A possible alternate way of handling multiple items that must be published simultaneously is to allow the user to create a 'project' (or something similar) that's essentially a UI wrapper for a named branch with multiple file changes on it.

For example, if a user wanted to post a new conference talk description and a new speaker profile to

[2017-08-13 17:51] zanedev commented on #234
I removed all editorial workflow support for now and all simple paths are working except delete file.  I can't find anywhere in the [api documentation](https://developer.atlassian.com/bitbucket/api/2/reference/resource/repositories/%7Busername%7D/%7Brepo_slug%7D/src) for deleting a file, the src endpoint only accepts get and post.  Maybe someone can help me find how to delete?  I put a comment [he

[2017-08-13 18:31] rriemann commented on #434
I have some coordinates in my yaml-frontmatter:

[code]

it would be nice to have such a component to create this. I render in Jekyll markers with these geo positions on a leaflet map.

[2017-08-13 20:14] zanedev commented on #234
Ah thanks to @tech4him I now see the API docs say to send empty file will try that out thanks.

From the API docs:
However, when the files field contains a file path that does not have a corresponding, identically-named form field, then Bitbucket interprets that as the client wanting to replace the named file with the null set and the file is deleted instead.

[2017-08-13 20:20] tech4him1 commented on #234
@zanedev Wow, I couldn't even find that in the docs, it was just a guess! Glad it worked.

[2017-08-14 07:19] zanedev commented on #234
@tech4him1 yeah the joys of rest api's they all seem to do whatever they feel like :)

Okay delete is now working, writing some tests and will do my PR soon.

[2017-08-14 09:18] tortilaman commented on #522
This seems like something that gulp or a similar task-runner would be well-suited for. Adding gulp as a dependency though would be huge overhead.

I haven't used Fontello (or it's API) personally, but based on a quick look it's intriguing. I have several concerns about it thought that are probably just because of my lack of understanding of the API.

[2017-08-14 15:25] abattenburg commented on #519
Thanks for the clarifying what the CMS accepts @Benaiah. I knew that the CMS obviously wouldn't read my React/Vue code directly, but I wasn't sure if there was a limitation to what the CMS could be built with. My plan is to use Markdown with Nuxt.js, but I first wanted to make sure I could setup the CMS to integrate in general. Still trying to get past the 'Media_folder' error before introducing a

[2017-08-14 16:38] tech4him1 commented on #519
@abattenburg Only the actual repo information should be nested under `backend`. Try this:
[code]

[2017-08-14 16:47] abattenburg commented on #519
Wow. Thank you so much. Not sure how I didn't notice that I made that huge formatting error. Thank you so much again and glad to know it can integrate!

[2017-08-14 16:47] #519 closed

[2017-08-14 16:49] tech4him1 commented on #519
@abattenburg Great, I'm glad it works! I've never heard of Nuxt/Next before, so thanks for bringing then up!

[2017-08-14 19:49] tech4him1 opened #524 "Update Dependencies"
Currently, many of the CMS' dependencies (`dev` and normal) have updates available (use `yarn outdated`). We should probably go through them and determine which should be updated, and which should not. This issue will track progress.

Related to #542, #589.

Separate Issues: #478, #413, #664.

[2017-08-14 19:51] tech4him1 commented on #524
The CMS' `node-sass` version does not support Node v8.
`autoprefixer` should be updated to add/remove browser prefixes.

[2017-08-15 04:44] neutyp commented on #522
Agreed— have plans to address this soon and will be using a much smaller set of icons and not pulling in giant icon libraries

[2017-08-15 15:05] tech4him1 commented on #314
What kind of backend is going to be used for comments, or is that still up for discussion?

[2017-08-15 16:47] fool opened #526 "Long post titles can lead to invalid hostnames in Netlify deploy previews"
**- Do you want to request a *feature* or report a *bug*?**

*bug*

**- What is the current behavior?**

*CMS entries for posts with long titles can create branch names too long for deploy previews via Netlify's standard branch deploy naming scheme.  DNS hostnames can be a maximum of 64 characters per "segment" so "a-very-long-blog-post-title-because-i-am-a-really-really-wordy-dude--sitename.netli

[2017-08-15 22:43] tech4him1 commented on #456
I would vote for Snyk as well, it really helps stay on top of any security problems and updates in dependencies.

[2017-08-16 08:40] rriemann opened #529 "datetime widget format is not respected"
**- Do you want to request a *feature* or report a *bug*?**

Bug

**- What is the current behavior?**

A field in the config.yml  such as

[code]

leads to an output:

    date: 2017-08-15T13:33:26.984Z

The output does not match the given format.

**- If the current behavior is a bug, please provide the steps to reproduce.**

Check out these repos:
- output: https://github.com/beta-europe/beta-eu

[2017-08-16 09:07] rriemann opened #531 "Feature: edit data files with a list at root level"
**- Do you want to request a *feature* or report a *bug*?**

Feature

**- What is the current behavior?**

it seems to be impossible to create data files with a list at root level:

[code]

The current work-around is to use

[code]

However, this may require a change of the template that may be part of libraries (jekyll theme gems).

**- What is the expected behavior?**

I can just create lists al

[2017-08-16 13:37] erquhart commented on #522
@neutyp consider that we may be adding icons as we go if we went that route, and we don't necessarily want to be tied to an icon font/svg sprite generation process each time. Contributors should be able to PR a feature that uses previously unused icons without that hurdle.

We should definitely tie it all together, but if possible, we should find a way to use one or more third party icon libs as-i

[2017-08-16 13:43] erquhart commented on #456
@tech4him1 agreed, this is worth it's own issue.

[2017-08-16 14:48] tech4him1 commented on #522
I wonder if we could also have each SVG icon seperate, and use a generator/spriter to combine them at build-time.

[2017-08-16 16:51] verythorough opened #532 "Add ability to turn off auto-scroll in editor"
**- Do you want to request a *feature* or report a *bug*?**
a *feature* that would help mitigate a *bug* (#436)

**- What is the current behavior?**
Auto-scrolling can be frustrating, as described in #436.

**- What is the desired behavior?**
Improving auto-scroll would be awesome, but it's a big job. Adding a button to the UI to disable it would be a nice stopgap, and possibly useful going forwar

[2017-08-16 16:53] verythorough commented on #436
Added #532 as a possibly lower-hanging stopgap for this issue.

[2017-08-16 17:04] verythorough opened #533 "Add "All Contributors" listing to repo & docs"
Following the model of Kent C. Dodd's https://github.com/kentcdodds/all-contributors, I'd like to recognize contributions to Netlify CMS, in all of their various forms.

Implementation details are in the link above, and mostly involve markdown changes to the README, along with research to gather all of the contributors to include initially.

[2017-08-16 23:02] neutyp opened #534 "Implement a 'Settings' or 'Data' flag for files"
There has been quite a bit of in person and virtual conversation about this; documenting here for decision making.

### The idea:
Introduce an optional flag, such as `type: data` or `settings: true`, that allows developers of a site to list a collection of files (json/yml/toml?) as a settings/data type rather than a traditional content type. This is applicable for settings data that is referenced

[2017-08-17 00:19] neutyp opened #535 "Add 'Singles' type alongside 'Collections'"
Original idea as outlined by @erquhart

### Idea:

Allow for a 'Singles' content type, designed for one-off, often publicly-published pages such as 'About', 'Contact', etc. Anything that would not be appropriate as a repeatable object template in the way that 'folder' type Collections work in the CMS today.

This allows for the distinction in the 'Content' interface of these different content type

[2017-08-17 00:19] neutyp commented on #535
@erquhart Please let me know if I've made anything unclear or vague here

[2017-08-17 13:36] erquhart commented on #512
@tech4him1 good eye :)

The issue is that soft breaks are entities in the Markdown AST, and there's no obvious way to express that entity in the Slate AST. Just need to dig in more and find the right approach. As always, contributions are welcome!

[2017-08-17 13:48] erquhart commented on #513
Finding a way to support this is worthwhile, reopening.

[2017-08-17 13:53] erquhart commented on #509
This isn't actually a bug - the slug template _is_ referring to the current date. The "Publish Date" field isn't related to the slug at all.

That said, the ability to control slugs is definitely a priority, https://github.com/netlify/netlify-cms/issues/445 is the issue to watch.

[2017-08-17 13:53] #509 closed

[2017-08-17 13:58] #510 closed

[2017-08-17 14:31] erquhart commented on #494
Hoping to see it up in a week or so - see #350.

[2017-08-17 14:43] erquhart commented on #57
Thank you for killing it on this @tech4him1, can't wait to see it land!

[2017-08-17 14:52] erquhart commented on #314
Depending on where comments are stored, we would need a provider integration, and probably a new collection type that can handle comments in an ideal manner (they don't open, just an actionable list, for example), but that is abstract enough to capture a distinct class of use cases.

[2017-08-17 15:07] erquhart commented on #526
Good point. Since we don't want to enforce Netlify-specific rules, is to allow a configurable max-length, and maybe set the default to something around 40.

[2017-08-17 15:13] erquhart commented on #531
Yeah, everything has to have a field name currently. I suppose we could have a boolean "root" property on fields that simply drops the field's value directly into the parent (root for any field not in an object or list widget).

[2017-08-17 15:33] erquhart commented on #532
I'm envisioning this going together with the "hide preview" button (which itself needs design improvement and better placement).

[2017-08-17 15:35] erquhart commented on #436
I believe this may be addressed under #254:

- Using Slate instead of Prosemirror, so no more jumping to bottom on load
- Widgets in the preview pane are now only updating when their value has changed

[2017-08-17 15:46] erquhart commented on #535
This looks good on the UX side. I would only add that the CMS would need to support singles before this could move forward. It may be as simple as giving different treatment to file type collections with only one entry.

[2017-08-17 15:55] rriemann commented on #531
Unfortunately I'm super busy with university. :(

[2017-08-17 17:10] erquhart commented on #350
This is now underway, WIP PR coming shortly.

[2017-08-17 17:21] #505 closed

[2017-08-17 17:38] kalinchernev commented on #513
Just to say from personal experience, indeed having a step which flattens the files works well at this stage.
While trying to figure this question myself, I also found this [test](https://github.com/netlify/netlify-cms/blob/34202736911d30b31eb7b7ce41de4872447644b2/src/reducers/__tests__/collections.spec.js#L31) which has `folder_based_collection` in the config. Maybe at some stage it was already a

[2017-08-17 18:12] niculistana opened #537 "Cannot delete test post(s) in example seed data"
**- Do you want to request a *feature* or report a *bug*?**
Bug
**- What is the current behavior?**
Cannot delete post from test example.

**- If the current behavior is a bug, please provide the steps to reproduce.**
1. Create new post under `posts/entries/new`.
2. Write a post with a title and a body (title and body are both required here and does not alert the user that the fields are empty)
3.

[2017-08-17 18:37] tech4him1 commented on #537
This looks to me like a bug introduced in #485 -- the GitHub implementation got a `deleteFile` method, but the testing backend got a `deleteEntry` method.

[2017-08-17 18:46] Benaiah commented on #537
@tech4him1 yup, looks like that's exactly what it is.

[2017-08-17 21:16] #537 closed

[2017-08-17 22:32] tech4him1 opened #539 ""Remember Me" option for login"
We should probably have a way for users to choose whether or not they should stay logged in over CMS reloads, etc. Right now, whenever a user logs in, the OAuth `access_token` is stored until the user logs out, so that the user does not need to re-login every time the CMS is reloaded. Some users, however, may not want this (e.g. if they are using a shared computer).

We would need to implement thi

[2017-08-18 13:54] erquhart commented on #531
No problem! I'm sure someone will take it on.

[2017-08-18 14:12] tech4him1 commented on #539
How should this look on the login screen? The benefit of the login screen as it stands is its simplicity, but I don't know a better location to add a "Remember Me" box.

[2017-08-18 14:15] erquhart commented on #539
Yep, it would have to happen on the login screen.

[2017-08-18 15:26] tech4him1 commented on #539
Should the value of the "Remember Me" checkbox should be saved, so the user does not need to check/uncheck it every time.

[2017-08-18 16:09] erquhart commented on #539
Yep, agreed.

[2017-08-18 18:57] verythorough opened #540 "Add handling to avoid case insensitivity issues with image uploads"
**- Do you want to request a *feature* or report a *bug*?**
A feature to help avoid bugs? 😛

**- What is the current behavior?**
It's possible to upload images with identical names if taken case-insensitively. For example, IMAGE.jpg and image.jpg can be uploaded without conflict. Of course GitHub is fine with this, as it's case sensitive, but local machines and hosting environments may not be.

**

[2017-08-18 19:54] tech4him1 commented on #540
Related to #247.

[2017-08-19 08:19] ghost opened #542 "Secure Dependencies"
**- Do you want to request a *feature* or report a *bug*?**
Feature

**- What is the current behavior?**
In #456 we noticed there were quite a few dependencies with this project—which I attribute to JS lacking many of the affordances provided for languages like PHP. And though not all dependencies are used in the production bundle many are, and some may be susceptible to attack vectors such as XSS

[2017-08-19 08:40] jhabdas commented on #542
Looks like Snyk also has some badge action going on too. Noice! https://snyk.io/docs/badges

[2017-08-19 14:27] tech4him1 commented on #542
@jhabdas Thanks for making this issue, I agree that Snyk would be a good idea.

[2017-08-19 20:11] NaNdreas commented on #434
Unfortunately I don't think I will get the time for this, it's already been a few months. Sorry about that, but maybe someone else feel like giving it a shot.

[2017-08-21 13:45] erquhart commented on #540
Related to #350.

[2017-08-21 14:10] erquhart commented on #490
From @ziburski in Gitter:

The latest is that @neutyp has begun digging into some of the UX intricacies of moving the CMS UI forward. The design in this issue has been a strong catalyst, but it was stated that the final UI may look different.

We definitely want to work through this improvement in the open. @ziburski to what extent are you able to contribute? e.g. collaborating on further design m

[2017-08-21 15:21] erquhart commented on #418
Excellent breakdown on why **not** to use CSS-in-JS: https://reactarmory.com/answers/should-i-use-css-in-js. Bear in mind that CSS modules are unlikely to be a part of the picture moving forward.

[2017-08-22 00:27] tech4him1 opened #545 "Add more descriptive repo "Not Found" error."
**- Do you want to request a *feature* or report a *bug*?**
bug?

**- What is the current behavior?**
If `backend.repo` is set to a non-existent repo, a very unclear error message will be shown on login: "Not Found".

**- If the current behavior is a bug, please provide the steps to reproduce.**
- Set the `backend.repo` in your config to a non-existent repo.
- Try to login.

**- What is the expect

[2017-08-22 01:54] tech4him1 commented on #545
The reason this error is so unclear is because we are not actually checking if the repo exists or not, just trying to use it. That means the first time a missing repo error will show up is during authentication -- in the GitHub backend it shows up in `hasWriteAccess`: [src/backends/github/API.js#L27](https://github.com/netlify/netlify-cms/blob/0dd173a83fbb98f251700a49e6ad038b97b96ad1/src/backends/

[2017-08-22 14:03] ziburski commented on #490
Sounds good! I can help with iterating on the mockups and any remaining design problems. A more open design process would be great I think, happy to collaborate. I’m not too comfortable writing production code here, but I can definitely do quick prototypes or tweaks if needed.

It would be great to hear from @neutyp what the thinking towards a realistic UI revamp is, and which features are being w

[2017-08-22 15:14] erquhart commented on #490
@ziburski we're actually working on a brand new media library right now and haven't done any design or UX work (just using components as-is from React Toolbox). Would you be up for mocking a media library and how it would integrate with the vision you laid out above?

[2017-08-22 16:08] ziburski commented on #490
@erquhart Yeah, I’ll give it a shot in the next few days.

[2017-08-22 16:13] tech4him1 commented on #2
@erquhart Thinking about working on this -- How would we store the list of what user has what permissions?

[2017-08-22 16:20] erquhart commented on #2
Awesome!!

I think we still need to discuss higher level arch, like whether to maintain a list at all.

So here's a crazy idea, and it might not even be a good idea, but what if we fork the source repo for authenticated users that don't have write access? Forks via api are supported across platforms, and this could keep us from doing too much heavy lifting within the CMS while maintaining a natura

[2017-08-22 16:26] tech4him1 commented on #2
@erquhart On netlify/netlify-cms#2, I also think we should keep it as much tied to the actual backend as we can: using PRs, forks, branches, etc.. In that case, then, we need to define the user permissions based on the backend roles. In particular, how should "authors" be able to editing their own posts, without having to get each edit approved?

[2017-08-22 17:58] erquhart commented on #2
That would require write access to the repo.

So there's two layers:

1. The actual backend roles as you mentioned. This is the only real security - a user either has write access or they don't.

2. Using metadata, we can define what collections a user has access to, and perhaps other details pertinent to roles, ideally in some artificially obscure way so it isn't plain text. Maybe hashed and mini

[2017-08-22 21:04] kirillgroshkov commented on #234
Great work! Waiting for PR..

[2017-08-22 23:40] fool opened #547 "when 2 collections share a directory on disk, search can be confused about what type an entry is"
**- Do you want to request a *feature* or report a *bug*?**

bug

**- What is the current behavior? If the current behavior is a bug, please provide the steps to reproduce.**

We have blogs and events configured to share a folder on disk.

When I search for a blog, it is found, and when I click to edit it, the URL returned to edit it uses it as an event instead.  Changing the URL to rename the col

[2017-08-22 23:40] fool commented on #547
cc @Benaiah

[2017-08-23 10:34] rriemann opened #548 "Netlify-CMS markdown preview not commonmark compliant"
**- Do you want to request a *feature* or report a *bug*?**

**- What is the current behavior?**

A long markdown link is not rendered correctly in the preview

**- If the current behavior is a bug, please provide the steps to reproduce.**

Please post this in the body:

[code]

**- What is the expected behavior?**

That is works as on http://spec.commonmark.org/dingus/ and the link is rendered co

[2017-08-23 13:18] erquhart commented on #548
This is addressed in #254 - test here: https://deploy-preview-254--cms-demo.netlify.com/#/collections/posts/entries/new

[2017-08-23 19:14] pmac opened #549 "Add customization of collection search"
**- Do you want to request a *feature* or report a *bug*?**

Feature

**- What is the current behavior?**

When viewing a collection, the search function seems to only search a single field named "title".

**- What is the expected behavior?**

Configuration should exist allowing one to set which fields should be included in collection search, very much like a "relation" field widget. Something lik

[2017-08-24 15:59] ilearnbydoing opened #551 "Add Docs for Publii - A desktop app for static website and blog"
Hi,
you can add support for https://getpublii.com An open source desktop CMS for static websites and blog.
thanks

[2017-08-24 16:39] tech4him1 commented on #551
@w3update The CMS itself already supports most any static site generator, are you wanting this added to the docs? or do you need help setting up the CMS on your site?

[2017-08-24 16:44] tech4him1 commented on #551
@w3update If Publii is a CMS, how are you planning on using it with Netlify CMS as well?

[2017-08-24 16:56] w3update commented on #551
@tech4him1 Its a new Desktop based static website CMS a similar like what https://www.siteleaf.com/ does as a web app CMS for static website generator, Publii can only be access from machine it is installed whereas Netlify CMS is web app and can be access via browser from internet. So probably Netlify already supporting  many static site generator and Publii too may be a simple guide can help to i

[2017-08-24 17:11] tech4him1 commented on #551
@w3update It looks like Publii builds the site directly on the desktop app, is that correct? If so, I'm not sure if they actually could be integrated well. Netlify CMS works by committing directly to GitHub, then assumes a build step will be run automatically to build and deploy the site (via Netlify, Travis CI, etc.).

[2017-08-25 04:50] guayom opened #552 "Add help text to fields"
This is a feature request.
Sometimes you need to give special instructions on how to fill a field.
For example, preferred image dimensions, the format for a phone number or just some help text you want to give to the user, like "This field is not shown on the page, but it is required for this and that reason ... "
Generally this text is shown below the field label or below the input.

It could be

[2017-08-25 05:44] BerkeleyTrue opened #553 "Ship source code with npm package"
Currently running into an issue with an unhelpful help message:  `Collection must have a field name that is a valid entry identifier`

While investigating I found that ncms only ships with the minified source code. Also, the source mapping comment is missing from the js source so the source map provided will not be loaded by default.

It be great to be able to use the actual source code while I am

[2017-08-25 23:35] #246 closed

[2017-08-26 00:40] erquhart commented on #551
@ilearnbydoing we've added very brief notes on integrating with certain static site generators, nothing major. I don't think we'll be adding anything for Publii, but I definitely encourage you to blog about any integration opportunities you've come across!

Join us on [Gitter](https://gitter.im/netlify/netlifycms) if you want to discuss further.

[2017-08-26 00:40] #551 closed

[2017-08-27 20:40] tech4him1 opened #555 "Entry Page continues trying to close if entry not saved"
**- Do you want to request a *feature* or report a *bug*?**
bug

https://github.com/netlify/netlify-cms/blob/9c0b7262efe8198429d5a1928a1abe7948c27046/src/containers/EntryPage.js#L100

**- What is the current behavior?**
Currently, if the user tries to save an entry, but the backend has an error, the page still tries to redirect back to the dashboard. However, since the page is not saved yet, the u

[2017-08-28 00:06] tech4him1 opened #556 "Check user write access even with remembered credentials"
**- Do you want to request a *feature* or report a *bug*?**
bug, related to #491 and somewhat related to #539

**- What is the current behavior?**
When a user logs in, their OAuth access token and user information is saved so that they do not need to re-login on browser refresh. We also check and make sure that they have permission to access the repository, and fail if they do not have permission.

[2017-08-28 00:07] tech4him1 commented on #556
@erquhart I can work on this if you want, since I am already dealing with it somewhat for gentle reauth.

[2017-08-28 01:28] BerkeleyTrue opened #557 "feature: Add commit message templates"
**- Do you want to request a *feature* or report a *bug*?**
feature
**- What is the current behavior?**
Currently the user has no control of how the application writes commit messages.
**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**
It be awesome for users to provide templates through the config. This would allow users to stick w

[2017-08-28 02:03] tech4him1 opened #558 "markdown characters not escaped in new editor"
**- Do you want to request a *feature* or report a *bug*?**
bug, caused by #254

**- What is the current behavior?**
If a user types (#) pound character(s) at the beginning of a line in the regular editor, then switches to the markdown editor (and edits anything), the editor will convert the line to a heading.

**- If the current behavior is a bug, please provide the steps to reproduce.**
1. In th

[2017-08-28 02:03] tech4him1 commented on #557
@BerkeleyTrue That's an awesome idea, thanks for filing this!

[2017-08-28 14:30] erquhart commented on #548
Fixed in #254, closing.

[2017-08-28 14:30] #548 closed

[2017-08-28 14:32] erquhart commented on #549
This would be a nice improvement, agreed.

[2017-08-28 15:00] erquhart commented on #558
Great catch - we need to escape any markdown characters entered in the visual editor, we're currently escaping none of them.

Characters to always escape: `_`, `*`, `[`
Characters to escape when at the beginning of a block: `#`, `-`
Characters to escape when more than one present: `~`

[2017-08-28 22:08] jholmes033169 opened #561 "Feature Request: Sorting Collections"
Prior to the move from Ember to React, collections apparently supported a "sort" property, which would order the cards visually by the supplied property value.

Apparently that functionality got dropped, as the property is no longer honored. I guess that makes this a kinda sorta bug.

Ideally we should be able to specify the sorting property and ascending/descending:

sort: "date:desc"

Even more

[2017-08-29 00:16] verythorough opened #562 "Select widget displays first option by default, but behaves as if empty"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
When you start a new item in a collection, select widgets (without a set default - haven't tried with a default yet) will display the first option, as if they are selected. However, when you try to save, the field behaves as if it's blank: saving is blocked, and the label turns red.

**- If the cur

[2017-08-29 01:44] verythorough opened #563 "Add option to write front matter in TOML or JSON format"
**- Do you want to request a *feature* or report a *bug*?**
Feature

**- What is the current behavior?**
Thanks to the work done in #348, the CMS can _read_ TOML and JSON front matter, but there's no option to generate front matter in anything other than YAML.

**- What is the desired behavior?**
I think ideally we'd have a per-collection front_matter_format option that defaults to YAML, but also

[2017-08-29 15:06] kevinfoerster opened #565 "dependent fileds in collection"
hey,

i could not find any information about this therefor i thought i would ask here.

is it possible to show and hide fields depending on some other field?

eg. this is my frontmatter
[code]

based on that type different configurations for this list item might be needed

eg.
if my type is `image` only a `image` field is necessary but if the type is `infographic`and additional overlay `image` can

[2017-08-29 18:51] #555 closed

[2017-08-30 13:28] tech4him1 opened #568 "Add Editorial Workflow support for GitLab and BitBucket backends"
**- Do you want to request a *feature* or report a *bug*?**
feature

The new GitLab and BitBucket backends do not support editorial workflow yet. Since GitLab's API does not support low-level metadata like GH does, we will need to find a different method.

**Do you just need drafts?**
If you really just need drafts and not necessarily the entire editorial workflow, please be sure to add a thumbs u

[2017-08-30 14:43] erquhart commented on #568
Agreed - we need to start using a branch for metadata instead of an orphan ref.

[2017-08-30 14:44] #558 closed

[2017-08-30 15:05] erquhart commented on #418
Note by @Benaiah from a recent planning session: a primary consideration is how this impacts extension authors. We want styling to be as painless and approachable as possible for them.

I'll also note that, at this point, I'm personally leaning pretty strongly toward good ol' CSS (using cssnext).

[2017-08-30 16:21] dopry opened #569 "Re-Auth Error Messages for GitHub"
This is a bit of a bug report and feature request.

When you get logged out of github there is no error message letting you know to log in. It would be nice if failed http requests triggered some sort of login dialog or notice.

[2017-08-30 17:00] tech4him1 commented on #569
This should be addressed in #560. It will open a login modal/popup whenever a GitHub request returns a "401 Not Authorized" error.

[2017-08-30 17:42] tech4him1 commented on #569
This should be addressed in #560.

[2017-08-30 18:41] verythorough opened #570 "Add 'description' option when defining fields"
**- Do you want to request a *feature* or report a *bug*?**
feature

**- What is the current behavior?**
Fields have defined labels, but no space for guidance or instructions (aside from adding a parenthetical to the label itself).

**- What is the desired behavior?**
It would be nice to be able to add a 'description' when configuring a field, to display as user guidance text below the label, simi

[2017-08-30 21:12] verythorough commented on #570
Oops! Duplicate of #552

[2017-08-30 21:12] #570 closed

[2017-08-30 21:20] verythorough opened #571 "Update code blocks in Extending Widgets doc"
**- Do you want to request a *feature* or report a *bug*?**
docs update

**- What is the current behavior?**
The sample code blocks for `registerWidget` and `registerEditorComponent` use the `createClass` pattern, rather than the currently more common methods using JSX.

**- What is the expected behavior?**
Writing these with more common modern patterns will make them easier for new users to inter

[2017-08-30 21:42] verythorough commented on #571
Also worth noting, [this line](https://github.com/netlify/netlify-cms/blame/master/docs/extending.md#L88) includes an invalid regex string. It should look more like [this line](https://github.com/netlify/netlify-cms/blob/master/src/components/Widgets/Markdown/MarkdownControl/VisualEditor/__tests__/parser.spec.js#L30). And incidentally, the code in that file can serve as a model when updating the c

[2017-08-31 19:18] tech4him1 opened #573 "User should not be allowed to save an entry if is has not been changed"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
If an entry has not been changed, the "Save" button is still available/active, which can be a little confusing for the user. The "Save" button also still exists for new files, or ones with empty/invalid fields (with empty/invalid fields the user has no indication of failure at all except a red fiel

[2017-09-01 19:58] erquhart opened #575 "Markdown editor fast fixes - 0.5.0 beta"
This issue can be appended to include various bugs that are found in the new editor. When fast fixes are complete, any remaining issues here can be converted to standalone issues.

#### Inline node processing issues
Inline nodes need to be processed alongside surrounding text, and be subject to surrounding marks, while still having their children processed as required.
- [x] inline images become t

[2017-09-02 02:51] brandonmp commented on #325
@MarcCoet FWIW a quick workaround is to just edit the markdown of your post to the correct relative path from within netlify cms (ie, just toggle the 'Markdown' switch and edit the path)

It'll break the preview, but so far it appears to push fine. here's my config:

[code]

[2017-09-02 17:19] tech4him1 commented on #332
Does this actually break anything except loading the `config.yml`? If not, couldn't we just search both paths (`${ currentPath }/config.yml` and `${ currentPath }config.yml`)?

[2017-09-02 17:19] erquhart commented on #571
@verythorough JSX requires transpiling that may not be present at the point of CMS customization, e.g. inline scripts in the CMS HTML. We're also providing the `createClass` and `h` (alias for `createElement`) functions in the global scope so that custom widgets can hook into React without requiring it separately.

I do think it'd be good to provide additional examples that depict usage within sep

[2017-09-02 17:25] erquhart commented on #565
You could create a custom widget that provides a select input for selecting type, and the type definitions could be an array of objects defined in the widget config. Then you just swap in fields based on the selected type.

[2017-09-02 17:42] erquhart commented on #573
We can just use the `disabled` attribute, styling is already in place via React Toolbox.

[2017-09-02 17:46] tech4him1 commented on #573
Great, I'm working on this, will have a PR soon.

[2017-09-03 11:59] AnthoUCAYA opened #577 "Emoji in front-matter fields should not get converted to Unicode surrogate pairs"
**- Do you want to request a *feature* or report a *bug*?**
Report a bug

**- What is the current behavior?**
In CMS, if there is an emoji in md file, after save, emoji are replaced by unicode characters and then Netlify deploy failed

**- If the current behavior is a bug, please provide the steps to reproduce.**
Go to Admin
Select a page
Add an emoji in a field of your page
Save your page

When N

[2017-09-03 13:39] tech4him1 commented on #577
@AnthoUCAYA What specific emoji did you use? This seems to be working for me.

[2017-09-03 14:14] RomuxX commented on #577
Hi @tech4him1 I'm a coworker of @AnthoUCAYA, yes we using Hugo.

[2017-09-03 14:32] tech4him1 commented on #577
The deploy error that you are getting looks like it is directly from Hugo, not from Netlify. For me Hugo seems to have errors with some of the newer Emoji, but not all of them. The CMS does seem to be outputting valid Unicode escape sequences, though. If you still think it is a problem with the CMS, can you give me the exact emoji that you are using, and the unicode string that the CMS is outputti

[2017-09-03 17:10] luckyrat commented on #393
Here's another authentication issue for the list that causes this 404 error.

I created an OAuth application on my GitHub user account but couldn't get netlify CMS to write to the repo until I deleted that and instead created the OAuth application on the settings page for the organisation that contains the content repo. The user logging in to netlify CMS is a Write collaborator on only the one rep

[2017-09-03 18:00] AnthoUCAYA commented on #577
Hi,
For example this emoji 😊 was convert in these characters \uD83D\uDE0A

Tell me if you want further tests

[2017-09-03 18:50] AnthoUCAYA commented on #577
Just a precison,  emoji was in a field of the md file but not in the body.

[2017-09-03 22:05] luckyrat opened #578 "New content date is invalid"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
Creating new collection item results in an ambiguous date being created in the YAML front matter. It should be an ISO date but is instead "date: 03/22/2010 7:06 PM"

**- If the current behavior is a bug, please provide the steps to reproduce.**

1. Create a collection with a field like {label: "Dat

[2017-09-03 22:18] tech4him1 commented on #577
This is not really a bug with the CMS, it actually is valid Unicode to output 😊as `\uD83D\uDE0A` (reference: https://mathiasbynens.be/notes/javascript-encoding#surrogate-formulae and http://yaml.org/spec/1.2/spec.html#c-ns-esc-char). The exact build error that you were running into actually seems to be a bug with the underlying Hugo library, `go-yaml`, and I have filed an issue here: https://githu

[2017-09-03 22:21] tech4him1 commented on #577
@erquhart I'm wondering if we should output Emoji characters directly, or with 8-digit escaped Unicode sequences instead of 4-digit ones (`\U0001F60A` instead of `\uD83D\uDE0A`). Can we do that with the new editor?

[2017-09-04 17:11] tech4him1 commented on #577
It looks like the main problem here is that we are using UTF-16 for encoding the emojis, while Hugo needs UTF-8 encoded emojis. @AnthoUCAYA Thank you for reporting this, we will be working on it.

[2017-09-05 16:28] tech4him1 commented on #577
`js-yaml` astral character encoding as other than surrogate pairs: nodeca/js-yaml#368

[2017-09-05 23:00] verythorough commented on #571
Ah, thanks for explaining the logic there. I think we'll need to provide more explanation, then, because models for "riffing" on the example are difficult to find. Built-in widgets use a different syntax, and while I see the convenience of the `h` alias, it's not very searchable.

[2017-09-06 18:20] tech4him1 commented on #577
@AnthoUCAYA We are working with `js-yaml` to get these encoded in a more standard way. Here is the PR if you want to test it: nodeca/js-yaml#368.

[2017-09-06 19:21] tech4him1 commented on #577
Here is an explanation that I received from [Leon Timmermans on the YAML-core mailing list](https://sourceforge.net/p/yaml/mailman/message/36026528/):

[2017-09-07 06:08] erquhart commented on #513
I'm wondering if we can resolve this with more advanced slug handling, maybe as a part of #445.

The idea would be to allow the "slug" property to optionally be a path, which would be appended to the folder collection's base path. So to serve @kevinfoerster's example, it could look like:

[code]

[2017-09-07 07:01] marksantoso commented on #513
Hi @erquhart this would result in a collection with many items. Providing not much structure for the user.

E.g. Say you have a collection for 'pages', if you were to use the slug to manage subpages of pages you would end up with 1 collection with multiple pages, but no easy way to distinguish where they sit in the page hierarchy. subpages would sit in the same interface as their parent pages.

[2017-09-07 17:41] cheapsteak commented on #37
The link broke (trying to setup netlify-cms)

[2017-09-07 18:52] tech4him1 opened #583 "`git-gateway` backend doesn't show user avatars"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
The `git-gateway` backend doesn't seem to show a user's avatar.

**- If the current behavior is a bug, please provide the steps to reproduce.**
1. Using the example Netlify Identity project (https://github.com/netlify-templates/one-click-hugo-cms), add a Netlify Identity user, then login.
**- What

[2017-09-07 19:34] tech4him1 commented on #37
@cheapsteak Thanks for reporting that, here are some current instructions: https://www.netlifycms.org/docs/test-drive/#authenticate-with-github.

[2017-09-08 00:42] erquhart commented on #476
Related to #513.

[2017-09-08 00:44] erquhart commented on #488
Addressed in #254, will close when released.

[2017-09-08 00:50] erquhart commented on #501
Should have been addressed by #414, please re-open if still an issue.

[2017-09-08 00:50] #501 closed

[2017-09-08 01:53] verythorough commented on #547
This is being caused by a faulty config. Filing an issue in the affected repo.

[2017-09-08 01:53] #547 closed

[2017-09-08 02:05] erquhart commented on #553
@Benaiah can you update this with the latest on how we (might) approach this?

cc/ @biilmann

[2017-09-08 02:15] erquhart commented on #578
Thanks for reporting!

[2017-09-08 02:20] tech4him1 commented on #583
This actually seems to be semi-working in beta 10, but it just shows a color/letter combination instead of the actual avatar for external providers. We should just be able to add `avatar_url: user.user_metadata.avatar_url` to the returned user.

[2017-09-08 03:32] BerkeleyTrue commented on #553
@erquhart We should be able to accomplish this by adding a .npmignore that copies .gitignore minus the src directory

[2017-09-08 07:24] BlueChili commented on #578
My current workaround is adding a format property to the widget config.
`- { label: "Date", name: "date", widget: "datetime", format: "Y-MM-DDThh:mm:ssZ"}`

[2017-09-08 15:07] rzecchini opened #587 "Widget number return a string"
**- Do you want to request a *feature* or report a *bug*?**
bug
**- What is the current behavior?**
I type a number in a number widget but the output I get is a string
**- If the current behavior is a bug, please provide the steps to reproduce.**
configure a collection with a number field, access to the /admin interface, create an entry, inspect/check the entry in github
**- What is the expected b

[2017-09-08 15:14] tech4him1 commented on #587
This was fixed in #541. You can now set the NumberControl's `valueType` to be 'string', 'int', or 'float'.

[2017-09-08 15:14] #587 closed

[2017-09-08 23:15] erquhart commented on #545
Note: GitHub's API sends a 404 instead of a 401 for auth errors as a security measure.

[2017-09-09 00:16] tech4him1 commented on #501
#414 added the `slug` library, which accounts for 30.5% of our current bundle size. This should probably be changed to something a little lighter weight.

@biilmann also suggested using https://github.com/netlify/netlify-cms/blob/master/src/lib/urlHelper.js#L15

[2017-09-09 13:38] tech4him1 commented on #418
Another point is that the latest version (currently in beta) of `react-toolbox` is moving from Sass to PostCSS/cssnext, so we will have to run that anyway to get those compiled.

[2017-09-09 17:48] tech4him1 commented on #524
Also `yarn` has some perr-dependency errors from https://github.com/yarnpkg/yarn/issues/2688 and https://github.com/yarnpkg/yarn/issues/2387 that we don't need to worry about too much.

[2017-09-09 18:53] #583 closed

[2017-09-09 19:22] tech4him1 commented on #524
React depreciations: `prop-types` and `react-create-class` will need to be installed as separate packages.

[2017-09-09 19:32] tech4him1 commented on #524
Yarn warning's (w/`react-toolbox@2.0.0-beta`):
[code]

[2017-09-09 19:55] tech4him1 commented on #524
@erquhart So for dependency updates, I'm thinking of going through two stages:

1. Upgrade packages that are currently giving depreciation warnings or are no longer supported, ad get those out of the way.
2. Figure out if we want to upgrade any major versions that are still working (`react-router`), etc.

What do you think?

[2017-09-09 22:29] tech4him1 opened #588 "Stop exposing `createClass` and `createElement` directly."
React's `createClass` and `createElement` methods are exposed directly on the `Window` object by the CMS, for building extensions. This isn't very clean, and could possibly result in conflicts. Also, we have the user using the React class methods (`render`, `handleChange`) directly, which ties us to that specific implementation.

https://github.com/netlify/netlify-cms/blob/6ad6bfd094b78696744f87ff

[2017-09-09 22:54] tech4him1 commented on #588
Related to #571.

[2017-09-10 20:22] tech4him1 commented on #571
Related to #588.

[2017-09-10 22:00] tech4him1 opened #589 "Seperate `dependencies` and `devDependencies`"
On dependencies, we need to decide whether to:
1. Include the sources+dist in the npm package, leave all dependencies how they are.
2. Move all dependencies to devDependencies, only have the bundle in the npm package.

or some combination of the above.

[2017-09-10 22:35] tech4him1 commented on #589
cc/@Benaiah @erquhart

[2017-09-11 01:48] tech4him1 commented on #413
One note here is that `react-router` will *have* to be updated before React v16, as it uses functions depreciated since v15.5.0: https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html.

[2017-09-11 11:41] medfreeman opened #591 "Allow displaying a different field that the linked `valueField` in `Relation` widget"
**- Do you want to request a *feature* or report a *bug*?**

Feature
Needs #597 first.

**- What is the current behavior?**

The [`Relation` widget](https://github.com/netlify/netlify-cms/blob/5b502aa68004118d8036d99f14126e998ddc5533/src/components/Widgets/RelationControl.js) allows linking to another collection item.
The `searchFields` property defines in what item fields netlify will look for th

[2017-09-11 17:38] bdot opened #593 "Delete flag in configuration"
**- Do you want to request a *feature* or report a *bug*?**

Feature request

**- What is the current behavior?**

Currently an user can delete any file that's available via CMS. If you have important files like settings.json and home.md, you may want to restrict  deletion action to minimise the chaos.

**- What is the expected behavior?**

Ideally a *delete* on/off flag in config.yml at file/sect

[2017-09-11 20:25] dopry commented on #545
Would wrapping the error in another more specific error like

be an acceptable solution?

[2017-09-11 20:26] tech4him1 commented on #545
@erquhart Also [suggested](https://gitter.im/netlify/NetlifyCMS?at=59b328fb210ac269200d0681):

[2017-09-11 20:36] dopry commented on #545
so maybe  something like

[2017-09-11 20:39] tech4him1 commented on #545
Or maybe we should just link to a seperate doc. @erquhart Do you have any preference?

[2017-09-11 20:41] dopry commented on #589
As a consumer of netlify, not as a developer I'd want the smallest package footprint possible.  As a developer I'd want to include source maps to facilitate support.

Given those criteria, I'd vote to move everything to devDependencies, and just distribute a bundle with source maps for debugging.

[2017-09-11 20:46] Benaiah commented on #589
@dopry part of the issue is that distributing a bundle _increases_ the final package footprint if you import as an npm package due to library duplication (if you have any of the same deps as the CMS, they'll be duplicated in your final bundle since you're importing already-bundled code).

[2017-09-11 21:07] dopry commented on #589
I see. I was thinking more as just person who wanted to include Netlify-CMS for my blog. I guess most users like that could just load from CDN. Most npm users would probably be developers looking for a library to include in other react projects, eh?  In that case I'd probably lean toward making sure only run time deps are in dependencies.  It does look like a devDependencies have snuck into deps,

[2017-09-11 22:08] dopry commented on #490
@ziburski, I wanted to see if you'd made an progress. I'm poking around at some of the media stuff to support our editors. If you had some designs I could possibly lend a hand implementing them.

[2017-09-12 00:14] tech4him1 commented on #563
I can start working on this. Are we going to use `front_matter_format`, or something else?

[2017-09-12 00:27] dopry commented on #350
I've been poking around at some existing react media libraries and file managers. I've found the following which may be good for inspiration or may have components we can incorporate.

### Prior Art
* [Eureka](https://github.com/jpdevries/eureka) - full featured, but not very attractive. multiple media sources, search, folder navigation, multiple layouts.
* [Scotch.io Media Library](https://github

[2017-09-12 02:30] tech4him1 commented on #563
@verythorough @erquhart Do you think that `front_matter_format` should be defined for parsing as well, instead of just trying to infer the front-matter format like we do right now?

So by default, we would always try to parse front-matter as YAML, instead of trying to infer it like we do right now. The benefit of this is that we are not always relying on inferring, so we would be able to support o

[2017-09-12 04:34] Benaiah commented on #563
@tech4him1 I agree - I'd rather default to YAML and allow other settings than try to infer everything.

[2017-09-12 14:07] robinvdvleuten opened #595 "Nested field access in name"
It would be very nice to have the possibility to have nested fields access in field names.

Currently when I am configuring a nested field like this;

[code]

It gives me the following;

[code]

But if would be nice if I can just do this;

[code]

And having this output;

[code]

[2017-09-12 14:12] julienma opened #596 "List items should not require a `name`"
**- Do you want to request a *feature* or report a *bug*?**
Question, maybe feature.

**- What is the current behavior?**

The way I define opengraph pictures on  my site (using hugo) is to have an `images` array with values being path to pictures as string, not as an object.

It should be output as this in the front matter:

[code]

So I set up these CMS fields:

[code]

However it seems `name` i

[2017-09-12 14:45] tech4him1 commented on #596
So, just to clarify, you are wanting it to be like this:
[code]

[2017-09-12 14:51] julienma commented on #596
Yes :)

[2017-09-12 14:59] tech4him1 commented on #596
Sorry, I missed that :)

[2017-09-12 15:49] tech4him1 commented on #596
I almost wonder if this would be better as a separate Widget type completely. But right now we are setting the name to `null` or `undefined` anyway.

[2017-09-12 16:13] tech4him1 commented on #563
So for a TOML parser, it seems the most used one is https://github.com/BinaryMuse/toml-node. The problem is that it is only a parser, it doesn't have any output capability. Looking at the TOML spec (https://github.com/toml-lang/toml#v040-compliant) it looks like there are a few other v0.4.0-compliant implementations for JS. This one seems to be the only one that has a parser and dumper, though: ht

[2017-09-12 16:27] tech4him1 commented on #596
@Benaiah Will #468 work for this as well?

[2017-09-12 17:34] Benaiah commented on #596
@tech4him1 yeah, that will solve this exact usecase and close this issue.

[2017-09-12 18:34] tech4him1 commented on #589
We should be able to do something like run `babel` without `webpack` for the NPM module.

[2017-09-12 19:06] tech4him1 commented on #568
I also think the metadata should contain as little actual information as possible, in the event it is deleted or lost.

[2017-09-12 19:22] tech4him1 commented on #568
cc/ @zanedev Do you have any thoughts on implementation of this in regards to BitBucket?

[2017-09-12 19:25] zanedev commented on #568
@tech4him1 actually I haven't put much time or thought into how the whole editorial workflow is implemented for github yet.  I did notice you can manage refs with the bitbucket api though, it may be possible in a similar way as github.

[2017-09-12 19:26] zanedev commented on #568
I imagine after we plan it out here we would break out different tasks for each backend.

[2017-09-12 21:55] erquhart commented on #424
#525 has better info, closing.

[2017-09-12 21:55] #424 closed

[2017-09-12 21:57] tech4him1 commented on #424
@erquhart I think this should be for #529?

[2017-09-13 15:22] medfreeman opened #597 "Allow concurrent search queries"
**- Do you want to request a *feature* or report a *bug*?**

Feature

**- What is the current behavior?**

At the moment, the code can perform search queries at any point in time through redux store [search `query` action](https://github.com/netlify/netlify-cms/blob/5b502aa68004118d8036d99f14126e998ddc5533/src/actions/search.js#L125-L142).
However, the [`QUERY_SUCCESS` reducer](https://github.com/

[2017-09-13 15:24] JacobMillward commented on #562
If you add a `default` option with the same value as the first select choice, it works around it. In my case, my select only had one option though.

[2017-09-13 16:10] verythorough opened #598 "Build a more organized outline for docs"
The current docs organization was hastily pulled together from what was available in the repo at the time, plus minor updates to content.

To aid discoverability and reduce repetition, I'd like to re-organize the docs files. We can start by discussing here and developing an outline, and then start implementing.

[2017-09-13 16:40] DirtyF commented on #533
@verythorough Working on a PR, I went with defaults options, is it OK?

![all-contributors](https://user-images.githubusercontent.com/103008/30389342-daf9a3f8-98b2-11e7-90a8-c15df7db8684.png)

[2017-09-13 16:55] verythorough commented on #533
I think that's awesome for getting us started. Thanks so much!

[2017-09-13 17:44] tech4him1 commented on #533
How does the auto-commit work?

[2017-09-13 17:51] DirtyF commented on #533
@tech4him1 I removed it for now, cause I had to add manually each contributor and it was generating a commit for each.

[2017-09-13 20:41] dopry commented on #229
I've ran into this too. I think an important question is what is the best/easiest/most consistent way to identify the proper url based on the context of the post.. maybe there should be a backend.url(branch/tag/commit, path) that will return a URL to the raw image for previews and use in the admin ui or something similar...

thoughts?

[2017-09-13 23:08] #533 closed

[2017-09-14 16:40] verythorough opened #600 "Add instructions for auth with Netlify Identity and Git Gateway"
In the current docs outline, this requires changes in a few places:

**/docs/intro.md**
- [ ] ~Change to a Git Gateway backend in the sample `config.yml`? (I'm a bit torn on this one, but leaning towards changing.)~

**/docs/test-drive.md** (see PR #626)
- [x] Replace the link in the Deploy to Netlify button with `https://app.netlify.com/start/deploy?repository=https://github.com/netlify-templates

[2017-09-14 18:09] ziburski commented on #490
@dopry Thanks for the push!

Building on what was discussed in #350, here is what I’m thinking. The main use case for a media library is so that you can reuse your content without having to upload it again. Everything else, like uploading files directly to the library, viewing file details or deleting files, is secondary. For larger projects, we’ll at some point need file organisation features, bu

[2017-09-14 18:10] ziburski commented on #350
I posted some thoughts and mockups on the media library UI [over here](https://github.com/netlify/netlify-cms/issues/490#issuecomment-329564080).

[2017-09-14 18:10] tech4him1 opened #602 "Cannot delete entry under simple workflow when on a branch other than `master`."
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
If you try to delete an entry (using the simple workflow and GitHub backend), and you are not on the default branch (normally `master`), deletion will fail with a "Not Found" error.

This is caused by this line not having `params: { ref: branch }` when getting the file SHA (it should be like `readF

[2017-09-14 18:31] indysigner commented on #490
Kudos to such a detailed work on the mockups and thinking through what's needed when. I do also agree on the issue of showing two search input fields at the same time: my thoughts on this: the main search input should not be displayed as long as the focus is on Media Library.

Yes!

[2017-09-14 18:55] dopry commented on #490
@ziburski These look awesome.

Thank you for all the effort you've put into this. No oversights in the UX really jump out to me. WRT the search form it would be nice to have one search to rule them in non-modal contexts... ie) re-use the global search form and apply it locally, so users always go to the same location for search in non-modal contexts.

Have you thought at all about the inline image

[2017-09-14 19:21] Benaiah commented on #490
@ziburski that looks fantastic! I love the thought and detail you've put into these mockups.

[2017-09-14 20:35] ChrBach commented on #490
@ziburski Great work.

[2017-09-14 20:36] ziburski commented on #490
@indysigner @dopry Interesting ideas. I wonder what the expectation and use case for the universal search is.

If it’s more of a quick "go to" bar, it should always search everything and probably just show the results in a simple dropdown. If it’s an extensive way to look through your content and media database, we need a more elaborate UI for selecting what you want to search anyway. Maybe both c

[2017-09-14 20:37] neutyp commented on #490
I would strongly hesitate on any kind of global search. Very hard to discern what a user would expect to search for with a global search and hard to deliver on their promises. Better to have search located at the top of certain lists where it would be obvious what that search would query against

[2017-09-14 21:21] dopry commented on #490
@ziburski, @neutyp, re: global search.  I would hesitate on truly global search as well.  I tend to design where the search box is positioned consistently in the same page, but primarily serves to filter the current view context. Whether it's at the top of the 'page' or at the top of the 'table' the positioning should be consistent through out the UX.

@ziburski, re: inline image editing. I see th

[2017-09-14 22:15] dopry commented on #432
@bdougie, @g12n, what 3rd party services do you currently use? Which ones would you like to see supported?

[2017-09-14 22:18] bdougie commented on #432
I only have experience with cloudinary and the one I had in mind. I believe it uses S3 under the hood.

[2017-09-14 22:40] mdavidmorton opened #603 "CMS doesn't write to specified branch with git-gateway"
**- Do you want to request a *feature* or report a *bug*?**

Bug

**- What is the current behavior?**

When used with git-gateway, CMS writes to master branch regardless of the one specified in config.yml

**- If the current behavior is a bug, please provide the steps to reproduce.**

Edit config.yml:

[code]

Deploy site from the not-master branch. Setup Identity and git-gateway in Netlify settin

[2017-09-15 00:35] verythorough commented on #593
Was just coming here to file this! I think this field would make a great partner to the `create` field.

[2017-09-15 06:46] g12n commented on #432
[imgIX](https://www.imgix.com/) currently supports 3 Kinds of [sources](https://docs.imgix.com/setup/creating-sources):

S3 Bucket work good for image Storage. Additional services like imgIX would be a great addition, because they really help processing different image sizes (responsive images) and formats (webp).

[2017-09-15 11:43] eamonnbell commented on #600
I'd be very happy to help on this, on an ongoing basis, having spent some time this morning trying to get my head around the dependencies between GitHub, the SPA and `api.netlify.com`.

In particular, I think we can make the docs more explicit about the need for and the nature of any dependencies on Netlify-owned servers (i.e. `api.netlify.com` for the `github` backend).

As a concrete example, in

[2017-09-15 14:45] tech4him1 commented on #575
After the new editor was added, the `authors.yml` file on the example site (`test-repo` backend) can no longer be saved. The console error is: `Uncaught TypeError: Cannot read property 'reduce' of undefined`.

[2017-09-15 16:10] tech4him1 opened #605 "Cannot save any data files after new markdown editor."
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
After #254 (the new editor) was added, any data file on the example site (`test-repo` backend), whether it contains a markdown field or not, can no longer be saved. The console error is:
[code]
Related to #575 (cc/@erquhart).
**- If the current behavior is a bug, please provide the steps to reprodu

[2017-09-15 16:11] tech4him1 commented on #605
Tracing this back, at this line `collection.get('fields')` is resolving to `undefined`:
https://github.com/netlify/netlify-cms/blob/ac8df984074fec231a470ad2aaca5fe3299049f0/src/actions/entries.js#L279

I'm thinking this is because data file collections, instead of having `fields` directly, have `files` which then have their own `fields`.

[2017-09-15 17:47] tech4him1 opened #607 "Switch to a smaller slugifier."
Currently, we use the `slug` module for creating URL slugs from titles. The problem is that `slug` bundles an entire Unicode lookup table, and that gets bundled into our distributable. it currently accounts for 30.5% of our bundle size. This should probably be changed to something a little lighter weight.

Related to #328.

[2017-09-15 17:47] tech4him1 commented on #607
@biilmann suggested using `urlize` from `lib/urlHelper`:
https://github.com/netlify/netlify-cms/blob/04ae5051ceafc0c600eace5e88671b2766f81fe6/src/lib/urlHelper.js#L15-L20

[2017-09-15 17:48] tech4him1 commented on #607
The `slugify` package is a port of `slug` without the Unicode lookup table.

[2017-09-15 19:35] erquhart commented on #229
Update: introduction of the media library will cause asset management to be workflow agnostic, since uploading an asset will always result in a commit to the primary branch. Should be resolved when #350 is closed.

[2017-09-15 19:36] erquhart commented on #524
@tech4him1 sounds like a plan.

[2017-09-15 19:42] erquhart commented on #350
@dopry although assets are obviously files, we want to try to abstract away from making this a folder tree interface as much as possible.

Your screengrab in Lucid is exactly what I meant in the Future Improvements section of my requirements comment above - having assets in collections, just like other content. I'm thinking we'll stay away from nesting collections, but otherwise it looks like we'r

[2017-09-15 19:50] erquhart commented on #490
Contextual search is definitely the way to go, especially in the near-term.

Regarding third party asset storage, that is something we'll need to support post-1.0, but we'll be abstracting away the differences between them and offering a consistent experience in the UI across providers. Worst case, perhaps some providers don't have certain features in the CMS if the API doesn't support it.

[2017-09-15 19:56] erquhart commented on #597
Note: Mehdi ran into this because the relation widget and the primary CMS search bar share actions, reducers, and state.

[2017-09-15 20:01] #602 closed

[2017-09-15 20:03] erquhart commented on #607
If urlize can indeed do the trick, we should use it.

[2017-09-15 20:12] #573 closed

[2017-09-15 22:05] dopry commented on #229
That makes sense for re-used content.  Does it make sense for one time use content?

Consider the following use case, I'm prepping content for a marketing campaign the doesn't got live till a future date.  My clients want to keep it quiet until the big campaign launch. I don't want the risk of content going public prematurely, and stressing my relationship with my client.

[2017-09-15 22:31] dopry opened #609 "Add code coverage"
**- Do you want to request a *feature* or report a *bug*?**

Feature

**- What is the current behavior?**

There is no code coverage.

**- What is the expected behavior?**

When I submit a PR and travis runs the tests, code coverage is checked and ensures that overall code coverage has not gone down.

[2017-09-16 00:08] #577 closed

[2017-09-16 02:53] dopry commented on #609
There are number of services that can provide code coverage.

[Codecov](https://codecov.io/gh/dopry/netlify-cms/)

I really like codecov for code coverage. The UI is pretty good for digging into and exploring your code coverage. The UX is nice in that it makes drilldown simple and quick.

[Code Climate](https://codeclimate.com/github/dopry/netlify-cms)

I don't really like their UX for displaying

[2017-09-16 15:45] alteducation opened #615 "Issue with trailing slash on the _posts path"
**- Do you want to request a *feature* or report a *bug*?**
       Bug Report

**- What is the current behavior?**
      Content Manager Admin Wont Open Posts is the Post Path has A trailing Slash

**- If the current behavior is a bug, please provide the steps to reproduce.**
      Set Post Path to '_posts/' in the config.yml file and open the posts/collections from the admin UI

**- What is the e

[2017-09-16 20:01] tech4him1 commented on #615
Also see https://gitter.im/netlify/NetlifyCMS?at=59bd2210177fb9fe7eca9bf8

[2017-09-16 20:11] tech4him1 commented on #615
Here is the relevant code: https://github.com/netlify/netlify-cms/blob/caa5c69522e5446e8677775d7ea25fdbb0e2b36e/src/reducers/collections.js#L44-L46 The problem is that the folder and a slash is added directly to the string without checking whether the folder name already contains a trailing slash.

[2017-09-16 21:18] tech4him1 commented on #615
We should just be able to do:
[code]

[2017-09-18 12:38] AnthoUCAYA commented on #577
@tech4him1,

Thanks for this fix but when I changed the version of netlify-cms to "0.5.0-beta.10" in my package.json, I still have the same problem, it is the right version to use ?

[2017-09-18 12:48] cies opened #616 "Question: Would writing a backend for PostgREST be feasible?"
Hi all!

Netlify CMS is amazing! But for the usecases I mostly have to deal with I'd 100x prefer a relational db over Github repos. Other apps need to be able to extract data from the backend, and since the data fits very well in tables: why sould I want a repo with files?

Now there's this wonderful project called [PostgREST](https://postgrest.com/en/v4.3) (link to docs describing it's [API](http

[2017-09-18 14:06] tech4him1 commented on #577
@AnthoUCAYA No, it hasn't been released yet. It will be release in the next beta or version if we are ready (`0.5.0-beta.11` or `0.5.0` ).

[2017-09-18 14:22] AnthoUCAYA commented on #577
@tech4him1, Ok thanks !

[2017-09-18 15:54] tech4him1 commented on #418
When we run the build on the CMS, we could also have the processor (PostCSS) check for namespace conflicts.

[2017-09-18 19:36] tech4him1 commented on #607
Possible slugifier tests:
[urlize.spec.js](https://github.com/netlify/make-wp-epic/blob/master/__test__/urlize.spec.js)
https://github.com/netlify/netlify-cms/issues/501#issue-245930865
https://github.com/netlify/netlify-cms/pull/414#issue-227276693

[2017-09-18 20:19] Benaiah commented on #616
It's almost certainly possible to do, but I don't think it's likely to be something the core team can get to quickly. We'd welcome contributions towards this - one of the things that will make this much easier to merge and maintain will be more testing for the backend, so contributions in that area would be awesome.

[2017-09-18 20:37] #615 closed

[2017-09-18 21:56] #603 closed

[2017-09-19 14:51] erquhart commented on #616
This would require the git-centric nature of the CMS to be completely abstracted into individual backends. I'm honestly uncertain how I feel about supporting a non-git backend.

That said, we'd like to see backends that exist outside the repo as plugins, and it really shouldn't matter whether a backend is git based or not. If the backend you're describing really takes shape, it would be a good rea

[2017-09-19 14:56] tech4him1 commented on #607
So here is what WordPress does slugification:
1. Accented letters get the accents removed: [remove_accents()](https://developer.wordpress.org/reference/functions/remove_accents/).
2. - All other unsafe characters (Japanese, Chinese) get URL-encoded. Newer browsers will convert them on the fly, so to the user they still appear as normal characters.
   - The other option here is just to remove the u

[2017-09-19 16:00] erquhart commented on #607
Not sure when this conversion would occur - would the resulting filename have these characters encoded?

[2017-09-19 16:15] tech4him1 commented on #607
@erquhart Yes, in almost every case they would have to.

[2017-09-19 16:36] tech4him1 commented on #607
Just testing -- both DatoCMS and Forestry strip unsafe chars from the slug.

[2017-09-19 16:38] erquhart commented on #607
If it's par for the course and simpler, let's do it.

[2017-09-19 16:45] tech4him1 commented on #607
So we have three options:
1. Stay with the current `slug` package, just tell it not to worry about converting emojis (this would remove the hash table).
2. Switch to the `slugify` package, it is pretty much the same expect more maintained and without hash table.
3. Use the `urlize` function that Matt ported, use the `remove-accents` package on top.

[2017-09-19 18:45] tech4him1 commented on #607
I also think we should throw an error if the slug is going to be blank.

[2017-09-19 19:33] tech4him1 commented on #445
We currently overwrite any existing entry when a new entry is created that has the same slug. This is probably best fixed along with this issue.

[2017-09-19 20:09] benogle opened #619 "Widget docs a bit thin"
I setup netlify cms for the first time yesterday and had / still have some trouble getting the widgets to do what I want(ed). There is a lot here, but I thought it better to be cohesive than 6 issues. Here was my discovery process after having known what a widget was for < 5 minutes.

First I went to the quick start, and setup my config. There is a section of the widgets in the [collections](https

[2017-09-19 21:01] Benaiah commented on #616
Yeah, I definitely think this fits better as an extension than in the core, due to the fact that you'll have to reimplement a lot of the Git semantics.

[2017-09-19 21:18] cies commented on #616
If I understand you correctly writing a non-git backend involves a lot more then writing a git-based backend. I saw the examples of, for instance, the Gitlab backend...

https://github.com/netlify/netlify-cms/pull/517/files/1b8f2e8d99810601358b7b527ace4cd663ce2d4b

...and thought "if that's all then rewriting that to use a db should not be too hard".

But there's a lot more code specific to git, p

[2017-09-19 21:34] Benaiah commented on #616
No, the stuff in the backend is where pretty much all the Git stuff happens, but our semantics our pretty centered around how Git works. It’s definitely possible and probably not terribly difficult to emulate these in PostgREST. Our concern has more to do with the idea of having this backend in the core, which would require us to maintain it and would make feature delivery more difficult. The best

[2017-09-19 23:40] Benaiah commented on #619
Thanks a lot for the issue. I already knew our docs needed some work, but it's great to have reports of particularly sparse areas that are tripping people up.

[2017-09-19 23:45] tech4him1 commented on #607
@biilmann @erquhart I'm trying to understand why the urlize function seems to leave some reserved characters in the URL. The list of RFC3986 unreserved characters is `\w-._~`, but urlize uses `\w./\_#+-`. Obviously those need to be kept for the entire URLs, but not for slugification. Is there something that I am missing here?

[2017-09-20 00:35] tech4him1 commented on #445
I also think we should throw an error if the slug is going to be blank.

[2017-09-20 10:26] insidedwebsite opened #621 "List widget should work without a key name"
For example if I have such a _data file in Jekyll without an initial key, I can't add a new item with the list widget, cause it always has to have a name. Possible solution could be if the -name key is an empty string that should mean we don't want to have a name key, not undefined as is know.
This is the sample _data file I'd like to modify via the CMS:

<img width="452" alt="screen shot 2017-09-

[2017-09-20 12:49] tech4him1 commented on #621
This is somewhat related to #596, but it will probably require a separate implementation.

[2017-09-20 13:20] erquhart commented on #575
@tech4him1 thank you, added to the list.

[2017-09-20 17:51] verythorough commented on #600
Thanks, @eamonnbell! In the interest of getting the simplest parts working before tackling the more involved ones, I'm planning to put up a PR for the test-drive changes today. Then I'll do one for quick-start, probably tomorrow. When those are done and people can see a clearer view of how the git-gateway backend works, we can talk about how to structure the new Authentication page.

Let me know i

[2017-09-20 19:38] aperep commented on #445
It is a bad idea to silently overwrite entries. If a user creates multiple entries on same day and does not bother about titles, then all entries except last will be lost without any notification. This is easily the worst imaginable behaviour.

[2017-09-20 22:55] cies commented on #616
Ok clear. I understand you do not want it in core, for maintenance reasons. On the other hand I think that by not having a db backend Netlify CMS is needlessly limited to niche (static sites). Besides being a more "dynamic" storage medium, databases are still the norm for storing structured data that fits in tables, and thereby provide great interop with many other technologies.

[2017-09-21 02:52] tech4him1 commented on #524
Packages with minor or patch updates available:

| Package                           | Current | Minor Update  |
| ----------------------------------|---------|---------|
| js-base64                         | 2.1.9   | 2.3.2   |
| react-datetime                    | 2.9.0   | 2.10.1  |
| slate                             | 0.21.4  | 0.21.6  |
| slate-edit-table                  | 0.10.1  | 0.10.2

[2017-09-21 13:54] ziburski commented on #490
That actually makes a lot of sense. I had kind of taken global search as a given, but contextual search seems a lot more useful. So I guess just remove the search from the header and keep it like this?

![search](https://user-images.githubusercontent.com/1299080/30699057-f6d83896-9ee3-11e7-82ba-b8721a671ab6.png)

I would just do it like this for normal (full-size) images. You get the same controls

[2017-09-21 16:29] rriemann opened #624 "Saving Collection items fails if existing front matter is faulty"
**- Do you want to request a *feature* or report a *bug*?**

This is a bug. I think Netlify should be robust enough to cope with faulty front matter.

**- What is the current behavior?**

I try to edit a file as part of a collection with the following content:

[code]

As you can notice, the last dash-dash-dash (`---`) is missing.

When I click save, nothing happens and the following error appears

[2017-09-21 16:39] rriemann commented on #624
I have to check the reproducability. Things are weird here and I ran into other issues, to.

[2017-09-21 16:57] rriemann commented on #578
@BlueChili , there is only `Y` and not `YYYY` ?

Maybe this is the problem I have. I tried it with:

[code]

[2017-09-22 13:58] ilyaigpetrov opened #625 "Double Dash in a "INTRO BLURB" Field Is Not Expanded (Feature)"
![Screenshot of non-expanding double dash](https://user-images.githubusercontent.com/1090811/30747620-3f7f3dfe-9fc7-11e7-9b93-8a35d53e23b0.png)

**- Do you want to request a *feature* or report a *bug*?**

Feature, I guess

**- What is the current behavior?**

Double dash (--) is expanded/replaced only in editor of BODY, but not inside editor of INTRO BLURB.

**- If the current behavior is a bug,

[2017-09-22 15:57] zanedev commented on #616
Just wanted to chime in a bit about the usefulness of structured/dynamic/relational data.  Keep in mind that the NetlifyCMS is JAMstack specific so it is being built for a whole different paradigm/ecosystem and it's certainly not as small a niche as a "static" site sounds.

For instance the dynamic part you are referring to could be handled a few ways using modern JAMstack tooling:
- a service or

[2017-09-22 19:05] r1b commented on #531
I would be happy to implement this - currently it is not possible to use `gatsby-transformer-yaml` with netlify since the transformer[ only supports lists](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-transformer-yaml/src/gatsby-node.js#L16).

Any pointers on where to look in the code to get started? I'm pretty new to netlify.

[2017-09-22 19:52] tech4him1 commented on #621
Duplicate of #531.

[2017-09-22 19:52] #621 closed

[2017-09-22 21:02] erquhart commented on #513
@marksantoso this is specifically for repeatable content - items that have the same general format and share the same field structure, e.g. blog posts. For distinct pages as you're describing, you'd still want to specify individual files.

[2017-09-24 08:29] sogen opened #627 "function "now" not defined"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
Get error:
function "now" not defined
Current theme does not support Hugo version 0.18.1. Minimum version required is 0.2
Failed at the victor-hugo@1.0.0 start script 'gulp server'.

**- If the current behavior is a bug, please provide the steps to reproduce.**
Install theme **Crab**

**- What is t

[2017-09-24 13:58] tech4him1 commented on #627
@sogen This doesn't sound like a CMS-related issue. Please see the [Victor Hugo](https://github.com/netlify/victor-hugo) or [Crab theme](https://github.com/thomasheller/crab) repos.

[2017-09-24 13:58] #627 closed

[2017-09-25 11:07] eamonnbell commented on #600
Sorry for my late reply, I hope I didn't hold up anything. If you haven't started, I could jump in on the "test-drive" changes and have a PR for you to have a look at by tomorrow AM. Or, just @ me when the Authentication page is ready for discussion and we can go from there.

[2017-09-25 18:37] #609 closed

[2017-09-25 23:05] verythorough commented on #600
@eamonnbell no problem! PR #626 referenced above ^ has my update to the Test Drive doc. I'd love it if you could take a look. I'm thinking I'll start next on the Quick Start, but it occurs to me that if it gets published before the Custom Authentication page gets updated, there won't be any docs for the github backend anymore, so I guess both pages will have to be updated together.

[2017-09-26 00:28] zachylimwl opened #632 "Entries cannot be deleted in the editorial workflow"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
There is only a save and cancel button shown after clicking the publishes page on the CMS ui

**- If the current behavior is a bug, please provide the steps to reproduce.**
Create a page through the editorial workflow

**- What is the expected behavior?**
There should be a delete button instead of

[2017-09-26 01:19] tech4him1 commented on #632
@erquhart @Benaiah How would this even work?

[2017-09-26 01:44] Benaiah commented on #632
Deletion is currently disabled in the editorial workflow; this is a known issue. I've done some work towards this, but there's some issues with how GitHub's API handles deletion which make me worry about breakage on large repos. I'll go ahead and leave this issue open until this functionality is merged.

[2017-09-26 20:20] #605 closed

[2017-09-27 14:32] Nico-L opened #634 "List of datetime crashes"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
setup a list of datime widgets causes an error:
[code]

**- If the current behavior is a bug, please provide the steps to reproduce.**

1. In config.yml, in fields add
[code]
2. load the cms and add a new entry
3. add a new date events and pick a date
4. the error appear and the form can not be upd

[2017-09-27 17:29] verythorough commented on #37
@cheapsteak @tech4him1 PR #626 will remove the "Authenticate with GitHub" section from the Test Drive doc, so the link the that doc will no longer work. However, the _original_ link is now back in action:

https://www.netlify.com/docs/authentication-providers#using-an-authentication-provider

[2017-09-27 21:37] VitaminDAgency opened #635 "Delete does not work if config is pointing to a branch other than master"
**- Do you want to request a *feature* or report a *bug*?**
Report a Bug

**- What is the current behavior?**
When the api does a GET to show the collection or look at a specific item in the collection from github it includes a `ref` GET param specifying which branch to use for the request, but the delete workflow does not specify this GET param. The resulting behavior is you can only delete conte

[2017-09-27 21:40] Benaiah commented on #635
@VitaminDAgency are you running off a released version? This should be fixed as of #604 being merged, but the fix hasn't been released yet.

[2017-09-27 21:45] VitaminDAgency commented on #635
I am running on release 0.4. I searched open tickets. I should have search all tickets. That is my oversight. My apologies.

[2017-09-27 21:50] Benaiah commented on #635
@VitaminDAgency no problem, thanks for filing an issue when you ran into a bug!

[2017-09-27 21:51] #635 closed

[2017-09-28 04:18] r1b commented on #531
I have solved this on the gatsby side with a [custom yaml transformer](https://github.com/computer-lab/gatsby-transformer-yaml-netlify). I would still like to support it here for maximum flexibility :)

[2017-09-28 20:47] tech4him1 commented on #413
@erquhart Do you think it is worth just going to v3 for now, since the deps are stable for that, or should we just wait for v4?

[2017-09-28 21:18] erquhart opened #637 "Add markdown widget to docs"
The markdown widget parses markdown documents to an AST, so non-abstract particulars are lost, such as whether a code block used four spaces or fences. We need to document these transformations so that users can anticipate them. This issue should first serve to collect the transformations, and can be closed with a documentation update PR.

Transformations:
* Images, links, and footnotes that separ

[2017-09-28 22:40] tech4him1 commented on #524
Dependency updates will be split into three categories:

1. **UI dependencies.** (React, Redux, Notifications) These should be really easy to test -- either the UI is broken or it is not.
2. **Dev dependencies.** (WebPack, Babel) These are fairly easy to test whether they break something or not, we'll just need to watch the transpilers and make sure the output still supports older browsers.
3. **B

[2017-09-29 03:44] shaunmarx commented on #513
I am new to Netlify CMS and stumbled across this issue after having a similar requirement for a site however in my case the folder structure looked more like the following:

[code]
I will most likely change the site so that it will work with the CMS considering this limitation however I think being able to support a folder structure like this especially for static site generates like gatsby would

[2017-10-02 16:00] erquhart commented on #433
No longer an issue in the updated editor.

[2017-10-02 16:00] #433 closed

[2017-10-02 16:06] erquhart commented on #512
@bert-bruggeman a break can be accomplished in markdown via double space or backslash. The AST we use for markdown doesn't carry specifics, just abstract meaning - to wit, the AST doesn't know what _how_ the break was made. When we stringify that AST, therefore, we normalize output. Breaks will be output as backslashes.

The good new is, both styles are now supported in the new editor, which is on

[2017-10-02 16:09] erquhart commented on #598
This should be treated as a story with a set of related issues for the various underlying efforts.

[2017-10-02 16:22] erquhart commented on #497
@kennedyrose I totally dropped the ball on this one, sorry!!

The issue here is the Kaldi template itself was created around an old CMS implementation that supported multiple media folders, so editing the template images doesn't work. This definitely needs to be addressed, but in the Kaldi template repo: https://github.com/netlify-templates/kaldi-hugo-cms-template, or the Netlify Identity variant:

[2017-10-02 16:22] #497 closed

[2017-10-02 16:24] erquhart commented on #229
@dopry I'd expect that use case to occur in a private repo. As long as the related assets aren't included in a published entry, you should be fine.

[2017-10-02 16:25] erquhart commented on #488
Fixed in the new editor.

[2017-10-02 16:25] #488 closed

[2017-10-02 17:02] dopry commented on #229
You're absolutely certain that there is no way google will index that? If someone emailed a link to a client with a google apps account, would it get indexed and potentially become available through search?  I'd be much more comfortable if the content wasn't publicly available at all.

[2017-10-02 22:26] #478 closed

[2017-10-03 22:56] verythorough opened #647 "Identity/Git Gateway users with insufficient permissions see UI with "no entries""
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
When using Netlify Identity & Git Gateway, you're able to specify which user roles (assigned with Identity) have permission to access the site's Git Gateway. If the CMS is set up with a `git-gateway` backend, and a user _not_ assigned a role with permission to use Git Gateway logs in, the user will

[2017-10-03 22:59] neutyp commented on #647
Video snippet from a user test wherein this bug was seen. It's a bit confusing to watch as you only hear me speaking and not the test participant as well.

http://share.neutyp.com/0D2N3o2c3G33

[2017-10-03 23:20] verythorough opened #648 "Feature: Trigger notification when items are moved to "Waiting for Review""
**- Do you want to request a *feature* or report a *bug*?**
Feature

**- What is the current behavior?**
In the editorial workflow, moving an item into the "Waiting for Review" column adds some metadata to keep the item in that column of the UI, but it doesn't really do anything else.

**- What is the suggested behavior?**
It would be cool if this could trigger a notification of some kind. Possibl

[2017-10-03 23:37] verythorough opened #649 "Saving fails *almost* silently when required fields are left empty"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
If a user tries to save an item with an empty required field, the save button appears to do nothing at all. If you look closely (and aren't color blind), you may notice that one or more field labels have turned red. This is the only indication of why saving fails, and it can be really easy to miss,

[2017-10-03 23:42] verythorough opened #650 "Required/optional fields are not clearly marked"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
In the editor UI, required and optional fields look the same. However, if required fields are left empty, saving fails (with little feedback about why, but that's filed in #649).

**- What is the expected behavior?**
It would be nice to let users know up front which fields are required. Since field

[2017-10-03 23:43] dardub commented on #649
I don't have any fields marked as required, still running into this issue.

[2017-10-03 23:46] neutyp commented on #649
Video snippet from a user test wherein this bug was seen. It's a bit confusing to watch as you only hear me speaking and not the test participant as well.

http://share.neutyp.com/1k393r2o0V1m

[2017-10-03 23:46] verythorough commented on #649
@dardub Do you have all of your fields marked as `required: false`? It's not immediately obvious that all fields are required by default.

[2017-10-04 04:56] rasikapohankar commented on #650
Hi, I'd like to work on this.

[2017-10-04 13:49] tech4him1 commented on #625
@ilyaigpetrov The reason for this is that the body is a rich text editor, while the intro blurb is set to plain text. If you want the intro blurb to have the same behavior, you can set its type to `markdown`.

[2017-10-04 13:51] tech4him1 commented on #624
@rriemann Is this still a problem that you want solved?

[2017-10-04 14:24] tech4him1 commented on #647
The applicable code almost looks invalid:
https://github.com/netlify/netlify-cms/blob/78b60c0a0bd3b0d3b69b6a88dea7c1209ec475e1/src/backends/git-gateway/implementation.js#L57-L60

[2017-10-04 14:34] #607 closed

[2017-10-04 18:07] jessegavin commented on #432
I am looking to port an image centric website over to use netlifycms. All our assets are stored in S3 and hosted through imgix currently (though we're looking to set up a custom image server using [imageflow](https://github.com/imazen/imageflow) in the near future).

If netlifycms had a flexible storage adapter which works with common 3rd party file storage solutions that would be awesome!

[2017-10-04 18:45] dardub commented on #450
In Gatsby it's very common pattern to use the slug in the frontmatter. Right now I think we have to create the slug independently to use in Gatsby.

So adding the slug to frontmatter in some way would help Gatsby integration at the very least.

[2017-10-04 21:40] rriemann commented on #624
I cannot reproduce the issue anymore. A corrupt front matter gets repaired.

[2017-10-04 21:40] #624 closed

[2017-10-04 21:45] tech4him1 commented on #624
@rriemann We switched the front-matter parser recently, so that might be why. Glad it is working for you!

[2017-10-04 23:31] kosirm commented on #180
Sorry, but I can't not to comment on this: I really don't like whole idea of side by side editing in netlifycms. **Please** re-consider front-end editing. Otherwise people will just stay with cloudcannon & similar. Side by side editing is for geeks, "normal" people hate it, especially designers :)
There are many tools already developed (like https://github.com/sofish/pen, maybe not best example) w

[2017-10-04 23:36] Benaiah commented on #180
@kosirm the preview pane can be disabled trivially by either the user themselves or by disabling it for a collection in the config. Does that work for what you're looking for, or are you talking about something more involved?

[2017-10-04 23:48] Benaiah commented on #625
I don't think we should be doing _any_ processing on the output of a plain text control, so I'm going to go ahead and close this. @ilyaigpetrov, @tech4him1's suggestion to set `type: markdown` on that widget in the `config.yml` will get you the behavior you want. Feel free to ask here or [on Gitter](https://gitter.im/NetlifyCMS) if you need any further pointers on how to do that.