[2018-03-15 09:13] 01ivr3 commented on #595
If I understand this correctly, this adding this feature could help clean up the editor experience quite a lot.

Say I have the following front matter on some Hugo pages.

[code]

Setting this one integer value per page will determine both the sort order and whether the page is included in Hugo's built-in nav system. Hugo will take care of the rest using the page title as the default lable for eac

[2018-03-15 09:33] 01ivr3 opened #1174 "front matter fields are removed on publish if not set in `collections` ?!?"
Do I have it right that any front matter field NOT defined in a collection in config.yml will simply be removed by NetlifyCMS when it publishes any updates to a page's front matter?

[2018-03-15 11:59] delucis opened #1175 "Don’t try to validate an optional field if it is empty"
- **Bug report**

- **What is the current behavior?**
  If a field has a `pattern` option to validate input _and_ a `required` option set to `false`, Netlify CMS initially tries to validate the empty field and rejects it. If the `pattern` accounts for an empty string — e.g. `^(pattern)?$` — this will only validate once a value has been input and then removed. I don’t know, but I assume this is per

[2018-03-15 15:33] erquhart commented on #818
@jcsibon I don't think this can be fixed from outside of Netlify's platform - that would mean that there's a way to bypass Netlify's password protection.

@brycekahle I don't think this is a git gateway problem, I believe it has to be dealt with at the platform level.

[2018-03-15 15:59] erquhart commented on #1171
Great breakdown here, love it.

Couple of thoughts:

### Middleware API

The middleware option doesn't have to involve exposing raw state - we can process the middleware functions however we like. I'd expect that we'd transform the state into a shape matching our published API, allow that to travel through the middleware functions, and then transform the result from there.

### The precedence prob

[2018-03-15 16:49] erquhart commented on #941
@futuregerald if you need a walkthrough of the cms codebase, all you have to do is ask :trollface:

[2018-03-15 18:44] erquhart commented on #1166
@Benaiah nice, building this into the editor at large makes a lot of sense. I'd say this moves away from the dog-ear approach, but some kind of button group to switch between languages makes sense. I'd rather not see a dropdown since validation will need to occur across all languages, e.g. required fields, to ensure an entry is complete for all. We'll want max visibility for that.

[2018-03-15 18:50] erquhart commented on #325
Netlify CMS prefixes the `public_folder` so the resulting can be used as the image `src`. For your case, where would the live CMS find your published images to show in the preview pane?

[2018-03-15 18:54] erquhart commented on #727
It's open for anyone to pick up if you're interested in working on it. Note that this ticket would cover manual unpublishing - scheduled publishing, which would pave the way for scheduled unpublishing - is discussed https://github.com/netlify/netlify-cms/issues/263.

[2018-03-15 19:01] erquhart commented on #1174
Yep, Netlify CMS reads in the values identified in the configuration only, so they're never included in the output. The `hidden` widget exists for fields that you want to keep but do not want to show in the editor.

[2018-03-15 19:03] erquhart commented on #1175
Agreed, pattern validation should only apply to optional fields if they have a value.

[2018-03-15 19:34] 01ivr3 commented on #1174
Ahh apologies, I missed this one. The `hidden` widget solves the issue. Thank you!

[2018-03-15 19:52] 01ivr3 commented on #325
I get that. In my case, the live CMS should find the published images to show in the preview pane under `/media/`. That said, I am not outputting these values directly to an img src. This is because the value is being used with Hugo's built in image resizing via @talves workaround to use store images to a single folder.

In my above example, the value of the media folder has already being passed t

[2018-03-15 20:35] #1174 closed

[2018-03-15 20:39] talves commented on #325
@01ivr3 since the solution I proposed in that SO, there was a change, because my example is not working the way it was first setup in 0.32 of Hugo.  You will have to run a build and see how the folder layout will be published for the correct paths, but it could be this solution will not be viable in the new versions of Hugo.

[2018-03-15 20:57] 01ivr3 commented on #325
@talves do you know what version of Hugo breaks the folder structure?

I'm currently using `hugo-bin` ^0.22.0 as part of Netlify's `victor-hugo` starter. I believe this use Hugo v0.35. Images stored under `site/content/media` still appear to be copied to `/media` when building site.

[2018-03-15 21:04] talves commented on #325
Sorry, I am not sure.

[2018-03-15 22:57] whmountains commented on #716
I'm a freelancer in South America 🇨🇱  and almost all my clients need a Spanish site for local clients and an English translation to reach foreign tourists.  So having official support for multiple languages would be really useful!

I agree with @MarcCoet that Contentful has a really convenient UI for translations.  Basically there are some checkboxes in the sidebar that let you select which langua

[2018-03-16 10:20] 01ivr3 commented on #441
there appear to be some traction for adding mobile support to Slate
https://github.com/ianstormtaylor/slate/issues/1656#issuecomment-372186682

[2018-03-16 10:46] Kilian commented on #1156
I don't. I'm coming from a full-fledged CMS and looking to move to a static site for all its benefits. I've been looking at other static site CMS systems and they don't seem to have an easy way for a generic page tree either.

I think you can get a way towards this by:

* Having a menu/page tree editor separate from actual pages (like wordpress) that has a name, (autogenerated?) slug and maybe an

[2018-03-16 14:07] markacola commented on #793
I just tried this out and it works great! Just simply:
[code]

[2018-03-16 14:35] erquhart commented on #399
Closing in favor of #1046 since discussion is moving on that one.

[2018-03-16 14:35] #399 closed

[2018-03-16 15:09] gkogan opened #1177 "Boolean widget inside object widget does not accept default or existing value of `true`"
**- Do you want to request a *feature* or report a *bug*?**

Report a bug

**- What is the current behavior?**

The boolean widget defaults to `false` even if `default: true` is set, and even if the item's frontmatter has the field set to `true`.

**- If the current behavior is a bug, please provide the steps to reproduce.**

Either:

* A) Add boolean widget inside an object widget, and set `defau

[2018-03-16 15:28] erquhart commented on #1166
Closing in favor of #716, forgot about that one.

@hcavalieri please chime in on that issue, let's keep this moving!

[2018-03-16 15:28] #1166 closed

[2018-03-16 15:29] erquhart commented on #716
Awesome, thanks for the specifics @whmountains.

@hcavalieri this ^^ just pointed out an issue with the tabbed i18n approach from #1166 - folks are going to want to look at multiple translations at once, especially while translating.

[2018-03-16 21:33] erquhart commented on #1156
Yep, it's the mapping that's the issue. Netlify specific won't really help us either, we need a general approach that will work across static site generators and hosting platforms.

SSG's typically expect your content to be structured in the way the resulting site should be structured. Hugo, as probably the most used SSG with Netlify CMS, allows customization of things like slugs, but actually dis

[2018-03-16 21:35] erquhart commented on #793
Leaving this open as I'd still like to discuss how our API might improve so that this isn't so manual. Perhaps we need some kind of preview plugin API that would allow a styled-components plugin to handle this behind the scenes.

[2018-03-16 21:45] erquhart commented on #1177
I pasted your config into a test site and ran it live, no issues.

Can you put a small reproduction case on Netlify? Otherwise I can't seem to reproduce this issue.

[2018-03-17 16:47] DomtronVox opened #1178 "Bug: Date Widgets does not allow typing in a date."
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
Date and DateTime widgets updates (?) after every character you type, often overwriting what your trying to enter.

**- If the current behavior is a bug, please provide the steps to reproduce.**
For example, let's say I have 01/06/2018 in the widget. I want to change it to 2008. However, Placing th

[2018-03-17 18:29] tech4him1 commented on #1178
I'd consider this a bug as well, that should be fixed as long as it doesn't break the "date picker" part. @erquhart Is there any reason that we can't use the internal formatting portions in [`react-datetime`](https://github.com/YouCanBookMe/react-datetime) instead of formatting the value afterwards? That would most likely fix this.

[2018-03-18 09:22] arheom opened #1181 "Microsoft Team Services / Azure as a backend?"
Is there in the roadmap also support for team services (https://www.visualstudio.com/team-services/)? It is based on git and free for small companies and startups (private repositories), so very attractive for me.

[2018-03-19 13:30] erquhart commented on #1178
Not certain if we did it that way for a reason or not, but any fix that doesn't bring regressions would be welcome in my opinion.

[2018-03-19 15:57] erquhart commented on #1181
It's not on the roadmap, but you can definitely create a backend to support it! We're currently reworking how backends are made, so probably best to wait a bit if you're interested in doing that.

For now, GitLab and Bitbucket both have PR's that are close to completion, and they also offer free private repos.

[2018-03-20 07:50] MCDELTAT commented on #971
I just ran into this issue as well. Going to the Netlify Identify page and reissuing the token worked.

[2018-03-21 08:30] 01ivr3 commented on #325
Is it possible to hide files from NetlifyCMS' Media Library?

If I store images in a single /content folder to be able to use Hugo's built in image processing, NetlifyCMS will show the required `_index.md` file in this directory, and give the end user the option to delete this file. How can I set NetlifyCMS to not show this file in its Media Library UI??

[2018-03-21 12:40] bert-bruggeman opened #1183 ""Publish and create new" on file collection"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
"Publish and create new" on a file collection is present in the publish dropdown menu, "create: false" is set in the config file even though a single file should always have this setting).

**- If the current behavior is a bug, please provide the steps to reproduce.**
config example:
[code]
**- Wha

[2018-03-21 17:39] gazebosx3 commented on #1178
This one seems interesting! I'd love to take a look at it.

[2018-03-21 22:43] tech4him1 commented on #971
@erquhart @verythorough I'm thinking we should document this. Maybe on Netlify.com, and then the CMS links to it?

[2018-03-21 22:48] tech4him1 commented on #1178
@gazebosx3 Have at it! Let me know if you have any questions!

[2018-03-22 04:39] 01ivr3 commented on #432
@crgeary huge thanks! Your solution works perfectly

[2018-03-22 04:41] 01ivr3 opened #1184 "Possible to hide specific files in Media Library?"
Is it possible to hide or filter specific files or filter out specific file types from showing up in NetlifyCMS' Media Library?

For example: if I store images to a single /content folder in Hugo to be able to use it's built in image processing, NetlifyCMS' Media Library will show the required _index.md file in this directory, giving the end user the option to delete this file. Can I set NetlifyCM

[2018-03-22 04:47] 01ivr3 commented on #1184
Please disregard issue. This file seems to have magically disappeared from the Media Library on the site I am working on. Not sure why it was showing up before.

[2018-03-22 04:47] #1184 closed

[2018-03-22 15:05] zolamk opened #1185 "Editor crashes when trying to edit a file collection type."
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
Editor crashes. Message:
`Sorry! there's been an error - please report it!`
this is printed in console

[code]

**- If the current behavior is a bug, please provide the steps to reproduce.**

- add a file collection type to config.yml
- try to edit it and the editor crashes

**- What is the expecte

[2018-03-22 18:19] speexy commented on #552
I personally like a help-icon that shows me more info on click or hover for a quick reminder.

[2018-03-22 19:25] speexy opened #1186 ""body"-field does not work inside object-widget"
**- Do you want to request a *feature* or report a *bug*?**

Bug? It kind of makes sense that it does not work, but it does feel buggy.

**- What is the current behavior?**

When I do something nested like
[code]
then this widget doesn't pull in the body from the respective markdown file

**- If the current behavior is a bug, please provide the steps to reproduce.**

use body-field together with t

[2018-03-23 13:54] thauvette opened #1187 "UNPUBLISHED_ENTRY_PERSIST_FAILURE after enabling publish_mode: editorial_workflow"
**- Do you want to request a *feature* or report a *bug*?**

Bug

**- What is the current behavior?**

I had everything working as expected. I was able to sign in, create posts, and all my widgets worked correctly. Once I add publish_mode: editorial_workflow I started getting a UNPUBLISHED_ENTRY_PERSIST_FAILURE when attempting to save a post.

This error in the CMS
![screen shot 2018-03-23 at 10 4

[2018-03-23 15:18] Quicksaver opened #1188 "Misc optimizations"
**- Do you want to request a *feature* or report a *bug*?**
bug(?)

**- What is the current behavior?**
It's fine. I just found a couple of lines that can be improved while working on another PR:

- [x] Adding new media will set the media id as undefined (apparently harmless bug as far as I've seen).
- [x] Redundant filter call in `getMedia()` in *implementation.js*, as `listFiles()` in *API.js* a

[2018-03-23 15:40] tech4him1 commented on #1185
@zolamk Is your repo public, and can you link to it? I can't reproduce the error using your config.

[2018-03-23 16:05] martinmodighkarlsson opened #1190 "Can't edit pages in collection"
**- Do you want to request a *feature* or report a *bug*?**

Bug or handling error (by me :))

**- What is the current behavior?**

Can't edit pages in collection

**- What is the expected behavior?**

Edit at least body content in cms

**- Please link or paste your `config.yml` below if applicable.**

[code]

Page looking like this, i.e. cms doesn't pull anything from the file but can find it: ht

[2018-03-23 17:13] tech4him1 commented on #1190
@martinmodighkarlsson This is working for me in the latest CMS version (v1.3.5). Can you upgrade and try again?

[2018-03-23 21:43] martinmodighkarlsson commented on #1190
@tech4him1 I've upgraded to latest now, still doesn't work?

[2018-03-23 23:21] erquhart commented on #1190
The problem is that we can't reproduce - if you can help us do that I'm certain we can figure it out.

[2018-03-23 23:45] tech4him1 commented on #1190
Steps to repro would be great. I'm suspecting that the CMS isn't able to parse the file correctly, and is therefore showing no content.

[2018-03-24 00:28] martinmodighkarlsson commented on #1190
@erquhart @tech4him1 I see, what do you need? Thanks!

[2018-03-24 00:56] erquhart commented on #1190
That just means we need a list of steps to take on our own to observe the bug ourselves.

[2018-03-24 04:20] TylerBarnes opened #1191 "Menus"
Hey there,
I've been reading a lot about netlify, netlifycms and jamstack. I'm doing some research / dabbling with the intent of making a proposal to my boss to switch from building wordpress sites to static sites. Netlifycms looks like a great option to me since it's minimal, beautiful, open source, and we could use gatsby with it.
I've been trying to find what the recommended way is to set up me

[2018-03-24 15:24] Strangehill commented on #924
Is this being addressed?
I've just encountered this issue. The picture seems to upload fine into the media library (the thumbnail displays properly there). The thumbnail also showed up fine in the image widget. It was only in the blog post preview that the image appeared broken.
Reading the comments here I started dreading I'd have to 'publish' in order to get a build, in order to confirm that the

[2018-03-24 15:56] louMoxy commented on #1117
Hi @thebetternewt
I have just tried to replicate the problem, but I don't see any issues. All the dates are displaying as expected. Are you still having issues?

[2018-03-24 16:36] erquhart commented on #924
When you upload an image, that commit will trigger a build. Normally a missing image will simply result in a 404 in the preview pane image, but maybe there's a custom preview template or widget that isn't handling the missing image so well.

[2018-03-24 22:41] martinmodighkarlsson commented on #1190
I see, well that's the problem. I don't get it, I've read and followed instructions in https://www.netlifycms.org/docs/configuration-options/#backend, https://www.netlifycms.org/docs/collection-types/ and looked in for example https://github.com/netlify/netlify-cms/issues/679
I can't really see what kind of steps I might be doing wrong. Since this seems to be well implemented core functions in Net

[2018-03-24 23:15] talves commented on #1190
@martinmodighkarlsson was this an existing page? If so, can you paste the `how.md` code here with at least the front matter?

[2018-03-25 07:05] martinmodighkarlsson commented on #1190
Yes, it's an existing page:

[code]

If I rename this page or call for another, non existing page, in config.yml it doesn't show up. So it seems to be found, but not read properly?

[2018-03-25 12:58] aleksandarbasara opened #1193 "NetlifyCMS handling Staticman comment moderation"
**- Do you want to request a *feature* or report a *bug*?**

Feature

**- What is the expected behaviour?**

NetlifyCMS handling [Staticman](https://staticman.net) comment moderation.

**Staticman brings user-generated content to static sites like reviews, comments and ratings**

[Staticman Rating Demo](http://popcorn.staticman.net/)

[2018-03-25 21:05] martinmodighkarlsson commented on #1190
So... I don't know why I've happened to put  two lines of "description" - but when removing one of them and having frontmatter and config.yml fields in same order (but hat is not really necessary, right?) I can edit the files. Sorry for making a fuzz about it!

[2018-03-25 21:09] talves commented on #1190
The order does not matter. Did taking out the duplicate fix the issue?

[2018-03-25 21:12] talves commented on #1190
@martinmodighkarlsson I just noticed you have two `discription` in your config. That may be your issue.

[2018-03-25 21:12] martinmodighkarlsson commented on #1190
Taking out the duplicate fixed the reading part - I can now in the cms reach all fields I put in the config.yml. However, I get a 404 on the site. I'm guessing that's because I have fields in front matter not called for in config, and they're overwritten? Like for example "published: true".

[2018-03-25 21:15] erquhart commented on #1190
Right, is it's not in the config, Netlify CMS won't write it on save, so that published field won't be present. When in doubt, check the commits that are being made by Netlify CMS in your repo to make sure the output is what you expect.

[2018-03-25 21:31] #1190 closed

[2018-03-26 03:15] 01ivr3 commented on #1137
@erquhart apologies for the late reply. I posted this before I realized I could use the markdown widget for fields other than the `body` below front matter content

[2018-03-26 03:15] #1137 closed

[2018-03-26 06:15] 01ivr3 opened #1194 "Customize markdown editor UI?"
Is it possible to customize the editor ui bar of the markdown widget?

For example, could an instance of the markdown widget be customized to only shown `Bulleted List` and `Numbered List`? Or not show certain options like say `Code` and `Code Block`? Or if it not per instance, can it be customized globally so that all instances of the markdown widget in the CMS appear with or without certain opti

[2018-03-26 07:09] aleksandarbasara commented on #1194
@01ivr3 Take a look at the PR [#1169](https://github.com/netlify/netlify-cms/pull/1169) and the [KitchenSink](https://deploy-preview-1169--cms-demo.netlify.com/#/collections/kitchenSink)

[2018-03-26 07:46] ekoeryanto commented on #22
Hello, I need this

[2018-03-26 17:10] raulcraveiro commented on #1046
I would love to have the possibility to organize my media in folders like year and month.

[2018-03-26 18:34] 01ivr3 commented on #1194
@aleksandarbasara I looked at both, but don't see how either solves being able to customize the stock UI toolbar of the markdown widget. KitchenSink seems to provide an example of adding a custom component to the Markdown editor, same as the example in the docs. And PR #1169 is regarding a Modular Content Widget that could enable declaring multiple different widget types for a single repeating sec

[2018-03-26 20:30] TomPichaud opened #1195 "Update folder-collection file name on title change"
As the slug is generated from the title, it would be more accurate to update the file name when the title is changed, and so avoid non relevant name for the file.

No idea on how to do it thought...

[2018-03-26 22:19] thauvette opened #1196 "uploaded filenames not being slugified"
**- Do you want to request a *feature* or report a *bug*?**
Bug
**- What is the current behavior?**
If I upload an image with a space in the filename, let's say "my picture.jpg" the following happens.

I get a 404 error in the console saying can't find " https://raw.githubusercontent.com/myusername/reponame/branch/path/to/my/uploads/my%20picture.jpg".
I can still "Choose Selected" on the un-previe

[2018-03-27 00:35] tech4him1 commented on #22
@ekoeryanto See https://github.com/netlify/netlify-cms/issues/557.

[2018-03-27 00:36] huntercaron commented on #946
Any updates on this? Just launched the CMS on our site for 80ish users creating a bunch of image heavy design case studies  and this is becoming a problem faaasssttt. Anything I can do to help?

[2018-03-27 01:55] tech4him1 commented on #1196
@thauvette Are you using a private GitHub repo?

If so, does the image preview show up if you reload the CMS?

[2018-03-27 01:58] thauvette commented on #1196
@tech4him1 yes to both.

[2018-03-27 01:59] tech4him1 commented on #1196
@thauvette I'm thinking this happens with images without a space as well, can you confirm?

[2018-03-27 02:04] thauvette commented on #1196
@tech4him1 yes it does.

[2018-03-27 02:05] tech4him1 commented on #1196
On the Gatsby issue, what does the image name show up as in the GitHub? Does it show with the `%20` or a space? It would be really weird if it was saving it with the `%20`, or if Gatsby was expecting it. 😕

[2018-03-27 02:09] thauvette commented on #1196
In Gatsby it's spaces as well. If it's a preview image or thumbnail, anything inside the frontmatter I'm using `encodeURI()` to help but I'm not sure how to do that if it's in the html portion of query. It would be better if I could get the CMS to remove change the space to `%20`.

[2018-03-27 02:13] tech4him1 commented on #1196
I guess I don't understand why it needs to be URL-encoded in the frontmatter, instead of on-the-fly like would normally be done. Have you tried it without `encodeURI()`?

[2018-03-27 02:14] tech4him1 commented on #1196
FYI, https://github.com/netlify/netlify-cms/pull/1135 will convert spaces to dashes in media.

[2018-03-27 02:26] thauvette commented on #1196
@tech4him1 I'm using `encodeURI()` because it's not being done on the fly. My query in Gatsby returns a string with spaces, and the file is saved in my repo with spaces. My understanding (and I may be misinformed) is that the file name should be saved with `%20`.

If I understand #1135 I need to use `slug_type`. Where in the config does that go?  I tried...

[code]

with no success.

[2018-03-27 02:33] tech4him1 commented on #1196
I definitely won't claim to be an expert here, but I've never heard of it working like that. Gatsby and/or your browser should do that transparently.

Again, I'm no Gatsby expert, but that sounds completely correct to me (without `encodeURI`). Have you tried it? If you have a repro of it not working, that sounds more like a Gatsby issue to me, since it should be able to handle files with spaces tr

[2018-03-27 02:37] thauvette commented on #1196
Thanks @tech4him1, I'll investigate it as a Gatsby issue and report back here if I figure it out.

[2018-03-27 08:06] thekevinbrown opened #1197 "Preview Template for File Collection"
**- Do you want to request a *feature* or report a *bug*?**

Bug

**- What is the current behavior?**

When I use `CMS.registerPreviewTemplate` for my file collection it doesn't work.

**- If the current behavior is a bug, please provide the steps to reproduce.**

Create a file collection.
Run `registerPreviewTemplate`

**- What is the expected behavior?**

I would expect to get my preview templat

[2018-03-27 11:01] thauvette commented on #1196
@tech4him1 I recreated this issue using the Gatsby Netlify CMS starter. If you upload a file (picture) with a space in the filename the same errors occur.

No thumbnail and 404 console error...
<img width="1680" alt="screen shot 2018-03-27 at 7 46 42 am" src="https://user-images.githubusercontent.com/7917553/37963220-03cb3ea2-3194-11e8-9fd8-d2d706594da0.png">

<img width="1680" alt="screen shot 20

[2018-03-27 11:06] Quicksaver opened #1198 "Unique ids broke relation lists preview"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
PR #1087 broke relation lists preview. Fix coming!

**- If the current behavior is a bug, please provide the steps to reproduce.**
This is hard, I stumbled upon it while testing locally. Haven't found any example in the demo that shows this. The *ListControl* component was using the `forID` propert

[2018-03-27 15:00] owenhoskins commented on #946
@huntercaron I've made a bit of progress on this but so far only to mitigate the issue until I have more time to get into saving thumbnails as metadata in git.

On this branch (https://github.com/owenhoskins/netlify-cms/tree/image-preview-pica) I've implemented pica.toCanvas which generates thumbnails on the fly along with a quick implementation of react-intersection-observer to load them lazily.

[2018-03-27 15:33] tech4him1 commented on #1196
Thanks for the repro! Looks like the difference between how we can render images with spaces in the name and Gatsby fails to is due to the difference in Markdown specs. 🙄

According to the original Markdown syntax document:

This doesn't specify whether image URLs can include spaces or not.

CommonMark, however, excludes spaces from URLs:

The space must be converted to `%20` before it is saved in

[2018-03-27 17:46] erquhart commented on #1183
Good catch, thanks for the report!

[2018-03-27 17:53] erquhart commented on #971
Agreed, it should definitely be documented. It used to be in the Netlify docs, but it seems to have been removed.

[2018-03-27 18:08] #1188 closed

[2018-03-27 18:15] erquhart commented on #961
@eliwilliamson I'm really glad the project has been useful in your business so far. Are you up for contributing at all? It'd be a great feature, I totally agree, there's just so much authoring that the community maintainers can do.

[2018-03-27 19:12] thales17 opened #1201 "Using underscores in field names"
**- Do you want to request a *feature* or report a *bug*?**
bug
**- What is the current behavior?**
When defining names in the config.yml using names with underscores Publishing generates the following error
[code]

**- If the current behavior is a bug, please provide the steps to reproduce.**
To reproduce create a field with a name that has an underscore in it.  For example: `- {label: "Meta Desc

[2018-03-27 19:15] erquhart opened #1202 "No editor validation failure message when using editorial workflow"
**- Do you want to request a *feature* or report a *bug*?**

bug

**- What is the current behavior?**

When attempting to save changes with empty required fields, and with editorial workflow enabled, the validation error shows on the field itself, but the toast message doesn't appear. If the field is scrolled out of view, the error is effectively silent.

**- If the current behavior is a bug, plea

[2018-03-27 19:41] tech4him1 commented on #1201
@thales17 Interesting, I can't reproduce, it publishes normally for me. The error message that you are seeing should only occur when you don't have a `title` field.

[2018-03-27 19:48] thales17 commented on #1201
That makes sense, @tech4him1 .  I assumed it was the underscores but it was just the title. My original title name was video_title.  I didn't realize that title was required but it is a simple fix.

[2018-03-27 19:48] #1201 closed

[2018-03-27 19:49] tech4him1 commented on #1201
Ah, sorry for not reading what you had already written better. We do need to clarify that error message.

[2018-03-27 20:29] erquhart commented on #1187
Is this site based on `gatsby-netlify-cms-starter`? Do you know if you're using the Netlify CMS plugin for Gatsby? You can find out by checking `gatsby-config.js`.

[2018-03-27 20:46] #993 closed

[2018-03-27 20:49] erquhart commented on #1185
Looks like you're using Netlify CMS 1.0.0 based on your stack trace - you'll want to upgrade to 1.3.5, as many bugs have been fixed since. Closing for now, but please comment if upgrading doesn't address this and we'll reopen.

[2018-03-27 20:49] #1185 closed

[2018-03-27 20:53] erquhart commented on #1186
Can you explain the flattening concept a bit more?

The CMS treats the entire entry as a tree, and the body must be in the top of layer of that tree, as it cannot be output in a nested fashion. Same for the title field, as the CMS uses that for specific roles like slugification.

[2018-03-27 21:06] erquhart commented on #1191
That depends heavily on the static site generator. Gatsby doesn't really have a blessed method for menu creation, but the Lumen starter has one approach using site metadata in the Gatsby config file ([source](https://github.com/alxshelepenok/gatsby-starter-lumen/blob/c27d5ba0137ca95699808ff3fa9d028f470b294c/gatsby-config.js#L8-L21)). You could probably do what their doing, but using a data file (y

[2018-03-27 21:17] thauvette commented on #1187
@erquhart I am not using the starter or the plugin. I followed [the add to your site directions](https://www.netlifycms.org/docs/add-to-your-site/). Everything but the editorial workflow works great.

[2018-03-27 21:23] erquhart commented on #1185
Ah, @tech4him1 corrected me, didn't notice the url encoded caret, so you're probably using the latest version. I'm going to leave this closed since there hasn't been a response to the comment from four days ago, but we'll reopen if you comment.

[2018-03-27 21:43] erquhart commented on #1117
This seems to be fixed in 1.3.5, not sure where the fix actually occurred. Please comment if you're still able to reproduce.

[2018-03-27 21:49] erquhart commented on #924
@Strangehill I've just tested this on a deployed fork of gatsby-starter-netlify-cms with no issues. This was also using version 1.2.2, which the Netlify CMS Gatsby plugin is currently stuck at.

Can you help us reproduce?

[2018-03-27 22:11] erquhart commented on #1193
This request seems small, but it has major implications that I'm pretty excited about. Here's why.

Staticman comment moderation happens via pull requests, the same method we're currently using for the editorial workflow. This is going to become a common pattern as git based projects embrace the JAMstack moving forward. That said, the editorial workflow interface isn't ideal for comments for a few

[2018-03-27 22:22] erquhart commented on #1194
You're right, that toolbar can't be customized, but it should be. It was actually built for simple customization, but we never went the whole way. A PR for this would be fine.

[2018-03-27 22:29] erquhart commented on #1195
Not necessarily - we use the title to generate the slug because we need some way of creating a meaningful name, but changing the file name after publishing has big consequences, like breaking any existing links if a redirect isn't created.

The current thought is that this will be more or less fixed under #445, which will make the slug visible and editable, but afterward perhaps that behavior coul

[2018-03-27 22:32] erquhart commented on #1197
Need a bit more info to help here - can you provide:

* The source of your `PagesPreviewTemplate` component
* Screenshot or paste of any error messages showing in your console
* Description of exactly what's happening when previews don't work (does it show nothing at all in the preview pane but everything else works? does the whole thing freeze?)

[2018-03-27 22:56] erquhart commented on #1196
Fixed in #1135.

[2018-03-27 22:56] #1196 closed

[2018-03-28 00:26] robsonsobral commented on #1193
I guess this topic could benefit from @eduardoboucas 's opnion.

[2018-03-28 00:39] Strangehill commented on #924
Got it.

I just tried this again and this happened:
After selecting 'choose an image', the media library shows broken thumbnails.
I try to 'upload new' but after selecting my picture, and seeing the button's text change to 'uploading...' , the text went back to 'upload new' and there was no evidence of my upload.
So I try to upload my picture again. This time it kinda works because now there's a b

[2018-03-28 00:54] erquhart commented on #1187
Gotcha. I wasn't able to reproduce - can you link to a repo with this issue so I can clone it?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-28 01:00] erquhart commented on #924
Can you link to a repo with this issue so we can clone and reproduce?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-28 01:15] tech4him1 commented on #924
@Strangehill Also, is the repo private in GitHub? And are you using Git Gateway?

[2018-03-28 02:00] thebetternewt commented on #1117
Hi. Sorry for the delayed response. Yes I thought this issue was already confirmed and fixed. I did not realize the issue was still open. It has been working for a while now. Thanks your your help!

[2018-03-28 08:32] Strangehill commented on #924
Yes, it is private. And it's using the git gateway. I'll try reproducing in a different

[2018-03-28 09:00] Strangehill commented on #924
I've just tried it on a public repo, default Gatsby starter, so also with Git Gateway.

The media library thumbnails work fine now, and the upload there of a new picture with its thumbnail too, so I select my the picture and then, back in the editor, the image widget shows a broken thumbnail in both the editor and the preview pane.

I close and open the widget in the seconds that follow but they d

[2018-03-28 10:43] andytough opened #1206 "Image preview in media_folder browser broken whith LFS enabled on repo"
Thank you for the Netlify CMS. I am experimenting with it at the moment and I am frequently delighted as I explore the way it works!

Previously when using the Netlify CMS for image selection the media browser would display thumbnails of uploaded images to select from.

I have just enabled LFS (large file support) for my repo and since then the media browser displays empty thumbnails.

Selected im

[2018-03-28 13:46] thauvette commented on #1187
@erquhart it's a private repo. Can I send you a zip?

[2018-03-28 14:11] #1183 closed

[2018-03-28 14:14] #1202 closed

[2018-03-28 14:18] erquhart commented on #1187
Yep, that's fine.

[2018-03-28 15:13] #553 closed

[2018-03-28 15:22] #412 closed

[2018-03-28 15:25] erquhart commented on #924
Ah, right. Also note that the Gatsby plugin is setting the Netlify CMS version, so you'll need to override with `resolutions` in your package.json for further updates (CMS is currently at 1.3.5). A major release will be out soon for the plugin which will require Netlify CMS to be installed as a peer dependency instead.

[2018-03-28 15:25] #924 closed

[2018-03-28 18:08] #647 closed

[2018-03-28 18:12] erquhart commented on #1206
Could you give an example of the url we _should_ be using in this case?

[2018-03-28 18:55] erquhart commented on #1187
I believe the image issues are due to your repo being private, and should be resolved with https://github.com/netlify/netlify-cms/pull/994, which will be released soon.

I'm still unable to reproduce the save failure, even with the zip file. Can you give exact steps that you take? Does it always fail on every save, or does it only happen to publish? Does it only apply to existing unpublished entri

[2018-03-28 20:19] #1198 closed

[2018-03-28 20:26] andytough commented on #1206
Thank you for your response. I have modified my post, removing some of the links, and editing the content, in the hope that it will make more sense.

[2018-03-28 20:54] tech4him1 commented on #1206
@andytough Is there an API you know of that we can use to fetch the actual LFS data? I've been looking, but haven't found one yet.

[2018-03-28 21:18] andytough commented on #1206
@tech4him1 Sorry, I don't know of any. I am quite new to this!

[2018-03-29 05:53] jnowland commented on #432
Keeping large binaries out of a git repo seems like a smart idea for large photo heavy projects.

[2018-03-29 09:37] katabame commented on #770
same like delwin here,
My site has hosted with Netlify subdomain and I can't log into netlify-cms.

For your reproduce, below is site domain and repository.
Site: http://blog.kataba.me/
Repo: https://github.com/katabame/kataba.me/tree/blog

[2018-03-29 15:37] erquhart commented on #1206
Yeah, took a look myself and there doesn't seem to be an API for LFS. Might be worth asking GitHub on Twitter or in a forum.

[2018-03-29 15:56] tech4him1 commented on #770
Thank you so much for the repro case @katabame! I think I've found the issue.

The problematic code is on https://api.netlify.com/auth/done, the page that shows the "Authorized" screen.
[code]

The problem is that you are logging in from a subdomain, `blog.kataba.me`, but the Netlify authorization code only works for the root domain, `kataba.me`.

@erquhart @bcomnes @biilmann Can this code be fixe

[2018-03-29 16:29] andytough commented on #1206
@erquhart Thank you. I will see what I can find. Shall I change this issue from _Bug_ to _Feature Request_, as I think from your responses that what I am experiencing is expected behaviour?

[2018-03-29 17:58] thauvette commented on #1187
I just made a new branch and tried again. Everything worked, I merged it back and it seems to be working. I didn't change anything else. I have no idea why it's working now. I thought maybe my CMS version updated but I'm still showing `Netlify CMS version 1.3.5` in the console.  I'm still having issues with the photos but can wait for #994.

[2018-03-29 18:08] #429 closed

[2018-03-29 18:30] tech4him1 commented on #977
Closed by #1126.

[2018-03-29 18:30] #977 closed

[2018-03-29 18:38] tech4him1 commented on #386
This will be much easier after #1132.

[2018-03-29 19:24] randallmlough commented on #595
+1 for this issue. Not being able to nest fields is a big UI / UX issue in my opinion.

[2018-03-29 19:28] mdehollander opened #1213 "Failed to configure custom identity endpoint via config.yml"
I am hosting a hugo site with netlify-cms on a custom hosting including it via a script tag. I would like to make use of the netlify identity service. Therefore a custom endpoint needs to be configured via `APIUrl`. I got some help via Gitter on this from @tech4him1 and @erquhart, but after that it was suggested to file a bug report.

I configured custom endpoint in the `config.yml`  like this:
[c

[2018-03-29 22:46] Benaiah commented on #1171
@erquhart good point on middleware - if we do use that kind of design, we'd definitely want an abstraction layer.

[2018-03-30 02:12] robsonsobral commented on #445
May I point something? Some SSGs allow us to overwrite the filename based slug. This is speacially useful for Hugo multilingual files. We can have a `travel.en.md` file with `slug: "travel"` on front matter and a `travel.pt.md` file with `slug: "viagem"`.

Can we avoid conflicts between the two things?

[2018-03-30 02:15] robsonsobral commented on #1063
As I pointed on [#445 ](https://github.com/netlify/netlify-cms/issues/445#issuecomment-377425752), slug and filename isn't necessarily the same thing.

(I'm really looking forward to use the filename as `valueField`.)

[2018-03-30 07:45] mdehollander commented on #1213
This seems to be on the right track, because I get the login screen because the endpoint is now at the netlify side. When I enter my credentials, I get this error: `NetworkError when attempting to fetch resource.` And in the firefox console a more detailed error:
[code]

The widget seems also to have this issue: https://github.com/netlify/netlify-identity-widget/issues/102

Any workaround or solut

[2018-03-30 15:55] #423 closed

[2018-03-30 15:58] tech4him1 commented on #770
@erquhart I assume that we'll still have a "real" fix at some point? Not everybody can or will use Git Gateway.

[2018-03-30 16:07] #945 closed

[2018-03-30 16:10] tech4him1 commented on #697
@RoObsessedCode Let us know if you need any help on this!

[2018-03-30 16:11] #1065 closed

[2018-03-30 16:19] tech4him1 commented on #1152
@SureDroid Did the last comment work for you?

[2018-03-30 16:25] SureDroid commented on #1152
Sorry for no update. Was going ask if a way to fully raw edit config toml files would be added, but I guess I should get used to creating a box for every single line. Thanks for the help. Earlier you mentioned a bug and said that this was a workaround, so I didn't know if I should close this issue or not if the bug still exists. Anyway, all my problems are fixed. Thanks for your time!

[2018-03-30 16:49] tech4him1 commented on #1152
Thank you! I think this is no longer a bug, I was just misunderstanding your original request :).

Are you thinking of that as a way to have the CMS infer the fields from the file that already exists? If so, that is a very interesting idea, it would be awesome if you could open a new issue as a feature request.

[2018-03-30 16:49] #1152 closed

[2018-03-30 16:51] tech4him1 commented on #1164
@brianlmacdonald Let me know if you have any questions!

[2018-03-30 16:53] SureDroid commented on #1152
Alright, will do!

[2018-03-31 16:55] scwambach opened #1218 "Markdown Character Limit in yaml file."
**- Do you want to request a *feature* or report a *bug*?**
bug
**- What is the current behavior?**
Having some trouble with registerEditorComponent. After the page reloads, I lose the UI in the markdown editor.
**- If the current behavior is a bug, please provide the steps to reproduce.**
Create a Editor Component with markdown that is writing to a yaml file. If the return is longer than a certai

[2018-04-01 00:35] tech4him1 commented on #1051
@erquhart I can't reproduce in v1.4.0.

[2018-04-01 00:35] #1051 closed

[2018-04-01 07:20] buzzlightyear182 opened #1220 "Regression: Image card with thumbnails not showing after upload"
**- Do you want to request a *feature* or report a *bug*?**
Report a bug

**- What is the current behavior?**
When I upload an image, page needs to be reloaded in order for image block to appear. I can see the photo is uploaded when the button changes back to "Upload New". Deleting an image works fine as expected. Attached is a screenshot of the errors in console. Not sure why API.js is unauthoriz

[2018-04-01 19:39] tech4him1 commented on #1220
@buzzlightyear182 Can you try running `localStorage.clear()` in your browser console, then reloading the page and logging in again?

[2018-04-01 23:43] brianlmacdonald commented on #1164
@tech4him1 , yes, can you point me to the files I need to be looking at for this?

[2018-04-01 23:50] tech4him1 commented on #1164
@brianlmacdonald The area where the slug is created from the file title is:
https://github.com/netlify/netlify-cms/blob/f948f7a4082bccaed837684ee4915c9038db7d4d/src/backends/backend.js#L242-L251

[2018-04-02 00:00] tech4him1 commented on #1164
You could likely just throw an error there, and it would be caught in the action:
https://github.com/netlify/netlify-cms/blob/55f01e6f1da080b59c711cbc45703be28429a34c/src/actions/entries.js#L304-L322

I'm not sure if something else would need to be done when in Editorial Workflow mode, that would be something to test.

[2018-04-02 03:41] buzzlightyear182 commented on #1220
@tech4him1 I did just that, it's still not working. `localStorage.clear()` returns _Undefined_ and it automatically logs me out. But when I reload, login and upload a new photo it still returns the same JS errors.

[2018-04-02 16:05] brianlmacdonald commented on #1164
@tech4him1 As a starting point, I was thinking about calling `this.getEntry(collection, slug)` after line 248,  and if the return object comes back with the `data` key as anything other than an empty object, meaning it it found a preexisting file with the same name, then it throws an error.

[2018-04-02 17:44] tech4him1 commented on #1164
@brianlmacdonald That sounds reasonable enough to me. The entry data is probably already stored under `entries.entities` in Redux, but that is not guaranteed to have all the entries anyway (i.e. pagination). `getEntry` is probably the best way to do it.

[2018-04-02 19:34] erquhart commented on #445
@robsonsobral can you explain a bit more of what you're suggesting?

[2018-04-02 20:02] erquhart commented on #770
Not really a bug, auth only works against your custom domain. @delwin would need to change his Netlify site domain to "dcv.ampul.com", and @katabame would change his to "blog.kataba.me".

To request improvements in functionality, or to get other ideas about how to work around this, reach out in Netlify's community [Gitter](https://gitter.im/netlify/community) or submit the request to support@netli

[2018-04-02 20:02] #770 closed

[2018-04-02 20:13] tech4him1 commented on #1220
Quoting (Owen Hoskins @owenhoskins Mar 30 05:06):

[2018-04-02 20:25] tech4him1 commented on #1220
@buzzlightyear182 Does the 401 error have any response content? (console Network pane > click on 401 request > Response sub-pane)

[2018-04-02 20:29] tech4him1 commented on #1220
Also, what is the full stack-trace for the `implementation.js` error?

[2018-04-02 20:54] tech4him1 commented on #1220
I'm able to reproduce. This is caused by the private repo-checking code introduced in #994. It does this by [getting the repository metadata from GitHub](https://developer.github.com/v3/repos/#get). Git Gateway blocks this request with a 401 ("Access to endpoint not allowed: this part of GitHub's API has been restricted"), because part of the point of Git Gateway is that users are not allowed to g

[2018-04-03 00:39] brianlmacdonald commented on #1164
@tech4him1 I got it working in regular mode-- it throws a nice error when you try to save with a duplicate filename. Is it possible to set up editorial workflow mode using the default test repo?

[2018-04-03 00:43] tech4him1 commented on #1164
@brianlmacdonald No, you have to use a live repo for editorial workflow currently. (One way to do it is just creating a blank GitHub repo  for testing -- it doesn't need to be connected to a Netlify site.)

[2018-04-03 11:44] katabame commented on #770
I leave a note for @delwin or who in similar situation.

As https://github.com/netlify/netlify-cms/issues/770#issuecomment-377334439 say, I need to auth with git-gateway.
Here is detailed steps that I did.

1. Add `<script src="https://identity-js.netlify.com/v1/netlify-identity-widget.js"></script>` in your CMS `index.html` header.
    See [this](https://github.com/katabame/kataba.me/blob/blog/so

[2018-04-03 14:34] erquhart commented on #697
Considering this no longer in process.

[2018-04-03 14:51] erquhart commented on #1218
Can you provide a markdown sample that can be pasted into the markdown widget to reproduce this?

[2018-04-03 15:50] owenhoskins commented on #432
@jnowland is correct -- I've just hit some kind of limit with my git repo.

The repo is a little over 1gb with about 5000 image assets and the Media Libraries Image Upload functionality via the github API started returning a 500 Server Error sometime after passing 3.5k image assets.

I was hoping to get away with storing assets in the repo while a solution for offloading them could be developed bu

[2018-04-03 16:05] tech4him1 commented on #1218
@erquhart The background on this was that when using the example editor widget above, a block could be saved, but not edited (the pattern was not working).

[2018-04-03 16:07] raulcraveiro opened #1222 "The date on the file is different from the frontmatter"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**- Do you want to request a *feature* or report a *bug*?**

Report a bug

**- What is the current behavior?**

I set the post date to a future date, but when I publish, the file name uses the date that I published, not the date from the frontmatter.

**- If the current b

[2018-04-03 16:50] tech4him1 commented on #990
#1092 will need to be addressed as part of this.

[2018-04-03 18:25] knpwrs commented on #432
I would like to expand the scope of this a little bit from just images to arbitrary blobs. My use-case is storing audio and video on an external service in addition to images.

[2018-04-03 19:46] erquhart commented on #432
@Benaiah I'm thinking this needs to happen on top of the upcoming backend API work, can you weigh in here?

[2018-04-03 19:55] erquhart commented on #1164
Adding editorial workflow support to the test backend in #1225.

[2018-04-03 20:07] erquhart commented on #445
Actually, @robsonsobral, that already works. If you need a "slug" frontmatter property for Hugo, just add it to your config and the CMS won't pick it up or use it at all. Slugs, for our purposes, are related to the source file name only, and your SSG is concerned with the slug for the built file name.

[2018-04-03 20:17] Benaiah commented on #432
@erquhart right - the backend API redesign will be moving the integrations and backends to a single API, which will include the API currently used by integrations to implement this feature for Smashing. Once that's done, this can be implemented for any storage backend (and there's nothing I'm aware of that would limit it solely to images). It looks to me like Cloudinary is the one with the most im

[2018-04-03 22:31] swartists opened #1228 "Media Library isn't searchable"
**- Do you want to request a *feature* or report a *bug*?**

**- What is the current behavior?**

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**

**- Please mention your CMS, node.js, and operating system version.**

**- Please link or paste your `config.yml` below if applicable.**

[2018-04-03 22:48] tech4him1 commented on #1228
@swartists The Media Library should have a search bar. Are you having a problem using it?

[2018-04-03 22:50] swartists commented on #1228
Yes, the search bar is there but when I search a filename, the CMS moves to an error page and no content appears.

Beth Hancock
Head of Digital Content | Web/Creative

STARWORKS ARTISTS
1601 Vine Street
Los Angeles, CA 90028

T  +1 424 704 2466
C +1 917 446 0451

www.starworksartists.com
instagram.com/starworksartists

[2018-04-03 22:52] tech4him1 commented on #1228
Can you provide a link to your repo?

[2018-04-03 22:54] tech4him1 commented on #1228
Also, when the CMS shows the error page, are there any errors in your browser console?

[2018-04-04 00:35] verythorough commented on #486
I believe this was closed by the 1.0 release docs, plus https://github.com/netlify/netlify-cms/pull/866

[2018-04-04 00:35] #486 closed

[2018-04-04 13:04] robsonsobral commented on #445
Thank you for your attention, @erquhart . Please, forgive my late answer.

What will happen if there's a `slug` field on front matter, after you allow the edition of slug? How to deal with two fields with the same name?

[2018-04-04 13:11] robsonsobral commented on #445
Thank you for your attention, @erquhart . Please, forgive my late answer.

What will happen if there's a `slug` field on front matter, after you allow the edition of slug? How to deal with two fields with the same name?

[2018-04-04 14:27] erquhart commented on #445
The editable slug will be an internal value, we won't output it to frontmatter.

[2018-04-04 18:18] tech4him1 opened #1229 "Editorial Workflow entries published from editor view show wrong content."
**- Do you want to request a *feature* or report a *bug*?**

bug

**- What is the current behavior?**

If an entry is modified, saved, and published from the editor screen, the markdown widget reverts back to the old content when "Publish" is clicked. This doesn't seem to happen with any other widgets, the preview continues showing the new content, and it resolves if you go out the the collection

[2018-04-04 18:30] #1220 closed

[2018-04-04 18:35] erquhart commented on #1229
Related to #754, common cause.

[2018-04-04 18:35] #267 closed

[2018-04-04 18:59] tech4him1 commented on #946
@owenhoskins If you want to make a PR from that branch and just put `WIP` in the title so that it doesn't get merged yet, that would be great! That way we can get some more input on it as you progress.

[2018-04-05 08:37] eduardoboucas commented on #1193
👋

Sounds exciting! If there's anything I can do from my end to make Staticman compatible with what you're trying to achieve, I'll be happy to make it happen.

[2018-04-05 18:22] ekoeryanto opened #1231 "Hang after login"
**- Do you want to request a *feature* or report a *bug*?**
- bug

**- What is the current behavior?**
- hang after successfully logged in, need to refresh 2-3 times to get redirected to admin area
![image](https://user-images.githubusercontent.com/36023898/38383979-204b8040-3938-11e8-8155-3cf28570f6d3.png)

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What i

[2018-04-05 20:04] talves commented on #1213
Try adding the following to your `netlify.toml` in your repo

[code]

[2018-04-05 21:14] Abdelrahman146 opened #1234 "Failed to load settings from /.netlify/identity"
I have initialized new identity instance and sent an invitation to my email but when I accept the invitation the widget on the home page where I suppose to write my password gives me this

[code]
here is a pic of the error https://gyazo.com/deba208eeb96b413228a16c54ba180c4

[2018-04-06 03:51] ekoeryanto opened #1235 "Current user value on config.yaml"
**- Do you want to request a *feature* or report a *bug*?**
*feature*
**- What is the current behavior?**
- imposible to put current user on config.yaml

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**
- current user value can be included in config.yaml
- example:  `- {label: "Author", name: "author", widget: "hidden", default: "

[2018-04-06 04:35] brasilikum commented on #1234
What helped me:
Settings > Identity > Git Gateway (last entry) > Activate

[2018-04-06 11:47] Dammmien commented on #1194
@erquhart I can take a look, does this kind of conf is ok for you ?
[code]
If no `buttons` field is specified we display all the buttons otherwise we display the list ?

[2018-04-06 20:29] tech4him1 commented on #1234
@Abdelrahman146 Feel free to reach out on [our Gitter channel](https://gitter.im/netlify/NetlifyCMS) with a description of your new problem, or open a new issue if you'd rather.

[2018-04-06 20:29] #1234 closed

[2018-04-07 23:27] snirp commented on #553
Google brought me here. Got the same message: `Collection must have a field name that is a valid entry identifier`. Any suggestions as to what causes this?

[2018-04-07 23:45] snirp commented on #553
Resolved it by adding a field named `title` to the collection. I presume that Netlify needs this field to generate a filename slug.

[2018-04-08 06:29] michaelkornblum commented on #1193
Please forgive my ignorance, as I am really new to all of this, but would it be possible to use Staticman in tandem with NetlifyCMS?

[2018-04-09 15:05] talves commented on #737
I have created some [integration examples into a create-react-app successfully](https://github.com/talves/netlify-cms-react-example).

A `Link` to a route in React can use replace to remove the route history for the link which does solve some of the reset issue, so you can integrate into an existing React app.

[code]

[2018-04-10 14:04] danielmahon commented on #325
@fk @KyleAMathews Hey all, just wanted to let you know I created a simple gatsby plugin to help `gatsby-remark-images` match the relative path from markdown images without needing to modify `netlify-cms`. You just add this plugin before `gatsby-remark-images` in your `gatsby-config.js`. Check it out here: https://www.npmjs.com/package/gatsby-remark-relative-images

Hopefully, this won't be needed

[2018-04-10 14:34] tech4him1 commented on #325
@erquhart @talves Is it worth adding @danielmahon's plugin to `gatsby-plugin-netlify-cms` in some way?

[2018-04-10 15:10] danielmahon commented on #325
@tech4him1 Not sure if that would work as it is. The plugin basically has to "intercept" the `node` returned from `gatsby-transformer-remark` before it gets to `gatsby-remark-images`.

It bascially just sets the `node.url` to `path.relative(node.parent.dir, file.url)`.

So, given a node like `/src/pages/blog/my-first-post.md`, with an image src of `/uploads/fat-racoon.jpg`, and the referenced imag

[2018-04-10 15:20] tech4him1 commented on #513
@erquhart As a technical description of how the `path` property would work, so it's easier to see any problems. Let me know if it doesn't match what you are thinking.

1. Sanitize and replace all placeholders
    - `nested/dir/{{slug}}/index.pt.md` --> `nested/dir/entry-title/index.pt.md`
2. Split into folder and filename at last slash.
    - `nested/dir/entry-title/index.pt.md` --> [`nested/dir/e

[2018-04-10 17:01] brianlmacdonald commented on #1229
@tech4him1 @erquhart  can I give this a shot?

[2018-04-10 20:10] brendan-hurley commented on #325
@danielmahon tried your package but nothing appeared to happen. Upon debugging it, for whatever reason the `select(markdownAST, "image")` and `select(markdownAST, "html")` return nothing, despite there being plenty of html content. Wondering if you or anyone had any ideas why that might be? For what it's worth, my config is pretty much set up the same as your example.

[2018-04-10 20:24] danielmahon commented on #325
@brendan-hurley Hmm, not sure. `markdownAST` is passed to the plugin array via `gatsby-transformer-remark`. Those calls are mirroring how `gatsby-remark-images` grabs the images and html nodes so as long as you have the plugin in the correct place (right before `gatsby-remark-images`) then it should work . Double check your config. `gatsby-remark-relative-images` should be inside the `plugins` arr

[2018-04-10 20:38] brendan-hurley commented on #325
@danielmahon Aye I have it set up as such:

[code]

[2018-04-10 20:42] danielmahon commented on #325
@brendan-hurley [Open an issue](https://github.com/danielmahon/gatsby-remark-relative-images) and include a sample markdown string you're trying to parse, and I'll take a look. Trying not to hijack this thread :wink:

[2018-04-11 12:03] Dammmien commented on #1178
@gazebosx3 are you looking at the topic or I can take a look ?

[2018-04-11 12:59] gazebosx3 commented on #1178
Hey, sorry---I've been slammed over the past couple of weeks, so yeah, go ahead and take it. Sorry :(

[2018-04-11 13:44] erquhart opened #1243 "Release automation"
### Why

We should have a documented, automated release process because:

* more than one person should be able to publish releases
* releases should be cheap and easy, so they can happen often
* to reduce the risk of release errors

### Proposal

* Document the release process in `CONTRIBUTING.md`
* Use [`standard-version`](https://www.npmjs.com/package/standard-version)/[conventional commits](ht

[2018-04-11 14:14] erquhart opened #1244 "Smarter list widget additions"
**- Do you want to request a *feature* or report a *bug*?**

enhancement

**- What is the current behavior?**

Adding items to the list widget is painful - you have to:

* scroll to the add button up top
* click it
* scroll to the bottom of the list
* edit the newly added item
* reposition the item to desired location

**- What is the expected behavior?**

* scroll to desired new item location
* c

[2018-04-11 14:23] tech4him1 opened #1245 "Feat: Add ability to filter folder collection by filename."
**- Do you want to request a *feature* or report a *bug*?**
feature

**- What is the current behavior?**
Currently, it is possible to filter a folder collection by a frontmatter value in the entries, but not by the actual filename itself. This would be really nice in cases where, for example, files with underscores in the name need to be filtered out.

**- What is the expected behavior?**
Provide

[2018-04-11 14:25] speexy commented on #1186
Sure! I'll try :)

Let's say I have:
[code]
That would return a structure like this:
[code]
by flattening I mean returning this:
[code]
This flattening/merging would make it possible to write a cleaner config.yml by using anchors/aliases. I would be ok with the nested results too, however, I am run into problems because then the title and the body are not on the top layer anymore.

What I am looki

[2018-04-11 14:28] tech4him1 commented on #1244
Related to https://github.com/netlify/netlify-cms/issues/963

[2018-04-11 14:52] erquhart commented on #1244
Agreed, this can be considered a sub-ticket under #963.

[2018-04-11 20:42] erquhart commented on #1218
Thanks for calling that out Caleb.

I'm not sure about the line length issue, but I do see that we're not nesting top level raw html in `paragraph` MDAST nodes, hence the failure to read.

We have a couple of options for fixing this (the `remarkWrapHtml` Remark [plugin](https://github.com/netlify/netlify-cms/blob/1.5.0/src/components/EditorWidgets/Markdown/serializers/remarkWrapHtml.js) was added

[2018-04-11 21:01] erquhart commented on #1222
There's no correlation between a date field in your frontmatter and the date placeholders for slugs - the placeholders will always use the current date at entry creation. Consider that an entry's frontmatter could have multiple dates, and it's not clear which should be used.

The underlying concern of slug customization is being addressed under #445, feel free to add comments there.

[2018-04-11 21:01] #1222 closed

[2018-04-11 22:50] erquhart commented on #1228
The repo is private.

@owenhoskins know anything?

[2018-04-12 00:08] popwebz commented on #432
This would be awesome

[2018-04-12 11:28] robsonsobral commented on #445
Can we customize the field label? If we have a `slug` field on frontmatter, we could and with confusing labels.

[2018-04-12 14:15] #914 closed

[2018-04-12 14:24] erquhart commented on #1213
@talves `netlify.toml` only impacts sites hosted on Netlify.

@mdehollander this really depends on your hosting setup. Have you reached out to your hosting company on it?

[2018-04-12 15:01] erquhart commented on #1231
Hmm I believe the `netlify-identity-widget.js` script in use should handle this.

@bcomnes know anything?

[2018-04-12 15:08] erquhart commented on #1194
@Dammmien sorry, I was out for a few days. Looks great, thanks for taking this on!

[2018-04-12 15:35] erquhart commented on #1193
@michaelkornblum yep, they coexist just fine. This issue is just about integrating Staticman moderation into the Netlify CMS UI.

[2018-04-12 15:46] tech4him1 commented on #1213
Isn't it the Netlify Identity site that needs the `Access-Control-Allow-Origin` header, not the site using it?

[2018-04-12 15:48] #1228 closed

[2018-04-12 16:27] Quicksaver opened #1254 "Filename sanitation should only apply to variable parts"
**- Do you want to request a *feature* or report a *bug*?**
I consider it a bug, although I can see how this can be seen as a feature request.

**- What is the current behavior?**
Filename sanitation, in particular replacing periods with hifens and lowercasing, is applied to the whole slug. It should only be applied to the variable parts, such as `{{slug}}` or `{{name-of-field}}`.

There is clearl

[2018-04-12 16:38] Quicksaver commented on #1254
cc @tech4him1 you've worked on slug sanitation recently (#640, it's kinda recent...), care to weigh in?

[2018-04-12 19:15] tech4him1 commented on #1254
@Quicksaver Sure, I'd be glad to:

First off, for the specific use case you mention (multiple extensions), the current way to do that is to use the `extension` setting on the collection (e.g. `extension: "en.md"`), and like you mentioned, that was added in #877. It doesn't accept placeholders however, so you have to create a seperate collection for each language (https://github.com/netlify/netlify

[2018-04-12 20:41] erquhart commented on #1245
I don't think filter allows regexes currently does it?

[2018-04-12 20:49] tech4him1 commented on #1245
@erquhart Well, currently, `filter` only works on frontmatter values.

[2018-04-12 20:51] erquhart commented on #1186
Man, YAML can do some crazy stuff 😛

I definitely understand your goal! I'm just not sure we should bend how things work in the CMS to accommodate, as we're able to currently take the config at face value without interpreting much.

[2018-04-12 21:11] erquhart opened #1256 "Make field label config optional"
**- Do you want to request a *feature* or report a *bug*?**

enhancement

**- What is the current behavior?**

"label" is required for field config

**- What is the expected behavior?**

I'd like to just name fields and have the capitalized name serve as the default label. The default (string) widget is most commonly used, so this means many widgets could be defined as:

[code]

which makes way fo

[2018-04-12 21:15] erquhart commented on #445
I'm not expecting there to be a typical field configuration for the slug editor, but I may be underthinking things. Either way, I'd expect output of the slug and other internal/meta values to be made available to fields as placeholder values via https://github.com/netlify/netlify-cms/issues/450. So you could do:

[code]

[2018-04-12 23:29] ahoward commented on #325
fwiw, a 'public_folder' config containing an absolute url is also munged with a leading /WHACK -> ![](https://cl.ly/qsKZ/Image%202018-04-12%20at%205.08.43%20PM.png) -- after having much discussion in gitter, and reading (grepping really...) the source i think the global, and correct, fix is to *never* touch 'public_folder' , eg.  never prepend a /...

understanding that this could break existing c

[2018-04-13 07:51] mdehollander commented on #1213
I have set it on both sides, but not correct I guess because it is not working.
For netlify, I set this in the `netlify.toml`:
[code]

And for the hosting I use the `.htaccess`

When i check the headers, for example with http://www.webconfs.com/http-header-check.php, I see the wildcard for the `Access-Control-Allow-Origin` (I will make it more specific when it is working)

My netlify site is at ht

[2018-04-13 09:11] Quicksaver commented on #1254
I did see that but somehow I completely missed the most obvious usage for it... That'll teach me to pay attention. Thanks for the pointer! 😄

@tech4him1 hmm, I'm not sure I entirely agree on that one, or at least maybe I'm missing some context? From [the docs](https://www.netlifycms.org/docs/configuration-options/):

*For folder collections where users can create new items, the `slug` option speci

[2018-04-13 11:39] erquhart commented on #1231
As @tech4him1 mentioned, this may be addressed by #1251. Will release soon.

[2018-04-13 11:50] ekoeryanto opened #1259 "Markdown Widget Tab"
**- Do you want to request a *feature* or report a *bug*?**
*feature*
**- What is the current behavior?**
There is no `tab` button
**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**
`tab` button exists or the `textarea` accept tab key so creating nested list will be easy

**- Please mention your CMS, node.js, and operating system ve

[2018-04-13 14:24] talves commented on #1213
@erquhart I believe that was the reason I made the recommendation at the time.

[2018-04-13 15:12] ThiagoMiranda opened #1260 "Read and edit my previously saved .md files"
**- Do you want to request a *feature* or report a *bug*?**
Not getting my previously local collections on the /admin/ tab

**- What is the current behavior?**
I have a /admin/collections tab and when I click on a collection it shows an error "Sorry!
There's been an error - please report it!". I´m not seeing my current images too

**- If the current behavior is a bug, please provide the steps to r

[2018-04-13 15:28] talves commented on #1260
@ThiagoMiranda you will not be able to use the `test-repo` for the backend type. If this is a github repo use `github` or if you enabled identity within your site on Netlify you can use git-gateway

You can try to get some help in the community at also https://gitter.im/netlify/NetlifyCMS

[2018-04-13 15:32] tech4him1 commented on #1260
File collections need to contain an array of files:
Corrected example:
[code]

[2018-04-13 15:40] tech4him1 commented on #1213
The `Access-Control-Allow-Origin` header is only applying on your pages, though, not on the `.netlify/identity` routes.

[2018-04-13 16:07] erquhart commented on #1245
Right, just clarifying the additional change here.

[2018-04-13 16:15] tech4him1 commented on #1213
It looks like if an `Origin` header is sent along with the Identity request, Identity will automatically add the `Access-Control-Allow-Origin` header (thanks for pointing out the example on `localhost`, @erquhart). I'm assuming the Identity widget can be configured to send this header automatically, but I'll need to check.

[2018-04-13 16:32] erquhart commented on #1254
@Quicksaver good points. I hadn't considered it that way at all, but it definitely makes sense to leave filename templates as is. That said, it's breaking to just change the behavior, and even at the v2 release I'd be worried about fallout. Consider a large site that's been using Netlify CMS all along and leaning on this behavior suddenly having all of it's filename hyphens become spaces or dots o

[2018-04-13 16:39] erquhart commented on #1259
The markdown widget does support nested lists via the tab key:

![image](https://user-images.githubusercontent.com/2112202/38747091-a92ab2c0-3f17-11e8-99f0-e7b06000c2e5.png)

[2018-04-13 16:40] erquhart commented on #1259
The markdown widget does support nested lists via the tab key:

![kapture 2018-04-13 at 12 39 28](https://user-images.githubusercontent.com/2112202/38747163-e87cd20a-3f17-11e8-8b77-3123513bc0ea.gif)

[2018-04-13 16:47] erquhart commented on #1213
@talves ah! Didn't realize netlify.toml would have impact for Netlify services when not hosted on Netlify, my bad.

[2018-04-13 16:56] Quicksaver commented on #1254
@erquhart I agree breakage could definitely happen, although I would say as far as breaking changes go, I see this as pretty mild, since any periods coming placeholders would still be turned to hifens, and rewriting the hardcoded periods in the `slug` config to hifens should be very straightforward.

Not really a fan of "option flags" like `transformTemplate` to be honest, wouldn't oppose it eithe

[2018-04-13 17:00] ThiagoMiranda commented on #1260
@talves it´s a bitbucket repo. @tech4him1 Basically I was trying to read/edit my already saved .md files and create new ones. Is that possible?

[2018-04-13 17:16] tech4him1 commented on #1213
The related code for turning off the cookie when running locally was added in https://github.com/netlify/netlify-identity-widget/pull/74. @Benaiah Do you have any background on why turning off cookies is necessary for CORS requests.

[2018-04-13 17:35] ccsource opened #1261 "Can I customize .md file output?"
Hi guys, I need help...

So in the screentshot below, left side is what I want and right side is what netlify output.

So the difference is at line `3,6` I need quote along the string

On line `8`, I don't need quote around the date

And I require a blank line right after `---` which is line `10` at the right side.

So is it possible to let Netlify output as what I want?

![](https://0l5i3g.bn.fil

[2018-04-13 17:43] erquhart commented on #1261
Lines 3 and 6 are valid yaml strings with or without quotes - why do you require quotes there?

Also curious about the need for the date being unquoted - is that because your generator expects a date type value from yaml? Any docs for your generator that you can link to for that?

Regarding the space after the closing frontmatter delimiter, I agree, we should just add a newline there by default. B

[2018-04-13 17:45] ccsource commented on #1261
@erquhart Sorry since I'm quite new in this region, I really don't know why. But that's what I found out during my test, the right side version's post won't show up in the post list. As a reference, [here](https://github.com/TaylanTatli/Moon) is a link to the theme I'm using.

[2018-04-13 18:13] #1260 closed

[2018-04-13 18:16] tech4him1 commented on #1260
I think @talves answered your questions in Gitter, right? If you still need help, let's move the conversation there so that we can both help you easier.

[2018-04-13 21:25] ekoeryanto commented on #1259
God, yes it work. the tab key is accepted only on list, but it is reasonable.
Thanks.

[2018-04-13 21:25] #1259 closed

[2018-04-13 23:54] ThiagoMiranda commented on #1260
@tech4him1 sort off. He said that there's a little "complex" configuration that I could implement at least to read my local .md files and edit them but I'm not sure what. Can you provide me an example?

Thanks!

[2018-04-14 01:15] tech4him1 commented on #1260
@ThiagoMiranda He is the expert on the filesystem backend -- I'd ask him on Gitter.

[2018-04-14 01:49] thefuture2092 opened #1265 "Lost code in git-gateway AuthenticationPage.js dist"
**- Do you want to request a *feature* or report a *bug*?**
report a *bug*

**- What is the current behavior?**
The code in the dist version of the `AuthenticationPage.js` is different from the code in the src version.

**- If the current behavior is a bug, please provide the steps to reproduce.**
 - Access the dist version of the file at this link [https://unpkg.com/netlify-cms@1.5.0/src/backends

[2018-04-14 02:28] thefuture2092 commented on #1265
Oh okay! I saw the last release was two days ago and the commit was two days ago too so I assumed it was released. But after double-checking, yeah you are right it is not released yet.

Thanks.

[2018-04-14 02:28] #1265 closed

[2018-04-14 07:21] fessehaye opened #1266 "Using multiple branches or multiple sites."
Hi! I am new to using netlify cms and was interested in using it for a side project.

Is it possible to use the same cms and refer to multiple sites? For example, for posts and events I want to both city websites to refer to the same city .md files or back end data.

If I want to deploy two similar websites with the only differences being title changes and colors, is it best to make two branches w

[2018-04-14 12:03] siliconchild opened #1267 "Option to Enable input field only if a checkbox is checked"
**- Do you want to request a *feature* or report a *bug*?**
Feature
**- What is the current behavior?**
No widget available to make this happen
**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**
I will start with an example so that this is better understood,
`whitelist:
 status: false
 type:
 start-date:
 end-date: `

In the code ab

[2018-04-14 14:06] #1178 closed

[2018-04-14 16:15] ccsource opened #1268 "Having "visitors' post" function."
Hi guys,
I was thinking is there any way to build a service that let the visitor submit a post and automatically put it in `in review` status and belong to a specified user (let's call `visitor` in this case)?

So we'll have a form with exact fields in our editor, and after visitor submit the form, it'll create a post with user `visitor` and assign it as `in review` status.

Is it possible? Since

[2018-04-14 16:48] dheerajvs opened #1269 "Changes to config.yml not picked up by subsequent builds"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
Changes to `config.yml` pushed to GitHub are not being picked up in subsequent builds.

**- If the current behavior is a bug, please provide the steps to reproduce.**

1. Make changes to `config.yml` by adding new fields to an existing collection and/or adding new collections.
2. Push these changes

[2018-04-14 18:08] siliconchild commented on #1268
Something like this would be super awesome!! This will move static much closer to dynamic websites in terms of functionality.  Is there a way to implement a form page that submits pull requests to GitHub.

[2018-04-15 03:31] DomtronVox commented on #1178
Thank you!

[2018-04-15 14:17] tech4him1 commented on #1269
@dheerajvs That would be an issue with your website, not with the CMS. You can try reaching out to Netlify.com support with a description of the problem: https://www.netlify.com/support.

[2018-04-15 14:17] #1269 closed

[2018-04-15 18:43] ghost opened #1270 "Add hidden date widget that returns the current date"
**- Do you want to request a *feature* or report a *bug*?**
Feature

**- What is the expected behavior?**

Please add hidden functionality to the date widget so that the date of creating the post can be returned without bothering the user.

[2018-04-15 19:28] tech4him1 commented on #1269
Glad it is fixed! If you could still see the old file by accessing it's URL directly, though `/admin/config.yml`, then it was definitely not the CMS, it was the hosting, because the CMS is just fetching it directly through the browser.

[2018-04-15 19:48] erquhart commented on #1269
Sounds like caching

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-16 11:04] charlotte-l opened #1271 "Datetime widget is wrapping date in single quotes"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
Dates generated by the Datetime widget are wrapped in single quotes in the document's front matter.
Example:
`date: '2018-03-21T11:14:49+00:00'`

**- If the current behavior is a bug, please provide the steps to reproduce.**
1. Create a new entry in the CMS
2. Click "Save"
3. Change status to "Read

[2018-04-16 11:30] vintproykt commented on #857
It would be good if panel prompted the name before commit. As the config option.

[2018-04-16 17:30] ouarez opened #1272 "Error: Unrecognized front-matter format. + TypeError: e.commit is undefined"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
**- Do you want to request a *feature* or report a *bug*?**
Report a bug.

**- What is the current behavior?**
Nothing works. Maybe I'm just tired but I can't get Netlify to work and keep running into these 2 errors.

**- If the current behavior is a bug, please provide th

[2018-04-16 17:32] ouarez commented on #1272
Sorry, I forgot the screenshots. Here they are!

![netlify-bug1](https://user-images.githubusercontent.com/25655587/38825445-9752037c-417a-11e8-98ab-cd85d984f727.png)
![netlify-bug2](https://user-images.githubusercontent.com/25655587/38825446-976eee2e-417a-11e8-9ced-5556ace366f1.png)
![netlify-bug3](https://user-images.githubusercontent.com/25655587/38825447-977eebda-417a-11e8-9ccc-d2c3e906b900.pn

[2018-04-16 18:09] tech4him1 commented on #1271
@charlotte-l Can you check what CMS version this happened in? Has it just been since v1.5.0?

[2018-04-16 18:22] markphilpot opened #1274 "Feature: Better support for posts without titles (microblog posts)"
Right now there is nothing that prevents the creation of posts without titles, but the UI shows empty regions for those posts.

![image](https://user-images.githubusercontent.com/46191/38827636-65aa5520-4168-11e8-9fe1-6200db0b8817.png)

It would be nice if instead it showed the first X characters (~120) of the post when there is no title.

[2018-04-16 19:24] erquhart commented on #1066
Just realizing the concepts of flexible layout and conditional fields are completely different, not sure how I missed it. For anyone seeking conditional fields, check out #1267.

[2018-04-16 22:08] erquhart commented on #1267
This may require the same kind of dot notation field name parsing as #595.

Thoughts anyone?

[2018-04-16 22:49] tech4him1 commented on #1117
I can still reproduce this using the original config:

[code]

[2018-04-16 23:19] erquhart commented on #1270
This centers around something that sort of happened by mistake imo - the date widget provides a default value that can only be generated by the widget control component while rendered in the editor - we need some way for this to work when hidden.

[2018-04-17 00:06] erquhart commented on #1272
I forked your repo and couldn't reproduce. Can you paste index.md?

[2018-04-17 00:09] erquhart commented on #1271
@tech4him1 I believe we intentionally dropped the date type from the yaml parser right? Looks like some SSG's need it after all. Hadn't thought much about type requirements in output until this started being reported.

[2018-04-17 00:11] erquhart commented on #1274
Totally agree.

[2018-04-17 00:25] erquhart commented on #1271
Oh okay, gotcha. So that's tough - the date widget was _supposed_ to be returning a string the whole time, the documented default value, but was instead returning the same default value as `datetime`. A blank string as format should be the way to go, but I'm betting the CMS will consider that falsy and ignore it.

[2018-04-17 00:56] tech4him1 commented on #1271
`moment().format('')` still returns a string for me though, have you tested it?

[2018-04-17 01:39] tech4him1 commented on #1117
When a new list item is created, the Date widget calls `onChange` to set its default.

The nested default is set using this code:
https://github.com/netlify/netlify-cms/blob/1a3454f244b1e1a190f24fe2acfb9b1583446bc6/src/components/EditorWidgets/List/ListControl.js#L163

For some reason, when the list is first being created, `getObjectValue` returns an empty Map on every call. Therefore, when there

[2018-04-17 02:41] markphilpot commented on #1274
To be clear (and I don't know if this comment belongs here or #445) I was able to create a post without a title (and hence no slug) by relying completely on the time fields:

`slug: "{{year}}-{{month}}-{{day}}-{{hour}}_{{minute}}_{{second}}"`

I agree it's probably better to fix the handling in #445 before but it might not be required.

[2018-04-17 04:41] ouarez commented on #1272
index.md only contains basic code:

[code]

And nothing else.

You say you got an OK result from forking my repo?

I'll try it again tomorrow morning. Maybe it's just me and I had a bad day.

[2018-04-17 05:40] siliconchild commented on #1267
Yes, the core idea is like how you said. When one field is set to true its dependent fields become active for user input.

[2018-04-17 05:58] ghost opened #1275 "List Widget with single child object displays "List[map]........" string in CMS UI"
**- Do you want to request a *feature* or report a *bug*?**
Bug
**- What is the current behavior?**
List widget with a single object as its array element outputs "List[map]........"  string in the ui like shown here https://nupic.co/image/6T638
**- If the current behavior is a bug, please provide the steps to reproduce.**
Please use this configuration to reproduce the bug

    - name: "footer"

[2018-04-17 06:11] siliconchild opened #1276 "Date Widget Property Gets Removed if value is 'blank' - ( For Widget Nested Inside an Object )"
**- Do you want to request a *feature* or report a *bug*?**
Bug
**- What is the current behavior?**
In this code,

    - name: "pre-ico"
      label: "Pre ICO Information"
      widget: object
      fields:
       - label: "Pre ICO Start Date"
         name: "start-date"
         widget: "date"
         default: ""
         format: "MMM-DD-YYYY"
       - label: "Pre ICO End Date"
         name: "e

[2018-04-17 06:25] siliconchild commented on #963
Since the button to add new list items is placed on top the the list widget and the new entry box gets displayed at the bottom of the list widgets, on large lists user has to manually scroll all the way down to input the data.

**@neutyp had proposed auto-scrolling the viewport to the bottom of the widget, please implement this.**

**Also to add the next item the user has to scroll all the way up

[2018-04-17 07:15] siliconchild commented on #1244
**possible solutions**

1. Add the 'add new list item' button to the bottom part of the list as well as the top to avoid rescrolling'
2. Alternative solution is to add a 'scroll to the top of the list' button at the bottom of the list widget

NB - Displaying list items like how blog posts are displayed, like this - https://nupic.co/image/6TnWX would free up a lot of vertical space

[2018-04-17 07:41] ccsource opened #1277 "User interface non-user responsive"
**- Do you want to request a *feature* or report a *bug*?**

bug, I think.

**- What is the current behavior?**

It looks like (yes, **looks like**, since I haven't look into source) the Netlify CMS admin panel have locked the UI to 9:16, which looks well on a PC but pretty suck on mobile devices (or at least on my iPhone 5)

**- If the current behavior is a bug, please provide the steps to reprod

[2018-04-17 10:57] speexy commented on #1186
I get that. Would be an awesome feature though!
Any chance on the body and title field being usable from anywhere in the tree as an alternative?

[2018-04-17 13:37] NoopDog opened #1279 "Support for Equations in the Markdown Editor"
Would be great to have support for equations in the markdown editor so that if I enter something like

$$
a^2 + b^2 = c^2
$$

I get a pretty formatted equation like:

<img width="146" alt="screen shot 2018-04-17 at 11 31 34 pm" src="https://user-images.githubusercontent.com/3239697/38872913-cb9c73e2-4297-11e8-90f5-0dbca2a34973.png">

I just tried this on the demo site:
https://cms-demo.netlify.com

[2018-04-17 13:37] erquhart commented on #1272
Yeah, ran with no issues.

[2018-04-17 13:44] erquhart commented on #1275
The core issue here is that we need a smarter approach to providing display titles for list widget items. We currently look for fields with a handful names, or else fallback to stringifying the first field, which results in the above. At a minimum, we should provide a generic fallback, perhaps based on the list widget label itself, if none of the list widget fields are strings.

[2018-04-17 13:52] erquhart commented on #963
The two original issues here are chevrons should point right, which was addressed, and improving how items are added, which will now be handled under #1244.

[2018-04-17 13:52] #963 closed

[2018-04-17 13:58] erquhart commented on #1277
Sounds like this is a request for responsiveness/mobile functionality, which we have a ticket for. Closing in favor of #441.

[2018-04-17 13:58] #1277 closed

[2018-04-17 14:00] erquhart commented on #1186
@Benaiah and I were discussing how Netlify CMS might provide this sort of thing natively, by allowing fields or named field groups to be defined separately from collections, and then applied wherever needed.

[2018-04-17 14:07] erquhart commented on #1279
Related Remark plugin: https://github.com/Rokt33r/remark-math

[2018-04-17 15:15] tech4him1 commented on #1271
We'll also need to note which file formats will serialize to a string anyway. YAML and TOML have an explicit Date format, but JSON doesn't.

[2018-04-17 15:37] tomsabin commented on #1000
Unfortunately this isn't the case, at least not for us at (Netlify CMS) version 1.5.0). This 'bug' has actually been useful for us where we want to exclude a particular type of content (e.g. a type of blog post), so retaining this 'feature' would be ideal.

Perhaps the fix to this will also include a method of whether the filter should _filter_ and/or _exclude_?

[2018-04-17 15:48] tech4him1 commented on #1000
@tomsabin You're right, we wouldn't want a breaking change here, regardless of what the intended behavior was originally.

I don't have any problem with adding a switch there, that seems reasonable.

[2018-04-17 16:02] erquhart opened #1280 "Netlify CMS 2.0"
## Overview

[View Issues](https://github.com/netlify/netlify-cms/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22release%3A+2.0%22+)

_**It's 2.0 time, people!**_ 🔥🔥🔥
This issue serves as an all-purpose tracking center for the 2.0 release. It is the source of truth for dates, release strategy, goals, and relevant issues, and all of these things will shift (especially e

[2018-04-17 16:10] tech4him1 commented on #909
Related to #245.

[2018-04-17 16:11] tech4him1 commented on #909
Related to #245. These can likely be implemented together.

[2018-04-17 16:49] erquhart commented on #1000
I'm thinking we're going to start a v2 branch, which will be regularly rebased onto master. If so, we can give this proper treatment there and leave 1.x as is.

[2018-04-17 17:03] tech4him1 commented on #1245
Related to #1000.

[2018-04-17 17:40] erquhart commented on #1000
Update: the 2.0 release strategy has been updated, we'll stick to master and create dedicated release branches for 1.x patches.

[2018-04-18 02:43] jimmyangel commented on #1280
I would love to see Media Library folders as discussed [here](https://github.com/netlify/netlify-cms/issues/1046). Right now it is a bit painful to maintain all images in a single folder.

[2018-04-18 11:25] tomsabin commented on #1000
I think the use of include and exclude would be good because then we'd be explicitly defining how the filter would be used. However, I'm concerned about simplying replacing the `filter` key in the config file - more so for the migration process from 1.x to 2.x which I'm not sure whether it has been considered yet?

For example, if the `filter` key was to be deprecated in 2.x and `include` and `exc

[2018-04-18 12:49] knpwrs commented on #1171
Is there a PR open for this anywhere? Is there anything the community can do to help with this?

[2018-04-18 14:03] snirp opened #1282 "Possible to have a "list" in the root of a file collection?"
Gatsby can make relationships between nodes through ["mappings"](https://www.gatsbyjs.org/docs/gatsby-config/#mapping-node-types). You need to refer to a file - `yaml` or `json` - which contains a list in the root.

This would be an example of a file that can be consumed by the Gatsby mapping:

[code]

I have not found a way to have a _root-level_ list in Netlify CMS. Am I correct that a list can

[2018-04-18 14:38] ouarez commented on #1272
I'm still running into the same error.

To be clear, you forked my "tdc-jekyll" repo, deployed it with Netlify, and were able to login to the Admin section and use the CMS without issues?

It's driving me nuts but I'll keep trying stuff until I figure it out.

I'll close this issue in a few hours if I still can't find the problem (or if I find my problem)

Cheers

[2018-04-18 14:50] tech4him1 commented on #1282
I've just been needing the same thing myself, so I'd definitely approve this.

[2018-04-18 15:43] snirp opened #1284 "File collection at same hierarchy level as folder type collection"
Currently there you need an extra hierarchy level of `files:` to create a `file` type collection. I fail to see the need for this, as the CMS should be able to infer the correct collection type from the presence of either a `folder` or a `file` field.

To the end-user both are similar ways to add and edit data, but one is always hidden one hierarchy level deeper.

I would propose to no longer requ

[2018-04-18 16:29] marksteele opened #1285 "Troubleshooting oauth client"
**- Do you want to request a *feature* or report a *bug*?**
Might be a bug, might be a feature

**- What is the current behavior?**

While implementing an OAuth auth backend for Github, I'm seeing what might be an issue either with Redux state or inter-window communication.

My code:
https://github.com/marksteele/netlify-serverless-oauth2-backend

The HTML bits are copied from the other implementa

[2018-04-18 16:38] ouarez commented on #1272
Annnnnd it was 100% my fault and an issue with the Netlify settings, as I initally suspected

These errors were a result of me forgetting to enable the Git Gateway Service in Settings/Identity

So obviously, without access to the Git repo, nothing was working. This explains the 404 errors.

I had simply forgotten it was necessary to enable this setting. My bad!
![enable-git](https://user-images.gi

[2018-04-18 17:27] math0ne commented on #1280
Looking forward to bitbucket support!

[2018-04-18 18:54] robmuh commented on #1280
I have been searching for a data-driven CMS and thought Gatsby hit it close, but the OpenGL requirement is a limiter. Hugo also comes close (but [doesn't quite hit the mark](https://github.com/robmuh/hugo-tutorial-link-data-to-type)). Many static sites are simply database views (in the traditional sense) rendered statically. Building a data-driven component into the core of the CMS without any spe

[2018-04-18 19:36] erquhart commented on #1282
Same here, wondering if maybe a boolean on the collection should signify whether the base value is a list or object.

[2018-04-18 19:44] erquhart commented on #1280
@robmuh Netlify CMS can edit data files (TOML, JSON, and YAML currently). What specifically is missing to fulfill your requirements? Sounds like it's still going to come down to your SSG since Netlify CMS simply edits source data and does not behave as a source itself (it's literally just a React app).

[2018-04-18 20:16] erquhart commented on #1000
Regarding breaking changes, there will be a number of them in 2.x, as with any other major release. This project follows [semver](https://semver.org), so breaking changes are explicitly documented in the [changelog](https://github.com/netlify/netlify-cms/blob/master/CHANGELOG.md) and migration instructions will be provided.

That said, your suggestion of a `filter` option might be the way to go, a

[2018-04-18 20:31] erquhart commented on #1284
Agreed. This seems to be a duplicate of https://github.com/netlify/netlify-cms/issues/535, you agree @snirp? If so you can thumb that one up (and add any comments) and close this.

[2018-04-18 20:33] erquhart commented on #1285
I see the CMS version being printed to the console twice, which means two separate CMS instances are being created. That may have something to do with it.

[2018-04-18 20:35] erquhart commented on #1272
Ah! We need better error messaging for that somehow.

[2018-04-18 20:36] Benaiah commented on #1171
@knpwrs currently I'm working on getting the GitLab and BitBucket backends wrapped up, as well as working on some of the preliminary refactoring that'll be required before we move to a new backend API. You can follow along with that work here: https://github.com/netlify/netlify-cms/pull/517 (GitLab) and https://github.com/netlify/netlify-cms/pull/525 (BitBucket).

Once that work is done, the last

[2018-04-18 20:43] jevenson opened #1287 "Using YAML Anchors, Widgets Appear Numbered"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
Using this [config file](https://gist.github.com/jevenson/f2952dc1f0da572c7044bf8fb8e21616), widgets appear with numbers in the CMS.

<img width="1436" alt="screen shot 2018-04-18 at 3 34 28 pm" src="https://user-images.githubusercontent.com/9632520/38956837-68b9e3ea-431e-11e8-817d-2b9d6cabc9a4.png

[2018-04-18 20:46] robmuh commented on #1280
Ok, that helps me understand better. When I hear CMS I usually interpret that to mean something with site generation included (or no ssg like wordpress).

[2018-04-18 20:49] erquhart commented on #513
That's possible too. The more I think about it the more it feels like we should just go straight for the `path` key solution toward v2.

[2018-04-18 20:53] erquhart commented on #445
I wouldn't expect a slug widget - here's your example as I'd expect it:

[code]

I can't think of a use case for allowing the slug to be configured as a field. You?

[2018-04-18 21:00] snirp commented on #1284
Yes, duplicate. Sorry.

[2018-04-18 21:00] #1284 closed

[2018-04-18 21:03] snirp commented on #535
@tech4him1 I arrived at a similar idea in a duplicate. The terms are slightly different, but same idea:

[code]

[2018-04-18 22:40] ouarez commented on #1272
At least now when I google the console error I had (Unrecognized front-matter format.), I get this thread as a result. Maybe it'll help the next person who forgets to enable the Git gateway :)

[2018-04-19 01:16] marksteele commented on #1285
I've removed the duplicate instance, same result.

[2018-04-19 03:16] tech4him1 commented on #1287
JS config dump after YAML is parsed:
https://gist.github.com/tech4him1/2e2c0410be9f7e77806a928750abb8b2

[2018-04-19 03:47] Jinksi commented on #1280
Is #1032 going to make it into this release?

[2018-04-19 11:10] olafghanizadeh opened #1288 "List of community created widgets/components++"
Hello!

Is there a list out there of custom widgets and extensions created by the community that can be used in NetlifyCMS?

[2018-04-19 11:50] ccsource opened #1289 "Disable preview globally"
**- Do you want to request a *feature* or report a *bug*?**
Feature
**- What is the current behavior?**
You can only disable preview using `preview: false` per collection
**- What is the expected behavior?**
You can add code in the top at config.yml like the following to disable preview **globally**

[code]

[2018-04-19 16:31] ekoeryanto opened #1290 "Big Size Bundle"
**- Do you want to request a *feature* or report a *bug*?**
I think it's *feature*
**- What is the current behavior?**
big size bundle
**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**
small size bundle

**- Please mention your versions where applicable.**

Netlify CMS version:
Browser version:

Node.JS version:
Operating System:

[2018-04-19 17:27] ekoeryanto commented on #1290
also, what about make react external so widget created by user can be small?

[2018-04-19 19:13] erquhart commented on #1231
@ekoeryanto can you test this and see if it's resolved in 1.6.0?

[2018-04-19 20:01] ekoeryanto commented on #1231
OK I'll try

[2018-04-19 21:27] erquhart commented on #1290
They'd still have to install it, and many apps that utilize Netlify CMS aren't using React, so it's just an extra step for them.

#328 covers general bundle size improvement, if you think this is a duplicate of that, please close and add a thumbs up and/or comment over there.

[2018-04-19 21:36] ekoeryanto commented on #1290
Oops, missing that. Sorry

[2018-04-19 21:36] #1290 closed

[2018-04-19 21:36] ekoeryanto commented on #1231
Fixed

[2018-04-19 21:36] #1231 closed

[2018-04-19 22:40] erquhart commented on #1231
Awesome, thanks for retesting!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-19 23:27] tech4him1 commented on #1272
It looks like `/.netlify/git/github/branches/master` is returning a 404, and sometimes we aren't catching it. Checking into it.

[2018-04-20 03:38] tech4him1 commented on #1287
Unfortunately, it doesn't look like YAML anchors can be used to merge sequences (arrays). See https://stackoverflow.com/questions/4948933/is-there-a-way-to-alias-anchor-an-array-in-yaml.

[2018-04-20 03:58] siliconchild commented on #1280
Could #1267  Be Added To Version 2.0

[2018-04-20 13:12] tomsabin opened #1293 "Feature: 'image by URL' editor component"
**- Do you want to request a *feature* or report a *bug*?**

Feature

**- What is the current behavior?**

<img width="639" alt="screen shot 2018-04-20 at 14 04 04" src="https://user-images.githubusercontent.com/885223/39052396-bc228c7c-44a3-11e8-89de-610a83e362be.png">

**- What is the proposed behavior?**

<img width="639" alt="screen shot 2018-04-20 at 14 05 46" src="https://user-images.githubu

[2018-04-20 15:12] erquhart commented on #1280
Note: I added a blurb in the summary above about voting - comments that get a lot of thumbs up will have the best chance of being prioritized.

[2018-04-20 15:34] marksteele commented on #1285
So fundamentally the problem is that the authenticate function in netlify-auth.js is appending '/auth' to base_url. This breaks when the you want the authentication url to be different from the site root.

In my example, my base url for authentication is https://www.control-alt-del.org/oauth/{auth|callback}

Add a configuration setting 'authentication_base' to the backend config settings, and upda

[2018-04-20 15:50] tech4him1 commented on #1272
There seems to be two states that `/.netlify/git/github/branches/master` can be in. If Git Gateway was on, and then was turned off, it will return a JSON response `{"code":404,"msg":"Unable to locate site configuration"}`. However, if it never was turned on, it will return a HTML 404 page (without any CORS headers). We should catch it either way, but we don't seem to be, and that is why the CMS wi

[2018-04-20 15:54] erquhart commented on #1293
I think we'd take a PR to update the current image widget with this.

[2018-04-20 15:58] jevenson commented on #1287
So you'll notice that in that stack overflow link, the example shows merging an anchor sequence with a non anchor sequence:
[code]
According to [YAML Lint](yamllint.com), the above example is indeed invalid.

My config file is merging two anchor sequences and merging them into one, which appears to be working.
[code]
According to [YAML Lint](yamllint.com), the above example is valid. Netlify-CMS i

[2018-04-20 16:05] erquhart commented on #1272
Ah, good find on this one.

[2018-04-20 16:26] tech4him1 commented on #1272
Looks like the code issue is that we only throw on 404 errors if the response is JSON. 🤷‍♂️

[2018-04-20 17:02] tech4him1 commented on #1287
The YAML is *valid*, but I'm not sure it is doing what you actually want.

If my YAML is (this is just an example):
[code]

that will merge to:

[code]

It will not simply add each value to the list. Instead, all the keys in the array will be "mashed together". Quoting the spec (yaml.org/type/merge.html):

In your case, this works the same, but outputs a little differently since you are wrapping t

[2018-04-20 17:06] #1177 closed

[2018-04-20 17:22] ghost opened #1297 "Boolean Field Doesn't Save Default Value, Rather Skips Property Altogether."
**- Do you want to request a *feature* or report a *bug*?**
Bug
**- What is the current behavior?**
Boolean Field Doesn't Save Default Value, Rather Skips Property Altogether.
**- If the current behavior is a bug, please provide the steps to reproduce.**
Please use this code inside an object
[code]
**- What is the expected behavior?**
should return default value,
[code]

**- Please mention your ve

[2018-04-20 17:33] tech4him1 commented on #1297
We've had requests on this before to not save if the field was optional -- just something to consider when fixing.

[2018-04-20 17:55] erquhart opened #1298 "Add allow_publish flag for editorial workflow"
**- Do you want to request a *feature* or report a *bug*?**

enhancement

**- What is the current behavior?**

Publishing can't be disabled in the editorial workflow. You generally wouldn't want to, but for folks that use multiple cms instances to approximate a roles based setup, it would be beneficial to switch editorial workflow off on certain instances so that users of those instances can only

[2018-04-20 17:56] erquhart commented on #1298
cc/ @futuregerald

[2018-04-20 18:16] siliconchild commented on #1297
If not much trouble, Can this be addressed soon, Most of the logic on website depends on the Boolean property being true or false.

[2018-04-20 18:17] johnkferguson commented on #1280
Casting my vote for a configuration generator/validator (#1167)

[2018-04-20 20:13] jevenson commented on #1287
According to the YAML Lint site, it does output each element of the sequence to the fields object. This is the output to the code you provided. So I don't think I'm following what you're saying, because the YAML merge appears to be working to be. I'm just concerned about the way Netlify CMS outputs the number above each widget. Netlify CMS is behaving as expected otherwise.

[code]

[2018-04-20 20:15] jevenson commented on #1287
Ahh I see what you're saying now. Thanks for explaining.

[2018-04-20 20:15] #1287 closed

[2018-04-20 20:16] jevenson commented on #1287
@tech4him1 can you suggest a way that I can share widgets across multiple page types so I don't have to duplicate them?

[2018-04-20 20:32] tech4him1 commented on #1287
@jevenson You might try asking in our Gitter chat: https://gitter.im/netlify/NetlifyCMS

[2018-04-20 20:40] tech4him1 commented on #1287
@jevenson Also, you may want to follow the discussion in https://github.com/netlify/netlify-cms/issues/1186, it's almost the same as yours.

[2018-04-21 02:13] ekoeryanto opened #1304 "Markdown Widget Excerpt Option"
**- Do you want to request a *feature* or report a *bug*?**
* *Feature*

**- What is the current behavior?**
no option to toggle the feature
**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**
option `excerpt` exists and `excerpt` button optionally added to the editor

**- Please mention your versions where applicable.**

Netlify CMS

[2018-04-21 13:05] Andrewyg opened #1306 "Set default status to "" for editorial workflow"
**- Do you want to request a *feature* or report a *bug*?**
Feature request
**- What is the current behavior?**
Currently, after we save the draft for the post in editorial workflow, we'll need to set the status to `Ready` in order to publish.
**- What is the expected behavior?**
You can set the default status after a draft to `Ready` which meant you can publish directly after you save the draft,

[2018-04-21 13:06] erquhart commented on #1304
Good point, the Editor Widget button should be removable via configuration just like the others.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-21 13:48] Andrewyg commented on #1280
How about supporting Facebook as one of the OAuth platforms to log in to Netlify CMS since it's one of the biggest social network (~~although Mark is getting some trouble now~~)

[2018-04-21 14:03] ghost opened #1307 "UTC Timezone for Date Widget (without being a string)"
**- Do you want to request a *feature* or report a *bug*?**
Feature
**- What is the current behavior?**
Date widget only returns date in Local Timezone
**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**
Ability to return date in specified timezone

**- Please mention your versions where applicable.**

Netlify CMS version:
Browser ve

[2018-04-21 16:02] tech4him1 commented on #1307
You sure can, just set the `format` option to a string with the value that you want. It accepts any Moment.js format: https://momentjs.com/docs/#/displaying/format/.

[2018-04-21 17:12] tech4him1 commented on #1307
The output will be a string, if that's what you are asking?

[2018-04-21 17:25] siliconchild commented on #1307
Yes i was requesting for ISO8601 date in UTC

[2018-04-21 17:41] talves commented on #1280
Are we considering the mono-repo setup within 2.0?

I believe this needs to be done sooner than later. @erquhart After our long discussion in chat about how the starter should be setup, I went and did some extensive heads down testing on a mono-repo starter for those wanting to do a pure React driven build of the CMS. Also, the concerns with globals (#1292) needing to be exposed to create widgets

[2018-04-21 18:39] mk0r commented on #964
Just commenting to upvote this. In the current login UI the ‘netlifycms’ logo is VERY conspicuous — far bigger than the button for logging in.

Also the text “login with netlify identity” could be confusing for clients who don’t know what Netlify is.

And finally — at the very least “Login” (noun or adjective) should be changed to “Log in” (verb).

[2018-04-21 23:34] tech4him1 commented on #1306
@Andrewyg Does the simple workflow meet your needs? It is set to publish directly without saving a draft.

[2018-04-22 00:26] Andrewyg commented on #1306
@tech4him1 Nope actually.

So I've been focusing on **saving draft** at this issue, so let's talk about simple workflow, the simple workflow will publish the post immediately after you save it which meant there is no way to save an unpublished draft.

Then for editorial flow, it can let you save draft, but then every time you need to publish you'll need to `save` then wait for the site load, then

[2018-04-22 00:40] tech4him1 commented on #1306
I'm wondering if this issue is the same as https://github.com/netlify/netlify-cms/issues/942, then. If so, maybe you could chime in there?

[2018-04-22 00:40] tech4him1 commented on #1306
Related to #942.

[2018-04-22 00:43] Andrewyg commented on #1306
Well, actually I've opened this issue since @erquhart tells me saving draft without editorial workflow is impossible and he'd ask me to open a issue for setting default status for editorial workflow (see at gitter)

But yeah, it fit what I originally ask on gitter.im

[2018-04-22 02:43] ekoeryanto commented on #1280
I think it should be in cli
somethink like
[code]
and all netlify widgets in the netlify cms mono repo created by that.

[2018-04-22 13:08] ekoeryanto commented on #1280
I also would like to see the advanced(minimal) and easy(full) version, where the easy version is only need to include a js and a css(just like 1.x) and advanced version is;
1. it is minimal (core) version without any widget included
2. widget should be added manually

[2018-04-22 13:31] raniesantos commented on #513
I use year subfolders like @DSchau

[2018-04-22 22:01] liquidvisual opened #1308 "How to use h3-h6 in the markdown widget?"
In the docs it only shows "heading-one" and "heading-two" as button options. In my templates, I only give users access to h3 and lower, is there any way to do that without making a custom widget?

I've tried passing "heading-three" and "h3" but that doesn't work - and there doesn't seem to be any info (that I could find) on the Slate repo.

[2018-04-22 22:59] erquhart commented on #1308
Support is already in place, we just need to add the buttons. We should have a larger pool of available buttons than what is enabled by default anyway, should cover everything we support.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-22 23:01] liquidvisual commented on #1308
Awesome! Looking forward to it :)

[2018-04-23 01:45] mrnoisytiger commented on #1280
It would be great if we allow different orderings of the file lists, such as by last modified or date added. Right now, the ordering of the posts whatnot in a collection appear to be random.

[2018-04-23 15:16] erquhart opened #1309 "Add debug log"
**- Do you want to request a *feature* or report a *bug*?**

feature

**- What is the current behavior?**

Users/devs reporting bugs need to go through a few steps to gather information. This may discourage bug reporting or else hinder the resolution process. There is also further potentially helpful information readily available within the CMS that users and devs can't access from the browser.

*

[2018-04-23 16:12] tech4him1 commented on #1309
Just as a note, it is possible to generate sourcemapped stacktraces from captured errors: https://github.com/netlify/netlify-cms/compare/error-details.

[2018-04-24 11:19] severo opened #1316 "CSS of the authentication button text"
**- Do you want to request a *feature* or report a *bug*?**

Report a bug

**- What is the current behavior?**

The text "Login with GitHub" is showing outside of the button.

![captura de pantalla de 2018-04-24 07-08-02](https://user-images.githubusercontent.com/1676121/39183574-7fe70948-478e-11e8-881a-7a60d5828ca6.png)

**- If the current behavior is a bug, please provide the steps to reproduce.

[2018-04-24 14:23] #1316 closed, assigned to nobody

[2018-04-24 15:38] erquhart commented on #1297
I can't reproduce this, the `false` value is output in the yaml string whether set by default and untouched or toggled to false.

[2018-04-24 15:45] siliconchild commented on #1297
`
collections:
 - name: "coins"
   label: "Coins"
   editor:
    preview: false
   folder: _coins
   create: true
   extension: html
   format: frontmatter
   fields:
    - {label: "Layout", name: "layout", widget: "hidden", default: "coindetail"}
    - {label: "Title", name: "title", widget: "string"}
    - {label: "Meta Description", name: "metadesc", widget: "string", required: false }
    - {l

[2018-04-24 16:11] S-unya opened #1318 "gatsby-plugin-netlify-cms webpack config issues"
**- Do you want to request a *feature* or report a *bug*?**

*bug*

**- What is the current behavior?**

When running `gatsby build` webpack fails with:
`There were errors with your webpack config:
[1]
module.loaders.[indexOfNetlifyCMSPlugin].loader
string.base , "loader" must be a string`

**NOTE:** This doesn't seem to be a problem for `gatsby develop`.

**- If the current behavior is a bug, ple

[2018-04-24 16:25] erquhart commented on #1307
Should be fixed by #1296.

[2018-04-24 16:28] #1175 closed

[2018-04-24 16:41] S-unya commented on #1318
For further information, which may be obvious to someone more aufait with webpack config; I mapped the `loader` array to the `loaders` parameter and got a new error:

[code]

and this is what I did to map:

[code]

[2018-04-24 20:00] randallmlough commented on #1280
Would **love** to see nested fields in the name parameter (issue [595](https://github.com/netlify/netlify-cms/issues/595). From a UI/UX perspective, not being able to nest makes it pretty ugly and cumbersome to the user and developer pretty quickly.

[2018-04-24 20:43] mbrookes commented on #1280
@robmuh

Given that Netlify CMS is written in React, that might be a problem! 🤣

[2018-04-24 20:48] mbrookes commented on #1280
Being able to define the field name to use for the slug.

At the moment it uses "title", which means you have to have a field called title in a collection, even if it doesn't make sense for the collection content. (For example, in an Authors collection, you have to use "title" as the field name for the field labelled "Author Name".

[2018-04-24 20:56] mbrookes commented on #1280
Being able to define sub-selects / sub-relations.

For example, in Posts, I have a "section" field with a relation to "Sections", so can select "News", "Sport", etc. as the post type.

For a sub-select (or relation), this would restrict the available options based on the prior selection, for example "Local News", "US News", "World News" if News is selected, but "Football", "Hockey" etc if sport is

[2018-04-24 23:00] mbrookes commented on #1308
You missed a question. 😀

- What should the configuration option for non-default buttons look like?

[2018-04-24 23:06] mbrookes commented on #1280
Ability to select which field to display in a relation widget, as distinct from which field is the `valueFiled` that is saved. (For example displaying the title of a related post, but saving the slug.)

[2018-04-24 23:38] erquhart commented on #245
It'd be awesome to use this instead of prism: https://github.com/conorhastings/react-syntax-highlighter

No stylesheet to include, built for React.

Whatever we do here, it should not be included in the main bundle, needs to be provided as some kind of add-on.

[2018-04-24 23:49] erquhart commented on #1318
Hmm wonder if this is due to your cms script being written in Typescript - can you test with a js variant of your cms.js?

[2018-04-24 23:51] erquhart commented on #1280
@mbrookes can you link issues to those comments?

[2018-04-25 01:35] #1285 closed

[2018-04-25 03:37] erquhart commented on #1308
@Dammmien h3 - h6 is fine for now, can't think of anything else that is well supported enough to include in the toolbar. The icons are custom, just a collection of svgs that we add to as needed.

@mbrookes non default buttons is a separate area of concern, we'd need to allow augmentation of the editor's parser to make that happen. Generally [editor components](https://www.netlifycms.org/docs/custo

[2018-04-25 05:55] liquidvisual commented on #1280
I saw that Forestry.io just released a 'blocks' feature that lets you choose and order includes with their own sets of properties. Essentially they're  "mini templates" inside a content section.

I'd love to see something along these lines. I'm trying to figure out how I could achieve something similar now - perhaps using the List widget.. but all the fields would have to be identical?

[https://f

[2018-04-25 08:50] S-unya commented on #1318
Hi @erquhart, thanks for the speedy reply.

I altered `cms.ts` to `cms.js`, I also adjusted the files referenced within it to `.jsx` (as an separate test) and modified `gatsby-config.js` to point at the js file and had the same behaviours as above. It is on this branch, https://github.com/aerian-studios/gatsby-netlify-poc/tree/gatsby-cms-debugging.

I think that there may be 2 issues, but I think

[2018-04-25 10:53] robsterlini commented on #818
@jcsibon Did you find a way to turn off `Basic-Auth` for certain paths? I'm stumped by the same thing!

[2018-04-25 13:15] erquhart commented on #1280
@liquidvisual didn't know about the Forestry feature, but there is a widget in the works that fits what you're describing: https://github.com/netlify/netlify-cms/pull/1169

[2018-04-25 13:43] liquidvisual commented on #1280
@erquhart Wow, that's awesome - I'll keep a close eye on it. Thanks!

[2018-04-25 14:25] Kakise opened #1320 "TypeError: e.filter is not a function"
**- Do you want to request a *feature* or report a *bug*?**
Bug
**- What is the current behavior?**
When entering the Workflow tab, it throws "TypeError: e.filter is not a function"
**- If the current behavior is a bug, please provide the steps to reproduce.**
Enter Workflow tab with at least one draft
**- What is the expected behavior?**
Showing the workflow tab

**- Please mention your versions

[2018-04-25 14:26] Kakise commented on #1320
Here's the full output of my console:

[code]

[2018-04-25 14:47] erquhart commented on #1318
Ah, didn't realize you were modifying Gatsby's webpack, that can definitely introduce conflicts.

Need to clarify two things:

1. Have you tested without the netlify cms plugin to ensure that it's the problem?
2. If so, can you determine the last version of the plugin that doesn't break your project?

[2018-04-25 14:50] Kakise commented on #1320
After I cleaned my repository and branches, everything went back to normal. Seems like the issue is repository related

[2018-04-25 14:51] erquhart commented on #1320
Yeah, sounds about right. We do need to improve some of the workflow handling as this kind of issue isn't uncommon.

[2018-04-25 15:34] S-unya commented on #1318
I added the mods to try to overcome the issues I was having.

I can run the build happily if I comment out the netlify-cms plugin.

I'll get back to you on the version question (2 above)

[2018-04-25 19:48] mbrookes commented on #1280
@erquhart I've found and linked a couple of related issues. Shall I add comments to those, or is the link sufficient?

For the parent / child select / relation suggestion (for want of a better description), I don't think there's a relevant issue to link to. Should I create a new one?

[2018-04-25 19:58] mdehollander commented on #1213
Any update on this?

[2018-04-25 20:14] haileypate opened #1321 "the image uploader user experience"
**- Do you want to request a *feature* or report a *bug*?**
Feature

**- What is the current behavior?**
- When a content creator wants to upload an image to their website, they click on a widget that has been prepared for them based the related template's needs.

- The user clicks on the widget's `Choose an image` button, then either:
  - selects from a list of available files by clicking on a th

[2018-04-25 20:18] erquhart opened #1322 "Image validation"
**- Do you want to request a *feature* or report a *bug*?**

feature

**- What is the current behavior?**

No validation is available for the file/image widgets.

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**

Allow files to be validated by max size, and images by width/height.

[2018-04-25 20:34] erquhart commented on #1213
Hopefully being addressed under https://github.com/netlify/netlify-identity-widget/issues/102, commented to request confirmation.

[2018-04-25 21:00] mbrookes commented on #1280
@erquhart Spot on with #1303 - I missed that one and it's exactly what I had in mind. 👍 I believe there's also an issue related to saving the slug for a relation, so I'll link that too when I find it again.

I can create a new issue for the second suggestion, as I don't thing there's a an existing or related one. (Appreciate it may be a hard nut to crack when it comes to implementation!)

[2018-04-25 21:10] erquhart commented on #1280
That second issue is an expansion on https://github.com/netlify/netlify-cms/issues/1267, I'd recommend commenting on it with your expanded use case. Still the same general requirement of conditional fields.

[2018-04-25 21:29] verythorough opened #1323 "Add Gitter Sidecar widget to docs site"
**- Do you want to request a *feature* or report a *bug*?**
Docs & support feature!

I was just in the [Webpack docs](https://webpack.js.org/concepts/) and I noticed they have a cool little Gitter widget in the lower right corner, just where you'd find a company's paid support chat widget:

![gitterwidget](https://user-images.githubusercontent.com/6111186/39273766-9e58f95c-4894-11e8-83d1-76e55965e

[2018-04-25 22:30] mbrookes commented on #1280
I may be misunderstanding, but it seems a bit of a stretch to suggest these are related. #1267 (if I'm reading it correctly) enables an input based on a boolean. Not sure the value of that capabilty, but let's leave it to stand on its own merit.

What I'm suggesting iOTOH s that the secondary relation's `collection` (Local News, National News, World News, etc.) is determined by the primary relatio

[2018-04-25 22:35] erquhart commented on #1280
Ah, didn't understand that - agreed, that's a separate issue.

[2018-04-26 00:31] jnowland commented on #1280
I would love to see #432 added to allow larger image binaries to not always be in the repo which becomes an issue. This could also solve the image manipulation issues as a lot of external image hosts provide that functionality.

[2018-04-26 00:35] erquhart commented on #909
There's a lot going on in that editor, even for devs who do know React. Thanks for the attempt!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-26 05:10] fool commented on #818
There is no "except this path" or "not this path" directive in the headers specifications.  there is only "this path and this other path and this path too and we didn't mention this last path so it is not covered"

[2018-04-26 08:01] S-unya commented on #1318
@erquhart, version `@1.0.02` is the highest version that will successfully build... That was a fascinating hour decrementing versions and testing build 😄

[2018-04-26 08:36] S-unya commented on #1318
Not sure if it is useful, but I had a quick step through of the webpack loaders and the most obvious difference is no `cms-css` loader in this lower version, which was the loader that was creating those errors for me in later versions.

[2018-04-26 12:01] Dammmien commented on #1308
@erquhart It takes too much place to display all the buttons.
Does something like that is ok for you ?
![capture d ecran 2018-04-26 a 13 53 37](https://user-images.githubusercontent.com/3051737/39304236-5ab20e4e-4959-11e8-8b53-4ec430c3af35.png)
The editor also support strikethrough text, doest I add a button for it ?

[2018-04-26 12:30] kizu commented on #513
I like the `path` solution.

I also feel the need to mention cases for which I use this kind of content structure: localization and translations. Hugo allows this and works perfectly with this kind of structure from the box: https://gohugo.io/content-management/multilingual/#translate-your-content

It even supports cloning other files for each translation, so if you'd have

[code]

it would handle

[2018-04-26 14:15] erquhart commented on #1308
Dropdown works great, although I'm not sure the icon communicates "Header" very well. Adding a strikethrough button would be awesome.

[2018-04-26 14:30] erquhart commented on #513
@kizu this is definitely tied to i18n, so thanks for describing Hugo's requirements here. I'm not certain if we have an issue for saving images directly alongside entries in a nested structure like this, might be worth opening an issue for that specifically.

[2018-04-26 14:53] erquhart commented on #1318
Thanks for taking the time to step through that! You should checkout [`git bisect`](https://robots.thoughtbot.com/git-bisect) next time you need to test something like this, it's a game changer for this sort of debugging.

I cloned your repo and can't get it to build even with your latest commit reverting the cms plugin version. The error is `Error: Chunk.entry was removed. Use hasRuntime()`, and

[2018-04-26 16:02] S-unya commented on #1318
@erquhart thanks for the pointer regarding `git bisect`. I will investigate your ideas some more, and if I get no joy, I will open an issue on Gatsby.

Once again, thanks for your time and hard work.

[2018-04-26 19:32] mbrookes commented on #1267
Continuing discussion from  https://github.com/netlify/netlify-cms/issues/1280#issuecomment-384455171 here to avoid further cluttering the CMS 2.0 issue. (Happy to go back and delete the follow-up comments from there! 😅)

I was using select / relation interchangeably, as this may be something you want predefined in the configuration as selects, or it may be that you want to be able to edit the opt

[2018-04-26 23:35] erquhart commented on #595
Man, just had to get a simple value nested a couple levels deep for the docs site and yeah, this is pretty silly.

[2018-04-27 02:05] blargity commented on #263
@erquhart could we do something with Netlify functions now that that's a thing?

[2018-04-27 10:35] iaindurie opened #1325 "One repo for multiple websites"
I'm interested in using a single Netlify CMS repo accross multiple websites. So for example, having one admin area where content is edited and then it displays across the different websites.

I'm aware of branch subdomains, but my question is - is it possible not to have to merge content from one branch to another - can content be queried from a single source without having to merge branches? If y

[2018-04-27 11:36] erquhart commented on #1325
You can have a single repo with multiple websites, and Netlify CMS can edit any of that content in one instance. You just need separate Netlify sites for each.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-27 11:55] robinvdvleuten commented on #595
And it should be quite easy to implement with a library like https://github.com/developit/dlv or https://github.com/robinvdvleuten/shvl.

[2018-04-27 13:03] Destroy666x commented on #513
A single path with replacement would be great. Currently this CMS is unusable with many Gatsby starters that rely on date and/or slug.

[2018-04-27 13:25] iaindurie commented on #1325
Ah - that makes sense. How would I go about cding into directories for each site - is that something you set up in the Netlify UI somewhere?

[2018-04-27 13:53] erquhart commented on #595
We're already including Lodash, so I'd expect we go with [`_.toPath`](https://lodash.com/docs/4.17.10#toPath). The challenge is in the details, e.g. collisions and validation.

[2018-04-27 14:25] erquhart commented on #1267
Can you provide some content/config examples of what you're currently doing and what you'd like to do?

[2018-04-27 15:03] erquhart commented on #1325
Yep, just edit the build command. Typically it's something like `npm run build`. If each website directory in your repo has it's own `package.json` with it's own build script, then in the Netlify site for each, your build command would be `cd directory-name && npm run build`. Likewise, the "Publish directory" field would need to reflect the right path, probably `directory-name/dist`.

[2018-04-27 17:51] namzo commented on #1280
I would love to see a mobile version of the CMS (Or a responsive site)

[2018-04-27 17:58] jcmrgo commented on #1280
I'd love to see multilingual/localization support (https://github.com/netlify/netlify-cms/issues/716) in 2.0

[2018-04-27 18:48] kizu commented on #716
I would like to link here to my comment in the issue about subfolders content: https://github.com/netlify/netlify-cms/issues/513#issuecomment-384623303 — one of the common patters (used in Hugo, for example) is to have one folder for each post/article/page, and have multiple localised index.LANG.md inside, for example:

[code]

How I see this implemented in cms: have multiple tabs for different la

[2018-04-27 20:08] anaibol commented on #1280
What about a GraphQL?

[2018-04-27 20:08] fancyfarfalle commented on #1280
I'd love to see more flexible permissions settings, namely the ability to prevent certain roles from accessing/editing the posts of others and to restrict the ability to publish editorial workflow posts .

[2018-04-27 21:09] haileypate commented on #1322
I like this a lot. One way I'd use it is to provide my users with a warning that the file they're about to publish is really big and could take too long to load. Or I might provide a warning when the image width is too small and that it may not look right

[2018-04-27 21:23] dioptre opened #1326 "How to deal with collections with nested properties"
*feature*

**- What is the current behavior?**
https://www.netlifycms.org/docs/collection-types/

**- What is the expected behavior?**
Maybe use
name: "user.firstname", from example?

[2018-04-27 21:26] haileypate commented on #1321
related use cases:
- To select an image for use in a post, a user enters a URL that points to an external file of their choosing (from https://github.com/netlify/netlify-cms/issues/1293)

[2018-04-27 22:48] tech4him1 commented on #1326
Right now you will need to use the `object` widget:
[code]

It is not yet possible to nest without having to use the object widget, see https://github.com/netlify/netlify-cms/issues/595 for details.

[2018-04-27 22:48] #1326 closed

[2018-04-27 22:48] brasilikum opened #1327 "Permanent Links via immutable fields?"
I have the usecase where I need to be able to define fields that can only be set on creation an not changed later. The usecase are permanent links and references between objects.
Is there currently any way to realize this? How do people currently handle this?

Of course I could just tell this to contributors, but enforcing it is always more reliable.

[2018-04-27 23:57] haileypate commented on #432
Lots of use cases wrapped up in this thread!

I'm picking up on these high-level use cases for us to consider as discussion about image management continues:

- allow for hosting of media library assets by 3rd party services
- allowing site developers to leverage 3rd party image processing services which do things like:
  - automate the process of deriving "responsive image" collateral (for exampl

[2018-04-28 00:44] haileypate commented on #1041
Since I use jinja2 to process my templates and generate site files, I'd love to be able to point netlifyCMS to a directory in which I've prepared templates that could get gobbled up and leveraged by the `EditorPreviewPane` component.

I figured I'd be doing double work to recreate templates for use in netlifyCMS's preview feature for the forseeable future... but... I'd totally invest in time in le

[2018-04-28 01:49] erquhart commented on #1041
Let me get further in the docs, I'm pushing up a guide to creating template compilers next, which is what you'd need to do to support Jinja templates.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-28 02:39] jipiboily commented on #1280
I'm curious about one thing: upgrade vs breaking changes.

I know it's early...but are you planning and leaning more toward smooth upgrades to go from 1.x to 2.0? Or is it likely that there will be a bunch of breaking changes?

[2018-04-28 07:59] lsmod commented on #1280
- Possibility to add custom widget button directly to the rich-text toolbar and choose its position (access in one click no need to click on +).

- Customization of rich-text available buttons and order (show/hide button and position in toolbar).

I see this quiet useful for simple text decoration custom widget like: underline, color, font-size, font-family and such.

[2018-04-29 06:04] raniesantos opened #1328 "Use 'squash and merge' if possible when publishing posts"
**I mentioned this in the Gitter chat and was told to write up an issue on this.**

### Current behavior:

When the CMS publishes a post, it merges the post behind the scenes. However the resulting commit history shows every single minor update done to the post, it keeps the entire commit history.

### Suggested change in behavior:

The CMS should use the 'Squash and Merge' functionality instead w

[2018-04-29 06:17] raniesantos opened #1329 "[Minor change] For consistency, the string widget should always wrap input in quotes"
Very minor issue, but I think it's still worth bringing up.

### Current behavior:

In the case of a post title, the string widget doesn't wrap strings in quotes by default. The generated .md file will contain `title: Foo Bar`. But when you type certain special characters into the widget, it wraps the title in quotes like this (in this example, the character in question is a colon) `title: 'Foo: B

[2018-04-29 08:13] delucis commented on #1328
I’m working on a PR that would allow configuration of the `merge_method` passed to the [GitHub API](https://developer.github.com/v3/pulls/#merge-a-pull-request-merge-button), which would allow you to set:

[code]

Are there any opinions on implementation details? I have it defaulting to `merge` so it’s backwards-compatible, but I’m not doing any tests on the string to make sure it’s a valid value.

[2018-04-29 09:09] raniesantos commented on #1328
Good.

I agree with this, adding a third option just complicates things.

[2018-04-29 16:04] moeamaya commented on #716
Craft CMS has clever way of handling this by having a language toggle and small labels on each input. Seems like a decent way to handle the UX.

![image](https://user-images.githubusercontent.com/1373293/39408496-0898f818-4b8c-11e8-8b5e-5c5328348598.png)

[2018-04-29 19:42] emveeoh commented on #1280
Ability to use a separate Git repo for assets (images, video, strings). Main repo would be for app code and the Content repo would be linked, but not actually part of the App repo.

[2018-04-30 06:28] ekoeryanto commented on #1280
@emveeoh, ...or maybe separate branch

[2018-04-30 08:31] hamishtaplin opened #1331 "Question: creating a widget that displays content from another collection"
So I'm trying to provide a UI that allows my client to select which items from a collection (work) will appear on the homepage and be able to control the order they display (preferably drag and drop).

My initial thought was to create `list` widget of `relationship` fields but this isn't the most user-friendly approach.

Is it possible to write a custom widget that pulls data (title, image, etc) f

[2018-04-30 12:11] david-genger commented on #1280
I would love to see more options on how to store the data, I want the option of storing the data in the file system, or in a database. the CMS should separate the concerns of where it stores the data.

[2018-04-30 13:38] talves commented on #1280
@david-genger you have the ability to register a backend today. You can write a backend for your needs and `registerBackend('new-backend', NewBackendClass)`. There will also be some improvements on this in the next release.

[This example](https://github.com/talves/netlify-cms-react-example) has a backend that writes to the file-system during development.

[2018-04-30 15:29] talves commented on #1280
@david-genger Right. This is something someone could do outside the CMS. A backend to write to a specific database would be maintained by the community and not be part of the CMS in most cases. I have written a backend myself to write to firebase/firestore for a project (currently private).

[2018-04-30 16:49] david-genger commented on #1280
@talves why shouldn't this be part of the CMS?

[2018-04-30 16:58] talves commented on #1280
More than one reason in my opinion:

- The solution already exists for someone to add their custom backend to the CMS
- Hundreds of databases out there, which one would be best maintained by the NetlifyCMS project
- There would be no difference of how to create the backend whether it was included in the main project or if you or I created it.
- All backends will eventually be ported outside the ma

[2018-04-30 18:38] erquhart commented on #1321
Okay so first of all, **fantastic work** on this issue, thank you!!

Whole lot to take in here. Here we go.

### Features feedback

* **Providing a warning when the size/dimensions are wrong**
  We don't yet have the concept of "warnings" in our field validation - it's a pass/fail thing, and failure means you can't save the entry, so implementing validation warnings would make a good standalone is

[2018-04-30 19:34] erquhart commented on #1327
So the value can be updated if it's blank, but once it has a value and the entry is saved, the field is visible but disabled, correct?

[2018-04-30 20:34] bcomnes commented on #1213
The identity endpoint supports CORS.  If you run into a CORS warning, it may be related to the identity endpoint not being deployed yet, this causing the preflight options call to fail resulting in the cors warning.

The workaround is triggering a site deploy, which should fully activate the identity endpoint.    The original idea was that platform could have this happen automatically, but its bee

[2018-04-30 22:02] brasilikum commented on #1327
yes!

[2018-05-01 10:29] growdigital opened #1333 "Accessiblity #a11y issues"
**- Do you want to request a *feature* or report a *bug*?**

Bug

**- What is the current behavior?**

Netlify CMS fails on a number of accessiblity issues:

1. Tab order is a bit awry
2. Use HTML elements, not divs: eg main, aside, button, nav, list items for posts
3. Duplicate h1 on same page
4. Colour contrast http://contrast-ratio.com/
5. Test with no CSS (icon size)
6. Alt text for img & svg

[2018-05-01 14:53] tech4him1 commented on #1213
@bcomnes Please see https://github.com/netlify/netlify-cms/issues/1213#issuecomment-381202929 above. The Identity endpoint does support CORS normally, but if the `X-Use-Cookie` header is set, the CORS headers are not returned. That is the main bug here.

[2018-05-01 17:05] bcomnes commented on #1213
I'll review that.  It does sound like `X-Use-Cookie` not being in the allowed headers list on gotrue may be an issue, considering gotrue-js has an option to set that header.  Let me ask around today and see if I can piece together the whole story on this.

[2018-05-02 11:37] SENDatGitHub opened #1334 "issue"
**- Do you want to request a *feature* or report a *bug*?**

**- What is the current behavior?**

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**

**- Please mention your versions where applicable.**

Netlify CMS version:
Browser version:

Node.JS version:
Operating System:

**- Please link or paste your `config.yml` below if app

[2018-05-02 11:38] MassivDash opened #1335 "Question: How to pass other blog/post data to the CMS Preview (blog post)"
Hello,

I am having problems with passing markdown data from other posts to CMS preview. So basically i am showing links to other posts on a post template, what should I do or how should i pass in the props from other posts to be shown in the CMS preview panel ?

I tried to hardcode the missing values in the actual postpreview template but got a react children cannot be a object error.

Thanks for

[2018-05-02 14:33] erquhart commented on #1333
Thanks for putting this together, Jake!

[2018-05-02 21:11] #1323 closed

[2018-05-02 22:10] hughrawlinson commented on #1325
How about having multiple repositories managed inside one instance of Netlify CMS? That'd be really useful for me at the moment.

[2018-05-03 20:41] miguelmayo opened #1337 "Add a [VIEW LIVE POST] button to the UI"
**- Do you want to request a *feature* or report a *bug*?**
**_Feature_**
**- What is the current behavior?**
**_None_**
**- If the current behavior is a bug, please provide the steps to reproduce.**
**_N/A_**
**- What is the expected behavior?**
**_After a post or pages is published will be nice to see a button [VIEW LIVE POST] or similar next to [Published] button with a blank target._**

**- Pl

[2018-05-04 11:26] straight-shoota opened #1338 "Frontmatter should retain unknown fields"
Currently, frontmatter fields not defined in the `fields` option are removed when editing a file.
I don't know the rationale behind this behaviour, but to me (and others #1174) it is highly unexpected. This can easily break things when intended frontmatter configuration gets silently stripped off with no immediate benefit.
In my opinion it would make more sense to simply ignore and keep frontmatte

[2018-05-04 12:04] shaunbent commented on #800
Hello, I wonder if there has been any movement on this issue? I have just tried to do the same thing and found that it is not possible.

[2018-05-04 14:05] keybits commented on #1280
Not sure if this is in scope, but for 'documentation' type sites, the option to create 'versions' of the site would be super helpful. e.g: see: https://docusaurus.io/docs/en/versioning.html

[2018-05-04 15:41] mbrookes commented on #1280
@keybits You could take advantage of Netlify's branch-deploy feature. It's how we intend to version the Material-UI docs site - pushing a new branch per version, so branch v1.0.0 will be served as https://v1.0.0.material-ui.com (not live at this moment).

[2018-05-04 16:02] keybits commented on #1280
@mbrookes aha - that's a great idea. Thanks!

[2018-05-04 17:12] mbrookes commented on #1280
Also, the list of versions shown on the versions page will be pulled from a JSON file in the github repo, so that the versions page is kept up-to-date even for earlier versions of the docs. The v1.0.0 versions page will display a link to the v1.1.0 docs (when it's released), and so on. (Commented out code [here](https://github.com/mui-org/material-ui/blob/v1-beta/docs/src/pages/versions/StableVers

[2018-05-04 17:27] tech4him1 commented on #1338
I think this would be great, and seeing we are getting ready for 2.0, we should probably add it then.

[2018-05-05 02:36] ekoeryanto commented on #1280
More plugable/extensible/widgets creator friendly or what ever, as seen [here](https://github.com/ekoeryanto/netlify-cms-widgets/tree/master/packages/material-icons#via-script-tag) and here #1292.
one more issue i found,
I created [fontawesome](/ekoeryanto/netlify-cms-widgets/tree/master/packages/fontawesome) and [material icons](/ekoeryanto/netlify-cms-widgets/tree/master/packages/material-icons)

[2018-05-05 12:18] erquhart commented on #1331
I believe the new multipurpose select widget will do the trick for you once completed: https://github.com/netlify/netlify-cms/pull/1100

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-05 17:35] erquhart commented on #432
@cpjolicoeur if you're storing assets in your repo, you should be publishing those assets in your build so they're publicly accessible. Your site's image `src` attributes shouldn't be pointing to your repo.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-05 21:50] verythorough commented on #818
There's actually another workaround for this issue - you can run Netlify CMS on a separate site.

To demonstrate, I deployed a site using the [Netlify CMS Jekyll starter](https://github.com/netlify-templates/jekyll-netlify-cms).
- repo: https://github.com/verythorough/jekyll-netlify-cms
- site: https://hidden-site.netlify.com/

Before adding password protection, I visited the site and added a post

[2018-05-05 22:35] growdigital opened #1339 "Make the CMS work responsively"
**- Do you want to request a *feature* or report a *bug*?**

Bug

**- What is the current behavior?**

2 column layout has minimum width of 800px. Layout is cropped below that.

**- If the current behavior is a bug, please provide the steps to reproduce.**

Resize browser to below 800px.

**- What is the expected behavior?**

2 columns collapse in to 1 column, Quick Add & Logout buttons fold under

[2018-05-05 22:53] verythorough commented on #619
I'm going to close this as it has generally been fixed or covered in other ways. Looking at he unchecked items in the list in my [comment](https://github.com/netlify/netlify-cms/issues/619#issuecomment-350563517) above:

- Demos and screenshots are requested in issue #910 .
- Improved docs for select and list widgets should make it easier to identify them as good candidates for enum-style data.
-

[2018-05-05 22:53] #619 closed

[2018-05-05 23:00] verythorough commented on #1034
Widget docs no longer have their own page, so search is no longer showing duplicates. Closing as fixed!

[2018-05-05 23:00] #1034 closed

[2018-05-06 04:07] verythorough opened #1340 "Create a user guide for content editors"
This is pulled from the docs re-org issue https://github.com/netlify/netlify-cms/issues/598#issuecomment-332564210

The current docs focus mostly on "implementers" (people writing code to configure and customize Netlify CMS on their site) and a little bit on "contributors" (people making contributions to the CMS itself). So far, they don't provide any guidance for content editors using the CMS UI

[2018-05-06 04:48] #598 closed

[2018-05-06 18:07] VivekNayyar commented on #1304
Can I take this up?

[2018-05-06 20:54] pungggi commented on #432
Would be great to see an ftp client integrated

[2018-05-06 20:58] erquhart commented on #1304
Go for it!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-07 00:10] JRPfeiffer1 commented on #1340
I came up with a couple of paragraphs that might be useful as an introduction to the content editor’s user guide:

Netlify CMS is a fast, safe, and scalable content management system that comes with rich-text editing, real-time previews, and drag-and-drop media uploads. Its intuitive workflow makes it easy to manage content from draft to review to publish—across any number of content types.

Becau

[2018-05-07 09:05] vivek12345 commented on #1304
@erquhart Can you help me a little here as to what all files to look at for fixing this?

[2018-05-07 09:12] ekoeryanto commented on #1304
@vivek12345 it uses `gray-matter` so you can search for that

[2018-05-07 11:29] marvinkome commented on #1304
Please, I like to understand this issue better?

[2018-05-07 11:45] marvinkome opened #1341 "Post listing grid view boxes too big"
**- Do you want to request a *feature* or report a *bug*?**
Feature

**- What is the current behaviour?**
Grid boxes for post listing are too big if they only display title

**- If the current behaviour is a bug, please provide the steps to reproduce.**

**- What is the expected behaviour?**
Boxes should add more information about the post or become smaller

[2018-05-07 13:11] cpjolicoeur commented on #432
@erquhart agreed.  I realized this shortly after posting this comment and updated our deploy to do that.  Forgot to come back here and follow-up/delete the comment however.

Thanks for the response.

[2018-05-07 14:52] erquhart opened #1342 "Allow reusable field group definitions in config file"
**- Do you want to request a *feature* or report a *bug*?**

feature

**- What is the current behavior?**

Reuse of configuration data, such as a group of fields being defined once and used in multiple collections, is dependent on YAML features. These features are difficult to understand and use, and aren't available in simpler formats like JSON.

**- What is the expected behavior?**

Netlify CMS

[2018-05-07 14:53] erquhart commented on #1342
We should first determine if this is even a good idea at all. Can anyone think of reasons _not_ to do this?

[2018-05-07 20:10] benogle commented on #619
I appreciate you all doing something with this. So many projects would just let a rambly issue like this languish.

[2018-05-08 01:25] ro-savage opened #1344 "Feature Request: Media committed with Post / Collection Item"
When running in `publish_mode: editorial_workflow` the current setup is to create a PR for the post / collection item but upload media directly to master ( or the `branch` specified in `backend`)

This means that images are automatically committed, while the collection item needs approval.

We would like to see, by default, when an image is uploaded to the media gallery it goes to the same PR as t

[2018-05-08 09:37] speexy commented on #1334
Hey, we did not knowingly open this issue. Could this have been created automatically somehow?

[2018-05-08 10:37] S-unya commented on #1318
Further to this thread. I decided to try investigating this a bit further before going on. After some investigation following the css/ts compilation thread I discovered that there was definitely an issue there (I experimented with removing postcss-sass and typescript, etc), but I was unable to pinpoint it exactly...

That notwithstanding, I experimented with installing everything from scratch, in

[2018-05-08 15:34] ethancalvo commented on #1280
Jekyll support.
1.0 seemed to work fine with a HUGO site, Jekyll required a workaround.

[2018-05-08 15:38] delucis commented on #1280
@ethancalvo Netlify CMS already works with Jekyll. Check out [the `jekyll-netlify-cms` template](https://github.com/netlify-templates/jekyll-netlify-cms) or [the Netlify CMS docs](https://www.netlifycms.org/docs/add-to-your-site/).

[2018-05-08 15:47] delucis commented on #301
@erquhart As far as I can tell, this has been implemented and this issue can be closed.

[2018-05-08 16:58] leptest opened #1345 "Feature: Allow filtering when using the file widget"
As a developer, it would be great to have an option that could pre-filter what is shown in the media picker for when a content editor uses the file widget.

For instance, if there was a "Related PDFs" section for a content editor to populate. When they open the media picker, only seeing a list of PDFs would be a nice UX. This helps a developer control how a user interacts with the content.

Maybe

[2018-05-09 01:15] knpwrs opened #1346 "Consider making isValid something other than an instance method (custom widgets)."
When a custom widget with an `isValid` method is wrapped in a HOC, the following error is thrown when attemping to publish:

[code]

It looks like `wrappedControlValid` is never set because my HOC is a stateless component, meaning it cannot be ref'd. The function which sets `wrappedControlValid` returns immediately if a ref is not possible: https://github.com/netlify/netlify-cms/blob/a5d4fd41a4a1f

[2018-05-09 02:27] designforhuman opened #1347 "Slate editor outdated"
I'm not sure if it is only for Korean, the current editor doesn't work well with Korean. Whenever typing characters, it omits some words. More details here: https://github.com/ianstormtaylor/slate/issues/1701
There are some other issues left but this particular problem has been solved in the latest version of Slate. Could you make the Slate version up to date for Netlify?

[2018-05-09 09:38] moshie commented on #562
What happens in the event you want an empty option and a different label simply setting:
[code]

This shows the extra hidden option and the empty one instead of overwriting it.

[2018-05-09 17:02] cpjolicoeur opened #1348 "Add pre-save, pre-publish hooks to CMS"
Per discussion in the Gitter channel, just making an issue for thoughts & discussion around adding some "hooks" to the CMS for pre-save and pre-publish events.   These hooks could allow the CMS user to modify file content before persisting to the backend (and/or other content changes anyone might want to do in the given hook).

[2018-05-09 20:01] tech4him1 commented on #562
@moshie Feel free to open a new issue and request support for that.

[2018-05-09 20:08] tech4him1 commented on #441
Updated Slate mobile issue: https://github.com/ianstormtaylor/slate/issues/1720.

[2018-05-09 20:13] tech4him1 commented on #301
Correct, this was closed by https://github.com/netlify/netlify-cms/pull/1068.

[2018-05-09 20:13] #301 closed

[2018-05-09 20:33] delucis commented on #1348
I recently needed a widget to automatically generate a modified time for entries, but had to make do with generating it when the editor was opened. Seems like a good example of a widget that would benefit from these hooks.

Could components declare `preSave()` and `prePublish()` similar to the [`isValid()` method](https://www.netlifycms.org/docs/custom-widgets/#advanced-field-validation) that is a

[2018-05-09 21:14] haileypate commented on #1344
Completely agree! I had not noticed this yet, but I'm days away from a use case where it would have come up.

One of the things I hate about CMS media galleries I've used in the past is the clutter and thumbnail duplication that happens when unused/abandoned images sit in the filepicker window!

[2018-05-10 15:36] zebapy opened #1351 "[website] consider gatsby instead of hugo"
## Change netlifycms.org website (website folder in this repo) to use Gatsby instead of Hugo

Seems like there could be benefits to using Gatsby instead of Hugo since netlify cms is React based and gatsby has a growing presence in the react static site realm.

Reasons to move
- No need for all the gulp set up (remove a lot of deps)
- Would remove jquery plugins in favor of react components
- React

[2018-05-11 16:01] flexchar commented on #1351
I think it should be static-site-generator agnostic, and thus, based on API rather than tailored to a specific structure. As such, end users could simply define configuration to work with whichever SSG they wish, just as it does now with collections.

[2018-05-11 16:08] zebapy opened #1352 "[feature request] derive title from fields"
**Feature request**

Is there a way to derive the title from a field or a combination of fields? Currently my app has no real use for a title field because it's not used in the content but there needs to be a distinguishable title for identifying content from the collection landing page.

[2018-05-11 16:13] zebapy commented on #1351
@flexchar I'm talking about the netlifycms.org website in this repo. Not sure I follow how you're talking about the same thing? I could be wrong

[2018-05-12 13:30] erquhart commented on #1335
If you're linking to the other entries using the relation widget, the data for those entries will be in `fieldsMetaData` for each relation field in the preview. Here's the docs: https://www.netlifycms.org/docs/customization/#accessing-metadata

[2018-05-12 13:43] erquhart commented on #1325
@hughrawlinson can you open a separate issue explaining what you're trying to do?

[2018-05-12 13:43] #1325 closed

[2018-05-12 13:49] erquhart commented on #1337
This is related to https://github.com/netlify/netlify-cms/issues/372, but specifically targets published posts. This would require:

* Design
* Deriving the published entry path (can be changed by generator, build scripts, deployment platform, etc)
* Determining whether the published entry has finished deploying (again, #372).

[2018-05-12 13:54] erquhart commented on #800
Current status is that this is a reasonable feature request, definitely open to someone digging in and feeling out how it might work. Discussion in that vein can continue here in this issue.

[2018-05-12 13:56] erquhart commented on #1338
Agreed.

[2018-05-12 14:02] erquhart commented on #1339
Agreed, just addressing the CSS stuff so it's at least responsive is a sensible step. For the immediate purposes of this issue, I'd be okay with someone opening a PR and hacking it out there.

Design thoughts: I'm not certain combining the two editor columns to one would work well - we should probably hide it entirely and provide a floating button to show/hide it. For the collections view, maybe s

[2018-05-12 14:04] erquhart commented on #1340
Thanks @JRPfeiffer1!

@verythorough thanks for putting this together, that outline looks like a solid start.

[2018-05-12 14:08] erquhart commented on #1304
@ekoeryanto I'm not sure if the summary was ever edited for this, but as currently written it isn't clear what this issue is about. Can you explain the request? I initially understood it to be about disabling/removing the Markdown widget's rich text/markdown toggle, but that no longer seems to be the case.

[2018-05-12 14:09] erquhart commented on #1341
Yeah, they were never supposed to stay that way, more info should definitely be shown in the grid boxes - same goes for list view, too.

[2018-05-12 14:39] ekoeryanto commented on #1304
@erquhart, yes I forgot about that. we should be just add a button to add excerpt, sorry.

[2018-05-12 14:56] erquhart commented on #1318
Yeah we'll close - thanks for following up, glad it worked out!

[2018-05-12 14:56] #1318 closed

[2018-05-12 15:02] erquhart commented on #1345
This was always intended functionality, and we're doing some extension type filtering in the media library already:

https://github.com/netlify/netlify-cms/blob/1.7.0/src/components/MediaLibrary/MediaLibrary.js#L20-L24

It's a pretty "dumb" setup, toggled by an "image" flag used by the image widget, but it should be expanded to accept a custom list of file types via widget config.

[2018-05-12 15:43] erquhart commented on #1346
Agreed, definitely open to a PR for this.

[2018-05-12 15:52] erquhart commented on #1348
I love the idea of events in general, big thumbs up for this.

[2018-05-12 16:39] talves commented on #1351
Seriously though. Converting the site to Gatsby or React-Static is more of a preference and a testament to how awesome the JAMStack is today. My vote is React-Static but, if someone is willing to take on Gatsby, I would not be apposed to it. 😋

***Admission:*** Gatsby is a very well supported and maintained project. It is well done. Just not my preferred SSG at the moment.

[2018-05-12 18:10] zebapy commented on #1351
Out of desire to practice Gatsby, I have a Gatsby version about 80% done.
I'll post it shortly!

On Sat, May 12, 2018, 12:39 PM Tony Alves <notifications@github.com> wrote:

[2018-05-12 19:40] knpwrs commented on #1351
Casting my vote for react-static as well. I've found it to be a lot simpler than Gatsby. It's also ultimately better at splitting out routes if you want some reasoning that's more objective (for instance, on my site, currently powered by Gatsby, all of the blog posts are in one bundle with other pages in their own bundles, I would prefer for each blog post to be in its own bundle).

[2018-05-12 20:39] growdigital commented on #1339
Yep, funnily enough was thinking the same thing today whilst watering the polytunnel… Is there a preferred React show/hide button way of doing things, like a standard React animations library? (please excuse my React ignorance!)

I’ll try to have a look at it one evening this week. Do you have anything like a browser/device matrix that you test against? Something like this:
http://www.bbc.co.uk/gu

[2018-05-12 22:19] Kakise opened #1353 "TypeError: e.get is not a function"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- Please mention your versions where applicable.**

Netlify CMS version: 1.7.0
Browser version: Latest Chrome Canary (ran in Chrome OS)

**- Please link or paste your `config.yml` below if applicable.**
-> https://github.com/Kakise/Blog/tree/master/source/admin

Log: [kakise.me-1526163368102.log](https://github.com/netlify/netlify-

[2018-05-12 22:26] zebapy commented on #1351
@erquhart I have a lot of this done here if you want to check it out https://github.com/zebapy/netlify-cms/tree/gatsby-site/website

I still need to fix a couple things but wanted to share it earlier.

[2018-05-12 22:35] knpwrs commented on #1351
@zebapy Gatsby only splits on routes or individual items rather than collections of items. I'll quote Kyle Matthews from an email correspondence:

[2018-05-12 22:37] knpwrs commented on #1351
Another good candidate could be [VuePress](https://vuepress.vuejs.org/). I haven't used it myself but I like that they let you use Vue components inside Markdown. It reminds me of [mdx](https://github.com/mdx-js/mdx).

[2018-05-12 22:51] erquhart commented on #1351
Apparently VuePress is tailored to technical documentation, very interesting. The default theme includes:

Responsive layout
Optional Homepage
Simple out-of-the-box header-based search
Algolia Search
Customizable navbar and sidebar
Auto-generated GitHub link and page edit links

Very interesting.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-12 23:01] zebapy commented on #1351
There's also https://docusaurus.io/

On Sat, May 12, 2018, 6:51 PM Shawn Erquhart <notifications@github.com>
wrote:

[2018-05-12 23:59] marvinkome commented on #1341
What info should be there. I can pick it up (I mean make a PR)

[2018-05-13 02:36] tech4him1 commented on #1339
In my opinion, our basic (must have) browser support would be the latest two versions of the major browsers. Nice to haves would be other browsers with high usage.

Supported Browsers ([link](http://browserl.ist/?q=last+2+Chrome+versions%2C+last+2+Opera+versions%2C+last+2+Firefox+versions%2C+Firefox+ESR%2C+last+2+Edge+versions%2C+last+2+Safari+versions%2C+last+2+iOS+versions%2C+last+2+ChromeAndroi

[2018-05-13 02:40] tech4him1 commented on #1348
Agreed, for the case of providing an initial value like @delucis mentioned, we can work on something like https://github.com/netlify/netlify-cms/issues/725.

[2018-05-13 02:44] tech4him1 commented on #1340
I think it would be a great idea to add "help links" from inside the CMS once this documentation is written.

[2018-05-13 02:47] tech4him1 commented on #1353
Looks like the main error in the log is:
[code]

[2018-05-13 02:52] tech4him1 commented on #1353
@Kakise The "Tags" field under your config is set to widget type `list`, but doesn't have any sub-fields specified. I'm guessing this is the problem here.

[2018-05-13 02:56] tech4him1 commented on #1304
@ekoeryanto @erquhart I'm not sure how will we make it clear to the user how or where an excerpt is created by using the more-tag. Wouldn't having them type it in be just as easy?

[2018-05-13 07:15] Kakise commented on #1353
That was the problem. I had to change from list to object. It is now working, thanks.

[2018-05-13 07:15] #1353 closed

[2018-05-13 08:26] growdigital commented on #1339
Brilliant, thank you 🙂

[2018-05-13 12:39] erquhart commented on #1339
Questions may get a faster response on Gitter, but either is valid since it's relevant to the issue.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-14 01:00] knpwrs opened #1354 "Feature Request: Switch Widget"
Maybe there's a way to accomplish what I'm looking for already, but I can't figure it out. I have pages which are composed of `block`s. Each `block` can be one of several widgets. I would like to be able to switch between those widgets on the admin page. Consider the following configuration representing a `list` of `block`s:

[code]

A page edited by the above might look like the following:

[code

[2018-05-14 08:02] hughrawlinson opened #1357 "Relation Widget Makes API call for each instance"
**- Do you want to request a *feature* or report a *bug*?**

A Bug

**- What is the current behavior?**

I have a config file that contains a list of relation widgets. The RelationControl component seems to be making an API request for each widget in the list, even though they're relating to the same collection. Because I have quite a long list, this is having a huge negative impact on page load t

[2018-05-14 09:02] Levino commented on #1325
This "cding" is quite hacky, I have to say. I cannot use a more finetuned `netlify.toml` then, right? This should be handled much better in the future.

[2018-05-14 14:06] tech4him1 commented on #1354
#1066 seems to be what you are looking for, it is a work in progress. You can see the linked PR at https://github.com/netlify/netlify-cms/pull/1169.

[2018-05-14 14:10] knpwrs commented on #1354
Good stuff. Thanks!

[2018-05-14 14:10] #1354 closed

[2018-05-14 15:12] zebapy opened #1358 "[feature request] responsive preview options"
It'd be nice if there was a way to set varying breakpoints in `admin.yml` which would create breakpoint previews in the editor.

My desire for this is kind of weird because my app uses the cms to build html emails without ever publishing the content as web pages.

Example config could be

[code]
Super rough comp:

![desktop hd](https://user-images.githubusercontent.com/2199845/40005987-45b9dc12-57

[2018-05-14 15:17] zebapy commented on #1358
I may have just realized this basically exists cause you can resize the preview pane by dragging the divider..

[2018-05-14 15:46] #1328 closed

[2018-05-14 15:58] erquhart commented on #1351
@zebapy I just got to check out your fork, it really is 80% to a production ready Gatsby migration. You have my vote, killer work my friend. Thanks so much for jumping in like this!

[2018-05-14 16:14] erquhart commented on #1341
Awesome! We still need design, so I'm not certain this is ready to roll, but feel free to take a swing. We'll want to use inferred fields, which try to smartly determine things like author, date, etc, for each entry.

There's a [set of constants](https://github.com/netlify/netlify-cms/blob/c31aaae0d4dc02daa60979b134e2aa8b214aece0/src/constants/fieldInference.js) that show what fields are being inf

[2018-05-14 16:33] erquhart commented on #1348
Ha! Any ideas for alternatives?

[2018-05-14 16:38] erquhart commented on #1304
Probably best to create an [editor component](https://www.netlifycms.org/docs/custom-widgets/#registereditorcomponent) for that. I feel like we can provide a visual indicator just fine, even though the actual code is a comment, but I'm not 100% certain.

[2018-05-14 16:44] vivek12345 commented on #1304
Apologies for the late entry here.I should have researched a bit more about the issue before jumping into finding it as a good first issue and asking to fix it.
After going through a bit of code, I have also realised that I also need to understand the real use case of the excerpt here and then try to fix it

[2018-05-14 16:59] erquhart commented on #1357
@hughrawlinson can you share a minimal reproduction case that can be cloned/forked? Or share the one you're encountering this issue with?

[2018-05-14 17:15] erquhart commented on #1358
Yeah that's the best approach. Maybe in the future it might be worth investing in more focused responsive support, but we're probably okay for now.

[2018-05-14 19:27] leptest commented on #1345
Great news!  Thanks for pointing me in the right direction.

I'll have a read over that today and see if i can help out.

Thanks!

[2018-05-15 19:40] marvinkome commented on #1341
Is there a structure of how it should be displayed and what content should be inside? Also, the inferred constants don't have a date field, that would be useful in the boxes.

[2018-05-15 21:07] joeptacek opened #1360 "List widget not enforcing required fields or default values"
**- Do you want to request a *feature* or report a *bug*?**

Bug

**- What is the current behavior?**

For a collection that includes a list widget, when I add a new item to the list, but don't provide values in any of the fields, I am able to save changes without complaint from the UI. The resultant object within that list within that collection item is missing any keys for which I omitted values

[2018-05-15 21:09] hughrawlinson commented on #1357
I cant share the one I'm encountering the issue with, but I'll try and repro it with another site :)

[2018-05-15 21:44] erquhart commented on #1341
That's why I mentioned the need for design here. As far as what to display, I'd just go with the available inferred fields, namely `author`, `description`, and `image`.

Agreed, but I'd recommend opening a separate issue and handling that in a different PR to keep this moving. Determining what fields to infer the date from and how best to display it would slow this PR down unnecessarily.

[2018-05-15 21:45] erquhart commented on #1360
This is a duplicate of #467. Can you add any additional info there?

[2018-05-15 21:45] #1360 closed

[2018-05-15 21:52] erquhart commented on #1152
Can you explain a bit more what you mean here?

[2018-05-15 22:10] nickiescutia commented on #1152
Sure; my use case is a basic portfolio site that i have control over.

This particular theme im using has a ‘recent works’ section that’s a list of pictures. As a graphic designer, im not primarily interested in the blogs or pages that the cms can edit and post, but rather those images.

I pump out new art daily, and would love a way to just pop open the cms and not only upload new media i create,

[2018-05-15 22:11] #934 closed

[2018-05-15 22:14] nickiescutia commented on #1152
Here’s a direct link to the part of the themes instructions that kind of lay out the problem - https://github.com/digitalcraftsman/hugo-strata-theme/blob/master/README.md#build-up-your-portfolio

Since the toml file controls the section I’m interested in, I have to have that raw file edit, but it would be much nicer if the cms had a way of displaying the portfolio section on a similar way as other

[2018-05-15 22:34] #1272 closed

[2018-05-15 22:38] #966 closed

[2018-05-16 00:04] DirtyF commented on #1351
For the record, here's [a webpagetest on the actual website](https://webpagetest.org/result/180515_3T_8d35a431e0b9bff3fc4839e40d5f064a/). It would be interesting to compare results between both SSG. Gatsby should score better at LightHouse by default.

[2018-05-16 03:41] hennessyevan commented on #1280
Global settings would be great. Somewhere to store prefs that can be accessed globally (by the SSG) but more importantly by the widgets. I just created a [youtube widget](https://github.com/hennessyevan/netlify-cms-widget-youtube) that would be greatly enhanced by being able to hook into a general setting for an API Key. As it stands, the key is passed through a field in the widget in `config.yml`

[2018-05-16 03:57] ro-savage commented on #1344
I created a very naive implementation for github.

Not useful to merge in here but might be useful for anyone who needs a quick implementation

https://github.com/Encrypt-S/netlify-cms/commit/a86b5e87655dfcb60b3ae743219a614dca034157

https://www.npmjs.com/package/@encrypt-s/netlify-cms

[2018-05-16 13:40] joeptacek commented on #1360
Got it, sorry about that!

[2018-05-16 13:40] erquhart commented on #1280
@hennessyevan the Widget API is being reworked under 2.0, and part of that will include allowing widgets to accept a config object at registration, so you'll be able to accept the API key there.

[2018-05-16 16:13] ekoeryanto commented on #1280
One more feature.
Web [Notification](https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API)

[2018-05-16 16:16] talves commented on #1280
@ekoeryanto can you explain that one a little more by editing the request. Not sure what the use cases would be.

[2018-05-16 18:27] gedeondt opened #1362 "[feature request] Pagination inside the CMS"
When working with big amounts of documents for a document type it seems that all of them are listed at once inside the CMS. I have tested a site with 10.000 posts and all of them were listed with no pagination on the CMS.

Thanks

[2018-05-17 12:46] tomgron commented on #1181
I could use this too as some of my repos are in VSTS which has pretty cool build pipelining and also has good support for webhooks etc. (better than GitHub)

[2018-05-17 13:51] tech4him1 commented on #1362
@Benaiah will your pagination work for GitLab affect GitHub as well?

[2018-05-17 19:27] SureDroid commented on #1152
I think what you said above is what I have been waiting for and wanted. Thanks for adding it. Will test it out when I get the chance.

[2018-05-18 07:44] papandreou commented on #1044
I've also run into this while trying to use a custom editor component to recognize "islands" of yaml, eg.:

[code]

I've specified my component's `pattern` as `/::: MyComponent([\s\S]*)/`, and the above case works fine. However, if I have leading whitespace or an empty line in the yaml block, it breaks:

[code]

in the above case it gets handed this:

[code]

Similar to #1001 it also breaks if I h

[2018-05-18 15:29] loremipson commented on #54
Requesting some more flexibility here. What do you all think about accepting some optional yaml in the config that would result in both additional fields being displayed in the entry list, as well as making them sortable?

Something like:

[code]

[2018-05-18 15:36] erquhart commented on #1044
So I remembered why editor components can't access raw markdown - it's for performance reasons. Applying multiple RegExp patterns to a large markdown string can be a showstopper. If we parse the markdown first, we can:

1. Restrict pattern checking to top level nodes (shortcode patterns can't be nested currently).
2. Begin patterns with `^`, which is highly performant, and still have it apply to a

[2018-05-18 15:54] erquhart commented on #50
Even with GitHub's non-paginated responses, we should paginate the UI. This has been mentioned by multiple users in recent weeks.

[2018-05-18 16:04] papandreou commented on #1044
@erquhart, for now I've resorted to forking netlify-cms and regexping the verbose format to something shortcode-like with a base64 blob: https://github.com/netlify/netlify-cms/compare/master...papandreou:netlify-cms-papandreou

And then have my editor widget recognize and serialize to that format:

[code]

It's a bit naive and annoying (and doesn't avoid the double regexping), but it seems to work

[2018-05-18 16:51] erquhart commented on #1044
Gotcha, glad you were able to at least work out a stop gap.

[2018-05-20 13:26] mdehollander commented on #1213
Good to see that the x-use-cookie is added to the header of gotrue. At my side I don't see a difference, I also triggered a new build at netlify, but at my custom hosted version of the website I still get a cors header warning when using netlify identity.

[2018-05-20 15:07] tech4him1 commented on #1213
@mdehollander https://github.com/netlify/gotrue/pull/170 hasn't actually been merged yet.

[2018-05-20 16:52] bcomnes commented on #1213
I'll put this on my todo for Monday.

[2018-05-22 04:13] loremipson commented on #1167
It doesn't look like the functionality link is currently working, so I'm curious -- Is the goal of this issue specific to the `config.yml`? Or is it intending to be a widget type that can be used in multiple collections? Something like what #1169 is aiming to solve?

[2018-05-22 11:44] papandreou opened #1372 ""TypeError: e.get is not a function" when an editor widget has a nested list"
**- Do you want to request a *feature* or report a *bug*?**

*bug*

**- What is the current behavior?**

I have a custom editor component that encapsulates some structured data, particularly a `list` field with a `markdown` widget inside it: https://github.com/papandreou/netlify-test-2/blob/e91791c56ecb441d0867a79f66e79aa678bfd995/admin/index.html#L65-L71

This appears to work fine in the editor w

[2018-05-22 18:37] robertkarlsson commented on #1339
This will probably be easier to tackle if the post-css config allows for nesting the media-query rules like its done for the/website part of the project. Is there a reason why this is  not in the post-css config for the cms?

[2018-05-23 18:50] erquhart commented on #1167
The goal of this issue is a standalone configuration generator that outputs YAML for use in `config.yml`.

[2018-05-23 19:46] erquhart commented on #1372
Hadn't tried using lists in an editor component, thanks for raising this.

The issue is that the List widget expects an Immutable Map for each list item - instead of `['foobar value']`, it wants `List[ Map({ foobar: 'foobar value' }) ]`. We should be handling this transformation in the widget I _think_, but not certain.

For now, you can fix your widget implementation with the following updates:

[2018-05-23 20:29] erquhart commented on #1339
Nesting is working, are you seeing otherwise?

[2018-05-23 20:57] #557 closed

[2018-05-23 22:17] bcomnes commented on #1213
The fix noted above is deployed. Let me know how that works out for you.

[2018-05-24 02:47] Jinksi opened #1377 "1.8.1 - Cannot publish new documents"
**- Do you want to request a *feature* or report a *bug*?**

Bug

**- What is the current behavior?**

Using CMS version `1.8.1`, cannot publish new documents. Get __Failed to persist entry__ error.

See console.log screenshot:

<img width="1262" alt="screen shot 2018-05-24 at 12 22 10 pm" src="https://user-images.githubusercontent.com/3147296/40461518-14a1c37a-5f4f-11e8-90ec-5ba813cd7f78.png">

M

[2018-05-24 02:49] Jinksi commented on #1377
FYI using `git-gateway`

[2018-05-24 03:50] erquhart commented on #1377
Unable to reproduce so far. Can you still reproduce? Any error message toast notifications popping up when it fails?

#1239 seems the only likely PR in 1.8.1 to cause something like this, but it _should_ have produced a toast notification if that was the case.

[2018-05-24 04:17] Jinksi commented on #1377
Yes, toast notification is:

`Failed to persist entry: API_ERROR: Not Found`

<img width="501" alt="screen shot 2018-05-24 at 2 16 44 pm" src="https://user-images.githubusercontent.com/3147296/40464206-2b0aebc4-5f5d-11e8-88a2-97080bd83b95.png">

[2018-05-24 04:41] erquhart commented on #1377
Can you link to a repo that reproduces? Still not able to trigger the error.

[2018-05-24 05:32] Jinksi commented on #1377
https://github.com/Jinksi/test2

[CMS new post page](https://festive-blackwell-918a9c.netlify.com/admin/#/collections/post/new)
I've opened invites if you want to log in.

I've used the [one-click-hugo-cms](https://github.com/netlify-templates/one-click-hugo-cms) template and added [this commit](https://github.com/Jinksi/test2/commit/e1053dcffb2b94312fb3a2ad605b614096f3d27d) to use 1.8.1.

I'm abl

[2018-05-24 06:55] kyleoliveiro commented on #1377
I'm trying to get started with Netlify CMS, and I'm running into this error as well while using `github` backend.

[2018-05-24 07:02] papandreou commented on #1372
@erquhart, thanks a lot for the quick reply and the workaround -- I have my original, more complex component working now based on it.

I agree that the transformation should be handled by the widget, though.

[2018-05-24 07:26] papandreou opened #1378 "Toolbar button for inserting a horizontal rule"
**- Do you want to request a *feature* or report a *bug*?**

*feature*

**- What is the current behavior?**

There is no way to add a horizontal rule (`---`) using the markdown widget in rich text mode, except by implementing it as a custom editor widget. I would like to have that so I can use it as a structural divider for some content that I'm managing via netlify-cms.

The editor does have good

[2018-05-24 07:29] robertkarlsson commented on #1339
You are 100% correct, my bad. I tested it and couldn't get the media queries to trigger when nested, but now it worked without a problem.

[2018-05-24 07:43] satzz commented on #1377
Also happening to mine(It didn't a few days ago). I'm using `unpkg.com/netlify-cms@^1.0.0`. The error happens when saving a new entry in editorial workflow, as well as when publishing.

[2018-05-24 09:30] papandreou commented on #956
This still happens in 1.8.1 after https://github.com/netlify/netlify-cms/pull/1126 was merged.

[2018-05-24 13:11] erquhart commented on #956
Confirmed, thanks for pointing that out.

[2018-05-24 13:12] erquhart commented on #1377
Working on this now.

[2018-05-24 13:43] papandreou commented on #1377
Was the new version published to npm? I don't see it:

[code]

The npm guys had an incident the other day that caused published packages to not be available immediately, could be that the problem is back: https://status.npmjs.org/incidents/3rjzvts6v98k

[2018-05-24 13:44] tech4him1 commented on #1377
It is live on npmjs.com and unpkg.

[2018-05-24 13:44] papandreou commented on #1377
Ah, there is a new incident reported: https://status.npmjs.org/incidents/238t55n6f03f

[2018-05-24 13:52] erquhart commented on #1377
Whoops, accidental close.

I'm seeing it on unpkg now.

[2018-05-24 14:56] tech4him1 opened #1380 "Save in-progress posts to localStorage."
Currently, if a user is working on a post, and either the API or the browser has problems, there is no in-browser backup. They must close the window and thereby lose their post. I think we should have some way to cache a post while it is being written. Once it is saved successfully (published or as a draft), the instant cache can be cleared.

[2018-05-24 15:21] papandreou commented on #1377
I wrote an email about the missing package to npm support.

[2018-05-24 15:31] erquhart commented on #1377
Awesome, thanks @papandreou.

[2018-05-24 15:31] #1377 closed

[2018-05-24 15:34] erquhart commented on #1380
Agreed, way overdue. #388 covers this as well, we should track the request there.

[2018-05-24 15:34] verythorough commented on #57
If you're following this issue, check out the latest PR, due to merge soon: https://github.com/netlify/netlify-cms/pull/1343

[2018-05-24 16:28] mdehollander commented on #1213
It works! @bcomnes, thanks for suggesting and implementing a fix. Great to see the Netlify CMS also working on a custom hosted site.

[2018-05-24 16:29] tech4him1 commented on #388
This is also relevant if the API itself has problems, in which case we have to use the browser-side solution.

[2018-05-24 16:29] #1380 closed

[2018-05-24 16:30] tech4him1 commented on #1213
@erquhart Should we document how to use Netlify CMS with Identity on a custom (self-hosted) site?

[2018-05-24 18:16] bcomnes commented on #1213
Thanks to @tech4him1 for looking into the nitty gritty on this one.

[2018-05-24 19:32] papandreou commented on #1377
They wrote me back, and it's there now :tada:

[2018-05-24 22:55] Jinksi commented on #1377
All working 👏

[2018-05-24 23:07] jaredmorgs commented on #234
For my platform shortlisting process, Netlify CMS is _just behind_ forestry.io at the moment because of the GitHub only support. I would be so delighted if the GitLab and BitBucket support was implemented soon.

I have to say that the workflow management features in Netlify CMS has me gunning for the other VCS support. It's really beautiful.

[2018-05-25 07:55] kyleoliveiro opened #1382 "JSON files are saved with no newline at the end of file"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
Netlify CMS saves JSON data **without** a newline at the end of the file.

**- If the current behavior is a bug, please provide the steps to reproduce.**
Configure a collection type with `format: "json"` and `extension: "json"`, then create and publish a new post in the Dashboard.

**- What is the

[2018-05-25 15:40] erquhart commented on #1382
This is being handled under #1302.

[2018-05-25 16:03] #1271 closed

[2018-05-25 16:15] #690 closed

[2018-05-25 20:46] bep commented on #1351
How is this obvious in a documentation site? Can you elaborate?

[2018-05-25 21:44] erquhart commented on #1351
@DirtyF webpagetest of the in progress deploy preview: https://www.webpagetest.org/result/180525_GC_a9486c40a857bef10a68b25d6791a59e/

[2018-05-25 22:11] bep commented on #1351
Sure, I just wanted you to think about it and not just dive into some "would it not be cool to do the docs in react" simple arguments.

From a document contributor perspective (i.e. as someone who wants to write documentation), I would, of course (I'm biased), prefer something static that I could just `git clone; somebinary run; edit and commit`. I have not looked at your current distribution, but

[2018-05-28 16:15] runandrew opened #1388 "Custom confirmation url for new user invite"
I am using Netlify/Netlify CMS with a React Static Site. To access the admin panel, the Netlify CMS site is located at domain.com/admin. When I invite new users, they are sent to my root domain domain.com#token, which does not present anything to make a password (I believe this is because I do not have the identity widget on that part of my site).

Is there a way to change the confirmation url to

[2018-05-28 16:59] shaunbent commented on #1372
I just came here to open an issue for the same problem, great that I found this and you're also providing a work around.

I was going around in circles trying to debug this convinced the problem was at my end.

I agree with @papandreou that ideally this transformation would be handled by the framework.

[2018-05-28 18:55] erquhart commented on #1388
Has to happen on your root domain, you'll need to have the widget in place on your home page.

[2018-05-29 07:33] thekevinbrown opened #1389 "NetlifyCMS 1.8.0+ with Gatsby Produces Warning"
**- Do you want to request a *feature* or report a *bug*?**

Bug

**- What is the current behavior?**

Running `gatsby build` produces:

[code]

**- If the current behavior is a bug, please provide the steps to reproduce.**

1. Install `gatsby@1.9.261`, `gatsby-plugin-netlify-cms@2.0.1` and `netlify-cms@1.8.0`
1. Run `gatsby build`

**- What is the expected behavior?**

The site should be built wi

[2018-05-29 10:06] cjonasw commented on #716
Any update on this?

[2018-05-29 14:24] papandreou opened #1390 "Editor component fields: required and isValid not honored"
**- Do you want to request a *feature* or report a *bug*?**

*bug*

**- What is the current behavior?**

It doesn't seem to be possible to achieve validation for fields in custom editor components. Seems like the `required` and `isValid` options are ignored.

**- If the current behavior is a bug, please provide the steps to reproduce.**

Marking the `Youtube Video ID` field as `required` (or addin

[2018-05-29 14:43] papandreou opened #1391 "Toolbar of markdown editor for field in editor component floats on top"
**- Do you want to request a *feature* or report a *bug*?**

*bug*

**- What is the current behavior?**

An editor component that has a field declared as `widget: 'markdown'` will unexpectedly render its toolbar above dropdown menus from the main markdown editor:

![screen shot 2018-05-29 at 16 28 59](https://user-images.githubusercontent.com/373545/40665652-046ccdde-635e-11e8-863d-d4d4ff8f083a.pn

[2018-05-29 14:56] papandreou opened #1392 ""Published" indicator showing even though changes were made during publication"
**- Do you want to request a *feature* or report a *bug*?**

*bug*

**- What is the current behavior?**

If further changes are made to a field while the item is being published, the "Publishing" indicator will turn into "Published" even though the state of the editor does not correspond to what has been persisted. This is bad because:

1) It lowers the confidence wrt. whether the changes have act

[2018-05-29 15:10] eLRuLL commented on #981
is the idea of this feature to only allow duplicates of "complete documents" or also for specific sections?

[2018-05-29 15:11] tech4him1 commented on #1389
@erquhart @KyleAMathews What is Gatsby wanting here? Does it want code that is transpiled but unbundled, or something else?

[2018-05-29 15:12] tech4him1 commented on #1392
I think the correct fix would be to lock the fields while publishing. @Benaiah?

[2018-05-29 15:16] papandreou opened #1393 "Cmd+a in markdown widget in editor component doesn't work correctly"
**- Do you want to request a *feature* or report a *bug*?**

*bug*

**- What is the current behavior?**

Clicking Cmd+a while editing the text of a markdown field in an editor component does not select all the text in the field. Instead, it moves the cursor out of the "inner" markdown widget and into the main body one. If you look closely, you can sometimes see that the text in the inner widget is

[2018-05-29 15:16] tech4him1 commented on #1390
@papandreou What line are you adding `isValid` to? Do you have a code example using `isValid` instead of `required`?

[2018-05-29 15:18] papandreou commented on #1390
@tech4him1, I added it to the field declaration like this:

[code]

[2018-05-29 15:26] tech4him1 commented on #1390
@papandreou I believe it is supposed to go directly in `registerEditorComponent`, not nested under `fields`.

[2018-05-29 15:34] papandreou commented on #1390
@tech4him1, ah, seems like I didn't not read the documentation for `isValid` closely enough. It does say "the widget control", not "the widget field". Neat that it can be used to validate the component state as a whole.

However, putting it at the top level like this doesn't work either:

[code]

If I add a `debugger` statement to it, I can tell that it isn't even being called.

[2018-05-29 15:36] papandreou commented on #1392
Since publication takes a several seconds (at least with the `github` and `git-gateway` backends), I think not locking the fields would give a slightly better UX.

[2018-05-30 11:41] david-brophy opened #1394 "Italicising linked text issue"
**- Do you want to request a *feature* or report a *bug*?**
Bug

**- What is the current behavior?**
**- If the current behavior is a bug, please provide the steps to reproduce.**
When I highlight some text that has links it it and try to italicise it e.g.

![highlight-and-italicise](https://user-images.githubusercontent.com/31471918/40717683-3884162a-6405-11e8-884c-5126e82f5b52.PNG)

When I go to

[2018-05-30 17:50] erquhart commented on #490
@ziburski so I know it's been quite a while since you looked at your concepts above, but I've been eyeing them increasingly as of late, specifically your vision for the control panel itself. We're going to start having community created control widgets, and your design "gets out of the way" so those widgets aren't subject to much design constraint.

One detail that I'd like some input on if you ca

[2018-05-30 19:11] ziburski commented on #490
Hey @erquhart! Glad to hear my designs still provide some inspiration. :)

Yep, I remember having a hard time with nested fields as well. Not sure if there is a great solution.

Generally, my thinking was that the most common / important use case is probably nesting just one level down. So I worked that into the mockups, with the image box fields.

For deeper nesting, maybe a modal popup is the wa

[2018-05-30 19:20] neutyp commented on #490
Hey @erquhart and @ziburski  :)

Shawn, I'm assuming when you say 'control panel' you mean the editor experience?   Or at least an interface that uses the same concepts of nesting?

Back in the days of the 1.0 launch, I had originally hoped to push for an iteration of Lennart's great 'mono level' visualization of widgets in the editor. Specifically the idea that widgets don't need to be nested by

[2018-05-30 19:52] erquhart commented on #490
@ziburski ah, didn't even notice the image box field had children, thanks for pointing that out.

@neutyp great recording, thanks for that! It's a pretty compelling approach for infinitely nesting the UI, seems like a great general direction to take this! My only concern would be showing a complex hierarchy of collapsed fields all at once and only clarifying relationship with focus styles, but I t

[2018-05-31 05:50] willisplummer commented on #1389
I've been running into this too

[2018-05-31 06:32] esphen commented on #1389
@tech4him1 I believe this is because Webpack wants ESM files, not a bundled UMD-file so it can do import analysis and tree shaking.

It is pretty common to [build an unbundled project][babel] using babel then use [the `module` key][module] in `package.json` so that webpack uses the unbundled files as its entrypoint for the library.

[babel]: https://github.com/esphen/fetch-hoc/blob/master/package.

[2018-05-31 13:29] shaunbent opened #1396 "CollectionName not prepended to branch names in Editorial Workflow mode"
**- Do you want to request a *feature* or report a *bug*?**

Bug

**- What is the current behavior?**

I have two collections which contain pages with the same names with different content. With the Editorial Workflow enabled changing any of these pages effects the other collections equivalent page.

I think I've worked out what is happening, it looks like the generated branch names do not contain

[2018-05-31 14:07] raae commented on #1388
If you use the Gatsby plugin [gatsby-plugin-netlify-cms](https://www.gatsbyjs.org/packages/gatsby-plugin-netlify-cms/) both the admin page and the identity manager is added for you.

[2018-05-31 15:03] papandreou opened #1397 "label_singular somehow overrides the default "plural" label"
**- Do you want to request a *feature* or report a *bug*?**

*bug*

**- What is the current behavior?**

When a field using the `list` widget has a `label_singular` defined, the regular `label` is not displayed when the list has 0 or 2+ items.

![screen shot 2018-05-31 at 16 54 41](https://user-images.githubusercontent.com/373545/40790114-6101d584-64f4-11e8-9887-b6524d661607.png)
![screen shot 201

[2018-05-31 23:00] CodeBarman commented on #716
Yeap, I am interesting in this feature too.

[2018-06-01 13:09] grdp commented on #1389
I just have updated the dependencies in a gatsby project and I'm running into the same WARNING with `netlify-cms`. Another weird thing is creating a folder `Users/username/…/gatsby-starter/public/` in the project root folder. As something was wrong the node path…
Does anyone encounter that also?

[2018-06-01 14:46] lmaddio commented on #192
Any updates here?

[2018-06-01 17:14] PaulEibensteiner commented on #325
Hi everyone!
I had the problem of using Hugos image processing while at the same time maintaining the easy image adding that netlify cms provides.
I used the method talves provided to store all media in a folder in the content directory. Then I created a shortcode which resizes the image and inserts the link. Now I created a custom editor widget for the netlify cms which inserts the shortcode by u

[2018-06-01 18:07] erquhart commented on #325
Hi @PaulEibensteiner - welcome! And that's awesome! Can you put your code in a [gist](https://gist.github.com/) and provide a link?

[2018-06-01 18:31] talves commented on #325
@PaulEibensteiner great job. I was planning to eventually get to creating a widget for a Hugo shortcode, but have been really busy with some other fun stuff that will be coming soon.

[2018-06-01 18:40] PaulEibensteiner commented on #325
Sure!
So first you have to create the directory "images" in your content directory, and add the _index.md with following front matter:
---
title: Media Folder
headless: true
---

Then the shortcode in the layouts/shortocodes directory:
https://gist.github.com/PaulEibensteiner/c88e14439abc1111f7388520ade2cf36

Now the custom editor widget: I have a 1-year knowledge of self taught javascript so this

[2018-06-01 18:44] CodeEsthete opened #1399 "Slug pattern doesn't accept dots"
I hope this is not a duplicate.

I create a slug with following pattern and I noticed that everything after "." gets removed and en suffix added which I don't want to have.

     slug: "{{year}}-{{month}}-{{slug}}.pl"

After creating new page my filename looks like

     2018-08-my-new-page-en.md

while I am expecting to see it like

     2018-08-my-new-page.pl.md

[2018-06-01 18:44] talves commented on #325
@PaulEibensteiner This is good stuff. Don't worry about the widget, I will eventually formalize yours into an npm module if you don't get to it first. Again, great job. Also, yes Hugo is pretty Awesome!

[2018-06-01 18:50] PaulEibensteiner commented on #325
@talves Thank you, yeah, I don't really know about npm and that stuff ˆˆ But that would be awesome...
Quick question off-topic: Are there custom widgets provided by other users somewhere on the internet? I could imagine there are a lot of examples (like the yt widget in the docs) which a lot of people would find useful? Googled and didn't find anything...

[2018-06-01 19:14] talves commented on #325
We have been discussing creating a place for people to publish information about their custom widgets on the NetlifyCMS site somewhere. You are right, and a plan to have a full information format will help quite a bit. I am sure we will get there. We just need someone in the community to take it on when they get time. I might tackle it with some other stuff I am doing, but it is lower on the prior

[2018-06-01 19:25] talves opened #1400 "[Discussion] Custom Widget Library"
## Feature Request:

Allow for users to make PR's to add their custom widgets to the NetlifyCMS site to keep track of published widgets out there.

## Proposal:

Requirements might include having a custom widget be published to npm. The collection would allow someone to add a configuration entry into frontmatter that would be added to the site page showing all available widgets with targeted SSG,

[2018-06-01 19:57] talves commented on #1400
We have been discussing creating a place for people to publish information about their custom widgets on the NetlifyCMS site somewhere. You are right, and a plan to have a full information format will help quite a bit. I am sure we will get there. We just need someone in the community to take it on when they get time. I might tackle it with some other stuff I am doing, but it is lower on the prior

[2018-06-01 20:16] hennessyevan commented on #1400
This is kind of a neat implementation https://www.gatsbyjs.org/plugins/ I think would be worthwhile looking at as well, from what I can tell it just searches for NPM packages related to `gatsby-plugin` and then sorts them based on their popularity, or make it more curated, something like what I assume is that case with netlify's own [headlesscms.org](https://headlesscms.org/). That would put more

[2018-06-02 08:54] scottybo opened #1401 "Drag and drop builder"
Question: Is there a Drag and Drop builder that works with Netlify? i.e the equivalent of: https://elementor.com/pro/

Page builders dramatically speed up the creation of sites and they're much "friendlier" for end users to work with, as let's be honest, the average SME employee who has been given the job of keeping the site up to date doesn't have the first idea about anything technical.