[2019-12-21 10:33] ShalokShalom commented on #502
You could still host it on any source hosting platform of your choice, such as Gitea. Choice is always nice and its not to hard to follow the standard that git is. No need to make it Github specific for no reason, I guess. :smiley:

[2019-12-22 11:27] erezrokah commented on #2544
@Petrolog-IT I can't access the repo in the issue (is it private/deleted?). Also can you share your network traffic?

@jimmyangel Thank you for sharing the repo, do you mind sharing network traffic while getting the error?

[2019-12-22 13:20] #2983 closed

[2019-12-22 22:04] jimmyangel commented on #2544
Hi @erezrokah, here are the har capture and the console log:

[prototipo-librorojoetv.netlify.com.har.txt](https://github.com/netlify/netlify-cms/files/3993045/prototipo-librorojoetv.netlify.com.har.txt)
[prototipo-librorojoetv.netlify.com-1577052063765.log](https://github.com/netlify/netlify-cms/files/3993046/prototipo-librorojoetv.netlify.com-1577052063765.log)

Thank you very much for your time

[2019-12-22 23:15] barthc commented on #2544
@erezrokah  looks like the github api can't create a ref like so `refs/heads/cms/home/home` the first home is the collection name and the second one is the slug

[2019-12-23 10:05] erezrokah commented on #2544
This is solved by deleting the `cms` branch from the repo. I remeber it from a previous issue. I'll check why having a branch with that name breaks editorial workflow

[2019-12-23 10:12] barthc commented on #2544
I tried creating a  workflow branch that has collection name and slug the same, and got the same error. For example, collection like so:
[code]
If I type `posts` on the identifier field so the slug matches the collection name, the error shows.

[2019-12-23 10:13] erezrokah commented on #2544
Let me check again as I tried the same thing and it worked

[2019-12-23 10:29] barthc commented on #2544
Yup, you are right it's a branch issue. I don't have a branch ` cms/posts/posts`  but I have branches like `cms/posts/posts/some-other-string`

[2019-12-23 11:39] #1187 closed

[2019-12-23 11:41] erezrokah commented on #2544
This is a git restriction when creating branches.
You can easily reproduce locally by doing:

[code]

In order to prevent such cases in the future we will need to change our branch naming scheme, possibly as a part of https://github.com/netlify/netlify-cms/issues/1669

Closing this, @Petrolog-IT please re-open with a link to the repo+network traffic if issue persists.
@robinsingh-bw, @jimmyangel p

[2019-12-23 11:41] #2544 closed

[2019-12-23 11:51] tomrutgers commented on #2544
I added this to the list of API_ERROR solutions and workarounds: https://github.com/netlify/netlify-cms/issues/2827

[2019-12-23 18:35] jimmyangel commented on #2544
Hi @erezrokah, I deleted the cms branch and it is working like a charm!

You guys are awesome! Thank you very much for your help.

Happy holidays!

[2019-12-25 05:03] Manish-Giri commented on #2989
Hello, I'd like to work on this.

[2019-12-25 08:48] #2979 closed

[2019-12-25 19:06] umutykaya commented on #2092
@erezrokah It could be great to have a guide for working with aws amplify.

[2019-12-26 09:25] thaind97git opened #3004 "TypeError: (0 , o.useEffect) is not a function"
**Describe the bug**
When I try to use `cms admin preview markdown code`, I received an error :
`TypeError: (0 , o.useEffect) is not a function`

**To Reproduce**

**Screenshots**
![image](https://user-images.githubusercontent.com/42630357/71469450-c72b4e00-27fb-11ea-91d6-d23308b391a0.png)

**Applicable Versions:**

 - Netlify CMS app version: ^2.10.1
 - Git provider: GitHub
 - OS: Windows 10
 - B

[2019-12-26 09:29] erezrokah commented on #3004
Hi @thaind97git can you share your repo or at least the way you register previews (if you register them)?

[2019-12-26 12:31] thaind97git commented on #3004
Hi @erezrokah, here is my repo:
https://github.com/thaind97git/tech-blog
Thank for your supported !

[2019-12-26 15:03] shushugah commented on #54
Bump, my file names are numeric based, and it's annoying that right now it sorts by, without any option to sort by date
[code]

[2019-12-26 16:16] kalebheitzman opened #3005 "Keyboard Shortcuts for the Slate Editor"
It would nice to have keyboard shortcuts for the slate editor for making text bold, italic, adding links etc that match up to the windows/mac defaults in other editors.

command+b for bold
command+i for italic
command+k for adding a link

Maybe something like

command+shift+2 for an h2 and so forth.

[2019-12-26 16:31] kalebheitzman commented on #3005
@see https://medium.com/@brendanrc/making-keyboard-shortcuts-in-slatejs-simple-9bfa1a10ed7c

[2019-12-26 16:46] erezrokah commented on #3004
Hi @thaind97git, I forked you repo and tried to run it locally. `yarn install` command gave me some weird errors so I deleted the `yarn.lock` file and did `yarn install` again.
After that I was able to load the preview successfully:

![image](https://user-images.githubusercontent.com/26760571/71483321-f8157e00-280f-11ea-8767-2eb206d681bf.png)

[2019-12-27 02:45] thaind97git commented on #3004
Thank you, I resolved this issue by remove `yarn.log` and `yarn install`.

[2019-12-27 04:08] thaind97git commented on #3004
Hi @erezrokah, Not very relevant but you can help me how to create a `code block editor` like this image:
![image](https://user-images.githubusercontent.com/42630357/71500721-cac0e280-2898-11ea-8ab8-646d92caec8d.png)

Can you help me with a Document or any tutorial to do this?

[2019-12-27 04:11] sten-dev opened #3006 "Cannot read property 'match' of undefined"
I am getting this problem when deploying netlify-cms with custome youtube editor widget markdown

[code]

Deployment logs

`9:23:39 AM: success Generating image thumbnails - 15.325s - 52/52 3.39/s
9:24:18 AM: failed Building production JavaScript and CSS bundles - 53.788s
9:24:18 AM: error Generating JavaScript bundles failed
9:24:18 AM: Cannot read property 'match' of undefined
9:24:18 AM: not fi

[2019-12-28 14:23] heejongahn commented on #1472
Thanks a ton for implementing this feature!

[2019-12-29 06:51] erezrokah commented on #3004
You can use the dropdown:
![image](https://user-images.githubusercontent.com/26760571/71553440-5c0a9300-2a18-11ea-881e-c5fce5247500.png)

[2019-12-29 06:51] erezrokah commented on #3004
Closing this issue, please re-open if any further issues

[2019-12-29 06:51] #3004 closed

[2019-12-30 15:16] lookea commented on #1206
Hi @erquhart I can confirm netlify own lfs solution works, but there is a problem, only pages that are merge into master can render the image preview, when using editorial workflow when creating a draft all images are shown in the preview but after going out and back into it the images are then out of the cache and no longer rendered, they only show if you go from draft to publish, merge into mast

[2019-12-30 17:32] danielkellyio opened #3016 "Select Option Cut Off in Custom Widget"
**Describe the bug**
Created a custom widget to be used inside a markdown editor and gave it a select type field. When I focus the select to choose an option, I can't see any of the options because the overflow on the containing element is `overflow:hidden`

**To Reproduce**

**Expected behavior**
I expect to be able to see the options for the select

**Screenshots**
![Screen Shot 2019-12-30 at 11

[2019-12-30 20:54] danielkellyio opened #3017 "Copy from markdown editor copies all editor content to clipboard"
**Describe the bug**
When markdown mode is on for a markdown type widget, I highlight a particular line or 2 that I want to copy but the whole content of the widget is copied to clipboard

**To Reproduce**
1. Type a paragraph or 2 into a markdown widget
2. Turn it to markdown edit mode (as opposed to Rich Text)
3. Copy a single line by highlighting and pressing cmd + c
4. Paste contents of clipboa

[2019-12-30 21:02] tomrutgers commented on #3016
This should have been fixed in 2.10.2 actually.. Can you confirm the version is correct (it's logged in your console)?
https://github.com/netlify/netlify-cms/issues/2980
https://github.com/netlify/netlify-cms/issues/2986

[2019-12-30 21:04] danielkellyio commented on #3016
This is what's logged in the console:
[code]

[2019-12-30 21:23] danielkellyio opened #3018 "List items separated by new lines (in text field)"
**Is your feature request related to a problem? Please describe.**
Kind of. The list widget is awesome but after some nesting it get's a little insane. In order to clean up the interface a bit I think it'd be nice to have the option to separate list items via a new line in a text field. The comma separated doesn't really fit my needs as each item is long enough to merit it's own line but having a

[2019-12-30 21:41] tomrutgers commented on #3016
CC @barthc @erezrokah

[2019-12-30 23:38] CanRau commented on #1685
One way might be to handle those before stripping diacritics

[2019-12-31 02:23] nathantbaker commented on #2211
I'm also seeing this issue

[2019-12-31 10:04] aditya81070 opened #3019 "images are not uploaded in default image widget"
**Describe the bug**

I am trying to upload an image from the admin panel. It shows the dialogue to upload the image but it just shows `Loading..` text. I have also tried to push buggy code to Github and tried to upload the image from the published website but it doesn't work.

**To Reproduce**
Steps to reproduce the behavior. For example:
1. Go to admin panel and create a new blog(I am using gats

[2019-12-31 12:22] tomrutgers commented on #3019
API_ERROR: not found usually means that the cms can’t find the media folder.

[2019-12-31 12:30] aditya81070 commented on #3019
@tomrutgers do I have to create media folder explicitly? I used cms to store my blogs and folder created automatically. The error I am getting is to only store images.

[2019-12-31 12:50] aditya81070 commented on #3019
@tomrutgers you were right. Creating a folder and pushing it to GitHub solved issue. Thanks mate :)

[2019-12-31 12:50] #3019 closed

[2019-12-31 13:52] barthc commented on #3019
@tomrutgers  but the media modal should still load properly even if the cms can't find the media folder.

[2019-12-31 16:17] mikestopcontinues commented on #2064
I didn't see any direct mention of handling non-body fields in an mdx doc. I think you should be able to use export vars instead of frontmatter when using mdx, as that's the canonical mdx pattern.

[2019-12-31 21:40] tomrutgers commented on #3019
@barthc definitely, just clarifying the cause of the error here

[2019-12-31 23:29] SamOdum commented on #3019
@tomrutgers you just saved me. I've been banging my head on the wall for several days now.  Thank @aditya81070 for posting this issue here.

[2020-01-01 03:33] aditya81070 commented on #3019
@barthc Media modal was loading properly. There was no issue for that. @tomrutgers I still have one thought that if cms can create a custom folder for collections, why it can not do the same things while uploading media?

[2020-01-01 14:27] sleepingkiwi commented on #3016
This one's actually a separate CSS issue I believe - I just had to work around something very similar myself.

You can see in @danielkellyio screenshot the top of the options box trying to render and then being cut off because the containing object has `overflow: hidden;`

This happens to relation and list widgets (or anything that renders a select style list) that are nested in other object/list

[2020-01-01 14:48] thaind97git opened #3020 "Error when convert a comma character to html inside Code Block"
**Describe the bug**
Code Block cms admin convert `comma character` to `undefined`

**To Reproduce**
1. Go to cms admin
2. Click on new Code Block in the field Body ( `widget: 'markdown'` )
3. View at Preview fine but deploy to the website error with a comma character

**Expected behavior**
I want to successfully use a comma character inside Code Block when deploying it into the website.

**Screen

[2020-01-01 15:50] sleepingkiwi commented on #2211
This issue seems particularly tricky if you want to use **Editorial Workflow** because the editor prevents you from changing the status (to *Ready*, so that you can publish) if it thinks there are unsaved changes.

In my case the issue was caused by the relation widget and we couldn't easily switch to a list as per @HMilbradt fix.

I eventually solved the issue for our specific use case by wrappin

[2020-01-02 14:02] svenpanko commented on #2081
I'd also like to see this one - anyone had any luck connecting a Bitbucket Server with netlify cms?

[2020-01-02 17:12] mb21 commented on #1322
As a stopgap, we could at least implement the file size check. The option would probably go into [the YAML config](https://www.netlifycms.org/docs/configuration-options/#media-library) like this?

      media_library:
        config:
          multiple: true # existing option
          maxFileSize: 100000  # in bytes

and then passed through the redux store all the way to `src/components/MediaLibr

[2020-01-02 20:26] erquhart commented on #2110
Closing in favor of #595.

[2020-01-02 20:26] #2110 closed

[2020-01-02 21:37] carloscabral commented on #2211
Hi, @sleepingkiwi! Would you mind to share the code? I'm facing this issue right now and we have to deliver this project next week.

Thanks in advance!

[2020-01-03 00:29] sleepingkiwi commented on #2211
@carloscabral - no problem. I think this is the mimimum required to get it working: https://gist.github.com/sleepingkiwi/3a657951164da7d552c27a5ef27d18ca

It stops the contents of the relation select visually loading until you interact with it but the values are still stored/saved regardless.

You have to register the custom widget - if you're used to doing that it should all hopefully be straight

[2020-01-03 05:01] carloscabral commented on #2211
Thank you, @sleepingkiwi!

[2020-01-03 05:01] cjreinhardt commented on #3017
Came to report this as well.  I'm running the same specs as the OP, and have also tried in Chrome 78.0.3904.108 and Safari 13.0.4.

[2020-01-03 11:43] fabianrios commented on #1322
Better than nothing

[2020-01-03 15:02] erquhart commented on #2243
@rikschennink agreed, I’m a big proponent of tools doing one thing well. Can you speak to the question of customization or bringing our own UI? We’re more or less looking to use FilePond as an engine - any way to pull that off currently?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-03 15:57] mb21 commented on #2243
Not sure what you mean with "engine" @erquhart... but I guess the question is whether filepond is a good fit to display a library of images (like a mini-version of Adobe Bridge, I guess), or whether we would be better advised to implement that part ourselves, and set `multiple: false`, or were you driving at something else?

[2020-01-03 17:51] erquhart commented on #1990
Fixed by #467.

[2020-01-03 17:51] #1990 closed

[2020-01-03 18:05] rikschennink commented on #2243
@erquhart it's not very customisable, certainly not an option if you simply want to drop the entire UI, you'd be wasting a lot of kilobytes :-)

I plan to split this all up (core | upload logic | ui) in a future version.

[2020-01-03 18:09] erquhart commented on #1979
`accept_roles` is no longer supported, closing.

[2020-01-03 18:09] #1979 closed

[2020-01-03 18:26] erquhart commented on #2031
Just reviewed this, two points and closing:
1. I now agree that this popup is probably unnecessary and should at least be configurable to remove.
2. This is a part of an upstream library (linked above), so no fix would happen in this repo.

[2020-01-03 18:26] #2031 closed

[2020-01-03 18:29] #2000 closed

[2020-01-03 18:34] erquhart commented on #1998
#1409 is mostly largely implemented but still pending a few specific features. This issue will stay open to cover the addition of a `visible` config property for widgets, which will default to `true` and hide the widget in the UI when `false`, as the **hidden** widget currently does.

[2020-01-04 00:07] erquhart commented on #2046
The code widget can do this: https://www.netlifycms.org/docs/widgets/#code

[2020-01-04 00:07] #2046 closed

[2020-01-04 00:10] erquhart commented on #2243
Yeah splitting would be awesome. We have similar work to do in the CMS, not a simple task.

@mb21 I meant what @rikschennink said, using core functionality separately from the filepond UI.

[2020-01-04 00:11] erquhart commented on #1322
@mb21 that'd be a great PR, just needs to be camel_case (max_file_size).

[2020-01-04 01:01] #3017 closed

[2020-01-04 01:12] erquhart commented on #3020
The CMS is committing the right value, you'll need to raise an issue with Gatsby about the build output.

CMS committed raw value here: https://github.com/thaind97git/tech-blog/commit/0b59d86732d3466d5031de5950f48bf2417f59e2

[2020-01-04 01:12] #3020 closed

[2020-01-04 10:05] Calvinoea opened #3027 "I am trying to access the backend(admin) of my blog. I keep getting an error"
.

[2020-01-04 10:05] #3027 closed

[2020-01-05 09:04] #3016 closed

[2020-01-06 11:35] AimeexJB opened #3037 "Error deleting pre-existing post"
**Describe the bug**
I am encountering an error whenever I click into a pre-existing post on the template. I would like to delete the post as it is unrelated to the website I am making but it will not let me and comes up with "1:1: Incorrectly eaten value: please report this warning on https://git.io/vg5Ft" when it is clicked

**Screenshots**

![image](https://user-images.githubusercontent.com/327

[2020-01-06 12:59] kriswillis commented on #2557
I have yet to use Netlify CMS, I'm just passing through evaluating several different solutions.

In terms of functionality this project appears to align the closest with my requirements, but lacks the visual polish of some of the others. Ultimately the functionality should win out over the aesthetics, though it often helps when trying to convince other stakeholders who care less about the technolo

[2020-01-06 15:56] danielkellyio commented on #3016
that did the trick! Thanks!

[2020-01-06 15:58] danielkellyio commented on #3017
works like a charm! Thanks!

[2020-01-06 17:02] timmysmalls commented on #2557
@kriswillis Yeah, I'm afraid it's a little too late for that ;) I'm surprised no one closed this issue yet. I'd love to see it happen, but it's been open for months, and despite the community support, and people volunteering to help put it into action it doesn't look like there are any real plans to put this together.

[2020-01-06 18:53] Baldrani commented on #1234
It could be an issue with a first test.

Run `localStorage.removeItem("netlifySiteURL")` in the console and try with your proper URL.

[2020-01-06 18:54] danielkellyio commented on #3017
actually, one more related issue here I think.  Copying and then pasting out to somewhere else is working as expected but pasting INTO the markdown editor is causing what's in the clipboard to be pasted twice.

For example, if I copy `Hello World` (from anywhere, doesn't matter) and then paste it into the markdown editor the result is `Hello WorldHello World`

Thanks!

[2020-01-07 00:15] austincondiff commented on #2557
@ kriswillis @timmysmalls I'd really like to put this in place but there was too much push back and conflicting opinions to justify building it out and pushing a PR in hopes it would be merged. There would be too much time involved for me to go at it alone. If someone wants to help me do it I would consider it but my schedule is already pretty busy how it is. I actually applied to Netlify CMS and

[2020-01-07 02:19] thaind97git opened #3038 "Can not upload image inside code block"
**Describe the bug**
When I try to upload an image inside Code Block. I received an error is:
[code]

**To Reproduce**
1. Go to localhost:8000/admin
2. Click on New Blog
3. Click on new Image inside Code Block
3. Try to upload an image
4. See error at console

**Expected behavior**
I want to can upload an image without any error

**Screenshots**

![image](https://user-images.githubusercontent.com/

[2020-01-07 03:59] erquhart commented on #3038
There isn’t a way to attempt uploading an image to a code block - can you describe the specific steps that you’re taking to produce this error?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-07 04:25] thaind97git commented on #3038
Hi @erquhart sorry about that. I forget that step and now I updated it. Can you help me check again?

[2020-01-07 04:38] erquhart commented on #3038
It isn’t possible to upload an image to a code block, so I really don’t know how to go about reproducing. A loose description of what you remember, maybe?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-07 05:15] thaind97git commented on #3038
Hi @erquhart , When I try to login with this site: https://deploy-preview-1433--cms-demo.netlify.com (get from [#1433](https://github.com/netlify/netlify-cms/pull/1433)), I can upload an image inside Code Block.
So, with my case, I don't know exactly why error appears.
You can clone my repository and follow with specific steps:

1. Run `yarn dev`
2. open `localhost:8000/admin`
3. click on `New Blo

[2020-01-07 10:06] marcveens opened #3039 "Unsaved changes state recurring after saving Markdown including new line characters"
**Describe the bug**

I keep getting the "Unsaved Changes" status even after actually saving it and not changing anything. It's probably caused by a new line in the Markdown editor. This character is represented as "\" when I look at the Markdown viewer within the editor.

**To Reproduce**

1. Go to an edit page with a Markdown editor included
2. Type some text into the editor
3. Press Shift+Enter

[2020-01-07 10:40] timmysmalls commented on #2557
@austincondiff That's exactly where I'm at at this point. I would love to invest my time in building this, even though I'm busy, but I'd need some assurances that there's a path towards it being integrated into the actual project. To know that I'm not just wasting my time on a PR that never gets merged, or stays in limbo as it collects new merge conflicts every week.

But that would require a resp

[2020-01-07 12:33] austincondiff commented on #2557
@timmysmalls Exactly.

@erquhart @tomrutgers Thoughts? Of course you aren't going to say, sure, we'll merge in this black box. But I'd like to work with one of you guys to get it to a point both we as a community, and you guys as maintainers are comfortable merging it in.

Also if we could get detailed feedback/concerns around these mockups and prototype we could work towards resolutions and start

[2020-01-07 14:29] ArthurClemens opened #3042 "z-index of EditorControlBar causes select control options of widget above to appear underneath"
**Describe the bug**

When a page has a select widget followed by a markdown widget, the markdown widget obscures the select options.

This is caused by style `css-13xgqvl-EditorControlBar eqipg3b0` which has a CSS index of 200.

**Expected behavior**

Select options should always be shown on top.

**Screenshots**
<img width="600" alt="select-options-underneath" src="https://user-images.githubuser

[2020-01-07 15:22] Bureaudonald opened #3043 "TypeError: e.join is not a function"

[2020-01-07 15:23] Bureaudonald commented on #3043
Ik wilde een nieuw product toevoegen en kreeg deze melding

[2020-01-07 15:55] marcneander commented on #54
Would love an update on this.

Currently no way to sort in a decent way? Best workaround I've found is using "{{year}}-{{month}}-{{day}}" or similar as slug. However, when updating an item NetlifyCMS is not updating filenames.

Am I doing something wrong or are we missing this very basic and crucial feature?

[2020-01-07 16:36] ArthurClemens opened #3044 "Select widget at bottom of page has unreachable options"
**Describe the bug**

A select widget at the bottom of a group cannot be used because its options are cut off by the browser window.

**Expected behavior**

There should be enough room to show the select options.

**Screenshots**

<img width="829" alt="select-options-bottom-page" src="https://user-images.githubusercontent.com/350303/71911464-064e8d00-3174-11ea-956f-bf2aa69b894a.png">

**Applicable

[2020-01-07 16:38] erezrokah commented on #3043
Hi @Bureaudonald can you please follow the issue template when submitting a new issue? There is not a lot to go on from the error you've provided

[2020-01-07 16:45] erezrokah commented on #54
Best thing you can do is up vote the issue as we use it for prioritization. This is currently number 4: https://github.com/netlify/netlify-cms/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc

[2020-01-07 18:30] erquhart opened #3045 "Nested lists in markdown widget tab/untab inconsistently"
**Describe the bug**

Tabbing and untabbing a nested list item causes unexpected indentation of its siblings

**To Reproduce**

1. Create a list item with a nested list inside
2. Set the cursor on a list item in the nested list
3. Press <kbd>Shift</kbd>+<kbd>Tab</kbd>
4. The list item is unindented to be sibling to the parent list item, while its original siblings remain in place
5. Press <kbd>Shi

[2020-01-07 19:17] erquhart commented on #2557
Hey all 👋 - looks like we're overdue for a response here :)

While all of this conversation was going on back in October, I was pretty heads down landing a new full time maintainer. We ended up bringing in @erezrokah (🙌) , you may have seen him around if you follow the repo. Since then we've been focused on knocking out the [most requested features](https://github.com/netlify/netlify-cms/issues?q=

[2020-01-07 22:16] erquhart commented on #3044
Fixed in #3026, released in 2.10.3.

[2020-01-07 22:16] #3044 closed

[2020-01-07 22:18] erquhart commented on #3042
Fixed in #2990, released in 2.10.3.

[2020-01-07 22:18] #3042 closed

[2020-01-07 22:20] erquhart commented on #3039
Thanks for opening - this is covered in #2211, please track there.

[2020-01-07 22:20] #3039 closed

[2020-01-07 22:22] erquhart commented on #3038
Just released 2.10.3, can you update and see if it still happens?

[2020-01-07 22:23] erquhart commented on #3037
Two questions:
1. Is it giving the error when you open the entry or when you click delete?
2. Can you share the repo?

[2020-01-07 22:26] erquhart commented on #3018
So you're currently using a list widget with a bunch of string widgets as children, and want the UI to be less cluttered, is that accurate?

[2020-01-07 22:27] danielkellyio commented on #3018
that is correct

[2020-01-07 22:30] erquhart commented on #3006
Hard to diagnose, but it sounds like a build system issue rather than anything with the CMS source. I don't see any place in your code where you're referencing a property named 'match', either.

[2020-01-07 22:30] erquhart commented on #3005
Yeah that's a regression from the Slate overhaul, we used to have them.

[2020-01-07 22:31] erquhart commented on #2989
@Manish-Giri could have sworn we talked about this, maybe in Slack? Anyway, yes, please do!

[2020-01-07 22:44] erquhart commented on #2047
This was done at some point.

[2020-01-07 22:44] #2047 closed

[2020-01-07 22:52] erquhart commented on #1948
One complication for this feature: the preview pane primarily exists to show how the site will look - it only makes sense when customized with your sites markup and styling. If we have default styling in place, we need a way to deactivate it if customizations are provided.

Maybe default styling is only applied when both of the following are true:
- `registerPreviewStyle()` has not been called
- t

[2020-01-07 22:53] #2042 closed

[2020-01-07 22:54] #2033 closed

[2020-01-07 22:57] #1499 closed

[2020-01-07 23:16] erquhart commented on #314
Related to #1193.

[2020-01-07 23:23] erquhart commented on #1959
Not long after this issue was opened we configured Emotion to output partially consistent class names based on the component names they're generated from.

You'll see CSS classes like:
[code]
You can target them with an attribute selector like:
[code]
Again, note that we are still not treating these component/class names as a part of our API, so they can change at any time.

Hope this helps!

[2020-01-07 23:23] #1959 closed

[2020-01-07 23:24] erquhart commented on #1668
@erezrokah how is this impacted by the updates in our image handling?

[2020-01-07 23:26] erquhart commented on #1013
@erezrokah as you've done some extensive work on our testing strategy, feel free to update or close this.

[2020-01-07 23:47] austincondiff commented on #2557
@erquhart That is great to hear. I am excited for the future of Netlify CMS. I am currently pretty busy for the next few weeks but I am happy to take on a task or two at a time.

What is the target? My prototype? We need a north star. I am going to lean on you on how we want to divvy up work.

Obvioustly my code sandbox is a prototype but I used several things that are not currently dependencies o

[2020-01-07 23:50] chokeul8r opened #3046 "config.yml Template Key not found in markdown and/or graphql query"
Repo: chokeul8r/gncms

I am attempting to use NetlifyCMS in a Gatsby Landing Page project for the first time. My problem relates to the config.yml file and Template key field in particular. The template key is not showing up in my frontmatter and/or my graphgl query.

backend:
  name: git-gateway
  branch: master

media_folder: static/assets
public_folder: assets

collections:
  - label: "Pages"

[2020-01-08 00:40] thaind97git commented on #3038
@erquhart , I resolved this issue by an update to 2.10.3. Thank for your support.

[2020-01-08 00:40] #3038 closed

[2020-01-08 00:43] #1954 closed

[2020-01-08 01:01] erquhart commented on #52
Clarifying: this is basically a request for pull request comments to be readable/writable through the CMS for unpublished changes, with some additional info that's also available in pull request metadata from any Git host (Eg., who created it and when).

[2020-01-08 01:02] erquhart commented on #53
Going back to my comment from like two years ago - this is going to be rolled together with #52.

[2020-01-08 01:02] #53 closed

[2020-01-08 08:03] erezrokah commented on #3046
Hi @chokeul8r do you mind sharing your repo?

[2020-01-08 08:21] erezrokah commented on #1013
@erquhart I think it's worth separating this into separate issues. I marked a lot of the checkboxes related to API and E2E testing (and linting/formatting), though I'm not sure I understand what does "moving backends state to redux" means.

I think we've pretty much settled with Cypress for e2e testing (especially now that they have headless Chrome support).

After the BitBucket+GitLab editorial w

[2020-01-08 12:00] Delkathes opened #3048 "Cannot create content"
**Describe the bug**
I cannot create new content. The "New" buttons don't work. They open a blank page without any widgets (I'm still on the CMS and can navigate it).
But the old content is reachable and is editable. When I open them, I get the right content and widgets. Everything works.

Some error on Network :
Error : Request URL: https://cdnjs.cloudflare.com/ajax/libs/rollbar.js/2.4.2/rollbar.

[2020-01-08 12:57] Delkathes commented on #3048
I fixed the CDN import to 2.10.2. Seems like switching back to version 2.10.2 fixed my issue, but that's not a satisfying fix..

[2020-01-08 13:00] erezrokah commented on #3048
You're correct it is not a fix. Can you share your repo/link to your deploy CMS? I tried going to https://simone-duez.fr/admin, but that didn't work.

[2020-01-08 13:11] Delkathes commented on #3048
CMS path: https://simone-duez.fr/static/admin

The repo is private due to cloudinary API key in config.yml.

[pastebin link again](https://pastebin.com/BYXtwcfN) if that's helpful.

Sorry for giving you half of what you need.

[2020-01-08 14:03] erezrokah commented on #3046
Sorry for the late reply, hidden fields are meant to be used on folder collections when creating new items: https://www.netlifycms.org/docs/widgets/hidden/#hidden since they have a pre-defined uneditable value.

[2020-01-08 14:26] erezrokah commented on #3043
Please re-open when you have more information

[2020-01-08 14:26] #3043 closed

[2020-01-08 14:27] erezrokah commented on #1668
I'm not sure I understand the use case for absolute paths in `public_folder`. If the use case was just to fix image previews in the CMS, due to recent changes the CMS loads images only using the API and not from the published site.

The only place the `public_folder` is used is when populating widgets data to be later used by site generators to locate the image in the repository.

Regardless, I've

[2020-01-08 14:28] #1668 closed

[2020-01-08 15:21] #3048 closed

[2020-01-08 16:22] marcveens commented on #3039
@erquhart My issue has nothing to do with collections nor custom editor components. Might be another issue or do you think it's the same?

[2020-01-08 17:45] erezrokah commented on #3046
Changed the title to reflect the underlying issue.

[2020-01-09 00:56] erquhart opened #3053 "media_folder/public_folder on collections for absolute paths"
**Is your feature request related to a problem? Please describe.**

We now have **media_folder** at the collection level, which can work without **public_folder** for relative paths if the static site generator handles resolution at build time (Gatsby does this). For generators that don't resolve media paths at build time, absolute paths are used, but can still vary by collection. I'm seeing this

[2020-01-09 01:06] erquhart opened #3054 "String templating for collection level media_folder/public_folder"
Prerequisite: #3053

**Is your feature request related to a problem? Please describe.**

Collection level **media_folder**/**public_folder**, specifically for folder type collections, may require variable replacements for per-entry images. For example, the hugo docs site has a hosting and deployment section, and each entry has its own [subdirectory of images](https://github.com/gohugoio/hugoDocs/t

[2020-01-09 01:14] erquhart opened #3055 "Filename variable for config string templates"
**Is your feature request related to a problem? Please describe.**

An entry's filename sometimes uniquely represents a slug-style value that's used in other places in the entry. Hugo's docs have filenames that are also used as the name for the sub-directory that the images go in (within the centralized media folder, not relative). Because the filename isn't derived from a field in the entry front

[2020-01-09 01:22] erquhart opened #3056 "media_folder/public_folder string template variables"
**Is your feature request related to a problem? Please describe.**

It's common for collection and entry specific directories to be nested in the media_folder/public_folder. Once #3053 is in place, the base media_folder/public_folder would have to be manually entered for every collection, increasing the likelihood of mistakes and making it difficult to change the base media_folder/public_folder.

[2020-01-09 09:17] erezrokah opened #3057 "Feat: use react component for dialogs instead of window alerts"
**Is your feature request related to a problem? Please describe.**
There are several places in the code that use `window.confirm/alert` for dialogs (one example is when uploading an existing media file).

I think we should should consider switching to a friendlier UI (maybe we can use the existing `redux-notifications` package we're using for status messages).

**Describe the solution you'd like**

[2020-01-09 09:31] ymslavov opened #3058 "BitBucket media API returns error 500"
**Describe the bug**
I'm using a precompiled Netlify CMS version from https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js with a BitBucket implicit grant and client-only login (i.e. no backend of my own).

I was loading all content and images fine until yesterday, when I started receiving error 500 on the calls trying to list all my media uploads.

**To Reproduce**
1. GET request to https://a

[2020-01-09 10:03] #3058 closed

[2020-01-09 11:49] erezrokah commented on #2760
Closing as stale, please re-open with more info

[2020-01-09 11:49] #2760 closed

[2020-01-09 12:19] #2017 closed

[2020-01-09 12:21] #1909 closed

[2020-01-09 12:24] erezrokah commented on #2253
Closing as stale, please re-open if still happening

[2020-01-09 12:24] #2253 closed

[2020-01-09 15:45] johnpuddephatt commented on #3039
I've just run into this and I'm not using custom editor components either... just a few text inputs and a wysiwyg.

It's a problem because it prevents using editorial workflow – I can't publish because I'm told there are unsaved changes.

[2020-01-09 15:45] erezrokah commented on #3048
Fixed an released in `netlify-cms@2.10.4`

[2020-01-09 15:45] erezrokah commented on #3058
Fixed an released in `netlify-cms@2.10.4`

[2020-01-09 15:53] AimeexJB commented on #3037
It happened when I clicked in to open the entry!
https://github.com/AimeexJB/marie-hogan-singer   <--- this is the repo
I had to deleted the page manually from the repo becuase I never found fix for it!

[2020-01-09 18:02] rbriski opened #3061 "When changing a post title, a duplicate page is published at a different URL"
I am using the "editorial workflow" with the Netlify CMS.  When I update the title on an already published post, the CMS updates the URL slug and publishes a duplicate post at the new URL.  Instead, it should update the title but leave the URL alone.

**Describe the bug**
I am using the "editorial workflow" with the Netlify CMS.  When I update the title on an already published post, the CMS update

[2020-01-09 18:02] omawhite commented on #2735
Is there anything i can do to help make this a reality, or does the core team need to mull things over before there would be anything actionable for outside contributors?

[2020-01-09 18:22] erezrokah commented on #3061
Hi @rbriski do you mind sharing your repo? I tried reproducing and wasn't able to.
See these PRs updating existing posts:
https://github.com/erezrokah/gatsby-starter-netlify-cms/pull/17/files
https://github.com/erezrokah/gatsby-starter-netlify-cms/pull/19/files

[2020-01-09 18:26] erezrokah commented on #2735
Hi @omawhite we've already started using the compare API in the GitHub backend, and soon GitLab BitBucket so that part shouldn't be hard to expose. I think the UI aspect will take more thinking, but we will gladly accept outside contributors work (a mock up would be great).

[2020-01-09 18:59] timmysmalls commented on #2557
@erquhart Sounds great! As far as involvement is concerned, I'd love to take an active role in the process. I have to balance it with work, but I'm all for contributing to this project. Looks to me like the scope is quite large, so creating a good gameplan should be a major priority. A style guide and a basic pattern library should probably be the first step. It looks like @austincondiff already h

[2020-01-09 19:01] rbriski commented on #3061
I can't share the repo, it's not mine and it's private.  However, my commits look the same.  It's only changing the "Title" value.  The problem is that the URL for the page is updated and the old page still exists.

One thing I noticed is that `preview_path` is set to title.  So it might be that the preview path is the problem.  However, when I look at the XML sitemap, the URL for the page is the

[2020-01-09 20:41] hesstobi opened #3062 "Custom Preview: this.props.getAsset(image) is returning a promise after version 2.10.0"
**Describe the bug**
I followed the docs to create a custom image. But the

[code]

But the `this.props.getAsset` is returning a pending promise and the `toString()` will then give `[object promise]` thus the image is not displayed in the Preview.

**Expected behavior**
The result of the promises is needed to preview the image

**Applicable Versions:**

 - Netlify CMS version: 2.10.3, 2.10.4

Is i

[2020-01-09 21:30] erezrokah commented on #3062
This is an intentional breaking change we haven't documented yet (coming soon). It was done as a part of https://github.com/netlify/netlify-cms/pull/2958 as the previous version of `getAsset` was dependant on having the image published to the site for the CMS to display it.
You can see [here](https://github.com/netlify/netlify-cms/blob/24a81ef9b752c29a1643bd0a02fb2f46cc14920b/packages/netlify-cms-

[2020-01-09 21:36] erezrokah commented on #3061
If I remember correctly `preview_path` only affects the preview links (the screenshot here https://www.netlifycms.org/docs/deploy-preview-links/#using-deploy-preview-links) and when editing entries (not published ones).
Can you share  screenshots of `actual` vs `expected` so I can be sure I'm understanding you correctly?

[2020-01-10 14:42] borisschapira opened #3065 "UNPUBLISHED_ENTRY_PERSIST_FAILURE - API_ERROR: Reference already exists"
Hi you’ll.

I’m using NetlifyCMS on a website for several months now. Today, I no longer have access to editorial functions: my drafts no longer appear in “Workflow”, I am unable to save changes, and the buttons allowing to set statuses (Draft, Review, Ready) when making a change have disappeared. I don’t know where to start the debug to understand where the problem comes from…

Steps to reproduce

[2020-01-10 14:53] tomrutgers commented on #3065
That issue pops up when you're using the editorial workflow but already have a branch called cms. It’s fixed by removing the cms branch from the repo.

https://github.com/netlify/netlify-cms/issues/2827
https://github.com/netlify/netlify-cms/issues/2827

[2020-01-10 15:02] borisschapira commented on #3065
Oh damn, thanks, I did not found those issues earlier. Sorry.

[2020-01-10 15:02] #3065 closed

[2020-01-10 15:23] AChris07 commented on #2335
Bumping this for good measure. I'm currently in the same boat, configuring Netlify CMS for my Gatsby site, and I'd like to have a valid option to test locally first, rather than having to test remotely.

[2020-01-10 16:51] erezrokah commented on #2335
Best way to move this forward is up vote the issue. This is [currently number 3](https://github.com/netlify/netlify-cms/issues?q=is%3Aopen+is%3Aissue+sort%3Areactions-%2B1-desc) on our list.

[2020-01-10 17:29] danoszz commented on #2557
@erquhart I am down to take an active role in this process together w/ @austincondiff and @timmysmalls

Maybe, we can set up a meeting to syncronize about our plans and how we can proceed?

[2020-01-10 18:44] erquhart commented on #2557
![image](https://user-images.githubusercontent.com/2112202/72176297-18b30b80-33ac-11ea-97a0-650f78651819.png)

Sounds like we're all in!

A few responses:
- Agreed w/ @austincondiff that defining objectives (north star) is our first priority - the mocks above are solid, but a fair amount of out-of-scope new feature work would come with implementing the design as a whole.
- Agreed w/ @timmysmalls t

[2020-01-10 23:05] austincondiff commented on #2557
@erquhart Tuesday or Thursday both work for me depending on the time. I'd imagine evenings would work best for most people. Tuesday at 4pm or 5pm work for everybody? 🕓

It would also be helpful to communicate via something like Slack for smaller things and throughout the dev process for all working on this UI design effort. 📣

Regarding our north star ✨, as I was designing this I already new sever

[2020-01-10 23:07] tankadesign opened #3067 "Relation widget should produce a slug in the output"
The relation widget requires that you define the valueField, but you can't access the slug of a collection. For instance I have a collection of Pages. I created a Relation widget in a list that lets me create a menu of pages, but I would need the slug of the page collection item to be outputted so I can create a properly linked list of pages. Currently I can only get the title, which I need to slu

[2020-01-11 13:39] timmysmalls commented on #2557
I'm afraid tuesday probably won't work for me, however, thursday should be fine! If someone else can't make it thursday, you can shedule tuesday. It may be difficult to schedule something that works for everyone, so if not everyone can be present at a meeting, I think that's something we're going to have to get used to.

What timezone are we using by the way ;) ? I live in the Netherlands. I belie

[2020-01-11 22:27] rbriski commented on #3061
I'm going to close this.  It was a mistake in how the hugo config was set up.

[2020-01-11 22:27] #3061 closed

[2020-01-11 23:48] tomrutgers commented on #3061
Thanks for reporting back, glad it's resolved 👍

[2020-01-13 12:08] kylekirkby opened #3078 "Failure to load more than 43 entries for a Jekyll post collection"
**Describe the bug**

Failure to display more than 43 entries for a collection.

**To Reproduce**

Steps to reproduce the behaviour. For example:
1. Go to https://staging.linaro.org/admin/
2. Click on [Older Posts](https://staging.linaro.org/admin/#/collections/older_posts)
3. Compare list of entries with the list of posts in the repo here: https://github.com/Linaro/website/tree/develop/_posts/pre

[2020-01-13 14:12] erezrokah commented on #2961
I created a repo to simulate the issue:
https://github.com/erezrokah/netlify-cms-relation-widget/tree/master/content/stories
It has 3000 stories (tried 5000 at first but got hit by GitHub API limit).

I was able to search with `use_graphql: true` and `use_graphql: false`:

![image](https://user-images.githubusercontent.com/26760571/72262070-d3e2db00-361e-11ea-89db-8a864038211b.png)

But I had to w

[2020-01-13 15:28] #3062 closed

[2020-01-13 15:42] bencao commented on #54
definitely an up vote for this feature.

[2020-01-13 15:44] erezrokah commented on #3078
Hi @kylekirkby, some of those files have an `md` extension while others have `markdown`. The CMS shows the `md` files by default.
You can change the default by following https://www.netlifycms.org/docs/configuration-options/#extension-and-format

[2020-01-13 15:46] kylekirkby commented on #3078
@erezrokah - awesome spot! Let me test that now :)

[2020-01-13 15:55] bencao commented on #716
To provide a different perspective, my current approach for the issue is to setup separate netlify sites (and cms admin) for different locales.

the repo directory structure looks like this:

[code]

for different locale, I created netlify site with base directory to each locale, such as en.
`netlify.toml` file in the locale folder contains instructions for deployment:

[code]

`cms-config.yml` wi

[2020-01-13 17:32] erezrokah commented on #2961
Closing this, please re-open if necessary

[2020-01-13 17:32] #2961 closed

[2020-01-13 18:17] neilkinnish commented on #2961
@erezrokah Is 5k a hard limit for collections due to the github limits?

If so, having the ability to sort collections or list by date would be useful.

[2020-01-13 19:08] erezrokah commented on #2961
GitHub API has a [limit](https://developer.github.com/v3/#rate-limiting) of requests per hour of 5000.
I reached the limit since I didn't have any of the files cached locally so on initial load the CMS had to download all of them. We might be able to use the GraphQL API to batch file downloads, but regardless we should look into pagination like the other backends.

As for sorting, I completely agr

[2020-01-13 20:39] wing5wong opened #3081 "Copy/Paste text into markdown/rich text field gives duplicate text"
Recently started experiencing this issue after arriving back after christmas break using https://unpkg.com/netlify-cms@2.10.4/dist/netlify-cms.js as our script source

for example:
copy:
[code]

paste into field results in:
[code]

[2020-01-13 20:41] wing5wong commented on #3081
related: https://github.com/netlify/netlify-cms/issues/3017

[2020-01-13 21:21] neilkinnish commented on #2961
Thanks for the update 👍

[2020-01-13 23:33] erquhart commented on #3081
Putting up a fix

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-14 00:48] #3081 closed

[2020-01-14 01:00] erquhart commented on #2557
I believe @tomrutgers is in the Netherlands, and @erezrokah is in Israel, same timezone. We'll do it earlier in the day.

We can reference UTC time so we're all on the same page.

I have a bit less availability than I thought for Thursday - I can do 5pm UTC at the earliest. I'm pretty wide open on Friday, available 2pm UTC through end of day.

Once we agree on a time I'll send an invite out with a

[2020-01-14 06:50] erezrokah commented on #3078
@kylekirkby can we close this?

[2020-01-14 07:56] kylekirkby commented on #3078
Yes please close! - thanks for the help on this! Should have seen this myself!

[2020-01-14 07:56] #3078 closed

[2020-01-14 08:52] erezrokah commented on #2211
I've wasn't able to reproduce the original issue here https://github.com/erezrokah/netlify-cms-reproductions/commits/netlify_cms/issue_2211.
Here is the entry content:
https://github.com/erezrokah/netlify-cms-reproductions/pull/6/files

Since it looks like this issue can be reproduced in several ways, if you're experiencing it, can you share a the relevant `config.yml` and markdown content like @b

[2020-01-14 09:18] marcveens commented on #2211
@erezrokah I faced the same issue at #3039 with a really simple `config.yml`, could you try that one out?

[2020-01-14 09:50] erezrokah commented on #2211
Reproduces on this branch: https://github.com/erezrokah/netlify-cms-reproductions/tree/netlify_cms/issue_3039

[2020-01-14 10:34] mark-making commented on #1934
Such a great implementation, it would be great for the image preview to work in the editor. 😎

[2020-01-14 12:01] erezrokah commented on #2211
https://github.com/netlify/netlify-cms/issues/3039 is related to the fact that slate runs default schema validation as a part of the Core plugin https://github.com/ianstormtaylor/slate/blob/a0b7976cb9a2812d8d96361e9993fe8853a2cc64/packages/slate/src/plugins/core.js#L96.

Our `remarkToSlate` function here https://github.com/netlify/netlify-cms/blob/476f45096efa1723936a73f2e2e04d5c7ccd293f/packages/

[2020-01-14 12:46] danoszz commented on #2557
Great to see things working out this fast! Are you working on Fridays due to Shabbat @erezrokah? I am used to working on Sundays instead of Fridays if that works better for you.

My availability syncs with @erquhart.

* Thursday 5 PM UTC
* Friday 2 - 6 PM UTC
* Sunday 10 - 6 PM UTC

@timmysmalls and @tomrutgers are you located in Amsterdam? If you'd like, you are welcome to join us in our office f

[2020-01-14 13:13] erezrokah commented on #2557
I'm not working Fridays, but can make an exception (though not this Friday). Thursday 5PM UTC works for me.

[2020-01-14 13:19] andreamussap opened #3084 "configure deploy preview path when the file name doesn't match the page title"
The deploy preview link on Netlify CMS opens the **home** page of the preview, and a user has to navigate to the topic they changed.

I've read on [Netlify CMS docs](https://www.netlifycms.org/docs/deploy-preview-links/#configuring-preview-paths) that you can configure the preview paths to a specific page.

The instructions assume that you use a [slug](https://www.netlifycms.org/docs/configuration

[2020-01-14 13:34] erquhart commented on #2557
Sorry Erez, completely forgot you don’t work Fridays. Thanks for the meetup offer @danoszz !

Sounds like 5pm UTC is the time to beat.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-14 13:35] erezrokah commented on #3084
Hi @andreamussap, can you share your `config.yml`? Are you using a folder type collection or a files based collection?

[2020-01-14 13:37] erquhart commented on #3055
This would actually be a breaking change, need to consider how to add it without breaking. We should have a prefix for special replacements anyway to avoid field name conflicts.

[2020-01-14 13:38] erquhart commented on #3084
#3055 will introduce a {{filename}} variable, that’s likely the only way to address this.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-14 13:55] andreamussap commented on #3084
Thanks @erquhart I'm looking forward to this improvement :)

[2020-01-14 18:02] #3053 closed

[2020-01-14 22:15] #568 closed

[2020-01-15 02:16] kmariko-kanmu opened #3086 "An error occurred while trying to 'edit' my drafted content via 'Workflow editorial' mode"
![image](https://user-images.githubusercontent.com/47440880/72407690-be4aee00-37a3-11ea-999a-b613bc15090d.png)

 (this issue has been revised by reporter)

[2020-01-15 02:27] #2101 closed

[2020-01-15 06:31] erezrokah commented on #3086
Hi @kmariko-kanmu, can you share some more information regarding this error? For example: `config.yml`, console log messages, network traffic when the error occurs and possibly a repo reproducing the issue.

[2020-01-15 06:34] erezrokah commented on #2211
Closing this as I wasn't able to reproduce the original issue, #3039 is fixed by https://github.com/netlify/netlify-cms/pull/3085 and relation widget is covered by #725.
If anyone is experiencing this with a new use case please comment here with the relevant `config.yml` and preview templates (if relevant) or open a new issue.

[2020-01-15 06:35] #2211 closed

[2020-01-15 06:50] kmariko-kanmu commented on #3086
Hi Erez-san,

Thank you for your support. Actually I am an editorial staff and not much capable of go deeper about the situation - my colleague pointed https://github.com/netlify/netlify-cms/commit/6f221ab3c18a0bb4ebff7269e16d21f89e119531 and told me that it seems there may be some error regarding Markdown treatment.
Yesterday (JST, 20-30 hour ago) did not encountered the error.

Transition was al

[2020-01-15 06:53] kmariko-kanmu commented on #3086
^ @erezrokah -san

[2020-01-15 06:55] erezrokah opened #3087 "Testing(plugins): think about testing for our SSG plugins"
See my comment [here](https://github.com/gatsbyjs/gatsby/pull/20589#issuecomment-574521700).

Adding my thoughts about the Gatsby plugin for now:

We need to make sure our Gatsby plugin is aligned with latest Gatsby core changes. One way to do it is a have a testing project that automatically updates to latest Gatsby version and run some tests with the latest version of the plugin.

[2020-01-15 07:09] erezrokah commented on #3086
Hi @kmariko-kanmu, this issue https://github.com/netlify/netlify-cms/issues/3037 was opened before https://github.com/netlify/netlify-cms/commit/6f221ab3c18a0bb4ebff7269e16d21f89e119531 was released so I don't think they are related.

I'll try to reproduce that issue as they have a repo I can use.

[2020-01-15 07:45] jkaan opened #3088 "Error while opening post: 1:1 Incorrectly eaten value"
**Describe the bug**

If I tap on any post, I get the following error:

![Screenshot 2020-01-15 at 08 40 30](https://user-images.githubusercontent.com/3824068/72414510-b2930380-3772-11ea-89c1-8c0f77798773.png)

**To Reproduce**

Repo is here: https://github.com/destination-unknown/destination-unknown-frontend.

If you login and then you click on any post, it shows this error.

**Expected behavior*

[2020-01-15 09:55] erezrokah opened #3090 "docs(list-widget): add missing `collapsed` option to list widget docs"
Open after a question on slack about setting the initial collapsed state of the list widget.
Noticed we have that [option](https://github.com/netlify/netlify-cms/blob/2e1e2197b0a8479c0c3d403b23eb7a404d63cb5a/packages/netlify-cms-widget-list/src/ListControl.js#L108), but it is not documented https://www.netlifycms.org/docs/widgets/#list

We should add it.

[2020-01-15 10:31] mariolopjr commented on #2808
Has anyone worked on this? I may take a stab -- having browser-based resizing and compression built-in could be cool for those who solely using Netlify CMS and git-backed storage.

[2020-01-15 11:09] erezrokah commented on #2808
Go for it @mariolopjr we would love the contribution

[2020-01-15 13:41] alexanderroidlhhs opened #3092 "Error when adding image"
Suddenly my netlify website is not working anymore.
Pages with images give the following error:

Error
There's been an error - please report it.

Details
1:1: Incorrectly eaten value: please report this warning on https://git.io/vg5Ft

Using:
netlify-cms@2.10.6
gridsome-plugin-netlify-cms@1.0.9

All the best,
Alex

[2020-01-15 13:42] erezrokah commented on #3092
Thanks for opening this. Closing as duplicate https://github.com/netlify/netlify-cms/issues/3088

[2020-01-15 13:42] #3092 closed

[2020-01-15 13:44] alexanderroidlhhs commented on #3088
I have the same issue
thanks @erezrokah for referring.

What I found is that it only happens to pages with images for me!

[2020-01-15 13:58] SergioMendolia opened #3093 "Media manager does not load media"
**Describe the bug**
Media manager does not display any image.
Thumbnails are still displayed when editing an element
Uploading an image makes the commit with the image, but the path is not updated in the element
There is an error in the console

**To Reproduce**
Try to add an image.

If necessary, I can give access to the repository

**Expected behavior**
Be able to add an image

**Screenshots**

[2020-01-15 14:24] JasonTame commented on #3088
Yes, I have the same problem - any page with an image shows the exact same error as the one reported.

[2020-01-15 14:30] erezrokah commented on #3093
@SergioMendolia if you can give me access to the repo that would speed things a lot... We have some e2e tests on `git-gateway` + GitHub + Netlify Large media and they're passing.

I'll try and reproduce but having access to the repo would be amazing

[2020-01-15 14:43] jtan25 opened #3094 "Using git gateway on localhost still points to localhost for authentication"
**Describe the bug**
Using git gateway locally renders the login page. But after clicking submit it still trys to authenticate through localhost/.identity/ .. instead of netlify identity gateway.

I've tried setting the netlifySiteUrl in localstorage but this will append this url to localhost --> localhost/{netlifySiteUrl} ...

React throws an error for the page with the following:
Error: Minified

[2020-01-15 15:04] erezrokah commented on #3093
Hi @SergioMendolia can you share some of the network traffic while the error occurs? Specifically on first load there should be a request to retrieve the media files list

[2020-01-15 15:28] #3088 closed

[2020-01-15 15:28] #3037 closed

[2020-01-15 15:28] #3086 closed

[2020-01-15 15:33] alexanderroidlhhs commented on #3088
But how do I update now to have this fixed?
I still have it in the backend.

[2020-01-15 15:51] jkaan commented on #3088
@alexanderroidlhhs As far as I could see they tagged a new release which is 2.10.7, so if you are using version 2.10.7 this will be solved.

How are you adding the Netlify CMS? Perhaps I could help with some instructions on how to update

[2020-01-15 15:56] erezrokah commented on #3088
Updating depends on your setup, either update your `package.json` to `netlify-cms@2.10.7`or `netlify-cms-app@2.11.4` and run `yarn install` or `npm run install`.
If you're loading via `unpkg` it should auto update if you're using a `^` like so:
[code]

[2020-01-15 16:09] jkaan commented on #3088
Works again, thanks a lot!

[2020-01-15 16:23] #3093 closed

[2020-01-15 16:48] bever1337 opened #3096 "Markdown body widget has inconsistent copy/paste behavior"
**Describe the bug**
The Netlify CMS appears to intercept keyboard commands. When trying to copy/paste content inside a markdown widget, Netlify sometimes encounters an error and pastes the wrong content instead of what is stored in the clipboard.

**To Reproduce**
1. I have only reproduced this on locally hosted production builds.
2. Go to add content to a folder collection with a markdown body w

[2020-01-15 17:00] matteocargnelutti commented on #2518
Same issue here. Everything was working fine until this morning.

**Tried the following:**
- Clear cache and local storage
- De-activate / re-activate Git Gateway
- De-activate / re-activate Netlify Identity

[2020-01-15 17:11] erezrokah commented on #3096
Hi @bever1337, do you mind trying with latest versions, there have been some related fixes https://github.com/netlify/netlify-cms/issues/3081

[2020-01-15 17:17] erezrokah commented on #3094
The storage key should be `netlifySiteURL` (all uppercase URL) and absolute path (e.g. `https://site-id.netlify.com`.
Can you share your the value you're setting for the site URL?

[2020-01-15 17:24] matteocargnelutti commented on #2518
**Update:** The problem occurs on multiple of our websites since this morning. I tried to change the account used for the Git Gateway, which didn't work.

[2020-01-15 17:25] bever1337 commented on #3096
@erezrokah Thanks for the heads up. Any specific version I should test against? I first experienced this about a week ago and was too busy to write a ticket, but that's awesome someone else reproduced and fixed this so quickly.

[2020-01-15 17:40] erezrokah commented on #3096
`netlify-cms@2.10.7` or `netlify-cms-app@2.11.4`.
Bonus: you get editorial workflow for GitLab

[2020-01-15 18:28] bever1337 commented on #3096
I'm no longer able to reproduce any of the above behavior, but I'll let y'all know if I do find another way to reproduce. Thanks for the support!

[2020-01-15 19:33] erquhart commented on #2557
Invite has been sent for Thursday, Jan 16 (tomorrow) at 5pm UTC, with a Zoom link attached. Looking forward to it!

[2020-01-15 20:49] #3096 closed

[2020-01-15 21:26] matteocargnelutti commented on #2518
Having this exact same issue since 2.10.6: Some collections showing, but empty.
Forcing 2.10.5 circumvents the bug.

Checked the Network inspector: all the `.netlify/git/github/git/trees/x` requests are returning 200 and the payload they are expected to.

Thank you.

[2020-01-15 22:11] timmysmalls commented on #2557
I'm in! And thanks @danoszz, friday would have been fine for me to come to Amsterdam, but tomorrow I'll have to be here (in Leiden) all day. Looking forward to talking to you guys tomorrow!

[2020-01-16 00:00] alexbuiltit commented on #2557
Hey!

Thank you so much for including me in the conversation and I would love to be involved in improving the overall UI. Unfortunately, I am unable to make tomorrows meeting but still do want to be involved.

Hopefully, there will be a way I can catch up afterwards?

Cheers

[2020-01-16 00:04] austincondiff commented on #2557
I think it might be a good idea to post meeting notes here for all those that cannot attend. We will make a point to do that.

[2020-01-16 01:07] kmariko-kanmu commented on #3086
@erezrokah -san, @erquhart -san

Confirmed, thank you!

[2020-01-16 04:39] tyler71 commented on #2983
I don't mean to be [that one](https://xkcd.com/1172/), but is it possible to specify depth?
I have a wiki located at `/docs`, where I'd like to have all pages listed, eg `/docs/extra/info/site1.md`

[2020-01-16 07:58] erezrokah commented on #2983
Hi @tyler71 can you share your `config.yml`, repo structure and which files you want to load?

doing something like:

[code]

Should infer the correct depth from the path.
This would actually be the same as doing:

[code]

[2020-01-16 08:07] erezrokah commented on #2518
Hi @matteocargnelutti, as the original issue happens when using BitBucket and not git-gateway, do you mind opening a new issue with the relevant info (`config.yml`, network traffic, a reproduction repo would be amazing but I understand if you can't share it).

@aemonm the request to `.gitattributes` is expected to fail as it is a part of the mechanism the CMS uses to auto detect large media config

[2020-01-16 09:19] erezrokah commented on #2518
Reproduces [here](https://bitbucket.org/erezro/netlify-cms-reproductions/branch/netlify_cms/issue_2518).

The underlying issue is that we filter collection files based on the `extension: .html.md` field, but when getting each file extension we were retrieving just the `.md` part.

@matteocargnelutti I stand corrected. I think what you're experiencing is related since in https://github.com/netlify/

[2020-01-16 10:03] #2518 closed

[2020-01-16 13:56] kylekirkby opened #3098 "Folder Collections break with trailing / whilst using GraphQL API"
**Describe the bug**
Trailing slashes seem to break the loading of an individual collection item.

We recently enabled the `use_graphql` backend option in our NetlifyCMS config but it seems this breaks when a folder collection's path contains a trailing slash. I toggled this option and items were again loading correctly. It's strange as the collection items are listed fine but as soon as an attemp

[2020-01-16 14:43] #3098 closed

[2020-01-16 14:43] erezrokah commented on #3098
Thank you for reporting this!

[2020-01-16 14:52] kylekirkby commented on #3098
No problem! Team effort!

[2020-01-16 15:04] matteocargnelutti commented on #2518
@erezrokah Fantastic, thank you very much.
Do you still need me to open an issue, since you apparently figured it out: https://github.com/netlify/netlify-cms/pull/3097 ?

Thanks,

[2020-01-16 15:22] erezrokah commented on #2518
No need for a new issue at the moment. It would be great if you can confirm that you're having this issue with collections that specify an extension, at least until we get new release published.

[2020-01-16 15:22] tyler71 commented on #2983
I apologize, I meant I could have files anywhere in `/docs/`.

Here is my [config.yml](https://github.com/ledstrain/wiki.ledstrain.org/edit/master/static/contribute/config.yml)
[code]
I'd like all `*.md` files in [this dir](https://github.com/ledstrain/wiki.ledstrain.org/tree/master/content/docs) to be displayed, such as `content/docs/software/ios.md`. The following display, but no others:
[code]

[2020-01-16 15:26] erezrokah commented on #2983
Oh, I get it now. That's a bit more tricky than just exposing the depth as in your case you have `create: false`, but what do we do when someone has `create: true`?
New files will be saved under `content/docs`.

How about you open a new issue for it with this scenario?

[2020-01-16 15:28] matteocargnelutti commented on #2518
I can confirm that. It appears that only our `.html.md`-based collections are impacted 👍

**PS:** Netlify CMS is great and y'all doing a great job 🎉 .

[2020-01-16 15:37] erezrokah commented on #2518
Thanks @maciejmatu! This is now released in `netlify-cms@2.10.8` or `netlify-cms-app@2.11.5`

[2020-01-16 15:41] erquhart commented on #1715
`netlify-cms-app` can be used for applications that want to provide their own copy of React.

[2020-01-16 15:41] #1715 closed

[2020-01-16 15:51] erquhart opened #3100 "Differentiate built-in config template variables from fields"
**Is your feature request related to a problem? Please describe.**

String templates in the config, such as the slug field, accept field names as variables, but also some built in values like "slug" and "year" ([docs](https://www.netlifycms.org/docs/configuration-options/#slug)). When field names collide with these built in values, you can prefix the variable with "field." to access the field. Thi

[2020-01-16 16:04] tyler71 opened #3101 "Recursively look for files in folder"
Followup from: https://github.com/netlify/netlify-cms/issues/2983#issuecomment-575203602
@erezrokah

I am looking to modify all files in a directory, which will have sub-directories

Here is my [config.yml](https://github.com/ledstrain/wiki.ledstrain.org/edit/master/static/contribute/config.yml)
[code]
I'd like all `*.md` files in [this dir](https://github.com/ledstrain/wiki.ledstrain.org/tree/mas

[2020-01-16 16:05] erquhart commented on #1912
Not sure why I responded the way I did to this, but circling back, this request is for:

- a new **collection** variable
- a new **uri** variable - need info on what exactly this should be
- accepting **commit_messages** at the collection level

[2020-01-16 16:06] maciejmatu commented on #2518
@erezrokah Not sure if you mentioned the right person, I didn't do anything here 😄

[2020-01-16 16:07] #1899 closed

[2020-01-16 16:12] #3101 closed

[2020-01-16 16:19] erquhart commented on #1489
We need to combine the select and relation widget and just have a select widget with the optional ability to populate values via relation. This is outlined in https://github.com/netlify/netlify-cms/issues/391#issuecomment-485847524.

[2020-01-16 16:19] erquhart commented on #391
Remaining work for this issue will be covered under #1489.

[2020-01-16 16:19] #391 closed

[2020-01-16 16:40] erquhart commented on #1830
The Gatsby plugin was created to resolve this: https://www.gatsbyjs.org/packages/gatsby-plugin-netlify-cms/?=

[2020-01-16 16:40] #1830 closed

[2020-01-16 16:43] erquhart commented on #1829
This was completed in #2215.

[2020-01-16 16:43] #1829 closed

[2020-01-16 16:43] erquhart commented on #819
@erezrokah can you check whether we're still doing Git Gateway deletions without setting the author?

[2020-01-16 16:44] #1819 closed

[2020-01-16 16:49] erquhart commented on #1813
It's unorthodox, but I'd like to see this handled through a Config UI, which is on our roadmap - changing a field name through the UI would result in automatic migration behind the scenes. Doing so in a commit makes rolling back migrations trivial.

Related to #341

[2020-01-16 16:53] erquhart commented on #1800
This is possible by using a custom widget with an `isValid` method: https://www.netlifycms.org/docs/custom-widgets/#advanced-field-validation

[2020-01-16 16:53] #1800 closed

[2020-01-16 23:19] iredmedia commented on #2335
I'm excited for this, if I'm editing my admin (cms) config.yml to add new fields, i cannot test. Hopefully this upcoming change fixes this!

[2020-01-17 15:10] nathankitchen commented on #1181
@chrismade - looks like your branch is still the latest. I'm interested in assisting with this. @erquhart, is there any additional documentation we should look at to understand how to implement the Azure DevOps backend?

[2020-01-17 15:19] oliverpool commented on #1308
I was looking for that and just realized, that it has already been implemented!

[2020-01-17 16:32] vai0 commented on #2829
@TidyIQ have you found a solution to this? I'm experiencing the same issue - it doesn't stop me from publishing another entry with the same identifier field value. I'm using a gitlab backend

[2020-01-17 19:13] erquhart commented on #1181
@nathankitchen awesome! I'm going to mostly defer to @erezrokah, who recently rewrote, improved, and consolidated almost all of our backend code.

For reference, the GitLab backend should serve as a solid,current example: https://github.com/netlify/netlify-cms/tree/master/packages/netlify-cms-backend-gitlab

Backend testing is documented in the readme for the cypress directory: https://github.com/

[2020-01-17 19:14] erquhart commented on #1308
Ah, yeah this should have been closed.

[2020-01-17 19:14] #1308 closed

[2020-01-17 19:23] erquhart commented on #2829
I thought we fixed this in the past, might be a regression.

cc/ @erezrokah

[2020-01-17 19:23] chrismade commented on #1181
I'm happy to restart this if there is someone out there who is also willing to invest some time here - my activitity has stopped at 12-June-2019 re-working the netlify-cms-metadata from github to Azure - github allows to keep custom data in a /refs structure, Azure doesn't - creating a global /meta/ branch seems to be a promising workaround but I had to stop the activity as way too time consuming

[2020-01-17 19:29] erquhart opened #3102 "Add Storybook"
**Is your feature request related to a problem? Please describe.**

The Netlify CMS UI is difficult to reason about, test, and change due to lack of documentation.

**Describe the solution you'd like**

S t o r y b o o k

**Describe alternatives you've considered**

Other solutions like Docz, but Storybook is ridiculously stable and much better suited for handling both component documentation and

[2020-01-17 19:31] erquhart commented on #3102
@erezrokah will complete this issue with the initial integration of Storybook to the repo so that stories can be added by the community.

[2020-01-17 19:57] erquhart opened #3103 "Update Login Screen UI"
### Why
In support of #2557, this issue aims to provide an initial task to help stakeholders get acclimated to the project.

### Goal
Implement an updated login screen UI based on mockups by @AustinCondiff:

https://projects.invisionapp.com/share/3ATIRBHKW9F#/screens/380522637

<img width="1111" alt="Screen Shot 2020-01-16 at 3 19 19 PM" src="https://user-images.githubusercontent.com/2112202/72641

[2020-01-17 20:07] erquhart commented on #1181
The GitLab backend doesn't do metadata the way GitHub does - it just uses pull request labels, no metadata stuff. Should be much easier to handle.

[2020-01-17 20:07] #1787 closed

[2020-01-17 20:18] erquhart commented on #650
Fixed in #1955.

[2020-01-17 20:18] #650 closed

[2020-01-17 20:20] erquhart commented on #1745
Hmm bad take here on my part. CMS defaults should be applied for required fields regardless of whether the entry is new.

[2020-01-17 20:21] erquhart commented on #2164
Closing in favor of #1745.

[2020-01-17 20:21] #2164 closed

[2020-01-17 20:34] erquhart commented on #1186
Closing in favor of #1342.

[2020-01-17 20:34] #1186 closed

[2020-01-17 21:00] erquhart commented on #1794
It looks like this won't be added on Uploadcare's end [(source)](https://uploadcare.com/docs/guides/advanced/#uploaded-files-browser), so we'll need to track uploaded image info through the backend.

[2020-01-17 21:20] erquhart commented on #1746
The CMS originally worked this way, not sure when we moved away from it. HTML was treated the same as Markdown, frontmatter was assumed (Jekyll supports both Markdown and HTML, and frontmatter for both).

[2020-01-17 21:49] erquhart commented on #908
Related to #445.

[2020-01-17 21:49] #1742 closed

[2020-01-17 21:56] #1689 closed

[2020-01-18 04:01] #3094 closed

[2020-01-18 08:35] AbdifatahZamiir commented on #1046
is there any one who can help me to structure media_folder and public_folder `media_folder: static/images
public_folder: /images` after posting new blog the path of the image begins / and will be `image: /images/cold-conifer-dawn-917494.jpg` but my previous image path was like this `../../images/AfMiI.jpg` and the error will be **Field "image" must not have a selection since type "String" has no s

[2020-01-18 08:41] AbdifatahZamiir commented on #2264
s there any one who can help me to structure media_folder and public_folder media_folder: static/images public_folder: /images after posting new blog the path of the image begins / and will be image: /images/cold-conifer-dawn-917494.jpg but my previous image path was like this ../../images/AfMiI.jpg and the error will be **Field "image" must not have a selection since type "String" has no subfield

[2020-01-19 07:34] erezrokah commented on #1181
@chrismade The backends code is now in TypeScript, so a new backend needs to implement https://github.com/netlify/netlify-cms/blob/07fa5b316c142da7493eda16ae48ae8cd24b9606/packages/netlify-cms-lib-util/src/implementation.ts#L93.

Hopefully that makes it easier to know what the backend should return.
As @erquhart mentioned the GitLab backend makes a much better reference (also the BitBucket one whi

[2020-01-19 07:41] erezrokah commented on #2829
@TidyIQ, @vai0 can you share your `config.yml` so I can try to create a reproduction?
The CMS should generate a unique slug for each entry (postfixing an index in case of collisions).

[2020-01-19 08:15] erezrokah commented on #1046
Hi @AbdifatahZamiir can you please open a new issue with your scenario? (share the `config.yml` and repo is possible so we can reproduce it).

[2020-01-19 08:52] erezrokah commented on #2966
Looks like a duplicate of https://github.com/netlify/netlify-cms/issues/2966, @floo51 do you mind if I close this in favor of that issue?

[2020-01-19 08:58] erezrokah commented on #819
Doesn't reproduce here https://github.com/erezrokah/netlify-cms-reproductions/commits/netlify_cms/issue_819 (tested with git-gateway)

[2020-01-19 08:58] #819 closed

[2020-01-19 09:48] floo51 commented on #2966
I think you linked the wrong issue. If it's indeed a duplicate, go ahead and close this one.

[2020-01-19 09:54] erezrokah commented on #2966
Sorry, meant to link https://github.com/netlify/netlify-cms/issues/1794#issuecomment-575793103

[2020-01-19 09:55] #2966 closed

[2020-01-19 14:40] themre commented on #513
@omfgnuts can we see how we can use this feature? a lot of discussion was so I'm a bit confused which one it is :) thanks!

[2020-01-19 14:49] nonlinearcom commented on #513
I think this feature is only compatible with the editorial workflow, or at least that's how I get it working.

[2020-01-19 15:36] erezrokah commented on #513
Hi @nonlinearcom with the latest version of the CMS this is also supported with the simple workflow.

[2020-01-19 15:37] themre commented on #513
hi @erezrokah are there any docs about this? maybe would be nice also for others to see this. thanks!

[2020-01-19 15:38] erezrokah commented on #513
Hi @themre docs are under the beta section https://www.netlifycms.org/docs/beta-features/#folder-collections-path

[2020-01-19 15:53] #3102 closed

[2020-01-19 16:27] danoszz commented on #3103
@timmysmalls and I will be meeting up next week to nail the UI/UX implementation of this screen and document it in Storybook. 🪁

[2020-01-19 16:52] danoszz commented on #3006
@sten-dev It seems like it's an [NPM error](https://dev.to/stephencweiss/npm-cannot-read-property-match-of-undefined-238n). As suggested you can try to remove `node_modules` and `package-lock.json` and run `npm install`. Let me know if this works.

[2020-01-20 03:22] caseykey commented on #565
Any updates on this? I want to display a datetime widget only if a boolean widget is false.

[2020-01-20 07:22] erezrokah commented on #565
Hi @caseykey, we're working our way through the most upvoted issues first, so best way to push something forward is to upvote it.

[2020-01-20 12:34] mushkin-v commented on #549
any updates on this?

[2020-01-20 12:40] erezrokah commented on #549
Best way to push this forward is to upvote the issue as we use it for prioritization.
Regardless if you set a [summary](https://www.netlifycms.org/docs/configuration-options/#summary) on a collection using a field, the CMS should use it when searching.

[2020-01-20 12:42] garethdown44 commented on #2925
Where does it need to be moved to? @laurenskling when you shared your config there, is that before or after the move?

[2020-01-20 13:03] mushkin-v commented on #2350
The same problem - too many requests too quickly for the Bitbucket API... Any workaround for this?

[2020-01-20 13:14] erezrokah commented on #3006
Hi @sten-dev can you share your `config.yml` and Gatsby setup? I tried reproducing and the generated markdown looks ok to me https://github.com/erezrokah/netlify-cms-reproductions/pull/12/files

[2020-01-20 13:53] laurenskling commented on #2925
As long as the manifest comes before the CMS in your config, you'll be safe. Just put your CMS as far down as possible, I guess.

[2020-01-20 13:53] eele94 commented on #2350
I made a page where you load all sites in a Javascript variable and make a custom search bar that filters through that variable

[2020-01-20 14:36] mushkin-v commented on #2350
@eele94 Thank you, I know how to make a page, to load all info and to make a search on it, but how to put this page under CMS(bitbucket auth etc)?

[2020-01-20 14:59] eele94 commented on #2350
You can make the page with JSON output and do a request from netlifycms to the generated page. You have to fork netlifycms or add to /admin/index.html a small script to load custom search logic

[2020-01-20 15:13] mushkin-v commented on #2350
Thanks @eele94, for such a quick answer. I really don't want to fork CMS, but an option with /admin/index.html sounds interesting. So I can just put index.html in /admin folder, and CMS will override it? Maybe you know a link where a can read more about this? I don't remember such abilities in CMS docs((

[2020-01-20 15:42] eele94 commented on #2350
No add custom script to the /admin/index.html that does a JSON request to your custom searchdata page. You can hook the custom code for search bar  into the dom.

[2020-01-20 15:46] ryanfiller opened #3117 "Netlify LFS Media Manager incorrectly assembles image urls on localhost"
**Describe the bug**
When using Netlify Large Media, files are hosted on the master branch of the repository at the url specified in the CMS config `public_folder`. However, when running the CMS locally, the Media Manager is looking for images hosted on `localhost`.

**To Reproduce**
Any setup as outline above should reproduce the issue. My project can be cloned here - https://github.com/ryanfille

[2020-01-20 15:50] ryanfiller commented on #3117
This issue doesn't seem too terribly complicated on the surface, I'm interested in fixing it myself and creating a PR if someone could help and point me in the right direction.

[2020-01-20 17:12] oskery commented on #1498
I'm sorry to disturb this resolved matter but I am new here and don't understand. Is the possibility of adding an additional field to each entry (e.g. a date) in the admin dashboard something that is coming or something that we can implement ourselves? I looked at the EntryCard implementation but I am not experienced enough to understand the code. To me it seems like such a trivial thing from a us

[2020-01-20 17:52] erezrokah commented on #1206
Linking https://github.com/netlify/netlify-cms/pull/3106 as reference

[2020-01-20 18:03] erezrokah commented on #3117
Might be related https://github.com/netlify/netlify-cms/issues/1206#issuecomment-569706509

[2020-01-20 18:06] ryanfiller commented on #3117
@erezrokah Yes, this looks like its the same issue. I think the fix is to have the media manager always look to master/the deployed branch?

[2020-01-20 18:09] erezrokah commented on #3117
It should work that way - always get the data from the current branch. The code that loads the images is here: https://github.com/netlify/netlify-cms/blob/0755f90142525d94158c1d112a5549e21eef77c2/packages/netlify-cms-backend-git-gateway/src/implementation.ts#L434 is you want to try to debug it

[2020-01-20 19:26] caseykey commented on #565
Like give it a thumbs up?

[2020-01-20 20:10] erezrokah commented on #565
Exactly

[2020-01-20 20:13] mrmikszath opened #3119 "default hugo +netlify install error message"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: [e.g. GitHub, BitBucket]
 - OS: [e.g. Windows 7]
 - Browser version [e.g. chrome 22, safari 11]

 - Node.JS version:

**CMS configuration**

**Additional context**

[2020-01-20 23:20] caseykey commented on #3054
This would be great for a folder collection of json files. The relative media_folder would allow us to reference the json files using allFolderJson, then access the image by accessing JsonFolder/media_folder/{{slug}}/image.1png.

Current solution is to have subdirectories for folder collections using the `path` with a slug, but this makes it difficult to query the entries in the collection with Gr

[2020-01-21 06:18] erezrokah commented on #3119
Hi @mrmikszath can you share more information on the error you're experiencing and how to reproduce it? For example, your `config.yml`, `package.json`, hugo setup and if possible your repo.

[2020-01-21 07:53] erezrokah commented on #3006
Closing this due to lack of info

[2020-01-21 07:53] #3006 closed

[2020-01-21 07:58] erezrokah commented on #1498
@oskery We've started a new effort under https://github.com/netlify/netlify-cms/issues/2557. Feel free to comment on that issue.

[2020-01-21 09:11] hugurp commented on #2069
Hi!

I've encountered this issue trying to implement group based permissions for access right management to the repositories and groups of my organization (on Gitlab).

I am thinking it is maybe due to this issue in Gitlab:
https://gitlab.com/gitlab-org/gitlab-foss/issues/39154

Therefore the group memberships, for being allowed to access a repository, would not be under the key `permissions`, but

[2020-01-21 09:17] erezrokah commented on #2069
Hi @hugurp do you mind opening a new issue with a reproduction? The CMS checks the permissions here https://github.com/netlify/netlify-cms/blob/0755f90142525d94158c1d112a5549e21eef77c2/packages/netlify-cms-backend-gitlab/src/API.ts#L176.
It would be very helpful if you share the network traffic for the permissions request and the way you're setting group permissions.

[2020-01-21 10:15] hugurp opened #3120 "Gitlab backend does not respect a repository permission given to a user from its group memberships"
*Following https://github.com/netlify/netlify-cms/issues/2069*

**Describe the bug**
With the backend `gitlab`, netlifycms refuses login to a user which has write access given through its membership of group, which has itself write permission.

**To Reproduce**
On Gitlab:
1. create a group (organization) `test-group`
2. create a subgroup, `test-group/test-subgroup`
3. to `test-subgroup` add a `use

[2020-01-21 10:17] hugurp commented on #2069
Hi @erezrokah, thanks for the quick reply! Have opened a new issue. Hope it is clear :}

[2020-01-21 12:33] erezrokah commented on #3120
Tried to reproduce and I'm getting a valid `permissions` object:
![image](https://user-images.githubusercontent.com/26760571/72805023-8f78c000-3c5a-11ea-9065-415ebab07a84.png)

![image](https://user-images.githubusercontent.com/26760571/72805041-999abe80-3c5a-11ea-965d-b88bbb58ec7a.png)

When I login with `erezrokah-test`:
![image](https://user-images.githubusercontent.com/26760571/72805072-acad8e

[2020-01-21 13:28] hugurp commented on #3120
Thanks for trying to reproduce!

It seems on the screenshots that your two users are member of parent groups, and not only of the `test-subgroup`.

The user you are testing the login with, should not be added as a member of the project, but only as a member of the subgroup. The subgroup itself, is added as a member of the project, so your test user inherits permissions to write on the project from

[2020-01-21 13:49] erezrokah commented on #3120
Oh I think I got it to reproduce with your help:
![image](https://user-images.githubusercontent.com/26760571/72810063-893c1100-3c65-11ea-9a27-4b07f67aee9f.png)
![image](https://user-images.githubusercontent.com/26760571/72810106-978a2d00-3c65-11ea-82d1-8612c120a320.png)
![image](https://user-images.githubusercontent.com/26760571/72810144-a53fb280-3c65-11ea-98c2-23a7000a470e.png)

[2020-01-21 14:04] mrmikszath commented on #3119
Hi Erez,

i just clicked the hugo site starter here:

https://www.netlifycms.org/docs/start-with-a-template/

followed the original docs (click+deploy), and there was an error message.

Finally I deleted the site, and tried middleman script, and it works better.

Thanks for your quick reply!

Robbie

From: Erez Rokah <notifications@github.com>
Sent: Tuesday, January 21, 2020 7:18 AM
To: netlify/ne

[2020-01-21 14:17] erezrokah commented on #3120
@hugurp Looking at `shared_with_group` is not enough as the branch can be protected:
![image](https://user-images.githubusercontent.com/26760571/72811992-66abf700-3c69-11ea-9469-867f9dbb0e59.png)

Trying to test [this](https://docs.gitlab.com/ee/api/protected_branches.html#get-a-single-protected-branch-or-wildcard-protected-branch) now.

[2020-01-21 14:55] ryanfiller commented on #3117
So digging in, this seems a little more complicated than it did at first.
I don't actually have `netlify-cms-backend-git-gateway` as a requirement in my project, I have `netlify-cms-app`, which in turn requires `"netlify-cms-backend-git-gateway": "^2.6.0"`.

The monorepo is confusing me a little also - it seems like 2.6.0 is javascript but 2.6.2 has been converted over to typescript?

[2020-01-21 15:32] erezrokah commented on #3117
We've started converting parts of the repo to TypeScript.

[2020-01-21 15:54] hugurp commented on #3120
Wow! Thank you for all this, it has been extremely fast!
I am currently looking at the PR.
Will test it now locally to see if it works with my test groups and repo.

I don't think I am capable of giving an expert review on the PR though, as I do not know the project's code.

All in all, thank you!

[2020-01-21 16:04] erezrokah commented on #3120
Testing it locally is already a huge help, thanks :)

[2020-01-21 17:21] #3120 closed

[2020-01-21 17:50] zslabs opened #3123 "Failure to save: API_ERROR: Invalid tree info"
**Describe the bug**
Occasionally, our contributors are seeing the following when going back to revise a post that is not published yet, `API_ERROR: Invalid tree info`. I'm not sure if it's exclusive to non-published posts, but since I didn't see this error specifically in the issues so far, it seemed like a good idea to capture this one for others to help debug if they face it in the future.

**T

[2020-01-22 00:07] vai0 opened #3124 "Duplicate Entry should not be an option for File Collections"
**Describe the bug**
The "Duplicate" submenu option should not exist when viewing an entry in a file collection, since unlike folder collections, file collections do not have the option to create new entries in the collection.
![image](https://user-images.githubusercontent.com/1195698/72853867-7a565e00-3c67-11ea-8505-4847d35348d3.png)

**Applicable Versions:**

 - Netlify CMS version: 2.10.1
 - ga

[2020-01-22 00:23] vai0 commented on #2829
@erezrokah

Here is my config.yml
[code]
### Steps to reproduce
1. Click on an existing entry in folder collection
2. Click "duplicate" in submenu
![image](https://user-images.githubusercontent.com/1195698/72854478-5ac03500-3c69-11ea-88e0-9fc064f94665.png)
3. Entry is successfully duplicated, with a unique filename - however the `slug`, which is set as the `identifer_field` is same across both ent

[2020-01-22 07:10] erezrokah commented on #3123
Hi @zslabs and thank you for opening this. Can you share at least one collection setup this is happening for so we can try and create a reproduction? Also it would be very helpful if you can add the network traffic (from the browser dev tools) when the error occurs.

[2020-01-22 08:46] barthc commented on #2829
@vai0  So if the `identifier_field`  is the `title` string field, the CMS should also prevent commit if the duplicate `title` is the same with the original post?

[2020-01-22 10:24] Hasan-Shaker opened #3125 "Bug from /admin"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: [e.g. GitHub, BitBucket]
 - OS: [e.g. Windows 7]
 - Browser version [e.g. chrome 22, safari 11]

 - Node.JS version:

**CMS configuration**

**Additional context**

[2020-01-22 13:32] erezrokah commented on #3125
Hi @Hasan-Shaker, can you share some information about this issue?

[2020-01-22 18:01] futuregerald opened #3127 "Integration with Netlify Community"
We would like to add an integration so that when a user opens a PR in this repo and they have a netlify community, we automatically assign a Netlify OS Contributor badge to their user.

This integration would not use any private information, it will only use public github API's. It also does not require any additional permissions, it will just read the github user from a webhook, and send that to

[2020-01-22 18:42] #3054 closed

[2020-01-22 18:42] #3055 closed

[2020-01-22 18:42] #3056 closed

[2020-01-22 18:42] #3084 closed

[2020-01-22 18:57] caseykey opened #3128 "[uploadcare] Multiple images and JSON cause TypeError: Cannot convert object to primitive value"
**Describe the bug**
When using the Uploadcare media_library, you can upload multiple images. However, when I attempt to add multiple images to an entry which is saved as JSON, I encounter:
`TypeError: Cannot convert object to primitive value`
I tried to fix this by moving the image widget into an object and a list, neither fixed the issue. The error I encounter tells  me to save this before navig

[2020-01-22 19:25] caiofbpa opened #3129 "Workflow doesn't load when integrated with GitHub"
**Describe the bug**
We cannot open the workflow page on the CMS due to a `401 Unauthorized` error in a GitHub request.

**To Reproduce**
1. Log in with email and password
2. Click on the Workflow tab

**Expected behavior**
The Workflow page should load showing all pending posts

**Screenshots**
![Screen Shot 2020-01-22 at 16 19 22](https://user-images.githubusercontent.com/507356/72926498-4b0d230

[2020-01-22 19:29] caiofbpa commented on #3129
**Additional-context** (that I forgot to mention earlier)

We have already tried to refresh the `GitHub API access token` in netlify.com configuration page, and the issue persists. It seems to be some side effect of some netlify version released recently.

[2020-01-22 22:01] zslabs commented on #3123
@erezrokah Sure thing! Of course attempting to replicate is extremely random, but I'll definitely let those that have been affected know about opening up their Network tab to help debug as well if it happens again.

[code]

[2020-01-22 23:16] wslaghekke opened #3130 "cms-widget-image doesnt constrain thumbnail"
**Describe the bug**
When you add a portrait image to the image widget the image will go outside the widget (see attached image)

**To Reproduce**
1. Open the cms with any of the following versions listed below
2. Add a portrait image to an image widget
3. See the image overflowing like the attached image

**Expected behavior**
Image to stay inside the box

**Screenshots**
![brokenthumb](https://u

[2020-01-23 02:40] #3130 closed

[2020-01-23 03:09] flamebeard commented on #475
Was there any progress on this feature? I have just had a client express interest

[2020-01-23 03:17] erquhart opened #3132 "Collection media_folder ignored for absolute paths"
**Describe the bug**

If an image has an absolute path, the **media_folder** for the collection is ignored. Collection level media folders are assumed to only be used for relative paths.

Consider the following markdown snippets:

**content/docs/getting-started/with-github.md**
[code]

**content/docs/extending/overview.md**
[code]

The relevant configuration would look like:

[code]

Note the lead

[2020-01-23 08:53] erezrokah commented on #3125
Closing due to lack of info

[2020-01-23 08:53] #3125 closed

[2020-01-23 09:56] erezrokah commented on #3129
Hi @caiofbpa thank you for opening this. The CMS should not send requests directly to GitHub when using git-gateway.
Can you share this traffic?:
![image](https://user-images.githubusercontent.com/26760571/72974213-4bf79080-3dd7-11ea-9b82-6705f8272914.png)
![image](https://user-images.githubusercontent.com/26760571/72974257-603b8d80-3dd7-11ea-981a-72f2c65d4d44.png)

[2020-01-23 12:20] caiofbpa commented on #3129
Thanks @erezrokah for the swift response!

There were two `settings` in the Network tab:

First:
[code]

Second:
[code]

Hope this helps.

Regarding the latest version, I'll check why we're not on 2.10.11 and I'll get back to you on that.

[2020-01-23 12:29] caiofbpa commented on #3129
@erezrokah this issue is still happening on the 2.10.11:

![Screen Shot 2020-01-23 at 09 25 29](https://user-images.githubusercontent.com/507356/72984479-8a368500-3dc2-11ea-96f5-0ac27d6b70b6.png)

Just so you know, we're using the QuickStart method, basically on the `head`:

[code]
And on the `body`:
[code]

Hope this helps!

[2020-01-23 12:39] deleyva opened #3134 "netlify-cms on a gitbook"
I am trying to put in place the netlify-cms in a gitbook project.

## Problem 1

As I started this book without your cms I wasn't able to see the title of entries made by hand previously because they didn't have a frontmatter. I've added it by hand:

### I've added the frontmatter

![Selección_732](https://user-images.githubusercontent.com/10669244/72983820-86b2f600-3de2-11ea-947c-83502079c13a.png

[2020-01-23 13:26] erquhart commented on #3134
Try adding a blank line after the frontmatter.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-23 13:42] deleyva commented on #3134
Thanks @erquhart , but that didn't solve the issue.

[2020-01-23 13:54] erezrokah commented on #3123
I've set up this branch https://github.com/erezrokah/netlify-cms-reproductions/commits/netlify_cms/issue_3123 in an attempt to reproduce.

One thing to consider is that when saving an editorial workflow entry the CMS will try to rebase the editorial workflow entry branch with the default branch. That operation might fail.
When/If that happens for a specific entry, it would be useful to look at the

[2020-01-23 14:24] erezrokah commented on #3129
Hi @caiofbpa, thank you for your patience and info.
Both settings look OK (first is for Netlify Identity and second for Git-Gateway).

I tried re-creating a similar configuration here https://github.com/erezrokah/netlify-cms-reproductions/blob/netlify_cms/issue_3129/public/config.yml
And deployed here: https://pedantic-brahmagupta-7f915b.netlify.com and still can't reproduce.

Do you mind sharing

[2020-01-23 14:54] jklemm commented on #3129
Hi @erezrokah

We export the network data to .har file.  Can you import in your Chrome and analyse the data to us?

[mercos.netlify.com.har.zip](https://github.com/netlify/netlify-cms/files/4103637/mercos.netlify.com.har.zip)

Cheers.

[2020-01-23 15:08] erezrokah commented on #3129
Oh, I get it now - that is very helpful. The pull requests API is a paginated API which means the CMS will try to follow the link response header to get the extra pull requests (happens when you have more that 30 PRs). This works well when using GitHub directly, but when using git-gateway the CMS should rewrite the URLs to the git-gateway endpoint.

[2020-01-23 15:14] xrafs commented on #3129
Great to know!

I'll deal with the excessive number of PRs to solve now and keep the things going.

Thank you for your quick response and attention to that problem!

[2020-01-23 15:15] erezrokah commented on #3129
Thank you for being very responsive with the information :) This will prevent others from experiencing this issue.

[2020-01-23 16:36] zslabs commented on #3123
@erezrokah Thanks for setting that up! That is an interesting tidbit that I forgot to mention. While my changes were done in a different file/location, I did push to the repo between saves in the CMS. I'm not quite sure if this has happened during a "fresh" creation/save, but I can at least verify when it has happened there have not been any conflicts in GitHub.

[2020-01-23 16:50] erezrokah commented on #3123
Thanks @zslabs that helps. Another thing to try is actually do is cloning the repo locally, switching to the CMS branch with the relevant entry an attempting a rebase.

[2020-01-23 22:18] erquhart commented on #3134
Problem 2 is a known issue - we can't currently edit files with no frontmatter. Track #1767 for updates.

Regarding the bug, I need to reproduce. Can you confirm the version of the CMS that you're using? What you indicated is the range, but the exact version number is printed to the console on load.

[2020-01-24 02:14] #3129 closed

[2020-01-24 03:32] erquhart commented on #3127
@futuregerald ah this adds a badge on the Netlify Community side, got it. I’ll reach out separately to get the URL.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-24 03:32] #3127 closed

[2020-01-24 13:45] danoszz commented on #3103
@austincondiff to speed up the workflow, I've taken on your task if you don't mind. Attached below are the designs for the login screen w/o the `netlify-identity-widget` UI. This will be our starting point.

![mockup-login_V01 0](https://user-images.githubusercontent.com/14123926/73073693-2bebce00-3eb8-11ea-853f-d0f7e1f5df3b.png)

### What's next?

Today @timmysmalls and I will take an approach to

[2020-01-24 14:51] danoszz commented on #3103
### Progress log

We've decided on the following:

*  Design: the dark background will be on top instead of bottom - To grab the users attention for the login button, it should be high contrast with the background. Also this is pattern seen in the Netlify UI

**Pattern in Netlify UI**

<img width="1440" alt="Screen Shot 2020-01-24 at 15 49 58" src="https://user-images.githubusercontent.com/1412392

[2020-01-24 14:55] erquhart opened #3136 "Make netlify-cms-proxy-server run from the cli"
**Is your feature request related to a problem? Please describe.**

The proxy server has to be added as a dependency to be used within a project.

**Describe the solution you'd like**

`npx netlify-cms-proxy-server`

**Describe alternatives you've considered**

Nil

**Additional context**

Related to #2335

[2020-01-24 14:55] erquhart commented on #3136
@erezrokah thoughts? Security concerns?

[2020-01-24 16:43] traianrdev6 commented on #2829
I am also having this issue, would be nice to get this resolved or at least a workaround. We are trying to have comments that live in a database to be tied to a post so we need a unique identifier on the posts and we are seeing that the default identifier_field 'title' is allowing duplicates. We can't find any way to work around this either, if anyone knows a workaround that would be great.

[2020-01-24 18:29] danoszz commented on #3103
## Progress log

We've made a lot of progress today, this is our current progress:

- [x] Find a smooth working method together w/ @timmysmalls 👯‍♂️
- [x] Create additional login screen mockup with oauth button in place of form
- [x] Implement design - layout
- [x] Implement design - modal

### What's new?

Together we decided on the following. Hopefully, this is alright:

* We changed the design

[2020-01-24 20:18] zslabs commented on #3084
@erquhart If we instead have an optional `slug` field that should influence the preview link, is there anyway to set a fallback by chance to  `title`?

[2020-01-25 10:06] miedzyslowami commented on #3128
I have the same issue with cloudinary media library. I upgraded some packages and configuration that was correct previously stopped working with multiple files. And I am getting the same error as you. I think it might be netlify-cms-app bug :(

[2020-01-25 16:57] dubble-G opened #3138 "Duplicate WebHook created when enabling editorial mode for GitLab"
**Describe the bug**

I use GitLab.  My theory is that when I made a commit with a config change to enable editorial mode, a duplicate webhook was created in GitLab, resulting in duplicate builds.

**To Reproduce**

Yesterday afternoon, I added editorial mode to my config for use with GitLab.  Was not 100% sure the feature was ready, but decided to give it a try.  It seemed to work, as I could now

[2020-01-25 21:44] erezrokah commented on #3138
Hi @dubble-G and thank you for opening this. Did you make a commit directly using the GitLab interface? Locally and pushed it push to the branch?
I attempted to reproduce this issue by creating this repo https://gitlab.com/erezrokah/netlify-cms-reproductions/commits/netlify_cms/issue_3138, deploying to Netlify and pushing a commit to enable editorial workflow and only observed a single hook being

[2020-01-25 22:09] caseykey commented on #3128
Uploadcare contacted me and I let them know about our issue.

This was their response:

[2020-01-26 01:27] dubble-G commented on #3138
@erezrokah Thanks for the quick response!  I made the config change locally, committed it directly to my local development branch, and then did a git push to my gitlab repo.

I hit the api you gave me and the response only shows the original hook created on: Tue Nov 26 2019 11:37:51 GMT-0700

I'm assuming that even though I deleted the duplicate hook I found earlier today, it would still show a cr

[2020-01-26 06:12] joallard commented on #716
So I can see from #2988 that we're still looking for UI/UX solutions on this. Thanks @barthc for the initiative by the way!

To explain my background, I'm a francophone who's been scouring the English internets for a long time; translating Wordpress posts has been my job a long time ago; I've worked on Middleman's I18n features; and am a total UI-UX geek. So I've been thinking about localization i

[2020-01-26 06:33] joallard commented on #716
Now on to the index view and filtering:

(Keep in mind, I don't really know what the index view looks like, sorry about that)

---
<img width="694" alt="PNG image 2" src="https://user-images.githubusercontent.com/949482/73131505-1b337900-3fda-11ea-826c-cacb9c8214e2.png">
---

#### Index/Collection view
On the index view, I want to get a gist of which version is present or needs work ("done-ness").

[2020-01-26 17:52] erezrokah commented on #3128
@caseykey, @miedzyslowami thank you for reporting this and sorry for the late reply.
This is a bug that I introduced to due to recent changes and refactoring around the way the CMS handles media files.
I already have a [fix in place](https://github.com/netlify/netlify-cms/pull/3140). Will on getting this published soon.

[2020-01-26 17:57] erezrokah commented on #3138
My guess is that if the API returns deleted hooks it should have some kind of field to specify, so probably they only return current ones.

[2020-01-26 18:04] #3128 closed

[2020-01-27 09:04] nathankitchen commented on #1181
Started working on this here, if anyone is interested in tracking it:

https://github.com/nathankitchen/netlify-cms-backend-azure/tree/netlify-cms-backend-azure

Had a bit of fun pulling all the various strands of work together and updating to the latest netlify-cms/master, plus fixing a few headaches following the jump to TypeScript. Auth seems to be working.

Going to document what I've done and

[2020-01-27 11:09] deleyva commented on #3134
Node 10.18.1.

Debuging it in Google Chrome it fails executing this line:

[code]

Creating this scprit.js it does recognize `value` as a string:

[code]

As shown on the output:

[code]

[2020-01-27 12:42] chrismade commented on #1181
seems you cloned from jeepwram which doesn't include any of my work as he (she?) never responded to any PR - you may want to consider also my branch here:

https://github.com/chrismade/netlify-cms-backend-azure/tree/netlify-cms-backend-azure

branch "netlify-cms-backend-azure" - maybe the API.js and implementation.js are useful still (even if never completed) - I also spend some time to create a R

[2020-01-27 14:14] nathankitchen commented on #1181
@chrismade - Yeah, I realised your repo was more up-to-date after I'd cloned. I set up both `netlify/master` and `chrismade/netlify-cms-backend-azure' as remotes, checked out both branches, and then merged both over the top of @jeepwran before fixing the auth issues I was having. I have your comprehensive README too, so thanks for that.

[2020-01-27 16:31] dashpilot commented on #2324
Inspired by the Stackbit widget, I created a little widget that shows the current Netlify build status and integrates into Netlify CMS & Netlify Identity. You press save in Netlify CMS, visit your site, and you'll see the current build status of your site (only if you're logged in with Netlify Identity). In the background the widget polls the (included) Netlify function for the current build statu

[2020-01-27 17:04] dubble-G commented on #3138
Thanks again for your response.  I tell you what.  I'm wondering if there is something on my end that caused the duplicate hook.  I have a few ideas to try and repro on my end.  I'm going to try and play around with this and try a few things out and ensure that my workflow is correct.  I'll let you know either way.  I have some urgent api work I need to tend to (might eat up my entire day), but wi

[2020-01-27 18:04] wslaghekke opened #3151 "Error in AssetProxy causing empty media browser (Bitbucket + LFS)"
**Describe the bug**
When you add an image and refresh the page the CMS will try to restore the state from localStorage, however it has saved invalid images to localstorage (with Path, but no URL or FileObj)
Im not entirely sure how that scenario is meant to work, should the CMS only save concept images in local storage or should it save a blob for remote images too?

**To Reproduce**
1. Open the

[2020-01-28 05:07] jeepwran commented on #1181
Sorry never saw any PRs. Good to see the continued interest but simply have
no time to continue myself.

On Mon, Jan 27, 2020 at 6:42 AM chrismade <notifications@github.com> wrote:

[2020-01-28 05:53] erezrokah commented on #3138
Thanks for the update @dubble-G , closing this as it doesn't seem CMS related (though is Netlify related). Please re-open if needed when you have more info.

[2020-01-28 05:53] #3138 closed

[2020-01-28 17:21] erquhart opened #3157 "Media library empty when CMS loads on entry page"
**Describe the bug**

Media library not populated when CMS loads on an entry page.

**To Reproduce**

1. Go to [pages collection](https://gatsby-starter-netlify-cms-ci.netlify.com/admin/#/collections/pages) in the Gatsby starter demo
2. Open the Products Page entry
3. Click "Choose different image" in the first image field
4. Observe media library has all images from the global media library direc

[2020-01-28 17:39] erquhart opened #3158 "Draft image not showing in preview pane"
**Describe the bug**

Images that are newly uploaded from the entry page are not shown in the preview pane.

**To Reproduce**

1. Open the [products page entry](https://gatsby-starter-netlify-cms-ci.netlify.com/admin/#/collections/pages/entries/products) in the Gatsby starter demo
2. Click "choose a different image" in the first image field
3. Upload and select a new image
4. Observe image is show

[2020-01-28 17:44] mushkin-v opened #3159 "CMS Manual Initialization is not working"
**Describe the bug**
I have added manual init for my CMS and now it shows an error when I am trying to open mysite.com/admin/ on my Amazon S3 bucket(locally everything works fine).
Error msg:

Before manual init everything worked fine. I didn't add any changes to config.yml and it works great without manual init. I add changes only to my cms.js, now it looks like that:
[code]
And I also added _man

[2020-01-28 17:56] erezrokah commented on #3159
Hi @mushkin-v, thank you for reporting this. Can you share the developer tools network traffic (request/response) for the `config.yml`. It should be one of the first requests when you refresh the page.

[2020-01-28 18:33] #3132 closed

[2020-01-28 18:35] erquhart commented on #3159
An error in the console indicates that /admin/config.yml does not respond with a yaml file, likely as 404.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-28 18:37] mushkin-v commented on #3159
@erezrokah @erquhart config.yml code 200, screenshot:
https://monosnap.com/file/QqHDbbIVmH3qeFKYfoTDmxUAZaM1kH
Let me know if you need anything more. Thanks.

[2020-01-28 18:44] mushkin-v commented on #3159
First I thought that the issue is because of this msg in the console:

This is because Amazon does this with yml files. But without manual init I have the same msg and CMS works fine :(
When I am visiting mysite.com/admin/config.yml browser starts to download config file, so seems it is on its place.

[2020-01-28 21:01] saschatu commented on #2829
I faced the same issue and solved the Id creation issue like mentioned in this post at the end (widget generates ID, not editable for user - used as identifier field instead of title): https://jozefm.dev/articles/2019/06/18/gridsome-netlify-cms-collection-relations/

[2020-01-28 22:02] vai0 commented on #2829
@saschatu we've used this same exact uuid solution for some of our collections, but for others collections where we'd like the user to add a slug, and have that slug be what's unique - since we don't want one page overwriting another, the auto-uuid generation doesn't really work :/

[2020-01-28 22:07] erezrokah commented on #3159
Can you make sure the response for the `config.yml` file is identical to the one you have in your repo? 200 response code might also be when the site redirects to a custom error page.

If you could share at least part of the `config.yml` I could try to create a reproduction

[2020-01-28 22:28] #3124 closed

[2020-01-29 05:58] nholden opened #3163 "HTML tags in markdown fields break editorial workflow"
**Describe the bug**
When I configure the `publish_mode` for Netlify CMS to use `editorial_workflow` and I include an HTML tag inside of a Markdown field, I'm not able to publish changes.

**To Reproduce**
1. Spin up an instance of the Gatsby + Netlify CMS Starter app by clicking the "Deploy to Netlify" button in [this repo](https://github.com/netlify-templates/gatsby-starter-netlify-cms).
2. In t

[2020-01-29 07:44] mushkin-v commented on #3159
@erezrokah thanks for helping, I can download config.yml with url https://mysite.com/admin/config.yml and it looks fine(its the same, like in my repo). I deployed the project several times to S3 with different fixes and still have this error with manual init. When I turn off manual init, config.yml works fine for CMS, I can login edit fields and save them to repo. It was working fine for the last

[2020-01-29 10:18] mushkin-v commented on #3159
@erezrokah @erquhart I have solved my issue. The problem was in a content-type which Amazon S3 sets by default for yml files(Content-Type: binary/octet-stream). I added to my CI/CD pipeline:

And now CMS works fine. S3 returns config.yml with proper content-type text/yaml:
https://monosnap.com/file/ybOOvBGVjyBbe2kjITkk4ZB4waO4AN

I was confused in the beginning because without manual init everythi

[2020-01-29 10:48] Johnnybar opened #3164 "'Unable to access identity settings' when trying to log in to Netlify CMS"
**Describe the bug**
Receiving an error 'Unable to access identity settings. When using git-gateway backend make sure to enable Identity service and Git Gateway', when adding Netlify CMS to a Github Pages website.

**Detailed background and steps already tried**
Git Gateway is enabled in Netlify dashboard + added to backend name field in config, and required scripts have been added to index.html.

[2020-01-29 12:56] shmuelbarkin commented on #3158
@erquhart this typically happens when the image is very large (in size). Currently Netlify CMS does not handle very large images well in the control panel.

[2020-01-29 16:00] erquhart commented on #3158
Thanks @shmuelbarkin , this is happening regardless of image size, and only impacts the preview pane (shows fine in control pane). Might be worth opening an issue if you’re seeing large images fail to upload/insert properly, though. You can also block users from uploading undesirably large images with the [`max_file_size` media library config](https://www.netlifycms.org/docs/beta-features/#image-w

[2020-01-29 17:59] #3090 closed

[2020-01-29 20:41] erezrokah commented on #3159
Oh, thank you for letting us know. I just realized I has to do something similar in the past with AWS S3: https://github.com/erezrokah/gatsby-netlify-cms-aws-test/blob/c3e9d4ed55ee9531b01c50bd201d70afcd0601c1/.circleci/config.yml#L64 but forgotten about it. Closing

[2020-01-29 20:41] #3159 closed

[2020-01-29 20:52] erezrokah commented on #3164
Hi @Johnnybar, when you refresh the page you should see a request to retrieve the identity settings.
Something similar to:
![image](https://user-images.githubusercontent.com/26760571/73396340-04b94600-4296-11ea-8c13-0c36e31526de.png)
![image](https://user-images.githubusercontent.com/26760571/73396360-0daa1780-4296-11ea-88e6-0c3eff41bf0b.png)
Can you share that request/response?

[2020-01-29 22:11] wslaghekke commented on #3151
Possibly related to #3157

[2020-01-30 00:50] flacito commented on #1727
Consider the way tools like VuePress do themes:  https://vuepress.vuejs.org/theme/using-a-theme.html#using-a-theme-from-a-dependency.

A very small simple set of files and directory structure leads to great ways to totally customize the layout and look of the site.

[2020-01-30 05:13] erquhart opened #3167 "Stub: Centralize validation outside of the control component"
**Is your feature request related to a problem? Please describe.**

Field validation is implemented through multiple, somewhat conflicting methods that must be defined directly on the control component. If I want to do serious custom validation on a field with an existing widget, I can't - I have to make a new widget.

**Describe the solution you'd like**

Accept an `onValidate` method on the obje

[2020-01-30 10:26] Johnnybar commented on #3164
Hi @erezrokah, these are my request/responses
![1](https://user-images.githubusercontent.com/32452833/73441318-16145800-4353-11ea-8e2a-5a2e7d10da47.PNG)
![2](https://user-images.githubusercontent.com/32452833/73441491-5bd12080-4353-11ea-82f7-134b322d9b06.PNG)
![3](https://user-images.githubusercontent.com/32452833/73441496-5e337a80-4353-11ea-9da8-666a01db9765.PNG)
Thanks

[2020-01-30 16:07] erezrokah commented on #3164
@Johnnybar the identity widget should be loaded before the CMS. Not sure how you're seeing it load after as your `index.html` has it in the head tag, while the CMS is in the body tag.
Can you make sure the `index.html` that is returned from the server reflects the one in your issue. You can do that by looking at the page source.

[2020-01-30 19:27] ehayman commented on #1348
Just chiming in that this would be SUPER helpful for my project! Would love to see a path forward.

[2020-01-30 19:31] #3136 closed

[2020-01-30 19:46] erezrokah commented on #2335
Update:
We have the docs up https://www.netlifycms.org/docs/beta-features/#working-with-a-local-git-repository if anyone would like to try it out and give us some feedback.

[2020-01-30 21:22] dcastil opened #3169 "NetlifyCMS not working when too many unpublished articles in editorial workflow"
**Describe the bug**

NetlifyCMS fails to display content in the workflow page when there are more than 29 unpublished articles using GitHub.

**To Reproduce**

1. Set up NetlifyCMS for a site with editorial workflow and git-gateway backend.
2. Create at least 30 articles through NetlifyCMS, so that there are at least 30 pull requests open in the GitHub repo.
3. Navigate to workflow page in Netlif

[2020-01-31 01:01] erezrokah commented on #3169
Hi @dcastil this seems like a duplicate of https://github.com/netlify/netlify-cms/issues/3129. Can you please upgrade to latest version and verify it has been resolved?

[2020-01-31 07:02] erezrokah commented on #3119
Tried deploying the hugo starter from the link and it worked. Please re-open if you have more information about the error.

[2020-01-31 07:02] #3119 closed

[2020-01-31 09:11] thaihoa-fe commented on #2299
this feature should be great to have.

[2020-01-31 09:16] dcastil commented on #3169
Oh, I didn’t notice, thanks for letting me know!

Are squash merges available in `netlify-cms-app@2.11.12`? I’d like to keep that feature on if possible.

[2020-01-31 09:49] erquhart commented on #3169
Yep, that still works 👍

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-31 10:09] Johnnybar commented on #3164
@erezrokah yes, based on the page source,  it's the same `index.html` as the one under my admin directory.
Just to add some more info, in case it could be related to my Netlify dashboard, here's my domain config there:
![6](https://user-images.githubusercontent.com/32452833/73531127-14fa2e00-441a-11ea-94ce-0f0a7ebc4cc8.png)

[2020-01-31 10:11] dcastil commented on #3169
Cool, thanks for the swift response! 🙏 I'll close this for now and reopen if the same problem comes up in `^2.11.12`.

[2020-01-31 10:11] #3169 closed

[2020-01-31 15:37] mushkin-v commented on #3151
Hi guys, I have the same issue.

[2020-01-31 23:53] chriswthomson commented on #1342
This seems like a must have to me. For example, I should be able to define two objects - social (title, description, image) and seo (title, description) to use on all pages, and only have to define them once, instead of defining them for each collection type. Having to define them over and over again seems redundant.

[2020-01-31 23:59] barthc commented on #3158
@erquhart  the issue is with the starter template, the preview is trying to pull the image via the image widget value, but the image is not uploaded yet, that's why previously uploaded images works. Pulling the image url via `getAsset`  [here](https://github.com/netlify-templates/gatsby-starter-netlify-cms/blob/master/src/cms/preview-templates/ProductPagePreview.js#L17) will solve the issue.

[2020-02-01 00:49] #3163 closed

[2020-02-01 03:44] tiuweehan commented on #2954
Hi, I would like to work on this issue if it is available

[2020-02-01 04:19] erquhart commented on #1342
@chriswthomson this ticket is a nice-to-have for the most part. You can already reuse blocks of yaml ([source](https://yaml.org/type/merge.html)), and you can write your config in js ([source](https://www.netlifycms.org/docs/beta-features/#manual-initialization)).

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-01 11:16] adrian5 commented on #445
I want to point out that the introduction of the [`path` parameter](https://www.netlifycms.org/docs/beta-features/#folder-collections-path) introduces the problem of how to handle slug/frontmatter changes after the first save. So e.g. `/pages/{:year}/entry.md` or `/roster/{:team}/player.md` remain at their current location, even if the dynamic portion of their path changes.

[2020-02-01 13:27] mm0325kka opened #3178 "React error"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: [e.g. GitHub, BitBucket]
 - OS: [e.g. Windows 7]
 - Browser version [e.g. chrome 22, safari 11]

 - Node.JS version:

**CMS configuration**

**Additional context**

[2020-02-01 15:51] chriswthomson commented on #1342
@erquhart - OK thanks!

[2020-02-01 23:27] chrismade commented on #1181
@nathankitchen seems you are making good progress - does it make sense to follow your path and to start testing already - or support on a specific task ? If so could you kindly provide a sample of config.nrk.yml as (it looks like) new config properties have been introduced

[2020-02-02 03:46] erezrokah commented on #1181
Thanks everyone for pushing this through, I'll take care of adding cypress e2e tests (if you haven't done it yet) once you're done.

[2020-02-02 03:47] erezrokah commented on #3178
Hi @mm0325kka, can you share some more information on the error you're seeing?

[2020-02-02 03:50] erezrokah commented on #445
Hi @adrian5, thank you for pointing this out. I think the issue you mentioned is already present with the `slug` configuration as you could do `slug: {{year}}-{{title}}` but probably more prominent when using `path`.

[2020-02-02 03:51] erezrokah commented on #2954
Thanks @tiuweehan, we would love a PR for it.

[2020-02-02 14:54] SeanKilleen opened #3180 "Suggestion: Easier support for publishing posts some time after they're written"
I searched for this request but didn't see it anywhere specifically; if I missed, please feel free to link & close.

**Is your feature request related to a problem? Please describe.**

I have a number of posts that I batch up for future release. I don't have a set queue necessarily. So when I move an article out of review and publish it, it may show up earlier than other articles due to the date s

[2020-02-02 14:56] gvmohzibat commented on #2461
I got this error when I was publishing multiple files at the same time. Publishing them one by one solved the issue

[2020-02-02 15:02] SeanKilleen commented on #3180
Also a follow-up: If I'm doing something non-standard by putting the date slug into my markdown file names, I'm also up for switching up my system if there's a known compatible way to do this.

[2020-02-02 15:30] tiuweehan commented on #2959
Hi, is this issue available for me to work on?

[2020-02-02 17:27] CyrusDwayne commented on #2557
@austincondiff along with everyone else in the thread, **thank you** for putting in the time and brain power to work on improving Netlify CMS.

I would like to support the work in developing Netlify CMS. I'm still working my way through reading the entire thread, but I wanted to be sure to take action on the inspiration I'm feeling by sending this message.

Reading through the thread (so far) I ha

[2020-02-03 06:27] erezrokah commented on #2959
@tiuweehan, go for it. I think `Login with Netlify Identity` should be fixed by now, and the login modal might require fixing in https://github.com/netlify/netlify-identity-widget.

[2020-02-03 09:05] #2954 closed

[2020-02-03 09:43] #3178 closed

[2020-02-03 09:53] erezrokah commented on #1348
You can now add events handlers for `prePublish` and `postPublish` events: https://www.netlifycms.org/docs/beta-features/#registering-to-cms-events

Doesn't allow modifying the entry data before publish (at the moment and open to discussion) - can anyone share a use case for changing the data before publish that can't be achieved using a custom widget?

The reason for not allowing it yet is that i

[2020-02-03 10:17] erezrokah commented on #2557
@CyrusDwayne feel free to join our slack channel https://netlifycms.slack.com/archives/CSCTG14DQ

[2020-02-03 10:22] erezrokah commented on #3164
@Johnnybar, sorry for the late reply. Do you have the same issue when accessing the default domain? I'm getting 404 when try to access `https://laughing-pare-df22f2.netlify.com/admin`. Also you should probably resolve those DNS configuration issues.

I'm still missing the `identity/settings` request/response I attached earlier. They should appear right after you click `Login with Netlify Identity`

[2020-02-03 11:08] pniedzwiedzinski opened #3186 ""(optional)" field not translatable"
**Is your feature request related to a problem? Please describe.**
When a field is not required then `(optional)` string is appended to its label. It looks like it happens here:
https://github.com/netlify/netlify-cms/blob/92cad45120a327671e8ebe420c36f0d3278c1547/packages/netlify-cms-core/src/components/Editor/EditorControlPane/EditorControl.js#L232

**Describe the solution you'd like**
The solutio

[2020-02-03 11:27] erezrokah commented on #3186
Hi @pniedzwiedzinski, we're tracking such bugs here https://github.com/netlify/netlify-cms/issues/2959.
Do you mind closing this and moving your comment to that issue?

[2020-02-03 11:29] pniedzwiedzinski commented on #3186
Ok then, this will be in #2959

[2020-02-03 11:29] #3186 closed

[2020-02-03 11:36] pniedzwiedzinski commented on #2959
As I mentioned in #3186
![image](https://user-images.githubusercontent.com/19212948/73649909-22fdb800-4681-11ea-9601-55d2c4e67cf3.png)

[2020-02-03 11:42] pniedzwiedzinski commented on #2959
I already made this simple fix for that https://github.com/pniedzwiedzinski/netlify-cms/tree/optional-hardcoded, but I added only English and Polish translations.

Should we add all translations at once? And should we merge all these small fixes in one PR?

[2020-02-03 11:59] erezrokah commented on #2959
@pniedzwiedzinski your fix is already an improvement so thank you :) As each translation we have was contributed by a different persons(s), I don't think we need to wait. The process so far has been that people would close the gap from the english version when they have the time - we just need to expose a way for them to do so.

[2020-02-03 11:59] tiuweehan commented on #2959
@pniedzwiedzinski I created a [new branch on my fork](https://github.com/tiuweehan/netlify-cms/tree/remove-hard-coded-strings). Maybe you could make a PR to my fork first, then I will make a PR to this repo after I am done with the rest of the issues?

[2020-02-03 12:31] brianzelip commented on #1999
Are other people actually able to access their Cloudinary account via Netlify CMS? I'm not able to login, just keep getting stuck in an endless loop of showing the same screenshot.

Not sure why this is happening, I have confirmed that all Cloudinary credentials are correct, and am currently logged into Cloudinary in another browser tab.

![Imgur](https://i.imgur.com/Iw3btnU.png)

[2020-02-03 12:33] #3157 closed

[2020-02-03 15:10] pogo19 commented on #2246
If I am right, I've hit this as well. I have a folder collection on bitbucket backend with (beta feature) path: {{slug}}/index and local media (coming from Gatsby). When I query the collection, I do not only get index.md files but also some of the media files (JPG) ... but only some. For me it looks like the filtering after obtaining all the files from directory doesn't work.

If I can help, let m

[2020-02-03 15:15] erezrokah commented on #2246
BitBucket filtering should have been fixed here https://github.com/netlify/netlify-cms/issues/2518#issuecomment-575058760.

@pogo19 can you make sure you're on the latest version? If the problem still persists please share a `config.yml` that reproduces the issue.

[2020-02-03 15:40] pniedzwiedzinski opened #3188 "API_ERROR: Not Found"
**Describe the bug**
I have a git repo with posts stored in this structure: `wpisy/{{year}}/{{month}}/{{day}}/{{title}}.md`. And I wanted to add Netlify CMS to it. So I get it working but I can't add nor modify posts. When I modify an existing post I got this error:
![image](https://user-images.githubusercontent.com/19212948/73664318-7aab1c00-469f-11ea-8d4a-30276fef80b7.png)

The third error about

[2020-02-03 15:43] erezrokah commented on #3188
Hi @pniedzwiedzinski, `filename` and `extension` template variables are not available for `slug` and `path`. We actually use `slug` and `path` to generate the filename.

[2020-02-03 16:00] erezrokah commented on #1999
Hi @brianzelip, are there any error/warnings in the browser console log?

[2020-02-03 16:00] Johnnybar commented on #3164
@erezrokah you should now be able to access `https://laughing-pare-df22f2.netlify.com/admin`, but i'm getting a cryptic error after trying to log in with Github.
![loginerror](https://user-images.githubusercontent.com/32452833/73668810-b39abf00-46a6-11ea-8541-b26472cd40f2.png)

 I've set up a netlify DNS in the meanwhile, so not really sure if this is DNS-related.
Will it help to send you an invit

[2020-02-03 16:18] Johnnybar commented on #3164
@erezrokah Thanks for your help, I was finally able to log in, after fully configuring Netlify DNS and changing DNS settings on my domain. However, just wanted to check things are configured properly, since I'm getting the following error after logging in:
![error](https://user-images.githubusercontent.com/32452833/73670189-142afb80-46a9-11ea-850f-3187210244de.PNG)
Is this an issue on my side or n

[2020-02-03 16:42] erezrokah commented on #3164
Thanks for the update @Johnnybar, if you don't have any blog entries it should be find (usually happens when the CMS tries to access a non existing folder on GitHub).
I'm closing this issue - please re-open if necessary.

[2020-02-03 16:42] #3164 closed

[2020-02-03 17:03] delucis commented on #1348
@erezrokah My use case was for a last modified date field. This _can_ be achieved with a custom widget, but my effort a while back (see [my comment above](#issuecomment-387866733)) only allowed me to update that time when a post was opened for editing, not when it was saved, which I guess could be more idiomatically handled with `prePublish`.

[2020-02-03 17:07] erezrokah commented on #1348
Thanks @delucis, that does makes sense. Will keep the issue open for further discussion.

[2020-02-03 17:54] nayabbashasayed opened #3190 "[Jekyll][Netlify CMS] Working with existing _drafts directory"
I have a Jekyll blog hosted on netlify. I tried `netlify CMS` today and added collections for different categories of my posts.

Currently I am stuck at working with the drafts. I have few draft posts in the `_drafts` directory on which I am working on.

I tried `editorial_workflow`. But that is working for only freshly created posts (or drafts).

So I guess it's a good idea to make _drafts posts

[2020-02-03 18:20] brianzelip commented on #1999
Thanks for reaching out @erezrokah.

Since posting earlier, I logged in to both cloudinary and my netlify cms from a new computer, and the cloudinary authentication worked as expected. Not sure why it wasn't working from my normal dev computer - maybe a cache issue or something? If I continue to have problems on my dev computer I'll reach out in the Slack channel.

[2020-02-03 18:24] pniedzwiedzinski commented on #3188
Still not working though :/ I've got the same error

[code]

[2020-02-03 18:32] pniedzwiedzinski commented on #3188
Maybe that's because I'm using netlify cms from a different branch? And change will be applied to master

[2020-02-03 18:40] pniedzwiedzinski commented on #3188
nope

[2020-02-03 18:50] pniedzwiedzinski commented on #2984
![design](https://user-images.githubusercontent.com/19212948/73681293-53177c00-46be-11ea-9b37-0ffe074edf9c.gif)
Maybe something like this for the editor.

Also, the widgets need to be responsive.

[2020-02-03 20:00] tomrutgers commented on #3188
`API_ERROR: Not Found` is usually a sign that the CMS can't find your `media_folder`. Not sure if you should set it at all when using an external media library though..

[2020-02-03 20:04] tomrutgers commented on #3190
This question is answered on the [community forum](https://community.netlify.com/t/jekyll-netlify-cms-working-with-existing-drafts-directory/8353).

[2020-02-03 20:16] zslabs commented on #1999
A coworker also had this happen for them just in Chrome - Firefox worked fine. We never did figure out what was going on there; no console errors.

[2020-02-03 20:24] pniedzwiedzinski commented on #3188
I don't think it's a case with `media_folder` and even when I fixed it, I still got this error

[2020-02-04 05:59] nayabbashasayed commented on #3190
The answer in the community is to raise the feature request in github issues. And you just closed that.

[2020-02-04 07:03] pniedzwiedzinski commented on #3188
Maybe the error is caused by that: the repo is in an organization.

[2020-02-04 07:13] pniedzwiedzinski commented on #3188
I forked it and deployed and then it worked. So GitHub organization is the case here

[2020-02-04 07:18] pniedzwiedzinski commented on #3188
Ok, now it makes sense, here's the fix: https://github.com/netlify/netlify-cms/issues/2853#issuecomment-551865382

[2020-02-04 07:18] #3188 closed

[2020-02-04 07:23] erezrokah commented on #1999
No sure, but [this](https://blog.chromium.org/2019/10/developers-get-ready-for-new.html) might be related. Will have to look further on how the Cloudinary lib is working.

[2020-02-04 09:07] tomrutgers commented on #3190
A somewhat more generic solution: being able to move entries between collections.

[2020-02-04 09:13] #3151 closed

[2020-02-04 09:14] erezrokah commented on #3190
Also an option - provide a script/utility to migrate existing drafts.

[2020-02-04 10:08] ab180-wontakkim opened #3194 "!!"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**

 - Netlify CMS version: [e.g. 2.0.4]
 - Git provider: [e.g. GitHub, BitBucket]
 - OS: [e.g. Windows 7]
 - Browser version [e.g. chrome 22, safari 11]

 - Node.JS version:

**CMS configuration**

**Additional context**

[2020-02-04 10:22] erezrokah commented on #3194
Hi @ab180-wontakkim can you share some more information on the issue you're experiencing?

[2020-02-04 12:03] ab180-wontakkim commented on #3194
@erezrokah Oh sorry 'Netlify' directly guided to here when it crashed. I even didn't realize that I created ticket. I couldn't check what was issue so you can ignore this ticket.
Thanks for your help though

[2020-02-04 12:03] #3194 closed

[2020-02-04 13:03] erquhart commented on #3190
We were just talking about this last week, managing drafts the way that your static site generator does rather than relying on pull requests merges alone. Because this looks different for each SSG, it will likely be supported as a part of an SSG integration system, Eg., a Jekyll plugin for the CMS.

This isn’t ready to be worked on as the requisite APIs don’t exist in the CMS yet, but good to have

[2020-02-04 18:17] erquhart opened #3199 "Collection level media_folder needs to be entry level for file collections"
**Is your feature request related to a problem? Please describe.**

File collections can contain groups of entries that work quite differently from one another. Some entries may source their media from dedicated folders, Eg., a file with a list of authors and their bio pics.

**Describe the solution you'd like**

- **media_folder** for individual entries (file type collections only).
- the `{{medi

[2020-02-04 18:41] austincondiff commented on #2557
I realized I never considered how validation would work in our forms. Thoughts on this approach?
![image](https://user-images.githubusercontent.com/806104/73775458-8522ef80-474b-11ea-81e2-8eee9f7be645.png)

[2020-02-04 20:21] pogo19 commented on #2246
@erezrokah Thanks for looking into this.

I do have netlify-cms-app 2.11.13, so that the fix you mentioned is included. Maybe I am affected by different problem. If so, let me know and I will create a new issue. `config.yml` is below (with redacted repo and site).

[code]
In the image below, you see the collection "portfolio". All the entries with summary are MD files but those two entries without

[2020-02-04 22:48] erquhart opened #3201 "Field level media_folder 🙈"
**Is your feature request related to a problem? Please describe.**

I think we all knew it would get to this point :) A site of any complexity can easily have an entry with more than one source of images, and the CMS should be able to handle that.

**Describe the solution you'd like**

- provide necessary properties/methods to widgets so **media_folder**/**public_folder** can be implemented by any

[2020-02-04 22:54] tomrutgers commented on #3201
Would like to chime in for a subfolder per collection at this point.

Use case:
`images/uploads` as a site folder (about, hero and whatever content images)
`images/products` for product images
`images/posts` for blog posts

[2020-02-04 22:55] nathankitchen commented on #1181
@chrismade I'd love another set of eyes on it if you have time. I've committed a few more changes today which have enabled basic read/write capability: no workflow, just media and simple file edits.

I've also updated the [readme](https://github.com/nathankitchen/netlify-cms-backend-azure/tree/netlify-cms-backend-azure/packages/netlify-cms-backend-azure) in the Azure backend package with instructi

[2020-02-04 22:56] erquhart commented on #3201
We actually have that already!

https://www.netlifycms.org/docs/beta-features/#folder-collections-media-and-public-folder

[2020-02-04 23:03] tomrutgers commented on #3201
Damn I thought it was limited to saving images to the same folder as the markdown post, Gatsby style. Nice!

[2020-02-05 00:00] erquhart commented on #3201
@erezrokah removed low priority label, just ran into this requirement for a netlify.com page.

[2020-02-05 00:36] barthc commented on #3201
How about we pass them in as field config option?

[2020-02-05 00:43] erquhart commented on #3201
@barthc right, that's exactly the idea

[2020-02-05 09:01] mushkin-v opened #3202 "[Editorial workflow] Failed to load entry: API_ERROR"
**Describe the bug**
Hi Gents, I have an issue with editorial workflow. When I am opening my index page in CMS with saved draft edits I see errors and endless loading:

In my dev console I see two network requests which failed with 404:
[code]
[code]
Screenshot of them:
https://monosnap.com/file/nvmcrsA01HPikHaeYfTRQKFVNzgIrp

It is very strange because of "undefined" in the request URL. I thought

[2020-02-05 10:42] erezrokah opened #3203 "Discussion: Netlify CMS Office Hours"
In order to increase engagement with the community we would like to discuss the possibility of having office hours every week/two weeks.

### Purpose
Provide people with an opportunity to ask questions, provide feedback and contribute to the protect.

### Mechanism
Zoom?

### Agenda Proposals
- Collect questions before hand, answer the most upvoted ones.
- Demos of community projects/new features.

[2020-02-05 10:56] brianzelip commented on #3203
I think it's a great idea.

[2020-02-05 15:03] austincondiff commented on #2557
Dark mode anyone? 🌙😈
![netlify-cms-dark-mode](https://user-images.githubusercontent.com/806104/73853304-4433e500-47f6-11ea-811f-164df9c538aa.jpg)

[2020-02-05 15:10] d4rekanguok commented on #2557
Mobile support + darkmode = 💯. It would be great if the CMS' design theme or components are exported so third party plugins can easily use them as well!

[2020-02-05 15:45] erquhart opened #3204 "Remove double slashes from media_folder/public_folder"
**Is your feature request related to a problem? Please describe.**

There's bound to be confusion and mistakes around our cascading **media_folder**/**public_folder** string replacements. If your global value ends with a slash, and then you add a slash after including that value as a string replacement, you get an unexpected double slash:

[code]

**Describe the solution you'd like**

This potenti

[2020-02-05 19:35] mushkin-v commented on #3202
@barthc do you have any ideas why this could happen? Were you able to reproduce?

[2020-02-05 19:37] barthc commented on #3202
@mushkin-v  Yes, I was able to reproduce the issue. I am working on a proper fix for it. Just hold.

[2020-02-05 22:46] bobbymart1n commented on #725
Just curious, is there a workaround until this PR gets merged?

[2020-02-06 08:15] saschatu opened #3205 "Publish after Duplication stores previous instead of old value"
**Describe the bug**
Context is the need to have a unique ID the enduser cannot change (because this woul break all references/relations between objects). As basis I used the solution proposed in https://jozefm.dev/articles/2019/06/18/gridsome-netlify-cms-collection-relations/.

It turned out that duplication is tricky because this feature copies the ID field as well - but you can handle that by e

[2020-02-06 08:23] saschatu commented on #2829
Hi @vai0 ,
I agree with you and see the general need for defining unique fields - but would it be possible to use the ID as slug? So nothing "user defined" is the point. Checking that something manually defined by the user (like a title) is unqiue is probably more tricky from a technical point of view because you would need to pull all collection files from the repo and check the existing values.

[2020-02-06 08:49] erezrokah commented on #2829
This https://github.com/netlify/netlify-cms/issues/1348 might server as a solution once we enable modifying entry data in the hooks

[2020-02-06 08:53] erezrokah commented on #1617
closing in favour of https://github.com/netlify/netlify-cms/issues/1669

[2020-02-06 08:53] #1617 closed

[2020-02-06 09:05] saschatu commented on #3205
Sorry - I found the solution. Changing values directly was just a bad idea, I had to invoke onChange again in order to change the value back to new ID:
`const IdControl = window.createClass({

    getInitialState: function() {    return {};  },

    componentDidMount: function() {
        // If this widget doesn't have an ID yet we create one using the UUID package
        if (!this.props.value) {

[2020-02-06 09:05] #3205 closed

[2020-02-06 10:39] danoszz commented on #3103
@timmysmalls I am ready to do a PR for this issue, how's stuff going with the external provider buttons? Can I assist with anything?

Once we have the buttons, we can resolve this issue 🏄‍♂️

[2020-02-06 10:45] danoszz commented on #3103
Our first Storybook component is alive 🎡

![netlifycms-ux-auth-storybook](https://user-images.githubusercontent.com/14123926/73929880-e7a7f700-48d5-11ea-8848-f805af68bf3d.gif)

[2020-02-06 10:57] brianzelip opened #3206 "Cloudinary selected image previews not rendering in image widgets"
**Describe the bug**

I'm using Cloudinary for media library.

The selected image previews are not showing up in the admin page's image widgets. See screenshot:

![Netlify CMS admin page showing a Cloudinary image preview that doesn't render](https://i.imgur.com/YlC6qPC.png)

The one error in the console:

[code]

Here's my relevant `config.yml`:

[code]

**To Reproduce**

See screenshot above.

*

[2020-02-06 16:45] matthensley1 opened #3209 "Uncaught TypeError when removing empty list item"
**Describe the bug**
We have a simple list field on one of our collections which is used to build a photo gallery. The list item has a single field that is an image upload. When editing a post through the CMS, if the user adds multiple new list items to be populated, in some scenarios a javascript error prevents empty items from being removed (and if the image field is a required field within the

[2020-02-06 20:37] erquhart opened #3211 "Add default non-git file handling to proxy server"
**Is your feature request related to a problem? Please describe.**

Local development support is primarily about supporting setup and experimentation during site development, local content authoring is a secondary use case. Our current local development support is ideal for the latter, but not the former.

For example, a developer should be able to:
- edit their local cms config
- make changes in

[2020-02-07 07:21] Android0868 commented on #2989
https://github.com/Android0868/torch.github.io.git

[2020-02-07 19:45] thelovesmith commented on #2442
Hello I am also looking for a solution, the link @molove-gyq shared doesn't work for me.

[2020-02-07 21:28] chrismade commented on #1181
@nathankitchen config seems to work now but I run into lots of CORS problems (safari and chrome on MacOS) - are you using any browser-to-ignore-cors plugin or settings - or is it only me having these issues? I remember CORS was always a problem with local development

[2020-02-07 22:34] hzburki commented on #2057
@jakegore Hi I'm facing the same issue. Also, I have been unsuccessfully trying to create the preview component. I have styled the website but can't get the same styling for preview pane in NetlifyCMS.

Can you please refer me to the docs as well. Thanks

[2020-02-08 00:15] darbio commented on #2162
Any progress with this? I’d be keen to get this up and running with cognito as that’s what we use as our idp.

[2020-02-08 14:14] ChrisKinnan commented on #2518
I'm seeing this issue with git-gateway and Gatsby.  Netlify CMS isn't reading the local collections folder (in my case, content/posts )

[2020-02-09 00:04] nholden commented on #3163
Thanks so much, @erezrokah! Confirmed that this is fixed in the latest release. 🙏❤️

[2020-02-09 02:17] shafickr opened #3213 "Connect form input to Netlify CMS"
**Is your feature request related to a problem? Please describe.**
I'm wondering can I connect my form input in my site where user can put data and push it to Netlify CMS?

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-02-09 06:35] erezrokah commented on #2442
@thelovesmith can you open a new issue with a reproduction scenario? This issue is a bit stale and lacking in details.

[2020-02-09 06:36] erezrokah commented on #2057
https://www.netlifycms.org/docs/customization/

[2020-02-09 09:53] #3202 closed

[2020-02-09 17:10] erezrokah commented on #3199
Does bullet number 2 means we should join the two?
e.g.

[code]
Should return in `global/posts/post1` ? Or does it mean collection level overrides global one?

[2020-02-09 19:48] erquhart commented on #3199
@erezrokah yep, we should join the two, sort of a cascade.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-09 21:22] erquhart commented on #3199
Oh wait... no, don’t join. Not sure what I was thinking, global will already be included in collection level if desired.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-09 22:43] erquhart commented on #3199
If collection level media folder is not defined at all, though, then it should resolve to global.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-10 02:31] LAmango opened #3215 "Preview pane classnames are different when CMS is built so styles are getting used"
**Describe the bug**
When I work locally on the CMS the classnames are the same as the classnames I use for my preview template but when I push to GitHub and re-deploy the site, the classnames are uglified and obviously don't match the classnames I have in my css. I use css modules but it looks like the css is loading correctly in the cms.css file. I assume the uglified classnames are because of e

[2020-02-10 07:00] erezrokah commented on #3199
Cool, that should be covered in #3208

[2020-02-10 09:44] #2246 closed

[2020-02-10 09:52] erezrokah commented on #3206
Closing this as duplicate of https://github.com/netlify/netlify-cms/issues/1934

[2020-02-10 09:52] #3206 closed

[2020-02-10 10:55] mushkin-v commented on #3202
@barthc @erezrokah Hi guys, I updated my CMS to the latest version:
netlify-cms-app 2.11.14
netlify-cms-core 2.17.0

But I still can reproduce this issue:
https://monosnap.com/file/G4Sgu7pnIR1wnOSRzLHW3YIG5sL1Pn
https://monosnap.com/file/SDbXgrDBU5tok0q5YMbUo5n8XLZQho

Any ideas what could be the reason?

[2020-02-10 11:44] erquhart commented on #3202
@mushkin the fix still needs to be released.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-10 12:30] mushkin-v commented on #3202
@erquhart sorry, make sense. When can I expect a release of it?

[2020-02-10 14:55] austincondiff opened #3220 "Change dev server default port to something less generic"
**Is your feature request related to a problem? Please describe.**
Dev server port is too generic.

**Describe the solution you'd like**
Change the default dev server port to something less generic.

**Describe alternatives you've considered**
Allow developers to specify a `.env` or something to customize the port their dev server is run on.

**Additional context**
Port `8080` is a commonly used p

[2020-02-10 15:49] #3220 closed

[2020-02-10 16:05] #3201 closed

[2020-02-10 16:05] #3204 closed

[2020-02-10 16:05] #3199 closed

[2020-02-10 16:07] #3211 closed

[2020-02-10 16:13] guirreri opened #3222 "Default Custom Widget Starter example does not work."
**Describe the bug**
When setting up a default [Gridsome project](https://gridsome.org/docs/#1-install-gridsome-cli-tool), adding Netlify CMS, and then adding the [default custom Netlify CMS widget starter example](https://github.com/netlify/netlify-cms-widget-starter), the user can not view the Create form.

**To Reproduce**
1. Install [Gridsome CLI](https://gridsome.org/docs/#1-install-gridsome-

[2020-02-10 16:39] adrian5 commented on #3209
Can confirm. Image members of lists cannot be removed if they are empty/left untouched.

[2020-02-10 17:01] micahgodbolt commented on #3211
awesome! Can i try this in the current release?

[2020-02-10 17:19] erezrokah commented on #3211
We'll update here once we get it published with the version

[2020-02-10 17:21] erezrokah commented on #2794
Should be fixed with https://github.com/netlify/netlify-cms/pull/3208

[2020-02-10 17:21] #2794 closed

[2020-02-10 17:25] erezrokah commented on #2008
This should be fixed here https://github.com/netlify/netlify-cms/pull/3216.

Please re-open if issue still persists

[2020-02-10 17:25] #2008 closed

[2020-02-10 18:47] erquhart commented on #3211
@micahgodbolt this is released in netlify-cms@2.10.18 / netlify-cms-app@2.11.15, let us know how it works for you.

[2020-02-10 20:58] micahgodbolt commented on #3211
I don't see 2.11.15 in the app yet https://www.npmjs.com/package/netlify-cms-app

[2020-02-10 21:00] micahgodbolt commented on #3211
Ok, i was able to install .15 - odd that it hasn't shown up yet. I'll take a peak!

[2020-02-10 21:52] tayelno commented on #2350
Had same issue I have site with 5k+ pages in the same collection saved as frontmatter, tried adding editorial workflow, it sent many requests to Github, which actually blocked my github account for the whole day :(

[2020-02-10 21:56] pogo19 commented on #2246
@erezrokah Thanks a lot. I can confirm netlify-cms-app 2.11.15 fixes the problem for me :+1:

[2020-02-10 22:13] tayelno commented on #2350
after reading the architecture page on contribution guide here https://www.netlifycms.org/docs/architecture/

this section confused me

[code]

Does this mean each page is being returned by a single request, can't we just list all the files using `github` `gitlab` apis such as using `GET /repos/:owner/:repo/git/trees/:sha` once then search on the client-side ?

[2020-02-10 22:33] zslabs opened #3226 "Optional slug field - generating deploy preview links"
**Is your feature request related to a problem? Please describe.**
Somewhat related to [this PR](https://github.com/netlify/netlify-cms/issues/3084)

**Describe the solution you'd like**

We have blog posts that also have a custom `slug` field that can be filled out when desired to produce something different. Otherwise, it falls back to the `title`.

When the `slug` field is required, I can do `p

[2020-02-11 00:32] erquhart opened #3227 "Draft: Nested collections"
**Is your feature request related to a problem? Please describe.**

A site's page hierarchy can require pages and groups of pages to be created in a nested structure. A content editor working with such a site may need to:
- create new pages at various levels of the hierarchy
- create entirely new hierarchy levels within existing levels

Netlify CMS allows new entries to be created in folder type c

[2020-02-11 00:51] erquhart opened #3228 "fs-middleware not working with Windows path separators"
**Describe the bug**

The fs-middleware in the proxy backend reads in file paths literally, resulting in back slashes in paths for Windows users.

**To Reproduce**

Create an entry with proxy server on windows, then load the entry.

**Expected behavior**

Entry reads should work cross platform.

**Screenshots**

![112F8D74-52F2-4ED4-BC05-2D003DD92ACA](https://user-images.githubusercontent.com/2112

[2020-02-11 06:24] erezrokah commented on #2350
@tayelno The tree API will list the files, but not their content... We might be able to use the GitHub GraphQL API to list files and retrieve their content in one request.
As for hitting the limit of GitHub API, adding pagination to GitHub might help with that (avoids retrieving all the files on load), though not when running a search.
The challenge is similar to https://github.com/netlify/netlify

[2020-02-11 10:48] #3228 closed

[2020-02-11 12:31] ndalliard commented on #2335
I use this feature with great success. Thanks!

One thing I run into today: When I tried to upload an image (size `442K`) during the creation of a post, I got `PayloadTooLargeError: request entity too large at readStream` at the console where I run `npx netlify-cms-proxy-server` and `Failed to persist entry: SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data` on the

[2020-02-11 13:50] erezrokah commented on #2335
Thanks @ndalliard a fix for that was merged today https://github.com/netlify/netlify-cms/pull/3229/files#diff-216dd90ce734cc01217c9959f0b240d2R14

Apparently express's default for JSON body is something like 100kb

[2020-02-11 14:08] erezrokah commented on #329
https://github.com/netlify/netlify-cms/pull/3217 resolves this

[2020-02-11 14:08] #329 closed

[2020-02-11 17:48] tapjay commented on #2978
Were you guys able to work out what the issue was? It's looking like I am running into the same issue..

[2020-02-11 17:53] tomrutgers commented on #2978
Maybe a serviceworker or aggressive caching causing some trouble?

[2020-02-11 18:03] erezrokah commented on #2978
Hi @tapjay, can you share your repo? If not a `config.yml`, any custom previews you're registering and a screenshot will help a lot.
Also, are you experiencing it locally or on the published site?

[2020-02-11 18:19] tapjay commented on #2978
@tomrutgers I tried doing that again - same result I'm afraid.

@erezrokah Unfortunately I can't share the repo as it is for a client but I am not creating any custom previews. It is just using the Gatsby Netlify template with a subset of what was originally inside the `config.yml`.

In fact, when I try to view the preview of the index page now, I get the following error in the preview panel:

<im

[2020-02-11 18:47] stefanprobst opened #3234 "Missing file collection labels with local backend"
**Describe the bug**
On initial load, the labels of file-collection entries in the overview are missing when using the local backend, but work fine with the test-repo backend (haven't checked w/ other backends).

With local backend:
![netlifycms_local_backend](https://user-images.githubusercontent.com/20753323/74266615-dcedc780-4d04-11ea-9e96-59e510a292ef.png)

With test backend:
![netlifycms_test

[2020-02-11 19:20] erquhart opened #3235 "Media library should show a different set of images depending on how it was opened"
**Describe the bug**

- The media library is currently gathering all media folders from image widgets and the collection, and loading all images from those sources.
- Instead, it should be loading only images for the media_folder specified by the caller.
- Additionally, individual files in a collection should override (and optionally inherit from via `{{media_folder}}`) the file collection itself.

[2020-02-11 20:01] nelsonreitz commented on #2978
Found some new info for my initial issue. My preview templates were not updating because I couldn't login on my local netlifycms. Since I was using github auth, I was redirected to the live `xxx.netlify.com` instance (related to https://github.com/netlify/netlify-cms/issues/766 and https://github.com/netlify/netlify-identity-widget/issues/86).

I got my preview templates to behave correctly by usi

[2020-02-12 01:03] vitorregisrr commented on #725
Same here. Collections that have a "relation" widget just dont save. It's always with ""
I have a lot of collections that should have relations and no one works (but if i remove it, the collection saving works)
I really hope you guys can fix it, because i'm currently using basic string widgets in some places it should be relation because i cant see how to fix it. Thank you!
Here is an example:
[co

[2020-02-12 01:11] vitorregisrr commented on #2211
Same here. Collections that have a "relation" widget just dont save. It's always with "Unsaved" status after click on save. (The page just reloads).
The unique way to save is going to workflow and drag-in-drop to other status. But the "save" button dont work. It's really bad for non-technical users :/
I have a lot of collections that should have relations and no one works (but if i remove it, the

[2020-02-12 01:12] vitorregisrr commented on #2211
Same here. Collections that have a "relation" widget just dont save. It's always with "Unsaved" status after click on save. (The page just reloads).
The unique way to save is going to workflow and drag-in-drop to other status. But the "save" button dont work. It's really bad for non-technical users :/
I have a lot of collections that should have relations and no one works (but if i remove it, the

[2020-02-12 06:30] #2417 closed

[2020-02-12 07:40] jtwillis92 opened #3238 "Allow Custom Route for CMS Admin"
**Is your feature request related to a problem? Please describe.**

When adding netlify-cms to an existing project, or using it in concert with a different admin panel it may make sense to put the CMS on a different route than `/admin`. For example, that route may already be taken by an existing application that adds in netlify-cms after the fact. In the current implementation I do not see a way t

[2020-02-12 07:44] erezrokah commented on #3238
Hi @jtwillis92 can you share your site configuration (how you're integration the CMS into your site)?

The CMS is a self contained Web App and changing the route usually means just moving it to a directory with a different name than `admin`

[2020-02-12 07:48] jtwillis92 commented on #3238
@erezrokah thanks for the quick response!

The site was originally pulled from the Gatsby netlify-cms starter and just has a folder under `/static` labelled `admin` with the config.yml file located inside.

[2020-02-12 07:56] #3234 closed

[2020-02-12 08:00] erezrokah commented on #3238
You should be able to rename that directory and set the public path in the plugin options change the route:
https://www.gatsbyjs.org/packages/gatsby-plugin-netlify-cms/#publicpath

[2020-02-12 13:50] jtwillis92 commented on #3238
Awesome! I didn't know about that config option - thanks so much.

[2020-02-12 13:50] #3238 closed

[2020-02-12 14:06] mushkin-v commented on #3202
@barthc @erquhart Thanks! Everything is working fine now, no undefined requests anymore!

[2020-02-12 15:00] erquhart opened #3240 "Directory navigation in the media library"
**Is your feature request related to a problem? Please describe.**

This feature would be extremely useful in general, but is a requirement for the following common use case:

- A markdown collection has existing entries
- Images in the bodies of those files come from multiple directories
- The best the CMS can do currently is show one configured directory in the media library for the entire colle

[2020-02-12 15:01] erquhart commented on #1046
This issue became about three separate issues, two of which are resolved:
- per-collection media_folder/public_folder, resolved with #1472
- storing assets for an entry relative to the entry, also resolved with #1472
- navigating directories in the media library, the original purpose of this issue

For clarity, the third point will be covered under #3240.

[2020-02-12 15:01] #1046 closed

[2020-02-12 15:18] erquhart opened #3241 "Unexpected preview path for images outside of media_library"
**Describe the bug**

See #3240 for context. That issue is the final fix for this, this issue is toward graceful failure.

- If a collection of markdown documents have images from multiple directories in their document body, the CMS can only properly handle one of those directories.
- Images from outside that directory are shown in the CMS with `src` set to the media_folder, except in the case of

[2020-02-12 16:03] adrian5 opened #3242 "Folder collections path does not resolve collisions in {{slug}} section"
Posting here at the suggestion from the chat.

NetlifyCMS resolves regular filename collisions by appending a numeric index, e.g.

[code]

### Folder collections

I'm using the [folder collections path](https://www.netlifycms.org/docs/beta-features/#folder-collections-path) BETA feature like so: `{{slug}}/index`. The intent is to have a page bundle (as is common in some SSGs), i.e. one folder per

[2020-02-12 17:47] mmintel opened #3244 "Select multiple images"
**Describe the bug**
Hi there, no matter how I configure the CMS, I am not able to select multiple images in the images widget. As you can see in my config I have tried `allow_multiple` as well as passing a config to the media library (which is only necessary if I use a third party media library?)

**To Reproduce**
1. create a new post
2. select media
3. media browser opens
4. i click the first me

[2020-02-12 17:51] erezrokah commented on #3244
To get multiple image support you'll need to use an external media library like https://www.netlifycms.org/docs/cloudinary/

[2020-02-12 17:59] mmintel commented on #3244
Oh I saw that one but I thought it would be supported by filesystem for sure.. (why doesn't it?)

Anyway! Thanks and closing, now I know at least what the problem is 👍

[2020-02-12 17:59] #3244 closed

[2020-02-12 18:01] erezrokah commented on #3244
The challenge is to have the UI to handle file/image uploads. As described in #2243 we should really use an external package for it.

[2020-02-12 20:44] vai0 commented on #2829
@saschatu

Unfortunately - using ID's or appending them to the slug would be a no-go given the importance of SEO for our use-case.

Also - another big downside of setting a generated ID as the `identifer_field` is that it makes for a poor UX - a collection page displaying its entries would just be a list of uid's instead of a descriptive title.

We can work a temp solution around a unique slug by

[2020-02-12 20:53] vai0 commented on #2829
@barthc yes - IMO its an expectation that the identifier field be unique across all entries in the same collection.

[2020-02-12 21:44] saschatu commented on #2829
@vai0 check the summary field (https://www.netlifycms.org/docs/configuration-options/) its purpose is defining the text to be shown in the list ;)

[2020-02-12 22:45] vai0 opened #3246 "API exposing entry and collection data"
The problem I'm encountering ATM is an entry is not erroring when it has the same identifier field as another entry in the same collection. https://github.com/netlify/netlify-cms/issues/2829

As a potential workaround to this problem I see there exists the ability to "hook" into prepublish events with [`CMS.registerEventListener`](https://github.com/netlify/netlify-cms/blob/master/website/content/

[2020-02-13 00:20] zzrez opened #3247 "Unable to set password on first time login to Netlify CMS"
**The problem**
I used the Deploy to Netlify button to configure Netlify with git-gateway and user by invitation, but cannot login after receiving the invitation email. Clicking the link in the email opens the home page, not the CMS page with the Login by Netlify Identity button.

The repo was originally based on the Gatsby demo https://www.gatsbyjs.org/tutorial/blog-netlify-cms-tutorial/.

I trie

[2020-02-13 05:24] maxLatoche opened #3248 "Better error for Media assets modal -- TypeError: Arguments to path.join must be strings"
**Is your feature request related to a problem? Please describe.**
I was trying to add some media using a template with an outdated netlify-cms-app package, and after I updated to `netlify-cms-app@latest` (2.11.18) the Media Assets modal was broken.  I would try to upload an image and received this message.

<img width="636" alt="Screen Shot 2020-02-12 at 11 59 58 PM" src="https://user-images.gith

[2020-02-13 07:31] saschatu commented on #3246
HI @vai0,
since netlify CMS does not has its own persistancy you can use the API of the repository where the data is stored (e.g. GitHub). OR you get the API through other tools you maybe use anyways for buildign your website - e.g. gridsome, which loads the netlfiy CMS data (by parsing the files) and exposes a GraphQL to browse the data.
BR
Sascha

[2020-02-13 09:39] erezrokah commented on #3248
Hi @maxLatoche, can you share the `config.yml` that generated that issue?
When I remove the `media_folder` config I get this:
![image](https://user-images.githubusercontent.com/26760571/74421295-76c48a00-4e55-11ea-8010-d0f388b72bc8.png)

As it is validated here https://github.com/netlify/netlify-cms/blob/7784e780b8b172384da2c5a1bf5dba263015ba0d/packages/netlify-cms-core/src/constants/configSchema.

[2020-02-13 09:59] #3209 closed

[2020-02-13 11:05] cyrill62 commented on #3123
I seems to be related to the `relation` widget.

I have some content without this widget, and do not have this problem.

But with content with this widget and an entity in this relation field, the content won't save and fallback to "unsaved" state.

[2020-02-13 11:05] erezrokah commented on #2978
Is this the template you're using https://github.com/netlify-templates/gatsby-starter-netlify-cms?

I can see the index page with the latest version of the starter:
![image](https://user-images.githubusercontent.com/26760571/74428359-834edf80-4e61-11ea-9bfe-84b759f7d8ec.png)

[2020-02-13 11:11] erezrokah commented on #3123
@cyrill62 thank you for the info, there is an standing issue with relation widget showing unsaved changes https://github.com/netlify/netlify-cms/issues/725

[2020-02-13 12:09] #3158 closed

[2020-02-13 12:40] erezrokah commented on #3247
Hi @zzrez, are you using this plugin: https://github.com/tristpc/seedrez11/blob/82852216febaf1bf2dd3e13a73b661c05a3ea1fa/gatsby-config.js#L20

Looks like removing it solves it.

[2020-02-13 12:42] tomrutgers commented on #2978
The preview template probably doesn't match the data defined in `config.yml` anymore.. If you make changes to the data, you have to update your preview template accordingly @tapjay

[2020-02-13 13:27] erezrokah commented on #2775
Closing to due lack of response

[2020-02-13 13:27] #2775 closed

[2020-02-13 13:32] dieffe commented on #1338
I would need this as well.

[2020-02-13 13:39] gcutrini commented on #3201
Did PR #3208 introduced any backward incompatible change with config.xml?
Since netlify-cms@^2.10.18, when accessing a collection entry, getting:
Failed to load entry: t.has is not a function. (In 't.has("media_folder")', 't.has' is undefined)
Thanks!

[2020-02-13 13:59] erezrokah commented on #3201
Hi @gcutrini can you open an issue for it? This might be a bug

[2020-02-13 14:30] gcutrini opened #3251 "Error when accessing collection entry"
**Describe the bug**
When accessing a collection entry, getting:
"Failed to load entry: t.has is not a function. (In 't.has("media_folder")', 't.has' is undefined)"

**Screenshots**
<img width="1253" alt="ee982877-1202-4905-b714-0e97243e4d09" src="https://user-images.githubusercontent.com/2131727/74444354-82af4c80-4e53-11ea-84e8-f6f49815a74b.png">

**Applicable Versions:**
 - Netlify CMS version:

[2020-02-13 14:31] gcutrini commented on #3201
Created issue #3251.
Many thanks.

[2020-02-13 14:39] smashercosmo commented on #2335
It would be nice to have it also available as a middleware. So it could be easily attached to, for example, Gatsby dev server. Without starting a separate process.

[2020-02-13 14:45] smashercosmo commented on #2335
Also, when developing locally you don't usually want to make actual commits when editing content via cms. What you want is just writing changes to local files. What [netlify-cms-backend-fs](https://github.com/ADARTA/netlify-cms-components/tree/master/packages/netlify-cms-backend-fs) does.

[2020-02-13 15:09] erezrokah commented on #3251
Hi @gcutrini, thank you for opening this. I was able to trace this to an invalid field configuration (with previous CMS versions you would have seen `undefined` as the field):
https://github.com/AirshipWeb/airship-website/pull/68

This should actually be handled by better validation of our schema

[2020-02-13 15:14] erezrokah commented on #2335
That's actually the new default with the latest version of the proxy server

[2020-02-13 15:15] erezrokah commented on #2335
Our next step is to integrate it into the different SSG plugins

[2020-02-13 15:26] gcutrini commented on #3251
Thank you very much @erezrokah for catching our bug.
Hope it helped to raise awareness on schema validation.
I'll just go ahead and close.
Thanks again.

[2020-02-13 15:26] #3251 closed

[2020-02-13 15:48] zslabs commented on #3226
If I can provide anymore clarification, please let me know. If this is isn't possible right now - that's totally fine as well; just wanted to make sure I'm not missing anything. If someone knows of the file where this is done; I can also look into adding this functionality.

[2020-02-13 15:56] erezrokah commented on #3226
This is a good place to start:
https://github.com/netlify/netlify-cms/blob/8d67de0e681e02ddbf811eecc5e4744b324b7e61/packages/netlify-cms-core/src/lib/formatters.ts#L102

[2020-02-13 16:23] alexearnshaw opened #3253 "Images nested in lists removed by CMS"
**Describe the bug**
When I edit a topic via CMS that contains images located within a numbered list, the CMS removes the image ref from the Markdown completely. )This is visible in the diff of the PR that is created on Github.

The CMS also makes various other changes, especially in nested lists, which can result in the resulting HTML page not being rendered correctly by Hugo, but maybe that's an

[2020-02-13 16:23] zzrez commented on #3247
Hi @erezrokah , great removing that plugin really did solve the problem. Thanks, much appreciated.

[2020-02-13 16:23] #3247 closed

[2020-02-13 17:04] maxLatoche commented on #3248
netlify-cms-core 2.18.3

Here's the config that caused the problem, solved by adding the line
`media_folder: "static/images/uploads"`

[code]

[2020-02-13 17:28] erezrokah commented on #3248
Thanks @maxLatoche, do you also register the `uploadcare` library or just have it in the config?
e.g.

[code]

[2020-02-13 18:48] mediamaker commented on #3005
this would be a huge usability and productivity improvement.

[2020-02-13 19:01] czinkos opened #3254 "redirect_uri doesn't contain the query part of the CMS URL (implicit auth with gitlab)"
**Describe the bug**
Cannot use CMS at URL with query parameters. I'd like to use a query param to refer to different config.yml files:

  http://example.com/cms/v1/index.html?config=http://example.com/path/to/config.yml

After I login to gitlab it redirects back to:

  http://example.com/cms/v1/index.html

Result is: config.yml not found.

redirect_uri param in the auth request does not contain t

[2020-02-13 19:12] erquhart commented on #3253
@alexearnshaw this is likely a markdown processing issue, thank you for raising!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-13 23:08] mischa-s commented on #1999
just hit this today - wasn't working on firefox (normal or private mode) and then worked on chrome, seemingly the opposite of @zslabs experience, but I guess the tl;dr is it appears changing browser routes around whatever is happening

[2020-02-14 00:21] maxLatoche commented on #3248
It's just in the boilerplate config, I wasn't using uploadcare and don't have`netlify-cms-media-library-uploadcare` installed

[2020-02-14 11:34] brianzelip commented on #1999
I've been working with it more, and I think it has to do with being logged in to the same cloudinary account on two diff browsers or machines.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Thursday, February 13, 2020 6:08 PM, Mischa <notifications@github.com> wrote:

[2020-02-14 12:33] tomrndom commented on #3215
I had a similar problem with a site deployed on netlify.

The first time I deployed it the previews works fine, but after that if I modified the previews and re-deploy the site, It got broken and the class names loaded where similar to yours.

The only way I get it to look fine was to create a new site from zero and get the latest changes deployed.

[2020-02-14 13:11] erezrokah commented on #3248
Thanks @maxLatoche, since the `config.yml` includes `media_library` configuration it passes the initial validation without the `media_folder`, but fails to load external media library since it is not registered.
I've added another validation for it here:
https://github.com/netlify/netlify-cms/pull/3255

[2020-02-14 15:43] mushkin-v opened #3256 "CMS creates an empty branch and PR"
**Describe the bug**
When I save page where is no edits editorial_workflow creates an empty branch and PR in bitbucket repo.
And seems because of this CMS fails with error msg:
Failed to load entry: TypeError: Cannot destructure property 'newPath' of 'o.find(...)' as it is undefined.

Steps to reproduce:
1. Open any page
2. Add a any data to some input
3. Remove this data, to have the same state a

[2020-02-14 16:39] austincondiff opened #3257 "Add New Button Component"
Based on the design in #2557, add or update the `Button` component and any dependencies of this component to the project. Feel free to use [this CodeSandbox](https://codesandbox.io/s/netlify-cms-editor-design-j1cg3) for reference.

- [ ] Update or add component to project
- [ ] Add to Storybook
- [ ] Replace and use new component throughout project
- [ ] Write component tests
- [ ] Ensure tests pa

[2020-02-14 16:40] austincondiff opened #3258 "Add New Icon Component"
Based on the design in #2557, add or update the `Icon` component and any dependencies of this component to the project. Feel free to use [this CodeSandbox](https://codesandbox.io/s/netlify-cms-editor-design-j1cg3) for reference.

- [ ] Bring over the icon folder from CodeSandbox
- [ ] Update or add `Icon` component to project
- [ ] Add to Storybook
- [ ] Replace and use new component throughout pr

[2020-02-14 16:41] austincondiff opened #3259 "Add New Menu Component"
Based on the design in #2557, add or update the `Menu` component and any dependencies of this component to the project. Feel free to use [this CodeSandbox](https://codesandbox.io/s/netlify-cms-editor-design-j1cg3) for reference.

- [ ] Update or add component to project
- [ ] Add to Storybook
- [ ] Replace and use new component throughout project
- [ ] Write component tests
- [ ] Ensure tests pass

[2020-02-14 16:42] austincondiff opened #3260 "Add New Dialog Component"
Based on the design in #2557, add or update the `Dialog` component and any dependencies of this component to the project. Feel free to use [this CodeSandbox](https://codesandbox.io/s/netlify-cms-editor-design-j1cg3) for reference.

- [ ] Update or add component to project
- [ ] Add to Storybook
- [ ] Replace and use new component throughout project
- [ ] Write component tests
- [ ] Ensure tests pa

[2020-02-14 16:44] austincondiff opened #3261 "Add New Input Component"
Based on the design in #2557, add or update the `Input` component and any dependencies of this component to the project. Feel free to use [this CodeSandbox](https://codesandbox.io/s/netlify-cms-editor-design-j1cg3) for reference.

- [ ] Update or add component to project
- [ ] Add to Storybook
- [ ] Replace and use new component throughout project
- [ ] Write component tests
- [ ] Ensure tests pas

[2020-02-14 16:45] austincondiff opened #3262 "Add New Select Component"
Based on the design in #2557, add or update the `Select` component and any dependencies of this component to the project. Feel free to use [this CodeSandbox](https://codesandbox.io/s/netlify-cms-editor-design-j1cg3) for reference.

- [ ] Update or add component to project
- [ ] Add to Storybook
- [ ] Replace and use new component throughout project
- [ ] Write component tests
- [ ] Ensure tests pa

[2020-02-14 16:46] austincondiff opened #3263 "Update Header UI"
Based on the design in #2557, add or update the `Button` component and any dependencies of this component to the project. Feel free to use [this CodeSandbox](https://codesandbox.io/s/netlify-cms-editor-design-j1cg3) for reference.

- [ ] Change styles to match design
- [ ] Add to Storybook
- [ ] Write tests
- [ ] Ensure tests pass
- [ ] Open a pull request

[2020-02-14 16:49] austincondiff opened #3264 "Update Editor Form UI"
Based on the design in #2557, update the editor form UI in the project. Feel free to use [this CodeSandbox](https://codesandbox.io/s/netlify-cms-editor-design-j1cg3) for reference.

- [ ] Change styles to match design
- [ ] Add to Storybook
- [ ] Write tests
- [ ] Ensure tests pass
- [ ] Open a pull request

[2020-02-14 16:52] austincondiff opened #3265 "Update Entry List View UI"
Based on the design in #2557, update the entry list view UI in the project. Feel free to use [this InVision prototype](https://projects.invisionapp.com/share/3ATIRBHKW9F#/screens/379688154) for reference.

- [ ] Change styles to match design
- [ ] Add to Storybook
- [ ] Write tests
- [ ] Ensure tests pass
- [ ] Open a pull request

[2020-02-14 17:01] austincondiff opened #3266 "Add or update theme for use in all components"
Based on the design in #2557, update the header UI in the project. Feel free to use [this CodeSandbox](https://codesandbox.io/s/netlify-cms-editor-design-j1cg3) for reference.

- [ ] Architect and plan style theme for scalable use across the app
- [ ] Add colors, fonts, and other commonly referenced theme items
- [ ] Open a pull request

[2020-02-14 17:07] austincondiff opened #3267 "Dark mode 🌙"
Based on the design in #2557, and leveraging our existing theme, create a new theme that uses dark colors to support dark mode.

- [ ] Add dark theme
- [ ] Test code
- [ ] Open a pull request

[2020-02-14 20:31] #3235 closed

[2020-02-14 20:31] #3241 closed

[2020-02-14 20:32] #3248 closed

[2020-02-14 21:06] Benaiah opened #3268 "Docs: indentation is lost for code blocks inside list items"
**Describe the bug**
In both Firefox and Chromium, the code blocks on the page https://www.netlifycms.org/docs/authentication-backends/ which are inside of list items have no indentation preserved. Code blocks outside of list items appear normally.

**To Reproduce**
Visit https://www.netlifycms.org/docs/authentication-backends/

**Expected behavior**
Indentation should be preserved within all code

[2020-02-15 15:38] adrian5 opened #3270 "Support inserting list element at the top"
## Feature

It would be nice to have the option of inserting new items at the beginning of the list, instead of appending them at the end. This is vastly less efficient (the whole list has to be moved in the target document) but would greatly improve usability in some use cases.

Example: I have an image gallery constructed like so:

[code]

If the user adds a new image, it appears at the bottom,

[2020-02-15 17:50] tomrutgers commented on #3270
Related to #1244

[2020-02-16 16:52] emgjones commented on #2183
+1

[2020-02-17 00:39] nathankitchen commented on #1181
@chrismade No idea, I've not got any plugins running, just vanilla Safari. Current status is that editorial workflow is also now working, but it's really rough and I'm aware of several bugs that need addressing. After that I'll do some more comprehensive browser testing.

Pull my latest and try again, and if you're still having issues then post the details of your error messages? Also please doubl

[2020-02-17 08:44] mushkin-v commented on #3256
@barthc @erezrokah Can you help with this? Maybe some workaround? This is really annoying issue after empty PR "editorial workflow" and CMS can't get data from bitbucket and error is shown. The only way to fix this is to go to bitbucket and remove empty branch and PR.

[2020-02-17 15:05] #1745 closed

[2020-02-17 15:35] #3253 closed

[2020-02-17 21:42] chrismade commented on #1181
@nathankitchen plain vanilla safari allows to simply switch-off CORS checking in menu dev options - I've done this - for Chrome I added an extension to enable/disable CORS checking.
I also followed your instructions for 'manual setup' to create a new "App" - and changed this in config.yml (actually config.nrk.yml)
On my end MacOS 10.15.2 I see a lot of these errors:

[code]

which is usually an in

[2020-02-17 21:59] chrismade commented on #1181
confirmed ... the API call URL is valid and return the expected results in a isolated call (e.g. browser or cURL) but within netlify-cms localhost:8080 it returns 302 and redirects into revalidation https://spsprodweu3.vssps.visualstudio.com/_signin?realm=dev.azure.com&reply_to... even I sent a bearer token which looks ok -

[2020-02-18 00:26] nathankitchen commented on #1181
@chrismade Struggling to think of a reason why an identical call wouldn't work in the dev environment versus browser/cURL. I'm on 10.15.3, Safari, no plugins, nothing disabled in dev options (should work fine with CORS checks enabled). Drop your cache, delete everything in local storage, and try a fresh browser session?

[2020-02-18 02:45] casperleerink commented on #1999
Same issue here

[2020-02-18 10:12] stefanprobst opened #3280 "kitchen sink test will always set hasChanged to true"
**Describe the bug**

The current kitchen sink test includes example markdown, which will always toggle `hasChanged` when viewed with the `VisualEditor`.

**To Reproduce**

1. clone repo, change content of `dev-test` folder to include minimal `index.html` (just loading the cms) and following `config.yml`:
[code]
2. add `posts/my-post.md` with following content lifted from the kitchen sink test:
[c

[2020-02-18 10:54] pniedzwiedzinski commented on #3257
I would like to do it 😄

[2020-02-18 11:05] erezrokah commented on #3257
Thanks @pniedzwiedzinski! We'll be merging everything to https://github.com/netlify/netlify-cms/tree/future/v3 and I'll make sure to sync it with `master` once.

[2020-02-18 12:11] gileshinchcliff commented on #2335
I'm new to react and front-end tech so bear with me, but I'm having some issues following your guidelines. My config looks like this:
[code]

I've tried a few workarounds but it seems like I'm going round in circles. Any suggestions on how I can learn and develop locally.

[2020-02-18 14:17] erezrokah commented on #2335
@gileshinchcliff can you please open a new issue and share your `config.yml` and possibly the repo?

[2020-02-18 18:18] edbrannin opened #3283 "TypeError when `config.yml` requests a missing widget: Cannot read property 'validate' of undefined"
**Describe the bug**

Error when `config.yml` requests a missing widget

**To Reproduce**

1. In a working config.yml, capitalize the first letter of a stock widget.
2. Reload the page and make a new item in the collection you just updated.
3. See error.

Example:

[code]

(This also applies to `fields` in a list, etc.)

**Expected behavior**

* Replace the invalid widget with an error that says t

[2020-02-18 19:00] gileshinchcliff commented on #2335
@erezrokah sure.

[2020-02-18 21:25] fpunny commented on #3265
@austincondiff Hi I would love to try tackling this issue. Am I aiming to create the page itself (ie, the title, view toggle, add post button, and list), or only the list itself?

[2020-02-18 22:02] christopherdufort opened #3284 "Netlify CMS commits that are signed with a verified signature."
**Is your feature request related to a problem? Please describe.**
We try to enforce signed commits on our projects to ensure people are who they say they are when they commit to a repo, but we have to turn this setting off when creating repo's that can be committed to by Netlify cms.

**Describe the solution you'd like**
A way to have signed commits, possibly verified by using gpg keys.

**Descri

[2020-02-18 23:09] chrismade commented on #1181
@nathankitchen I think it is obvious that the token I get after sucessful login with localhost:8080 has still insufficient permissions to make an (Azure devOps) API call. In browser I have a valid cookie so the same call is working here - hence I need to review the AAD "manual setup" instructions if I missed out anything - or if you could spare 10mins ... you can create a new app and check if anyt

[2020-02-19 00:01] erquhart opened #3285 "The local development workflow should "just work" for most projects"
**Is your feature request related to a problem? Please describe.**

The local development flow is what most devs expect when running the CMS locally, but it isn't enabled by default, and often requires manually starting a server. It's also not obvious in the UI when the local development is enabled.

**Describe the solution you'd like**

Local development should "just work" for popular workflows,

[2020-02-19 00:02] erquhart opened #3286 "Indicate local development mode in UI"
**Is your feature request related to a problem? Please describe.**

It isn't obvious when the the CMS is running in local development mode.

**Describe the solution you'd like**

From #2335, but exact approach is up for discussion:

This could change, but the UI will likely consist of a conspicuous switch in the top right corner, near the user avatar, perhaps showing green when live and red when l

[2020-02-19 00:10] erquhart commented on #2335
I think we can safely consider this issue satisfied, remaining points will be covered under #3285.

Docs for current support: https://www.netlifycms.org/docs/beta-features/#working-with-a-local-git-repository

[2020-02-19 00:11] #2335 closed

[2020-02-19 00:29] erquhart commented on #716
@joallard I could have sworn I responded to your comments long ago, sorry about that.

I'm **really** loving the approach you've laid out. It brings the best of what we've discussed so far, rounds out the editor experience with sensible functionality, and matches really well to our current editor model (two big panes side by side).

This issue is very close to hitting active development, I'm in st

[2020-02-19 02:58] fpunny commented on #3265
Also should we keep the components as class based, or would you like me to migrate it to being functional components with hooks?

[2020-02-19 04:33] joallard commented on #716
@erquhart I'm really glad it's appreciated! I've been wanting to see a good I18n interface in a CMS for a *long* time. I'm open to be reached if there's any question or if I can help.

Since then I've taken a look at what Ghost does for blog articles (turns out their "multi-language" feature is not really one after all) and more precisely that fact that textareas don't scroll, they just expand/fil

[2020-02-19 07:17] pniedzwiedzinski commented on #3257
I was thinking about colors, maybe I could create a bootstrap-like api

### Success
![image](https://user-images.githubusercontent.com/19212948/74810657-27b4a400-52f0-11ea-9855-7c1b884d7958.png)

### Danger
![image](https://user-images.githubusercontent.com/19212948/74810606-0653b800-52f0-11ea-9ded-6a32ba321332.png)

### Normal
![image](https://user-images.githubusercontent.com/19212948/74810632-1

[2020-02-19 08:55] erezrokah commented on #3284
Thanks for opening this @christopherdufort, there are two challenges here:

1.  Finding a secure way to distribute the signing keys. I believe this will require some kind of backend that matches the user to its signing key and then prompts for the signing key password. Having a backend that stores all signing keys requires some considerations as well.
2. Implementing commit signing in the browser

[2020-02-19 10:39] mushkin-v opened #3288 "Bitbucket token dies and CMS fails"
**Describe the bug**
I am using a Bitbucket implicit auth. Bitbucket token dies in 1 hour and CMS doesn't handle this, it just shows an error and everything starts to hang. Not the best experience for a user, maybe you can catch 401 error and redirect a user to the login page?
Maybe you know some other workarounds? Can I handle this situation by myself?
Note that Bitbucket implicit auth doesn't ha

[2020-02-19 10:56] neilkinnish opened #3289 "use_graphql and WorkFlow issues"
Description:

When using GitHub as the backend and the setting `use_graphql` in the Netlify cms settings, the WorkFlow view throws the following error and won't continue loading when you have items unpublished (PRs) created through the CMS.

<img width="437" alt="Screenshot 2020-02-19 at 10 45 31" src="https://user-images.githubusercontent.com/147176/74828138-7ff6a080-5306-11ea-83f9-2e9bb0e7d7d8.p

[2020-02-19 10:58] erezrokah commented on #3289
Hi @neilkinnish, do you mind sharing your `config.yml` and possibly a repo as well?

[2020-02-19 11:07] neilkinnish commented on #3289
@erezrokah I can't share the repo unfortunately, but here is some more info.

- There is a PR which is the same as an item already merged in the content (collection), the PR has some slight differences.
- This error does not appear when `use_graphql` is `false`

I'm assuming the generated slug (generated from the title) is causing the issue here, possibly a bug which allowed this to generate in th

[2020-02-19 13:58] austincondiff commented on #3257
I've edited my first comment with a chart of the different buttons that should be available. Refer to it and my sandbox here https://codesandbox.io/s/netlify-cms-editor-design-j1cg3

[2020-02-19 15:02] austincondiff commented on #3265
@fpunny Take a look at this codesandbox, https://codesandbox.io/s/netlify-cms-editor-design-j1cg3

I want to try to follow the same approach taken here where we are using a theme so we can easily change between light and dark mode. We need to utilize some of these other components we will soon be creating.

I would like to go with functional components with hooks where possible but I understand th

[2020-02-19 15:52] erezrokah commented on #2978
Closing as the initial issue seems to be resolved. Please open a new issue with relevant information if still happening

[2020-02-19 15:52] #2978 closed

[2020-02-19 18:21] #3280 closed

[2020-02-19 19:06] carlmjohnson opened #3291 "Bold + Italics creates bad Markdown"
**Describe the bug**

My writers often want bold+italics, like

However, the Markdown editor creates this as

    ***[Spotlight PA](https://www.spotlightpa.org/)** is an independent, nonpartisan
    newsroom powered by The Philadelphia Inquirer in partnership with the Pittsburgh
    Post-Gazette and PennLive/Patriot-News.
    [Sign up for our free weekly newsletter.](https://www.spotlightpa.org/ne

[2020-02-19 19:34] pniedzwiedzinski commented on #3257
Okay, so I think this could work like this:

* `size` - the size of the button (size|medium)
* `type` - the type of the button (default|positive|negative)
* `primary` - if is primary

[code]

Should the icon button be in the same component? From what you sent they work a bit differently. I am thinking about creating the `IconButton` that will work like this:

* `type` - the type of the icon that w

[2020-02-19 19:57] pniedzwiedzinski commented on #3257
Okay, I misunderstood the concept of the icon, so this would be like this:

[code]

[2020-02-20 01:36] MilesRomney commented on #2868
Hey @kylekirkby, yeah I did, but @erezrokah clarified that they follow a carefully planned feature roadmap, and don't accept PRs without long-standing community discussion. (Fair enough.) So it's a non-starter for now.

The change is only one line of code (twice). Here's the commit on my fork: https://github.com/MilesRomney/netlify-cms/commit/0c6a719304453e28b1995767f164e3ff9d6cd6f9

I've packaged

[2020-02-20 06:39] erezrokah commented on #2868
Hi @MilesRomney, sorry for not being clear enough. We would love a PR for this (referencing your [previous pr](https://github.com/netlify/netlify-cms/pull/2858) for reference), but it should be implemented in a way that is consistent with the other methods of extending the CMS (e.g. `registerEntryCard` or something similar).

[2020-02-20 12:23] smashercosmo commented on #3222
Having the same issue. Tried to register custom widget and immediately got
[code]

[code]
[code]

[2020-02-20 13:24] tomrutgers commented on #3222
Related to #3283

[2020-02-20 13:30] smashercosmo commented on #3222
After some research figured out that in order to make custom widget work you have to wrap it in React.forwardRef

[2020-02-20 14:28] guirreri commented on #3222
Do you have an example of this?

[2020-02-20 15:54] bharrisau commented on #531
I've just patched this locally in `netlify-cms-core/src/backend.ts` functions `entryToRaw` and `entryWithFormat`. Around the calls to either `format.toFile` or `format.fromFile` I'm just doing a wrap/unwrap with a special key `rootArray`.

[code]

Not as clever as the approach mentioned above - but if you think of it as normalising files to always be a map instead of sometimes passing arrays aroun

[2020-02-20 17:51] bobbymart1n opened #3295 "Can't click login button after being logged out."
**Describe the bug**

After being logged out of the CMS, there seems to be a lot of `z-index` issues with the login flow. I can't click the `Login with Netlify Identity` button at all.

**To Reproduce**
1. Log out of your admin, or clear your application cache so you are forced to login with Netlify Identity again.
2. Navigate to your admin dashboard to get to the login flow.
3. Try clicking the L

[2020-02-20 17:58] erezrokah commented on #3295
Hi @bobbymart1n, I'm getting all 404 except the main index.html when trying to access the CMS:
![image](https://user-images.githubusercontent.com/26760571/74964034-faace200-5412-11ea-8074-f14f38954254.png)

[2020-02-20 18:24] bobbymart1n commented on #3295
This is actually a separate issue I've been having. If you use `/admin/` it should direct properly.

[2020-02-20 19:08] bobbymart1n commented on #3295
This is aside from the issue, but this isn't a valid CSS property
![Screenshot 2020-02-20 11 07 12](https://user-images.githubusercontent.com/5422085/74969321-358e2600-53d1-11ea-8c4f-7aedba3fcd59.png)
Its on the class `.visuallyHidden`

[2020-02-20 20:15] bobbymart1n commented on #3295
Is there any way to prompt the login flow via a URL? Other teams that I work with are blocked from entering the CMS currently

[2020-02-20 20:26] tomrutgers commented on #3295
It seems like the identity widget is initiated twice, I see two instances loaded in the DOM.

[2020-02-20 21:04] tomrutgers commented on #3295
You can read up on that discussion here: #332

[2020-02-20 21:10] fpunny commented on #3265
@austincondiff sounds good. Sorry for all the questions, this is my first netlify-cms ticket >.<. I would post some assets of my progress as I go to make sure I'm on track.

[2020-02-20 21:15] austincondiff commented on #3265
@fpunny I just invited you to the Netlify CMS Slack so you can ask as many questions as you need without too much clutter here. Please ping me after you join and we can chat about this issue a bit.

[2020-02-20 21:26] austincondiff opened #3296 "Add New Navigation Component"
Based on the design in #2557, add or update the navigation component in the project. Feel free to use [this InVision prototype](https://projects.invisionapp.com/share/3ATIRBHKW9F#/screens/379688154) for reference.

The navigation also needs to be collapsable as seen in [this InVision prototype](https://projects.invisionapp.com/prototype/ck6v8xdjr00c3kn01q12iiqvd/play) when you click the icon on th

[2020-02-20 21:44] austincondiff commented on #2868
@MilesRomney take a look at the UI we are working towards in #2557. Would this fit your needs where the columns displayed would be configurable according to entry fields? Otherwise, it may be worthwhile to think about registering a custom entry card as you mention.

[2020-02-20 22:23] MilesRomney commented on #2868
@erezrokah do you have documentation, or an example of what you're looking for? This is what I was following when I submitted the PR:

https://github.com/netlify/netlify-cms/blob/master/CONTRIBUTING.md

Not a lot there, and "other methods of extending the CMS" is pretty broad.

I found [this reference](https://github.com/netlify/netlify-cms/issues/1498) to registerEntryCard, but it hasn't been mer

[2020-02-20 22:30] MilesRomney commented on #2868
@austincondiff that's a very nice improvement. God speed. :)

On the face of it, it doesn't seem to accommodate custom cards per collection type, but the default columned rows are a significant step up, and are something I'd live with.

It's a great product, team—thanks for your work.

[2020-02-20 23:33] byebyers opened #3297 "Collection Name and "New" buttons should have different labels"
**Is your feature request related to a problem? Please describe.**
It is a discrepancy with naming conventions in the CMS UI. The reason being is for the client experience. This picture should show a Collection named "Blog" with a "New Post" button. This seems nitpicky but I can assure this can affects a user's trust in the developer's work. It seems that both the button and the collection name ar

[2020-02-20 23:57] tomrutgers commented on #3297
I believe you can use `label_singular` for that:

[code]

https://www.netlifycms.org/docs/configuration-options/#collections

[2020-02-21 00:40] bobbymart1n commented on #3295
Closing this issue. Adding `enableIdentityWidget: false,` to `gatsby-plugin-netlify-cms` options in `gatsby-config.js` solved the problem. I'm now running into another issue where adding that property breaks page previews in the CMS

[2020-02-21 00:40] #3295 closed

[2020-02-21 01:39] byebyers commented on #3297
It worked! At first glance of "label_singular", I would not have thought it was for that button. Hopefully, this post will help others asking the same question. Thank you for your response!