[2021-07-20 18:44] raffomania commented on #4895
I'm seeing this error as well, seemingly at random times. I believe this is because the markdown parser is choking on the hugo shortcode characters but are not sure what to do about it :/

[2021-07-20 19:25] ashalfarhan commented on #5629
I'm really sorry, this is just my bad

[2021-07-20 19:25] #5629 closed

[2021-07-20 23:56] partynikko commented on #4580
Did you find any nice way to solve this? I am actually having the exact same use case :)

[2021-07-21 08:14] erezrokah commented on #4580
For offline usage you can use https://www.netlifycms.org/docs/beta-features/#working-with-a-local-git-repository
By default it only modifies files. If you want it to commit you can create a `.env` file with the following:
[code]

and then run `npx netlify-cms-proxy-server`

[2021-07-21 08:34] partynikko commented on #4580
Thanks! I have not seen that mode throughout the documentation. Is it new or just undocumented? I just dug through the git middleware and saw it there.

I just tried it and it makes commits on publish, that is nice! However is there any way to push? I am building an offline-first CMS (a page builder with fast feedback) and would want the content editor to not need to learn git to be able to commit

[2021-07-21 08:56] erezrokah commented on #4580
Undocumented until we feel it's stable enough. The default mode works best for most users.

I think you could fork the repo and create a new middleware for the proxy based on the current `git` one.

[2021-07-21 09:14] stefanprobst commented on #5612
for me, it helped to wrap the preview component in `React.memo`, e.g. `CMS.registerPreviewTemplate('posts', memo(PostPreview))`.

[2021-07-21 09:22] partynikko commented on #4580
Ok thanks, so no hidden/undocumented way of doing something like that today?

Is there any way in git mode to perform a push? Could not find any in the middleware. In that case I could do release things as an Github action instead.

Out of interest, what would be the use case of git mode but not being able to push?

[2021-07-21 09:26] erezrokah commented on #4580
Not at the moment.

It's meant for local development, if someone wants to push to GitHub they can use the `GitHub` backend (then they don't even need `git` installed).
Also, it's the only way to get editorial workflow + local development as it uses branches to track draft entries (the default mode only changes files, so it cannot track draft).

[2021-07-21 09:29] partynikko commented on #4580
Good idea for my use case I think, I will try it out.

Awesome, did not know you can have editorial with local development. Also want to try that. Any specific steps needed to set it up to work? (besides using git mode and editorial work flow in config).

Many thanks again, this undocumented feature is very tempting 👍

[2021-07-21 09:38] erezrokah commented on #4580
Other than setting the env variable for the proxy and the publish mode in `config.yml` no.

🎉

[2021-07-21 18:37] SlashArash commented on #5619
@erezrokah thank you for following up. I rebuild it and there is no error! I'm going to close this ticket.

[2021-07-21 18:37] #5619 closed

[2021-07-21 22:37] dehanz13 commented on #5315
I tried using yarn add netlify-cms-app@2.14.45 gatsby-plugin-netlify-cms@5.3.0 and it worked! The problem is that now i'm using yarn and npm together. Does anyone have any thoughts on how to solve this issue?

[2021-07-21 22:38] dehanz13 commented on #5111
I tried using yarn add netlify-cms-app@2.14.45 gatsby-plugin-netlify-cms@5.3.0 and it worked! The problem is that now i'm using yarn and npm together. Does anyone have any thoughts on how to solve this issue?

[2021-07-22 09:44] erezrokah commented on #5570
Closing per https://github.com/netlify/netlify-cms/security/policy.

We've added an organization wide policy to our repos. Thank you for raising this!

[2021-07-22 09:44] #5570 closed

[2021-07-22 13:09] #5621 closed

[2021-07-22 13:27] thoward27 commented on #4493
Ran into this recently, toggling the backend did not work for me, clearing cookies did.

[2021-07-22 14:01] #3474 closed

[2021-07-22 15:23] erezrokah commented on #5610
Closing per my latest comments on huntr

[2021-07-22 15:23] #5610 closed

[2021-07-22 16:43] d1vshar opened #5634 "Question: Netlify CMS + NextJS"
I'm using Netlify CMS with NextJS (in JS). I have a collection named `events`.

Now I have a page called events where I'd like to display a list of events.

I used a webpack plugin https://www.npmjs.com/package/babel-plugin-wildcard. It expands imports during compile time.

[code]
This works for a clean build.

But here's the issue: NextJS caches build files too. Both on Netlify and on local. When

[2021-07-22 20:50] Penguibird opened #5635 "Can't log into the CMS"
**Describe the bug**
When I go to my site/admin/ and press the log in with github button, a pop up opens, says authorized and then stays there. Doesn't close, the other window doesn't redirect to the CMS, nothing.

I'm using Netlify CMS without Netlify, my site is hosted on my server. When I was running the site locally I could access the CMS without a problem. I'm not sure what I should change.

[2021-07-23 09:00] Jantastic commented on #4385
Any news here?

[2021-07-23 17:38] smakinson opened #5636 "option for object widget to be hidden when all of its fields are hidden"
**Is your feature request related to a problem? Please describe.**

Hugo has a few build options that allow preventing render & list, etc
https://gohugo.io/content-management/build-options/

I want to be able to add this to front matter via an object widget with hidden fields but show nothing to the cms user.
Currently it still shows the object widget.

[code]

**Describe the solution you'd like**

[2021-07-24 15:35] patrickcate opened #5637 "Add option to markdown editor to remove heading level formatting."
**Is your feature request related to a problem? Please describe.**
In the markdown editor toolbar, there is no easy way to remove heading level stylings once applied. From what I can tell, the only way to remove a heading level styling from text is to switch to the raw markdown mode and remove the `#` formatting there.

**Describe the solution you'd like**
Add a toolbar option to remove a heading

[2021-07-24 23:24] blakedietz commented on #441
I strongly agree with this sentiment.

[2021-07-25 08:33] erezrokah commented on #5635
Hi @Penguibird, have you set up a GitHub authentication provider?
See [here](https://www.netlifycms.org/docs/github-backend/) and [here](https://www.netlifycms.org/docs/external-oauth-clients/).

When running locally the CMS connects to a test provider supplied by Netlify to make it easier to develop.
It can't be used for production, even if you configure `site_domain: cms.netlify.com`

[2021-07-25 08:36] Penguibird commented on #5635
Aah, thanks, that's it. No i haven't, i didn't realize I'd need one 😅

[2021-07-25 08:36] #5635 closed

[2021-07-25 08:39] erezrokah commented on #4385
Hi @Jantastic, the best way to move this forward is to submit a PR for it. See [here](https://github.com/netlify/netlify-cms/blob/master/CONTRIBUTING.md)

[2021-07-25 09:07] erezrokah commented on #5636
Hi @smakinson, can you share a bit more information on your use case?

If the set of values is fixed and hidden what is the value of having it in the CMS?
Shouldn't this be part of the build configuration?

[2021-07-25 09:17] erezrokah commented on #5637
Hi @patrickcate, does clicking the header button again while at the end of the test works?
See
![header](https://user-images.githubusercontent.com/26760571/126894087-0eeb65fc-8537-4182-a1e1-8e4bc12db022.gif)

If not can you share a quick video or a step by step reproduction of what you're trying to accomplish?

[2021-07-25 09:26] erezrokah commented on #5634
Hi @d1vshar, this seems more of a Next.js/Babel question than a CMS question as I assume the CMS writes the correct content to the repo.
You might want to look into the plugin's code and try its clear cache command:
https://github.com/vihanb/babel-plugin-wildcard/blob/e9256b9d833e32bd635cbdcff3f1f4e4adf8b307/index.js#L9

Once you figure out how to clear the cache, [this tool](https://github.com/M-

[2021-07-25 09:29] erezrokah commented on #5634
On a completely other note, I believe Next.js should be able to source data from content files (e.g. Markdown) directly.
See https://nextjs.org/blog/markdown

[2021-07-25 13:03] #5516 closed

[2021-07-25 13:50] patrickcate commented on #5637
@erezrokah, yes clicking on the header again while at the end of the text does work. Didn't know that was possible.

It's good to know there is a way to remove the styling without having the go into the raw markdown editor mode, but I think it would be more intuitive if this also functioned when the text was highlighted and/or the cursor was inside the text.

[2021-07-25 13:53] erezrokah commented on #5637
It should. Are you experiencing a different behavior? If so can you post a reproduction?

[2021-07-25 13:59] patrickcate commented on #5637
OK, just tested (I'm just using the [Netlify CMS demo site](https://cms-demo.netlify.com)). It does work when the cursor is inside the text or you've select some text inside, but doesn't work when you select the entire line by triple clicking the text.

[2021-07-25 14:11] erezrokah commented on #5637
![header](https://user-images.githubusercontent.com/26760571/126902143-396f1a0c-df90-45d1-8866-b9e0b8d5b872.gif)

This works for me. Can you share a step by step reproduction?

[2021-07-25 14:47] timtorres opened #5640 "Configure default line width for string widget"
**Is your feature request related to a problem? Please describe.**
The YAML library that the CMS uses has a default line width of `80` when writing content to front matter (may apply in other cases). This causes an issue when using the `string` widget as it inserts a newline at the 80 character mark but does **not** use YAML folding, so plain text is inserted on its own line. This is known to brea

[2021-07-25 15:11] erezrokah commented on #5640
Hi @timtorres, the CMS does output valid yaml correct?
It seems we follow this:
![image](https://user-images.githubusercontent.com/26760571/126904013-a2d067e7-7879-402e-a349-b39c4779f630.png)

[2021-07-25 15:26] timtorres commented on #5640
@erezrokah

Perhaps, but something is still going wrong... I'm a newbie so just doing my best here, but this output may still be causing issues with the combination of it being in front matter and the note that was under your screenshot:

So does that mean that the plain flow scalar won't work in front matter because of the `: ` appearing after the field name and before the value?
`title: My >80 c

[2021-07-25 15:36] erezrokah commented on #5640
True, I agree this is a valid use case, just making sure we're handling the correct use one.

I think the `yaml` library handles that. It's [highly used](https://www.npmjs.com/package/yaml) so I think chances of it outputting invalid `yaml` are very low.

We have to be careful with quoting and make sure we're not losing any type information (e.g. dates/numbers).
Maybe there's an option to do the f

[2021-07-25 15:43] timtorres commented on #5640
But for strings this wouldn't be an issue right?

Yep this works exactly how the result shows 👍

[2021-07-25 16:02] erezrokah commented on #5640
True - we'll need to make sure we only quote strings (or use the `>` format).

[2021-07-25 18:46] patrickcate commented on #5637
Here's a video showing the issue. When I'm selecting the entire line I'm triple clicking the text.

https://user-images.githubusercontent.com/6277206/126909920-947b499d-ebb9-4dde-9519-030de6299c78.mp4

[2021-07-26 12:36] d1vshar commented on #5634
Thanks for responding!

I actually figured it out. NextJS's data fetching works through getStaticProps, getStaticPaths, getServerSideProps. I wasn't using them at all! (Cause I'm new to next).

You can use node modules (like `fs`) in these functions cause compilation happens in a node environment.

[2021-07-26 12:45] erezrokah commented on #5634
Cool, thanks for the follow up. Closing the issue. Please comment if you have further questions

[2021-07-26 12:45] #5634 closed

[2021-07-26 12:45] smakinson commented on #5636
@erezrokah Unless I'm mistaken, I need to add those properties to each of the content files created for the section. I'm looking for this to be for a single section, but still have those available via `GetPage` in hugo. I had tried ignoring the section in the site config but it did not work out. I'm using the content for something other than a full page so I don't want them rendered as a page or i

[2021-07-26 12:52] erezrokah commented on #5636
Hi @smakinson, I'm not sure I understand your use case.
Can you share your full `config.yml`, the content you'd like to generate and the UI you expect to be shown/hidden in the CMS?

[2021-07-26 12:59] smakinson commented on #5636
@erezrokah Config:
[code]

The collection item:
[code]

The generated frontmatter from one Top Banner:
[code]

[2021-07-26 13:10] erezrokah commented on #5636
To clarify `_build` tells Hugo how to render the markdown page?

I think it would be easier to manage those using the `preSave` event https://www.netlifycms.org/docs/beta-features/#registering-to-cms-events

[2021-07-26 13:17] smakinson commented on #5636
The props under `_build` are telling it not to render or list it at all and I would pull it via `GetPage` manually.

Does `preSave` allow me to identity the collection as it comes through? If so it seems I could potentially add some data there. `entry.name`?

and?
[code]

[2021-07-26 13:19] erezrokah commented on #5636
It should be under `entry.get('collection')` if I remember correctly

[2021-07-26 13:40] erezrokah commented on #5636
Closing the issue per my comment. I believe the `preSave` event is a better solution for this use case.
Please comment if you have any other questions/the suggestion solution doesn't address the use case.

[2021-07-26 13:40] #5636 closed

[2021-07-26 13:50] erezrokah commented on #5637
Thanks @patrickcate, I updated the issue title to  match the video

[2021-07-26 16:17] pmpinto opened #5650 ""Delete published entry" button bypasses editorial workflow"
**Describe the bug**
Can't really tell if this is a bug or a feature, but it really does fell like a bug to me.
We have editorial workflow enabled, so that editors can create branches when suggesting changes and those changes can then be reviewed by someone else — this works great for us!

The issue seems to be when deleting something that's already published. Last Friday we needed to get rid of s

[2021-07-26 16:28] erezrokah commented on #5650
Thanks @pmpinto, I'll classify this as a feature request as existing CMS users might have other expectations, but I can understand why it can be seen as a bug.

Are those users able to publish entries?

Regardless, this would make a nice [contribution](https://github.com/netlify/netlify-cms/blob/master/CONTRIBUTING.md) to the CMS.
Not sure how we should display deleted entries though in the editor

[2021-07-26 18:40] pmpinto commented on #5650
Yes. So, users with write permissions on a repo can use the CMS to create new entries, suggest changes to existing entries but not delete entries.
Admin users can do whatever they want, basically.

That's a good point, although I have no idea how this point doesn't surface more often, or even how _we_ never found it until now.

For a protected branch where the CMS is writing to, users with write p

[2021-07-26 20:46] LeoMartinDev commented on #535
Any update on that ?

[2021-07-26 21:41] kevingilotra opened #5651 "TypeError: Cannot read property 'map' of undefined"
**Describe the bug**
I ran a local version of the netlify CMS and when I tried changing the content I got this error message.

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.15.28`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) C

[2021-07-27 09:58] erezrokah commented on #5651
Hi @kevingilotra, can you fill in the missing parts of the issue template?
Specifically the `To Reproduce` and `Screenshots` parts and also share the full `config.yml`

[2021-07-27 09:59] erezrokah commented on #535
Hi @LeoMartinDev, the best way to move this forward is through a [contribution](https://github.com/netlify/netlify-cms/blob/master/CONTRIBUTING.md).

[2021-07-27 10:24] erezrokah commented on #5650
Before those non-admin users publish the PR they would need someone to approve it on GitHub correct?

Do you mean deleting through git by going through a PR workflow? They shouldn't be able to push directly to the default branch

The classification as a feature comes from it requiring a new UI flow to facilitate deletion, I agree the boundary is not very clear. We can see if others comment on the

[2021-07-27 10:27] erezrokah opened #5652 "List of potential breaking changes in the next major release"
- [ ] Remove implicit [per line matching](https://github.com/netlify/netlify-cms/blob/edaf9804eb51c90bfedb666b1747caf33f12b048/packages/netlify-cms-widget-markdown/src/serializers/remarkShortcodes.js#L14) in editor components. See https://github.com/netlify/netlify-cms/pull/5597#discussion_r676183995
- [ ] [Editorial workflow UI for entry deletion](https://github.com/netlify/netlify-cms/issues/565

[2021-07-27 10:57] bytrangle commented on #5650
Can I get more clarification for the reproduction steps?
1. _Visit a file collection in the CMS_. This means selecting the **Content** tab at the top of the admin UI, isn't it?
2.  When clicking the *Delete published entry" button in the top bar, an alert box is displayed, isn't it?

It is not that easy to mis-click the Delete button IMHO, although I agree that it's not good when other editors wil

[2021-07-27 11:10] erezrokah commented on #5650
@bytrangle thanks for looking into it.

Since this is only relevant for editorial workflow, maybe we have an indication in the workflow tab.

@pmpinto can you elaborate on this:

As mentioned above: since we have editorial workflow enabled, it would make sense for a PR to be created and a change to be listed under the workflow tab in the CMS. Which should then be approved before the author could m

[2021-07-27 15:16] erezrokah commented on #2358
Closing as stale

[2021-07-27 15:16] #2358 closed

[2021-07-28 03:45] bytrangle commented on #5637
Hello @erezrokah , I know the reason for the issue.

When clicking the Heading button, for example Heading 1, we call the `toggleBlock` method. This method checks if every block in the selection is of type _Heading 1_. If it is, set all of them to default type aka paragraph, otherwise they remain heading 1.

This makes sense on paper, but the problem lies with triple click action in the Slate edit

[2021-07-28 09:19] timtorres commented on #5559
Is it possible to add support for strikethroughs?

I'm using the hint to give the editors instructions on how to format an external link, showing the whole context and which parts to remove:
`https://www.linkedin.com/pulse/complex-world-early-interventions~~?trk=public_profile_article_view~~`

[2021-07-28 09:38] erezrokah commented on #5559
Hi @timtorres, how about opening a new feature request issue for that?
You can link this code as reference:
https://github.com/netlify/netlify-cms/blob/610421ea6722276e37fe3c6123386d20fbbac1cf/packages/netlify-cms-core/src/components/Editor/EditorControlPane/EditorControl.js#L333

That will make it easier to submit a contribution for it.

[2021-07-28 10:54] erezrokah commented on #4837
Closing in favor of https://github.com/netlify/netlify-cms/issues/1347

[2021-07-28 10:54] #4837 closed

[2021-07-28 10:55] erezrokah commented on #5637
Thanks @bytrangle, that makes sense.
So this issue will happen not just with headers correct?

I think this would be preferable, depending on the size of the effort.

I've added this to https://github.com/netlify/netlify-cms/issues/5652

[2021-07-28 11:40] bytrangle commented on #5637
Good question. Interestingly, the List and Quote blocks are not affected because they are handled by different methods that use a different logic. For example:
[code]
If you triple click Heading 1, the selection will be <h1> to </p>. `editor.value.blocks` will contain two blocks, `heading-one` and `paragraph`.

Then click either List or Quote button. The `toggleQuoteblock` and `toggleList` only lo

[2021-07-28 12:37] paurakhsharma opened #5653 "required ignored on i18n translations"
**Describe the bug**
`required` on fields inside a `list` field is ignored for i18n transitions.
`required` is only respected in the first translation but is not respected for other translations.

**To Reproduce**
1) Clone the repo
[code]

2) Use the config given below

3) Start local netlify proxy
[code]

4) Start local dev server
[code]

5) Go to http://localhost:8080/admin

6) Click on `media c

[2021-07-28 13:46] bytrangle commented on #5650
If deleting a published entry is supposed to trigger a PR, then it would need someone with permissions to approve the PR. Then this means the “deleted entry” is actually not deleted. It is actually pending deletion and may never be deleted if the PR is not approved, correct?

This can get complicated fast. If there's real concern that editors can accidentally delete a published entry, then I think

[2021-07-28 13:59] bytrangle commented on #5637
@erezrokah While investigating the triple-click issue, I encounter this:

![list-block-from-selection](https://user-images.githubusercontent.com/28924121/127335319-44387e6f-9631-43bd-a126-28a81528e277.gif)

Do you experience the same thing?

[2021-07-28 15:02] erezrokah commented on #5637
You're correct. This seems like a separate bug.

[2021-07-28 15:19] bytrangle commented on #5637
Has there been an issue filed for that? I've searched, but it's not easy to find the right keywords for these issues so I may have missed it. If there's none, I'll create one tomorrow and work on that one first.

[2021-07-28 16:10] erezrokah commented on #5637
There isn't! I should have mentioned it.

That would be great, thank you

[2021-07-29 10:33] bytrangle opened #5654 "Editor: Selecting X paragraphs and clicking List button creates a list which contains only one item."
**Describe the bug**

What a wordy title, but the issue is quite straightforward if you take a look at the screenshot.

![list-block-from-selection](https://user-images.githubusercontent.com/28924121/127476045-2a39d8c0-8675-4251-a662-ad49c28b2179.gif)

**To Reproduce**

**Expected behavior**

Both “foo” and “bar” should be wrapped by two list item blocks respectively. These list item blocks in tur

[2021-07-29 13:29] nolafs opened #5655 "Login modal window disappears on login"
# Bug report

**What is the current behavior?**

When clicking the Login with Netlify Identity, the modal window flashes and disappears. The actual netlify-identity-widget is set to display: none.

**What is the expected behavior?**
Should keep the login modal window open.

**Other relevant information:**

I am using Angular with Netlify CMS which could be root of problem. I load the CMS from the

[2021-07-29 19:23] bmackinney commented on #5489
@erezrokah is it possible for the code widget to output raw code instead of a string? I think it would be a simpler solution that will satisfy more of my needs.

[2021-07-29 19:32] Ysipower opened #5656 "NotFoundError: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child o..."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.150`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.107 Safari/537.36`

**CMS configuration**
[code]

[2021-07-30 08:14] madsem opened #5657 "Netlify CMS via npm: modals for invitation, email change etc disappearing"
**Describe the bug**
All Modals are disappearing, when opened before the CMS init happened...
This includes the login modal, and any of the modals opened from an email template.

The NPM version results in a very big bundle size (even after webpack), so it takes literally 5-10 seconds for the scripts to load when visiting `/admin/`.

After the CMS script loaded and the log in screen becomes visibl

[2021-07-30 10:09] madsem commented on #5657
Ok I understand now why this was happening.

Because I was using the script tag implementation of Netlify Identity, it was finished loading before the entire heavy React netlify cms app, and initialized before the CMS...

I solved this by swapping out ID to the npm version, and then manually initialize it after the CMS, like so:
[code]

[2021-07-30 10:09] #5657 closed

[2021-07-30 10:10] madsem commented on #5657
PS: the entire login is much cooler with the custom NPM package, maybe you should make that design the default :)

[2021-07-30 10:19] madsem commented on #5657
PS: @erezrokah I also just realized, that using the NPM package has a very neat side-effect.
I'm using the MacOS integrated password manager, before this change it did not save the sites login details under the actual domain.

It could not detect it through how the modal works.

Now that I'm using the npm version, and there's a real form on the site my password manager immediately saved everything

[2021-07-30 10:20] madsem commented on #5655
@nolafs check out my issue, yours sound similar:

https://github.com/netlify/netlify-cms/issues/5657

Maybe it's the same problem :)

[2021-07-30 10:46] nolafs commented on #5655
Yeah, apart from the modal window shows less than second for me and I am loading the CMS from the CDN.

[2021-07-30 10:48] madsem commented on #5655
Yup, you need to install the npm version of identity too, that solves it.

[2021-07-30 10:59] nolafs commented on #5655
I do load it on the index page. I rather like to avoid initialising the CMS through npm.

[code]

[2021-07-30 11:00] madsem commented on #5655
I see, then I guess you could initialize it in an event listener that is fired when the cms window object exists.

[2021-07-30 11:20] nolafs commented on #5655
Actually, you might have given me an idea. The CMS is loaded and initialised by an angular component. The identify widget is on the index page to allow the invites to work.  I will try if i can initialise it after the CMS is loaded.

Thanks

[2021-07-30 11:21] madsem commented on #5655
Yeah cool :) I think as long as it's loaded afterwards it should work!

[2021-07-30 14:27] TheOddler opened #5658 "Automatically remove invisible characters in the Markdown editor"
**Is your feature request related to a problem? Please describe.**

I made a website for my mom, and she copied some text from Word into the Markdown editor, and managed to add a [line separator](https://www.fileformat.info/info/unicode/char/2028/index.htm) into the text.
This in turn broke Jekyll.

Is there a way to remove invisible characters automatically? If not, could this be added?

**Descri

[2021-07-30 21:18] willbuck opened #5659 "Improve Table /Overflow UX"
**Is your feature request related to a problem? Please describe.**
Being unable to see all the content on a page and not see a horizontal scroll bar makes actually seeing that content difficult. The content editing window gives no indication the published result will have horizontal overflow

See screenshots below:

<img width="2203" alt="Screen Shot 2021-07-30 at 4 06 31 PM" src="https://user-ima

[2021-07-31 08:19] erezrokah commented on #5656
Hi @Ysipower, can you fill in the missing information based on https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title

[2021-07-31 08:40] erezrokah commented on #5657
Hi @madsem, thanks for the detailed issue and following up on it.
I still not sure what's exactly happening, but I'll share some more information.
When you use `<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>` the Identity widget implicitly calls `init` for you:
https://github.com/netlify/netlify-identity-widget/blob/e0072e56f8ee94d46b8b1c74c26b62be7122f1d8/src/i

[2021-07-31 09:21] madsem commented on #5657
Hey @erezrokah , thanks for the explanation.

Maybe I didn't explain it clear enough. But the initial problem was because I was using `<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>` in my index file.

And I was able to fix it by switching to the manual init method you are describing with the NPM version of netlify identity.

The problem was that I am using the

[2021-07-31 10:05] erezrokah commented on #5658
Hi @TheOddler, I believe you can sanitize fields using the `preSave` event.
See https://www.netlifycms.org/docs/beta-features/#registering-to-cms-events

Closing. Please comment if that doesn't solve your use case

[2021-07-31 10:05] #5658 closed

[2021-07-31 11:01] TheOddler commented on #5658
That worked! I'm now removing all whitespace except space and newline in the preSave event for my body! Works like a charm.

Thanks!

[2021-07-31 15:05] abdmmar commented on #5659
Hi! @erezrokah, can I try to take this issue?

[2021-07-31 17:10] savagematt commented on #2545
Currently spiking a migration away from contentful and this is a blocker, although we may be able to work around it for now

[2021-08-01 20:38] erezrokah commented on #5659
Sure @abdmmar, that would be great.
The site code is here:
https://github.com/netlify/netlify-cms/tree/edaf9804eb51c90bfedb666b1747caf33f12b048/website/src/components
https://github.com/netlify/netlify-cms/tree/edaf9804eb51c90bfedb666b1747caf33f12b048/website/src/pages

[2021-08-02 00:29] bradystroud opened #5673 "Rich text editor adding '\' to Markdown"
**Describe the bug**
Sometimes when using the rich text editor where image are present, back slashes are added to the markdown

**To Reproduce**

**Expected behavior**
Slashes should not be added to Markdown

**Screenshots**
![2021-08-02_10-13-30](https://user-images.githubusercontent.com/38869720/127789679-b09e204f-3bce-4c13-a3a7-5fb5f9c525ab.png)

**Applicable Versions:**

 - Netlify CMS version

[2021-08-02 00:47] bradystroud opened #5674 "Add/Edit links inline"
**Is your feature request related to a problem? Please describe.**
Currently, to edit a link there is a browser alert window. This is inconsistent with the rest of the UI.

**Describe the solution you'd like**
Links should be added and edited inline.

**Additional context**
![Screen Shot 2021-08-02 at 10 44 55 am](https://user-images.githubusercontent.com/38869720/127790752-43cb245e-1407-44f9-bf9e

[2021-08-02 09:12] erezrokah commented on #5655
Closing this per the discussion in https://github.com/netlify/netlify-cms/issues/5657.

Please comment if this is a separate issue

[2021-08-02 09:12] #5655 closed

[2021-08-02 09:18] erezrokah commented on #5489
Not at the moment. Widget values are always coupled to a field name (no top level values).
Also we'd have to consider that raw code can break yaml/markdown syntax

[2021-08-02 19:27] MonsieurV commented on #2545
I have some (rough) code of a custom widget that allows to search and select on multiple files (but not collections ATM) that I could try to release, if that is of interest.

The widget API looks like that:

[code]

(no lazy loading, metadata not properly working, but with not too much entries, it does the job)

[2021-08-03 10:14] #5553 closed

[2021-08-03 13:34] fwiencek opened #5678 "TypeError: Cannot read property 'ownerDocument' of null"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.15.19`
 - Git provider: `github`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.107 Safari/537.36`

**CMS configuration**
[code]

[2021-08-04 04:13] s-en-o commented on #2659
(Context: deploying with Netlify by following docs from [NetlifyCMS with Nuxt](https://www.netlifycms.org/docs/nuxt/))

I tried https://github.com/xdesro/nuxt-netlify-cms-starter but still throwing error (also in Vercel) and solution suggested by @brachkow is the one that works for me. (Quoted below).

Thanks @brachkow 🙏🏼

[2021-08-04 11:27] fwiencek opened #5681 "TypeError: Cannot read property 'ownerDocument' of null"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.15.19`
 - Git provider: `github`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.107 Safari/537.36`

**CMS configuration**
[code]

[2021-08-04 11:40] erezrokah commented on #5681
Duplicate of https://github.com/netlify/netlify-cms/issues/5678

[2021-08-04 11:40] #5681 closed

[2021-08-04 11:56] #5471 closed

[2021-08-04 12:37] erezrokah commented on #5659
Going to re-open as https://github.com/netlify/netlify-cms/pull/5680 only partially fixes this.
The deploy preview part is still missing

[2021-08-04 13:52] willbuck commented on #5659
Thank you all so much!

[2021-08-04 14:54] #5654 closed

[2021-08-05 09:24] miguelt1 commented on #4528
Hi @erezrokah pretty much the same, I have some users in cms, they create, edit the same post, when they try to save the post they got the same error. Rebase failed.

[2021-08-05 12:45] #5678 closed

[2021-08-05 14:00] lucadalli opened #5684 "Allow reordering of relation widget values"
**Is your feature request related to a problem? Please describe.**

Prepending a new value to a `relation` widget (which has `multiple` enabled) is very cumbersome. Since value re-ordering is not permitted, one must delete all existing values, add the new value followed by all pre-existing values.

**Describe the solution you'd like**

Allow `relation` values to be re-ordered similarly to `list`

[2021-08-06 08:08] kg-kartik commented on #5549
@erezrokah Can I try fixing this issue?

[2021-08-07 15:46] tforster opened #5687 "GET request to GitHub specifies "repositories" instead of "repos" in the path"
**Describe the bug**
Trying out Netflify CMS using the index.html demo page. Admin UI loads without issue but publishing content results in a 404 in the browser console

`GET https://api.github.com/repositories/tforster/netlify-poc/branches/main 404`

cURLing that endpoint also produces a 404. According to the GitHub docs repositories should be repos. cURLing the corrected URL returns the expected

[2021-08-08 12:04] inwardmovement opened #5688 "Failed to load config.yml when /admin without ending slash"
"Failed to load config.yml" when the url is `.../admin` without ending slash. (https://algosphere.org/admin)
It is ok with ending slash: `.../admin/` (https://algosphere.org/admin/)

[repo/config/versions](https://github.com/algosphere/algo-website/tree/main/static/admin)

[2021-08-08 16:44] andrewhitesmith commented on #4892
I have the same issue with my custom editor widget. Is there any solution?

[2021-08-09 01:38] eduncan911 commented on #2367
subscribing... currently converting our site with about 1400 pieces of different content, and everything is key'd via auto-incrementing IDs in the URLs.

I can't ask the admins to "pick a number" in the CMS.  Doh.

Right now, I think I am going to have to fake a lot of the numbers in loops with `int++`.  Thing is, some items are hidden and the numbers are consecutive.

[2021-08-09 09:30] erezrokah commented on #5549
Sure thing @kg-kartik, thanks. Please consider that we would like to do this in a backwards compatible way (minimal changes to search behavior) and that it should in a similar way to all backends.
The reason the CMS needs to read the content of each file is that it parses the content (e.g. markdown) and searches in each field.

[2021-08-09 09:44] erezrokah commented on #5687
Hi @tforster, I'm not sure where `repositories` is coming from as we use `repos`:
https://github.com/netlify/netlify-cms/blob/fc2e3106bbf6dea02be6842d285bc310c2479450/packages/netlify-cms-backend-github/src/API.ts#L202

Also when using the GitHub backend your configuration should be:
[code]
when using Netlify as an authentication provider per [the docs](https://www.netlifycms.org/docs/github-backe

[2021-08-09 09:51] erezrokah commented on #5688
Hi @inwardmovement, I don't believe this is related to the CMS, but to how your site is deployed.

For example, https://www.netlifycms.org/admin works with or without the `/`.

As I've seen it before with Hugo based sites, you might have better results contacting their support.

Closing, please comment if you have any other questions

[2021-08-09 09:51] #5688 closed

[2021-08-09 21:05] jbowen4 commented on #5674
hello, can I take this issue?

[2021-08-10 08:02] bytrangle commented on #4564
@erezrokah Do you consider this to be an unexpected behavior? I haven't looked at the source code, but my guess is:
- If users don't specify branch name in the config file, Netlify CMS will set `master` as the default branch to which all CMS commits and PRs are made.
- However, currently, when a new repo is initiated, its default branch will be `main`, which means `master` doesn't exist, which lea

[2021-08-10 08:52] erezrokah commented on #4564
Hi @bytrangle,

:100: To this.

There's an ongoing discussion about it, see [here](https://github.com/netlify/netlify-cms/issues/5617#issuecomment-880881683).

I'm not sure if anyone started working on it though, so if you'd like to pick that one up, comment on the issue to make sure.

[2021-08-10 22:13] jbowen4 commented on #5674
I can't find the edit link button in the code. Can you point me in the right direction?

[2021-08-11 05:18] taineriley1 opened #5701 "Make 'Save' button's state more visible"
**Is your feature request related to a problem? Please describe.**

The 'Save' button is currently disabled when no changes are made to the entry, and is grey in colour. It is enabled when changes are made to the entry, and is blue in colour. However, the difference between the 2 states is not obvious enough. The button needs to be more prominent and easier to distinguish between the states.

**De

[2021-08-11 09:04] toolpip opened #5702 "Error: Minified React error #130; visit https://reactjs.org/docs/error-decoder.html?invariant=130..."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.15.11`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.131 Safari/537.36 Edg/92.0.902.67`

**CMS configuration**
[code]

[2021-08-11 10:05] erezrokah commented on #5674
@jbowen4 this should be the click handler:
https://github.com/netlify/netlify-cms/blob/5d2256051ebb10617bd3aa45baafde113d56e552/packages/netlify-cms-widget-markdown/src/MarkdownControl/VisualEditor.js#L174

[2021-08-16 00:01] taineriley1 opened #5706 "Make 'Now' button on DateTime widget consistent with 'Add' button on List widget"
**Is your feature request related to a problem? Please describe.**

The 'Now' button in the DateTime widget is close to the 'Add xxx' buttons in List widgets on our site. We would like the 'Now' button  to be the same colour for consistency.

![image](https://user-images.githubusercontent.com/40375803/129324262-81d0f195-4e0d-4a19-944e-ff399d55c4e6.png)
Figure: Bad Example - 'Now' button near 'Add

[2021-08-16 11:26] timtorres opened #5717 "Support strikethrough markdown in widget hint text"
**Is your feature request related to a problem? Please describe.**
There is markdown support in field hints for inline features like **bold**, _italic_, and links, but not strikethroughs. Niche use case but should be easy to do and fits in with the other features.

Example:
I'm using the hint to give the editors instructions on how to format an external link, showing the whole context and which pa

[2021-08-16 13:08] #5656 closed

[2021-08-17 02:13] bytrangle commented on #3383
Hey @erezrokah ,
What do you think about closing issues about using MDX except for #1776?

[2021-08-17 09:44] erezrokah commented on #3383
Good point @bytrangle, #2064 is more solution oriented, but I don't want to lose the up votes of #1776.

For this issue, I think we can close it in favor of the existing issues since they are all linked.

[2021-08-17 09:44] #3383 closed

[2021-08-17 09:48] #5706 closed

[2021-08-17 10:01] #5258 closed

[2021-08-18 07:17] taineriley1 opened #5723 "Make 'Fork the Repo' primary button clear"
**Is your feature request related to a problem? Please describe.**

When a user logs into GitHub with Open Authoring enabled, they are presented with a screen about forking the repo.
![image](https://user-images.githubusercontent.com/40375803/129854022-0c24532a-7781-4b1d-8bc4-0d127e848a3c.png)
**Figure: Forking the repo screen**

There are 3 buttons on this screen.

    Fork the repo
This is the p

[2021-08-18 07:40] martinjagodic opened #5724 "Search, sort, group by template tags in summary"
It is great that we can add template tags to the summary of a collection entry, for instance `{{dirname}}` is useful on nested files. However, it is not possible to group, sort, or search by these.

A solution would support template tags in the config for `sortable_fields` and `view_groups` and return search results containing tags in the summary.

Proposed config:
[code]

[2021-08-18 12:43] JonasMatos0 commented on #5723
Hey, @taineriley1. I think the appropriate solution is
1 - Remove **Don't fork the repo** button
2 - Centralize and color change  to **Fork the repo** button

Please let me know you thoughts about it.

[2021-08-18 17:32] inwardmovement commented on #1193
This post from @eduardoboucas may help
https://eduardoboucas.com/posts/2020-12-23-staticman-netlify-functions/

[2021-08-18 20:59] bmackinney opened #5726 "Allow markdown in collection descriptions"
**Is your feature request related to a problem? Please describe.**
I want to provide better instructions and links in the descriptions of collections.

**Describe the solution you'd like**
Enable markdown parsing in collection descriptions, as with field hints.

**Describe alternatives you've considered**
plain text of urls to docs

**Additional context**
https://github.com/netlify/netlify-cms/pul

[2021-08-19 01:52] taineriley1 commented on #5723
Hi @JonasMatos0,

I agree with your suggestion. This approach would work well and highlight the primary button more.

[2021-08-19 08:54] erezrokah commented on #5726
Hi @bmackinney, do you mind following the [feature request template](https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+feature&template=feature_request.md&title=Please+replace+with+a+clear+and+descriptive+title)?

[2021-08-19 11:25] Dirklectisch commented on #4972
I had a quick look at what the current behaviour is. Looks like non index files are currently shown one level higher than they should be in the entries listing.

![Screenshot 2021-08-19 at 13 18 18](https://user-images.githubusercontent.com/542192/130060026-7290efd2-5bdb-4b8b-8636-03c13109fe00.png)
![Screenshot 2021-08-19 at 13 17 28](https://user-images.githubusercontent.com/542192/130060050-a4e9

[2021-08-19 17:32] mmiszy commented on #3964
The alternative implemented in #3966 would be more extensible. For example, I need to fetch preview URLs from an API based on the GitHub deployment data – that's no possible with the `preview_url_formatter: ['regex', 'replacer']` approach.

[2021-08-20 12:30] ishanpan commented on #5723
Hi, @JonasMatos0 are you working on it?

[2021-08-21 23:57] iaeiou commented on #2845
Until it's done, you may want to use this generator: https://www.tablesgenerator.com/markdown_tables

Vscode also comes with many extensions to generate and manage Markdown tables: https://duckduckgo.com/?t=ffab&q=vscode+extension+markdown+table&ia=web

[2021-08-22 11:07] jamesbungay opened #5735 "Content added directly to a markdown file with a text editor does not appear in CMS web portal"
**Describe the bug**
I am using Netlify CMS to manage the text/image content of a website (not for a blog). I have added some data directly to a markdown file using a text editor, instead of inputting it into the CMS web portal. This data can then be correctly accessed from the CMS using GraphQL to use in the website, however it does not appear in the web portal of the CMS when you go to edit it.

[2021-08-22 16:09] Acoudgithub17 opened #5736 "Please replace with a clear and descriptive title"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-08-22 16:10] Acoudgithub17 commented on #5736
I want to go to netlify

[2021-08-23 06:57] anibali commented on #4784
I'm getting a similar issue from an Australian time zone (GMT+10).

My configuration:
[code]

My preview code:

[code]

What happens in the date picker (tested at 4:48 PM, August 23 my time):

https://user-images.githubusercontent.com/226707/130403566-d341f17d-e62c-4307-bd42-b291ea4c3d7b.mp4

[2021-08-23 10:09] erezrokah commented on #5736
Hi @Acoudgithub17, I'm not sure what's the context of this issue so I'm closing it.
If you'd like to learn more about Jamstack, see https://explorers.netlify.com/ or https://www.netlify.com/

or follow one of the [issue templates](https://github.com/netlify/netlify-cms/issues/new/choose)

[2021-08-23 10:09] #5736 closed

[2021-08-23 22:39] timtorres commented on #445
Shopify does this behind the scenes pretty nicely. It edits a redirects file, adding a new entry every time a slug is changed. There's at least one 3rd party app that extends this by adding a redirects management UI. Scans for broken links or something like that and lets you manage multiple aliases for a single url.

But I do agree with you that the CMS itself should remain divorced from that in o

[2021-08-24 05:12] Asdf0717 commented on #5735
Hello, we are a group of researchers developing machine learning techniques to locate issues suitable for newcomers, and our model considers this issue as likely a "good first issue". May we recommend you to label it as a "good first issue" so newcomers know where to choose?

Thank you!

[2021-08-24 09:10] erezrokah commented on #445
I think https://github.com/sw-yx/netlify-plugin-no-more-404 is supposed to do some of that, but seeking maintainers.

[2021-08-24 15:18] prakis commented on #4329
Netlify CMS still require full access to all repos, its not nice.

[2021-08-25 10:46] anshul2807 commented on #5723
I would like to work .

[2021-08-25 11:53] Hardik-hi commented on #5673
@bradystroud I'm interested in working out the issue. Can you provide the md/rtf where this issue occured?

[2021-08-25 12:05] ViAsmit commented on #5723
Hi @taineriley1 , May I know which file or folder should I work on for these changes?

[2021-08-25 15:32] ConnorGDevelopment opened #5750 "Relation widget does not change when referenced item is deleted"
Context:
I currently have a site where the products are managed in a folder collection (will refer to this as the "Catalog"), this is where the base data for a product is stored. I also have a file collection that includes a file for managing the order in which the products are displayed (will refer to this as the "Display Order"). In the "Display Order", I have a list widget where the list items

[2021-08-25 15:46] erezrokah commented on #5750
Hi @ConnorGDevelopment, closing this issue in favor of https://github.com/netlify/netlify-cms/issues/192.

Specifically see https://github.com/netlify/netlify-cms/issues/192#issuecomment-350428804 and https://github.com/netlify/netlify-cms/issues/192#issuecomment-636440531

[2021-08-25 15:46] #5750 closed

[2021-08-25 16:31] rohan-kulkarni-25 commented on #5735
Hey, @jamesbungay @erezrokah  will like to work on these issues and add my contributions.
will like to have guidance from you to get done with this . I am having a windows machine will it work or needs Mac device only ?

[2021-08-25 16:35] rohan-kulkarni-25 commented on #5724
Hey @martinjagodic , @erezrokah  will like to  work on this and give my best by adding this feature

[2021-08-26 14:37] paulmsmith opened #5752 "`logo_url` appears not to be used when `local_backend:true`"
**Describe the bug**
The login screen when config option `local_backend: true` does not load the custom logo which is set using `logo_url` option. It still shows the NetlifyCMS logo. **however** It does show the custom logo when `local_backend: false`

**To Reproduce**
Update the `config.yml` file for your NelifyCMS instance to have a custom logo and be set to local_backend true:

**Expected behav

[2021-08-28 02:37] trfv opened #5753 "add fields validation before publish"
**Is your feature request related to a problem? Please describe.**

I want to use custom datetime widget only allows future date for publish datetime. Ideally, publish datetime should be future.
With editorial workflow mode, the publish datetime will not always be future when published though it was when its pull request was created.
As above, publish datetime validity will change day by day, so v

[2021-08-28 11:37] edazpotato opened #5754 "TypeError: e.map is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.159`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.159 Safari/537.36 Edg/92.0.902.78`

**CMS configuration**
[code]

**Additional context**

[2021-08-30 00:24] taineriley1 commented on #4611
Hi @LukasGentele @erezrokah,

Our users also experience this issue, and often use the Rich Text editor as it provides a better experience for them.

Elaborating on this issue, it would be great to have all of the formatting buttons at the top of the markdown widget available in markdown mode. Adding the markdown syntax by clicking a button would be easier for some users than typing it into the edi

[2021-08-30 05:11] edazpotato opened #5765 "Creating a custom editor widget that is matched by a built in editor widget's regex causes the built in widget to render in place of the custom widget when the article is re-opened."
**Describe the bug**
When using a single custom markdown editor component that has the same regex as a built-in editor widget, the custom widget renders, but when the page is reloaded or the article is opened from the dashboard, it renders the default widget.

**To Reproduce**
1. Create a collection with a markdown editor component, that has a custom widget. E.g.
[code]
2. Register a custom markdo

[2021-08-30 05:12] #5754 closed

[2021-08-30 09:08] #5702 closed

[2021-08-30 09:08] erezrokah commented on #5702
Closing per missing information, please add the missing info per our issue template if still relevant

[2021-08-30 09:08] #5651 closed

[2021-08-30 09:16] Healios opened #5766 "Use of custom editor component causes console warning "Invalid data sent to remark.""
**Describe the bug**
I have made a custom editor component called "YouTube". It is possible to add multiple YouTube videos to this component.
![Youtube editor component](https://user-images.githubusercontent.com/9387114/131304893-c93f01b0-a253-43f0-8f1b-5ba0bc46ad16.jpg)

The first time you add the component to a post it works fine, - you can add and remove YouTube videos to your hearts desire.

T

[2021-08-30 09:30] tienpham241 commented on #5411
I figured out that the SVG code need to be encoded before using it in pseudo CSS. Use [URL-encoder](https://yoksel.github.io/url-encoder/) to encode the svg, I had a try and it is displayed correctly. Can this fix be applied?

[2021-08-30 09:46] erezrokah commented on #5765
Hi @edazpotato, FYI you can disable the built-in components via the `editor_components` configuration. See https://www.netlifycms.org/docs/widgets/#markdown

[2021-08-30 13:17] quansenB opened #5768 "Please replace with a clear and descriptive title"
**Describe the bug**
I’m currently building a site with netlify cms and gatsby. I’m using gastby-plugin-netlify-cms@5.11.0 and netlify-cms-app@2.15.38.

However when I’m trying to register a preview template it is ignored. I’m developing as close to gatsby-starter-netlify-cms as possible, because it was working there.

This is my cms.js file:

[code]

This is one of the preview files. (the console

[2021-08-30 15:29] curtiswallen opened #5769 "Define path for collection fields, to organize subpages/subpage urls"
**Is your feature request related to a problem? Please describe.**

I am using Netlify CMS and Hugo to create a website for a gallery and want to have a main landing page for each artist, e.g.:
/artists/andy-warhol

But then have links on that page that go to subpages for the artist's biography, exhibition history, etc., e.g.:
/artists/andy-warhol/bio

Unless I am missing something, this is not cu

[2021-08-30 15:37] doompadee commented on #5065
Same issue here. I'm trying to integrate custom Hugo shortcodes with the editor, but it currently does not seem possible which makes Netlify less ideal if non tech-savvy writers are involved.

[2021-08-30 15:43] erezrokah commented on #5769
Hi @curtiswallen, I believe this is partially covered using [nested collections](https://www.netlifycms.org/docs/beta-features/#nested-collections), and the rest should be covered by https://github.com/netlify/netlify-cms/issues/4972.

If this is not covered in #4972, please comment and I'll re-open the issue

[2021-08-30 15:43] #5769 closed

[2021-08-30 20:46] tw1t611 opened #5770 "Only default locale editable i18n"
**Describe the bug**
In the admin ui, only the default locale is shown.
Therefor it is not possible to edit other locale.

**To Reproduce**
1. Goto Admin UI -> any Collection
2. Open an entry

**Expected behavior**
Other locales are shown.

**Screenshots**
![image](https://user-images.githubusercontent.com/13353525/131402268-973e1c74-00b8-473b-832f-017118192932.png)

**Applicable Versions:**

 - N

[2021-08-31 00:56] tengkuzulfadli commented on #4739
I have the same issue with Nextjs-Netlify Blog template

[2021-08-31 06:51] devzakir opened #5771 "TypeError: e.map is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.160`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.159 Safari/537.36`

**CMS configuration**
[code]

[2021-08-31 07:15] devzakir opened #5772 "TypeError: e.map is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.160`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.159 Safari/537.36`

**CMS configuration**
[code]

[2021-08-31 07:16] #5771 closed

[2021-08-31 08:45] martinjagodic commented on #4877
I would love to see this implemented

[2021-08-31 09:06] erezrokah commented on #5770
Hi @tw1t611, you should set the `i18n` configuration on specific fields too, see https://www.netlifycms.org/docs/beta-features/#i18n-support.

Closing, if my suggestion doesn't work please comment and I'll re-open

[2021-08-31 09:06] #5770 closed

[2021-08-31 09:09] erezrokah commented on #5772
Hi @devzakir, can you fill in the missing parts from the issue template, see https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title

[2021-08-31 13:15] doompadee opened #5773 "Support title fallback when custom override field is not present or empty"
**Is your feature request related to a problem? Please describe.**
I'm using Hugo to create a website and use the "linkTitle" frontmatter variable to provide concise titles for use in menus when necessary. If the variable is not present, Hugo falls back to "title". See https://gohugo.io/content-management/front-matter

**Describe the solution you'd like**
When present, I'd like to have Netlify dis

[2021-08-31 20:31] wjharney opened #5774 "Use an alternative to `ref` for the GitLab backend"
**Is your feature request related to a problem? Please describe.**
The ClearURLs browser extension strips the `ref` query parameter from URLs. The GitLab backend relies on the `ref` query parameter to function properly, and posts cannot be changed without it.

**Describe the solution you'd like**
The APIs for the GitLab backend should use an alternative query parameter (perhaps `reference`), to av

[2021-08-31 20:36] tw1t611 commented on #5770
works, ty :)

[2021-09-01 06:57] doompadee commented on #5773
Looking at the code, I decided to only add a fallback for the `title` field in collection fields for now. This yields already a sizeable improvement with minimal code changes.

Instead of  of the longish full title

![image](https://user-images.githubusercontent.com/31240866/131625495-96a0e38a-c6f5-4969-b01a-4a9c96814238.png)

It now displays the shorter `linkTitle` (as defined via `identifier_fie

[2021-09-01 09:24] erezrokah commented on #5774
Hi @wjharney, this doesn't seem like an issue with Netlify CMS and impacts other sites as well (not just GitLab). See https://github.com/ClearURLs/Addon/issues/93.

My expectation is that ClearURLs should be smart enough not to remove all `ref` parameters, but only those that are used for tracking, or at least provide a way to opt out from certain rules for specific hosts.

Even if we find a solut

[2021-09-01 09:24] #5774 closed

[2021-09-01 09:47] erezrokah commented on #5773
What were the other considerations? I thought this was only about the collection view.
What are the other places we should be having this behavior?

[2021-09-01 09:53] doompadee commented on #5773
The summary on the right, but I can live with the current behavior for that. For the collection tree on the left, the desired change is crucial to me. I would therefore vote for having this rather simple change integrated now, instead of looking for a more complex solution that might be rejected because it does not apply to a majority of users.

[2021-09-01 10:03] erezrokah commented on #5773
So the sidebar and the entries list could display a different summary?

[2021-09-01 10:11] doompadee commented on #5773
You can already customize the summary, but when the field is not present or empty, netlify currently displays an empty string for summaries, when I would prefer a fallback.

But as I said, this aspect is less important for me and as the implementation would get more complex, I'm fine to concentrate on the collection sidebar entries. As shown in the screenshots above, this change can have a big imp

[2021-09-01 10:21] erezrokah commented on #5773
Cool, I think you can open a PR so I can see this live

[2021-09-01 14:23] delwin opened #5777 "getEntriesByCollection available in previews"
I do not see this feature request opened, but may have missed something. It is similar to the request on the answers.netlify.com site: https://answers.netlify.com/t/access-entries-data-from-netlify-cms-events/15985.

**Is your feature request related to a problem? Please describe.**
Producing a proper preview in the preview pane when an item contains a reference to another collection (relation wid

[2021-09-02 07:19] doompadee commented on #4895
Yes, that's what I think. It seems one has to provide a remark plugin for shortcodes. There's mention of a beta feature for that: https://www.netlifycms.org/docs/beta-features/#remark-plugins and there is a `remark-shortcodes` plugin (that does not support nested shortcodes).

I'm quite surprised that there is very little action surrounding this issue. I'd have thought that Hugo shortcodes are a c

[2021-09-02 10:06] erezrokah commented on #4895
Hi @doompadee and all, we cover some of that in our docs https://www.netlifycms.org/docs/hugo/#using-hugo-shortcodes-in-the-markdown-editor and also link to an external repo with Hugo short codes.

Having those built-in could be tricky as it might break non-Hugo sites.

Maybe we can be smart about it and automatically add editor components based on a detected framework/site (or initially have the

[2021-09-02 19:31] doompadee commented on #4895
The problem is not how to use the provided infrastructure, but that it is lacking! This invalid data warning creeps up every now and then and if I'm not mistaken, shows a general issue with the current shortcode support. I tried with several of my shortcodes and all seem to show this warning message for seemingly no reason which is confusing at first and annoying afterwards. My editor components a

[2021-09-03 21:27] AdrianaFadel opened #5778 "IndexSizeError: Failed to execute 'setStart' on 'Range': There is no child at offset 38."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.160`
 - Git provider: `github`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.63 Safari/537.36`

**CMS configuration**
[code]

[2021-09-03 21:54] pr0grammm commented on #5466
Hello @erezrokah I would like to work on this feature please! Post author here refers to the author of the PR right? So for the GitHub backend for exampIe, I would need to propagate the value of pullRequest.user.login I guess? Please correct me if I am mistaken.

[2021-09-04 13:08] doompadee opened #5779 "Document the "collapsed" parameter for "registerEditorComponent""
**Describe the bug**
https://www.netlifycms.org/docs/custom-widgets/#registereditorcomponent does not document the optional `collapsed` parameter.

**To Reproduce**
Visit said documentation page and check whether the parameter is documented.

**Expected behavior**
The `collapsed` parameter should be documented.

**Screenshots**

![Screenshot 2021-09-04 at 12-47-10 Creating Custom Widgets Netlify C

[2021-09-04 14:43] suetorres commented on #3718
Have you tried this: https://answers.netlify.com/t/common-issue-netlify-cms-git-gateway-email-not-confirmed/10690 works for me. And try switching your branch in config.yml from master to main.

[2021-09-05 13:05] bytrangle commented on #5617
Hello @mooeypoo . Are you still working on this issue?

[2021-09-05 16:18] sandro-git opened #5781 "TypeError: Cannot read property 'path' of undefined"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.160`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.159 Safari/537.36`

**CMS configuration**
[code]

**Additional context**

[2021-09-05 19:47] mooeypoo commented on #5617
I was for a bit, and then drowned a bit at work and discovered I have much less time than I wanted...
If anyone wants to pick this up, please do! I don't think I'll have a lot of time to delve back into this unfortunately for a bit longer.

[2021-09-06 08:45] doompadee opened #5792 "Customize list view for individual entries in nested collections"
**Is your feature request related to a problem? Please describe.**
I have a nested folder collection for a directory tree that also includes a news section. For this section (that works like a blog), I want to use a different format for the list view because here the post date is a vital criteria that should appear in the entry summary and in the sort dropdown. But Netlify currently only lets me c

[2021-09-07 03:26] iChenLei opened #5793 "chore: netlify-cli package install-size analysis"
### TL;DR
Too many big-size binary npm package in dependencies list, so `netlify-cli`'s install size is very huge.

### List all  netlify-cli(v6.8.6) deps
| package | install-size | semver |
| :------- | :------- | :----: |
| @netlify/build | [![install size](https://packagephobia.com/badge?p=@netlify/build)](https://packagephobia.com/result?p=@netlify/build) | ^18.7.4 |
| @netlify/config | [![ins

[2021-09-07 03:32] #5793 closed

[2021-09-07 16:59] Sparkles2000 commented on #941
my token expired and my password doesn't work but it is saying that I already have an account to sign in using that account I try resetting my password and it says token expired what do I do?

[2021-09-08 06:00] taineriley1 opened #5794 "Use keyboard shortcuts to insert bullet point lists in the Rich Text editor"
**Is your feature request related to a problem? Please describe.**

In the markdown editor, you can insert bullet point lists using '* ' (asterisk-space) or '- ' (dash-space). However, this is not available in the rich text mode. Users have to click the bullet points formatting button at the top of the widget to add the formatting.

The rich text editor allows other keyboard shortcuts such as Ctrl

[2021-09-08 06:00] taineriley1 commented on #5548
Hi @bradystroud @Nrestrepo05 @erezrokah,

I think it would be great to have the logo replace the URL in the right of the header. Clicking on the logo would be a link to the base site. This will save room in the header and make it look cleaner.

![123883052-744fcb00-d98b-11eb-82bc-a9855dde0836](https://user-images.githubusercontent.com/40375803/131060774-455a636f-e494-4858-913b-99216eeccd72.png)
**

[2021-09-08 06:00] taineriley1 commented on #4635
Hi @sveinpg @banyudu @erezrokah,

We are experiencing similar issues with this widget and would also like the performance improved. This widget is very useful for connecting entries together, and I've seen several issues in this repo referencing it.

Thanks,
Taine

[2021-09-08 06:27] taineriley1 opened #5795 "Update the SlateJS Editor"
**Is your feature request related to a problem? Please describe.**

The SlateJS rich text editor currently used in Netlify CMS is at v0.47. This version was released in May 2019, with the current version at v0.61. Although there are several breaking changes involved in updating this, Netlify CMS is now over 2 years behind the current version and it would be great to remove this technical debt.

**

[2021-09-08 23:00] taineriley1 commented on #5723
Hi @ViAsmit @anshul2807 @JonasMatos0,

I'm not sure if anyone is working on this, but in response to @ViAsmit's question:

See https://github.com/netlify/netlify-cms/blob/master/packages/netlify-cms-backend-github/src/AuthenticationPage.js#L118
This is where the button is loaded.

See https://github.com/netlify/netlify-cms/blob/master/packages/netlify-cms-ui-default/src/AuthenticationPage.js#L79
T

[2021-09-09 09:48] erezrokah commented on #5466
Thanks @pr0grammm! I think you're correct with all you questions/answers

[2021-09-09 14:51] erezrokah commented on #5753
Hi @trfv, sorry I was out for a few days. I'll try to look into it until early next week

[2021-09-09 14:59] erezrokah commented on #5795
Related to https://github.com/netlify/netlify-cms/issues/5652

[2021-09-09 20:01] pr0grammm commented on #5466
Thanks, please check out the PR 🙂

[2021-09-10 08:38] luksak commented on #2183
Just tried to get this to work, but failed until now...

[2021-09-10 10:37] BenRauzi commented on #2012
@apolopena  @andru  I don't suppose you guys have an example of this do you?

[2021-09-10 15:12] #5717 closed

[2021-09-10 17:55] Wild1145 opened #5798 "TypeError: n.log is not a function"
**Describe the bug**

Page suddenly crashed when trying to delete a pre-populated field in a page on my websites content.

**To Reproduce**

Within the application I have deployed in the admin panel change the "Resolved" Field to empty / delete it.

**Expected behavior**

The field clears properly and page continues to function.

**Screenshots**

Error:
![Error screen](https://media.discordapp.net

[2021-09-10 22:39] lilyx13 opened #5799 "TypeError: n.log is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.161`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (X11; Linux x86_64; rv:93.0) Gecko/20100101 Firefox/93.0`

**CMS configuration**
[code]

**Additional context**

[2021-09-11 18:58] turq84 commented on #1816
This worked for me, but instead of setting it up on my organization, I was able to transfer the ownership of the OAuth from my personal account to the organization. Thanks for the insight!

[2021-09-12 07:50] delwin commented on #5093
We have the same issue, though this happens when switching back to the same record, too, the relationship values being asynchronously duplicated in the record. This happens in one of our collections, and it also makes use of several relationships, which link to a collection that has 135 records.

We are also currently using GitLab. This may be where the issue lies, because we didn't see this prior

[2021-09-12 18:33] nielsvhb opened #5800 "TypeError: n.log is not a function"
**Describe the bug**
This error appears when using the datetime widget and clicking on the input field.

**To Reproduce**
Use a datetime widget with following config and click on the input in the admin panel.

**Expected behavior**
To show the datetime picker

**Screenshots**
![image](https://user-images.githubusercontent.com/4354133/132998856-ad766ee7-9616-4d21-8015-7245fd60df39.png)
![image](htt

[2021-09-12 18:37] nielsvhb commented on #5799
The issue above seems to only appear when using the "default" property. Omitting this will use current datetime which is fine. Yet the docs need to be updated as such.

[2021-09-12 18:37] nielsvhb commented on #5800
The issue above seems to only appear when using the "default" property. Omitting this will use current datetime which is fine. Yet the docs need to be updated as such.

[2021-09-13 08:21] erezrokah commented on #5799
Closing in favor of https://github.com/netlify/netlify-cms/issues/5800 as it has more info

[2021-09-13 08:21] #5799 closed

[2021-09-13 08:22] erezrokah commented on #5798
Closing in favor of https://github.com/netlify/netlify-cms/issues/5800 as it has more info

[2021-09-13 08:22] #5798 closed

[2021-09-13 08:42] erezrokah commented on #5800
This was introduced by a dependency update and was already fixed upstream https://github.com/arqex/react-datetime/issues/801.

I'll force an update to get the latest changes

[2021-09-13 09:20] #5800 closed

[2021-09-13 12:02] andreasbalevik opened #5806 "Fields with widget: hidden and default value does not work with collections containing files property"
**Describe the bug**
Im using Netlify CMS with jekyll.

I got this problem.

A collection with files, using the widget hidden with a default value does not get populated.

[code]

Outputs

`frontpage.md`

[code]

But using a collections with folder.

[code]

Outputs correct
`{{slug}}.md
`
[code]

**To Reproduce**

Site with netlify cms. Use _config provided below.

**Expected behavior**

[code]

s

[2021-09-13 12:57] #4891 closed

[2021-09-13 12:57] #5093 closed

[2021-09-13 13:04] erezrokah commented on #5806
Closing this in favor of https://github.com/netlify/netlify-cms/issues/3046, thank @andreasbalevik

[2021-09-13 13:04] #5806 closed

[2021-09-13 13:15] erezrokah commented on #5093
A fix for this bug has been released in [`netlify-cms@2.10.163`](https://github.com/netlify/netlify-cms/releases/tag/netlify-cms%402.10.163)

[2021-09-13 15:22] #5773 closed

[2021-09-13 15:28] erezrokah commented on #4671
Closing this per the suggested solution

[2021-09-13 15:28] #4671 closed

[2021-09-13 15:34] erezrokah commented on #5753
Hi @trfv, what do you think about using the existing [`prePublish`](https://www.netlifycms.org/docs/beta-features/#registering-to-cms-events) event for pre-publish validation?

We could change the code to throw on event handler failure and have the event throw to stop publishing.
See https://github.com/netlify/netlify-cms/blob/972e3074a4c3ee3d1a07f18f5892e18edd954fe1/packages/netlify-cms-core/src/

[2021-09-14 10:29] bytrangle commented on #5795
Do we have a singular place for discussing upgrading Slate.js?

[2021-09-14 10:52] erezrokah commented on #5795
Hi @bytrangle, I link related issues in https://github.com/netlify/netlify-cms/issues/5652, but I think we should use this issue (#5795) for the discussion. WDYT?

[2021-09-14 11:09] bytrangle commented on #5617
Hello @erezrokah . This is what you said in order to resolve branch when no branch name is specified in config:

I don't understand why step 1 and 2 are neccessary? Is it because there are already users who leave out `branch` configuration and their content have been pushed to `master` for a while? So if I just retrieve the default branch and use that one, the default branch may not be `master` an

[2021-09-14 11:16] bytrangle commented on #5795
Actually, I like Taine Riley's list of things to consider before upgrading, especially **"Determine whether it is worthwhile updating Slate to the latest version"**.

I recently fixed a bug with Slate the new version and none of things I learned with old Slate was applicable to new Slate. The latter is a new paradigm and I'm not even sure if upgrading Slate or using an alternative will cause the l

[2021-09-14 11:45] erezrokah commented on #5617
💯

1. and 2. are to not break the CMS for users that leave out the `branch` configuration and have their default branch not set to `master`

[2021-09-14 11:49] erezrokah commented on #5795
💯

Taine's [issue](https://github.com/SSWConsulting/SSW.Rules/issues/679) is not on the CMS repo so it gets less visibility from the CMS community.

I'm good with copying whatever we think is relevant

[2021-09-14 12:21] Annemariekekleijn opened #5811 "TypeError: Cannot read properties of undefined (reading 'replace')"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.164`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.63 Safari/537.36`

**CMS configuration**
[code]

[2021-09-14 14:52] bytrangle commented on #5617
Masterfully explained 💯. Thank you. I don't have Gitlab or Bitbucket account but is it also an issue on those services? AFAIK they used to name default branch `master` , but have moved away from that, like Github.

[2021-09-14 15:09] bytrangle commented on #5617
I haven't dived into it yet, but your suggestion sounds good. Will get back with what I find soon.

[2021-09-15 01:17] austinschrader commented on #4329
This is a huge issue, obviously. I can't grant Netlify access to every organization I'm a part of.

[2021-09-15 03:32] chromjs opened #5812 "Cloudinary using a string value instead of an array when selecting a single image"
**Describe the bug**
This issue is the same as the one described here #2573

**To Reproduce**
1. Use the following configuration
[code]
2. Create a new item with two images
3. Create a new item with a single image
4. You should have 2 new files
[code]
[code]

**Expected behavior**
Item "Two" should be an array of a single item

I created a repo with the minimal configuration:
https://github.com/ch

[2021-09-15 10:07] trfv commented on #5753
hi, @erezrokah

Yes, I also thought this was another way to accomplish my use case, and I avoided the breaking change... :pray:
I am working on creating new Pull Request. Thank you.

https://github.com/netlify/netlify-cms/pull/5813

[2021-09-15 12:43] bytrangle commented on #5617
Hello @erezrokah. I've realized that I've only worked with the editor in Netlify CMS and thus never set up the app locally for debugging. This is what I did following the ["Contributing" guide](https://github.com/netlify/netlify-cms/blob/master/CONTRIBUTING.md):
1. In `dev-test/config.yml`, replace the default value for backend name and repo with "github" and my Github repo.
2. Replace `site_url`

[2021-09-16 04:10] dara-icf opened #5815 "TypeError: Cannot read properties of undefined (reading 'path')"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.164`
 - Git provider: `github`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.63 Safari/537.36`

**CMS configuration**
[code]

**Additional context**

[2021-09-16 17:59] mosesoak commented on #1342
@erquhart For us this feature would improve the "page building" power of variable-type lists. For example, in defining a list of 'atoms' like,
- icon [list]
- heading [text]
- body [markdown]

Followed by composed 'molecules' like,
- Hero
  - image
  - icon, heading, and body fields [references to atoms]

I'm currently looking into whether we can use aliases to accomplish this for now but like see

[2021-09-16 22:19] aciccarello commented on #5419
Squoosh also can strip some metadata that people may want to keep private (such as location information). It'd be good to do that before a file is saved to git. I currently do this manually.

[2021-09-18 13:52] mtfoley commented on #5812
Haven’t dug into it but I would think this line was related.
https://github.com/netlify/netlify-cms/blob/00103d975700e72a1ebfc3eb5cecfb8d7017821d/packages/netlify-cms-media-library-cloudinary/src/index.js#L63

[2021-09-18 14:39] mtfoley commented on #5812
This test also looks relevant:
https://github.com/netlify/netlify-cms/blob/00103d975700e72a1ebfc3eb5cecfb8d7017821d/packages/netlify-cms-media-library-cloudinary/src/__tests__/index.spec.js#L140

[2021-09-19 15:52] kylesloper opened #5817 "Remove additional text in buttons"
![image](https://user-images.githubusercontent.com/45979758/133934023-af95dc67-dcae-43c5-bdeb-c9d9474057ea.png)

When creating a typed-list, I have encountered this purely aesthetic yet frustrating problem. By default the button displays "add+ _list Label_+item".

Is there any current options to disable the extra "item" since it is just unnecessary for most use cases.

[2021-09-21 23:29] alexgonch commented on #1025
What's the state of this issue? It's definitely a very desired feature in our team.

[2021-09-22 09:26] IngridGo opened #5837 "NotFoundError: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child o..."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.164`
 - Git provider: `github`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.82 Safari/537.36`

**CMS configuration**
[code]

[2021-09-22 15:27] bytrangle commented on #5837
Hello @IngridGo . Can you provide some screenshots of the issue and steps to reproduce the problem? I suspect that this is an issue with Slate.js, the editor used by Netlify CMS.

[2021-09-22 15:29] bytrangle commented on #5815
Hello @dara-icf . Can you provide the steps of actions that lead to the `TypeError` issue?

[2021-09-22 15:31] bytrangle commented on #5811
@Annemariekekleijn  Can you provide the steps of actions that lead to the TypeError issue?

[2021-09-22 15:37] bytrangle commented on #5781
Hello @sandro-git . Can you provide the steps of actions that lead to the TypeError issue? There have been three report of this issue in the past week, so it's probably not trivial. The more information you give, the faster it takes for our amazing contributors to fix it.

[2021-09-23 00:45] talmax1124 opened #5838 "Multi-Select or Single Select Radio & Checkbox Widget"
In many blogs, there is almost always a group of 2 or more especially when in a big group. I especially need this widget for my team when making blogs. If this could be a feature or if someone has already this implemented, it would be great! Thanks!

[2021-09-23 00:46] talmax1124 commented on #5838
I've Tried the widget from Kaorlis & no luck

[2021-09-23 07:45] IngridGo commented on #5837
Hello Trang,

Thank you for your support. Here are the screenshots, I admit I’m not comfortable, I’m not used to Github. Thanks for your help, it’s important for my job !

Good day,
Ingrid

[2021-09-24 09:54] abxhr commented on #5794
I'll be happy to work on this, but I'm not sure how this could be achieved.

[2021-09-24 13:37] gangsthub commented on #5815
This happened to me. Looking at the error messages I found that Netlify CMS was trying to save in my repository in the `master` branch, But I only had a `main` branch. Quick and dirty solution was to create the master branch and go back to use it by default. Following these steps but changing "main" for "master" 😢:

https://stevenmortimer.com/5-steps-to-change-github-default-branch-from-master-to-

[2021-09-24 13:47] bytrangle commented on #5815
@gangsthub : Do you mean that this error stems from Netlify CMS trying to push content to a `master` branch that doesn't exist?
Actually, it's a known issue for while #5617 and I'm actively working on fixing it. It's not complicated, but there's already a large backlog of PRs to review so it will take a while.

But I'm not sure if that is the sole cause of this issue. Last time I encountered this

[2021-09-24 16:46] mikhailovenator commented on #5161
Here response from  `/commits/${sha}/status` for my PR commit:
{
  "state": "pending",
  "statuses": [],
  "sha": "{sha}",
  "total_count": 0,

statuses array is empty and NetlifyCMS can't find preview Url.

Here response from `/commits/${sha}/check-runs` for my PR commit:
{
  "total_count": 1,
  "check_runs": [
    {
      "id": 3701733993,
      "details_url": "https://pr-1.{app}.amplifyapp.com"

[2021-09-25 18:29] gangsthub commented on #5815
I'll try to come up with a repro guide, but I can't promise anything. The only thing I know is that it got fixed after I did the branches change. 🙏🏽

[2021-09-26 08:11] naavis commented on #1206
I guess this is not going to happen any time soon, given no one has commented in over a year?

[2021-09-26 08:37] pawan43563 commented on #5794
Can you assign me? Would love to contribute!

[2021-09-26 16:24] juuuuuuun commented on #5817
Can I work for it? :)

[2021-09-27 10:33] bytrangle commented on #5815
@gangsthub : The issue will always get resolved if you specify the branch name in the config. Actually, it only manifests when you don't configure branch name, which I think is the case with many newly-initiated project with Netlify CMS.

What happens under the hood is that Netlify CMS will assume that your default branch is `master`, which is no longer the case with all the major Git host. Then,

[2021-09-27 17:39] dara-icf commented on #5815
Yes! I did figure this out. Thanks. The line to specify branch was commented out.

--
Dara Pressley

From: Trang Le ***@***.***>
Date: Monday, September 27, 2021 at 3:33 AM
To: netlify/netlify-cms ***@***.***>
Cc: Pressley, Dara ***@***.***>, Mention ***@***.***>
Subject: Re: [netlify/netlify-cms] TypeError: Cannot read properties of undefined (reading 'path') (#5815)

@gangsthub<https://github.co

[2021-09-27 22:13] i-bsd opened #5845 "Feature Request: Notification counter in header for Workflow items"
A small notification counter on the Workflow item in the header would be really helpful, as there is currently no way for writers/collaborators/editors to see if there are posts waiting to be reviewed (unless they click through to the Workflow screen).

Should be an easy thing to add?

Here's a mockup to explain what I mean:

![shot](https://user-images.githubusercontent.com/34989694/134992421-a20

[2021-09-28 02:04] kenkoy opened #5846 "i18n issue when the number of locale is more than 8"
Good day everyone.

May I ask if you can spare some time to validate my concern and perhaps guide me on the correct solution.

Post gets duplicated when the number of locale used is more than 8. Only 1 of the 2 posts is clickable and loadable. The incorrect one generates a wrong slug, instead of just the slug it appends the locale used (slug.locale) which is not existing and so it failed loading t

[2021-09-28 14:35] mmkal opened #5848 "Custom output formatter"
**Is your feature request related to a problem? Please describe.**

I'm setting up Netlify CMS for a mostly-static site, written in Next.js and TypeScript. None of the output types seem _quite_ right for the project:

- `md`: requires using a frontmatter parser, either at build time or runtime - and what's parsed will be typed as `any`
- `toml`: similar to above
- `yaml`: similar to above
- `json`

[2021-09-28 16:08] bytrangle commented on #5815
@dara-icf So is it okay to close this issue now?

[2021-09-28 16:17] gangsthub commented on #5815
Thanks, @bytrangle! I forgot about that branch option in the configuration!

[2021-09-28 16:22] bytrangle commented on #5815
@gangsthub Many of us got tripped by that when first setting up Netlify CMS :).

[2021-09-28 17:47] animanoir opened #5849 ""gatsby-plugin-netlify-cms" threw an error while running the onCreateWebpackConfig lifecycle: Cannot read property 'data' of undefined"
Hi. I'm trying to add this plugin into my existing site. The template is a heavily modified version of this https://github.com/weensykim/gatsby-london-after-midnight . Before adding the plugin everything worked, but now, while attempting `gatsby develop` it shows me this error:

[code]

**To Reproduce**
1. Follow this tutorials: https://www.gatsbyjs.com/plugins/gatsby-plugin-netlify-cms/ and https

[2021-09-28 17:52] dara-icf commented on #5815
Yes, but know that that was figured out… I continue to amazed at how easy Netlify CMS is!

--
Dara Pressley

From: Trang Le ***@***.***>
Date: Tuesday, September 28, 2021 at 9:23 AM
To: netlify/netlify-cms ***@***.***>
Cc: Pressley, Dara ***@***.***>, Mention ***@***.***>
Subject: Re: [netlify/netlify-cms] TypeError: Cannot read properties of undefined (reading 'path') (#5815)

@gangsthub<https://

[2021-09-28 18:42] Matt-Freeland commented on #4972
I've also run into this issue trying. Stuff gets pretty strange when there is on `index.md` file.

My project is organized into folders like this

[code]

Here is my config.yaml
[code]
The output from the CMS is this:
![image](https://user-images.githubusercontent.com/76974448/135146383-17e3c4df-22a8-41cd-9798-e34544483012.png)

Note that the second subfolder is entirely missing - but all the file

[2021-09-29 08:00] ManojBahuguna opened #5850 "Allow copying data from other locales"
When internationalization is enabled, we can have an option to clone all the data from any other locales.
Similar to what strapi provides (screenshots attached).

![image](https://user-images.githubusercontent.com/19573007/135227242-b5c06325-cae6-4201-803f-eb41e1106263.png)

Steps could be something like:
- Click on 'Fill in from another locale' button
- ask to select a language from where to copy

[2021-09-29 10:15] erezrokah commented on #4329
Hi @austinschrader, to clarify Netlify doesn't require access to every organization.

**Netlify CMS** (which acts as a GitHub client) requires repo access since it modifies repo files to manage content. That access can't be scoped to a specific repo due to the limitations specific https://github.com/netlify/netlify-cms/issues/4329#issuecomment-694826032 (those are on GitHub's side).

We'd be happy

[2021-09-29 10:29] prakis commented on #4329
@erezrokah I saw few web apps asking for individual repo access (request access for repo on project basis).

[2021-09-29 11:35] erezrokah commented on #5617
Hi @bytrangle, looks like you already figured that one out in https://github.com/netlify/netlify-cms/pull/5814

[2021-09-29 13:02] erezrokah commented on #1013
Closing as done

[2021-09-29 13:05] erezrokah commented on #5848
Thanks @mmkal, this issue is a duplicate of https://github.com/netlify/netlify-cms/issues/2757, but I'm keeping this one as it's more detailed.

Also to be reviewed https://github.com/netlify/netlify-cms/pull/5839

[2021-09-29 13:05] erezrokah commented on #2757
Closing in favor of https://github.com/netlify/netlify-cms/issues/5848

[2021-09-29 13:05] #2757 closed

[2021-09-29 16:55] erezrokah commented on #5161
FYI we have a [PR](https://github.com/netlify/netlify-cms/pull/5733) to support deployments that can be used as a reference for status checks support (if we decide to support it).

[2021-09-29 17:45] erezrokah commented on #1206
Hi @naavis, unless GitHub added LFS support to their API I don't see a way forward.
Happy to accept a contribution for it  if someone figures out a solution.

[2021-09-29 17:49] erezrokah commented on #5794
Hi all and sorry for the late reply. Not sure who's still ready to pick this up, but https://github.com/netlify/netlify-cms/blob/master/packages/netlify-cms-widget-markdown/src/MarkdownControl/VisualEditor.js would be a good place to start.

[2021-09-29 17:53] erezrokah commented on #5846
Hi @kenkoy, do you mind following the bug report per https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title?

It's hard to reproduce your issue at the moment.

[2021-09-29 18:21] erezrokah commented on #4329
Hi @prakis, can you share those?

[2021-09-29 18:25] erezrokah commented on #3650
Hi @marovargovcik! The hint configuration is accessed here:
https://github.com/netlify/netlify-cms/blob/089533683b0483d31da6dc158f3b9bb5f14fb88f/packages/netlify-cms-core/src/components/Editor/EditorControlPane/EditorControl.js#L215

and the List widget is rendered here:
https://github.com/netlify/netlify-cms/blob/089533683b0483d31da6dc158f3b9bb5f14fb88f/packages/netlify-cms-widget-list/src/ListCo

[2021-09-29 18:40] prakis commented on #4329
Ya sure.

https://Railway.app
Render.com
Tina.io

These are some apps which use only selected repositories.

[2021-09-29 18:59] erezrokah commented on #4329
I tested this one and it installs a GitHub application on your organization:
![image](https://user-images.githubusercontent.com/26760571/135330831-f1ec6597-3350-4d95-8cc4-ba1ff9538753.png)

GitHub apps do provide better granularity for permissions, but I don't think they can be used in a headless environment like the CMS. See https://docs.github.com/en/developers/apps/getting-started-with-apps/dif

[2021-09-30 03:58] bytrangle commented on #5617
Hello @erezrokah . I still don't understand how to test all the **local** changes to the backend libraries for Github, Gitlab, Bitbucket etc.

Suppose I've done some changes to set default branch in Github. To see those changes, I'd adjust the config under `dev-test`:

[code]

Now, I need to make those same changes to Gitlab. I need to change the config to point to a valid Gitlab repo and a live s

[2021-09-30 04:54] gffweb opened #5853 "TypeError: Cannot read properties of undefined (reading 'trim')"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.15.19`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.61 Safari/537.36`

**CMS configuration**
[code]

[2021-09-30 09:08] erezrokah commented on #5853
Hi @gffweb, can you add the missing information from the bug report template https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title

[2021-09-30 12:58] erezrokah commented on #5617
Hi @bytrangle, that's the correct way to test backend changes.
You'll need to verify them on each service.

FYI, our automation uses [pre-recorded data](https://github.com/netlify/netlify-cms/tree/master/cypress) to test the backends, but that I'm not sure we need to update those tests for the linked PR.

[2021-10-01 08:33] arinjaysaraf commented on #5817
I would like to give this a try, can you please assign me this issue.

[2021-10-01 18:19] mmkal commented on #3753
@erezrokah I know this is n old issue but I'm hitting something similar. I have editorial_workflow enabled, and PRs are being successfully created. The repo is using GitHub actions so commit statuses should be working normally. But no preview url. Is there a way to debug this?

Alternatively, it'd be great to be able to "force" a preview url - we are using next.js and pull content using the github

[2021-10-02 05:12] regromrob commented on #4608
Hi @erezrokah may I be assigned to this issue please?

[2021-10-02 12:54] smashercosmo commented on #5102
Just stumbled upon this myself. This issue makes it impossible to use netlify-cms with big images. @erezrokah have you thought about how to fix it?

[2021-10-04 05:46] chrysillala commented on #5845
Hi @erezrokah , I would like to solve this, could please assign me and provide more details? Thanks!

[2021-10-04 09:51] erezrokah commented on #5845
Thanks @chrysillala, the code for the Workflow tab is here:
https://github.com/netlify/netlify-cms/blob/6d801ae092a6763bd751cb82bd238c7c12b31884/packages/netlify-cms-core/src/components/Workflow/Workflow.js

I would first recommend trying to implement it for the Test backend:
https://github.com/netlify/netlify-cms/blob/6d801ae092a6763bd751cb82bd238c7c12b31884/packages/netlify-cms-backend-test/src/

[2021-10-04 16:26] arinjaysaraf commented on #5817
Hey there, I have located the place of the button on the website, but I am unable to locate the exact Js file. Could you help me locate it?

[2021-10-04 16:46] tomrutgers commented on #5817
It's in the locales file, for English that's `packages/netlify-cms-locales/src/en/index.js` on line 202

[2021-10-04 17:09] arinjaysaraf commented on #5817
Thanks @tomrutgers

[2021-10-04 18:53] stevengmorrell opened #5867 "TypeError: Cannot read properties of undefined (reading 'get')"
**Describe the bug**

When navigating to an existing article or when trying to create a new article the preview pane shows the error described in the title.

**To Reproduce**

Navigate to article edit/create.

**Expected behavior**

Preview of content show in preview pane.

**Screenshots**
![Screenshot 2021-10-04 195158](https://user-images.githubusercontent.com/42703220/135907757-38570ecf-482b-4f

[2021-10-04 20:26] evelew commented on #5630
Hi, can I fix this one?

[2021-10-05 06:45] deepto98 commented on #5812
@erezrokah Hi, I'm new to the Netlify project, I would love to pick this up? Can you assign this to me? Also any pointers I should keep in mind while setting up the project/working on this task, would be helpful.

[2021-10-05 09:36] erezrokah commented on #5867
Hi @stevengmorrell, can you share a public repo reproducing the error?
This doesn't happen with [our test site](https://cms-demo.netlify.com/), so we'll need more information about you setup to reproduce.

[2021-10-05 09:39] erezrokah commented on #5630
Thanks @evelew, a possible place to start is here https://github.com/netlify/netlify-cms/blob/6d801ae092a6763bd751cb82bd238c7c12b31884/packages/netlify-cms-widget-object/src/ObjectControl.js#L66

Also see our contribution guide https://github.com/netlify/netlify-cms/blob/master/CONTRIBUTING.md

[2021-10-05 09:55] erezrokah commented on #5102
This requires more research and I don't think there's an easy fix for it.
If you're will to use an external service, [Cloudinary](https://www.netlifycms.org/docs/cloudinary/) should work well.

[2021-10-05 09:59] smashercosmo commented on #5102
Well, I think it's only relevant for a proxy backend. So, maybe it's not that big of a change and research?

[2021-10-05 10:02] erezrokah commented on #5102
Oh right, so I think implementing pagination here https://github.com/netlify/netlify-cms/blob/6d801ae092a6763bd751cb82bd238c7c12b31884/packages/netlify-cms-proxy-server/src/middlewares/localFs/index.ts#L92 would be a good start.

[2021-10-05 10:04] smashercosmo commented on #5102
You said before that it might be possible to drop the base64 encoding/decoding completely

[2021-10-05 10:07] erezrokah commented on #5102
Yes, but I think that without pagination it will only defer the problem.

[2021-10-05 10:10] erezrokah commented on #5812
Thanks @deepto98, I think @mtfoley shared the current code location to get you started.

Also see our contribution guide here https://github.com/netlify/netlify-cms/blob/master/CONTRIBUTING.md

[2021-10-06 09:07] wouter-muller opened #5870 "Provide option to set number of spaces for indentation when Netlify CMS saves a .yml file"
I tried googling for this issue and found absolutely nothing, so i am opening up an issue.

## The problem

We use two ways of editing the content of our website:

- we use Netlify CMS to edit content that is stored in .yml files
- directly editing content in .yml files in our editors

Because as a team we agreed on using 4 spaces for indentation (and prettier auto-formats this every time we save

[2021-10-06 09:55] tangleMesh commented on #4972
I would also love to see such a feature added.
We do also have a more complex structure like the one mentioned by @Matt-Freeland and it is not possible for us to create different collections for the subfolders.

[code]

Could it be possible to simply extend the behavior of `index_file` by making `fields` values available like

`meta: { path: { label: 'Path', widget: 'string', index_file: '{fields.

[2021-10-06 10:28] erezrokah commented on #4972
Thanks @tangleMesh, with your suggestion - what would be the index file `sub-thing.md` or `sub-thing2.md`? That is, what would show up as the parent in the tree, and which entries will be the children?

I think the logic to implement is still this one:

That is, the index file is the parent, and any sibling is a child.

If anyone wants to contribute, the code is here:
https://github.com/netlify/ne

[2021-10-06 13:23] martinjagodic opened #5871 "Editor component dropdown overflow not visible"
**Describe the bug**
If you have some nested markdown widgets and editor components, the dropdown's overflow will not be visible beyond the upper scope markdown widget. In some instances, it also hides below the field header below (screenshot 2)

**To Reproduce**
1. make sure to have a few editor components
2. create some nested markdown fields
3. try to access the last item on the dropdown

**Exp

[2021-10-06 16:23] erezrokah commented on #5871
Thanks @pramodrhegde, the code that renders those is here https://github.com/netlify/netlify-cms/blob/96a89eeac8242660f627157456d0f054d9194aa2/packages/netlify-cms-widget-markdown/src/MarkdownControl/Toolbar.js#L257

[2021-10-06 21:50] beriberikix commented on #2092
@Alexa-Green or @erquhart were either of you still planning on writing a docusaurus guide?

[2021-10-08 08:23] elit-altum commented on #5870
@erezrokah I'll take a shot at it!

[2021-10-09 05:05] mosesoak commented on #793
Hi, we're using the (still beta) variable type lists and yaml aliases to pull off a page-builder model for a project.

But we're using twin.macro which extends emotion with tailwind functionality.

Is there any normal way to get these styles working in preview templates yet?

Thanks

[2021-10-09 19:01] KoljaTM commented on #3677
Added the suggested filters as default() and choice()

[2021-10-10 04:27] terrancecorley opened #5880 "My site will deploy only after I click "clear cache and deploy site""
My netlifycms + gatsby site will only deploy on netlify after I click the "clear cache and deploy site" button. The initial deployment always fails with the below errors. Help?

![image](https://user-images.githubusercontent.com/20272233/136682030-34d431e4-c6fe-4f25-ae14-7de0ff54a4c8.png)

[2021-10-14 11:42] Jejupro opened #5898 "Error: Minified React error #130; visit https://reactjs.org/docs/error-decoder.html?invariant=130..."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.15.11`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.81 Safari/537.36`

**CMS configuration**
[code]

[2021-10-14 14:49] Jejupro opened #5900 "Error: Minified React error #130; visit https://reactjs.org/docs/error-decoder.html?invariant=130..."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.15.11`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.81 Safari/537.36`

**CMS configuration**
[code]

[2021-10-14 15:27] erezrokah commented on #5900
Duplicate of https://github.com/netlify/netlify-cms/issues/5898

[2021-10-14 15:27] #5900 closed, assigned to nobody

[2021-10-15 07:36] aminimalanimal opened #5901 "Add support for multiple media libraries"
I would like to use Netlify CMS’s git-based media library for icons and Cloudinary for larger images and videos. If there is a way to set image management on a per field basis, I haven't been able to find it yet.

The `image` widget currently supports `media_library` configuration to occur within the field, but seemingly not _selection_.

What if setting `media_library` to `null`/`false`/`local`/`

[2021-10-15 16:56] amirbey opened #5904 "error messages due to failed login are covered by the login button"
**Describe the bug**
When a login is failed, the error message displayed is covered by the login button due to a margin-top: -40px styling on the button.

**To Reproduce**

Steps to reproduce the behavior. For example:
1. Attempt to login to www.example.com/admin  with credentials that will result in an unsuccessful authentication and will return **authorization:github:error:{"message":"Some error

[2021-10-15 17:40] erezrokah commented on #5904
Hi @amirbey, can you share a step by step reproduction, possibly in a public repo?
I'm not able to understand the reproduction steps.

Specifically:

This points to an example site

Also, I'm not sure in what context the script you shared is executed

[2021-10-16 01:28] amirbey commented on #5904
I have experienced this when using a Node.js [external oAuth client](https://www.netlifycms.org/docs/external-oauth-clients/) where the callback is called with an error.

Looking at [this example code](https://github.com/vencax/netlify-cms-github-oauth-provider/blob/bad35f2972691acdfb6397377aa656afc4f0b148/callback.js#L51),
this scenario should be created as long as _**mess**_='error'

[2021-10-16 12:39] Xenoty opened #5905 "TypeError: e.replace is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.172`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.81 Safari/537.36`

**CMS configuration**
[code]

**Additional context**

[2021-10-17 15:55] manlm opened #5907 "Preview show error when change name of Cover Image field"
[](url)I am using the default config.xml, when I change the name of the cover image field to "featureImage" like below:
` - label: 'Cover Image'
        name: 'featureImage'
        widget: 'image'
        required: false
        tagname: ''`

the preview feature show this error:
![Screen Shot 2021-10-17 at 22 53 46](https://user-images.githubusercontent.com/12764063/137635071-956cc07b-a67b-4546-b

[2021-10-18 09:47] erezrokah commented on #5907
Hi @manlm, that field is also referenced by a custom preview template:
https://github.com/netlify/netlify-cms/blob/9627452de0eb15201a06de93d9d03e22fe0be9e0/dev-test/index.html#L123
so when you rename it, the template breaks.

I'm keeping this issue open in case anyone would like to improve the error message when it happens.

[2021-10-18 15:58] asset-web commented on #5569
Suggestion:

From an end user's perspective if the "Copy path" function used the "public_folder" vs the "media_folder" suffix this could match usage for wanting to link to a PDF or non image media item using the "link" button from the markdown editor.

[2021-10-19 12:07] anjackson opened #5909 "Collection list contains broken entries when a Scots Gaelic (GD) translation is added"
**Describe the bug**
I have a Hugo site that uses multiple files to store localised content, and have set NetlifyCMS up to edit this collection as shown at https://github.com/ukwa/ukwa-site/blob/169c23635637857029f9d64548f55966ddd94b8f/static/admin/config.yml#L43-L61

[code]

i.e. three languages are supported. When I add the English and Welsh, this works as expected. But when adding the Scots Gae

[2021-10-20 05:16] Sanju3001 commented on #5838
Hi @erezrokah @talmax1124, I would like to work on this, could you please assign it to me and provide more details? Thanks!

[2021-10-20 07:33] tangleMesh opened #5910 "When using "Folder Collections Media and Public Folder" the overall media library files are not shown"
We have set up a netlify instance which in general works quite well. Therefore thanks for the great project!

As we have an own implementation of a static site generation, we prefer to keep the assets near to the documentation site (.md-file) as described [here](https://www.netlifycms.org/docs/beta-features/#folder-collections-media-and-public-folder).

To get this behavior we used the `media_fold

[2021-10-20 18:00] delucis opened #5911 "Access current locale in Custom Preview Template"
When adding a custom preview template with i18n, the template does not seem to receive a prop/data entry to indicate the current locale. This was requested in #5337, but the fix for that (#5875) only made sure the preview refreshes to receive the current locale *content*. For many cases, this is probably enough, but sometimes having the locale itself is helpful (i.e. the string `'en'`, `'zh'`, etc

[2021-10-21 11:54] #5911 closed

[2021-10-21 16:12] lfracalossiFA opened #5915 "Widget documentation for pattern option is formatted incorrectly"
**Describe the bug**
In the widget documentation, the `pattern` option's sample code is appearing all on one line and thus getting cut off by the container boundaries.

This means the sample regex pattern and the form validation error text aren't visible, making it difficult to figure out the syntax.

**To Reproduce**
1. Go to [the widget docs page](https://www.netlifycms.org/docs/widgets/)
2. Scr

[2021-10-22 13:20] delwin opened #5920 "Speed extremely slow with populating relation dropdown (several minutes)"
**Describe the bug**
We have a template that uses four different list fields - each one allowing the administrator to specify any number of items from a collection to be displayed on a page. The list is defined with a relation field widget, similar to the code below. When there were fewer than 30 items in the respective collections and fewer than 5 or so items selected for each of the four lists t

[2021-10-22 17:06] usernamenumber opened #5921 "maxwidth on docs pages is significantly narrower than code samples"
This is regarding pages under `netlifycms.org/docs/`. The max width of the site is very narrow, and much more narrow than any code examples, making docs pages frustrating to read ([example](https://www.netlifycms.org/docs/custom-widgets/#registereditorcomponent)).

![image](https://user-images.githubusercontent.com/188349/138495562-1e196995-6cc6-43c8-a8ed-cb57e09df0de.png)

[2021-10-23 11:14] Aricksoo opened #5923 "TypeError: Cannot read properties of undefined (reading 'replace')"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.14.32`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.81 Safari/537.36`

**CMS configuration**
[code]

[2021-10-23 11:18] #5923 closed, assigned to nobody

[2021-10-25 04:05] tools-netlify opened #5926 "[security] Enforce Branch Protections"
This is an issue generated by (for-internal-use-only)[github-tools](https://github.com/netlify/github-tools/)
### Description
This repository has exceeded the development grace period, and the repo owner must decide if branch protections should be enforced.
If this repository houses code used in production in any capacity, branch protections must be enforced. Read (for-internal-use-only)[here](htt

[2021-10-25 10:14] #5926 closed, assigned to nobody

[2021-10-25 10:19] #5909 closed, assigned to nobody

[2021-10-26 15:40] Garrett-Bodley opened #5930 "Opacity of SVG element is being changed from 100% to 1%"
Netlify is changing the opacity of an SVG element from 100% to 1% rendering it invisible.

**To Reproduce**

1. Go to [the live site](https://noodlr.netlify.app/)
2. Locate the SVG element inside of `div.playpause-icon`
3. See opacity set to 1%

My local stylesheet specifies the opacity at 100% as does the GitHub repository, but Netlify seems to be changing it on its own?

**Expected behavior**

[

[2021-10-27 09:52] #5930 closed, assigned to nobody

[2021-11-02 15:32] Eric-Alain commented on #1999
Not sure if this is helpful at all, but I had a similar issue to this, though not exactly as described above.

For me, it would present me with an option to sign in, but whenever I would click, nothing would happen, the screen would blink and I'd be stuck on the cloudinary sign in page.

Anyways, I was using the brave browser with shields up, turning them off for the Netlify CMS page (and presumab

[2021-11-04 17:22] mmkal opened #5955 "Programmatically validate object against collection config"
**Is your feature request related to a problem? Please describe.**

In certain situations, it's useful to be able to validate an object against a collection config. For example, when the config is changed (e.g. a required field added), a CI job could use a validation API to detect content that is no longer in the right format.

**Describe the solution you'd like**

Something like this:

[code]

**

[2021-11-04 17:30] erezrokah commented on #5955
@mmkal thanks for opening this issue and suggesting an approach.

Users can register their own custom widgets, so the CMS core would not know how to handle those.

As a general approach the CMS delegates handling data to the widgets, as some widgets has logic on how to handle the data based on the widget configuration. For example a datetime widget can have multiple formats, and a list widget can

[2021-11-04 17:52] mmkal commented on #5955
Absolutely, the devil would be in the details for `fieldToJsonSchema`. Complicated widgets like datetime widgets would have correspondingly complicated implementations, but still doable I think. Potentially problematic to need to mirror all widget behavior separately though. Maybe a solution that would work for custom widgets
too would be to introduce an (optional) `toJsonSchema` function on every

[2021-11-05 11:21] aymanouch opened #5956 "node-sass problem in netlify"
### the app is working correctly before add node-sass package but after adding the node-sass I get this problem just in netlify , the app is working in my machine

6:49:38 AM: Waiting for other deploys from your team to complete. Check the queue: https://app.netlify.com/teams....
6:49:58 AM: Build ready to start
6:50:00 AM: build-image version: c5b01a919d3e16af69445c5de0cacb49efbb1a23 (focal)
6:50

[2021-11-05 11:28] erezrokah commented on #5956
Hi @aymanouch, this repo is intended for Netlify CMS (the content management system) related issues.

For Netlify build related issues I suggest to reach out in the forums: https://answers.netlify.com/

Closing the issue, and please comment if you have any other questions

[2021-11-05 11:28] #5956 closed

[2021-11-05 11:30] coelmay commented on #5956
Hey @erezrokah

@aymanouch posted on the forums https://answers.netlify.com/t/node-sass-probleme/46838, linking to this issue.

[2021-11-05 11:30] aymanouch commented on #5956
ok

[2021-11-05 12:31] IanVS commented on #4022
Thanks for the suggestions in this thread.  I was able to come up with this approach, which I think works well and avoids the slug from being changed inadvertently if the title changes, while at the same time not requiring the user to create a slug manually.  If the slug really does need to be changed, it can be done directly in the generated markdown file by someone who hopefully also knows to se

[2021-11-05 14:49] taras commented on #2138
It looks like the issue might be caused by AJV creating a function at runtime to compile JSON schema into executable code. It's described here https://github.com/ajv-validator/ajv/issues/406

One possible solution is to use [standalone](https://github.com/ajv-validator/ajv/blob/master/docs/standalone.md) mode to compile schemas to code at build time.

[2021-11-05 15:08] taras commented on #2138
After a bit more digging, we might have a way to eliminate this problem by compiling schemas during build time.

On https://github.com/netlify/netlify-cms/blob/dbf2920254fb3682e12463a6df8ded4b94b55be0/packages/netlify-cms-core/src/constants/configSchema.js#L364, we'd need to use compiled schema.

To compile schema, we can use [AJV Standalone](https://ajv.js.org/standalone.html) to create executabl

[2021-11-05 17:31] aminimalanimal commented on #3679
@erezrokah
You should be able to reproduce this by removing `dateFormat`, `timeFormat`, and `format` from your configuration.

[2021-11-06 18:03] ManojBahuguna commented on #5850
closed in https://github.com/netlify/netlify-cms/pull/5881

[2021-11-06 18:03] #5850 closed

[2021-11-07 06:20] Chetan11-dev opened #5958 "Subdomain like netlify help needed"
Greetings Netlify Developers, I am solving a problem similar to what you have solved and I thought you  would may like to help.
I want to dynamically create subdomain sites such as "user1.example.com", "user2.example.com" and serve static html and css based on subdomain. For a real world example blogger.com servers html and css for different users on blogspot domain link https://althouse.blogspot.

[2021-11-07 07:09] talves commented on #5958
Hi @Chetan11-dev this repo is intended for Netlify CMS (the content management system) related issues.

For Netlify build related issues I suggest to reach out in the forums: https://answers.netlify.com/

Closing the issue, and please comment if you have any other questions.

[2021-11-07 07:09] #5958 closed

[2021-11-07 09:08] Chetan11-dev commented on #5958
Actually there is nothing wrong with netlify. I needed help for implementing a feature which netlify has. Thought that a netlify backend developer could help. See if is it possible.

[2021-11-08 01:38] jordanwalsh23 commented on #512
I've been struggling with this one also.  I've implemented some simple regex to get around it:

[code]

This just takes any html that is `\<br />` and replaces it with a `<br/>`.

Seems to work ok in my case, maybe this is helpful for others viewing this ticket.

[2021-11-08 13:16] #5915 closed

[2021-11-08 15:37] reydelshit opened #5968 "no prompt to create a password"
I'm trying to create an account for my cms website. I used the template Next.js Blog Template. So then, I followed the documentation [https://www.netlifycms.org/docs/start-with-a-template/] then I waited until the deployment is complete.  After that, I go visit my email and got received this from my email :

1. You have been invited
  You have been invited to create a user on _http://competent-tes

[2021-11-08 23:01] IanVS opened #5969 "Allow setting locale in frontmatter"
**Is your feature request related to a problem? Please describe.**
I am using astro's dynamic routing to build up my urls, and it would be really nice if I could add a hidden `locale` field to my collection so that it appears in the frontmatter.  As it stands, it seems the only way to determine a file's locale is from the path/filename, unless I'm missing another option.

**Describe the solution y

[2021-11-08 23:39] usernamenumber opened #5970 "type definition does not match code for `registerWidget`?"
**Describe the bug**

_I'm willing to submit a PR to address this, but want to be sure I'm not misunderstanding something first..._

The `CMS.registerWidget()` [source](https://github.com/netlify/netlify-cms/blob/dbf2920254fb3682e12463a6df8ded4b94b55be0/packages/netlify-cms-core/src/lib/registry.js#L86) takes four arguments:

[code]

but the [typescript interface exported for it](https://github.co

[2021-11-09 02:48] IanVS opened #5971 "Allow setting i18n.locales from collection"
**Is your feature request related to a problem? Please describe.**
I would like to allow open editing of my documentation site, along with providing the tools to add additional translations.  From what I can tell, though, the `locales` setting (https://www.netlifycms.org/docs/beta-features/#top-level-configuration) is only allowed to be an array of string literals.

**Describe the solution you'd l

[2021-11-09 03:39] IanVS commented on #5971
I think I've found a way to accomplish this.  I can create a `locales.json` file from a collection, import that json file and map the array into a list of locales, and use that within my netlify cms config that I pass to `CMS.init({config});`. It's a little roundabout, but it works!

[2021-11-09 03:39] #5971 closed

[2021-11-09 10:24] erezrokah commented on #5970
Hi @usernamenumber, you're not missing anything.

I believe the schema argument was added after the definitions were written so they are out of sync.
It's optional and it's a JSON schema to validate the widget properties, see example:
https://github.com/netlify/netlify-cms/blob/058bc438f97747c8f763dc6c1b23b2ed338b6938/packages/netlify-cms-widget-number/src/schema.js

As for the first argument bein

[2021-11-09 10:40] IngridGo opened #5972 "NotFoundError: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child o..."
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.178`
 - Git provider: `github`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36`

**CMS configuration**
[code]

[2021-11-09 15:50] usernamenumber commented on #5970
Would PRs for updating `index.d.ts` and the docs be welcome, then? If so I can add it to my TODO list if no one else gets to it first.

[2021-11-09 17:10] erezrokah commented on #5970
Yes 💯 Definitely. That would be awesome

[2021-11-09 21:31] LuisOsta commented on #5376
I get a similar error when trying to install the package `netlify-cms-app`:
[code]

[2021-11-10 12:08] Respuit opened #5973 "Custom navbar button like media or workflow"
Hello, I don't know if it's possible but for my use case I would love to be able to add a new button like the media one with custom behavior. For example, in the same way that you could link Cloudinary so it opens the Cloudinary app in a "container" I would like to do the same thing but for other apps like commerce layer for example. I'm sorry in advance if it has been answered before but I could

[2021-11-10 12:47] Jukez17 opened #5974 "Slugify gets removed by firewall when running npm init gatsby"
**Describe the bug**

Not sure if this 100% bug but when doing a fresh project using `npm init gatsby` and choose nothing extras the firewall(f-secure) removes slugify.js file and the `gatsby develop` won't work anymore because the file is missing.

**To Reproduce**

To reproduce this I believe firewall needs to be active(f-secure) or any other firewall software.

1. run `npm init gasby`
2.  no ex

[2021-11-10 12:48] #5974 closed

[2021-11-10 12:50] erezrokah commented on #5973
Hi @Respuit. Thank you for this suggestion, closing this as a duplicate of https://github.com/netlify/netlify-cms/issues/4424.
I'll add a comment on that issue.

[2021-11-10 12:50] #5973 closed

[2021-11-10 12:56] erezrokah commented on #4424
Bumping this old issue to comment on https://github.com/netlify/netlify-cms/issues/5973

This is not possible yet.

I think it warrants a bigger discussion on how customizable we want the CMS to be and how the API to replace/add/change part of the CMS UI will look like.

[2021-11-10 13:50] EmmetZC opened #5975 "Failed seeing “Deploy preview links” in the editor toolbar"
**Describe the bug**
I created a Hugo Site Starter and cannot see Deploy Preview Links after editing one of the posts.

**To Reproduce**
1. Deploy site to Netlify with one click in page [Start with a Template](https://www.netlifycms.org/docs/start-with-a-template/)
![image](https://user-images.githubusercontent.com/6105862/141124135-80ce6267-c210-4870-88f6-187ac815b0a3.png)
2. Waiting for deployme

[2021-11-10 13:54] EmmetZC commented on #5975
I guess there might be some steps I missed or you missed in the document. Thus I'd rather mark this issue as `help wanted` than `bug` but didn't find that option.

[2021-11-12 10:52] Healios commented on #5766
I give up.

It's sad to see that there's so many issues with Netlify CMS and that they're seemingly not being worked on. I have another significant issue where I'll be lagged to oblivion for simply having a page with a lot of content...

You're generally told by maintainers that you're free to provide solutions to these issues, which is fair but not realistic. It takes a lot of time to get into a

[2021-11-12 10:52] #5766 closed

[2021-11-12 13:52] erezrokah commented on #5920
Hi @delwin, related to https://github.com/netlify/netlify-cms/issues/4635

Initial load can be slow as it needs to load all entries from the related connection. Once entries are loaded they should be cached, so that's definitely something we should look into.
I also experience GitLab to be slower than GitHub (I don't have official benchmarks though).

I'll try to create a test repo to simulate thi

[2021-11-12 14:57] delwin commented on #5920
I can share the browser network traffic, but it goes on for ages - 10s of
thousands of requests. I'll try to get this for you. It's definitely not
caching.

I can provide you with a cloned repository for you to try this on, as well.

On Fri, 12 Nov 2021 at 14:52, Erez Rokah ***@***.***> wrote:

[2021-11-12 15:45] delwin commented on #5920
In fact, I'm still waiting for the admin page to completely load and I'm on 37k requests, most of the most recent are, of course, receiving 429 Too Many Requests responses.

![image](https://user-images.githubusercontent.com/385832/141494163-e3dbccd2-258b-4ec6-985e-f7096d778d1c.png)

[2021-11-12 15:57] delwin commented on #5920
The final 43k requests took almost 6 minutes to "finish" (many with a 429 response from gitlab). Once done I am not getting further requests when using a new dropdown to select a post except for the following requests (after clearing the network traffic from the console, to ensure I get the right requests):

![image](https://user-images.githubusercontent.com/385832/141496170-ed60fa13-e057-4fc9-8d9

[2021-11-12 16:00] erezrokah commented on #5920
Thanks @delwin, that's helpful - it seems you're hitting GitLab's rate limits.
Looks like these changed not so long ago: https://docs.gitlab.com/ee/user/gitlab_com/index.html#gitlabcom-specific-rate-limits

I'll set up a reproduction and see if we can be more efficient. I'll try to post some answers next week.

[2021-11-12 16:08] delwin commented on #5920
Thanks Erez

On Fri, 12 Nov 2021 at 17:01, Erez Rokah ***@***.***> wrote:

[2021-11-12 18:49] sleepingkiwi commented on #2829
For anyone who finds this through search like I did - a good way to ensure unique IDs are generated for duplicates during `preSave` is to check for the existence of `entry.path` as well as the existence of an existing uid.

Brand new entries (i.e. a duplicate) don't have a `path` during their first `preSave`.

I ended up using something like this:

[code]

[2021-11-13 22:00] T0shik commented on #5493
Sorry for the delays, after having a hand at this, this seems a bit trickier to accomplish than it seems.

What we want to have is for the user to be able to visit ether:
1. `site.com/en/english`
2. `site.com/es/espanol`

with their respective `.md` files
1. `items/en/english.md`
2. `items/es/espanol.md`

at the moment we store the `.md` files as:
1. `items/en/english.md`
2. `items/es/english.md`

[2021-11-14 08:05] jikkujose commented on #502
This would be awesome!

[2021-11-14 12:18] jlouiss commented on #5968
The same thing happens using the password reset link from https://<name>.netlify.app/admin

[2021-11-14 12:37] jlouiss commented on #5968
@reydelshit as per #5109 this is not an issue with netlify-cms - to fix this just add a `/admin` before the `#token=xyz` in the URL.
#5109 also has instructions on how to fix this

[2021-11-14 12:49] #5968 closed

[2021-11-15 13:13] decebal commented on #502
+1

[2021-11-17 18:08] jadonogh opened #5991 "TypeError: Cannot read properties of undefined (reading 'length')"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.19`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36`

**CMS configuration**
[code]

[2021-11-18 20:05] erezrokah commented on #5920
Ok, so I finally was able to dig into this.
I created a test repo [here](https://gitlab.com/erezrokah/netlify-cms-reproductions/-/tree/netlify_cms/issue_5920). It has a collection referencing another collection that has 500 entries.

What's you're seeing (with the 429 response) is GitLab rate limiting the initial load. The CMS identifies this situation and uses a [backoff](https://github.com/netli

[2021-11-20 22:08] clarkhacks commented on #441
Just throwing my had in the ring.

[2021-11-22 10:26] delwin commented on #5920
Hi Erez,

I have tried understanding the couple options you sent, particularly the
one of using a file collection with a list widget. I've looked through and
tried to figure out what you might mean by trying a number of things,
without being able to get anywhere. But maybe you can explain what you
mean, more in depth?

We have a folder collection because editors of the site create new items in
it

[2021-11-28 20:31] JeremyGrieshop commented on #5376
After waiting for months, I realized the whole project was only a couple of MIT-licensed files, so I just copied them into my project and was done with it.

[2021-11-28 21:42] LuisOsta commented on #5376
@JeremyGrieshop How did you integrate the copied files into the package?

[2021-11-29 00:22] JeremyGrieshop commented on #5376
I don't have a public repository to share at this moment, but I just copied these 4 files into a local directory, called `SplitPane` in my project and imported from it instead of `react-split-pane`:

https://github.com/tomkp/react-split-pane/tree/master/src

It does, at this time, require a polyfil, so you'll need to add `react-lifecycles-compat` as a dependency for now.  If these are ever convert

[2021-11-29 20:04] usernamenumber opened #6017 "`CmsWidgetParam` should take a type argument"
In the [source](https://github.com/netlify/netlify-cms/blob/master/packages/netlify-cms-core/index.d.ts#L465-L470) for `CmsWidgetParam`, we see that it has properties of [`CmsWidgetControlProps`](https://github.com/netlify/netlify-cms/blob/c9e8835a8d74cbecb2d317b67aa37afcf700e7ff/packages/netlify-cms-core/index.d.ts#L448) and [`CmsWidgetPreviewProps`](https://github.com/netlify/netlify-cms/blob/c9

[2021-11-30 19:08] delwin commented on #5920
I have done some more testing, re-creating the repository again on Github so that the GraphQL API can be used, to check to see how this helps.

The response time to the editor is just as abysmal, to the point of being unusable.

The number of requests made to Github are definitely vastly reduced (to around 800 from around 40000 without GraphQL on Gitlab), but this doesn't seem to help with the res

[2021-12-02 14:56] erezrokah commented on #5920
Hi @delwin and sorry for the very late response, I was out of office for a week+.

For the file collection suggestion - the config will look like:

[code]

Notice the wildcard `*` char to reference a list.

For differences between GitHub and GitLab when reaching rate limits - GitHub has a 1 hour window, so if you reach the limit you'd have to wait up to 1 hour for that window to reset.

As for Git

[2021-12-02 16:11] delwin commented on #5920
Thanks @erezrokah

So that's what I thought you might mean with the file collection, but that means that every time a story is added, deleted or has its title changed (we don't use title for the relationship field because of this), we'd have to manually update the stories.json file, which isn't feasible for a manual process without errors and seems like an unwieldy process.

It is something I have

[2021-12-03 14:06] erezrokah commented on #5920
Hi @delwin, that's a good point.

For that scenario the recommendation is to use an ID widget like [this one](https://github.com/d4rekanguok/netlify-cms-widgets/tree/master/packages/widget-id) and use that field for the relation.

Would that cover your use case?

[2021-12-03 15:07] delwin commented on #5920
Hey @erezrokah,

As I indicated we already don't use the title for the relationship field, and we do have an id widget that is used for that purpose.

The issue I raise is that in order to make this sort of "solution" work, the stories.json file needs to be manually updated every time a story is added, deleted, or a title changed (so that the title being searched appears correctly). This cannot ha

[2021-12-05 10:55] rishibabakijay opened #6022 "Error: Invariant failed"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.180`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Linux; Android 11) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.58 Mobile Safari/537.36`

**CMS configuration**
[code]

[2021-12-06 11:34] ottoscholten opened #6029 "Please replace with a clear and descriptive title"
**Describe the bug**
When I make a change in my CMS and save it, netlify deploys a preview with https://docs.netlify.com/site-deploys/deploy-previews/. This works flawlessly. However when the preview button shows up, it doesn't link to the preview url, but instead to my default website url.

**To Reproduce**
1. Go to 'netlify cms collection'
2. Make a change in the content.
2. Click on 'save'
3. C

[2021-12-07 12:37] lorenzode commented on #5920
Hi,

we have the same issue with Gitlab. We have an object consisting of an object and a list of objects which have the `relation` field. Opening the initial object takes quite some time. Each relation type has several hundred potential relation files. We implemented this way because we needed a 1:n relation.

[code]

[2021-12-07 12:50] #6017 closed

[2021-12-07 12:51] delwin commented on #5920
Yes, I get the impression more and more that Netlify CMS was a fun experiment that had some hope, but really only works well for small sites with very little structure, unfortunately. The reliance on git was a cool idea, but is obviously not very scalable.

[2021-12-07 14:03] lorenzode commented on #5920
@erezrokah we are hosting our own Gitlab instance. There are no Gitlab API limits set for authenticated users. Any other Gitlab settings I might tweak?

Thanks a lot!

[2021-12-07 14:24] erezrokah opened #6034 "feature(backend-gitlab): add GraphQL support"
**Is your feature request related to a problem? Please describe.**

Related to https://github.com/netlify/netlify-cms/issues/5920.

Using the GitLab REST API can lead to performance issues and hitting rate limits.
Switching to GraphQL could help (we'll need to verify this).

**Describe the solution you'd like**
Similar to the `GitHub` backend, having `use_graphql: true` support for the GitLab back

[2021-12-07 15:02] dickreckard commented on #3505
Yes, +1 for **quotes: true** option..
Currently having an issue with a jekyll static site, where the liquid template interprets a field written as 12:12 as hours:minutes and mis-processes it.
Of course it is a Jekyll front-matter issue, implicitly interpreting a field without giving handles to modify that behaviour, but I imagine similar issues could appear in other YAML processes, and the quoting

[2021-12-07 15:46] drakata commented on #5849
Any movement on this?

[2021-12-07 15:48] SYED-RAFI-NAQVI commented on #6029
Hello @ottoscholten, @erezrokah,

I would like to on this issue, and I am working on it. May I know where to ask my doubts and what if I am stuck while resolving this issue?

[2021-12-07 15:54] animanoir commented on #5849
@drakata Yeah, I stopped using Netlify's CMS.

[2021-12-07 16:24] erezrokah commented on #6029
Hi @SYED-RAFI-NAQVI, you can ask any questions in this issue

[2021-12-07 18:58] erezrokah commented on #5920
Hi @delwin and @lorenzode 👋

@lorenzode for the performance issues with GitLab, in order to figure out the relation the CMS needs to read all the files. This is especially slow on initial load (before caching kicks it). The only way I can think to improve this is to use the GraphQL API. We're currently using GitLab REST API, which means we need to list all files (and paginate on them 100 at a time

[2021-12-08 03:03] sdn90 opened #6035 "Add an option to render preview components without ImmutableJS"
I'm working on an app that utilizes custom previews pretty heavily. The biggest struggle I've had by far is dealing with the entry data being passed as an ImmutableJS. It makes doing simple things a lot harder and for my use case, immutability doesn't provide much value.

My idea is to either add a new function that is similar to `registerPreviewTemplate` or add an argument to convert the data int

[2021-12-08 04:36] iChenLei commented on #5812
It looks like your config not work.

[2021-12-08 04:39] iChenLei commented on #5779
I think this issue can be closed ? @erezrokah

[2021-12-08 05:44] mikewolfd commented on #5920
I'm seeing this happen in an environment with only 30 or so files, but many relation fields, the number of requests doesn't seem to stop. Keeps crashing chrome.

[2021-12-08 06:27] iChenLei commented on #5411
Maybe this issue has beend fixed ? @erezrokah

[2021-12-08 10:41] breathe-org opened #6036 "Form action is showing default "thank-you" page when "action" path is set"
**Describe the bug**
I've added an `action="/success"` to the netlify form but when I submit a form it still shows the `thank-you` message. However the url is `mywebsite.com/success`. Somehow the link is correct but the action isn't working?

**To Reproduce**
1. Add an `action="/success"`
2. Ensure you have a vue file for this page and that nuxt generates it on build.
3. Submit a form
4. See the d

[2021-12-08 10:57] #5779 closed

[2021-12-08 10:58] #5411 closed

[2021-12-08 11:01] delwin commented on #5920
@erezrokah I will explain the need for a synchronization by starting with a more complete structure of the site, although I believe you have seen the complete structure before with a different bug:

1. There are many "Stories" that each have a page on the web site
    - these are therefore in a folder collection so that each generates a page
2. There are some pages in the web site that also refere

[2021-12-08 11:05] erezrokah commented on #6035
Hi @sdn90, can you share an example code of your preview templates?

ImmutableJS objects have a `.toJS()` method to convert them to plain JS, so calling it at the beginning on the template can help.

Is the feature request for `registerPreviewTemplate` to call that method for you? Any other use case I'm missing here?

[2021-12-08 11:11] erezrokah commented on #6036
Hello @breathe-org, this repo is intended for issues related to Netlify CMS (not Netlify the platform).

The best place to post this issue about Netlify Forms is our [support forums](https://answers.netlify.com/). Do you mind posting it there?

I'm not sure how this is related to Netlify CMS.

Since this seems like a Netlify Forms issue, closing it. Please comment if I got this wrong

[2021-12-08 11:11] #6036 closed

[2021-12-08 11:25] breathe-org commented on #6036
You're right, my mistake, will post it there: https://answers.netlify.com/t/form-action-is-showing-default-thank-you-page-when-action-path-is-set/48477

[2021-12-08 15:06] erezrokah commented on #5920
Thanks @delwin, that makes sense. Using a file collection will require changing the way pages are generated during the build.

The function to optimize would be this one:
https://github.com/netlify/netlify-cms/blob/0053ebbb46f189469c86518eb458daa34a8fec4d/packages/netlify-cms-backend-gitlab/src/implementation.ts#L199

It's a bit complex at the moment since it does what I described in https://githu

[2021-12-09 07:34] imskr commented on #6034
@erezrokah I want to work on this issue. Please assign :)

[2021-12-09 10:00] erezrokah commented on #6034
Thanks @imskr, my suggest is to start from the method in this comment https://github.com/netlify/netlify-cms/issues/5920#issuecomment-988896160

[2021-12-09 11:24] LisaP117 opened #6043 "TypeError: e.map is not a function"
Unable to get into the CMS, once clicking on the section, Index, I can no longer make changes as this error seems to appear. All was in working order prior to this. This is the first time since Nov 11th that I have worked on it. I expect to be able to amend pages via the CMS. No errors have been thrown in the command line or browser console, it is purely from netlify cms.

**Applicable Versions:**

[2021-12-09 11:40] erezrokah commented on #6043
Hi @LisaP117, thank you for opening the issue.
Do you mind sharing the full configuration? That will make it easier for others to reproduce the issue

[2021-12-09 11:56] LisaP117 commented on #6043
Please let me know if this is correct. Thanks

**Repository - https://github.com/LisaP117/secure24**

**Full config.yml file**
backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)

site_url: https://secure24.co.uk

# This line should *not* be indented
publish_mode: editorial_workflow
media_folder: "_site/images/uploads" # Media files will be stored in the

[2021-12-09 22:27] pniedzwiedzinski opened #6045 "Revert changes by reverting a commit"
**Is your feature request related to a problem? Please describe.**
A big advantage of netlify cms over other CMS's is the git backend. There's no easy way to undo changes (a.k.a. revert commit)

**Describe the solution you'd like**
Ideally we could have a list of all commits and you could click where do you want to revert.

**Describe alternatives you've considered**
This feature is kinda duplicat

[2021-12-10 14:18] mikewolfd commented on #3580
In this example

In this example, where would you register custom widgets?

[2021-12-11 06:16] imskr commented on #6034
Thanks @erezrokah so i have to create a new file `GraphQLAPI.ts` for this and add support for function https://github.com/netlify/netlify-cms/issues/5920#issuecomment-988896160 right?

[2021-12-12 12:59] zhouhaixian commented on #386
Thank you so much!This solves the problem that I am bothering me for two hours.

[2021-12-13 11:38] erezrokah commented on #6034
Hi @imskr, I would even say start with the function in the comment and edit the current file, to see if it works first.
Once we can see the performance improvement we can think about separating the REST/GraphQL logic.

[2021-12-13 14:20] delwin commented on #5920
Hey @erezrokah,

I have now made a couple file collections that mirror the folder collections so that we can use and test that.

BTW, we use hexo as a site generator, and I have created a small hexo generator plugin to generate the file collection files we would need (one for each type of article - only one of which I've mentioned in this thread). I have thus created file collections for these rel

[2021-12-13 18:51] imskr commented on #6034
Okay so I have to change https://github.com/netlify/netlify-cms/blob/0053ebbb46f189469c86518eb458daa34a8fec4d/packages/netlify-cms-backend-gitlab/src/implementation.ts#L199 to make use of `entriesByFiles` https://github.com/netlify/netlify-cms/blob/0053ebbb46f189469c86518eb458daa34a8fec4d/packages/netlify-cms-backend-gitlab/src/implementation.ts#L219 instead of `allEntriesByFolder` right? @erezrok

[2021-12-13 19:00] mmm8955405 commented on #4455
I don't think there is enough information to achieve simple certification,

[2021-12-13 19:04] mmm8955405 commented on #4455
These links you send are useless. I don't need GitHub, and I have my own server. I just want to edit my static website through a simple password. It hurts me to see your information

[2021-12-13 19:08] mmm8955405 commented on #4455
I don't know how many problems should be caused by identity authentication. Obviously, your identity authentication design is rubbish

[2021-12-13 19:30] erezrokah commented on #4455
Hi @mmm8955405, I've hidden your comments as they don't follow our [code of conduct](https://github.com/netlify/netlify-cms/blob/a9e5488a489acd4805533c6ead2a46922cea7f99/CODE_OF_CONDUCT.md#contributor-covenant-code-of-conduct).

I recommend opening a new issue to outline the problem you're experiencing.

[2021-12-13 19:55] mmm8955405 commented on #230
I don't know what the editing and preview functions have to do with hosting platforms such as GitHub. But you complicate simple functions. It needs to be submitted to GitHub, okay? You don't know how many people talk about your identity authentication in the whole project. Hey, stupid design

[2021-12-13 20:17] talves commented on #230
@erezrokah I deleted the comment above. 2nd CoC offense. [Please add to blocked user list](https://docs.github.com/en/communities/maintaining-your-safety-on-github/blocking-a-user-from-your-organization#blocking-a-user-in-the-organization-settings)

[2021-12-14 14:58] erezrokah commented on #230
Thanks for raising this @talves, we've blocked the user 🔒

[2021-12-15 07:30] xxoutdated opened #6056 "Issue with frontmatter"
**UPDATE: I converted all my files from md to mdx as someone suggested that it will be easier It didnt really**

**But I figured that the _CMS_ spits out data as location to the image and not as normal markdown if there is something I can do for it?**

Is there a way to use netlify cms for direct markdown content instead of frontmatter cause I’m having a hard time using that frontmatter data for i

[2021-12-15 13:57] benhovinga commented on #3284
I am also looking for a solution to this problem also.
I am not making claims to know how the backend works but I have some ideas how this could be implemented.

I'm thinking of something similar to a 2FA using a YubiKey or Windows Hello in the browser. Perhaps there could be a browser extension (or browser API) similar to mailvelope, that stores and handles your keys locally. But not just for Net

[2021-12-15 16:41] #6056 closed

[2021-12-16 15:20] imskr commented on #6034
@erezrokah can you give me a pointer on starting this?

[2021-12-16 15:24] erezrokah commented on #6034
Hi @imskr, sorry for the delay to respond. I've started looking into this myself (digging into the GraphQL API) to get some clarity on what needs to be done.

I can update here once I make some progress.

[2021-12-16 15:51] imskr commented on #6034
No worries @erezrokah let me know once you have something :)

[2021-12-16 16:16] erezrokah commented on #5920
Hi @delwin, thank you for the additional information.

I'm currently looking into GitLab's GraphQL API to see if it provides better performance, see https://github.com/netlify/netlify-cms/issues/6034#issuecomment-995918416.

I'll update once/when I make some progress.

[2021-12-17 04:46] hayden2114 commented on #531
+1 would love to see support for .json files with array at root level to mimic a MongoDB collection

[2021-12-17 08:09] lorenzode commented on #5920
Thanks @erezrokah !

[2021-12-17 10:44] p5ycod3 opened #6058 "TypeError: Cannot read properties of undefined (reading 'title')"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.12.13`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36`

**CMS configuration**
[code]

[2021-12-17 17:38] mcdowellalex opened #6060 "Any kind of list or modular component nested inside the existing modular components widget"
So having a widget that allows modular components (what we have here [https://github.com/netlify/netlify-cms/pull/1857](https://github.com/netlify/netlify-cms/pull/1857)) is really nice. But it doesn't seem all that useful to me unless I can nest another modular component block or a list widget inside of that.

As of right now, if you try and nest a list or modular components widget inside, there

[2021-12-17 18:44] erezrokah commented on #5920
Hello 👋 I currently have a [draft PR](https://github.com/netlify/netlify-cms/pull/6059) that uses the GitLab GraphQL to retrieve 50 files at a time (to avoid hitting query complexity limit).

There are still improvements to be made (like saving to a local cache instead of in-memory cache), but it should help speed up initial load quite a bit.
If you're interested, the code is here https://github.c

[2021-12-17 18:45] erezrokah commented on #6034
Hello 👋 Posted and update in https://github.com/netlify/netlify-cms/issues/5920#issuecomment-996941185

[2021-12-17 18:52] imskr commented on #6034
Great @erezrokah I just checked it. I was looking for some good first issue if you can point me out that would be great 🙂 and also I can help on this on too though I'm new to the repo.

[2021-12-18 06:07] jsjoeio opened #6061 "netlify-cms doesn't pass @netlify/plugin-a11y test"
**Describe the bug**
The "Login with Netlify" button does not have sufficient contrast.

[code]

**To Reproduce**
1. Add Netlify CMS to any site
2. Add ` package = "@netlify/plugin-a11y"` to `nelify.toml`
3. Deploy site to Netlify

**Expected behavior**
`netlify-cms` should pass `@netlify/plugin-a11y` test 😅

**Screenshots**
![image](https://user-images.githubusercontent.com/3806031/146631191-d5be

[2021-12-18 06:18] imskr commented on #6029
@SYED-RAFI-NAQVI If you are not working on it then I can take it up :)

[2021-12-18 08:11] azriel46d commented on #2183
I have managed to get it to work with something as follows (inspired a bit by Vuera)

1. Created my React Compnent which is registered using `registerPreviewTemplate`. In it, there is a useEffect, which passes the ref and data to another function `vueWrapperRef`
[code]

2.  The `vueWrapperRef`, creates the Vue component. The only way I managed to get it to be reactive is that the Data object is re

[2021-12-18 10:19] luksak commented on #2183
@azriel46d uh, great news! Could you share a repository with a working example? That would be helpful!

[2021-12-18 11:14] nab-os opened #6062 "Collapsible Note custom editor component from the documentation not working"
**Describe the bug**
I am trying to use Custom Editor Components and I cant get the markdown widget to behave properly
Just using the Collapsible Note example from the documentation results in an "undefined" displayed in the "details" part of the component.

**To Reproduce**
1. Add the Collapsible Note example to your `cms.js`:

[code]
2. Going to your markdown editor and adding a Collapsible Note

[2021-12-18 15:31] luksak commented on #2183
Ok, I got it working in a very basic way. I had to disable lots of things, since I am using nuxt. Some nuxt features that are broken for me:

- Autoloading components
- All custom nuxt config of my app such as custom build configuration for css transpilation and bundling.

Does anyone know how to render a nuxt app programmatically in the preview? This could be a starting point:

https://nuxtjs.org

[2021-12-18 22:43] IlhamSetiawan opened #6063 "TypeError: E is undefined"
**Describe the bug**
I tried to upload an image and got an error
like this picture

**To Reproduce**

**Expected behavior**

**Screenshots**
[https://www.linkpicture.com/view.php?img=LPic61be64a6948521572467506](url)

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.181`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (X11; Linux x86_64; rv:95.0) Gecko/20100101 Fi

[2021-12-19 11:12] mathieumagalhaes commented on #2183
How I've solved it in the passed for ANY framework:
Code a preview page in the framework you are using, expecting `window.previewDataCMS` to be fetched upwards (parent) of an Iframe.

***In my netlify admin/index.html:***
[code]

***In my Vue preview page:***
[code]

This setup can be used for any framework as the data is just being fetched from the parent of the iframe.

Note: This worked in my t

[2021-12-19 19:51] luksak commented on #2183
@mathieumagalhaes Thanks a lot for your suggestion! Ha, this is a very weird approach. Quite mind blowing that this actually works...

I'll share code here once i am ready. I still need to clean up some things...

[2021-12-19 20:05] mathieumagalhaes commented on #2183
This is back to basics with HTML and javascript, glad it helps

[2021-12-20 10:56] erezrokah commented on #6061
Thanks for putting this together @jsjoeio!

Do you mind adding this to #1333 so we can have a centralized place to handle accessibility related issues?

The CMS is a community project, so it would be great to see some contributions around this.
I labeled this issue and #1333 and `good first issue` to help with that.

[2021-12-20 10:58] erezrokah commented on #6034
Hi @imskr, I think https://github.com/netlify/netlify-cms/issues/6061 could be a good first issue that's entry level (this issue is more intermediate). I added a comment on that issue to get people started

[2021-12-20 12:25] creativiii commented on #6062
I stumbled across this as well.

[code]

This should be changed to `detail`, to fit with the other variables.

[2021-12-20 17:05] jsjoeio commented on #6061
Sure, I'll do that now!

Ah, for some reason, I assumed since it's under the `netlify` org/namespace that they maintained it. Good to know!

[2021-12-20 17:10] jsjoeio commented on #1333
**Describe the bug**
The "Login with Netlify" button does not have sufficient contrast.

[code]

**To Reproduce**
1. Add Netlify CMS to any site
2. Add ` package = "@netlify/plugin-a11y"` to `nelify.toml`
3. Deploy site to Netlify

**Expected behavior**
`netlify-cms` should pass `@netlify/plugin-a11y` test 😅

**Screenshots**
![image](https://user-images.githubusercontent.com/3806031/146631191-d5be

[2021-12-20 17:10] jsjoeio commented on #6061
Closing in favor of https://github.com/netlify/netlify-cms/issues/1333#issuecomment-998115794

[2021-12-20 17:10] #6061 closed

[2021-12-20 17:14] erezrokah commented on #6061
We (Netlify) have dedicated resources for it (I'm one of those resources, 👋) which are targeted to support contributions.
I hope that helps clarifying my initial comment.

[2021-12-20 17:17] jsjoeio commented on #6061
I hope that helps clarifying my initial comment.

Ah, I misunderstood. I thought you were a person from the community volunteering to run the project in your free time on behalf of Netlify 😅  Thanks for clarifying!

Another question came to mind. How do we (the community) know what issues you (the maintainers) are prioritizing? I peeked in the milestones and projects but don't see those being used

[2021-12-21 09:52] imskr commented on #1333
@erezrokah Can I start working on it?

[2021-12-21 10:35] erezrokah commented on #6061
Hi @jsjoeio, any active work is done by external contributors, either by picking good first issues, or by looking at most [upvoted issues](https://github.com/netlify/netlify-cms/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc).

As maintainers we focus on reviewing PRs that come in and guiding people in resolving issues.

[2021-12-21 10:39] erezrokah commented on #1333
Hi @imskr, since this issue encapsulates multiple 11ty issues, I would say that it's better if you pick on of these:
https://github.com/netlify/netlify-cms/issues/1333#issue-319166205

and comment in the issue, which one you'll be working on.

That way, other people can contribute to other parts of the issue.

[2021-12-21 12:08] cowboyd commented on #2138
@erezrokah After doing some more digging, coding, and research, we're _really_ close on this, but there is one final stumble that we're hitting.

We were able to completely extract the schema, and build the `validateConfig` function at build time. This works for our site, but there are cases where it will not work for everyone. Specifically, the schema itself can change dynamically based on widget

[2021-12-21 12:27] erezrokah commented on #2138
Thanks for the additional information @cowboyd, is there a way to put this change behind an option?
Then users should be able to opt-in to the breaking change.

We could always generate the static schema during build, the generate the dynamic schema by default, or let users opt out of the last part if they'd like.

[2021-12-21 12:31] cowboyd commented on #2138
A compromise option that might be viable is to only do dynamic validation if we detect that we need to because there are widgets registered with custom schemas. Widgets registered that do not have any additional schema would not require any dynamic validation.

[code]

[2021-12-21 12:55] imskr commented on #1333
I want to work on color contrast issue as mentioned by @jsjoeio

[2021-12-21 13:01] erezrokah commented on #2138
I like that idea @cowboyd 💡 !

[2021-12-21 14:59] dagda1 commented on #2138
@erezrokah I'm having a look at implementing @cowboyd 's suggestion.

There are a couple of places in the codebase where `registerWidget` is called.

One is in `netlify-cms-app` where [a number of widgets are registered](https://github.com/netlify/netlify-cms/blob/master/packages/netlify-cms-app/src/extensions.js#L41), where a number of widgets are added and in `netlify-cms-core` where an [Unknown

[2021-12-21 15:09] erezrokah commented on #2138
Hi 👋

`UnknownControl` is always registered, and it's in the "core" since it renders as a fallback when the CMS doesn't find a widget (e.g. someone made a typo in the configuration).
See https://github.com/netlify/netlify-cms/blob/dd8f0050c4e2d646e851da28056456c4b76a5738/packages/netlify-cms-core/src/lib/registry.js#L143

We can assume it will never have a schema.

I think the schemas for those co

[2021-12-21 18:40] jsjoeio commented on #1333
@imskr I submitted a PR for the one I mentioned but I'm sure there are other color contrast issues you could fix!

[2021-12-21 20:47] delwin commented on #5920
I'm going to try take a look at this in the next weeks. Thanks @erezrokah

[2021-12-22 11:37] lukejandrews commented on #5849
@animanoir out of interest, what have you moved to?

[2021-12-22 14:55] imskr commented on #5969
I am working on this @erezrokah

[2021-12-24 14:31] pmarcus93 commented on #5306
This is happening to me as well.
I write in Brazilian Portuguese and I'm having the same issues with characters such as ç, ã, á, é and so on.

OS: Pop_OS! 21.10.
Browser: Firefox 95.0.1 (64-bits).

[2021-12-27 12:14] JFossey commented on #5099
I also feel it would be nice to have comments preserved.

I dont have much experience regarding this but it looks like the `yaml` library being used does support comments and white space.

Looking at the `yaml.js` file liked above the problem seems to be in the way the file is saved. The documentation examples uses the `stringify` function.

[2021-12-28 11:51] erezrokah commented on #5920
Initial support for the GitLab GraphQL API is released in [`netlify-cms@2.10.183`](https://github.com/netlify/netlify-cms/releases/tag/netlify-cms%402.10.183). See the [docs](https://www.netlifycms.org/docs/beta-features/#gitlab-graphql-api) for more information.

Going to keep the issue open to get some feedback.

[2021-12-28 13:06] lorenzode commented on #5920
Thanks so much! We will test this in the new year and give feedback here.Am 28.12.2021 12:51 schrieb Erez Rokah ***@***.***>:
Reopened #5920.

—Reply to this email directly, view it on GitHub, or unsubscribe.Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2021-12-28 14:53] martinjagodic opened #6087 "Image widget: suggestions for allow_multiple == true (Cloudinary)"
This is how an image widget with multiple entries looks now:

initial
![Screenshot 2021-12-29 at 08 55 39](https://user-images.githubusercontent.com/42938138/147639754-114aeb18-9a0a-45dd-8533-f7aab6c84e87.png)

populated
![Screenshot 2021-12-28 at 15 33 07](https://user-images.githubusercontent.com/42938138/147576685-2e7ba90b-92e6-49ad-9cdb-e2f3e2af19c8.png)

**Problem**
1. In frontmatter, it is a

[2022-01-04 08:34] martinjagodic commented on #3415
Did anyone investigate, is the source of this issue in the Github API, or is it more of a React/DOM problem?

[2022-01-04 10:49] erezrokah commented on #3415
For this specific issue, I think ⬆️ See the `shouldComponentUpdate` issue in the original description.

[2022-01-04 20:23] mosesoak commented on #793
@erezrokah I can put something together if it helps but I'm seeing that Netlify CMS currently doesn't support version 11 of Emotion (the way we use Twin it's basically just emotion with some extra support for tailwind, but I'm not sure we can downgrade to Emotion 10).

Do you know if there's any timeline for getting Netlify CMS updated so it can work with the latest version of Emotion? We are acti

[2022-01-05 08:12] AnnoyedPlatypus opened #6098 "TypeError: e.replace is not a function"
**Describe the bug**
Get the error "TypeError: e.replace is not a function" when using the CMS admin app to edit an item from the Product collection.

**To Reproduce**
Log into CMS app console and click on an existing item in the Product collection. Editing items from the Blog collection works as expected. YAML has been validated at http://www.yamllint.com/

**Expected behavior**
Product item is l

[2022-01-05 09:11] erezrokah commented on #793
Hi @mosesoak, there isn't a timeline for upgrading emotion, however we'd be happy for a contribution.

The upgrade will need to be behind a major version bump as it is a breaking change, see https://github.com/netlify/netlify-cms/issues/5652.

[2022-01-05 17:17] delwin commented on #5920
Hi @erezrokah . Happy New Year!

So we did test this, even so much as having the team of editors try it on the live administration. Unfortunately enabling graphql caused several issues in a few places, so we've had to disable that:

- the collection for one of the widgets (at least) reported zero records found when using graphql, but not when diabling it. This was when a collection was not in a li

[2022-01-05 22:56] mosesoak commented on #793
Thanks @erezrokah -- I ended up taking a different approach since extracting styles from Emotion 11 wasn't working, and also because we are using Gatsby, so even with styling working our components that include special Gatsby functionality like `useStaticQuery` fail to run.

I realized that since we're using a page-builder model where all components for a single page are listed in a variable-type

[2022-01-05 23:09] dustinlacewell opened #6101 "Element type is invalid: expected a string"
**Describe the bug**

Using the admin via dynamic import produces an error on the frontend, but it continues to work.

[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/53952/148302204-143e97d0-56b3-427e-9311-385f49c87782.png)

**Applicable Versions:**
[code]
  node: v14.18.1
  yarn: 1.22.17

**CMS configuration**

[code]

[2022-01-05 23:23] dustinlacewell commented on #6101
Duplicate of https://github.com/netlify/netlify-cms/issues/4676

[2022-01-05 23:23] #6101 closed

[2022-01-05 23:25] dustinlacewell commented on #4676
I am getting this as well, I posted additional information in #6101

[2022-01-06 10:13] lorenzode commented on #5920
@erezrokah

We tried 2.10.183 on an instance where we have this structure: List > Object > List > Objects with relation field. We host our own Gitlab. Each relation points to 50 to 100 files. I definitely see an improvement in speed when loading the form although there is still some loading time when revealing the last object widget and until the relations are displayed in the relation widget. It'

[2022-01-06 15:45] princeomonu opened #6102 "TypeError: e.get is not a function"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.183`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36`

**CMS configuration**
[code]

[2022-01-06 16:33] luksak commented on #1685
I'd love to see this solved.  There is an issue for this against node-diacritics: https://github.com/andrewrk/node-diacritics/issues/35

While researching, I realized that we are using a not well-maintained (latest commit is from 2017) and not that popular package. There are others that support German umlauts, have much more recent commits are a lot more popular:

- https://www.npmjs.com/package/s

[2022-01-06 22:45] mmkal opened #6104 "Un-minified bundled js"
**Is your feature request related to a problem? Please describe.**

Often I find myself looking at call stacks like this:

![image](https://user-images.githubusercontent.com/15040698/148462093-67aea7e3-5136-4876-94c0-97e2b187ffe6.png)

And it's usually because I've done something stupid, but netlify-cms is not being very helpful in my attempt to figure out _what_ I did.

**Describe the solution yo

[2022-01-07 11:08] erezrokah commented on #6104
Hi @mmkal, we publish the source maps so that should be good enough?

See https://unpkg.com/netlify-cms@2.10.183/dist/netlify-cms.js.map

[2022-01-07 21:38] taras commented on #2138
@erezrokah I created a PR that includes changes implemented by @dagda1 and has all of the tests passing. There is a blocking the PR that I'll describe in a comment.

[2022-01-08 22:25] dustinlacewell commented on #1776
Starting a new project and curious about the status of this work.

[2022-01-09 16:10] mmkal commented on #6104
@erezrokah interesting, maybe I have chrome misconfigured. I'll look into making it load the source maps.

Although, even with source maps, it still can't be as convenient, or as well supported by all tools (chrome dev tools, Firefox dev tools, vscode, plaintext editors, vim via ssh on some server somewhere). I don't really see the downside to publishing both versions. Most libraries do it 🙃

[2022-01-10 00:26] aminimalanimal opened #6107 "`npx netlify-cms-proxy-server` fails due to sabotaged dependency"
### Issue
Running `npx netlify-cms-proxy-server` has suddenly started littering my VS Code Terminal with trash characters that look like:

[code]

This is a very very small sample of the characters in my Terminal output. Before this mass of illegible stuff, the name **Carl Pilcher** appeared among a lot of ASCII.

[code]

### Versions
node 14.18.2
netlify-cms-app ^2.15.63
netlify-cms-media-library

[2022-01-10 00:32] justinpyvis commented on #6107
I get the same. I believe this is related to Marak bombing his repos over the weekend. See: https://github.com/Marak/colors.js/issues/285

[2022-01-10 00:35] aminimalanimal commented on #6107
Yup. That looks like the same output.

[2022-01-10 02:03] justinpyvis commented on #6107
I ran npx npm-remote-ls netlify-cms-proxy-server and it looks like the culprit was Winston 3.3.3 -> logform 2.30, which used the broken colors@1.4.2 dependency.

The devs seem to have fixed it: https://github.com/winstonjs/logform/issues/129

Reinstalling node.js fixed this issue for me.

[2022-01-10 03:39] aminimalanimal commented on #6107
Reinstalling node seems like the nuclear option. I downgraded that a step by deleting `node_modules` and `package-lock.json` and that seems sufficient. Thanks for the insight.

[2022-01-10 03:39] #6107 closed

[2022-01-10 18:50] taras commented on #2138
With help from @dagda1, I created an example repo that has CSP with Netlify. I created a version of Netlify build that works with CSP. You can find it here https://github.com/taras/create-react-app-csp-strict-example

[2022-01-10 18:50] taras commented on #2138
We still need https://github.com/iarna/iarna-toml/issues/45 to fully eliminate eval.

[2022-01-11 04:23] nipeshkc7 commented on #5794
I'd love to work on this one if not already taken.

[2022-01-11 05:54] bradystroud opened #6116 "🐛 API error when saving entry"
cc: @jackDevAu @pierssinclairssw

Hi,

**Describe the bug**
Some of our users are getting an error when they try to save an entry.

Failed to persist entry: API_ERROR: Not Found

![image](https://user-images.githubusercontent.com/38869720/148878880-4a63b1e0-d6ff-4974-896b-c7b2e637c61d.png)
**Figure: Error when saving**

After some investigation, it looks like the error occurs when Netlify CMS trie

[2022-01-11 10:24] ohnoimdead commented on #857
:+1:

For another angle: I have clients that use an iPad to update content. It's awesome that they can select a photo from the iPhoto library on the device, however, iPhoto appears to export the image with a GUID file name. Being able to customize the file name at the time the file is uploaded would solve this issue. I mean, this is clearly iPhoto's fault... but since there's already a ticket open

[2022-01-11 11:38] tillschweneker commented on #5901
This would be great as it allows to use Netlify CMS even better as a page builder.

[2022-01-11 11:52] eddsalkield commented on #5472
Disabling `publish_mode` as in [this suggestion](https://github.com/Knogobert/ntn-boilerplate/issues/2#issuecomment-785077531) resolved the issue for me.

[2022-01-11 18:31] erezrokah commented on #6104
Yes, I agree. Would you like to submit a PR for it?
I'd say use `index.unminified.js` for it not to be a breaking change

[2022-01-13 04:12] dara-icf opened #6119 "Items in list widget give required error... even when config is set to false"
Sorry if this is a duplicate, but I searched through the issues and couldn't find help.

**Describe the bug**
I'm using the list widget. It ignores that I have returned required to false and is giving me an error. I also tried stating implicitly which item was required. Since we are using the widget to build properties that will be used in a table, we need the option to have empty items in the lis

[2022-01-13 04:16] dara-icf commented on #6119
On further examination -- it is ignoring all requirement options whether in the list widget on not. I just tried to submit with an empty "Short Description" field. As you can see above, it is not required. And yet it is giving me a required error.

![Screen Shot 2022-01-12 at 8 15 44 PM](https://user-images.githubusercontent.com/53089176/149264981-2eda1a7a-22c2-47c4-b054-101db516501d.png)

[2022-01-13 13:02] usernamenumber opened #6120 "Error in docs, cannot submit fix via the CMS"
## Docs issue
I believe there is an error in the [docs for `registerwidget`](https://www.netlifycms.org/docs/custom-widgets/#registerwidget). It lists the arguments `control` and `preview`, but it looks like it's actually `controlComponent` and `previewComponent` ([example](https://github.com/netlify/netlify-cms/blob/master/packages/netlify-cms-widget-text/src/index.js))

## CMS issue
I tried twic

[2022-01-14 00:06] dara-icf commented on #6119
Interesting ... I upgraded... the downgraded my ruby version -- for a different reason completely. Anyway, that seemed to shake up things and everything is working now.

[2022-01-14 00:06] #6119 closed

[2022-01-15 17:06] LuisOsta commented on #5376
For the mantainers of Netlify CMS would it be possible to follow what this user had commented on the PR in react-split-pane - https://github.com/tomkp/react-split-pane/pull/681#issuecomment-1000543520 and simply copy the needed components into the internals of Netlify CMS with the right license?

[2022-01-15 21:11] JeremyGrieshop commented on #5376
Here's an example I quickly pushed to my personal repository that someone could copy into their own `SplitPane` folder.  I converted over some of the older class dependencies and made them functional components that use hooks instead:

https://github.com/JeremyGrieshop/react-split-pane

[2022-01-17 10:45] erezrokah commented on #5376
Hi everyone 👋 At this point I think we will accept a contribution that inlines `react-split-pane` as it seems the won't be a any progress with https://github.com/tomkp/react-split-pane/pull/681

[2022-01-17 10:48] erezrokah commented on #5920
Hi everyone, sorry for the delay. This issue got pushed back due to other priorities.

This is probably related to us hitting the query complexity limit. We'll need to add some error handling and fall back to retrieving less entries (the failure is probably reflected in the query response in the browser network tab).

I'll try to improve it by the end of this week.

[2022-01-17 15:06] LuisOsta commented on #5376
@erezrokah Sounds great! I'm working on that right now in this fork https://github.com/LuisOsta/netlify-cms based on the version created by @JeremyGrieshop.

Btw Jeremy let me know if the attribution I included in the commit looks good to you (I included the README and a link to your repository)

[2022-01-17 15:11] martinjagodic commented on #6087
Dear maintainers, do you have any comments?

[2022-01-17 15:42] LuisOsta commented on #5376
@erezrokah If you could take a look when you have the time that'd be much appreciated

[2022-01-17 15:48] LuisOsta commented on #5376
Aside from react-split-pane are there any remaining packages that are causing React 17 compatibility issue? What's left for us to be able to definitely close this issue?

[2022-01-17 16:27] mcdowellalex opened #6138 "Styles not loading for component in CMS"
**Short description:**
I am using react/gatsby and netlify cms.
I am making a custom widget and the styles are not loading. My goal is to use css classes. The styles work as intended when the component is used on a page in the site but not when it is used in the CMS.

For example:
mywidget.css
`
.customStyle{
    background:red
}
`

myWidget.js
`
<div className="customStyle" />
`

The above compon

[2022-01-17 17:39] mcdowellalex commented on #6138
I have seen some solutions to issues like this (in other contexts, not necessarily in netlifyCMS) that modify the config for the css loader. I believe that netlifyCMS uses the css-loader package, a part of webpack, but I'm not sure.

But, others with issues like this found that adding something like
[code]
to the webpack config solved it.

I don't know exactly where to go in a gatsby/netlifyCMS pr

[2022-01-17 17:58] JeremyGrieshop commented on #5376
Looks great!  I hope you find it useful and didn't leave anything out of the original work.

[2022-01-19 16:29] calebwilson706 opened #6139 "Control editorial workflow status by commenting on bitbucket PRs"
We would like to be able to update the editorial workflow status of a post from inside bitbucket by commenting `netlify-cms/pending_publish`

When you comment `netlify-cms/draft` on the PR it moves the changes to draft however this does not work for the other 2 statuses

For now we have to review content inside bitbucket then open the cms to change the status of the post

[2022-01-19 16:47] erezrokah commented on #6139
Hi @calebwilson706, can you please follow the [issue template](https://github.com/netlify/netlify-cms/issues/new/choose), either the bug report or feature request.

That ensures we have enough information to understand it.

[2022-01-19 16:52] #6139 closed

[2022-01-19 17:38] calebwilson706 opened #6140 "Manually commenting `netlify-cms/pending_review` breaks editorial workflow UI"
**Describe the bug**

**To Reproduce**
Have editorial workflow turned on (Bitbucket backend)
Create a post in netlify cms and save
Go to generated PR and comment `netlify-cms/pending_review`

**Behaviour**
Post no longer shows in editorial workflow

**Expected behavior**
Post should be moved to `In Review` section in editorial workflow

**Screenshots**
I believe the issue stems from bitbucket esca

[2022-01-19 17:45] calebwilson706 commented on #6139
Sorry i didn't really have any info at the time, did some digging and created a new issue https://github.com/netlify/netlify-cms/issues/6140

[2022-01-19 18:40] marcus-clements commented on #1737
This worked beautifully for me. Netlify defines an env var `HEAD` which has the branch name of the deployed branch. I just had to modify `config.yml` as above then add this line to my deploy script:
```sed -i "s|BRANCH_PLACEHOLDER|${HEAD}|g" content/admin/config.yml```

[2022-01-21 13:43] #5794 closed

[2022-01-21 15:11] mmkal commented on #6104
@erezrokah see the commit above for a first pass. Does that look like it's roughly right?

[2022-01-21 15:20] erezrokah commented on #6104
Won't https://github.com/mmkal/netlify-cms/commit/45663be72f33574c7f38c0205aa5f92d6f2a02e0#diff-a393479db8dc8b6868eef8f5fa99c576654d75fb00336dc82c2be71789c6d4dfR86

create `<package-name>.bundle.js` and `<package-name>.bundle.unminified.js`?
I can't be sure without running it locally, though I think we'd prefer to not change the current minified name

[2022-01-21 15:24] mmkal commented on #6104
Yes you are right, just an oversight on my part. I'll fix and open a draft PR, it'll be easier to talk there.

[2022-01-22 17:45] stefan-wiebe commented on #4778
I concur with @mirko-kienle
"Bild hinzufügen" is easier to read and more common than "Neue(r/s) Bild".
"Neues Bild" would also be okay, but that would require Netlify to know the grammatical gender of the item.

[2022-01-24 17:56] fitzage commented on #4637
So is what I'm seeing that the current workaround would be for me to convert all my dates to YYYY-MM-DD so that sorting as a string works as expected? I currently have everything as MM/DD/YYYY, but I could run a regex replace on my date fields if that will solve my sorting problem.

[2022-01-24 19:38] alexknowshtml opened #6157 "Netlify CMS Media uploader API error on large(ish) filesPlease replace with a clear and descriptive title"
**Describe the bug**
I have a site that’s working great with Netlify CMS, except one of the upload fields includes video files. They aren’t very big, under 20megs so also under Github’s “large media” threshold, but either way (with large media or not) we are getting this error:

![c85da1987680354fb2cd1ae6000c579f9daf0db1](https://user-images.githubusercontent.com/3707/150851758-40d7cd55-aa89-47d6-

[2022-01-25 10:19] erezrokah commented on #6157
Hi @alexknowshtml, thanks for the issue. Going to close it as a duplicate of https://github.com/netlify/netlify-cms/issues/4538.

I'll post a comment on that issue

[2022-01-25 10:19] #6157 closed

[2022-01-25 10:22] erezrokah commented on #4538
I missed the last comment on this issue.

If someone would like to pick this up, it would be great to share the error received from GitHub when we increase the timeout, and possibly report it to GitHub's support to see if that's expected.

As for ⬇️

The CMS doesn't use `git` directly, so that setting is not relevant for the CMS

[2022-01-25 18:51] mryanb opened #6158 "Gitlab pkce backend not passing client_id to gitlab"
**Describe the bug**
Using Gitlab

**To Reproduce**

**Expected behavior**

**Screenshots**
Using Gitlab self hosted as a backend for Netlify CMS is resulting in and error message of `Missing required parameter: client_id`.

<img width="889" alt="image" src="https://user-images.githubusercontent.com/3656391/151039503-0fc520c6-7827-469d-ae79-dd16d6f76fff.png">

How to reproduce:
1. Once clicking on

[2022-01-26 15:59] AaratiAkkapeddi commented on #3408
I also am experiencing this issue.

[2022-01-26 17:46] rishabh1y commented on #6029
Hi @ottoscholten @erezrokah
As there are no assignees can you assign this issue to me.. I would love to work on it

[2022-01-27 22:34] gffweb opened #6159 "TypeError: Cannot read properties of undefined (reading 'get')"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.15.19`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.99 Safari/537.36`

**CMS configuration**
[code]

[2022-01-27 22:34] #6159 closed

[2022-01-28 19:45] gnfzdz opened #6160 "Media Library backed by a Netlify CMS collection"
**Is your feature request related to a problem? Please describe.**
As a Netlify CMS user, I would like the ability to present a media library where users can select from a curated collection of images, videos or other media items (potentially) not contained within git.

**Describe the solution you'd like**
When the media library component is opened, instead of displaying a list of media files cont

[2022-01-28 19:51] gnfzdz commented on #1327
I'm interested in this feature as well. Is this something that you would accept contributions for?

[2022-01-28 20:10] AaratiAkkapeddi opened #6161 "When title is updated on an entry, also update markdown files for related entries"
I've noticed that when an entry title field is updated, if this entry is related to any other entry via the title, the stored title in the related entry does not update.

For example, let's say **projects** can have multiple **artists**
Project 1 has two artists, John and Jane. The md file for Project 1 looks like this:
[code]
If I update Jane's name to Jane Doe, although Jane's md file updates to

[2022-01-28 21:44] gnfzdz commented on #6160
Also, I should clarify that this is a feature I'm interested in implementing. I'm just looking for confirmation this is a feature that you're interested in merging and any feedback on what I've described out above.

[2022-01-29 15:19] andreasbalevik commented on #2727
Agreed. To exclude one pages, you have to define additional frontmatter for all other pages. The workaround is also not compatible with the i18n support (beta feature). Having a default value result in creating index.md for all language types even though you only edited one language..

Would really like a fix for this. All my sites are using Hugo, and im using the i18n beta feature. So the workaro

[2022-01-30 04:46] im-coder-lg commented on #3408
Even me :(

[2022-01-30 09:16] manassikri commented on #6043
Can I work on this issue? I am new to the project and would like to learn through this issue.

[2022-01-30 10:31] LisaP117 commented on #6043
Yes you can, I’d appreciate the help!

[2022-01-30 15:29] manassikri commented on #6043
I could not replicate the issue by using the test-repo as backend as I was open and access the index page.
![image](https://user-images.githubusercontent.com/43198579/151706029-01592fe4-1641-4c38-8ed4-6ccb50d71791.png)

To connect with your backend through git-gateway I believe I would be needing some credentials
![image](https://user-images.githubusercontent.com/43198579/151706082-af069cab-99b0-4

[2022-01-31 01:46] 0xTanX commented on #2
is there a way to hide entries based on roles just client side?

[2022-01-31 06:02] im-coder-lg opened #6172 "Netlify CMS: Git Gateway error"
**Describe the bug**
This is a dupe, but I need some quick help. Git Gateway fails in my CMS.

**To Reproduce**
I don't know. This affects only me.

**Expected behavior**
I am supposed to get in

**Screenshots**
Need to do this soon

**Applicable Versions:**

 - Netlify CMS version: 2.10
 - Git provider: GitHub
 - OS: [e.g. Windows 7] It is Windows 7
 - Browser version Vivaldi 5

 - Node.JS versio

[2022-01-31 06:02] martinjagodic commented on #2727
I use Hugo with i18n too and this workaround works fine.

The fiter setting on collection:
`filter: {field: visibleInCMS, value: true}`

The field in collection:
`{name: visibleInCMS, widget: hidden, default: true, i18n: duplicate}`

If you set it correctly, you should see `visibleInCMS: true` on every page that you save with CMS.

I noticed that adding this only to default language is enough.

[2022-01-31 07:26] andreasbalevik commented on #2727
"If you set it correctly, you should see visibleInCMS: true on every page that you save with CMS."

And thats the problem. If you have configures 2 languages with i18n (nb, en). Since a default value `visibleInCMS: true` is provided in the `config.yml`, the CMS will create index.nb.md and index.en.md (even though you only added content to `nb`, and left `en` blank). In some cases you only want to

[2022-01-31 10:54] erezrokah commented on #6161
Hi @AaratiAkkapeddi, can you please follow the [issue template](https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+feature&template=feature_request.md&title=Please+replace+with+a+clear+and+descriptive+title) as it's hard to understand the problem you're trying to solve.

More specifically, I'm not sure I understand what you mean by "related entry".

If you're using the rel

[2022-01-31 11:58] Yajo commented on #5306
Interestingly, today I tested on Firefox on Windows and it works. So, it seems the buggy combination is Firefox + Linux.

[2022-01-31 13:35] manassikri commented on #6043
I used the gatsby template for the backend and was not able to reproduce this error. It was working perfectly fine and I was able to access the index page.
![image](https://user-images.githubusercontent.com/43198579/151802945-124fa289-4eb4-4e85-8275-42e2c130ff09.png)

[2022-01-31 20:55] AaratiAkkapeddi commented on #6161
Hi! #3712 actually answers my question thank you!~

[2022-01-31 21:04] wnqueiroz commented on #1483
I implemented something similar to what @rahadkc commented on. I registered the preSave `event`:

[code]

And in `config.yml` I put in my collection:

[code]

When publishing a post it generates the author in frontmatter:

[code]

[2022-02-01 09:10] #6161 closed

[2022-02-01 09:11] erezrokah commented on #1483
Per the latest comments, closing this as resolved. Please comment if still relevant.

[2022-02-01 09:11] #1483 closed

[2022-02-01 09:17] 4www opened #6173 "netlifycms cannot be mounted from within a web-component"
**Describe the bug**

Trying to insert netlify-cms interface and configuration from within a vanilla js web component, and netlify-cms/react throws an error regarding hooks.

**To Reproduce**

- `git clone https://gitlab.com/internet4000/r4-netlifycms`
- `npm i`
- `npm start`
- visit `localhost:1234/cms`

**Expected behavior**
netlify cms should mount without error. I am not sure what i am missing

[2022-02-01 10:16] erezrokah commented on #6172
Hi @im-coder-lg, do you mind adding the missing parts of the issue template. Specifically the error you're getting and the steps you took to set up the CMS?
That makes it much easier to solve the problem.

Regardless, you probably want to update your branch configuration from `master` to `main` here https://github.com/im-coder-lg/docusaurus-blog/blob/b9e089eb094d2bec5b01d5144072780fab51fcb8/static

[2022-02-01 10:55] im-coder-lg commented on #6172
I will do it soon, I am going to be busy for now.

[2022-02-01 11:45] fabritw commented on #1776
The below project may be of interest:

https://tina.io/blog/tina-supports-mdx/

[2022-02-01 13:42] erezrokah commented on #6087
Hi @martinjagodic, thank you for the proposal and sorry for the delayed response.

Will it make sense to remove all buttons and use a single "open media library" button?
It probably makes sense to give the Cloudinary widget full control of the UI.

I agree this seems redundant for the Cloudinary use case

The rest of the proposal makes sense to me as well.

[2022-02-01 13:47] erezrokah commented on #6160
Hi @gnfzdz, could you use a list widget to represent a list of images?
You can configure the media folder per collect and have all images saved under a specific folder.

Then in a new collection you can configure the same media to pick up images from the first "media" collection.

Wouldn't that work?

[2022-02-01 15:43] martinjagodic commented on #6087
Good idea!

Hopefully, we will start working on this next week.

[2022-02-01 15:46] tagcaddy22 opened #6174 "TypeError: Cannot read properties of undefined (reading 'toLocaleDateString')"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/50708016/152001244-c4fdc905-33db-4e2f-abb3-46676c27edbd.png)

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms-app@2.14.26`
 - Git provider: `github`
 - Browser version: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrom

[2022-02-01 20:28] gnfzdz commented on #6160
Hi @erezrokah thanks for the reply. That is similar to what I have in mind, but unless I'm misunderstanding, I don't think that solves for the scenario where the media isn't actually stored in git. With the current media library in Netlify CMS, the media displayed in the library are assumed to be references to actual files stored in git as returned by the configured git backend.

For my use case,

[2022-02-02 06:30] saiqulhaq commented on #4493
just need to clear cookies on Google Chrome console to fix this issue

[2022-02-02 11:23] JohannesFerner commented on #1206
+ Please add to the docs of github backend, that LFS is not supported for now, as it's a pain to revert those changes in a live-repository which is actively maintained by content-editors.

[2022-02-02 11:34] erezrokah commented on #1206
Hi @JohannesFerner, we'd be happy to receive a docs contribution for it.
There's an `Edit this page` button one can use to submit a change.

[2022-02-02 11:46] erezrokah commented on #6160
We have an API to register an external media library, see https://github.com/netlify/netlify-cms/blob/893d01eb8cad5e4fa396a48270940cb036000ca5/packages/netlify-cms-media-library-cloudinary/src/index.js and https://www.netlifycms.org/docs/cloudinary/, so that's probably the best approach for managing media files that are outside of `git`.
One would have to write a UI modal that acts as a wrapper ov

[2022-02-02 11:56] JohannesFerner commented on #1206
thanks for the hing - tried that now- doesnt work btw.

![Content_Manager](https://user-images.githubusercontent.com/1781395/152148973-b2cd78e3-b4c7-4a04-94b3-9d0c2e380800.jpg)

MD to add:
[code]

[2022-02-02 12:12] erezrokah commented on #1206
Thanks @JohannesFerner, not sure why it's not working. I created https://github.com/netlify/netlify-cms/pull/6175 and will merge soon

[2022-02-02 16:47] gnfzdz commented on #6160
Yes. Basically, this is a hybrid between image and relation widgets where you want the benefit of the media library UI displaying images to aid in selection but after a value is set, you may want the additional metadata describing the image for use in a preview.

See the example below with a single file collection defining the library and one post referencing an asset in the library. If featureIma

[2022-02-02 18:10] carlo-backblaze commented on #6035
@sdn90

per comment from @erezrokah :

[code]

[2022-02-02 18:12] caffed commented on #6035
@sdn90

per comment from @erezrokah :

[code]

[2022-02-02 23:43] drwharris commented on #6116
This is a becoming a major issue and makes it almost pointless using Netlify.

[2022-02-02 23:48] adamcogan commented on #6116
This was so painful. Please fix the problem.... or improve that error message please 😢

- That video explains the problem well.
- The solution for me was:
       Github.com | My Profile | Your repositories | Select the forked repo eg. SSW.Rules.Content
       Click Fetch upstream
       Click Fetch and merge

       Note: This updates my fork to be usable. When I went back to my edit, I refresh an

[2022-02-03 09:26] erezrokah commented on #6116
Hi all and thank you for reporting the issue.

It seems there's a new API to sync forks, see https://docs.github.com/en/rest/reference/branches#sync-a-fork-branch-with-the-upstream-repository

As I'm understanding the issue correctly, we should call that API before saving entries to resolve the issue?
If so, would anyone be open to contribute this fix?

[2022-02-03 09:54] jwktje commented on #5596
Any update on this, or a way I could help with this? I'm having the same issue

[2022-02-03 12:27] demshy commented on #6087
Hi, I have started working on this.

Our idea is to add replace & remove buttons to every item in the list. Remove is quite trivial while replace would open the media library with select single file option.
As for the global buttons - "choose different image" would be changed to "add a new image" and "remove image" would be changed to "remove all images".

[2022-02-03 21:23] detarkende commented on #1167
Any changes on this feature? This would be huge! If possible, can I help a little?

[2022-02-06 11:27] nothingrandom opened #6180 "Copy pasting from word document leads to long comments within documents"
**Describe the bug**
When my client uses the Netlify CMS and types up an eg. blog post in a word document first, then copy pastes it he also copies and pastes an extremely long comment. I believe this to be something from MS Word itself.

**To Reproduce**

- Copy from Word (versions suspectable unsure)
- Paste into Rich View in the Netlify CMS
- Save / Publish and check root file, see insane 663 l

[2022-02-07 05:50] Mack241 opened #6194 "Can we add a Modal confirmation box instead of default windows confirmation on clicking the 'Back Arrow' in New Post page?"
**Feature:**
Adding a **Modal Confirmation Box** on clicking the "Back Arrow" button on the **New Post** page.

**Description:**
Currently on clicking the "Back Arrow" we see that a windows alert pops up for confirmation. I was thinking of replacing it with a Modal confirmation box instead with an **OK** and a **Close** button.

**Image:**
![netlify-cms](https://user-images.githubusercontent.com/3

[2022-02-07 10:22] erezrokah commented on #6194
Hi @Mack241, thanks for opening the issue.

Closing is as duplicate of https://github.com/netlify/netlify-cms/issues/3057

[2022-02-07 10:22] #6194 closed

[2022-02-07 14:42] Mack241 commented on #3057
There is an npm package called **react-modal**. Other alternatives
Alternative can be to use the Modal component API from Material-UI @erezrokah @erquhart

[2022-02-07 14:56] erezrokah commented on #3057
I think we'll be good with using an external package for this, as long as it's not deprecated/archived and gets security updates

[2022-02-07 15:00] Mack241 commented on #3057
Or rather just EditorToolbar, since the Back-Arrow is present in this component.

[2022-02-07 15:59] erezrokah commented on #3057
Hi @Mack241, see my comment in https://github.com/netlify/netlify-cms/pull/6137#pullrequestreview-859639958 about using hooks in the CMS

[2022-02-07 16:23] Mack241 commented on #3057
@erezrokah Got it!

[2022-02-07 19:08] AaratiAkkapeddi commented on #4460
I'm experiencing this exact issue again

[2022-02-07 22:23] panbanda opened #6195 "CDN URL for uploadcare needs to allow for custom URLs"
**Is your feature request related to a problem? Please describe.**

Uploading an image with `uploadcare` doesn't allow me to set a cdnBase or cdnURL or something similar for custom URLs.  When I upload an image it is forcing the company's cdn instead.

**Describe the solution you'd like**

The settings in config.json should be something like:

[code]

**Additional context**

https://uploadcare.com

[2022-02-09 09:07] drortirosh opened #6199 "multiple repos for a single website."
I have a site that is built from two github databases.
one of the is the actual website documents. the other is a project code, but we auto-generate documentation on it, and want to keep it up to date.
(currently, we do manual "git clone" of the 2nd site to generate the code for it)

I need to trigger a netlify build when the 2nd repo is modified.

[2022-02-09 09:49] erezrokah commented on #6199
Hi @drortirosh, can you please follow the [feature request template](https://github.com/netlify/netlify-cms/issues/new?assignees=&labels=type%3A+feature&template=feature_request.md&title=Please+replace+with+a+clear+and+descriptive+title)?

I'm having a hard time if this is a request for Netlify CMS, or Netlify the platform.
If it's the latter please submit your question in https://answers.netlify.

[2022-02-09 13:41] madsem commented on #1975
Needed this too, after playing around for a while with the suggestions from this issue and some others, I made this widget and just added some style:

[code]

To also hide the label in the UI, I added some css
[code]

Would be pretty nice though if we had this in the core.

[2022-02-10 06:07] bradystroud commented on #6116
cc: @JackDevAU
Thanks @erezrokah 🙂, as we aren't familiar with the codebase, could you provide some insight on where this change will need to be added?

[2022-02-10 10:21] erezrokah commented on #6116
Sure @bradystroud, the relevant code is here:
https://github.com/netlify/netlify-cms/blob/7bd80b29a43943e5e01a0d7c75573ce02c97f9a3/packages/netlify-cms-backend-github/src/implementation.tsx#L286

We can use the `forkExists` check and sync the repo if the condition is true.
We can probably optimize that code to not call the `forks` API too

[2022-02-10 14:52] placeholdergit opened #6200 "Nested Collections used with Docusaurus 2 shows "no entries" in the CMS"
**Describe the bug**
When using Nested Collections feature NetlifyCMS with [Docusaurus 2 static site generator](https://docusaurus.io/), the CMS shows "no entries":

![](https://i.imgur.com/lfc2Sf7.png)

**To Reproduce**

1. Go to https://docusauruscms.netlify.app/admin/
2. Click on Log in to register (registrations are open)
3. Check the "no entries" message by clicking on nested folders.
4. Comp

[2022-02-10 19:02] rcdvl opened #6201 "TypeError: e.split is not a function"
**Describe the bug**
Cannot visit CMS collection page (error happens as soon as it loads).

**To Reproduce**

**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/343967/153478225-682b4268-6058-44a6-9b68-97f5d79cc94a.png)

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.186`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Win

[2022-02-10 21:21] fitzage commented on #4212
This character in a slug with a nuxt-content based setup causes nuxt to throw an error when visiting the page directly or refreshing it (vs clicking on it from a different part of the nuxt app). This error doesn’t seem to cause a problem when testing with `yarn dev` or when generating my static site locally (although the error does show up in the console). But when this error occurs when the site

[2022-02-11 10:59] Shekey opened #6202 "Updating value multiple times for boolean or select widget"
While using either the boolean widget or the select widget I noticed one bug. In the example I sent you I have two values and if I select one value and do publish, I stay on the same page and try to change the value again. The Publish option remains disabled for me, as if I haven't even made a change.

**To Reproduce**
1. Go to page which contains boolean or select widget
2. Update that value and

[2022-02-11 12:14] madsem opened #6203 "Limit the amount of posts that can be made in a single folder collection"
The usage of uuids has been a long discussed topic for Netlify CMS.

Now, an issue came up when using UUIDS in combination with a `Homepage` collection.
When the `slug` is the `uuid`, you cannot use a single file collection...

Because the uuid is used in combination with Netlify's FaunaDB integration (in multiple sites),
every homepage that is created, needs to have a unique `uuid` `slug`.

I'm d

[2022-02-11 23:37] fitzage commented on #4212
I’m now seeing the ascii encoding option, which seems like the ticket. Carry on.

[2022-02-14 05:03] placeholdergit commented on #6200
Just wanted to update. It works as expected. I did not give title frontmatter to docs and it was confused me a little!

[2022-02-14 05:03] #6200 closed

[2022-02-14 14:56] walxin commented on #3622
I'm sorry, if wrong place to ask, but:

https://www.netlifycms.org/docs/backends-overview/#backend-configuration
From my understanding of this doc, the case described in [original post](https://github.com/netlify/netlify-cms/issues/3622#issue-602152997) should be configured as

[code]

Is this right or am I misreading the doc?
Thanks. :-)

[2022-02-14 16:38] PatelN123 opened #6215 "Add dropdown does not show all label"
![image](https://user-images.githubusercontent.com/79650289/153906526-ed4c0b7b-5b9a-4f9f-b29f-086b75a5eba4.png)

As you can see, the text gets cut off.

[2022-02-15 13:37] sivaraj-v commented on #1776
Hi dev team, any update on this ? Good to hear some words from you guys

[2022-02-17 04:29] gimyboya commented on #6159
@gffweb did you solve this? if yes how?

[2022-02-17 17:21] mikestopcontinues commented on #4963
@erezrokah Please see my proposed solution. If it works for you, I'll add and update the tests.

[2022-02-18 00:22] jtrobinson1993 commented on #441
Loving the work being done by @austincondiff and others.

Surprised there doesn't seem to be more push from Netlify themselves to modernize the design. The designs look amazing. The CMS really does have a ton of potential, and an enhanced design would go a long way to realizing it.

[2022-02-21 23:44] dvejmz commented on #441
Just want to add my voice to everyone who's been asking for a mobile-friendly content admin experience from NetlifyCMS. I chose NetlifyCMS for its simplicity and flexibility. Releasing a functional mobile-friendly UI would certainly help cement NetlifyCMS as one of the leading headless CMS solutions available.

[2022-02-22 13:27] andreasbalevik commented on #1759
Not a solution, but maybe a workaround for other people with huuuge collections.

I use the List widget, and all Boolean settings, Meta etc is defined in different Lists.
The List can be set to `collapsed=true`, which helps when navigtaing all the fields.

![Skjermbilde 2022-02-22 kl  14 13 47](https://user-images.githubusercontent.com/16241840/155140172-21f4cc73-d3c4-421b-aa3b-7448969ab6b1.png)

[2022-02-22 14:46] astrawnuts commented on #531
would love to see support for this

[2022-02-22 19:22] mrzacsmith opened #6235 "Error: Invariant failed"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

**Applicable Versions:**
 - Netlify CMS version: `netlify-cms@2.10.186`
 - Git provider: `git-gateway`
 - Browser version: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36`

**CMS configuration**
[code]